[2017-06-21 13:48] 55 commented on #2663
@bajiat 've just added to https://staging.apinf.io with 0.46.0

[2017-06-22 03:52] saralavanip commented on #2592
Verified this resolved issue on https://staging.apinf.io v 0.46.0 and it is not reproducible.

[2017-06-22 03:53] saralavanip commented on #2493
@taija, Verified this resolved issue on https://staging.apinf.io v 0.46.0 and it is not reproducible.

[2017-06-22 03:55] saralavanip commented on #2674
Verified issues: #2493,#2592

[2017-06-22 04:29] saralavanip commented on #2531
@55 , @bajiat , verified this resolved issue on staging v 0.46.0 and it is not reproducible.

[2017-06-22 05:57] saralavanip opened #2680 "Organization view: Edit or delete previously added media posts not working"
Prerequisite: Related media posts exist already in Organization view
# Steps
1.Visit https://staging.apinf.io  v 0.46.0
2.Login as admin
3.Go to organization
4.Edit (eg: Title)  or delete previously added related media

# Findings
- Edit or delete previously added posts not working.
- Edit or delete currently added posts works as expected.

# Screenshots
![edit_delete_existing_related_media_not_wo

[2017-06-22 07:55] 55 commented on #2639
## First to check
### Tools we are using
  - available
  - need to be chosen
### Naming, folders' structure
  - name convention
  - folders' structure
  - we need to choose a convention and stick to it
### Documentation
  - structure
  - how to use
## Style guide
  - UI inventory audit
  - existing and possible future elements (or just generic) with own APInf identity
  - module (component) based

[2017-06-22 09:11] brylie commented on #2636
Good point. Stephen Few designed a chart, called a Bullet Chart, that might be useful to show this information in a compact form. An example of the Bullet Chart can be seen on the cover of Information Dashboard Design:

![infodash_design](https://user-images.githubusercontent.com/17307/27426268-be792ac4-5743-11e7-85e6-ee70ae217174.jpg)

NVD3 provides a [bullet chart that we can use](http://nvd3.or

[2017-06-22 09:16] saralavanip opened #2681 "Users view: users count shown in footer"
# Steps
1.Visit https://staging.apinf.io v 0.46.0
2.Login as admin
3.Navigate to 'Users' view

# Findings
Users count shown in footer

# Screenshot
![users_pagination_text_infooter](https://user-images.githubusercontent.com/13309358/27426407-4f83551c-5744-11e7-88d5-1a1c97719b6c.PNG)

[2017-06-22 09:31] saralavanip commented on #2641
@55 , @bajiat , verified this resolved issue on staging v 0.46.0 and it is not reproducible.

[2017-06-22 09:46] brylie commented on #2636
Here is a Bullet Chart mockup for *response time* data:

![screenshot_20170622_124547](https://user-images.githubusercontent.com/17307/27427748-c7b0b6a2-5748-11e7-9175-600344236abc.png)

[2017-06-22 09:54] brylie commented on #2636
We might even be able to encode qualitative information using color, such as the whether the current value is:

- poor
- medium
- good

![screenshot_20170622_125309](https://user-images.githubusercontent.com/17307/27428120-c2f2dd88-5749-11e7-87a6-18b86f059402.png)

[2017-06-22 10:21] Nazarah opened #2682 "Misplaced Filter menu in Organization Profile"
# Steps to reproduce
- Go to an organization profile with connected APIs
- Pin an API from the list as featured API
- Click on Filter button

# Result
- Filter dropmenu/dialog opens above the correct position
![misplacedfiltering](https://user-images.githubusercontent.com/17976243/27431078-d15d7680-5753-11e7-9655-4e3bf0bfb235.gif)

# Environment
- Windows 8
- Chrome
- Nightly, Staging

[2017-06-22 10:50] saralavanip commented on #2628
@bajiat  , @55 , Verified this resolved issue on https://staging.apinf.io v 0.46.0 and it is not reproducible.

[2017-06-22 11:10] Nazarah opened #2683 "Misplaced pagination buttons in Users page"
# Steps to reproduce
1.Visit https://staging.apinf.io v 0.46.0
2.Login as admin
3.Navigate to 'Users' view

# Issue
- The pagination buttons in Users page are appearing over the footer.
- There is no gap between user rows and footer with pagination button placements.
- The footer also hides the text showing number of users: "Showing 1 - 25 of 130 users"

![image](https://user-images.githubusercont

[2017-06-22 11:12] brylie commented on #2636
Here is a slightly wider view of how we *might* be able to integrate the large number displays, trend arrow/percentages, and bullet chart closely together:

![screenshot_20170622_141107](https://user-images.githubusercontent.com/17307/27431321-d15b9f26-5754-11e7-859e-f67f67ec145d.png)

[2017-06-22 11:30] Nazarah opened #2684 "Horizontal scrollbar appears in Users page"
# Steps to Reproduce
1. login to nightly.apinf.io as admin
2. click on Users menu on Navbar

# Results
List shows Horizontal scroll bar even though there is no additional information outside the view window.

![image](https://user-images.githubusercontent.com/17976243/27432043-475c8648-5757-11e7-955f-7a148c9e80d9.png)

# Environment
- nightly
- Chrome
- Windows 8

[2017-06-22 13:22] ashakunt opened #2685 "Checklist for running meteor and tests from jenkins"
We should be able to do the following from within the Jenkins job:

* [ ] Setup umbrella instance for running the tests (this instance should be flushed or `seeded with test data` every time test is being run OR to be discussed)
* [ ] Able to run the project using meteor and then, proceed to next step for running the Gate 1 tests

For running tests

* [ ] Configure robot
* [ ] Setup a slave that r

[2017-06-22 13:24] ashakunt commented on #2685
For slave setup, it should be done using Java Web Start.

[2017-06-22 14:11] ashakunt commented on #2685
@shaliko are the deployments to production and nightly servers done using mupx? If yes, can you please write down the steps?

[2017-06-22 14:20] shaliko commented on #2685
@ashakunt No, we use docker image for deploy. Ping me if you need details.

[2017-06-22 14:32] ashakunt commented on #2685
@shaliko : yes please; add the information related to that here (or if it is already documented somewhere, please provide a link)

[2017-06-22 14:34] saralavanip opened #2686 "Organizations view: 'Sort by' dropdown menu misplaced in Edge browser"
# Steps
1.Visit https://staging.apinf.io v 0.46.0
2.Login as admin
3.Go to 'Organizations' view

# Findings
'Sort by' dropdown menu misplaced in Edge browser

# Operating system
Windows 10

# Browser
Microsoft Edge v 25.10586.672.0

# Screenshot
![sortby_menu_misplaced_edge_browser](https://user-images.githubusercontent.com/13309358/27439468-add68be4-5770-11e7-9edb-663904b123e0.PNG)

[2017-06-22 14:50] shaliko commented on #2685
@ashakunt we use docker-compose setup on nightly, you can find it here https://github.com/apinf/platform/blob/develop/docker-compose.yml and instructions here https://github.com/apinf/platform/blob/develop/INSTALL.md#with-docker-compose

Probably you need drop Let's encrypt part for Jenkins tasks, ping me if need assistance.

Additional to docker-compose setup on nightly each night executing this

[2017-06-22 14:56] ashakunt commented on #2685
@phanimahesh : https://stackoverflow.com/questions/23141373/run-meteor-as-a-daemon-process is interesting. Especially since our jenkins build steps would be something like:

[code]

Or do you have any better ideas?

[2017-06-22 15:06] shaliko commented on #2685
In the script above missed installation of api-umbrella. I think that you know, just notice.

1) > Or do you have any better ideas?

@ashakunt Can you please share the target of this task?

2) Why we use Jenkins if already have integration with Travis-ci?

[2017-06-22 16:46] #2653 closed

[2017-06-22 17:32] mauriciovieira commented on #2201
@brylie @bajiat  Wasn't this issue closed by https://github.com/apinf/docs/commit/a7aba8cb6f0efcdecd9ed05f61e732bb7cbe9e4f ?

[2017-06-22 18:06] phanimahesh commented on #2685
For deployment, meteor projects should be built properly into a plain node project, and meteor family of commands should never be used. Our docker image [seems to be doing it right.][Ref] ([Our Dockerfile][1] builds on that repo)

Testing environment should match production environment except for external interfaces like mail server (replaced by stubs or dummies) and data storage (separate db, see

[2017-06-23 01:14] mauriciovieira opened #2687 "Make sure development environment is using node v4"
@apinf/developers, according to [meteor guide](https://guide.meteor.com/1.4-migration.html), meteor 1.4 uses node.js version 4.

As a side note, it's also worth to [notice](https://blog.meteor.com/announcing-meteor-1-4-4-11027f33e3bf) that Meteor 1.6's goal is to use node.js v6:

Currently, there's an [nvmrc](https://github.com/apinf/platform/pull/2654/commits/5342eae8e22cf6f428c6d50e83a64e56b1fcf

[2017-06-23 01:14] mauriciovieira commented on #2687
@brylie, @phanimahesh, @apinf/developers, what do you think?

[2017-06-26 08:30] saralavanip opened #2688 "Homepage: Partially translated in Suomi view"
# Steps
1.Visit https://staging.apinf.io  v 0.46.0
2.Change language to 'Suomi'

# Findings
Homepage partially translated in Suomi view

# Screenshot
![homepage_suomi_view_partially_translated](https://user-images.githubusercontent.com/13309358/27530752-a5e9d8e2-5a62-11e7-844f-dcb5663cf9cc.PNG)

[2017-06-26 08:41] shaliko commented on #2685
@phanimahesh you can run docker Apinf image+MongoDB and execute robot scripts on it, that will be exactly as on production except for SSL (but that is OK).

1) I really like @mauriciovieira approach for use chimp https://github.com/apinf/platform/pull/2654. Looks like Jenkins setup will do the same, but with python robot - or I missed something? For developers will be easy use JS library for add/u

[2017-06-26 09:10] saralavanip opened #2689 "Organization view: Add related media redirects to homepage momentarily"
# Steps
1.Visit https://staging.apinf.io v 0.46.0
2.Login as admin
3.Go to 'Organizations'
4.Add organization
5.Go to above added organization
6.Add related media :
  - Enter 'Title'
  - Enter 'URL'
7.Click on 'Add related content'

# Findings
Adding related content in organization view redirects to homepage momentarily

# Operating system
Windows 10

# Browser
Google Chrome  Version 58.0.3029.110

[2017-06-26 10:25] 55 commented on #2689
@saralavanip what browser were you using?

[2017-06-26 10:43] bajiat commented on #2558
Fixed in release 0.46.0 Closing the issue.

[2017-06-26 10:44] #2558 closed

[2017-06-26 11:45] bajiat commented on #2688
This is content created by an user and there is no method for having two versions of user created data.

[2017-06-26 11:45] bajiat commented on #2688
Closing as 'wontfix'

[2017-06-26 11:45] #2688 closed

[2017-06-26 11:48] bajiat commented on #2484
Closing as resolved

[2017-06-26 11:48] #2484 closed

[2017-06-26 11:54] bajiat commented on #2209
The following are fixed
- API 'Details' view: (1)
- Add Media dialog (2)
- Add Backlog Item view (7)
- Organization 'Settings' view (5)
- API 'Settings' view(6)

As explained above, Users view (3) and Update Roles dialog (4) are from a 3rd party library.

[2017-06-26 11:55] bajiat commented on #838
Closing as not relevant any more.

[2017-06-26 11:55] #838 closed

[2017-06-26 11:59] bajiat commented on #2609
The texts displayed in the screenshot are two different texts: one is for featured APIs, one is just APIs connected to the organization. The one above was not translated yet, the one below was already translated.

Closing as resolved: both UI texts are available in Finnish in the 0.46.0 release.

[2017-06-26 12:00] bajiat commented on #2609
<img width="744" alt="organization apis" src="https://user-images.githubusercontent.com/11626388/27538354-31de778c-5a80-11e7-8437-d17799d8dd00.png">

[2017-06-26 12:00] #2609 closed

[2017-06-26 12:14] saralavanip commented on #2689
@55 , Browser: Chrome Version 58.0.3029.110 (64-bit)

[2017-06-27 05:13] phanimahesh commented on #2687
Let us require everyone to use nvm. Having .nvmrc in the repo ensures that the correct version will be used by all contributors if they use nvm.

[2017-06-27 05:18] phanimahesh commented on #2685
1. robot was just a suggestion, I presume. If we have chimp based tests, we'll use the same on jenkins.
2. At this point we are not doing anything that travis can't do, but our own jenkins installation opens up new possibilities. We can trust our own machine more than travis.

[2017-06-27 06:00] ashakunt commented on #2685
One more reason to use robot at this point of time is that we are using it to write the test cases for features which were already implemented and developer will not have time to write the test cases for them. Having the test-developer learn chimp first and then write, will just take time in getting tests up and running.

I agree and share the same thoghts as @phanimahesh w.r.t. Jenkins. The idea

[2017-06-27 07:16] brylie commented on #2687
As much as possible, our configuration and tooling should be transparent to the developers. I would be hesitant to require developers to use nvm, or other specific tools like yarn, unless there is clear and present need from the developer standpoint.

Meteor has taken care of a lot of things for us, such as handling node versions configuring building/bundling, based on the principle of **developer

[2017-06-27 07:38] brylie opened #2690 "Enable CLA for this project"
In order to hold the Copyright to all contributions to this codebase, APInf needs developers to sign a Contributor License Agreement (CLA).

# Goal
Require contributors to sign a CLA before accepting contributions to this project. The CLA process should be as simple as possible (read: low friction).

# Resources
[CLAHub](https://www.clahub.com/) offers an automated CLA checking service for Github

[2017-06-27 08:09] shaliko commented on #2685
@phanimahesh

1) Good.
2) So that something for the future. No new value right now.

@ashakunt

"developer will not have time to write the test cases for them"

In my team, we will not accept any pull request without tests. Especially that critical to bug fixes, each bug fix should be with tests in pull requests.

Will be good apply the same rule to Apinf developer team ;)

[2017-06-27 08:11] saralavanip commented on #2209
@bajiat , verified on staging v 0.46.0 and it is not reproducible.

[2017-06-27 08:11] #2209 closed

[2017-06-27 08:33] Nazarah opened #2691 "Quick start instructions for reporting issues"
# User Story
Along side APInfs' [guideline for contributing](https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md) to the repository, we should have a default template to help people outside APInf to have a quick start in reporting issues or feature request. Users can always have the time to read through the contribution guideline. However, on specifying a a bug-like behavior, people mig

[2017-06-27 09:46] marla-singer commented on #2661
@bajiat Can you please provide updated Finish translate for above text? I'd like to update both Finish and English text

[2017-06-27 09:48] bajiat commented on #2691
Where do these projects keep the template?

[2017-06-27 09:59] Nazarah commented on #2691
@bajiat Here is the [instruction](https://help.github.com/articles/creating-an-issue-template-for-your-repository/#adding-an-issue-template) of creating and storing an issue template

In the list of files on the Main page of an repository, a markdown file (e.g. named as issue_template) needs to be created.
In the body of the file, the instructions for adding an issue in the repository can be added

[2017-06-27 10:25] brylie commented on #2691
Thanks for suggesting this. What details would be useful for our issue template to contain? What types of issues do we anticipate people opening?

[2017-06-27 10:25] Nazarah commented on #2681
@saralavanip This is reproducible in nightly as well. There is an existing issue reported already.
https://github.com/apinf/platform/issues/2683

[2017-06-27 10:35] Nazarah commented on #2691
Possible issues can be one of the followings:
1. **Feature request** - Something a user feels should be included in APInf. This may require giving use cases defending the purpose of the feature request
2.  Bug - Here are two user flows.
      a. User may genuinely find a behavior that is breaking the UI or functionality of APInf.
      b. User may find the flow of action of an APInf feature as a b

[2017-06-27 10:37] Nazarah commented on #2691
For requesting a feature @bajiat and I can come with an instruction

For reporting a bug, the user should give the following information

1. Reproduction steps
2. Results
3. Screenshots of UI/log files (preferably in GIF or PNG)
4. Expected Behavior (from user's POV)
5. Environment information - OS, Browser, APInf instance (nightly, staging or production)

[2017-06-27 10:38] brylie commented on #2691
Another common type of issue might be **support request**, e.g. where the user is having a bit of trouble that might not imply a bug or feature. I have opened a lot of support requests in various projects, and am grateful when I get a helpful response.

What details would our template include for each of the issue types?

- feature
- bug
- support

[2017-06-27 10:43] Nazarah commented on #2691
@brylie I'll write down instruction drafts for each of the above issue types. I'll proofread the draft for bugs and features with @bajiat and the support request with you. Assigning the task to myself.

[2017-06-27 10:44] bajiat commented on #2661
I will translate **any missing or updated texts** during the next translation round from EN to FI and then import the texts to Github from the localisation tool. So it is ok to just update the English.

[2017-06-27 10:48] brylie commented on #2691
Cool beans.

The end goal is basically to have a single issue template, since Github only allows one.

It would be nice if we could use a template for each issue type, to make it as easy as possible for the person submitting the issue.

[2017-06-27 11:18] wuder4 opened #2693 "apinf API page "rest/v1/swagger.json" has no login info"
when you call this API with postman first page you end up is https://nightly.apinf.io/rest/v1/swagger.json.
This page has no login info (eg how to login, what address to use...)
![apinf api](https://user-images.githubusercontent.com/28555452/27585229-023fcdc2-5b44-11e7-887c-657ac6b0ed31.png)

You need login info to modify and create new APIs to the site.

Correct address is: https://nightly.apinf.

[2017-06-27 11:28] Nazarah commented on #2678
@matleppa do u need my copiloting in this one?

[2017-06-27 12:58] mauriciovieira commented on #2685
related #2621

[2017-06-28 06:18] bajiat opened #2696 "Swagger Try out disabled if no OPTIONS support in API"
Quote from @phanimahesh:

Swagger UI version 3.0 requires the OPTIONS support in the API for the Swagger Try out to work.

# Solution proposal:
- Check the API for Options support, when the Swagger / OpenAPI file is added.
- If Options is not supported, disable Try out, regardless of whether it was selected in the Manage form.
- Add a new UI text to the Manage window, something like "Try out will

[2017-06-28 07:39] brylie commented on #2696
Possibly related to #2604

[2017-06-28 07:54] kyyberi commented on #2696
This smells like a blog post worth writing after we have the fix. Our clients apparently needs to be educated about this. Blog post should clearly state out why we require OPTIONS support and reason is not (only) that Swagger UI requires it.

[2017-06-28 12:02] saralavanip opened #2698 "Try Out response shows 'Failed to fetch' error"
# Steps
1.Visit https://staging.apinf.io  v 0.46.0
2.Login
3.Add API
4.Connect API to proxy
5.Go to Documentation
6.Click on 'Manage'
7.Upload swagger file (eg. Uber API /Petstore API : http://editor.swagger.io/ )
8.Select Try out methods (eg, GET/POST ) and save
9.Go to Documentation view
10.Click on 'Try out'

# Findings
- Try out response shows 'Failed to fetch error' for HTTPS request
- Also c

[2017-06-28 13:43] #1986 closed

[2017-06-29 07:58] matleppa commented on #2675
@dasha presented a solution to get rid of duplicate definitions for parameters used in Users path.
When extra duplicate definitions were not needed, the $ref operator became usable, thus solving this problem.

[2017-06-29 08:59] #2661 closed

[2017-06-29 09:57] marla-singer commented on #2675
@matleppa I don't agree with you. I found that you have a lot of unused parameters with type "in: body". I'm not sure that we can close this issue in current PR
![joxi_screenshot_1498730133034](https://user-images.githubusercontent.com/20643403/27682237-89368f6e-5cca-11e7-9198-c66fe31f330f.png)

[2017-06-29 10:44] marla-singer opened #2699 "REST API: update swagger.json file"
1. Now Swagger file which describes working on REST API contains a lot of redundant parameters.
**Clean up and leave only needed parameters with type "in: body".**
![joxi_screenshot_1498730292474 1](https://user-images.githubusercontent.com/20643403/27683671-7f6eceba-5ccf-11e7-8efa-0683073544c7.png)

Reference: #2675
2. Parameters "X-User-Id" and "X-Auth-Token" is needless. The headers are used fo

[2017-06-29 10:45] marla-singer commented on #2699
cc: @matleppa

[2017-06-29 10:45] #2645 closed

[2017-06-29 10:45] #2648 closed

[2017-06-29 10:45] #2678 closed

[2017-06-29 10:45] #2693 closed

[2017-06-29 11:05] matleppa opened #2700 "UI, Branding: wrong text color in input fields"
### Wrong input text color
When values in Branding page for following input fields
- Site title
- Site slogan

 are inputted, the color of *input text* is the same as color defined as Primary text.

E.g. In case the Primary text color is set to white, the inputted characters can not be seen.
#### What is expected
Color must be the default color for input fields.

#### Probable cause
Same html elem

[2017-06-29 12:10] #2700 closed

[2017-06-29 13:35] matleppa opened #2704 "REST API: password in login is not encrypted"
When user is logging in with REST API, the password is given as text and encryption is done at the server end.
This is a possible security risk.

[2017-06-30 07:55] bajiat commented on #2663
The missing link is the adding to apinf.io when release 0.46.0  available

[2017-06-30 07:57] bajiat commented on #2633
@saralavanip Please verify this bug report on release 0.46.0 on staging

[2017-07-01 17:33] mauriciovieira commented on #2687
@brylie so you think we should just close this ticket?

[2017-07-03 05:12] saralavanip commented on #2544
@bajiat , @brylie , Verified on staging v 0.46.0 and it is reproducible.

[2017-07-03 05:31] saralavanip commented on #2633
@bajiat , verified on staging v 0.46.0 and it is not reproducible. Hence closing this issue.

[2017-07-03 05:31] #2633 closed

[2017-07-03 08:16] marla-singer commented on #2544
@bajiat @brylie I tested it on staging as well and it is not reproducible :confused:

[2017-07-03 08:59] brylie commented on #2544
@saralavanip could you please try clearing your browser cache? Also, what browser(s) have you used to reproduce this issue?

[2017-07-03 09:00] brylie commented on #2687
Well, lets leave it open, so we can continue to season the idea. I see the benefit from the devops viewpoint, and just want to make sure changes to the developer workflow (particularly new developers) are warranted.

[2017-07-03 10:07] saralavanip commented on #2544
@brylie , verified clearing browser cache and it is not reproducible.Thanks!

[2017-07-03 10:07] #2544 closed

[2017-07-03 10:25] matleppa opened #2708 "Manual testing for release 0.47.0"
Test the 0.47.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] Functionality related to REST API Users route
  * [x] Swagger: REST

[2017-07-03 10:41] ashakunt commented on #2685
@shaliko : joining a bit late here but about:

I only meant this for the features that have already been developed. For anything new, nothing gets inside without a test case.

[2017-07-03 11:37] marla-singer opened #2709 "API Manager can't set the Try-out methods when Swagger file is uploaded as remote link"
### Steps for reproduce:
1. Navigate to managed API
2. Open Documentation tab -> Click on Manage button
3. Specify URL to Swagger file
![joxi_screenshot_1499081573534](https://user-images.githubusercontent.com/20643403/27791191-8897a590-5ffc-11e7-91a5-f4bd0eeaf8ab.png)

4. Go to Swagger UI and look at endoints

### Expected
- Swagger UI has Try out buttons

### Founded
- A user can't call any requ

[2017-07-03 11:58] marla-singer commented on #2687
@mauriciovieira @brylie I think this issue doesn't make sence because *Meteor has its own version of node when it's run*.
For example,
![2017-07-03 14 24 28](https://user-images.githubusercontent.com/20643403/27791913-f7db22da-5fff-11e7-8a4b-236a92bdefbb.png)
https://stackoverflow.com/questions/43876438/meteor-node-js-latest-version

[2017-07-03 12:14] ashakunt opened #2710 "[tests] define gate_2 tests"

[2017-07-03 12:15] ashakunt commented on #2671
This should use the test seeding. @phanimahesh can you help in that?

[2017-07-03 16:14] phanimahesh commented on #2687
But unless we install yarn inside meteor's environment, using `meteor npm
install -g yarn`, and use it as `meteor yarn`, we will use external node.
Making sure both match is a good thing. Same goes for any other tools
beside yarn we end up using.

On Mon 3 Jul, 2017, 17:28 Daria Voytova, <notifications@github.com> wrote:

[2017-07-04 10:10] marla-singer commented on #2604
Interesting

[2017-07-04 11:57] marla-singer commented on #2627
@saralavanip It isn't bug. There are two different parts with APIs and featured APIs.
Features APIs blog is appeared or disappeared using Pin
![joxi_screenshot_1499169254195 1](https://user-images.githubusercontent.com/20643403/27829164-d11125fe-60c8-11e7-92fc-6b43cb24afc3.png)
![joxi_screenshot_1499169254195](https://user-images.githubusercontent.com/20643403/27829170-d3870f4c-60c8-11e7-91df-c6c4

[2017-07-04 12:41] wuder4 commented on #2672
Solved this problem by  clicking the icon next to the text.

![apitab](https://user-images.githubusercontent.com/28555452/27830330-9c9a1014-60ce-11e7-948b-fe1b16e3a767.png)

You can use it almost like id. just replace id=asd with css=i.fa.fa-file-text
And it should work

you need to add i. in front of the locator and replace spaces with dots

[2017-07-04 12:45] #2672 closed

[2017-07-04 14:19] #1922 closed

[2017-07-04 14:22] #2200 closed

[2017-07-04 14:24] marla-singer commented on #2289
@saralavanip Can you please test this issue as well?

It isn't reproduced on my side. I think this problem is resolved but developers didn't close it

[2017-07-05 00:28] mauriciovieira commented on #2159
The branding can be decoupled if the videos are recorded carefully. I saw this before.

[2017-07-05 07:24] xylix opened #2714 "Allow cataloging of API's which have no URL"
# User Story

**Notes from @xylix**

Could we allow the creation of API's which have their Lifecycle status set to "Design" without adding an API URL right away?
It could also be behind its own button, "design an API" or something.

[2017-07-05 07:26] marla-singer commented on #2714
@xylix You can always change the URL. I think you as a user can add some "placeholder" for that and change it when your API will be ready

[2017-07-05 07:40] xylix opened #2715 "Update outdated APInf Document and associated links"
# Issue

The [Apinf docs](http://apinf.org/docs/) say "Apinf is an open source API proxy solution built on top of API Umbrella."
The Apinf platform is an API catalog too, right? Shouldn't this be mentioned? Also the link in the docs to the "project README" links here https://github.com/apinf/api-umbrella-dashboard which is not the correct readme for the Apinf platform.

[2017-07-05 08:09] marla-singer commented on #2148
@bajiat @Nazarah After improving performance of APIs catalog this issue isn't reproduced even in production site where a lot of API items in catalog

[2017-07-05 08:16] saralavanip commented on #2289
@marla-singer , Verified this resolved issue on staging v 0.46.0 and it is not reproducible.We can close this issue.

[2017-07-05 08:17] marla-singer commented on #2289
Closed this issue as resolved

[2017-07-05 08:25] Nazarah commented on #2148
Closing the issue.

[2017-07-05 08:25] #2148 closed

[2017-07-05 08:44] marla-singer commented on #2589
Yeah, I agree, this feature is useful and easy for developing.

@Nazarah I prepared couple screen how it can look. Can you please leave your feedback?

1. Display e-mail in input field which has attribute "readonly" and has the light gray background

![joxi_screenshot_1499244024311.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace

[2017-07-05 09:15] Nazarah commented on #2589
Good work @marla-singer
Just as a suggestion, perhaps place the email after the user name?
Also, as a future implementation, should we have a password change option there as well?

[2017-07-05 09:19] marla-singer commented on #2589
@Nazarah Yes, we can.

A password change option is available in Account section

[2017-07-05 09:20] Nazarah commented on #2589
Let's go with the 2nd version!!

[2017-07-05 12:04] #2436 closed

[2017-07-05 12:08] marla-singer commented on #2675
Close this issue as resolved by PR #2711

[2017-07-05 12:08] #2675 closed

[2017-07-05 13:26] #2665 closed

[2017-07-05 17:16] phanimahesh opened #2719 "Can not view/edit apis if added before proxies are created"
Steps to reproduce:

 - Start with a clean installation
 - Configure github auth
 - Login with github
 - Ignore warning popup about adding branding and settings
 - Add an api
 - Go to proxies from top right dropdown (under username)
 - Add a emq proxy, with dummy values
 - Try opening the api created above. It won't load.
 - New apis can be created but can not be viewed or edited

[2017-07-06 06:04] matleppa opened #2720 "REST API: Swagger Response definitions to API and Organization methods"
Definitions for responses to methods related to Api and Organization handling are missing from generated swagger document.
Generating of them needs to added.

[2017-07-06 07:22] matleppa opened #2721 "REST API: duplicate error, POST method API endpoint"
When API is created with REST API with POST method, it needs to  check, whether an API with same name already exists and return appropriate controlled response.

[2017-07-06 07:42] marla-singer commented on #2523
@bajiat It happens when a user navigate to non-exist API URL. Also it throws error in server console

[2017-07-06 08:33] matleppa opened #2723 "REST API: API endpoint, PUT and DELETE, allow methods for admin"
When API endpoint methods PUT and DELETE are used, they must be allowed for admin user also.
It is not enough to allow them only for users included in API manager list.
*Additional information to correct original poor choice of words*:
Here allowed means, that operations has to be performed also in case admin sends a request via REST API.

[2017-07-06 09:17] #2664 closed

[2017-07-06 09:42] saralavanip opened #2724 "EMQ proxy view: Input text box for 'Value' misplaced in Firefox browser"
# Steps
1.Visit https://staging.apinf.io v 0.47.0
2.Login
3.Add API
4.Go to 'Proxy' view

# Findings
Input text box for 'Value' is misplaced

# Operating System
Ubuntu 16.04 LTS

# Browser
Mozilla Firefox 50.0

[2017-07-06 09:43] #2523 closed

[2017-07-06 10:00] phanimahesh commented on #2719
Stacktraces from console:
[code]

[2017-07-06 10:22] phanimahesh opened #2725 "When adding apiumbrella proxy url field behaviour is confusing"
Valid values:
 - http://localhost.dev/
 - http://1.2.3.4/

Invalid values:
 - http://localhost/
 - http://127.0.0.1/

Why does it behave this way?

[2017-07-06 10:59] #2719 closed

[2017-07-06 11:00] saralavanip opened #2727 "EMQ Proxy view: Repeat adding same user shows 'Internal server error'"
# Steps
1.Visit https://staging.apinf.io v 0.47.0
2.Login
3.Add API
4.Go to 'Proxy' view
5.Select 'emq' proxy from drop down menu
6.Enter 'Access Control Rules'
7.Click on 'Save&Publish'
8.Add user (eg. testuser1)
9.Repeat the above step adding the same user as above

# Findings
Repeat adding the same user displays 'Internal server error [500]'

# Operating system
Ubuntu 16.04 LTS

# Browser
-  Fi

[2017-07-06 11:09] saralavanip commented on #2674
Completed task ,hence closing issue

[2017-07-06 11:11] saralavanip commented on #2708
Reported issues: #2724, #2727

[2017-07-06 13:37] marla-singer commented on #2723
@matleppa As I see, DELETE and PUT methods allow both roles delete or edit API.

PUT method: https://github.com/apinf/platform/blob/develop/apis/server/api.js#L191-L194
DELETE method: https://github.com/apinf/platform/blob/develop/apis/server/api.js#L269-L272

[2017-07-06 13:48] matleppa commented on #2723
Yes, admin role is allowed. However, in program code there are checkings that if API exists AND user id is in manager list, the operation will be performed. I think that a third condition is needed: if (user id is in manager list OR user is admin).

From: "Daria Voytova" <notifications@github.com>
To: "apinf/platform" <platform@noreply.github.com>
Cc: "Matti Leppänen" <matti.leppanen@apinf.io>, "M

[2017-07-06 14:11] #2289 closed

[2017-07-06 15:03] marla-singer commented on #2723
Please provide code example

[2017-07-07 06:28] #2547 closed

[2017-07-07 06:28] #2689 closed

[2017-07-07 06:53] #2589 closed

[2017-07-07 07:19] wuder4 opened #2729 "[tests] latency failing tests sometimes"
When you run all the tests about 1/10 runs some part will fail. This is caused by page not loading all elements at the same time and the test finds the keyword that it searches for in the page to determine if the page is loaded first. Or problem I only had this morning that the proxy settings take more than 10 seconds to update to the server.

![latency](https://user-images.githubusercontent.com/2

[2017-07-07 07:32] #2147 closed

[2017-07-07 07:32] #2509 closed

[2017-07-07 09:14] wuder4 commented on #2729
easy way to fix this is to run the test 2-3 times on new seed.

hard way to fix it is to add Sleep command on every page load.

[2017-07-07 10:56] matleppa commented on #2723
While completing the swagger file responses I did following test using REST API.
1) login as user A (not admin)
2) create API test-API
3) login as user B (admin)
4) try to delete test-API

Expected result
4) get response  200 "API successfully removed"

Unexpected result
4) get response 403 {
  "status": "Fail",
  "message": "You do not have permission for removing this API"
}

I got the unexpecte

[2017-07-07 11:58] matleppa opened #2730 "Merge for 0.48.0 release"

[2017-07-07 12:00] matleppa opened #2731 "0.48.0"
Bump project version to 0.48.0

[2017-07-10 01:03] mauriciovieira commented on #2642
@Nazarah I am reading about FIWARE. So this commit https://github.com/apinf/docs/commit/b946c415f36bebca8a608290c34c8cd2f50385ad was the commit?

[2017-07-10 08:31] #2699 closed

[2017-07-10 08:31] #2720 closed

[2017-07-10 09:29] Nazarah commented on #2642
@mauriciovieira you are absolutely correct!! :)

[2017-07-10 12:02] wuder4 opened #2732 "Redirect user to organization page after creating organization"
When you add API that is done in a separate page and when its done it puts you in API catalog.
OK this is fine.
But when you add organization there is a layer on top of the regular page and when organization is done you are forwarded to the organization you created.

In my opinion this is very confusing and to be honest creates a lot of unnecessary steps to automated testing.

I think we should ch

[2017-07-10 12:43] marla-singer commented on #2732
Please clear the browser cache or update develop branch. After adding API it redirects to API profile page

[2017-07-10 12:57] wuder4 commented on #2732
So that works now thanks for the advice but there is still ½ of my concerns left. It would be better to make new page to add organization just like you add APIs.

[2017-07-11 11:48] mauriciovieira opened #2733 "Document REST API authentication"
## Description

Platform has a REST API but no explicit instructions of how to use it. The first step for a REST API user is learn how to authenticate, since the endpoints can be inferred from the code.

## User story

1. As a Platform developer/user
2. I need to read instructions about Platform REST API authentication
3. So that I am able to integrate other software to Platform

## Definition of

[2017-07-13 12:38] xylix opened #2734 "Swagger-ui validates API documentations with external server"
When user enters their API page at apinf.io (e.g. https://apinf.io/apis/mau-lu)
they can expect a private API to be private.
However because of swagger-uis (the swagger rich preview functionality) default configuration,
the swagger of an API is always sent to swagger.io for validation
Also if an user has private API, they might want to not host it publicly. Currently
the only way to provide swagge

[2017-07-17 06:46] marla-singer opened #2736 "Research about caching in API-Umbrella and how implement it"
Citation from API-Umbrella site:

API Umbrella integrates a standard HTTP caching layer in front of your APIs. Accelerating your APIs and offloading work from your API servers is as easy as setting standard Cache-Control headers.

## Goals
- Determine are we using this feature now or not
- Discuss would it make sense to add it to our implementation
- Determine  how much effort adding it would requ

[2017-07-17 09:20] matleppa opened #2737 "REST API: Generate own swagger files of Apis API / Management API (organizations + Users)"
Instead of generating one swagger file containing all REST API endpoints, several swagger files needs to be generated.
- one about Apis handling API
- one about Organizations and Users handling API

[2017-07-17 10:33] Nazarah opened #2739 "Show Option to navigate to Dashboard for REST APIs or Realtime APIs"
# Description
As KPIs (Key Performance Indicators) are different in EMQ and API Umbrella (or other REST API proxies), they should appear in two different dashboard views for simplicity and understanding.
From Navbar, there should be an option to redirect to either REST APIs Dashboard or Realtime API dashboards.

# User Story

# Definition of Done
- [ ] On Navbar, Dashboard link has a dropmenu
- [

[2017-07-17 10:42] Nazarah opened #2740 "Show Statistics of APIs owned by an user"
# Description
User sees a list of APIs s/he owns or manages (in an organization) on navigating to Dashboard view.
Information in the table appears based on the type of APIs (REST or realtime).

# User Story

# Definition of Done
- [ ] APIs are grouped as My APIs, My Managed APIs (and/or) Other APIs (for site admin)
- [x] Row information REST API Dashboard:   API Name, Number of Calls, Average Resp

[2017-07-17 10:46] Nazarah opened #2741 "Pagination or Lazy loading in Dashboard view"
# Description
pagination (or lazy loading) should be used when user has large number of APIs to view.
The grouping of **My APIs**, **My Managed APIs** and **Other APIs** should be considered while implementation

# User Story

# Definition of Done
TBD

# Wireframe
**pagination**
![dashboard1_pagination](https://user-images.githubusercontent.com/17976243/28572779-132cb884-7151-11e7-90f4-6bcb4476dec

[2017-07-17 10:57] Nazarah opened #2742 "Show detailed overview information for each REST API listed in Dashboard"
# Description
API owner should be able to see KPIs in large fonts, their percentage trend and small trend graphs before s/he decides to know more details about a particular API

# User Story

# Definition of Done
- [x] Show API name ( in bigger fonts), Proxy used, number of 2XX calls.
- [x] Show **Number of API Calls**, **Average Response Time** and **Unique Users** in bigger and bold fonts.
- [ ]

[2017-07-17 10:59] Nazarah commented on #2742
** Percentage value for each KPI **
1. For each of the metrics shown, percentile value with up/down arrow should appear
2. the percentile value would indicate increase or decrease in the value of metric in comparison to last 7 days
3. API calls: show green up arrow with increased value, red down arrow otherwise
4. Average response time: show red up arrow with increased value, green down arrow othe

[2017-07-17 11:00] Nazarah commented on #2742
**More information on tooltip**
1. On hovering mouse (mobile view tapping the metric number): tooltip should show how the metric value has increased or decreased in comparison with last 7 days
2. **Open question:** API calls: should also show number of failed calls (sum of HTTP status 4XX and 5XX calls)

[2017-07-17 11:48] Nazarah opened #2743 "Show status of an endpoint in an API"
# Description
API owner should be able to determine if her/his API endpoint is down from a glance.
If there is multiple endpoints of an API, user should have the option to select one endpoint to monitor.

# User story

# Definition of Done
- [ ] both in  list and detailed view the status of the API endpoint should appear
- [ ] If an API has multiple endpoints, user would be prompted to select one

[2017-07-17 11:54] Nazarah opened #2744 "Link to see more details about an API"
# Description
API owner should be able to know more information about a particular API in a different view. S/he should be able to access it from the overview Dashboard.

# User Story

# Definition of Done
- [x] A clickable link appears in the expanded view
- [x] on clicking the view, User is redirected to a new page (including metrics, bigger charts and more information about usage and error retr

[2017-07-17 12:02] Nazarah opened #2745 "Show API information in Dashboard view for last 7 days"
# Description
API User should be able to detect that the numerics and charts shown in the dashboard view is for last 7 days.

# User Story

# Definition of Done
- [ ] Text on dashboard view: "Last 7 Days"
- [ ] Shown data should be updated automatically in every 2 minutes

# Wireframe
![image](https://user-images.githubusercontent.com/17976243/28617525-4fd2de04-7209-11e7-99a8-f5394a282870.png)

[2017-07-17 12:03] Nazarah commented on #2745
**about updating dashboard**

If user is present in the dashboard view on 28.06.2017 from 10:00, then at 10:02 it should show information from the time range: 21.06.2017 10:02 to 27.06.2017 10:02..and so on.

[2017-07-17 12:05] Nazarah opened #2746 "Date picker to render week range"
# Description

**idea1**: A date picker to select a   range of past 7 days to render the dashboard
**idea2**: select  any of the past weeks (week1, week2,…) of   the current year to render the dashboard in any cases, dashboard should indicate the date range

# User Story
TBD

# Definition of Done
TBD

# Wireframes

[2017-07-17 12:09] Nazarah opened #2747 "Set default KPI threshold values from Branding page for each Proxy"
# Description
1. When API is connected to a proxy, the threshhold values set for every metrics would determine if an API is slow or down.
2. For each metric, two threshold values should be set.
e.g. for API response time
Threshold1=on exceeding this value, API is slow
Threshold 2 = on exceeding this value, API is down.
3. This values can be set from  Proxy setting page under Settings in APInf for

[2017-07-17 12:17] Nazarah opened #2748 "Show indication if Threshold value exceeds for a KPI"
# Description
API owner should understand from a glance if an API is slow or down.
This is required when detailed investigation should be made for an API

# User story
"As an API owner, I want to see indications so that I can determine if my API is slow or down"

# Definition of Done
- [ ] for each KPIs, show Yellow exclamation f KPI value exceeds threshold1
- [ ] for each KPIs, show red exclamati

[2017-07-17 12:18] Nazarah commented on #2748
**for KPIs in REST API proxies**
![image](https://user-images.githubusercontent.com/17976243/28267535-2c1e2840-6b03-11e7-984f-8f84f24f5db0.png)

[2017-07-17 12:27] Nazarah opened #2749 "Show alert in API list in Dashboard view about which APIs need attention"
# Description
API lists should indicate which APIs need attention when API owner comes to dashboard view for the 1st time.

# User Story

# Definition of done
- [ ] If any metric of an API has exceeded threshold1, **Yellow exclamation** should appear beside the metric.
- [ ] If any metric of an API has exceeded threshold2, **Red exclamation** should appear beside the metric.
- [ ] If API endpoint

[2017-07-17 12:34] Nazarah opened #2750 "Show summary text about number of APIs needing attention"
# Description
When API owner comes to Dashboard, s/he should be able to know how many API needs her/his attention in a glance.

# User Story

# Definition of Done
- [ ] Show number of APIs (sum from groups **MY APIs**, **My Managed APIs** and **Other APIs** (site admin only)) that need attention in yellow alert text (bootstrap)
**Open Question:** possibility for users to discard the information on

[2017-07-17 12:37] Nazarah opened #2751 "Show "Everything is OK" message when no API has yellow/red status"
# Description
idea: 1. should user be able to customize that the message ?
2. should appear only when a specific number of APIs have no yellow/red status ?

# User Story

# Definition of Done
TBD

# Wireframe
TBD

[2017-07-17 12:46] Nazarah opened #2752 "Search box to find a specific API"
# Description
User should be able to look for a particular API in Dashboard rather than browsing the entire list.

# User Story

# Definition of Done
- [ ] User should be able to type name of an API to make it appear on Dashboard.
- [ ] On typing the search string, matching result should be automatically populated in the dashboard
- [ ] No  of returned item in search result should be displayed
- [

[2017-07-17 12:49] Nazarah opened #2753 "Show Additional Details in Dashboard in case User has only one API"
# Description
If user has only one API, it is more convenient to show the additional details (e.g. bigger charts, error list, usage list, etc.) in the same view as Dashboard.
This reduces clicks and page loading

# User Story

# Definition of Done
TBD
- [ ] In case the API is slow or down, yellow or red exclamation sign should appear beside the API name to indicate that respectively.
- [ ] on hove

[2017-07-18 07:32] matleppa opened #2755 "REST API: study if it is possible to use markdown in swagger info"
Examine, it it is possible to write proper API descriptions within the structure, where from the swagger document is generated.
* is it possible to have multi-line descriptions
* is is possible to use  markdown, to be added in generated swagger document.

[2017-07-18 08:23] Nazarah opened #2756 "API Analytics View"
# Description
Dashboard would include overview information for more that one APIs a user has developed or manages.
To isolate a problematic API and to know more details about its usage, it is important that relevant information about the particular API appears in a separate view.

# User Story

# Wirefram
![dashboard3_details_alternate](https://user-images.githubusercontent.com/17976243/28866792-a

[2017-07-18 09:49] matleppa commented on #2755
### General level descriptions ###
On most upper level the description texts can be added into
_xxxx.swagger.meta.description_
part by using **backtick** operator.
Example:
[code]
In this case the markdown can be used, too.
However, there are some matters to be taken into consideration:
* formatting the program code examples with three backticks does not succeed (because the backtick is in use)

[2017-07-18 09:58] matleppa commented on #2755
### Description within methods ###

The backtick operator is accepted by Atom (linter) on this level, too, so it can be used as separator, when long description texst are added here, too.
However, the description texts are displayed as program code examples, literally character by character, which means that markdown formatting does not work.
It needs more examination...

[2017-07-18 11:51] Nazarah opened #2757 "Filtering Option in REST API Dashboard view"
# Description
User should be able to filter the dashboard view according to his preference so that s/he can always see APIs that are important at the top of the list

# User Story

# Definition of Done
- [ ] view should have a dropdown showing filtering options
- [ ] On applying a filter, "filter by..." text should appear on dashboard to indicate the filtering category
- [ ] A Clear All button sho

[2017-07-18 11:53] #2691 closed

[2017-07-18 12:01] Nazarah opened #2758 "Sorting option on Dashboard view"
# Description
It should be possible to sort the APIs based on the KPIs used in respective dashboards

# User Story

# Definition of Done
TBD
*Ideas for REST APIs*: Highest API requests, Highest Response Time, API with most users
*Ideas for Realtime APIs:* Highest API Messages, Highest Message Publish Rate, API with Most Subscribed Clients.
- [ ] Sorted list will appear as descending order

# Wiref

[2017-07-18 12:16] Nazarah opened #2759 "Dashboard Default View"
# Description
APIs need to appear in a certain way irrespective of their sorting orders or filtering category.
This would ensure problematic APIs appear on top of the list

# User Story

# Definition of Done:
- [ ] When all APIs are healthy they appear as the set sorting order.
- [ ] (with no filters applied) Down APIs (RED) should appear on top, Slow APIs (YELLOW) in the middle and healthy APIs s

[2017-07-18 13:01] Nazarah opened #2760 "Show KPIs for REST APIs in API details view"
# Description
KPIs (API Requests, Average Response Time and No of users) for a particular API should appear in the details view helping API owners to investigate usage or potential problems

# User Story

# Definition of Done
- [x] Show API requests numbers, Average Response Time and No of users information for a particular API in large fonts
- [x] Show percentile information about increase/decrea

[2017-07-18 13:13] Nazarah opened #2761 "Show a list of errors that occurred for an API"
# Description
User needs to see what errors occurred for his/her API for a specific time period. Proxy used for the API should be able to retrieve this information.

# User Story

# Definition of Done
- [ ] list should include problem name, date and time of occurrence, affected endpoints.
- **Ideas:** Type of problems -->
                       - 4XX/5XX responses of API calls made

[2017-07-18 13:25] Nazarah opened #2762 "Show information about Most Frequent API users and their usage in Details view"
# Description
User should be able to know who is using his/her APIs,  amount of the usage and what services are actually making the API calls

# User Story

# Definition of Done
- [ ] Show a table of API usage with the following information: Username (APInf?), No of calls made, URL making API calls, etc.
- [ ] The user with most calls should appear on top
- [ ] information should be shown for the

[2017-07-18 13:34] Nazarah opened #2763 "Show Average Response Time chart in detailed view"
# Description
A bigger, filterable chart should appear in the API details view to show how average response time has changed for a specific time period

# User Story

# Definition of Done
- [x] A Line chart should appear average response time of the API the last 7 days
- [ ] The median response time would be shown in the chart.
- [x] Average Response Time value should be shown over the chart in bo

[2017-07-18 23:18] mauriciovieira commented on #2481
Well, meteor is slow and doesn't work well on hard disks. It works well on SSDs. I swapped my local storage for SSD, and believe everybody else is using it. So, the case is closed.

[2017-07-18 23:18] #2481 closed

[2017-07-19 07:02] matleppa opened #2765 "Catalog main page is not displayed correctly in IE"
When main page is entered, the page layout is incorrect, when IE is used.

* footer is shown on top of page (just above header)
* contact form and summary are overlapping the API display area

Other browsers (Chrome, Firefox, Edge) display page correctly.

[2017-07-19 07:05] matleppa commented on #2765
There should be an earlier correction in this kind of problem.

[2017-07-19 08:24] xylix opened #2766 "Invalid OpenAPI field values"
For example here https://github.com/apinf/platform/blob/develop/users/collection/server/api.js#L28 the code is ` produces: 'application/json',`.

This is incorrect according to the [specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operationObject).

The code should be `produces: ['application/json']` instead.

Someone who knows where all the swagger files are

[2017-07-19 09:35] mauriciovieira opened #2767 "[FIWARE] Enable Sign on with FIWARE IDM"
# Description

On FIWARE we want to be able to login on APInf  using my FIWARE account.

# User Story

As a FIWARE user, I want to use my existing FIWARE account when logging into an  APInf instance

This EPIC is about  federated sign on, i.e.  "I need not to register again".   APInf would be similar to services that use Facebook, Google or Github authentication for sign in. User still needs e.g.

[2017-07-19 09:39] matleppa commented on #2765
The problem was corrected with PR 2619, but it wa not present in production, because the release containing the correction was not deployed.

[2017-07-19 09:39] matleppa commented on #2765
No need for correction.

[2017-07-19 09:39] #2765 closed

[2017-07-19 10:05] marla-singer opened #2768 "[FIWARE] REST-API: Add endpoint for Organizations part to manipulate managers"
Create the endpoint into Organizations part which allows to add/delete manager of current organization

[2017-07-19 10:05] mauriciovieira opened #2769 "[FIWARE] Check if CKAN organization is aligned with APInf Platform"
**Title**:

Check if CKAN organization is aligned with APInf

**Description**:

We want a seamless integration between APInf Platform and CKAN in order to have the best integration in the context of FIWARE. So, we just need to check if the concept of organization in CKAN maps with the concept in APInf Platform

**User Story**:

As a FIWARE admin, when I register an organization, it should be easel

[2017-07-19 10:08] ccsr commented on #2767
Information of FIWARE Idm can be found at http://fiware-idm.readthedocs.io/en/latest/introduction.html

[2017-07-19 10:23] mauriciovieira commented on #1852
Related #951 and #2642

[2017-07-19 10:59] mauriciovieira opened #2770 "[FIWARE] Add PEP username and PEP password"
**Title**:

[FIWARE] Add PEP username and PEP password

**Description**:

When [SSO](https://github.com/apinf/platform/issues/2767) is enabled, that means this APInf Platform instance is tied to FIWARE. So API configuration should also include PEP username and PEP password.

The logic of PEP is included in API Umbrella. So the logic of PEP proxy will be implemented by API Umbrella (TODO: find API-

[2017-07-19 11:19] xylix commented on #1998
@Nazarah The "link in Github" should probably just be "link api specification" or something like that. I think it should allow  linking from anywhere.

Otherwise looks good.

Adding user APIs to the Apinf catalog with only an Open API specification provided by them will require some parsing of the swagger file but that should be doable.

[2017-07-19 12:00] matleppa commented on #2724
Just to be on safe side:
Is it this matter?

![image](https://user-images.githubusercontent.com/23265155/28365849-d347594e-6c92-11e7-9e65-6b9a68ec14ee.png)

[2017-07-19 12:51] tulir opened #2771 "Password length limited when changing password"
**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io/settings/account
2. try to enter password over 20 characters

**Outcome**:
"New Password" and "Confirm new Password" do not allow passwords above 20 characters.

**Expected Behavior**:
Password fields should not limit the length of the password. Changing passwords should also be consistent with registration, so if there are any limits

[2017-07-20 08:53] matleppa commented on #2771
Registration accepts password up to length of 75 characters.
However, for some reason, the lengths are limited followingly with updatePasswordSchema:

 * old psw:  50 chars
* new psw:  20 chars
* confirm new psw: 20 chars

[2017-07-20 09:03] tulir commented on #2771
Yeah, I traced the source of that form yesterday and found [this](https://github.com/yogiben/meteor-starter/blob/f6c2548a7a88ea88c022721604cac86f13489c58/both/NCSchemas.coffee#L12)

[2017-07-20 09:53] marla-singer opened #2772 "[FIWARE] REST API: manipulation with Private/Public status for API"
Now we can set the label "Private" only via UI.

## Goals
- A user can set the label "private" or "public" when he/she is creating API via POST request
- A user can edit the label Private when he/she is editing an own API via PUT request

[2017-07-20 10:02] marla-singer opened #2773 "[FIWARE] REST-API: User must get the list of owned APIs"
Now a user can get the list of all APIs or with the specific APIs

### Goal
- Create endpoint to return all managed APIs for this user. It should use header "X-User-id"

[2017-07-20 13:18] mauriciovieira opened #2774 "[FIWARE] REST-API Endpoint for Branding."
**Title**:

[FIWARE] REST-API Endpoint for Branding.

**Description**:

In the context of CKAN administration, it would be a better admin user experience if CKAN branding configuration could be smoothly propagated to the associated APInf Platform instance.

**User Story**:

As a Platform admin, I need an endpoint to manage Branding programatically so that I can configure Platform Branding from oth

[2017-07-20 13:33] mauriciovieira opened #2775 "[FIWARE] REST-API Endpoint for Organization Branding"
Title:

[FIWARE] REST-API Endpoint for Organization Branding.

Description:

FIWARE admin should be able to publish organization Branding.

User Story:

As a Organization admin, I need an endpoint to manage Organization Branding programatically so that I can configure organization branding.

related: #2774

[2017-07-20 15:17] marla-singer opened #2776 "[FIWARE] REST API: Create the endpoints for Proxy Management part (API-Umbrella)"
Now REST API doesn't have any endpoints to manipulate with Proxy
### Goal
- Create a new swagger file for describing endpoints for Proxy Managment part
- Create an endpoint to create a proxy of type API-Umbrella. Make sure a user is admin

- Create an endpoint to returns the list of available proxy (id, name, and description of proxy)
### Parameters
- [ ] Proxy type: API-Umbrella, MQTT, Any

- Cre

[2017-07-20 15:19] marla-singer opened #2777 "REST API: Create the endpoints for Proxy Managment part (MQT)"
Now REST API doesn't have any endpoints to manipulate with MQT Proxy

## Goals
- Create an endpoint to create a proxy of type EMQ. Make sure a user is admin

- Create endpoints to create a proxy backend for EMQ proxy.
### Parameters
- [ ] API ID (make sure a user permission to edit this API)
- [ ] Proxy ID (make sure the proxy exists and type is emq)
.. etc

[2017-07-20 15:32] #2737 closed

[2017-07-20 15:37] kyyberi commented on #2776
My suggestion is:
- to design API with Swagger and put it in APInf Platform under APInf organisation as "design" phase API.
- get external developer feedback about it just like we did with APInf Plaftorm Catalog API. Someone also from FIWARE.
- After iterating the API based on the feedback, implement the API. "Development" phase in catalog.
- Get feedback again and finalize the API. "Testing" phas

[2017-07-21 00:43] mauriciovieira commented on #2767
More information:

- [oauth2 authentication on fiware instance](http://fiware-idm.readthedocs.io/en/latest/oauth2.html)
- [create application on fiware lab](https://account.lab.fiware.org/idm/myApplications/create/#)

[2017-07-21 07:28] matleppa commented on #2773
Should we add a new parameter into GET /apis method?

E.g.

myApis=true

If it is not given or has value 'false', it has no effect.

[2017-07-21 08:15] matleppa commented on #2772
Do we need here PATCH method to be able to update only one parameter at a time?
PUT updates whole item, so in that case all fields need to be present in request.

[2017-07-21 10:46] matleppa commented on #2772
#### methods PUT and POST ####
After examining and testing of REST API for API handling, the current implication already supports setting values for several fields in API entity with methods PUT and POST.
Also value of Private/Public label can be set.
Needs a swagger document update.

[2017-07-21 11:29] matleppa commented on #2772
However, with this flexibility via REST API it is possible to alter values af all fields, which name is known (e.g. bookmarkCount).

[2017-07-21 12:47] xylix opened #2780 "Add OpenAPI designer iframe integration"
Wireframes available [here](https://github.com/apinf/platform/issues/1998).

Example OpenAPI designer in iframe with authtoken sending support available [here](https://dev.openapi.design/iframe.html).

[2017-07-21 12:49] marla-singer commented on #2773
@matleppa Yeah, that's good. Let's create a new parameter "managed APIs" with boolean values (true or false).

Before make sure that we can leave  GET method for `/apis` without required authorization.
Can we get value from headers? Because we can use `this.userId` into `action()` part only when authorization is required.

[2017-07-21 12:52] marla-singer commented on #2772
PUT updates whole item, so in that case all fields need to be present in request.

@matleppa Swagger doesn't support PATH method. As I remember I tested PUT method and I sent just couple fields and it worked as PATCH. Please check it

[2017-07-21 12:54] marla-singer commented on #2780
@xylix Sorry, I don't need a demo of Editor work. I need an example how to display this iframe.

[2017-07-21 13:33] xylix commented on #2780
You should look at the source for an example implementation [e.g. here](view-source:https://dev.openapi.design/iframe.html)

[2017-07-21 14:05] marla-singer commented on #2780
@xylir Umh, Excuse me, but like a user of your package, I don't want to waste my time and **look at the source for an example implementation**. You must provide documentation about your package. Please do.

[2017-07-21 14:27] xylix commented on #2780
@marla-singer Okay sorry. Me and @tulir already  ended our workday so we will make you some proper documentation by monday.

[2017-07-21 17:00] tulir commented on #2780
[Here](https://github.com/apinf/openapi-designer/blob/feature/integration-docs/docs/INTEGRATION.md) are some initial docs.

[2017-07-23 15:13] kyyberi opened #2782 "Recruiting message in code"
Add recruiting message in code

**Description**:

Add simple recruit message as comment in platform page. Samples below

![2017-07-23 17 55 40](https://user-images.githubusercontent.com/1927158/28500512-346f35ec-6fd2-11e7-8b61-3d1988e4262a.jpg)

![img_20170723_175212_913](https://user-images.githubusercontent.com/1927158/28500513-3bf6de50-6fd2-11e7-87d3-ec41c4e66da5.jpg)

## Tasks

- [ ] Add apinf

[2017-07-23 15:14] kyyberi commented on #2782
There might also be another comment which encourages to contribute.

[2017-07-23 15:15] kyyberi commented on #2782
Third option is to add header "X-Recruit: apinf.com/positions" to platform APIs :)

[2017-07-24 07:58] matleppa commented on #2773
I think we can get it this way:
  const requestorIdX = this.request.headers['x-user-id'];

As an another matter, I think existing parameter ```organization``` and this new parameter ```managesAPIs``` will be excluding, i.e. only one of them can be given at a time.

[2017-07-24 09:06] #2772 closed

[2017-07-24 09:34] matleppa commented on #2768
I think here we need to rewrite the code in PUT method in order to make it work same way as in APIs API, where values of single parameters can be manipulated one by one.
In current implementation it is expected, that some value is given to each parameter, which value can be altered.
If value is not given, the parameter value in DB is set to empty.

[2017-07-24 11:26] #2731 closed

[2017-07-24 11:48] marla-singer commented on #2780
@xylix @tulir Now it looks better, thanks

[2017-07-24 11:50] marla-singer commented on #2773
Can you describe this point? Why is one of them can be given?

[2017-07-24 12:04] matleppa opened #2785 "Manual testing for release 0.48.0"
Test the 0.48.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] Swagger: REST API related functionality
* [x] Verify enhancements a

[2017-07-24 12:39] matleppa commented on #2773
I was wondering, that which which of conditions were stronger.
However, after re-thinking tha matter, the solution would be that in case both conditions were given, the response contains only those APIs, which belong to given organization AND are managed by given user.

[2017-07-24 13:35] marla-singer commented on #2780
@xylix @tulir While I'm integrating OpenAPI designer, I found the next points to improve:
1. Don't show DEBUG data in the DevTools console. I think Aurelia must have "production" setup where debug data doesn't display.
2. Clean up all `console.log` in your project. DevTools console has the next output:
[code]
3. And other warnings(errors) like
[code]

[2017-07-24 13:50] xylix commented on #2780
Yes aurelia has a production mode. The current version at openapi.design hasn't been built with it, but maybe we should do that. I'll look at this more tomorrow.

[2017-07-24 14:24] mauriciovieira commented on #2780
In my opinion, for the best (APInf Platform and other people) developer experience, this integration should be a pluggable library, not iframe.

See for instance, our current [swagger_ui integration](https://github.com/apinf/platform/tree/fcde92f819dd5138db35299e3b0ef4e35859bba5/api_docs/client/swagger_ui). We had to copy the generated swagger_ui library into our code because they don't provide a

[2017-07-24 14:30] xylix commented on #2780
@mauriciovieira I can see your point. I haven't created any meteor packages so I don't know if bundling an aurelia app into a meteor package would be a good idea (thinking about the work required and the site's performance here). @brylie Any input on this?

[2017-07-24 17:24] mauriciovieira commented on #2780
@xylix we should package at least as a npm package, so that other people can profit from our open source work.

In this case, something like

[code]

should work after openApiDesigner is published in https://www.npmjs.com/package/open-api-designer and properly installed.

I don't have aurelia experience, but can surely help.

[2017-07-25 07:25] saralavanip commented on #2785
Verified issues: #2728

[2017-07-25 08:06] matleppa opened #2786 "Mark APIs featured on global level"
Similar functionality as in issue #2311.

# Goal
* Administrators can select certain APIs to be "Featured APIs" on APInf Catalog page.
* Maximum amount of Featured APIs is 4.
* The Featured APIs
  * are displayed at the top of Catalog page as their own section.
  * are displayed on Front page instead of Latest APIs (current implementation). (This will a separate task later.)
* If the APIs are sort

[2017-07-25 08:11] matleppa commented on #2786
Requirement is based on discussion Jarkko/Matti 2017-07-25

[2017-07-25 10:12] Nazarah commented on #2786
@matleppa isn't pinned APIs in an organization doing the similar functionality as same as the proposed one here? What are the user needs to introduce a similar feature?

[2017-07-25 10:14] Nazarah commented on #2780
@kyyberi you had your concerns about integrating OpenAPI Designer in APInf as iframe. Can you please share your thoughts with us?

[2017-07-25 11:43] matleppa commented on #2786
# 2311  Introduced the possibility to mark certain APIs as featured on Organization level.
The person to set the featured mark is the Manager of the Organization.

Here the goal is to be able to mark APIs as featured on global level. The person to set the mark is Admin and the purpose is to set some exceptionally good APIs  as examples for other API managers.

These two feature pins are independen

[2017-07-25 11:56] Nazarah commented on #2786
Where the feature can be seen in the UI? Home Page? Catalog?

[2017-07-25 13:48] marla-singer commented on #2780
@xylix @tulir As the first step I display OpenAPI designer into the platform. The next step is to provide user ID and Token. It looks not a trivial task and I'd like to do it as a separate task.

By the way, if I provide the faked ID and Token and click on "OpenAPI Space" button on the editor then it displays me Log in form. So how providing user ID and Token will help you if an user needs to enti

[2017-07-25 14:01] xylix commented on #2780
@marla-singer I think splitting it into separate tasks is a good idea.

About the faked credentials, the designer is supposed to listen and put the credentials into the correct place, and then when user clicks "OpenAPI space" button they are supposed to  already be logged in. This sounds like a bug in space's code, I'll look at it tomorrow.

[2017-07-25 14:05] preriasusi opened #2788 "Take away 'No documentation link is available.' section from documentation tab"
please!

[2017-07-25 14:06] preriasusi commented on #2788
![Screenshot from 2017-07-25 17-01-20.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/550aa050e952617100a5cf13/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227e49f37c3dd7b668ee1536515e424cac53444d04bea6d37ef5f22e7a98590eefd23f0a70923d17f8bd8016ba02ba20dd4e82e0bb8f5edcfa7f74b9dfd0126754505a9bf54f37a6934acd58f642e84c50ac123e6be5647b.png)

[2017-07-25 14:37] tulir commented on #2780
If the parent window gives a correct user ID and auth token, the designer will log into space using them the first time the user tries to upload a document. A fake/invalid auth token currently just fails silently, because the user shouldn't be aware of the extra steps (they've already logged into APInf platform).

[2017-07-25 15:14] marla-singer commented on #2780
@xylix I think it happens because of Meteor. Will try to fix it

[2017-07-25 15:20] marla-singer commented on #2788
@preriasusi What do you suggest? If the remote documentation link is not provided then don't this section total?

[2017-07-25 16:12] marla-singer opened #2789 "Generate & Store Login token"
## Description

For better integration with OpenAPI Designer and/or OpenAPI Space, APInf needs to provide User ID and Login token. Right now generation and storage of Login Token don't exist.

## Goal
- Generate Login token for user after Login and store it
- Remove Login token after Logout
- Provide Login token and User ID into OpenAPI Designer (Reference #2780)

[2017-07-26 07:16] Nazarah commented on #2788
@marla-singer The idea is that, if you have already a swagger document in your API profile, it might be confusing when an end user comes and see "no documentation link is available". For an API owner, seeing this text in his API profile when s/he has provided no documentation makes sense. However, if there is a Swagger uploaded already, the text should not appear.

[2017-07-26 07:54] marla-singer commented on #2788
@Nazarah APInf platform allows developers uploading and Swagger documentation and a link to remote documentation.

For example, documentation of API-Umbrella: http://api-umbrella.readthedocs.io/en/latest/getting-started.html
This is not Swagger document but there must be displayed. So I don't aggree

[2017-07-26 07:56] Nazarah commented on #2788
So in that case perhaps rephrase the text with "You can add an external link to your API Documentation."
This removes all confusions as well as tells API owner about additional possible actions.

[2017-07-26 08:03] marla-singer commented on #2788
If a user is manager of current API then it displays text
![joxi_screenshot_1501055992217](https://user-images.githubusercontent.com/20643403/28610700-e00919c4-71f1-11e7-9511-8f225815ef7c.png)

I suggest if API manager doesn't provide link to external document then don't display this block for ordinary user but display for Admin or Manager

[2017-07-26 08:17] matleppa opened #2790 "REST API: GET /apis, parameter organization needs fixing"
Matter sot be fixed:
### Parameter name
* in swagger document parameter name is ```organization```, however in code there are prepared for parameter name ```organizationApi```.
More descriptive name were ```organizationId```
### Functionality
Without any parameter all APIs are returned in response message.
* in case parameter organizationId is given and Organization is found, only APIs related to

[2017-07-26 08:42] Nazarah commented on #2788
+1 to your idea.
In Addition, lets also remove "No Documentation is available." line from both Document block or swagger block.
This is kind of a negative message.
Besides, the 2nd line is self explanatory, as API manager comes and sees there is nothing but still s/he has the option to add something.

[2017-07-26 09:20] marla-singer opened #2791 "[PRODUCTION] Displaying of Swagger file doesn't work properly in some cases"
### Steps
1. go to page https://apinf.io/apis/openapi-space
2. navigate to Documentation tab

### Found
- Turned on spinner

- Browser console: `Exception in delivering result of invoking 'parsedDocument': TypeError: Cannot read property 'schemes' of undefined`
- Server side console: `Error: Match error: Expected string, got null`
- Server side stack: `api_docs/server/methods/swagger.js in [object

[2017-07-26 10:05] marla-singer opened #2792 "[PRODUCTION] Error when go to non-exists url"
**Steps to Reproduce**:
1. go to page with non-exists path for organization
i.e. httpsL//apinf.io/organizations/123

**Outcome**:
- Page with 404 error
- Error on a server console: TypeError: Cannot read property 'logoUrl' of undefined
- Stack: `organizations/server/methods.js in [object Object].Meteor.methods.getOrganizationProfile at line 158:28`

**Expected Behavior**:
- Page with 404 error
- N

[2017-07-26 10:35] matleppa opened #2793 "REST API: improve documentation of API management API"
More detailed descriptions are needed in swagger documentation of API management API.

Longer and more detailed descriptions can be included in swagger generation part of APIs By following guidelines described in issue 2755.

[2017-07-26 11:15] Nazarah opened #2795 "Dashboard Monitoring"
# Requirement

API owners need to determine if (some of) their APIs needs investigation and maintenance (spike in API requests, too much response time, lower users, etc). They also need to be informed if an emergency situation has occurred which need immediate attention (API end point is down).

# User Story

[2017-07-26 14:44] #2721 closed

[2017-07-26 14:44] #2723 closed

[2017-07-27 07:54] marla-singer commented on #2745
I think it is not good to this page :thinking: Maybe replace this feature to a detailed page?
cc:/ @bajiat @brylie

[2017-07-27 08:11] marla-singer commented on #2743
Another open question:
- Which status will indicate as down? 4XX or 5XX

[2017-07-27 13:21] marla-singer commented on #2740
We need to remember about neutral value. For example, when a value of unique users is the same as on the previous interval.

[2017-07-28 07:57] Nazarah commented on #2745
@marla-singer The idea is to give you a glance about what has been the trending of API calls, response time and users in last 7 days. When you click on more details, you would be able to see bigger charts along with list of errors and detailed usage information. Also the charts there would be filterable according to response type (2XX, 3XX, 4XX, 5XX) and endpoints. This is more convenient when you

[2017-07-28 07:59] Nazarah commented on #2743
@marla-singer most logical solution would be to use 5XX as Down condition. This is the problem from the server's side if I am correct.

[2017-07-28 08:00] Nazarah commented on #2740
@marla-singer yes you are correct. if the value remains same in the interval period, no need to show any up/down arrow.

[2017-07-28 08:03] marla-singer commented on #2745
It is that I wanted to hear

[2017-07-28 08:15] marla-singer commented on #2752
What about searching for a proxy_backend path or api path?

[2017-07-28 08:18] marla-singer commented on #2752
This step would be a little painful :thinking:

[2017-07-28 11:04] preriasusi opened #2798 "If Apinf has only one API, front page could adapt to that better"
https://educloudalliance.apinf.io/

ECA has only one API. Still it shows on front page "Latest APIs", and gives a button for more APIs.

In cutomer installations there may be one or two API(s) only. Still should not be confusing.

[2017-07-28 11:07] marla-singer commented on #2768
After discussion in PR #2797 with @matleppa we decided:
- close the current PR and open a new one
- create a new endpoint to work with Organization managers

**Endpoint** -- `/organization/{id}/managers`

**GET** `/organizations/{id}/managers` -- return list with managers. Provide information as e-mail, username, id of users.
**Query parameters**: username, e-mail. If parameters are filled then re

[2017-07-28 13:15] #2788 closed

[2017-07-28 14:00] marla-singer commented on #2756
@Nazarah I'd like to notice that this page must contain all data about selected API.
If API is connected to proxy and proxy_backend path is then all proxy_backend paths with start `/123/` is related to this API.

For example, API Manager connects API to proxy and sets proxy_backend path as `/music/`. It means all below paths are related to this API and Analytics View has to display statistic for t

[2017-07-31 08:07] brylie commented on #2636
@preriasusi and I have seen line charts fail to render when there is one one aggregated value. E.g. when rendering a chart with values aggregated by month and where all of the data are within the range of only one month, there will be only one aggregated value. We may need to consider a safe default, so the line chart has a high likelihood of rendering.

# Line chart with only one aggregated value

[2017-07-31 08:10] bajiat commented on #1998
@Nazarah Why does the uploaded API / documentation file appear in the Open API designer window in step 3?

[2017-07-31 09:40] #2792 closed

[2017-07-31 10:15] marla-singer commented on #2740
@Nazarah @brylie @bajiat I faced with mathematics dilemma about comparing two periods.
For example:
- 2 users visited a site yesterday and 8 users visited a site today. What color of an arrow indicating and what number of percentage? I suppose a green arrow-up and 300%
- 8 users visited a site yesterday and 2 users visited a site today. What color of an arrow indicating and what number of percenta

[2017-07-31 10:28] marla-singer commented on #2740
@Nazarah @brylie @bajiat And another dilemma about Average response time.

- 5 ms was Average response time yesterday and 20 ms - today. What color of an arrow indicating and what number of percentage? I suppose a red arrow-down and 300%
- 20 ms was Average response time yesterday and 5 ms - today. What color of an arrow indicating and what number of percentage? I suppose a green arrow-up and 75%

[2017-07-31 10:33] brylie commented on #2740
I think we should show an icon to indicate there is no change.

[2017-07-31 10:36] brylie commented on #2740
Arrows should point the same direction as the trend. If the number gets larger, the arrow points up. If the number gets smaller, the arrow points down.

[2017-07-31 10:37] brylie commented on #2740
For coloration, lets keep it simple for now and use the same saturation regardless of magnitude.

E.g.
- users
    - increase: green
    - decrease: red
- avg response time
    - decrease: green
    - increase: red

[2017-07-31 10:39] marla-singer commented on #2740
@brylie The main idea is what percentage? If there was 2 and became 8? If there was 0 and became 8?

[2017-07-31 10:39] brylie commented on #2740
It is as a percentage of the previous value. So, 8 is 400% increase from 2.

[2017-07-31 10:41] marla-singer commented on #2740
@brylie Neh, It should be 300%. Because it increases on 300%

[2017-07-31 10:42] brylie commented on #2740
Lets see.
- 100% would be 2,
- 200% would be 4,
- 300% would be 6,
- 400% would be 8.

[2017-07-31 10:42] brylie commented on #2740
The point stands that we are basing it on the previous value.

[2017-07-31 10:44] marla-singer commented on #2740
If it was 2 and became 2 then would be 100%?

[2017-07-31 10:45] brylie commented on #2740
See above.

[2017-07-31 10:47] marla-singer commented on #2740
Umh, And if it was 2 and became 8 then it would be 300%.

`(8 - 2) / 2 * 100 = 300`

[2017-07-31 10:48] brylie commented on #2740
@marla-singer please quit.

[2017-07-31 10:50] bajiat commented on #2740
So increase would always be more than 100%?

[2017-07-31 10:50] brylie commented on #2740
Increase is allways greater than 0%.

[2017-07-31 10:56] bajiat commented on #2740
I'm totally confused now, but I'm not mathematically inclined... If last week is 2 and this week is 2, should that not be no change ( = 0) and not 100%?

[2017-07-31 10:57] marla-singer commented on #2740
it would be 0 (=no change)

[2017-07-31 11:02] preriasusi commented on #2740
Also the formula do calculate the decrease correctly, not only increase. :)

[2017-07-31 11:02] brylie commented on #2740
There was some initial confusion as to the idea that we are calculating change, rather than proportion to the original. We have reached a consensus that **no change = 0%**.

[2017-07-31 11:04] brylie commented on #2740
Also remember, increasing values always get an up arrow. Decreasing values always get a down arrow.

Regarding the icon for no change, go with your instincts and the wireframes (I stand aside).

[2017-07-31 11:13] brylie commented on #2740
Also, we will have to check that both values are not zero, to avoid a division by zero error.

[2017-07-31 12:43] Nazarah commented on #2740
I think it is redundant adding icons in a small space.  When increase/decrease is shown with colored up/down arrows (context specific to KPIs), a neutral value automatically becomes unique and can be differentiated from others.

[2017-07-31 13:55] marla-singer commented on #2742
@Nazarah What does mean "24 errors in last 7 days"? Is it related to Monitoring?

[2017-07-31 14:08] marla-singer commented on #2742
@Nazarah Please provide a wireframe for mobile view

[2017-08-01 06:05] Nazarah commented on #2752
@marla-singer

Lets start with simple search by API names. If it is feasible to implement this feature and we have usecase for it, we can always implement this later on.

what about lazy loading? My main concern is that user needs to press enter, wait for the page to reload with the found result. If it is too much work, save it for later implementation.

[2017-08-01 06:08] Nazarah commented on #2798
For a quick fix, we can always remove the More APis button from that section.
Also perhaps may be change the title of that pane as Featured APIs.

[2017-08-01 06:17] Nazarah commented on #1998
@bajiat thanks for noticing this. With the integration, upload button should not be present in the Documentation tab in API profile. the correction needs to be made in the wireframe. However, I'd ask @tulir and @xylix to confirm about it.

[2017-08-01 06:34] Nazarah commented on #2742
I was thinking about errors information retrieved from the proxy to which the API is connected to. (e.g. sum of 4XX, 5XX statuses). when we have a highend monitoring functionality where we can set threshold values for (e.g. response time), we can always include them there. (e.g. API becomes slow in response time, or goes down because of the set threshold values for response time in a proxy).

Will

[2017-08-01 07:45] xylix commented on #1998
@nazarah Why shouldn't the upload button be visible?

[2017-08-01 10:43] marla-singer commented on #2742
@Nazarah If no changes should there will be "No changes" or just an empty line?

[2017-08-02 06:39] phanimahesh commented on #2782
`X-` prefix has been deprecated ([BCP 178][]), so the header should read `Apinf-Recruit` if we do end up doing it. :P

[BCP 178]: https://tools.ietf.org/html/bcp178 'BCP 178: Deprecating the "X-" Prefix and Similar Constructs in Application Protocols'

[2017-08-02 07:27] Nazarah commented on #2756
after a discussion with @marla-singer we propose that in the API Requests Timeline chart and API Response Time chart, we show the tredns based on the proxy)backend paths. The paths can be selected from the dropmenu associated with each chart.
![image](https://user-images.githubusercontent.com/17976243/28862283-2aa0abde-776d-11e7-931e-71da118873d5.png)

[2017-08-02 07:31] Nazarah commented on #1998
@xylix please clarify me in the following things:
If we upload a swagger/OpenAPI file while creating the API, in the Documentation tab, the file would be visible both in view mode and edit mode. Also in that tab, there is an option to upload a swagger file. So in such case, is it required to have the upload button in OpenAPI Designer appearing? It seems redundant to have 2 upload buttons.

[2017-08-02 07:33] Nazarah commented on #2742
@marla-singer leave it empty. There is no need to show any information or arrow when no change occurs in the KPI values.

[2017-08-02 07:52] xylix commented on #1998
@Nazarah Well, if user wants  to upload when they are in edit mode, it would be annoying to have to leave edit mode.

However, we have many buttons right now and disabling button(s) would make the UI more simpler which is good in my opinion.

I am pretty sure it's quite easy to disable button(s) when the designer is in an iframe.

[2017-08-02 08:48] marla-singer opened #2802 "Improve integration of OpenAPI designer"
In process of integration of OpenAPI Desginer into the platform @brylie raised the question about changes.

## Goals
- add 'OpenAPI Designer URL' to configuration settings page
- deprecate Swagger Editor setting

Related PR: https://github.com/apinf/platform/pull/2787

[2017-08-02 10:11] #2773 closed

[2017-08-02 10:11] #2790 closed

[2017-08-02 10:12] #2780 closed

[2017-08-02 10:19] Nazarah opened #2803 "Show No of API calls chart in detailed view"
# Description
A bigger, filterable chart should appear in the API details view to show what has been the trend in API Requests based on response types for individual endpoints.

# User Story

# Definition of Done
- [x] A Line chart should appear showing API Requests for  the last 7 days
- [x] API Requests value should be shown over the chart in bold letters.
- [x] Request trend can be shown for di

[2017-08-02 10:22] Nazarah commented on #2803
Colors for the trendlines
Requests: #959595
2XX: 468847
3XX: #04519b
4XX: #e08600
5XX: #b94848

[2017-08-02 13:16] saralavanip opened #2804 "Add API and connect to proxy shows error"
# Steps
1.Visit https://staging.apinf.io   (v 0.48.0)
2.Login
3.Click on 'Add API'
4.Fill the form with details below:
    - Enter API Name ( eg.Test-DP-Manager)
    - Enter URL (eg.https://developers.google.com/apis-explorer/#p/deploymentmanager/v2/ )
5.Click on 'Add API' button
6.Go to proxy and fill all the mandatory fields in the form:
    -  Select one proxy from drop down menu (eg. API-Umbre

[2017-08-03 06:17] saralavanip opened #2805 "Edit API name not updated in browser URL"
# Steps
1.Visit https://staging.apinf.io   (v 0.48.0)
2.Login
3.Add API  (eg: Test-API-abc)
4.Go to above added API 'Settings'
5.Edit the name of API (eg.Test-API-xyz)
6.Click on 'Save'
7.Go to above 'API' profile from catalog

# Expected Result
Successful in edit-save name of API and the updated name shown in browser URL

# Actual Result
- Successful edit-save name of API but not updated in brows

[2017-08-03 06:50] saralavanip opened #2806 "Submit proxy form without mandatory data shows unclear error message"
# Steps
1.Visit https://staging.apinf.io   (v 0.48.0)
2.Login
3.Add API
4.Go to API 'Proxy'  view
5.Select proxy (eg.Nightly Umbrella/API-Umbrella New )
6.Leave all remaining fields empty
7.Click on 'Save and Publish' button

# Expected Result
Notify regarding empty fields that are mandatory with clear messages / highlight the respective fields

# Actual Result
- Shows error message "Proxy front e

[2017-08-03 07:55] brylie opened #2807 "[FIWARE] Diagram integration 'model' with FIWARE TMF Business API Ecosystem"
Create a diagram showing a hypothetical integration between APInf and [FIWARE TMF Business API Ecosystem](https://github.com/FIWARE-TMForum/Business-API-Ecosystem).

# Resources
- [Business API Ecosystem eLearning Course](https://edu.fiware.org/course/view.php?id=150)
- [Business API Ecosystem docs](http://docs.fiwaretmfbizecosystem.apiary.io/)

# Work in progress
- [Pull request #64 in APInf docs

[2017-08-03 08:33] marla-singer commented on #2741
@Nazarah @bajiat @brylie I suggest reconsidering the question about pagination and lazy loading on the Dashboard page.

**Why do we need pagination?**

First at all is for server side. A server pagination needs if it is hard (or slow or expensive) to get all 100 items from a server at one time. In this case, there send a request to get first 20 items and after that get next 20 items and other next

[2017-08-03 08:40] brylie commented on #2741
This seems like a common pattern.

My intuition says to wait until we need it. That way we have a bit more time to get the initial iteration done, and think about how pagination would work.

[2017-08-03 09:36] #2708 closed

[2017-08-03 09:37] #2674 closed

[2017-08-03 12:59] marla-singer commented on #2760
@Nazarah I suggest keeping number and title in one line
`54 000 API Requests`
`178ms Average response time`
`80 New API users`

What do you think?

[2017-08-04 05:57] marla-singer commented on #2746
@Nazarah As an example for inspiration. The dashboard of API-Umbrella uses this date-picker
![joxi_screenshot_1501826097320](https://user-images.githubusercontent.com/20643403/28955965-bf4ffcc2-78f2-11e7-99ea-ded372df3ec7.png)

As a User, I think it is really cool date-picker.

[2017-08-04 07:00] Nazarah commented on #2746
@marla-singer looks good to me.
We can start out with Last 7 days, last 30 days and yesterday perhaps.
If usability testing with Dashboard users points out that they need more customization, we can always proceed there. :)

[2017-08-04 07:03] Nazarah commented on #2760
@marla-singer I think there was a comment where u suggested to keep the number and title in the same line. I am not seeing the comment.
I don't feel strongly about that idea.
The 1st glance people would look at figures and then what the figure represents.
So keeping them not in the same line actually complements each other in terms of aesthetics and understanding.

[2017-08-04 07:11] Nazarah commented on #2741
@marla-singer I leave it on you to decide in terms of technical aspects and the optimal solution. Just keep in mind that separating APIs based on your own, the ones you manage and others (if you are a site admin) has been preferred. I know its kind of unrealistic for the time being, but in future APInf might have 100s APIs. Some of them are added by site admin, some s/he manages as part of an orga

[2017-08-04 09:28] Nazarah commented on #2756
**Mobile View**

![mobiledashboard](https://user-images.githubusercontent.com/17976243/28963023-45ce53ee-7910-11e7-88b3-cfb134504fdc.png)

![mobiledashboard2](https://user-images.githubusercontent.com/17976243/28963031-4d550482-7910-11e7-9941-b7e17e367f0b.png)

![mobiledashboard3](https://user-images.githubusercontent.com/17976243/28963043-5d162f86-7910-11e7-94ec-5b60916bde94.png)

![mobiledashboa

[2017-08-04 11:17] bajiat opened #2809 "Create APInf REST API guidelines"
Consistent behavior e.g. in API error handling is one part of ensuring a good developer experience. To ensure consistency in the APInf REST API(s), we should create guidelines for the API(s). Guidelines would also help our developers and act as a checklist of what needs to be taken into account and help them to follow common patterns and design decisions.

Please note that the guidelines should ad

[2017-08-04 11:31] bajiat commented on #2809
@kyyberi Please comment the required content and potential references

[2017-08-04 11:44] #2766 closed

[2017-08-04 11:51] brylie opened #2810 "Move all APInf packages' into /apinf_packages directory"
Our project structure is currently very flat, with the top level containing many directories. This can be a bit disorienting when first glancing the source code.

# Goal
Make the source code easier to understand by combining all project 'modules' under one directory.

- /
  - .meteor
  - .scripts
  - core/
  - docker/
  - apinf_packages/
    - apis/
    - branding/
    - catalog/
    - ...

  - te

[2017-08-04 13:50] matleppa commented on #2768
@marla-singer

Where is this request of ```or few managers``` based on?

[code]

Adding only one manager at a time would make implementation more simple and clear. It also simplifies the handling of errors.

Do you think that we can drop the requirement of adding several managers at a time?

[2017-08-04 13:51] marla-singer commented on #2768
@matleppa Ok, let's start on easy implementation.
if it would be critical in future we would improve it

[2017-08-04 15:03] kyyberi commented on #2809
- http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api
- Classic https://www.ics.uci.edu/~fielding/pubs/dissertation/top.htm

[2017-08-04 15:03] kyyberi commented on #2809
I would suggest drafting TOC first, review it fast and then write MVP version

[2017-08-07 06:04] kyyberi commented on #2786
I would like to see Featured APIs in APinf.io SaaS version instead of Latest APIs. Reasoning: latest APIs are mostly development/beta version or even alpha lacking documentation and meta information and whatnot. The user experience with such an opening is poor. If we instead push classroom example APIs in the frontpage, APIs which utilize most of the platform features and contain easy start for AP

[2017-08-07 06:33] bajiat commented on #2786
I agree that random Latest APIs on the front page do not bring the best image about the APIs in the catalog: they might be non-functional, profiles have missing information and APIs are even poorly named. So developers might not be interested to see More APIs. Also, as mentioned earlier, Latest APIs do not serve as a good example for other API owners.

Do we want to use the global option for marki

[2017-08-07 07:16] bajiat commented on #2771
Moved the issue from "In Progress" to Planning, since it is not assigned to anyone.

[2017-08-07 07:19] bajiat commented on #2755
@matleppa What is the status of this issue? It is "In progress", but it is not assigned to anyone.

[2017-08-07 07:19] kyyberi commented on #2786
On second thought, perhaps we could leave the latest APIs, but put Features APIs on top of it. That would follow the logic in organisation level as well.

One addition to frontpage is a few links. Some of the customers (prospects) go directly production API management (apinf.io) and not to apinf.com which is the sales channel for us (needs rewamping contentwise.) Therefore I suggest adding a block

[2017-08-07 07:43] bajiat commented on #2804
@saralavanip It would be really helpful, if  either the error description or the screenshot also included the data you entered on the top of the page: paths, port etc. it would be easier to reproduce.

[2017-08-07 09:02] saralavanip commented on #2804
@bajiat , attached screenshot in above bug report with for entered details in proxy form.

[2017-08-07 09:16] bajiat commented on #2804
@saralavanip In the attached screenshot I only see the latter part of the screen, not the entered details in the first half of the screen.

[2017-08-07 09:52] Nazarah commented on #2786
I'd like to go with featured APIs in homepage. Having latest APIs is different and separate than Featured APIs. However, this would introduce two identical sections (in terms of look and feel and purpose). It safer to have production level APIs than latest ones (which might be in design/development phase and not functioning properly)
The settings can be included in the Branding page of the site.

[2017-08-07 10:08] matleppa commented on #2755
Can be closed. Research ids done and the answer is found.

[2017-08-07 11:01] saralavanip commented on #2804
@bajiat , added detailed steps for the above report.

[2017-08-07 11:27] #2755 closed

[2017-08-07 11:30] bajiat commented on #2440
Let's go through the comments and create new issues on the changes that are required. After this, we should close this issue.

[2017-08-07 11:31] Nazarah commented on #2809
interested

[2017-08-07 11:35] bajiat commented on #2556
We are now bringing the dashboard reiteration to the main apinf project. Hence, I'm closing the side project issue.

[2017-08-07 11:35] #2556 closed

[2017-08-07 11:36] bajiat commented on #2450
Closing, since we are re-making the dashboard without a query limit.

[2017-08-07 11:36] #2450 closed

[2017-08-07 11:38] bajiat commented on #2680
@marla-singer What is the status of this issue? Is it in progress?

[2017-08-07 11:45] bajiat commented on #2704
Comment from @brylie: Check both creating and authenticating to users. Check how this is done with other APIs that require authentication w password.

[2017-08-07 11:49] bajiat commented on #2793
@matleppa Can you make another issue for the changes you are currently making for Maintenance API and rename this issue as API management API?

[2017-08-07 11:52] bajiat commented on #2791
@brylie Try to reproduce at least in development.

[2017-08-07 11:56] bajiat commented on #2789
@marla-singer Could you please add a description of the problem that needs to be solved with this issue?

[2017-08-07 12:10] mauriciovieira commented on #2704
It would be a security risk for non-https server, but not for normal https. The first API hit using https is encrypted by the protocol, anyways.

cc: @shaliko

[2017-08-07 12:17] shaliko commented on #2704
We don't have non-https setups. All setups use HTTPS and HTTP traffic will be forced to HTTPS.

Additionally, web server response contains "HTTP Strict Transport Security (HSTS)", which tells to browsers only interact with it using secure HTTPS connections.

[2017-08-07 12:29] bajiat opened #2811 "Setup FIWARE Business Ecosystem on a VM"
In order for us to develop support on FIWARE Business Ecosytem, we need to be able to test API calls and kick the tyres in general.

# Goal
There is a VM, where the Business Ecosystem is running and the APInf team has access to the VM.

# Resources
- [FIWARE BAE Docker image](https://hub.docker.com/r/fiware/business-api-ecosystem/)

[2017-08-07 12:31] bajiat opened #2812 "Research FIWARE IdM solution"
Research and potentially test single sign on with [FIWARE Keyrock](http://fiware-idm.readthedocs.io/en/latest/introduction.html#api). Start with the hosted SSO.

# Goal
* Document or diagram of integration between APInf platform and FIWARE IdP.
* List changes required to Settings view and Sign Up / Sign in views.

# Resources
- FIWARE uses [OpenStack Keystone](https://docs.openstack.org/keystone/l

[2017-08-07 13:12] matleppa opened #2813 "REST API: Improve documentation of Maintenance API"
More detailed descriptions are needed in swagger documentation of Maintenance API.
Longer and more detailed descriptions can be included in swagger generation part of APIs By following guidelines described in issue 2755.

[2017-08-07 13:18] matleppa commented on #994
@bajiat  Should we rename REST APIs according to names used in header of this issue?
Catalog API (current APIs API) and Management API (current Maintenance API)

[2017-08-07 19:26] marla-singer opened #2814 "Don't display message about "This organization doesn't have any featured APIs""
### Steps
- Login as Admin user
- Go to Organizations catalog and click on the button "Add organization"
- Fill in the form and Save a result
- Logout
- Login as user without permission (or create a new one)
- Navigate to the organization

### Expected & Found
- A user sees a message about "The organization doesn't have any featured APIs"

![joxi_screenshot_1502133748394](https://user-images.githu

[2017-08-07 19:29] marla-singer commented on #2789
@bajiat this issue will allow resolving the problem with authorization APInf users in OpenAPI Space/Designer.  For correct working of authorization we need to provide User ID and Login token. Right now generation and storage of Login Token don't exist.

Link to documentation of OpenAPI Desginer: https://github.com/apinf/openapi-designer/blob/master/docs/INTEGRATION.md#apinf-login

[2017-08-07 19:53] marla-singer commented on #2791
@bajiat I'm afraid it would happen because of early incorrect migration step.
@brylie I think it could be reproduced if you would change develop to 0.43 version or 0.44, upload a swagger file or enter the link to the doc after that change the branch to the current release version.

[2017-08-08 04:01] mauriciovieira commented on #2809
I started the TOC in https://github.com/apinf/platform/pull/2815/files, basically follows the initial goal of this issue. I believe it'll grow a bit, from there.

I am still reading the links suggested in the comments.

[2017-08-08 04:03] mauriciovieira commented on #2812
@bajiat @brylie Related #2767

I sketched some code in #2778

[2017-08-08 05:34] saralavanip commented on #2785
@bajiat , completed task, closing the issue.

[2017-08-08 05:34] #2785 closed

[2017-08-08 06:15] kyyberi opened #2816 "REST API: Provide public image url for APIs and organizations in APInf Catalog API"
**Description**:

When listing APIs and organisations via API internal image ids have no signifigance. What is needed is public URL for the images. Current REST API implementation for this part is only for internal use. Good practice is to design and implement APIS from the outside-in.

**User Story**:

"As an API consumer, I need to get public URLs for API logos and organisation logos in response

[2017-08-08 08:57] matleppa opened #2818 "Rename REST APIs"
In order to make APIs more consistent, the API handling API should be renamed to Catalog API and Maintenance API to Management API.

Also changes in Project directory and in program code needed.
* rename swagger structure accordingly
  * ApiV1 to CatalogV1
  * MaintenanceV1 to ManagerV1
* move swagger generation APIs from /core/server to own directory /rest_apis on main level

[2017-08-08 09:08] marla-singer commented on #2762
In my opinion, it needs to research and I'd like to provide a downloading file with statistic instead of display it on a new page/modal window.

[2017-08-08 09:10] marla-singer commented on #2761
@Nazarah My opinion is to place "Download problem log" instead of "Show more" and not allow to display full statistic on a new page/modal window

[2017-08-08 12:01] marla-singer commented on #2756
@bajiat @kyyberi @Nazarah I thought a lot of about this page while am implementing that. I don't really like that three little overview charts take a lot of place on the page and have duplicated information.
Block near Average response time chart contains the equaled data with API Response Time chart below.

![joxi_screenshot_1502192688501 1](https://user-images.githubusercontent.com/20643403/2907

[2017-08-08 16:10] mauriciovieira commented on #2809
I talked to @bajiat today and she told me @matleppa would take over this task.

I closed #2815 because we think it better fits on https://github.com/apinf/docs repository. Also I created https://github.com/apinf/docs/issues/68

[2017-08-08 16:13] mauriciovieira commented on #2809
Actually, I just found https://github.com/apinf/docs/blob/master/docs/develop/REST-API/API-Design.md so this task would be to improve that document.

[2017-08-09 07:38] Nazarah commented on #2756
@marla-singer

The bigger chart functions in such a way that you can select a particular endpoint (if your API has more than one) to see the trendline of average response time in the last 7 days.
The block at the top of the page shows a small trend graph based on the endpoint selected in the bigger chart.
And it also gives the quick view information about all endpoints.
But if all agree that it mi

[2017-08-09 07:42] Nazarah commented on #2761
@marla-singer I like your suggestion.
I am just wondering if user sees it on a mobile phone, would s/he be eager to download it?
or Just want to see it from the display?
@kyyberi would you be happy if we are showing 6 latest entries and then adding the option to download the error log?

[2017-08-09 07:43] Nazarah commented on #2762
@marla-singer
Lets go with the same approach that gets decided in this issue
https://github.com/apinf/platform/issues/2761#issuecomment-320898081
![image](https://user-images.githubusercontent.com/17976243/29110533-9cddc556-7cef-11e7-8850-56851275130c.png)

[2017-08-09 07:56] Nazarah commented on #2814
An alternative suggestion might be to change the text as: "You can feature APIs of your organization by pinning the related API card. You can choose upto four APIs to feature in your organization."
This message is more constructive and gives users an indication that this feature exists.

[2017-08-09 07:58] marla-singer commented on #2761
I believe yes, but it needs research

[2017-08-09 08:12] marla-singer commented on #2756
The block at the top of the page shows a small trend graph based on the endpoint selected in the bigger chart.

@Nazarah no, I meant only block with **"Endpoint1 100 ms, Endpoint2 200ms, Endpoint3 300ms, Endpoint4 112ms".**
If you select Endpoint1 in the big chart API Response time then you will see 100ms under title "Average response time"
If you select Endpoint2 in the big chart API Response tim

[2017-08-09 08:35] Nazarah commented on #2756
@marla-singer lets go with the above approach. In any case we will be doing user testing of the implemented one.

[2017-08-09 08:36] Nazarah commented on #2761
let me initiate a poll n tweeter with APIOps community. I believe we can get some good feedback there.

[2017-08-09 09:47] bajiat commented on #2756
I would say the responsive endpoints could be implemented later. I'm not sure I would as a user / API owner understand the visualisation there.

[2017-08-09 11:54] #2768 closed

[2017-08-09 11:54] #2818 closed

[2017-08-09 12:17] bajiat commented on #2632
Current draft of steps and priorities. Comments are welcome.

Next to be added: answers to **when** and **who** - when and how often should the triaging be done, who should participate.

## Steps
1. Find the bugs requiring triage
1. Check that each bug has been filed in correct repository
2. Check that each issue (bug reportI is not a duplicate of an existing bug report.
   If it is a duplicate, m

[2017-08-09 12:31] marla-singer commented on #2760
@bajiat @kyyberi @brylie
I want to get some information about what data does need comparing? My idea was **Last 7 days** - Compare current week with previous week. But after discussion with @Nazarah I understood that my idea is incorrect :confused: Right is to compare today (09.08) and 7 days ago (02.08).
Is it so?

[2017-08-09 12:33] brylie commented on #2760
The median value would be calculated based on values from the previous week. The comparison value would compare this week's median with the previous week's median. That is my intuition.

[2017-08-09 12:34] marla-singer commented on #2760
I thought so and I've done

[2017-08-09 12:37] brylie commented on #2760
![screenshot_20170809_153702](https://user-images.githubusercontent.com/17307/29121768-9a8d11a2-7d18-11e7-8d06-ff92257bcda8.png)

[2017-08-09 12:40] brylie commented on #2760
Basically, since the metric (KPI) is 'median response time for past seven days' it is natural to compare another median response time from a different seven day interval.

[2017-08-09 12:43] marla-singer commented on #2760
Median for response time?
Becuase I've taken data for comparing:
- a total number of requests for 7 days
- a total median response time for 7 days
- a total number of unique users for 7 days

[2017-08-09 12:43] bajiat commented on #2760
If the user selects a timeframe, then the **comparison** should be made between the user's selection (e.g. last seven days) and previous similar time frame. So I agree with @brylie and your original interpretation.

[2017-08-09 12:49] brylie commented on #2760
The metrics, to my understanding are

- past seven days (or other timeframe)
    - total number of requests
    - total number of unique users
    - median response time

[2017-08-10 09:33] marla-singer commented on #2756
@Nazarah @bajiat @kyyberi The markup work is in a process and I have an impasse.
When I asked Nazia about **Why do we need overview (small) charts again on the Analytics View page?**, she answered me "_When you have multiple APIs, you 1st get to see some overview graphs (the small one) <..> When u click on show more details.. from dashboard, the appearance of all info would improve recognization,

[2017-08-10 09:50] marla-singer commented on #2756
Also as you can see on my screen, it can be case when API endpoint calls don't have any error/users then I don't display an empty table (current screen - don't display table with Most frequent users)

[2017-08-11 07:29] Nazarah commented on #2756
@marla-singer please increase the height of the white background of the overview charts.
In the one for APi requests, add the responses as:
2XX: 50000 3XX: 500 4XX: 3000 5XX: 500

agree with that

**Some Improvements**
1. Please make the numberic values on bigger fonts.
And then display the KPI Name in smaller font below the numeric value.
e.g.
54000
API Requests

2. Keep more space between the Bo

[2017-08-11 07:37] Nazarah commented on #2756
**Some Improvements**
1. Please make the numberic values on bigger fonts.
And then display the KPI Name in smaller font below the numeric value.
e.g.
54000
API Requests

2. Keep more space between the Bookmark, Star rating and Proxy information

3. In the bigger API Request chart, there is no need to put a filter for API request trendline.
The idea is that this line will always be visible.
user ca

[2017-08-11 07:50] marla-singer commented on #2756
The idea is that this line will always be visible.
user can choose to see responses specific to certain HTTP status codes

Don't understand this point. It is the legend for the chart and you can filter requests by status code. What kind of trend line are you talking about?

Can't agree with this point. I prefer to keep background because it would make the UX clearer.

Here see the table styling of

[2017-08-11 09:14] Nazarah commented on #2756
@marla-singer
1.

Correct!

2.

![image](https://user-images.githubusercontent.com/17976243/29207037-3e341d44-7e8d-11e7-8327-396557189d22.png)
Do we actually need to filter the chart based on all calls?
My idea was to show the greyline all the time.
Then user can filter to see one or more lines showing 2XX, 3XX, 4XX or 5XX.

3.
![image](https://user-images.githubusercontent.com/17976243/29207135-b

[2017-08-11 09:36] saransh-dev commented on #2810
Hi Brylie,

I would like to inform you that, we can use [meteor's suggest directory structure](https://guide.meteor.com/structure.html#example-app-structure). But it can take the time to change.

Please advise.

Thanks.
Regards,
Saransh

[2017-08-11 10:29] bajiat commented on #2767
@fdelavega, @mauriciovieira, @ccsr

Can you check the open issue about whether we should implement federated sign on or seamless, single sign on?

[2017-08-11 10:32] marla-singer commented on #2756
My idea was to show the greyline all the time.
Then user can filter to see one or more lines showing 2XX, 3XX, 4XX or 5XX.

I didn't find any option to disable a legend for specified line in the docs. There displays a legend for all lines or no legend at all.

I found the option to change color.  Default color is `#e6e6e6`, please provide a preferred color.

[2017-08-11 10:37] bajiat commented on #2359
@marla-singer Can you add steps to reproduce?

[2017-08-11 10:44] marla-singer commented on #2359
@bajiat Done

[2017-08-11 10:49] brylie commented on #2810
Thanks @saransh-dev. We have reviewed the suggested directory structure.

One of our mid-to-long term goals is to try publishing our APInf 'components' as NPM packages. All this PR is proposing is that we move all of our APInf 'packages' into a sub-folder, e.g. `/packages`.

The structure of each package could follow the recommendations of the Meteor Guide.

[2017-08-11 10:55] saransh-dev commented on #2810
Yes, it's a good idea to convert in packages  @brylie

[2017-08-11 10:56] brylie commented on #2810
OK, thanks. So, do you think it is a reasonable step to move our current 'package-based' structure to a sub-folder? This is mainly for clarity and developer experience.

[2017-08-11 10:57] brylie commented on #2810
I am considering the directory name should be 'packages', since that word is used by both NPM and Bower. The previous idea about a 'modules' directory was inspired by Drupal.

[2017-08-11 10:59] brylie commented on #2810
Basically, everyone in favor of moving all of our APInf packages into a 'packages' directory, upvote this comment. If opposed, downvote.

[2017-08-11 11:19] Nazarah commented on #2756
Let's then continue with your implementation.
From seeing the actual GUI and user testing result, we can always modify things later if needed.

Let's go with it.

[2017-08-11 11:24] brylie commented on #2767
The initial idea proposed was to use OAuth for federated sign-in with FIWARE ( #2611 ). This would be in alignment with GitHub authentication, and is becoming more common on the web in general.

This is why we are asking for clarification about the goals of this issue.

[2017-08-11 12:07] brylie commented on #2810
Pull request is open for comment. WORK-IN-PROGRESS :smile_cat:

[2017-08-11 12:34] bajiat commented on #2807
Should we  list Dashboard as a component that needs to be linked/connected to the Business Ecosystem? Or is there some other way users can track their usage and costs? Maybe managers would also use Dashboard for viewing usage by users?

[2017-08-11 12:47] bajiat commented on #2807
Asset Type is duplicated

[2017-08-11 12:50] brylie commented on #2807
Fixed the issues you mention above.

[2017-08-11 17:36] mauriciovieira commented on #2810
I am glad :-)

[2017-08-12 02:04] Vellames commented on #2359
@mauriciovieira ready to review

[2017-08-14 07:31] brylie commented on #2810
Thanks @mauriciovieira. We are on Experimentation Mondays today. Do you think you might have time to check out the branch and fix any of the errors you might encounter related to imports, etc., so we can finish this ASAP?

[2017-08-14 12:18] mauriciovieira commented on #2767
@bajiat

I think we should implement both (if they are not the same).

The description of this task explains the federated login (duplicated #2611). We should have a way of telling Meteor which FIWARE server we want to connect to.

cc: @midyan @Vellames

[2017-08-14 22:04] mauriciovieira commented on #2767
I will pair program with @midyan and @Vellames on this task

[2017-08-14 22:17] mauriciovieira commented on #2767
Tasks:

- [ ] reverse engineer accounts-github, and create a package in `packages/` called _accounts-idm_
- [ ] parameterize IDM server on settings page (some work done at #2778)

[2017-08-15 07:18] brylie commented on #2767
Consider making a package that could be used in the wider Meteor/JavaScript ecosystem. If it is tied to Meteor Accounts, then it could be something like 'meteor-accounts-fiware', since 'accounts-idm' is somewhat vague.

[2017-08-16 06:36] saransh-dev commented on #2753
Hello Nazarah,

I am going to work on this issue. Please provide me some following details:-
1. provide me branch name from where I need to work.
2. how I get these APIs lists where yellow or red exclamation sign.

Thanks.
Regards,
Saransh

[2017-08-16 06:44] bajiat commented on #2753
@Nazarah We agreed that the next tasks for @saransh-dev would be related to meta tags. So you can ignore the previous comment.

[2017-08-16 10:00] bajiat commented on #2814
@marla-singer Can  your provide  steps  to reproduce?

[2017-08-16 10:05] bajiat commented on #2814
@Nazarah The suggested  text is an enhancement, but nonetheless the user should only see it, if relevant to user's role (organization manager or admin)

[2017-08-16 10:09] bajiat commented on #2805
Slug needs to be updated, when  name  is changed.

[2017-08-16 10:16] bajiat commented on #2798
We could also remove the section, when there are less than 3 or APIs. The same goes for Statistics section.

[2017-08-16 10:16] Nazarah commented on #2814
yes I agree on that. It should be only the organization manager to see that text.

[2017-08-16 10:16] bajiat commented on #2795
@Nazarah Can you please provide a description of the idea or user need?

[2017-08-16 10:22] Nazarah commented on #2795
@bajiat working on it.

[2017-08-16 10:26] Nazarah commented on #2798
@bajiat I have my doubts if that would be something ideal to remove the API section from the front page.
If customer has only 1 API, neither the customer or its user would take the burden to discover the API from the catalog page.
It would be convenient for them if the one and only API is featured in the home page for quick access.
I agree on removing the statistics pane. And perhaps also the API

[2017-08-16 10:27] bajiat opened #2823 "Enable Single Sign On with FIWARE IDM"
# Description

On FIWARE we want to be able to automatically login on APInf if we have already logged in on IDM.

# User Story
As a FIWARE user, I need not to login again on integrated APInf instance if I am logged in on CKAN + FIWARE IDM.

[2017-08-16 10:34] bajiat commented on #2767
@mauriciovieira We have created a separate issue for SSO EPIC #2823

[2017-08-16 10:36] bajiat commented on #2770
Related to #2823

[2017-08-16 10:41] bajiat commented on #2093
@brylie We would need to unblock this issue. Can you get some advice from our developers?

[2017-08-16 10:51] bajiat commented on #2734
@brylie Can you add a link to a JavaScript library that would validate the OpenAPI document on our server?

[2017-08-16 10:52] bajiat commented on #2733
The documentation about authentication should be in relevant Swagger file(s)

[2017-08-16 10:56] bajiat commented on #2730
Closing the issue

[2017-08-16 10:56] #2730 closed

[2017-08-16 10:58] bajiat commented on #2729
Or is it possible to add a "Wait for visible" for elements?

[2017-08-16 11:07] wuder4 commented on #2729
I think that is what I did on most cases. There still is few cases where you need to use sleep command.
but this issue is no longer an issue

[2017-08-16 11:07] #2729 closed

[2017-08-16 11:57] brylie commented on #2734
@bajiat I added links to the issue description.

[2017-08-17 01:43] #2464 closed

[2017-08-17 06:30] bajiat commented on #2681
Closing as duplicate of #2683

[2017-08-17 06:30] #2681 closed

[2017-08-17 06:37] matleppa opened #2824 "Review document for APInf REST API guidelines"
Document is found in:
https://github.com/apinf/api-guidelines

[2017-08-17 07:34] matleppa commented on #2824
@kyyberi The discussion on 2017-08-16 about need of using API key when calling certain GET methods got some continuation today (2017-08-17).
The solution is not necessarily straigh-forward, because the API keys are attached to a Proxy.
* what happens, if an API is moved from one Proxy to another one
* user needs to use UI to get API key

@preriasusi might provide more detailed explanation of pros

[2017-08-17 07:57] matleppa commented on #2647
A part of these requirements are resolved in PR #2754 .

- There are generated two separate swagger files: one for APInf Catalog API (catalog.json) and another for APInf Management API (management.json).
- Using backtick as a separator (examined in issue #2755 ) it is possible to include long and detailed descriptions in files generating swagger documents

With this solution the changes needed in

[2017-08-17 08:02] bajiat commented on #2611
In addition to enabling the login in login screen, we would need a setting for the IdM. Could the IdM settings have their own page? The page should be accessible from the same menu as Settings and Proxies.

[2017-08-17 09:21] Nazarah commented on #2750
@bajiat @marla-singer I had an interesting conversation about how devs might want to see APIs needing attention in this [Tweet](https://twitter.com/NazarahTheCat/status/894464481375531008).
What are your opinions about it?

[2017-08-17 09:41] Nazarah commented on #1192
@bajiat in this [issue](https://github.com/apinf/platform/issues/1998) we have been discussing about integrating OpenAPI Designer editor to APInf API profile to add/update Swagger document or OpenAPI document. Will we be adopting the design style discussed in wireframe 3 & 4?

The editor appears in Edit mode with the API name and hostname already populated from the given inputs
![editing doc](http

[2017-08-17 09:45] marla-singer opened #2825 "Browser error: Restivus is not a constructor"
** Follow the example given to submit a bug report **

**Title**:

Mandatory fields are not identifiable

**Steps to Reproduce**:
1. Pull a fresh `develop` branch
2. Run application
3. Open the main page and Open console in browser

**Found**:
- Error stacktrace
[code]
Problem in file -->  rest_apis.catalog.js @ catalog.js:9

**Expected Behavior**:
- No errors

**Environment**:

Debian, Chrome bro

[2017-08-17 10:30] preriasusi commented on #2824
Is the API key the same API key we get from proxy?

We have cases where APInf is needed for the developer portal and API catalog, but no proxy features needed. In those cases there would not be API key to the proxies. Still catalog API surely needed. Is there any other way to identify users? OAuth?

Also the case where's more then one proxy in APInf. Which API key to use? Or would any work?

[2017-08-17 10:41] bajiat commented on #2632
# Bug triaging process

## Introduction
Weekly, mid week if possible
Two-person activity: Lead developer and product owner
Goal for later is to have an error manager role

## Steps
1. Find the bugs requiring triage in Github
1. Check that each bug has been filed in correct repository
2. Check that each issue (bug reportI is not a duplicate of an existing bug report.
   If it is a duplicate, mark i

[2017-08-17 10:41] bajiat commented on #2632
@marla-singer Can you take a look at the Sentry triage process above and comment?

[2017-08-17 10:47] wuder4 commented on #2671
Gate 1 tests don't have any cases that need admin access. Al thought this same problem is in Gate 2.

[2017-08-17 11:01] Nazarah commented on #1184
@marla-singer we would be using HTTP request and response header to determine if the API  backend is down, right?

[2017-08-17 12:27] marla-singer commented on #1184
@Nazarah I suppose yes

[2017-08-17 12:28] marla-singer commented on #2632
@bajiat I've done the same instruction then I've looked at a bug on Sentry. Everything is find for me

[2017-08-17 12:31] Nazarah commented on #2758
@phanimahesh looking for your feedback about EMQ Dashboard

[2017-08-17 12:33] Nazarah commented on #2759
@phanimahesh looking for your feedback for EMQ Dashboard

[2017-08-17 12:34] Nazarah commented on #2743
@phanimahesh I guess we don't have option to determine endpoint condition of APIs connected to MQTT broker. If you agree, then I'd remove EMQ label from this issue.

[2017-08-18 06:04] saransh-dev commented on #2552
Hello Kyyberi,

I don't find the issue on https://apinf.io/apis/turku-issue-reporting-api
I am getting the meta tags:-
[code]

Please advise where the issue occurs.

Thanks.

Regards,
Saransh

[2017-08-18 07:50] bajiat opened #2827 "Updating site logo requires page refresh"
# Description
Logo and image handling are confusing to users. When an image is uploaded for example as platform logo, there is a delay in updating and images first appear as broken images.

Quote from a user:

# Steps to reproduce
1. Log into nightly as admin
2. Go to settings menu by pressing the small icon next to your username
3. Select Branding
4. Delete the current logo for the site by pressi

[2017-08-18 11:07] Nazarah commented on #2746
@marla-singer I think you can start with the date pickers that you attached as screenshot. On clicking the last 7 days, that control should appear. I removed the wireframe dialog as I feel it doesn't need anything additional.
@bajiat if you still need a wireframe, I can put one.

[2017-08-18 11:09] Nazarah commented on #2758
@marla-singer I have added the wireframe for sorting. I am waiting for @phanimahesh 's feedback about EMQ.

[2017-08-18 11:11] Nazarah commented on #2757
@marla-singer @bajiat I have added a primary draft for filtering wireframe. I need to sit and go through the monitoring epic to see if the filter is including all the aspects. You can also leave out your comments and feedback about how the filter options look.

[2017-08-18 11:12] Nazarah commented on #2753
@marla-singer can you please tag @ccsr in a comment and explain to him what complexities you faced while implementing UI for this feature? He would be able to know about the obstacles in this way.

[2017-08-18 11:33] Nazarah commented on #2749
@marla-singer wireframe is available. please leave feedback if you have some.

[2017-08-18 12:00] phanimahesh commented on #2758
I couldn't see the wireframe for EMQ dashboard, but the columns look good to me. All three of them provide meaningful and useful information when sorted in either order.

[2017-08-18 12:03] phanimahesh commented on #2671
Apologies for late response, somehow this issue got buried in my notifications and I missed the earlier ping.

I'm not familiar with meteor enough to know recommended seeding methods. But yes, the solution to this is to just seed an admin user and use that account in tests.

[2017-08-18 12:09] Nazarah opened #2828 "Group APIs in Dashboard main view"
# Description

User sees a list of APIs s/he owns or manages (in an organization) on navigating to Dashboard view.
APIs are grouped as My APIs, My Managed APIs (and/or) Other APIs (for site admin)

Related to #2740

# Wireframe

**APIs grouped by own and managed ones in organizations**
![dashboard1_organization](https://user-images.githubusercontent.com/17976243/29710034-5c59a7e8-8997-11e7-9a2d-25

[2017-08-18 12:10] bajiat commented on #2740
@Nazarah has created a separate issue for grouping the APIs: #2828

[2017-08-18 12:12] phanimahesh commented on #2743
In a sense, yes. "API endpoint" in the MQTT broker doesn't exist as we defined it. Any recoverable failures are automatically handled, and any unrecoverable failure impacts every single "api" hosted on the broker.

Also since HTTP follows a request response cycle, error responses are defined in the spec. In MQTT, there is no request response cycle defined in the spec, and as such HTTP style errors

[2017-08-18 12:20] bajiat commented on #2610
Closing this as 'wontfix', since we are currently reimplementing the dashboard

[2017-08-18 12:20] #2610 closed

[2017-08-18 12:27] Nazarah commented on #2758
@phanimahesh I haven't yet added any wireframes but i just needed your opinion about the sorting criteria used for EMQ. If the mentioned ones are ok with you, we can go with them.

[2017-08-18 12:29] phanimahesh commented on #2758
Yep. They look good to me.

On Fri 18 Aug, 2017, 17:57 Nazia Hasan <notifications@github.com> wrote:

[2017-08-18 12:30] bajiat opened #2829 "Create a Login settings menu item and view"
# User story
As an admin user I need to be able to connect a FIWARE identity manager with an APInf instance by giving required settings

# Description
Admin should be able to give both Github OAuth and FIWARE OAuth login credentials. It could make sense to move the current Github secret settings from Settings view to a Login view and have a separate menu item for Login. (Compare with Proxies).

#

[2017-08-18 12:31] bajiat commented on #2611
I have created a separate issue for  login Settings

[2017-08-18 12:32] #2611 closed

[2017-08-18 12:49] bajiat commented on #1192
If there is a document in the Swagger Viewer and user presses Open editor, the whole document should be pre-populated based on the existing document. I'm not sure if this requires Open API Space integration.

[2017-08-18 12:57] marla-singer commented on #2758
@Nazarah What about option "API name"?

[2017-08-18 15:12] marla-singer commented on #2746
@bajiat @Nazarah WHatset of timeframe do I leave?
"Last 7 days", "Last 30 months", "Customer range"?

[2017-08-18 15:30] marla-singer commented on #2742
@Nazarah Please provide a wireframe for mobile view :)

[2017-08-21 06:33] wuder4 opened #2830 "Deleting API doesn't delete API from umbrella"
While testing my automated tests, I noticed that even if i didn't have API connected to the umbrella proxy my proxy address still worked. I ran those tests hundreds of times and it only happened maybe 10 times. I don't know what causes this bug to occur.
We are able to remove these manually from umbrella.
![proxy](https://user-images.githubusercontent.com/28555452/29506468-74cfd0a4-8654-11e7-8d08-

[2017-08-21 07:35] Nazarah commented on #2742
@marla-singer working on it. would be posted later today. :)

[2017-08-21 07:37] Nazarah commented on #2746
@marla-singer @bajiat I suggest "Yesterday", "Last 7 Days", "Last 30 Days".
Kind of thinking back and forth about keeping custom time range. :-/

[2017-08-21 07:40] Nazarah commented on #2758
@marla-singer let me ask from stakeholders how they feel about sorting with alphabets

[2017-08-21 07:56] #2810 closed

[2017-08-21 11:35] matleppa commented on #2591
This would probably need in Branching collection  a new field (in addition to field siteTile) perhaps siteWindowTitle, to contain the text for browser tab.

[2017-08-21 11:45] bajiat commented on #2809
Closing the issue. See issue

[2017-08-21 11:46] #2809 closed

[2017-08-21 11:48] #2793 closed

[2017-08-21 11:49] #2813 closed

[2017-08-21 11:52] bajiat commented on #2807
@brylie Add the diagrams  to the docs repository and close  this issue

[2017-08-21 11:53] bajiat commented on #2680
@marla-singer What is the status of the issue? Is it in progress or should it be  reassigned?

[2017-08-21 11:55] marla-singer commented on #2680
@bajiat No, it was blocked because I couldn't reproduce it. Unassigned by myself

[2017-08-21 11:55] bajiat commented on #2685
@ashakunt Is this in progress?

When the instructions have been finalised, can we add these to README in our repo?

[2017-08-21 11:57] bajiat commented on #2632
@bajiat reminder to myself: Post to docs repo and close

[2017-08-21 11:58] bajiat commented on #2637
Closing this experimental issue

[2017-08-21 11:58] #2637 closed

[2017-08-21 12:00] #2336 closed

[2017-08-21 12:01] #2038 closed

[2017-08-21 12:03] bajiat commented on #2638
Descriptions  are handled by @matleppa

[2017-08-21 12:03] #2638 closed

[2017-08-21 12:07] bajiat commented on #2093
This is becoming even more urgent because of monetization and  new dashboard. Let's resolve this during sprint 51.

[2017-08-21 12:10] bajiat commented on #2805
@brylie Can you find reference code from previous implementation for @saransh-dev ?

[2017-08-21 12:11] bajiat commented on #2811
VM is setup already

[2017-08-21 12:12] #2440 closed

[2017-08-21 12:13] #1714 closed

[2017-08-21 12:20] bajiat opened #2833 "Port contributing guidelines to GitBook format"
Copy the current CONTRIBUTING.md to GitBook so that it is easier to read and find what you are looking for.

[2017-08-21 12:24] saransh-dev commented on #2805
@bajiat I have found the code where I need to implement and I have implemented it. Now slug will change while API name will change. I am facing following issues:-

1. After update, slug won't change in URL (DT-Comment:- Fixed it)
2. If we update anything in API instead of API's name, it works fine and we can fetch data in onSuccess() inside autoform hook (inside function there is findOne quarry on

[2017-08-21 12:28] bajiat commented on #2791
@marla-singer  Can you check with @shaliko if we need to clean up incorrect data manually?

[2017-08-21 12:33] marla-singer commented on #2791
@bajiat It is not a solution because this incorrect data are generated in our code

[2017-08-21 12:35] bajiat opened #2834 "Select key API endpoints for Business API ecosystem"
* [ ] Select, which are the API endpoints we should first focus on
* [ ] Try out the first calls with REST clients.
* [ ] Come up with a proposal for mid- to long-term roadmap for integration
* [ ] Arrange a review for proposal

[2017-08-21 12:38] bajiat opened #2835 "Make release 0.49.0"

[2017-08-21 15:40] mauriciovieira commented on #2807
http://apinf.org/docs/develop/Architecture/FIWARE-Business_API_Ecosystem-integration.jpg

[2017-08-22 07:16] matleppa commented on #2825
Maybe the files
* catalog.js
* management.js

should be in directory *apinf_packages/rest_apis/server*
instead of *apinf_packages/rest_apis*,
because their functionalities are meant to be on server side only.

[2017-08-22 08:09] Nazarah commented on #2742
@marla-singer Mobile wireframes posted in this comment.
You don't have to show overview charts in mobile view.
For reference, see [GitHub API](https://status.github.com/) in mobile view (from your cellphone) :)

![mobiledashboar6](https://user-images.githubusercontent.com/17976243/29555113-41b01d88-872a-11e7-846a-d5447ef11d41.png)

![mobiledashboar7](https://user-images.githubusercontent.com/17976

[2017-08-22 10:53] bajiat opened #2838 "Collect billing information when organization is added"
# User story
As an APInf business owner I need to be able to collect billing information in order to enable SaaS monetization and billing

# Description
The SaaS version should have a view for collecting billing information.This should be tied to organizations, not individual users. The billing information is collected when the organization is created and it is mandatory for creating an organizati

[2017-08-22 11:05] bajiat opened #2839 "Allow anyone to add an organization"
# Description
At the moment, only admins can create new organizations. For the APInf SaaS service, it must be possible for any user to create an organization as a default. (See a separate issue for a setting, which allows only admins to add organizations.)

# Goal
* [ ] Any logged-in user can see the Add organization button in Organization Catalog
* [ ] Any logged in user is allowed to create an o

[2017-08-22 11:12] bajiat opened #2840 "Add a setting for "Only admins can add organizations""
# Description
After task #2839 is completed, any logged-in user is able to create a new organizations. In some deployments, it maybe necessary to be able to configure this and allow only admins to create new organizations. As there is a setting for "Only platform administrators are allowed to add new APIs", there should be a setting for "Only platform administrators are allowed to add new organiza

[2017-08-22 11:35] brylie commented on #2825
Sounds good. Try it out.

[2017-08-23 05:29] phanimahesh opened #2842 "MQTT topic namespacing for EMQ"
### User story
As an MQTT API owner, I expect complete control and flexibility over topics, their structure, and access control rules applied to them, and any other api on the same EMQ must not interfere with mine.

### Background:

We intend to support multiple "MQTT APIs" - independent bundles of topics and their access control rules - on the same EMQ instance. A critical requirement to facilita

[2017-08-23 06:35] matleppa commented on #2704
OK, it seems, that our current solution is secure enough.
Here are also couple of agreeing opinions
* https://security.stackexchange.com/questions/7057/i-just-send-username-and-password-over-https-is-this-ok
* https://security.stackexchange.com/questions/55693/securing-passwords-for-rest-authentication

[2017-08-23 07:12] brylie commented on #2704
We can close this issue.

[2017-08-23 07:15] #2825 closed

[2017-08-23 11:21] #2704 closed

[2017-08-23 22:01] mauriciovieira commented on #2829
For FIWARE, since it can be more than one server instead of github, it makes sense to have an additional field to set the root-url of the IDM server

[2017-08-23 22:04] mauriciovieira commented on #2823
So the behavior will be pretty similar to current Github login. A popup page might appear to let the user know s/he is authorizing through that FIWARE IdM instance.

Currently we are working on https://github.com/apinf/apinf-accounts-fiware/ and https://github.com/apinf/apinf-fiware/, that will allow login to be done via IdM

[2017-08-24 06:15] wuder4 opened #2846 "Changing language requires extra click away from language menu"
# Steps
1.Visit https://staging.apinf.io  v 0.48.0
2.Change language

# Findings
* Language does not change immediately after selecting one
* You need to click away from the language menu to refresh the site
* Some link don't work while selecting language eg. organizations

# Screenshot
![kieli](https://user-images.githubusercontent.com/28555452/29652325-a00cfb92-88ad-11e7-815c-b5d4d1e428d8.png)

[2017-08-24 07:36] marla-singer commented on #2846
@bajiat Duplicate of #2530
I was working on changing the language. I made that to keep backward compatibility with iOS devices because iOS browsers don't support event "change" just "blur". It means if I will resolve the reported bug then the language changing wouldn't work on iOS devices.

[2017-08-24 07:59] #2359 closed

[2017-08-24 11:21] bajiat opened #2847 "Raw analytics export"
# User story
As an API owner I want to export the raw analytics data for calls as CSV so that I can for example use the data for billing purposes or in another tool.

# Description
Add a method for getting analytics raw data per API for a selected time period. This could for example be a button available in individual API view on Dashboard.

[2017-08-24 11:35] wuder4 opened #2848 "verifying email sends you to right page but the page is blank"
# Steps
1.Visit https://staging.apinf.io  v 0.48.0
2.Create new account
3.Click link in email

# Findings
* Page the link sends you has right address but it stays blank and wont load
* Reload fixes this problem

# Screenshot

![verify](https://user-images.githubusercontent.com/28555452/29664797-e1765e58-88d9-11e7-9ca2-f7822c3feee1.png)
You can see right address and page has finished loading

Teste

[2017-08-24 12:03] bajiat opened #2849 "Make API feedback private"
# Description

Based on customer feedback, some API owners may want either all or part of feedback be private.

# Goal

There is a setting
* [ ] to set all received feedback to be private
* [ ] to set an individual feedback item to be private
* [ ] When the feedback is set to private, it is still visible for
 * [ ] admin users
 * [ ] the API owner
 * [ ] the user who created the feedback (applies

[2017-08-24 12:05] matleppa commented on #2814
What about the message "The organization doesn't have any connected APIs"? Should the same principle about restricting visibility according user role apply there also?

![no_connected_apis.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e69ba5208d8da78aeaab46a062f1842055653f6b14b1247a80e03cfd1839545a5d4dfe145c0b44faad8c29a

[2017-08-24 12:23] mauriciovieira commented on #638
closed by #1986

[2017-08-24 12:23] #638 closed

[2017-08-25 08:30] matleppa commented on #2804
At the moment there seems to be 4 proxies available on Staging.
* API-umbrella new <-- Save and publish fails
* Nightly umbrella <-- Save and publish succeeds
* Staging <-- Save and publish fails
* eMQ

So possibly there is some configuration issue, which causes the failures.

[2017-08-25 08:37] #2771 closed

[2017-08-25 08:37] matleppa commented on #2804
Another matter is, that it seems, that every action (open API, open Organization, select APIs in main menu, select Organizations in main menu, select Add API in main menu)  causes following error log about exception:

ead9b7f64a24882e2136d1288fe613ebb506afa7.js?meteor_js_resource=true:29 SyntaxError: Unexpected identifier
    at f.View.<anonymous> (ead9b7f64a24882e2136d1288fe613ebb506afa7.js?meteo

[2017-08-25 08:39] #2682 closed

[2017-08-25 09:05] Nazarah commented on #2814
@matleppa you are right

[2017-08-25 09:08] Nazarah commented on #2849
@bajiat API owner should have a controller in the Feedback tab for API profile for every comment posted about the API, right? to change the visibility of the feedback?

[2017-08-25 09:10] Nazarah commented on #2849
I also have a concern, that should making feedback private somehow will affect the transparency about users' feeling about the API usage and their state of interaction with the API owner?

[2017-08-25 10:03] bajiat opened #2850 "Catalog API: Allow getting API document"
# Description
It would be good, if the REST API allowed users to get the API document (Swagger) public URI for a particular API in the Catalog.

# Goal
* There is a GET request for that returns the Swagger document public URI for the particular API
  * Note that Swagger documents are stored both as documents and as links. How to get the URI for the Swagger document stored as file?

Open issue: Doe

[2017-08-25 10:13] Nazarah commented on #2828
@bajiat for APIs connected to an organization (the ones users didn't add but are managers due to the connection to organization), do we need to show Organization name?

[2017-08-25 10:22] bajiat commented on #2849
Would it be safer to only allow all the feedback be either open (visible) or private? For setting individual feedback private, I was thinking about feedback, e.g. error reports that could have security concerns.

[2017-08-25 10:29] Nazarah commented on #2840
@bajiat wireframe added, please review and provide feedback.

[2017-08-25 10:33] Nazarah commented on #2847
@bajiat need clarification for the following:
1. Would the download option be available for both Dashboard and Analytics view in an API?
2. Should the flow would be like this: "Timeline is selected for ''last 7 days'. On clicking the download button, CSV would be available for last 7 days."?

[2017-08-25 11:00] bajiat opened #2852 "Manual testing for release 0.49.0"
Test the 0.49.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] OpenAPI Designer integration
* [x] Verify enhancements and the corr

[2017-08-25 11:06] bajiat commented on #2852
@saralavanip @wuder4  I will notify you when the release has been deployed

[2017-08-25 11:41] bajiat commented on #2396
@Nazarah Is the suggested notification text ok for you? "No APIs found with the selected life cycle status"

[2017-08-25 11:44] bajiat commented on #2847
1. In my opinion, this should only be in the Analytics view. It's the raw call data, so it is related to the information available in the Analytics.
2. I think the data available should either match current view or alternatively there could be another view for selecting the data to export (time etc.)

[2017-08-25 11:59] Nazarah commented on #2838
Make sure that completeness of contact information is ensured.
If someone selects same information as that of Organization contact information, but the fields are empty, then in Billing information section, associated fields should show alert with CSS alert class.
"Organization contact information is empty. Please provide the required information in associated fields."

[2017-08-25 13:05] #2684 closed

[2017-08-27 21:34] Vellames commented on #2814
@matleppa i think that we should notify the user if the organization have no apis. if we remove the two messages i think that we need to add some other notification for user.

[2017-08-28 07:05] Nazarah commented on #2829
@mauriciovieira can you please list what would be the required fields for this to appear on the UI?

[2017-08-28 07:25] Nazarah commented on #2814
@Vellames The messages will only appear to organization managers when they go to the organization page and there is no connected or featured APIs there.
For normal users browsing the organization catalogue, we don't show related sections for their view.

[2017-08-28 07:29] Nazarah commented on #2396
@bajiat I beleive the text should be the same for all cases, whenever a search query doesn't return a result. A simple text "No API found." is sufficient for this.

[2017-08-28 07:33] Nazarah commented on #2849
For your concern, I suggest to make individual controller for each feedback to be hidden/visible. In Facebook, you can choose which comment(s) you wish to appear in the public view. Since deleting works the same with the current feedback functionality, I suggest wr implement show/hide feedback the same way.

[2017-08-28 11:27] Nazarah commented on #2829
@mauriciovieira @bajiat wireframe is added. Please leave your feedback.

[2017-08-28 12:31] Nazarah commented on #2847
@bajiat wireframe is available. Please leave your feedback.

[2017-08-28 21:28] mauriciovieira commented on #2829
@Nazarah you got it! Thanks

[2017-08-29 07:22] #2732 closed

[2017-08-29 08:37] bajiat commented on #2635
<img width="428" alt="branding wireframe" src="https://user-images.githubusercontent.com/11626388/29812181-71eaf9da-8cae-11e7-9928-e9cc3f1628c2.png">

[2017-08-29 08:38] bajiat commented on #2635
<img width="428" alt="branding wireframe" src="https://user-images.githubusercontent.com/11626388/29812224-91f72190-8cae-11e7-869e-2adbbf10ba6c.png">

[2017-08-29 08:38] bajiat commented on #2635
<img width="428" alt="branding wireframe2" src="https://user-images.githubusercontent.com/11626388/29812251-a416a788-8cae-11e7-95b6-d70f288eaead.png">

[2017-08-29 08:39] bajiat commented on #2635
@Nazarah Please review the suggested titles?

[2017-08-29 08:49] Nazarah commented on #2635
@bajiat ok from my side

[2017-08-29 09:01] Nazarah commented on #2669
Based on the discussion with @phanimahesh,  the following metrics were considered.

   Total connected clients on the broker
   Clients which subscribed to the "api" (topic sub tree)
   Clients which have published to the api in last n minutes/hours/whatever
   Total number of messages in and out for the api in last n minutes/...
   Average bandwidth utilisation of the api in last n minutes/...

[2017-08-29 09:05] Nazarah commented on #2669
Further discussions

so I wanted to make sure that APIs connected to Emq can be considered as realtimes
i think they are also called web sockets/streaming API, right?

Streaming apis can send data continuously. Realtime can be loosely translated as near instaneous processing or transmission.
Both streaming and realtime apis can be implemented when tbere is a connection always open to server
Mqtt a

[2017-08-29 09:09] Nazarah commented on #2669
Wireframes

Hi Mahesh, hope you are doing well.
i prepares low fi sketches for the dashbosrd of APIs connected to EMQ or other broker system
![emq2](https://user-images.githubusercontent.com/17976243/29813445-c635c048-8cb2-11e7-9731-3baff9c34779.png)
here I have used
Total connected clients on the broker
Total number of messages in and out for the api in last n minutes/...
Average bandwidth utilis

[2017-08-29 09:12] Nazarah commented on #2669
Sorting and Filtering

Can you give me some criteria by which the dashboard can be
1. sorted
2. Filtered

Sorting criteria can be by the column values for now. I can't think of anything better at the moment.
Are the columns fixed or will the usser have an option to choose them from a set of options?

For the time being they are ffixed, I redesigned them based on your given feedback

About the time

[2017-08-29 09:21] Nazarah commented on #2669
Further discussion about error list in EMQ

![dashboard3_details_alternate](https://user-images.githubusercontent.com/17976243/29813907-2d396122-8cb4-11e7-982d-232c83691373.png)
See the bottom left table in this picture. This is for REST api dashboard, that we are showing when an API was DOWN, or had 3XX, 4XX, 5XX responses, and for which endpoint it happened
can we show equivalent (if not similar

[2017-08-29 09:26] Nazarah commented on #2669
Discussion about Dashboard monitoring

I need another help from u.
https://github.com/apinf/platform/issues/2795
this is a dashboard related epic, called monitoring.
My idea about this epics for REST APIs was to have a feature, which allows to set threshold value for the KPIs.
Crossing those threshold values means you get to show some indication in the Dashboard that some of your API needs attenti

[2017-08-29 09:29] Nazarah commented on #2669
Some more discussion about errors:

nazia 10:50 AM
I was going through our messages and came across this conversation:

mahesh August 15, 2017 2:07 PM
In MQTT there is no request response cycle. Messages are posted and that's it. They get delivered if and when they can.
 mahesh August 15, 2017 2:10 PM
I don't think we can have an errors table for mqtt. It just doesn't make sense to me. The only on

[2017-08-29 09:31] #2235 closed

[2017-08-29 09:31] Nazarah commented on #2179
Closing as there is already related issues about the epics.

[2017-08-29 09:32] #2179 closed

[2017-08-29 09:32] Nazarah commented on #2182
Closing as already working on a separate issue about this.

[2017-08-29 09:32] #2182 closed

[2017-08-29 09:33] Nazarah commented on #1634
Closing this as have already worked on similar issue

[2017-08-29 09:33] #1634 closed

[2017-08-29 09:34] Nazarah commented on #1324
Closing this as new API dashboard is being implemented.

[2017-08-29 09:34] #1324 closed

[2017-08-29 11:38] bajiat commented on #1350
This is already implemented: There is a setting which allows only admins to add APIs.

[2017-08-29 11:38] #1350 closed

[2017-08-29 11:57] bajiat commented on #2847
Hi @Nazarah, I like the option 2 and providing the option for selecting the timeframe. I also like the placement of the button.

I'm not sure about the title of the dialog, maybe Download analytics log? But I think we can define that later, when we discuss what should and can be available.

[2017-08-29 12:00] bajiat commented on #2613
As a reference, see Sorting options from API Marketplace:
![mashape sorting.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/551116a6d52f6a7100417fce/125516c66e82c728ace21e0d46e595892b8393accffab051b054fe936b0a65633b0ba92e7391a172fd172e535c0d1ba815585910f9fb802ea5b63c268b5b5dead47f4366846c4ff8e7df46f554f832815d84bfb68b49c0ec3d25e08288463a1e070ac4.PNG)

[2017-08-29 16:02] mauriciovieira commented on #2521
@vellames please read the related issues

[2017-08-30 02:23] Vellames commented on #2521
@mauriciovieira I think that i found a problem: The api feed always return all apis
`apinf_packages/apis/collection/server/rss.js`

Can i open a issue and add a way to retrieve only a specific API?

[2017-08-30 06:58] Nazarah commented on #2847
@bajiat we can always finalize the texts on the dialog later. i'd simply add them to wireframe and repaste it in the issue.

[2017-08-30 07:13] Nazarah commented on #2613
@preriasusi what do you think about the following options?
Most Bookmarked
Highest Rating
Most Recent
Names (A - Z)
Names (Z - A)

@bajiat Currently we have the options My APIs and My Bookmarked as buttons on the sorting controller.
Do you want them to be included in the sorting dropdown as well?
I would suggest against it, as these options are more for Quick Access, rather than sorting.

[2017-08-30 07:50] Nazarah commented on #1184
@bajiat Should we consider the following notifications?
1. Notification icon on navbar with dropdown providing information about the down API
2. Email sent to the registered account of the user: Email contains description, error log and link to API Dashboard/Analytics/Profile.

Also need clarification for the following:
1. When User clicks on a notification from the dropdown, does s/he gets redire

[2017-08-30 08:33] bajiat commented on #2613
I would leave the My APIs and My Bookmarked as buttons and keep them out of sorting. They are filters rather than sorting options.

[2017-08-30 09:37] bajiat commented on #2840
@Nazarah

Minor comments
* You could also combine the adding apis and adding organizations into one common section
* **Adding** APIs vs. **Add** Organizations
  * Can we use the same verb form in both?
* Only platform administrators are allowed to add new organization
  * It has to be either "to add **a** new organization" or "to add new organization**s**"
  * Using the plural form would be consis

[2017-08-30 09:47] #2835 closed

[2017-08-30 12:26] mauriciovieira commented on #2521
@matleppa can you help @Vellames here?

[2017-08-30 14:33] matleppa commented on #2521
OK, what kind of help is needed?

[2017-08-30 15:31] Vellames commented on #2521
@matleppa i dont saw a way to get the feed of a specific API. ever i request `rss/apis/slug=someslug` the feed returns all APIs. I see that in the method, you dont expect any query params and always returns all APIs.
Can you implement the query like organizations feed?

[2017-08-30 20:33] mauriciovieira opened #2862 "Add pure javascript test for /apis endpoint"
**Description**:

Currently, we don't have automated tests for our REST API.

To visualize our swagger file,
1. open http://petstore.swagger.io/
2. insert https://apinf.io/rest/v1/swagger.json

We should have pure javascript tests running on continuous integration similarly to [apinf-fiware package](https://github.com/apinf/apinf-fiware/tree/60920bd5cdc7c0c32c6010a094b8dd5c84466de8/tests) ([travis

[2017-08-30 20:33] mauriciovieira opened #2863 "Add pure javascript test for /organizations endpoint"
**Description**:

Currently, we don't have automated tests for our REST API.

To visualize our swagger file,
1. open http://petstore.swagger.io/
2. insert https://apinf.io/rest/v1/swagger.json

We should have pure javascript tests running on continuous integration similarly to [apinf-fiware package](https://github.com/apinf/apinf-fiware/tree/60920bd5cdc7c0c32c6010a094b8dd5c84466de8/tests) ([travis

[2017-08-30 20:33] mauriciovieira opened #2864 "Add pure javascript test for /users endpoint"
**Description**:

Currently, we don't have automated tests for our REST API.

To visualize our swagger file,
1. open http://petstore.swagger.io/
2. insert https://apinf.io/rest/v1/swagger.json

We should have pure javascript tests running on continuous integration similarly to [apinf-fiware package](https://github.com/apinf/apinf-fiware/tree/60920bd5cdc7c0c32c6010a094b8dd5c84466de8/tests) ([travis

[2017-08-30 22:02] Vellames opened #2865 "Add RSS feed for a specific API"
# Goal

Generate an individual RSS feed for each public API

# Definition of done

When a user request `/rss/apis/?slug=someslug`, it should receive a specific rss feed for that API

# Related issues

#2310, #2478, #558, #2508, #2521

[2017-08-30 22:18] Vellames commented on #2521
@matleppa i dont saw any way to get a specific feed for an api, so i open this issue #2865

[2017-08-31 00:47] Vellames commented on #2535
@Nazarah
I dont know why, but i cant access https://nightly.apinf.io/, the page never loads
I create a simple bot to add some APIS, so i added over than  200 APIS and 8 organizations, i linked some APIS with some organizations and the count was right for all them
how can i get the database to check the problem? if the error only appears for a specific organization, i think that the better solution

[2017-08-31 01:03] Vellames commented on #2535
I did some testing in my local environment. The situation is as follows:
Organization cards at `https: // nightly.apinf.io / organizations` are counting all apis (including private api).
The list of apis in the organization profile is counting only public apis
Thats the difference

I will open a PR to fix this :)

[2017-08-31 06:58] Nazarah commented on #2535
@Vellames thanks for finding the problem. :)
If you are accessing as APInf site admin, then you should be able to see private APIs as well.
Also If you are the manager of an Organization and a private API is connected to the organization, then you automatically become the API Manager.
In this case, you should be able to see the API as well.

[2017-08-31 07:07] Nazarah commented on #2840
@bajiat

Adding APIs vs. Add Organizations
Can we use the same verb form in both?

We can do that. The section title can be "Adding APIs and Organizations"
Text for API: Only platform administrators are allowed to add new APIs.
Text for organization: Only platform administrators are allowed to add new organizations.

[2017-08-31 07:26] Nazarah commented on #2840
@bajiat @marla-singer
Should we have something similar to this since now we are having new access modules and user role privileges?
![addapiadminprivilege2](https://user-images.githubusercontent.com/17976243/29911444-8d75e668-8e36-11e7-8d47-b9b27142cdf9.png)
I am thinking in future there might be new access control and user role privilege settings going to come.
Instead of crowding them Under sett

[2017-08-31 07:54] Nazarah commented on #2613
@bajiat @preriasusi wireframe is added. Please have a look and leave your feedback.

[2017-08-31 07:55] #2814 closed

[2017-08-31 07:59] marla-singer commented on #2840
@Nazarah I like this way :+1:

[2017-08-31 08:11] marla-singer commented on #2535
@Nazarah Specifically for this case the problem is incorrect data in database. I think so because it is reproduced only for this Orgnaization

[2017-08-31 09:35] matleppa commented on #994
REST APIs are renamed as suggested: Catalog API (current APIs API) and Management API (current Maintenance API)

[2017-08-31 09:48] bajiat commented on #2840
I also like the basic idea of separating the user privileges from other settings, but I don't like the titles for the radio buttons, since "Add API" does not make sense together with Read privilege. Have already discussed this with @Nazarah.

We also need to have sensible defaults for each setting (something that makes sense for the majority of deployments), which admin can then change.

[2017-08-31 09:50] bajiat commented on #2613
Looks good to me. Would it be too bold to rename "Most bookmarked" as "Most popular"?

[2017-08-31 14:26] #2683 closed

[2017-09-01 05:49] saransh-dev commented on #2635
@bajiat @Nazarah @matleppa Please tell me the branch name from where I will get the code of site logo and cover image. Still, i have take clone from `develop` branch and I am not able to see the portion so site logo and cover image on the web app. Thanks.

[2017-09-01 06:08] #2865 closed

[2017-09-01 07:02] saransh-dev commented on #2635
I got the code. Thanks

[2017-09-01 10:22] bajiat commented on #2804
@shaliko Can you check whether there are any configuration issues with the **API-umbrella new** and **Staging** proxies for staging.apinf.io?

[2017-09-01 10:33] bajiat opened #2873 "Unify HTTP response code use: 200, 201 and 204"
Unify the success response codes for APInf REST APIs according to APInf REST API design guide.

# Goal
* [ ] 201 response is given, when adding a resource was successful.
* [ ] 204 response is given, when operation was successful, but no data can be returned. For example, the resource was deleted.
* [ ] 200 is used for all other successful operations.

[2017-09-01 10:41] bajiat opened #2874 "If API cannot be added to catalog with POST, Catalog API returns an error"
If adding an API to the catalog via the Catalog API fails because of database field validations, an uncontrolled exception error is got as response.

The API must check the data against the allowed values (e.g. length) in DB definition and return a 400 response code with appropriate error text, if the API cannot be added to the database.

# Goal
* [ ] Check all fields in POST and PUT requests for

[2017-09-01 12:05] matleppa commented on #2775
What does this mean in practice?
Is it ability to alter Organization logo and cover photo via API?

[2017-09-01 12:33] Nazarah commented on #2613
@bajiat since these are options within a menu, I'd suggest to keep them as normal text. I can't recall if I have seen some options within sorting menu to be bold to differentiate from others.
Is there any reason u wish to make them bold?

[2017-09-01 13:02] Nazarah commented on #2613
Is there any reason u wish to make them bold?

@bajiat apologies for not getting the comment at 1st turn. :P
The option names sounds better.
I'd add them  in the wireframe.

[2017-09-01 14:07] mauriciovieira commented on #2775
Yes, as well as colours.

Ideally we should have all functionality that works in the UI replicated also by the API.

[2017-09-02 10:30] saransh-dev commented on #2613
@marla-singer @brylie Hi, I have almost implemented this task but I have little confusion regarding "The implementation must not remove the language-specific sorting for names (can be tested by adding APIs that start with Ä and Ö that must be sorted after Z in ascending sorting)"

 As I have researched on package `kurounin:pagination`, there is no option to get result and sort on the basis of Ä an

[2017-09-02 12:28] amardeep-deligence commented on #2842
Proceeded with this information and did some research but requirement is still not clear, may be because of lack of domain knowledge. So, please clarify more.

[2017-09-03 01:13] phanimahesh commented on #2842
That is a bit vague and doesn't give me much to work with. Can you point
out specific points that need more explanation, or describe your doubts or
questions in detail?

If not, we'll discuss this over our scheduled call.

On Sat 2 Sep, 2017, 17:58 amardeep-deligence <notifications@github.com>
wrote:

[2017-09-03 16:00] mauriciovieira commented on #2829
@midyan got interested in changing the settings, so he'll do it and I'll review

[2017-09-04 06:14] saralavanip opened #2879 "Feedback view: Successful send 'Feedback' shows incorrect time stamp"
# Steps
1.Visit https://staging.apinf.io v 0.49.0
2.Sign In
3.Go to 'APIs' catalog
4.Click on any API
5.Go to 'Feedback' view and click on 'Send Feedback'
6.Fill the feedback form and click on 'Send' button

# Findings
Successful send feedback report shows incorrect time stamp. By default it shows sent " in 3 hours"

# Browser
Chrome Version 60.0.3112.113 (64-bit)

# Operating system
Windows 10

#

[2017-09-04 06:28] wuder4 opened #2880 "APInf api does not add description"

[2017-09-04 06:34] matleppa commented on #2775
The ability to change the also colours belongs to issue 2774 (project branding), right?

[2017-09-04 06:38] #2880 closed

[2017-09-04 07:10] wuder4 opened #2881 "APInf API management.json doesn't tell that email is required"
If id says its required then email should say that too.
# Screenshot
![management](https://user-images.githubusercontent.com/28555452/30015471-944e9b62-9159-11e7-804e-3139c090771c.png)

[2017-09-04 07:40] bajiat opened #2882 "Install Proxy42 on RaspberryPi"
# Goal
* [x] Install Proxy42 build on RPI
* [x] Test network setup
* [x] Register an API on Proxy42 via the admin API
* [x] Use Proxy42 for proxying the API

[2017-09-04 08:47] #2635 closed

[2017-09-04 08:52] #2131 closed

[2017-09-04 10:17] marla-singer commented on #2879
@saralavanip Can you provide your local time in UTC? I suppose you have UTC+6

[2017-09-04 10:30] saralavanip commented on #2879
@marla-singer , It is UTC+5:30

[2017-09-04 10:32] marla-singer commented on #2879
Although I tested it on Debain with UTC+6 time and couldn't repeat.
Maybe It happens on Windows
![joxi_screenshot_1504521074011](https://user-images.githubusercontent.com/20643403/30022776-7e0ed134-9175-11e7-9eb4-d575ae0f1b05.png)

[2017-09-04 12:28] marla-singer commented on #2613
@saransh-dev We already have the implementation for local name sorting.
https://github.com/apinf/platform/blob/develop/apinf_packages/api_catalog/client/api_catalog.js#L167-L170

[2017-09-05 06:40] wuder4 commented on #2852
I have tested new, improved and bug fixes and will focus more on proxy42 if its ok @saralavanip. I didn't go through the document.

[2017-09-05 06:40] #2632 closed

[2017-09-05 06:55] bajiat commented on #2879
I tested in Windows 10 / Chrome and could not reproduce the bug.

1. Add feedback

![2879_SendFeedback.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/551116a6d52f6a7100417fce/125516c66e82c728ace21e0d46bacccd7abdb0ac81ed9946a159f2952a4d653f6b14b1247a80e03cfd1839545a5d4dfe145c0b44faad8c29afb33f708a0a0aea876a5a66da2f53fde6d640e258f075c95d8fa4bd8d46c1ed3d21e2828b4b3d1f051e81e

[2017-09-05 10:39] saralavanip commented on #2852
@wuder4 , yes, please go ahead.Thanks!

[2017-09-05 12:55] shaliko commented on #2804
@bajiat @ccsr Looks like port 3002 was closed on hoster level (https://staging.apinf.io:9200). I can't connect to it from the public internet.

Docker starts ApiUmbrella instance with shared ports 3001 and 3002 but is not visible for external requests.

[2017-09-05 13:09] shaliko commented on #2804
@saralavanip @bajiat @mauriciovieira @ccsr I found and fixed the issue. There was one additional image "apinf/maintenance", I and Chandra created it for show maintenance page during migration.

I wrong stopped "apinf/maintenance" container, it was boot on reboot server and had conflict with ApiUmbrealla. On reboot docker-compose, automaticlly detect that were stop container "apinf/maintenance" and

[2017-09-05 15:57] mauriciovieira commented on #2775
@matleppa you're right.

[2017-09-06 06:45] Nazarah commented on #2786
@saransh-dev I am working on the wireframe, it would be added in the later part of the day. :)

[2017-09-06 07:53] bajiat commented on #2804
Thanks @shaliko for fixing.

[2017-09-06 09:02] Nazarah commented on #2613
@saransh-dev I would be adding the wireframe with finalized option names later.
But for your convenience, I am writing down the option names in the sorting dropdown:
Most Bookmarked
Highest Rating
Most Recent
Names (A - Z)
Names (Z - A)

@bajiat I had a thought and decided to go with "Most Bookmarked". Because if we put "Most Bookmarked" and "Highest Rating" together, it would appear indicating th

[2017-09-06 10:10] saransh-dev commented on #2613
@Nazarah I have renamed the options as you suggested above. Please review below PR.
https://github.com/apinf/platform/pull/2886

[2017-09-06 10:52] bajiat commented on #2613
@Nazarah

I think Most popular and Highest rating are different. Rating refers to quality, popularity would be how many people have bookmarked. (Popularity could also be how many users the API has, but at the moment we can't use that as a measurement.)

[2017-09-06 12:23] bajiat commented on #2620
Work estimate from @shaliko and @marla-singer :
Step 1: 1 day
Step 2: 1 day
Step 3: 3-5 days,

Needs to be verified that the approach will work for Windows developers.

[2017-09-06 13:02] Nazarah commented on #2786
@bajiat @saransh-dev wireframes are added. Please leave your feedback.

[2017-09-07 10:04] bajiat commented on #2709
I would say option 1, keep it consistent with adding as file.

[2017-09-07 11:36] #2636 closed

[2017-09-07 11:36] #2644 closed

[2017-09-07 11:36] #2740 closed

[2017-09-07 11:36] #2742 closed

[2017-09-07 11:36] #2744 closed

[2017-09-07 11:36] #2745 closed

[2017-09-07 11:36] #2746 closed

[2017-09-07 11:36] #2753 closed

[2017-09-07 11:36] #2756 closed

[2017-09-07 11:36] #2760 closed

[2017-09-07 11:36] #2761 closed

[2017-09-07 11:36] #2762 closed

[2017-09-07 11:36] #2763 closed

[2017-09-07 11:36] #2803 closed

[2017-09-07 11:53] marla-singer opened #2888 "Cannot read property 'otherUrl' of undefined"
**Title**:

Bowser console in anonym user case

**Steps to Reproduce**:
1. Create an API
2. Sigh out
3. Open a browser console
4. Navigate to early created API

**Actual result**:
errorin a browser console
[code]

**Expected Behavior**:
No errors

**Environment**:
staging.apinf.io 0.49.0
Chrome browsers

![anonym-user-case](https://user-images.githubusercontent.com/20643403/30162149-3f684e38-93dc-

[2017-09-07 11:54] #2535 closed

[2017-09-07 12:00] marla-singer commented on #2459
@kyyberi @bajiat Have to be fixed in anew Dashboard page

[2017-09-07 12:02] marla-singer commented on #2541
@brylie @bajiat Have to be fixed in a new Dashboard

[2017-09-07 12:03] marla-singer commented on #1788
@Nazarah @bajiat Have to be fixed in a new Dashboard

[2017-09-07 12:05] marla-singer commented on #2042
@bajiat THese part is gone in a new Dashboard

[2017-09-07 12:06] marla-singer commented on #2040
@bajiat Have to be fixed in a new Dashboard

[2017-09-07 12:11] marla-singer commented on #1118
@bajiat Have to be resolved in a new Dashboard

[2017-09-07 12:12] marla-singer commented on #1159
@bajiat The same things are resolved in a new Dashboard

[2017-09-07 12:13] marla-singer commented on #1243
@Nazarah @bajiat Have to be resolved in a newDashboard

[2017-09-07 20:50] Vellames commented on #2849
Can the admin also mark the feedback as private?

[2017-09-08 07:08] Nazarah commented on #2849
@Vellames site admin is a super user who becomes manager of all APIs added. S/he has the privilege to edit contents in an API profile. So by this rule, site admin should also get the privilege to make feedback private.

[2017-09-08 07:13] Nazarah commented on #1243
@marla-singer should we close the issue?

[2017-09-08 07:14] Nazarah commented on #1159
Closing the issue as new Dashboard is being implemented.

[2017-09-08 07:14] #1159 closed

[2017-09-08 07:18] Nazarah commented on #1788
@marla-singer will close the issue as soon as new dashboard is on nightly.

[2017-09-08 07:20] saralavanip commented on #2804
@shaliko , @bajiat , verified on staging v0.49.0

Findings with proxies below:

- API-umbrella new : Save and publish fails
- Nightly umbrella:  Save and publish succeeds
- Staging : Save and publish fails

Screenshot for proxy details:
![proxy_api_umbrella_new](https://user-images.githubusercontent.com/13309358/30200356-2f0b81ce-947f-11e7-95e8-794ff92043be.PNG)
![proxy_nightly_umbrella](https://u

[2017-09-08 09:12] marla-singer opened #2892 "Enhhancement for Dashboard, part 1"
1. Add a margin for the last record. It sticks together with footer
![joxi_screenshot_1504861546997 2](https://user-images.githubusercontent.com/20643403/30204507-699b5238-948e-11e7-8f79-725de72016a8.png)

2. Chart API Response time
Rename label "50th percentiles" because it is confusing some user

![joxi_screenshot_1504861744859](https://user-images.githubusercontent.com/20643403/30204546-8827ab8

[2017-09-08 09:21] marla-singer commented on #2450
@bajiat @brylie Verified it in a new Dashboard and it works as expected
![joxi_screenshot_1504862215531](https://user-images.githubusercontent.com/20643403/30205003-2ccab892-9490-11e7-9915-a61145b81b38.png)

[2017-09-08 09:42] marla-singer commented on #1243
@Nazarah I don't know. I looked at wireframe detailed and don't know if it is the same as current implementation
![joxi_screenshot_1504863748140](https://user-images.githubusercontent.com/20643403/30205935-30eb2184-9493-11e7-9b1a-f539030c9b57.png)

[2017-09-08 09:44] marla-singer commented on #1811
@bajiat @Nazarah Have to be removed in a new Dashboard
![joxi_screenshot_1504863620244](https://user-images.githubusercontent.com/20643403/30206004-67d221de-9493-11e7-90a5-9199cfbdef0a.png)

[2017-09-08 09:47] #2530 closed

[2017-09-08 09:47] #2846 closed

[2017-09-08 09:49] marla-singer commented on #1788
![joxi_screenshot_1504863978922 1](https://user-images.githubusercontent.com/20643403/30206219-12686b80-9494-11e7-8056-3b3aa19652de.png)

[2017-09-08 11:15] marla-singer commented on #2786
@Nazarah @bajiat If an Admin doesn't select Featured APIs then how will Homepage look?

[2017-09-08 11:16] #2806 closed

[2017-09-08 11:22] Vellames commented on #2849
@Nazarah Ok, thank you. Should i implement the button to make all feedbacks privates/publics?

[2017-09-11 06:04] saransh-dev commented on #2786
@brylie @marla-singer Hi, when we use above wireframe (all select-checkbox apis in dropdown) and if we select more than 8 and try to submit then it shows error message inside the dropdown. For resolving this, I removed maxCount from schema and shows error message by salert.error() when user going to select 9th api.

But I don't think it's a good way.

Please advise.

[2017-09-11 06:11] brylie commented on #2786
Based on the discussion in this issue, the 8 API maximum is the desired feature.

What is the problem with the error message?

[2017-09-11 06:21] saransh-dev commented on #2786
@brylie the error message is displayed inside the dropdown below last api name and it should be shown below the drop down.
[code]

[2017-09-11 06:32] brylie commented on #2786
Lets try using [autoform-select2](https://github.com/aldeed/meteor-autoform-select2) for the API select field. It integrates well with AutoForm, so should display error messages correctly (below the field).

[2017-09-11 06:36] brylie commented on #2786
Also, what pull request is related to this issue? Once development is in progress, we ask that a pull request be opened.

[2017-09-11 06:41] saransh-dev commented on #2786
Currently i have not been open any pull request and have not commit the code.

[2017-09-11 06:49] brylie commented on #2786
Alright. Go ahead and open a new branch/PR with autoform-select2.

[2017-09-11 07:07] saransh-dev commented on #2786
by using `aldeed:autoform-select2` package and add code `{{> afQuickField name='featuredApis' id="branding-featured-apis" multiple=true options=optionsAPi }}` and schema is below
[code]

Is below output ok ?
![error](https://user-images.githubusercontent.com/29011434/30262280-f4a3d826-96ed-11e7-95ca-e142d2441ec1.png)

[2017-09-11 07:08] brylie commented on #2786
It looks good, and behaves as expected.

[2017-09-11 07:14] saransh-dev commented on #2786
But for multiple selection we need to select multiple options by pressing and hold `ctrl` key (for windows and linux ) or `command` key (for mac OS) and select multiple options .

[2017-09-11 07:32] brylie commented on #2786
The Select2 widget should allow multiple selection without holding `ctrl` or `command`. See above animation.

[2017-09-11 07:33] brylie commented on #2786
Follow the documentation in [meteor-select2 README](https://github.com/aldeed/meteor-autoform-select2). Your example code above is missing the `autoform` declarations.

[2017-09-11 07:38] Nazarah commented on #2786
@marla-singer If the admin doesn't select even one API to be featured on the Homepage, I suggest we don't show the section at all.

[2017-09-11 07:39] brylie commented on #2786
@Nazarah might we show a message on the front page to the admin user saying something like "Add featured APIs from the Settings section"?

[2017-09-11 07:42] Nazarah commented on #2849
@Vellames can you please confirm with Taija about implementing this? Because I am seeing this issue with Icebox label, meaning it is not currently in the prioritized list for implementation.

[2017-09-11 07:46] Nazarah commented on #2786
@brylie that's a good idea. But only site admin should be able to see this message and section. No other users.
For unlogged users and logged in users, if there is no featured APIs added by the site admin, the whole section should not appear at all.

The message should be: "You can add featured APIs from Branding section under Settings."

[2017-09-11 07:48] marla-singer commented on #2786
@brylie @Nazarah If no featured APIs then should we display the Latest APIs in this section to make Homepage not so "empty"?

[2017-09-11 07:51] Nazarah commented on #2786
@marla-singer I don't have problem with it. If the implementation is easier. I was just wondering that when site admin logins, is s/he going to see both sections? (case: empty Featured APIs section and Latest APIs section with 8 APIs)

[2017-09-11 07:57] marla-singer commented on #2786
@Nazarah I predict yes, it would be easy

Yes, something like that
![joxi_screenshot_1505116565718](https://user-images.githubusercontent.com/20643403/30264039-df018d0a-96df-11e7-8dc2-09e62168a3af.png)

[2017-09-11 07:58] Nazarah commented on #1788
@marla-singer Feedback
1. rename Requests, number as "API Requests".
I don't believe we need to mention the unit as number as the graph itself is self-explanatory.
For API Response Time, the axis title and unit makes sense.

[2017-09-11 08:00] Nazarah commented on #2786
Looks good to me.
Just please clarify me that if the site admin adds even a single Features API in the section, would the Latest APIs section become invisible to all users?

[2017-09-11 08:07] Nazarah commented on #1243
@marla-singer
can we add another additional field called origin which would show the origin of the calls?
I included this feature previously in the wireframe
https://user-images.githubusercontent.com/17976243/28867087-9d3b2484-777d-11e7-850f-e382101b2afe.png
But I liked that you included "Request Path" in the info.
I am asking to add the origin because very soon there might be a feature request to

[2017-09-11 08:08] bajiat commented on #2824
Closing the issue, since the review already took place.

[2017-09-11 08:08] #2824 closed

[2017-09-11 09:18] marla-singer commented on #2786
@Nazarah If this behavior is expected then the developer should try to make it

[2017-09-11 09:22] marla-singer commented on #2786
@saransh-dev Sum up our discussion with @Nazarah I suggest the scenario

### If a user is Admin
- If no Featured API is provided then
1. Display block "Latest APIs" for all users
2. Display block "Featured APIs" with text ""You can add featured APIs from Branding section under Settings.""

- if any Featured API is provided then
1. Display block "Featured APIs" for all users
2. Hide block "Latest A

[2017-09-11 09:25] marla-singer commented on #1243
@Nazarah Unfortunately, API Umbrella proxy doesn't store any data about Origin of the calls

[2017-09-11 10:12] Nazarah commented on #1243
@marla-singer can you please clarify this? Because if I recall earlier dashboard, there was a table below Request types and response time chart. That table contained statistics about individual calls made within a specific time period. That table might have contained a column showing the IP addresses/origin of the calls made.

[2017-09-11 11:28] Nazarah commented on #2840
@bajiat @marla-singer based on the discussions we are having I prepared this simple wireframe.
![userrolesandprivileges](https://user-images.githubusercontent.com/17976243/30272303-9088830a-96fc-11e7-88d1-dcd72d91b6ef.png)
Here, instead of radio buttons, we'll have checkboxes for "Site Admins" and "General Users" with related privilege options.
The privilege options can be categorized based on the

[2017-09-11 11:36] bajiat commented on #2849
@Nazarah This issue is confirmed to be implemented.

[2017-09-11 11:36] matleppa opened #2894 "Catalog API methods errors"
Several errors in API functionality
- GET method: Admin can not see private APIs
- PUT & POST: uncontrolled error message as a response for request containing parameter isPublic
- GET method: only parameter presence is checked, not its value

[2017-09-11 11:47] marla-singer commented on #2840
@Nazarah @bajiat

1. General Users don't have access (and I can't think up case why they can do) to Branding, Proxies, Settings and Privileges pages. It means any user can go to apinf.io, i.e., registers and change Branding color or title, Remove proxy and change github login credentials.

2. Another point I don't like is an opportunity to set "false" for Admin any settings.
If an Admin will set a

[2017-09-11 14:35] marla-singer opened #2896 "getElasticsearchData: expected String, got null"
But report from Sentry
https://sentry.samposoftware.com/sentry/apinf-nightly/issues/161/
### Steps
1. Login as API Manager
2. Open API profile page is connected to a proxy
3. Click on "Dashboard" item

### Found
- A browser console error `Exception in delivering result of invoking 'getElasticsearchData': undefined`
- A server error
[code]

### Environment
nightly.apinf.io

[2017-09-12 05:38] saransh-dev commented on #2786
@brylie @marla-singer  Hi, I need your help.

I have set `maxCount` 3 for `featuredApi` in schema.
When I have select 3 APIs and click on the update button, it updates successfully but after updated, I checked it shows only 1 selected API which was first on the list and after reloading page, it shows all 3 selected API.

I also have attached GIF for this issue.

![branding-featured-api](https://us

[2017-09-12 05:49] saransh-dev commented on #2786
@marla-singer , if no Featured API is provided then, first i need to display Latest APIs and then Featured APIs message below to the Latest API,

Please advise.

[2017-09-12 06:40] matleppa opened #2897 "REST API, logout endpoints are missing from documentation"
In generated swagger document there needs to be  a logout endpoint. so user can log out from Catalog while examining API functionality.

Logout endpoint must be (a pair with login endpoint) in every API.

[2017-09-12 06:53] brylie opened #2898 "Upgrade project dependencies"
As part of our commitment to ongoing maintenance, we need to upgrade our project dependencies.

# Task
Upgrade project dependencies in preparation for 0.50.0 release.

[2017-09-12 07:29] marla-singer commented on #2786
When I have select 3 APIs and click on the update button, it updates successfully but after updated, I checked it shows only 1 selected API which was first on the list and after reloading page, it shows all 3 selected API.

I've never worked with this type of schema field. Can't give some advise

No, change order. The first block is Featured and the second block is Latest

### If a user is non log

[2017-09-12 08:04] Nazarah commented on #2849
@Vellames @bajiat Please choose which version of the wireframe would you prefer to distinguish a private feedback from a public one?
1. indicating with **fa-eye-slash** icon
![apifeedback](https://user-images.githubusercontent.com/17976243/30314617-ecefc9c0-97a9-11e7-8c1e-0f9fd23407cb.PNG)
2. adding a transparent layer over the private feedback
![apifeedback2](https://user-images.githubusercontent

[2017-09-12 09:09] marla-singer opened #2900 "Internationalize date formatting of charts"
### Goal
- Make date format for all charts depends on the current language

![joxi_screenshot_1505206783976](https://user-images.githubusercontent.com/20643403/30317153-f624d000-97b1-11e7-9501-d7e9b6494484.png)
![joxi_screenshot_1505207313774](https://user-images.githubusercontent.com/20643403/30317581-23eb90cc-97b3-11e7-92a5-dcbd3d777d7b.png)

[2017-09-12 09:52] marla-singer opened #2901 "Don't update Overview chart if data range was changed to "Yesterday""
### Steps
1. Open Dashboard
2. Select a proxy backend to open Overview charts
2. The default timeframe is "Last 7 Days" and it works as expected
![joxi_screenshot_1505208618772 1](https://user-images.githubusercontent.com/20643403/30319640-148b4edc-97b9-11e7-87ee-58af375ea75a.png)

3. Change date range to "Last 30 days". It works as expected
![joxi_screenshot_1505208618772 2](https://user-images.g

[2017-09-12 11:50] #2839 closed

[2017-09-12 11:50] #2840 closed

[2017-09-12 12:02] #2709 closed

[2017-09-12 12:02] #2888 closed

[2017-09-12 14:34] marla-singer commented on #2062
@bajiat Have to be fixed in a new Dashboard

[2017-09-12 14:36] marla-singer commented on #2003
@bajiat Have to be fixed in a new Dashboard

[2017-09-12 15:40] Vellames opened #2904 "API's page broken without logged user"
**Steps**

(Without login)
1. Go to APIs
2. Select an API with a feedback

![capturar](https://user-images.githubusercontent.com/9345433/30334999-90ced790-97b7-11e7-82ac-7105fabd507c.PNG)

**Description**:

The system returns a page just with the header when i try access api's. In console i catch the following error:

`
TypeError: Cannot read property 'username' of undefined
    at Document.author

[2017-09-13 06:04] matleppa opened #2905 "REST API: Checking of DB errors and informing requestor is missing from most of the methods."
## Description ##
When REST APIs are used in CRUD operations, it is possible, that DB operation fails because of some error situation in DB.
In these cases the API user must be informed in a controlled way with response message.

In some cases fulfilling one request needs several DB operations. When several DB collections are updated, the outcome must be consistent, either all operations succeed o

[2017-09-13 07:35] saralavanip opened #2907 "Anonymous users unable to view details of APIs with feedback"
# Steps
1.Visit https://staging.apinf.io v 0.49.0
2.Go to APIs
3.Select API with feedback  (eg. Test_cloudMonitor  / Test_BlogsAPI )

# Expected Result
Shows details of API

# Actual  Result
Shows blank page

# Operating system
Windows 10

# Browser
Chrome  Version 60.0.3112.113

# Screenshot
![anonymous_api_withfeedback_blank](https://user-images.githubusercontent.com/13309358/30365520-ad5a079a-9

[2017-09-13 11:08] matleppa opened #2908 "REST API: Import documentation descriptions from an external file"
### Include documentation from external file ###

Instead of writing descriptions in same file with program code they can be written in an external file and linked into program code file.

That way the descriptions are included in generated swagger document.

[2017-09-13 11:58] brylie commented on #2786
An edge case comes to mind. How do we handle featured APIs that are marked as private?

cc: @bajiat

[2017-09-13 12:11] #1788 closed

[2017-09-13 12:11] #2892 closed

[2017-09-13 12:11] #2896 closed

[2017-09-13 12:11] #2901 closed

[2017-09-13 12:34] marla-singer commented on #2904
Duplication of #2907

[2017-09-13 12:34] #2904 closed

[2017-09-13 13:02] brylie commented on #2786
An edge case comes to mind. How do we handle featured APIs that are marked as private?

Basically, new feature we add tend to intersect with existing features, sometimes in complex and unanticipated ways. It is getting increasingly difficult to add new features, as we accrete layer after layer of features. I again urge us to **keep things simple**.

cc: @bajiat

[2017-09-14 02:17] mauriciovieira commented on #2863
Also add instructions to https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md#automated-testing

[2017-09-14 06:01] matleppa opened #2909 "REST API: a function tor returning error responses"
Instead of filling error response in program code, a common error function can be used to fill and return error response.

Function parameters: HTTP error code, description of error situation.

[2017-09-14 07:51] brylie opened #2911 "Audit and clean up project dependencies"
As our project has grown, we have added many dependencies. At times, we may have changed features, so they no longer rely on previous dependencies. In these cases, we should also have removed the dependencies, but it is not a certainty.

# Goal
* Improve the user experience, because the unnecessary dependencies makes loading take longer.
*  Improve our understanding of what dependencies are active

[2017-09-14 09:21] Nazarah commented on #2786
@brylie would it suffice if the dropdown populates no APIs that are labeled private?
I know Site admin can see the private APIs as well.
But for the sake of the feature, we can consider this.

cc: @bajiat

[2017-09-14 09:38] brylie opened #2912 "Remove ShareJS from project dependencies"
While auditing project dependencies ( #2911 ), it became apparent that [mizzao:ShareJS](https://github.com/mizzao/meteor-sharejs) accounts for around 15% of our project bundle size:

![screenshot_20170914_123611](https://user-images.githubusercontent.com/17307/30422665-4d00bc2a-9949-11e7-8c34-313a9cfae805.png)

# Goal
Reduce our bundle size by removing unneeded dependencies.

# Task
- [ ] Determin

[2017-09-14 09:46] brylie commented on #2786
One possibility that may also arise is that the Admin features an API that is marked as public, and then the API Owner later marks that API as private. Any solution should probably check for the public/private status when displaying the Featured APIs (at runtime), so that we get consistent behavior.

A possible solution might also include:
- change the 'featuredApis' publication to be `publicFeatu

[2017-09-14 09:49] Nazarah commented on #2786
@brylie Liked your proposed solution.
There is an alternative to make the featured API disappeared from the Homepage list if it is marked as private.
But I guess it would add too many complexities.
I vouch for your suggestion.

[2017-09-14 09:55] Nazarah commented on #1243
@marla-singer
check out this comment from #1072

IP address
geolocation
API Key
user
https://camo.githubusercontent.com/92182b29f64050ee8b29f8210801f9e59cf45ed4/68747470733a2f2f6170692d756d6272656c6c612e72656164746865646f63732e696f2f656e2f6c61746573742f5f696d616765732f616e616c79746963732e706e67
API Umbrella screenshot
Reference:
API Umbrella: Analytics Architecture

If you login to API Umbrella an

[2017-09-14 09:59] brylie commented on #2786
My proposal includes that in the first bullet item. It would have the effect that the Featured API would not show up if it is private.

[2017-09-14 10:50] matleppa opened #2913 "REST API: verify values of parameters skip and limit"
Currently, when parameters *skip* and *limit* are provided, in program code their values are converted to integer. Unless the value is not integer, the given value is ignored.

The provided value of parameter lifecycle is not validated.

The values need to be validated and an error message must be returned in case values are not feasible.

[2017-09-14 13:00] #2667 closed

[2017-09-14 13:00] #2873 closed

[2017-09-14 13:00] #2874 closed

[2017-09-14 13:00] #2881 closed

[2017-09-14 13:00] #2894 closed

[2017-09-14 13:05] matleppa opened #2916 "Dashboard: exception when leaving the detail page"
## Prerequisite ##

There are APIs connected to a proxy.

## Steps ##
1. select Dashboard in Main menu
2. select an API
3. go to detail page (View details...)
4. select Dashboard in Main menu

## Result ##
4. Exception in browser development console

Exception in template helper: TypeError: Cannot read property 'name' of undefined
    at Object.proxyName (http://localhost:3000/app/app.js?hash=126e

[2017-09-14 13:15] matleppa opened #2917 "Dashboard: API with no requests renders not correctly on narrow screen"
It seems, that an API without request data is rendered erroneously, when the screen is narrowed.
Probably because in that case the columns contain only response-time element and neither arrow element nor text-danger element.

### View on a broad screen ###

![dashboard_broad.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46

[2017-09-14 14:49] marla-singer commented on #2916
@matleppa The last `develop` branch?

[2017-09-14 14:53] marla-singer opened #2918 "Server console error on Organization catalog page"
### Steps
1. Take the last develop
2. Sign in as Admin user
3. Create an Organization, connect anyAPI
4. Sign out
5. Navigate to Organization page

### Expected
No error

### Found
Error on a server console
[code]

@Vellames I think it is related to issue when you made API count for Organization card

## UPDATED
### Steps
1. Take the last develop
2. Sign in as Admin user
3. Create an Organization

[2017-09-14 19:57] #2898 closed

[2017-09-15 06:43] matleppa commented on #2625
New endpoint is needed in order to  modify User roles.

* operation is allowed for admin
* roles are added/removed one by one

### Adding a role for a User ###
POST /users/{id}/roles

* successful operation
   * User is found and User does not already have same role
   * response with HTTP code 200

### Removing a role from a User ###
DELETE /users/{id}/roles

* successful operation
   * User is f

[2017-09-15 06:53] saransh-dev commented on #2508
Hi @brylie , What action should perform after click on RSS feed button on both API Catalog and Organization Profile ? Please advise.

[2017-09-15 07:00] matleppa commented on #2916
@marla-singer Yes.

[2017-09-15 07:17] matleppa commented on #2909
Comment from @marla-singer in PR 2876.

     { statusCode,
       body: {
        status: statusText,
       message: message
       }
     }

[2017-09-15 07:34] marla-singer commented on #1243
@Nazarah I don't understand your definition of Origin. Your wireframe contains table with column title Origin and this column has data as origin URL and some IP Address. I said API-Umbrella proxy doesn't store Origin URL and the previous version of Dashboard didn't display origin url as well.

Maybe you told about Location?

The pic below shows available data from API Umbrella
![joxi_screenshot_15

[2017-09-15 10:36] bajiat opened #2923 "Allow importing API configuration file(s)"

[2017-09-15 10:50] bajiat opened #2924 "Dashboard: Handling missing days in a timeframe"
# Description
If a user has selected a particular timeframe, e.g. Last 7 days, they should see those 7 days in the charts. This should happen even if there are days without any data, which should be represented as empty columns.

# Reason
- Our charts should be truthful: there should be an equal distance between days
- Our chart should fulfil the user expectation: seeing all of the last 7 days

#

[2017-09-15 11:55] #2613 closed

[2017-09-15 13:08] Nazarah commented on #1243
@marla-singer I might have some wrong information about calls origin then. Can you please tell me what is the purpose of IP address shown in the above screenshot you provided?

[2017-09-15 13:11] marla-singer commented on #1243
@Nazarah Don't have any experiment with this metric. @brylie @mauriciovieira do you have the purpose of showing API manager to data of IP addresses?

[2017-09-15 13:14] marla-singer opened #2925 "Button "View Analytic" on an API Profile"
**Title**:

Add the button "View Analytic" on an API Profile page

**Description**:

The button will redirect API manager from API profile directly to current API Analytic page

[2017-09-15 13:15] Nazarah commented on #1243
@marla-singer @mauriciovieira @brylie in future, we might need to get some source of the API calls being made. It might be necessary to determine if the calls are coming from browsers or apps itself. So some sort of metric to trace the calls might be helpful.

[2017-09-15 13:16] Nazarah commented on #2925
Like the idea. Perhaps we should also have a button in the Analytics page for an API that will redirect the user to API profile on clicking. :)

[2017-09-15 13:17] brylie commented on #2811
For this task we need the following:

- OAUTH2_CLIENT_ID: Client id given by the FIWARE IdM for the application
- OAUTH2_CLIENT_SECRET: Client secret given by the FIWARE IdM for the application
- PAYPAL_CLIENT_ID: Client id given by PayPal for the application in order to charge customers (Sanbox accounts are allowed)
- PAYPAL_CLIENT_SECRET: Client secret given by PayPal for the application in orde

[2017-09-15 13:18] marla-singer opened #2926 "Button "Go to API" on an API Analytic page"
**Title**:

"Add the button "Go to API" on an API Analytic page"

**Description**:

The button "Go to API" will redirect API Manager from API Analytic page directly to current API profile

[2017-09-15 13:29] brylie commented on #1243
What metric do you propose? We can get some information about the requesting client, such as:

- IP address
- city (from IP address geolocation)
- country (from IP address geolocation)
- latitude
- longitude
- user agent (e.g. type of web browser)
- user agent family
- referer

Beyond those, and possibly a few others, we are really limited here to what the proxy can learn from the request.

[2017-09-15 13:33] marla-singer commented on #2924
@bajiat When data range is "Last 30 days" then chart doesn't render all 30 days and bars are too thin
![joxi_screenshot_1505482255755](https://user-images.githubusercontent.com/20643403/30484551-65435c30-9a33-11e7-9659-c0c3479e3219.png)

[2017-09-15 13:46] bajiat commented on #2924
Can you provide an image of what happens?

[2017-09-15 14:11] brylie opened #2929 "Response time label on"
On the API Response Time trend chart, the label or arrow may be misleading.

# Observed result
The label text has a green **down arrow** with a label saying "#% higher than previous # days":

![screenshot_20170915_170809](https://user-images.githubusercontent.com/17307/30486248-99fbd6c8-9a38-11e7-8028-882c34cd6bac.png)

# Expected result
The API Response time label text would match the direction o

[2017-09-17 13:11] marla-singer commented on #2924
@bajiat I shared with you image where date range is "Last 30 days" and there displays all date that has a place to appear. I made it show you how it looks like.

[2017-09-18 06:14] matleppa commented on #2908
Comments from @brylie related to review of PR 2876.

 // in catalog_api_texts.js (or some other filename)

[code]

  // in catalog_api.js

[code]

[2017-09-18 06:19] matleppa commented on #2908
Numbers of main level (multiline) descriptions (at the moment):
* 9:  organizations/server/api.js
* 7: apis/server/api.js
* 8: users/collection/server/apis.js

[2017-09-18 06:53] bajiat opened #2930 "Manual testing for release 0.50.0"
Test the 0.50.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] New dashboard views: overview and detailed view
* [x] Verify enhanc

[2017-09-18 07:00] brylie commented on #2508
The RSS feed button should be a hyperlink to the RSS feed. In most browsers, the feed would be rendered as XML, if the user clicks. This allows someone to copy the RSS link and add it to their own RSS viewer.

Some examples can be seen on [NASA RSS Feeds](https://www.nasa.gov/content/nasa-rss-feeds) page.

[2017-09-18 07:46] #2897 closed

[2017-09-18 07:47] wuder4 opened #2931 "api name into url in dashboard"
I think it would be better to show API name instead of id in the url in dashboard.

![dashboard_url](https://user-images.githubusercontent.com/28555452/30532839-10ee3064-9c5f-11e7-81bf-ce9a221dda3e.png)

Also could we add back button from detailed view to overview of the dashboard.

[2017-09-18 08:09] bajiat commented on #2093
@brylie Please invite @matleppa, @marla-singer and @phanimahesh for a meeting to discuss both proxies and our domain model. Should happen 25 - 29 September

[2017-09-18 08:12] bajiat commented on #2791
@marla-singer Can you check whether this has affected production?

[2017-09-18 08:27] marla-singer commented on #2791
@bajiat It has affected to User Usability
![joxi_screenshot_1505723197054](https://user-images.githubusercontent.com/20643403/30533880-4a70ebba-9c64-11e7-8b75-b7650d60ea81.png)

[2017-09-18 08:31] bajiat commented on #2900
Would this be based on current language selection or user's locale?

[2017-09-18 08:42] bajiat commented on #2931
@brylie @Nazarah Should this we discuss these options:
- changing URL to slug
- moving detailed view to API profile

[2017-09-18 08:52] bajiat commented on #2924
You don't necessarily have to have a label for each day, but the days should not be omitted totally.