[2016-05-24 08:31] philippeluickx opened #959 "Understanding the problems around API"
Research to analyze the API field and gain better understanding of the problems faced by developers, team leads and business leads.

[2016-05-24 08:38] philippeluickx commented on #577
+1 on the versioning, we should add changelogs too then.

[2016-05-24 08:42] philippeluickx opened #960 "Versioning"
# Allow API owners to version their APIs

APIs change. We should allow to add different versions of the APIs.
# User story

As an API owner
I need change my API over time to a new version
so that I can move forward without letting the developers of the older version down
# Design

To be defined
# Definition of Done

The task is complete when the following criteria are satisfied:
- [ ] API owner ca

[2016-05-24 08:43] philippeluickx commented on #577
Created a new issue for versioning https://github.com/apinf/api-umbrella-dashboard/issues/960, so we can have 1 feature / 1 ticket

[2016-05-24 09:08] brylie commented on #847
It has been really hard to integrate Swagger UI into our documentation page. We have resorted to using an `iframe`, rather than the simple JavaScript call from the Swagger UI documentation. The [upstream support request](https://github.com/swagger-api/swagger-ui/issues/1757) does not seem to have any traction, unless we fix this and submit a pull request.

[2016-05-24 10:13] bajiat opened #961 "Contact form email is not working in nightly"
If a user fills the contact form on nightly.apinf.io and presses submit, the message never gets sent to the relevant email address specified in the settings form. If you try to enable the email in the settings form, the form complains about mailgun username and password.

To do: enable email in the settings, investigate what the form is expected for mailgun fields.

Also, check apinf.io settings a

[2016-05-24 10:36] philippeluickx opened #962 "Hierarchy and prioritization for project planning"
In order to communicate better about the roadmap, it would be a good idea to go from high-level epic to user stories to tasks.

Prioritization would happen on epics and user stories. Development on task level.

We will investigate a few alternatives and define a way of working.

[2016-05-24 10:37] philippeluickx commented on #962
Current implementation: Github and waffle.io

Challenge is that all issues from Github are treated all the same. This results in +200 tickets that can not be managed.

[2016-05-24 10:39] philippeluickx commented on #962
Not all user stories are captured in documentation.

Should all user stories be in the docs, even if no decision is made to implement them?

[2016-05-24 10:44] philippeluickx commented on #962
Idea:
Define user stories into the docs repository and create Github issues linked to the docs.

[2016-05-24 11:10] philippeluickx commented on #962
Idea:
Impact mapping - @brylie could you add some more info on this?

[2016-05-24 11:10] philippeluickx commented on #962
Idea:
Open discussion on Discourse for user stories

[2016-05-24 11:11] philippeluickx commented on #962
Idea:
Use other tools as https://taiga.io/ or https://www.zenhub.io/

[2016-05-24 12:17] philippeluickx opened #963 "Manage http://apinf.github.io/"
The first result when googling apinf is http://apinf.github.io/

That seems to be an old page. Should it redirect to apinf.io?

[2016-05-24 13:47] elnzv commented on #962
We were thinking about moving to Zenhub or at least talking.
I tried it myself and I like it. It integrates with Github website so I have one place to control it all.
So if we were voting, I would vote for Zenhub.

[2016-05-24 14:48] philippeluickx opened #964 "https://community.apinf.io/ is down"
It runs without https though, but since there is authentication, we should really have https.
Discourse has an easy option to enable ssl through Letsencrypt

Also the image logo is missing.

[2016-05-24 15:57] kyyberi commented on #954
Add liityntäkatalogi as API catalogue source if open api is not requirement. Meta data can be retrieved via CKAN API. Example how-to is there: https://github.com/apisuomi/apisuomi-2.0/tree/master/components/harvester

[2016-05-24 18:47] philippeluickx commented on #962
I have the impression that a combination of zenhub and Github docs for user stories would work as well. They both serve different purposes.

[2016-05-24 19:15] frenchbread commented on #962
+1 for Zenhub. Tried it myself, worked pretty good. Seems like Zenhub uses different labeling approach compare to waffle.io, that's why it's not possible to use them both at the same time.

[2016-05-25 06:44] brylie commented on #962
Cool. I was thinking about several parts of this picture, and suggest we consider the following incremental improvements to our existing process/tooling:

# Use Kanban only to vizualize work-in-progress
We have tried managing our backlog, e.g. prioritizing issues, from waffle.io. Kanban is not suited for this sort of task.

Lets use Kanban for what it is good at: **visualize work in progress*

##

[2016-05-25 07:21] bajiat commented on #931
List of unlocalised UI texts can be found from: https://github.com/apinf/api-umbrella-dashboard/wiki/Unlocalised-UI-texts

[2016-05-25 07:59] bajiat opened #965 "Add missing i18n tags to UI texts"
Based on an UI text audit, there is quite a large number of unlocalised UI texts. Refer to this file for complete list: https://github.com/apinf/api-umbrella-dashboard/wiki/Unlocalised-UI-texts

# Definition of done
- [ ] Check that all of the texts  listed in https://github.com/apinf/api-umbrella-dashboard/wiki/Unlocalised-UI-texts have i18n tags.
- [ ] Add any missing i18n tags.
- [ ] Alphabetiz

[2016-05-25 08:52] philippeluickx commented on #962
@brylie Thanks for the write-up!

[2016-05-25 10:13] elnzv commented on #929
Adding wireframes

![tab-api-docs_1](https://cloud.githubusercontent.com/assets/7489044/15536553/7b407054-227a-11e6-998c-9eb1b1936bfa.png)

![tab-api-docs_2](https://cloud.githubusercontent.com/assets/7489044/15536555/7fb13380-227a-11e6-8cc2-4fef90d5467f.png)

[2016-05-25 11:41] ccsr opened #966 "Study what monitoring service to be used"
Evaluate monitoring module to monitor APInf service. Which means monitoring servers status part of APInf service. We used Zabbix in past but any suggestion would be welcome. We would like to use this monitoring service for monitoring individual APIs in future. This monitoring service should be able to send alarms if opted for.

# User stories

@ccsr shall be deploying a VM for this purpose and giv

[2016-05-25 12:11] #937 closed

[2016-05-25 12:35] brylie commented on #949
@frenchbread we are deprecating the elastic-rest package, and moving the code into our core.

[2016-05-25 12:39] brylie commented on #949
What are your thoughts on this approach? We have a working solution as of yesterday.

[2016-05-25 13:56] #931 closed

[2016-05-25 15:42] frenchbread commented on #949
@brylie Yep. I've been trying to set up elastic-rest package the whole day now and it turns out that we do not actually need it. `elasticsearch` - original npm package has a good API in verison 12. I've also written a test app for it and will try to implement it on a dashboard.

[2016-05-26 06:25] Nazarah commented on #929
In the edit option, would there be option for changing the URL/ uploading a new file?

[2016-05-26 06:32] Nazarah commented on #929
Suggestion of keeping info icon to describe about the functionali
![7b407054-227a-11e6-998c-9eb1b1936bfa](https://cloud.githubusercontent.com/assets/17976243/15565665/d18bf6d6-2324-11e6-9fec-6d6a769bf501.png)

[2016-05-26 06:33] #933 closed

[2016-05-26 06:45] Nazarah commented on #929
As people always looks to functionality visible to them without any click, i suggest keep the tab in front view.
You can make the entire left menu hidden with a expand collapse button indicating about additional functionalities in the left.
This gives flexibility to users.

[2016-05-26 08:45] #935 closed

[2016-05-26 08:45] #940 closed

[2016-05-26 08:45] #941 closed

[2016-05-26 08:45] #942 closed

[2016-05-26 09:03] brylie commented on #949
@jykae resolved this task with a commit to the Meteor 1.3 upgrade branch.

[2016-05-26 09:09] brylie opened #968 "Add CII Best Practices badge to project README"
The [Linux Foundation Core Infrastructure Initiative](https://www.coreinfrastructure.org/) offers a ['Best Practices' badge](http://bestpractices.coreinfrastructure.org/) to [Free/Open Source projects who meet several quality standards](http://bestpractices.coreinfrastructure.org/projects). The badge displays a project's progress towards a 100% quality measurement.

Lets consider adding the CII Be

[2016-05-26 09:48] bajiat commented on #932
Vesa organised and facilitated the meeting. Taija will write the ideas down and incorporate them in backlog work.

[2016-05-26 09:49] bajiat commented on #808
@sebbel Thanks for being interested in continuing this task!

[2016-05-26 09:51] bajiat commented on #927
@frenchbread Any update on the progress?

[2016-05-26 09:54] bajiat commented on #785
@frenchbread What is the status of this task?

[2016-05-26 10:45] Nazarah commented on #938
Info Icon message: "You can update the documentation by uploading the latest Swagger file or providing an URL for the document. Currently only Swagger format is supported for upload."

[2016-05-26 11:51] bajiat commented on #932
Document created and pull request assigned to Vesa.

[2016-05-26 11:53] frenchbread commented on #927
Can not reproduce this error anymore. Since we depreciated elastic-rest package in #944. PR contains a logic [here](https://github.com/apinf/api-umbrella-dashboard/pull/944/files#diff-a742e565a035ab75b88d8f631ae18db1R15) to check if ES settings are provided. Should we close this issue then?

[2016-05-26 11:54] frenchbread commented on #949
Same as #927. Closing this issue..

[2016-05-26 11:54] #949 closed

[2016-05-26 12:48] brylie commented on #927
Closing, since resolved by PR #944

[2016-05-26 12:48] #927 closed

[2016-05-26 15:37] frenchbread commented on #939
Reopening this issue since it still exists:
[code]

[2016-05-27 06:36] brylie commented on #939
@frenchbread were you submitting the 'Contact' form or 'API Backend -> Feedback' form? The above error seems more relevant to the 'Contact' form, which is on the front page near the bottom.

[2016-05-27 08:33] frenchbread commented on #939
@brylie The bug was for the "Contact" form submit. Wrong issue..
Anyway the issue above it resolved with #970

[2016-05-27 08:33] #939 closed

[2016-05-27 08:35] bajiat commented on #785
@frenchbread Is this task in progress or should it be moved back to Ready column?

[2016-05-27 12:59] frenchbread commented on #785
Formally it's in progress. I'll finish it this sprint. On Fri, May 27, 2016 at 11:35 AM, Taija Björklund < notifications@github.com [notifications@github.com] > wrote:
@frenchbread [https://github.com/frenchbread] Is this task in progress or should it be moved back to Ready column?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub [https://github

[2016-05-29 11:05] philippeluickx opened #971 "Public channel on rocketchat"
A channel that we can use for our community. Similar to having a Slack channel.

[2016-05-29 11:05] philippeluickx commented on #968
+1

[2016-05-30 09:03] Nazarah opened #973 "APINF - UI Text Improvement"
Some UI texts in the APINF portal is not intuitive enough to convey their intent. We need to rewrite/improve those texts to make them more understandable

[2016-05-30 10:44] Nazarah opened #974 "APINF - Helpful texts to guide users to use the APINF services"
Adding descriptive texts in different views, tabs or single features to guide users about how to use APINF.

[2016-05-31 07:26] Nazarah opened #976 "Designing Catalog Page pt1"
catelogue page ideation Lo-fi/mid-fi

[2016-05-31 07:30] Nazarah opened #977 "Designing Catalog Page pt2"
Ideation and low-fi/Mid-fi
market.mashup.com/explore
apisuomi
tyk.io
redthedocs.io

[2016-05-31 07:49] elnzv commented on #367
@Nazarah, could you please help with text here?

[2016-05-31 10:01] Nazarah opened #978 "Heuristic Evaluation of APINF"
The current catelogue page

[2016-05-31 10:35] bajiat opened #979 "Documentation viewer 1.0"
This is an EPIC for issues related to Documentation viewer: uploading files, validating files, viewing documentation and making calls from documentation viewer

[2016-05-31 10:38] bajiat commented on #932
Document available in documentation repository (develop branch): https://github.com/apinf/docs/tree/develop/docs/ideas

[2016-05-31 10:38] #932 closed

[2016-05-31 10:41] bajiat opened #980 "Dashboard"
This is an EPIC for analytics / dashboard improvements 1.0.
Main purpose:
- allow owners to see analytics for the APIs they own
- optimize performance and look and feel

[2016-05-31 10:43] bajiat opened #981 "Catalog 1.0"
This is an EPIC for Catalog improvements: card view, API categories, sorting and filtering

[2016-05-31 10:44] bajiat opened #982 "Organization Management"

[2016-05-31 10:50] bajiat opened #983 "Multi-proxy"
This is an EPIC for allowing API owner to choose which proxy they would like to use for the API they are adding to Apinf

[2016-05-31 11:03] bajiat opened #984 "Service monitoring"
This issue is an EPIC for service monitoring issues

[2016-05-31 11:11] bajiat opened #985 "Documentation Editor"

[2016-05-31 11:25] Nazarah opened #986 "Studying Existing API catelogues"
https://market.mashape.com
http://apisuomi.fi
http://www.programmableweb.com
https://developer.ibm.com/api
https://apis-guru.github.io/browse-apis

[2016-05-31 11:28] Nazarah commented on #986
@philippeluickx : want to co-pilot?

[2016-05-31 11:31] philippeluickx commented on #986
Let's do it!

[2016-05-31 11:52] bajiat opened #987 "API Mocking"
This is an EPIC for mocking / sandboxing API calls

[2016-05-31 12:03] bajiat opened #988 "Create card view for API catalog"
# User story

# Wireframe
![Card catalog wireframe](https://raw.githubusercontent.com/apinf/docs/master/docs/Wireframes/Cards/1.%20Card1-%20Normal%20State.png)

Full list of wireframes can be found in our [documentation repository](https://github.com/apinf/docs/tree/master/docs/Wireframes/Cards).

# Definition of done
- [ ] Project includes card view design, implementing the card view, toggling im

[2016-05-31 12:06] bajiat opened #989 "Create smart container for catalog views"
# User story
As an Apinf user I want to sort the view of catalog based on popularity ( = bookmarking), recency, alphabetical order so that it is easier to find interesting APIs.

# Definition of done
## Sorting
* [ ] User can sort the catalog based on popularity: how many users have bookmarked the API
* [ ] User can sort the catalog based on recency: most recently created API backend first or last

[2016-05-31 12:11] bajiat opened #990 "Show most popular APIs on landing page"
# User story:

Change the sorting the in the front page according user story #989 (bookmarking, average star rating). Default sorting should be configurable by sys admin.

[2016-05-31 12:13] bajiat opened #991 "Add API categories to API backends catalog"
# User story
As an API consumer I want to find APIs based on category (travel, transportation, weather etc.) so that it is easier to find APIs that are relevant for me.

[2016-05-31 12:34] philippeluickx opened #992 "Commenting for developers on APIs"
Quick win is to implement a solution such as Disqus https://disqus.com/features/ or any other OS solution. Potentially link it with our Discourse instance?

[2016-05-31 12:51] bajiat opened #993 "Create get endpoints for API catalog API"
User story
As a partnering external API catalog maintainer I want to be able to read API backends from Apinf catalog through a REST API so that I can list them in the partner catalog

open item: Does this require filtering by owner?

[2016-05-31 12:53] bajiat opened #994 "Apinf Catalog and Mgmnt REST APIs"
This is an EPIC for providing a REST API endpoints for key Apinf features, such as catalog

[2016-05-31 12:58] bajiat opened #995 "Create get, post, put endpoints for API catalog API"
# User story

As a partnering external API catalog maintainer I want to be able to add API backends to Apinf catalog through a REST API so that my community / organization can use Apinf for API management

Related to #2102, #2336 and harvester

[2016-05-31 13:02] bajiat opened #996 "Create functionality for uploading an API logo"
# User story
As an API owner I want to be able to add a logo for my API so that it is easy to visually distinguish it from others in the catalog

(To be shown in card view only?)

[2016-05-31 13:07] bajiat opened #997 "Catalog filtering based on API owner"
# User story

# Definition of done
- [ ] Collection helper to fetch owner user name from API backend
- [ ] UI component to filter by user name
- [ ] Refer to wireframe to what UI component to use for filtering
- [ ] Choose a component library to choose owner from the actual owners
- [ ] Display the filtered results. Select from these probable options:
  - [ ] Filter inside of the template helper

[2016-05-31 13:33] bajiat opened #998 "Solution for testing APIs in API backend collection"
New potential users create APIs to test the Apinf functionality and its usefulness for them. This pollutes the API backend catalog and the recent APIs on landing page.

Ideas:
* differentiate between draft and publish states
* test mode for Apinf

[2016-05-31 17:49] #986 closed

[2016-06-01 06:16] Nazarah commented on #978
To Do
read catelogue user stories
look through the research work
See personas
Add heuristics documents
heuristic evaluation and recording

[2016-06-01 06:21] Nazarah commented on #988
There should be option to toggle between table and catelogue view in the catelogue menu

[2016-06-01 06:23] Nazarah commented on #988
For the current homepage of APINF, the cards for latest/most recent catelogues should change as per new design, so that it is consistence with the new card view in catelogue menu.

[2016-06-01 06:25] Nazarah commented on #990
Need to define the parameters and thresholds based on which most popular and most recent API card would be displayed in the landing page.

[2016-06-01 06:27] Nazarah commented on #996
Can be shown in tabular view as well to give user familiarity.
But not needed as essential.

[2016-06-01 06:28] Nazarah commented on #997
Which user accounts should be considered?
users registered in APINF, GitHub, any other place?

[2016-06-01 06:32] bajiat commented on #981
#990

[2016-06-01 06:33] Nazarah commented on #976
Issues:
#989
#990
#996

[2016-06-01 06:34] Nazarah commented on #977
Issues:
#991
#988
#997

[2016-06-01 06:42] bajiat opened #999 "Allow owner to select the API they are viewing the analytics for"
The main user of the dashboard is an API owner who checks the dashboard for performance and to get insight into API usage.  When API owner is viewing the dashboard, they should also be able to define or select an API they see analytics for (from their APIs)

# User story

I want to determine which API I want to see the analytics for
so that I can gain insight on single API usage

# Design

* Selec

[2016-06-01 06:48] bajiat opened #1000 "Create option(s) for analytics drilldown"
# User story

# Design
- Drilldown information to show by table. 2 styles, but same functionality

![apitable1](https://cloud.githubusercontent.com/assets/17976243/16484311/4019bc3e-3ec1-11e6-9bc3-7482e93ccaba.png)

![apitable2-drodown](https://cloud.githubusercontent.com/assets/17976243/16484316/47682192-3ec1-11e6-86c1-aa22601483bd.png)

![apitable2-hovered](https://cloud.githubusercontent.com/as

[2016-06-01 07:42] frenchbread commented on #816
Closing this since #970 is merged.

[2016-06-01 07:42] #816 closed

[2016-06-01 10:11] elnzv opened #1001 "Blank page apinf.io and latest develop"
## Steps:

Visit https://apinf.io

## Findings:

Nothing is showing. Blank page.
Console message:

[code]

Same thing when starting the latest develop.
Console message:

[code]

Chrome 51 on Ubuntu 16.04
Chrome 51 on Windows 10

[2016-06-01 10:13] #523 closed

[2016-06-01 10:22] bajiat opened #1002 "Show average response time per API"
Show the average response time per APIas milliseconds.

- Average response time per a selected API (related to #999)

# User story

I want to see average response time of API(s)
so that I can quickly glance how my API(s) is/are performing

# Design
_Add link to wireframe here_
![apinf analytics charts2](https://cloud.githubusercontent.com/assets/17976243/16449706/a859cd68-3e01-11e6-8db0-1a76477cc1

[2016-06-01 10:24] bajiat opened #1003 "Show number of unique users per API"
Show the the number of unique users

- Unique users per API visible in analytics dashboard
  - Unique users per all APIs owned
  - Unique user per a selected API (related to #999)

E.g. the 'unique users count' should update whenever the dashboard is filtered.

# User story

I want to see the number of unique users for my API(s)
so that I can use that figure to determine how popular my API(s) is/a

[2016-06-01 10:54] #1001 closed

[2016-06-01 11:25] brylie commented on #950
Initial solutions include the following:

- [swagger-codegen](http://swagger.io/swagger-codegen/)
- [swagger-node-codegen](https://www.npmjs.com/package/swagger-node-codegen)

[2016-06-01 11:49] brylie commented on #847
For now we have decided to continue using Swagger UI. At some later point, we may again consider switching to ReDoc.

[2016-06-01 11:49] #847 closed

[2016-06-01 11:51] #240 closed

[2016-06-01 12:23] #978 closed

[2016-06-01 12:25] Nazarah commented on #991
I will work on the wireframes.

[2016-06-01 12:25] Nazarah commented on #988
I will work on the wireframes.

[2016-06-01 12:25] Nazarah commented on #989
I will work on the wireframes.

[2016-06-01 12:26] Nazarah commented on #996
I will work on the wireframes.

[2016-06-01 12:26] Nazarah commented on #997
I will work on the wireframes.

[2016-06-01 12:31] bajiat opened #1006 "Load updated Swagger document to Documentation viewer"
# User story
As an API owner, I want to update a new version of Swagger document into Apinf so that I can correct errors in the documentation

[2016-06-01 12:34] bajiat opened #1007 "Make API calls directly from documentation viewer with own API key"
# User stories

As an API consumer, I want to make API calls directly from the documentation browser with my Apinf API key so that I can make authenticated API calls.
As an API consumer, I want to make API calls directly from the documentation browser with my own API key from a proxy connected to Apinf so that I can make the call without typing the key myself.

[2016-06-01 12:40] bajiat opened #1008 "Allow API owner to see analytics for own API key"
Apinf users can potentially have two user roles: they can be both API owners and API administrators. (In fact, they could even be consuming their own APIs). Because of this, owners should also be able to see their own API key usage.
# User story

# Design

_paste wireframe link here_
# Definition of done
- [ ] API owner has an option to see the analytics for their own key
- [ ] The option can be f

[2016-06-01 12:43] bajiat opened #1009 "Selecting analytics timeframe"
At the moment, Apinf users can select from hard coded months and years and interact with the overview chart, which contains the timeframe of a few days.
Apinf users viewing the dashboard page should be able to quickly see how they can select or determine the timeframe that is shown in analytics.  The UI can offer two different options to determine the timeframe, but it should contain the same opti

[2016-06-01 12:46] bajiat opened #1010 "Analytics for one organization's APIs"
As an API owner I want to see analytics for all APIs in my organisation so that I can get insigt into for organization apis in one glance

[2016-06-01 12:50] bajiat opened #1011 "Compare two APIs in dashboard"
Allow API owners to compare the usage of the APIs e.g. for viewing their popularity

Related to #999

Customer's wish: "vertaa kahta API:a, piirtäisi määrät ja paikat kartalle eri värillä"
Translation: compare two APIs, draw amounts and locations in map with different colors
# User story

# Design

_paste wireframe link here_
# Definition of done
- [ ] User can select the two APIs (from the APIs t

[2016-06-01 12:53] bajiat opened #1012 "Organize APIs according to organization in Catalog"
# User story

As a product owner I want the our APIs to be bundled or grouped together so that developers are able to find all APIs owned by my organization

[2016-06-01 12:56] bajiat opened #1013 "Flag inappropriate or defunct APIs"
# User story

# Definition of done

## Collection
* [x] Collection exists for flags
  * [x] Contains flag reason: inappropriate, defunct
  * [x] Contains a text field for description or comment
  * [x] Contains reference field for user id (which admin flagged the API)
  * [x] foreign key to the API backend getting flagged
* [ ] if the api is unflagged by admin, the information gets updated to db

[2016-06-01 12:58] bajiat opened #1014 "Allow community to flag inappropriate/defunct APIs"
# User story
As Apinf PO I want to use crowdsourcing for tagging / flagging inappropriate or defunct APIs

[2016-06-01 13:06] bajiat opened #1015 "Deploy master to apinf.io"
Master contains hotfix for #1001

[2016-06-01 13:11] bajiat opened #1016 "Include API lifecycle phase tag in catalog"
# User story

As an API consumer I want the APIs to have flags based on lifecycle phase so that I can distinguish testing APIs from production APIs in the catalog

[2016-06-01 13:12] bajiat opened #1017 "Lifecycle Management"
This issue is an EPIC for Lifecycle Management, allowing features like separating production APIs from testing APIs

[2016-06-01 13:20] bajiat opened #1019 "Api Backend"
This issue is the API Backend EPIC. The purpose of this EPIC is to enhance the advanced settings of APIs and also to enable decoupling from API Umbrella

[2016-06-01 13:21] bajiat opened #1020 "Setting for API visibility"
Add a setting / option for API owner so that they can hide their API backend from catalog. This is one of the first steps from supporting not only open APIs but also closed APIs.

_Open issue: Should this setting be available in API profile view or in Edit API settings view?_

Related issue: #1207

# User story

I want to be able to select whether my API is publicly visible in the catalog or not

[2016-06-01 13:23] bajiat opened #1021 "Show statistics for API failures/uptime"
# User story
As an Apinf user I want to see the percentage of failures/uptime (timeout, bad gateway, internal server error)

[2016-06-01 13:25] #744 closed

[2016-06-01 13:27] bajiat opened #1022 "Show API uptime in API catalog"
# User story
As an API consumer I want to see the API "uptime" in the catalog so that I can discard "unreliable" APIs without going into details view.

[2016-06-01 13:34] bajiat opened #1023 "Documentation Converter"
This issue is an epic for following user stories related to converting between different API documentation formats (e.g. API Blueprint to Swagger, RAML to Swagger) so that API owner can incorporate the documentation into Apinf

[2016-06-01 20:22] shaliko commented on #966
https://github.com/apinf/docs/pull/7

[2016-06-01 20:23] shaliko commented on #966
![metric_tools_-_google_sheets](https://cloud.githubusercontent.com/assets/36139/15724473/da39e132-284f-11e6-8038-7afd792e70dc.jpg)

[2016-06-02 05:13] kyyberi opened #1024 "Scratchpad in navigation"
I stumbled upon "scratchpad" in ebookers. It automatically stores links to latest items I have looked. That seems handy. Perhaps the concept could be applied to apinf.io as well.

![screenshot from 2016-06-02 08 11 40](https://cloud.githubusercontent.com/assets/1927158/15734552/bd65ff24-2899-11e6-87a8-50e9cb659759.png)

[2016-06-02 05:35] Nazarah opened #1025 "Make APINF Setup fields Mandatory"
Referring from PR #925

Currently the fields to set up APINF are not mandatory by default.
So if Users leave them empty or give incorrect data, they still gets saved.
However in the analytics because of the empty/incorrect data, proper visualization does not appear. This may confuse users.

[2016-06-02 05:40] Nazarah commented on #1025
Requirements:
Add "*" sign beside field names to show them as mandatory.
On clicking save with leaving empty fields, update should not be possible.
Use CSS alert text under empty fields instructing users to provide correct data.

[2016-06-02 07:50] Nazarah commented on #1014
@bajiat : Do you want this option to be in both card and tabular view? Or only tabular view would be enough?

[2016-06-02 07:51] Nazarah commented on #1014
This option should also be available in individual API page as well.

[2016-06-02 07:54] Nazarah commented on #990
@bajiat  Which categories should we consider to show the APIs in Landing page?
No. of consumers
no. of times made favorite
uptime

Also, should er keep the current number of 8 APIS in the landing page? or do you want to change it?

[2016-06-02 07:56] Nazarah commented on #1016
1. This should be possible to do only by API owners for their own APIs, right?
2. Also, should we make this feature available in tabular view?
because adding too many things in card view would make it clumsy
3. The option should also be included in individual API pages.

[2016-06-02 08:40] Nazarah commented on #978
Heuristics and Severity rating doc:
https://github.com/apinf/api-umbrella-dashboard/blob/develop/docs/UX/Heuristics

[2016-06-02 08:41] Nazarah commented on #978
Heuristic Evaluation Report:
https://github.com/apinf/api-umbrella-dashboard/blob/develop/docs/UX/APINF-Catalogue-Heuristic-Evaluation-Report

[2016-06-02 09:25] #650 closed

[2016-06-02 10:04] #1015 closed

[2016-06-02 10:45] bajiat commented on #966
@shaliko Please add additional details for the following:
- Setup complexity: more explicit details about the setup, how to do the setup
- Resource: what does "not requires much resources" and "resource hungry" mean in practise, where do these conclusions stem from
- What is the criteria for considering RDBMS negative compared to own database?
- Communication protocol: can you give a reference or

[2016-06-02 11:13] bajiat commented on #557
Create the page in Github pages, they will rbe displayed in apinf.org
redirect apinf.com to apinf.org

[2016-06-02 11:34] Nazarah opened #1026 "Selection of API categories"
API needs to be filtered or sorted according to their functionality and purpose.
Need to have a set of categories selected.

[2016-06-02 11:35] Nazarah commented on #1026
@philippeluickx : would you like to co-pilot?

[2016-06-02 11:38] bajiat commented on #989
Reliability needs to move to another issue since we don't have API monitoring analytics yet. So it will be completed later.

[2016-06-02 11:41] bajiat commented on #997
@brylie Check if we have unique usernames, including Github registrants?

[2016-06-02 11:44] bajiat commented on #966
See also the user story in #1022

[2016-06-02 11:57] bajiat commented on #871
@elnzv Your PR will probably close this issue as well

[2016-06-02 11:57] philippeluickx commented on #1026
Sure thing, next Tuesday?

[2016-06-02 12:00] bajiat commented on #887
@elnzv Your PR probably closes this, since the documentation section has been removed from the API settings form

[2016-06-02 12:19] bajiat commented on #1025
This is not about API configuration but about Apinf setup. We need to first understand what are minimum required fields to make it work

[2016-06-02 12:21] bajiat commented on #663
We are deprecating the documentation section in favor of displaying documentation in the API backend tab view as its own tab. The issue can be closed when the PR for doc tab is closed.

[2016-06-02 12:25] bajiat commented on #795
Closing as duplicate. Covered partially in Documentation tab rewrite. Codegen also considered in research task #950.

[2016-06-02 12:25] #795 closed

[2016-06-02 12:43] Nazarah commented on #1026
:+1:

[2016-06-02 12:49] Nazarah commented on #1025
Fixing up the title.
@frenchbread: would you like to look for the minimum details for setting up APINF?

[2016-06-02 12:52] Nazarah commented on #989
Currently considering Most Recent, Most Popular, Most Consumed and Highest Uptime.

[2016-06-02 13:06] bajiat commented on #990
@Nazarah
Popularity should be based on no of consumers or number of calls, bookmarking and voting. I would not consider uptime - that's related to reliability.

Number of apis depends on the design for cards, can't say.

[2016-06-02 13:08] bajiat commented on #1014
@Nazarah I'm actually now wondering whether there should be two cases: flagging (on individual page) and showing the flag on catalog

[2016-06-02 13:13] bajiat commented on #961
Check that the correction is also applied to settings wizard.

[2016-06-02 13:26] #922 closed

[2016-06-02 13:28] bajiat commented on #557
Related to #963

[2016-06-02 13:29] bajiat commented on #958
Should this be part of project page?

[2016-06-02 13:30] bajiat commented on #557
Check also #958 Development manifesto

[2016-06-02 13:32] bajiat commented on #948
@elnzv Isn't this also closed by your PR?

[2016-06-02 13:34] philippeluickx commented on #958
Makes sense to me.

[2016-06-02 13:38] bajiat commented on #1025
@nazarah I have added this to planning so that it would be included in the next sprint. So no need to assign it today. :)

[2016-06-02 13:43] frenchbread commented on #1025
@Nazarah This calls for separate PR and a list of minimum fields that are required for APINF to work correctly. Let's take this issue to the next sprint.

[2016-06-02 13:47] frenchbread commented on #961
Contact form has been fixed in #970. Only check if settings are provided still needed.

[2016-06-02 13:55] bajiat commented on #961
@frenchbread Thanks for clarification!

[2016-06-02 16:18] kyyberi commented on #1026
Categories do not work when amount of APIs is high. That can be seen for example in programmableweb.com. Exploring other options might be good.

[2016-06-02 16:25] kyyberi commented on #1026
Using multiple tags instead of distinct categories is brilliant. It serves the complex reality of APIs, where very few APIs belong in one category only. Putting APIs in multiple categories causes other UX issues.

[2016-06-02 16:33] kyyberi commented on #1026
Better yet, explore option to utilize AI to build maps (relations etc) of APIs. Watson understands English: input API meta data -> utilize results.

[2016-06-03 05:13] #976 closed

[2016-06-03 09:06] philippeluickx commented on #1026
+1 on Jarko's ideas. Generally pre-defined categories lead to bad design and experience. Free tags would be best, but I would add an autocomplete (at least) when adding tags. Maybe also have a suggest feature or display the most used ones.

[2016-06-03 12:02] #785 closed

[2016-06-03 12:29] bajiat opened #1027 "Update automatic deployment for nightly"
To do
* Change MUP to MUPx
* Check all configuration settings so that they are aligned with other production settings

[2016-06-03 14:06] bajiat opened #1028 "Install and configure Prometheus for internal service monitoring"
Install Prometheus monitoring service to a VM.
Configure the service to monitor apinf.io, api umbrella and other internal services as agreed with @ccsr. Make sure that email alerts are created when services are down.

[2016-06-05 14:29] shaliko commented on #966
@bajiat Updated, but because we decide use Prometheus for internal monitoring, looks like we no need store that research in Apinf docs repository ?

[2016-06-06 05:10] Nazarah opened #1031 "Listing of API catalogues"

[2016-06-06 06:29] Nazarah commented on #1026
I am listing API categories on  market mashup, IBM and programmable web.
Market mashup's sounds a reasonable list, although @kyyberi 's logic outweights this.
Categories can be populated based on a given list as well as customized ones.
However I am also considering API filtering based on the protocols they use and lifestyle

[2016-06-06 06:59] Nazarah opened #1032 "Need to know Lifecycle phases of API"
For showing life cycles of API in list/card view and  filtering lists based on that, we need life cycle phases. Also need to determine should an API will have only one stage at a time.

[2016-06-06 07:26] #962 closed

[2016-06-06 07:26] #934 closed

[2016-06-06 07:28] #950 closed

[2016-06-06 07:37] brylie commented on #991
@Nazarah will add the categories research document.

[2016-06-06 07:40] bajiat opened #1033 "Documentation viewer testing"
Perform explorative manual testing for the new Documentation Viewer, which is now included in the tabbed interface for API backend, on nightly.apinf.io.

#Definition of done
* [x] Get a hold of Swagger document for API backend.
 * [x] Log in to nightly.apinf.io with an account that has added an API backend. Upload a Swagger document for an API you own.
* [x] Check that it is not possible to add a

[2016-06-06 07:45] bajiat opened #1034 "Create Apinf test cases"
Continue with the Apinf Dashboard Test Cases document. Create successful and unsuccessful test cases with step by step instructions.

[2016-06-06 07:52] brylie commented on #1013
@frenchbread are you interested in taking this task?

[2016-06-06 07:57] brylie commented on #961
@frenchbread will you take this task?

[2016-06-06 07:58] brylie commented on #1025
@frenchbread will you take this task?

[2016-06-06 08:01] brylie commented on #918
@frenchbread will you take this task? It may be that we need to pass the HTTP response code to the user, and allow other status codes than 200.

[2016-06-06 08:09] bajiat opened #1035 "HiFi wireframe for catalog card view"

[2016-06-06 08:09] bajiat opened #1036 "HiFi wireframe for catalog filtering"

[2016-06-06 08:09] frenchbread commented on #1013
Self-assigned

[2016-06-06 08:10] bajiat opened #1037 "HiFi wireframe for catalog sorting"

[2016-06-06 08:11] bajiat opened #1038 "HiFi wireframe for catalog table view"

[2016-06-06 08:12] bajiat opened #1039 "LoFi wireframe(s) for dashboard"

[2016-06-06 08:25] shaliko commented on #1028
@bajiat, @ccsr Am I right understood that we need these metrics:

1) Shutdown with email alert.
2) CPU, disk I/O, network statistics.

For second requirement I plan use https://github.com/prometheus/node_exporter

[2016-06-06 08:55] frenchbread opened #1040 "Refactor dashboard code"
- Refactor code to be more easy to read and maintain.
- If the logic architecture allows it, try to make code more object oriented

Since this is not creating any new functionality, but rather improving existing one, do not spend more than 1 hour on this task.

# Definition of done
- [ ] Dashboard contains no functions with subfunctions
- [ ] If possible, dashboard functions are objects with metho

[2016-06-06 09:01] #977 closed

[2016-06-06 09:50] jykae commented on #997
@bajiat @brylie Requiring unique username work was done last autumn in the beginning (or before Apika. But I can verify it.

[2016-06-06 11:12] Laura-Sampo opened #1041 "Deleting feedback from api's doesn't ask confirmation"
Steps:

Visit https://nightly.apinf.io
Go to dashboard
Go to catalogue
Select any api
Go to feedback
Write feedback
Delete feedback

Feedback will be directly deleted, there doesn't come any "Are you sure?" -question. Should it come?

Screenshot:
![image](https://cloud.githubusercontent.com/assets/11177395/15820200/a41cbabc-2bf0-11e6-96d4-9267a6416b16.png)

[2016-06-06 11:15] elnzv opened #1042 "API Documentation Editor option is not working"
1. start latest develop
2. go to /settings
3. update API Documentation Editor

Result:
![hiy2wx8psl](https://cloud.githubusercontent.com/assets/7489044/15820271/095fb7e4-2bf1-11e6-8153-048192e6042b.gif)

[2016-06-06 11:17] brylie commented on #570
Possibly related to the following upstream feature request:

- https://github.com/NREL/api-umbrella/issues/38

[2016-06-06 11:42] brylie commented on #997
@jykae cool. What additional work is required by this task?

[2016-06-06 11:47] jykae opened #1044 "baseUrl undefined when creating new apiBackend"
https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/methods/settings.js#L9 causes error when creating API backend, getting settings from Settings collection so that we don't get undefined

[2016-06-06 11:55] brylie commented on #1040
@frenchbread is this a work in progress or should we wait for the Dashboard sprint?

[2016-06-06 11:56] brylie commented on #1032
@Nazarah we started researching this question, and have a working document here:

http://apinf-documentation.readthedocs.io/en/latest/research/API_Lifecycle/

[2016-06-06 12:06] jykae commented on #997
At least I think learning aldeed:tabular package, how to extend filtering with that.

[2016-06-06 12:54] bajiat commented on #966
@shaliko But doesn't it still monitor Apinf services / modules (like Umbrella)?

[2016-06-06 13:46] #929 closed

[2016-06-06 13:46] #367 closed

[2016-06-06 13:46] #465 closed

[2016-06-06 13:46] #663 closed

[2016-06-06 13:46] #871 closed

[2016-06-06 13:46] #887 closed

[2016-06-06 13:46] #938 closed

[2016-06-06 13:46] #948 closed

[2016-06-06 13:46] #1006 closed

[2016-06-06 13:46] #1042 closed

[2016-06-06 13:48] frenchbread commented on #1040
@brylie It's not in progress, so let's take this issue to the dashboard sprint.

[2016-06-07 06:10] Nazarah commented on #1031
@philippeluickx : Completed the list.
Link: https://github.com/apinf/docs/blob/master/docs/research/API%20Categories

Please have a look and fix up if I made some errors.

[2016-06-07 06:50] bajiat opened #1047 "Install Swagger Codegen"

[2016-06-07 07:00] #1047 closed

[2016-06-07 07:02] ccsr commented on #1047
Created VM and installed Swagger Codegen and mapped it to codegen.apinf.io

[2016-06-07 07:04] ccsr opened #1048 "Integrate codegen.apinf.io with APInf as one of the service for developers"
# User story

As an API consumer, I want to download code snippets of APIs in my programming language so that I can get a starting point for using the API in my application.

[2016-06-07 07:07] bajiat opened #1049 "SDK generator"
This is an EPIC for allowing developers to view or download code samples or SDK's for the most frequently used programming languages

[2016-06-07 07:24] brylie opened #1050 "Add Travis CI build status to README"
As our project matures, and we introduce more automated tests, our Travic CI service will be a useful indicator of project stability. Lets add the Travis CI build status icon to our README, so that community members can see whether the latest build is passing.

[2016-06-07 07:35] bajiat opened #1051 "Documentation viewer 2.0"
This is an EPIC for Documentation viewer enhancements (Swagger): making calls through a connected proxy, using the user's own API key

[2016-06-07 07:41] ccsr opened #1052 "SEO as a Service for APInf customers"
When an API is added by the API owner, API needs to be searchable through search engines. This is very important for the customers who are making money with APIs

[2016-06-07 07:42] frenchbread opened #1053 "Setup wizard form does not submit and save settings"
When starting Apinf locally reset, setup wizard pops-up. When filling up all the fields and submitting the form nothing happens and it's not possible to proceed to the dashboard page.

## Steps to reproduce

- Run `meteor reset` in terminal (in project root)
- Run app
- Navigate to home page in the browser & signup
- After signup setup wizard appears
- Fill all the form fields
- Click submit - > n

[2016-06-07 07:58] elnzv commented on #1053
Getting same using latest develop.

[2016-06-07 08:26] bajiat opened #1054 "Host Apinf REST APIs in Apinf catalog"
# User story

# Goal
- Add or update APInf  APIs to apinf.io
 - Provide at least
  - Name
  - URL
  - Description
  - lifecycle status
  - APInf logo
  - Link to OpenAPI endpoint

[2016-06-07 08:38] philippeluickx opened #1056 "License management"
# Allow API owners to manage the licenses of their APIs
We should encourage API owners to define a license for their API. Provide common options and link with more info.

More info: [API commons] (http://apicommons.org/)

# User story
As an API owner
I need to be able to select a license for my APIs
so that I let the world know how they can legally use my APIs

# Design
To be defined

# Definition

[2016-06-07 08:38] brylie opened #1057 "Documentation Editor 'host' not defined"
When updating the Documentation Editor setting, in either the wizard or settings page, the setting is saved. However, when viewing the documentation editor route, or checking for the documentation editor setting in helpers, we get an error in the console:

[code]

Make sure we are looking for the right object in the settings collection, and that we have the proper subscription available when using

[2016-06-07 08:38] philippeluickx commented on #577
Createad a new issue for licensing https://github.com/apinf/api-umbrella-dashboard/issues/1056

[2016-06-07 08:39] #1053 closed

[2016-06-07 08:41] brylie opened #1058 "Determine how to make settings sub-fields conditionally required"
Some fields on the settings page should only be required if the setting is enabled. For instance, the API Documentation Editor host should be required if the API Documentation Editor setting is enabled.

Determine how to conditionally require and/or validate sub-settings when the feature is enabled on the settings page and wizard.
# Related

Related upstream support request:
- https://github.com/a

[2016-06-07 08:44] philippeluickx opened #1059 "Improved search in catalog"
# Improve search functionality in catalog

Finding the right API is an essential functionality. We can improve search compared to competition.
# User story

As an API developer
I want to find the right API as fast as possible
so that I save time and effort, while knowing I have made the right choice.
# Design

To be defined
# Definition of Done

The task is complete when the following criteria are

[2016-06-07 08:52] philippeluickx commented on #1052
Seems like prerendering is still the way to go.

http://guide.meteor.com/deployment.html#seo
http://info.meteor.com/blog/seo-automatic-prerendering-meteor-app
https://github.com/prerender/prerender

[2016-06-07 09:49] bajiat opened #1061 "Allow multiple API Umbrella instances per one Apinf instance"
# Multiple API Umbrella instance connected to one Apinf layer/instance

Organizations owning APIs may want to be able to have their own API Umbrella  At the same time, they would like to share the Apinf UI with other organizations, so that their APIs could be found from the same catalog as the APIs from the other organizations. This enhances API disoverability.
# User story

[2016-06-07 10:24] brylie commented on #997
@bajiat what is the definition of done for this task? I.e. what are the expected outcomes?

[2016-06-07 10:25] brylie commented on #997
@Nazarah is there a wireframe that shows an 'API owner' filter field? We could use the wireframe as reference for this task.

[2016-06-07 10:27] brylie commented on #1054
@bajiat good user story. There is at least one related issue in the NREL API Umbrella repository that could be of use here.

- https://github.com/NREL/api-umbrella/issues/211

[2016-06-07 10:59] brylie opened #1063 "Move /docs to documentation repository"
The api-umbrella-dashboard repository contains partial project documentation, under the /docs directory. Move the files from /docs into the documentation repository.

[2016-06-07 11:09] Nazarah commented on #991
Added the link to API categories:
https://github.com/apinf/docs/blob/master/docs/research/API%20Categories

[2016-06-07 11:15] Nazarah commented on #1026
Added the document listing  API protocols.
https://github.com/apinf/docs/blob/master/docs/research/API%20Protocols
@philippeluickx  , @kyyberi want to have a look and contribute? :)

[2016-06-07 11:16] #1026 closed

[2016-06-07 11:43] bajiat opened #1064 "Import/export deployment settings as json file"
# Provide an option to export and import Apinf settings as a json file

We have stopped using settings.json file for configuring Apinf. In order not to obliged to type all settings, if for example database needs to be reset, we should provide an option to export and import configuration settings.
# User stories

# Definition of done
- [ ] Apinf administrator can export all settings (Api Umbrella,

[2016-06-07 12:04] philippeluickx commented on #1026
Didn't even know all of them... Good docs!

[2016-06-07 12:11] bajiat opened #1066 "Select charting library and research available data types"
The main user for the dashboard is an API owner, who needs to be able to see analytics for the API(s) he/she owns.
Take the learnings related to visualizing analytics from service project follow-up dashboard and apply them to visualising analytics for API owner on the Apinf dashboard page.

# Definition of done
- [x] Determine which charting library to use: NVD3 or DC
- [x] Research the available

[2016-06-07 12:13] bajiat opened #1067 "Configuration"
This is an EPIC for settings improvements (Settings wizard, settings page)

[2016-06-07 12:15] brylie opened #1068 "Refactor settings code to fix startup errors"
When starting Apinf without settings, we noticed a few errors. Specifically, the following settings need validation before we attempt to use them in our code:

- API Umbrella web
- email
- Github

Audit our code to resolve any issues caused by non-existant settings.

[2016-06-07 12:23] #1063 closed

[2016-06-07 12:31] brylie opened #1069 "Cleanup JSON routes code, since we are not rewriting swagger baseUrl anymore"
In Sprint 23, we decided not to rewrite swagger documentation files, but rather to render them directly in Swagger UI. This differs from a previous decision, where we thought it important to route API test calls from Swagger UI through our proxy.

In line with the new decision, remove any code related to rewriting swagger files, such as the JSON routes code.

[2016-06-07 13:14] #1044 closed

[2016-06-07 13:14] #1068 closed

[2016-06-07 13:14] #1069 closed

[2016-06-07 13:24] philippeluickx opened #1071 "Filter out bots when displaying analytics data"
API endpoints are being crawled by bots and this skews the data. We should have a blacklist to filter out these bots.

[2016-06-07 13:26] philippeluickx opened #1072 "Show origin of calls for analytics"
The (main part of the) url that does the call to the API endpoint. Let's say abc.com uses the API of xyz.com, then we should show this info to the xyz.com owner. Include the count for that time period as well.

[2016-06-07 14:05] jykae commented on #961
Re-opening, because only partly fixed with #1070

TODO:
- check form validation
- mailgun settings are saved correctly
- and finally that the call for Mailgun succeeds.

![nayttokuva 2016-06-07 kello 16 53 48](https://cloud.githubusercontent.com/assets/293452/15860436/cb45ab44-2cd1-11e6-8bf9-7d06e0f4960f.png)

[2016-06-07 14:21] philippeluickx commented on #966
I have the feeling we have made a decision to go with Prometheus, right? If so, let's close this ticket, feel happy about it and move on!

[2016-06-07 14:22] philippeluickx commented on #979
All tickets for this epic are Done, can we close this one too?

[2016-06-07 14:22] frenchbread opened #1073 "Exception "Sync API Umbrella Users and API Backends" TypeError: Cannot read property 'length' of null"
Sometimes getting exception while app is running:
[code]

[2016-06-07 14:33] philippeluickx commented on #1013
Are there related tickets to this? There are a couple of interesting use cases:
- Optional description field (why does user flag this API)
- alert (email) the API owner when someone flags
- Use flags in scoring when ranking APIs
- Display flagged APIs in the dashboard for API owners

Also some concerns: let's say my server went down for 1h and some people flagged the API. Now I relaunched the serv

[2016-06-07 14:43] philippeluickx commented on #989
I would simplify and only keep Most Popular. Most Consumed is very similar and provides the same information more or less.

Also, what use case is there behind "Most Recent". An API that has not changed in 2 years time might be still very much up-to-date. Just someone has done a good design and you try to keep developers happy by not changing too much. So what is the value of most-recent?

[2016-06-08 06:22] jykae commented on #961
@frenchbread I try to look what is left in this, setup wizard accepted but when changing in settings page validation errors are still thrown when clicking Save button.

[2016-06-08 06:56] bajiat commented on #1033
@sarala Documentation viewer is ready for testing and is available in nightly.apinf.io (Automatic nightly deployment is working again)

[2016-06-08 07:04] brylie commented on #1013
@bajiat lets work on the definition of done for this task with @frenchbread

[2016-06-08 07:05] brylie commented on #989
@bajiat we should include a definition of done in this task.

[2016-06-08 07:09] Nazarah opened #1074 "APINF Logo gets hidden if menu in dashboard page is collapsed"
Right now the clickable side menu icon in dashboard (and other views) are located after the site logo.
For such reason, the site logo appears completely when the side menu is expanded.
The site logo gets partially hidden when the menu is collapsed

[2016-06-08 07:14] bajiat commented on #979
One thing is missing in my opinion: we have a validation method for Swagger file validation, but it is not used at the moment. The validation needs to be moved from backend to client side. This needs one more ticket.

[2016-06-08 07:14] brylie commented on #961
This is related to sub-field validation. In effect, we want the mailgun settings to be required if the feature is enabled, but not required otherwise. We have not figured out a simple way to do this.

[2016-06-08 07:15] bajiat opened #1075 "Use Swagger file validation method"
Swagger file validation method and library was included in task #523. The method is not used to validate the files and it needs to be moved from backend to client.

This is an enhancement to Documentation Viewer. It is not urgently required for Documentation Viewer 1.0 since the Swagger UI is capable of validating the files.
# Definition of done
- Swagger files are validated after user has selecte

[2016-06-08 07:17] brylie commented on #1072
Please give a specific example using Apinf.io.

[2016-06-08 07:27] jykae opened #1077 "Leaflet-heat package throws Uncaught IndexSizeError"
On front page in browser console:

[code]

[2016-06-08 07:33] philippeluickx commented on #1072
This is similar to google analytics. You want to know where users come from. So let's say "apicatalog.com" is a webapp that uses the apinf.io API to show a list of APIs, then I as a API owner would like to see that this webapp exists and how often they use my API.

The value is that you want to discover which use cases people implement for your API. If you only have a username (the person that reg

[2016-06-08 07:55] saralavanip commented on #1033
@bajiat , Thanks for the info.

[2016-06-08 07:55] frenchbread commented on #961
@jykae OK, thanks

[2016-06-08 08:25] jykae opened #1079 "Chartjs debug print summer cleaning"
Cleanup debug print left when working on elasticsearch.

[2016-06-08 08:26] bajiat opened #1080 "Restructure catalog and API backend code structure"
Modularize the code structure for Catalog and API backend.

# User story
As an Apinf architect / developer
I néed project to be structured in a consistent and predictable way
so that code structure is aligned with business structure (EPICs) and maintainability is enhanced

# Definition of done
* [ ] Catalog and API backend code is moved to route level
* [ ] Restructure subfolders around Meteor fra

[2016-06-08 08:29] bajiat commented on #1013
@philippeluickx Good questions. We have another issue for crowdsourcing where these questions will come even more critical. I'll add the issue link later. This ticket is for the administrative usage only.

[2016-06-08 08:30] jykae commented on #1027
Not so urgent now as I thought, nightly.apinf.io became green after last weekend. Some issues in travis-ci service probably.

[2016-06-08 08:38] philippeluickx commented on #1013
Ok, thanks for the clarification. I got confused because the flagging showed up in some of the mockups.

[2016-06-08 08:40] bajiat commented on #1013
Your comments will be good enhancements for both this task and the crowdsourced flagging,

[2016-06-08 08:41] bajiat commented on #1013
@frenchbread Please check the definition of done. Is your estimate still valid?

[2016-06-08 08:52] bajiat commented on #997
@jykae Please check the definition of done: does your estimate 3 days still hold?

[2016-06-08 09:03] brylie commented on #988
@Nazarah and @elnzv the task description now contains one wireframe and a link to the card catalog wireframes folder in our documentation repository.

[2016-06-08 09:04] bajiat commented on #979
Actually, I'm taking my comment back. File validation can be an enhancement since Swagger UI is capable of handling Swagger validation. It would be better for the user to know it already when uploading the file, but we can include that task in Documentation viewer 2.0. Closing the EPIC.

[2016-06-08 09:04] #1079 closed

[2016-06-08 09:05] #979 closed

[2016-06-08 09:06] frenchbread opened #1081 "Cannot read property 'host' of undefined"
[code]
error pops up on dashboard page while getting elastic-search data.

[2016-06-08 09:15] frenchbread commented on #1013
@bajiat Yes.

[2016-06-08 09:20] brylie commented on #1072
API calls come directly from the application IP address, and may not contain information such as [HTTP 'referer'](https://en.wikipedia.org/wiki/HTTP_referer). How might our proxy get the referring application name, domain name, or other relevant metadata?

[2016-06-08 09:22] brylie commented on #961
@frenchbread as a reference, we will probably need to do something similar to the following:

- SimpleSchema: [Make a field conditionally required](https://github.com/aldeed/meteor-simple-schema#make-a-field-conditionally-required)

[2016-06-08 09:24] brylie commented on #997
@bajiat and @Nazarah is there a wireframe related to this task?

[2016-06-08 09:27] #1081 closed

[2016-06-08 09:42] #1035 closed

[2016-06-08 09:42] #1037 closed

[2016-06-08 09:44] Nazarah opened #1084 "Heuristic Evaluation of APINF Dashboard"

[2016-06-08 09:58] Nazarah opened #1086 "Show information about number of consumers for each APIs"
"As an API user I want to know how many call have been made to a particular API so that..."

[2016-06-08 10:01] Nazarah commented on #1086
Idea about showing the information
![1 card1- normal state](https://cloud.githubusercontent.com/assets/17976243/15890589/034fba82-2d79-11e6-8291-b6bd6646ea61.png)

![1 cardview-2](https://cloud.githubusercontent.com/assets/17976243/15890599/0c82a89e-2d79-11e6-9904-c23fd511e6e6.png)

[2016-06-08 10:05] bajiat commented on #1086
@Nazarah This is not probably number of calls but number of individual consumers?

[2016-06-08 10:48] jykae opened #1087 "Add Api Backend wizard causes always error after recent methods changes for settings handling"
After previous hotfixing for Settings handling and setup wizard, add API backend wizard causes always error because functions it tries to call were nested under one syncApiBackends server method.

Move functions needed to callable place and get Api Umbrella host from settings.

Check out this: https://github.com/apinf/api-umbrella-dashboard/blob/develop/client/views/api_backends/add/wizard.js#L80

[2016-06-08 11:01] philippeluickx commented on #1072
Good point, to be investigated? Also, this might be data that is saved on
the proxy level?

On Wed, Jun 8, 2016, 12:20 Brylie Christopher Oxley <
notifications@github.com> wrote:

[2016-06-08 11:05] brylie commented on #1072
Yep, API Umbrella saves at least the following related data:
- IP address
  - geolocation
- API Key
- user

![API Umbrella screenshot](https://github.com/apinf/api-umbrella-dashboard/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+assignee%3Abrylie+milestone%3A%22Sprint+23%22)

Our analytics data comes straight from the paroxy, so we are somewhat limited to what it collects.

[2016-06-08 12:18] jykae commented on #997
@brylie Added "Blocked" label because had discussion we are changing from aldeed:tabular package.

[2016-06-08 13:07] bajiat opened #1089 "Create catalog table view"
# User story

# Design
Add wireframe here

# Definition of done
* [ ] Table view that is pre-populated with data from smart container exists
* [ ] Table row acts as a hotspot for the individual API backend detailed view
* [ ] Table row contains bookmarking widget and rating widget

[2016-06-08 13:20] saralavanip commented on #1033
Adding API backend as  new user fails. Same result with existing users as well.

![add_api_fails](https://cloud.githubusercontent.com/assets/13309358/15895629/ed109946-2d94-11e6-99f8-65351d9e9846.png)

[2016-06-08 13:36] bajiat commented on #1050
While we are updating the Readme, we could also remove the instruction to register with a particular user name (test@test.test) under the heading Nightly build

[2016-06-08 14:06] bajiat opened #1091 "Design API backend schema"
In order to decouple API backends from Api Umbrella, we will need a collection for API backend that is separate from the proxy settings. In other words, the schema needs to be changed and separated from proxies and their settings.

Idea: Align with Swagger specification or Open API specification (depending on the schedule of the latter). This might enable importing API backend configuration by imp

[2016-06-08 14:07] #1087 closed

[2016-06-08 14:37] saralavanip opened #1092 "Add API backend as new user/ existing user fails"
Steps:

1. Visit https://nightly.apinf.io
2. Register by clicking on 'Sign Up'
3. Go to 'Menu' and click on ' API Backend'
4. Select 'Add API backend'
5. Go to 'Base Information' and enter name of the API backend
6. Click on 'Next'
7. Enter Backend details as follows:
   - Select Protocol used by API from drop down menu (eg. http)
   - Enter  'Host' name' of the API backend ( i.e Server where API

[2016-06-08 14:40] #1080 closed

[2016-06-09 05:21] Nazarah opened #1093 "LoFi wireframes for Card Table"

[2016-06-09 06:26] Nazarah commented on #1089
@bajiat Should we show information about total no. of bookmarks, average star ratings, no. of raters, API condition and pricing in table view?

[2016-06-09 06:29] bajiat opened #1094 "Enable language switching in dashboard"
If the user is on dashboard, the only way they can switch UI language is by going back to the landing page. For ease of use and consistency, allow users to switch the UI language on dashboard.

# User story

I want to be able to select my UI language

Refer to https://github.com/apinf/docs/blob/develop/docs/UX/APINF-Catalogue-Heuristic-Evaluation-Report.md

# Definition of done
* [ ] User can chan

[2016-06-09 06:29] Nazarah commented on #1089
Suggested columns: Name, Bookmark, rating, column to show API info (total num of bookmarks, ratings, pricing, up time
back end name can be embedded as a tool tip which can appear on hovering over API name.

[2016-06-09 07:01] bajiat opened #1095 "Sign in / sign up with Github displays a blank page"
Steps:
1. Go to nightly.apinf.io
2. Press Sign in
3. Press Sign In with Github

Result:
A blank modal is shown. No progress after that.

(I also tried sign up w Github and that also gives a blank page)

Screencapture included as a comment.

Browser:
Chrome v. 50.0.2661.102

[2016-06-09 07:04] bajiat commented on #1095
![github sign in bug screencapture](https://cloud.githubusercontent.com/assets/11626388/15921344/7e4e6aa2-2e29-11e6-828c-b605e7b46ddf.png)

[2016-06-09 07:12] brylie commented on #959
What will be the outcome of this task? What is the deliverable?

[2016-06-09 07:15] bajiat commented on #1092
Resolved by #1087?
I verified this in nightly this morning. Added an API backend as an already registered and signed in user. Then I registered a new user and added another API backend. Both were successfully added.

[2016-06-09 07:15] bajiat commented on #1092
@saralavanip Can you verify this?

[2016-06-09 07:23] bajiat commented on #1013
@philippeluickx Here is the link to the issue, where flagging could be done by community: #1014

[2016-06-09 07:29] bajiat commented on #1086
There is also a related user story for dashboard: #1003

[2016-06-09 07:30] shaliko commented on #1028
@bajiat @brylie I configured Prometheus + Graphana for collect server metrics, now Prometheus monitor sever where it installed. The next step is install node_exporters on other internal servers.

![grafana_-_prometheus_node_metrics_and_slack](https://cloud.githubusercontent.com/assets/36139/15921789/6ecd2692-2e2c-11e6-8d52-9fad96a0c6fb.jpg)

We have 2 options for install node_exporter:

1) From [s

[2016-06-09 07:31] saralavanip commented on #1092
@bajiat , @brylie , I verified the resolved issue. Adding API backend in both cases was successful.

[2016-06-09 07:36] bajiat opened #1096 "Front page"
This is an EPIC for landing page enhancements.

[2016-06-09 07:55] brylie commented on #1028
Is there an option for passive monitoring? E.g. ping check?

[2016-06-09 07:55] bajiat opened #1097 "Catalog as default first view for API consumers"
Dashboard can be a confusing view for a first time user since it will show blank content to a user, who is not an API owner or an APInf administrator. Let's consider showing catalog as the default first view for those users.

This would require selecting default view route after login based on user role:
- catalog for regular users (no role assigned)
- dashboard for api owners (and APInf administr

[2016-06-09 07:56] brylie commented on #1092
Closing as resolved.

[2016-06-09 07:56] #1092 closed

[2016-06-09 08:28] bajiat opened #1098 "Show current location to user"
Make the user's current location (= view) in the UI more prominent. The only way to know current location at the moment is to check the URL. The view is not highlighted in the menu or there is no other method for showing current view/path (breadcrumbs or equivalent).
# User story

Refer to [Heuristic evaluation report](https://github.com/apinf/docs/blob/develop/docs/UX/APINF-Catalogue-Heuristic-Ev

[2016-06-09 08:33] bajiat commented on #1095
Underlying issue is mixing http and https content. The error is only prominent if you are using apinf from http, but works if in https. Related issue to be opened.

[2016-06-09 08:36] bajiat opened #1099 "Solve the problem with mixed http and https content"
After removing Force-SSL package due to dockerization, we are experiencing problems in deployment e.g. with Github authentication in nightly (see #1095), and in viewing Swagger files if in http (see #1101)

Propose the most optimal solution for this without causing too much pain on deployment configuration. May require changing dockerization.

[2016-06-09 08:38] bajiat commented on #1099
@shaliko Any comments / suggestions on this?

[2016-06-09 08:52] bajiat opened #1100 "Advanced catalog filtering"
Introduce advanced filtering of APIs. Filtering should allow narrowing down the APIs shown in catalog by one or more fields (multiselection)

# User story

I want to filter the APIs shown in the catalog
so that I can easily find useful or interesting APIs

# Potential filtering options
- categories
- lifecycle phase
- owner or organization
- bookmarked
- most popular
- most recent

# Definition of

[2016-06-09 09:01] bajiat commented on #1095
Related issue: #1099

[2016-06-09 09:33] philippeluickx commented on #959
Good point. I'll start docs and create a base structure for this.

[2016-06-09 09:59] saralavanip opened #1101 "View documentation of API backend as a regular user fails"
Steps:

1. Visit https://nightly.apinf.io
2. Sign in as a owner
3. Go to 'Menu' and click on 'Manage API backend'
4. Go to Documentation
     - Upload  document
     - Enter Documentation link
5. Click on 'Save' button
6. Sign out
7. Login as regular user (doesn't own API backend)
8. Go to 'Menu' and select 'Catalog'
9. Select any one of the API backends and click on 'View Details'
10. Click on 'D

[2016-06-09 10:04] shaliko commented on #1028
I will try configure only alert about downtime (not tried). By default Prometheus want url where it can fetch metrics.

[2016-06-09 10:13] brylie commented on #1028
See related user story:

[2016-06-09 10:15] brylie commented on #1028
OK, here is the related user story:

[2016-06-09 10:17] shaliko commented on #1028
@brylie Hm, We splitted original story https://github.com/apinf/docs/pull/7#issuecomment-223569828

By this story we need observer internal services not API backends.

[2016-06-09 10:19] brylie commented on #966
Based on discussion with @shaliko, Prometheus seems like a good candidate for monitoring our internal services. I.e. those managed by our staff.

It is not as clear whether Prometheus could be used as a general purpose monitoring solution for the Apinf platform, e.g. monitoring third-party servers where we do not have administrative privileges.

[2016-06-09 10:26] brylie commented on #1028
OK, cool. Do you have the access privileges you need on our Apinf services?

[2016-06-09 10:28] brylie commented on #966
As pointed out by @shaliko, we agreed to split this task into two components:

- Prometheus for internal service monitoring (assigned to @shaliko)
- Determine how to provide API health-check monitoring from Apinf code (under consideration)

[2016-06-09 10:32] brylie commented on #1028
Ping @ccsr

[2016-06-09 10:33] shaliko commented on #1028
@brylie I have access to servers.

Before I will install node_exporter on these servers let's double check:

1) What metrics we need?

a) Shutdown with email alert.
b) CPU, disk I/O, network statistics.

I think both?

Is it OK install Docker for run "node_exporter" or will be better installation from source code?

[2016-06-09 10:34] brylie commented on #1028
Hm, it might depend on the server setup. E.g. apinf.io has an Apinf Docker deployment. Would the two services conflict in any way? Also, there is a Meteor package for Prometheus stats, that we might be able to include at some point.

[2016-06-09 10:37] shaliko commented on #1028
@brylie Will not have conflict, "node_export" can be runed on any port, usually on :9100.

Good point about "Meteor package for Prometheus".

[2016-06-09 10:43] Nazarah commented on #1100
Instead of "Bookmark", it can be named "My APIs". On the filtered result, APIs added by the current users as well as bookmarked ones will appear.

[2016-06-09 10:44] Nazarah commented on #1100
We already have Most Recent and Most Popular categoies in sorting field. Do we need to add them in filtering as well?

[2016-06-09 10:44] brylie commented on #1028
OK, cool. @ccsr is double checking our server list, and will make sure you have the credentials you need.

[2016-06-09 10:45] Nazarah commented on #1100
Another filtering option can be API protocols.

[2016-06-09 10:48] brylie commented on #966
I just double-checked, and issue #956 describes the remaining questions very well.

[2016-06-09 10:50] saralavanip opened #1102 "'Documentation' tab is visible when no documentation available for an API backend"
# Steps
1. Visit https://nightly.apinf.io
2. Sign in as owner
3. Add API backend
4. Do not upload documentation
5. Sign out
6. Login as regular user (doesn't own API backend)
7. Go to 'Catalog'
8. Select the API backend added above and click on 'View Details'

Expected Result: Documentation tab should not be visible when there is no content
Actual Result: 'Documentation' tab is visible
# Findings

[2016-06-09 10:54] #961 closed

[2016-06-09 11:22] jykae commented on #1089
had session with @Nazarah about table view wireframes, let me know when you have wireframes for 2 options ready, I start with the initial templating as we now have idea what to show in the table.

[2016-06-09 11:26] #918 closed

[2016-06-09 11:31] brylie opened #1103 "Sync API Umbrella Users and API Backends" TypeError: Cannot read property 'length' of null"
I am getting the following error in the server console, in the current develop branch:

[code]

[2016-06-09 11:33] #1103 closed

[2016-06-09 11:35] brylie commented on #1073
As the traceback reads, we might have a bug in our API Umbrella getUsers method:

[code]

[2016-06-09 11:57] brylie opened #1104 "Re-initialize apiUmbrellaWeb instance when API Umbrella settings change"
The `apiUmbrellaWeb` object is not being re-initialized when settings change. This means, that any errors in configuration remain even after updating the configuration page.

[2016-06-09 11:58] brylie opened #1105 "Dashboard charts threadlock system"
When rendering the dashboard with a high number of analytics results, the system becomes threadlocked. Determine how to optimize the Dashboard rendering process.

# Definition of done
- [ ] Performance audit has been performed on dashboard rendering sequence
- [ ] Enhancement proposal is given to the team
- [ ] Dashboard performance is improved to a reasonable experience

[2016-06-09 12:25] brylie commented on #1073
This is partially resolved by PR #1106. In effect, the problem is related to improper API Umbrella Web configuration settings.

We can consider whether we need further error checking or work related to this issue.

[2016-06-09 12:26] #1093 closed

[2016-06-09 12:27] #1038 closed

[2016-06-09 13:28] bajiat commented on #1073
@brylie Can you describe what would be missing after PR #1106 is merged?

[2016-06-09 15:10] #1013 closed

[2016-06-10 05:03] Nazarah opened #1108 "Usability Testing of Documentation Viewer"
Conduct a small user testing to see how Swagger UI is functioning and if it is usable enough.

[2016-06-10 05:03] Nazarah commented on #1108
Need help from a Dev to show me the overall process of how it will work.

[2016-06-10 05:28] Nazarah opened #1109 "HiFi Wireframe for Landing Page"

[2016-06-10 06:31] bajiat commented on #1101
@brylie Could this bug also be related to #1099?

[2016-06-10 06:33] bajiat commented on #1108
@nazarah What are you planning to test - owners uploading documents or API consumers viewing documents? Or both?

[2016-06-10 06:37] Nazarah commented on #990
Added Wireframes, Need a PR review for them.

[2016-06-10 06:39] #1109 closed

[2016-06-10 06:44] Nazarah opened #1110 "HiFi Wireframe for API Logo Upload"

[2016-06-10 07:01] brylie commented on #1073
Some thoughts I had were:

- we are not validating the API Umbrella settings, to ensure they point to a valid API Umbrella instance
- we probably do not need the `apiUmbrellaWeb` instance to be globally defined
  - e.g. we can create an instance inside each of the API Umbrella Web methods, that is cleaned up after the method runs
- @frenchbread suggested adding a .updateConfig method to the ApiUmb

[2016-06-10 07:13] brylie commented on #1101
@bajiat yes. It looks like the Swagger UI is using `https`. @saralavanip can you submit a screenshot of this issue that also includes the browser URL bar?

[2016-06-10 07:17] brylie commented on #1101
It could also be related to our FileCollection permissions. I am getting a 403 error when trying to upload swagger files in the `develop` branch.

[2016-06-10 07:21] brylie opened #1111 "403 Not Authorized when uploading swagger.json"
In the develop branch, uploading an API documentation file generates a 403 error.

# Screenshot
![screenshot from 2016-06-10 10-18-27](https://cloud.githubusercontent.com/assets/17307/15957008/da8edd44-2ef4-11e6-8485-d0e214819ee8.png)

# Steps to reproduce
1. checkout `develop` branch
2. run `meteor`
3. log in as admin user
4. navigate to any API backend
5. go to the **Documentation** tab
6. click

[2016-06-10 07:45] brylie commented on #1104
An alternative approach would be to initialize the `apiUmbrellaWeb` inside of any server method where it is used. This would avoid having to manage a global `apiUmbrellaWeb` object.

[2016-06-10 08:20] saralavanip commented on #1101
@brylie , please find the screenshot of this issue with browser URL bar.

Screenshot:

![swagger_viewer-regular_user](https://cloud.githubusercontent.com/assets/13309358/15958277/42de09e4-2efd-11e6-899b-5625f7c2f4d4.png)

[2016-06-10 08:27] #1073 closed

[2016-06-10 08:27] #1104 closed

[2016-06-10 08:29] Nazarah opened #1112 "Move API status indicator to the right side of API Name"
Referring the issue #918
There will be API Logo on left side of API name.
The current position of API status indicator would not be visible enough for this.

[2016-06-10 08:31] Nazarah commented on #1112
See the desired position of the status indicator.

![apilogoupload1](https://cloud.githubusercontent.com/assets/17976243/15958522/d2e00848-2efe-11e6-89d4-4f9497802653.png)

[2016-06-10 08:32] bajiat commented on #1111
@elnzv Was going to ask you whether you can reproduce this, but you already assigned yourself. Thanks!

[2016-06-10 08:36] bajiat commented on #1101
@saralavanip You are in http, so the error is caused by #1109. But when we tried to view the Swagger file in https, we got another error. Can you provide the Swagger file so that we can see if it is valid Swagger. Thanks!

[2016-06-10 09:51] Nazarah commented on #990
New version of Landing page that has buttons for browsing API catalog and adding own API.
Here APIs are displayed either as Most Recent and Most Popular.
Popularity is defined in the help icon dialogue.

https://github.com/apinf/docs/blob/master/docs/Wireframes/LandingPage/LandingPageRecentAPI.png

https://github.com/apinf/docs/blob/master/docs/Wireframes/LandingPage/LandingPagePopularAPI.png

[2016-06-10 10:03] Nazarah commented on #996
Logo uploader at API Main page (Logo place holder and button)

![apilogoupload1](https://cloud.githubusercontent.com/assets/17976243/15960904/b5993a5a-2f0a-11e6-9bd8-9cfa98d585a8.png)

Clicking button activates the logo uploader. File can be selected by browsing or drag-n-drop. File size and format restriction is given at the bottom. Help text explains the upload process

![apilogouploader](https:

[2016-06-10 10:04] bajiat opened #1114 "Publish apinf.io in Rancher catalog"
Task requires:
- Docker
- template file

[2016-06-10 10:04] frenchbread opened #1115 "Cannot read property 'statusCode' of undefined"
When testing new `api-catalogue` feature, getting this error:
[code]

Pinging api backend with `http://localhost` host value causes this error.

[2016-06-10 10:10] #1111 closed

[2016-06-10 10:12] #966 closed

[2016-06-10 10:24] bajiat opened #1116 "Increase the user context awareness in dashboard"
Based on discussion with two Apinf/Apika users, our users do not understand what they are seeing in the dashboard. One of the users had superuser privileges, one was an API owner. They were not sure
* how to see analytics for one API
* whether they were seeing analytics for APIs they owned or analytics for their own API key usage
* open issue: retaining user settings across sessions - users are ab

[2016-06-10 10:26] bajiat opened #1117 "Deployment"
This is an EPIC for deployment enhancements, esp dockerization

[2016-06-10 10:31] bajiat opened #1118 "Combine analytics from multiple Umbrella instances to dashboard analytics"
_open issue: If we allow several Umbrella instancer (or other proxies) to one Apinf instance, do we need to be able to show analytics from multiple different proxies in one analytics page?_

[2016-06-10 11:36] brylie opened #1120 "View usage button not working on API Backend page"
The *View Usage Instructions* button has stopped working on the *API Backend* page.

# Steps to reproduce
1. view a single API Backend
2. click **View usage instructions**

# Observed results
No UI change is visible.

# Expected results
A UI text should appear indicating how to use the API backend.

[2016-06-10 11:36] brylie commented on #1120
@frenchbread this regression may have been introduced with the "Flag API" feature.

[2016-06-10 12:17] bajiat opened #1121 "Research organization handling"
Research potential options for handling organization level support and the related user needs.
# Potential user story

# Potential issues
- bundling APIs owned by a particular organization
- organization access
- managing API managers
- naming organization as API owner instead of user that added the organization
- selecting / adding proxy used by organization?

[2016-06-10 12:59] #1115 closed

[2016-06-10 13:03] bajiat opened #1123 "Verify emails after sign up"
Validate user emails after user registration by sending a message to the given address and requiring users to take an action (click a link, press a button) to confirm the registration.

# Potential user stories

I need to be able to be sure that the registrations to Apinf are valid registrations

# Design

# Definition of done
* [x] Email is sent to a user after user has registered to platform
* [

[2016-06-10 13:35] shaliko commented on #1099
@bajiat @brylie At lease first issue #1095 happen because nightly.apinf.io available by HTTPS and HTTP. Before I removed "Force-SSL" there was redirect from HTTP to HTTPS.

I think the right way for fix issue is update Nginx conf (mupx), handling SSL not app a responsibility

[2016-06-12 19:53] Nazarah commented on #1108
It would be better if I can conduct both tests.
But right now I'd focus with API document owner persona.
The document user persona can also be verified as soon as the bug related to swagger gets fixed.

[2016-06-13 07:15] brylie commented on #1099
Alright, we will need to ensure our *mupx* and *Docker* deployments are HTTPS only.

[2016-06-13 07:33] brylie opened #1125 "Create and publish rancher compose file for Apinf stack"
We would like to deploy Apinf on various servers using [Rancher](http://rancher.com/). In order to do this, a Docker/Rancher compose file would be useful. In addition to creating a [Rancher compose](http://docs.rancher.com/rancher/v1.0/zh/rancher-compose/) file, we should publish the file, so that it appears in the [Rancher catalog](http://docs.rancher.com/rancher/latest/en/catalog/).

[2016-06-13 07:51] jykae opened #1126 "Exception in Github onLogin callback"
There is some legacy code to be removed onLogin callback, that throws exception every time user uses Github login, https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/accounts.js#L60

[code]

[2016-06-13 07:54] jykae commented on #1089
Looks currently like this:

<img width="1018" alt="nayttokuva 2016-06-13 kello 10 52 33" src="https://cloud.githubusercontent.com/assets/293452/16000422/0d00edc8-3155-11e6-9efe-37bc3feb415e.png">

[2016-06-13 07:56] jykae commented on #1126
@bajiat I am interested to cleaning up this.

[2016-06-13 08:54] bajiat opened #1127 "Create UI element / bar for catalog view toggling and sorting"
The catalog card view and table view should have a common UI element (e.g. a bar) for toggling between catalog card and table view and for sorting the view according to popularity, owner, latest etc.

Related to #1089, #989, #988

# Definition of done
* [ ] User sees a bar that contains sorting menu and toggling icons
* [ ] User can press a toggling icon to toggle between the two catalog view
* [

[2016-06-13 09:09] bajiat opened #1128 "Add bookmark count and average rating to API backend schema"
Add new fields to API backend schema: bookmark count and average star rating. These fields are used for sorting the catalog.

Add code hooks to
- increase/decrease bookmark count based on user action (when user adds or removes a bookmark)
- calculate the average star rating and modify the number in the field (when another user rates an API or changes the rating)

[2016-06-13 09:11] bajiat commented on #1025
@nnn What's the status of the task?

[2016-06-13 09:12] bajiat commented on #988
@nnn What's the status of the task? Are you waiting on container task or are you able to continue even if it is work in progress?

[2016-06-13 10:03] #1025 closed

[2016-06-13 10:09] bajiat opened #1129 "Setup Mailgun for monitoring"
Mail alerts from Prometheus require smtp settings. Setup Mailgun for alerts from Prometheus.

[2016-06-13 12:05] brylie opened #1130 "Denormalize averageRating and bookmarksCount for API Backends"
In order to sort the API Catalogue by average rating and bookmarks count, we may need to store the corresponding values in the ApiBackends collection. Create helpers and methods to calculate the average rating and bookmarks count. Make sure the helpers are called when a user bookmarks or rates an API Backend.

[2016-06-13 12:48] bajiat commented on #1130
@brylie Should I close #1128 as duplicate?

[2016-06-13 12:50] brylie commented on #1130
Jep. I didn't notice that you had opened the issue.

[2016-06-13 12:54] bajiat commented on #1128
Closing as duplicate of #1130

[2016-06-13 12:55] #1128 closed

[2016-06-13 16:25] Nazarah commented on #997
@brylie : uploading the wireframes tonight as PR.

[2016-06-13 20:12] #1036 closed

[2016-06-13 20:12] Nazarah commented on #1036
4 hours

[2016-06-14 06:56] Nazarah opened #1132 "When user has no data in analytics chart, on clicking month"
When User doesn't have data populated on charts, selecting anything from filter pane (dropmenus, text box) give a browser alertbox with text. The text to some inconsistency in the table and is not written in a user friendly manner. The meaning might be confusing to the user.

sol: Fix alert text so that it is more intuitive. If possible, try no to show the text in browser alert window.

![image](h

[2016-06-14 07:15] Nazarah opened #1133 "Documentation link on API Backend documentation tab not working"
Windows 8, Chrome (latest)

Reproduction Steps:

1. Go to a API page and go to the documentation tab.
2. Click Manage.
3. Add link to a JSON file (http://petstore.swagger.io/v2/swagger.json) and save.
4. on Documentation Tab, click on the appeared URL.

Result: clicking doesn't redirect to the JSON file.
Expected: The link should function as normal clickable link and should direct the user to the

[2016-06-14 07:17] brylie opened #1134 "Documentation link on API Backend documentation tab not working"
On the API Backend Documentation tab, the 'Documentation Link' does not work as expected.

# Observed behavior
When clicking the link, nothing happens.

# Expected behavior
When clicking the link, the browser would navigate to the remote resource.

# Possible cause
The template file contains an anchor tag where the href value is #. The href value should be the url of the Documentation Link.

[2016-06-14 07:18] philippeluickx opened #1135 "Not authorized user flow"
# Not authorized user flow - include clear next steps

When the user navigates to a page to which you need to be authorized, give clear next steps.
# User story

[code]
# Design

To be defined
# Definition of Done
- [ ] If the user is not logged in: add a link to the login page
- [ ] Redirect user to original page after logging in
- [ ] If the user is logged in but does not have the permissions: c

[2016-06-14 07:19] #989 closed

[2016-06-14 07:19] brylie commented on #1133
On the API Backend Documentation tab, the 'Documentation Link' does not work as expected.

# Observed behavior
When clicking the link, nothing happens.

# Expected behavior
When clicking the link, the browser would navigate to the remote resource.

# Possible cause
The template file contains an anchor tag where the href value is #. The href value should be the url of the Documentation Link.

[2016-06-14 07:20] #1134 closed

[2016-06-14 07:21] Nazarah opened #1136 "Add a Cancel button and close buttonin API Documentation Manage dialogue"
If user opens the Manage dialogue under API documentation and doesn't do any action afterwords, only Save button is available to close the dialogue.
Here user might thing he is actually saving something new, where actually nothing new is getting updates.
Sol: Add a Cancel button at the left side of Save button.
On opening the dialogue, the Cancel button should be focused.
Also Add a close button a

[2016-06-14 07:35] philippeluickx opened #1137 "Rename the project api-umbrella-dashboard to generic name"
Now the names are couple to the api-umbrella package. In the future with multi-proxy, this does not make sense.
We could simply call it apinf or apinf-dashboard?

[2016-06-14 07:44] Nazarah commented on #1066
Need to know the purpose of the charts before start wireframing.
Also, should there be only these two charts? or additional ones are going to be added?

[2016-06-14 07:53] Nazarah opened #1141 "S-alert error message: keeping the details inside a expand/collapse pane"
When some error occurs, the S-alerts show the entire error log/details in the front view.
This takes additional space and the GUI looks really messy for the message content.

Suggestion: Add an expand/collapsible pane in the S-alert messages. Name the pane as details. Provide the detailed error report inside.
The primary alert message could be: "Action Failed. Please click on Details to see the er

[2016-06-14 07:56] Nazarah opened #1142 "HiFi Wireframes for APINF landing page"

[2016-06-14 08:00] Nazarah commented on #1142
3 hours

Popular APIs
https://github.com/apinf/docs/blob/master/docs/Wireframes/LandingPage/LandingPagePopularAPI.png

Recent APIs
https://github.com/apinf/docs/blob/master/docs/Wireframes/LandingPage/LandingPageRecentAPI.png

[2016-06-14 08:00] #1142 closed

[2016-06-14 08:40] #1133 closed

[2016-06-14 09:14] #1112 closed

[2016-06-14 09:19] Nazarah commented on #1127
Will be adding links to wireframe once the PR gets merged

[2016-06-14 09:22] Nazarah opened #1143 "Toggle Menu HiFi wireframe"

[2016-06-14 09:22] #1143 closed

[2016-06-14 09:36] Nazarah opened #1144 "API Analytics: When data for filtering (month/year) is changed back to default, alert appears saying table can't be reinitialized"
Chrome (latest), Windows 8

Reproduction Step:
1. Go to APINF Analytics and reload chart data.
2. Click Month dropdown and select a month.
3. Open the dropdown again and select default value
Result: the following alert appears

![image](https://cloud.githubusercontent.com/assets/17976243/16038263/e6bf6a6c-322c-11e6-89d8-3c81ab6c1ff3.png)

[2016-06-14 10:16] bajiat commented on #1099
@shaliko The suggestion from Tampere team is to add Force-SSL back to the project, because removing it is causing multiple problems. What would the options for / changes needed to Docker? Is "one-command" installation still possible?

[2016-06-14 10:16] Nazarah opened #1145 "Filtering option in Analytic is not working at all"
Related to Issue #1144
On doing any action...selecting value on dropdown, adding text in field, clicking link. Always alert appear saying table can't be initialized.

[2016-06-14 10:17] bajiat commented on #1077
@jykae Can you provide steps to reproduce? Why is this on front page?

[2016-06-14 10:42] #1084 closed

[2016-06-14 10:42] Nazarah commented on #1084
Link for Heuristic Evaluation Report
https://github.com/apinf/docs/blob/master/docs/research/DashboardHeuristicsEvaluation.md

[2016-06-14 10:45] Nazarah commented on #1039
@bajiat : I think we need to first  determine what is going to be in the dashboard. Because we are not yet sure about the features. I suggest a meeting to have the featured determined first before I start designing.

[2016-06-14 10:53] Nazarah commented on #999
Is there any case that user wants to see multiple APIs? for comparison purpose?

[2016-06-14 10:55] Nazarah commented on #1009
There should be both options for giving the date range as inputs (date selector) and focusing option to select particular date on charts.

[2016-06-14 10:55] Nazarah commented on #1009
Also should we consider a particular date? or date range? or both?

[2016-06-14 10:57] Nazarah commented on #1000
Do you mean this as a filtering option? that you want to see only particular details? I am not exactly sure about how the feature would work.

[2016-06-14 11:00] Nazarah commented on #1011
Should one chart contain the comparison information for both APIs? From DB perspective, having one chart to show details of comparison is better, then user doesn't need to move her eyes from one chart to another.

[2016-06-14 11:01] Nazarah commented on #1011
Would there be any possibility to compare two APIs of the same category but one API is  owned by another user?

[2016-06-14 11:06] Nazarah commented on #1002
Suggesting a new layout/table for giving API information.  There should be option to select/ multiple APIs at a time, and that way, we can see average time for the selected ones in a new column on the table/place on the layout.

[2016-06-14 11:10] Nazarah commented on #1118
Should we show the analytics in the same chart? or multiple one? I suggest a same chart with bigger view. Because there might be multiple proxies and adding up one chart for each proxy would take up a lot of space. Also for comparison, if we have good data representation technique, showing all the data in the same chart would be good.

[2016-06-14 11:29] philippeluickx opened #1146 "Documentation for onboarding new user"
Working with @brylie on getting apinf running locally. Needed a user account on https://nightly.umbrella.apinf.io/ and related actions are required. This should be documented.

[2016-06-14 11:52] Nazarah commented on #997
Wireframes

1. Contains separate dropdowns for all filterable ccriteria. Multiple selection can be made from each dropdown. Number of selected items appear on the filter pane. On checking one value, the Filter button gets activated. Clear All button clear all the selected valyes
https://github.com/apinf/docs/blob/master/docs/Wireframes/Filtering/FilterMenu1.png

https://github.com/apinf/docs/blob/

[2016-06-14 11:56] jykae commented on #1027
Done, also Github register/login works now, as fixed env variables.

[2016-06-14 11:57] #1027 closed

[2016-06-14 11:59] Nazarah commented on #997
Version 2

Filter pane is separated in sections for each criteria: category, Protocol, Owner and organization, Lifecycle Phases, My APIs.
MyAPIs contains both own added and bookmarked APIs
The values appear as tags. Multiple tags can be selected and the selected ones are highlighted.
Number of selected entries appear on pane.
Activating the filter button and clear button functions the same.

https

[2016-06-14 11:59] Nazarah commented on #997
Also when a filtering is made, the the main page should show how the filtering is done.

[2016-06-14 12:08] Nazarah commented on #1108
Scenario:
1. API owner sets up API backend, updates swagger file and updates link
2, (Just a test)...uses may be 1 protocol from the loaded UI
3. API user views a document from another API not his own

https://nightly.apinf.io

[2016-06-14 12:13] brylie opened #1147 "Temporarily restore catalogue table"
We are re-writing the catalogue table view. As part of that process, the table view was removed. However the replacement is not ready yet.

Restore the catalogue table, as a temporary usability measure.

[2016-06-14 12:17] brylie opened #1149 "Incompatible jQuery version error from Bootstrap"
We recently added the `datatables` npm dependency to our project. Datatables requires jQuery > 1.x.x, and as a result, npm is installing jQuery latest (version 3.x). This causes a compatibility issue with Bootstrap.

Limit the maximum jQuery version to prior to 3.0.0.

# Output

[code]

# Related error(s)

[code]

There is a second error related to jQuery, which may or may not be related to this i

[2016-06-14 12:59] jykae commented on #1149
@brylie what is the actual error this fixes? I assigned to review #1150

[2016-06-14 13:04] #1147 closed

[2016-06-14 13:35] bajiat commented on #1066
- Number of calls (already in dashboard)
Charts and/or filters
- heat map or country map (see http://dc-js.github.io/dc.js/vc/)
- HTTP status code
- API key or IP address
- URL that is being accessed
- time range
- response time

Consider also giving ready made scenarios inside a menu for API managers:
- show all APIs that give 404
- show backends with slowest response time

[2016-06-14 13:41] bajiat commented on #1000
@Nazarah This could also mean interacting with the charts

See for example: http://dc-js.github.io/dc.js/vc/

[2016-06-15 06:56] brylie commented on #1149
@philippeluickx can you please help verify the error? I am having trouble reproducing on my laptop.

[2016-06-15 08:52] #1130 closed

[2016-06-15 08:57] brylie opened #1151 "Delay and error message when uploading swagger.json"
When uploading a swagger.json file, on the API Backend Documentation tab, there is a strange error message and delay before the Swagger file is rendered. After a few seconds, the page refreshes automatically and the swagger file is rendered.

# Screenshot
![animated screenshot](https://cloud.githubusercontent.com/assets/17307/16073757/2bbcb0c0-32f0-11e6-9444-0961753304e2.gif)

# Error text
[code]

[2016-06-15 09:33] brylie opened #1152 "Server error (500) when uploading swagger documentation"
On a fresh clone of the `develop` branch, the documentation file upload produces the following error:

# Server console
[code]
# Firefox browser console error
[code]

# Steps to reproduce
1. clone the Apinf repository
2. run `npm install`
3. run `meteor`
4. configure the API Umbrella/Elastic settings
5. register a user account
6. go to any API Backend
7. click the **Documentation** tab
8. click th

[2016-06-15 09:38] brylie commented on #1152
This could be an issue with our allow/deny rule(s) related to uploading files:

[code]

[2016-06-15 09:51] brylie opened #1154 "Review and/or delete stale branches"
There are several [stale branches in our Github repository](https://github.com/apinf/api-umbrella-dashboard/branches/stale). Each team member should check the stale branches that they opened, and clean up or remove any that are not relevant to our current project direction.

[2016-06-15 09:55] brylie commented on #1149
@jykae I have updated the issue with error message(s).

[2016-06-15 10:08] #1152 closed

[2016-06-15 10:14] brylie commented on #1149
We just ran a second test on a fresh install. Switching the jQuery version to be < 3.0.0 resolves both errors in the task description.

[2016-06-15 10:43] #1108 closed

[2016-06-15 10:43] brylie commented on #1149
Ping @bajiat.

[2016-06-15 10:44] brylie commented on #1151
I am re-opening until we are sure that PR #1155 resolved the issue.

[2016-06-15 11:07] saralavanip commented on #1033
Reported issues
https://github.com/apinf/api-umbrella-dashboard/issues/1101
https://github.com/apinf/api-umbrella-dashboard/issues/1102

[2016-06-15 11:44] saralavanip opened #1156 "Upload swagger.yaml delayed with error message"
Steps:
1.Visit https://nightly.apinf.io
2.Login as API owner by clicking on 'Sign In'
3.Go to 'Menu' and click on ' API Backend'
4.Go to 'Manage API Backends '
5.Go to API Backend and click on 'View' button
6.Click on 'Documentation' tab
7.Click on 'Manage' button
8.Select file to upload by clicking on 'Choose file' (eg. swagger.yaml)
9. Click on 'Save'

Expected Result: Successful in uploading sw

[2016-06-15 12:05] nnn commented on #1149
Still getting this error in develop:

[code]

[2016-06-15 12:06] saralavanip opened #1157 "'View usage instructions' button not responding in API backend view"
Steps:
1.Visit https://nightly.apinf.io
2.Login as a registered user by clicking on 'Sign In'
3.Go to 'Menu' and click on 'Catalog'
4.Select any one of the API backends and click on 'View Details'
5.Click on 'View usage instructions'

Expected Result: Shows information about API calls with example URL.
Actual: Click on 'View usage instructions' button is not responding

[2016-06-15 12:12] nnn commented on #1154
Done.

[2016-06-15 12:12] philippeluickx commented on #1149
@nnn that's the error I was having.
Also, might be a good idea to comment any limits to version numbers, so we know that we need to keep an eye on this when we update to bootstrap v4 (that should support jquery 3)

[2016-06-15 12:40] bajiat opened #1158 "Design the dashboard analytics for API owners"
Separated from #1066. Work together with the assignee for #1066, because the chart library selection will affect which chart styles are available.

The main user for the dashboard is an API owner, who needs to be able to see analytics for the API(s) he/she owns.

Take the learnings related to visualizing analytics from service project follow-up dashboard and apply them to Apinf dashboard page.

An

[2016-06-15 12:48] brylie commented on #1154
@frenchbread, @jykae, and @sebbel please review [your branches](https://github.com/apinf/api-umbrella-dashboard/branches/yours), and delete any branches that are no longer needed.

[2016-06-15 13:06] bajiat opened #1159 "Allow API owner to see analytics for all the APIs they own"
A single API owner may add more than one API to Apinf. The owner should have an option to view analytics for all APIs they own.
# User story

# Design

_paste wireframe link here_
# Definition of done
- [ ] User has a method for selecting all owned API on dashboard page
- [ ] Based on the user selection, dashboard charts (and table) get updated
- [ ] User interface clearly indicates what API you a

[2016-06-15 13:10] brylie commented on #1149
@nnn you might need to re-run `npm install` after pulling changes from `develop`.

[2016-06-15 13:15] bajiat opened #1160 "Allow dashboard users to retain user settings"
API owners have a possibility to drill down to API analytics, e.g. select a particular timeframe for viewing analytics. The users may want an option to keep their settings from one session to another (after logout and login).
# User story

As an Apinf user
I want to be able to keep my settings for analytics filter / drilldown
so that I do not have to start from scratch every time I log into dashbo

[2016-06-15 13:21] brylie opened #1161 "Upgrade packages, including Meteor 1.3.4"
As part of our sprint process, we should keep our dependencies up to date. Run `meteor update` and test as a team to make sure things went well.

[2016-06-15 17:34] sebbel commented on #1154
done

Am Mittwoch, 15. Juni 2016 schrieb Brylie Christopher Oxley :

[2016-06-16 05:15] Nazarah opened #1163 "Rename Documentation TAB and make it more visible to user eye"
User Testing Result:
When use wants to upload swagger documentation, then he can be misled to go to API settings page to do so.
The Documentation tab itself doesn't indicate (from default view) that it is used for uploading or linking swagger documentation. This can be confusing for first time users.
To Do:
Change the tab name as "Swagger Documentation" iff this tab would only be used for uploadin

[2016-06-16 05:25] Nazarah commented on #1163
Additional Improvements:
1. Change the upload dialogue title as "Swagger Documentation for API"
2. Change the browse box field name as : Upload Swagger Documentation
3.  Change help text for the browse box as: "Upload a new document for your API using Swagger here at APINF's own server. Only json and yamm file types are supported."

[2016-06-16 05:43] saralavanip opened #1164 "Published API backends are not rendered in 'Manage API Backend' view"
Findings:
- Previously added API backends are not rendered in 'Manage API Backend view':shows a blank page.
- Shows only APIs added on current day in 'Manage API backend' view and they get disappeared later.

Screenshot:
![selection_001](https://cloud.githubusercontent.com/assets/13309358/16256569/c3781538-385b-11e6-9340-82b176430f76.png)

[2016-06-16 07:12] bajiat commented on #1164
@sarala This is not a SW bug, but you could of course not know that. @jykae had to re-set the Apinf database for one particular deployment of nightly. This should not happen again (unless there is a very specific reason to re-set). We should remember to inform you, if this needs to be done again.

[2016-06-16 07:22] saralavanip commented on #1164
@bajiat, Thanks for the info.

[2016-06-16 07:34] Nazarah commented on #1158
Proposed columns
1. Methods: (values: GET, POST, etc)
2. HTTP STATUSL 200, 404, etc.
 Alternatively, a column showing API names with a status indicator can be used to show its status( on mouse hover: HTTP Status)

[2016-06-16 08:50] Nazarah commented on #1003
Do you need this information in details in the Dashboard menu itself?
Becasue currently APINF has a User side menu and we can always incorporate this in that place.
Other wise, we may need to have different page link from dashboard because too much information would clutter the view.
I suggest for showing an overview of unique users with a link to see the details.
Or this can be shown in a separat

[2016-06-16 09:25] #1120 closed

[2016-06-16 10:02] bajiat commented on #1003
Users menu in Apinf is for Apinf administrators, not for API owners.

The idea of unique users was just to show a number, nothing more, in dashboard. If possible, that number would change if user interacts with dashboard (e.g. selects a timeframe, changes the timeframe)

[2016-06-16 10:19] Nazarah commented on #1009
Good option for implementing this is:
https://dc-js.github.io/dc.js/

[2016-06-16 10:41] saralavanip commented on #1151
@brylie , currently uploading swagger json file is delayed with another new error message:
'Failed to parse JSON/YAML response'

Screenshot:
![upload_swagger_json_error](https://cloud.githubusercontent.com/assets/13309358/16114033/d3089970-33c7-11e6-99da-5dfc3d0fce49.png)

[2016-06-16 10:47] saralavanip commented on #1156
Currently uploading swagger yaml  is delayed with another new error message:
'Failed to parse JSON/YAML response'

Screenshot:
![upload_swagger_json_error](https://cloud.githubusercontent.com/assets/13309358/16114033/d3089970-33c7-11e6-99da-5dfc3d0fce49.png)

[2016-06-16 12:13] saralavanip opened #1166 "'Export' feature in API backend view is available for regular users"
# Steps
1. Visit http://nightly.apinf.io
2. Login as a registered user by clicking on 'Sign In'
3. Go to 'Menu' and click on 'Catalog'
4. Select any one of the API backends and click on 'View Details'
5. Go to 'Export'
6. Click on ' Export.json / Export.yaml ' button

# Expected Result
Export feature should not be available for regular users
# Actual Result
Export feature available for regular use

[2016-06-16 13:37] bajiat opened #1167 "Catalog testing"
Perform explorative manual testing for catalog and settings wizard. Catalog should be tested in nightly.apinf.io, while settings wizard should be tested in development environment (setting up a clean environment). Document the test cases.

#Definition of done
* [x] Test both catalog card view and table view
* [x] Test the available sorting options
* [x] Test toggling between the views
  * [x] Test

[2016-06-17 07:21] #1039 closed

[2016-06-17 07:23] Nazarah opened #1168 "HiFi prototypes for Dashboard"
#1158
#999
#1009
#1116
#1000
#1002
#1003

[2016-06-17 08:23] Nazarah commented on #1009
what about timing formats? Are we supporting this?
dd/mm/yyyy
mm/dd/yyyy
yyyy/mm/dd
24 Hr
12 Hr

[2016-06-17 08:29] saralavanip opened #1170 "Regular users are able to edit others API feedback"
Steps:
1. Visit http://nightly.apinf.io
2. Login as a regular user-1 by clicking on 'Sign In'
3. Go to 'Menu' and click on 'Catalog'
4. Select and click on any API backend
5. Go to 'Feedback  and click on 'Send Feedback' button
6. Enter 'Topic' of the feedback report
7. Enter 'Message'
8. Choose 'message type' from drop down menu (eg. Feedback)
9. Click on 'Submit' button
10. Sign out
11. Sign in

[2016-06-17 09:11] bajiat commented on #1129
@ccsr Should I close this issue?

[2016-06-17 09:29] #1129 closed

[2016-06-17 10:22] Nazarah opened #1171 "Indicate mandatory fields by adding "*" sign"
Currently there is no way to tell which fields are mandatory unless user keeps some fields empty and tries to save.
Use \* sign to indicate the mandatory fields.

See comment for a code line that fixes this for every autoform, which we user everywhere in platform for forms.
# Definition of done
- Any required field in our UI shows an indication for mandatory field.

[2016-06-17 10:31] Nazarah opened #1172 "API Details Page: fix alignment of Tabs"
Make sure Logo images, tab pane and other panes are left aligned with each other

[2016-06-17 12:19] shaliko commented on #1099
@brylie I can don't know all details, but are we really need be HTTPS only? If application be agnostic to HTTP/HTTPS? The issue was because callback URL from github was configured only for HTTPS.

[2016-06-17 12:19] shaliko commented on #1099
@bajiat Even after Villie fix we still have issue?

[2016-06-20 06:25] #1033 closed

[2016-06-20 06:25] #1034 closed

[2016-06-20 06:51] bajiat commented on #999
See Brylie's support request and Nick's answer to it: https://github.com/NREL/api-umbrella/issues/252

[2016-06-20 07:19] bajiat commented on #1151
@jykae will co-pilot

[2016-06-20 07:31] bajiat commented on #1066
https://github.com/NREL/api-umbrella/issues/252

[2016-06-20 07:36] bajiat commented on #1000
@brylie Would you be interested in this task? Let's check the estimate based on the UI designs.

[2016-06-20 07:43] bajiat commented on #1157
@saralavanip Can you verify this? Fix should be available on nightly.

[2016-06-20 07:52] Nazarah opened #1174 "HiFi wireframe from DB Analytics"
#1158

[2016-06-20 07:53] Nazarah opened #1175 "HiFi wireframe for API selection"
#999

[2016-06-20 07:54] Nazarah opened #1176 "HiFi wireframes for Analytics Time Frame"
#1009

[2016-06-20 07:56] Nazarah opened #1177 "HiFi wireframe for user context awareness"
#1116

[2016-06-20 07:58] Nazarah opened #1178 "HiFi wireframes for Analytics Drilldown"
#1000

[2016-06-20 08:00] Nazarah opened #1179 "HiFi Wireframe for Average Response Time"
#1002

[2016-06-20 08:00] Nazarah opened #1180 "HiFi Wireframe for unique users"
#1003

[2016-06-20 08:01] Nazarah opened #1181 "User Interview for Analytics"

[2016-06-20 08:03] Nazarah opened #1182 "Learning Node Red"

[2016-06-20 08:04] #996 closed

[2016-06-20 08:05] Nazarah commented on #1181
1. prepare question set
2. ask the questions in interview
3. scan low fid sketches

[2016-06-20 08:20] jykae commented on #1154
Done. I left "apika-branding" first customer branch hanging around because it's possibly the only place we have apika.digipalvelutehdas.fi source currently. Unassigning myself..

[2016-06-20 08:43] saralavanip commented on #1157
Verification in progress.

[2016-06-20 08:47] bajiat opened #1183 "API Monitoring"
This is an EPIC for monitoring API downtime/uptime, alerting owners and displaying the API status to API consumers (in catalog and on API details page)

[2016-06-20 09:11] saralavanip commented on #1157
@bajiat , verified this resolved issue on nightly.apinf.io and it is working as expected.

[2016-06-20 09:44] #1168 closed

[2016-06-20 09:51] bajiat opened #1184 "Notify owner if API backend is down"
I want to be notified if my API is down
so that I can take corrective action

[2016-06-20 11:09] #988 closed

[2016-06-20 11:09] #1089 closed

[2016-06-20 13:04] #1157 closed

[2016-06-20 13:21] jykae opened #1187 "Username undefined in catalogue view"
Latest develop in catalogue view might give "username" undefined.
It seems to work as "admin" user but normal user OR not logged in user gets empty catalogue page and client console log "username undefined.

Apologies, this is caused by my helper with insufficient error handling: https://github.com/apinf/api-umbrella-dashboard/blob/develop/apis/collection/backend.js#L781

[code]

[2016-06-20 13:55] frenchbread commented on #1154
Done.

[2016-06-21 07:20] jykae commented on #1187
Update: did not occur with normal user in nightly as I checked out this morning. To be verified and checked later whether this was wrong call..

[2016-06-21 07:37] Nazarah commented on #1181
Interview Notes:
https://github.com/apinf/docs/blob/master/docs/UX/Dashboard-UserInterview.md

[2016-06-21 07:37] #1181 closed

[2016-06-21 07:51] jykae commented on #1009
Need findings and decision from #1066

[2016-06-21 07:56] saralavanip commented on #1187
@jykae , verified on nightly.apinf.io : Sign in as anonymous user/regular user /API owner shows empty catalog page.

[2016-06-21 08:00] jykae commented on #1009
@Nazarah let me know when you have wireframes ready for review.

[2016-06-21 09:39] saralavanip opened #1188 "'Description' text not saved while adding API backend"
Steps:
 1.Visit https://nightly.apinf.io
2.Register by clicking on 'Sign Up'
3.Go to 'Menu' and click on ' API Backend'
4.Select 'Add API backend'
5.Go to 'Base Information'
    - Enter name of the API backend
    - Enter description
6.Click on 'Next'
7.Enter Backend details
8.Click on 'Next'
9.Enter 'Matching URL prefixes'
10.Click on 'Publish API Backend' button
11.Go to 'Manage API backends' vi

[2016-06-21 10:22] #1126 closed

[2016-06-21 10:28] philippeluickx opened #1189 "Terms of use & privacy policy"
# Define terms of use, privacy policy for each API
An API owner should be able to select (some common templates) or write terms of use for each API seperatly. This should cover all the legal requirements.

# User story
[code]
# Design

# Definition of Done
The task is complete when the following criteria are satisfied:
* [ ] For each API I can provide Terms of use and Privacy policy
* [ ] I have t

[2016-06-21 10:52] bajiat opened #1190 "Add and test rate limiting field to Proxy backend collection"
(Description updated due to multiproxy development) Rate limiting setting is one of the key settings API owner needs in order to control the traffic to the API. Make sure it works correctly in Apinf - to the extent that API Umbrella supports it. Add the field to the new Proxy Backends collection

# Potential user stories

 As an API owner
I want to limit the usage of my API for a
particular API co

[2016-06-21 11:13] jykae commented on #1187
ok, thanks @saralavanip
Taking a look.

[2016-06-21 11:15] bajiat opened #1191 "Allow API owner to download an SDK for an API"
As an API owner
I want to download an SDK for my API in the language which I am using
so that I can start developing the API based on the documentation file and don't have to start from scratch

[2016-06-21 11:23] bajiat opened #1192 "Allow users to create and edit Swagger files"
Find a suitable place in Apinf UI for making Swagger editor available
# User stories

Open issue: Where in the UI should the user find the Documentation editor?
# Definition of done
- [ ] Swagger editor is available for users in the Apinf UI
- [ ] User can upload a file to the editor for editing
- [ ] User can create a new Swagger file
- [ ] API owner can connect created or uploaded Swagger file t

[2016-06-21 11:31] bajiat opened #1193 "Add publication flow for API backend"
# User story
As an API owner
I want to be able to add an API in draft state
so that I can publish it once I'm ready

Open issues:
Should this be a complete lifecycle feature or one step towards it?

[2016-06-21 12:30] jykae commented on #1187
As part of this I may have found reason why @saralavanip Managed APIs disappear on nightly. I am getting on adding API backend: "insert failed: Access denied. No allow validators set on restricted collection for method 'insert'." Anyway, that somehow succeeds on the client minimongo and is visible on the client but on the server side Mongo allow/deny rules restrict the addition to persistent stora

[2016-06-21 12:47] bajiat opened #1195 "Add sorting option to Catalog top bar"
Separated from #1127

Add drop down menu and functionality for sorting the API catalog

# User story

I want to sort the catalog based on API popularity, recency, name (alphabetical order)
so that it is easier to find interesting APIs.

# Definition of done
* [ ] User can use a drop-down men to sort the catalog view by
  * [ ] popularity (bookmarks)
  * [ ] recency (when added)
  * [ ] name
  * [

[2016-06-21 12:47] bajiat opened #1196 "Add infinite scrolling or pagination to Catalog view"
Add functionality that only publishes (?) a performance-wise feasible number of API backends to API catalog container. More/Next backends are published when user takes an action. Most likely options for the user action are infinite scrolling or catalog pagination.

# User story

I want catalog view to load only a reasonable amount of APIs when user goes into the view
so that the performance of the

[2016-06-21 13:21] philippeluickx commented on #1183
Inspiration can be found with competitors. E.g. https://www.apiscience.com/

[2016-06-21 15:19] nnn commented on #1188
@saralavanip, please confirm.

[2016-06-21 15:19] nnn commented on #1187
@saralavanip, please confirm.

[2016-06-22 07:22] #1187 closed

[2016-06-22 07:22] #1188 closed

[2016-06-22 07:28] saralavanip commented on #1188
@nnn,  'Description' field is missing in Add API backend wizard and shown only in 'Edit' View. Is this as expected?

Screenshot:
![missing_description_field](https://cloud.githubusercontent.com/assets/13309358/16257880/bb1672a6-3863-11e6-9c06-dceba48659a1.png)
![description_edit_view](https://cloud.githubusercontent.com/assets/13309358/16257888/c8fde480-3863-11e6-8cf4-00f3570ad3c7.png)

[2016-06-22 07:29] #1136 closed

[2016-06-22 07:34] saralavanip commented on #1187
Verified this resolved issue.

Findings:
 @jykae , Info text for all APIs shown as 'added by admin' by default.

[2016-06-22 07:47] jykae commented on #1164
@saralavanip @bajiat Verified yesterday locally and this morning on nightly. For some reason I am interested to find out, managerIds saving fails, causing that when Apinf is restarted information of user managed APIs is lost. This might be related with "description" field not saving on wizard (solved by removing the field in wizard), as these both are fields that doesn't exist on Umbrella.

Invest

[2016-06-22 08:27] #1057 closed

[2016-06-22 09:30] jykae opened #1199 "ApiDocs is not defined when deleting API Backend"
When we changed API documentation behavior, that has also effect on API remove functionality, where we try to remove API documentation of API to be removed.

Stacktrace:
[code]

[2016-06-22 11:12] frenchbread commented on #1066
https://github.com/NREL/api-umbrella/issues/140

[2016-06-22 11:57] bajiat opened #1200 "Allow only unique proxy backend base paths"
In order to avoid having the same API added to the catalog more than once, we should only allow unique API backends. (As a follow-up, we may need to give an option to API owners to report, if someone else have added their API)

# Definition of done
* [ ] User can only add an API with Add API Wizard, if the front-end prefix (proxy backend base path) is unique?
* [ ] If the user tries to add a pre-e

[2016-06-22 12:01] bajiat opened #1201 "Research options for adding OAuth2 support to Apinf"

[2016-06-22 13:05] jykae commented on #1164
@saralavanip fix waiting PR review, https://github.com/apinf/api-umbrella-dashboard/pull/1202

[2016-06-22 13:48] #1164 closed

[2016-06-22 13:52] bajiat commented on #1164
@saralavanip Please verify on nightly

[2016-06-23 08:53] bajiat opened #1203 "UI improvements to single API view (API profile)"
# User story

I want to be able to quickly determine whether the API is useful or interesting for me by looking at the default tab of API profile
so that I only need to go to other tab if I find the API interesting.

Potential improvements or additions
* Look and feel improvements, for example
  * buttons
  * tab alignment and design
  * usage instructions (placement & look and feel)
* API descrip

[2016-06-23 08:54] #1174 closed

[2016-06-23 08:55] bajiat commented on #1099
Agreed with @shaliko that only https to be allowed in dockerization,

[2016-06-23 08:56] #1095 closed

[2016-06-23 08:56] #1101 closed

[2016-06-23 09:12] bajiat opened #1204 "List APIs I have used in My APIs"
The APIs consumer is actually using may be different from the APIs they have bookmarked, because bookmarking is a sign of interest only. Consumers should have an option to filter the catalog by My APIs, which would refer to the APIs they are using = making calls to.

This could potentially mean that the My APIs would contain both apis I own and API I am using. Would need to separate the two lists.

[2016-06-23 10:56] jykae commented on #1149
@nnn Can this be closed? Is it fixed for you?

[2016-06-23 11:13] bajiat opened #1206 "Add an option to tag APIs based on their status"
And an option for API owners to tag their API by API status. Possible API statuses: idea, in development, beta, in production, sunset, deprecated

[2016-06-23 11:24] jykae commented on #1151
Oh, sorry, I have neglected my co-piloting.. @nnn do you have branch for this? I could take a look. Might have something to do with nginx proxying (HTTP->HTTPS) as well.. If this is only nightly issue.

[2016-06-23 11:26] jykae commented on #1156
Most likely related to #1151

[2016-06-23 11:27] jykae commented on #1156
co-piloting @nnn

[2016-06-23 11:36] bajiat opened #1207 "Separate API details editing from editing proxy settings"
Consider that all editing options that are related to API backend would happen in API profile (tabbed single API view) instead of the form that is used for controlling proxy settings.

For instance, allow owners to upload a logo, edit API description etc. in the API profile view

Note: this does not require inline editing.

See also related issues #1020, #1026

# User story

I want edit my API bac

[2016-06-23 11:37] jykae commented on #1151
@bajiat @nnn Just tested this on nightly.

This delay and error message is because it takes a while to upload and serve file over that generated unique URL. So this is not bug in strict sense, Swagger is just hurrying a bit to trying parse the file before it exists on that URL. Do you think we should have some better information on this behaviour on UI for the user?

[2016-06-23 11:41] jykae commented on #1151
Other option is that we verify that file is uploaded and exists on that URL, and after that put the URL on Swagger UI to be sure not to get any error message on the process.

[2016-06-23 12:06] jykae commented on #1151
@nnn I'll take a look if that could be checked as suggested above.

[2016-06-23 12:17] jykae opened #1208 "Deprecated ApiDocs cleanings"
As part of issue #1199 I stumbled upon other places where deprecated ApiDocs collection is used.
- Check if these parts of code can be just removed or do they need updated to use new DocumentationFiles collection.

"
Deprecated ApiDocs collection is still used here, https://github.com/apinf/api-umbrella-dashboard/blob/develop/apis/client/api_backends/edit/form/autoform.js#L104
and here, https://gi

[2016-06-23 12:53] bajiat opened #1209 "Enhance Apinf side menu"
Enhance both Apinf side menu aesthetics and functionality

# Potential enhancements
- Selected item should be more visible
- Removing submenu items and making them first level items
- Reordering the menu
- Is it possible to collapse only menu and not Apinf logo?
- Totally collapsible menu?

Related issue: #1211

# Wireframes

* General View

![topbar](https://cloud.githubusercontent.com/assets/179

[2016-06-23 13:01] bajiat opened #1210 "Re-design landing page"
- Give an option to go to catalog from landing page (also for signed-in user)
- Give an option to add an API directly from landing page

[2016-06-23 13:01] bajiat commented on #1210
One example: https://market.mashape.com/

[2016-06-23 13:11] bajiat opened #1211 "Enhance Apinf top bar"
Enhance the aesthetics and functionality of top bar

# Potential enhancements
- Optionally, Add API backend option to top menu
- Make sure Apinf logo is never collapsed
- Remove the hamburger icon related to collapsing side menu from top bar
- Include the language switch for all views (not just landing page)

Related issue: # 1209

[2016-06-23 13:36] bajiat commented on #951
What could be minimum level of features for monetization?

* Define or select pricing rules?
* Generate usage report?
* Generate invoices?
* Download invoices or send invoices directly to users?
* Payment handling?

I don't think we would be able or willing to go for instance to payment handling.

[2016-06-23 14:18] nnn commented on #1203
interested in this task for API Backend Sprint.

[2016-06-23 14:19] nnn commented on #1200
Interested in this task.

[2016-06-23 14:20] nnn commented on #1020
Interested in this task.

[2016-06-27 06:47] frenchbread commented on #1040
Testing out refactored version of updated dashboard in [this](https://github.com/frenchbread/apinf-dashboard-example) repo.

Still having two issues:
- Data fetch take too much time (even though it has been optimized)
- "Average response time" chart does not work

[2016-06-27 07:23] jykae commented on #1151
@nnn Tried polling the URL solution until it exists, but didn't get it work on Thursday, returned always false for some reason.
However, I would say this is quite small issue as it only shows error message a while when file uploading and serving it to unique URL is in progress.

[2016-06-27 07:43] brylie commented on #1127
This needs to be re-opened, as the sorting options were removed from the pull request.

[2016-06-27 07:44] #1127 closed

[2016-06-27 07:44] frenchbread commented on #1066
[Highcharts](http://www.highcharts.com/) library - worth checking out.

[2016-06-27 07:53] brylie commented on #1164
@jykae what was the underlying issue here? I don't understand how removing the autovalue fixes this issue.

[2016-06-27 08:48] bajiat opened #1213 "Design multiproxy architecture"
Study separating proxy settings from backend settings and the collections and schemas required for multiproxy support. Create an UML description or similar describing the collections and their linking.

# Definition of done
* [x] High level multi-proxy overview diagram exists
* [ ] UML description of required collections and their linking exists
* [x] Description is available in docs

# Diagram
![

[2016-06-27 08:49] bajiat opened #1214 "Catalog is not displayed in nightly"
[Catalog view](https://nightly.apinf.io/catalogue) in nightly displays only the top bar without any APIs

# Steps to reproduce

1. Log into https://nightly.apinf.io
2. Click Catalogue
3. (Optionally, try clicking any of the buttons in the top bar: My APIs, My Bookmarks or toggling the views)

# Observed behavior
The view does not contain any APIs, i.e. there is no catalog

# Expected behavior
The

[2016-06-27 09:03] bajiat commented on #1214
![catalog screenshot](https://cloud.githubusercontent.com/assets/11626388/16374446/2f01ef20-3c5f-11e6-8085-07af7d3e58d5.png)

[2016-06-27 10:32] brylie commented on #1099
What change(s) do we make in our codebase to reflect this issue? E.g. did we re-enable the force-https module?

[2016-06-27 10:33] Nazarah opened #1215 "Show percentage of 4XX and 5XX responses in HTTP Status Chart"
In the chart to be implemented on Sprint 25, hovering over the plots on HTTP Response Status chart shows the number of 2XX, 5XX and 4XX requests.
However for analytical purpose, it is  convenient to show what percentage of client and server error responses are of 4XX and 5XX type.
It is also good to know the total number of 4XX and 5XX responses
# User Story

# Wireframe

![apinf analytics charts2

[2016-06-27 11:07] bajiat commented on #1099
@brylie Should we re-open this? We discussed that Docker would only allow https. Nginx has been fixed in nightly. What is missing: what happens if someone deploys with mupx?

[2016-06-27 11:13] brylie commented on #1099
Sure, I am just wondering if we should add the force-ssl back to our project.

[2016-06-27 12:51] bajiat commented on #1214
@jykae @brylie Please inform @saralavanip when the fix is available so that she can start testing Catalog.

[2016-06-27 13:30] shaliko opened #1216 "Empty API key right after registration first user"
First user get empty API key because API-Umbrella settings does not available when APInf try create user and get API key.

How to reproduce:

1) Make new installation of api-umbrella-dashboard without settings.json
2) Register first user and fill data in wizard.
3) Visit https://apiumbrellahost/profile

![https___apinf_usubov_com_profile](https://cloud.githubusercontent.com/assets/36139/16381263/5

[2016-06-27 13:55] bajiat opened #1218 "Dashboard 2.0"
This is an EPIC for analytics / dashboard improvements for Dashboard v. 2.0

[2016-06-27 14:03] bajiat opened #1219 "Design an Apinf brand color schema for UI"
Design a color schema that matches the brand colors (used in logo). Make sure the color schema can be selected for deployments (esp. apinf.io)

# User story

I want to be able to select a color schema from the UI (settings) that matches the Apinf brand colors
so that Apinf deployments can reflect the Apinf brand

# Definition of done
<to be added>

[2016-06-27 14:40] bajiat commented on #1050
@brylie I quess you have already added the build status. Should we close the issue?

[2016-06-28 05:04] nnn commented on #1158
@Nazarah, could you please link your design/wireframe to this issue?

[2016-06-28 05:54] #1179 closed

[2016-06-28 05:55] #1175 closed

[2016-06-28 06:29] brylie opened #1220 "Update API Umbrella settings so that base URL does not need '/api-umbrella/' suffix"
There are duplicate settings in the API Umbrella settings section:

- host
- base URL

The only difference is that base URL needs a trailing */api-umbrella/*. Refactor the code so that the duplicate settings are not necessary, and so that only the host (without the */api-umbrella/* suffix) is required.

[2016-06-28 06:53] brylie commented on #1151
@jykae good point. @bajiat should we put this in the icebox?

[2016-06-28 06:55] brylie commented on #1003
For this type of query, we probably need to store the analytics in a local collection. @frenchbread is currently working on storing the Elastic analytics in an local collection.

[2016-06-28 06:55] #1050 closed

[2016-06-28 07:11] philippeluickx commented on #951
@bajiat Good points. Let's focus on a minimum set of requirements for the 1.0 and then gradually improve over time based on feedback and user requests.
My suggestions
- Let's implement only 1 pricing rule, but develop so that we can add more later. I like the tier-based pricing, which gives a lot of flexibility and also allows the freemium model.
- Dollar as only currency for now will do.
- Usage

[2016-06-28 07:12] bajiat commented on #1151
@brylie @jykae Fair point. It is not a showstopper, since the file still gets uploaded.

[2016-06-28 07:15] bajiat commented on #1151
Unassigned and moved to icebox. @jykae @nnn I quess there are no associated PR's or branches?

[2016-06-28 07:42] philippeluickx commented on #1052
https://juststartworking.com/meteor-and-seo-the-right-way/

[2016-06-28 07:45] nnn commented on #1151
@bajiat, the one @jykae did - https://github.com/apinf/api-umbrella-dashboard/tree/bugfix/apidocs-notdefined-when-deleting

[2016-06-28 07:50] saralavanip commented on #1214
Verified resolved issue on nightly.apinf.io

[2016-06-28 08:33] brylie commented on #1216
Ping @jykae. You mentioned interest in this issue.

[2016-06-28 08:42] philippeluickx commented on #1196
I'd prefer to go with pagination. Infinite scrolling is often not the best solution UX wise, pagination is a safer bet.
http://babich.biz/ux-infinite-scrolling-vs-pagination/

[2016-06-28 08:42] bajiat commented on #1151
@nnn @jykae Isn't https://github.com/apinf/api-umbrella-dashboard/tree/bugfix/apidocs-notdefined-when-deleting actually related to issue #1199 ApiDocs is not defined when deleting API Backend

[2016-06-28 08:48] bajiat opened #1222 "Create instructions on deployment"
Create step-by-step instructions for making nightly deployment (and also temporary deployments to temporary server).

# Definition of done
* [x] Instructions for deploying nightly exist
* [x] Instructions for temporary deployment exist
* [ ] Instructions have been reviewed by another team member, preferably also tested
* [x] Instructions are available for the entire team

[2016-06-28 10:45] jykae commented on #1216
@shaliko I'll take at look at this

[2016-06-28 11:01] saralavanip commented on #1164
verified resolved issue on nightly.apinf.io

[2016-06-28 11:21] jykae opened #1224 "Patch apika.digipalvelutehdas.fi"
Pick up Chrome fix, https://github.com/apinf/api-umbrella-dashboard/issues/1001
Patch apika, to fix empty page

Same

[2016-06-28 12:36] bajiat opened #1225 "Allow API consumer to download client code"
Use Swagger codegen API for creating a small UI for client code SDK download based on Swagger file.

# User story

I want to download an SDK for my API in the language which I am using
so that I can start developing the client code based on the API design and don't have to start development from scratch

# Definition of done
* [ ] User can select a programming language for which they download the

[2016-06-28 13:28] jykae opened #1227 "Docker production setup"
Chapter 2 for https://github.com/apinf/api-umbrella-dashboard/issues/650

- Make Docker setup for "production" use.

[2016-06-28 13:45] philippeluickx opened #1228 "Consistent semantics"
We should check that we use the same spelling and semantics everywhere. I spotted Catalog (title) while the URL was catalogue.

(Very) Minor issue though.

[2016-06-28 13:46] jykae commented on #1028
@bajiat I tested and merged @shaliko 's work https://github.com/apinf/monitoring/pull/1

I suppose this could be closed or is there still something to do?

[2016-06-28 14:00] frenchbread commented on #1105
### Todo:

- [ ] Open a PR that fixes api-umbrella sync frequency

[2016-06-28 14:21] frenchbread opened #1230 "Change api-umbrella sync frequency"

[2016-06-28 14:42] philippeluickx opened #1231 "Responsive"
Make the whole design responsive. Might be a good task to do when we migrate to bootstrap 4 (when that hits production)

[2016-06-29 06:46] #1195 closed

[2016-06-29 06:58] #1230 closed

[2016-06-29 06:59] brylie opened #1232 "Add i18n tokens to catalogue sort bar options"
The catalogue page sort/filter bar is missing i18n tokens. Add the tokens and English translation strings.

[2016-06-29 07:25] bajiat opened #1233 "Create Proxy backend collection and UI for mandatory fields"
In order to decouple API backends from Api Umbrella, we will need a collection and schema for proxy Api settings (currently only Umbrella ) settings that is separate from "pure" API backend settings/details. As a first step, this collection will contain the mandatory API Umbrella fields like backend and frontend prefix, backend host URL.

For the UI, we can either add a Proxy tab or a partial view

[2016-06-29 09:15] philippeluickx commented on #1022
At least month. I would even go for year.
The other open question is how often we ping the APIs. Every minute, hour, day?

[2016-06-29 09:22] shaliko commented on #1028
@jykae I not started monitoring agent on 2 servers, because had issue with previous docker installation. Waiter @brylie for consultation (scare change old running soft), today will manage last 2 servers and then we can close that task.

[2016-06-29 09:51] #1161 closed

[2016-06-29 09:56] frenchbread commented on #1022
Pinging every hour should be fine. Time frame should be ether week, two weeks or month I think. [Github Status](https://status.github.com/), for example, has day, week and month time frames.

[2016-06-29 10:22] bajiat opened #1234 "Switch router"
Switch from Iron Router to FlowRouter in order to support more advanced routing features, like default views based on user role and breadcrumbs.
# User story

# Definition of done
- [x] FlowRouter is added to the project
- [ ] All routes have been converted to use FlowRouter
- [x] Iron Router is removed from the project
- [ ] All route-level subscriptions have been moved to template instances
- [

[2016-06-29 10:36] #1214 closed

[2016-06-29 10:59] Nazarah commented on #1002
Wireframe added for average response tiem

[2016-06-29 11:00] #1177 closed

[2016-06-29 11:54] philippeluickx opened #1235 "favicon"
Console complains a favicon is missing. Should be a quick win. We can use a simple tool like http://realfavicongenerator.net/

[2016-06-29 12:59] bajiat opened #1236 "Catalog and settings wizard testing"
Continue explorative manual testing for catalog in [nightly deployment](nightly.apinf.io).  Test the settings wizard in local development environment. Document the test cases.

# Definition of done
* [x] Test dashboard
* [x] Interact with the charts
* [x] Try sorting options in catalog (if not tested in sprint 25)
* [x] Test setting up a new Apinf instance in development environment (= test settin

[2016-06-29 13:30] bajiat commented on #1208
@frenchbread Do you know anything about the ApiDocs collection?

[2016-06-29 13:32] bajiat commented on #1235
@brylie Do you have an idea what is missing? Is favicon something we are using or something we have used before?

[2016-06-30 03:55] saralavanip opened #1237 "Edit 'My bookmarks' in catalog view displays mouse pointer text for all other bookmarked APIs"

[2016-06-30 03:55] saralavanip opened #1238 "Edit 'API bookmarks' in catalog view displays mouse pointer text for all APIs"
# Steps
1. Visit https://nightly.apinf.io
2. Login as registered user
3. Go to Catalog view
4. Go to filter bar : sort by 'Popularity' and select 'descending order' view
5. Bookmark multiple APIs (eg. two or more) by clicking on 'flag' sign
6. Click on 'My Bookmarks'
7. Select grid view
8. Edit all bookmarks one after other by clicking on flag sign
# Findings

Edit all API bookmarks by clicking on

[2016-06-30 04:06] #1237 closed

[2016-06-30 07:20] frenchbread commented on #1066
DC.js remains as a charting library for a dashboard.

[2016-06-30 07:26] frenchbread commented on #1066
#### List of fields that are available on each log entry inside ElasticSearch.
[code]

Link to [Gist](https://gist.github.com/frenchbread/052d043918987ace77cbe388f7df4ec7).

[2016-06-30 07:54] Nazarah commented on #1211
Wireframes are attached at #1209

[2016-06-30 07:56] Nazarah opened #1239 "Redsigning Topbar and Sidemenu"
Replacing the sidemenu in web interface.
menu items are integrated at the topbar

[2016-06-30 08:26] #1239 closed

[2016-06-30 08:37] brylie commented on #1040
@frenchbread tried an approach where we stored analytics in the MongoDB instance, but the performance was slow when serving > 10,000 records:

![apinfdashboardbenchmark](https://cloud.githubusercontent.com/assets/17307/16482053/def4842a-3eb6-11e6-851a-12973d881895.jpg)

We decided to revert to using the Meteor server to relay the Elastic analytics data. This isn't 'perfect', but it seems to improv

[2016-06-30 09:43] #1178 closed

[2016-06-30 09:47] jykae commented on #1222
@bajiat Instructions done, and available for the team members. Please assign someone to check & test (tick the box when done).

@nnn & @brylie should be also able to give rights to deployment instructions/config folders.

[2016-06-30 09:48] bajiat commented on #1200
Check also:  https://github.com/NREL/api-umbrella/issues/252

[2016-06-30 11:07] jykae commented on #1222
@frenchbread has also rights now.

[2016-06-30 11:11] bajiat opened #1240 "Create one integration test for a specific component"
This task is about our developers getting more familiar with the test automation. Each developer should create one automated integration test using Selenium. You can either write the test script using JavaScript / Mocha or use Selenium IDE for recording the test. (Selenium IDE is available from Firefox add-ons market place)
# Definition of done
- [ ] One test case available in apinf-testing reposi

[2016-06-30 11:15] Nazarah commented on #1158
@nnn added the designed wireframe.

[2016-06-30 11:39] Nazarah commented on #1158
@nnn what I saw from Damir'w work that they have a chart that shows time needed for responding to API request. That chart would be included in APINF Admin's dashboard, which is different from API owner.
So adding that one as well
![apinfanalyticsselectedapi-adminview](https://cloud.githubusercontent.com/assets/17976243/16486960/81e66c2a-3ed0-11e6-8488-b7913ab81378.png)

[2016-06-30 11:40] bajiat commented on #1222
@jykae
Here are some comments...
What does run "anywhere" mean? In Meteor?
What does one need to have installed before it is possible to run the script?

[2016-06-30 11:52] brylie opened #1241 "Design and implement dashboard summary statistics panel(s)"
Related to feedback received while working on #1040, our UI mockups contain a 'summary statistics' panel. Design and implement the 'summary statistics' panel(s) on the dashboard, including:

- number of requests displayed /
- total count of requests
- percentage of successful requests
- average response time (probably using **mode**, as opposed to mean)
- number of unique users who have called the

[2016-06-30 12:06] jykae commented on #1222
@bajiat Thank you for review, added further explanations to README.

[2016-06-30 12:26] brylie commented on #1235
@philippeluickx will you please paste the console error? We can figure out whether the file is missing, or if it is something else we need to change.

[2016-06-30 12:27] #1199 closed

[2016-06-30 12:45] Nazarah opened #1242 "Add a link below unique user overview information to see user details"
# User Story

[2016-06-30 12:53] Nazarah opened #1243 "Show details of Unique Users who made API requests within a particular time"
# User Story

# Wireframe

[2016-06-30 13:01] Nazarah opened #1244 "Show information about changes in Average Response Time Overview"
API Owner may wish to know how the average response time of his/her API has increased or Decreased than a previous timeline. So some attention needs to be drawn over the information
# Definition of Done
- [ ] show increase or decrease rate beside overview information on Average Response Time.
- [ ] Show more details when user clicks.hover on the information. The details should include from what ti

[2016-06-30 13:24] philippeluickx commented on #1235
Failed to load resource: the server responded with a status of 404 (Not Found) https://apinf.io/favicon.ico

Also couldn't find any file on the repo: https://github.com/apinf/api-umbrella-dashboard/search?utf8=%E2%9C%93&q=favicon

[2016-06-30 13:46] brylie commented on #1235
Cool, a simple fix would be to include the favicon.ico in `/public/`. We might also want to add favicon as an option on our branding page.

[2016-06-30 13:50] bajiat commented on #1238
@saralavanip Which browser were you using?

[2016-06-30 13:57] frenchbread commented on #1222
@jykae Where can I find instructions for deployment.

[2016-06-30 14:09] brylie commented on #1222
@frenchbread they  are in owncloud.

Check under DevOps.

[2016-06-30 18:28] kumargs opened #1248 "Unsuccessful in editing API backend - shows "Cannot read property 'length' of null""
Unsuccessful in editing API Backend. Tried to change the port number and press "Submit" throws an error pop up as "Cannot read property 'length' of null"

# Steps to reproduce
1.Visit https://nightly.apinf.io
2.Login as API owner by clicking on 'Sign In'
3.Go to 'Menu' and click on ' API Backend'
4. Go to 'Manage API Backends '
5.Go to API Backend and click on 'Edit'
6.Go to 'Backend Protocol' and

[2016-06-30 18:42] nnn commented on #870
Already fixed in develop with new catalogue view.

[2016-06-30 18:42] #870 closed

[2016-07-01 07:10] Nazarah commented on #1200
I will add warning messages here

[2016-07-01 07:16] Nazarah commented on #1203
changes in Button and tab style
information alignment in the main page.

[2016-07-01 07:24] Nazarah commented on #1184
Enhancement Suggestion: a notification in the topbar to alert API owner.

[2016-07-01 07:47] Nazarah commented on #1219
Interested in this task.

[2016-07-01 07:48] brylie opened #1249 "Upgrade API Umbrella to 0.13"
API Umbrella 0.13 was recently released. Upgrade our nightly, and possibly production, to use the latest version.

[2016-07-01 08:17] saralavanip commented on #1238
@bajiat , I have been testing on these browsers:
1. Mozilla Firefox 44.0
2. Google Chrome 48.0.2564.103

[2016-07-01 08:49] nnn commented on #1149
Yes, it's fixed.
Tested in the latest develop.
No errors even after meteor reset.

[2016-07-01 08:49] #1149 closed

[2016-07-01 08:52] nnn commented on #1208
@jykae, wasn't it resolved with #1205 PR?

[2016-07-01 09:18] jykae opened #1250 "Search page query string not updating, always empty"
Latest develop & on nightly:

Search page query was reactive, now broken, query string always empty. :(

Works from front page & top navigation.

[2016-07-01 11:40] #1209 closed

[2016-07-01 11:40] #1211 closed

[2016-07-01 11:54] bajiat commented on #1145
@frenchbread Your PR #1245 will fix this bug, right? Should the issue be connected to your PR?

[2016-07-01 11:54] bajiat commented on #1144
@frenchbread Your PR #1245 will fix this bug, right? Should the issue be connected to your PR?

[2016-07-01 11:58] frenchbread commented on #1144
@bajiat Yes, it does. Updated description for #1245.

[2016-07-01 12:00] bajiat commented on #1250
@jykae I think in previous development the reactive query was not updated from API backend names, but rather from other queries user has made in the browser. I think this should be an enhancement where the reactiveness is in relation to the fields where the search is made from.

[2016-07-01 12:00] frenchbread commented on #1222
@brylie @jykae Ok.

[2016-07-01 12:05] #1216 closed

[2016-07-01 12:18] Nazarah commented on #1009
@jykae: Added the wireframes

[2016-07-01 12:19] #1176 closed

[2016-07-01 12:20] brylie commented on #1000
@bajiat the screenshots and definition of done would imply adding per column filtering to the data table. Basically, the data table would allow for 'query building' by allowing search strings within each column. E.g. filter by IP column; filter by API key column; filter by IP country.

We agreed not to include the API key in the dashboard analytics, so we might need to remove that requirement.

We

[2016-07-01 12:26] Nazarah opened #1251 "Show language switching option in Top Bar"
Regarding to issue #1211, the language setting is visible only in Landing page. So user needs to go back there from any page in APINF if s/he wants to change from Finnish/English

# Definition of Done
* [ ] Changing option from Finnish to English should appear everywhere in APINF along with Landing Page.

[2016-07-01 12:27] brylie commented on #1000
We also need to select the 'final' set of columns for the table. Based on a [comment from @frenchbread](https://github.com/apinf/api-umbrella-dashboard/issues/536#issuecomment-152076725), the Analytics contain the following columns:

[code]

[2016-07-01 12:33] saralavanip opened #1252 "Select sorting order and toggle to 'bookmarks' view shows empty page"
Steps:

1.Visit nightly.apinf.io
2.Login as registered user
3.Go to catalog view
4.Select API and bookmark by clicking on 'flag' sign
5.Select sorting order from drop down menu (eg. Name/Rating, ascending order)
6.Click on 'My Bookmarks'

Findings:
- Select sorting order and toggle to 'bookmarks' view shows empty page

Operating system:
 Linux : Ubuntu 14.04.03 LTS (Trusty)

Web Browsers:
Google C

[2016-07-01 12:51] #1040 closed

[2016-07-01 12:53] #1145 closed

[2016-07-01 12:53] #1144 closed

[2016-07-01 12:53] #1105 closed

[2016-07-01 12:54] #1066 closed

[2016-07-01 12:57] nnn opened #1253 "Exception in template helper: ReferenceError: moment is not defined"
Getting this in latest develop on home page.
We need to check every place where we are using moment and import it there, since we are using npm package of it.

[code]

[2016-07-01 13:00] frenchbread commented on #1253
Yeah.. I added npm package for meteorjs and probably removed its meteor package. Need to add `import moment from 'moment'` from now on.

[2016-07-01 13:12] jykae commented on #1224
Patched, https://github.com/apinf/api-umbrella-dashboard/commit/dfbd94634e6e972df42043efee6fd664627def18

And deployed, works now with Chrome 51.

[2016-07-01 13:13] nnn opened #1255 "ReferenceError: ApiBackends is not defined"
Keep getting this errors here and there.
We need to find every place with ApiBackends collection and import it there.

This one when updating API Metadata:
[code]

Deleting API:
[code]

[2016-07-01 13:13] #1224 closed

[2016-07-01 13:16] jykae commented on #1009
Wireframes reviewed, and merged: https://github.com/apinf/docs/tree/master/docs/Wireframes/Dashboard

[2016-07-01 13:18] bajiat commented on #1236
@brylie @nnn This is the testing task for @saralavanip for sprint 26.

[2016-07-01 13:23] Nazarah opened #1257 "Add a Cancel button in Edit API page"
Now, the only way to exit from Edit API page is to click on submit button.
If user comes to the page and doesn't change anything, clicking Submit may confuse user to think if s/he made any changes before leaving.

# Definition of Done
* [ ] Add a Cancel button beside submit button
* [ ] No S-alert should be shown when user exits Edit API page using Cancel button

[2016-07-01 13:30] frenchbread opened #1258 "API backend view in not working"
Error on API backend page
[code]

[2016-07-01 13:34] #1253 closed

[2016-07-01 13:38] bajiat opened #1260 "Finalize admin view for dashboard"
Give the last finishing touches to administrator dashboard.

Continuation for #1040
Related to #1158

# User story

I want to be able to view the analytics for all calls made through the proxy

# Design
![apinfanalyticsselectedapi-adminview](https://cloud.githubusercontent.com/assets/11626388/16523300/64c8d49e-3fab-11e6-9383-c1ad63b270a9.png)

# Definition of done
* [ ] User is aware of context: e

[2016-07-01 13:41] bajiat commented on #1260
@nazarah Can you add the wireframe for admin dashboard into Design

[2016-07-01 13:48] #1255 closed

[2016-07-01 14:03] #1258 closed

[2016-07-01 14:05] frenchbread opened #1261 "TypeError: Cannot read property '_id' of undefined"
### Observed
- On API Backend View page which should not exist - `TypeError: Cannot read property '_id' of undefined` error is shown.
### Expected:
- 404 page is rendered
### Steps to reproduce:
- Open APInf on nighlty or locally
- Go to catalog
- Click on any API -> API backends page opens up
- Modify API's ID in the page URL to smth random & hit enter
- Open browser console -> `TypeError: Cannot

[2016-07-01 14:13] #1222 closed

[2016-07-01 14:26] bajiat opened #1262 "Dashboard view to be selected based on user role"
Implement the rules for which dashboard the user should see
- admin for dashboard administrators
- owner for dashboard owners

# Definition of done
* [ ] List or wireframe of dashboard elements exists (see #1158)
  * [ ] List or wireframe indicates user role visibility for each dashboard element
* [ ] Template helper exists for checking user role (returing true / false to toggle elements)
* [ ] Da

[2016-07-04 07:03] brylie commented on #1028
@shaliko should we close this task?

[2016-07-04 07:07] brylie commented on #999
@frenchbread will you be taking this task forward?

[2016-07-04 07:12] brylie commented on #1009
@frenchbread would you like to work on this task? @nnn will be working with you on similar tasks.

[2016-07-04 07:25] brylie commented on #1241
@Nazarah would you like to take this task? It is mainly a task to coordinate several sub-tasks. E.g.

- #1002
- #1003

[2016-07-04 07:26] Nazarah commented on #1241
I will take it

[2016-07-04 07:27] brylie commented on #1182
@Nazarah will you be continuing this task in Sprint 26?

[2016-07-04 07:27] frenchbread commented on #999
Yes, self-assigned.

[2016-07-04 07:28] frenchbread commented on #1009
Self-assigned.

[2016-07-04 07:28] Nazarah commented on #1182
I will need your help here as well as Chandra's. But yes I will

[2016-07-04 07:34] brylie commented on #1000
@frenchbread would you like this task? I can co-pilot.

The task is basically to enable filtering on the table, and have the filtered results reflected in the dashboard charts.

[2016-07-04 07:35] Nazarah commented on #1000
In the drilldowns should we have option to make IP addresses clickable? so that if someone clicks on an IP address, a new browse tab opens and user gets redirected there?

[2016-07-04 07:46] frenchbread commented on #1000
Self-assigned

[2016-07-04 07:52] brylie commented on #999
This is number one priority. High priority and urgent. It blocks several other tasks.

[2016-07-04 08:00] nnn commented on #1252
Working fine on nightly. @saralavanip, please confirm this.

[2016-07-04 08:03] frenchbread commented on #999
Got it.

[2016-07-04 08:07] nnn commented on #1000
@Nazarah, no, that's for filtering only. When user clicks on IP address, it filters dashboard.

[2016-07-04 09:14] brylie commented on #1182
OK, lets make some time this week.

[2016-07-04 09:17] brylie commented on #999
Generally, an API owner will need to see the API Name. However you link the API Name to the filter is up to you. E.g. if API ID is easiest, go with it, but make sure the end-user has an intuitive way to filter the dashboard.

[2016-07-04 09:36] brylie opened #1264 "Alphabetize existing i18n strings by key in en.i18n.js"
Before adding more i18n strings, make sure that the existing en.i18n.js file is alphabetized.

[2016-07-04 10:12] nnn commented on #1260
@Nazarah, any suggestions on icons help text?
For three charts and table.

[2016-07-04 10:21] #1264 closed

[2016-07-04 10:47] frenchbread commented on #999
Actually now, when sending custom requests (with api backend id in the URL) there are only 404 responses. I'm not sure how did we manage to add API Id to the request URL but it won't work that way I thing because now API Id is represented as a separate page - not as a parameter.

[2016-07-04 10:56] nnn commented on #1260
@Nazarah, @brylie, @frenchbread, any suggestions on dashboard main title?

Current look:

![screencapture-localhost-3000-dashboard-1467629742642](https://cloud.githubusercontent.com/assets/7489044/16558549/1cccd564-41ef-11e6-83c8-1ab612f4b8d6.png)

[2016-07-04 11:00] brylie commented on #1260
Just 'Dashboard' is probably fine.

[2016-07-04 11:01] frenchbread commented on #999
One more question: If there is no API selected, should we show anything?
Possible scenarios:
- Showing "Select API to view analytics for" message with no data
- Showing analyrics data for all APIs managed by current user
- Something else (like the entire analytics in ES) - maybe for admin view

[2016-07-04 11:04] brylie opened #1267 "Add missing landing page i18n tokens/texts"
Add missing i18n tokens/texts to the Front Page template.

[2016-07-04 11:05] brylie opened #1268 "Add missing Dashboard view i18n tokens/texts"
Related to #965

Add missing i18n tokens/texts to the Dashboard view.
- Export logs in csv button
- Loaded!
- Chart: abbreviation of weekday in English
- Table
  - Show
  - Search
  - Showing 1 to 10 of 881 records
  - Pages
  - Previous
  - Next

[2016-07-04 11:06] brylie opened #1269 "Add missing i18n tokens/texts to Add API Backend Wizard"
Related to #965

Add missing i18n tags/texts to the Add API Backend Wizard.

 - Add API Backend Wizard
 - Names of tabs
   - Base Information
   - Backends
   - Matching URL Prefixes
 - Base Information tab view
   - Name
   - A name that describes your API  (tooltip)
      - Add (button)
 - Backend tab view
   - Protocol
     - (Select One)
   - Host
     - Enter the remote host name for this API

[2016-07-04 11:07] brylie opened #1270 "Add missing i18n tokens/texts to Catalogue view"
Related to #965

Add missing i18n tokens/texts related to Catalogue view:

 - Show ... entries
 - Search
 - Name
 - Backend host
 - View Details
 - Bookmark
 - Rating
 - Showing 1 to 10 of ... entries
 - No data available in table (text appears when you search)
 - Previous
 - Next

[2016-07-04 11:09] brylie opened #1271 "Add missing 18n tokens/texts to Users view"
Related to #965

Add missing i18n tokens/texts related to Manage Users view:
- Manage Roles
  - Update Roles form
  - Update Roles
    - Admin Role
    - Delete
    - Create Role
    - Done
- Name
- Email
- Roles

Note, this view is provided by a separate package.

[2016-07-04 11:10] brylie opened #1272 "Add missing i18n tokens/texts related to View API Backend"
Related to #965

Add missing i18n tokens/text related to all aspects of API Backend:

- [x] View usage instructions (button)
  -  [x] Make API calls to:

-  [x] name of tabs
  -  [x] Details
  -  [x] Metadata
  -  [x] Feedback
  -  [x] Backlog
  - [x]  Export

-  [x] Details view
  - [x]  Delete (button)
  -  [x] Just now

[2016-07-04 11:17] #1232 closed

[2016-07-04 11:29] brylie commented on #999
I like the second option. We can also consider having a multi-select box, so that an administrator or API Owner can select multiple API Backends. I have added [Bootstrap Select](https://silviomoreto.github.io/bootstrap-select/examples/) to a project recently, and it is easy to use.

[2016-07-04 11:30] brylie commented on #999
One goal here is to try and share most of the Dashboard code/functionality between Administrators and API Owners.

[2016-07-04 11:37] brylie opened #1273 "Add missing i18n tokens/texts related to Edit API Metadata form"
Related to #965

Add missing i18n tokens/texts related to Edit API Metadata form:

- Edit metadata form (opens from Metadata view)
   - Organization
     - Name
     - Description
   - Contact
     - Name
     - Phone
     - Email
   - Service
     - Name
     - Description
     - Valid since
     - mm/dd/yyyy (format needs to be localised)
     - Valid until
     - mm/dd/yyyy (format needs to be

[2016-07-04 11:38] brylie opened #1274 "Add missing i18n tokens/texts related to Submit API Feedback form"
Related to #965

Add missing i18n tokens/texts related to Submit API Feedback form:
- Send feedback form (opens from Feedback tab)
  - Topic
    - Feedback topic
  - Your message
    - Your message
  - Choose message type
    - (Select One)
    - Feedback
    - Error report
    - Feature request
  - Submit
  - Add new issue form (opens from Backlog tab)
  - Title
    - Title
  - Details
    - Desc

[2016-07-04 11:39] frenchbread commented on #999
Cool. Yea, that is possible. What about using API Id in the URL then?

[2016-07-04 11:40] brylie opened #1275 "Add missing i18n tokens/texts to Add New API Issue form"
Related to #965

Add missing i18n tokens/texts to Add New API Issue form:
- Title
  - Title
- Details
  - Description
- Priority
  - (Select one)
  - High
  - Middle
  - None

[2016-07-04 11:41] brylie opened #1276 "Add missing i18n tokens/texts relating to the main navigation user dropdown menu"
Related to #965

Add missing i18n tokens/texts relating to the main navigation user dropdown menu:

  - Menu items
    - Branding
    - Settings

[2016-07-04 11:42] brylie opened #1277 "Add missing i18n tokens/texts related to User Profile view"
Related to #965

Add missing i18n tokens/texts related to User Profile view:

[code]

[2016-07-04 11:43] brylie opened #1278 "Add missing i18n tokens/texts related to User Account form"
Related to #965

Add missing i18n tokens/texts related to User Account form:

    - Change Password
      - Current Password
      - New Password
      - Confirm new Password
      - Change Password (button)

[2016-07-04 11:43] brylie opened #1279 "Add missing i18n tokens/texts related to Project Branding form"
Related to #965

Add missing i18n tokens/texts related to Project Branding form:

    - Project logo
	- Choose file
	- Cover photo
	- Remove
	- Site title
	- Site abbreviation
	- Site slogan
	- Site footer
	- Choose your color theme
	- Social media
	  - Name
	  - Url
	- Update (button)

[2016-07-04 11:44] brylie opened #1280 "Add missing i18n tokens/texts related to Settings form"
Related to #965

Add missing i18n tokens/texts related to Settings form:

    - Api Umbrella
     - Host
     - API Key
     - Auth Token
     - Base URL
    - Api Documentation Editor
      - Enable apiDocumentation Editor
    - Elasticsearch
      - Host
    - Mail
      - Enabled
      - Mailgun Username
      - Mailgun Password
   - Github
    - Client ID
    - Secret
   - Additional
    - Con

[2016-07-04 12:37] Nazarah commented on #1196
If using pagination and we have option to select number of entries to be shown in each page, then there can be another option"show all entries" in the dropdown. This somewhat implements the infinite scrolling option

[2016-07-04 12:52] #1180 closed

[2016-07-04 13:30] brylie commented on #999
If API ID works, go for it. We just need to show the end-user the API Name, so they understand what they are seeing.

[2016-07-04 13:34] frenchbread commented on #999
It works but response is 404, because API ID is provided not as a parameter

[2016-07-04 13:40] frenchbread commented on #999
That's what I mean.

#### No API selected:
<img width="612" alt="screen shot 2016-07-04 at 16 38 40" src="https://cloud.githubusercontent.com/assets/2122679/16562476/e670efac-4205-11e6-9754-caa3bd281f68.png">

#### API selected:
<img width="593" alt="screen shot 2016-07-04 at 16 38 55" src="https://cloud.githubusercontent.com/assets/2122679/16562475/e66dfefa-4205-11e6-9338-0271913da0d3.png">

In s

[2016-07-04 19:19] saralavanip opened #1283 "Sort by 'Recency' and select ascending/descending order shows incorrect results"
# Steps
1. Visit https://nightly.apinf.io
2. Login as registered user
3. Go to catalog view
4. Select sorting option and order (eg. 'Recency' and  'ascending' order)
5. Click on 'Show all'

# Expected Result
It must show APIs based on time stamp: starting from newest to oldest

# Findings
-  Select sorting option and order shows incorrect result.
-  Selecting ascending order shows result in descen

[2016-07-05 07:52] brylie commented on #999
As per the [discussion with Nick (@GUI)](https://github.com/NREL/api-umbrella/issues/252), and your observations, using the the API ID won't work for analytics queries. It was suggested that we filter by the 'path' or 'frontend_prefix'.

How are you filtering the API?

[2016-07-05 07:53] brylie commented on #999
The UI looks good by the way.

[2016-07-05 08:42] Nazarah commented on #1241
@brylie : do I need to provide the wireframe again? Cause the issue isn't showing one.

[2016-07-05 08:49] Nazarah commented on #1262
@nnn : do we have separate lists of what to display in separate admin and owner views? If so please list them here. Might need to rework on the wireframes.

[2016-07-05 08:56] Nazarah commented on #999
I have a suggestion. Can we only show the 3XX, 4XX and 5XX requests in the  HTTP status code chart with bigger bars. Currently they look small. Also I was thinking that is it necessary to keep the 2XX status bar there? because we are already will be showing success rate if API calls in overview information. SO the HTTP Status code chart should focus on issues other than 2XX.
If you wish to keep in

[2016-07-05 09:04] Nazarah opened #1284 "Wireframe for showing context awareness"

[2016-07-05 09:27] brylie commented on #1241
@Nazarah that would be helpful, yes :-)

[2016-07-05 09:34] brylie commented on #999
One challenge about making the 3, 4, and 5xx bars larger with respect to the 2xx bars, is that there are sometimes an 'order of magnitude' fewer requests with 3xx, 4xx, or 5xx codes. E.g. there may be:

- 1,000 requests with 2xx status code
- 100 requests with 4xx status codes
- 10 requests with 5xx status code
- 1 request with 3xx status code

This type of situation is where a logarithmic scale b

[2016-07-05 09:41] Nazarah commented on #1260
@nnn
Help text for API request Timeline: "Click on the overview below to activate the View Finder. You can use it to select specific timeframe for which you wish to see API request patterns. HTTP Status Code and API Response Time charts will get rendered based on the selected timeframe."

HTTP Status code: "Click on any HTTP status bar to filter API Request Timeline and API Response Time chart for

[2016-07-05 09:45] Nazarah commented on #1260
@nnn
How about "glyphicon glyphicon-info-sign" for information icon.
http://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp
make sure the icon is mid aligned with the chart title.

I'd still go for API Dashboard as title, sounds more relevant.

[2016-07-05 09:46] brylie commented on #1260
@Nazarah see also FontAwesome:

http://fontawesome.io/icons/

We are using FontAwesome icons more often than Glyphicons.

[2016-07-05 09:50] brylie commented on #1268
Waiting for the Dashboard code refactor.

[2016-07-05 10:13] philippeluickx commented on #1196
Let's keep it simple. Google does not have those options and is the most used website. I'm OK with having a sizeable amount of results (e.g. 25 or 50) and then just paginations.

[2016-07-05 11:00] Nazarah opened #1285 "HiFI Wireframe for Pagination/Infinite Scroll in Catalog Page"

[2016-07-05 11:05] brylie opened #1286 "Create Core component to contain common code such as layouts, etc"
As part of our project restructuring, we are finding some elements that do not belong to specific project components (e.g. dashboard, catalogue, etc). We need a component to contain common code, such as layouts and general styles. To this end, we can create a Core component for general-purpose code that is not specific to other component(s).

[2016-07-05 11:10] frenchbread commented on #999
I'm filtering charts by API Id now. It works, but I can switch to `frontend_prefix` if needed.

[2016-07-05 11:10] brylie opened #1287 "Move language choices toolbar to layouts"
Currently, the language choices toolbar is only included in the Home template. Move the language choices toolbar to our layouts:

- home layout
- master layout

Also remove the template inclusion from the Home template.

[2016-07-05 11:11] frenchbread commented on #999
I think we can configure the HTTP Status Codes chart to use a logarithmic scale but is separate issue.

[2016-07-05 11:12] brylie commented on #999
@Nazarah would you please open an enhancement for the HTTP Status Codes chart? I can add details about the logarithmic axis, if you will add your initial reasoning.

[2016-07-05 11:13] brylie commented on #999
@frenchbread how difficult would it be to use frontend_prefix?

[2016-07-05 11:19] frenchbread commented on #999
@brylie It you look at the screenshots above, in the table there is a row with `request_path` value. It won't be more difficult to use `frontend_prefix` for filtering.

[2016-07-05 11:30] brylie opened #1289 "Refactor apis client code so it has fewer levels of nesting"
The `apis` component `client` code currently has unnecessary nesting. I.e. there is one extra layer of nesting in the directory structure. As part of the Core component refactoring (pr #1288), I am making changes to the APIs client code, so I will go ahead and move some files up one level.

[2016-07-05 11:35] brylie commented on #999
OK, so does the API ID in the screenshot (`/soundcloud/{{ API ID ]]/` ) come from the Apinf database or API Umbrella?

[2016-07-05 11:42] brylie commented on #1283
What is the expected sort result?

[2016-07-05 11:42] frenchbread commented on #999
Yes, and that's why when I send sample requests they return 404.

[2016-07-05 11:43] brylie commented on #999
What is the source of the API ID?

[2016-07-05 11:47] brylie commented on #999
OK, just use the `frontend_prefix`. Lets forget about the API ID for now.

[2016-07-05 12:49] frenchbread commented on #999
Updated filtering to use front-end prefix instead of API id.

[2016-07-05 12:50] brylie commented on #999
Cool beans. Let me know when this is ready for review.

[2016-07-05 12:55] frenchbread commented on #999
OK, I'm now going to add filtering for "default selection" - combined analytics for all APIs owned by a user.

[2016-07-05 14:05] frenchbread opened #1290 "Access denied error when publishing new API Backend"
Getting error when publishing new API Backend:

[code]

Even though, API Backend is successfully published.

[2016-07-06 07:15] #1267 closed

[2016-07-06 07:22] #1286 closed

[2016-07-06 07:22] #1289 closed

[2016-07-06 07:45] nnn commented on #1290
Same thing. Error appears only the browser console.

[2016-07-06 08:21] brylie commented on #999
@frenchbread good idea :smile:

[2016-07-06 08:25] #1213 closed

[2016-07-06 09:32] Nazarah commented on #1196
Wireframes Added.

[2016-07-06 11:28] brylie opened #1294 "Clarify contributor guidelines with code examples"
There has been confusion lately about our code conventions. Add some clarifying notes to our contributor guidelines, so developers can understand project coding conventions.

[2016-07-06 11:37] brylie opened #1295 "Navigation menu search bar jumps to new line when translation strings change"
The navigation menu search bar does not resize to get smaller when menu text changes. This means that switching languages may cause the search bar to 'hop down' to a new line.

Determine how to allow the search field to responsively resize when other text elements change.

# Screenshots
![screenshot from 2016-07-06 14-34-42](https://cloud.githubusercontent.com/assets/17307/16616652/2808d98e-4387-1

[2016-07-06 11:43] brylie commented on #1295
Ping @nnn

[2016-07-06 12:40] #1260 closed

[2016-07-06 13:06] #1287 closed

[2016-07-06 13:33] brylie commented on #1270
Closing this issue. The Catalogue templates have been re-written since the original i18n audit. All catalogue related templates have i18n tokens/texts for all UI text.

[2016-07-06 13:36] brylie commented on #1270
See PRs: #1165, #1221

[2016-07-06 13:36] #1270 closed

[2016-07-06 13:48] brylie commented on #1272
The status text and usage instructions had already been fixed in previous PRs.

[2016-07-06 17:05] saralavanip commented on #1252
@nnn , verified resolved issue and working fine as expected.

[2016-07-06 19:01] #1252 closed

[2016-07-07 09:00] #1269 closed

[2016-07-07 09:05] #1285 closed

[2016-07-07 09:48] #1272 closed

[2016-07-08 07:12] Nazarah opened #1300 "Show API Status in Analytics when it is selected"
Referring to issue #1284, when an API is selected to view its analytics, it is important to see if it is Up, Down or having average responding. This gives an awareness of the context to the API owner

# Definition of Done
* [ ] Show API status beside the selection dropdown in Analytics.
* [ ] Circle and different colors to indicate API Status: (Green - Up, Yellow - under development / needs mainte

[2016-07-08 07:14] Nazarah opened #1301 "Change tooltip message styling"
# Definition of Done
- [ ] Make description text justified
- [ ] Decrease the size of the font

[2016-07-08 08:40] #1273 closed

[2016-07-08 08:42] #1294 closed

[2016-07-08 08:51] preriasusi opened #1303 "Catalogue sorting doesn't follow i18n recommendations"
Catalogue sorting goes according to Unicode value, that does not serve any language.

http://cldr.unicode.org
http://unicode.org/reports/tr10/#Main_Algorithm
https://en.wikipedia.org/wiki/Unicode_collation_algorithm

You can also compare sorting in folders f pc, on mobile devices phonebooks, and similar sorting as in Apinf is not in use in any modern device that is made for people to use.

[2016-07-08 08:51] #1251 closed

[2016-07-08 08:59] #1172 closed

[2016-07-08 09:02] nnn commented on #774
Closing this since we are in a process of deprecating cfs-collection.

[2016-07-08 09:02] #774 closed

[2016-07-08 09:03] #735 closed

[2016-07-08 09:04] nnn commented on #735
Already cleaned up in the latest develop.

[2016-07-08 09:05] #674 closed

[2016-07-08 09:08] nnn commented on #543
Checked apinf.io. Now there is a link to http://community.apinf.io/.

[2016-07-08 09:08] #543 closed

[2016-07-08 09:10] #353 closed

[2016-07-08 09:11] nnn commented on #834
Duplicate of #1203

[2016-07-08 09:11] #834 closed

[2016-07-08 09:12] nnn commented on #943
Duplicate of #1234

[2016-07-08 09:12] #943 closed

[2016-07-08 09:17] #578 closed

[2016-07-08 09:19] #681 closed

[2016-07-08 09:20] #680 closed

[2016-07-08 09:20] #675 closed

[2016-07-08 09:20] #672 closed

[2016-07-08 09:22] nnn commented on #904
Related to #965

[2016-07-08 09:23] nnn commented on #898
Related to #965

[2016-07-08 09:23] nnn commented on #883
Related to #965

[2016-07-08 09:23] nnn commented on #882
Related to #965

[2016-07-08 09:23] nnn commented on #881
Related to #965

[2016-07-08 10:28] brylie commented on #1303
Some initial findings:

- MongoDB does not support sorting using the Unicode Collation Algorithm
- The UCA also defines the Default Unicode Collation Element Table, or DUCET, which defines the default sort order for all Unicode characters, regardless of language. ([Elastic search documentation](https://www.elastic.co/guide/en/elasticsearch/guide/current/sorting-collations.html))

[2016-07-08 11:07] nnn commented on #1301
Please, provide us with more details.

Why description text should be justified?
Why size of the font should be decreased? And to what size?

[2016-07-08 11:42] 55 opened #1304 "Redesign "My managed APIs" view"
Redesign "My managed APIs" view @ _/manage_
Think about better approach to list user's APIs.

Current look:

![my_managed_apis](https://cloud.githubusercontent.com/assets/7489044/16686497/340d2f06-451b-11e6-9fd4-5dbd682b8bd0.png)

[2016-07-08 12:00] #1295 closed

[2016-07-08 13:06] #556 closed

[2016-07-08 13:06] #999 closed

[2016-07-08 13:08] #1300 closed

[2016-07-11 06:30] Nazarah commented on #1301
Please have a look at the following screenshots:

![image](https://cloud.githubusercontent.com/assets/17976243/16721551/d03fae56-4748-11e6-92da-7ac072d7414c.png)

![image](https://cloud.githubusercontent.com/assets/17976243/16721555/d83d1e86-4748-11e6-8407-865857a156fb.png)

1. If the help text is 1 liner, there is no problem of having it in larger font size. But when is has more more than one lin

[2016-07-11 08:40] Nazarah commented on #1241
Wireframe uploaded.
Added a simple tooltip and popup to notify users about average response time is calculated as Mode.

[2016-07-11 08:44] Nazarah opened #1305 "Make List of APIs appear sorted Alphabetically"
# Definition of Done
- [ ] APIs in the selection dropdown appear alphabetically sorted.
- [ ] Option for changing sorting order (A - Z or Z - A) in the dropdown.
- [ ] Sorting order works for both My APIs and Other APIs category.
- Open Question: Is it more viable to sort the APIs according to their status? Admin/Owner would put more emphasize on APIs that are either down or needs maintenance rath

[2016-07-11 11:49] Nazarah commented on #1116
Wireframe Added.

[2016-07-11 11:50] #1284 closed

[2016-07-12 06:22] Nazarah opened #1307 "heuristic Evaluation of API Profile Page"

[2016-07-12 08:31] Nazarah commented on #1116
When a user registers for the first time and has added no API backends, the charts should not appear in the analytics. Instead the following text should appear:
"You don't have any API Backend you manage. To add an API Backend, click here"
The "here" hyperlink would navigate the user to Add API Backend page.

[2016-07-12 12:09] Nazarah commented on #1000
IN API-Umbrella, analytics can be drilled down based on multiple rules in a separate filtering feature.
Similar feature can be made for APINF. Possibly in different task:

![apitablefilter](https://cloud.githubusercontent.com/assets/17976243/16766418/aa0e122c-4842-11e6-8538-ae3a41c36e44.png)
![apitablefilterquery](https://cloud.githubusercontent.com/assets/17976243/16766419/aa0e32d4-4842-11e6-80b3

[2016-07-13 07:08] saralavanip opened #1309 "Sort and view 'My bookmarks' shows all APIs"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Go to 'Catalog'
4. Select Sorting by 'Name or  Number of bookmarks' (in ascending order)
5. Click on 'My Bookmarks'
# Expected Result

Notify user if bookmarks not available yet
# Actual Result

Sort and view 'My bookmarks' shows all APIs
# Screenshot

![sort_mybookmarks_unresponsive](https://cloud.githubusercontent.com/assets/13309358/167945

[2016-07-13 07:38] saralavanip opened #1310 "Edit API backend as owner displays message 'Not Authorized'"
Steps:
1.Visit https://nightly.apinf.io
2.Sign up
3.Add API backend
4.Go to 'Manage API Backends'
5.Click on 'Edit'

Findings:
- Displays message 'Not Authorized' cannot access this page and ensure to be logged in.

Screenshot:
![edit_api_unauthorized_error](https://cloud.githubusercontent.com/assets/13309358/16795327/7432587c-48e5-11e6-8909-b2b30080c27e.png)

[2016-07-13 07:46] saralavanip opened #1311 "Being owner of API backend unable to add metadata,documentation and backlog in 'API backend view'"
Steps:
1.Visit https://nightly.apinf.io
2.Sign up
3.Add API backend
4.Go to 'Manage API Backends'
5.Click on 'View'

Findings:
- Being owner of API, unable to add metadata, documentation and backlog

[2016-07-13 08:35] frenchbread opened #1312 ""Copy API key" button is inline with text field"
### How it looks now:

![screen shot 2016-07-13 at 11 32 13](https://cloud.githubusercontent.com/assets/2122679/16796917/c1d1af76-48ed-11e6-8db0-b9d90c421a7b.png)
### How it supposed to look:
- "Copy API key" button should be below the input field, not inline.

[2016-07-13 11:26] nnn opened #1314 "Unable to edit or/and delete API backlog item"
When trying to edit or delete API backlog item getting this:

![](https://cloud.githubusercontent.com/assets/2034879/15279584/c6037ab6-1ada-11e6-95b2-9aa7bdd37aff.png)

![](https://cloud.githubusercontent.com/assets/2034879/15279589/d3ec100c-1ada-11e6-8784-874b885f2a22.png)

[2016-07-13 11:56] nnn commented on #1310
@saralavanip, please confirm.

[2016-07-13 11:56] nnn commented on #1311
@saralavanip, please confirm.

[2016-07-13 13:24] saralavanip commented on #1236
Reported issues:
https://github.com/apinf/api-umbrella-dashboard/issues/1283
https://github.com/apinf/api-umbrella-dashboard/issues/1309
https://github.com/apinf/api-umbrella-dashboard/issues/1310
https://github.com/apinf/api-umbrella-dashboard/issues/1311

[2016-07-13 13:31] Nazarah opened #1315 "HiFi Wireframe for API Uptime"

[2016-07-13 13:32] #1315 closed

[2016-07-13 13:35] Nazarah commented on #1022
Wireframes added

[2016-07-13 15:44] #1227 closed

[2016-07-14 06:38] Nazarah commented on #1022
If possible, fix the padding between information in card view in this task. Right now, the bottom right corner of card view has less padding than bottom left corner.

[2016-07-14 07:18] Nazarah opened #1316 "Make logo appear in API profile and catalog pages s.t. the logo retains its original shape"
Right now logo of any shape uploaded appears as circle in API profile and catalog pages. Uploaded logo should retain its original shape in the place holder.

# Definition of Done
* [ ] Original shape (square, rectanlge, triangle, circular) of the logo is retained within the place holder.
* [ ] Logo is clearly identified within placeholder irrespective of the shape.
* [ ] Logo images bigger than pl

[2016-07-14 11:59] Nazarah commented on #1203
Lo-Fi Wireframes

![profiledefaultmockup](https://cloud.githubusercontent.com/assets/17976243/16838756/9f77e878-49d3-11e6-8cb5-be8dd37bdcc3.png)
![profiledefaultmockup2-2](https://cloud.githubusercontent.com/assets/17976243/16838757/9f7efd7a-49d3-11e6-944c-358a24723274.png)

[2016-07-14 15:12] #1009 closed

[2016-07-15 06:47] saralavanip commented on #1311
@nnn , verified the resolved issue and works as expected.

[2016-07-15 06:50] saralavanip commented on #1310
@nnn , verified the resolved issue and works as expected.

[2016-07-15 06:57] #1311 closed

[2016-07-15 06:58] #1310 closed

[2016-07-15 07:41] nnn opened #1318 "Update Meteor to the latest version"
Meteor 1.3.5.1 was recently released.
Update project to latest Meteor version,  update dependencies and test.

[2016-07-15 10:41] saralavanip opened #1319 "Missing i18n texts in navbar"
# Steps
1. Visit https://nightly.apinf.io
2. Click on 'Suomi'
3. Click on 'API Catalog'

# Findings
Catalog  view in Suomi has English text strings : 'signup', 'login', 'Added by' , time stamp (date when created)

# Screenshot
![suomi_catalog_engtext](https://cloud.githubusercontent.com/assets/13309358/16871696/19180fb0-4a91-11e6-8d62-b4dec47629ee.png)

![suomi_catalog_table](https://cloud.githubu

[2016-07-15 11:35] #1307 closed

[2016-07-15 11:37] Nazarah opened #1320 "Low-Fi Wireframe for API Profile Page Default View"

[2016-07-15 11:37] #1320 closed

[2016-07-15 11:38] Nazarah opened #1321 "Hi-Fi Wireframe for Advanced query filtering of API Drilldown"

[2016-07-15 11:38] #1321 closed

[2016-07-15 12:07] Nazarah opened #1322 "Analytics timeframe: Show correct API analytics data for selected date range only"
# Issue

# Improvement Ideas
- [ ] Make sure chart analytics show results for selected time range only (nothing outside of it).
- [ ] Explicitly mention about the condition of holding "Sunday" as the start of week and data rendering to be done according to this.

[2016-07-15 12:17] Nazarah opened #1323 "Dashboard Analytics: Make problematic APIs appear on top of the API Selection Dropdown"
# User Story

# Definition of Done
* [ ] APIs with red and yellow status appears on top of the API list in selection dropdown
* [ ] Red APIs appear at the top. Yellow APIs afterwards.

[2016-07-15 12:32] Nazarah opened #1324 "API Analytics: Show default message over API Charts when user deselects all APIs to view analytics."
Currently, on clicking Deselect button on API selection dropdown, The analytics charts show information of all APIs combined.
This works as same as selecting all APIs, making the functionality redundant.
However, deselecting means nothing is chosen for viewing purpose, so the charts are not supposed to populate any API data
# Definition of Done:
- [ ] on clicking Deselect, the charts populate no A

[2016-07-15 12:34] Nazarah opened #1325 "API Timeframe: Add a Reset button to clear the time selection"
# Definition of Done
- [ ] A Reset button appears beside Analytics Timeframe selection pane.
- [ ] On click, previously selected time range gets cleared.
- [ ] Default time range: same day of the previous month to current day

[2016-07-15 13:16] #1002 closed

[2016-07-15 13:16] #1003 closed

[2016-07-15 13:16] #1116 closed

[2016-07-15 13:16] #1158 closed

[2016-07-15 13:16] #1262 closed

[2016-07-15 13:17] frenchbread opened #1326 "Move .meteor/dev_bundle to .gitignore"

[2016-07-15 13:22] frenchbread opened #1327 "Show API backend prefix value next to API backend name"
### How it looks now:

![screen shot 2016-07-15 at 16 18 20](https://cloud.githubusercontent.com/assets/2122679/16875371/c70795a8-4aa7-11e6-8eda-0ab3c6abab27.png)
### Use-case:

### Definition of done:
- Add `frontend_prefix` value next to its API name to differentiate them

[2016-07-15 13:22] frenchbread opened #1328 "Add possibility to change amount of rows shown in the datatable"

[2016-07-15 14:39] #1167 closed

[2016-07-15 14:41] #1328 closed

[2016-07-15 14:43] nnn commented on #1236
@saralavanip, are you going to continue dashboard and chart testing next sprint or should we close this issue?

[2016-07-15 14:44] nnn commented on #1028
@shaliko, should we close this task?

[2016-07-15 15:24] shaliko commented on #1028
@nnn Yes

[2016-07-15 15:25] #1028 closed

[2016-07-16 17:36] saralavanip commented on #1236
@nnn , Please let me know if dashboard is ready for testing. I am available next week(18.07-22.07) and will continue with this testing task.

[2016-07-18 06:20] nnn commented on #1236
@saralavanip, yes, please, continue with dashboard testing.

[2016-07-18 06:32] #1241 closed

[2016-07-18 06:41] nnn commented on #1125
@shaliko, what is the status of this task?

[2016-07-18 07:24] nnn commented on #1190
@jykae, will you take this task? We can work together on this.

[2016-07-18 07:25] nnn commented on #1020
@jykae, can you take this task?

[2016-07-18 08:14] #1326 closed

[2016-07-18 17:11] Nazarah opened #1332 "HiFi Wireframe for API Profile Default Page"
# Definition of Done
* [x] Renewed Default View of Profile
* [x] API Information (Owner, Uptime, Average Response Time, Bookmark and Star Rating)
* [x] Action buttons for Bookmarking, Star Rating, Edit API Backend, Flag and Delete
* [x] API Usage Instruction

[2016-07-18 17:15] Nazarah opened #1333 "Add Alert message to notify users about unique API backend"
* Related to Issue #1200

[2016-07-18 18:57] shaliko commented on #1125
@nnn Still in progress, have issue with first setup api-umbrella with api-umbrella.yml file. That file should be stored on persisted volume and mount to all api-umbrella containers for easy scale amount of containers.

Ideally we should release Apinf config in rancher catalog for easy setup it, but having api-umbrella.yml file instead of environment variables make configuration too complex, I tryi

[2016-07-20 07:14] saralavanip opened #1337 "Notify users when no analytics data available for selected API in dashboard view"
# Steps
1. Visit https://nightly.apinf.io
2. Login as registered user
3. Add API backend
4. Go to dashboard
5. Select the above added API from drop down menu
# Findings

 Users not notified if no analytics data available.
# Screenshots

![notify_nodata](https://cloud.githubusercontent.com/assets/13309358/16978057/89a26878-4e62-11e6-8ced-af909513e722.png)

![notify_nodata1](https://cloud.githubuser

[2016-07-20 08:31] #1151 closed

[2016-07-20 08:31] #1156 closed

[2016-07-20 08:32] nnn commented on #1151
@saralavanip, please confirm.

[2016-07-20 08:32] nnn commented on #1156
@saralavanip, please confirm.

[2016-07-20 10:07] #1196 closed

[2016-07-20 11:27] #1332 closed

[2016-07-20 11:39] Nazarah commented on #1203
Wireframes Added

[2016-07-20 13:37] #1248 closed

[2016-07-22 06:56] saralavanip commented on #1151
@nnn, verified the resolved issue and it works as expected.

[2016-07-22 06:57] saralavanip commented on #1156
@nnn, verified the resolved issue and it works as expected.

[2016-07-22 07:42] #981 closed

[2016-07-22 07:44] philippeluickx commented on #1118
Should we remove the Dashboard 1.0 label so we can close the EPIC? This will have to be done with multiproxy...

[2016-07-22 07:45] #980 closed

[2016-07-22 07:46] #984 closed

[2016-07-22 08:14] jykae commented on #1020
@nnn yes, I assign myself.

[2016-07-22 08:17] jykae commented on #1190
@nnn yes, I assign myself.

[2016-07-22 09:17] jykae commented on #1190
Waiting for #622

[2016-07-22 10:33] philippeluickx opened #1340 "Benchmark Dashboard code and discuss/document possible performance improvements"
Current Dashboard performance is slow - loading is capped at 50K records and this query take 10s. There can be several places where Dashboard performance could be improved, so care should be taken before proceeding with any single solution.
## Objective
Before going with further experiments, it is good to have a baseline measure of performance for comparison.

We should try to measure the overall

[2016-07-22 10:39] jykae commented on #1020
Going to use Bootstrap Switch http://www.bootstrap-switch.org/

[2016-07-22 10:40] nnn commented on #1020
@jykae, sounds good!

[2016-07-22 11:56] philippeluickx commented on #1340
Docs: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations.html
per term: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket-terms-aggregation.html
per date range: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket-daterange-aggregation.html
per range: https://www.elastic.co/guide/en/elastic

[2016-07-22 12:42] saralavanip commented on #1236
Reported issue:
https://github.com/apinf/api-umbrella-dashboard/issues/1337

[2016-07-22 12:51] philippeluickx commented on #1021
Should we only take the historical data into account from our own pings (the monitoring of every 60 mins)? Or do we also use the requests sent by users?

We also need to be careful with the "normal" analytics. Should these hourly pings be included in the data shown to the dashboard? If not, how can we filter it out?

[2016-07-22 12:53] philippeluickx commented on #1184
Notifications would be interesting to have, but then we would have to implement this decently (so we can use it for other messages later).
I assume that if the mail server is down, the emails are queued and sent when the server is up again?

[2016-07-25 10:21] jykae commented on #622
@nnn I will try to help with this as this is strongly related on my task, passing "rate limit" fields.

[2016-07-25 12:42] jykae commented on #622
"disable_api_key" works from Umbrella UI, able to make calls without API key. Edit API backend did not have the right field, document about Admin API is outdated.
"disable_api_key" can have 3 states "inherit, required, disabled" and they are String values, not Boolean as docs say: https://api-umbrella.readthedocs.io/en/latest/admin/api.html

Got disabling working from Apinf edit form also.

[2016-07-25 13:26] jykae commented on #622
When API key is not used, existing rate limits are applied to IP address by default. I will however test & verify this in #1190

[2016-07-26 07:59] philippeluickx opened #1344 "Clarify semantics"
To me it is not clear what a frontend and backend prefix is. This is being used in the info display for an API, e.g. https://apika.digipalvelutehdas.fi/api/A844qMfhmoAFGAJMu

I googled the terms and only get meaningful results on our own project.

[2016-07-26 08:16] philippeluickx opened #1345 "Create high-quality demo instance"
We need a demo instance where users can go and explore the tool. Right now, our demo instance has low quality data and does not explain the tool very well.

[2016-07-26 11:08] philippeluickx commented on #1183
After discussion with @frenchbread and @nnn we scoped the Epic as follows:
- We prefer to monitor the API, not the host. The host could have an HTTP 200 response with a nice webpage showing "API currently under maintance"
- Some APIs have an URL where you can ping the status (e.g. https://status.github.com/api) but we assume this will be the minority. In any case, for these to work we would have t

[2016-07-26 11:22] philippeluickx commented on #1192
After discussion with @frenchbread and @nnn we decided to move this epic to icebox.

It is not clear where this feature request comes from. What is the added value for having the editor in this?
Considering the workflow of API owners / API developers, creating a Swagger file in the editor, integrated in apinf might not be the best solution.

Arguments:
- A swagger file is part of the code. Therefo

[2016-07-26 11:23] philippeluickx commented on #1049
How does this add more value over http://editor.swagger.io/ ? You can download code stubs there too. Might be a new feature though...

[2016-07-26 11:25] philippeluickx commented on #1049
We need to know better how our users workflow looks like. Moved this to icebox because added value is not clear.

[2016-07-26 13:22] philippeluickx opened #1346 "Notifications when an API you are using is down"
When I have an application that is using a 3rd party API, I need to know when that API goes down, because then my app will lack functionality.

Send notification (by email) to all users of the API.

Point to discuss: rating and bookmarking are indications of interest of the user for an API. Does not mean they are using it.

[2016-07-26 13:47] philippeluickx commented on #1183
Some other services:

- https://www.runscope.com/
- https://ping-api.com/
- http://apimetrics.io/

[2016-07-28 07:35] jykae commented on #1190
Rate limits in Umbrella: http://api-umbrella.readthedocs.io/en/latest/api-consumer/rate-limits.html

[2016-07-28 07:55] jykae commented on #1190
Tested default rate limits with disabled API key:
[code]

[2016-07-28 08:17] jykae commented on #1190
When rate limit hits zero, we get HTTP status 429 as stated in documentation:

[code]

[2016-07-28 08:24] jykae commented on #1190
When new custom rate limit (10 requests per hour)  is set, it resets the rate limiting counters.

[code]

[2016-07-28 13:38] jykae commented on #1190
Made upstream issue about inconsistency in Umbrella Admin API documentation, https://github.com/NREL/api-umbrella/issues/274

Got working somehow, by guessing & trying.

[2016-07-29 09:52] philippeluickx commented on #1219
Would be good to have a complete styleguide. Also I vote for simplicity: white + 1 color.
Some good reads:
https://medium.freecodecamp.com/designing-in-color-abd358660a7b#.n7e29gngn
https://medium.com/swarm-nyc/complexion-reduction-a-new-trend-in-mobile-design-cef033a0b978#.igpnlc7sb

[2016-07-29 14:02] philippeluickx opened #1349 "API Key should not be passed as a parameter"
Adding keys in URL is not a safe practice. It stays in (browser) history and call logs. (It is secured though: https://groups.google.com/forum/#!forum/api-craft)
Better option is to pass the key in the header of the requests, e.g. authentication header.

edit: found that URLs are secure, but still best practice to not include sensitive data in URLs

Edited by bajiat:

Source: https://www.owasp.org

[2016-08-01 07:08] #1236 closed

[2016-08-01 07:16] bajiat commented on #1091
@brylie Would you be interested in this task?

[2016-08-01 07:17] bajiat commented on #1233
@jykae Would you be interested in this? Related to #1091, need to work in close cooperation.

[2016-08-01 07:19] bajiat commented on #1207
Partially already done, API settings in API tabbed view. Check that contains all necessary settings after API backend schema is ready.

[2016-08-01 07:24] bajiat commented on #1022
@jykae Is this something you would be interested in? Related to #1021

[2016-08-01 07:40] bajiat commented on #1022
Comment from @Nazarah We should decide what is the meaning of the color coding: what percentage range gets green, yellow or red? Initial proposal: 90 - 100 is green, 75-89 is yellow, 0 - 74 is red. Any comments?

[2016-08-01 07:42] bajiat commented on #1021
Should the failure logs be in analytics or in tabbed API view as its own tab?

[2016-08-01 07:43] nnn commented on #1022
I would say red is for 50% and below.

[2016-08-01 10:41] bajiat opened #1350 "Platform setting: option to allow only admins to add API(s)"
For deployments intended for managing the APIs of a single organization or company, it should be possible to restrict who can add APIs to the platform.

Idea: add a setting to Settings wizard, where admin can select whether anyone or only admin(s) are able to add APIs to that particular deployment.

[2016-08-01 11:43] bajiat commented on #1346
Notification could be tied to API keys: if requests to a particular API are made with user's API key, then that user can be considered a user of that API. However, if there are APIs where API key usage is optional, then it becomes more difficult to determine who is a user.

Another point to discuss: should it be possible to disable notifications if user does not want them?

[2016-08-01 11:55] bajiat commented on #1349
@philippeluickx Where and what kind of change are you proposing?

[2016-08-01 12:25] bajiat opened #1351 "Replace collection FS with meteor-file-collection"
The FS collection has been deprecated. Since it is still used for logo and other image upload, we need to implement similar logic as we using for uploading documentation.

[2016-08-01 14:31] philippeluickx commented on #1349
@bajiat Common practice is to use HTTP headers for authentication. Changes should be minimal to implement this.
E.g. http://code.tutsplus.com/tutorials/http-headers-for-dummies--net-8039

[2016-08-01 14:32] philippeluickx commented on #1346
We need user input for these questions. Good points you raise here.

[2016-08-02 09:19] bajiat commented on #1261
@frenchbread Can you describe the steps to reproduce this error?

[2016-08-02 09:54] frenchbread commented on #1340
As suggested in here - https://github.com/NREL/api-umbrella/issues/140#issuecomment-110226345, there is a way to fetch analytics using API-Umbrella's REST API and it's more secure.

Analytics drilldown data should be accessible via this URL: `https:://<domain>/api-umbrella/v1/analytics/drilldown`. The problem is that currently I'm getting `500` error status code. Reported that issue in https://git

[2016-08-02 10:09] bajiat commented on #1309
@saralavanip I could not reproduce the error with Chrome (v. 51.0.2...) Which browser were you using?

[2016-08-02 10:20] frenchbread commented on #1261
Updated issue description.

[2016-08-02 11:24] philippeluickx commented on #1351
This is a blocking issue for updating meteor to latest 1.4

[2016-08-02 12:27] bajiat commented on #1049
@philippeluickx My thinking is that Swagger editor would be primarily used by API owners to create documentation or to update existing, uploaded Swagger document. Hence, for developers we could integrate Swagger Codegen and provide e.g. a button to download code sample / SDK, if a Swagger file is available for a particular API.  Does this make sense?

[2016-08-02 12:34] bajiat opened #1352 "Catalog 2.0"
This is an EPIC for  improvements for Catalog v. 2.0: advanced filtering, improved search, etc.

[2016-08-02 12:52] bajiat commented on #1305
@Nazarah Are you referring to the API selection drop down in Dashboard? If yes, what is the last check box about: "Sorting order works for both My APIs and Other APIs category". API owners should only be able to see their own API(s)

[2016-08-02 14:13] bajiat commented on #951
This also involves informing the API consumer that you have to pay for the usage (in catalog, in single API view).

Monetization 2.0: Should the consumer also be kept aware of how much they have consumed? Does this mean dashboard for API key usage with payment information?

[2016-08-03 11:10] #1203 closed

[2016-08-03 12:33] Nazarah commented on #1305
@bajiat : yes, the API selection dropdown in Dashboard.
If an APINF Admin is viewing the dashboard, then he is supposed to see APIS added by him and API added by others.
So for that scenario, the sorting should also work.

[2016-08-03 12:41] Nazarah opened #1353 "Wireframe for "Separate API details editing from editing proxy settings""
#1207

[2016-08-03 12:42] Nazarah opened #1354 "Wireframes for "Show statistics for API failures/uptime""
#1021

[2016-08-03 12:43] Nazarah opened #1355 "Wireframes for "Setting for API visibility""
#1020

[2016-08-04 08:00] bajiat opened #1356 "Quick update on project page apinf.org"
Before a proper project page will be built, let's give some first aid to the project page that contains Api Umbrella screenshots and not working links

Remove non-working buttons and links
Update texts and pictures for apinf.org

[2016-08-04 12:18] philippeluickx commented on #1049
It does make sense. I checked for swagger-ui if there is any indication on that project if they would include codegen there, but no concrete pointers for this to happen.
So let's implement this then!

[2016-08-05 06:40] philippeluickx opened #1357 "Keep API owner brand in URL to be called"
As an API owner,
I want my customers / users to call a URL
that has my brand.

So I want to have people call api.mycompany.com
not apinfo.io/mycompany

[2016-08-05 06:41] philippeluickx opened #1358 "Migration path from public API to apinf.io"
As an API owner
I want to know what to do to migrate my currently public API
to apinf.io.

This includes informing current users, deprecating call straight to my API and blocking them at some point. Only apinf.io should be able to call my API.

[2016-08-05 07:40] philippeluickx commented on #557
As discussed, it might be a good idea to stick to the apinf.io brand consistently.
So apinf.io could be the page with all information about the company, SaaS model (in the future) etc.
Then we can have subdomains for actual deployments:
- catalog.apinf.io for a "real data" catalog
- demo.apinf.io for a demo sandbox where anyone can explore the admin section. We could reset this daily then.