[2017-04-17 14:49] marla-singer commented on #2378
@55 Really great

[2017-04-17 15:45] #2351 closed

[2017-04-17 15:57] kyyberi opened #2461 "Date formatting in dashboard"
I suggest that we get rid of the MM/DD/YYYY format (from and to date selection) which is used by Americans and Canadians. Instead, lets adopt an international standard like https://en.wikipedia.org/wiki/ISO_8601
This is major usability issue for the majority of the global users.

[2017-04-18 05:54] Nazarah commented on #2418
@brylie in APinf, I found the use of Info, Danger (for deleting and API or other items) and Add button (for adding swagger document and media items).
Also the primary actions o adding an organization or API doesn't appear as buttons, they appear in the nav bar.
If you want you can hard code this specific button colors.
Other than that, it is good to give some flexibility to customers to select the

[2017-04-18 06:36] bajiat opened #2462 "APInf Service design guidelines"
# Description
Come up with a list of principles for service design in APInf. Max 7-10 items with descriptions.

[2017-04-18 06:40] Nazarah opened #2463 "Add Drag-and-reposition feature in organization cover image"
Right now there is no way to position the cover image according to user's preference in organization profile.
User simply is able to add a picture and often, the focal point of the picture doesn't appear after saving the changes.
User should be able to reposition the picture.

[2017-04-18 06:55] marla-singer commented on #2224
@bajiat Interested

[2017-04-18 06:55] marla-singer commented on #2221
@bajiat Interested

[2017-04-18 07:02] #2186 closed

[2017-04-18 08:15] #2036 closed

[2017-04-18 08:16] philippeluickx commented on #2100
We got apibot.ai as a domain. I propose we test this first as a seperate service and we can integrate later on if this proves succesful. Let's not bloat apinf.io at this stage.

[2017-04-18 08:17] bajiat commented on #2407
Closing as too abstract.

[2017-04-18 08:17] #2407 closed

[2017-04-18 08:19] philippeluickx commented on #2113
I would argue this is out of scope for apinf.io. Seperate project is available on github and we can integrate through apinf.io REST API.

[2017-04-18 08:19] bajiat commented on #2349
Is this in progress? Will you open the new issues?

[2017-04-18 08:23] bajiat commented on #2446
@mauriciovieira Would you be interested in this task?

[2017-04-18 08:47] bajiat commented on #2441
@marla-singer Would you be interested in this?

[2017-04-18 08:48] bajiat commented on #2443
@mauriciovieira Could you help with this task? We can co-assign others, if needed.

[2017-04-18 08:51] marla-singer commented on #2349
@bajiat Nope. I'm waiting for feedback from @brylie

[2017-04-18 08:53] marla-singer commented on #2441
@bajiat Yes. But I can not estimate it because I don't understand the entire idea and what do I do in this task

[2017-04-18 09:47] marla-singer opened #2464 "Feedback tab: display a feedback author"
Only registered user can leave feedback.
I think it would be good to display a feedback author particularly the list is long

![joxi_screenshot_1492508231835 1](https://cloud.githubusercontent.com/assets/20643403/25124643/02150808-2435-11e7-9500-08073b241bff.png)

# Goal
* Each feedback item in the Feedback tab has an author
* Author is a username of an APInf user, who submitted the feedback

[2017-04-18 15:10] frenchbread opened #2465 "Uncaught Error: Configuration options must be set before AccountsTemplates.init!"
Error is thrown in the browser console during local development. As meteor server restarts automatically when any change is made to the project code, it causes browser to force page refresh automatically as well, after the first page refresh (right after some code change is made), following error is thrown:

### Error message in the browser console
[code]

Second page refresh "resolves" the issue.

[2017-04-19 06:38] brylie commented on #2336
I have taken this task. For the first iteration/goal, lets aim for 100% coverage of our data model with REST creat, read, update, delete equivalent endpoints.

We can build on that experience to make more 'custom fitting'  endpoints in a second iteration.

[2017-04-19 06:41] brylie commented on #2440
For the record, it was requested that we use the OpenAPI Spec file that was created for the API Catalog to generate a REST scaffold. What would be the goal or outcome of generating the REST scaffold? What would be some possible implications of going 'design first', including code generation, when building the Apinf REST API?

cc: @bajiat @kyyberi @marla-singer @matleppa

[2017-04-19 06:55] #2135 closed

[2017-04-19 06:55] #2389 closed

[2017-04-19 07:39] brylie commented on #2349
I think the changes are OK, but we have just been struggling with Swagger UI in general. It seems like we may need to write 'kludgy' fixes to control the try out methods and insert API key into Swagger. By 'kludgy', I mean somewhat *inelegant* and *brittle*, although I could be wrong altogether.

@marla-singer what are your thoughts on how we would handle the three related issues?
- try-out method

[2017-04-19 07:47] marla-singer commented on #2378
@Nazarah Can you please help me with this task? I don't know how to design footer and relate is with the statistic block. The current result you can see above

[2017-04-19 08:49] bajiat opened #2470 "Manual testing for release 0.43.0"
Test the 0.43.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] User-friendly URLs for APIs and organizations
  * [x] Organization

[2017-04-19 11:09] Nazarah commented on #2311
after  a discussion with @matleppa we decided the following
1. APIs would appear with pins on cards on Organization profile.
2. There would be 2 sections: Featured APIs and below All APIs
each section label should have a field to indicate the number of items  (i.e. APIs) contained within them.
3. On clicking Pin icon on API card, the API would appear both in Featured APIs section and All APIs sect

[2017-04-19 11:15] Nazarah commented on #2378
@marla-singer I am on it.

[2017-04-19 11:17] Nazarah opened #2471 "wireframe for "Changes to footer""
#2378

[2017-04-19 11:42] brylie commented on #2336
After a brief meeting with @ashakunt, @matleppa, and @mauriciovieira we have reached the following consensus:

## Recommendation
Itt is recommended that we build out our 'v1' API using [Simple REST](https://github.com/stubailo/meteor-rest/blob/master/packages/rest/README.md). This is for reasons, including:
- low maintenance overhead
- it is **based on existing code** (methods, publications, and c

[2017-04-19 12:26] #2215 closed

[2017-04-20 04:27] ashakunt commented on #2446
The idea behind having a testing and integration framework in place is to facilitate best quality code, strong (and standard) coding guidelines. The following comments will have information about the proposed plan.

[2017-04-20 04:35] ashakunt commented on #2446
Top level highlight:
* All development will happen only in feature branches
* After successful review and **Gate 1** is passed, the branch is merged to **develop**
* **develop** is tested regularly with **BIT** on Travis CI
* Every night, **develop** is tested with **Gate 2** and upon success, **develop** is deployed to **nightly.apinf.io**
* Before every release, **Gate 3** is triggered and based

[2017-04-20 04:48] ashakunt commented on #2446
Terminologies defined / Gates:

* **GATE 1** / **BIT** (Basic Integration Tests)
    * Unit tests
    * LINT checks
    * Other mandatory checks (e.g. checking il8n tokens)
    * Sandbox setup with basic functionality working (to be defined)
* **GATE 2**
    * Unit tests
    * Smoke tests (automation level 100%)
    * System tests (automation level 100%)
    * Tests in Smoke and System tests packa

[2017-04-20 04:59] ashakunt commented on #2446
To make the above plan successful, efforts are required from all teams. Below is the list of items needed from relevant teams.
* **From devops**
    * Script for deployment of API Umbrella
    * Script for cleaning the API umbrella instance
    * Script to deploy APINF instance for testing during the CI process (or a docker instance)
    * Script to deploy APINF to remote server (e.g. nightly.apin

[2017-04-20 05:00] ashakunt commented on #2446
Testing frameworks:

* For unit testing: Mocha
* For UI testing: Selenium - Robot

[2017-04-20 05:06] ashakunt commented on #2446
First steps:

* [ ] Run a demo / dummy tests in Travis => get a tests package
* [ ] Setup local Jenkins instance(s) and run the tests package there
* [ ] Check if`xvfb` can be used for running UI tests (so jenkins can be located in cloud)
* [ ] Improve the test package coverage to include: unit tests, lint, il8n checks
* [ ] Define tests that should be run in every package (BIT, SmT, SyT) and gate

[2017-04-20 05:06] ashakunt commented on #2446
**Role of manual testing**:
----
is very important. First of all, it gives an experienced first hand feedback of the software. Next, this should include **Regression testing** of all the bug fixes that have been made in the sprint (unless, there are automated tests for the bug fix).

[2017-04-20 05:08] ashakunt commented on #2446
**Updating the definition of done**:
----
DoD should now include the following
* **Gate 1** and **BIT** passed
* More than two unit tests (including at least one positive and one negative test scenario). It is recommended to have at least as many negative scenarios tests as possible already.
* If applicable, more than one UI test to check the behavior of the feature on the deployment.

[2017-04-20 05:11] ashakunt commented on #2446
@bajiat : we should now start to define the tests in different packages (BIT, SmT, SyT, Release, Regression)

@mauriciovieira @ccsr  @brylie comments above available for review .

[2017-04-20 06:06] bajiat commented on #2336
A few questions from my point of view:
- How would this proposal go with the already designed Catalog API, which is the first priority to be implemented?
- I can understand the point of needing more clarification for customer needs outside the Catalog API, but is that a reason for going with our-system-first approach? Doing what is easy for us and based on our technology?

[2017-04-20 06:35] brylie commented on #2336
The proposal is in alignment with the current APInf Catalog API design, and would likely support the following needs:

- APIs
  - Get all APIs
  - Create API
  - Get API by ID (authenticated)
  - Update API by ID (authenticated)
  - Delete API by ID (authenticated)
- Organizations
  - Get all organizations
  - Search organization by field(s)
  - Add organization (authenticated)
  - Update organiza

[2017-04-20 06:53] saralavanip opened #2474 "API Details view: 'Get API key' available for anonymous user"
# Steps
1.Visit https://staging.apinf.io (v 0.43.0)
2.Click on 'Search' icon in navbar
3.Enter search word (eg. API)
4.Select any API

# Findings
- Get API key option available for anonymous user
- Click on 'Get API key' shows error message  and indicates "Processing"
- Documentation and Feedback views (screenshots below)

# Screenshot
![anonymous_search_api_details_getapi_key](https://cloud.githu

[2017-04-20 07:19] saralavanip opened #2475 "Frontpage: 'About' link missing on navbar"
# Steps
1.Visit https://staging.apinf.io (v 0.43.0)
2.Go to Navbar

# Findings
'About' link missing on navbar

# Screenshot
![about_missing_in_frontpage](https://cloud.githubusercontent.com/assets/13309358/25218207/b311fbf6-25b2-11e7-8e24-ee73dc15760f.PNG)

[2017-04-20 07:22] brylie commented on #2336
It is worth mentioning two likely challenges related to the Simple REST proposal:

- we may need to extend Simple REST to provide a valid OpenAPI Specification description of the APInf API
- we may need to find a strategy to provide version stability for the APInf API
  - there is a [related discussion in the Simple REST project](https://github.com/stubailo/meteor-rest/issues/30)
  - providing ver

[2017-04-20 07:44] Nazarah commented on #2378
@marla-singer added the wireframes.
Please consider if there can be improvements made on the placement of different link texts on the footer.
The descriptions are along with the wireframe.
Also consider if we should make the link texts' color similar to that of brand text color.
to me, the blue link text colors don't suit with dark BG for some reason.
Also consider to have new field in Branding pa

[2017-04-20 09:31] 55 commented on #2475
It has been removed on purpose.
Now it's a part of page footer (see https://github.com/apinf/platform/issues/2378)

[2017-04-20 09:31] #2475 closed

[2017-04-20 10:03] brylie commented on #1183
@phanimahesh just showed me a package for REST API monitoring that might serve as the basis for our API Monitoring epic:

https://github.com/upssert/upssert

Just a note.

[2017-04-20 10:45] #2410 closed

[2017-04-20 10:57] brylie commented on #2310
@bajiat the description for this task is somewhat ambiguous, as is also evident by the changes made in the PR.

If I am understanding the task correctly, we want **an RSS feed for each Organization**, which will **return APIs belonging to a single organization**. Is this correct?

[2017-04-20 11:33] bajiat commented on #2337
Suggestion by @phanimahesh: Both community.apiops.net (?) and community.apinf.io point to the same Discourse instance

[2017-04-20 11:36] bajiat opened #2476 "Experiment with using yarn instead of npm"
# Description
Try using yarn commands instead of nmp in development. Document any problems.

Experiment will take place during 2nd wk of sprint 41

[2017-04-20 11:38] bajiat commented on #2476
@marla-singer and @frenchbread Would you be interested in joining this experiment next week? More information available from @brylie and @phanimahesh

[2017-04-20 11:48] jawidahmadi commented on #2288
hotjar is recommended by @philippe to add for collection for admin site's statistics. There are free and paid version of hotjar, both require registration. We need a generic e-mail address to proceed with registration.
There are also a need for Google Analytics subscription, if Apinf already possess a subscription, it is good to reuse it in this context.

[2017-04-20 11:51] bajiat commented on #2310
Yes, RSS feed for APIs of each organization. So each organization has its own feed,.

Details to be included:
- Name (in Atom this is 'title')
- URL - The URL is either the API URL or the proxy URL, depending on whether the API is connected to a proxy (in Atom this is 'link')
- Description (In Atom this is 'summary')
- Date and time (In Atom this is 'updated', use the Atom format)

[2017-04-20 12:24] philippeluickx commented on #2288
By the way, the choice of these services should not be baked in. This would only be what we want to implement on our instance.

[2017-04-20 12:26] philippeluickx commented on #2337
I think we need to be clear on what community serves what purpose.
1. Do we need 2 communities?
2. What are the goals of the communities
3. What are potential overlaps?
4. How do these fit in the bigger picture?

Once this is answered, we can promote one or both.

[2017-04-20 12:43] brylie opened #2478 "Create RSS feed for latest APIs"
Create an RSS feed that contains all, or some number of, APIs sorted by creation date. The newest APIs should be at the top of the list.

cc: @bajiat

# Definition of done
* [ ] Searching for RSS feed generator
* [ ] Selecting schema(s)
* [ ] Querying for the newest APIs according to date
* [ ] Passing the result of query in XML format

[2017-04-20 12:53] frenchbread commented on #2476
@bajiat Sounds good! I am in.

[2017-04-20 12:59] marla-singer commented on #2476
@bajiat Me too

[2017-04-20 12:59] brylie commented on #2476
Cool. Will someone open a PR with the Yarn .lock file against our `develop` branch?

[2017-04-20 13:00] marla-singer commented on #2476
@brylie I can

[2017-04-20 13:00] #2398 closed

[2017-04-20 14:24] kyyberi commented on #2440
The design has been validated by the potential users aka developers. I suggest strongly that the implementation follow the structure. We preach the practice of automation and avoidance of unnecessary work in development. Using machine readable spec to generate API stub makes sense. Furthermore  in my ears implementing API with different structure because selected platform makes it easy is not an a

[2017-04-20 14:33] brylie commented on #2440
Thanks for clarification. The Architecture Team has made a [recommendation that is in alignment with the current proposed structure](https://github.com/apinf/platform/issues/2336#issuecomment-295233283).

We are continuing to discuss the overall strategy for building/maintaining the APInf API, including considerations such as user needs and maintainability, in that thread.

[2017-04-20 14:36] kyyberi commented on #2336
Sounds good to me as long the approach is customer needs first. I already gave slack in design not requiring API economy standard authentication (OAuth2).

I assume that the selected path enables implementation to have designed parameters in the methods as well? Those are fundamental part of the agility of the APIs.

Regarding duplicate work considering Umbrella. We have to keep in mind that Umbre

[2017-04-20 16:35] kyyberi commented on #2451
This will be raised to top 5 probably pretty soon @bajiat

[2017-04-20 16:37] kyyberi commented on #2441
The idea is there, look at the documentation https://apinf.io/apis/TYf33t5B6D6fwamKt

[2017-04-21 06:39] brylie commented on #2336
Good point, it might not seem obvious how the discussion Tuesday reflects on the API Architecture. I am currently drafting a diagram, based on the proposal, that might help clarify how implementation choices might relate to the emergent architecture.

[2017-04-21 06:44] bajiat commented on #2378
The 'About Us' link is not about "us", e.g. about people. That information is on another site. The link is for the modal that informs the user about the software: version etc. So it should be 'About'.

[2017-04-21 06:44] brylie commented on #2336
Yep, that is important. I just double checked, and we can pass in parameters (such as Organization ID) [via the URL](https://github.com/stubailo/meteor-rest/blob/master/packages/rest/README.md#deleting-a-document-from-a-collection) or even in the [request body](https://github.com/stubailo/meteor-rest/blob/master/packages/rest/README.md#available-options).

[2017-04-21 06:46] brylie commented on #2336
Is there a specific comment that indicates anyone on our team is rejecting a design-first approach? The only thing we have recommended relates to how we would build the API, regardless of how it is designed.

[2017-04-21 06:49] brylie commented on #2336
Great point. We will need to consider how to abstract our proxy/broker layer, for example, so that users have a consistent API regardless of the technology.

One difficulty we may face is that, even in the 'API Proxy' realm, there are different solutions that might not have feature parity or share scope with one another. That would likely affect any abstraction we provide through the APInf API.

[2017-04-21 06:52] bajiat commented on #2378
Other than that I'm ok with the wireframe.

[2017-04-21 06:52] brylie commented on #2336
This is an important request that has been raised by several sources.

There is a [Simple REST BearerToken](https://github.com/stubailo/meteor-rest/blob/master/packages/rest-bearer-token-parser/README.md) plugin that, by integrating with our APInf Accounts system, might provide an OAuth2 authentication path. I will have to check with the other @apinf/developers to make sure I understand this corre

[2017-04-21 07:37] brylie commented on #2418
In the immortal, and somewhat heart wrenching, words of [LeVar Burton](https://en.wikipedia.org/wiki/LeVar_Burton): "you don't have to take my word for it"

- Interaction Design Foundation - Glossary of Human Computer Interaction: [Featuritis](https://www.interaction-design.org/literature/book/the-glossary-of-human-computer-interaction/featuritis-or-creeping-featurism)
- Wikipedia: [Feature creep]

[2017-04-21 07:39] brylie commented on #2378
I second that we should consider removing the top language bar in a second task. The reason is, I don't feel a consensus about idea to move the language bar to the footer. Moving this decision to a separate task gives a bit more room to reach a common understanding/agreement.

[2017-04-21 07:59] Nazarah commented on #2406
![img_9970](https://cloud.githubusercontent.com/assets/17976243/25265625/a1b38c2a-2676-11e7-8fbd-073c42e20fdb.JPG)

# Nazia Hasan
Nationality: Bangladesh
Age: 25
Expertise: Doing her Masters Thesis on Human Centered Design (UX Major) from TTY, Finland; Android Designing
Occupation: UX Designer at "XYZ" startup
Hobbies: Cooking, MakeUp and Reading

Preference:

* Likes to learn about how to create

[2017-04-21 08:52] brylie commented on #2336
Here is a depiction of the proposed APInf API Architecture, from a high level:

![screenshot_20170421_115102](https://cloud.githubusercontent.com/assets/17307/25270334/eee8bec2-2688-11e7-8457-d7e7c3eff43d.png)

[2017-04-21 10:33] brylie opened #2481 "Research Meteor build performance"
We are interested to know about any work going on regarding Meteor build performance. Lets use this issue to discuss and share knowledge about current efforts, shortcomings, or other findings related to the Meteor build process.

cc: @bajiat

[2017-04-21 10:48] Nazarah opened #2482 "Remove Topbar Language Selector"
# Issue
If we check popular platforms like Facebook, Youtube, Vimeo, etc. we'll see that with new design ideas, the language selector is placed at the footer of the site where it is accessible all the time.
Placing the language selector on footer leaves additional place on top bar or nav bar to add that adds more value to users' need or to place an action that is primary or accessed frequently.
In

[2017-04-21 10:54] Nazarah commented on #2482
Related Article:
https://ux.stackexchange.com/questions/29152/language-selection-top-or-bottom-of-the-page

[2017-04-21 10:56] bajiat commented on #2336
Comment about the architecture diagram: should we have one API or actually multiple APIs? One of these APIs would be the Catalog API.

[2017-04-21 11:04] bajiat commented on #2378
The language choice can be moved to the footer, go ahead with that.

[2017-04-21 11:07] kyyberi commented on #2378
Language selection takes too much space in current location. That could be used more efficiently and with more important information. Take it to the footer.

[2017-04-21 11:34] brylie commented on #2481
@mauriciovieira is having a slow build process related to an *sqlite query* in the *ProjectContext prepareProjectForBuild* step. It may be related to a Meteor package catalog, or something similar.

See: https://github.com/meteor/meteor/issues/6137

[2017-04-21 12:24] mauriciovieira commented on #2481
https://github.com/meteor/meteor/issues/6137#issuecomment-178883365 we can see that the sqlite is on $HOME/.meteor, and it's a global catalog. The solution for this problem, is pretty much having a faster HD (SSD).

We made a comparison between machines and an i7 Linux box with SSD and 8GB RAM is:

while an i5 MacBook Pro with 4GB RAM shows:

Aside from using SSD on the slower machine, I will look

[2017-04-21 14:18] saralavanip opened #2484 "Organization Settings:Title texts untranslated in Suomi view"
# Steps
1.Visit https://staging.apinf.io  v 0.43.0
2.Login as admin
2.Add Organization
3.Go to Settings
4.Change language to 'Suomi'

# Findings
Title texts are partially translated in Suomi view

# Screenshot
![suomi_view_org_settings_title_texts_untranslated2](https://cloud.githubusercontent.com/assets/13309358/25281423/0679d954-26b6-11e7-8b21-d34529bf4a6a.PNG)

![suomi_view_org_settings_title_t

[2017-04-21 14:31] mauriciovieira commented on #2476
Travis also should use yarn.

[2017-04-21 15:27] #2476 closed

[2017-04-22 05:28] kyyberi commented on #2446
@ashakunt this sounds awesome!

[2017-04-22 05:46] ccsr commented on #2446
@phanimahesh please align with this. We are setting servers for this.

[2017-04-22 06:52] brylie commented on #2336
Basically, since we have one APInf Platform I assume we have 'one API'. The APInf Platform API (under consideration) can encompass multiple sub-sections, such as `/organizations`, `/users`,and `/apis`. The code can also be split into multiple modules, since it would use the same aspects (collections, publications, and methods) that are in use throughout the platform.

Would you clarify what you me

[2017-04-24 05:22] kyyberi commented on #2462
Suggestion: lets just adopt this https://www.leanservicecreation.com/

[2017-04-24 07:01] saralavanip opened #2486 "Organization view: Sort APIs flashes user message momentarily"
# Steps
1.Visit https://staging.apinf.io   v 0.43.0
2.Login as admin
3.Go to Organizations
4.Select and click on organization (eg. Test2_organization)
5.Go to APIs
6.Sort APIs (eg. by Bookmarks/Newest created)

# Findings
Sort APIs flashes user message " This organization doesn't have any connected APIs........"  momentarily

[2017-04-24 08:07] brylie commented on #2440
@frenchbread this is our Catalog API design task for the current sprint. Please let us know of anything you might need for your API Bot, or other, tasks.

[2017-04-24 08:17] frenchbread commented on #2336
In addition to the endpoints above, we can have either `Get all PIs` with URL params for flexible filtering or sorting, or `Search APIs`. The first option is a general purpose and can be used for `search` as well.

[2017-04-24 08:18] saralavanip opened #2487 "Generate SDK file displays error"
# Steps
1.Visit https://staging.apinf.io v 0.43.0
2.Login
3.Add API and connect it to proxy  (eg. staging/API-umbrella New)
4.Go to above added API
5.Click on 'Documentation' tab
6.Upload documentation file (eg.swagger.yaml)
7.Go to 'SDK Generate'
8.Select any language
9.Click on 'Download'

# Findings
- API documentation view shows  a 'warning' message
- Generate SDK file shows error "File not su

[2017-04-24 08:21] brylie commented on #2336
What parameters might the **Search APIs** endpoint take? E.g. what fields would be searchable and how would they be specified. Lets do a 'design first' approach with the search endpoint(s), in a similar way to what we are doing with the Catalog endpoints.

[2017-04-24 08:22] saralavanip commented on #2470
Reported issues: #2474, #2475, #2484 , #2486, #2487

[2017-04-24 08:57] kyyberi commented on #2336
To me it looks like you guys haven't even looked at the proposed design based on the comments above. https://apinf.io/apis/TYf33t5B6D6fwamKt

There is first GET method called /apis with params. The same method is "search", not just listing APIs

<img width="863" alt="screenshot at huhtikuuta 24 11-53-09" src="https://cloud.githubusercontent.com/assets/1927158/25329536/c6fd287c-28e4-11e7-872b-4b379

[2017-04-24 10:07] frenchbread commented on #2440
@brylie API Bot is experimental thing, but anyways complete list of APIs available RESTly would be enough. Additionally, it would be helpful to have a possibility to pass a string (as API NAME) and get in response APIs that closely match provided string. (Just like current APInf search does)

[2017-04-24 10:51] brylie commented on #2336
Which comment(s)?

What do you mean by 'one API'?

[2017-04-24 10:53] brylie commented on #2336
To reiterate, the proposal is in alignment with the current APInf Catalog API design, and would likely support the following needs:

- APIs
  - Get all APIs
  - Create API
  - Get API by ID (authenticated)
  - Update API by ID (authenticated)
  - Delete API by ID (authenticated)
- Organizations
  - Get all organizations
  - Search organization by field(s)
  - Add organization (authenticated)
  - U

[2017-04-24 10:58] brylie commented on #2336
The current architecture proposal can support that design.

I was just asking @frenchbread for his thoughts on the API design, since he is in the office this week. He has not been part of previous discussions or the review process up to this point.

Please stop making broad and baseless accusations, we are trying to be constructive in how we solve this issue.

cc: @ccsr @bajiat

[2017-04-24 11:08] brylie commented on #2440
I moved the community comments from the [APInf platform](https://apinf.io/apis/TYf33t5B6D6fwamKt) to this issue, so we can keep track of them during our re-design.

@bajiat please consider translating the comments from Suomi to English, where applicable, so we can have a shared understanding.

[2017-04-24 11:11] brylie commented on #2336
I am un-assigning myself from this issue, until we can have some sort of mediation and shared understanding.

[2017-04-24 12:27] brylie opened #2489 "`currentUserCanAddApi` throws error when no settings exist"
On a fresh instance of APInf, while trying to add an API, I get the following error in the server console:

[code]

# Steps to reproduce
1. start a clean instance of APInf
2. create the initial Admin user
3. click the "Create API" button

# Possible problem
We are probably failing to check that the `settings` object exists before accessing the `access` property.

[2017-04-24 12:29] brylie commented on #2489
@bajiat this issue is somewhat **high priority** and **urgent**. It probably won't take too many lines of code to fix.

cc: @marla-singer

[2017-04-24 12:51] #2224 closed

[2017-04-24 12:58] phanimahesh commented on #1183
Though Postman is not open source, they have a command line companion [newman][] which is Apache-2 Licensed. Newman operates on Postman collections which can either be authored manually or exported from postman. The collection specification is open.

Postman the company also provides an api monitoring service in their paid plans, very likely built on newman itself.

Since we need an all opensource

[2017-04-24 15:12] marla-singer commented on #2487
@bajiat Duplicate of #2216

[2017-04-25 06:14] kyyberi opened #2491 "Calls via REST proxy fails"
# Steps to reproduce

- Go to apinf.io
- Add API (name, desc, lifecycle production)
- Go to proxy settings and put
<img width="917" alt="screenshot at huhtikuuta 25 09-11-06" src="https://cloud.githubusercontent.com/assets/1927158/25371018/23375272-2997-11e7-991f-7d248c88f2a2.png">

- Try to call API via proxy. ```https://apinf.io:3002/turku_feedback_v1/services.json?api_key=oJOTXpoZxxxxxxxxxxxxxx

[2017-04-25 06:22] brylie commented on #2311
@matleppa and I just spoke and agreed that it is a good idea to just store the `featuredApiIds` array directly in the Organization document. This is mainly for **simplicity**, since we don't have to introduce a whole new collection to the project (with all the accouterments that accompany any colleciton).

[2017-04-25 10:34] kyyberi commented on #2491
This bug is now stopping us to continue with customer paid job. We time to fix this to have Turku APIs (3 APIs) working via apinf.io in a few weeks (sooner is better) since we need to prepare a workshop for developers and businesses and in that we use given APIs via the apinf platform.  I would assume that this kind of bug would be high in priority since it's basic functionality of the platform.

[2017-04-25 10:35] kyyberi commented on #2491
Of course there's a chance (possibly even high) that I don't know how the platform is used.

[2017-04-25 12:05] jawidahmadi opened #2493 "Frontpage statistics misaligned"
There is an issue at the frontpage in statistics block. The number and APIs text appear horizontally.  In the html file the <p> tag is missing for API's count.

![statisticscount](https://cloud.githubusercontent.com/assets/24959733/25384319/8c94a284-29c8-11e7-8413-41187ab3dbe4.jpg)

[2017-04-25 12:12] marla-singer commented on #2491
@kyyberi Try to change the settings of Proxy and change API site as
**URL:** api.turku.fi
**API base path:** /feedback/v1/

Because API umbrella has API host as "api.turku.fi" not "api.turku.fi/feedback/v1/"

[2017-04-25 12:12] kyyberi commented on #2491
Ok. I'll try.

[2017-04-25 12:16] kyyberi commented on #2491
That was the fix. Problem Existed Between Keyboard And Chair. Perhaps the UI needs a little tweaking as well.

[2017-04-25 12:16] #2491 closed

[2017-04-25 12:40] #2489 closed

[2017-04-25 14:17] #2349 closed

[2017-04-25 15:11] Nazarah commented on #2452
[Why API Developer Experience Matters More Than Ever](http://nordicapis.com/why-api-developer-experience-matters-more-than-ever/)

Can we implement checking the following criteria with a monitoring system/existing proxy in APInf?
This seems to be a good idea on to rank a profile or its completeness
![image](https://cloud.githubusercontent.com/assets/17976243/25385068/6e2434d8-29cb-11e7-8adc-65494b

[2017-04-26 07:09] Nazarah opened #2496 "Primary text color isn't working"
![image](https://cloud.githubusercontent.com/assets/17976243/25422144/8377fc50-2a68-11e7-9735-a353088a3b8e.png)

The primary text color is set to Black (#000000) and the primary color is white (#ffffff)
Topbar is picking up the color, but not the texts

however, with primary color #555555 and primary text color #ffffff, it is working well.
There might be something to do with the changes made into

[2017-04-26 08:35] Nazarah commented on #2418
after a discussion with @brylie and @philippeluickx we propose the following solution: (following bootstrap solution)
**Primary Color** : primary color in bootstrap
**Accent Color** : secondary color in bootstrap
Colors can be fixed from branding page.
The action buttons can follow the accent color.
Text color contrast based on the color and its placement should be configured using CSS
For example

[2017-04-26 11:39] kyyberi opened #2497 "API calls via swagger with API key"
## Need

As a developer I want to see how API works when browsing Swagger documentation. As developer I want my api key to be inserted automatically in place when ever api_key is required.

If the api_key is required, I can not as developer try the API from documentation. Thus documentation is not "alive" anymore and crippled. API key requirement is managed by API owner.

[2017-04-26 11:51] kyyberi opened #2498 "Rate limiting info in headers (swagger) missing"
I added IP address based rate limiting to one of the APIs in apinf.io. Then I looked at the documentation (swagger). I tried a method (from swagger) and all works but in headers section I can't see any information about rate limiting.

<img width="893" alt="screenshot at huhtikuuta 26 14-50-25" src="https://cloud.githubusercontent.com/assets/1927158/25433059/bcfcbb74-2a8f-11e7-976a-711afaad0961.pn

[2017-04-26 14:19] mauriciovieira commented on #2481
@apinf/developers I would like to see if it is a general issue or only of my self.

So what I ask you to do is to checkout latest master and run

[code]

and post the results of the last command on a gist.

If the scrollup in the terminal does not work, try using tee

[code]

[2017-04-26 14:19] mauriciovieira commented on #2481
My log https://gist.github.com/mauriciovieira/b1a2b5e53d6b4468e131587bb9e6bbb7

[2017-04-26 14:43] manzapanza commented on #2481
My log https://gist.github.com/manzapanza/de3c88cdd2110deb02a898e449bca96f

[2017-04-27 04:29] kyyberi opened #2499 "Move frontpage numbers/statistics after search section."
From sales point of view putting the numbers bar after the search box in frontpage makes more sense than hiding the key numbers somewhere at the bottom (nobody sees them).

Having the numbers at top gives the newcomer reason to go forward (as soon as the numbers have grown). Numbers convince and give credibility.

[2017-04-27 04:30] kyyberi commented on #2499
Ping @Nazarah @bajiat

[2017-04-27 08:03] Nazarah commented on #2499
I actually have a bit different POV on this.
To me, placing this statistics in the beginning of page would suit better in our organization page.
The reason is that people might 1st visit the company page to know about the product, what it does. In that context, giving overview information at the beginning helps in getting people's trust.
When their curiosity builds,   they would go to the platform

[2017-04-27 08:41] brylie commented on #2288
OKGrow:analytics [creates its analytics settings object at startup](https://github.com/okgrow/analytics/blob/master/client/constants.js#L4-L5) (provided in a [settings.json](https://github.com/okgrow/analytics#configuration)). I can't figure out a way to get the OKGrow to check for analytics settings at run-time, without submitting a patch to the upstream project. Here is a brief experiment I trie

[2017-04-27 08:58] kyyberi commented on #2499
Well. I gave my point of view :) I understand that there are different opinions and viewpoints. However, when a person is "selling" our product, they dont show company website, but the product. Show me the product is the first question. Logged in user UX might differ from others regarding frontpage.

[2017-04-27 09:34] Nazarah commented on #2406
closing the issue with a few review remarks from @philippeluickx
- keep the personas alive, not change them into something totally new.
- add newer contexts to the persona when needed
- link to specific customer journey should be added to a persona
- consider dependencies when updating both persona and related customer journey.

[2017-04-27 09:34] #2406 closed

[2017-04-27 10:48] Nazarah commented on #2452
From issue #2297 the initial DX can be achieved the the following existing APInf features for API profile

- title
- description
- documentation
- backlog

Not sure with the estimate, but we can say about 80% completeness of API profile if the above fields are filled. The eventual progress happens when API owner starts adding advanced criteria in the API profile.

[2017-04-28 06:13] kyyberi commented on #2497
I heard from Vesa that to be able to get api key in use with the swagger, the swagger file needs some modifications. What those are, I have no idea.

[2017-04-28 06:14] kyyberi commented on #2497
Perhaps something like this http://swagger.io/docs/specification/authentication/api-keys/

[2017-04-28 07:45] Nazarah commented on #2452
[Building an Empathic API](http://blog.hellosign.com/the-rise-of-developer-experience/)

*  **Documentation**
- Clear and Up-To-Date
- logically organized sections
- clear API reference

* **Getting Started**
- How-Tos
- Quick Starts
* **Ease of Use**
- reducing non-coding setup requirements. (_creating accounts, apps, signing up for a paid plan, or talking to a sales person_)
- SDKs in multiple l

[2017-04-28 08:27] brylie commented on #2456
After researching and discussing this issue in issue #1340, we agreed to use Elasticsearch directly for dashboard data aggregation. The resulting work means re-writing our dashboard code, including each chart and related data aggregation. We will continue the work, but have to see where it fits in the project roadmap/priorities (@bajiat, @ccsr).

@frenchbread in what task/discussion did you show u

[2017-04-28 08:40] frenchbread commented on #2456
This one: https://github.com/apinf/emq-analytics-dashboard/pull/7

It's for EMQ dashboard though, but we can use it as a reference. Moving towards using ES aggregated data on APInf dashboard means getting rid of data-table at some point.

[2017-04-28 09:44] Nazarah commented on #2452
Badges ca be associated with API profile to create motivations among API developers to remain in ranking by providing good DX
https://openbadgefactory.com/fi/
https://www.discendum.com/etusivu/

[2017-04-28 10:32] Nazarah commented on #2452
Proposing two phase development of DX:

1. Using existing APInf Features
2. Integrating newly developed features as future development strategy

1. existing APInf Features:
- on providing complete information when Adding an API (Name, Description, API end point and lifecycle status), profile will be 60% complete.
All of the above fields need to be filled in order to get this progress.
On providing

[2017-04-28 11:44] brylie commented on #1986
Re-opening, so we can follow through and install a solution to catch application exceptions.

cc: @marla-singer

[2017-04-28 12:01] brylie opened #2501 "Develop Users API"
We need API endpoints to access and manage APInf users.

# Goal
- Review the APInf data model for alignment.
- Define endpoints and methods.

# Related resources
We have produced a Swagger file with Users API endpoints, which can be accessed on our [APInf deployment](https://apinf.io/apis/apinf-catalog-rest-api).

This is also related to issue #2440

# Definition of Done
- [x] API can return all u

[2017-04-28 12:17] #2216 closed

[2017-04-28 12:39] brylie commented on #2443
Closing as duplicate of #2446. REST API tests fall under the general automated testing plan.

[2017-04-28 12:39] #2443 closed

[2017-04-28 13:15] #2478 closed

[2017-05-02 06:45] Nazarah opened #2502 "Learning HTML5, CSS3 and BS in context with APInf"

[2017-05-02 07:03] #2470 closed

[2017-05-02 07:12] bajiat commented on #2441
@marla-singer Could you take this task?

[2017-05-02 07:22] bajiat commented on #2074
@marla-singer Can you make the change?

[2017-05-02 07:24] bajiat commented on #2288
@marla-singer Can you take this task as well?

[2017-05-02 07:26] bajiat commented on #2440
Assigned to @bajiat for translations. @matleppa Can you look at the comments and changes suggested?

[2017-05-02 07:41] bajiat opened #2503 "Choose Dashboard chart library"
# Goal
- Proposal for handling aggregations on server side
- Proposal for chart library that can be used for both REST and eMQ dashboards

NOTE: aggregation work is ongoing in issue #2556

# Charting library goal
Choose between the following chart libraries:
- [ECharts](https://ecomfe.github.io/echarts-doc/public/en/index.html)
- [NVD3](http://nvd3-community.github.io/nvd3/examples/site.html)

[2017-05-02 07:58] marla-singer opened #2504 "Additional feature for new Swagger UI"
Swagger v3 has not only new UI but new realization as well. The main idea is to know can we realize this features and do that.

### Additional features
- API call with api_key via Swagger UI (Related #2497)
- Try-out method
- Calling request via Proxy Backend
- Rate limiting info in headers (Related #2498). This feature is not available in old Swagger but can we implement in new one?

[2017-05-02 08:34] frenchbread commented on #2503
FYI the current, "fresh", implementation of an EMQ dashboard uses NVD3 charting library in addition to aggregated data requests from ES, so it can be used as a starting point. [emq-analytics-dashboard repo](https://github.com/apinf/emq-analytics-dashboard). Moveover data like `topics` lists and `event` types are also fetched from ES in separate requests, which makes the dashboard more dynamic.

[2017-05-02 09:08] marla-singer commented on #2074
@bajiat Yes, I can

[2017-05-02 09:16] marla-singer commented on #2288
@bajiat Yes, I can

[2017-05-02 09:17] marla-singer commented on #2441
@bajiat Yes, I can

[2017-05-02 09:32] brylie commented on #2503
I don't want to contribute to 'analysis paralysis', but I recently learned about a library called [ECharts](https://ecomfe.github.io/echarts/index-en.html).

ECharts is created by Baidu and is used in API Umbrella. It seems really well designed, with
- [high level API](http://echarts.baidu.com/echarts2/doc/doc-en.html#Chart-Types)
- [many types of charts](https://ecomfe.github.io/echarts/doc/examp

[2017-05-02 10:34] frenchbread commented on #2503
@brylie Nice one. `ECharts` has some good tools which you can interact with right on the chart. The scariest part though, when moving to a new charting lib, is a chance to loose data synchronisation feature between charts (IMO), but looks like it is somehow supported by ECharts:

![Image](https://ecomfe.github.io/echarts/doc/asset/img/connect.gif)

In addition, we need to decide what we need from

[2017-05-02 11:17] #2322 closed

[2017-05-02 11:33] Nazarah commented on #2452
**Considering the existing features in APInf**
We should have a new feature for API owner to know how much the profile is complete by comparing points given for adding a specific field.
This feature should include a list of APInf features for API profiles and a numbers associated with them when a particular field is filled.
The fields can be categorized as completed and incomplete filed
Similar to

[2017-05-02 11:38] #2378 closed

[2017-05-02 11:38] #2471 closed

[2017-05-02 11:38] #2482 closed

[2017-05-02 12:08] #2310 closed

[2017-05-02 12:10] manzapanza commented on #1417
@brylie Which are the right permissions for DocumentationFiles collection?
Now we have:

[code]

[2017-05-02 12:31] brylie commented on #1417
@manzapanza it looks correct. Basically, only Admin user and API manager should be able to attach a documentation file to an API.

[2017-05-02 12:53] jawidahmadi commented on #2296
@marla-singer I added a sample.yaml (http://sample-file.bazadanni.com/2015/02/yaml.html)  file in develop stage, however, i could not reproduce the same bug. Could you kindly add the steps to reproduce the bug?

[2017-05-02 13:16] marla-singer commented on #2465
@frenchbread Try to use below condition in line - https://github.com/apinf/platform/blob/develop/core/client/lib/router.js#L23

[code]
And please  describe the result. On my side it is rare case so I can not say exactly if it helps

[2017-05-02 13:25] marla-singer commented on #2340
Close it as duplicate of #2465 which provides more details about this bug

[2017-05-02 13:25] #2340 closed

[2017-05-02 13:51] marla-singer commented on #2296
@jawidahmadi Run 40 version on local, add API + swagger file, update your project to the current version and make the migration.
The problem happens when site had the old structure collection and API had an uploaded swagger file

[2017-05-02 14:17] marla-singer commented on #2296
@jawidahmadi Now the problem looks like
https://nightly.apinf.io/apis/test-vision1-api
https://nightly.apinf.io/apis/weather-api
It happens (as I think) because apiDocs documenta contains field `fileId` and has `tyle: 'url'`

[2017-05-03 06:23] matleppa commented on #2311
While implementing this feature, I've began to think that the sorting do not necessarily need to affect the  featured API cards, because there is only maximum of 4 of them.  Sorting by name might be enough, there is no additional value in sorting them by other criteria.

In addition to that, the implementation stays simpler, when featured API functionality is encapsulated as its own. This way the

[2017-05-03 06:31] Nazarah opened #2507 "Mobile view: Change active menu style in navbar s.t. the menu text is visible"

[2017-05-03 06:32] Nazarah commented on #2507
![image](https://cloud.githubusercontent.com/assets/17976243/25650127/6916b24a-2fe3-11e7-94ca-1a59235f65ef.png)

[2017-05-03 07:09] philippeluickx commented on #2456
So basically we need to have a prioritization discussion. This has been on the table for way to long.
I'd rather have no analytics than the current implementation. I consider this feature broken.

@bajiat @kyyberi would this get top priority over the other tasks? I've been +1 on this for almost a year now.

[2017-05-03 07:25] brylie commented on #2456
Lets keep the conversation and feedback **constructive**. That is a really strong statement with very little foundation. It doesn't really suggest any helpful way forward.

[2017-05-03 07:29] philippeluickx commented on #2456
I am being constructive here and clearly own my statement. For me this feature is not done. It allows me to more easily prioritize it when looking at it this way.

As to the investigations done so far, I am very happy to see we are making progress to a workable solution. I would like to understand how come we did not push to the end and managed to close this issue? It's been on the radar for month

[2017-05-03 07:36] brylie commented on #2456
By **constructive**, I mean 'suggest a way forward' rather than simplay stating the current solution is inadequate and might be better to throw away.

Some ways to give constructive feedback:

We have some process and prioritization challenges to overcome. For the past year we have been scrambling to keep up with incoming, Epic level, requirements from several sources. This is still ongoing, and p

[2017-05-03 08:18] brylie opened #2508 "Wireframe and implement RSS feed buttons for API Catalog and Organization Profile"
We now have two types of RSS feeds enabled:

- All APIs - all APIs listed in our catalog
- Organization APIs - APIs that belong to a specific organization

In order to help users find the RSS feeds we need at least two things:

- an RSS button for each type of feed
  - e.g. one on the API Catalog and one on the Organization Profile
- RSS metadata in template markup for auo-discovery
  - https://ww

[2017-05-03 08:35] phanimahesh opened #2509 "Adding API umbrella proxy has bad UX - required fields not marked properly"
Steps to reproduce:
 - Add an API
 - Go to Proxy tab
 - Only Rate limit mode is marked as required, select some value.
 - Try saving. There'll be an error stating Please fill in all required fields.

Turns out both Proxy Base path and API Base path are needed, but both of them are not marked as required. Took me a minute to figure it out. The error message isn't very helpful, when the required fie

[2017-05-03 10:55] brylie opened #2513 "Make final development decision regarding REST framework"
After considerable discussion and debate, we have reached a tentative agreement about how to develop the APInf REST API. Two teams, 'customers and communities' and 'architecture', have weighed in on the decision.

As a follow-up, it is important to get the perspective of lead developers (@apinf/developers).

# Goal
- review discussions, packages, and issues related to this decision
  - [Define API

[2017-05-03 11:16] marla-singer commented on #2074
@frenchbread Now emq scheme has the regex for ElasticSearch field as well. Should it be removed?

[2017-05-03 11:26] bajiat opened #2515 "Manual testing for release 0.44.0"
Test the 0.44.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] admin can add eMQ as a proxy
* [x] Verify enhancements and the corr

[2017-05-03 11:32] manzapanza commented on #1417
@brylie so `ApiDoc` collection doesn't need to set or change permissions.

I did a little search to find different collections without permissions or that should be reviewed. I need help to know which permissions each collection needs:

- ApiKeys (no one permission)
- ApiBookmarks  (no one permission)
- OrganizationApis (Insert, Update and Remove allowed to everyone)

[code]

Maybe `OrganizationAp

[2017-05-03 11:49] brylie commented on #1417
See if there are existing issue(s) for the collections you mention. We can follow up separately.

[2017-05-03 12:12] manzapanza opened #2516 "Navbar covers content of Setting pages"
The Navbar covers content of Setting pages like Profile, Account, Branding, Settings and Proxies.

- Go to https://nightly.apinf.io and sign in
- Visit https://nightly.apinf.io/settings/profile

![selection_151](https://cloud.githubusercontent.com/assets/1139716/25659974/863799dc-2fe0-11e7-8d78-e1e6bac8bb5f.png)

[2017-05-03 12:28] brylie opened #2517 "Console errors when navigating away from Organization Profile"
When navigating from the Organiation Profile, there is a console error:

[code]

![peek 2017-05-03 15-22](https://cloud.githubusercontent.com/assets/17307/25660480/13230b90-3015-11e7-8c9f-3e2cbd411c65.gif)

# Steps to reproduce
1. navigate to any Organization Profile
2. click a link to a different route (such as a related API)

# Likely cause
When creating a new organization, the organization sett

[2017-05-03 12:38] #2288 closed

[2017-05-03 14:07] mauriciovieira opened #2521 "Add RSS meta tag when appropriate"
# Goal

Allow rss readers to automatically add the RSS provided for each page.

# Definition of done

The generated html code for API's and Organizations should have the _link type=application/rss+xml_ meta tag.

More information [how to add rss autodiscovery to your site](http://www.petefreitag.com/item/384.cfm)

# Related issues

#2310, #2478, #558, #2508

[2017-05-03 14:07] mauriciovieira commented on #2521
@bajiat please review this issue

[2017-05-03 14:15] brylie commented on #2513
Another consideration would be to use Meteor webapp to handle the API request/response https://docs.meteor.com/packages/webapp.html

[2017-05-03 15:03] mauriciovieira commented on #2417
https://github.com/willmendesneto/react-hcard-generator/blob/master/Dockerfile

[2017-05-03 19:08] mauriciovieira commented on #1506
After strugling with the recommended meteor way of doing unit tests. I decided to try the way Rocket.Chat does tests, using chimp in a end2end way.

Related: https://github.com/xolvio/chimp/issues/433

[2017-05-03 19:11] mauriciovieira commented on #1506
I believe that we can test server methods using a setup similar to the recommended on meteor guides, such as https://github.com/gagarinjs/meteor-mocha

[2017-05-03 19:13] mauriciovieira commented on #1506
@philippeluickx this link points to a book that's being written at least since February and never gets released http://quality.xolv.io/. Nevertheless, the test runner that is being used by Rocket.Chat, chimp.js, was made by this xolvio. :-) Thanks for the tip.

[2017-05-03 21:48] frenchbread commented on #2074
@marla-singer Yep, similarly to api-umbrella

[2017-05-03 23:54] frenchbread commented on #2465
@marla-singer Many thanks for this fix. After adding this line, I don't get error in the console anymore, thus, browser page remains blank, without any content and page refresh is still needed.

In addition to that condition line, I'd add

[code]

[2017-05-04 07:53] marla-singer commented on #2481
@mauriciovieira Do you still need it?

My log https://gist.github.com/marla-singer/485a649f3e905259a2d93ed12ee0e0db

[2017-05-04 07:58] jawidahmadi opened #2523 "Console error when changing the versions"
When we changed the version of the code back and forth, there is an error occurred:

at [object Object].Meteor.methods.getApi (apis/seat [object Object].Meteor.methods.getApi (apis/seat [object Object].Meteor.methods.getApi (apis/seat [object Object].Meteor.methods.getApi (apis/server/methods/apiBackends.js:22:19)

[2017-05-04 08:32] brylie commented on #2481
Hi all. It would also be helpful to know some details about our environments:

- OS/version
- CPU (processor and model number)
- RAM
- Type of HDD (e.g. SDD)

This will help us to get a better understanding of the performance for comparison.

[2017-05-04 08:35] #2074 closed

[2017-05-04 08:51] brylie commented on #2481
@marla-singer would you also post a gist of your re-build time after modifying a file?

[2017-05-04 08:57] marla-singer commented on #2481
@brylie I updated my log file. Now it contains also Re-build data

[2017-05-04 09:10] brylie opened #2524 "Document steps about git rebase do contributor guidelines"
DevOps team has explained the importance of our Git history. As a simple practice, our developers need to start using rebase. Add instructions to our [contributing guidelines](https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md) regarding rebase, with simple example(s).

[2017-05-04 09:24] brylie commented on #2513
Another concern is that neither Restivus or Simple REST provide an easy way to do error handling, according to @dcantore.

[2017-05-04 09:28] Nazarah opened #2525 "Evaluating structure of API documentation do improve API DX"
# User Need
API User would more likely be using a specific API if it contains a well-defined and well-maintained documentation. API DX depends a lot on the quality of the documentation. So we should have some way to determine if the swagger documentation is satisfying enough to generate a good DX.

# Things to consider in evaluating swagger documentation
- Completeness of information is general fi

[2017-05-04 09:30] brylie commented on #2513
A general idea regarding the swagger file, is that it can be generated via any means (whatever tool or process). This means we don't necessarily have to define the OpenAPI spec file as part of our API definition. The double-edge of the sword is that we want to **ensure the OpenAPI spec file correctly describes the API structure**, meaning it should be easy to maintain along with the API code.

[2017-05-04 09:31] Nazarah commented on #2525
@kyyberi @philippeluickx looking for feedback and insights from you

[2017-05-04 09:47] brylie commented on #2513
@dcantatore, we would be really grateful if you could summarize your experiences with Restivus and Simple REST. Would you kindly provide us with some pros and cons that you have noticed?

P.S. I am still going to talk to our Project Manager about adding you as a collaborator to Restivus Swagger today.

[2017-05-04 10:10] Nazarah opened #2526 "Including API performance to effect DX score of an API"
# User Need
A API might have a good documentation and quick start guide, but API users would hardly use it if is slow to respond, doesn't have good number of successful API calls, etc. Using proxy's, we can always get this statistics and incorporate them in the API profile to measure DX. The main idea of evaluating the DX is about how consistent the API has been in maintaining its performances

#

[2017-05-04 10:11] Nazarah commented on #2526
@kyyberi @philippeluickx  looking for your feedback and insights.

[2017-05-04 10:17] shaliko opened #2527 "Exception from sub currentApiLogo id"
Server: staging.apinf.io
Version: 0.44.0
URL: Main page https://staging.apinf.io

[code]

[2017-05-04 11:12] bajiat opened #2528 "apinf.io dashboard empty"
# Steps to reproduce
1. Log into apinf.io (as admin user)
2. Go to dashboard

# Result

<img width="908" alt="production dashboard empty 0 43 0" src="https://cloud.githubusercontent.com/assets/11626388/25701431/0a44930c-30d5-11e7-9e88-33bade3d76b5.png">

Console error:
[code]

[2017-05-04 11:16] marla-singer commented on #2528
@bajiat I updated console message, left the only one which related to problem

[2017-05-04 11:28] bajiat commented on #2528
If I log into apinf.io as a non-admin, I see the dashboard:

<img width="925" alt="production dashboard as non-admin 0 43 0" src="https://cloud.githubusercontent.com/assets/11626388/25701657/f40ae252-30d5-11e7-954d-4dfcfa088da5.png">

[2017-05-04 11:30] marla-singer commented on #2528
@bajiat It can take about a day or two to fix it. I suggest creating version `0.43.1` for fixing this bug

[2017-05-04 11:49] Laura-Sampo commented on #2452
My opinion comes a bit late, but i don't like the scores. Setting scores for different fields looks complicated to me. Might be tempting for the young generation who likes mobile games, but what about others?
Did we consider some bar as maybe in LinkedIn, which shows that your "profile" is 70% ready and which fields you should still fill in to get optimized results?

[2017-05-04 11:53] brylie commented on #2527
@shaliko would you try unlocking the migrations collection?

https://github.com/percolatestudio/meteor-migrations#errors

Then, we can better see whether this is a migration bug, which it likely is.

[2017-05-04 11:54] marla-singer commented on #2527
@brylie The main idea is
[code]

[2017-05-04 12:20] brylie commented on #2527
@marla-singer right, but I am just wondering if running the migration might mitigate this issue.

[2017-05-04 12:32] bajiat commented on #2528
Is this in any way related to the closed issue #2268?

[2017-05-04 12:33] bajiat commented on #2528
@marla-singer Once this is fixed, we should make a hotfix release 0.43.1

[2017-05-04 12:46] ashakunt commented on #2524
The idea behind the importance of Git history (to name a few) is that:

1. A clean log allows easy tracking of project over time
1. Allows using tools like `git bisect` without any hassle
1. Reduces conflicts during merging the `feature` or `hotfix` branches to `develop` branch

Further, since we would be getting closer to supporting multiple releases and for different customers, it makes a lot of

[2017-05-04 12:49] marla-singer commented on #2528
The problem looks the same. But I don't have any ideas why it repeated again

[2017-05-04 14:20] shaliko commented on #2527
@brylie @marla-singer Migrated, after migration no issue, but I will observe logs for 1 day.

[2017-05-04 16:47] kyyberi commented on #2497
By adding for example the below to swagger, I was able to get API key in place automatically. In other words my api_key was inserted automatically to calls in swagger.

[code]

At least with this Turku API it worked as expected: https://apinf.io/apis/turku-street-maintenance-api

[2017-05-04 16:47] #2497 closed

[2017-05-05 03:44] kyyberi opened #2529 "Unable to upload picture (logo) to API"
## Reproduce

- Go to apinf.io
- log in with github (I'm admin)
- Open https://apinf.io/apis/turku-street-maintenance-api (I added the API)
- Go to settings tab
- Click "Upload logo"
- Select picture

## Result

At the bottom there is notification that upload is ok. Logo is never displayed in either API profile page or API listing. Logo used below.
![turkukaupunki](https://cloud.githubusercontent.

[2017-05-05 03:45] kyyberi commented on #2529
I was able to upload same logo for a different API that was added 10 days ago. The above API was added after release update.

[2017-05-05 03:56] kyyberi commented on #2525
In our platform, this has to be taken into account #2497

[2017-05-05 05:45] Nazarah commented on #2452
@Laura-Sampo A percentage can always be an option although that would be numeric as well.
After a discussion with @philippeluickx and @kyyberi we thought to propose a DX score which would be 100 in total. This can be incroporated in UI (e.g. "70 out of 100") if everyone decides about it.
However, I am more into choosing a number.
The reason behind is that, in LinkedIn, when you keep on adding info

[2017-05-05 06:10] Nazarah commented on #2516
There should be equal amount of spacing (e.g. AP catalog, organizaiton catalog) added at the start of the page when this view gets loaded.

[2017-05-05 06:51] saralavanip opened #2530 "Change language not responsive until next click"
# Steps
1.Visit https://staging.apinf.io   (v 0.44.0 )
2.Go to Footer
3.Change language to 'Suomi'   (select 'Suomi' from drop down menu)

# Findings
- Single click on selected language is not responsive

# Operating system
Windows 10

# Browsers
- Mozilla Firefox   v 53.0.2
- Google Chrome  v 57.0.2987.133

# Screenshot
![change_language_error](https://cloud.githubusercontent.com/assets/13309358/

[2017-05-05 07:02] saralavanip opened #2531 "Jumbled text in Internet explorer"
# Steps
1.Visit https://staging.apinf.io  (v 0.44.0)

# Findings
- Jumbled text
- Footer misplaced

# Browser
Internet Explorer 11

# Operating system
Windows 10

# Screenshots
![ie_interpolated_text_footer_misplaced](https://cloud.githubusercontent.com/assets/13309358/25736310/b4063e28-3179-11e7-89a8-71f774a92e18.PNG)

![ie_logged_in](https://cloud.githubusercontent.com/assets/13309358/25736344/e

[2017-05-05 07:11] bajiat opened #2532 "Swagger documentation not displayed on apinf.io"
# Steps to reproduce

1. Log into apinf.io (as an admin user)
2. Select an API with a Swagger file (e.g. Hello APinf team API)
3. Go to Documentation tab

# Expected result
Swagger documentation is displayed in Swagger UI.

# Actual result
There is a spinner and the Swagger file does not get displayed

# Console error

[code]

[2017-05-05 07:29] marla-singer commented on #2532
@bajiat It's related to #2296. @jawidahmadi is working on it

[2017-05-05 08:15] bajiat commented on #2532
@jawidahmadi and @brylie Swagger file not shown for Hello APInf team API, but APInf Catalog API Swagger file is displayed

[2017-05-05 08:20] marla-singer commented on #2532
@bajiat I'm thinking that we need to create a new patch only for apinf.io site. Because now we are working on 45 version which is based on 44 version while apinf.io site has 43 version. Maybe I am not right. Also it needs to remember that new Swagger UI was deployed in 44 version and has not had additional features yet

[2017-05-05 08:26] marla-singer commented on #2532
Because I fixed it. I needed to look at this file :eyes:

[2017-05-05 11:21] #2513 closed

[2017-05-05 11:22] brylie commented on #2513
After some research and experimentation, we decided to continue with Restivus. We also welcome @dcantatore as a collaborator on the Restivus Swagger package.

[2017-05-05 11:56] brylie commented on #2528
In `/dashboard/client/dashboard.js`, there are two subscriptions:

- `proxyApis` - returns either a user's proxyApis or all proxyApis for admin
- `userManagedApisName` - returns either a user's managed Apis documents or all Apis
    - Api.name field only

The logic in these two publications seems to mirror one another correctly. However, I am wondering whether a composite publication would be bett

[2017-05-05 12:05] brylie commented on #2528
Another thing that might cause this error is if the related API was deleted without deleting the `ProxyApi` document. Basically the `proxyApi.apiName` helper is querying for an `apiId` that is returning `undefined`. So, a publication/subscription or data inconsistency seems likely.

[2017-05-05 12:11] Nazarah commented on #2501
added draft swagger file: https://github.com/apinf/docs/blob/master/docs/develop/REST-API/APInf-User-API-MVP-swagger.yaml

@matleppa @jawidahmadi the file needs revision

[2017-05-05 13:54] mauriciovieira commented on #1714
More resources

http://www.east5th.co/blog/2016/05/02/meteor-unit-testing-with-testdoublejs/
http://courses.ics.hawaii.edu/ics314s17/morea/testing/reading-screencast-meteor-unit-testing.html

[2017-05-05 14:08] mauriciovieira commented on #2513
@brylie @marla-singer sorry for arriving late to the discussion. To be really frank, what matters for me mostly is the testability of the solution. I don't think that restivus or meteor-rest or anything else is going to be difficult to test since we can do an end2end testing approach (not ideal case) with [supertest](https://github.com/visionmedia/supertest), just like [rocket.chat](https://github

[2017-05-06 12:50] kyyberi opened #2534 "Pagination missing APIs / page"
I opened API:Suomi organization view from https://apinf.io/organizations/api-suomi

## Expected result
Full rows of API cards as long as there is APIs. Last page can contain uneven row.

## Current result
On each page, there is still space for 2 more API cards, but for some reason there is no cards.

<img width="1164" alt="screenshot at toukokuuta 06 15-46-15" src="https://cloud.githubusercontent.

[2017-05-08 06:42] Nazarah opened #2535 "API number is inconsistent in Organization Card and Organization Profile"
# Reproduce:
1. go to https://nightly.apinf.io and navigate to organization catalog. (sign in as admin)
2. observe API number in organization card for "Daria's Organization" (shows 5 APIs)
![image](https://cloud.githubusercontent.com/assets/17976243/25792932/47141834-33d2-11e7-968d-a957f8c7e553.png)
3. Go to the organization profile.

# Result
In organization profile, only 3 APIs appear.
Found thi

[2017-05-08 07:04] matleppa opened #2536 "Organization cover image visible only for Admin and Organization manager"
When cover image has been set for an Organization, it should be visible for all users, who are watching the Organization.

Now it is visible only for Admin and the Organization Manager.

[2017-05-09 06:50] philippeluickx opened #2537 "Branching strategy"
After discussion with @phanimahesh concerning our CI flows, we might want to rethink our branching strategy to align both development and CI.
@phanimahesh suggested workflow:
http://nvie.com/posts/a-successful-git-branching-model/
https://github.com/nvie/gitflow

It's a strategy I've seen working in bigger companies.

[2017-05-09 08:05] brylie commented on #2537
We are already following GitFlow. We just mainly work with feature [branches](https://github.com/apinf/platform/branches). See our [Contributor guide](https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md#contributing-code) for details.

[2017-05-09 08:11] brylie commented on #2537
That said, there are always possible improvements to the process. One improvement would be that we release more patch level fixes (i.e. hotfixes in Gitflow parlance). That would allow us to get bug fixes to production faster, so we can get code to clients/stakeholders as fast as possible.

[2017-05-09 08:17] brylie commented on #2537
On a more general level, this issue is an example of assuming things should be different without checking how they actually are. We can certainly improve, but need to understand how things currently work before suggesting changes. This is a common pattern for people first joining a team/organization/process, where they suggest the organization should adapt to their previous experience before learn

[2017-05-09 08:26] #2311 closed

[2017-05-09 08:53] philippeluickx commented on #2537
@phanimahesh Could you please join in?
@brylie The discussion got started in the context of CI and it seemed there are no release branches. I haven't seen a lot of hotfix branches either. It seems to me we are using a subset of Gitflow.
Like you said, are there any improvements we can adopt? As I understand it, e.g. release branches will make the CI easier.

[2017-05-09 09:06] brylie commented on #2537
Github uses tags for releases:

[2017-05-09 09:10] brylie commented on #2537
Basically, we all agree to make hotfixes more often. Lets start with that.

[2017-05-09 09:16] #2303 closed

[2017-05-09 09:16] #1096 closed

[2017-05-09 10:05] bajiat commented on #2537
@ashakunt This is something you probably want to comment as well.

[2017-05-09 10:25] brylie commented on #2537
@apinf/architects, @apinf/core, @apinf/developers : today in stand-up we agreed to make any small bug fixes, going forward, against the `master` branch (as hotfixes). This will align our process more deeply with Gitflow, and allow us to quickly deliver bug fixes to clients.

[2017-05-09 10:28] brylie commented on #2537
@bajiat, @phanimahesh, @philippeluickx, @ashakunt lets discuss starting next sprint with a release branch.

[2017-05-09 10:30] phanimahesh commented on #2537
Feature branches are a natural consequence of having multiple developers.
They isolate feature changes so that each one is unaffected by others. We
can not claim to be following git flow pointing at just feature branches.
It is just basic version control hygeine.

Releases must be tagged. Github got it right. No arguments there either.
Release branches do not replace tags.  They complement each ot

[2017-05-09 10:43] brylie commented on #2537
After more closely reading that article, I am still confident we can start making hotfixes this sprint. We will just need to decide whether to sync the changes with `develop` based on the existence of a possible release branch.

[2017-05-09 11:10] philippeluickx commented on #2537
Starting with hotfixes definitely gets a +1 from me and seems like a non-disruptive change to our processes.
Release branches is a different story. I wanted to start the discussion after talking with @phanimahesh, which is happening here and that's great. Kudos to @phanimahesh in clarifying, appreciated.

[2017-05-09 11:29] brylie commented on #2528
Below is an annotated image showing two concerning observations:

- APIs and ProxyBackends subscriptions return different number of documents
- We are subscribing to many, possibly *all*, users

![screenshot_20170509_141304-annotations](https://cloud.githubusercontent.com/assets/17307/25848631/e1e72f1c-34c3-11e7-9cb8-84438eb5fbb8.png)

[2017-05-09 11:32] brylie opened #2538 "Possibly over-subscribing to Users collection on Dashboard"
While researching #2528, I noticed that we may be over-subscribing to the Users collection in our Dashboard view/route:

![screenshot_20170509_141304-usersannotation](https://cloud.githubusercontent.com/assets/17307/25848727/4750a9fa-34c4-11e7-8f6f-ad1dffade198.png)

Determine where we are subscribing to so many users, how the User(s) are used, and clean up the subscription if possible.

[2017-05-09 11:38] brylie commented on #2528
I agree with @marla-singer's intuition. I can write a fix that gives us cleaner publications, but we will probably need to also audit the Apinf.io APIs/ProxyBackends documents.

[2017-05-09 11:47] brylie commented on #2528
I am going through the dashboard rendering loop with a debugger active in the `apiName` collection helper. So far, I have found the following situations where `api` (`t` in minified code) is undefined:

![screenshot_20170509_144546](https://cloud.githubusercontent.com/assets/17307/25849249/614d6120-34c6-11e7-89d5-f63a3118c80d.png)

[2017-05-09 12:00] brylie commented on #2537
Cool beans. I just opened a [hotfix pull request](https://github.com/apinf/platform/pull/2540) for our blank-dashboard issue.

[2017-05-09 12:10] brylie opened #2541 "Over-subscribing to APIs collection on Dashboard"
While researching #2528, I noticed that we may be over-subscribing to the APIs collection in our Dashboard view/route:

![screenshot_20170509_141304-annotations](https://cloud.githubusercontent.com/assets/17307/25850028/7ab849ba-34c9-11e7-9b3c-f727e6778df9.png)

Determine where we are subscribing to so many APIs, how the User(s) are used, and clean up the subscription if possible. E.g. use a compo

[2017-05-09 12:35] #2296 closed

[2017-05-09 12:35] #2532 closed

[2017-05-09 12:39] brylie opened #2542 "Remove config.json.example from project"
Since our project no longer relies on a config.json, we can clean up the **config.json.example** file from our project root. Most/all configuration settings are now stored in collections.

[2017-05-09 13:39] brylie commented on #2501
It is worth noting that the Users API may already exist. By default, [Restivus creates a basic Users API](https://github.com/kahmali/meteor-restivus#users-collection-endpoints).

It is also worth understanding the difference between `api.addCollection` and `api.addRoute`:

- [Defining collection routes](https://github.com/kahmali/meteor-restivus#defining-collection-routes)
- [Defining custom route

[2017-05-09 15:59] kyyberi commented on #2521
Why is this in icebox? Lack of development resources or lack of information?

[2017-05-09 16:10] kyyberi commented on #2503
Unfortunately I have no time to follow Github issues. Design issues such as this should be discussed face to face at the office when ever there is need and chance for it.

[2017-05-09 16:16] kyyberi commented on #2336
@brylie Do we have some sort of mediations and shared understanding? Is this going forward?

[2017-05-09 19:42] ashakunt commented on #2537
Hello, I am joining this discussion a bit late, but better late than never. My comments below with some references from https://datasift.github.io/gitflow/IntroducingGitFlow.html and a tiny bit of my experience in dealing with some projects which are bit bigger than `apinf/platform`:

With a distributed team like ours, parallel development (which is an excellent practice) is unavoidable. The team

[2017-05-10 01:03] mauriciovieira commented on #2524
I would say some people have been using rebase in the team, but it's not a common practice.

One other point is the quality of git messages. As I said on our chat in March,

I totally agree with @ashakunt on his last comment. Thanks for bringing this up, and sorry for coming late for the discussion.

[2017-05-10 01:09] mauriciovieira commented on #2537
Joining late too...

Supposing it would be a bit complicated to implement both at the same time, what would be easier to implement and bring more value as a first step, release branches or release tags?

OK, so if we agree on this, that means that #2540 should be dropped and instead, it should be a _bugfix_ branch, merging to develop.  I would say we've been doing this way...

[2017-05-10 01:45] mauriciovieira commented on #2542
I am not sure if we would still need it for CI / testing purposes. But anyways, we can reintroduce later if needed.

[2017-05-10 06:44] philippeluickx commented on #2537
Would it help if someone would have the explicit role of release manager? Someone who works closely with the product owner (Taija) and is responsible for getting the release out in a decent fashion? That means following a clear process, release notes, communication,...

[2017-05-10 06:51] saralavanip opened #2543 "Organization view: Logo and cover image not visible"
# Steps
1.Visit https://staging.apinf.io  (v 0.44.0)
2.Login as owner
3.Go to Organization catalog
4.Select and click on any organization (eg. Test2_organization)

# Expected Result
Organization cover image and its logo must be visible for all users

# Actual Result
Organization cover image, logo not visible for owners and visible only for admins or organization managers

# Screenshot
![login_owne

[2017-05-10 07:08] saralavanip opened #2544 "Add API redirects to API catalog view"
# Steps
1.Visit https://staging.apinf.io  (v 0.44.0)
2.Login as owner
3.Click on 'Add API'
4.Fill the form
5.Click on 'Add API'
# Expected Result
Successful 'Add API' must redirect to API 'Details' view

# Actual Result
Add API redirects to API catalog view

[2017-05-10 07:19] brylie commented on #2336
I unassigned myself from the issue because it was becoming too stressful.

In alignment with the user needs described in this issue, we are actively developing the three APIs in separate issues (using the Restivus framework).

- [Users](https://github.com/apinf/platform/issues/2501)
- [Organizations](https://github.com/apinf/platform/issues/2442)
- [APIs](https://github.com/apinf/platform/issues/2

[2017-05-10 07:21] brylie commented on #2542
I understand. Lets remove it until it is needed.

[2017-05-10 07:31] brylie commented on #2537
The main point of my comment was to say that it is common when new people join our team that they suggest changes immediately. Their perspective is valid, but it is also important that their suggestion take into account current practices. The comment of bounded rationality applies to all of our frames of reference, by nature.

In this case, we are following the Gitflow method to a limited extent.

[2017-05-10 07:35] marla-singer commented on #2528
@brylie I searched in miniMongo and found the proxy Backend with specified API ID. The API name is "HSLAPI" and searching in entire site did return any API with this name. Then

1. API was renamed and because I did not find it on site. (But why API document doesn't exist)
2. API was removed but Proxy Backend was not. (It explains why API document doesn't exist but ProxyBackend does)

[2017-05-10 08:14] shaliko commented on #2528
@brylie With @marla-singer found migration lock in logs:

[code]

I did not see that exception in logs, probably missed it.

For some reason DB migration was on step #2
[code]

Disabled lock and just restart container fixed issue.

[code]

@brylie @marla-singer Can we disable lock in case if migration finish with error? Do we have any good practice related to Meteor migration for the handle?

[2017-05-10 08:30] brylie commented on #2528
There is not an 'official' migration practice in Meteor. As you are likely aware, we use [percolate:migrations](https://github.com/percolatestudio/meteor-migrations). A good place to discuss the questions you ask would be as one or more issues in the [percolate:migrations issue quque](https://github.com/percolatestudio/meteor-migrations/issues).

[2017-05-10 08:42] bajiat commented on #2537
I would say it is ok to suggest improvements in the processes when we see the needs to improve regarless whether you are a new or old team member. The suggestions are not personal attacks on any other team members, I assume that process improvement proposals are done for the purpose of improving and for the good / quality of the project.

I don't think we can come to a conclusion about the process

[2017-05-10 08:43] ashakunt commented on #2537
@brylie If we talk about spirit and intention, the we should get rid of all the processes and completely rely on the spirit and intention for all the things in software development. Unfortunately, software development does not really work on spirit and intention. Further, again talking about spirit and intention, please try to see the upside of making sure that a process is followed in a certain f

[2017-05-10 08:46] brylie commented on #2528
@shaliko there is a recent issue about locks that might not answer your questions, but could be interesting to know about:

- https://github.com/percolatestudio/meteor-migrations/issues/69

[2017-05-10 09:04] brylie commented on #2537
We are in agreement about the important of common definitions and being consistent with team process. I just don't want to delve so deeply into semantic debates, when all it seems we might need is a nudge here to release more patches. The spirit and intention is to deliver bug fixes to customers in a timely manner.

[2017-05-10 10:10] philippeluickx commented on #2537
@ashakunt It'd be lovely if you can take that role. @bajiat would that be OK for you? We can define the scope of the role as we go, but I think it would be good if someone with experience can have the mandate to improve our release processes.

[2017-05-10 10:27] bajiat commented on #2537
yes, I think it would be good if @ashakunt would be willing to take the role of the release and integration manager and improve both processes.

[2017-05-10 10:57] brylie opened #2546 "$in needs an array when rendering Organization Profile"
In the process of reviewing PR #2495 we encountered the following error on the Organization Profile:

[code]

We thought we resolved the issue as part of that pull request, but it is currently visible on nightly.apinf.io.

# Steps to reproduce
1. visit nightly.apinf.io
2. go to Organizations page
3. view any Organization profile

![empty organization](https://cloud.githubusercontent.com/assets/179

[2017-05-10 11:04] shaliko commented on #2528
@brylie thanks!

[2017-05-10 11:27] Nazarah commented on #2544
were able to produce in nightly.apinf.io

[2017-05-10 12:02] mauriciovieira commented on #2521
@kyyberi I did put in icebox so that @bajiat could take a look and prioritize.

[2017-05-10 12:06] Nazarah opened #2547 "URL issue in organization profile when clicking browser back button"
# Reproduction Steps

1. go to nightly.apinf.io and navigate to organization catalog
2. go to an organization profile.
3. observe the URL
4. click browser back button

# Result
* browser immediately doesn't redirect to Organization Catalog
* URL gets a suffix SortBy added in it
* Need another click i browser back button to go back to organization profile.
![organization url](https://cloud.githubus

[2017-05-10 12:34] Nazarah opened #2548 "API Profile Documentation: Page needs to be reloaded to close Authorize dialogue"
# Reproduction Steps:
* Go to nightly.apinf.io
* Go to documentation tab of an API that has a valid swagger (Try APInf User API)
* click on the Authorize button

# Result
* Authorize dialog doesn't have any close button to close the dialog.
* Page needs to be reloaded or navigated back to the previous page to close the dialog
![doctabauthorization](https://cloud.githubusercontent.com/assets/179762

[2017-05-10 16:16] preriasusi opened #2550 "Filter only APIs with Swagger documentation"
I was just searching APis from APInf to try quickly. I would like to get a working API (in beta or production state, not in design state) with working Swagger documentation. I was browsing apinf.io, but I could not find it quickly.

# Goal
- The catalog can be filtered to contain only APIs that fulfil the following two criteria:
  - API is in production or testing state
  - API has a Swagger file

[2017-05-10 16:34] saralavanip commented on #2515
Reported Issues: #2530, #2531, #2543, #2544

[2017-05-11 02:20] #2546 closed

[2017-05-11 04:32] kyyberi opened #2551 "Twitter summary card meta tags in views"
## Story

As organization manager I want to see pretty summary card in Twitter about my organisation view.
As organization manager I want to see pretty summary card in Twitter about each API in my organisation.

## Expected sample result

![kuvakaappaus 2017-05-11 07-25-14](https://cloud.githubusercontent.com/assets/1927158/25932613/ff79433c-361a-11e7-9c38-48911f65771b.png)

[code]

## Howto

http

[2017-05-11 04:54] kyyberi opened #2552 "Missing meta tags for social media"
Current implementation does not have any (sharing and discoverability) significant meta tags

https://apinf.io/apis/turku-issue-reporting-api

[code]

## Expected result

- Basic OG meta tags http://ogp.me/
- Twitter summary card tags #2551

[2017-05-11 05:41] Nazarah opened #2553 "UI Enhancement for Add proxy view"
![image](https://cloud.githubusercontent.com/assets/17976243/25934418/5c9d1f88-3626-11e7-9a2e-23d6a4e1da81.png)

1. Add examples in texts (italic and appearing disable) to fields: (can be the same style as that of HTTP API URL
    - a. Host
    - b. Port
2. Rename HTTP API URL as **Configuration API Endpoint**
3. Give Infor Tip explaining what is TLS. The message should contain the full meaning of

[2017-05-11 05:44] phanimahesh commented on #2537
For reference and to get things started, here are a few responsibilities of
a release and integration manager.

- Handle creation of release branches when appropriate.
- Review or have someone review every PR into a release branch (backports
and hotfixes) for potential regressions.
- Ensure that we have sufficient tests for any patches being applied.
- Eventually, ensure that every release gets en

[2017-05-11 06:58] 55 commented on #2418
I would suggest to keep footer color neutral and predefined, e.g. grey, black or white.

[2017-05-11 07:47] brylie commented on #2528
I have tested deleting an API through the UI. When the API is deleted, the corresponding ProxyBackend document is also deleted (in local development environment). I am not sure what scenario left the ProxyBackend document without a related API document on apinf.io.

[2017-05-11 07:52] marla-singer commented on #2528
@brylie Ok, maybe it is a old issue and now it is not reproduced. When your little fix is okay, just remember about version

[2017-05-11 07:54] brylie commented on #2528
Based on @shalikos comment, I checked the migrations. Migration number two is called ''Migrate all apiBackends to new structure'. There is a step where a new API is created, which returns an API ID. It could be that step, or a nearby step, that fails, or perhaps the migration was incomplete -- leading to data 'corruption'. Thoughts?

[2017-05-11 07:55] bajiat commented on #2205
@saralavanip Is this bug still relevant with the new organization card style?

[2017-05-11 07:55] Nazarah commented on #2418
Another option is to provide a CSS editor in the branding page, so that Site admin can decide with the look and feel using their customized markup sheets.

[2017-05-11 07:56] brylie commented on #2528
@marla-singer I will check with @ashakunt regarding how to 'backport' this fix to the 0.43.x series.

[2017-05-11 08:05] saralavanip commented on #2205
@bajiat , Verified on staging v 0.44.0 and it is not reproducible with new organization card style.

[2017-05-11 08:50] ashakunt commented on #2537
* handle creation of release branches - Must be automated in the Release job in Jenkins
 * backport review for potential regressions - must be handled along with running the actual release set + automated tests for the fix in question
 * ensure sufficient tests for any patches being applied - this is also the responsibility of the development team and the definition of done must be updated accordi

[2017-05-11 11:02] ashakunt commented on #2524
This comment focuses on `git rebase`:

One of the most powerful features of git is the ability to commit often, fix history if needed and push once done. In all the **personal feature branches** we should use this strategy. So, when a feature has to be developed this is what we should follow (some of if we do already):

* [x] Create a feature branch for all the development
* [x] Do all the develop

[2017-05-11 11:07] ashakunt commented on #2524
Some situations to handle: **when one developer is working alone on a branch**

1. You committed some stuff last evening
1. This morning when you rebase your branch w.r.t. `develop`, you find new changes
1. Your feature will not be finished today; so you need to push all the changes at the end of the day and come back later

At this point, in the evening, when you do a `git push`, server rejects y

[2017-05-11 11:13] ashakunt commented on #2524
^ I am however open to any better recommendations. @mauriciovieira @phanimahesh @philippeluickx @brylie.

[2017-05-11 11:15] 55 commented on #2536
Same for logo in Organizaion and API views.

[2017-05-11 11:25] ashakunt commented on #2524
Some handy `git shortcuts` you might want to use:

**`git lol`**
`lol = log --graph --decorate --pretty=oneline --abbrev-commit` <- shows a command like graph pretty similar to gitk.
**`git in`**
`!git fetch && git log --pretty=format:'%C(yellow)%h%Creset: %Cblue%an%Creset %s' --abbrev-commit --graph ..@{u}` <- checks if there are any incoming commits in the remote tracking branch
**`git out`**
`l

[2017-05-11 11:27] ashakunt commented on #2524
Please review and if you think its ok, we can close this issue.

[2017-05-11 11:31] 55 commented on #2462
@bajiat @Nazarah what is the status of this task? I would like to help with it.

[2017-05-11 11:50] Nazarah commented on #2462
@55 we wanted to start it this sprint, but it was not possible because of other priorities. But you are more than welcome to participate. We will be having a discussion tomorrow around 10 AM, so please do join us.

[2017-05-12 01:14] #2474 closed

[2017-05-12 01:36] mauriciovieira commented on #2524
@ashakunt Firstly, thank you for documenting this way. I think it's a good idea to have these guidelines on our CONTRIBUTING.md or on some separated documentation just for it.

I've been rebasing and force-pushing on my branches since the first commit I've done to this repository, in 2015. I experienced no big problems on doing it. In practice, all feature branches are treated as personal branches

[2017-05-12 01:39] mauriciovieira commented on #2552
#2521 is related.

[2017-05-12 01:41] mauriciovieira commented on #2523
Do you mean that you changed the active branch and kept meteor running?

[2017-05-12 01:45] mauriciovieira commented on #2508
We also need to add the meta tags for autodiscovery. Related issue: #2521

[2017-05-12 06:49] marla-singer commented on #2534
@kyyberi For some reasons there sets "10 API cards per page". You can change this behavior in Settings tab -> Number of APIs per page feature

[2017-05-12 06:55] #2418 closed

[2017-05-12 07:06] kyyberi commented on #2534
found it. Thanks

[2017-05-12 07:06] #2534 closed

[2017-05-12 07:09] shaliko commented on #2527
@brylie @marla-singer I am closing that bug, no more exceptions on staging.

[2017-05-12 07:09] #2527 closed

[2017-05-12 07:15] brylie commented on #2508
@mauriciovieira please read closer the task description.

[2017-05-12 07:16] brylie commented on #2418
@Nazarah did you mean to close this issue?

[2017-05-12 07:18] #2516 closed

[2017-05-12 07:26] Nazarah commented on #2452
after a discussion with @bajiat we propose the following:
- on any lifecycle status, the API profile DX should be updated. On changing the lifecycle phase next time, the DX score will not be affected. Only removing the status would decrease the DX.
- Quick Start as OEMBD content might be too complicated to decide. Perhaps having a related media should add some points to DX score. but it should not

[2017-05-12 07:40] Nazarah commented on #2452
**question** what happens to the DX score of an API that has been deprecated? Should we freeze the scoring? change the DX icon color?

[2017-05-12 08:01] bajiat commented on #2024
If I would be an API owner or an organization manager, what are the questions I would like to get answers for?

Some suggestions:
Is there a problem I need to address immediately? (E.g. high amount of failed or slow calls)

[2017-05-12 08:35] bajiat commented on #2024
Comments from dashboard meeting (@Nazarah, @55, @bajiat)

### If I would be an API owner or an organization manager, what are the questions I would like to get answers for?
 * Is there a problem I need to address immediately or soon? (E.g. high amount of failed or slow calls) Where is the problem (which API, endpoint)?
* How popular are my APIs? Nr of calls, nr of users or applications
* Which API

[2017-05-12 09:12] kyyberi commented on #2452
Deprecated does not have dx score.

[2017-05-12 09:16] kyyberi commented on #2336
Excellent that things are progressing. What about the "flow API"? What is the plan for it?

[2017-05-12 09:31] brylie commented on #2336
The Flow API is somewhat broad and vaguely defined. It also implies features that don't currently, and may not ever, exist in APInf platform.

Some implied features there include:

- traffic (may overlap with Analytics/Dashboard API)
- state (may overlap with Monitoring API, implies Monitoring feature which isn't fully baked)
- changes (implies Catalog API versioning/changelog feature, which does

[2017-05-12 09:44] kyyberi commented on #2336
What is obvious is by this discussion in this issue alone, is that there's a lot of lurking APIs. Defining initial architecture (and keeping it updated) would make communication about the future easier.

" broad and vaguely defined". That is obvious. What is the plan to make it defined? Not knowing about other visible/plausible APIs makes it hard for us in C&C team to provide what is missing as in

[2017-05-12 10:04] brylie commented on #2336
![screenshot_20170512_130207](https://cloud.githubusercontent.com/assets/17307/25993617/372ef396-3713-11e7-9d56-110bae019861.png)

Here is a work in progress diagram showing the REST API architecture.

I suppose we can ask for more clarification from the customers and communities team about what the user needs are regarding the **Flow API*

I understand on a basic level that APIs might have some o

[2017-05-12 10:19] Nazarah opened #2555 "Reworking on Organization Profile Settings Page"
# Usability Issue
With the current Settings page, fields that get changed frequently are often not quickly accessible. User needs to browse and look carefully to find the desired field. It would be prudent if accessing and editing field were quick and easy.

# Example Fields
* TBD

# Suggestion
- Having inline editing fields in profile view to make changes on fly
- fields would include text fields

[2017-05-12 10:41] #2221 closed

[2017-05-12 11:07] brylie commented on #2452
how we should consider users' feedback in rating an API or looking at the response rate from API owners to user's questions.

[2017-05-12 11:08] kyyberi commented on #2336
Flow API provides for customers data about API activities for the needs of their own process automation. Not all our customer want to use our dashboard in daily activities. I'm not going to put customer names in public. They have their own larger scope (all development of API driven services) dashboards. Is that enough reasoning?

[2017-05-12 11:12] marla-singer commented on #1274
@bajiat Verified on apinf.io and it is resolved
![2017-05-12 14 09 12](https://cloud.githubusercontent.com/assets/20643403/25995839/e35c31f2-371c-11e7-8a46-09e9986f370d.png)
![2017-05-12 14 09 43](https://cloud.githubusercontent.com/assets/20643403/25995860/f4f2433e-371c-11e7-999a-72ff39d58889.png)

[2017-05-12 11:13] brylie commented on #2336
Might customers be able to use our **Dashboard (analutics) API** and other APIs, without the need for a **Flow API**? I just don't understand why we need an additional API, when we are working to provide REST access to all of our data anyway.

[2017-05-12 11:16] kyyberi commented on #2336
I dont care how it is internally organized. Customers need to dashboard data via API. To me dashboard API is basicly the same as "Flow API". Only th scope changes; one use case is internal, the other is external. Nevertheless, the external facing API structure is something that is designed together with customers, not defined by underlying stack or our team alone.

[2017-05-12 11:25] brylie commented on #2336
What do you mean by 'internal' and 'external' use cases?

What are the distinguishing customer needs that cannot be met by the **Organizations API**, **Analytics (i.e. Dashboard) API**, and **Catalog API**, that justify the idea of a **Flow API**? What are some ways that our current API designs might support the customer needs?

[2017-05-12 11:27] kyyberi commented on #2336
Ok. Now it's my turn to resign from this endless discussion. Just provide the API architecture, data models used, what end points it is planned to have.

[2017-05-12 11:35] #1274 closed

[2017-05-12 11:36] #1277 closed

[2017-05-12 11:54] bajiat opened #2556 "Create a small project for data aggregation"
# Goal

* Share the available data structure to dashboard designer team.
* In dialog with the dashboard design, decide on the expected /data structure and granularity.
* Data from API Umbrella Elastic Search is aggregated on the server side before passing the data to client.
* There is a functioning dashboard based on the wireframe options from dashboard design team.

# Work-in-progress
The projec

[2017-05-12 11:58] bajiat opened #2557 "Design options for dashboard"
As a continuation of dashboard re-thinking, work in dialog with the development team to create at least low-fidelity wireframes for dashboard. Optimally, try HTML mockups with interactivity to try different chart options and see how they feel from user perspective.

# Related Issue
#2024

[2017-05-12 12:03] bajiat commented on #2548
@Nazarah This is Swagger Ui, not our implementation. Did you try to click the grey area outside of the modal?

[2017-05-12 12:04] bajiat commented on #2547
@marla-singer Is this by design or against the design?

[2017-05-12 12:09] bajiat commented on #2530
@saralavanip Can you add browser information?

[2017-05-12 12:11] bajiat commented on #2523
@jawidahmadi More information needed on how to reproduce the error.

[2017-05-12 12:16] bajiat commented on #2507
@marla-singer Is this related to the hard-coded text color?

[2017-05-12 12:16] marla-singer commented on #2547
@bajiat against the design

[2017-05-12 12:17] marla-singer commented on #2507
@bajiat I have no idea
@55  Is this related to the hard-coded text color?

[2017-05-12 12:20] bajiat commented on #2498
@kyyberi Can you give us the name of the API so that we can try to reproduce?

[2017-05-12 12:24] bajiat commented on #2486
Suggestion by @brylie: Show a spinner, if the template subscription is not ready.

[2017-05-12 12:28] bajiat commented on #2465
@brylie Can you take a look?

[2017-05-12 12:30] bajiat commented on #2451
If tagging would be used, this one would assume free-tagging. I'm iceboxing this until it makes it to the top 5.

[2017-05-12 12:31] bajiat commented on #2436
@saralavanip Please mention the browser information

[2017-05-12 12:35] bajiat commented on #2432
Could not reproduce either with Safari (iPhone) or with Firefox and Chrome (Huawei). Closing the issue.

[2017-05-12 12:35] #2432 closed

[2017-05-12 12:37] bajiat commented on #2415
Swagger viewer has been updated. Meteor we need to keep updating regularly.

[2017-05-12 12:39] bajiat commented on #2400
This is a really good suggestion and definately should be considered for apinf. Requires more work for granular permissions. Iceboxing for the moment, until it becomes a top priority.

[2017-05-12 12:41] 55 commented on #2507
@marla-singer I will take a look at this. As far as I remember that's because we are using the same active class color for both navbars.

[2017-05-12 12:41] bajiat commented on #2366
We may have to think of terms of use when we come to API monetization, which implies some kind of contract between API owner and consumer. I would say this is a good idea, but has to go to icebox for the time being.

[2017-05-12 12:43] bajiat commented on #2555
Settings are not visited all the time, so I would icebox this for the time being.

[2017-05-12 12:44] marla-singer commented on #2529
@bajiat Interested

[2017-05-12 12:44] marla-singer commented on #2536
@bajiat Interested

[2017-05-12 12:44] 55 commented on #2557
Interested.

[2017-05-12 12:45] saralavanip commented on #2487
Verified on staging v 0.44.0  and it is reproducible.

[2017-05-12 12:46] 55 commented on #2493
Interested.

[2017-05-12 12:46] 55 commented on #2531
Interested.

[2017-05-12 12:46] bajiat commented on #2552
@brylie Please comment this, because there seem to be some restrictions on header content in run-time

[2017-05-12 12:48] 55 commented on #2553
Interested.

[2017-05-12 12:48] bajiat commented on #2551
@brylie Please comment.

The idea is useful.

Related to #2552

[2017-05-12 12:48] 55 commented on #2486
Interested.

[2017-05-12 12:51] bajiat commented on #2550
The idea is useful. I'm iceboxing it only, because it is not high-priority right now.

[2017-05-12 12:53] bajiat commented on #2536
Closing as duplicate for #2543

[2017-05-12 12:53] #2536 closed

[2017-05-12 12:54] marla-singer commented on #2543
@bajiat Interested

[2017-05-12 13:00] bajiat commented on #2320
Related to #2486 - could this be resolved by the suggested fix?

[2017-05-12 13:01] bajiat commented on #2205
Closing as resolved.

[2017-05-12 13:01] #2205 closed

[2017-05-12 13:20] brylie commented on #2465
@frenchbread can you still produce this error on `develop`?

[2017-05-12 13:20] saralavanip commented on #2530
@bajiat ,  Please find the browser details added to the report.

[2017-05-12 13:21] brylie commented on #2552
Basically, we can only modify the platform `<body> ... </body>` at runtime. We can only make changes within the `<head> ... </head>` tags at compile time, meaning they have to be 'hard coded'. I am not sure of a way around this.

[2017-05-12 13:26] brylie commented on #2552
There are a few Q&A / discussions related to this issue, so we might be able to find a way forward:

- http://stackoverflow.com/questions/11281405/how-to-integrate-facebooks-open-graph-in-a-meteor-application
- https://webdevelopment7636.wordpress.com/2017/02/15/social-share-with-meteor/

[2017-05-12 13:27] saralavanip commented on #2436
@bajiat , added browser details to the bug report.

[2017-05-12 13:31] #2441 closed

[2017-05-12 13:35] brylie commented on #2551
Basically, this boils down to the `<head> ... </head>` tags being generated on the server side, before sending the initial page to the client. Since we are technically building a 'single-page-app' the single page does not really change.  After the initial page renders, the templating language 'Blaze' handles changes to the page `<body> ... </body>` on the client side, dynamically.

As mentioned in

[2017-05-12 13:54] saralavanip opened #2558 "Suomi view: untranslated text in 'Organization' view"
# Steps
1.Visit https://staging.apinf.io  v 0.44.0
2.Login as admin
3.Add organization
4.Go to above added Organization profile
5.Change language to 'Suomi'

# Findings
User info. and button title text  for 'Add Related Media' are in English language

# Operating system
Windows 10

# Browsers
- Mozilla Firefox   v 53.0.2
- Google Chrome  v 57.0.2987.133

# Screenshot
![suomi_view_untranslated_text

[2017-05-12 15:18] kyyberi commented on #2552
Possibly helpful, no idea of quality or coverage regarding our needs https://github.com/lookback/meteor-seo

[2017-05-12 17:27] kyyberi commented on #2529
I was able to add logo to new API I added. Still I can't add logo to the referred API.

[2017-05-12 17:50] kyyberi opened #2559 "Logos not shown in api detailed view in mobile ux"
![screenshot_20170512-204449](https://cloud.githubusercontent.com/assets/1927158/26010168/853a3c4e-3754-11e7-994d-21b6a2bd26f3.png)

![screenshot_20170512-204255](https://cloud.githubusercontent.com/assets/1927158/26010178/94532948-3754-11e7-8e0f-f7fd8488c0f3.png)

[2017-05-12 17:51] kyyberi commented on #2559
Logos are visible in card view/list

[2017-05-12 19:38] frenchbread commented on #2336
Let's not bring things not related to software development to GitHub, please.

-------

If there are any difficulties related to API design, I'd suggest we go simple and create something similar to RESTful SailsJS [blueprint-api](http://sailsjs.com/documentation/reference/blueprint-api) pattern. API-wise this concept has all needed features that APInf might need.

[2017-05-12 19:40] frenchbread commented on #2465
@brylie Yes, issue still appears. (Just tested)

[2017-05-12 19:57] frenchbread opened #2560 "Create a document that describes overall EMQ/APInf architecture"

[2017-05-15 05:42] Nazarah commented on #2557
interested

[2017-05-15 05:54] bajiat commented on #2487
@saralavanip Can you check this in nightly and if not reproducible there, then close.

[2017-05-15 06:05] bajiat commented on #2515
@saralavanip Can I close the issue?

[2017-05-15 06:24] Nazarah commented on #2550
I'd kind of disagree about its priority.
I struggle a lot, even in production site to look for an API that has  swagger documentation.
I need to go to an API, click on documentation tab, and then return back to catalog if I don't get any swagger.
So 3 clicks are needed to decide whether or not the API is useful to me.
Having a filter to see if an API has a swagger with a filter and perhaps some in

[2017-05-15 07:04] saralavanip commented on #2515
@bajiat , yes this task has been completed, so closing the issue.

[2017-05-15 07:04] #2515 closed

[2017-05-15 07:22] saralavanip commented on #2487
@taija, verified this issue on nightly v  0.44.0 and it is reproducible.

Screenshot:
![nightly_generate_sdk_error](https://cloud.githubusercontent.com/assets/13309358/26046430/9128f89c-3957-11e7-8c5c-71da01f000d1.PNG)

[2017-05-15 07:50] brylie commented on #2487
@saralavanip do you have an example swagger file we can use to test with? Which swagger / API are using to test?

[2017-05-15 08:06] bajiat commented on #2557
I will participate as much as I can, but the main assignees are @55 and @Nazarah

[2017-05-15 08:10] bajiat commented on #2556
@marla-singer Would you be interested to cooperate with @brylie on this task? We would like this to be a team effort.

@mauriciovieira and @frenchbread Could you comment and mentor?

[2017-05-15 08:12] bajiat commented on #2450
@brylie Task is to investigate. Let's re-estimate and perhaps re-assign based on your investigation.

[2017-05-15 08:12] bajiat commented on #2531
@55 Please estimate

[2017-05-15 08:13] bajiat commented on #2529
@marla-singer It's yours. Please estimate.

[2017-05-15 08:13] bajiat commented on #2543
@marla-singer Please estimate.

[2017-05-15 08:16] bajiat commented on #2493
@55 Please estimate

[2017-05-15 08:16] bajiat commented on #2486
@55 Please estimate.

[2017-05-15 08:18] bajiat commented on #2320
@55 See if this is fixed by  or related to #2486

[2017-05-15 08:19] bajiat commented on #2553
@55 Please estimate.

[2017-05-15 08:20] bajiat commented on #2381
@shaliko / @marla-singer Could you please check why is the staging API Umbrella not working? Or is this resolved? Should we remove staging API Umbrella from available proxies?

[2017-05-15 08:20] philippeluickx opened #2561 "API testing feature"
Stumbled upon a potentially interesting library: https://github.com/apiaryio/dredd
It would allow us to validate the actual API implementation compared to the Swagger specs.
It works with command line and there's nodejs hooks.

[2017-05-15 08:30] frenchbread commented on #2556
Sure

[2017-05-15 09:26] Nazarah opened #2562 "wireframe for "Wireframe and implement RSS feed buttons for API Catalog and Organization Profile""
#2508

# API Catalog
1. button style: http://fontawesome.io/icon/rss-square/
color: #ff9d00
![rssapicatalog](https://cloud.githubusercontent.com/assets/17976243/26627821/63872e36-4604-11e7-971e-938626a38fa0.png)

# Organization Profile
![rssorganizationprofile](https://cloud.githubusercontent.com/assets/17976243/26627982/07ef7a82-4605-11e7-8504-9f41132a6168.png)

[2017-05-15 09:33] jawidahmadi commented on #2493
The bug occurred at develop, however, the bug is not occurring at production.

[2017-05-15 09:39] saralavanip commented on #2487
@brylie , downloaded  the example swagger files for testing from http://editor.swagger.io/
eg. Uber API , Swagger Petstore

[2017-05-15 09:55] brylie commented on #2487
It appears that our request to codegen.apinf.io might be missing the swagger specification file:

![peek 2017-05-15 12-53](https://cloud.githubusercontent.com/assets/17307/26052292/a760a3e2-396d-11e7-80e8-23ad1b8ad43d.gif)

[code]

[2017-05-15 11:48] marla-singer commented on #1922
@bajiat Since we have used another implementation of pagination for APIs catalog it should be reproduced.
Tested it in IE 11 and no errors are on my side.
@saralavanip Please verify

[2017-05-15 13:05] #2559 closed

[2017-05-15 13:13] kyyberi commented on #2550
Should be higher in priority.

[2017-05-15 13:33] #2543 closed

[2017-05-15 19:02] kyyberi opened #2567 "Staging: footer text "Powered by: Sampo Software Oy.""
Staging.apinf.io still says "Powered by: Sampo Software Oy." IIRC this was changed previously to APInf, but I might be wrong.

<img width="823" alt="screenshot at toukokuuta 15 22-02-00" src="https://cloud.githubusercontent.com/assets/1927158/26074357/2d95644c-39ba-11e7-855c-e22317885109.png">

[2017-05-15 19:25] mauriciovieira commented on #1986
What was the decision? Does @jawidahmadi still has a link to post here?

[2017-05-15 19:28] mauriciovieira commented on #2400
Or we can add some feature for a non-admin member to _suggest_ an API and the admins decide if it would be added or not. Either way, it it's a _request mechanism_ to be implemented.

[2017-05-16 06:59] Nazarah commented on #2418
@brylie yes. @bajiat preferred the bootstrap solution of Primary and Accent color for platform branding.
so we should have a separate implementation issue for this.
we can reference this issue in the implementation issue.
For future consideration we can see how effective CSS editor would be for branding purpose  and ideas can be proposed in its own issue.

[2017-05-16 07:10] Nazarah commented on #2548
@bajiat yes I did.
Nothing happens with several mouse clicks.
Yes that might be swagger UI, but it shows bad UX for users when they need to go back to catalog page and return to the API profile from there (2 clicks) or to reload the page to navigate back to Detail tab (1 click/keypress).
If there is some means for us to close the modal from APInf itself, it should be implemented.

[2017-05-16 07:11] brylie commented on #1986
@bajiat may we set up an exception tracking service on our Nightly server, as a test?

[2017-05-16 07:23] brylie commented on #2418
@bajiat what steps should we take to continue this work?

[2017-05-16 07:28] bajiat opened #2568 "Allow apinf.io user to see pricing information"
# User story
As a business owner, I need to communicate the price for API calls over a period to API owners so that they can easily understand the price and quickly judge whether they want to use APInf or not.

Depends on selection made for #2642.

# Goal
* API consumer can see that calling APIs is free and can find a clear call to action: e.g. browse APIs.
* API owners can see the free tier and p

[2017-05-16 07:41] marla-singer commented on #1986
@mauriciovieira [Link to document](https://github.com/apinf/docs/blob/master/docs/research/Capture_Track_Application_Exception.md)
But it doesn't contain any decision about what to use

[2017-05-16 07:56] saralavanip commented on #1922
@bajiat , @marla-singer , Verified this issue on nightly v 0.44.0, IE 11  browser and it is not reproducible.

[2017-05-16 08:28] Nazarah commented on #2568
interested.

[2017-05-16 08:34] #2529 closed

[2017-05-16 11:03] bajiat commented on #2418
@Nazarah Can you please create an issue with your proposal for the Primary and Accent color? We already have an issue for CSS editor.

[2017-05-16 15:51] frenchbread opened #2573 "Hide "Get API Key" button when EMQ is selected as a proxy for API"

[2017-05-16 19:04] mauriciovieira commented on #1986
@marla-singer Spasibo. I will suggest another solution there 👍

[2017-05-16 19:09] philippeluickx commented on #1986
What would be the correct criteria to trial one service and move forward with this?

[2017-05-17 06:12] #2452 closed

[2017-05-17 06:15] bajiat commented on #2567
Thanks for noticing this. The text can be changed from Branding settings: Site footer. I have fixed it now for staging.

[2017-05-17 06:15] #2567 closed

[2017-05-17 06:17] Nazarah commented on #2418
on it.

[2017-05-17 06:31] Nazarah opened #2574 "Using BootStrap Primary and Accent Colors to customize Branding"
# Definition of Done
- [ ] Branding Settings includes new Color picker fields **Primary Color** and **Accent Color**
- [ ] Above controllers follow BootStrap's guideline for choosing primary and secondary colors throughout the site
- [ ] Primary Color affects: Navbar, Footer
- [ ] Secondary Color affects: frontpage buttons, primary action buttons (Add API, Add Organization), most buttons in API pr

[2017-05-17 06:43] Nazarah commented on #2574
**Areas affected by Primary Color**
* Navbar (web view) and Topbar (mobile view)
* Footer
* Settings Menus (Profile, Account, Branding, Settings Proxy)

**Areas affected by Accent Color**
* Add API button (add API view)
* Add Organization button (catalog and add organization view)
* API profile
      - All action buttons (Except Save and Delete)
* Organization profile
      - All action buttons (E

[2017-05-17 06:57] #2024 closed

[2017-05-17 07:15] brylie commented on #2465
This seems to be a local development issue, as was originally reported. I am also experiencing the issue locally, but do not believe it is happening on deployments.

@bajiat: perhaps we can close the issue or move it to icebox?

[2017-05-17 07:20] bajiat commented on #2465
I'm closing it. If we find that it is actually causing problems with development in local environment or happening on deployments, we can re-open.

[2017-05-17 07:20] #2465 closed

[2017-05-17 07:26] kyyberi commented on #2567
This should not be in branding settings. Powered by APInf should be hard coded.

[2017-05-17 07:43] brylie commented on #2450
In trying to reproduce this issue, I encountered an error when trying to log in to our API Umbrella instance:

[code]

![peek 2017-05-17 10-41](https://cloud.githubusercontent.com/assets/17307/26143421/871007e6-3aed-11e7-849d-e0ffb9aaa4e3.gif)

I would like to log in to https://nightly.apinf.io:3004/, so that I can verify that the API created on APInf is also created on API Umbrella 0.14.x deploym

[2017-05-17 08:11] shaliko commented on #2450
@saralavanip Issue fixed.

The issue was that I used own GitHub OAuth app credentials for setup second api-umbrella (0.14.0). Thanks @brylie for help me fix it.

[2017-05-17 08:25] frenchbread opened #2575 "When deleting EMQ ACL rule, remove it also from EMQ."
Follow up to #2483.

As of adding & updating EMQ ACL rules work as expected, removing ACL rule removes it only from APInf meteor collection. Figure out a way to trigger rule removal on EMQ side as well.

[2017-05-17 08:42] brylie commented on #2450
After gaining access to the Nightly API Umbrella 0.14, I see there are two configured API Backends:

![screenshot_20170517_114119](https://cloud.githubusercontent.com/assets/17307/26145623/c2b7eab8-3af5-11e7-8ba8-779ec26f1404.png)

I added the **Analytics Test** backend. Next, I will make some calls to that endpint to see if analytics are recorded.

[2017-05-17 08:48] brylie commented on #2450
## Request works
Making a request to the Analytics Test endpoint works properly, returning the **Google search** page that is configured as the backend:

![screenshot_20170517_114434](https://cloud.githubusercontent.com/assets/17307/26145732/349d87fa-3af6-11e7-88e3-13aea8013709.png)

## Analytics work
API Umbrella records analytic(s) for the request(s) to the `/analytics-test/` endpoint:

![screen

[2017-05-17 08:55] brylie commented on #2450
## Dashboard errors
The APInf dashboard view for the **Analytics Test** endpoint behaves as described in the issue, stopping during the **Fetching data** phase.

![screenshot_20170517_115046](https://cloud.githubusercontent.com/assets/17307/26145932/12b24026-3af7-11e7-81b1-d88d6dc7698a.png)

## Console errors
Several messages appear in the browser console.

### getElasticSearchData method
[code]

[2017-05-17 09:01] brylie commented on #1986
I motion that we move forward with [@mauriciovieira's proposed exception tracking solution](https://github.com/apinf/docs/blob/master/docs/research/Capture_Track_Application_Exception.md#elk-stack--open-source-logger).

If we have a basic consensus, the next step would get approval from @bajiat to work on this during the sprint cycle. We would probably need support from @shaliko to configure this

[2017-05-17 09:06] brylie commented on #2450
This seems to be related to our [hard-coded query limit](https://github.com/apinf/platform/blob/develop/elasticsearch/server/methods.js#L60).

We have work-in-progress to refactor the Dashboard code, including removing the 50,000 result limit:
- https://github.com/apinf/platform/issues/2557
- https://github.com/apinf/platform/issues/2556

A stop-gap solution would be to remove the hard-coded limit

[2017-05-17 10:26] philippeluickx commented on #1986
I like the OS of the proposal. Just quickly checked what the situation is with Kadira (since they stopped developing for meteor) and I have the impression everything is OS-ed as well?
https://github.com/kadira-open/kadira-server
Pros: it's built for meteor
Cons: no-one is maintaining it

So +1 on @mauriciovieira proposal

[2017-05-17 11:15] Nazarah commented on #2557
a few points discussed with @55 and @philippeluickx:
* does API owner wish to know which services are using her API? web based? app? specific platform?
knowing this helps the API owner to decide:
* if security measures are needed to improve for web-based services?
* if API owner shoudd put more emphasis on a particular platform (ex. most API owners are using his API for android, having specific tu

[2017-05-17 11:26] Nazarah commented on #2557
Also showing information about showing API information
* what information and visualization API owner wants to see when s/he ahs only one API
* How an Organization manager wants to see API information when he has more than 1 API to manage? (all APIs? only down APIs? or both Down and Slow APIs).

[2017-05-17 12:10] bajiat commented on #1986
Go ahead with adding the exception tracking as long as it does not affect work with dashboard or eMQ integration.

[2017-05-17 12:41] brylie commented on #1895
The post has been [published on Medium](https://medium.com/@brylie/degrees-of-open-b023a3d8a321)

[2017-05-17 12:41] #1895 closed

[2017-05-17 14:56] #2415 closed

[2017-05-17 15:45] marla-singer opened #2580 "Client error after connection API to EMQ proxy"
Follow up #2483

After connection API to EMQ proxy browser console contains the error on the page of current API:
[code]

[2017-05-17 15:46] #2039 closed

[2017-05-18 10:51] bajiat opened #2582 "Manual testing for release 0.44.1"
# Description
* Brief manual testing round for patch release 0.44.1 n staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

The patch release is a fix for dashboard rendering See the [release notes](https://github.com/apinf/platform/releases)

[2017-05-18 11:03] bajiat opened #2583 "Manual testing for release 0.45.0"
Test the 0.45.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] API owner can connect an API to an eMQ proxy
  * [x] Organization m

[2017-05-18 12:12] #2442 closed

[2017-05-19 06:19] saralavanip opened #2587 "Multi proxy: Dashboard analytics not shown"
# Steps
1.Visit https://staging.apinf.io v 0.44.1
2.Login as admin
3.Add API
4.Connect to proxy (eg. staging/API-Umbrella New /Second nightly)
5.Get API key
6.Call API
7.Go to dashboard
8.Check analytics for the above API

# Findings
- Analytics not shown though API call is successful. It shows user message "No data found...."    (screenshot 1)
- Case 1: Change proxy->Call API->Dashboard->Result:

[2017-05-19 06:45] saralavanip opened #2588 "Multiple clicks on 'Delete' API button shows multiple successful messages"
# Steps
1.Visit https://staging.apinf.io  v 0.44.1
2.Login as admin
3.Add API
4.Go to 'Settings'
5. Delete' API
6.Click on 'Delete' button multiple times in confirmation dialog box

# Findings
Multiple clicks on 'Delete' button shows multiple successful messages

# Operating system
Windows 10

# Browsers
1.Mozilla Firefox  v 53.0.2 (32-bit)
2.Google Chrome  v 58.0.3029.110 (64-bit)

# Screenshot

[2017-05-19 06:48] saralavanip commented on #2582
Reported issues: #2587, #2588

[2017-05-19 07:30] preriasusi opened #2589 "Me as a Apinf.io user can't see my own email address."
Login to Apinf.io. You can see your username, but you can't see your email address.

[2017-05-19 07:35] Nazarah commented on #2557
Some ideas on determining overall system status from @kyyberi 's feedback
* If API owner has 20 APIs, and every APIs have an average response time below 30 MS --> System status can be shown OK
* 98.5% calls are below 30ms --> users are happy. (plumber reference)
* 90% and more call responses are below 30ms -> status green

Here is a sample reference about how GitHub shows its overall status

[2017-05-19 07:43] Nazarah commented on #2024
@ashakunt as an API owner of a number of APIs, what things you prefer to know determine which APIs might need your attention and the necessary actions to take?

[2017-05-19 07:51] Nazarah opened #2591 "Browser tab shows different message instead "APInf" name"
# Reproduction Step

* Go to apinf.io
* Look at Browser Tab (or hover the mouse on it)

# Result
"Get Control of your digital resource" message appears on browser tab and tool tip
![image](https://cloud.githubusercontent.com/assets/17976243/26238496/00336222-3c82-11e7-8557-86d27d45e746.png)

# System
* Windows 8
* Chrome (latest)

# Suggestion
* "APInf - Develop. We do the REST." this message soun

[2017-05-19 08:05] #2582 closed

[2017-05-19 08:18] #2493 closed

[2017-05-19 08:18] saralavanip opened #2592 "Footer : Data: 'APIs' title text misplaced"
# Steps
1.Visit https://staging.apinf.io v 0.44.1
2.Go to footer

# Findings
API data:  Title text 'APIs' must be below the number line

# Screenshot
![footer_ apis_title_text_misplaced](https://cloud.githubusercontent.com/assets/13309358/26239219/cf777eae-3c84-11e7-851b-1e5d81f62d29.PNG)

[2017-05-19 08:19] 55 commented on #2592
Duplicate of #2493

[2017-05-19 08:19] #2592 closed

[2017-05-19 09:06] Nazarah commented on #2557
We also need to consider the default view of dashboard, now that we have both API Umbrella and EMQ as proxies and chart view would be different for APIs using different proxy.
API owners should be notified that Dashboard view will differ from API to API because of the selected proxy.
This is applicable if we keep on showing the 1st API when dashboard is loaded for the 1st time.
An alternative is t

[2017-05-19 10:12] bajiat opened #2593 "Create first version of APInf user's manual"
# User stories

As an API owner, I want to be able to find some self-service support (documentation) so that I can solve completing basic tasks related to adding APIs and configuring proxy settings.
As an APInf sales person, I need to be able to point clients to user documentation.

# Definition of done

* [ ] List of user documentation needs for API owners and organization managers
* [ ] Draft ve

[2017-05-19 11:11] marla-singer opened #2594 "User can not connect API to any API Umbrella proxy"
Verified in `master` branch on local side and it is reproduced
Verified on nightly.apinf.io and it is reproduced
Verified on staging.apinf.io and it is not reproduced (v 0.44.1)

I suppose it happens after integration emq proxy on the API page.

## Steps
1. Create an API
2. Navigate to Proxy tab
3. Select any API Umbrella proxy and fill required data
4. Click on Save & Publish

## Expected
- There

[2017-05-19 11:34] bajiat opened #2595 "New localisation round"
Proofread English UI texts (source). Add missing translations and update changed UI texts for the Finnish language.

# Definition of done
* [x] Proofread the new/uppdated English UI texts.
    * [ ] Change if needed
* [x] Upload texts to Onesky
* [x] Translate into Finnish
* [ ] Organize proofreading for the Finnish UI texts
* [ ] Export texts from Onesky
* [ ] Make a PR for Finnish UI texts

[2017-05-19 15:26] bajiat commented on #2528
The release with hotfix (0.44.1) was deployed. The same problem persists: admin cannot see a dashboard, while an API owner can.

Screenshot of dashboard when logged in as admin:
<img width="918" alt="apinf-io dashboard for admin" src="https://cloud.githubusercontent.com/assets/11626388/26254831/8738e506-3cc0-11e7-9b6e-9b326809110a.png">

[2017-05-19 19:45] mauriciovieira commented on #1900
@bajiat this is not related to #2111. Would you happen to know (or find) which one was the correct issue?

[2017-05-19 19:47] mauriciovieira commented on #2130
Would this be an EPIC? @bajiat @philippeluickx @kyyberi

[2017-05-19 19:53] mauriciovieira commented on #2130
Or is it a duplicate of #1852 ?

[2017-05-21 20:14] ashakunt commented on #2024
@Nazarah : I will check this thoroughly during monday, tuesday and provide feedback.

[2017-05-22 06:59] philippeluickx commented on #2130
I believe this is a research task that is part of the #1852 epic.

[2017-05-22 07:35] marla-singer commented on #2528
@bajiat There is another error
[code]

[2017-05-22 07:36] brylie commented on #2528
Lets open another issue with that error message, so we can work on it separately.

[2017-05-22 07:40] brylie commented on #2528
Also, I hope this is not a problem with Swagger UI. :fearful:

[2017-05-22 07:46] brylie opened #2598 "Cannot read property 'localeCompare' of undefined (on Dashboard)"
# Original report
@bajiat reported this as a continuation in issue #2528

<img width="918" alt="apinf-io dashboard for admin" src="https://cloud.githubusercontent.com/assets/11626388/26254831/8738e506-3cc0-11e7-9b6e-9b326809110a.png">

@marla-singer found a console error:

[code]

[2017-05-22 08:20] brylie commented on #2504
@bajiat @philippeluickx please add this to the prioritized backlog.

[2017-05-22 08:53] brylie commented on #2528
Opened issue #2598 to follow-up with this second error.

[2017-05-22 08:53] #2528 closed

[2017-05-22 09:15] #2580 closed

[2017-05-22 09:15] #2594 closed

[2017-05-22 12:32] #2573 closed

[2017-05-22 12:48] mauriciovieira commented on #2126
This could be useful especially in callback chained functions we have inside our core.

[2017-05-23 04:48] frenchbread opened #2599 "Add UI for EMQ Users management via EMQ-REST-API"
### Def. of done
- [x] Add emq-user
- [x] Update emq-user
- [x] Remove emq-user
- [x] i18n
- [x] comments

[2017-05-23 07:51] Nazarah commented on #2595
@bajiat let me know if I can help with Proofreading the English texts

[2017-05-23 07:52] Nazarah commented on #2593
Interested.

[2017-05-23 07:53] Nazarah commented on #2593
On a second thought, should we provide video tutorials/ descriptions beside documentation?
Having video tutorial would better catch users'/customers' attention about APInf.

[2017-05-23 08:06] marla-singer opened #2601 "Footer code doesn't work properly for all pages"
After saving footer code `(console.log('footer code');)`, it seems to work correctly on all pages. However, when navigating from the Organizations page to the Add API page, the footer code does not seem to evaluate:

![peek 2017-05-03 15-09](https://cloud.githubusercontent.com/assets/17307/25659932/a97f070e-3012-11e7-9e5f-0e65aac06163.gif)

### Steps

1. Open Console DevTools
2. Go to Branding set

[2017-05-23 08:25] brylie commented on #2598
This seems related to the orphan proxy backend on apinf.io. The specific line of code is this:

[code]

When there is an orphan ProxyBackend, there is no corresponding API name.

[2017-05-23 08:30] brylie commented on #2598
How do you propose we avoid this problem, and related problems? E.g. should we manually clean up the database? Write a migration that removes all orphaned ProxyBackends?

[2017-05-24 12:04] Nazarah commented on #2557
A draft concept have been created about the new dashboard and associated view from ideas combined.
After a discussion with @philippeluickx and @55 we have made the following proposals:
* questions and usecases arisen from the discussion should be added as separate versions in the sketch
* (atleast 3) customer journey are needed to show the usecases
* sketches should portray 1-2 usecases and be ass

[2017-05-24 12:53] #2487 closed

[2017-05-24 16:39] mauriciovieira commented on #2556
yes

[2017-05-24 16:52] mauriciovieira commented on #202
@bajiat yes. this would be a case for full end-to-end test using docker. Related (#2417)

[2017-05-24 17:16] mauriciovieira commented on #2552
@manzapanza have you worked on something related? I can't find the issue.

[2017-05-25 09:58] shaliko opened #2604 "Access-Control-Allow-Origin header"
As Apinf user, I want able create requests from swagger UI to original API without Access-Control-Allow-Origin header. So we need set "Access-Control-Allow-Origin: *" response header on proxy when creating new API backend.

Goal:

- [ ] Set header "Access-Control-Allow-Origin: *" over API call on creating API backend (call from Platform to API-umbrella).
- [ ] Create migration for fill header "Acc

[2017-05-25 17:25] mauriciovieira commented on #2593
I think that short videos are the new format of user manual. And a suggestion to do this collaboratively is to discuss/decide on the script/plot to be recorded on a pull request (maybe on a new directory on documentation repo) and then record the videos.

[2017-05-26 06:28] wuder4 opened #2606 "Issue with getting API key for new API"
I followed the steps on "test cases nightly apinf" doc. On part 7.Dashboard it asks you to make API and click get API key. I cant find this button anywhere.

Steps to reproduce:
1. create new API
2. go to that API in the catalog

Expected result:
3.1. find button with "get API key" on the page
4.1. continue testing

Real result:
3.2. button cant be found anywhere

This was tested on windows 8.1 an

[2017-05-26 06:49] Nazarah commented on #2606
Hi @wuder4
Thanks for taking interest in APinf.
As you are creating an API, you become the owner of the API.
So it is owner's decision whether or not to provide an API key to the consumers of the API that you created.
In order to provide your API with an API Key, you need to connect your API to an available proxy.
This can be accessed from the Proxy tab in API profile.
I am giving an example below

[2017-05-26 06:58] Nazarah commented on #2593
+1 to @mauriciovieira 's suggestion.
We need better screen recording software, a good video editor and a dedicated laptop for video creation as well.

[2017-05-26 07:07] matleppa opened #2607 "Add updatedAt timestamp field into User data collection"
In order to find out, when User data is modified, a new field containing timestamp is needed in  documents in User collection.
Related to REST API, https://apinf.io/apis/apinf-catalog-rest-api

[2017-05-26 07:50] brylie commented on #2556
NODE (added to task description):The project has been started and initial work has been committed to [apinf/api-umbrella-dashboard](https://github.com/apinf/api-umbrella-dashboard).

[2017-05-26 08:09] marla-singer commented on #2556
@brylie What is the next step?

[2017-05-26 09:44] 55 commented on #2531
Most probably it has something to do with recent footer or language bar work.
Investigating.

[2017-05-26 09:50] #2553 closed

[2017-05-26 11:46] bajiat commented on #2606
@nazarah Thanks for the instructions

@wuder4 This issue would require 1. an update in the  testing documents and 2. considering how to suggest connecting API to a proxy, something like "Congratulations! You have added a new API. Would you like to connect it to a proxy to ....?"

Anyway, I will close this issue as "wontfix".

[2017-05-26 11:46] #2606 closed

[2017-05-26 12:18] bajiat commented on #2598
The orphaned proxy backend in question was manually removed. Should we close this issue or icebox it?

[2017-05-26 12:24] frenchbread commented on #2556
Good work so far!

[2017-05-26 12:25] brylie commented on #2598
My vote is to close the issue.

[2017-05-26 12:25] #2598 closed

[2017-05-26 12:28] brylie commented on #2556
@marla-singer the next steps are to:

1. [choose the visualization library](https://github.com/apinf/platform/issues/2503)
2. build one or more charts
  - use a dedicated server method for each chart, so we can use custom aggregations
3. determine how charts can share/communicate filter state (based on [known API Umbrella analytics fields](https://github.com/apinf/docs/blob/master/docs/develop/Int

[2017-05-26 12:28] bajiat opened #2608 "Wireframe(s) for API Umbrella and eMQ dashboard"
# Description
Based on ideas from #2557
* get familiar with available data from ElasticSearch: https://github.com/apinf/docs/blob/master/docs/develop/Integration/Elasticsearch-data-structure.md
* Select charting library, related issue #2503
* Collaborate with developers
* Divide the ideas to "implement now" and "implement later"
* Produce final low-fidelity wireframe(s) to select from for the "imp

[2017-05-26 12:59] Nazarah commented on #2557
Comments from the discussion with @ashakunt from API dashboard usecases

1. We need to consider dashboard features and functionality based on what kind of API we are using and monitoring.
**Admin API** (ex. activating  business account / locking an account / creating password),
**Service APIs** (e.g. creating a ticket, submit a feedback) and
**Organization APIs** (doing certain tasks, e.g. an API

[2017-05-26 15:20] marla-singer commented on #2531
@55 The problem comes from `flex` property. I hope it will help you https://github.com/philipwalton/flexbugs

[2017-05-26 15:22] marla-singer commented on #2200
@bajiat We can close it because that was resolved also on apinf.io site because we are using a new Swagger UI

[2017-05-26 15:23] marla-singer commented on #2211
@bajiat We can close it because that was resolved also on apinf.io site because we are using a new Swagger UI

[2017-05-29 06:57] philippeluickx commented on #2557
I have the feeling that there's a lot of ideas floating around here. There is the monitoring aspect and then the analytics. There is API content (e.g. response time), metadata (e.g. # of tickets opened on apinf.io). There is different roles and needs.

Would it make sense to first do a broad analysis of all the information that would make sense, outside the scope of dashboard? Think about what que

[2017-05-29 07:24] saralavanip opened #2609 "Organization 'Suomi view': User info. text shown in both English and Finnish languages"
# Steps
1.Visit https://staging.apinf.io  v 0.45.0
2.Login as admin
3.Add organization
4.Connect APIs to organization
5.Go to above added organization  view
6.Change language to 'Suomi'

# Findings
- Shows user info text "The organization doesn't have any featured APIs....." in both Finnish and English languages

# Screenshot
![org_view_partially_translated](https://cloud.githubusercontent.com/ass

[2017-05-29 07:41] wuder4 opened #2610 "Page numbers on dashboard"
when you have full list of requests. Pages shows 1 more page that you actually have. You cant navigate to this extra page with buttons (eg. you have 20 requests and display 10 requests each page. The indicator says 1/3 and 2/3 but you can't go to 3/3 and it would be empty anyway).

[2017-05-29 12:18] brylie opened #2611 "Add ability to login with FIWARE account (OAuth 2.0)"
FIWARE offers OAuth 2.0 authentication. Determine how to enable a 'Login with FIWARE' option on the accounts login screen, similar to the Github login.

# Goal
Offer FIWARE login as an option for end-users, so we can align with the FIWARE initiative.

[2017-05-29 13:53] matleppa commented on #2501
While wondering why Users routes are not included in generated swagger document I looked at code of restivus-swagger (restivus-swagger/server/restivus-swagger.js), where I found this:

          // Exclude swagger, login, logout, users paths, and routes with option hidden set to any truthy value
          if (route.path !== swaggerPath &&
            route.path !== 'login' &&
            route.pat

[2017-05-29 15:31] shaliko commented on #1402
@brylie Can we close that issue? Now we run ElasticSearch in Docker private network, so ES not available for public Internet.

[2017-05-29 19:58] #1402 closed

[2017-05-29 21:29] mauriciovieira opened #2612 "Add documentation for running api-umbrella on docker locally"
Currently, the development team needs to add Nightly API umbrella to local setup in order to test the proxy. I believe the project needs to be easily setup by any developer locally and the docker would be a solution.

The problem here is that currently the docker development does not build locally and does not run api umbrella.

# Definition of Done

- [] Fix the docker development.
- [] Document

[2017-05-30 05:59] Nazarah commented on #2611
does it support single user credential service? (e.g. users wishes to register and signin to APinf using his gmail account?)

[2017-05-30 07:46] shaliko commented on #2381
@bajiat @kyyberi @marla-singer @brylie Yesterday I found that server "nightly-second-umbrella.apinf.io" wad dropped. Chandra asked in chat who using particular IP in April, not got the response and disabled it.

Are we need to re-create that server? Looks like staging have a lot of backends, so I am not sure that we really need "nightly-second-umbrella"?

Anyway, we need clean-up apis on staging t

[2017-05-30 08:03] brylie commented on #2611
FIWARE authentication would be an option similar to GMail. Internally, we would store information related to the external authentication service, as we currently do with Github authenticated users.

[2017-05-30 08:29] brylie commented on #2381
We probably don't need to recreate the server, but I defer to @bajiat.

Lets figure out how to clean up the related proxy backends. This is a tricky situation, and might also occur in a production deployment (such as if an organization decides to disable or migrate an remote proxy).

[2017-05-30 08:50] shaliko commented on #2381
@brylie Just drop APIs from UI will not work?

Or another way, when we drop some API proxy we will drop all related API's, but we will need a prompt message for your about "Danger zone".

[2017-05-30 08:56] brylie commented on #2381
We can either manually remove or re-configure the Proxy Backends in this case. (cc: @bajiat).

That is a good idea. We can plan that as an enhancement.

[2017-05-30 10:07] Nazarah commented on #2508
I need a few clarification. Correct me if my assumption is wrong:

1. RSS feed in the APInf Catalog would be used to notify user about addition of a new API. This will not work if the added API is private and that particular user doesn't have access to that API, right?

[2017-05-30 10:12] 55 commented on #2531
@marla-singer yes, first thing I thought about.

[2017-05-30 10:16] Nazarah commented on #2562
I am looking at use cases and asking users how they might want to use RSS feed regarding API updates. So putting this task as blocked for a short while.

[2017-05-30 11:35] preriasusi opened #2613 "Sorting according to bookmarks or rating"
I go to apinf.io. I want to see best rated or most bookmarked apis.

I choose to sort according to bookmarks or ratings.

The result is as a default the most bookmarked/best rated APIs are shown last in a list.

--- Added by @bajiat 2017-08-29 ----

# Proposal
* [ ] Remove toggling buttons
* [ ] Keep options for sorting by
  * [ ] Name
  * [ ]  Number of bookmarks > rename as Most popular?
  * [ ]

[2017-05-30 11:47] mauriciovieira opened #2614 "Remove references to old api-umbrella-dashboard in documentation"
Api-umbrella-dashboard was renamed to platform a while ago. And now we have a new api-umbrella-dashboard project and our documentation is outdated.

# Definition of Done

All old references to `api-umbrella-dashboard` are renamed to `platform` in the docs.

[2017-05-30 12:41] mauriciovieira commented on #2136
Maybe you just want to remove 'font-weight: bold;' from the label?

[2017-05-30 14:27] #2320 closed

[2017-05-30 14:27] #2486 closed

[2017-05-30 16:36] frenchbread commented on #2503
If the charting library is still not selected, my suggestion is to go with NVD3.

[2017-05-30 18:39] mauriciovieira opened #2615 "Setup end to end testing infrastructure"
Setup a basic testing infrastructure to run end to end tests.

[2017-05-30 18:47] brylie commented on #2503
Alright, we are traveling right now and @marla-singer is on vacation, so I wanted to give the decision one more week or so :smiley_cat:

[2017-05-30 19:33] mauriciovieira commented on #2614
Pull Request https://github.com/apinf/docs/pull/52

[2017-05-30 22:32] #2614 closed

[2017-05-31 06:25] matleppa commented on #2501
All requirements described in the Swagger file with Users API endpoints can not be met, at least not at this time.
- sorting by updated_at parameter has no effect because there is not respective field in Users collection
- route users/updates is returned based on field createdAt, because of lack of updatedAt field in Users collection
- order of sort parameters does not affect the multilevel sort
-

[2017-05-31 06:51] philippeluickx opened #2618 "Use Swagger through npm"
Related https://github.com/apinf/platform/pull/2605#issuecomment-304895188

Due to upstream bug, we are copying Swagger bundle.js straight in the public folder. The better solution when this bug is fixed is to integrate Swagger through npm.

[2017-05-31 07:07] Nazarah commented on #2503
@brylie @frenchbread I'd have a look at today on this.

[2017-05-31 08:55] Nazarah commented on #2613
We can use the sorting functionality for APIs connected to an organization.
Currently APIs connected to an organization can be sorted as: Alphabetically (A -Z), Most Recently Created, most bookmarks and highest starratings.

[2017-05-31 08:59] #2531 closed

[2017-05-31 09:16] 55 commented on #2531
@saralavanip please confirm, when available on staging or/and nightly.

[2017-05-31 10:38] Nazarah commented on #2562
A few cases where RSS button is needed are given by @kyyberi

1. Automating social media publication. On adding a new API to an organization, the news is tweeted automatically (with/without the help of an automation tool e.g. Zapier). hashtags can be used additionally by automation tools to reach the news to the appropriate audience.

2. slackbots/ rocketchat bot can read RSS and show information

[2017-05-31 11:25] Nazarah commented on #2562
@mauriciovieira since you have participated in #2508, can you please review this? thanks.

[2017-05-31 13:23] shaliko opened #2620 "Development setup"
The goal is to get rid of the requirement for work with nightly on development setup.

My general setup for Ruby on Rails and Go lang app:

1) docker-compose.yml for development that will run few services required for development like postgres, redis, Elasticsearch.
2) `DB seed` task that will fill DB by data that is required by the application across all environments (development, production, sta

[2017-05-31 13:34] shaliko opened #2621 "Configure continuous deployment"
As a developer, I want to deploy a new version of Apinf to all our setups when a new release is ready. So we need configure continues deployment on the new release.

The goal:

1) Configure all setups for check new release (new available [version of Docker image](https://hub.docker.com/r/apinf/platform/tags/)).
2) Do not create release until code will be tested on staging.
3) Configure Travis CI f

[2017-05-31 13:49] shaliko commented on #1986
@mauriciovieira @brylie @marla-singer @philippeluickx Another interesting option https://github.com/errbit/errbit
https://www.npmjs.com/package/airbrake-notice

Setup errbit server will require few minutes and probably I can reuse it in other Sampo projects.

[2017-06-01 08:42] ashakunt opened #2622 "Proposal - .test folder in apinf/platform should be deprecated and content moved to apinf-testing repo"
Hello all, @apinf/developers @apinf/architects @apinf/core @apinf/testing

In order to speed up the process of adding test cases for the product, I would like to propose that all the "Test" development is done in a separate repository (which already exists btw at apinf-testing). This will also be inline to the convention that we have a separate "docs" repository. The idea is that the tests that ar

[2017-06-01 09:19] Nazarah commented on #2568
@bajiat apart from estimated API call amount, what are the possible fields that should be included in the price calculator?

[2017-06-01 09:38] Nazarah commented on #2568
@bajiat Does pricing need to be in the front page? I am looking at this example here which navigates users to a separate pricing page where all pricing offers are explained in details with a calculator to sum up the cost as per your need. Since we are allowing customer to plan their pricing scheme, I recommend to have something similar. We can always have a placeholder in front page container whic

[2017-06-01 10:04] Nazarah commented on #2568
I have a few questions that need answer:

1. Do you want the pricing option to be in platform front page (apinf.io) or in apinf's organization website (apinf.org)
2. Although we would have cost calculator to customize enterprise (organization scheme), do you want to add a monthly and yearly payment system? In this way, with the yearly scheme chosen, you can offer some discount in the overall price

[2017-06-01 10:22] 55 commented on #2503
Agree here with @frenchbread. @apinf/developers are already familiar with DC and NVD3.
ECharts is good project, but I haven't found enough reasons to switch to it.

P.S. also it looks like 90%+ Github issues [discussions](https://github.com/ecomfe/echarts/issues) are in chinese.

[2017-06-01 10:39] 55 commented on #2601
@marla-singer @brylie in my opinion, current solution should be revised.

Together with @philippeluickx we found out that, for example Google Analytics (using their debug mode), needs to run once, other possible services maybe have different behavior and requirements, and we need to find a generic solution to support all or at least the most cases (e.g. what we do if admin adds a HTML code, expect

[2017-06-01 11:06] 55 commented on #2562
@Nazarah about RSS subscription: http://rss-tutorial.com/rss-how-to-subscribe-to-feeds.htm

[2017-06-01 12:40] mauriciovieira commented on #2622
@ashakunt I removed .tests in https://github.com/apinf/platform/pull/2522 ( commit https://github.com/apinf/platform/pull/2522/commits/4da4017e5ea217595a13e340dde0cf996b311b78)
Please read that pull request. It is ready for review.

[2017-06-01 12:47] mauriciovieira commented on #2622
In my opinion,

1. we should have `tests/` directory (as in #2522, I hope it get merged) for end-to-end and (future) server-side unit tests.
2. we could use https://github.com/apinf/apinf-testing (maybe renamed as platform-testing) for stress, and security, and any other non-functional test suites.

I disagree with having functional tests (either unit, integration, end-to-end, acceptance, anything

[2017-06-01 12:49] mauriciovieira commented on #2622
And finally, I don't see any advantage on having `tests/` directory as a submodule. This makes the code review process more difficult, since the reviewer would not see immediately that new tests where added for new features, for instance (they would have to make sure equivalent commits where done on the separate repository).

[2017-06-01 13:14] philippeluickx commented on #2622
Personally agree with @mauriciovieira . Tests should be part of the developers deliverables and thus remain close to the code they write. Unit tests should stay in apinf/platform.
Performance and security testing could go to a seperate repo. E2E testing is debatable for me.

@ashakunt if I understand correctly your proposal is because it takes to long for tests to arrive in the develop or master b

[2017-06-01 14:57] ashakunt commented on #2622
Thanks, @philippeluickx and @mauriciovieira for your comments. I will check #2522 in a while. Any piece of code that will run in production will pass through standard review processes. Any piece of code that tests the production code will have to pass through review process as well.

So, both, development and testing will be peer reviewed. Having said that, rapid development is taking place for th

[2017-06-01 15:01] ashakunt commented on #2622
I agree that as a developer, it makes sense to have tests as a part of the deliverable and the PR. So, I would vote against my own proposal.

[2017-06-01 15:13] ashakunt commented on #2622
Hence, the consensus so far, we have had is that we will have all the tests under the `tests` directory. Further, some of my comments w.r.t. other comments:

IMHO, Unit testing and Functional testing allow the development teams to act on potential regressions and defects quite early on. The situation might change based on the project but otherwise, they are of great importance and are a very good

[2017-06-01 16:20] philippeluickx commented on #2622
Good points there. There is a few seperate concerns:
1. Catching up on tests: I am OK with taking a few shortcuts in order to get tests (that should have been there already) faster in develop/master branches. Feel free to provide a proposal. This needs an OK from @bajiat .
2. Efficient workflow: I feel that there is a lot to testing and at least I feel very unstructured in my mind about this. Do w

[2017-06-02 07:13] wuder4 opened #2623 "Buttons in the UI must have an ID associated with them"
Almost none of the buttons at apinf.io have valid way to locate them in automated testing. Common way to locate them is to add unique id to the buttons.

[2017-06-02 07:15] ashakunt commented on #2623
@wuder4 can you please point out the buttons and their locations which do not have the IDs?

[2017-06-02 07:27] wuder4 commented on #2623
Its easier to say that any bar that you can add text to has ID:
![searchbar id](https://cloud.githubusercontent.com/assets/28555452/26715179/53bcfd62-477d-11e7-90c2-94ad359e5aa7.png)
Then there are 3 buttons "More APIs" above contact us, language selection button and "about" button at the end of the page.

[2017-06-02 07:58] ashakunt commented on #2623
Thanks, @wuder4. @brylie @bajiat Not only buttons, but all the UI elements in the page dom should have valid and unique IDs. This is a requirement for Automation Testing.

[2017-06-02 09:03] brylie commented on #2601
One limitation regarding the OKGrow:Analytics package, was that [it was not obvious how to update analytics settings at runtime](https://github.com/apinf/platform/issues/2288#issuecomment-297651261). The OKGrow:analytics package [expects analytics configuration to be passed in when Meteor is started, via a JSON file](https://github.com/okgrow/analytics#configuration).

For any analytics solution,

[2017-06-02 09:03] matleppa opened #2624 "Allow Restivus to output Users related endpoint"
When REST API is generating endpoints from API data, it is needed to generate the users collection related endpoints too.

At the moment Restivus generates other endpoints, but not the ones, which are related to users.
There is a restiction in Restivus code. It looks for string 'users' and in case it it found in path string, it is skipped.

[2017-06-02 10:01] brylie commented on #2621
@ashakunt would you also add your thoughts here? Please also share your document containing the CI vision.

[2017-06-02 10:02] brylie commented on #2621
@shaliko I propose we run a small experiment with one of the exception tracking solutions under discussion. That way we can have some practical experience to determine a way forward. Thoughts?

[2017-06-02 10:10] shaliko commented on #2621
Sounds right to me. In general, that is 2-4 hours of the work task but delayed for a log time. @marla-singer can manage that task.

[2017-06-02 10:13] shaliko commented on #2621
"2-4 hours" estimation for #1986

[2017-06-02 10:19] brylie commented on #2621
cc: @bajiat

[2017-06-02 10:59] matleppa opened #2625 "Users API - admin need ability to modify user roles"
When Users REST API is used to modify user's data, admin needs to be able to modify user roles, too.

[2017-06-02 11:17] brylie commented on #2556
After reading and reflecting over the past week, I believe it is important to take a step back and consolidate our thinking about the dashboard project. There are a lot of ideas, sketches, and an active discussion to draw from.

The general overview we should produce is known as a **project brief**. The project brief describes a project from a high level, taking into account stakeholders, viewers,

[2017-06-02 11:18] brylie commented on #2557
After reading and reflecting over the past week, I believe it is important to take a step back and consolidate our thinking about the dashboard project. We have a lot of ideas, sketches, and an active discussion to draw from.

The general overview we should produce is known as a **project brief**. The project brief describes a project from a high level, taking into account stakeholders, viewers, g

[2017-06-02 11:22] brylie opened #2626 "Create document describing takeaways from FIWARE Summit"
We learned quite a bit at the FIWARE summit. Take a bit of time, while the memories are fresh, to outline the main takeaways from the FIWARE Summit, as they relate to APInf + FIWARE partnership.

# Resources
The document is stored in APInf docs: [FIWARE Summit takeaways](https://github.com/apinf/docs/blob/master/docs/develop/Integration/FIWARE_Summit_takeaways.md)

[2017-06-02 11:29] 55 commented on #2601
It can be configured this way:

[code]

@brylie What do you think? Worth a shot?

[2017-06-02 11:38] #2626 closed

[2017-06-02 11:46] brylie commented on #2601
Looks good! :smile:

[2017-06-02 14:14] saralavanip opened #2627 "Organization view: Sort APIs shows user info. text momentarily"
# Steps
1. Visit https://staging.apinf.io  v 0.45.0
2. Login as admin
3. Add organization
4. Connect APIs to organization
5. Go to above added organization  view
6. Sort APIs (eg. select options Newly created/Ratings/Bookmarks)

# Findings
Select 'Sort by' options from drop down menu shows user info text "The organization doesn't have any featured APIs momentarily"

# Screenshot

![organization_so

[2017-06-02 14:38] philippeluickx commented on #2601
@55 thanks for digging further into it. Seems like you found a good and elegant solution!
Too bad for hotjar then, but having GA will be a big win already.

[2017-06-03 11:55] mauriciovieira commented on #2623
@wuder4 I think this can be added on the go, while creating the automated tests. I added some ids/classes while doing #2522

[2017-06-04 21:58] ashakunt commented on #2622
@philippeluickx : I will share a document during this week about what kind of coverage and what kind of tests.

[2017-06-05 06:03] wuder4 commented on #2623
When in "add API" page the text fields have id but they are random and change every time you reload the page.

[2017-06-06 08:18] bajiat commented on #2568
Let's opt for the simplest possible solution to show a pricing table without calculators (free tier and price per calls when free tier is exceeded), but the pricing needs to be configurable so that it can be left out in deployments where it should not be included.

[2017-06-06 10:51] bajiat commented on #2399
Privacy policy and terms of use updated to apinf.io

[2017-06-06 10:51] #2399 closed

[2017-06-06 11:12] bajiat opened #2628 "Privacy policy and Terms of use start with site title"
I have added the Privacy policy and Terms of use texts to apinf.io. When I view the texts in the respective paged the title of the page contains the site slogan "Get control of your digital resources" even though that is not part of the added text in branding settings.

Screencapture from Branding:
<img width="435" alt="privacy policy in branding" src="https://cloud.githubusercontent.com/assets/11

[2017-06-06 20:21] mauriciovieira commented on #1506
closed by #2617

[2017-06-06 20:21] #1506 closed

[2017-06-06 20:53] mauriciovieira commented on #2508
@Nazarah when the API is private, publishing via RSS would be a way to make it publicly available, so in my opinion RSS publication should not make any effect for private APIs.

[2017-06-06 20:55] mauriciovieira commented on #2562
@Nazarah the wireframes are good. we have the buttons and publish the meta tags.

[2017-06-06 20:55] mauriciovieira commented on #2562
👍 LGTM

[2017-06-06 21:25] mauriciovieira commented on #2622
@philippeluickx I disagree with this '1 dev' rule. Has this rule ever happened ?

[2017-06-06 21:32] mauriciovieira commented on #1986
@shaliko this solution would  be the best if we had something similar to [FiLog](https://github.com/FGM/filog) to send to the Airbrake/Errbit server, or if we could plug FiLog with [airbrake-notice](https://www.npmjs.com/package/airbrake-notice) somehow.

Anyways, [https://github.com/errbit/errbit](errbit) server seems to be the quickest setup and the @apinf/architects should come up with some cod

[2017-06-06 23:48] mauriciovieira opened #2629 "Unify 'APInf' writting"
APInf sometimes is referred as APINF in the code. This should be unified and fixed as APInf

[2017-06-07 07:34] brylie commented on #1986
@mauriciovieira the [errbit](https://github.com/errbit/errbit link is broken :wink:

[2017-06-07 07:35] brylie commented on #1986
Also, how do errbit and Sentry compare? My vote is leaning towards Sentry, but I can be easily swayed, since I don't have any practical experience here :smile_cat:

[2017-06-07 07:36] #2629 closed

[2017-06-07 07:48] philippeluickx commented on #2622
@mauriciovieira There's been talks about it, no execution AFAIK.
Any proposals on getting bugs closed faster?

[2017-06-07 08:28] brylie commented on #2622
A basic [bug triage process](https://wiki.documentfoundation.org/QA/BugTriage#Steps_to_Triage_a_Bug) might improve our bug response time. Since this is somewhat off-topic for the current issue, I will open a new issue where we can discuss/design a bug triaging process for our team.

[2017-06-07 08:31] brylie opened #2632 "Create a basic bug triaging process"
In order to ensure timely response and resolution of bug reports, lets create a process we can use to triage bug reports. Examples include:

- [Steps to triage a bug](https://wiki.documentfoundation.org/QA/BugTriage#Steps_to_Triage_a_Bug)
- [Bug management/how to triage](https://www.mediawiki.org/wiki/Bug_management/How_to_triage)
- [How to hold a bug triage meeting](https://www.mediawiki.org/wiki

[2017-06-07 08:59] matleppa commented on #2624
Issue with same content is created under repository restivus-swagger.

[2017-06-07 08:59] #2624 closed

[2017-06-07 09:54] Nazarah commented on #2562
Closing the issue.
Wireframes are attached in the original issue #2508

[2017-06-07 09:54] #2562 closed

[2017-06-07 12:11] saralavanip commented on #2583
Verified resolved issues: #2543, #2544,#2529,#2536,#2627
Reported issues: #2609,#2627

[2017-06-07 12:42] bajiat commented on #2568
Is it enough if branding has a field for custom HTML for now for us to be able to show pricing information on the front page? Other deployments could use it for other purposes (e.g. their news on front page).

[2017-06-08 07:38] bajiat commented on #2623
I have given the task to add id's to @wuder4 at least for the id's he is stuck with and has identified as missing. Some mentoring may be required from @55, @mauriciovieira or @ashakunt concerning the contribution process and how to add the id's and what is the correct format.

[2017-06-08 08:00] bajiat commented on #2632
We should create separate labels for bug priority/severity. I would like to select only one of those and not have Severity and Priority separately (compare with https://wiki.gnome.org/Bugsquad/TriageGuide, which has both)

What are the potential labels? Is this enough Blocker (or Showstopper), Critical, Major, Minor?

Triaging should be a daily activity so that showstoppers can be identified. Ther

[2017-06-08 08:04] ashakunt commented on #2632
Not necessarily a daily activity. A showstopper will be identified any way. At least the PO, Tech Lead, Error manager should go through open, non-resolved bugs and decide next steps, e.g. adding to sprint or not.

[2017-06-08 09:57] bajiat commented on #2632
We could also have a separate column for bugs in Waffle, which would keep them separate from Prioritized backlog, which is for new implementation or enhancements.

[2017-06-08 12:31] ashakunt commented on #2446
A presentation was shared with the team. A document will be created in github to have summaries of the whole plan.

[2017-06-08 12:31] #2446 closed

[2017-06-08 12:50] saralavanip opened #2633 "Connect API to eMQ proxy shows 'Get API key'"
# Steps
1.Visit https://staging.apinf.io   v 0.45.0
2.Login
3.Add API
4.Connect above API to eMQ proxy
5.Click on 'Save and Publish'

# Findings
- Shows 'Get API key' button and when clicked displays error message "No proxy found"
- shows status  as 'Processing....' for indefinite time

# Screenshot
![emq_get_api_key](https://user-images.githubusercontent.com/13309358/26929386-2a4288be-4c62-11e7-8

[2017-06-08 13:08] frenchbread commented on #2633
Hmm.. I'm guessing this has been fixed: https://github.com/apinf/platform/issues/2573, https://github.com/apinf/platform/pull/2597

[2017-06-08 13:29] matleppa opened #2634 "Remove deleted user from Organization"
When REST API is used to delete a user, which is a Organization manager, the user must be deleted from Organization manager list.

[2017-06-08 13:33] matleppa opened #2635 "Titles for logo and cover photo informations on Branding page"
In Branding page all parameters but Logo and Cover photo have titles.
In case they are not given, in upload button there is mentioned, which parameter is in question. However, when they are given, there is only the picture and remove button for each.

# Goal
* [ ] Add a title for "Site logo" to Branding settings
* [ ] Add a title for "Cover image" to Branding settings

See wireframe for placement

[2017-06-08 20:17] mauriciovieira commented on #2623
ok. I think it is a good opportunity to document a convention on our [guidelines](https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md#contributing-code) if you find current code not standardized, @wuder4

[2017-06-08 20:37] mauriciovieira commented on #2163
This can be done at https://github.com/apinf/apinf-testing repository

[2017-06-08 22:07] mauriciovieira commented on #2166
This might be related to [current discussion](https://github.com/apinf/platform/pull/2600#issuecomment-307081705) on EMQ

[2017-06-09 06:48] bajiat commented on #2568
@Nazarah Please create an issue for the wireframe so that you can close it when the wireframe has been added to the  main issue. I will move this issue back to the Ready column.

[2017-06-09 06:51] bajiat opened #2636 "Implement server-aggregated aver. response time chart"
To get the server-aggregated dashboard kickstarted, we will start with two charts: number of calls and response times charts. This task is about implementing the Average response times chart.

# Goal
* Show average response times (from API Umbrella) for the selected API backend
* Any aggregation is performed on the server side for the current timeframe
* Chart is created based on the server-aggreg

[2017-06-09 06:52] bajiat opened #2637 "Implement server-aggregated Nr of calls over time chart"
To get the server-aggregated dashboard kickstarted, we will start with two charts: number of calls over time and response times charts. This task is about implementing the Number of calls chart.

# Goal
* Proxy call logs (from API Umbrella) for the selected API backend are aggregated on the server side for the current timeframe
* Chart is created based on the server-aggregated data
* Simplest poss

[2017-06-09 06:53] bajiat opened #2638 "Create Swagger file(s) for APInf API(s) to apinf.io"
Since our platform contains a working API, which allows registered users to interact with the platform through REST in addition to the GUI, the production version of the Swagger file must be published in apinf.io. Currently, apinf.io only contains a design version for the Catalog API.

# Options
* Publish the documentation as single Swagger file.
* Divide the API into Catalog and Management. Manag

[2017-06-09 06:58] bajiat opened #2639 "Create branding guidelines"
Create a document on APInf branding guidelines. This would include among other things the correct way to write the name, allowed logo options, brand color schema for UI.

This will be the first version of a living document.

[2017-06-09 07:03] Nazarah commented on #2639
interested.

[2017-06-09 07:04] Nazarah commented on #2638
interested.

[2017-06-09 07:04] Nazarah commented on #2568
On it.

[2017-06-09 07:05] Nazarah opened #2640 "wireframe for "Add pricing table to front page""
#2568
#2642

[2017-06-09 07:32] bajiat commented on #2638
@kyyberi Anything missing from the description of the task?

[2017-06-09 08:33] matleppa commented on #2634
When user is deleted with Meteor.user.remove, the deleted user is also removed from possible list of Organization managers, so no extra functionality is needed to implement.

[2017-06-09 08:33] #2634 closed

[2017-06-09 08:55] Nazarah commented on #2640
1. Front page
Pricing option appears in front page in between Latest APIs section and Contact form section.
Pricing section can be enabled to appear in front page via settings.
The free and paid schemes appear in the pricing section.
Schemes can be customized from pricing module under settings.
For Free scheme, the CTA is Browse APIs (to hook newcomers in APInf to look through the catalog page. wh

[2017-06-09 09:17] Nazarah commented on #2640
** Pricing Module**
1.Pricing module appears as a separate menu in site configuration.
![pricing4](https://user-images.githubusercontent.com/17976243/26969034-f3630084-4d0c-11e7-9096-1effdd902a92.png)

The reason for this is to keep the pricing module only for APInf instance.
If anyone else wishes to use this, they can fork the code
![image](https://user-images.githubusercontent.com/17976243/26968

[2017-06-09 09:23] saralavanip opened #2641 "Organization settings: User unable to upload logo/cover image"
# Steps
1.Visit https://staging.apinf.io v 0.45.0
2.Login as admin
3.Go to  'Organizations'
4.Click on 'Add organizations'
5.Enter organization details: Name and URL
6.Click on 'Save'
7.Go to above organization 'Settings'
8.Click on 'Upload logo/cover image '

# Expected Result
Successful uploading logo/cover images

# Actual Result
Upload logo/cover images not successful but displays successful m

[2017-06-09 09:28] Nazarah commented on #2640
![image](https://user-images.githubusercontent.com/17976243/26969535-bf5ad3b4-4d0e-11e7-9937-d444ead97ac2.png)
an advanced option to customize a paid scheme is to add several pricing option.
(e.g. after  free 30000 calls, next 500000 calls have a rate of 20 cents per 1000 calls.
and afterwards, next 1000000 calls have  a rate of 15 cents per 2000 calls.)
added pricing options can be deleted as wel

[2017-06-09 10:22] #2501 closed

[2017-06-09 10:31] bajiat opened #2642 "Allow apinf.io admin to add pricing information"
# User story

As a business owner, I need to determine the  the price for API calls over a period so that I can communicate it to the  API owners.

# Options
* **Option 1**: Branding page contains a text box for adding HTML.  This section will be used for displaying pricing text, table and buttons in apinf.io. In other deployments admin can use the text box e.g. for news or decide not to use it at

[2017-06-09 11:52] bajiat opened #2643 "User research for dashboard wireframes"
There are currently two wireframes for dashboard: overview with all managed apis (paginated if necessary) and detailed view for single API.

# Goal
* Interview 2-4 API owners
  * Show the simplified clickable wireframes
  * Observe the user interaction.
  * Make follow-up questions to verify whether they are getting the information they need.

[2017-06-09 12:02] bajiat opened #2644 "Implement usage figures for single API"
# Goal
* Owner can see figures for following items for the selected API backend
  * Number of calls
  * Average response time
  * Unique users
* If any aggregation is needed for the figures, it is performed on the server side for the current timeframe
* Simplest possible first implementation: week is the default timeframe
* Implementation is tested with a heavy-set of data for calls, utilise for e

[2017-06-09 12:58] matleppa opened #2645 "User API, a user is removed, but id remains in Organization manager list"
Problem:
When a user, who is a manager in one or more Organizations, is removed, the user's id remains in Organization(s) manager list(s).

When Organizations manager list is displayed, it looks like the user id is removed, because the deleted users email address is not visible. However, the user id still remains in list.

What to do?
- when user is deleted, a new check is needed whether the user

[2017-06-11 15:01] mauriciovieira commented on #2615
closed by #2522

[2017-06-11 15:01] #2615 closed

[2017-06-12 05:54] kyyberi commented on #2638
In the end APInf platform APIs are presented as separate APIs: APInf Catalog API and APInf Management API. In this task result should be one big Swagger containing both. DevOps will be given a separate task to find out automated method to split Swagger to two files, add more profound description in the description attribute in Swaggers from separate markup files maintained in Github. Reasoning: de

[2017-06-12 06:04] kyyberi opened #2647 "Automate APInf platform APIs swagger creation"
APInf Platform has currently one big API for dealing with users, APIs, organisations etc. A single Swagger file will be pulled from code comments automatically (see #2638). Aim is not to show one huge API in APInf catalog, but atm 2 APIs: APInf Catalog API and APInf Management API.

Thus we need to create script which will devide the big Swagger file into two separate Swagger files. Pulling method

[2017-06-12 06:33] matleppa opened #2648 "User API, request one user data with id"
Although not described in User API document, Restivus offers possibility to request user data with id. However, because of structure of Users collection (there is declared a subschema for user profile before actual schema for user data), only user name and Company name are presented with that Restivus implicite functionality.

The functionality for requiring User data by id is needed to be impleme

[2017-06-12 07:06] #2503 closed

[2017-06-12 07:47] bajiat commented on #2636
@marla-singer Would you be interested to work with the chart aggregations?

[2017-06-12 07:50] bajiat commented on #2637
@matleppa has promised to co-pilot

[2017-06-12 07:53] bajiat commented on #2644
@marla-singer Would you be interested in this task? @55 has promised to co-pilot.

[2017-06-12 08:00] bajiat commented on #2638
@Nazarah has promised to work on the description.

[2017-06-12 08:07] bajiat commented on #2641
@brylie promised to investigate.

[2017-06-12 11:39] #2628 closed

[2017-06-12 21:08] mauriciovieira opened #2653 "Setup travis-ci to run chimp tests"
Now that we have some tests on the repository, it would be good to have the current Continuous Integration service running them

[2017-06-13 06:24] wuder4 opened #2656 "API settings positioning bug"
when you go to your api and dont have enough room on your screen to display all settings in 1 row. it changes settings tabs position to the other side.
![apinf_settings](https://user-images.githubusercontent.com/28555452/27068752-34460d7a-501a-11e7-80a8-98d209b55354.png)

# Steps to reproduce
1. go to apinf.io
2. go to api that you own
3. open console on side
4. click export tab

# Expected result

[2017-06-13 07:34] bajiat commented on #2656
@wuder4 Can you also add information about which browser you used?

[2017-06-13 07:52] bajiat commented on #2613
@preriasusi  Thanks for the feedback. Each sorting option can be  toggled to sort ascending or descending.

The default is ascending , which mostly makes sense for alphabetic sorting. Descending sorting as the default would make sense for Number of bookmarks, Average rating and Date created.  But it is possible to toggle using buttons for ascending and descending sorting.

One option to enhance th

[2017-06-13 07:54] bajiat commented on #2610
@wuder4 Can you provide some more context to this? Maybe a screenshot?

[2017-06-13 08:29] wuder4 commented on #2610
![dashboard_pagenumbers](https://user-images.githubusercontent.com/28555452/27073086-4af0ded6-502b-11e7-8c93-ed8118e0d141.png)
Here you can see page numbers go up to x/6. When i'm on page 5 I cant click next page anymore.
In this API I have 50 requests and it shows 10 per page.

[2017-06-13 08:31] marla-singer commented on #2644
@bajiat Self-assigned

[2017-06-13 08:31] marla-singer commented on #2636
@bajiat Self-assigned

[2017-06-13 08:38] #2642 closed

[2017-06-13 09:18] wuder4 commented on #2656
Used Google Chrome Version 58.0.3029.110 (64-bit)

[2017-06-13 09:59] brylie commented on #2637
Related issue in greenfield project:

- https://github.com/apinf/api-umbrella-dashboard/issues/3

[2017-06-13 10:45] bajiat opened #2657 "EMQ integration"
Integrate EMQ broker with APInf platform:
* [x] Allow admin to add EMQ broker in Proxies
* [x] Allow API owner to connect a MQTT API with EMQ
* [ ] Allow API owner to define ACL rules for subscriptions and publications
* [ ] Design user flows
* [ ] Allow owner to see analytics for topic subscriptions, publications

[2017-06-13 10:46] bajiat opened #2658 "Kong integration"
Integrate kong proxy with APInf platform:
* [ ] Allow admin to add Kong proxy in Proxies
* [ ] Allow API owner to connect a REST API with Kong proxy
* [ ] Design / check user flows
* [ ] Allow owner to see analytics for proxy calls

[2017-06-13 10:49] bajiat opened #2659 "Visual and user flow re-design"

[2017-06-13 11:05] bajiat opened #2660 "Performant dashboard"
# Goal
When dashboard page is loaded, there is no upper limit for amount of calls.
The perception of load time is acceptable to users.
The design is user-centric and whenever possible can be shared from proxy to another.

[2017-06-13 12:04] #2381 closed

[2017-06-13 12:08] bajiat opened #2661 "Warning for connected APIs when a proxy is removed"
# Description
When a proxy is removed from Proxies in APInf, the admin should be warned about the connected APIs. The warning message could potentially contain the number or a list of the connected APIs.

# Proposal
"You are removing a proxy. There are currently 57 APIs that are connected to this proxy. Are you sure you want to continue?"

[2017-06-13 13:17] 55 commented on #2640
Based on the wireframes, here is the HTML/CSS code to implement proposed elements for the home page, this will be pasted into the `Custom HTML block` field at branding page:

[code]

[2017-06-13 13:26] 55 commented on #2568
Based on the wireframes, here is the HTML/CSS code to implement proposed elements for the home page, this will be pasted into the `Custom HTML block` field at branding page:

[code]

[2017-06-14 01:56] #2504 closed

[2017-06-14 01:56] #2548 closed

[2017-06-14 06:49] Nazarah commented on #2661
a slight modification to the suggested text:
"**Warning*!*You are about to remove a proxy. There are currently 57 APIs connected to this proxy. Are you sure you want to continue?"

[2017-06-14 07:03] Nazarah commented on #2568
All though the issue is closed, (for reference) I am adding the wireframes that I designed for future implementation of Saas monetization:

**Pricing Module**
1.Pricing module appears as a separate menu in site configuration.
![pricing4](https://user-images.githubusercontent.com/17976243/26969034-f3630084-4d0c-11e7-9096-1effdd902a92.png)

The reason for this is to keep the pricing module only for

[2017-06-14 07:05] Nazarah commented on #2642
Although the issue is closed, I am adding the wireframes for future reference when Saas Monetization is implemented.

**Pricing Module**
1.Pricing module appears as a separate menu in site configuration.
![pricing4](https://user-images.githubusercontent.com/17976243/26969034-f3630084-4d0c-11e7-9096-1effdd902a92.png)

The reason for this is to keep the pricing module only for APInf instance.
If any

[2017-06-14 07:07] Nazarah commented on #2642
![image](https://user-images.githubusercontent.com/17976243/26969535-bf5ad3b4-4d0e-11e7-9937-d444ead97ac2.png)
an advanced option to customize a paid scheme is to add several pricing option.
(e.g. after  free 30000 calls, next 500000 calls have a rate of 20 cents per 1000 calls.
and afterwards, next 1000000 calls have  a rate of 15 cents per 2000 calls.)
added pricing options can be deleted as wel

[2017-06-14 07:10] #2640 closed

[2017-06-14 07:12] Nazarah commented on #2643
[Scripts](https://github.com/apinf/docs/blob/master/docs/design/dashboard/Prototype-Testing-Asim.md) from the interview with @ashakunt

[2017-06-14 07:50] brylie commented on #2642
@Nazarah where can I refer to those wireframes later? Are they in our docs repository somewhere?

[2017-06-14 08:30] bajiat commented on #2645
Scope:
- Select option c) for the REST implementation: remove id from the list
- Create a function for removing the id. The function should be reusable for the UI.

Also, create an issue for an enhancement of user deletion if user is deleted through UI and is an organization manager.

[2017-06-14 08:47] #2568 closed

[2017-06-14 08:56] bajiat opened #2663 "Add pricing information to the apinf.io front page"
Related to #2568 and #2642

# Description

Create the required HTML / CSS snippet to show the pricing information. Add the HTML snippet through the Branding settings first to nightly or staging.apinf.io to test the implementation and the snippet. Then add it to apinf.io to show the pricing information.

[code]

# Goal
- Users can viewthe pricing information on apinf.io front page.
- Any action but

[2017-06-14 09:10] 55 commented on #2663
@bajiat I can add this or at least make sure that everything works as expected.

[2017-06-14 09:11] 55 commented on #2663
@bajiat I can add this or at least make sure that everything works as expected.

[2017-06-14 09:56] matleppa opened #2664 "Using UI, removed user's id remains in Organization manager list"
### Problem:
When a user, who is a manager in one or more Organizations, is removed, the user's id remains in Organization(s) manager list(s).
When Organizations manager list is displayed, it looks like the user id is removed, because the deleted users email address is not visible. However, the user id still remains in list.

### What to do?

When user is deleted, a new check is needed whether the

[2017-06-14 10:35] wuder4 opened #2665 "Rest-API, API creator ID is missing from managerID list"
# REST-API
when creating new API using rest-API the user  ID does not carry on to the API and ManagerID list is null.

![rest_api](https://user-images.githubusercontent.com/28555452/27128488-602c17b6-5107-11e7-9dba-636b3b030784.png)

# Steps to reproduce
1. login to nightly rest-API service
2. create API by posting to /apis

## Expected result
1. API you just created has created by "username" in c

[2017-06-14 11:02] bajiat commented on #2665
@wuder4  Thanks for the clearly reported issue. What does "you can't change settings in nightly" (step 2) mean?

[2017-06-14 11:10] wuder4 commented on #2665
You are just a regular user who sees details and documents. Nothing else.

[2017-06-14 12:52] saralavanip commented on #2628
@bajiat , observed similar issue on staging v 0.45.0 .
Screenshot:
![privacy_policy_start_with_site_title](https://user-images.githubusercontent.com/13309358/27132962-4db4bc7a-5119-11e7-8b5f-8991ea9acc4e.PNG)

[2017-06-14 12:54] 55 commented on #2628
@saralavanip we need to wait for new release deployed there. Its fixed locally and it's already on nightly.

[2017-06-14 13:54] #2599 closed

[2017-06-15 05:59] 55 commented on #2608
I got familiar with available ElasticSearch data, charting library was selected. There was a meeting with developers and their ideas were included and considered.

Based on overall work, including ideas from #2557:
- ideas to "implement now" with low-fidelity wireframe(s) are available here:
https://github.com/apinf/docs/tree/master/docs/Wireframes/Dashboard/New%20Dashboard

- "implement later" a.

[2017-06-15 06:16] 55 commented on #2641
Tested it locally:

### Steps
1. Visit http://localhost:3000
2. Login as admin
3. Go to 'Organizations'
4. Click on 'Add organizations'
5. Enter organization details: Name and URL
6. Click on 'Save'
7. Go to above organization 'Settings'
8. Click on 'Upload logo/cover image '
9. Refresh page
10. Go to above organization 'Settings'
11. Click on 'Upload logo/cover image '

### Result
Successful uplo

[2017-06-15 06:34] Nazarah commented on #2642
@brylie I'll upload them in Doc repository under a new folder called monetization.

[2017-06-15 06:37] 55 commented on #2557
@bajiat should be close this?

[2017-06-15 06:53] bajiat commented on #2557
@55 yes, we should close this.

[2017-06-15 07:02] brylie commented on #2557
I have expressed concern about the current design proposals during daily. To summarize my concerns:

1. we were only presented with a single design option
    - there may have been other options discussed, but they were not presented for comparison
    - having only one design opption available, conversations turned to defending or shoehorning the proposed design onto customer needs and the 'dashb

[2017-06-15 07:04] brylie commented on #2557
We met to create a design brief, and created a [shared definition of the concept of information dashboard](https://github.com/apinf/docs/blob/master/docs/design/dashboard/dashboard_design_brief.md#information-dashboard).

[2017-06-15 07:08] brylie commented on #2557
I found the commit related to the proposed wireframes. Here is the design proposal:

![screenshot_20170615_100703](https://user-images.githubusercontent.com/17307/27169401-70ebe936-51b2-11e7-8559-eecff5cab78d.png)

[2017-06-15 08:27] brylie commented on #2557
Also for reference, here is the [ current 'detail view'](https://github.com/apinf/docs/blob/93f7f574ce22f5b96da15e4b9cdf4508ea2113fd/docs/Wireframes/Dashboard/New%20Dashboard/apinf-dashboard-details-simple.pdf) wireframe:

![screenshot_20170615_112439](https://user-images.githubusercontent.com/17307/27172337-84825902-51bd-11e7-99d7-af48ddf5a82b.png)

[2017-06-15 08:30] 55 commented on #2663
@bajiat 've just added to https://nightly.apinf.io

[2017-06-15 09:07] brylie commented on #2557
# Characteristics of a dashboard
Stephen Few has worked extensively in the field of Information Design, and offers several characteristics common to Information Dashboards:

# Dashboard mistakes we may be making
The current proposed wireframe may be making one or more mistakes common to dashboard projects:

In addition, the current design wireframes
1. fragment the data into large cells and
2. tak

[2017-06-15 09:25] #2560 closed

[2017-06-15 11:01] Nazarah commented on #2639
@55 and I did a Brand Intake exercise suggested in [this article](https://medium.com/@logandebiase_56175/brand-to-interface-389fd6e4af1d).
We wanted to list down what we like, dislike and unclear about UI design, elements, and actions.

**1. What we don't want to be**
- Offer too many choices
- Complex / Overloaded structure
- Not Usable
- Ugly
- Too much colorful
- Old fashioned
- Heavily feature

[2017-06-15 11:16] Nazarah commented on #2639
I'd also like to emphasize about including some important aspects like **Business Goals**, **Target Audience** and **Difference of APInf** from the competitors as part of our Branding Guidelines. Because according to [This](http://heidicohen.com/small-business-branding-guidelines/) and this [articles](https://www.theguardian.com/small-business-network/2015/dec/08/beginners-guide-to-branding-small-

[2017-06-15 11:21] brylie commented on #2557
Here is a sketch of one possible dashboard design based on the current wireframes and the UX Magazine article [Four Cognitive Design Guidelines for Effective Information Dashboards](http://uxmag.com/articles/four-cognitive-design-guidelines-for-effective-information-dashboards)

![dashboard-design-sketch](https://user-images.githubusercontent.com/17307/27179124-ea048f9e-51d5-11e7-8881-4c2b902a667d

[2017-06-15 11:51] kyyberi commented on #2557
Close it

[2017-06-15 11:55] bajiat commented on #2557
Among the wireframes/designs made by @55 and @nazarah were also such that they had some of the charts incorporated into the overview site along with the numbers. Based on the discussion in the meeting we had as a team, the first view was simplified. So the design alternatives have been shared, but they were shared in a meeting.

Also, I would say that initial design should be made by the designers

[2017-06-15 11:55] #2557 closed

[2017-06-15 12:58] saralavanip commented on #2628
@55 , Ok, thanks for the update.

[2017-06-15 14:20] brylie commented on #2608
Here is an example dashboard design, based on our discussion of **user needs** and the [dashboard design brief document](https://github.com/apinf/docs/blob/master/docs/design/dashboard/dashboard_design_brief.md):

![screenshot_20170615_171644](https://user-images.githubusercontent.com/17307/27185626-9eda89a6-51ee-11e7-9da1-e35cae13fce3.png)

I can add annotations regarding specific design elements

[2017-06-15 14:22] brylie commented on #2608
Here is an example dashboard design, based on our discussion of **user needs** and the [dashboard design brief document](https://github.com/apinf/docs/blob/master/docs/design/dashboard/dashboard_design_brief.md):

![screenshot_20170615_171644](https://user-images.githubusercontent.com/17307/27185626-9eda89a6-51ee-11e7-9da1-e35cae13fce3.png)

I can add annotations regarding specific design elements

[2017-06-15 20:26] #2623 closed

[2017-06-16 04:23] saralavanip commented on #2583
completed task, closing this issue.

[2017-06-16 04:23] #2583 closed

[2017-06-16 06:11] matleppa opened #2667 "[REST API] unify error responses content"
When requested operation can not be fullfilled, REST API returns an error response.
However, at the moment the contents of error responses vary quite a lot.

In some cases the returned error code is enough, but in some cases additional information is needed in order to help REST API user.

It needs to be decided, on which level additional error information is provided, so that the error message co

[2017-06-16 08:45] Nazarah commented on #2608
@brylie please do Mobile 1st design approach to see how the implemented view actually looks in mobile screen.

[2017-06-16 08:49] Nazarah commented on #2608
Also in future implementation, we may need to accommodate endpoints to Dashboard, indicating how many out of total endpoints of an API might need attention and preferably some list of them. Please consider this aspect while designing or implementing.

[2017-06-16 09:23] brylie commented on #2608
It looks like we can use Bootstrap to show/hide page elements on mobile views:

http://getbootstrap.com/css/#responsive-utilities

E.g. we can have a slightly different mobile-first view that hides the charts and shows only the numbers. We might be able to figure out a way that mobile users could toggle the charts' visibility too.

[2017-06-16 09:26] brylie commented on #2608
Yes. That sounds similar to how API Umbrella allows 'drill-down' analytics. I.e. it is aggregating the same statistics at different "levels" of the API path:

- /example-api/
- /example-api/level-1/
- /example-api/level-1/level-2/

[2017-06-20 09:52] #2595 closed

[2017-06-20 10:27] brylie commented on #2644
We might consider showing the **median** response time, rather than the **mean**.

# Rationale
The *response times* data is positively skewed, so it leans to the left:

![screenshot_20170620_132340](https://user-images.githubusercontent.com/17307/27328698-affba302-55bb-11e7-99af-d36f3b3a10db.png)

When a data set is skewed, the *mean* is no longer a good representation of the 'middle' of the data,

[2017-06-20 10:30] brylie commented on #2636
We might consider showing the **median** response time, rather than the **mean**.

# Rationale

The *response times* data is positively skewed, so it leans to the left:

![screenshot_20170620_132340](https://user-images.githubusercontent.com/17307/27328698-affba302-55bb-11e7-99af-d36f3b3a10db.png)

When a data set is skewed, the *mean* is no longer a good representation of the 'middle' of the data

[2017-06-20 10:31] Nazarah commented on #2644
@brylie @marla-singer can u have a look and see if NVD3 has line graphs instead of bar charts to show the average response time.
There is no problem with going with median response time. In my knowledge, we have the same concept in the current dashboard. The goal should be to display accurate and updated data no matter what cleaning or processing formula is being used.

[2017-06-20 10:32] marla-singer commented on #2644
@Nazarah This task doesn't need any chart. Please duplicate your comment in reference issue

[2017-06-20 10:34] Nazarah commented on #2636
Ok with the median value of the response time.
See if the visualization can be implemented with line charts from NVD3 library.
Make sure we are showing axis information and units visibly accurately in any charts that would be included.

[2017-06-20 10:36] Nazarah commented on #2644
@marla-singer I have added the comment in the referenced issues as well.
however as I saw there is a wireframe needed label in this issue, I posted the comment here.
To avoid confusions, I am removing that label from this issue.

[2017-06-20 10:42] marla-singer commented on #2633
@frenchbread I think it will be applied on the next release

[2017-06-20 11:00] marla-singer commented on #2169
@bajiat It's already done

[2017-06-20 11:14] marla-singer commented on #2661
@Nazarah @bajiat We already have this feature
Verified on nightly.apinf.io
![joxi_screenshot_1497957274201.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46e29b822abd90aa9decba4db755ff801617732a7e5df67c22d2b77aef13394d4d1f0cf31b0d0c00eef39b2ea3b43f22df585fedd7395a76cf3812acb8d41eb857bd25995397f4edd4189fb5646fb2c99d452c1c031

[2017-06-20 11:18] bajiat commented on #2169
@marla-singer Thanks for noticing.

Closing the issue as already implemented.

[2017-06-20 11:18] #2169 closed

[2017-06-20 11:28] bajiat opened #2669 "Collect user needs for eMQ dashboard"
eMQ allows us to collect analytics on following items:
- nr of connected clients
- maximum/total nr of clients (who have ever connected)
- messages that are being published
- delivered messages
- total amount of transferred data

# Goal
Collect and document user needs from potential eMQ dasboard users = API owners with MQTT APIs

[2017-06-20 12:17] brylie commented on #2636
@Nazarah @marla-singer: Here is an updated wireframe for the Dashboard charts showing bar charts for the daily values:

![screenshot_20170620_151608](https://user-images.githubusercontent.com/17307/27332690-94bb86d8-55cb-11e7-8384-2e417a7b0f38.png)

[2017-06-20 12:18] brylie commented on #2636
For comparison, here is the previous wireframe using (spark)line charts:

![screenshot_20170615_172316](https://user-images.githubusercontent.com/17307/27332724-b8399fdc-55cb-11e7-9dfe-4032ced42b3a.png)

[2017-06-20 12:33] Nazarah commented on #2661
Can we change the confirmation dialog to the newly proposed one? We can also add this line:
"Removing the proxy would break all API calls made to the connected API backends." This sentence should be placed before "Are you sure..." sentence.

[2017-06-20 12:53] sa1 commented on #2636
While the median does a good job of not being influenced by outliers, sometimes information about the outliers is also helpful in identifying real but occasional issues. One way of doing this is to also show the user 90th or 95th percentile response times along with the median.

One needs to be slightly careful here.
There are two scenarios: when an API is under heavy load and when its in normal o

[2017-06-20 12:59] mauriciovieira commented on #2667
Interested

[2017-06-20 13:09] ashakunt opened #2671 "[tests] Admin user tests in Gate 1"
Copy over the issue from apinf/docs repository (https://github.com/apinf/docs/issues/57).

In Gate 1 we should test branding, proxy, site settings and organizations but we cant just give admin password into github.

[2017-06-20 13:11] ashakunt opened #2672 "[tests] changing tabs in APIs"
Copied over from https://github.com/apinf/docs/issues/58

You cant setup any APIs to have proxy address or delete them if you cant click tabs in the APIs page. Tabs have id's but they are in list so you cant click list with selenium.
![list_id](https://user-images.githubusercontent.com/28555452/27330894-ebb49842-55c3-11e7-9c3f-fd3045f8a912.png)
If you add id to that link the site will break and it

[2017-06-20 13:12] ashakunt opened #2673 "[tests] Admin has to setup proxy to Gate 1 test to work"
Copied over from https://github.com/apinf/docs/issues/59

This issue has same problem as #2671 . cant give account admin permission in tests and proxy has secret authentication keys we cant share in github.

[2017-06-20 13:13] ashakunt commented on #2671
cc: @wuder4

[2017-06-20 13:15] ashakunt commented on #2672
cc: @wuder4

[2017-06-20 13:15] ashakunt commented on #2673
cc: @wuder4

[2017-06-20 13:50] marla-singer commented on #2661
@Nazarah Please write the full text of message.
Now:
**Title**
Are you sue that you want to remove proxy?
**Body**
2 proxy backends are connected to this proxy. Removing the proxy will mean that API calls made to any of the connected API backends will break.

Write your suggest the same

[2017-06-20 14:01] bajiat opened #2674 "Manual testing for release 0.46.0"
Test the 0.46.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] Administrator can add HTML content to the front page via Branding p

[2017-06-20 14:08] #2641 closed

[2017-06-20 14:10] 55 commented on #2641
@saralavanip please confirm once it is on https://staging.apinf.io.

[2017-06-20 19:52] shaliko commented on #1986
@brylie Sorry, not noticed your question.

1) Errbit it's open source clone on Airbrake, so comparing you can find here https://github.com/apinf/docs/blob/master/docs/research/Capture_Track_Application_Exception.md
2) Many of Airbrake SDK tools can be used for send data to Errbit.

[2017-06-20 19:55] shaliko commented on #1986
@brylie https://www.slant.co/versus/964/5110/~sentry_vs_airbrake

[2017-06-20 19:58] shaliko commented on #1986
@brylie Looks like Sentry biting Airbrake https://www.quora.com/Why-would-you-use-Airbrake-over-Sentry

[2017-06-21 06:13] bajiat commented on #2211
Closing as per suggestion.

[2017-06-21 06:13] #2211 closed

[2017-06-21 06:23] Nazarah commented on #2643
[Scripts](https://github.com/apinf/docs/blob/master/docs/design/dashboard/Prototype-Testing-Jarkko.md) from the interview with @kyyberi

[2017-06-21 06:24] Nazarah commented on #2643
[Scripts](https://github.com/apinf/docs/blob/master/docs/design/dashboard/Prototype-Testing-Vesa.md) from the interview with @preriasusi

[2017-06-21 06:27] Nazarah commented on #2643
The user interviews are completed and the scripts are added in GitHub.
I tried to reach Tuukka for an interview in the beginning of the sprint with an email, but he didn't respond.
Since the sprint is about to end and we targeted with 3 interviews, I am closing this issue.

[2017-06-21 06:27] #2643 closed

[2017-06-21 06:56] Nazarah commented on #2636
@55 and I concluded our user interviews with two versions of the dashboard prototypes.
The scripts can be found [here](https://github.com/apinf/docs/blob/master/docs/design/dashboard/Prototype-Testing-Asim.md), [here](https://github.com/apinf/docs/blob/master/docs/design/dashboard/Prototype-Testing-Jarkko.md) and [here](https://github.com/apinf/docs/blob/master/docs/design/dashboard/Prototype-Test

[2017-06-21 07:10] kyyberi commented on #2636
I agree with @Nazarah. Lets go forward. Both of the wireframes contain excess element IMHO. For example the bookmakrks count (I assume it's that) and rating is not needed in overview of how our APIs are performing. Those are related to onboarding success. The dashboard discussed here is not focused on that. Onboarding tracking will come to your desk soon, but these who are separate items at least

[2017-06-21 07:14] phanimahesh commented on #1986
FWIW, I vote for Sentry, self hosted. If for some reason sentry can't be used, my next vote would be to do it the hard way with ELK.

[2017-06-21 07:29] shaliko commented on #1986
@phanimahesh Yep, I already booked sentry.samposoftware.com.

[2017-06-21 09:24] #2524 closed

[2017-06-21 09:49] Nazarah commented on #2661
**Title:**
Removing Proxy

**Body Text:**
**Warning!** You are about to remove a proxy.
There are currently 57 APIs connected to this proxy.
Removing the proxy would break all API calls made to the connected API backends.
Are you sure you want to continue?

**Buttons:**
Ye, No

[2017-06-21 10:00] matleppa opened #2675 "REST API: Problems with $ref operator when generating Users swagger document"
### Background
When swagger document about Users routes is generated, because of restrictions in restivus-swagger.js, the related declarations included in program code can not be used, a workaround has to be used.

The workaround is to add a *paths* section into main swagger creation part and explicitly declare Users related paths, methods and fields.

(Swagger document is created in *platform/cor

[2017-06-21 10:52] matleppa opened #2678 "REST API: Users swagger finalization"
### Background
In order to get REST API functionality included in delivery, some swagger file generation content was left out.

### What is missing
Swagger generation about Users route:
- description of successful response message content in methods GET, GET{id}, GET updates and POST.
- some parameter descriptions needs to be adjusted