[2017-09-18 08:53] bajiat commented on #2924
@marla-singer Are you interested in this task?

[2017-09-18 08:57] marla-singer commented on #2924
@bajiat Yes, I've started work on this task on Friday

[2017-09-18 09:05] bajiat commented on #2905
@matleppa Start by identifying and documenting the problematic cases

[2017-09-18 09:19] bajiat opened #2933 "Exploratory analysis of the Umbrella analytics"
# Description
- Research the potentially useful data we could get from API Umbrella ElasticSearch, such as
  - proxy overhead (over time)
  - API key (usage over time)

Document the findings and provide a link in this issue.

# Resources
[Repository containing Juyter Notebooks](https://github.com/apinf/jupyter-api-log-analysis) for reproducible analysis.

[2017-09-18 09:21] bajiat opened #2934 "Publish project performance dashboard"
# Description
Add Cauldron.io link to Readme and figure out which metrics are useful for our stakeholders.

# Resources
- [APInf performance dashboard](https://dashboard.cauldron.io/goto/5d6a76fd40b2ba4b9b6db1b94dcb7368)

[2017-09-18 10:09] #2929 closed

[2017-09-18 10:16] brylie commented on #2093
Invite sent for next Tuesday (2017-09-26).

[2017-09-18 10:17] brylie commented on #2791
What is the extent of the problem? How many APIs are affected? How likely is this to occur in other deployments?

[2017-09-18 10:54] wuder4 opened #2935 "White line between footer and info bar"
# Steps
1.Visit https://staging.apinf.io  v 0.50.0
2.Scroll down

# Findings
* Page has small white line between 2 same color blocks
* @Nazarah said that the info panel should after latest APIs
* This can be found in all sites

# Screenshot

![frontpage_footer](https://user-images.githubusercontent.com/28555452/30539101-9640cea6-9c79-11e7-9272-abfdf554511b.png)

In the screenshot, the position of

[2017-09-18 11:21] marla-singer commented on #2791
I don't know how many APIs but this problem have been repeated 55 times during 2 months
https://sentry.samposoftware.com/sentry/apinf-production/issues/30/

[2017-09-18 11:24] marla-singer commented on #2935
@wuder4 As I remember It is feature, not bug

[2017-09-18 11:45] wuder4 opened #2937 "deleting proxy breaks all APIs connected to it"
# Steps
1.Visit https://staging.apinf.io  v 0.50.0
2.Login as admin and add proxy
3.Create new API and connect to proxy
4.Delete proxy
5.Create new different proxy
6.Connect API to new proxy

# Findings
* API cant delete old proxy settings
* API cant connect to new proxy
* Deleting old proxy gives ok sign
* Saving old proxy settings gives "fill the required fields" error

Tested on:
Windows 8
Goog

[2017-09-18 12:05] wuder4 opened #2938 "sorting in dashboard does not work"
# Steps
1.Visit https://staging.apinf.io  v 0.50.0
2.Login and create 2 APIs
3.Connect APIs to proxy
4.Call API with API key
5.Check dashboard sorting

# Screenshot

![dashboard_sort](https://user-images.githubusercontent.com/28555452/30541381-da9047e4-9c83-11e7-9ad4-cb3fbbf7fa3f.png)

# Findings
* There is no reverse order (eg z-a)
* Sorting does not change the order of the APIs

# enchancements

[2017-09-18 12:12] brylie commented on #2791
OK, it looks like it is happening a few times a day over the past couple of months. I am just wondering about the **effect size** of this bug. How might we assess how many APIs are affected?

[2017-09-18 12:19] marla-singer commented on #2938
Close it because this feature hasn't been implemented yet
#2758

[2017-09-18 12:19] #2938 closed

[2017-09-18 12:25] wuder4 commented on #2937
I deleted the old APIs but after that I could not use the same proxy backend. It gives error:
Frontend prefix already exists. Select another one.

[2017-09-18 12:26] marla-singer opened #2939 "Organization card: Misaligment elements"
### Place
Organization catalog
![joxi_screenshot_1505737236422](https://user-images.githubusercontent.com/20643403/30541724-3d070a7e-9c85-11e7-8311-4b913f4e685c.png)

### Expected
The alignment of Items must be in one line like for API card
![joxi_screenshot_1505738117892](https://user-images.githubusercontent.com/20643403/30542181-fe5515da-9c86-11e7-9b50-6002f1403778.png)

[2017-09-18 12:59] marla-singer commented on #2791
@brylie I see as navigate through each API in catalog and check it by hand :thinking:

[2017-09-18 13:42] wuder4 opened #2941 "Not possible to download CSV file about users of an API"
# Steps
1.Visit https://staging.apinf.io  v 0.50.0
2.Login and Create API
3.Create second account
4.Call API on both accounts while using API keys
5.Navigate to dashboard
6.Click Download all users Link

# Screenshot

![dashboard_](https://user-images.githubusercontent.com/28555452/30545048-2468eef4-9c91-11e7-8977-c9bf513cc42c.png)

# Findings
* Nothing happens
* Download all errors works fine

Te

[2017-09-18 13:58] wuder4 commented on #2293
Now it shows:
No APIs found with the selected life cycle status

[2017-09-18 14:09] wuder4 commented on #2396
Now it shows this error every time you have 0 results in API catalog. eg. if you look at your bookmarks and you have no APIs in bookmarks. It tells you:
No APIs found with the selected life cycle status

If the error says "No API found." it would not be a problem

[2017-09-18 14:55] wuder4 commented on #2930
Went trough release notes and overall it looks fine.

Dashboard features work 3/4. I was not able to download list of users in detail view.

Improved parts also worked 3/4. Could not find RSS feed button. We did a survey in the office and 1 person used RSS feed anyway (that person no longer works for us).

Bugfixes almost all work fine but at least API Umbrella 0.14.0 is not working properly in lo

[2017-09-18 18:42] bajiat commented on #2791
@brylie @marla-singer @matleppa Any volunteers to go through the APIs manually?

[2017-09-18 20:40] #2829 closed

[2017-09-18 20:41] mauriciovieira commented on #2829
@bajiat after deployment, I can setup a real FIWARE app for APInf in Production.

[2017-09-18 22:55] Vellames commented on #2918
I will take a look

[2017-09-18 23:39] Vellames commented on #2918
@marla-singer i tested the application but i don't saw any console message in organization profile

![screenshot_20170918_203745](https://user-images.githubusercontent.com/9345433/30569441-501bdee2-9cb1-11e7-98ce-c38ede12eb7b.png)

[2017-09-19 00:05] Vellames commented on #2912
@brylie I take a look in the code and a find one use for the ShareJS. In imports page `/apis/import`
I did not continue because i found an error when i tried to import a configuration API file. I will open a issue to fix this problem.

[2017-09-19 00:20] Vellames opened #2943 "Error while import API config file"
**Steps**:

1. Go to the import api configuration file `/apis/import/`
2. Upload a API configuration file

**Description**

Nothing happens in the page but an error is shown in console:

![error import api](https://user-images.githubusercontent.com/9345433/30570285-a1337b6e-9cb6-11e7-9ad4-58d694a06ecd.png)

**Environment**

- Kubuntu 17.04
- Chrome Version 61.0.3163.79 (Official Build) (64-bit)
-

[2017-09-19 07:13] matleppa commented on #2791
I can go through the APIs.

[2017-09-19 07:24] brylie opened #2944 "Manage API Documentation modal somewhat confusing"
# Context
The ManageAPI Documentation modal has two fields for linking remote API documentation. One field expects an OpenAPI Specification file, while the other field is used for any other type of link (e.g. a rendered API documentation portal).

# Problem
Having two fields with similar names is somewhat unclear:

- Link to API Documentation
- Link to other API Documentation

![screenshot_2017091

[2017-09-19 07:38] brylie commented on #2912
I am thinking we need to re-do the API import page, so that it doesn't need ShareJS.

cc: @bajiat

[2017-09-19 07:47] bajiat commented on #2912
I'm ok with removing the ShareJS package and temporarily disallowing import route, since the page does not work anyway.

We agreed with @brylie that he would create an issue for user flow of exporting and importing API settings.

[2017-09-19 07:50] brylie opened #2945 "Design user flow for exporting and importing API configuration"
Our API Profile view currently has a tab where API owners can export API and Proxy settings. There is also a (currently broken) import page, which was designed for importing API settings (not proxy settings).

# Goals
- Allow users to easily export and import their API and Proxy settings.
  - Make exporting and importing easy to discover.
- Have a simple user experience related to exporting and im

[2017-09-19 07:51] brylie commented on #2912
Related issue: https://github.com/apinf/platform/issues/2945

[2017-09-19 07:53] brylie commented on #2943
Can we remove the dropzone and ShareJS requirements here, and show a file select button instead? What other dependencies are used here (e.g. to parse the JSON/yaml)?

[2017-09-19 08:02] brylie commented on #2945
In case we remove the current import functionality, as part of cleanup in #2912, here are the files as they currently stand:

-
 https://github.com/apinf/platform/tree/55034ef7c170676355d83c3883f6d1aeb39466eb/apinf_packages/apis/client/import

[2017-09-19 08:19] bajiat opened #2946 "Audit Swagger files in apinf.io"
Audit the Swagger files in apinf.io to check the migration issues for documents uploaded as documents and added as links.

Related to #2791

[2017-09-19 08:26] marla-singer commented on #2918
@Vellames
1. Page is Organization catalog, not profile
2. Server console. not browser

[2017-09-19 08:37] bajiat commented on #2939
@marla-singer Not sure what this issue is about. Can you please explain?

[2017-09-19 08:39] saralavanip commented on #2396
@bajiat , observed on staging v 0.50.0 : Related screenshots below.

![staging_0 50 0_myapis_incorrect_msg](https://user-images.githubusercontent.com/13309358/30583075-93f1f1a6-9d2e-11e7-8224-5639463960ac.PNG)

![staging_v0 50 0_no_apis_incorrect_msg](https://user-images.githubusercontent.com/13309358/30583085-a0b6ae54-9d2e-11e7-9cd5-5b24fcfdda64.PNG)

![staging_v0 50 0_mybookmarks](https://user-i

[2017-09-19 08:40] brylie commented on #2923
@bajiat is this a duplicate of #2945 ?

[2017-09-19 08:53] brylie commented on #995
@matleppa is this done now?

[2017-09-19 08:59] marla-singer commented on #2939
@bajiat

### Actual result
![joxi_screenshot_1505811476637 1](https://user-images.githubusercontent.com/20643403/30584263-e5c14056-9d31-11e7-869a-6879e01b1276.png)

### Expected result
![joxi_screenshot_1505811476637](https://user-images.githubusercontent.com/20643403/30584271-e9cecae2-9d31-11e7-94e9-966aa61a31b3.png)

[2017-09-19 09:17] matleppa commented on #995
Yes, it is done.

[2017-09-19 09:22] brylie commented on #995
@matleppa would you link to this issue from the related (closed) PR, and then close this issue?

[2017-09-19 09:26] matleppa commented on #995
Closed with #.

[2017-09-19 09:31] matleppa commented on #995
Closed with #2876.

[2017-09-19 09:31] #995 closed

[2017-09-19 09:37] matleppa opened #2947 "UI: When an API is viewed, it's title and menu bar are not visible."
## Description ##

When users selects an API from API catalog for viewing, often the upmost part of API (API title, API menu bar and API logo) is not visible, because it is  behind the site Menu bar, as the API content view has scrolled down.

User has to scroll up the API view in order to see the API title and API menu bar.

### Steps  ###
1. Open API Catalog
2. Scroll down API catalog view
3. Op

[2017-09-19 09:41] saralavanip commented on #2930
Verified issues: #2396 , #2683

[2017-09-19 09:44] matleppa commented on #2947
#### API is opened, API title and menu bar not visible  ####
![api_ylaosa_piilossa.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e984931c9b8fa880fabe7cb454f998265534726b48e13b628ae92dbc56395b4d5a4bae420a0a40a8f98f7fa3b43575895c0bbbd06a0973c32f0dbefad341eb5ee779c11ac7a4b6984dc7e23c20e78e874e3a1f0d1a8cff5927ed.PNG)

#### A

[2017-09-19 09:59] saralavanip opened #2948 "Cover Image displayed incorrectly"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Login as admin
3.Go to 'Branding' view
4.Upload 'Cover image'
5.Go to homepage

# Findings
Uploaded cover image displayed incorrectly

# Operating system
Windows 10

# Browsers
- Google Chrome Version 61.0.3163.91
- Mozilla Firefox v 55.0.3

# Screenshot
![staging_0 50 0_uploaded_cover_image](https://user-images.githubusercontent.com/13309358/305

[2017-09-19 10:47] matleppa opened #2949 "UI: easier way to browse through APIs"
## Description ##

Enhancements are needed to make browsing through APIs more user-friendly.

### Prerequisite ###
There are several APIs, the paging is in use.

### Steps ###
1. Go to another page (2/3/...) in API list view
2. Open an API
3. Press browser back button / APIs button in main menu

### Result ###
The first page in API list view is opened.

 ### Problem ###
In case user wants to go th

[2017-09-19 11:03] saralavanip opened #2950 "Edit API proxy details and save shows incorrect message"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Login
3.Add API
4.Go to proxy
5.Fill all the mandatory fields
- Select proxy (eg. Nightly Umbrella)
- Proxy base path
- API base path

6.Disable API key requirement
7.Click on 'Save&Publish'
8.Get API key
9.Go to the same above API proxy view
10.Edit proxy details (eg. enable proxy key requirement )
11.Click on 'Save&Publish'

 # Expected Result

[2017-09-19 13:02] marla-singer opened #2952 "Add item "Login patforms" in user menu"
**Title**:

Add item "Login patforms" in user menu

**Description**:

On global settings page for site Administrator a new point appears "Login platforms"
Add this item in user menu to allow directly access to this page
![joxi_screenshot_1505825817295](https://user-images.githubusercontent.com/20643403/30593629-f67db1d2-9d53-11e7-8f53-7fbe8c7f7a6b.png)

[2017-09-19 14:49] saralavanip opened #2955 "Details view: User Instructions available for anonymous users"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Login
3.Add API
4.Go to proxy
5.Fill all the mandatory fields
- Select proxy (eg. Nightly Umbrella)
- Proxy base path
- API base path

6.Disable API key requirement
7.Click on 'Save&Publish'
8.Get API key
9.Sign out
10.Go to API catalog as anonymous user
11.Click on the same API above

# Findings
 Instructions on 'how to make API calls' displayed

[2017-09-19 14:55] bajiat opened #2956 "[Production] API is connected to a proxy, but API URL in Details is not the proxy URL"
If an API owner connects an API to proxy, they typically do not want any direct calls to the API. In other words, they do not want to show the backend URL to API consumers at all. This happens for a number of reasons (security, monetization and so on).

I have found at least one API in production (apinf.io), where API is connected to a proxy, but the API base path is still disclosed to users in AP

[2017-09-19 15:14] mauriciovieira opened #2957 "Setup FIWARE application for Nightly build"
Related #2829

- [x] Create a nightly APInf Platform app on https://account.lab.fiware.org/
- [x] Setup credentials on https://nightly.apinf.io/sign-in

[2017-09-19 15:38] saralavanip opened #2958 "User info. text not displayed in 'Table' view"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Sign Up
3.Go to 'APIs' catalog
4.Go to filter tab
5.Click on 'My APIs' and 'table' buttons

# Expected Result
User info. must be displayed both in grid and table views when no 'APIs found'

# Actual Result
User info. displayed only  in grid view and shows empty page in table view

# Operating system
Windows 10

# Browsers
- Google Chrome Version

[2017-09-19 16:32] saralavanip opened #2959 "APIs catalog: click on filter buttons shows user info. text momentarily"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Login as admin
3.Go to 'APIs' catalog
4.Go to filter tab
5.Click on the filter buttons (eg. 'Ascending'<->'Descending', 'MyApis'<->'Mybookmarks' )

# Findings
Shows user info. text 'No APIs found...'  momentarily

# Operating system
Windows 10

# Browsers
- Google Chrome Version 61.0.3163.91
- Mozilla Firefox v 55.0.3

[2017-09-19 20:02] mauriciovieira commented on #2957
![screen shot 2017-09-19 at 17 00 24](https://user-images.githubusercontent.com/95258/30612795-1833b2a6-9d5c-11e7-834f-5a6dd2297e02.png)

@Nazarah @bajiat @brylie it's setup but I think we have to make some adjustments in the code to associate the fiware login with an existing Platform account if both emails match.

[2017-09-19 20:02] #2957 closed

[2017-09-19 21:41] #2521 closed

[2017-09-20 02:25] Vellames commented on #2943
Yes, i think that a simple file input is the best solution

- **js-yaml** to parse YAML to JSON (NPM Package)
- **meteor/juliancwirko:s-alert** to show messages
- **meteor/cfs:filesystem** to iterate over each uploaded file

[2017-09-20 05:06] amardeep-deligence commented on #2428
@marla-singer I have done changes for visible/accessible API counts, but have some other questions:

1. Right now API owner can not see his private api in "Latest APIs" list in home page as well as it does'nt gets counted in API Counts.
Q. Do we have to count and show owners Private APIs in "Latest APIs" list?

2. Right now if owner authorizes some user for his private API, then authorized user ca

[2017-09-20 05:24] #2924 closed

[2017-09-20 07:56] matleppa commented on #2791
Apinf.io

#### Swagger documentation and status (2017-09-20) (0.50.0): ####
APInf Catalog REST API (fail) fails to open API
Customer Management API (OK)
Digitraffic Road metadata (Failed to load spec.)
GitHub (OK)
Laivadata - API (fail) fails to open API
Linked events (Turku) (OK)
Makeup API (OK)
MPASSid Register API (fail) API fails to open

OMDB API (fail) fails to open API
OpenAPI space (docume

[2017-09-20 08:26] marla-singer commented on #2956
@bajiat Tested this. It happens because one step of migration is missed when we were integrating MQT proxy. DB schema for Proxy Backend has the additional field `type` and there displays Proxy URL if the type equals "API Umbrella". The APIs are on production site don't have this field.

Three tentative steps to fix:
1. Delete and Publish a Proxy Backend configuration again (via UI) or
2. Create a

[2017-09-20 08:54] matleppa opened #2960 "Dashboard: dropdown menu selection label 'Yesterday' is misleading"
## Description ##
On Dashboard the time period for displaying data is selected with a dropdown menu.

The options are:
* Yesterday
* Last 7 Days
* Last 30 Days

When the 'Yesterday' option is selected, the dashboard shows the recent data, also today's data.
### Question ###

Should the label 'Yesterday' be more accurate, such as 'Last 24 hours' or 'Since yesterday'?

[2017-09-20 09:16] marla-singer commented on #2918
@Vellames Sorry, try again and it happens if an organization doesn't have connected APIs :grimacing:

[2017-09-20 09:19] marla-singer commented on #2960
@matleppa Good question

[2017-09-20 09:30] marla-singer opened #2961 "[Production] Dashboard doesnt work if any proxy backend item is broken"
### Steps
1. Login as Admin
2. Navigate to Dashboard page

### Expected
Rendered page with table

### Actual result
1. Console error
[code]
2. Empty page
<img width="724" alt="production dashboard 050" src="https://user-images.githubusercontent.com/20643403/30636801-1f0cbf02-9dff-11e7-8678-06124252d046.PNG">

### Reason
The Proxy Backend collection has a broken item and helper `apiName` returns `u

[2017-09-20 11:38] amardeep-deligence commented on #2550
In apis we already have a form for filters, So we can modify existing form and provide options for swagger API filter as well:

![suggested solution for 2550](https://user-images.githubusercontent.com/19850550/30641753-e05b887a-9e25-11e7-9a85-5fa07cfa4250.png)

[2017-09-20 11:42] marla-singer commented on #2428
@bajiat Can you please answer @amardeep-deligence questions? I don't know about User Usability in this cases

[2017-09-21 02:15] Vellames commented on #2918
No problem :)

[2017-09-21 09:03] #2849 closed

[2017-09-21 09:10] #2941 closed

[2017-09-21 09:16] #2907 closed

[2017-09-21 09:58] #2508 closed

[2017-09-21 10:24] #2950 closed

[2017-09-21 11:11] #2916 closed

[2017-09-21 13:59] #2908 closed

[2017-09-21 14:51] #2428 closed

[2017-09-22 06:55] brylie commented on #2943
OK, lets try to simplify this view as discussed above. Basically, we will:

- deprecate ShareJS completely
- keep js-yaml (since it is useful in multiple places)
- keep cfs:filesystem (as it is, to my recollection, the way we are handling file uploads in our project)
- try not to add any more dependencies

[2017-09-22 08:46] matleppa opened #2964 "Opening some APIs causes exception"
Probably related to issue #2907.

### Description ###
1. Log in as netther admin nor API feedback owner
2. Open an API with feedback

### Expected result ###
API opens.

### Result ###
API does not open.
Exceptions are generated.

#### Exceptions ####
Exception from Tracker recompute function:
ad17eab8ad53ba123e145485a723b6553adb8ea0.js?meteor_js_resource=true:13 TypeError: Cannot read property 'u

[2017-09-22 11:03] matleppa opened #2966 "Clicking buttons [Make all feedback public/private] causes exceptions"
### Description ###
1. Create an API
2. Open API
3. Open Feedback tab
4. Press button [Make all feedback public] or [Make all feedback private]

### Result ###
Console log shows:
Error invoking Method 'changeAllFeedbacksVisibility': Match failed [400]

In command prompt can be seen exception:
I20170922-13:54:36.273(3)? Exception while invoking method 'changeAllFeedbacksVisibility' Error: Match err

[2017-09-22 11:52] bajiat commented on #1054
Task was completed by @matleppa

Closing the issue

[2017-09-22 11:52] #1054 closed

[2017-09-22 12:16] bajiat commented on #2960
@Nazarah What is your view on this?

[2017-09-22 12:18] bajiat commented on #2956
@marla-singer What is you recommendation and why?

[2017-09-22 12:37] bajiat commented on #2958
The same error also when  you have no bookmarked APIs and you press My bookmarks in Table view: there is no user information, just empty space.

@saransh-dev Table view can be accessed by toggling the right most button
![grid and table view.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/551116a6d52f6a7100417fce/125516c66e82c728ace21e0d46ef869327c282a78ba9ab42a651f5d43f4f2

[2017-09-22 12:53] bajiat commented on #2948
I was able to reproduce the error:

![StagingCoverPhoto.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/551116a6d52f6a7100417fce/125516c66e82c728ace21e0d46db809b248b8daeace6a946b66df89b3d49653f6b14b1247a80e03cfd1839545a5d4dfe145c0b44faad8c29afb33f708a0a0aea876a5a66da2f53fde6d640e258f075c95d8fa4bd8d46c1ed3d23e7838b48361e051e8bed10.PNG)

[2017-09-22 12:54] bajiat commented on #2948
Expectation is that the picture fills the designated area for the cover picture

[2017-09-22 13:03] bajiat commented on #2964
According to @marla-singer, bug already fixed by  #2915

Closing the issue

[2017-09-22 13:03] #2964 closed

[2017-09-24 20:08] Vellames commented on #2943
**Update: **

The method also shows an error when invoked

Server Console:
`Exception while invoking method 'importApiConfigs' TypeError: Converting circular structure to JSON`

[2017-09-25 04:48] wuder4 opened #2974 "staging proxies are barely usable"

[2017-09-25 05:33] wuder4 commented on #2974
Nightly proxy bug occurs on apinf.io proxy too.

[2017-09-25 05:43] wuder4 opened #2975 "API Request Timeline spacing"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Sign Up
3.Create new API  and connect to working proxy
4.Call API 2 times
5.Check API in dashboard detailed view

# Expected Result
graph shows 0...1...2...

# Actual Result
Graph shows 0...0.2...0.4....

# Operating system
Windows 8

# Browser
- Google Chrome Version latest

# Screenshot

![apireq](https://user-images.githubusercontent.com/28555

[2017-09-25 06:01] wuder4 commented on #2848
Was not able to reproduce in staging 0.50.0. Environment was same as in first test.

[2017-09-25 06:25] matleppa opened #2976 "UI: When an Organization is opened, it is scrolled down"
Similar issue as #2947, which concerns APIs.

Luckily in Organization case the phenomena is not as disturbing as with APIs, because in Organization case only part of cover image is not visible.
However, the functionality is not logical.

## Description ##

When user selects an Organization from Organization catalog for viewing, the Organization is scrolled down in case user has scrolled down the O

[2017-09-25 06:47] bajiat commented on #2974
Is this a duplicate of #2804?

[2017-09-25 07:38] #2882 closed

[2017-09-25 08:26] marla-singer commented on #2974
@bajiat It is duplicate of #2950 and will be included in the next release

[2017-09-25 08:29] marla-singer commented on #2956
@bajiat I recommendation to create a migration step because it allows keeping our database scheme updated on all sites

[2017-09-25 08:50] wuder4 opened #2977 "dashboard overview info doesn't match detailed view"
# Steps
1.Visit https://staging.apinf.io v 0.50.0
2.Sign Up
3.Create new API  and connect to working proxy
4.Call API
5.Check API in dashboard overview and detailed view

# Expected Result
Information matches both views.

# Actual Result
Overview shows 0 at successful calls and errors.

# Operating system
Windows 8

# Browser
- Google Chrome Version latest

# Screenshot

![dashboard_overview](http

[2017-09-25 08:57] #2918 closed

[2017-09-26 05:32] Nazarah commented on #2960
Sorry for the late reply
"Last 24 hours" sounds proper.
It gives a clear idea to the user from what time the data is being shown in the graph.

[2017-09-26 05:41] Nazarah commented on #2428
@marla-singer seeing this issue has been closed. Has there been any solution to the query Amardeep asked?
@amardeep-deligence : I try to answer the questions u ask. @bajiat can validate me

Q. Do we have to count and show owners Private APIs in "Latest APIs" list?

Yes we do. Owner should see his private API in the latest API list.

Q. Do we have to show authorized private API to authorized Users

[2017-09-26 06:12] Nazarah commented on #2952
@marla-singer do we need an additional item in the site admin menu?
I believe all the options (Branding, Proxy, Settings, etc.) can be accessed when item Settings is clicked from the user menu.
Since this is part of settings and configuration, in my opinion adding this into user menu is redundant. :-/
What do u think?

[2017-09-26 06:39] Nazarah commented on #2945
@brylie in API profile, do we need to keep a separate tab for export/import API config?
the 1st thing we can offer is to do so when API owner is adding and API and s/he has preexisting config file.
From API profile, I believe the Settings tab can have this option for the API owner to export and import API config file from a distinguishable block.

[2017-09-26 06:49] Nazarah commented on #2944
@brylie do you have any solution in your mind on how to address this?
Perhaps renaming the label so that it specifies that the file has to be OpenAPI specification or json/yaml file?

[2017-09-26 06:52] bajiat opened #2980 "Create a checklist for PR reviews"
PR reviews are essential for maintaining the quality of our source code. The code reviews should provide another perspective to the code and should check logic of the code as well as readability of the code. The code reviewer must not only check that the code fulfills the goal described in the original issue, but also that the reviewer and other developers would be able to maintain the code later.

[2017-09-26 06:57] brylie opened #2981 "Create helper function for internationalized text sorting"
Our codebase has a few places where we want to sort strings in proper internationalized form. For example, when sorting the API Catalog by name, we want to include proper sorting for international characters (such as åäö). To achieve this, we have had to write helper code in the places where internationalized sorting is needed, and this code is duplicated in those places.

# Examples
https://githu

[2017-09-26 06:59] brylie commented on #2944
The solution could be as simple as changing the UI text, such as the form labels.

[2017-09-26 07:11] Nazarah commented on #1243
@brylie

We can get some information about the requesting client, such as:
IP address
city (from IP address geolocation)
country (from IP address geolocation)
latitude (from IP address geolocation)
longitude (from IP address geolocation)
user agent (e.g. type of web browser)
user agent family
referer
Beyond those, and possibly a few others, we are really limited here to what the proxy can learn fr

[2017-09-26 07:13] Nazarah commented on #2900
@marla-singer @bajiat I vouch for user locale

[2017-09-26 07:27] marla-singer commented on #2428
@Nazarah This issues has been closed because @amardeep-deligence resolved a bug with APIs count on the front page. If found behaviour with API list doesn't work as expected then we should open a new bug report for this

[2017-09-26 07:46] brylie commented on #1243
After working with some proxy data for the past week, I learned that we only have **request_ip** and **request_host** data for ~100% of the records. All other information, such as user agent or geolocation, is only present in a subset of the records. The following estimates are based on ~10,000 records:

Metric | Percent of records
------------ | -------------
request_host | 100%
request_ip | 100%

[2017-09-26 07:49] brylie commented on #1243
It is worth considering that API Umbrella keeps analytics about internal API calls (e.g. from the Admin API) as well as API calls made through the proxy. It could be that approximately 60% of the traffic to the API Umbrella proxy consists of calls to remote backends, with the remainder being calls to the Admin API (which we use for integration). So, the percentage of traffic to remote backends tha

[2017-09-26 07:51] marla-singer commented on #2900
Don't mind

[2017-09-26 07:55] marla-singer commented on #2952
@Nazarah I thought it would be not bad so I created this issue.
Anyway, the last word is yours and @bajiat

[2017-09-26 08:37] #2933 closed

[2017-09-26 08:40] marla-singer commented on #2847
@Nazarah @bajiat Can't see the whole picture of what csv file will contain? What columns? What data? How will table with data look?

[2017-09-26 08:41] #2934 closed

[2017-09-26 08:41] #2767 closed

[2017-09-26 08:49] brylie commented on #2827
The steps to reproduce work correctly for me:

![peek 2017-09-26 11-47](https://user-images.githubusercontent.com/17307/30851220-a0a481ca-a2b0-11e7-9f4a-698c87b5ee2f.gif)

There may be a bit of delay from when the image seems to be uploaded, to when it is actually sent to the server and published back to the client.

[2017-09-26 11:11] brylie commented on #2093
Notes from our meeting with @bajiat, @matleppa, @Nazarah, and @phanimahesh:

Wen resolving this issue, we want to be consistent across the followint APInf features:

- API Catalog namespaces
    - e.g. `/user_or_organization_slug/api_slug/`
- Proxies/brokers
    - API Umbrella frontend prefixes
    - eMQ topic prefixes
- Dashboards
    - API Umbrella dashboard
    - eMQ dashboard

Wireframes will

[2017-09-26 13:16] bajiat opened #2983 "Skills transfer"
# Items
- FIWARE
  - Business API ecosystem: API documentation, diagram
  - Overview and where APInf fits
- API Umbrella
  - Admin UI
  - Admin API
  - Elastic search
  - upstream requirements (existing and new)
  - documentation
- Open API designer, Open API space
- APInf platform and APInf in Github
  - APInf code space
  - PR review guidelines
  - repository awareness
  - Github presence

# To

[2017-09-26 13:21] #2939 closed

[2017-09-26 17:59] mauriciovieira opened #2984 "URGENT: Meteor Allow-Deny Vulnerability Disclosure"
I got an email with this [description](https://www.itwire.com/open-source/80095-new-meteor-vulnerability-disclosed,-urgent-update-recommended.html)

The security bug relates to alanning:roles package, that we use.

The solution is simple, we just have to update `allow-deny` package to 1.0.9.

[2017-09-27 06:49] #2984 closed

[2017-09-27 07:28] brylie commented on #2983
General guidelines, inspired by discussion with @bajiat:

General advice with regards to professional development:

# Study (seek continual personal enrichment)
Find a place to grow and seek out educational resources for personal enrichment, such as:

- Clean Code JavaScript (https://github.com/ryanmcdermott/clean-code-javascript)
- Modern JavaScript Cheatsheet (https://github.com/mbeaudru/modern-

[2017-09-27 08:47] matleppa opened #2986 "REST API: Replace tags 'login' and 'logout' with 'Authentication'"
### Description ###
At the moment both login and logout endpoints have their own tags.
They are also located after or in between other endpoints.

### Correction ###
It would be more clear to have both endpoints under one tag 'Authentication' and position it at the beginning of API documentation.

[2017-09-27 09:46] brylie commented on #2983
@bajiat, I sent invitations to @matleppa for a series of discussions over the next few days.

[2017-09-27 09:50] brylie commented on #2983
# Documentation sources
## FIWARE
### Business API Ecosystem
- [FIWARE Generic Enabler page](https://catalogue.fiware.org/enablers/business-api-ecosystem-biz-ecosystem-ri)
- [API Documentation](http://docs.fiwaretmfbizecosystem.apiary.io/#)

[2017-09-27 10:03] brylie commented on #2983
@bajiat I have added relevant documentation sources in the comment above.

@matleppa please respond to this thread to confirm that you are monitoring activity on Github, such as mentioning your name. This is important to make sure you are aware of what is going on with the team.

[2017-09-27 10:07] brylie commented on #2983
@bajiat I have co-assigned @matleppa, @mauriciovieira, and @marla-singer, so that we can all take responsibility for transferring important knowledge and duties.

[2017-09-27 10:26] brylie commented on #2093
I have summarized our discussion in the above comment, and will need to hand this task off to another champion.

[2017-09-27 10:36] #2958 closed

[2017-09-27 11:15] brylie commented on #2827
I recommend we put this issue in icebox for the following reasons:
- the functionality works, although there are latency issues under some circumstances
  - it is not clear how often network latency will be high enough to cause significant confusion
- the situation is not common (i.e. it does not seem like Platform Branding Logo will be changed often)

I agree that the missing image placeholder is

[2017-09-27 11:17] brylie commented on #2319
Notes from our meeting with @bajiat, @matleppa, @Nazarah, and @phanimahesh:

# Consistency across features
Wen resolving this issue, we want to be consistent across the followint APInf features:

- API Catalog namespaces
    - e.g. `/user_or_organization_slug/api_slug/`
- Proxies/brokers
    - API Umbrella frontend prefixes
    - eMQ topic prefixes
- Dashboards
    - API Umbrella dashboard
    - e

[2017-09-27 11:18] brylie commented on #2319
Renamed issue and copied discussion notes from #2093.

[2017-09-27 11:29] matleppa opened #2990 "API list title rows - background color needed?"
On dashboard there are presented lists of APIs.

![dashboard_lists_basic.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46ec95892b808ca89ded804fad4ee487164426602007e1673295f127b54778154d555ca9445a5c16a9fddd2ba0e23972835908edd13b5e73903a14bea4905dee5fee7fd616cfe3fe9846d2e9352fe68e8f493b1f04108ef95937a18b06.PNG)

Should the A

[2017-09-27 12:08] #2947 closed

[2017-09-27 12:20] #2959 closed

[2017-09-27 13:01] marla-singer commented on #2990
I think light grey color would be good

[2017-09-27 16:38] #2909 closed

[2017-09-27 21:55] #2956 closed

[2017-09-28 06:55] #2828 closed

[2017-09-28 07:51] Nazarah commented on #2990
@matleppa try with the following colors #e1e1e1 and #f5f5f5 and see which color appears lighter and doesn't make the UI look heavy. use that one.

[2017-09-28 08:35] Nazarah commented on #2847
@marla-singer think about the csv file as an excel sheet
This would include the following columns:
**Date & Time**, **API Request Maker** (username/email), **IP address** where request has been made (if possible), **Response code**, **Response time** (for that particular information), **Additional info** (if exists and can be retrieved from Proxy).
For each API request made, there will be one row

[2017-09-28 09:03] #2966 closed

[2017-09-28 09:33] Nazarah commented on #1243
@brylie request_host and request_ip seem sufficient.
would it be possible to identify the specific user or his/her email if above information is present?
It would be good to identify users who are using APInf proxies to make API calls.

[2017-09-28 09:34] Nazarah commented on #2428
@amardeep-deligence do u wish to open the bug if the issue still exists?

[2017-09-28 09:40] Nazarah commented on #2944
@brylie the info tool beside Add Documentation label already gives information about the file to be swagger json or yaml.
Also the label can be changed as: "**Provide Swagger or OpenAPI Documentation via**"

[2017-09-28 09:46] Nazarah commented on #2550
@amardeep-deligence I would prefer to have a button labeled as "APIs with Documentation" appearing beside My Bookmarks. This is more visible to users. Filtering would require users to discover the functionality that they need to use filters to separate APIs with documentation. While searching for API documents, users would be concentrating search and found more than filtering results.
On clicking

[2017-09-28 10:07] Nazarah commented on #2931
@bajiat originally we were thinking about showing analytics in the API profile itself.
That would be more justifiable to associate analytics related to that API to the specific profile.
However, if we are going to keep the separate page, I vote for @wuder4 's suggestions.

[2017-09-28 10:16] #2805 closed

[2017-09-28 10:44] bajiat commented on #2656
@amardeep-deligence  Is this task in progress? If yes, is there a connected PR?

[2017-09-28 10:57] marla-singer commented on #2848
### Staging
1.Create a new user
2. Open e-mail and click on link
3. Redirect to home page, User is logged in and there displays a message about Verification (as Expected)
![2017-09-28 13-49-47](https://user-images.githubusercontent.com/20643403/30963099-ee01641a-a454-11e7-8988-e9404432d39e.png)

4. Log out and Click on link again
5. Redirect to home page, User is not logged in and there displays a

[2017-09-28 11:12] marla-singer commented on #2976
Tested it on nightly and it was fixed by #2989

[2017-09-28 11:13] bajiat commented on #2976
@marla-singer Thanks for checking.

Closing the issue as resolved.

[2017-09-28 11:13] #2976 closed

[2017-09-28 11:14] bajiat commented on #2627
Closing as wontfix.

[2017-09-28 11:14] #2627 closed

[2017-09-28 11:17] bajiat commented on #2003
Closing, since we are in the progress of implementing the new version/generation of dashboard.

[2017-09-28 11:17] #2003 closed

[2017-09-28 11:29] bajiat commented on #2980
@brylie Should there be a checkpoint for migration? If the code changes existing database collection(s), migration has been written?

[2017-09-28 11:31] bajiat commented on #2912
@Vellames What is the status of this task? Is there a connected PR?

[2017-09-28 11:55] brylie commented on #2980
I added the 'migration' checkpoint to the above checklist.

[2017-09-29 06:45] bajiat commented on #2980
Any comments to the checklist from @marla-singer @matleppa or @mauriciovieira ?

[2017-09-29 07:04] bajiat commented on #2587
Closing this, since this bug concerns the old dashboard.

[2017-09-29 07:04] #2587 closed

[2017-09-29 10:32] bajiat opened #2994 "Notify owner about API feedback"
# Description

API users have an opportunity to provide feedback about individual APIs through the APInf UI. The feedback may also concern errors, feature requests.

API owners should be notified, whenever a user posts a new feedback item. Ideally, the notification could go to the Notification center and to email.

[2017-09-29 10:39] bajiat commented on #222
Closing the issue, since Catalog and Management APIs are already available.

[2017-09-29 10:39] #222 closed

[2017-09-29 10:41] saransh-dev commented on #1422
Hi @brylie @bajiat ,

As I have checked,
1. Administrators can add/edit and delete any API logo.
2. API owner(s) can add/edit and delete the logo for their own API(s).

Both points working well.

Thanks & regards,
@saransh-dev

[2017-09-29 10:58] bajiat opened #2995 "Low fidelity wireframes for eMQ dashboard"
# Description

Create low fidelity wireframes based on user / customer needs for eMQ dashboard
- overview
- details view

Get feedback on the wireframes and make a new version, if needed.

[2017-09-29 12:09] bajiat commented on #1422
@saransh-dev

Did you also check this on the _collection_ permission rules level?

[2017-09-29 12:35] matleppa opened #2998 "REST API: automate testing"
### Description ###
Each REST API has several endpoints and requests sent to those endpoints have several parameters.

When an existing endpoint functionality is changed, whole endpoint functionality needs to be tested in order to be sure, that no unwanted changes occurred.

Testing endpoint's all functionality by hand requires lot of work and is time consuming.

### Solution ###
At the moment the

[2017-09-29 12:37] saransh-dev commented on #1422
@bajiat Yes, I checked it by commenting the some code. Because when i logged with another user, I could not able to see settings tab. So i commented the condition for display the setting tab and click on save button and it shows error on browser console `Access denied`.

[2017-09-29 12:42] brylie commented on #1422
@saransh-dev what file did you comment code in? We are asking specifically about collection allow/deny rules. Did you look at the collection allow/deny rules?

[2017-09-29 12:46] saransh-dev commented on #1422
@brylie , Yes i also checked it in file `permission.js`.

[2017-09-29 12:52] amardeep-deligence commented on #2656
@bajiat I am sorry, I thought this issue was closed, but only the PR was closed because no changes were there. I have raised the PR for this issue.

[2017-09-29 13:02] bajiat commented on #2656
@amardeep-deligence  in the PR please mention "Closes #2656". This links the issue and the PR together If the PR gets merged, the issue is automatically closed.

Linking the issue and the PR also helps us to view them together on our Waffle board.

[2017-09-29 13:16] bajiat commented on #1414
Only administrators and the owner(s)/manager(s) of the API in questions should be able to insert, update and remove the items. Please check this in database permissions.

[2017-09-30 06:29] saransh-dev commented on #2879
Hi

I have submit a feedback on `Geocode API` and it shows `few seconds ago`.

Operating System: MAC OS
Browser: FireFox and Chrome

Please check below screenshot:-
<img width="1280" alt="feedback" src="https://user-images.githubusercontent.com/29011434/31043261-9d86a4ea-a5d6-11e7-9c47-a88a44f42f83.png">

Thanks & Regards,
Saransh

[2017-09-30 09:15] #2656 closed

[2017-09-30 09:47] saransh-dev commented on #1414
Hi @brylie @bajiat ,

I checked the condition "Only administrators and the owner(s)/manager(s) of the API in questions should be able to insert, update and remove the items", it is being fulfilled. I checked in `permission.js` of backlog and there are some functions which take care about `api owner` and `admin`. Then if user either api owner or admin then he/she can able to insert update or remove

[2017-09-30 10:45] amardeep-deligence commented on #2136
Lifecycle status label texts seems fine now,

![apinf lifecycle status readability issue](https://user-images.githubusercontent.com/19850550/31045116-124a5038-a5fa-11e7-8bb4-a7d1f67f1cd5.png)

[2017-09-30 12:26] amardeep-deligence commented on #2550
@Nazarah Yes it seems better. What about showing APIs for more then one Life cycle phase at a time? For that we need to make 'Life Cycle Phases' select-box multi-select right?

[2017-10-01 08:58] #2588 closed

[2017-10-01 09:03] marla-singer commented on #2980
No recommendation from my side

[2017-10-02 07:33] #2946 closed

[2017-10-02 07:43] bajiat opened #3002 "Design Flow API"
# Description

Create the first version of a Swagger file for Flow API. This will allow stakeholders to comment the Api design.

The purpose of the Flow API is to allow customers to use or build their own dashboards based on the analytics data provided by APInf proxy layer.

Publish the Swagger file in the APInf catalog.

[2017-10-02 08:42] bajiat opened #3003 "[production] KPIs not updated to Dashboard overview"
# Steps to reproduce
1. Login to apinf.io (e.g. as admin)
2. Go to dashboard
3. See the overview for APInf Catalog REST API
4. Open the detailed view for the same API and compare

# Expected result
See the same figures for Number of requests, Response time(median) and Users

# Actual result
Overview contains 0 for Number of requests, Response time(median) and Users, while Detailed view shows the a

[2017-10-02 08:55] bajiat commented on #2977
Duplicate of #3003

[2017-10-02 08:57] bajiat commented on #3003
See also #2977 (duplicate)

[2017-10-02 08:57] #2977 closed

[2017-10-02 09:01] brylie commented on #2696
This issue may be a duplicate of #2604. Basically, this is probably a CORS issue, which is related to OPTIONS. However, the `options` discussion may be confusing the issue.

[2017-10-02 09:04] #2955 closed

[2017-10-02 09:44] marla-singer commented on #2990
@Nazarah I've used #f5f5f5 color
![joxi_screenshot_1506937426248.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46e29b822abd90aa9decba4db755ff80161772237f5df07c24d7b57aeb1a394d4d1f0cf31b0d0c00eef39b2ea3b43f22df585fedd7395a76cf3812acb8d41eb857bd25995397f4edd4189fb5646fb2c99d452c1f0c1288fa5d33a99a4ccc50fe43e84847e9.png)

[2017-10-02 09:52] Nazarah commented on #2990
@marla-singer  #f5f5f5 seems the perfect match. Go for it!

[2017-10-02 09:58] Nazarah commented on #3003
![api dashboard](https://user-images.githubusercontent.com/17976243/31072613-3f052008-a771-11e7-88de-d86babc37e54.png)
Just to give the idea about how information for a particular API in Dashboard view looks like while in details view it has data for all charts.
Although not open for the same API, the overview charts don't appear and text "No information available" text appears when clicked on any

[2017-10-02 10:42] bajiat commented on #2696
Why does this break only if API key is enabled?

[2017-10-02 16:42] brylie commented on #2696
You could be describing another issue, related to Swagger UI, but perhaps not the same.

[2017-10-02 16:43] kyyberi commented on #2696
Console does say it tries OPTIONS but it's forbidden. In my case I made sure that CORS is enabled in my FF browser.

<img width="723" alt="screenshot at lokakuuta 01 10-24-53" src="https://user-images.githubusercontent.com/1927158/31088578-cc1fccb2-a7a9-11e7-9fe7-8cade80ee3e0.png">

[2017-10-02 16:50] kyyberi commented on #2696
CORS is supported by all modern browsers, https://en.wikipedia.org/wiki/Cross-origin_resource_sharing

This has been discussed in great length before and all facts point to OPTIONS preflight issue. How big a task is it to implement that feature in one of our APIs and see result?

##Preflight example
<img width="1042" alt="screenshot at lokakuuta 02 19-50-18" src="https://user-images.githubusercont

[2017-10-02 16:56] kyyberi commented on #2696
I'd say this bug is preventing sane usage of our platform regarding API documentation. Having APIs without api_key requirement (+ rate limiting) offers open door to do DOS attack against API. Thus I educate all clients to use api_key requirement for all APIs with GET methods.

Yes, the API works, but documentation is not dynamic and thus breaks developer experience and makes us look unprofessional

[2017-10-02 17:17] kyyberi commented on #2696
<img width="624" alt="screenshot at lokakuuta 02 20-17-19" src="https://user-images.githubusercontent.com/1927158/31089989-bb25e270-a7ae-11e7-8011-4da3641383b6.png">

[2017-10-02 22:00] mauriciovieira commented on #2980
According to https://github.com/blog/2111-issue-and-pull-request-templates, we can just put `PULL_REQUEST_TEMPLATE.md` (and move `CONTRIBUTING.md` to this directory), right? I have small suggestions on Brylie proposal and will send a pull request with the template.

[2017-10-02 23:42] #2937 closed

[2017-10-03 06:31] matleppa commented on #2905
There are different types of error case handling needed.

* in case nothing is gotten from DB
  * perhaps 204 instead of 200
    * GET /users , when list is empty
   * GET /users/{id}
* DB operation check needed
  * POST /users/{id},
    * check create + findOne (if not found, error)
 * PUT /users/{id}

[2017-10-03 09:30] brylie opened #3008 "Add package-lock.json to project"
We need to commit `package-lock.json` to our project, so we can encourage consistent development environments.

# Task
- [ ] commit `package-lock.json` to project

[2017-10-03 09:33] brylie opened #3009 "Move Docker related files into 'CI', or similar, folder"
Our project has several files in the root directory related to 'devops' or 'ci', particularly for Docker. These files are somewhat 'noisy', since most people do not need to see them when browsing the sourcecode or repository.

# Task
- [ ] Move the Docker related files into a sub-folder, so that the root folder has fewer files
- [ ] Update CI and build scripts to use new file path(s)

[2017-10-03 09:36] brylie opened #3010 "Move issue_template.md into .github folder"
The project root folder contains a file called `issue_template.md`, which is used by Github when people create new issues. Github knows to look for this file in a special `.github` directory.

# Task
- [ ] move the `issue_template.md` into the `.github` directory

[2017-10-03 13:07] kyyberi opened #3011 "Median Response Time chart blank for APInf Management REST API"
**Steps to Reproduce**:
1. go to page: https://apinf.io/analytic/Wn7B5BM82gaBcHax5
2. see median response time chart in the middle

**Outcome**:

<img width="1182" alt="screenshot at lokakuuta 03 16-04-42" src="https://user-images.githubusercontent.com/1927158/31126484-95da1562-a854-11e7-89d7-df4e215f1d69.png">

**Expected Behavior**:
Something like what I see with APInf Catalog REST API

<img wid

[2017-10-03 13:32] marla-singer commented on #3011
@kyyberi The value is 0
![2017-10-03 16-30-16](https://user-images.githubusercontent.com/20643403/31127747-5f9df3de-a858-11e7-889b-4e82c21498a6.png)

[2017-10-03 13:49] kyyberi commented on #3011
Ok. Is that true? I have difficulties to believr that everything always is performed under 1 millisecond. If that is the case, it's great.

[2017-10-03 14:00] marla-singer commented on #3011
If value is between 01 and 0.9 then it will round to 0

[2017-10-03 14:04] kyyberi commented on #3011
As acting end user my first impression is that it's broken dispite of the fact that api seems to be blazing fast. Perhaps that should be indicated to end user some other way than chart bar since that does not work in this case.

[2017-10-04 07:10] brylie commented on #2604
@phanimahesh could you describe here what you shared on the chat about CORS, preflight, etc.? That way we have a public record for any developer who takes this task.

[2017-10-04 07:38] brylie commented on #2604
@bajiat please consider cross-posting your questions from chat to this issue, so we can have a record of the discussion in the issue thread. That way we don't need to dig through chat logs to find key information, decisions, etc. related to this issue.

[2017-10-04 08:57] phanimahesh commented on #2604
### References:
 - [Fetch] [Fetch specification.](https://fetch.spec.whatwg.org/) CORS is defined here in [section 3.2](https://fetch.spec.whatwg.org/#http-cors-protocol). This document is _the_ authority on CORS, but may be difficult to follow due to abundance of internal cross references. A pen and paper or equivalent helps in my experience.
 - [MDN] [MDN page on CORS.](https://developer.mozilla

[2017-10-04 09:47] kyyberi opened #3012 "API detailed view errors display lacking reason for failure in non-machine way"
**Steps to Reproduce**:
1. go to page: https://apinf.io/analytic/4LwTBWzA4opGwJEGZ
2. scroll down to Error Statistic

**Outcome**:

<img width="574" alt="screenshot at lokakuuta 04 12-41-26" src="https://user-images.githubusercontent.com/1927158/31169567-b86ee618-a901-11e7-863d-d02e3e6e0918.png">

**Expected Behavior**:

- **Human understandable statement/reason** what happened for example with 40

[2017-10-04 12:33] #2931 closed

[2017-10-04 12:33] #2960 closed

[2017-10-04 12:33] #2990 closed

[2017-10-05 07:06] Nazarah commented on #3012
We need to investigate if the proxy to which API is connected provides readable reasons along with the error codes.
If the information is available, this can be displayed in the UI.
Also the downloadable CSV file can have a separate column for the reasons.

[2017-10-05 07:14] Nazarah commented on #3011
Perhaps a kudos message can be displayed for such APIs? ;)
like "The API responses fast! Good job!"
In color green.
Sometimes positive messages give good experiences to users and urge them to keep up the good work.

[2017-10-05 07:25] Nazarah opened #3014 "arrow for percentage in API Response Time overview graph is displayed wrongly"
![image](https://user-images.githubusercontent.com/17976243/31215001-8e272e00-a9b6-11e7-8bf0-885d00aba7ba.png)

In the above picture, the API appears to have **very low response time**.
It is also 100% lower than the previous 7-days instance.
When an API responses very fast, it is performing well.
So when the response time is lower, there should be **green down arrow** indicating this.

# Cases
1.

[2017-10-05 07:28] Nazarah commented on #3014
@55 @kyyberi  any thoughts about this?

[2017-10-05 07:33] marla-singer commented on #3011
@kyyberi
All endpoint that start from `//apinf/management/api/v1/organizations/*` returns 403 error and these endpoints have Mediam response time as 0ms.
![joxi_screenshot_1507188797832](https://user-images.githubusercontent.com/20643403/31215545-a07182d4-a9b8-11e7-9da4-34f41b94df37.png)

If the response status is 2xx then response time isn't 0
![joxi_screenshot_1507188380457](https://user-images.

[2017-10-05 07:33] 55 commented on #3014
@Nazarah amen to that.

[2017-10-05 08:02] Nazarah commented on #2550
@amardeep-deligence An API can have only one life cycle at a time.
However, in the filter, (for example) if you want to see what APIs are in Production or Deprecated phases at the same time, I suggest to include checkboxes in the filtering option for lifecycle phases.

n.b. sorry for the late response.

[2017-10-05 08:04] Nazarah commented on #2136
@amardeep-deligence to be honest, this looks smaller to me.
Creates difficulty in reading them.
I think we should increase the font size and labels while increasing the sharpness of both of them.
Perhaps crispier.
WHat do you think?

[2017-10-05 09:31] marla-singer opened #3015 "Rest API: Own file for Authentication tag implementation"
REST API Swagger files contain repeated info about `/login, /logout` enpoints. Now the implementation of paths is duplicated in each file.

### Goal
- Create one place to store implementation of Authentication endpoints (login, logout)
- Make it re-usable

[2017-10-05 09:35] fdelavega opened #3016 "Proxy URLs not shown in Catalog API"
**Title**:

Proxy URLs not shown in Catalog API

**Steps to Reproduce**:
1. Create a new API providing the backend URL

<img width="1155" alt="captura de pantalla 2017-10-05 a las 11 19 37" src="https://user-images.githubusercontent.com/2911173/31220496-e94c86ae-a9c0-11e7-8610-5b249d85958d.png">

2. Configure the proxy for securing the API

<img width="1156" alt="captura de pantalla 2017-10-05 a l

[2017-10-05 09:54] #2816 closed

[2017-10-05 09:54] #2986 closed

[2017-10-05 10:16] marla-singer commented on #2456
@bajiat This bug is resolved in a new Dashboard and can be closed
![31215001-8e272e00-a9b6-11e7-8bf0-885d00aba7ba.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46bbc5c872d7d3f9dea4e746f60aa29179166a727006f56621d4e67ff21a79075f4246a4440c5f44adabd82cf4e72e6c981c49b28b380c30d43703a9bd801ced54be748b49d1b3be8349c3e83d73e68cd948

[2017-10-05 10:24] ilarimikkonen opened #3017 "trying to add API but I FAILED"
many many problems

[2017-10-05 10:34] ilarimikkonen commented on #3017
i have a separate doc, tryina addit somehow

[2017-10-05 10:34] Nazarah opened #3018 "Path dropmenu in API Analytics View breaks if value includes path with long lengths"
# Steps to Reproduce

1. login to apinf.io (production) as site admin
2. go to Dashboard and expand row for APInf Management Rest API
3. Click on "Show Details..." in expanded view
3. In analytics page, browse to API Request Timeline

# Outcome

Dropmenu listing paths breaks the GUI as it is not confined within its boundary

![image](https://user-images.githubusercontent.com/17976243/31222957-8985

[2017-10-05 10:36] Nazarah commented on #3017
@ilarimikkonen can you please mention the environment? (nightly, staging or production)
Doesn't seem to be a browser specific problem, but still please include the browser and OS version, as they are standards in our bug reporting process. :)

[2017-10-05 10:54] ilarimikkonen commented on #3017
[complaint_APINGF.zip](https://github.com/apinf/platform/files/1359003/complaint_APINGF.zip)

[2017-10-05 10:54] ilarimikkonen commented on #3017
YES!

[2017-10-05 10:59] Nazarah commented on #3017
Thank you Commadant Lassard!! :D
![image](https://user-images.githubusercontent.com/17976243/31224134-5b5f48f8-a9d5-11e7-85a4-89ce6b0d2e10.png)

[2017-10-05 11:06] Nazarah opened #3019 "Considering showing abbreviated value of API calls"
# Description:

This might be the case that an API has millions of calls everyday.
So it might be helpful to show number of calls in abbreviated values. (e.g. powers of 10)
Also we may need to consider using separators (e.g. coma ,) when showing large numbers.

# User Story:

"As an API manager, I want to see abbreviated values for my APIs that are making a large number of calls everyday."

[2017-10-05 11:07] matleppa opened #3020 "Clarification to the way dashboard calculates traffic by day"
For the discussion.

## Problem
It is not clear, how the traffic data (by days) is (or is wanted to be) presented in Dashboard.

There are two opinions about what one unit (a day) contains or should contain.

### Days are 24 hour periods
According to one view, the Dashboard handles data in 24 hour units starting from the moment when a request was sent.
That way the units are always complete 24 hou

[2017-10-05 11:11] bajiat opened #3021 "Display SaaS pricing information"
# Description
* Users can view the pricing information on apinf.io
* The information needs to be on its own page, not on front page
* The link to the Pricing page needs to be customizable (not available in other deployments than SaaS)
* Any action buttons can be pressed and they will do the expected action.

# Wireframes

1. **New menu on NavBar**
![image](https://user-images.githubusercontent.com

[2017-10-05 11:36] matleppa commented on #3020
@jarkko askeds a question on apinf-community channel.

Could we have a bit different line format (dashed) for the on-going day (from yesterday to this moment) to somehow indicate that it's not "ready". Previous days are fixed, but this day is alive?
![dashboard_timeline.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46ec958

[2017-10-05 11:42] Nazarah opened #3022 "Improving Design of API Cards in Catalog"
# Description

A simple, lightweight and clean design is needed to API cards in API catalog
The intension is to make the most crucial information visible on the UI.
Also we need to think whether actions related to an API cards can be consolidated within a menu

# User Story

"As an API consumer, I want to see the relevant information on an API card, so that I can determine if the API is suitable f

[2017-10-05 11:45] jarkko commented on #3020
Wrong Jarkko :-)

[2017-10-05 12:17] matleppa commented on #3020
Sorry

# Matti

From: "Jarkko Laine" <notifications@github.com>
To: "apinf/platform" <platform@noreply.github.com>
Cc: "Matti Leppänen" <matti.leppanen@apinf.io>, "Author" <author@noreply.github.com>
Sent: Thursday, October 5, 2017 2:45:29 PM
Subject: Re: [apinf/platform] Clarification to the way dashboard calculates traffic (#3020)

Wrong Jarkko :-)

—
You are receiving this because you authored

[2017-10-05 12:19] matleppa opened #3023 "REST API: Missing parameter description in logout endpoint"
## Description
In Catalog API and in Management API there are Logout endpoints.
The requests have mandatory parameters, but they are not properly described in swagger documentation,

### Following parameter definitions are missing:
Parameters
Name	Description
X-User-ID *
string
(header)
X-Auth-Token *
string
(header)

![Logout_parameters.PNG](https://waffleio-direct-uploads-production.s3.amazonaws

[2017-10-05 12:27] Nazarah commented on #2550
@amardeep-deligence added the wireframe. Please check them out.
Please follow the button styling of the existing buttons. (in this case the group of buttons)
This should be applicable to the button for both normal, focused and selected states.

[2017-10-05 12:28] Nazarah commented on #2550
@amardeep-deligence for improving the filtering option, please open a new issue.

[2017-10-05 12:42] bajiat opened #3024 "Re-design ACL rules for eMQ APIs"
# Description
When an MQTT API is connected to a broker, the Proxy tab contains Access Control Rules for publishing and subscribing to this API. There maybe a lot of rules for one API, since there can be many topics per API. Hence, the rules should be re-designed to be more compact or else they will take a lot of space. Also publish and subscribe rules should be separated into different sections.

[2017-10-05 13:14] fdelavega opened #3025 "Access REST API using FIWARE IdM access token"
**Title**:

Access REST API using FIWARE IdM access token

**Description**:

The FIWARE IdM has been integrated as a sign in mechanism within the Apinf portal. Within the FIWARE architecture, components which allow to sign in using the IdM portal and expose a REST API typically allow to make requests using the access tokens generated by the IDM.

This way, users may sign in an application which ma

[2017-10-05 19:03] kyyberi commented on #3025
With APInf Management REST API you can create organisations and manage users. If the level of automation is expected to go further such as adding APIs to the organisation, then you need APInf Catalog REST API. Both use same Restivus in authentication implementation. That should have auth-token based login built-in, which might be used in this case. @matleppa should know more, since he's behind the

[2017-10-06 02:50] mauriciovieira commented on #3025
I believe oauth authentication implemented by https://github.com/apinf/apinf-fiware also allows that.

We got to check the way it's supported by [restivus](https://github.com/kahmali/meteor-restivus), the meteor package APInf Platform uses for REST API implementation.

[2017-10-06 06:48] #2961 closed

[2017-10-06 07:51] Nazarah commented on #3020
@kyyberi would be the actual Jarkko @matleppa :P

That way the units are always complete 24 hour periods.

This is the functionality that I had in my mind when I was designing the overview and API request tiimeline charts.
With the option **Last 24 Hours**, this sound more logical.

[2017-10-06 07:58] Nazarah commented on #3020
One problem can arise from implementing a today line in the same chart it that it can create confusion among users who would get accustomed to render the dashboard and analytics view as Last 24 Hours, Last 7 Days and Last 30 days.
On selecting a specific period, all the lines and graphs get rendered accordingly.
So in such situation, if we introduce a single component indicating it to be a "Today"

[2017-10-06 08:22] Nazarah commented on #2995
From the requirements discussed in HSL meeting, I came up with the following designs.
Also I sent those wireframes for review to the responsible personnel back in HSL.

# Dashboard

1. **Default View**
![image](https://user-images.githubusercontent.com/17976243/31269078-adaea9d4-aa87-11e7-918e-fd4199c0508f.png)

The default view has a table with columns for **MQTT Topic Tree**, **Average Bandwidth

[2017-10-06 08:23] #2791 closed

[2017-10-06 09:58] 55 commented on #2265
@saransh-dev please check mockups section in description and let me know ASAP if you have any questions.

[2017-10-06 10:06] saransh-dev commented on #2265
@55, Do i need to change the UI of feedback? Currently we have following feedback UI.

<img width="1671" alt="feedback" src="https://user-images.githubusercontent.com/29011434/31273389-09109ad4-aaac-11e7-9180-5eae8ddd4c41.png">

Please advise.

[2017-10-06 10:16] 55 commented on #2265
@saransh-dev correct, take a look at mockups in archive I attached.

[2017-10-06 10:21] saransh-dev commented on #2265
@55 Yeah, I have checked it. Ok then i am going to change UI of feedback as you provided.

[2017-10-06 10:26] 55 commented on #2265
@saransh-dev if you have any questions, please don't hesitate to contact me here or in chat.

[2017-10-06 13:39] Nazarah commented on #2995
# Analytics View

![emq3alternative](https://user-images.githubusercontent.com/17976243/31279163-b32efd90-aab0-11e7-8b96-dad4ac15493e.png)

On clicking details for a particular topic tree, the user is redirected to the analytics page for that topic.
The overview charts from the Dashboard view are repeated here.
In Addition, there are timelines charts to see trends of **Bandwidth usage**, **Average

[2017-10-06 13:40] Nazarah commented on #2995
@phanimahesh can you please review the mockups and give me your feedback?
@55 looking for your comments as well.

[2017-10-09 07:23] matleppa opened #3029 "Updates in API Guidelines"
Jarkko provided links to be used as valuable references when developing our own API Guidelines document.

Use common legally used or industry specific (not company specific) words about resources and attributes. Refer to ISO standards as primary source, then use WTO, EU or other trade area specific vocabularies, http://schema.org or industry specific vocabularies for naming. As last resort refer t

[2017-10-09 07:53] #2983 closed

[2017-10-09 08:18] marla-singer commented on #3012
@kyyberi @Nazarah Elasticsearch doesn't store any information about "reasons" or response message.
The list of available fields and values are there http://apinf.org/docs/develop/Integration/Elasticsearch-data-structure/#fields-description

[2017-10-09 08:26] Nazarah opened #3030 "Change page loading animation in APInf to something brand specific"
# Description:

Apart from the general page loading animation used in the platform, APInf itself should have an animation that is specific to the brand itself.
Using a custom animation for page loading promotes the brand.
The usage can be seen in popular platforms like invision.
Customers using the platform for their own specific purpose can use the standard loading icon

# User Story:

As an APIn

[2017-10-09 09:10] Nazarah commented on #2945
@bajiat can u please mention the usecase for this?

[2017-10-09 09:33] 55 commented on #3020
If there is a case for 24h let's just plan it and add.

ping: @marla-singer

[2017-10-09 10:02] saransh-dev commented on #2265
Hi @55 , I have an confusion. Why we need to provide two reply buttons?

![feedback](https://user-images.githubusercontent.com/29011434/31333265-fda97c6c-ad06-11e7-9111-94f87b36e051.png)

Please advise.

[2017-10-09 11:01] wuder4 opened #3031 "Rest-API organization managers don't update to website UI and vice versa"
# Steps
1.Create organization with Rest-API
2.Add manager to that organization
3.Visit new organization as admin
4.Check organization managers

# Expected Result
both platforms show same data.

# Actual Result
Rest-API and website have 2 different databases and only communicate when organization is created.

# Operating system
Windows 8

# Browser
- Google Chrome Version latest

# Screenshot

![re

[2017-10-09 11:03] #2948 closed

[2017-10-09 11:19] wuder4 opened #3032 "You can't remove yourself from organization manager list"
During making issue #3031 I noticed that you cant remove yourself from organizations manager list even if there are other managers in the organization. After consulting with @bajiat and @matleppa we decided to make this issue about this enhancement.

# Screenshot

![rest_api_org2](https://user-images.githubusercontent.com/28555452/31335954-7b64d868-acfd-11e7-9e72-b92992f13267.png)

[2017-10-09 11:35] 55 commented on #2265
1. Second reply is to the comment (reply to the reply). Also there is only one level of nesting, means replies to replies should be on the same level. Reply to the reply has name of the user he replies to.

![feedback](https://user-images.githubusercontent.com/7489044/31336280-cd81f4c2-acfe-11e7-9957-07375f4ef257.png)

2. Use the provided layout, other will inherit current in the future if needed.

[2017-10-09 11:35] phanimahesh commented on #2995
@Nazarah Looks good to me.

[2017-10-09 13:13] matleppa commented on #3023
The header parameters need not to be presented in Parameters section in swagger documents, because Swagger UI has its own way to handle them.
There are buttons with picture of a lock opening an input form which is used to input header parameters.

[2017-10-09 14:52] #3015 closed

[2017-10-09 17:00] kyyberi opened #3035 "Frontpage empty in Ubuntu Firefox 53.0"
**Steps to Reproduce**:
1. go to page: https://apinf.io/

**Outcome**:

Blank page and debugger says:

![kuvakaappaus 2017-10-09 19-56-42](https://user-images.githubusercontent.com/1927158/31349520-409482cc-ad2c-11e7-8afe-4e25e2156204.png)

**Expected Behavior**:

Normal frontpage

**Environment**:

Ubuntu 16.10, FF 53.0

[2017-10-09 17:01] kyyberi commented on #3035
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Stmt_after_return

[2017-10-09 23:52] #2980 closed

[2017-10-10 07:46] matleppa commented on #3031
Could not repeat the problem.

![org_manager.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e7869d1c8f82a78eeeba51e611b2843b492d762a10e17132d0b67aec407e550b5f48f8445a5641fff9897da7b16a778f4e17ff933c0120996048e6edc00db513b821814e80b6bb8c4ec1ea3f23e58a8c5d73.PNG)

Please re-check the test.
E.g. the managerId might erroneous

[2017-10-10 08:21] bajiat commented on #3023
Closing as per suggestion.

[2017-10-10 08:21] #3023 closed

[2017-10-10 09:10] marla-singer commented on #3020
@bajiat @matleppa @Nazarah
I made research about what is timeframe used.

### Date ranges
1. For current period that is displayed in charts
- from: Tue Oct 10 2017 03:00:00 GMT+0300 (MSK) (included parameter)
- to: Wed Oct 11 2017 03:00:00 GMT+0300 (MSK) (excluded parameter)
2. For a previous period that is compared with the current period.
- from: Mon Oct 09 2017 03:00:00 GMT+0300 (MSK) (included

[2017-10-10 10:42] Nazarah commented on #2248
There is a really [good article](https://uxplanet.org/how-to-design-notifications-for-better-ux-6fb0711be54d) in medium to know about Notifications types a the UX we should consider while designing notifications.

[2017-10-10 11:04] Nazarah commented on #3021
based on a discussion with @bajiat, we agreed that the task would involve only placing the pricing layout shown at the front page of APInf platform to a new page.
The page can be accessed from the nav bar.
The existing html editor would be used to customize the pricing information and other clickable actions.
This would remain as it is as long as configurable pricing feature for APInf isn't design

[2017-10-10 11:16] bajiat commented on #3020
@marla-singer In other words the timeframe in UTC is midnight to midnight today? So it is neither last 24 hours or Yesterday?

I would prefer option 2: Change logic to get data for last 24 hours.

The only thing I'm wondering, should the chart then also show if there are peaks of usage within the 24 hours. In other words, should there be a bar or line representing data for every hour or e.g. every

[2017-10-10 11:29] 55 commented on #3021
@Nazarah yes, let's go with it.
For simplicity we just move existing layout to a separate page with minor changes.

[2017-10-10 11:45] bajiat commented on #2945
@Nazarah Exporting and importing the API settings in order to move or copy the API to another APInf instance. Minimizes the need to do manual copy-pasting. This is for the users who are not comfortable with using REST APIs to GET API data and to PUT/POST it with an API.

In order for this to be more useful, we should remove all instance specific data (like API id, manager id or logo image Id) from

[2017-10-10 12:17] Nazarah commented on #3021
@55 added the mockups for the new look.
Please take a look and give your feedback.
Especially to the location of custom html editor and associated functionalities. (4th wireframe)

[2017-10-11 07:04] Nazarah commented on #2995
@55 and I have both agreed to take the ideas presented here for EMQ Dashboard and start making the actual designs. So closing this issue as it has been reviewed.

[2017-10-11 07:04] #2995 closed

[2017-10-11 07:17] Nazarah commented on #3020
@marla-singer I'd prefer to use the logic for getting data in the last 24 hours.

@bajiat I'd recommend using sparklines to show peak usage timing in overview charts.
Sparklines are specifically designed to show peak values or given parameter.
[NVD3](http://nvd3-community.github.io/nvd3/examples/site.html) has such charts in its library.
Also we have seen client's preference to get sparklines to s

[2017-10-11 08:35] marla-singer commented on #2265
@55 @Nazarah
I have a lot of questions about these part

1. What about edit/delete Reply?

2. What about "make all feedbacks public"? The early implementation has logic for that
![joxi_screenshot_1507710205636](https://user-images.githubusercontent.com/20643403/31429418-a70598c0-ae76-11e7-8537-2abc53113436.png)

3. The reply of reply must be as nested element. Because it isn't obvious that it is a

[2017-10-11 08:43] 55 commented on #2265
@marla-singer @saransh-dev sorry for the lack of the description for the provided mockups.
I will add a more prominent description during today. Also, can we move the rest of the discussion to the opened PR? (including your comment)

[2017-10-11 10:43] #2852 closed

[2017-10-11 10:45] bajiat opened #3040 "Manual testing for release 0.51.0"
Test the 0.51.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes, particularly
  * [x] FIWARE sign up / sign in
* [x] Verify enhancements listed in releas

[2017-10-11 10:52] bajiat commented on #3032
Note that the option to delete yourself as the organization manager, is only available, when there is more than one manager, i.e. you are not the only organization manager.

[2017-10-11 11:33] #2930 closed

[2017-10-11 12:00] marla-singer commented on #3014
@Nazarah @bajiat Have to be resolved in 0.51.0 release

[2017-10-12 08:51] saralavanip commented on #2588
@bajiat , verified on staging v 0.51.0 and it is reproducible.

Screenshot:

![multiple_clicks_deleteapi_messages](https://user-images.githubusercontent.com/13309358/31487523-98ed1fba-af43-11e7-9b53-89d77ff9b036.PNG)

[2017-10-12 09:14] saralavanip commented on #3040
Verified  Issues:  #2588 , #2958, #2959

[2017-10-12 16:31] marla-singer commented on #3020
@bajiat As the first step, I display only time with value., look at the median Response time chart (other charts don't work with hour interval, I made test only on one chart)
![joxi_screenshot_1507824827720.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46e29b822abd90aa9decba4db755ff80161772237e5cf17f28d7b47fed12394d4d1f0cf

[2017-10-13 06:45] saralavanip opened #3042 "Navbar: Login platforms option unavailable in drop down menu for admins"
# Steps
1.Visit https://staging.apinf.io  v 0.51.0
2.Login as admin
3.Check the options in drop down menu on navbar

# Findings
-  'Login platforms' option unavailable.
-  Whereas in other  views eg. Branding/Settings/Proxies/Account/Profile show the 'login platform' option in  left side menu bar

# Screenshot
![login_platforms_unavailable_dropdownmenu](https://user-images.githubusercontent.com/13

[2017-10-13 07:24] saralavanip opened #3043 "Dashboard: click on 'Filter' icon not responsive"
# Steps
1.Visit https://staging.apinf.io  v 0.51.0
2.Login as admin
3.Go to Dashboard
4.Select Proxy 'Nightly Umbrella'
5.Click on 'Filter' button

# Findings
Click on 'Filter' icon not responsive.

# Screenshot
![dashboard_filter_unresponsive](https://user-images.githubusercontent.com/13309358/31534674-98915bae-b000-11e7-8d46-908152eec26d.PNG)

[2017-10-13 08:22] Nazarah commented on #3020
@marla-singer nice work with the axis showing time intervals for last 24 hours as well.
Please  show them for the other overview charts as well.
The original idea was to to include time interval when user selects last 24 hours time period.

What do you think about the sparklines?

[2017-10-13 08:25] marla-singer commented on #3020
@Nazarah  Well, sparklines chart doesn't impress me :D

[2017-10-13 08:47] bajiat commented on #3020
For the example chart, I would like to see the entire 24 hours even if there have been no calls at certain points of time. Could we for instance have 2-hour intervals for bars? That way the user always sees the 24 hours in the same way. And they can more easily understand whether the peaks occur during day or evening without staring so closely at the numbers represting the hours.

Also, might make

[2017-10-13 08:50] matleppa commented on #2980
Now, when the CONTRIBUTING.md is moved, perhaps we should also correct the links to point the correct destination.

[2017-10-13 08:53] marla-singer commented on #3020
I googled about sparkline and it doesn't wait to display max and min value.

[Business Analytic site ](http://searchbusinessanalytics.techtarget.com/definition/sparkline)

[Wikipedia ](https://en.wikipedia.org/wiki/Sparkline)

Sparkline chart using Highcharts library. No min or max values on charts and they are so tiny!
https://www.highcharts.com/demo/sparkline

So the main idea of my comment - if

[2017-10-13 12:03] #3032 closed

[2017-10-13 18:34] kaptajnen commented on #3010
Very low hanging indeed :)

[2017-10-16 06:57] bajiat commented on #2848
Closing as per suggestion.

[2017-10-16 06:58] #2848 closed

[2017-10-16 07:15] bajiat opened #3047 "Create a small project with upload images package"
# Description

Create a separate project with the package we use for uploading images outside APInf. Try to create a REST endpoint for that project to upload or edit, delete images.

Precursor and research for #2775, #2774.

[2017-10-16 07:30] bajiat opened #3048 "Research MongoDB encryption and interaction with Meteor"
# Description

##   MongoDB encryption
*  Investigate interaction and configuration options when used with Meteor.

[2017-10-16 07:53] #3010 closed

[2017-10-16 08:17] bajiat commented on #3010
@kaptajnen Thanks for your contribution and interest towards APInf!

[2017-10-16 08:27] anarva opened #3049 "Code review based on Meteor security guidelines"
# Code review
* Get familiar with Meteor security guidelines
* Make a code review e.g. for data insertion, primarily method and publication arguments.

[2017-10-16 08:33] anarva opened #3050 "Prototype client side encryption of Meteor collections"
#  Client side encryption for Meteor collections

* Background: There is a requirement to encrypt personal user data. Encryption should be lightweight and should not create major changes in the current object or data structure.

* Make a small prototype based on the open source module.
           - source code: https://github.com/Planifica/encryption
* Make a recommendation based on research and p

[2017-10-16 10:16] #1414 closed

[2017-10-16 10:30] bajiat commented on #2905
@matleppa What is this line in PUT users/{id}?

Do you mean organization?

[2017-10-16 11:03] wuder4 commented on #3031
Could not repeat at nightly anymore so closing this issue.

[2017-10-16 11:03] #3031 closed

[2017-10-16 11:06] wuder4 opened #3051 "FIWARE login gives internal server error"
# Steps
1.Make FIWARE account at https://account.lab.fiware.org/idm/
2.Login to staging using FIWARE account

# Expected Result
successful login to staging.APInf.io

# Actual Result
After you login to FIWARE and allow access to your account info it redirects you to APInf login and then it gives internal server error.

Same error when you try to register new account.

Also connecting to FIWARE serv

[2017-10-16 12:03] bajiat commented on #2905
@matleppa Other than the previous comment, I'm ok with your proposal. Can you create issues for updating the error responses? After that we can close this issue.

[2017-10-16 12:25] bajiat commented on #2879
Closing, since it was not possible to reproduce the error.

[2017-10-16 12:25] #2879 closed

[2017-10-16 16:27] marla-singer opened #3052 "Dashboard: Change "yesterday" text to relevant value"
Now date range picker on the Dashboard page has the option "Last 24 hours" instead of "Yesterday". The text about trend has still "yesterday" text

![joxi_screenshot_1508168176108](https://user-images.githubusercontent.com/20643403/31623417-0d663d9c-b2a8-11e7-969e-8cfab67c40dc.png)

@bajiat @Nazarah Please write the text is related to "Last 24 hours" for UI
- 0 errors in ???
- 100% higher than???

[2017-10-17 02:20] Vellames opened #3053 "Bug in API's import route"
**Steps**:

1. Create an API called "Import"
2. VIsit the API's page `/apis/import`

**Description**

The system loads the API's import page instead the API page

![import-api-name-error](https://user-images.githubusercontent.com/9345433/31643711-82196f40-b2c8-11e7-8159-ca067a8fda89.png)

**Environment**

- Kubuntu 17.04
- Chrome Version 61.0.3163.79 (Official Build) (64-bit)
- Develop Apinf Branc

[2017-10-17 02:20] Vellames commented on #3053
My suggestion is change the import route to `api/import` instead `apis/import`

[2017-10-17 07:36] marla-singer commented on #2945
@Nazarah @bajiat The wireframe is still not available. The logic of import has done but @Vellames can not finish it w/out wireframes

[2017-10-17 08:34] matleppa commented on #2905
check setting company
Do you mean organization?

This is one of the fields in User's profile. It is name as Company.

[2017-10-17 11:12] #3011 closed

[2017-10-17 11:17] bajiat commented on #2945
@55 Can you take a look at the design, since the logic should now be ready.

[2017-10-17 11:35] 55 commented on #2945
@bajiat @marla-singer I will add those by the end of the day.

[2017-10-17 11:43] bajiat commented on #3052
I would suggest
0 errors in **last 24 hours**
100% higher/lower than **previous 24 hours**

Any comments from @Nazarah or @55 ?

[2017-10-17 13:16] marla-singer opened #3055 "Bad performance of the Dashboard page with big metrics data"
/cc: @bajiat

### Goal:
- Research a possible problem of current situation with Dashboard page and the View Analytic page

[2017-10-17 13:38] matleppa opened #3056 "REST API: DB check, 204 when empty answer"
## Description

When GET method is used and response contains only an empty list, HTTP code 204 must be used instead of 200.

Concerns at least following methods:
    * GET /users , when list is empty
    * GET /users/{id}, when not found
    * GET users/updates, when list is empty
    * GET /apis, when not found
    * GET /organizations, when list is empty

[2017-10-17 13:45] matleppa opened #3057 "REST API: (organizations) verify DB operation outcome before sending response"
## Description

When DB collection content is altered during method call, it must be checked, if the operation was successful before sending response message.

In case operation failed, HTTP code 5xx is used in response message.

At least following methods are concerned:
  * POST /organizations
    * check insert + findOne (if not found, error)
  * PUT /organizations/{id}
    * check update + find

[2017-10-17 13:49] matleppa opened #3058 "REST API: (apis) verify DB operation outcome before sending response"
## Description

When DB collection content is altered during method call, it must be checked, if the operation was successful before sending response message.

In case operation failed, HTTP code 5xx is used in response message.

At least following methods are concerned:
  * POST /apis
    * check insert + findOne (if not found, error)
  * PUT /apis
    * check update + findOne (if not found, erro

[2017-10-17 13:50] matleppa opened #3059 "REST API: (users) verify DB operation outcome before sending response"
## Description

When DB collection content is altered during method call, it must be checked, if the operation was successful before sending response message.

In case operation failed, HTTP code 5xx is used in response message.

At least following methods are concerned:
  * POST /users/{id},
    * check create + findOne (if not found, error)
  * PUT /users/{id}
    * if several parameters given a

[2017-10-17 14:08] 55 commented on #2945
![add-api](https://user-images.githubusercontent.com/7489044/31669414-af23ee08-b35d-11e7-8d4e-681ee72e1d84.png)

Text for subtitles can be checked from @bajiat.

[2017-10-18 08:23] bajiat opened #3060 "Nightly FIWARE registration fails because of email verification"
# Steps to reproduce
1. Create an account to FIWARE Lab: https://account.lab.fiware.org/
Note: Please use an email you are not already using for APInf
2. Go to nightly.apinf.io
3. Press Sign up link
4. Press Register with FIWARE
5. In the Fiware Lab window that open, give your user credentials for FIWARE Lab and authorize APInf

# Expected result
User is registered to APInf and can sign in with th

[2017-10-18 08:39] marla-singer commented on #3055
### Result
Now for getting data it sends one big request to Elasticsearch with a few sub-requests in the request body. After discussion with @shaliko we think up a couple scenarios  how to improve the current situation.

As the first step is to separate one big request to several

1. Table "Errors statistic"
- Make a separate request
- Set the records limit as 6
- Order by data
- Take number of al

[2017-10-18 11:32] anarva commented on #3048
* MongoDB configuration should bind explicitly all known IP addresses of the application servers and should also require authorization:
https://docs.mongodb.com/v3.2/administration/configuration/#configuration-security

* Instructions on how to deploy a MongoDB replica set (multiple servers) with keyfile access control (x.509 certificate for production environment authentication):
https://docs.mon

[2017-10-18 11:48] anarva commented on #3049
* The security checklist: https://guide.meteor.com/security.html#checklist
-- > Going through step2 with the platform project: Errors are thrown when audit-argument-checks module is included.

[2017-10-18 12:23] bajiat opened #3061 "Add API using Swagger file: parse json and yaml"
# User story
As an API owner, I would like to be able to upload or link a Swagger file so that I can add an API to Catalog without manually entering the same data that can already be found from my Swagger file.

# Goal
The goal of this task is to solve basic first steps for adding an API with reading data from Swagger file
* Get familiar with OpenAPI 2.0 specification and understand which fields i

[2017-10-18 12:24] marla-singer commented on #3055
As the second step is to make pre-aggregated data for each day but It will touch some UI changes:

1. Change option of date range picker "Last 24 hours" to "Today". The charts will display data from midnight to current hour.

1. Change UI of Errors statistic table:
- Instead of calls count use relation of success and unsuccess calls
- Rethink about aggregation of one minute. The possible solution

[2017-10-18 13:09] bajiat commented on #3016
If the API owner is using a proxy, they may not even want to disclose the real backend address to any other parties so that direct calls cannot be made. We need to consider thus whether we
* want to include both backend URL and proxy URL
* or only proxy URL
for the APIs that are connected to a proxy.

[2017-10-18 13:19] bajiat commented on #2945
"Manually entering details" could be "Enter API details".

Can we add an 'OR' somewhere between the sections?

[2017-10-18 13:20] bajiat commented on #2945
By the way, has this comment been taken into account in the implementation?

[2017-10-19 11:19] matleppa commented on #2905
Created issues 3056, 3057, 3058 and 3059.

[2017-10-19 11:20] #2905 closed

[2017-10-19 11:54] marla-singer opened #3063 "Reconsider help text for tables "Most frequent users" & "Errors statistic""
In the process of refactoring request to Elasticsearch, I found not matching between the table values and the help text.

### Screen 1
- The actual number of users is 2 but the help text displays info about 4 users

![joxi_screenshot_1508414028243](https://user-images.githubusercontent.com/20643403/31769687-54e2e800-b4dd-11e7-9acb-8470d709b600.png)

### Screen 2
After changes on local environment:

[2017-10-19 23:40] midyan commented on #3060
This might be due to faulty email verification when a new user is created. I will assign myself in this issue and create a PR to submit the bugfix

[2017-10-20 11:02] bajiat opened #3064 "Design REST dashboard changes"
# Description
* API owners should be made aware of the fact that all times shown on the dashboard are server times.
* Unique users chart: figure shown at the top should be changed to Average users, the title of the chart could be API users
* Date picker: Change option of date range picker "Last 24 hours" to "Today". The charts will display data from midnight to current hour.
* Errors table:
  * sh

[2017-10-20 12:00] midyan commented on #3060
After some further checking, I could not reproduce this issue when running platform locally in my computer by running the develop branch. I need someone else to try and reproduce it.

[2017-10-22 09:31] czlowieq opened #3065 "Link to Contributor Guide is broken"
**Steps to Reproduce**:
1. go to page: https://github.com/apinf/platform
2. click Contributor Guide link

**Outcome**:
404 error page is displayed.

**Expected Behavior**:
Contributor guide should be displayed.

[2017-10-23 06:19] bajiat commented on #3060
@midyan Did you enable email in Settings for localhost?

[2017-10-23 06:23] wuder4 commented on #3060
I was able to reproduce this in nightly.

[2017-10-23 06:33] wuder4 opened #3067 "Nightly dashboard overview of "staging" proxy gives error"
# Steps
1.Login to https://nightly.apinf.io as admin
2.Go to dashboard and select staging proxy

# Expected Result
Loads APIs that use this proxy

# Actual Result
gives error headline and tries to give unparsed json object. APIs connected to this proxy still visible here.

Detailed view of the APIs that load throws same error.

# Operating system
Windows 8

# Browser
- Google Chrome Version latest

[2017-10-23 08:37] #3016 closed

[2017-10-23 08:56] wuder4 commented on #3067
Turns out staging proxy is not even supposed to work at nightly and therefore should not be there. So there is no issue here.

[2017-10-23 08:56] #3067 closed

[2017-10-23 09:05] bajiat commented on #3051
@midyan Can you take a look at this error?

[2017-10-23 09:17] wuder4 opened #3068 "Dashboard last 24h chart"
# Issue

How informing is the chart in last 24 hours? There is 1 bar that shows that days calls.

# solution

Would it be possible to show bit more data eg. hours?

# Screenshot

![dashboard_info](https://user-images.githubusercontent.com/28555452/31881484-4ddcee36-b7ec-11e7-89ed-fe128d63e118.png)

I just don't see this as useful data. You could just ignore the chart and read the value above it.

[2017-10-23 16:17] midyan commented on #3060
@bajiat I have not, that's why the login was successful when running on my machine. I have also tried to login on Nightly using the Github and the same bug happens.
I do not believe that an email verification is necessary when registering with a third-party IDM. I will discuss a solution in the PR I have opened, we can continue from there

[2017-10-23 18:19] mauriciovieira commented on #3060
I think it might be related to not associating a new meteor account just like github does. I'll open an alternative PR with my idea.

[2017-10-23 18:22] mauriciovieira commented on #3060
@midyan notice that https://github.com/apinf/platform/blob/develop/apinf_packages/users/server/accounts_hooks.js#L41

 is called because there's no `else` for fiware case yet.

[2017-10-23 18:23] mauriciovieira commented on #3060
I mean

[code]

[2017-10-23 20:29] mauriciovieira commented on #3060
http://www.meteorpedia.com/read/Merging_OAuth_accounts

[2017-10-24 08:09] #3065 closed

[2017-10-24 11:19] bajiat opened #3071 "Dashboard: Break single ElasticSearch query to multiple queries"
# User story
As an API owner or administrator, I do not want to wait for the entire page to load before I can see any data on the dashboard Details view.

# Description
In the current Details view implementation, a single ElasticSearch query for the selected timeframe. This means that data for all charts and figures needs to be returned before anything gets shown on the dashboard. Hence with APIs

[2017-10-24 11:24] bajiat opened #3072 "Dashboard: Store ElasticSearch data periodically in MongoDB"
# User story
As an API owner, I want the dashboard to be performant for an API with large number of calls.

# Description
To make the dashboard views more performant, data from ElasticSearch for one API should be stored periodically in Mongo DB. Any historic data should be available per day. Data for current day could be stored every 10 mins.

Storing the ES data in MongoDB also makes building the

[2017-10-24 11:50] marla-singer commented on #3072
# Possible changes in UI
1. Change option of date range picker "Last 24 hours" to "Today". The charts will display data from midnight to current hour.

1. Change UI of Errors statistic table:
- Instead of calls count use relation of success and unsuccess calls
- Rethink about aggregation of one minute. The possible solution is to get last 6-10 records

3. Rethink about chart Unique users API. With

[2017-10-24 11:54] bajiat commented on #3072
@marla-singer: I created the issue #3064 for @55 earlier

[2017-10-24 11:56] marla-singer commented on #3072
@bajiat What about this point?

[2017-10-24 11:57] matleppa opened #3073 "UI: change title of button "More APIs" to e.g. "All APIs""
## Description

In opening page of APInf there is either view of Featured APIs or view of Latest APIs.

Below them is a button "More APIs".

When button is clicked, the APIs page opens.

### Problem

Semantically the title of button feels not accurate, because clicking it does not add anything in current view, but moves the user to different page, which contains all APIs (, although they might not

[2017-10-24 11:57] marla-singer commented on #3071
# Probably solution
1. Overview charts
- Separate reques to get data for chart and another request to get data about total numbers  (sum requests, general medial time and unique users number)
- Make it reusable for Dashboard page

2. Response status codes
- Make a separate request
- Think about make it reusable for Dashboard page

2. Charts "API Request Timeline" and "API Response time"
- Make a s

[2017-10-24 11:58] marla-singer commented on #3055
Follow up issues #3071 #3072

[2017-10-24 11:59] bajiat commented on #3072
@marla-singer You are correct, the point about changing "last 24 hours" to "today" is missing

[2017-10-24 12:02] bajiat commented on #3064
@55 See also the comments by @marla-singer in #3072

[2017-10-24 19:06] #2786 closed

[2017-10-25 07:43] matleppa commented on #2696
Some testing with Postman and with Swagger.

## Prerequisite
- catalog API
- used proxy API Umbrella
- used proxy base path = https://staging.apinf.io:3002/catalog3/

## Performed CALLs

### Postman

- OPTIONS https://staging.apinf.io:3002/catalog3/apis
  - without API key
    - 403 Forbidden
  - with API key
    - 200 OK (no payload, but HTML page)
Decoded URI: {"meteorRelease":"METEOR@1.5.2","me

[2017-10-25 08:42] phanimahesh commented on #2696
Preflight request ( OPTIONS ) is always made without keys by browsers,
irrespective of the key being present in the actual CORS request.

On Wed 25 Oct, 2017, 13:13 Matti Leppänen, <notifications@github.com> wrote:

[2017-10-25 09:56] matleppa commented on #2696
Here is more conversation about using sub-URL Request settings in API Umbrella to disable API key requirement in OPTIONS call.

https://github.com/NREL/api-umbrella/issues/143

Or do we already have tried this?

[2017-10-25 14:24] saransh-dev commented on #3035
Hi @kyyberi,

I have opened https://apinf.io/ in FireFox and Chrome as well. I was not able to see the error `TypeError: can't convert undefined to object`and page has loaded well.
I have attached of both brower's screenshot below:-

## Chrome:-
### Version:- 62

![screenshot from 2017-10-25 16-38-28](https://user-images.githubusercontent.com/29011434/31995907-f6a41f54-b9a3-11e7-9236-dfcfc12d34c8.

[2017-10-26 00:06] Vellames commented on #2945
Ok

Yes, no problems

[2017-10-26 00:34] Vellames commented on #2945
The import file ask for "name", "description", "url" and "lifecycleStatus". The manager id will be the id of  logged user.

[2017-10-26 00:40] Vellames commented on #2945
![api-import-add](https://user-images.githubusercontent.com/9345433/32029728-bec9cf9c-b9cc-11e7-8fb1-4dd14684eecb.png)

@55 @bajiat
I added the input file here because the user can see and change the import file before effectively import the api.
Looks good?

[2017-10-26 09:00] #2550 closed

[2017-10-26 09:19] marla-singer opened #3074 "[API Analytics view] UI for charts when data isn't available or get error"
## Actual result
Now an Analytic Page is like monolith and all process

If Elasticsearch responses with errors then the page looks:
![joxi_screenshot_1509009559537](https://user-images.githubusercontent.com/20643403/32045043-e8e2a9e0-ba47-11e7-9866-67d807b91543.png)

If no data is available for this timeframe/request path then the page looks:

![joxi_screenshot_1509009462877](https://user-images.g

[2017-10-26 10:07] bajiat opened #3075 "Connect automated Robot tests to Travis CI"
**Description**:

When a PR is merged, it should - as a minimum - not break the most essential use cases for APInf.
Connect the automated end-to-end tests for [Gate 1](https://github.com/apinf/platform/tree/develop/tests/Gate_1) to Travis CI build. If necessary, create seed data, e.g. an admin user. Refer to issue #2671 for more information on the seed data.

**Goal**:
* Each time a Travis build i

[2017-10-26 10:30] bajiat commented on #3068
I agree with @wuder4 that the current day cannot be just one bar. We could consider showing bars for every 2 or 3 hours and then providing the user a possibility to select an even smaller timeframe for viewing.

I checked with a customer and their wish as the smallest timeframe user needs to be able to drill down to is 5 minutes. This does not need to be the default which we are showing on dashboa

[2017-10-26 10:38] bajiat commented on #3063
For the most frequent users (screen 1 and 2) can't we just show only unique users? Why show d.voutova twice for different endpoints? Can we combine the endpoints?

For screen 3, what is the difference between "errors" and "records"?

[2017-10-26 10:44] 55 commented on #2945
@Vellames go with it for now, looks alright.

[2017-10-26 10:46] bajiat commented on #3073
I don't see much of a difference between using "More APIs" or "All APIs" and the user expectation of either staying on the same page or going to another. Besides, user does not see all APIs when they go to catalog, only the first page of catalog.

Closing as 'wontfix'.

[2017-10-26 10:46] #3073 closed

[2017-10-26 10:47] marla-singer commented on #3063
@bajiat And how would look this table if we combine the endpoints?

Look at the table. You can see that the table contains 6 records (rows, lines) but in date range between 3:00 AM - 3:05  AM it was 20+21+27+22+25+25=140 calls with 4XX response status codes. It means it was 140 errors during 5 mins. But the bold text tells you "Show **6** of 16724 errors"
The real number of errors is 140 that is p

[2017-10-26 10:49] bajiat commented on #3055
Closing since follow-up issues have been created.

[2017-10-26 10:49] #3055 closed

[2017-10-26 10:50] bajiat commented on #3052
@marla-singer Do we need a new issue for changing the text as "Today" or can this be captured in any of the existing follow-up tasks?

[2017-10-26 10:55] bajiat commented on #3063
Right, got your point about the "records"

Probably the users should be affected as well. The API owners want to see, which particular users are the most frequent ones, hence we should show a sum for each individual user for the whole API.

Closing as per suggestion.

[2017-10-26 10:55] #3063 closed

[2017-10-26 10:55] bajiat commented on #3043
It is still a placeholder, not implemented yet.

[2017-10-26 11:03] bajiat commented on #3014
@marla-singer Did this get resolved with #2929?

[2017-10-26 11:05] bajiat commented on #3008
@marla-singer @matleppa @anarva Should this be in prioritized backlog?

[2017-10-26 11:06] bajiat commented on #2975
@wuder4 Do you disagree with seeing decimal numbers or with something else?

[2017-10-26 11:07] bajiat commented on #2952
I think the dropdown menu and side menu should be identical.

[2017-10-26 11:08] bajiat commented on #3042
See also #2952.

[2017-10-26 11:09] bajiat commented on #2952
Duplicate of bug report #3042. Closing.

[2017-10-26 11:09] #2952 closed

[2017-10-26 11:10] bajiat commented on #2923
Closing as duplicate.

[2017-10-26 11:10] #2923 closed

[2017-10-26 11:11] bajiat commented on #2935
Closing as wontfix

[2017-10-26 11:11] #2935 closed

[2017-10-26 11:13] bajiat commented on #2912
@Vellames Will this task be completed together with #2945?

[2017-10-26 11:16] bajiat commented on #2830
We do not want to delete the API completely from Umbrella in order not to loose e.g. Analytics. But the calls should not be passed through the proxy any more. To be researched.

[2017-10-26 11:17] bajiat commented on #3053
@marla-singer or @matleppa Any opinions?

[2017-10-26 11:18] #2608 closed

[2017-10-26 11:18] marla-singer commented on #3053
@bajiat API import will remove from `apis/import` route and it will be resolved by #2973 PRs

[2017-10-26 11:20] marla-singer commented on #3008
@bajiat Difficult to answer. I'd say it is not a prioritized backlog because `package-lock.json` needs for npm v5 and more but Meteor.js uses npm v4.

[2017-10-26 11:22] bajiat commented on #3053
@vellames Please add to PR #2973 that it closes also this issue: Closes #...

[2017-10-26 11:22] marla-singer commented on #3052
@bajiat We can extend the exist issue #3068

[2017-10-26 11:26] bajiat commented on #3052
Have added details in #3068. Closing this issue.

[2017-10-26 11:26] #3052 closed

[2017-10-26 11:50] marla-singer commented on #3014
@bajiat Nope. I researched it detailed. It is another bug and it happens when a request path doesn't have calls in the previous period. In this case, median response time was NaN and the current value is 0.

Take it issue in work

[2017-10-26 12:50] matleppa opened #3076 "UI: Restrict length of Organization name in API card"
## Description

In case name of Organization, in which an API is connected, is long, it increases the length of API card, which causes API cards in next line to be shown unevenly.

### Possible solution

Restrict the length of field for Organization name.
- only one line in a field
- or two lines, in which case the height of the field must always be set for two lines

[2017-10-26 12:54] matleppa commented on #3076
See API MPASS.id.
Organization name takes two lines, thus the card length increases, causing next line of APIs to be uneven.

![api_card_height.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e984931c8182bb8bd6b746ad5af8806b0a65633b0ba92e7391a172fd172e535c0d1ba815585910f9fb802ea5b63c268b5b5dead47f4366846c4ff8e7df46f554f832

[2017-10-26 19:42] Vellames commented on #3053
Ok :)

[2017-10-27 06:33] matleppa opened #3077 "Developers need to see logs in real time in servers Nightly and Staging"
## Description

In order to be able to debug, what happens in server, the developers need ability to browse server logs in real time.

### Use case
Developer needs to see, what happens in server, when a HTTP request is sent via a proxy.

In case request is not a simple request, the browser generates an OPTION request.
That can not be seen with browser tools only, but a support on server side is ne

[2017-10-27 12:10] bajiat commented on #2686
I was able to reproduce this in Edge.

[2017-10-27 12:16] bajiat commented on #2612
Is this a fuplicate of #2620?

[2017-10-27 12:31] bajiat commented on #2647
Closing as resolved.

[2017-10-27 12:31] #2647 closed

[2017-10-27 12:32] bajiat commented on #3077
@shaliko Can you please comment this?

[2017-10-27 12:34] bajiat commented on #2727
@phanimahesh Is this a bug or normal behavior?

[2017-10-27 12:43] bajiat commented on #708
Closing the issue as outdated

[2017-10-27 12:43] #708 closed

[2017-10-27 12:44] bajiat commented on #990
We have now implemented "Featured APIs" to the frontpage, which are APIs selected by admins. Will stll keep this as an idea in icebox.

[2017-10-27 12:45] matleppa commented on #2696
### Findings while researching the matter:

Sending GET request with API key.

Without API Umbrella configuration.

![options_no_APIU.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e7848e2a8d8dbab0e7b07c856dd9a16b0a65633b0ba92e7391a172fd172e535c0d1ba815585910f9fb802ea5b63c268b5b5dead47f4366846c4ff8e7df46f554f832815d87b7b6

[2017-10-27 12:51] matleppa commented on #2696
Could the reason for failure be related to headers in response for OPTIONS request?
E.g. Should X-Api-Key be included in headers list in response?

![options_response_suspect.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e7848e2a8d8dbab0fbba50b452fe872c7934663a14a62864c7af6aaf50740b0a0c0abe4b4a5a41fefadb7ea2e23c76de5909e

[2017-10-27 12:55] phanimahesh commented on #2727
It should atleast not show internal server error. Normal behaviour should
be showing an error message.

On Fri 27 Oct, 2017, 18:04 Taija Björklund, <notifications@github.com>
wrote:

[2017-10-27 12:58] phanimahesh commented on #2696
How is the API key sent? If it is sent with X-API-KEY, it should be
included in Access-Control-Allow-Headers.

On Fri 27 Oct, 2017, 18:23 Matti Leppänen, <notifications@github.com> wrote:

[2017-10-27 13:11] #3014 closed

[2017-10-27 14:21] shaliko commented on #3077
@matleppa @bajiat The API-Umbrella docker image does not have the option to fetch logs from standard docker interface. So for able see logs developer need connect to the particular running container and found logs inside it (limitation from API-umbrella side).

[2017-10-30 01:02] Vellames commented on #3053
Done :)

[2017-10-30 06:09] wuder4 commented on #2975
To my knowledge you can not call API 1.5 times its either 1 or 2. So I think showing 1.4 calls should not be a thing.

[2017-10-30 08:05] #3042 closed

[2017-10-30 08:25] bajiat opened #3081 "Logic for filtering dashboard data by user"
# User story
As an API owner I want to see filter dashboard per one API user so that I can see how frequently that user is using my API.
As an API owner I want to see filter dashboard per one API user so that I can see if this user is getting errors.

# Description
API owner should be able to view the dashboard for one single user. In other words the user is one filter for the dashboard. Implement

[2017-10-30 08:35] bajiat commented on #3071
@marla-singer and @55 Can you look at the spinner design together?

[2017-10-30 08:48] matleppa commented on #2696
My current understanding is that the flow is following:
1. operation request sent by Swagger, e.g. GET operation
  - request contains X-Api-Key header, which causes request not to be a simple request, thus triggering browser to send preflight request
2. Browser sends an OPTIONS request, but it does not include X-Api-Key header in it
  - request without X-Api-Key gets normally rejected by API Umbre

[2017-10-30 08:55] bajiat commented on #3081
@55 Please add a link to your document on available ElasticSearch fields

[2017-10-30 09:03] 55 commented on #3081
@bajiat added to the description.

[2017-10-30 09:04] bajiat commented on #3076
We could also consider if we need to use the words "Added by" before the user or organization name.

[2017-10-30 09:06] 55 commented on #3076
@bajiat @matleppa let's remove "Added by" and use same logic as for "API Name" to truncate organisation name.

[2017-10-30 09:07] bajiat commented on #3076
Agree with truncating. Let's restrict the length to one line.

[2017-10-30 10:01] phanimahesh commented on #2696
This is not in our control. Browsers MUST add x-api-key to A-C-R-H in the preflight requesst. nothing needs to be done here.

This is exactly what needs to be done.

[2017-10-30 10:13] phanimahesh commented on #2696
Can we update the sub URL rule for OPTIONS to also modify the response headers?
Get API Umbrella to ADD another header with `Access-Control-Allow-Headers: x-api-key`. This must be added as a new header and must not replace the existing header.

### Reason this will work:

[HTTP RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) says

And Fetch spec [defines the ABNF of A-C-A-H

[2017-10-30 14:17] matleppa commented on #2696
Do the browsers add the x-api-key header into preflight request? I think that they don't, because API Umbrella rejects OPTIONS request, if the API key requirement for OPTIONS is not disabled.

OK, I wrote incompletely at the first place. I meant, that API Umbrella  should add the X-Api-Key header into OPTIONS request conveyed to API.

[2017-10-30 14:40] matleppa commented on #2696
It seems, that we can override the response headers, but not to add something to A-C-A-H of original response.

[2017-10-30 14:45] #2496 closed

[2017-10-30 14:52] matleppa commented on #2696
By setting parameter override_response to value Access-Control-Allow-Headers: x-api-key
all headers in original list are overridden with x-api-keySome  and some requests work, some don't.

[2017-10-30 16:27] #1304 closed

[2017-10-31 00:48] Vellames commented on #2517
I tried to reproduce the steps to get the error, but nothing is shown on my console

[2017-10-31 07:32] kyyberi opened #3084 "Show consumed amount of data per API"
**Data consumption**:

**Description**:
Customer wants to see amount of data consumed by APIs. Of course the field value changed according to selected time period. Perhaps this could be fourth KPI value.

**User Story**:

As an API owner, I want to see how much data has been consumed via my APIs"

[2017-10-31 07:44] kyyberi commented on #3084
@Nazarah @55 Any ideas UX/UI wise where this could go?

[2017-10-31 09:28] anarva commented on #3049
"Security improvements.odt" is now ready for review on separately disclosed location.

[2017-10-31 09:40] anarva commented on #3048
"MongoDB Security and encryption.odt" ready for review on separately disclosed option.

[2017-10-31 09:44] anarva commented on #3050
A server side encryption prototype solution was created, as a client side solution would have required more fundamental changes to the design.

"MongoDB Security and encryption.odt" containing an example of Meteor publication transformations and AES encryption is ready for review on separately disclosed location.

[2017-10-31 11:28] 55 commented on #3084
@kyyberi this may be part of the dashboard. How do plan to get/calculate this data?

[2017-10-31 11:36] kyyberi commented on #3084
We should be able to see the amount of data transferred at proxy level.

[2017-10-31 14:01] phanimahesh commented on #2696
No. OPTIONS request SHOULD NOT carry X-Api-Key or any custom header.

Can we add a second A-C-A-H header with just X-Api-Key or whatever header api choses for its authentication, instead of overriding the existing value?

The root of the problem lies here:

If the API is responding to OPTIONS request, it should look at the value sent in A-C-Request-H and add them all to A-C-Allow-H, or the actual

[2017-10-31 14:01] midyan commented on #3051
I have been looking into this issue for a few days, and PR #3070 should solve it too.

[2017-10-31 15:24] anarva opened #3085 "Apply recommended security enhancements"
**Apply security enhancements recommended in the security guidelines for Meteor**:

"1. Add package to explicitly block XSS and clickjacking attacks "
"2. Disable uncontrolled and free use of profile field assigned by default for each Meteor user"
"3. Limit the login attempts per connection to three per 10 seconds."

**Description**:

By adding browser-policy package, cross site scripting attacks

[2017-11-01 07:05] Nazarah commented on #3084
Agree with @55 about the dashboard part. Perhaps some visualizations as well in the analytics to show consumption against time.
Would API manager/owner be interested in the total amount of the data consumed?
Perhaps as later enhancement, we can consider about user specific statistics.
i.e. showing data consumption information per user of that API.
This would be more beneficial when we think about

[2017-11-01 07:14] Nazarah commented on #1304
@55 sorry for querying in a closed issue, but can u please tell me where this UI exist in APInf? I first thought its the dashboard view, but I was wrong.

[2017-11-01 07:26] 55 commented on #1304
@Nazarah it doesn't anymore.

[2017-11-01 07:28] Nazarah commented on #3076
I actually prefer the idea of restricting the API name in 50 characters. Thing about Twitter where it gives u only 140 characters to express your feelings. Also practically, almost no1 prefers to use long names for anything. Just a thought.
(friendly reference below. :D )
![image](https://user-images.githubusercontent.com/17976243/32264358-0a93ab5e-bee7-11e7-8f05-a41b01735895.png)

[2017-11-01 07:54] Nazarah commented on #3071
@bajiat @55 I had proposed an custom APInf spinner idea in this issue #3030
Could you consider this for our APInf instance?

[2017-11-01 08:55] bajiat commented on #2812
@mauriciovieira Can we close this issue, since we already have the implementation?

[2017-11-01 09:15] Nazarah commented on #990
@bajiat I believe we can still close this issue. Logically admins would consider keeping APIs popular among its consider in the list of Featured APIs. So this would solve the dilemma of keeping a separate section for popular APIs.
Its's a thought. Rest is upto you. :)

[2017-11-01 09:42] matleppa commented on #2696
In current API Umbrella configuration it seems, that it is possible to manipulate response headers (in our case the A-C-A-H) in two ways:
- set default values (not much use, in case API sends some response)
- set override values (in order to work it should be a combination of all headers, that API may respond with and in addition to that, all headers, which the API may include in requests )

I hav

[2017-11-01 10:20] #2265 closed

[2017-11-01 10:50] Nazarah opened #3086 "On clicking Dashboard link twice on Navbar, API statistics disappear. Default text makes appearance instead."
**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io
2. click on Dashboard link on Nav bar.
3. When API statistics appear, reclick on Dashboard menu on Navbar

**Outcome**:

1. API statistics disappear
2. Default text appears on Dashboard view instead. Text doesn't get changed on consecutive clicks on the Dashboard menu
3. Page needs to be reloaded for making the API statistics reappear

[2017-11-01 10:58] Nazarah commented on #3064
@bajiat need clarification for the following things.

Do you mean to show average number of users for specific time period in the overview graph?
If we think about changing the graphs into sparklines (as original design), showing the exact number of users might be more favorable.

[2017-11-01 11:24] kyyberi opened #3087 "Consistently show number of organisations in organisations view"
"Add total number of organisations in parenthesis in organisation view page title element"

**Description**:

In APIs view we have "APIs (163 apis)", to make UX consistent I would like to see same in organisations page where now is "Organizations". It could be "Organizations (12 organizations)"

What is now in organisations page:
<img width="692" alt="screenshot at marraskuuta 01 13-14-52" src="ht

[2017-11-01 12:28] Nazarah commented on #3068
@wuder4 @bajiat
Might be a bit late to comment so as the timeline would be changed from "Last 24 Hours" to "Today".
So Just wanted to point out that if we are measuring upto current time (say it is 8 AM, and the time for todat starts from 12 AM), then we need to make a decision about a suitable hourly interval.
e.g. 12-3-6-9 has three hour intervals within.
So for 8 AM: 12 3 6 8
for 10 AM: 12 3 6

[2017-11-02 06:45] kyyberi commented on #3077
Create generic account in the container for developers to access logs?

[2017-11-02 06:49] kyyberi opened #3088 "Unreachable code after return statement"
**Steps to Reproduce**:
1. go to page: https://apinf.io

**Outcome**:

Page is blank. Nothing is shown. Webconsole says:

<img width="1043" alt="screenshot at marraskuuta 02 08-43-10" src="https://user-images.githubusercontent.com/1927158/32313228-7a572f42-bfaa-11e7-9ded-fd8a9a4f914a.png">

This bug has been verified by clients too.

**Expected Behavior**:

Open and show apinf.io frontpage.

**Env

[2017-11-02 07:09] kyyberi opened #3089 "Swagger UI not able to load"
**Steps to Reproduce**:
1. go to page: https://apinf.io/apis/kunta-api
2. Click documentation tab

**Outcome**:

- Page content is stuck on loading, it never ends.
- Swagger url: https://raw.githubusercontent.com/Metatavu/kunta-api-spec/master/swagger.yaml

<img width="1176" alt="screenshot at marraskuuta 02 09-06-16" src="https://user-images.githubusercontent.com/1927158/32313831-6aefcf48-bfad-11

[2017-11-02 07:13] saransh-dev commented on #3061
Hi @bajiat, I have following confusion:

1. On given example of swagger file, I am able to find the following things for add an api:-
	1.1. Title
	1.2. Description
	1.3. Url

	But I am not getting the value of `Lifecycle status` . So from where I get the value of `Lifecycle status` ?

2. Do I need to validate the yaml or json file like i need to check wither values of info, host, schemes and paths

[2017-11-02 07:24] Nazarah commented on #3061
@saransh-dev Hi. The Lifecycle status is specific only to APInf platform. A Swagger file usually doesn't contain any lifecycle status for an API. Also from APInf's perspective, Life Cycle status is not mandatory for selection while adding an API. So can you please try and see that when an API is added using a swagger file, the variable "Lifecycle" has a null value? would that be a possible solutio

[2017-11-02 07:31] Nazarah commented on #3089
Tested in Windows 8 with Chrome (latest version) browser and was able to reproduce it.
Found the following violation messages in the console view
![swaggeruiload](https://user-images.githubusercontent.com/17976243/32314449-9d16e698-bfb0-11e7-94b7-47c644ceca21.gif)

[2017-11-02 07:32] kyyberi opened #3090 "Unable to disable API-key requirement for API"
**Steps to Reproduce**:
1. go to page: https://apinf.io/apis/apinf-catalog-rest-api-1
2. open proxy tab
3. tick "Disable API key requirement"
4. Click Save

**Outcome**:

Service gives an alert:
<img width="464" alt="screenshot at marraskuuta 02 09-28-57" src="https://user-images.githubusercontent.com/1927158/32314411-754d221c-bfb0-11e7-9823-eed258201175.png">
Nothing else is changed, just ticked

[2017-11-02 07:36] saransh-dev commented on #3061
@Nazarah We can do one thing more, when we are going to upload swagger file at that time we also provide a select field to set life cycle status of an api.
Please advise.

[2017-11-02 07:39] bajiat commented on #3090
@kyyberi This is a bug related to editing the proxy details and saving. Should be resolved in #2950 in [release 0.51.0](https://github.com/apinf/platform/releases/tag/0.51.0).

[2017-11-02 07:39] Nazarah commented on #3061
@saransh-dev The option should be available. However, this shouldn't be mandatory as API owner can leave it out empty or can change it anytime after the API has been added.

[2017-11-02 07:48] kyyberi commented on #3090
When is release 0.51.0 expected to be released?

[2017-11-02 07:55] bajiat commented on #3061
@saransh-dev

You should validate the file, because we need to know if it is valid json or yaml. The idea is to add the information to the fields, but also while adding the API also add the OpenAPI Designer file as documentation to that particular API. You do not need to create the UI for that yet, just find the most appropriate parsing options.

[2017-11-02 08:02] bajiat commented on #3061
Or actually it would be even better to validate if the file is actually a valid Swagger file. You should investigate what are the options to do this: services or packages that can validate Swagger.

[2017-11-02 08:08] marla-singer commented on #3090
@bajiat Yes, agree

[2017-11-02 08:16] kyyberi commented on #3089
Swagger seems to be valid, but....
<img width="1000" alt="screenshot at marraskuuta 02 10-16-33" src="https://user-images.githubusercontent.com/1927158/32315971-f4bd8108-bfb6-11e7-9f75-be3c9aa089e0.png">

[2017-11-02 08:19] kyyberi commented on #3089
Might be related to https://github.com/ebowman/api-first-hand/issues/22

[2017-11-02 08:23] bajiat commented on #3061
This is one potential option, but please explore:
https://www.npmjs.com/package/swagger-express-validator

[2017-11-02 08:32] marla-singer commented on #3089
@kyyberi I fixedit via UI. Don't know what happened but I've got e-mail notification about error on the server side
[code]
 and
[code]

Looks like the Swagger didn't parse the file and fall down with stack overflow

[2017-11-02 08:34] Nazarah commented on #3061
Consider this one as well @saransh-dev
https://github.com/BigstickCarpet/swagger-parser

[2017-11-02 08:45] kyyberi commented on #3089
I'm not able to get it to load.

[2017-11-02 09:02] matleppa commented on #2698
The presence of header X-Api-Key causes CORS preflight request by browser.
That is an OPTIONS request sent to API Umbrella, which rejects it, because it does not contain X-Api-Key header.

Cure: configure API Umbrella to allow OPTIONS request without API key for this API.

[2017-11-02 12:08] saralavanip opened #3091 "Staging: shows empty page in IE and Edge browsers"
# Steps
1.Visit https://staging.apinf.io  v 0.51.0

# Findings
Shows empty page

# Operating system
-  Windows 10  v 1511
-  Windows 10 v 1703

# Browsers
-  Internet Explorer  11
-  Edge   v 25.10586.672.0

[2017-11-02 15:30] saralavanip opened #3092 "Feedback: successful dialog gets misplaced and displayed until next click in Firefox browser"
# Steps
1.Visit https://staging.apinf.io v 0.51.0
2.Login
3.Go to APIs catalog
4.Select any API
5.Click on 'Feedback' tab
6.Fill the form
7.Click on 'Send' button

# Findings
Successful dialog gets misplaced and displayed until next click.

# Operating system
Windows 10

# Browser
Mozilla Firefox v 56.0.2

[2017-11-03 07:47] bajiat commented on #3091
@saralavanip Can you reproduce the error again, go to console and copy-paste what is shown on console? This is potentially related to another error. See: #3088.

[2017-11-03 07:47] bajiat commented on #3088
See also #3091 for IE and Edge empty page on staging.

[2017-11-03 08:14] anarva commented on #3091
Could not reproduce with Firefox v.56 or Chrome v.61 on Linux.

[2017-11-03 08:23] saralavanip commented on #3091
@bajiat , please find the console error message in IE browser screenshot below:

"SCRIPT5007: Array.prototype.toString: 'this' is null or undefined
bundle.js (104,24987)"

Screenshot:

![ie_console_error_message](https://user-images.githubusercontent.com/13309358/32365077-fd01c110-c080-11e7-8e0b-ea2e6b197c57.png)

[2017-11-03 08:57] anarva commented on #3088
Could not reproduce with Firefox v.56 or Chrome v.61 on Linux Ubuntu.

[2017-11-03 09:05] shaliko opened #3094 "Rotate logs for API-Umbrella docker image"
**Rotate logs for API-Umbrella docker image**

We found that API-umbrella docker image not rotate Nginx and other logs, so we need investigate issue.

Api-umbrella version 0.13

Points for start investigation:

- https://github.com/NREL/api-umbrella/blob/master/build/package/files/etc/logrotate.d/api-umbrella
- https://github.com/NREL/api-umbrella/issues/365#issuecomment-300347288

[2017-11-03 09:36] bajiat commented on #3091
I was able to reproduce the empty page problem in IE v. 11.674.15063. Did not get any console error, though.

[2017-11-03 09:51] matleppa commented on #3091
I also was able to reproduce it. IE 11.674.15063.0.
With console error.

![Staging_error_2017-11-03.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46db809b248b8daeb0ecad51ab4fcfc67917703e7855ee7b23c7af6aaf50740b0a0c0abe4b4a5a41fefadb7ea2e23c76de5909e4d46e5f74903c16fabf870da313f871d51bdaebe5c01982fa3737e68c854e3b1e0c1f89fd58

[2017-11-03 10:48] marla-singer opened #3095 "[Dashboard page] UI for charts when data is fetching, isn't available or get error"
## Actual result
Now the Dashboard page is like monolith and all processes depend on one request

- If Elasticsearch data is fetching then the page looks:
![2017-11-03 13-44-33](https://user-images.githubusercontent.com/20643403/32370251-6483897e-c09d-11e7-9095-773cd6b073a8.png)

- If Elasticsearch responses with errors then the page looks:
![joxi_screenshot_1509706041942](https://user-images.gith

[2017-11-03 11:13] bajiat commented on #3091
Same thing for apinf.io in IE: Empty page, zero console errors.

[2017-11-03 11:15] bajiat commented on #3091
Not able to reproduce in Edge.

Microsoft Edge 40.15063.674.0
Microsoft EdgeHTML 15.15063

[2017-11-03 11:43] bajiat commented on #3088
Is this a duplicate of #3035 ?

[2017-11-03 11:48] bajiat commented on #3076
Also something to consider: smaller font in for organization or username?

[2017-11-03 11:54] bajiat commented on #3094
@shaliko How urgently should this be resolved?

[2017-11-03 12:03] 55 commented on #3076
@bajiat looks fine for me.
Also I can create quick right away for this issue.

[2017-11-03 12:13] preriasusi commented on #3091
Windows 10 + Firefox:
<img width="751" alt="apinf io" src="https://user-images.githubusercontent.com/7766712/32373263-1e8441b2-c0a1-11e7-9a7f-897d0ca7f308.png">

[2017-11-03 12:17] #3021 closed

[2017-11-03 12:38] shaliko commented on #3094
@bajiat Chandra will increase disk space, so that will not be so priority next couple of months. But I prefer to debug and fix it during this month.

[2017-11-03 13:13] matleppa commented on #3091
@preriasusi also found this API in API catalog (apinf.io).
It seems, that because the name of API is in Chinese (or Japanese), the generation of slug has failed, thus the link being only https://apinf.io/apis

I wonder, whether these have some connection, because the error message was
Array.prototype.toString: 'this' is null or undefined

![production_error_2017-11-03.PNG](https://waffleio-direct-

[2017-11-03 15:00] kyyberi commented on #3035
Oh well, if it's just me and my ubuntu + firefox, then this is not a problem.

[2017-11-03 15:02] kyyberi commented on #3088
This might be related to FF v 53. Sorry for misleading information in previous issue reporting.

[2017-11-03 15:05] kyyberi commented on #3084
Be prepared that this will come to your desk perhaps pretty soon.

[2017-11-06 08:05] #3076 closed

[2017-11-06 10:13] saransh-dev commented on #2136
@Nazarah, Yes if we increase font size and labels then it will be more readable.

[2017-11-06 11:03] kyyberi commented on #2552
With: https://apinf.io/apis/turku-issue-reporting-api I dont see any mentioned element in source code

<img width="1209" alt="screenshot at marraskuuta 06 13-02-42" src="https://user-images.githubusercontent.com/1927158/32438346-d04c9112-c2f2-11e7-92e2-9ebb5fecd5d1.png">

[2017-11-06 18:17] kyyberi opened #3101 "API view not loading - 特殊天"
**Steps to Reproduce**:
1. go to page: https://apinf.io
2. Scroll down to "Latest APIs"
3. click topic of mysterious "Special day" API (screenshot below)
<img width="482" alt="screenshot at marraskuuta 06 20-10-29" src="https://user-images.githubusercontent.com/1927158/32456722-4190ce7e-c32f-11e7-8137-7311606f651e.png">

**Outcome**:

On click, page goes to https://apinf.io/apis (the link in API c

[2017-11-07 06:57] kyyberi commented on #3089
Problem still exists. This API is going to real use soon in one of our Smart city cases.

[2017-11-07 07:34] kyyberi commented on #3101
<img width="766" alt="screenshot at marraskuuta 07 09-33-45" src="https://user-images.githubusercontent.com/1927158/32482082-ce28f522-c39e-11e7-8530-7a6b7ffa5a34.png">

[2017-11-07 07:39] kyyberi commented on #3101
This might be the answer or direction where to go https://github.com/lovell/limax

[2017-11-07 08:03] matleppa commented on #3101
I guess, that because the name of API is in Chinese, the management system has not been able to form a slug based on name. The link to API from API list consists of front page address + slug. So in this case only the front page address.

[2017-11-07 09:18] preriasusi commented on #2696
@anarva Could you add you're studies about double proxy here

[2017-11-07 09:33] #3003 closed

[2017-11-07 09:33] #3071 closed

[2017-11-07 09:35] anarva commented on #2696
@preriasusi as requested,
[ReverseProxy.pptx](https://github.com/apinf/platform/files/1449386/ReverseProxy.pptx)

[2017-11-07 10:10] Nazarah commented on #2136
@saransh-dev go with it.

[2017-11-07 11:32] 55 commented on #3089
Same thing locally.
I tried via
- file upload
- URL
- converted to JSON

[2017-11-07 13:20] bajiat opened #3103 "Update to Meteor version 1.6.x"
**Description**:

The current Meteor version in use is 1.5.2. Consider updating Meteor to 1.6.x.
Refer to [Announcing Meteor 1.6](https://blog.meteor.com/announcing-meteor-1-6-abf30f29e2c6) for the features, which include npm5 support and reproducible installs (due to package lock) among other things.

The 1.6 release should be backwards compatible, but update will require heavy testing.

[2017-11-07 13:45] matleppa commented on #3091
Now I was able to reproduce the error in localhost.

IE 11.674.15063.0

92 errors.
![IE_empty_page.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46c1b1a5268f93bd96d6af42a358b2d86b56357c2301a03f32dfa17dea1028030a5b1aac470c5a46f5fc8a2ba6e03d77dc5b0effcd7f1d2598694ef1e1c84afd13b0328a478fb7b98b4cc0ee3f27e38287493a0c48.PNG)

[2017-11-07 14:48] matleppa commented on #3101
A work-around: In API name there must be also latin characters.

In following example there are two APIs, one with name with no latin characters and another one with name partially latin characters.

![chinese_api_name.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46eb9c932d8790acb0e8af4a9b53f1992c046b313916ac217586f76ae50

[2017-11-07 14:49] matleppa commented on #3091
In release 0.49.0 there are no errors.

[2017-11-08 07:55] bajiat opened #3104 "GraphQL rate limiting"

[2017-11-08 07:55] bajiat opened #3105 "GraphQL queries on dashboard"

[2017-11-08 07:57] bajiat opened #3106 "Show origin of calls (based on origin header) on dashboard"

[2017-11-08 07:58] ilarimikkonen commented on #3104
from customer: implementation needed from customer to return a header which calculates the cost per request. limit would be set as cost / time unit. limiting math would be number of requests x cost of request  = weight. server has set maximum time limit / request, so it can return some computation results and indicate that some is missing

[2017-11-08 08:10] bajiat opened #3107 "Allow either API key or origin header in API calls"
# Description
At the moment, APInf and API Umbrella expect that there is either a requirement for API keys or the API key requirement is disabled.  Customer requirement is to allow using calls with API keys or with origin header. This means that the proxy should allow either.
Also, the calls with origin header should be shown on the dashboard.

[2017-11-08 08:20] bajiat opened #3108 "[eMQ plugin] Retain messages"

[2017-11-08 08:30] bajiat opened #3109 "eMQ dashboard"
parent of #3149

[2017-11-08 12:35] 55 commented on #3089
Used URL https://raw.githubusercontent.com/Metatavu/kunta-api-spec/master/swagger.yaml @ http://petstore.swagger.io/. Perfectly works.

[2017-11-08 15:23] kyyberi opened #3110 "Automatically add platform APIs to catalog in installation"
**Description**:

When installing APInf platform it should automatically have platform APIs in catalog (and openapi specs in APIs + connected to REST proxy). That would make the package more complite and in the initial view there would be some APIs. Those APIs should be perfect in every way to set the standard for others to follow. APIs should be under APInf organisation.

**User Story**:

"As an

[2017-11-08 15:30] kyyberi commented on #3101
Nice work around but not something we can require from clients :)

[2017-11-08 15:44] kyyberi commented on #3110
I assume that this could be achieved as post installation operation via APIs which I assume are in place even though they are not listed in API portal

[2017-11-08 15:46] kyyberi commented on #3110
Something like that https://seinajoki.apinf.io/organizations/apinf

[2017-11-08 17:58] kyyberi opened #3111 "Unreadable time label in organization card (in Finnish)"
**Steps to Reproduce**:
1. go to page: https://seinajoki.apinf.io/organizations
2. In the footer change language to Finnnish.
3. Look at APInf organization card "Lisätty"

**Outcome**:

<img width="316" alt="screenshot at marraskuuta 08 19-53-34" src="https://user-images.githubusercontent.com/1927158/32565151-e6e741b0-c4be-11e7-9191-b8e87a753742.png">

**Expected Behavior**:

Show when it was adde

[2017-11-08 19:23] kyyberi opened #3112 "Misplaced ":"s and wrong translations in footer"
**Steps to Reproduce**:
1. go to page: https://seinajoki.apinf.io/
2. scroll down to footer

**Outcome**:

In Finnish lang version, the ":"s are in wrong place and the translations are not right.

<img width="1113" alt="screenshot at marraskuuta 08 21-17-04" src="https://user-images.githubusercontent.com/1927158/32569718-91ccd062-c4ca-11e7-8ac3-6ae61a0f2f09.png">

**Expected Behavior**:

Correct w

[2017-11-08 19:31] kyyberi commented on #2925
I would prefer to use "analytics" not singular

[2017-11-08 19:38] kyyberi opened #3113 "No notifications of save status in organization view"
**Steps to Reproduce**:
1. go to page: https://apinf.io/organizations/apinf
2. open settings tab.
3. Change for example name field
4. Click save

**Outcome**:
Normally users are shown if the save was success or not by showing green or red box at right bottom corner. Now that is not happening. User has no idea, did the save happen or not.

**Expected Behavior**:

Show normal green (success)/red(fai

[2017-11-08 20:06] kyyberi commented on #3089
@55 that was the message from client as well.

[2017-11-09 08:13] bajiat opened #3114 "Research origin header and Graph QL support in API Umbrella"
See issues #3107, #3106, #3105, #3104 for the related needs.

# Research options
- Check and try out the API Umbrella admin UI
- See related API Umbrella issues
- Check the code

Document the findings.

[2017-11-09 08:22] bajiat opened #3115 "Options for dashboard performance improvements"

[2017-11-09 09:22] kyyberi opened #3117 "Provide history view for changes in API profile"
**Description**:

This is partially related to API versioning but that's another EPIC. Providing history view of changes done to API profile is valuable information when evaluating API. It's also good information for consumers.

## Examples of content

The history would contain information about the changes. Here's a few examples:
- Every time API name has changed.
- Every time when description ha

[2017-11-09 09:40] kyyberi opened #3118 "Enable showing API analytics dashboard publicly"
**Description**:

Customer who has dedicated installation wants to show API performace / dashboard publicly to consumers. Add option per API to show dashboard to API consumers. If that is enabled, add link from API profile to dashboard. Default period to see is week.

**User Story**:

"As an API owner, I want API consumers to see dashboard for my APIs. I must be able to control which APIs performa

[2017-11-09 09:40] kyyberi commented on #3118
This has been discussed earlier and now it came from client as a requirement

[2017-11-09 11:01] matleppa opened #3119 "Exceptions with API 24Rent-yhteiskäyttöautot in apinf.io."
## Description
In apinf.io there is an API named 24Rent-yhteiskäyttöautot.

When hovering over it, the link seems to be OK (https://apinf.io/apis/24rent-yhteiskayttoautot).

However, when API card is tried to open, the spinner flashed in and out, but only a blank screen appears.

### Environments
Win 10

Chrome 61.0.3163.100
Microsoft Edge 40.15063.674.0
Firefox 56.0.2

### Also exceptions appear

[2017-11-09 11:43] deligence-dharmendra commented on #2591
Hi, @matleppa
we need to add new field "siteWindowTitle, to contain the text for browser tab and existing site title contain the text for branding slogan. i'm right?

[2017-11-09 11:53] deligence-dharmendra commented on #2591
Hi, @matleppa
Please ignore (upper) first comment. we need to add new field "siteWindowTitle, to contain the text for browser tab and existing site title contain the text for branding site title. i'm right?

[2017-11-09 11:58] 55 commented on #2591
@deligence-dharmendra window title should consist of siteTile + pageTitle (which is unique to every page: API Name, Settings, Branding, API Catalog etc.). No need for new field at Branding.

[2017-11-09 12:14] deligence-dharmendra commented on #2900
Hi @marla-singer @Nazarah
Dashboard link does not showing in my local environment, which branch we need to take pull request.Please advise.

[2017-11-09 12:54] deligence-dharmendra commented on #2591
Hi @55
Currently browser tab title and branding site title value comes from the same field "branding site tile",
if we don't add new field for browser tab title and only concatenate page title value with site tile then.
branding title would be appears like-> "Get control of your digital resources"
and browser tab would be appears like  -> "Get control of your digital resources Branding"
Please adv

[2017-11-09 16:24] kyyberi opened #3120 "Version management"
**Description**:

APIs have versions. Now we dont have any kind of version management. Swagger files require version information and that should be used here too. API datamodel needs version attribute and valid until attribute (date given by API admin and indicates when API is going to be deprecated).

## Add new version

Adding new version for API starts from API detailed view, not from top menu.

[2017-11-09 18:08] kyyberi opened #3121 "Reload charts automatically in analytics page"
**Description**:

In Dashboard, the charts should automatically update content. Period in which update occurs could be fixed and perhaps every 10-15 minutes. Add item in dashboard which shows time left until the next update moment (count down).

**User Story**:

"As an API owner, I want to use dashboard as a page to show in screen and see statistics updated without user intervention"

[2017-11-09 18:11] kyyberi opened #3122 "Fullscreen view for dashboard"
**Description**:

Dashboard is used in development teams to monitor given API. For that purpose fullscreen mode is needed. Every other item from UI should be hidden and dashboard should fill the whole screen.

**User Story**:

"As an API owner, I need want to see dashboard in fullscreen to use it in monitor model to have nice overview of the performance of selected API"

[2017-11-09 18:30] kyyberi opened #3123 "Open wanted tab in API view from url"
**Description**:

Now it's impossible to direct user to wanted tab in API view. Often it would be usefull if url would open for example documentation tab instead of details tab (which is always opened). Same applies to if I want to direct users directly to feedback tab.

Example call as one url: https://apinf.io/apis/apinf-analytics-api#api-feedback would open the API view and feedback tab.

**Use

[2017-11-10 07:01] kyyberi commented on #3121
If I understood correctly, in the next release dashboard chart queries are separate and thus it could be easy to add timer to reload charts again after given period of time.

[2017-11-10 08:14] Nazarah commented on #3123
@kyyberi Could you please give us usecases for this enhancement?
And if this feature is implemented, do you want it to be defined while adding an API to the platform?
Also would this be also applicable for API consumers? (e.g. if selected Feedback tab, users are redirected to the feedback section of the API profile?)

I am just guessing a possible confusion that might be appear among users. On nav

[2017-11-10 08:38] 55 commented on #3123
@kyyberi this issue will be closed by already planned removal of current way of navigation.
New navigation will include URLs to navigate within the API Page.

[2017-11-10 08:46] 55 commented on #2591
@deligence-dharmendra you are talking about `siteSlogan`.

My suggestion is to construct window title from `siteTitle`, which usually an application name (APInf) + `pageTitle` (API Name, Settings, Branding, API Catalog etc.).

Final title will be: **APInf - Branding** or **APInf - API Catalog** etc.

[2017-11-10 09:28] #2850 closed

[2017-11-10 10:52] kyyberi opened #3127 "Branding - configuration to set menu item color"
**Description**:

In branding there has to be way to set color of the menu items text. Now it's controlled by platform and stops doing branding in desired style. Putting white/light grey primary color results to situation that menu items are not seen/visible enough.

<img width="1224" alt="screenshot at marraskuuta 10 12-51-39" src="https://user-images.githubusercontent.com/1927158/32655361-ed2e78

[2017-11-10 10:56] kyyberi commented on #3123
API owners want to share URLs to their APIs in various places. In some cases they want user to access documentation directly without writing instructions like:
- Open page
- select "Documentation" tab.

[2017-11-10 10:57] kyyberi commented on #3123
As an example I would have liked to share direct url to documentation of Analytics API in here: https://medium.com/apinf/apinf-analytics-rest-api-design-looking-for-review-ce767339d6e9

[2017-11-10 11:22] kyyberi commented on #3127
Another usefull setting would be ability to define transparency of the top menu background

[2017-11-10 13:34] anarva commented on #2696
I played with the Api-Proxy source code and made a quick and dirty fix to append a Access-Control-Allow-header to all responses of the proxy. The change was made to the file "api-umbrella/src/api-umbrella/proxy/middlewarerewrite_response.lua".

I will need some help in configuring and testing the modified Api-Proxy Docker container to see if the solution works or not.

[2017-11-13 07:39] Nazarah commented on #3091
Suggestion 1: update meteor to 1.6 to release 51 to see if the problem goes away.
Suggestion 2: isolate this problem from development branch and make a release 51 if the problem takes too much time to solve

[2017-11-13 07:45] Nazarah commented on #2774
@marla-singer is it ready for review or do you wish to reestimate the issue?

[2017-11-13 07:49] Nazarah commented on #3020
@marla-singer has there been any decision made about it?
@preriasusi would you like to make a new feature request regarding to this issue?

[2017-11-13 07:50] Nazarah commented on #3040
@saralavanip what is the status of this task?

[2017-11-13 08:01] marla-singer commented on #2774
@Nazarah Came back from vacation and gonna finish it today

[2017-11-13 08:03] Nazarah commented on #3115
@marla-singer would you like to co-pilot with @anarva  in this issue? Please estimate this together.

[2017-11-13 08:04] Nazarah commented on #3072
@marla-singer would you like to take this issue? if so, please estimate.

[2017-11-13 08:04] marla-singer commented on #3020
@Nazarah We should close this issue. Look at #3064 in the description box --

[2017-11-13 08:05] marla-singer commented on #3115
@Nazarah Okay

[2017-11-13 08:08] marla-singer commented on #3072
@Nazarah I strong recommend to not start this task before #3064 will not resolve. Because the questions about Errors table and total number of Unique users still haven't done and this point has stopped.

[2017-11-13 08:14] Nazarah commented on #2698
@mauriciovieira could you please co-pilot this with @anarva ?
Also please discuss with @preriasusi about the solution.

[2017-11-13 08:15] #3112 closed

[2017-11-13 08:16] Nazarah commented on #2552
@saransh-dev would you like to take this issue?

[2017-11-13 08:19] Nazarah commented on #3068
Feedback from @55
The look and feel of the charts would change soon. So this would resolve this issue.

[2017-11-13 08:21] #3113 closed

[2017-11-13 08:21] Nazarah commented on #2604
@mauriciovieira can you please estimate this task?

[2017-11-13 08:23] Nazarah commented on #2917
@matleppa can you please check if the issue still exists?

[2017-11-13 08:24] #2542 closed

[2017-11-13 08:25] Nazarah commented on #2804
@shaliko what is the status of this task?

[2017-11-13 08:27] shaliko commented on #2804
@Nazarah Not yet started to work on it, will try today or tomorrow.

[2017-11-13 08:37] Nazarah commented on #3020
closing this issue as it would be fixed in #3064

[2017-11-13 08:37] #3020 closed

[2017-11-13 09:18] #2136 closed

[2017-11-13 11:29] Nazarah commented on #3118
From settings tab in API profile, a check can be kept to make Dashboard for the API public.
I have one question.
Would consumers be able to see the public dashboard only if they log in to the platform?

[2017-11-13 11:40] matleppa commented on #3091
Researching suggestion 1. (update Meteor 1.6 to release 0.51.0)
- checked out release 0.51.0 (errors)
- upgrading Meteor to 1.6 (in Windows)
  - requires new installer chocolatey
    - installed (slowly, success on second time)
  - installing Meteor
    - recommends installing a new version of Mongo database engine
    - slowly, lots of error -4048 (operation not permitted)
    - going on...

[2017-11-13 11:45] Nazarah commented on #2943
@Vellames what is the status of this issue? It has been in Progress for 2 months.

[2017-11-13 11:46] Nazarah commented on #2396
@Vellames what is the status for this issue? It has been in Progress for 2 months.

[2017-11-13 11:47] Nazarah commented on #2863
@midyan What is the status of this issue? Is it ready for review?

[2017-11-13 11:54] midyan commented on #2863
@Nazarah It shall be ready by tomorrow. I'm finishing it up today

[2017-11-13 12:31] marla-singer commented on #3072
But I think I can start with other charts maybe during my work these items will be resolved or discussed.

@anarva Can you please provide links to your changes and related task that you were working on?

[2017-11-13 12:53] anarva commented on #3072
@marla-singer  I will provide this by the end of business today. Still working on it.

[2017-11-13 20:33] ccsr commented on #2811
Lets postpone this as we have quite a many burning issues. Please put it in Icebox

[2017-11-13 20:35] ccsr commented on #2811
Moved to Icebox

[2017-11-14 07:13] saralavanip commented on #3040
@Nazarah , completed task, will create PR for test case document tomorrow. We can close this issue.Thanks!

[2017-11-14 07:34] deligence-dharmendra commented on #2358
Hi @Nazarah
I have gone through the existing code and functionality , There is no rules define for cover photo max size,
Please advise me.

[2017-11-14 07:35] matleppa commented on #3091
2017-11-14

Cont'd

Reinstalling ShareJS: meteor add mizzao:sharejs, meteor add  mizzao:sharejs-ace
- stilll: ReferenceError: ShareJS is not defined

While installation (in this case $ meteor npm install --save bcrypt), an error message "error MSB4019: The imported pr
oject "C:\Microsoft.Cpp.Default.props" was not found"

[2017-11-14 07:51] #2945 closed

[2017-11-14 08:55] Nazarah commented on #2358
@deligence-dharmendra after consulting to @matleppa I suggest you two try out the following:

1. create a new field defining max limit of cover image under the schema for Branding DB.
The field type would be integer and field value would be the maximum size of the cover image allowed to be uploaded. This option would allow site admin to configure the value from the Branding page.

Or,

2. The maxi

[2017-11-14 09:01] Nazarah commented on #2358
@deligence-dharmendra can you please also investigate another issue? I am trying to upload a .jpg image with size 5.9 MB. In Branding schema, .jpg extension is in the allowed type for cover image. However, I am unable to upload the file and s-alert tells only .jpg, .png and another extension is supported.
I am adding the GIF file here.
If you want, I can open another issue.
![tuxntqfeg4](https://u

[2017-11-14 09:02] Nazarah commented on #3040
Closing the issue as per your suggestion. Great work. Thanks. :)

[2017-11-14 09:02] #3040 closed

[2017-11-14 09:13] Nazarah commented on #3114
@preriasusi would you please reconsider putting it into prioritized backlog?
Team has their hands filled with tasks in In progress and  Planning column.

[2017-11-14 09:13] marla-singer commented on #2358
@Nazarah The last gif doesn't relate to image size. I think the problem is in extension (as the alert message says). Maybe your picture has extension as JPG or JPEG but the code expectes `jpg` or `jpeg`. JPG isn't the same as 'jpg' and JPEG isn't the same as 'jpeg'
That's all

[2017-11-14 09:17] Nazarah commented on #2358
@marla-singer would you consider adding the additional extensions JPG and JPEG in the CoverImageField?
I am thinking the scenario that Site admin might get confused with the case sensitivity of the extensions and can assume s/he can upload supported extensions regardless their case (jpg or JPG and jpeg or JPEG).

[2017-11-14 09:20] marla-singer commented on #2358
Yes, kind of. Need to improve our function that checks a file extension. I will open an issue and fix it during today.

What about max size of picture. My opinion is to start from the easy way and I pick the second point and realise **"Add help text close to cover photo field indicating max size and supported format"**

[2017-11-14 09:43] marla-singer opened #3129 "Function fileNameEndsWith must be case insensitive"
The function `fileNameEndsWith` must be case insensitive of provided file extension.

It will cover cases when a user try to upload an image with extension JPEG but it doesn't allow because the function expects `jpeg` extension.

![tuxntqfeg4](https://user-images.githubusercontent.com/17976243/32771372-249d795a-c92b-11e7-9e9b-7a3dcfa74f5c.gif)

[2017-11-14 10:23] deligence-dharmendra commented on #2358
Hi @marla-singer, @Nazarah
I have assign the max file size 10 mb  hard coded value.is it ok?

[2017-11-14 10:45] Nazarah commented on #2358
@deligence-dharmendra good job! Lets go with this for the time being. Also please consider showing an alert if user still uploads a a file bigger than 10 MB despite the help text telling otherwise.
@marla-singer thanks for your feedback.

[2017-11-14 11:47] Nazarah opened #3132 "Usability issue in feedback functionality for anonymous user"
**Description**:

Right now, on browsing feedback tab in an API profile, an anonymous user (not logged into the platform) doesn't get to see any option to add Feedback for an API.
This is crucial if an API developer is requesting from her/his potential consumers for backlog requirements or feedback about the documentation on an API s/he is designing.
1st time visitors would leave without giving an

[2017-11-14 12:26] deligence-dharmendra commented on #3129
Hi @marla-singer
you are working on this issue or i will work on it?

[2017-11-14 12:37] marla-singer commented on #3129
@deligence-dharmendra I completed this task. It is waiting for review

[2017-11-14 14:24] anarva commented on #3081
Q: How to filter single API data per API consumer (= API key) from ElasticSearch?
A: Use the e-mail connected to the registered developer. This is recorded on each event.
Q: How select a user either by username or email. API keys should not be disclosed.
A: Remove confidential user data when moving the data to MongoDB.

Scenario: "Move or replicate all metrics/dasboard related data to MongoDB"

Re

[2017-11-15 08:12] kyyberi commented on #3118
That's a good question. It's another step for consumers to do. Is there a reason for that? Of course it could be that without login you see only KPI and with login you see more.

[2017-11-15 08:41] #3087 closed

[2017-11-15 11:03] #2774 closed

[2017-11-15 13:21] preriasusi commented on #2912
@Vellames ping

[2017-11-15 13:32] preriasusi commented on #2379
already implemented on nightly. Seems to be solved this issue.

[2017-11-15 13:32] #2379 closed

[2017-11-15 13:34] preriasusi commented on #2758
@Nazarah Did you manage to catch stakeholder's
 feelings?

[2017-11-16 07:14] Nazarah commented on #2758
@preriasusi we can go with options for sorting with API names.
Here two options should be available in the sorting dropmenu:
Name (A - Z)
Name (Z - A)

[2017-11-16 07:24] Nazarah commented on #3118
I can assume this scenario that without logging into the platform, the consumers would be able to see the KPIs on the dashboard view when the dashboard is made public.
Upon logging in, consumers can access the detailed view of that API.
Would this suffice?

[2017-11-16 07:54] marla-singer commented on #3061
@Nazarah @saransh-dev
The project already has the library to parse swagger file
https://github.com/apinf/platform/blob/develop/package.json#L38

And the method about parsing exists as well
https://github.com/apinf/platform/blob/914cddea9b0e4c0e67cd9f12a862ba3601020b3c/apinf_packages/api_docs/server/methods/swagger.js#L17-L19

cc:/ @preriasusi

[2017-11-16 08:02] Nazarah commented on #3061
@marla-singer we are good to go if the library can validate if the swagger or open api file is json or yaml, yml format.

[2017-11-16 08:50] 55 commented on #3132
@Nazarah please check the latest develop (nightly.apinf.io) for the new look of feedbacks.
Update description's screenshot or close this issue if necessary.

[2017-11-16 09:08] marla-singer commented on #3061
The function checks if the provided file is valid with OpenAPI specification. It does more that check if a file json or yaml

[2017-11-16 13:08] matleppa commented on #3091
2017-11-16

### Continuing again
- checkout for release 0.51.0
- Meteor upgrade to 1.6

[2017-11-17 07:51] matleppa commented on #3091
2017-11-17

### What about downgrading Meteor version?
$ meteor --release 1.4.4.3

[2017-11-17 07:52] preriasusi commented on #3094
@shaliko According to Chandra, adding sic space does not help. Do we need to get logs rotating? Or is there something else?

[2017-11-17 10:41] Nazarah commented on #3132
@55 I am changing the screenshots in the issue, but the task description would remain pretty much the same. The quick fix could be to simply make the Send Feedback button even if user is not logged in to the platform. On clicking, a simple dialog would appear to sign in/sign up to the platform to provide feedback to the API.

[2017-11-17 10:52] Nazarah opened #3135 "Lifecycle label on API profile has no right padding"
**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io
2. go to API catalog
3. Click on an API card that has a lifecycle phase associated.
4. Observe the lifecycle phase label in the API profile

**Outcome**:
No right padding appears in the lifecycle phase label
![image](https://user-images.githubusercontent.com/17976243/32943811-0b383870-cb96-11e7-92f7-c1740d3c5248.png)

**Expected Behav

[2017-11-17 13:16] deligence-dharmendra commented on #2727
Hi @marla-singer @matleppa
I'm getting exception at the time of adding emo user.
[code]

[2017-11-19 16:40] midyan opened #3136 "Refactor ratings package to allow unit-testing"
## **Description**:

Test coverage of the Platform needs to be increased. I will refactor the *ratings* package to allow it to be tested properly.

At this point, rewriting the codebase is not practical. My solution will only need a small refactoring of how the functions are declared so they can have isolated scopes and can be tested outside the Meteor environment.

## **Please note**

This is an

[2017-11-20 07:49] marla-singer commented on #3061
@Nazarah I'm wondering why this task doesn't have any wireframe for developer? :thinking:

[2017-11-21 07:19] matleppa commented on #3091
2017-11-21

### Struggle agains Meteor continues
- Could not get Meteor to start yesterday. Perhaps the folder path has become too deep while unistalling and reinstalling?

[2017-11-21 07:33] deligence-dharmendra commented on #3135
Hi @Nazarah,
Can you more describe about the below topic.

Fields should indicate if they are mandatory with * sign.
Alert for related field should appear if they are left empty.
Page reload should not be possible if mandatory fields are left empty.

[2017-11-21 08:03] #3086 closed

[2017-11-21 08:03] #3129 closed

[2017-11-21 11:14] #2913 closed

[2017-11-21 11:53] marla-singer opened #3139 "[ API Profile ] After updating value of API it redirects to API catalog"
### Steps
1. Create an API or go to existing API
2. Navigate to Settings tab
3. Change Lifecycle status, description or URL value (but not Name parameter)
4. Click on the button "Save"

### Expected result
- API profile information is updated and the API Profile page is still open
- No errors

### Actual result
- Error on the server side
[code]
- Redirect to API Catalog

[2017-11-21 13:22] Nazarah commented on #3135
@deligence-dharmendra my mistake.
This was part of another issue.
I am changing the description.
Thanks for noticiing.

[2017-11-21 13:31] Nazarah commented on #3061
I'll work on th the wireframe and make it available by tomorrow.

[2017-11-21 13:42] deligence-dharmendra commented on #2949
Hi @matleppa,
api next and prev button behavior depends on api created date or its depend on client side  api sort by.

Please advise.

[2017-11-21 13:44] marla-singer commented on #3061
@Nazarah The task is in process and the developer has implemented some UI. Maybe it will helpful for you. This is "Add an API" page

![joxi_screenshot_1511271715416 1](https://user-images.githubusercontent.com/20643403/33075615-2a6bb062-cedb-11e7-9ac5-0468dda0f930.png)

[2017-11-21 14:16] Nazarah commented on #3061
@marla-singer are both view is going to be in the UI? Because I was thinking if we could have only 1 file uploader which could be used to upload either swagger or OpenAPI Specification. Please clarify.

[2017-11-21 14:21] marla-singer commented on #2912
@preriasusi Closed this issue because It was resolved in the PR #2973

[2017-11-21 14:21] #2912 closed

[2017-11-21 14:22] marla-singer commented on #2943
@preriasusi Closed this issue because it was resolved in the context of PR #2973

[2017-11-21 14:22] #2943 closed

[2017-11-21 14:23] marla-singer commented on #3061
The part with "Import API Configuration" doesn't relate to this task. It was done in the context of issue 2945 and it expects configuration as
[code]

The section with title "Import OpenAPI specification" relates to current task and expects the Swagger (OpenAPI is the new name of Swagger) document

[2017-11-21 16:24] 55 commented on #2949
@deligence-dharmendra don't start working on this task b/ API catalog UI will soon be completely changed.

[2017-11-21 18:37] Nazarah commented on #3061
@marla-singer Questions:
1. What is the purpose of the dropmenu before the file browser field?
I am currently seeing the option "file" as selected.
Are we able to select through the dropdown in what way we want to add an api? (e.g.manual add or add by file upload)

2. Would there be some notification when the parser checks the file to be of valid json, yaml or yml?
What about the alert if attempts

[2017-11-22 08:16] #3135 closed

[2017-11-22 08:45] matleppa commented on #3091
2017-11-22

### checking, whether a working combination can be found

- because nightly seems not to suffer from this problem, is it possible, that with latest content of develop branch may contain some fixes, which accidentally help here also?

- Meteor 1.5.2 + branch /develop
  - suggests installing some packages: meteor npm install --save chart.js json2csv select2 select2-bootstrap-theme
 - ins

[2017-11-22 09:07] #2911 closed

[2017-11-22 09:58] anarva commented on #2911
Inspection of Atmosphere and NPM packages did not reveal big overlaps or redundant code. There are of course some, but the reward for removing them is not significant at this point.

[2017-11-23 08:39] preriasusi opened #3144 "Sign up failures with Github"
[Sentry] [Apinf Team Apinf production] error: : We have sent you an email. Please verify your email address. [500]1 message Unknown person
**Title**: Login issues in apinf.io

**Steps**
1. Go to apinf.io or nightly.apinf.io
2. Log out if you sign in
3. Go to "Sign up" page and click on "Register to github"|
4. Get access to apinf product
5. Click on "Sign in"

**Actual result:**
- Message about e-

[2017-11-23 08:49] ilarimikkonen opened #3145 "use ORIGIN header for rate limiting"
HSL req, enable rate limiting using origin header

[2017-11-23 08:50] ilarimikkonen commented on #3145
take the origin header from the request http headers

[2017-11-23 11:26] mapaas opened #3146 "Troubleshooting Apinf installation"
Tried installing Apinf using the Docker image (https://hub.docker.com/r/apinf/platform/) and by following the simple instructions. However when trying the docker run command the following error is displayed:
`=> Starting app on port 3000...
/opt/meteor/dist/bundle/programs/server/node_modules/fibers/future.js:313
                                                throw(ex);

[2017-11-23 11:43] #2759 closed

[2017-11-23 12:10] preriasusi opened #3147 "eMQ dashboard overview design"

[2017-11-23 12:11] preriasusi opened #3148 "eMQ dashboard details view design"

[2017-11-23 12:13] preriasusi opened #3149 "eMQ dashboard implementation"
Let's keep this as a epic. To be splitted into tasks.

[2017-11-23 13:00] preriasusi opened #3150 "eMQ proxy delivery"

[2017-11-23 13:39] preriasusi commented on #3088
Seems to be related only for specific version of Firefox. Closing now.

[2017-11-23 13:39] #3088 closed

[2017-11-23 14:37] anarva commented on #3144
There are two source files which handle the GitHub registration and verification. No changes in the code recently. Unless the GitHub OAuth login module or lodash, the issues could well be due to some configuration change.

**Performed when a new account is created:**
-platform/apinf_packages/users/server/accounts_hooks.js
	// from row 12 owards
	Accounts.onCreateUser((options, user) => {  //this m

[2017-11-24 08:42] matleppa opened #3151 "PUT /apis Error: Meteor.userId can only be invoked in method calls or publications"
## Description

Method PUT fails

### Environment
Postman testing
Catalog API, method PUT

### Result in localhost
##### Note! Replaced previous erroneous  (unrelated, copy-paste error by me) errors with correct one

Error: Meteor.userId can only be invoked in method calls or publications.
    at AccountsServer.userId (packages/accounts-base/accounts_server.js:79:13)
    at Object.Meteor.userId (p

[2017-11-24 10:56] ilarimikkonen opened #3152 "[emq plugin] message bridge"
message transfer to our emq instance

[2017-11-24 10:56] ilarimikkonen opened #3153 "[emq plugin] elastic search"

[2017-11-24 10:58] ilarimikkonen opened #3154 "[emq] test documentation"
documentation for HSL

[2017-11-24 10:59] ilarimikkonen opened #3155 "[emq] Test instance to apinf n3236ightly"
Emq proxy to be installed on nightly server.

[2017-11-24 11:00] ilarimikkonen opened #3156 "[emq] setting a broker to contrasec"
test env for HSL

[2017-11-24 14:19] matleppa commented on #3151
Before PR #3093 the functionality was OK.

[2017-11-24 14:59] ilarimikkonen opened #3158 "[emq] retain messages on node crash"

[2017-11-24 15:08] marla-singer commented on #3151
@matleppa Attention please this issue #3139

[2017-11-24 19:13] kyyberi opened #3159 "Unable to connect API to proxy"
**Steps to Reproduce**:
1. go to page: https://apinf.io/apis/lipas-api
2. click Proxy tab and fill in the details
<img width="1162" alt="screenshot at marrask 24 21-08-50" src="https://user-images.githubusercontent.com/1927158/33221884-b6a68534-d15b-11e7-9e4a-8caa6fa66024.png">
3. Click save & Publish

**Outcome**:

Error. Does not save and publish
<img width="369" alt="screenshot at marrask 24 18

[2017-11-24 19:19] kyyberi commented on #3118
That kind of implementation would serve our platform. It lures peopleto create account. I would go forward as you suggest.

[2017-11-25 06:37] kyyberi commented on #3121
Perhaps add in platform configuration (/settings) a field where platform admin can set the update period ("Dashboard automatic update period") time in minutes. If the period is set to 60, then the dashboard charts are updated automatically every 60 minutes.

[2017-11-26 10:32] kyyberi opened #3161 "Footer usability, look and feel fixes"
**Description**:

Make the footer structure more professional and clear.  At the moment it's a bit restless.

**User Story**:

"As an APInf platform owner, I want my service footer to look professional and clear."

Current implementation behaviour:
- with big screen:
<img width="1242" alt="screenshot at marrask 26 09-41-42" src="https://user-images.githubusercontent.com/1927158/33239218-b23ddbe6-d

[2017-11-26 15:04] saransh-dev commented on #3139
Hi @marla-singer ,

As i found the issue, `this.updateDoc.$set.slug;` gets `undefine` when we upate api except api name inside autoform file in `apis/profile/settings/details/`.

And because of `autorun` inside onCreated in view.js in `apis/profile/`. Before route, `FlowRouter.getParam('slug')` gets `null`.

So, we can check slug before using inside onCreated.

Please advise.

[2017-11-27 04:57] saransh-dev commented on #3139
Hi @marla-singer ,

As i found the issue, `this.updateDoc.$set.slug;` gets `undefine` when we upate api except api name inside autoform file in `apis/profile/settings/details/`.

And because of `autorun` inside onCreated in view.js in `apis/profile/`. Before route, `FlowRouter.getParam('slug')` gets `null`.

So, we can check slug before using inside onCreated.

Please advise.

[2017-11-27 06:38] saransh-dev opened #3163 "Getting exception on browser console"
**Title**: Getting exception on browser console -> "Exception in delivering result of invoking 'getEmqUsers': TypeError: sAlert is not a function"

**Description**:
1. Add api.
2. Set proxy on that api.
3. Open Api and go on Proxy tab.

**Outcome**:
<img width="1679" alt="exception" src="https://user-images.githubusercontent.com/29011434/33253838-8f834dea-d36b-11e7-8295-babb35dafbe7.png">

[code]

[2017-11-27 07:49] wuder4 commented on #3111
At least now 19 days later the message is same on both languages.

[2017-11-27 08:02] saransh-dev commented on #3132
@Nazarah can we use same layout of feedback form after signin with extra email field (if user don't want to siginin) and above of the form, we can provide a button for signin and signup. Please advice

[2017-11-27 08:12] anarva commented on #3091
An imported swagger UI bundle JavaScript file which has been minified caused the problem - the compressed product was not compatible with IE. I have submitted a code fix for review.

[2017-11-27 08:54] preriasusi opened #3165 "Release 0.51.0"

[2017-11-27 08:56] preriasusi commented on #1866
Taking this into the spring to solve issues with logins especially with Github. Let's see what issues related to this.

[2017-11-27 09:02] preriasusi opened #3166 "Front page loading"
Front page loads every dll used in APInf. To be optimized to load only needed dlls when needed.

To be started with study.

[2017-11-27 10:47] matleppa commented on #3151
@marla-singer Sorry, I had wrong error list here.

[2017-11-27 10:54] marla-singer commented on #3151
@matleppa Can't agree with you. Based on error trace the 4 line shows the field with error
`at Object.Apis.schema.SimpleSchema.updated_by.autoValue`

My hypothesis is that it has started working incorrectly after PR #3099 and changing collection schema
https://github.com/apinf/platform/blob/4763ed082f62a81ac5e84c91f6a666a8b9450183/apinf_packages/apis/collection/schema.js#L98-L108

[2017-11-27 11:37] #3091 closed

[2017-11-27 11:42] anarva opened #3167 "Create a repo under APInf project for Swagger UI component"
**Task description:**

  We need to create a repo under APInf project for Swagger UI repo. The repo must include the current changes

**Note from @anarva:** Could you please make the new repo based on your fork of the Swagger UI repo?
Here's the fix I made, just comment a line of code on the project root folder,
_make-webpack-config.js - Code block starting from line 59:_

[code]

[2017-11-27 11:46] marla-singer commented on #3167
@anarva The first step I've done https://github.com/apinf/swagger-ui

[2017-11-27 12:26] marla-singer commented on #3149
@preriasusi Will you add a description for the issue?

[2017-11-27 12:37] Laura-Sampo opened #3168 "Proxy missing from most of the API cards in production."

[2017-11-27 12:39] Laura-Sampo commented on #3168
Pls add better instructions for connecting the API to proxy. Looks like none of them are connected to proxy.

[2017-11-27 12:40] Laura-Sampo opened #3169 "Landing always on the page 1 in API katalog."

[2017-11-27 12:46] Nazarah commented on #3168
@Laura-Sampo we are designing a new procedure for adding APIs, where default settings and proxy configurations would be added manually upon adding an API to the platform.

[2017-11-27 13:21] Nazarah commented on #3132
@saransh-dev I'd come up with it tomorrow.

[2017-11-27 13:36] matleppa commented on #3151
Yes, I agree with you.
I made a check by removing the #3093 functionality concerning PUT method, but the problem remained.

PR #3099 is clearly the culprit.

[2017-11-27 13:39] marla-singer commented on #3151
@matleppa Also please check if a filed "created_by" contains the correct value if API is added via REST API. I have feeling It doesn't work as expected

[2017-11-28 08:59] matleppa commented on #3151
@marla-singer You are right, the created_by field is no updated, when an API card is created by Catalog API.

It seems, that at least following corrections should be made:
#### Catalog API
- method POST /apis
  - add filling of user_id to field bodyParams.created_by
- method PUT /apis/{}
  - add filling of user_id to field bodyParams.updated_by
  - also optimization
    - no need to update Apis, i

[2017-11-28 10:17] marla-singer opened #3171 "[API profile] Swagger documentation isn't shown"
Verified on nightly.apinf.io after updating swagger bundle.js

1. Go to APIs catalog
2. Check "APIs with Documentation"
3. Select any API
4. Navigate to Documentation tab

**Expected result**
- See the Swagger specification

**Actual result**
- The empty area under "Viewer" title
- Console errors:
[code]
https://github.com/apinf/platform/blob/3e1a86d9ad7644aa17dc2f2fee916042131efe42/apinf_packages

[2017-11-28 10:17] marla-singer commented on #3165
@preriasusi We've got a regression, see issue #3171

[2017-11-28 11:05] krashna-deligence commented on #3132
Hi @Nazarah
i am facing some issues while submiting feedback without login. It throws error on browser console `can't read property 'username' of undefined` because  without login we don't have "author Id"  and we are not providing edit functionality for those feedback which are posted by anonymous user. So i have 2 options to implement this:-
1- We have to make some changes in the permission.js f

[2017-11-28 11:12] Nazarah commented on #3132
@saransh-dev can we simply show Add Feedback button in the feedback page in non-logged in session?
When Anonymous user clicks on the button, a pop-up appears and asks user to register or login to APInf to provide feedback.
@55 do you propose any suggestion for this?

[2017-11-28 11:33] 55 commented on #3132
@krashna-deligence @Nazarah a redirect to `/sign-in` is enough.

[2017-11-28 11:34] krashna-deligence commented on #3132
@Nazarah  Yes we can show Add Feedback button in the feedback page in non-logged . Do i need to only ask user to register or login to APInf to provide feedback or also need to show feedback form below (if user does not want to register or login ) ?
Please Advice

[2017-11-28 11:36] marla-singer commented on #3171
Closed it cuz it worked bad only on my side.

[2017-11-28 11:36] #3171 closed

[2017-11-28 11:44] #2686 closed

[2017-11-28 11:52] #3161 closed

[2017-11-28 12:03] Nazarah commented on #3132
@krashna-deligence just ask user to register or login to provide feedback.

[2017-11-28 12:44] marla-singer commented on #3151
get return value for autovalue function either from filled value (that's why in Catalog API the bodyParams.updated_by is filled) or from Meteor.userId()

Please make the same thing for `created_by` field

[2017-11-28 12:48] Nazarah opened #3172 "staging.apinf.io page gets long time to load"
**Steps to Reproduce**:
1. go to page: https://staging.apinf.io
2. open browser console and network tab

**Outcome**:

Page loads at some point but it takes more than 10 seconds to load the full view

**Expected Behavior**:

Page should't take more than 2 seconds to load on providing URL

**Environment**:

Windows 10, Chrome browser (latest), APInf staging site (https://staging.apinf.io)

[2017-11-28 15:19] #3166 closed

[2017-11-28 18:43] shaliko commented on #3094
@preriasusi We need to get log rotation for APIumbrella docker image, probably we can migrate on 0.14.0 for the fix that issues. Need to be tested.

[2017-11-29 06:38] #2591 closed

[2017-11-29 08:10] wuder4 commented on #2830
this bug just happened again with nightly proxy while testing automated tests.

[2017-11-29 08:32] #3060 closed

[2017-11-29 09:50] saransh-dev commented on #2552
Hi @kyyberi, when I inspect the page https://apinf.io/apis/turku-issue-reporting-api  and got meta tags but while checking page source then not meta tags appear.

Please check below attachment.

<img width="1680" alt="metatag" src="https://user-images.githubusercontent.com/29011434/33368849-ccc1a63a-d518-11e7-81e2-29a8c4d54c4b.png">

[2017-11-29 11:11] Nazarah opened #3177 "Update testcase to add an API by importing API configuration file"
**Description**:

A new test script should be created to add an API using API configuration.
Script should check if needed fields (e.g. API name and Endpoint) and their value are contained withing the uploaded file.

[2017-11-29 12:59] Nazarah opened #3178 "Testing release 0.52"
Environment: staging.apinf.io
OS: Windows 10
Browsers: Chrome (latest), Firefox (latest), IE10

[2017-11-29 13:05] eliasrebecca2017 opened #3179 "Feature request for apinf platform"
Here are a couple of things that we received as a feedback from an external survey that we recently conducted.

1. The developer mentioned that he was using the Mashape platform and is able to test the API in different languages (curl, java, node, PHP etc) and he can't find this in the apinf platform. https://market.mashape.com/ismaelc/yoda-speak

2. Second, regarding categorizing APIs using diffe

[2017-11-29 13:45] preriasusi opened #3180 "Analytics for apinf.io"
Referring #2288

[2017-11-29 15:16] marla-singer opened #3181 "[API Profile] While API is removing the related ApiDoc instance isn't"
Verified on local side. On nightly and other instances it is hard to catch error because a developer doesn't have access to MongoDB

**Steps**
1. Create an API
2. Upload Swagger specification as file
3. Find the related apiDocs in mongoDB and copy value of `fileId` field in the notebook;
4. Remove the API

**Expected result**
1. API is successful removed
2. The related ApiDocs is successful remove

[2017-11-30 06:33] krashna-deligence commented on #3089
Hi @55 i have checked this issue on "Google Chrome" and "mozilla" and i did't get this type of error . Please review below gifs
![firfox](https://user-images.githubusercontent.com/33921151/33417086-f653915e-d5c5-11e7-976f-1c1dca7d26a7.gif)
![chrome](https://user-images.githubusercontent.com/33921151/33417087-f6913cd4-d5c5-11e7-95e1-e856897f5140.gif)

[2017-11-30 06:51] Nazarah commented on #3179
@eliasrebecca2017 we are redesigning the API profile and catalog which would address most of the above limitations.
Documentation would be quicker to access and API catalog would have category features.

[2017-11-30 08:57] marla-singer commented on #3089
@kyyberi @55 It was link to the incorrect Swagger file with "circular references". The Swagger can't build the correct UI.

I went through entire file and resolved the circular references directly.

[2017-11-30 09:00] 55 commented on #3089
@marla-singer any ideas why it worked at http://petstore.swagger.io?

[2017-11-30 09:03] marla-singer commented on #3089
@55 Nope. It needs detailed investigation

[2017-11-30 09:11] 55 commented on #3089
@krashna-deligence interesting, what OS were you using?

[2017-11-30 09:41] krashna-deligence commented on #3089
ubantu 16.04

[2017-11-30 10:49] marla-singer opened #3182 "[API profile] two instances to contain data about API Documentation"
Verified on local side.

**Steps**
1. Create a new API for the purity of the experiment
2. Navigate to Documentation tab and click on the button "Manage"
3. Upload file with Swagger specification
<img width="982" alt="screenshot at nov 30 13-13-43" src="https://user-images.githubusercontent.com/20643403/33426949-a6e0fdd2-d5d4-11e7-8b98-16b58b146c7f.png">
**Result**
A new instance in ApiDocs collec

[2017-11-30 11:58] #3163 closed

[2017-11-30 20:41] preriasusi commented on #3179
I think first and third items are because of the fact that well documented APIs are difficult to find.  We have release coming to help this, and this is something we will focus in near future. Categorizing is something needing new UI, and it's on design team pretty much knows the issue.

[2017-11-30 20:50] preriasusi commented on #3169
@55 Is this something that will be re-impelmented soon or should this be taken as own issue to fix?

[2017-11-30 21:00] preriasusi opened #3184 "API owners SLA needed"
As an developer I want to be able to see SLA from API owner so that I know that I can trust that the API I'm using will be up and running the time promised.

API owner has to be able to give the time line he/she assures the API is on production quality.

[2017-11-30 21:07] preriasusi commented on #2741
@marla-singer Is this valid still?

[2017-11-30 21:09] preriasusi commented on #2834
@matleppa @kyyberi Is this about apinf's own apis?

[2017-12-01 06:47] krashna-deligence commented on #3180
Hi @preriasusi we need "tracking_ Id" for this .

[2017-12-01 07:56] Nazarah commented on #2741
@preriasusi We'll have a new look to Dashboard starting from EMQ.
There we'll consider about using pagination or lazy loading.

[2017-12-01 08:21] 55 commented on #2741
Since we don't know how exactly people are going to use our dashboard, let's not make any decisions or plans right now. My vote is for preloading, where user sees some APIs and others load in the background. I move it to icebox, and let's go back it once it's relevant.

[2017-12-01 08:23] 55 commented on #3169
it's certainly a bug, we need to fix it

[2017-12-01 08:26] 55 commented on #3180
@krashna-deligence you can use your own for testing purposes.

[2017-12-01 09:14] #2663 closed

[2017-12-01 09:16] preriasusi commented on #2685
Almost half of the year gone with this. I will now just close this. Anyone missing this, feel free to open.

[2017-12-01 09:16] #2685 closed

[2017-12-01 09:17] marla-singer commented on #3167
Done https://github.com/apinf/swagger-ui/pull/1

[2017-12-01 09:17] #3167 closed

[2017-12-01 09:35] preriasusi commented on #3144
On current staging with 0.51.1 whenI try to sign up with github, I get notifigation "We have sent you an email. Please verify your email address.". No email comes anyway.

When I go to sign in, and I re-send verification email, I get it, and I get my account working.

[2017-12-01 09:57] marla-singer commented on #3139
1. In the file `apis/profile/settings/details/` remove `else` branch - don't redirect to Catalog

2. Yes, go ahead

[2017-12-04 06:55] krashna-deligence commented on #3180
Hi @55 google analytics is not accept localhost url to check analytics.
please advice how can i test it

[2017-12-04 08:52] #3061 closed

[2017-12-04 08:52] #3181 closed

[2017-12-04 08:52] #3182 closed

[2017-12-04 10:32] 55 commented on #3180
@krashna-deligence try starting with https://stackoverflow.com/questions/4375447/can-you-test-google-analytics-on-a-localhost-address

[2017-12-04 12:48] ilarimikkonen opened #3187 "multiple link fields needed under Documentation for API UI"
we need to have multiple links for documentation, this is particular need for VRK / SOAP

[2017-12-04 12:49] ilarimikkonen opened #3188 "multiple link fields needed under Documentation for API (Catalog API)"
related to issue #3187 need support to be able to add multiple documentation links for SOAP APIs, VRK requirement

[2017-12-04 12:49] #3119 closed

[2017-12-04 12:52] ilarimikkonen commented on #3187
into this view
![issue3187.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59d608343220330011111451/125516c66e82c728ace21e0d46e187893687d0f8d7befd0fe64de29b234324676b5ee17e25d7b02aba167f51590b4bae485d5c44fcaf882cf0b13962964e49bc8f3900299f7744eeaa880dbe08b0218e4e87b5b58b45c3ea3f21ee99c2.PNG)

[2017-12-04 17:09] kyyberi opened #3189 "Unable to disable API key requirement for API"
**Steps to Reproduce**:
1. go to page: https://apinf.io/apis/lipas-api
2. go to proxy tab.
3. Click "Disable API key requirement" on.
4. Click "Save & publish"

**Outcome**:
Save fails and error is shown:
<img width="370" alt="error-disable-api-key" src="https://user-images.githubusercontent.com/1927158/33565638-579657a4-d926-11e7-89bf-49fe60f3f8d1.png">

Perhaps this is related to fact that API d

[2017-12-04 17:13] kyyberi commented on #3184
Another aspect of SLA is putting mouth where the money is. Showing analytics information for end-users is more convincing than just saying it "We promise this and that". SLA is needed, but combination of SLA and publics stats would have greater impact.

Related  #3118

[2017-12-04 21:16] kyyberi commented on #3159
Now it works, but then found #3189

[2017-12-05 06:54] krashna-deligence commented on #3146
Hi @mapaas Do i need to install docker ? if yes, which edition need to install for ubantu ?

[2017-12-05 07:31] krashna-deligence commented on #3187
Hi @ilarimikkonen do i need to create multiple input tag for link in same modal and store value in `remoteFileUrl` as array in db
Please advice

[2017-12-05 07:56] marla-singer commented on #3189
Close it as duplicate of #3090. Will be resolved in 0.51.0 release

[2017-12-05 07:56] #3189 closed

[2017-12-05 08:56] marla-singer commented on #3159
Closed this issue as resolved

Notes from chart by @shaliko

For easy backups I moved Apinf DB and ApiUmbrella DB to one docker container, but looks like API_umbrella 0.13.0 can't work with external DB (Mongo DB should be in the same container)
![image](https://user-images.githubusercontent.com/20643403/33598277-32624d66-d9b3-11e7-94d8-2ca4f03ee0ba.png)

[2017-12-05 08:56] #3159 closed

[2017-12-05 10:28] marla-singer commented on #3144
**Investigation result report**
- 0.50.0 version of the release. Verified on apinf.io and development environment with tag 0.50.0
**Sign Up/ Sign in via GitHub work as expected.**

- 0.51.1 version of the release. Verified on staging.apinf.io and development environment with tag 0.51.1
**Sign Up doesn't work via GitHub**
1. Message about e-mail verification
2. A user can't sign in because his e-ma

[2017-12-05 10:34] marla-singer commented on #3053
Verified on nightly and it is resolved.
The issue was fixed by PR #2973

[2017-12-05 10:34] #3053 closed

[2017-12-05 10:43] kyyberi commented on #3189
I resent the pre close of bugs. This bug is in production until new release is out there. It is not solved. Until that it's there preventing endusers to use system as it should be used.

Up to PO to decide @preriasusi

[2017-12-05 10:46] marla-singer commented on #3189
This issue is a duplicate. You already reported this bug with the same title and I even specified the number of issue

[2017-12-05 19:54] phanimahesh commented on #3153
I'm not sure how to interpret the status labels on this one. The plugin has been ready, and has been through a few rounds of testing and code review sometime ago.

What is expected to be done before this issue can be marked done and closed?

[2017-12-06 05:23] krashna-deligence commented on #3127
Hi @kyyberi  we can set menu item color from primary text in color section

[2017-12-06 07:47] krashna-deligence commented on #3169
Hi @55 back button working according to history. When we press back button it goes to `/api` , because in history , previous routing is /api .

[2017-12-06 08:00] krashna-deligence commented on #3172
Hi @Nazarah this problem occurs when we use font-awesome.

[2017-12-06 14:41] marla-singer commented on #3089
**Investigation report**

I thought the problem comes from library "swagger-parser":
1. I upgraded the library "swagger-parser" to v4.0.0 and I've got the same result
2. I went through the source code of library and didn't find any problem with a circular reference.
3. [README.md](https://github.com/BigstickCarpet/swagger-parser#features) says:

4. Anyway, the swagger-parser returns the correct re

[2017-12-07 06:33] krashna-deligence commented on #3092
Hi @saralavanip i have checked thisnissue on window 10 and mozile Mozilla Firefox v 57.0.1 and i have not got this above error.

[2017-12-07 07:44] preriasusi commented on #3168
This is accepted way to add API in current production. Issue is the lack of APIs using proxy, and the fix is to get "great" APIs highlighled so that these APIs without proxy, and also wihtout documentation are not the ones to find first.

[2017-12-07 07:44] #3168 closed

[2017-12-07 09:15] #3151 closed

[2017-12-07 09:26] #3132 closed

[2017-12-07 09:29] marla-singer commented on #2456
@preriasusi  This bug is resolved in a new Dashboard and can be closed
![31215001-8e272e00-a9b6-11e7-8bf0-885d00aba7ba.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46bbc5c872d7d3f9dea4e746f60aa29179166a727006f56621d4e67ff21a79075f4246a4440c5f44adabd82cf4e72e6c981c49b28b380c30d43703a9bd801ced54be748b49d1b3be8349c3e83d73e68

[2017-12-07 09:32] marla-singer commented on #2459
@preriasusi Already done with new Dashboard. The issue is outdated

[2017-12-07 09:41] marla-singer commented on #2541
@preriasusi Verified on apinf.io. The issue is outdated and can be closed
![Screenshot at Dec 07 12-40-13.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46db978826878dba87e6ab03a549b0b02c4567237e44f2793dd1b365ee11394d4d1f0cf31b0d0c00eef39b2ea3b43f22df585fedd7395a76cf3812acb8d41eb857bd25995397f4edd4189fb5646fb2c99d452c1f0212

[2017-12-07 09:42] marla-singer commented on #2040
@preriasusi The issue is outdated because now there is a new Dashboard module

[2017-12-07 10:15] marla-singer commented on #2042
@preriasusi The issue is outdated. The new Dashboard module has the groups for Admin users
![joxi_screenshot_1512640551197 (1).png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46e29b822abd90aa9decba4db755ff80161772227b52f77b25d0b279e6153b495e465cb053181d1ba6acda6fb4bc2e758f5e08bf84690b74c06914aeb1871cbf01ec218c1982b3ae965e82b

[2017-12-07 10:30] marla-singer commented on #2126
Close this issue because the helper function is done
https://github.com/apinf/platform/blob/71770c6117bfc40a0404258ec75e720fccd8850a/apinf_packages/core/helper_functions/promisify_call.js#L9-L17

[2017-12-07 10:30] #2126 closed

[2017-12-07 10:32] marla-singer commented on #2062
@preriasusi The issue is outdated and can be closed because there is the new Dashboard module

[2017-12-07 10:38] ilarimikkonen opened #3196 "[HSL] evaluate what login to use for dash"
dash  (eMQ) needs access control, need to evaluate what to use. HSL ID is one option

[2017-12-07 10:43] ilarimikkonen opened #3197 "[HSL] security audit before deployment"
make sure ports etc are ok and secrets are correct.

[2017-12-07 10:46] marla-singer commented on #1811
@preriasusi The issue is outdated and can be closed because there is the new Dashboard module
![joxi_screenshot_1512643539346.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57e2814d778e3d0f005c2de7/125516c66e82c728ace21e0d46e29b822abd90aa9decba4db755ff80161772227b52f77825d6ba7beb14394d4d1f0cf31b0d0c00eef39b2ea3b43f22df585fedd7395a76cf3812acb8d41eb857bd25995397f4edd4189fb5

[2017-12-07 12:58] #3111 closed

[2017-12-07 14:09] ilarimikkonen commented on #3187
yes. The idea is that there is initially one link input field. and then there is a + button to add additional fields if more than one link is needed. also deletion of links should be possible somehow from UI (- button). This needs to be usable both when user wants to add additional links via UI and also via catalog API. Please limit max number of links to 8.

[2017-12-07 14:11] ilarimikkonen commented on #3153
well there is definition of done that I know of. I'd say we keep it in "In review" status until we hear from HSL that it's "OK"

[2017-12-08 08:29] #3072 closed

[2017-12-08 08:40] #2925 closed

[2017-12-08 08:58] #1811 closed

[2017-12-08 09:13] #2358 closed

[2017-12-08 09:16] #2062 closed

[2017-12-08 09:17] #2042 closed

[2017-12-08 09:19] #2459 closed

[2017-12-08 09:20] #2456 closed

[2017-12-08 09:51] Nazarah commented on #3092
@krashna-deligence
I checked it in staging (version 0.52.0 ) in Windows 10 with Mozilla Firefox (version 57.0.2)
I could reproduce it.
The GIF is attached.
The S alert vanishes only on a next click or when the screen is scrolled down.
![ffbugfeedbacksalert](https://user-images.githubusercontent.com/17976243/33760341-f0b54c3a-dc0d-11e7-8ad8-d4d9b80ed871.gif)

[2017-12-08 09:57] Nazarah commented on #3172
@krashna-deligence can you please give some detailed reasons for the problem related to font-awesome icons?
@55 since we were considering about switching to Material design icons from font-awesome, should we think about this problem and take the decision?

[2017-12-08 10:10] Nazarah commented on #3169
@kyyberi Can you please explain the necessity of configurable transparency of topmenu?
Right now we have the option to change the transparency of cover photo overlay.
I apprehend that if we allow having transparency control for top menu as well, there might be situations when the contrast between topmenu items and coverphoto become blurry and would be difficult to see the menu items because of the

[2017-12-08 10:14] Nazarah commented on #3127
Here is the website for mint.
If I am correct, I am assuming that you are looking for something like this.
https://www.mint.com/
(simply scroll down while keeping an eye on the topmenu)
We might need to redesign the look-and-feel of topmenu if the above needs to be implemented.

[2017-12-08 11:46] 55 commented on #3172
@krashna-deligence post evidence of it happening b/ of font-awesome.

[2017-12-08 11:48] 55 commented on #3127
Moving it to icebox, b/ first it should be thought through before the implementation.

[2017-12-08 12:13] matleppa commented on #2917
This bug seems to be fixed with some corrections on Dashboard.
(Screen capture from nightly 2017-12-08)

![narrow_dashboard_window_ok.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58808c6c07891b1a009b4ae0/125516c66e82c728ace21e0d46e69588318d94968be8ac4ba652f1862d79307a2700ac3c4f8ae86af3006b1300051bff054a5556f9fc8b28f4e338248a5a5fe8d3645a77c63d47adbfd418ba13a632c91edbe2e3

[2017-12-08 12:13] #2917 closed

[2017-12-08 12:14] kyyberi commented on #3127
Without having this feature we need to modify each deployment. It's needed and iceboxing it might sound good now, but it's has an effect on sales and causing extra work for us more in the future (and already now).

[2017-12-08 12:28] 55 commented on #3127
@kyyberi totally agree, that's why it's needed more time to think through.

[2017-12-08 12:37] phanimahesh opened #3200 "Proposal: Transition frontend to react"
### Background
Meteor is a great tool to kickstart projects, but it is highly opinionated, monolithic, and does not play well with the API ecosystem. Moreover, the build times of meteor projects in general, and apinf/platform in particular, are outrageously high.

I believe our UI and UX need a major overhaul, but that is a very ambitious and long term goal. More immediately, we need to be able to

[2017-12-08 13:07] marla-singer commented on #3200
@phanimahesh I believe the Angular would be better solution than React

[2017-12-08 13:16] phanimahesh commented on #3200
@marla-singer can you provide a few reasons why angular would be better?

I have had my hands burned very badly with angular on multiple previous occasions. Which version of angular? 1, 2 or 4? 4 is undoubtedly better than 2 which in turn is better than 1. However, the community is in a lot of flux, and most available resources are still stuck with 1, or migrating to 2. I have a strong personal pr

[2017-12-08 13:23] marla-singer commented on #3200
@phanimahesh I don't know how works react + meteor but in the general life react + nodejs The most for me that

For example, what would we use to transit data between components and client-server side? Where is a lot of

Also Angular + Typescript

[2017-12-08 13:32] anarva commented on #3200
Improving the test coverage with the new approach is a good point. We have reached the level of complexity in the project that really requires it. It will eventually improve the quality and speed of the development.

[2017-12-11 05:36] krashna-deligence commented on #3172
Hi @55 currently not getting same error on APInf staging site (https://staging.apinf.io), but i am facing same issue on local and getting same message on local.
![screenshot from 2017-12-09 09-51-05](https://user-images.githubusercontent.com/33921151/33816982-dd3c0bd8-de62-11e7-8247-cdca2bedaea4.png)

[2017-12-11 07:15] Nazarah opened #3202 "For new user to register, platform doesn't check validity of email address domain"
Mandatory fields are not identifiable

**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io
2. register a new user with invalid email domain and address (e.g. test@invalid.dom)
3. Click register

**Outcome**:
Despite an invalid domain in the email address, the registration appears successful.
Notification about sent email appears prompting user to verify email address

**Expected Behavi

[2017-12-11 07:23] Nazarah opened #3203 "Clicking SignUp link after creation of a new user doesn't refresh the input data and notification."
**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io
2. start creating a new user with required fields (user name, email, password and confirmed password)
3. click register
(wait till the notification appears for verifying email address)
4. Click Signup on the Nav bar.

**Outcome**:
Page doesn't get refreshed and all input data in the fields and notification remains in the page.
User ne

[2017-12-11 07:57] Nazarah opened #3204 "GitHub Authorization window appears out of view in browser tab"
**Steps to Reproduce**:
1. go to page: https://nightlyapinf.io
2. Click on Sign Up
3. Click on Sign Up with GitHub account

**Outcome**:
Controllers (minimize, maximize, close) of GitHub authorization window doesn't appear in the browser tab.
The window can't be moved downwards either
It need to be closed by clicking the browser icon on desktop.
![githubauthorizationwindow](https://user-images.git

[2017-12-11 08:37] Nazarah opened #3206 "Fiware Authorization window doesn't appear completely on browser view"
**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io
2. click Sign UP
3. Click "Sign in with Fiware"

**Outcome**:
Fiware authorization window doesn't appear with its controllers (maximize, minimize or close).
All fields doesn't appear completely on the view
![fiwareauthorizationwindow](https://user-images.githubusercontent.com/17976243/33822156-3b8923aa-de5f-11e7-865d-1d07d42702a3.gif)

[2017-12-11 08:51] Nazarah opened #3207 "value in password field in signup page keeps retained if navigated to signin page"
**Steps to Reproduce**:
1. go to page: https://nightly.apinf.io
2. click on Signup
3. Start filling up the fields with an already existing account and click register.
4. Wait for the notification of existing account. (see that the password value is retained in the associated field)
5. Click on signin.

**Outcome**:
Password value given to the associated field is retained in the sign in page
![pass

[2017-12-11 08:56] 55 commented on #3204
macOS 10.13.1 Chrome 63 and Firefox 57 Github authorization window appears as expected.

[2017-12-11 08:59] 55 commented on #3206
macOS 10.13.1 Chrome 63 and Firefox 57 Fiware authorization window appears as expected.

[2017-12-11 09:13] Nazarah commented on #3206
Verified in Chrome latest version in Windows 10. The window needs to be shrinked manually for the controllers to appear.
They should appear perfectly on their own without the requiring the user to manually adjust the window size

[2017-12-11 09:13] Nazarah commented on #3204
Verified in Chrome latest version in Windows 10. The window needs to be shrinked manually for the controllers to appear.
They should appear perfectly on their own without the requiring the user to manually adjust the window size

[2017-12-11 09:19] Nazarah commented on #3207
The issue was identified while testing release version 0.52 on staging and was verified/confirmed in nightly apinf.