[2016-12-16 09:16] bajiat opened #1977 "Remove organization from Add API form"
We would like to separate adding an API and connecting an API to an organization. This would keep the Add API form as simple as possible and not confuse API owners who are not affiliated with any organization.

# Definition of done
* [ ] There is no option / field for adding an organization in the Add API form

[2016-12-16 09:18] bajiat opened #1978 "Connect API to an organization from API settings"
If the current user is both organization manager and the owner of current API, the user needs to be able to connect the current API to an organization the user is managing. API settings should contain a field to connect API to organization and that field should only be conditionally available.

# Definition of done
* [ ] An API owner can see a Connect API to an organization setting in Settings tab

[2016-12-16 09:18] bajiat opened #1979 "Connect API to an organization from organization profile"
An organization manager needs to be able to connect APIs to the managers organization. The manager can only do this if he/she also an API manager.

The organization profile needs to contain an option to Connect APIs to an organization and that option is only visible if the user is both manager of current organization and an API owner.

# Definition of done
* [ ] An organization manager can see a C

[2016-12-16 09:24] bajiat opened #1980 "Modify schemas for API and organization relationship"
The API collection/schema should not contain the organization id. because that would make organization a mandatory feature. Additionally, it could make a potential enhancement - suggesting APIs to a connection - more difficult to implement.

Consider a joint schema for the connection or move API id to organization collection.

# Definition of done
* [ ] Sketch a diagram for collection options for

[2016-12-16 09:37] bajiat commented on #1975
Closing this issue, opening an identical issue in APIKA.

[2016-12-16 09:37] #1975 closed

[2016-12-16 09:38] bajiat commented on #1977
Closing and opening a copy in APIKA issues.

[2016-12-16 09:38] #1977 closed

[2016-12-16 09:39] bajiat commented on #1978
Closing and opening a copy in APIKA issues.

[2016-12-16 09:39] #1978 closed

[2016-12-16 09:40] bajiat commented on #1979
Closing and opening a copy in APIKA issues

[2016-12-16 09:40] #1979 closed

[2016-12-16 09:41] bajiat commented on #1980
Closing and opening a copy in APIKA issues.

[2016-12-16 09:41] #1980 closed

[2016-12-16 12:49] #1936 closed

[2016-12-16 14:52] jykae commented on #1962
Interested

[2016-12-19 08:44] shaliko commented on #1674
@bajiat I think we can close that task?

[2016-12-19 08:48] snittoor commented on #1963
Ready for review

[2016-12-19 09:35] snittoor commented on #1959
![screenshot from 1959](https://cloud.githubusercontent.com/assets/19837456/21307642/7b2f5186-c5fc-11e6-9ae5-726bf81bf0b8.png)

[2016-12-19 11:09] bajiat commented on #1959
@snittoor Did you also try reloading the page like the "Steps to reproduce" suggests?

[2016-12-19 11:48] snittoor commented on #1959
Yes , i recreated it on my system (its Ubuntu and chrome browser i am using) . Attaching latest screenshot.
My cloned code is from APIKA repository.
Just created a dummy API also showing 2 min ago  and other 3 hrs ago
![issue_1959](https://cloud.githubusercontent.com/assets/19837456/21311774/044765d2-c60f-11e6-877b-0a789e1a9c2d.png)

[2016-12-19 13:40] bajiat commented on #1959
@snittoor Can you also try this on nightly.apinf.io?

[2016-12-19 13:46] marla-singer commented on #1959
@bajiat Search feature works as expected.Verified on nightly
![joxi_screenshot_1482155094143 1](https://cloud.githubusercontent.com/assets/20643403/21314909/92c7989a-c60a-11e6-8cf4-ff2170dcd28a.png)
The problem is on API card. API "Test_data_1" has the wrong time.
![joxi_screenshot_1482155094143](https://cloud.githubusercontent.com/assets/20643403/21314930/b600edac-c60a-11e6-8a24-23275613b0cc.png)

[2016-12-20 09:23] philippeluickx opened #1981 "Group APIs in different lifecycle stages"
Typically APIs in different lifecycle stages belong together.
Group them together in the listviews (e.g. stacked cards?). Link them in the detailview (e.g. add the cards in the bottom of the view?).

[2016-12-20 11:52] philippeluickx opened #1982 "Small width issues"
When using apinf.io on half width screen, there are some minor issues

- The hamburger menu displays secondary links in gray
- The filtering options do not display correctly in list view
- Tabs in detailview are in wrong location due to the quick tour button

![image](https://cloud.githubusercontent.com/assets/836866/21349565/483229f6-c6bb-11e6-8755-8651e6cc557c.png)

![image](https://cloud.github

[2016-12-21 08:49] bajiat commented on #1955
I assume that there are no i18n tags for the missing branding texts, because they were not included in the translation round that was just completed. Check at least the following UI strings:
- Upload cover photo (button)
- Colors (panel title)
- Primary (field title)
- Primary text (field title)
- Social media (panel title)

[2016-12-21 09:18] brylie commented on #1963
The username regular expression was changed in [pulll request 1574](https://github.com/apinf/platform/pull/1574). @jykae can you remember why the regex was changed in PR 1574? What is the regex trying to achieve?

[2016-12-21 09:36] brylie opened #1985 "Try to simplify the username regular expression, if possible"
# Context
Pull request #1574 made changes to the username regular expression.

## Before
[code]

## After
[code]

(?!\d) - Do not match if the string starts with a digit
(?!.\*-.\*-) - Do not match if the string has 2 hyphens anywhere
(?!.\*-$) - Do not match if the string ends with a hyphen
(?!-) - Do not match if the string starts with a hyphen
[a-zA-Z0-9-_]{3,15} - Match 3 to 15 characters from

[2016-12-21 09:36] brylie commented on #1985
@nnn & @jykae, why did we change the username RegEx in pull request #1574? What does the current regex do, in plain language?

/cc @bajiat

[2016-12-21 09:42] bajiat commented on #1959
@marla-singer Thanks for commenting. We should close the issue. Not sure if we need to open one for the API cards. The APIs with the info "Added a few seconds ago" were APIs that were either migrated or synced from Umbrella

[2016-12-21 10:03] brylie commented on #1959
Jep. Lets make sure we have an open issue for the API cards.

[2016-12-21 11:57] brylie commented on #1985
It seems like the regular expression was designed to match the rules of Github usernames:

![screenshot_20161221_135614](https://cloud.githubusercontent.com/assets/17307/21388537/5d6604da-c785-11e6-9ca4-3b0ecfcb712b.png)

Since we are not syncing usernames upstream **to** Github, I am not sure that we need as strict of username rules.

[2016-12-21 11:59] brylie commented on #1985
Also, Github usernames can start with numbers, so we don't need to prevent our usernames from starting with numbers, in any case:

[code]

[2016-12-21 12:01] brylie commented on #1985
Also, Github usernames can have multiple hyphens, just not together. So, the following can be removed or modified:

[code]

[2016-12-21 14:54] shaliko opened #1986 "Capture and track application exceptions"
As developer I want get catch and logs exceptions from runtime.

- Will be good have dashboard with bugs.
- Integration with GitHub issues.
- Capture runtime environment like Browser version, OS platform, etc...

My personal preference https://airbrake.io, but any tool will be good.

# To do's
* Look into open source alternatives for capturing exceptions
* Make a documented proposal with pros and

[2016-12-22 08:09] brylie commented on #1986
What would be a minimum idea that we could build and expand on? E.g. how far could text file or database logging take us towards the goal?

[2016-12-22 09:56] mauriciovieira commented on #1970
Basically we will have to decide which are the points of extension on the main package. This will be the basic contract. The extension packages, or plugins, would have to use [dependency injection](https://en.wikipedia.org/wiki/Dependency_injection) to loose.

This would solve the problem of Feedback module affecting the API Profile templates. And if API Profile was not part of the apinf-core, api

[2016-12-22 10:02] brylie commented on #1970
@mauriciovieira are there any tutorials or open source projects that we can use as a reference for dependency injection?

[2016-12-22 10:23] mauriciovieira commented on #1970
@brylie Dependency Injection is a technique to implement [Inversion of Control](http://martinfowler.com/bliki/InversionOfControl.html). Splitting a monolithic code using this architecture will increase the complexity, but makes it easy to test everything isolate.

I just found [meteor space](https://github.com/meteor-space/base). It can also serve as inspiration.

[2016-12-22 10:37] mauriciovieira commented on #1970
@brylie Take also a quick look on the [FosWiki Extension Developer Guide](https://foswiki.org/Development/ExtensionDeveloperGuide). FosWiki has been there for more than 10 years. The basics of creating a plugin is written in a [how to](https://foswiki.org/Development/HowToMakeSimplePlugin). Notice that all plugins share a [common anatomy](http://foswiki.org/System/DevelopingPlugins#Anatomy_of_a_Pl

[2016-12-22 14:07] frenchbread commented on #1970
[Hyper terminal](https://hyper.is/) is my favourite example of how packaging can be build. It uses NPM as a store for its plugins, at the same time all hyperterm related packages should contain `hyperterm` key word before the actual package name e.g. `hyperterm-<plugin_name>`. So basically you just edit JS config file, add some packages to the array, and once you save the file, these plugins are i

[2016-12-23 08:30] brylie commented on #1970
Sounds cool. Keep in mind we have worked in other areas, such as Branding, so that configuration can be done via UI. So, the high level goal is to have a module management UI, not simply a package.json.

[2016-12-23 11:32] mauriciovieira commented on #1970
I think we should, as a first step, restructure the modules (and root filesystem directory) to have an idea of how difficult would it be to modularize.

I proposed the steps on https://github.com/apinf/platform/issues/1958

[2016-12-28 10:19] brylie opened #1987 "Refactor user profile code"
# Context
Our user profiles are stored within the user document, as a profile field. This is no longer recommended, as it poses security concerns.

# Task
Research, design, and refactor our user profile code, so that profile information is stored in a secure manner.

[2017-01-03 08:14] #1962 closed

[2017-01-09 12:56] jykae commented on #1935
@bajiat @marla-singer can't figure out any simple solution for this. Error is caused on insert/update for unique constraint, autoForm finished onError & resets form. This looks like caused by design. Template helper "showForm" checks proxyId value from ReactiveVar.

Any smart ideas are welcome.

[2017-01-09 13:07] bajiat commented on #1955
@manzapanza I'm unassigning you since you have already added the missing i18n tags and your PR was closed.

This issue can be completed in next translation round.

[2017-01-09 13:23] jykae commented on #1954
@brylie can you point the regression? I thought I fixed it with bigger issue on changing proxy last year.

[2017-01-09 14:32] brylie commented on #1935
@apinf/core Lets have a chat/discussion tomorrow to think how this should be better designed.

[2017-01-09 14:39] brylie commented on #1954
I am not sure. We can perhaps close it again.

[2017-01-09 14:39] #1954 closed

[2017-01-10 08:25] brylie commented on #1125
Moving to icebox, since there has not been activity on this issue in 5 months.

[2017-01-11 21:56] manzapanza opened #1991 "Improve bash script considering i18n tokens of schema field names"
# Context

Pull request: https://github.com/Digipalvelutehdas/APIKA/pull/208 added a bash script to check i18n tokens.

# Issue

The script should consider also the translations needed for the schema fields that are presents in the file en.i18n.json

For example looking the en.i18n.json file, there's the label of `organizationId` field:

[code]

But looking the /apis/collection/schema.js file, the

[2017-01-16 14:56] ccsr opened #1992 "Enable "Do Not Track""
As a SaaS provider it is our responsibility to protect privacy of users. Can we add this feature to our SaaS service.

[2017-01-17 09:17] bajiat commented on #1881
@frenchbread Any update on the issue?

[2017-01-17 10:28] frenchbread commented on #1881
@bajiat I was setting up local environment with elasticsearch running on VM, for some reason the old local ES host address got dropped and I need to update network setting on VM so that it's visible on local machine. Also generated some sample analytics data.

[2017-01-17 11:38] philippeluickx commented on #797
+1
Part of http://apimanifesti.fi/en/

[2017-01-18 00:07] SkedGoDeploy opened #1993 "Allow swagger URL and not just swagger file"
# Context
Currently, Apinf only allows API Managers to upload Swagger file to be rendered in the documentation browser.

# User story

I would like for Apinf to render a Swagger file hosted on a third party server
so I can develop and host my swagger file elsewhere and not have to manually upload changes

# Feature request
Allow API Managers to specify a URL pointing to a Swagger file somewhere on

[2017-01-18 08:23] bajiat commented on #1993
Thanks for you interest in Apinf! This is a good idea and we can definitely consider this. I think it would be worthwhile to provide an option to either upload a file or to provide a link. Both of these would render in the Swagger UI. Does this meet your needs?

[2017-01-18 12:48] brylie commented on #1402
@bajiat I moved this to `In Progress` column, since we are currently investigating.

@shaliko I added you to the task, since you are working on this currently.

[2017-01-20 07:36] #1935 closed

[2017-01-20 10:44] frenchbread commented on #1881
Updated https://github.com/apinf/emq-analytics-dashboard repo:

- Changed DC.js to NVD3
- Line chant with Focus chart (zoom In chart)
- Structured code with parsing, sorting and grouping (possibly move then to server side)

TODO: Add filtering (by date, by MQT log type) to the dashboard

[2017-01-21 07:08] ccsr opened #1994 "Check what it means to be compatible with PSD2 EU Directive for APInf"
this is very important in monetization strategy

[2017-01-24 08:28] philippeluickx opened #1995 "Horizontal scroll bar in production frontpage"
Go to apinf.io (production). There is a horizontal scroll bar on the frontpage.

Seems like it's not present on other pages.

Edit: not really awake here, meaning horizontal - not vertical (thanks @Nazarah )

[2017-01-24 08:28] philippeluickx opened #1996 "Welcome the new year!"
On apinf.org, we still have 2016 in the footer. Let's change that to 2017.

[2017-01-25 08:42] philippeluickx opened #1997 "Security testing"
There are tools available to help us do some basic security testing.
E.g. https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project

[2017-01-25 08:45] bajiat opened #1998 "Add API to APInf by uploading a Swagger file"
# Goal
An API owner can add an API by uploading a Swagger file or pointing to a Swagger file. The Swagger file is also connected as the documentation file for that API.

# Solution proposal
- This could be the primary option on the page: Add an API by adding a Swagger OpenAPI design file
  - The Swagger/OpenAPI fields need to be matched with the API fields in the API schema.
  -  In this case life

[2017-01-29 07:53] brylie commented on #1986
[Sentry](https://docs.sentry.io/) is an open source exception monitoring and reporting tool.

We are trying to stick close to the open source exosystem throughout our project stack, even internal DevOps tools. Lets find out what open source options we have here.

[2017-01-30 09:07] Nazarah commented on #1995
@philippeluickx Think it should be "horizontal", right?
![image](https://cloud.githubusercontent.com/assets/17976243/22417327/52696e34-e6dc-11e6-99cb-5feb84dd62d2.png)

[2017-01-30 09:38] bajiat opened #1999 "Analytics per API per user"
# User stories
As an API owner I want to be able to see usage analytics for my API for a particular user so that I can identify both most frequent users and hobby users.
As an API owner I want to be able to see which users have most problems with my API so that I can solve the problems.
As an API owner I want to be able to see usage analytics  for my API for a particular user for a month so that I

[2017-01-30 10:12] philippeluickx commented on #1995
Yes!

[2017-01-30 11:01] bajiat opened #2000 "Allow API owner to change cache settings through Apinf UI"

[2017-01-30 12:01] bajiat commented on #1955
Translation round completed. To be verified from nightly.

[2017-01-31 08:38] matleppa opened #2001 "Implement pagination OEmbed"

[2017-01-31 15:52] philippeluickx opened #2002 "Define Privacy policy and terms of use texts for apinf.io"
We should have them.

Related: https://github.com/apinf/platform/issues/578

[2017-02-01 07:03] Nazarah opened #2003 "Timeline rendering problem"
(Screenshot is taken from APIKA)

# Reproduction Steps

1. Sign in and go to https://apika.digipalvelutehdas.fi/dashboard
2. Select API Hello Apinf Demo from dropmenu
3. Give the time range 10.01.2016 to 01.02.2016
4. Observe the timeline

# Result

Horizontal axis on API request timeline shows time range from Jan 1st 2017 to Jan 31 2017, although the time range is from October 2016 to February 20

[2017-02-01 11:14] bajiat commented on #2002
I think we should have
1. an UI for adding privacy policy and terms of use
2. texts for privacy policy and terms of use for our own deployments

[2017-02-01 11:27] bajiat commented on #1955
Verified in nightly, all strings now have a Finnish translation. Closing as resolved

[2017-02-01 11:27] #1955 closed

[2017-02-02 09:02] preriasusi opened #2004 "Apinf integration to cutomer's system"
When customer takes Apinf into use, they might like to take their userdatabase to populate APInf.io users, and provide SSO login.

What kind of story we can give to customer to integrate their system. What is needed? Is SSO enough?

[2017-02-02 11:48] philippeluickx commented on #2002
I'm ok with having them editable, but I would rather go for a sensible default that can be adapted.

[2017-02-02 12:47] brylie commented on #1303
It seems that Mongodb 3.4 and above now supports CLDR sorting, or something to that effect:

- https://derickrethans.nl/mongodb-collation-revised.html

We can determine how this affects our query sorting in the client (e.g. APIs catalog and Organizations catalog).

[2017-02-02 12:53] #1674 closed

[2017-02-02 12:55] bajiat commented on #1888
@Nazarah Do you still want to keep this issue or should we close it?

[2017-02-02 13:34] bajiat opened #2005 "Fully test eMQ REST API workflow with eMQ"
_From @bajiat on February 2, 2017 12:51_

Make sure eMQ is using users and access control rules added by the REST API.

# Definition of done
## Admin user access
* [x] Create **Admin user** to use EMQ REST API

## Test publishing
Using the **Admin user**:
* [x] Create **EMQ user** via REST API
* [x] Create **ACL rule** for the **EMQ user** to publish to a topic
* [x] Try **publishing** to that top

[2017-02-02 13:35] bajiat opened #2006 "API names in Select API menu need to be sorted alphabetically"
_From @bajiat on February 2, 2017 12:41_

Related to #338

In the current dashboard, the Select API list on the dashboard shows the APIs in an order that seems random from the user point of view. If you own a lot of APIs or you are an admin, it can be difficult to find the relevant API.

Sort the list alphabetically according to current database default.

Locale appropriate sorting to be solved as

[2017-02-03 07:27] Nazarah opened #2007 "Updating APInf usage instructions in docs repository"

[2017-02-03 11:00] shaliko opened #2008 "Avoid use root user in Docker image"
Image apinf/platform runs as the root user which might not be permitted by your cluster administrator.

![openshift_web_console](https://cloud.githubusercontent.com/assets/36139/22588924/f1959ca0-ea18-11e6-9d4e-3c75c452348d.jpg)

Probably need start from update base Docker image "jshimko/meteor-launchpad", can be the easiest way.

[2017-02-03 11:21] bajiat opened #2009 "New translation round for Finnish UI translations"
# Definition of done
* [ ] Export English UI texts from Apinf develop
* [ ] Import texts to OneSky
* [ ] Translate missing texts to Finnish
* [ ] Organize proofreading
* [ ] Export the Finnish translation file from OneSky
* [ ] Make a pull request to Apinf

[2017-02-03 12:03] marla-singer opened #2010 "Add Proxy form and Edit proxy from don't have translation"
Proxy page -> Add proxy button OR Proxy page -> Edit button
![joxi_screenshot_1486123311039](https://cloud.githubusercontent.com/assets/20643403/22590745/c01d100a-ea21-11e6-88a8-7a47e1663a2b.png)
![joxi_screenshot_1486123311039 1](https://cloud.githubusercontent.com/assets/20643403/22590749/c22a5a1a-ea21-11e6-86cb-439958c67810.png)
![joxi_screenshot_1486123311039 2](https://cloud.githubusercontent

[2017-02-03 12:08] marla-singer opened #2011 "API profile: Proxy backend tab doesn't have completed translation"
![joxi_screenshot_1486123683725](https://cloud.githubusercontent.com/assets/20643403/22590887/9c98c862-ea22-11e6-9a9d-2be710a712ed.png)

![joxi_screenshot_1486123554801](https://cloud.githubusercontent.com/assets/20643403/22590868/7bb9bfa2-ea22-11e6-8b63-8e44aa3f2c5a.png)

[2017-02-03 12:11] marla-singer opened #2012 "API catalog: Tooltip title "Avarage rating" doesn't have translation"
![2017-02-03 15 09 15](https://cloud.githubusercontent.com/assets/20643403/22590945/06ae472c-ea23-11e6-9500-d885ac41ae5f.png)

[2017-02-03 12:13] marla-singer opened #2013 "API profile: popover text doesn't have translation"
Verified on nightly.apinf.io (0.39.0 version)
API profile -> Documantation tab -> Manage button

![joxi_screenshot_1486123942225](https://cloud.githubusercontent.com/assets/20643403/22590988/51cccf76-ea23-11e6-9a97-cc7368a025d8.png)

[2017-02-03 12:16] marla-singer commented on #2006
@bajiat Interested

[2017-02-03 12:18] marla-singer opened #2014 "API profile: SDK generate modal form doesn't have the translation"
Verified on nightly.apinf.io
API profile -> Documantation tab -> SDK generate button
![joxi_screenshot_1486124252582](https://cloud.githubusercontent.com/assets/20643403/22591140/00d7ca2a-ea24-11e6-8a35-a17d657df1c8.png)

[2017-02-03 12:18] Nazarah opened #2015 "On using topbar search option once, it can't be used again from other pages unless page is reloaded."
# Reproduction Steps:

1. go to nightly.apinf.io
2. Click on Search icon on Top bar
3. Type a keyword and click Search.
4. Go to another page from Search page..
5. Click on Search icon on Topbar.

# Result
Searchbar doesn't appear on topbar.
Page needs to be reloaded for the searchbar to appear.
![tobarsearch](https://cloud.githubusercontent.com/assets/17976243/22591103/704685f8-ea1b-11e6-9531-c69

[2017-02-03 12:24] marla-singer opened #2016 "API profile: Feedback form doesn't have the translation"
1. API profile -> Feedback tab -> Send feedback button

![joxi_screenshot_1486124408880](https://cloud.githubusercontent.com/assets/20643403/22591198/561f7a28-ea24-11e6-91de-8de4f72946da.png)

List from **Choose message type** should also have the translation
![2017-02-03 15 20 23](https://cloud.githubusercontent.com/assets/20643403/22591238/8763c2b0-ea24-11e6-9930-08838c44c156.png)

2. Feedback m

[2017-02-03 12:25] Nazarah opened #2017 "Dashboard: Fix tooltip width and height."
# Issue:

Right now, tooltips on Dashboard doesn't have a standard height and width. It is too long in height. For this reason, when a tooltip appears, horizontal scrollbar appears on browser screen.

![image](https://cloud.githubusercontent.com/assets/17976243/22591312/a1a47a8c-ea1c-11e6-81c1-595d3a94a4a2.png)

[2017-02-03 12:26] nnn commented on #1965
Interested.

[2017-02-03 12:29] marla-singer opened #2018 "API profile: Backlog form doesn't have the translation"
1. API profile -> Backlog tab -> Add backlog item button

![joxi_screenshot_1486124709106](https://cloud.githubusercontent.com/assets/20643403/22591438/9d19137a-ea25-11e6-956b-2aab43ec2d00.png)

List from **Priority** should also have the translation
![2017-02-03 15 25 17](https://cloud.githubusercontent.com/assets/20643403/22591423/883a1ec2-ea25-11e6-81c4-b9bbeb4c2d50.png)

[2017-02-03 12:55] Nazarah opened #2019 "Frontpage: Add a block indicating how to Add an API"
# User Story
An API owner coming to APInf for the 1st time might wish to know how to add his API quickly to APInf.
It would be great to show the steps via static image or recorded videos.

# Requirement
* [ ] Position a place holder in "Are you an API owner" section with static images (blocks) giving instructions on how to add an API.
* [ ] A link to Add API page.

**Open question**: Can we use vi

[2017-02-03 13:39] Nazarah opened #2020 "Frontpage: Icons at "Are you an API Owner" should be able to navigate users to blogs with detailed information"
# User Story
Right now, icons at "Are you an API Owner" section only give brief information. There is hardly any way to know more information for a new API owner about APInf features other than browsing APInf. It would be prudent if there were clickable links (when applicable) that redirect user to apinf.org blogs (or any other blogs), where users may found out detailed information about APInf via

[2017-02-03 13:42] nnn commented on #2020
Related https://github.com/apinf/apinf.github.io/issues/14

[2017-02-03 13:47] Nazarah opened #2021 "Frontpage: Add a block indicating how to use an API"
# User Story
An API consumer coming to APInf for the 1st time might wish to know how to call existing APIs hosted in APInf
It would be great to show the steps via static image or recorded videos.

# Requirement
* [ ] Position a place holder in "Are you an API User" section with static images (blocks) giving instructions on how to add an API.

**Open question**: Can we use videos uploaded at Youtub

[2017-02-03 13:52] Nazarah opened #2022 "Frontpage: Icons at "Are you an API User" should be able to navigate users to blogs with detailed information"
# User Story
Right now, icons at "Are you an API User" section only give brief information. There is hardly any way to know more information for a new API user about APInf features other than browsing APInf. It would be prudent if there were clickable links (when applicable) that redirects user to apinf.org blogs (or any other blogs), where users may found out detailed information about APInf via

[2017-02-04 06:38] kyyberi commented on #2022
+1

[2017-02-04 06:40] kyyberi commented on #2021
IMHO simple video in Youtube could be embedded. Create APInf 101 video list in youtube in which we create 1-3 minute clips about features.

[2017-02-04 06:42] kyyberi commented on #2019
Make the barrier minimal by stating something like "Adding your API takes less than a minute"

[2017-02-04 06:44] kyyberi commented on #2017
The tooltip box should "open/grow" inwards. Possibly be just slightly transparent (10%) to bring lightness in the UX.

[2017-02-04 08:06] kyyberi opened #2023 "Set acceptable threshold value"
As API owner I want to set threshold time value and use that value as indicator of health. This could be combined with the option related to monitoring API. We as API management platform should be able to separate latency created by us and the real duration of API call.

[2017-02-04 10:26] kyyberi commented on #2023
![kuvakaappaus 2017-02-04 12-26-25](https://cloud.githubusercontent.com/assets/1927158/22617762/302aac00-ead5-11e6-8d55-5402fd3573d3.png)

[2017-02-04 10:30] kyyberi commented on #2023
Textbox (integer) Set acceptable call duration in milliseconds. This is related to APIs SLA.
Warnings enable (checkbox) - emails sent to API manager (not org manager). Warning sent only once a day even if monitoring would alert multiple times. Otherwise this will become spamming machine.

[2017-02-04 10:49] kyyberi opened #2024 "Rethink API dashboard"
As API owner I want overview. I'm interested about:

1. How do we perform? Give me indicators as numbers. Has the performance/usage changed past 7 days, 30 days? Amount of users? Has that changed past 7 days, 30 days?
2. Then I want to see slow/failed calls and amount of them.
3. After that I want detailed views if even needed. Not always needed.

## Additional item to discuss: API Manager view
I

[2017-02-04 15:11] kyyberi commented on #1994
This is interesting. Quite a lot of discussion about it in Twitter and facebook

[2017-02-04 15:12] kyyberi commented on #1994
I'll take this one.

[2017-02-04 15:16] kyyberi opened #2025 "SaaS metrics"
What do we as platform owners (especially as SaaS) want to measure and why? We want to know what kind of features are used most often and which are not. What else?

[2017-02-04 15:20] kyyberi commented on #666
I'm returning to this now. How do we verify that all works in release? Without automated tests we have no glue about what works and we make users our beta testers. This is not a good practice when we go SaaS

[2017-02-04 15:28] kyyberi commented on #1997
This is needed. Systems are hacked and blackmailed. We need to grab security aspect not before we go serious SaaS. Perhaps the whole security aspect should be discussed in larger scope in weekly meeting.

[2017-02-04 15:38] kyyberi commented on #1953
A little more information about possible strategies  http://security.stackexchange.com/questions/73369/how-do-major-sites-prevent-ddos

[2017-02-04 15:40] kyyberi commented on #1953
CDN is the most reliable approach.

[2017-02-05 20:01] kyyberi opened #2026 "Swedish translations for UI texts"
We need to have swedish translations for the UI if we intend this to be part of national solution for public sector in Finland.

[2017-02-06 07:28] bajiat commented on #2014
@marla-singer Are the srings included in the English i18n file?

[2017-02-06 07:30] Nazarah opened #2027 "Wireframe for "Allow swagger URL and not just swagger file""
#1993

[2017-02-06 07:30] Nazarah commented on #2026
Interested

[2017-02-06 07:30] bajiat commented on #2013
@marla-singer Are the srings included in the English i18n file?

[2017-02-06 07:31] bajiat commented on #2012
@marla-singer Is the string included in the English i18n file?

[2017-02-06 07:31] bajiat commented on #2011
@marla-singer Are the strings included in the English i18n file?

[2017-02-06 07:32] bajiat commented on #2010
@marla-singer Are the strings included in the English i18n file?

[2017-02-06 07:48] bajiat commented on #1996
Fixed in latest update.

[2017-02-06 07:50] bajiat commented on #1996
See the issue: https://github.com/apinf/apinf.github.io/issues/15

[2017-02-06 07:57] bajiat opened #2028 "Release testing for 0.40.0"
Test the 0.40.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases) for 0.40.0 release

# Definition of done
* [x] Test any new development, for example
  * [x] Statistic block on front page: nrs correspond with nr of APIs, nr of organiz

[2017-02-06 08:13] bajiat commented on #2006
@marla-singer Can you please estimate the task?

[2017-02-06 08:27] shaliko commented on #2008
Just upgrade base image "jshimko/meteor-launchpad" not fixed issue.

[2017-02-06 08:32] bajiat opened #2029 "Customer journey for API owner"

[2017-02-06 08:59] shaliko commented on #2008
Created an issue in "jshimko/meteor-launchpad" repo
https://github.com/jshimko/meteor-launchpad/issues/34

[2017-02-06 09:06] Nazarah opened #2030 "Wireframe for "Filter APIs by Lifecycle status, 'Clear all' button not available in results view""
#2037

[2017-02-06 09:25] bajiat opened #2031 "Email verification link of a deleted account enables automatic login"
_From @saralavanip on January 25, 2017 16:53_

# Steps
1. Visit https://staging.apinf.io  (version 0.39.0)
2. Create account 1 (eg. with email address: test1@test.com)
3. Open email and click on account 1 verification link
4. Visit https://staging.apinf.io
5. Login as admin and delete the above added account
6. Logout
7. Create another account 2 (eg. with email address: test2@test.com)
8. Open ema

[2017-02-06 09:25] bajiat commented on #2031
_From @nnn on February 3, 2017 12:31_

Interested.

[2017-02-06 09:57] bajiat opened #2032 "Consider whether to remove analytics data from API Umbrella when deleting ProxyBackend in Apinf"
When deleting a ProxyBackend from Apinf, the backend is also deleted from API Umbrella. However, API Umbrella does not delete analytics data related to the backend, perhaps by design.

# Discussion
Consider the pros and cons of deleting related analytics data from API Umbrella. E.g. might the data be useful to a system administrator? Determine why API Umbrella does not delete this data. Is it by d

[2017-02-06 09:57] bajiat commented on #2032
This should be verified in staging and nightly, not on apika server.

[2017-02-06 09:57] bajiat commented on #2032
@marla-singer Would you be interested in this task?

[2017-02-06 09:57] bajiat commented on #2032
_From @marla-singer on February 6, 2017 8:18_

@bajiat Yes, I'd . Estimated

[2017-02-06 09:59] bajiat opened #2033 "API names in Connect API to Organization dropmenu needs ordering"
_From @Nazarah on February 1, 2017 7:48_

# Issue

Right now, the APIs in the Connect API to Organization appears randomly. It is not understandable whether they appear as date created. They are not alphabetically sorted either.
![image](https://cloud.githubusercontent.com/assets/17976243/22498920/04833914-e864-11e6-9d1d-959e39592d3f.png)

# Possible Solution

Showing the APIs appearing in alphabe

[2017-02-06 09:59] bajiat commented on #2033
Related to #37

[2017-02-06 09:59] bajiat commented on #2033
@marla-singer Could you take this as well, since it is related to #37. Please estimate, if interested.

[2017-02-06 09:59] bajiat commented on #2033
_From @marla-singer on February 6, 2017 8:14_

@bajiat Yes, I will. The tasks are not related but I can take both.

[2017-02-06 10:02] bajiat opened #2034 "'Email' and 'phone' fields not validated in 'Add Organization' form"
_From @saralavanip on January 17, 2017 12:38_

# Steps
1. Visit https://staging.apinf.io  (version 0.38.0)
2. Login as admin
3. Go to  'Organizations'
4. Click on 'Add organization'
5. Fill the form
  -   Enter Name, URL, Description
  -   Enter 'Contact' details: phone (eg. 000) , email (eg. test@123)
6. Click on 'Save' button

# Expected Result
- Validate contact details : phone and email fields

[2017-02-06 10:02] bajiat commented on #2034
Minimum validation for phone number could be checking that phone number can only contain the following characters: + 0-9 [space], possibly also - / * #
See if there is a phone regex that could be reused.
For email we should already have a validation we can reuse.

Consider also adding semantic tags around each item.

[2017-02-06 10:02] bajiat commented on #2034
@brylie Can you clarify the semantic tags?

[2017-02-06 10:02] bajiat commented on #2034
_From @marla-singer on February 3, 2017 12:28_

@bajiat Interested

[2017-02-06 10:02] bajiat commented on #2034
_From @brylie on February 3, 2017 14:21_

@bajiat and @marla-singer, the idea is to add [Schema.org](http://schema.org/) semantics to the Organization Profile page elements:

- [Organization](http://schema.org/Organization)
  - [email](http://schema.org/email)
  - [telephone](http://schema.org/telephone)
  - [contactPoint](http://schema.org/contactPoint)

[2017-02-06 10:05] bajiat opened #2035 "Allow API owner to add oembed content for an API"
_From @bajiat on December 13, 2016 12:3_

Related to #16

Todo
* [ ] permissions
* [ ] related media (show/hide)

# Definition of done

* [ ] API owner can find a button or similar to add content to API profile.
* [ ] Pressing the button opens a form or modal to add the necessary fields (e.g. link, title, description) for the content
* [ ] The content of the form is stored in a collection.
* [ ] W

[2017-02-06 10:05] bajiat commented on #2035
_From @Nazarah on January 3, 2017 6:23_

@bajiat @brylie : I created low fidelity design as part of issue #83, and there I also included the design idea of adding oembd content. I am adding those wireframes here. The wireframes are based on card components of bootstrap:
https://v4-alpha.getbootstrap.com/components/card/
when you finalize the design, I can make high fidelity wireframes and post the

[2017-02-06 10:05] bajiat commented on #2035
_From @Nazarah on January 9, 2017 7:48_

Alternate design suggestions
Designed this feature as part of issue #83, so adding the associated wireframes with this.
1. The Add oembd feature appears as a card in the API profile view.
Below that cards appear a group of added contents with their previews
![apiprofile1](https://cloud.githubusercontent.com/assets/17976243/21600957/b6d28866-d18c-11e6-90f9-7

[2017-02-06 10:05] bajiat commented on #2035
"Add an oembd content" should be renamed to be less technical. If you want, you can add a text that explains user that this adds embedded content that user can click and view in the original source. Give examples of content types (blog posts, videos, presentations)

[2017-02-06 10:05] bajiat commented on #2035
_From @Nazarah on January 10, 2017 16:14_

@bajiat added the suggested changes to wireframes. Please have a look and verify

[2017-02-06 10:05] bajiat commented on #2035
@Nazarah The changes are looking ok to me. Just one thing to nitpick about: the title of the section "Embedded Contents". In this meaning, the word "content" is an incountable. So keep also the title of section in singular: "Embedded Content"

[2017-02-06 10:05] bajiat commented on #2035
_From @Nazarah on January 15, 2017 3:49_

Sorry for missing the text modification while creating the wireframe. Added the changes and uploaded the wireframe. Closing the issue #145

[2017-02-06 10:05] bajiat commented on #2035
_From @snittoor on February 6, 2017 3:24_

@bajiat : interested in this.

[2017-02-06 10:05] bajiat commented on #2035
_From @Nazarah on February 6, 2017 8:18_

I will need to add an extra wireframe for the case when API owner has not yet added any Oembed content.

[2017-02-06 10:05] bajiat commented on #2035
@matleppa @jawidahmadi To be assigned to you.

[2017-02-06 10:07] bajiat opened #2036 "Use API Umbrella Admin API to get Dashboard Analytics"
_From @brylie on December 12, 2016 13:30_

# Context
We currently get API Umbrella analytics directly from Elasticsearch via its public HTTP API.

![apinf-dashboardelasticdata-methods](https://cloud.githubusercontent.com/assets/17307/22692507/16aca830-ed48-11e6-9ceb-b26bb70d2cbf.png)

[API Umbrella 0.14](https://github.com/NREL/api-umbrella/milestone/10) is planned to disable the public HTTP inter

[2017-02-06 10:07] bajiat commented on #2036
_From @shaliko on December 16, 2016 14:35_

After implement that feature we will not need direct connect from Platform to ElasticSearch and can update docker-compose file. At lease drop 2 lines https://github.com/apinf/platform/blob/develop/docker-compose.yml#L14-L15

[2017-02-06 10:07] bajiat commented on #2036
_From @Nazarah on December 19, 2016 4:0_

Will this have any impacts on UI in current APInf?

[2017-02-06 10:07] bajiat commented on #2036
@Nazarah It should not make any difference. It affects the server methods for fetching data. Potential impact: removing ElasticSearch from Proxies in settings menu. If something is not available through admin API, that could affect charts and filtering. The current assumption is that the same data would be available.

[2017-02-06 10:07] bajiat commented on #2036
@brylie First step is to list what needs to be changed.

[2017-02-06 10:07] bajiat opened #2037 "Filter APIs by Lifecycle status, 'Clear all' button not available in results view"
_From @saralavanip on January 24, 2017 10:35_

# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as admin/owner
3. Add APIs  with Lifecycle status (eg. Testing)
3. Click on 'APIs'
4. Bookmark any APIs
5. Filter APIs by Lifecycle status clicking on 'filter' icon
5. Select an option (eg. 'Testing') from drop down menu

# Findings
-  Filter APIs by Lifecycle status is successful and

[2017-02-06 10:08] bajiat commented on #2037
This is not a bug. The filter should persist if it has not been cleared. You can find the Clear button by pressing the filter button again.

However, this is not consistent with the Organization page that has a Clear all button.

I would suggest removing the text about filtering and the Clear all button from Organization profile to keep the pages consistent. Any comments from @Nazarah or @apinf/de

[2017-02-06 10:08] bajiat commented on #2037
Suggestion from planning meeting:
* [ ] Remove the text about filtering from Organization page
* [ ] Remove Clear all button from Organization page
* [ ] Set the filter button to active on both API Catalog page and on Organization page, when user has selected a filter.

[2017-02-06 10:09] bajiat opened #2038 "Test Meteor eMQ API integration"
_From @bajiat on January 19, 2017 13:3_

null

_Copied from original issue: Digipalvelutehdas/APIKA#261_

[2017-02-06 10:18] bajiat opened #2039 "Allow owner to connect API to eMQTT"
_From @bajiat on December 1, 2016 8:16_

# User story

I want to connect my MQTT API to eMQTT proxy
so that I can benefit from API management features, like rate limiting and analytics

# Definition of done
* [x] eMQTT can be selected as a proxy in Proxy tab in API profile
* [x] Owner can enter eMQ topic settings required for eMQTT keeping the same settings / structure as in Api Umbrella settings

[2017-02-06 10:18] bajiat commented on #2039
_From @frenchbread on December 4, 2016 21:22_

Interested

[2017-02-06 10:18] bajiat commented on #2039
@frenchbread Please estimate the task

[2017-02-06 10:18] bajiat commented on #2039
_From @frenchbread on December 5, 2016 11:25_

@bajiat Done 👍

[2017-02-06 10:18] bajiat commented on #2039
Blocked by #161 and subsequent implementation task

[2017-02-06 10:19] bajiat opened #2040 "Runtime exception on dashboard getProxyData"
_From @alfredjkwak on December 21, 2016 13:21_

[code]

Helpfult hint: Check proxyBackend has apiUmbrella object before using it https://github.com/Digipalvelutehdas/APIKA/blob/fec765d2deaa23dba58402a4cc3b2617709bc6a0/dashboard/server/methods.js#L25

_Copied from original issue: Digipalvelutehdas/APIKA#178_

[2017-02-06 10:19] bajiat commented on #2040
# Steps to reproduce
1. Log into apika.digipalvelutehdas.fi as admin (v. 0.36 deployed)
2. Go to dashboard
3. Go to Select API list
4. select an API from the list
4. Check that the data was updated
5. Select another API from the list and see that the data is updated

Repeat step nr. 5 until you get 504 Gateway Time-out

Cannot tell whether it is a certain API that causes this or a certain nr of se

[2017-02-06 10:26] bajiat opened #2041 "Show admin API in dashboard for each proxy"
_From @bajiat on December 9, 2016 13:55_

Admins should be able to see the analytics dashboard for the admin API of each proxy (at least for each API Umbrella). Make the analytics available for dashboard and allow admins to select the proxy admin api from the select API list. Separate the admin APIs from other APIs in the Select API list.

This functionality was lost, when the query was moved to t

[2017-02-06 10:26] bajiat opened #2042 "Admin Dashboard:'Select API' list not segregated"
_From @saralavanip on December 15, 2016 11:23_

# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Navigate to'Dashboard '
4. Click on 'Select API' drop down menu

# Expected Result
Show the segregated list of APIs: 'Admin APIs','My APIs' and 'Other'

# Actual Result
API list not segregated. It shows all APIs as 'My APIs'

# Screenshot
![dashboard_only_myapis_list](https://cloud.github

[2017-02-06 10:29] bajiat opened #2043 "Test adding a user and access control rule to a particular MQTT topic"
_From @bajiat on December 16, 2016 11:26_

On our EMQ deployment, we need to be able to add new users and publish to various topics. We will also want to restrict topics, so they are only accessible for specific users.

See #124 for suggestion on where to start testing.

# User story

_Copied from original issue: Digipalvelutehdas/APIKA#161_

[2017-02-06 10:29] bajiat commented on #2043
@frenchbread Can you take this task? If yes, please keep us updated, because we need this to move forward.

[2017-02-06 10:29] bajiat commented on #2043
_From @frenchbread on December 20, 2016 1:6_

@bajiat Self-assigned

[2017-02-06 10:29] bajiat commented on #2043
@frenchbread Any updates on this task? Can you keep us updated regularly, e.g. daily? You can add you status update e.g. as comments to the issue. Or post to Apinf channel in RC.

[2017-02-06 10:29] bajiat commented on #2043
_From @frenchbread on December 21, 2016 10:8_

@bajiat I was just about to. Doing a research on EMQTTD since, as noted, it doesn't provide open REST interface to add entities (e.g. users, subscriptions, messages etc.) and everything related to adding stuff to there supposed to be done through user interface, MQTT dashboard. EMQTTD also doesn't have a detailed documentation for developers that allo

[2017-02-06 10:29] bajiat commented on #2043
_From @frenchbread on December 21, 2016 10:15_

The suggestion is to create a separate plugin, or extend existing one `emqttd_plugin_apinf` to have rest endpoint that will allow to write/read items similarly to these:

<img width="882" alt="screen shot 2016-12-21 at 12 12 31" src="https://cloud.githubusercontent.com/assets/2122679/21385407/1960c170-c777-11e6-97a9-7fe08d5c6591.png">

[2017-02-06 10:29] bajiat commented on #2043
@frenchbread Remember that this should be an upstream contribution and start with users. You can give your recommendation about storage mechanism. Keep in mind we want to define ACL rules for the users to publish messages to EMQ topics.

[2017-02-06 10:30] bajiat commented on #2043
@frenchbread Can you also check the research comments from #124 before writing any code?

[2017-02-06 10:30] bajiat commented on #2043
@frenchbread Why does the picture you have added in one of the comments above contain 'Y' (= yes) for POST for /api/users? Isn't POST for adding?

[2017-02-06 10:30] bajiat commented on #2043
_From @frenchbread on December 21, 2016 21:50_

@bajiat It is, but still it doesn't allow to add entities. (There is no was to pass params to that POST req). Did not find anything about that in code as well.

[2017-02-06 10:30] bajiat commented on #2043
_From @frenchbread on December 23, 2016 4:31_

Added an endpoint for adding user, tested it with postman and it worked. Working in https://github.com/apinf/emq_dashboard repo (forked). It works in a way, that you have to pass `username` and `password` key/value in the headers. Later will add same endpoints for topics, acls etc.

[2017-02-06 10:30] bajiat commented on #2043
_From @phanimahesh on December 23, 2016 17:57_

It looks like you may be reinventing the wheel. If you need a user and acl management system, you can store it outside emqttd and use one of its plugins. Have you considered any of these?
 - https://github.com/emqtt/emq-auth-http : Expose HTTP endpoints (REST) in your app that will be used by emqttd to check whether to allow connections and pubsub.

[2017-02-06 10:30] bajiat commented on #2043
@frenchbread Will you be able to carry this forward? Can I assign this to you? Please see the comments above from @phanimahesh. Does this need re-estimation based on the comments? We can also re-define the scope with @brylie

[2017-02-06 10:30] bajiat commented on #2043
_From @frenchbread on January 9, 2017 8:6_

@bajiat Yes, I'll continue this one. Estimation is the same.

[2017-02-06 10:30] bajiat commented on #2043
@frenchbread Let's have a meeting about this task to check what should be the deliverable.

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 10, 2017 12:46_

@phanimahesh our understanding of the HTTP API is that it is mainly useful for **getting data**, but does not allow the **creation of data**.

For example, we would like to use the REST API to **create** the following:

- **users** for submitting messages to topics (using whichever authentication method is appropriate)
- **topics** for publishing and subsc

[2017-02-06 10:30] bajiat commented on #2043
_From @phanimahesh on January 10, 2017 13:23_

The idea is to manage this data out of emqttd. Consider this like any other application data you track, pick an appropriate storage like postgres, redis, mongodb etc, create a new table/collection in an existing or new database, and create an api for getting and creating data in this database. For instance, this can be a new collection alongside other

[2017-02-06 10:30] bajiat commented on #2043
_From @frenchbread on January 10, 2017 14:48_

[Opened](https://github.com/emqtt/emq-dashboard/issues/90) an upstream issue, suggestion about extending the list of existing API endpoints.

[2017-02-06 10:30] bajiat commented on #2043
_From @frenchbread on January 11, 2017 8:49_

As of our discussion with @brylie and @bajiat, I added a draft code to https://github.com/apinf/emq_dashboard that allows to get request method from the request headers (e.g. POST, GET, UPDATE, DELETE) and check with what action to proceed with specific request.

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 11, 2017 9:45_

@phanimahesh that sounds close to our goal. I.e. we are considering how to view, create, update, and delete EMQ ACL rules, regardless of underlying datastore, via a REST API.

E.g. we would like to be able to call */api/acl*, via HTTP, to do the following:

- get a list of ACL rules
- get a single ACL rule
- create an ACL rule
- update an ACL rule
- delete

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 11, 2017 9:51_

We will remove the requirement for 'defining' topics from our task.

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 11, 2017 10:3_

This offers great flexibility as well.

My understanding is that a REST API would still be useful, once the datastore is configured, so that we can do the following via HTTP calls to the `/api/users` endpoint:

- get a list of users
- get a single user
- create a user
- update a user
- delete a user

I may be misunderstanding our goal, but it seems like we

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 11, 2017 10:4_

/cc @bajiat @ccsr

[2017-02-06 10:30] bajiat commented on #2043
_From @phanimahesh on January 11, 2017 20:33_

@brylie I recommend storing the users and acl rules completely outside emqttd. Working with mnesia without good experience with erlang and mnesia is not a good idea IMO.

If you'd like concrete suggestions, with most choices made for you based on what I know about the team:

1. Create a new project - Probably call it Apinf MQTT user and access control

[2017-02-06 10:30] bajiat commented on #2043
_From @phanimahesh on January 11, 2017 20:50_

Regarding the upstream issue adding support for user management to emqttd dashboard itself, it is planned to work with emqttd auth username module, which is not ideal for this usecase. Having an external datastore offers greater flexibility.

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 11, 2017 23:30_

Basically, we are the integrators - developers integrating the systems.

Creating a stand-alone project sounds like a viable idea.

I would like to wait for a bit to see how the EMQ management API progresses, before committing to a new integration project.

/cc @bajiat

[2017-02-06 10:30] bajiat commented on #2043
_From @ccsr on January 12, 2017 6:26_

@phanimahesh What is the timeline for the user management API to be available?

@brylie do you mean we wait for this feature to be available for this phase? I dont recommend this has been in the most requested feature.

[2017-02-06 10:30] bajiat commented on #2043
_From @ccsr on January 12, 2017 6:27_

Sorry closed this issues by accident. I reopned it again

[2017-02-06 10:30] bajiat commented on #2043
_From @brylie on January 12, 2017 8:59_

@ccsr a day ago, @emqplus said:

My recommendation is to clarify the progress and scope of the **EMQ Management API**.

We can see if the EMQ Management API might meet our needs *before* committing to build and maintain a stand-alone application to integrate Apinf with EMQ.

/cc @frenchbread @bajiat

[2017-02-06 10:32] bajiat opened #2044 "In Dashboard view, clicking back button on browsers sets the analytics data for the 1st API in dropmenu, although the API name doesn't get change."
_From @Nazarah on January 31, 2017 12:42_

# Reproduction Steps

1. Go to https://apika.digipalvelutehdas.fi/dashboard
2. observe the 1st API in dropmenu and its overview information
3. select any API from the dropmenu and observe its overview information
4. Click the back button on your browser.

# Result:

The overview information changes into the one of the 1st API in the dropmenu list.
The sel

[2017-02-06 10:32] bajiat commented on #2044
Related to #265

[2017-02-06 10:32] bajiat commented on #2044
@Nazarah See if this is still reproduced on nightly.

[2017-02-06 10:32] bajiat commented on #2044
_From @Nazarah on February 6, 2017 9:49_

@bajiat reproducible in nightly APInf as well.
Gif image attached.
![dashboard-nightly](https://cloud.githubusercontent.com/assets/17976243/22642185/5d7dd108-ec62-11e6-9b27-c678da835519.gif)

[2017-02-06 10:32] bajiat opened #2045 "Add eslint check to travis build"
_From @mauriciovieira on January 15, 2017 13:50_

Currently, there is no static code check in the [continuous integration](https://travis-ci.org/Digipalvelutehdas/APIKA). It is desirable to add a eslint check during pull requests because that will help avoiding the introduction of new bugs.

# Definition of done
* [x] Add eslint check to continuous integration (#237)
* [ ] Make eslint to check all

[2017-02-06 10:32] bajiat commented on #2045
_From @mauriciovieira on January 15, 2017 13:50_

@bajiat I am working on this. I talked to @brylie Friday and we think it's a good idea.

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 15, 2017 15:10_

I am doing this 'locally', and it seems we'll have a long work to do. According to https://travis-ci.org/mauriciovieira/platform/builds/192108795, there are _1656 problems (1358 errors, 298 warnings)_  right after the latest Jan 12th commit (https://github.com/mauriciovieira/platform/commit/0c6b28f7d00ee1eb9328e0341fa829cdd095e827)

What I propose

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 15, 2017 15:12_

And I am pretty sure this step will help us not to introduce new bugs to the code. We already have a https://docs.meteor.com/packages/audit-argument-checks.html added to the eslintrc, and it found a lot of non-checked arguments in the code.

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 15, 2017 16:22_

I already set up travis ci to run for pull requests and am fixing one issue at at time in https://github.com/Digipalvelutehdas/APIKA/pull/237. Notice the red x for each commit.

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 16, 2017 11:39_

@brylie @bajiat I think it's better not to try to lint all directories at once, in this issue. In my opinion, it is better to merge more often, 1 new PR per directory.

I am finishing the 3 first directories in alphabetical order, and will open an issue for each unlinted directory.

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 16, 2017 11:41_

The work is being done in #237

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 18, 2017 11:11_

`apis/server` lint is being worked on #252

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 18, 2017 22:47_

https://github.com/Digipalvelutehdas/APIKA/pull/252/commits/74328de51413e0bce410206c8c5cd46d68a6cfd4 is a smarter idea to sort this problem out.

Every time a developer changes a file, they should just remove it from `.eslintignore` and fix the eslint errors.

@brylie what do you think?

[2017-02-06 10:33] bajiat commented on #2045
_From @brylie on January 19, 2017 12:12_

@mauriciovieira, I linted the Organizations and Organization APIs modules in PR #260.

[2017-02-06 10:33] bajiat commented on #2045
_From @mauriciovieira on January 20, 2017 10:49_

@brylie @bajiat I left a message on the 3 open pull requests (#246, #255, #266) , telling how the developers can incorporate the current state of these changes into their branches.

[2017-02-06 10:33] bajiat commented on #2045
_From @brylie on January 21, 2017 3:48_

Great, thanks!

[2017-02-06 10:41] bajiat opened #2046 "In Suomi setting, Filtering option in API catalog needs Finnish translations"
_From @Nazarah on February 1, 2017 7:30_

![image](https://cloud.githubusercontent.com/assets/17976243/22498444/2bab81ac-e861-11e6-9c72-94e22f8f8ff0.png)

![image](https://cloud.githubusercontent.com/assets/17976243/22498472/46154140-e861-11e6-9a06-6a166012ffb3.png)

_Copied from original issue: Digipalvelutehdas/APIKA#337_

[2017-02-06 10:41] bajiat commented on #2046
_From @marla-singer on February 1, 2017 9:11_

@bajiat Verified it on nightly, it is reproduced as part.
1. Help text "Filter options" has the translation.
2. Filter form has the translation.
3. Phases doesn't have because of no tags for that

[2017-02-06 10:41] bajiat opened #2047 "APIKA: Organization Profile: in Suomi language, the following elements need Finnish translation"
_From @Nazarah on January 31, 2017 11:7_

1. API card add date
![image](https://cloud.githubusercontent.com/assets/17976243/22462280/56b57454-e7b5-11e6-866f-229bcf657c23.png)

2. Edit organization button, Connect API to an Organization button and dialog
![image](https://cloud.githubusercontent.com/assets/17976243/22462537/5cac7b04-e7b6-11e6-8d3b-3dad4fc4757a.png)

![image](https://cloud.githubuser

[2017-02-06 10:41] bajiat commented on #2047
@Nazarah Please verify this in nightly. Should have been resolved in the latest translation round.

[2017-02-06 10:41] bajiat commented on #2047
_From @marla-singer on February 1, 2017 9:9_

@bajiat Verified on nightly
1. Connection API dialog has translate, but first option doesn't have
![joxi_screenshot_1485939153373](https://cloud.githubusercontent.com/assets/20643403/22500538/e153332e-e875-11e6-9086-1d8691124d75.png)

2. Contact pane in Organization Details editing dialog
![joxi_screenshot_1485939249307](https://cloud.githubusercontent

[2017-02-06 10:41] bajiat commented on #2047
_From @Nazarah on February 1, 2017 10:1_

As the issue was found in APIKA, I suggest to keep the issue till the latest deployment is made. When I verify the issue in APIKA that it has been resolved, I can close the issue myself.

[2017-02-06 10:41] bajiat commented on #2047
1. The (Select One) option in dropmenu: does it have an i18n tag?

[2017-02-06 10:41] bajiat commented on #2047
_From @marla-singer on February 1, 2017 13:46_

@bajiat In Connection API dialog window - no, (Select One) option doesn't have an i18n tag. Sorry, misread

[2017-02-06 10:41] bajiat opened #2048 "APIKA: In Branding page, Social Media pane texts don't have Finnish translations"
_From @Nazarah on January 31, 2017 7:17_

![image](https://cloud.githubusercontent.com/assets/17976243/22455565/08cc4ade-e796-11e6-8798-bf29cf6d83a9.png)

_Copied from original issue: Digipalvelutehdas/APIKA#327_

[2017-02-06 10:41] bajiat commented on #2048
_From @marla-singer on February 1, 2017 9:18_

@bajiat Verified it on nightly. it's reproduced as part. Only first option (Select one) doesn't have translation. I'm researching the problem

[2017-02-06 10:42] bajiat opened #2049 "Align the lifecycle status tag in API profile with the API name"
_From @Nazarah on January 30, 2017 8:37_

# UI Issue
Right now the lifecycle status doesn't appear aligned with the API name. This is not good aesthetics.

![image](https://cloud.githubusercontent.com/assets/17976243/22416596/33777182-e6d8-11e6-916e-0efb0e435a2b.png)

# Solution
1. place the tag s.t. API name and the tag are in the same line.
OR
2. if the tag is smaller in height than API name fon

[2017-02-06 10:42] bajiat opened #2050 "Automate update and download of onesky translation strings via API"
_From @kyyberi on January 28, 2017 8:32_

At the moment strings to translate are manually uploaded to OneSkyApp in one .json file. Onesky has API which can be used to upload new .json file. With automation of this process we can save human labour and make process faster. Same API can be used to download ready translations to apinf server(s).

https://github.com/onesky/api-documentation-platform/bl

[2017-02-06 10:42] bajiat commented on #2050
_From @kyyberi on January 28, 2017 9:38_

Tested onesky API with PHP.

[code]
The latter  (list files) gives output:
[code]

I did **not test** upload method.

[2017-02-06 10:42] bajiat commented on #2050
_From @kyyberi on January 28, 2017 9:43_

Most likely use case for export is to pull translations as part of release process.

[2017-02-06 10:42] bajiat commented on #2050
_From @kyyberi on January 28, 2017 14:6_

Related to #264

[2017-02-06 10:42] bajiat commented on #2050
_From @kyyberi on January 28, 2017 14:32_

Normally tasks are:

1. Export UI texts from APIKA develop
2. Import texts to OneSky
3. Translate missing texts to Finnish
4. Organize proofreading
5. Export the Finnish translations from OneSky
6. make a pull request to APIKA

The above (except translation & proofreading) should be automized.

[2017-02-06 10:42] bajiat opened #2051 "Registered user able to edit or delete others feedback"
_From @saralavanip on January 27, 2017 9:59_

# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as owner of API
3. Go to 'APIs'
4. Select  an API (eg. TestAPI )
5. Go to 'Feedback' view
6. Enter details: Topic , Message, Choose message type (eg. error report)
7. Click on 'Send' button
8. Logout
9. Again login as a registered user who do not own any API
10. Navigate to 'APIs'
11.

[2017-02-06 10:42] bajiat commented on #2051
_From @nnn on February 2, 2017 10:24_

![https staging apinf io apis dyeyhzg2wywcnfwai](https://cloud.githubusercontent.com/assets/7489044/22545694/66196a52-e942-11e6-861b-675ac53f668b.png)

@saralavanip not able to reproduce it on Staging, please confirm.

[2017-02-06 10:42] bajiat opened #2052 "User is unable to determine the transition from one API lifecycle status to another and the transition time"
_From @Nazarah on January 26, 2017 17:1_

# Usability Issue:

An API user might wish to see the most recent transition from one API lifecycle status to another and the transition time. Moreover, API owner might wish to recall when s/he changed the status and the transition between two statuses. With the current design, it is not possible to determine so.

# Suggestion

Show the most recent lifecyc

[2017-02-06 10:43] bajiat opened #2053 "For Filtering APIs in Organization profile and API catalog, users should be able to choose more than one lifecycle status"
_From @Nazarah on January 26, 2017 16:46_

# Usability Issue

Right now, the filtering option has the lifecycle statuses of API as dropmenu. User is able to select only one status type from there. User might wish to filter APIs connected to an organization / API catalog with more than one lifecycle status.

![image](https://cloud.githubusercontent.com/assets/17976243/22340737/22aa1460-e3f7-11e6-82

[2017-02-06 10:43] bajiat opened #2054 "Title and page title should be the same"
_From @kyyberi on January 25, 2017 5:38_

Perhaps it would make more sense to use word "Rajapintaluettelo" (now "Rajapinnat") in the top menu as well since the title in the page is "Rajapintaluettelo". Or visa versa: use Rajapinnat in the menu and in page title as well.
![kuvakaappaus 2017-01-25 07-36-15](https://cloud.githubusercontent.com/assets/1927158/22279107/313e57d8-e2d1-11e6-9afe-10a43fb11

[2017-02-06 10:43] bajiat commented on #2054
_From @kyyberi on January 25, 2017 5:39_

Same formatting applies to Organizations view as well.

[2017-02-06 10:43] bajiat opened #2055 "Bookmark API, info text remains displayed in Organization profile"
_From @saralavanip on January 24, 2017 8:47_

# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as admin
3. Add Organization
4. Go to above added organization profile
6. Click on 'Connect API to organization'
7. Select any API from drop down menu
8. Click on 'Connect' button
9. Bookmark the above API added clicking on 'flag' icon

# Findings
-  The info text for bookmark or unboo

[2017-02-06 10:43] bajiat commented on #2055
The steps are slightly confusing, but the problem is that the bookmark tooltip does not get dismissed when you press anywhere in the UI.

[2017-02-06 10:44] bajiat opened #2056 "Publication permissions for Users publication"
Ensure that User collection publications are secure.

# Definition of done
* [ ] Users collection publications check for Admin role, when more than one user document is returned
* [ ] If non-sensitive user data is returned from a `Meteor.users` publication, just check that current user is logged in (to avoid publishing user details to anonymous users)
* [ ] Only admin or individual user should hav

[2017-02-06 10:44] bajiat opened #2057 "Don't show icons on organization profile for contacts"
_From @marla-singer on January 10, 2017 12:39_

Now contacts of manager are no required fields. If there are empty then icons in organization header can confused users.

### Examples
**Good**
![joxi_screenshot_1484051773112](https://cloud.githubusercontent.com/assets/20643403/21806479/8c6e5bae-d74a-11e6-9511-74c6dc302df3.png)
**Not very good**
![joxi_screenshot_1484051849606 2](https://cloud.githu

[2017-02-06 10:44] bajiat opened #2058 "Consider switching to absolute imports for all collection paths"
_From @brylie on January 9, 2017 13:32_

Our project files currently import collections using two import styles, *relative* and *absolute*, depending on the context. Generally, the imports are done as such:

- *relative imports* for collections within the same module as the importing file
- *absolute imports* for collections in a separate module from the importing file

Lets discuss the tradeoffs

[2017-02-06 10:45] bajiat opened #2059 "Check if spiderable package is needed"
_From @alfredjkwak on December 21, 2016 13:29_

From APIKA logs, "spiderable: phantomjs not installed. Download and install from http://phantomjs.org/"

Check if spiderable package is needed for application, SEO or testing possibly?
If required, fix dependency.

_Copied from original issue: Digipalvelutehdas/APIKA#179_

[2017-02-06 10:45] bajiat opened #2060 "Create a full CRUD REST API for all collections"
_From @brylie on December 8, 2016 9:53_

Start building our REST API by adding the minimum REST API for all collections. Our REST package gives us a full CRUD API with just a few lines, so lets start there. More specific, composite endpoints can be added as needed.

Related issue #15

# Definition of done
* [ ] REST endpoint exists for all collections
  * [ ] Each endpoint supports common HTTP ver

[2017-02-06 10:45] bajiat commented on #2060
_From @alfredjkwak on December 8, 2016 14:24_

@brylie collection allow/deny has been discussed, though not available yet https://github.com/kahmali/meteor-restivus/issues/163
However role-based permissions exist, https://github.com/kahmali/meteor-restivus#rolerequired

Related issues: #108 #109 #110

[2017-02-06 10:45] bajiat commented on #2060
_From @brylie on December 9, 2016 9:5_

OK, role-based is fine for now, for Admin role only. We need to figure out how to do more granular permissions. E.g. how can we allow an Organization or API manager to edit their API via REST?

[2017-02-06 10:48] bajiat opened #2061 "Add favicon to branding settings"
Currently, there is no method in the UI to change the favicon for a whitelabeled deployment. Add an option to upload a favicon through Branding settings.

![image](https://cloud.githubusercontent.com/assets/17976243/21607538/790a2ef2-d1bf-11e6-8195-280c6c8f1c33.png)

# Definition of done
* [ ] Admin can replace the default favicon from Branding page by uploading a new image.
* [ ] The uploaded ima

[2017-02-06 10:48] bajiat commented on #2061
There is no method in the UI to change the favicon. Suggestion: add it to the Branding page.

[2017-02-06 10:49] bajiat opened #2062 "API request timeline in Dasboard is empty even if there are recent calls to display"
_From @bajiat on January 17, 2017 11:26_

# Steps to reproduce
1. Sign in to nightly.apinf.io as admin
2. Make calls to any API
3. Go to dashboard and check whether the calls you made in step 2 can be viewed

# Expected result
The calls made in step 2 are visible in charts and in table

# Actual result
API Request Timeline is empty. Other charts and the table show the calls made to the API

Screen

[2017-02-06 10:49] bajiat commented on #2062
Making calls to TAMK reservations API:

<img width="946" alt="postman screenshot" src="https://cloud.githubusercontent.com/assets/11626388/22018785/4950e070-dcb9-11e6-8ead-e971ebfc2f78.png">

Viewing the dashboard for TAMK reservations:

<img width="467" alt="api request timeline" src="https://cloud.githubusercontent.com/assets/11626388/22018800/5c6a8878-dcb9-11e6-915f-ba1ada91fa7d.png">

[2017-02-06 10:49] bajiat commented on #2062
Same result with Hello Apinf API (called from the Swagger file)

<img width="477" alt="dashboard for hello apinf api" src="https://cloud.githubusercontent.com/assets/11626388/22018962/0e1ac4de-dcba-11e6-8069-50090b55919f.png">

[2017-02-06 10:49] bajiat commented on #2062
The time interval was so small that the first calls were not shown. When more calls were made in an hour there was something to see.

[2017-02-06 10:49] bajiat opened #2063 "Allow rendering oembed content for API"
_From @bajiat on December 13, 2016 13:4_

Allow rendering of added oembed content in the API profile. Everybody should see the block and it should contain the latest content (by date added).

Open issue: How to see more content?

# Definition of done
* [ ] The API profile main view contains a block for recent content.
* [ ] The maximum number of items is (TBD).
* [ ] Consider whether the block cou

[2017-02-06 10:49] bajiat commented on #2063
_From @Nazarah on January 3, 2017 7:38_

@bajiat @brylie I've added low fidelity wireframes which i made for issue #83. After you finalize the design or suggest possible alterations, I'll add the high fidelity wireframes.

[2017-02-06 10:49] bajiat commented on #2063
@brylie Start with experimenting on the library. Consider also if the experiement could be a low hanging fruit task for any newcomer.

[2017-02-06 10:49] bajiat commented on #2063
_From @Nazarah on January 9, 2017 10:21_

ALternet design for future API profile look and feel.

from the designs of issue #83, the oembd contents appear as a block of cards in API profile view.
the block has a card that allows API owner to add a new oembd content.
The recently added contents would appear as a group of cards (with the most recent content appearing on top)
The cards would show cont

[2017-02-06 10:49] bajiat commented on #2063
@Nazarah Can you think of an alternative for the title "Oembd Content" and the button "Add Oembd Content"? I would say the name is too technical. It's more relevant that it is content related to or describing the (use of) the API.

[2017-02-06 10:49] bajiat commented on #2063
_From @Nazarah on January 10, 2017 16:42_

@bajiat added the recommended changes uploaded the wireframes. Please have a look and verify.

[2017-02-06 10:49] bajiat commented on #2063
We are experimenting with adding oembed content in a separate repository:  https://github.com/apinf/meteor-oembed-blog.

[2017-02-06 10:49] bajiat opened #2064 "Metadata: 'Phone' and 'Email' fields not validated in 'Contact' form"
_From @saralavanip on December 15, 2016 12:51_

# Steps
1. Visit https://staging.apinf.io
2. Sign Up
3. Add API
4. Go to Catalog
5. Click on 'My APIs' tab
6. Select the above API added
7. Click on 'Metadata' tab
8.  Click on 'Edit Metadata' button
9. Enter 'Contact' details : Name, phone (eg. test) and email (eg. test-services)
10. Click on 'Save metadata' button

# Expected Result
-  Highlight th

[2017-02-06 10:52] bajiat opened #2065 "API cards with "added a few seconds ago" are confusing"
_From @bajiat on December 21, 2016 12:47_

APIs that have either been migrated or synced from API Umbrella have the text "added a few seconds ago" in API cards and in search results instead of the original time when these APIs were added. This is probably because Umbrella does not store information about the date and time when an API was added.

This "added a few seconds ago" text never changes/up

[2017-02-06 10:52] bajiat opened #2066 "Modify API profile LAF"
_From @bajiat on December 13, 2016 12:37_

The request for APIKA has been to have a API profile thatt does not use so many tabs, but rather utilises blocks of information. Designed in #83.

_Copied from original issue: Digipalvelutehdas/APIKA#129_

[2017-02-06 10:52] bajiat commented on #2066
_From @alfredjkwak on December 27, 2016 14:30_

@bajiat I suppose we mean "Look & Feel" with LAF here in context of UI design.
Although it has many meanings http://www.urbandictionary.com/define.php?term=laf

[2017-02-06 11:01] kyyberi opened #2067 "APInf in DIY home automation"
As a DIY home automation developer I would like to use APInf to manage APIs in my local network. Some of the APIs might have public interface, but mostly they work only in local network. DIY home automation is preferred to be build from open source components and that fits us perfectly.

One option is to use RaspberryPi3 as hardware. There are many development boards that could be used here.

Just

[2017-02-06 11:22] kyyberi opened #2068 "Add fullpage width background image in organization view"
As organization manager I would love to add fullpage width image in the upper part of the organisation view. Now the part is grey color (see attached)
<img width="913" alt="screenshot at helmikuuta 06 13-21-57" src="https://cloud.githubusercontent.com/assets/1927158/22645370/49102a38-ec6f-11e6-8412-830363068039.png">
. This really would make the page look like "ours".

# Goal

Organization manager

[2017-02-06 12:36] marla-singer commented on #2010
@bajiat Checked it. Nope, the are not.

[2017-02-06 12:38] marla-singer commented on #2011
@bajiat Checked it. Nope, they are not

[2017-02-06 12:40] marla-singer commented on #2012
@bajiat Checked it. Nope, they are not

[2017-02-06 12:40] marla-singer commented on #2013
@bajiat Checked it. Yes, they are but don't work as expected

[2017-02-06 12:42] marla-singer commented on #2014
@bajiat Checked it. Nope, the are not

[2017-02-06 12:55] Nazarah commented on #2024
@kyyberi : thanks for suggesting Plumbr.
Tried to go through your screenshots.
I liked the idea about how they have used different colors and simple graphs to relay information.
I however, would not agree to put so much information in the 1st view loaded to an user.
Too many information, their visualization would be a cause for distraction so API manager would not be able to concentrate just on on

[2017-02-06 12:59] nnn commented on #2064
Possible duplicate: https://github.com/apinf/platform/issues/855

[2017-02-06 13:01] kyyberi commented on #2067
Alright. First step is to get APInf in RPI3. Then lets see the use case for demo. Anyway, the result should be a nice story where API management is not the core issue. The application on top of API management should be either funny or useful.

[2017-02-06 13:02] kyyberi commented on #2067
Application idea: sensor to monitor if mail box (200 meters away and outside) has new mail. Notify me in facebook chat if mail arrives.

[2017-02-06 13:09] nnn commented on #1832
@Nazarah please double check if you're still not able to login.

[2017-02-06 13:10] #1538 closed

[2017-02-06 13:15] #586 closed

[2017-02-06 13:22] nnn commented on #587
@bajiat should we close this issue?

[2017-02-06 13:22] nnn commented on #2031
Possibly related issues:
https://github.com/apinf/platform/issues/588
https://github.com/apinf/platform/issues/575
https://github.com/apinf/platform/issues/574

[2017-02-06 13:37] Nazarah commented on #1832
@nnn tested in https://apinf.io/
I can login now without needing to verify my email.
Closing the issue.

[2017-02-06 13:37] #1832 closed

[2017-02-06 18:35] kyyberi commented on #2024
As a API manager I wish to see overview of my APIs. If all seems "green" I can focus on other stuff. If some of them show "yellow" I know that something requires my focus and then I dig deeper to that specific API. If there's "red", I know that I need to put my whole focus on that API. Perhaps organisation view could function as starting page for API manager? In there I could see status of API beh

[2017-02-06 18:37] kyyberi commented on #2067
Suggested start is:
1. install Meteor (https://meteor.com)
2. make sure Git is installed
3. clone our apinf/platform repository (https://github.com/apinf/platform)
4. cd into the cloned directory
5. type `meteor npm install && meteor

[2017-02-06 18:59] philippeluickx commented on #2024
I think there are some good points here. I would love to go over the whole service from a "service design" perspective. What are the jobs each role needs to do and how can we design for those.
Maybe we should also update our personas?

[2017-02-06 20:07] kyyberi commented on #2067
pi@raspberrypi:~ $ sudo apt-get install git
Reading package lists... Done
Building dependency tree
Reading state information... Done
git is already the newest version.
git set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
pi@raspberrypi:~ $ curl https://install.meteor.com/ | sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2017-02-06 20:16] kyyberi commented on #2067
https://meteor-universal.tumblr.com/

[2017-02-06 20:23] kyyberi commented on #2067
git clone --depth 1 https://github.com/4commerce-technologies-AG/meteor.git
meteor/meteor --version

It just hangs after downloading some packages

[2017-02-06 20:28] kyyberi commented on #2067
looks like it is not as straight forward as it might sound at first

[2017-02-06 20:59] kyyberi commented on #2067
pi@raspberrypi:~ $ meteor/meteor --version
meteor: updating npm dependencies -- meteor-deque...
modules-runtime: updating npm dependencies -- install...
modules: updating npm dependencies -- reify...
promise: updating npm dependencies -- meteor-promise, promise...
ecmascript-runtime: updating npm dependencies -- meteor-ecmascript-runtime...
babel-compiler: updating npm dependencies -- meteor-babel

[2017-02-06 21:13] kyyberi commented on #2067
pi@raspberrypi:~/platform $ git clone https://github.com/apinf/platform.git
cd platform
pi@raspberrypi:~/platform $ ../meteor/meteor npm install && meteor
.... installs a lot...

[2017-02-06 21:19] kyyberi commented on #2067
pi@raspberrypi:~/platform $ ../meteor/meteor

[2017-02-07 02:22] #2006 closed

[2017-02-07 02:22] #2033 closed

[2017-02-07 07:06] marla-singer commented on #2032
@bajiat Researched this bug.

1. It was reproduced on nightly.apinf.io . I used proxy "Nightly Umbrella"

2. The API is deleted from proxy. I added API with name **00 Music** with proxy base path **alternative** and repeated steps.
## Screens
### Before deleting

The api-umbrella had information about my API

![joxi_screenshot_1486450773376](https://cloud.githubusercontent.com/assets/20643403/2268

[2017-02-07 07:10] marla-singer commented on #2032
@brylie As I understand the Analytics section has data from ElasticSearch. How do we delete information from ElastciSearch?

[2017-02-07 08:04] kyyberi commented on #2067
Do we need to make ARM version distribution? Perhaps fork the main repo to platform-arm...

[2017-02-07 08:05] kyyberi commented on #2067
If so, maintenance gets a bit trickier

[2017-02-07 08:13] brylie commented on #2032
This is probably an issue we should discuss with @GUI in the API Umbrella platform.

In a nutshell, the Elasticsearch analytics are not 'linked' to a specific user or API Backend. Rather, they are grouped by prefix (as you note in your message), since API Umbrella allows flexible rules for API Backend prefixing.

[2017-02-07 08:15] shaliko commented on #2067
@kyyberi if you don't have target develop on Raspberry PI, I can assist you for try run Platform as docker image on Raspberry PI. You will no need source code, git and other dependencies, just docker and docker-compose.

[2017-02-07 08:17] brylie commented on #2032
Here is a related upstream issue, where @GUI mentions the limitations of Elastic analytics:

- [Filter analytics data by API Backend?](https://github.com/NREL/api-umbrella/issues/252)

[2017-02-07 08:25] brylie commented on #2067
@kyyberi and @shaliko I will create two issues, based on this thread:

- enhance/test Docker compose, so our Docker image works on Rasberry Pi (ARM-based micro-development board)
- Release Node.js (de-meteorized) version of Apinf
  - consider how to automate 'node package' when making new releases

[2017-02-07 08:25] kyyberi commented on #2067
@shaliko that sounds intriguing. Lets wait for @brylie's comment.

[2017-02-07 08:34] brylie opened #2071 "Enhance/test Docker compose to work on Rasberry Pi"
I would like to run Apinf on a Rasberry PI (or other micro-development board)
so that I can manage my home-based IoT APIs

# Task
Enhance/test Docker compose, so our Docker image works on Rasberry Pi (ARM-based micro-development board).

# Related issue
- [APInf in DIY home automation](https://github.com/apinf/platform/issues/2067)

[2017-02-07 08:36] brylie opened #2072 "Release node.js 'package' of Apinf software"
In order to support wide deployment targets, where Meteor.js might not be available, we can provide a 'de-meteorized' version of our platform. De-meteorizing basically means 'compiling' to node.js. That would mean that Apinf could run anywhere node.js can be installed, which is quite a lot of places.

# Related issue
- [APInf in DIY home automation](https://github.com/apinf/platform/issues/2067)

[2017-02-07 08:39] philippeluickx commented on #2067
@kyyberi what version of Nodejs do you have? I've had issues before with having a wrong version.
I suggest to use https://github.com/creationix/nvm so you can manage your Nodejs versions on your pc.

Currently supported version of Nodejs for meteor 1.4 is Nodejs 4 (https://guide.meteor.com/1.4-migration.html)

[2017-02-07 08:41] kyyberi commented on #2071
Lets try this. I'll do testing on my RPI3. I just need some help in getting started.

[2017-02-07 08:44] kyyberi commented on #2072
+1

[2017-02-07 08:51] shaliko commented on #2071
@kyyberi I can try first test today on my raspberry pi in the second part of the day.

[2017-02-07 08:53] kyyberi commented on #2071
Excellent. Keep us updated :)

[2017-02-07 09:00] nnn commented on #2051
Confirmed with @saralavanip

[2017-02-07 09:00] #2051 closed

[2017-02-07 09:35] shaliko opened #2074 "Drop URL validation on ElasticSearch host in proxy settings"
For docker-compose and OpenShift/Kubernetes deploy we have a hack for able use Elasticsearch URL.

For OpenShift/Kubernetes (or cloud services) Elasticsearch can be available by host name (not valid URL) like "elasticsearch".

![apinf_-_api_management_platform](https://cloud.githubusercontent.com/assets/36139/22685496/99cc6ee2-ed31-11e6-8304-9fdd2dd276c2.jpg)

Suggestion: Drop URL validation and a

[2017-02-07 09:36] shaliko commented on #2074
After finish that story we can drop hack from docker file https://github.com/apinf/platform/blob/develop/docker-compose.yml#L14-L15.

[2017-02-07 09:38] brylie commented on #2036
@bajiat OK, I am auditing the code now.

[2017-02-07 09:40] brylie commented on #2074
Two notes,
1. can't the internal elasticsearch url be structured to pass regex validation? E.g. `http://elasticsearch.local`?
2. we are currently refactoring our codebase, so that the Elasticsearch URL will be irrelevant ASAP (#2036)

[2017-02-07 09:47] shaliko commented on #2074
1. Sometimes you can't use dot symbol (OpenShift).
![openshift_web_console](https://cloud.githubusercontent.com/assets/36139/22685981/82852f56-ed33-11e6-9429-c2e5c8226819.jpg)
2. If that in near feature, my request is not relevant.

[2017-02-07 09:54] bajiat commented on #2074
@shaliko #2036 will not be implemented this sprint (36), I have only asked for a research on the changes required. Depending on the amount of changes or whether any current funcitonality is lost, I am considering sprint 37.

[2017-02-07 10:00] brylie commented on #2074
It is also worth considering how the API Umbrella **URL** field will be affected by OpenShift deployment. How are we deploying the API Umbrella instance on OpenShift? What kind of URL will we expect from the API Umbrella instance?

Issue #2036 is opened in order to remove the Elasticsearch url, which will mean we communicate directly with API Umbrella for analytics data. Regardless of when #2036 i

[2017-02-07 10:04] brylie commented on #2074
We can easily remove the RegEx validation from any URL field, but I just want to understand the issue and explore alternatives (in context of our development roadmap).

[2017-02-07 10:05] brylie commented on #2074
E.g. it may be possible to specify a different OpenShift Hostname:

- OpenShift Cookbook: [Specifying a different OpenShift server hostname](https://www.safaribooksonline.com/library/view/openshift-cookbook/9781783981205/ch01s14.html)

[2017-02-07 10:05] Nazarah commented on #2037
Wireframes based on the requirements:
When a filtering is applied in organization profile/ API catalog, the filtering button gets highlighted.
This indicates that a filtering has been used to show results.
![filteringorganization](https://cloud.githubusercontent.com/assets/17976243/22686585/4d145ac8-ed2d-11e6-9f2e-398a39feafc1.png)

![filteringapicatalog](https://cloud.githubusercontent.com/assets

[2017-02-07 10:13] Nazarah commented on #2030
added wireframe to issue #2037

[2017-02-07 10:14] saralavanip opened #2076 "Suomi view: user info text untranslated in Organization profile"
# Steps
1. Visit https://staging.apinf.io  (version 0.40.0)
2. Login as admin
3. Add Organization
4. Go to above added 'Organization' profile view
5. Change language to 'Suomi'

# Findings
-  User info text 'Organization doesn't have APIs connected' in English language
-  Similarly organization 'Settings' page is partly untranslated: info text for 'upload logo' , 'Email' is in English language.

#

[2017-02-07 10:17] #2017 closed

[2017-02-07 10:22] shaliko commented on #2074
"API Umbrella URL" because we still need access to API-Umbrella after setup for getting admin API-keys, we will need to assign regular domain name for API-Umbrella.

The issue can happen for internal services (ElasticSearch) because they should be accessible only from a private network by hostname instead of domains.

In future, if we will able get Admin API keys from "API Umbrella" without visit

[2017-02-07 10:27] shaliko commented on #2074
@brylie Your link for the settings of setup OpenShift hostname (admin panel), not for services run on openshift (docker images like platform, api-umbrella). That not related to our issue.

[2017-02-07 10:41] mauriciovieira commented on #2072
But what would happen after this? We'd keep both versions, just maintaing the _demeteorized_ version, keep working on the meteor version and run a conversor?

A quick search gave me https://github.com/onmodulus/demeteorizer

[2017-02-07 10:41] mauriciovieira commented on #2071
:+1:

[2017-02-07 10:43] shaliko commented on #2071
@brylie Please clarify task.

"I would like to run Apinf" that mean run full task of components (Platform, MongoDB, api-umbrella and still need ElasticSearch) or just Platform?

[2017-02-07 11:57] brylie commented on #2074
The first sentence of that section seems to be talking about services run on OpenShift.

[2017-02-07 11:58] brylie commented on #2074
I just think this issue is not urgent, although I can understand why it seems to be a high priority. Rather than take up the issue right away, I am simply recommending we wait until #2036 progresses.

[2017-02-07 12:00] brylie commented on #2072
Perhaps we could take notice of how [Rocket.Chat provides multiple deployment methods](https://github.com/RocketChat/Rocket.Chat#deployment). I.e. we can provide at least a couple of options for deployment, such as:

- Docker
- mup (which uses Docker now)
- demeteorized node.js
- OpenShift (see work in progress by @shaliko)

[2017-02-07 12:16] brylie commented on #2071
@kyyberi probably means to run the whole stack:

- Apinf + MongoDB
- API Umbrella + Elasticsearch

Basically, he is considering that someone interested in home automation would want a local **API Proxy** and **Management Interface**, so they can manage their local IoT devices from within their home.

@kyyberi any corrections/clarifications?

[2017-02-07 12:18] brylie commented on #2071
@shaliko also, please contact @bajiat before undertaking any new tasks. We need to think holistically about our current workload and priorities, and @bajiat has a good perspective of our current trajectory.

[2017-02-07 12:36] #2015 closed

[2017-02-07 13:03] bajiat commented on #1993
# Definition of done
* [ ] User can choose whether they want to upload a file or add a URL for showing a Swagger document in the Swagger UI
* [ ] If the user adds a URL, it needs to be stored for the purpose of showing the file in the Swagger UI
* [ ] When the user has made a selection, the other option should be disabled

Note: this solution should not affect the possibility of adding external do

[2017-02-07 13:26] bajiat opened #2080 "Consider changing the platform license"
We should consider changing our license in order to
* protect our business interests
* align with other, bigger initiatives, e.g. FIWARE

The current APInf license is MIT.

Some of the potential options (not in any order of preference)
* [AGPL](https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0))
* [Apache](https://tldrlegal.com/license/apache-license-2.0-(apache-2.0))
*

[2017-02-07 13:34] #2037 closed

[2017-02-07 13:46] brylie commented on #1993
@bajiat and @SkedGoDeploy I updated the task description, moving the Definition of done and adding some more context.

[2017-02-07 13:56] saralavanip opened #2081 "Navigate from one organization profile to another flashes info text"
# Steps
1. Visit https://staging.apinf.io (version 0.40.0)
2. Login as admin
3. Add organizations (eg. organization 1, organization 2)
4. Go to organization catalog
5. Navigate from one organization profile to another

# Findings
 Info text 'No organizations available. Add organization'  is flashed while navigating from one organization profile to another.

# Browsers
- Google Chrome Version 55.0.

[2017-02-07 13:57] shaliko commented on #2071
@brylie OK, today I do just 20 min tests.

[2017-02-07 14:19] #1965 closed

[2017-02-07 14:39] philippeluickx commented on #2080
If protecting our business means that no-one can use our code and make money of it themselves, there is only one option here as far as I understand: https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0)

[2017-02-07 19:43] kyyberi commented on #2080
Not excatly knowing everyone's skills and knowledge about licenses and implications of selecting one, I'm raising a question do we have enough talent to understand the consequences?

[2017-02-07 19:48] kyyberi commented on #2080
In addition I've heard about cases in which APIs related code is licensed differently than core components. So, the question is are we selecting one license? Business wise we also need to consider not only to protect open source values, but opportunities to integrate our platform components. Do we want to hang into strict open source or create new business opportunities?

[2017-02-07 19:53] kyyberi commented on #2071
No, @brylie described the need pretty accurately, whole stack.

[2017-02-07 19:57] kyyberi commented on #2072
Exploring automated toolchain to produce multiple deployments would probably make sense.

[2017-02-07 20:06] kyyberi commented on #2026
Do we know people with fluent Swedish skills? :) I know one but he's pretty occupied with other stuff.

[2017-02-07 20:08] kyyberi commented on #2026
I can do a few translation myself, but the longer texts are out of my skillset.

[2017-02-08 06:49] #2057 closed

[2017-02-08 07:27] shaliko commented on #2071
@brylie @kyyberi @bajiat I was not able start Platform on Raspberry Pi because all our docker images (Platform, MongoDB, API-umbrella) will not work on ARM architecture.

We can solve that issue by create new Docker images for ARM and I am pretty sure that will not have issue with Platform, MongoDB, ElasticSearch but migrate API-umbrella can require some time.

@bajiat Ping me if we need continue

[2017-02-08 08:25] marla-singer commented on #2081
@saralavanip As I understood you told the situation as on screen below?
![2017-02-08 11 23 00](https://cloud.githubusercontent.com/assets/20643403/22728889/4ed91b86-edf1-11e6-975e-d742998ab018.png)

[2017-02-08 08:33] saralavanip commented on #2081
@marla-singer , Yes exactly, thanks for the screenshot. I tried to upload screencast of this scenario but found that Github doesn't allow  .mp4 file format.

[2017-02-08 08:35] kyyberi commented on #2067
In my rest RPI3 I dont have node.js yet.

[2017-02-08 08:46] shaliko commented on #2067
@kyyberi For Install Node.JS

[code]

[2017-02-08 09:02] #2030 closed

[2017-02-08 09:35] brylie commented on #1965
@santeriv thank you for opening this feature request. We are excited to include it in the next Apinf release (0.41.0)!

Please feel free to propose any other features that would be helpful to you or your organization.

[2017-02-08 09:39] brylie commented on #2071
@shaliko thanks for looking in to this. If desirable, we can open one or more follow up tasks for creating the Docker containers you mention.

CC: @kumargs @bajiat @ccsr

[2017-02-08 10:23] saralavanip opened #2087 "Navigate from one API to another shows pagination momentarily before rendering API details"
# Steps
1. Visit https://staging.apinf.io (version 0.40.0)
2. Login
3. Go to API catalog
4. Navigate from one API to another

# Findings
Navigate from one API to another shows pagination momentarily before rendering API details

# Screenshot
![navigate_apis_pagination](https://cloud.githubusercontent.com/assets/13309358/22733111/49e4b2ae-edf9-11e6-8046-03374283c20b.PNG)

[2017-02-08 11:01] #1959 closed

[2017-02-08 11:05] shaliko commented on #2071
@brylie I can contribute to it if you think it will be useful.

[2017-02-08 11:31] bajiat opened #2090 "Research drill-down analytics endpoint"
Related to #2036

Test the data available from the API Umbrella 0.13 Admin API analytics endpoint. Select one of the testing deployments (nightly, staging) and apis to which there have been calls.

See documentation from about the Admin API from http://api-umbrella.readthedocs.io/en/latest/admin/api.html. Go to Analytics.

# Definition of done
* [ ] Make Postman calls to  the analytics endpoint ex

[2017-02-08 12:09] Nazarah commented on #2027
wireframes are uploaded in the issue #1993

[2017-02-08 12:25] #2081 closed

[2017-02-08 12:28] bajiat commented on #2027
@Nazarah Please also keep the option to add a link to external documentation, which is not Swagger. The two options mentioned in the issue only relate to content shown in the Swagger UI. The API owner might also have non-Swagger documentation on a web page.

[2017-02-08 13:36] marla-singer commented on #2090
Tried to send request  https://nightly.apinf.io:3002/api-umbrella/v1/analytics/drilldown?api_key=PvDCE2k7pMrJLPYzDHHaGPvusA6SLnLwPaUUqTF0
The server response with 500 Error and text
![joxi_screenshot_1486560700466](https://cloud.githubusercontent.com/assets/20643403/22739292/18e25a62-ee1c-11e6-91ae-78f93d2d141b.png)
I will try again tomorrow

[2017-02-08 14:00] bajiat commented on #2071
@shaliko Let's see if we could get some community help for this. But you could give an estimate how much time would be required for migration for each of these from you:
* Platform
* MongoDB
* ElasticSearch
* API-umbrella

[2017-02-08 18:49] kyyberi commented on #2067
thanks. Lets see which way we go. I most likely install node there anyway today.

[2017-02-09 07:24] marla-singer opened #2092 "Renaming API with proxy settings doesn't update name in Dashbord list"
Verified on nightly.apinf.io

1. Go to API catalogue and select your API which has proxy setting
2. Go to Dashboard and open dropdown list with APIs

### FOUND
List has API with old name

### Expected
Name must be changed as well

### Screens

**Old name**
![joxi_screenshot_1486624671613](https://cloud.githubusercontent.com/assets/20643403/22773155/aa1b1948-eeb1-11e6-8c24-6f31f75df7dc.png)

**New

[2017-02-09 07:54] marla-singer opened #2093 "User have to create totally unique proxy base path"
Now we have the rule that user must create the unique proxy base path. But we need to limit it more. Don't let user create the proxy base path if the first section of this path has is the part of other API

On local, I have three different APIs with the next settings. Bring to your notice that APIs have the different URL.

![joxi_screenshot_1486625338473 2](https://cloud.githubusercontent.com/asse

[2017-02-09 08:19] #2087 closed

[2017-02-09 08:39] shaliko commented on #2071
@bajiat

- Platform (1 day)
- MongoDB probably just found right image. Like this https://hub.docker.com/r/fpommerening/rpi-mongo/
- ElasticSearch - the same, just found right version of existing docker image.
- API-umbrella - hard to estimates, a lot of software inside of theis docker image.

[2017-02-09 08:42] brylie commented on #2071
@shaliko we can leave this issue open, with the help wanted label. Are you creating a different issue to track this idea?

[2017-02-09 08:42] shaliko commented on #2071
@bajiat

- Platform (1 day)
- MongoDB probably just found the right image. Like this https://hub.docker.com/r/fpommerening/rpi-mongo/
- ElasticSearch - the same, just found right version of existing Docker image.
- API-umbrella - hard to estimates, a lot of software inside of the docker image. We can create small task for couple hours, I will make some tests and then can give more accureate estima

[2017-02-09 08:43] shaliko commented on #2071
@brylie Sorry, I accidentally closed it.

[2017-02-09 08:45] brylie commented on #2071
No worries :smile_cat:

[2017-02-09 09:22] brylie commented on #2093
We are not committing to resolve this issue right away, but want to get a better understanding of the underlying parts. I have self-assigned and will look for upstream issues or discussions that might give us better understanding.

[2017-02-09 09:26] saralavanip commented on #2055
@bajiat , verified this issue on https://staging.apinf.io v 0.40.0 and it is reproducible in both Firefox and IE browsers.

Screenshot:

1. Mozilla Firefox  v 51.0.1
![bookmark_tooltip_firefox](https://cloud.githubusercontent.com/assets/13309358/22776909/2fa573d0-eeba-11e6-8766-0962d5313bf0.PNG)

2. Internet Explorer 11
![boomark_unbookmark_ie](https://cloud.githubusercontent.com/assets/13309358/2

[2017-02-09 09:27] brylie commented on #2090
Please avoid publishing your administrative credentials openly, e.g. on Github.

API Umbrella needs **two** credentials when calling the Admin API:

- API Key
- Admin Auth Token

[2017-02-09 09:28] marla-singer commented on #2090
@brylie I sent my credentials via headers and the response was the same

[2017-02-09 10:29] brylie commented on #2090
OK, I will try too.

[2017-02-09 10:30] brylie commented on #2090
By the way, how are you structuring the `body` of your request?

[2017-02-09 10:39] brylie commented on #2090
What values did you use for the URL parameters:

- prefix
- start_at
- end_at
- granularity

[2017-02-09 10:39] marla-singer commented on #2090
@brylie I used REST client in my IDE.
I don't set the Request body, only Request Parameters
### Parameters
**HTTP method:**  GET
**Host:** https://nightly.apinf.io:3002
**Path:** /api-umbrella/v1/analytics/drilldown
**Headers:**
- X-Api-Key: value
- X-Admin-Auth-Token: value
**Request Parameters:**
- prefix=alternative
- start_at=2017-02-01
- end_at=2017-02-09

[2017-02-09 10:40] marla-singer commented on #2090
![2017-02-09 13 39 16](https://cloud.githubusercontent.com/assets/20643403/22779821/561ae352-eecd-11e6-843e-22e4fd8b2357.png)

[2017-02-09 10:44] brylie commented on #2090
And for `granularity`?

[2017-02-09 10:46] marla-singer commented on #2090
It's not required field. I added `interval=day` and it returns 406 error

[2017-02-09 10:48] brylie commented on #2090
It looks like the `interval` field (not granularity) is required:

![screenshot_20170209_124818](https://cloud.githubusercontent.com/assets/17307/22780091/15ab6492-eec6-11e6-8d7f-22c50f0117a7.png)

[2017-02-09 10:49] brylie commented on #2090
Were you getting a 406 error before adding the `interval` field?

[2017-02-09 10:50] marla-singer commented on #2090
Nope.
- If `interval` isn't set, I get 500 error
- If `interval` is set, I get 406 error

[2017-02-09 10:50] bajiat commented on #2055
The issue is not yet closed. I only closed the APIKA issue, because I moved it from APIKA to APInf backlog.

[2017-02-09 10:50] brylie commented on #2090
In other words, we are probably getting closer now, since you have gone from a 500 error to a 406 error. Try tweaking the parameter values now, changing their formatting. If needed, open an upstream support request, so @GUI can help us figure this out.

[2017-02-09 11:29] saralavanip opened #2095 "API labels misaligned in 'Table' view"
# Steps
1. Visit https://staging.apinf.io   (version 0.40.0 )
2. Login
3. Add API
4. Go to 'Settings'
5. Change the API visibility  to 'Private'
6. Add Life cycle status (eg. design/testing)
7. Save
8. Go to API catalog and filter 'My APIs'
9. Click on 'Table' tab

# Findings
API labels are misaligned in 'Table' view

# Screenshots
![myapis_table_view](https://cloud.githubusercontent.com/assets/13

[2017-02-09 12:19] bajiat commented on #2027
Based on a discussion with @Nazarah, we decided that the link field could be used both for Swagger link and link to any other external documentation. If the link points to a Swagger file, it is shown in the Swagger UI. If the URL points to any other resource, it is displayed as a link in the external documentation section.

[2017-02-09 12:22] bajiat commented on #1993
Comment for the Documentation URL: Note that the URL field could be used both for Swagger link and link to any other external documentation. If the URL points to a Swagger file, it is shown in the Swagger UI. If the URL points to any other resource, it is displayed as a link in the external documentation section.

[2017-02-09 13:12] nnn commented on #2031
@saralavanip I've tried twice and couldn't reproduce it.
Please, try one more time and let me know if it's still reproducible.
@apinf/developers guys, if somebody can also test it out, will really appreciate it.

[2017-02-09 13:48] brylie commented on #2031
I think steps 7 and 8 are not central to this bug, and can be ignored.

[2017-02-09 13:54] brylie commented on #2031
When clicking on an **email verification link that has already been used**, I get a notification "Verify email link expired":

![screenshot_20170209_155002](https://cloud.githubusercontent.com/assets/17307/22786130/f1f6ca86-eedf-11e6-94ad-866418138b3c.png)

[2017-02-09 13:57] brylie commented on #1993
This would likely require logic to parse the remote content in order to determine whether it is a swagger file. Parsing would probably happen each time the page is rendered, since it is possible for the remote contents to change at any time.

For the above reasons, I recommend we explore alternative designs, so we can weigh complexity/simplicity/usability of multiple designs.

[2017-02-09 14:00] nnn commented on #574
Duplicate of https://github.com/apinf/platform/issues/575

[2017-02-09 14:02] nnn commented on #588
@saralavanip please confirm, couldn't reproduce it on nightly/staging/apinf.io.

[2017-02-09 14:11] bajiat commented on #2031
If I *log out* fafter step 8 and then click the verification link for user 1 (step 9), I'm not logged in, I just get an error message about expired verification email.

If I *don't log out* after step 8 and click the verification link for user 1, I go to the APInf UI as current logged in user (user 2 the one created in step 7) plus get a message about expired verification message.

@saralavanip Pl

[2017-02-09 14:18] marla-singer commented on #2031
@nnn I think the main idea is in 5 step
**Login as admin and delete the above added account**

[2017-02-09 14:18] #2031 closed

[2017-02-09 14:18] bajiat commented on #2031
@marla-singer I deleted the first user and followed all the steps exactly.

[2017-02-09 14:20] bajiat commented on #2031
If the second user is logged out, it does not automatically log in. If the second user is logged in, then it goes to the current active user.

[2017-02-09 14:20] frenchbread commented on #2005
https://github.com/apinf/emq-rest-api does not write data into PostgreSQL (even though all credentials and configurations are correct). No error messages are shown either.

[2017-02-09 14:22] brylie commented on #2005
@frenchbread as mentioned earlier. Please open issues in the EMQ REST API repository, so we can track and fix the problems you encounter.

[2017-02-09 14:22] frenchbread commented on #2005
Also I've created two data tables for `mqtt_user` and `mqtt_acl` as in the docs: https://github.com/emqtt/emq-auth-pgsql

[2017-02-09 14:28] brylie commented on #2005
@frenchbread make sure to set the `connection` adapter to *postgres* in [/config/models.js](https://github.com/apinf/emq-rest-api/blob/master/config/models.js#L20)

[2017-02-09 14:36] marla-singer commented on #2031
@bajiat Ok, I can't reproduce it as well

[2017-02-09 14:42] frenchbread commented on #2005
@brylie Updated the `connection` value and it worked! Thanks.

---
After creating new `emq_user`, data tables were created automatically:
![screen shot 2017-02-09 at 16 38 04](https://cloud.githubusercontent.com/assets/2122679/22787782/2730fbf8-eee6-11e6-96b5-fa8233c315ec.png)

And just added `emq_user` itself:
![screen shot 2017-02-09 at 16 41 31](https://cloud.githubusercontent.com/assets/212267

[2017-02-09 15:54] nnn commented on #1993
@Nazarah here is idea we came up with @brylie @bajiat

For now we keep external link to documentation as it is now, and will try to combine it with swagger link as a future enhancement.

For swagger part we can have option to enter URL of documentation file, and render it on Save.
Also we allow user to upload multiple swagger documentation files and choose what to render.

![file-page1](https://cl

[2017-02-09 17:22] kyyberi commented on #2026
Did a few low hanging fruit translations to OneSky

[2017-02-10 05:51] kyyberi opened #2096 "Add API page is a bit boring and confusing"
Adding API to catalog - it's a good idea to make it as easy as possible! However, for example the field URL can be misunderstood and even become (possibly) show-stopper for some API owners.

URL can be understood as company url, API documentation url, API endpoint....

In addition, this is the first function/page API owner is faced with. It has to be appealing and inspiring! Below is my cheese and

[2017-02-10 07:18] kyyberi opened #2097 "Translation error "rajapinnat" in organization view"
Used version: https://nightly.apinf.io/organizations

Currently in the organization view there are decks for each organization. In each deck is amount of APIs in given organization, as you can see from below pic
![screenshot at helmikuuta 10 09-13-53](https://cloud.githubusercontent.com/assets/1927158/22817697/809c2a88-ef71-11e6-8b09-4c369ffc1345.png)

The text "Rajapinnat" should be "rajapintaa".

[2017-02-10 07:28] marla-singer commented on #2049
@bajiat It's already resolved. Verified on nightly
![joxi_screenshot_1486711661559](https://cloud.githubusercontent.com/assets/20643403/22817988/a45c2cfc-ef7b-11e6-902a-c593c4e6f291.png)

[2017-02-10 08:07] Nazarah opened #2100 "Adding Chatbots to APINF"
# Context

Old fashioned contact forms might not help users to get instant response. User has to wait for an email from administrator to get back to his question and it is time consuming. For simple tasks like providing contact information or querying abut basic functionalities (e.g. adding an API, making a call to API) can be made interactive and time saving by adding chatbots. This may also work

[2017-02-10 09:22] kyyberi commented on #2100
More information https://www.youtube.com/watch?v=HzsTi-kJe30

[2017-02-10 09:26] kyyberi commented on #2100
See also https://github.com/apinf/apinf-bot/issues

[2017-02-10 09:32] marla-singer commented on #2090
### Parameters
prefix is `apinf-api/users/` 01.01 - 31.01 by week
### Result
[code]

[2017-02-10 09:36] brylie opened #2101 "Api Catalog filter options showing as English when Suomi language is selected"
On the API Catalog, the 'Filter by' options are showing as English when Suomi language is active:

![screenshot_20170210_112714](https://cloud.githubusercontent.com/assets/17307/22821763/33181704-ef85-11e6-8d86-cd4b584f934f.png)

[2017-02-10 09:37] marla-singer commented on #2101
Duplicate of #2046

[2017-02-10 09:44] #2101 closed

[2017-02-10 09:47] #2009 closed

[2017-02-10 09:47] #2097 closed

[2017-02-10 09:50] kyyberi commented on #2096
Perhaps the lifecycle status could be clickable, since dropdown is a bit clumsy to use.
![screenshot at helmikuuta 10 11-44-02](https://cloud.githubusercontent.com/assets/1927158/22822191/0bc53234-ef87-11e6-983a-a2a09808cfa1.png)

[2017-02-10 09:57] Nazarah commented on #2096
about making the page interactive, user can be scrolled down at bottom once s/he fills up a field by pressing enter.
User can always scroll up and down to see fields s/he has filled up or not.
The life cycle statuses can be shown with boot strap tags and with familiar colors. (e.g. blue for design, etc.)

[2017-02-10 10:11] marla-singer commented on #2090
### Parameter
Sprecify prefix that doesn't exist. I used `non-existing/` value
01.01 - 31.01 by week
### Result
[code]

[2017-02-10 10:24] saralavanip commented on #2031
@bajiat @nnn @brylie @marla-singer  , I was testing this case aiming security aspect in different scenarios as below:

Scenario 1:
-> Expired link in a deleted account (user 1 )

        ==> 1(a) At this point,browser has no tabs with apinf user session

-> Click on expired link

       ==> 1(b) Actual Result: redirects to APinf homepage (https://staging.apinf.io)
                with error messag

[2017-02-10 10:24] brylie commented on #2093
This seems related to the API Umbrella internal **matching order** field:

![screenshot_20170210_122004](https://cloud.githubusercontent.com/assets/17307/22823321/bc960bf2-ef8b-11e6-8f98-6081cfafaad9.png)

The **matching order** field tells API Umbrella in which order to route requests. API Backends with lower matching order value will be routed before higher level routes, when their frontend pref

[2017-02-10 10:33] brylie commented on #2090
Although, this leaves us scratching our heads and asking *"Where are the counts?"*.

[2017-02-10 10:36] brylie commented on #2090
Lets see how these queries work on frontend prefixes with existing data.

[2017-02-10 10:38] marla-singer commented on #2090
@bajiat Look at first report. Now I'm going to test params as `query` (generates for fields to filter) and `search` (A raw elasticsearch query string)

[2017-02-10 10:49] brylie commented on #2093
In the spirit of this issue title, we might consider 'solving' this challenge by allowing multiple, explicit frontent prefixes per Proxy Backend. This aligns with the design of API Umbrella:

![screenshot_20170210_124709](https://cloud.githubusercontent.com/assets/17307/22824110/306e33bc-ef8f-11e6-8534-e020f70fd7e7.png)

Then we can change our code to *not* use wildcard queries for getting/deletin

[2017-02-10 10:50] brylie commented on #2093
*Caveat emptor*: this would require that API managers explicitly define *every* desired frontend prefix, rather than allowing for the 'catch all' prefixing that API Umbrella allows.

[2017-02-10 11:12] marla-singer commented on #2090
I found issue https://github.com/NREL/api-umbrella/issues/275
As I understood `prefix` is not the api frontend_prefix

[2017-02-10 11:13] marla-singer commented on #2090
### Parameters
`prefix` is `0/`
01.02-09.02 by day
### Result
[code]

[2017-02-10 11:41] brylie commented on #2090
Cool, thanks. Strange looking structure!

[2017-02-10 12:12] #2095 closed

[2017-02-10 13:25] bajiat commented on #1048
Closing the issue, since Codegen is running on a server and code snippets can be downloaded in apinf.io.

Also, it is integrated to the APInf UI, since
* there is a setting for enabling Codegen in Settings in APInf UI for any deployment
* when Codegen is enabled, Documentation tab has Download SDK button for any API that as a Swagger file.

[2017-02-10 13:25] #1048 closed

[2017-02-10 13:34] Nazarah commented on #1993
hi @nnn , I came up with these designs from your feedback.

1. When there is no documentation available, on clicking the  manage button, the dialog shows three fields to upload swagger file, render the files's UI by giving swagger file's URL and field for external URL. As long as no file uploaded, the method pane is inactive. The field to add swagger documentation URL can be activated when a file

[2017-02-10 13:34] bajiat commented on #2096
@kyyberi I think the quality is more than enough. We can get the point from the sketch and it does not take too much of time for creating it on paper.

In general, I like the idea, assuming that it is still just one screen and not going back to the wizard mode.

If we use clickable labels for lifecycle, we should definitely use the same LAF for labels as elsewhere in the UI (color, size, font)

[2017-02-10 14:08] bajiat opened #2102 "Design APInf REST API for Catalog endpoints"
# Description

**Questions:**
- Where is the list of existing endpoints?
- What is the used data model? Is it visible somewhere other than inside code? (should be)
- How are operation authentications handled?
- What are the conventions for error handling?

**Methods POST:**
eg. add something new. Returns created data object on success.

- Add organization
- Add API

Do we put PUT methods to other

[2017-02-10 14:16] bajiat commented on #1993
@Nazarah Good work! There may be some room for improvement for the instruction text and the field labels, but other than that I would say this is now ok.

## Instruction text
You can upload and API documentation file (Swagger) or provide a link to your API documentation file. The API documentation file is rendered in the Documentation viewer. You can also provide a link to other external documenta

[2017-02-10 14:24] bajiat commented on #883
Verified in nightly. Contact form texts have been translated to Finnish. There are no English details in API cards in latest APIs. This issue can be closed.

[2017-02-10 14:24] #883 closed

[2017-02-10 14:26] marla-singer commented on #2090
I researched another thing. Not so useful but I'd like to notice
The `result` array is a projection of table in the api umbrella Analytics page.
When the `prefix` is `0/` we've got the array
[code]
and table
![joxi_screenshot_1486733909029](https://cloud.githubusercontent.com/assets/20643403/22828688/bc2ac6a2-efaf-11e6-9bac-54ebc8f5d5c7.png)

When the `prefix` is`1/` then it's some projection of t

[2017-02-10 14:27] bajiat commented on #882
Verified in nightly. This error is still reproducible.

[2017-02-10 14:29] bajiat commented on #880
@saralavanip This error should not be reproducible because of the recent changes with refresh (#258). Please verify.

[2017-02-10 14:37] bajiat commented on #973
This issue is too generic. Either we need to list the texts requiring improvements and include the list in this issue. The other alternative is to improve texts as we are improving the UI in general element by element, in which case we could close this issue. I prefer the latter.

[2017-02-10 14:42] kyyberi commented on #2096
Yes, no wizard, just one pager. I agree about the labelling, just did not have time to change colors when drafting.

[2017-02-10 15:14] marla-singer commented on #2090
You can filter using the `search` URL parameter if you want to pass in a raw Lucene-style query.
Tested some of ElasticSearch fields:
- _request_at_: couldn't find the right format.
- _response_status_: a format is a Number
- _response_time_: a format is a Number
- _request_ip_: format is an IP as 10.0.0.12
- _request_ip_country_: format is RU, EN and the same
- _request_path_: a format is `\/fron

[2017-02-10 21:15] willebra commented on #2080
Hi Guys

Chandra invited me to participate in this discussion. I have pretty limited knowledge on APIinf.io, but have quite a bit of experience in dealing with licensing and business model questions. So you could take what I write below as general notes to consider. But anyhow I'll try to make my comments more specific to APIinf.io.

Choosing a license is most often a too limited question. The wid

[2017-02-11 10:37] kyyberi commented on #2080
Thanks @willebra for thorough and insightful comment!

[2017-02-12 13:57] nnn commented on #2080
Don't have much experience in license choosing, especially in a long term view.
Here is a [blog post](https://github.com/blog/1964-open-source-license-usage-on-github-com) about open source license usage on GitHub.com that perhaps may help us to make a decision.

[2017-02-12 14:02] kyyberi commented on #2080
A little statistics from BlackDuck if that seems interesting https://www.blackducksoftware.com/top-open-source-licenses

[2017-02-12 19:56] mauriciovieira opened #2107 "Organize imports after linting the code."
After #2045 is finished,  organize `eslintrc`, sort `eslintignore`, order the imports and comments,  and remove unnecessary imports

[2017-02-13 06:53] kyyberi commented on #973
I agree, it should be broken into pieces. Perhaps we can work on these on our weekly UX meetings? Lets pick one on each time and iterate a little more. At least that way we have a method and plan :)

[2017-02-13 06:53] kyyberi commented on #2096
@Nazarah lets pick this one as topic for our UX meeting today

[2017-02-13 08:42] snittoor commented on #2065
@bajiat :  I could not reproduce the data locally.

[2017-02-13 09:34] #2027 closed

[2017-02-13 10:44] Nazarah commented on #2024
It would be good to have the research and work based on service designing. Often it helps to focus down on to the most important and minimalistic features. And there is possibilities to add/modify personas accordingly.
I recommend to use this free template from http://thisisservicedesignthinking.com
We used this one in our school works, but is good enough to be used for APInf as well

[2017-02-13 10:49] Nazarah commented on #2029
A good template to use here is this:
http://files.thisisservicedesignthinking.com/tisdt_cujoca.pdf
It is free to use

[2017-02-13 10:50] Nazarah commented on #2029
Cards made on the previous day's discussion is placed in the following trello board:
https://trello.com/b/ElD941vf

[2017-02-13 10:57] kyyberi opened #2113 "APInf.io as global catalog with harvesting"
We want apinf.io contain a lot of APIs. At the moment it seems pretty hard to grow amount of APIs in the catalog with current approach.

## Automated harvesting

One way to get amount of APIs in catalog rising is to build harvesting system and get all APIs from dedicated apinf installations to apinf.io automatically.  Dedicated apinf owners can block this feature in configuration. We have build a

[2017-02-13 11:00] saralavanip commented on #880
@bajiat , verified this resolved issue on https://nightly.apinf.io   v 0.40.0 and it is not reproducible.

[2017-02-13 11:04] kyyberi opened #2114 "apisuomi.fi apinf installation"
I established API:Suomi (API Finland) apisuomi.fi (more often down, having a lot of issues with it) 2014 as an experiment (PoC). There’s like 140 APIs listed and those APIs are Finland specific. It’s the number one API community site in Finland. It contains a lot of blog posts which are used in universities as teaching material nowadays. We can't afford to loose the content nor the APIs.

Plan is

[2017-02-13 11:42] bajiat opened #2115 "Research options for proper API Umbrella API backend prefix and analytics handling"
Related to issues #2090, #2093, #2032

At the moment, Apinf UI allows user to use any proxy backend path as long as it is unique. However, API Umbrella matches APIs for calls by the matching order field. As a result, calls maybe terminating in a way user is not expecting.As a worst case scenario, they ends up calling a completely different API.

API Umbrella Analytics provides us with a drill-down

[2017-02-13 11:46] bajiat commented on #2115
@shaliko @marla-singer Please estimate this research task.

[2017-02-13 11:54] kyyberi commented on #2114
Related to #2113

[2017-02-13 12:35] kyyberi commented on #2113
Related to #2114

[2017-02-13 12:51] philippeluickx commented on #2029
@Nazarah board not found... is it public or do I need access somehow?

[2017-02-13 12:57] kyyberi opened #2116 "Customer support chat"
Decide which chat platform we'll use for customer support and how we organise channels. We'll have plenty of different customers and those require sometimes private channel for support and discussions.

Perhaps we need to establish support.apinf.io / tuki.apinf.io as general Customer User Support.

[2017-02-13 13:53] bajiat commented on #2029
@philippeluickx: @Nazarah will take a look at the problem

[2017-02-13 13:55] bajiat commented on #880
@saralavanip Thanks. Closing the issue.

[2017-02-13 13:55] #880 closed

[2017-02-13 13:58] bajiat commented on #2024
@philippeluickx I think it would be a good idea to update our personas. We worked with the personas at the very start of the project and - hopefully - have learnt a lot since. They were a starting point, but don't suffice any more.

[2017-02-13 14:01] bajiat opened #2117 "Update personas"
There are currently three personas defined for APInf: one API owner, two developers. Let's take a critical look at the personas, see if we need to re-name (Apitalist and APIOps?) and update or even start from scratch.

[2017-02-13 14:15] marla-singer commented on #2115
@bajiat
We think that it should be easy to start from these issues #2032 and #2093. The main idea is to add the unique namespaces. This solution will help to resolve both issues:
    - A user will not be able to call other APIs.
    - A user will be able to delete all ElasticSearch data associated with his API including the nested requests.

1. #2093 Check that the case is or not reproduced when w

[2017-02-13 14:54] bajiat commented on #2080
@willebra Thanks for taking the effort and providing us with your insights on the license and on the competitive advantage!

[2017-02-13 18:05] kyyberi commented on #2117
To me as newbie it seams that the focus has been mostly on technical support. API manager doing proxy settings and looking at how well they serve. The other side of the "API manager" role is monetisation and service level etc. That is APItalist.

So far the other role has been "developer" or consumer. APIOps includes both sides; API consumer and API developer. Both look after automation and that i

[2017-02-14 07:21] kyyberi commented on #2067
Decision has been made that we'll go forward with this track. Has it already been decided should we go with Docker or de-meteorized path? If we push docker in other directions, then that might make more sense as platform point of view.

[2017-02-14 07:23] kyyberi commented on #2071
Excellent. I'll be your test developer when you @shaliko have a little howto documentation for me to use.

[2017-02-14 08:59] Nazarah opened #2119 "Writing a UX Blog"

[2017-02-14 09:35] bajiat commented on #2115
@marla-singer @shaliko Can I ask for one clarification: Is the estimate - 8 days -for the documented research with options?

[2017-02-14 09:38] bajiat commented on #2071
@shaliko Based on a prioritization meeting yesterday, we would like you to contribute to this task. #2115 has higher priority, so this is the next task after that.

[2017-02-14 09:42] bajiat commented on #2067
I would go for Docker, or in fact already asked @shaliko to contribute in #2071, since Docker is used for all installations as our standard package. Let me know if there are strong objections to this.

[2017-02-14 09:59] philippeluickx commented on #2032
Suggestion during standup: Instead of deleting APIs, we can only "archive" them. This way we ensure they remain "in the system" and are unique. Historical data will still be relevant then.

[2017-02-14 10:02] shaliko commented on #2071
@bajiat Great, right after #2115 I will start from build Platform ARM docker image, so @kyyberi will able test it with settings on api-umbrella from nightly, then will switch to ARM docker image for api-umbrella.

[2017-02-14 10:24] kyyberi commented on #2080
What's the process to close this issue?

[2017-02-14 10:26] kyyberi commented on #2067
+1

[2017-02-14 10:38] marla-singer commented on #2115
@bajiat Yes. This estimate includes time for the documented as well.

[2017-02-14 11:46] philippeluickx commented on #2080
Good point.
Considering the points here, we should decide on what our USP would be. Data is always a good USP...

[2017-02-14 11:49] bajiat commented on #909
@saralavanip This should be resolved. Name field shows a username. Please verify.

[2017-02-14 12:07] philippeluickx opened #2120 "Add interesting and useful APIs to apinf.io catalog"
We should add some good APIs to our apinf.io instance.
One decent-looking source is https://github.com/APIs-guru/openapi-directory, which even has an API that we can integrate: https://apis.guru/api-doc/

# Definition of done
* [ ] Each team member adds at a minimum 2-3 APIs to apinf.io
* [ ] Add a logo and documentation, if possible
* [ ] Optionally, connect the API to the proxy

[2017-02-14 12:12] saralavanip commented on #909
@bajiat , verified this resolved issue on https://nightly.apinf.io v 0.40.0 and it is not reproducible.

[2017-02-14 12:34] brylie commented on #2032
I like the idea of leaving the historical analytics data in-tact. It seems simpler in the short-term, and may be useful for the System Administrator to have access to all analytics data, even for 'deleted' backends.

[2017-02-14 12:38] #909 closed

[2017-02-14 12:48] kyyberi commented on #1994
Users, as often is the case when competition is encouraged, will gain the most. New services will arise in the form of payment methods, intelligence on how to better use each one’s savings, and reusing identification capabilities. The main difference will be that we won’t need wallets anymore (eg: Paypal, PingIt) but we’ll simply ask Whatsapp to connect to our bank account and use our fingerprint

[2017-02-14 12:53] kyyberi commented on #2120
In long term I would use planned harvester for this. Harvester will be stand-alone server which sits in between catalogs (other apinf instances and other repositories) and our apinf.io service. It collects periodically meta information about APIs and pushes them to apinf.io. We'll create this anyway to support collecting X-Road APIs from liityntäkatalogi (https://liityntakatalogi.suomi.fi/en_GB/)

[2017-02-14 12:56] kyyberi commented on #2117
To me it sounds that we need a story teller. We might become blind to obvious paths. Perhaps we should consider getting some help from partners.

[2017-02-14 13:34] kyyberi commented on #2071
related to EPIC #2067

[2017-02-14 13:35] bajiat commented on #898
Status verified in nightly

# Findings:
* Dashboard view: Analytics ->Filter -> Calendar is in English
* Add API form - >Field titles are now localised to Finnish
* Settings view: Field titles
  * ' API Name' , 'Description' > localised to Finnish
  * 'Email' > still in English
Documentation view - > Manage view: info texts are in English language > still in English
Users view: Manage roles, edit

[2017-02-14 13:39] philippeluickx commented on #2120
https://github.com/APIs-guru/openapi-directory actually has a harvester updating the APIs automatically every 48h when changes occur. At least that's what is mentioned on the repo.

[2017-02-14 13:41] bajiat commented on #811
Closing this issue as outdated. Both related tasks are closed. Also, there is a number of bug reports related to specific untranslated UI texts in the issue list.

[2017-02-14 13:41] #811 closed

[2017-02-14 13:43] bajiat commented on #2076
Verified in nightly, closing as resolved.

[2017-02-14 13:43] #2076 closed

[2017-02-14 13:54] saralavanip commented on #2057
@bajiat , verified this resolved issue on nightly and it is not reproducible.

[2017-02-14 13:57] bajiat opened #2122 "Add UI to add and view Privacy policy and terms of use"
# User story

I want to be able to add privacy policy and terms of use to my deployment
so that I can meet the legal requirements.

I want to be able to see the privacy policy and terms of use
so that I know whether it is safe to register and give my user data.

# Definition of done
* [x] Branding settings contain an option for adding a text or uploading a text file
  * [x] for privacy policy.
  *

[2017-02-14 14:04] philippeluickx commented on #2002
https://github.com/RocketChat/Rocket.Chat/commit/8908120386d68a7a3890bac05ebf40c1e1216b18

Rocket chat seems to have them?

[2017-02-14 14:34] bajiat commented on #1400
Now that we have organization support, this should also apply to organizations and not just users. That might mean changing how to add api to determine whether you are adding it as a user or as an organization manager.

[2017-02-14 14:36] saralavanip commented on #2033
@bajiat , verified this resolved issue on https:/nightly.apinf.io v 0.40.0 and it is not reproducible.

[2017-02-14 14:56] philippeluickx commented on #2002
There are some generators:

- https://www.iubenda.com/
- https://termsfeed.com/privacy-policy/generator/
- https://www.freeprivacypolicy.com/

More into the area of CC:

- https://wiki.creativecommons.org/wiki/CC-inspired_projects_for_Terms_of_Service_and_Privacy_policies

Machine readable privacy policy?

- http://softwareengineering.stackexchange.com/questions/257660/is-there-something-like-crea

[2017-02-14 15:07] bajiat opened #2123 "Add automated check for hardcoded UI texts"
At the moment, it is possible to check the English UI text file (en.i18n.json) for texts that are not used anywhere in the user interface. It would be useful also to check for UI texts that have been hardcoded instead of using an i18n tag and adding the text to the en.i18n.json file.

# Definition of done
* [ ] The script for checking the strings in the en.i18n.json file is written in Javascript
*

[2017-02-14 15:21] bajiat opened #2124 "Automate the localisation round"
We are using [OneSky](https://www.oneskyapp.com/) as our online localisation tool for translating and proofreading our translations. At the moment, the files are manually uploaded to the service and manually exported from there after they have been translated, proofread and marked as finalized. After the export, a PR is raised in APInf.

Study automating the toolchain of
* getting the new strings

[2017-02-14 17:29] kyyberi commented on #2124
Something around this has been studied in #2050

[2017-02-14 21:54] mauriciovieira commented on #2045
🎆 🎉 🎉

[2017-02-14 21:54] #2045 closed

[2017-02-15 07:00] jykae opened #2126 "Helper function to "promisify" method calls"
Consider adding helper function to core helper functions, use of Promises would make chained Meteor calls easier to read.

Reference: https://forums.meteor.com/t/start-using-async-await-instead-of-promises-and-callbacks/17037/52

[2017-02-15 11:59] saralavanip commented on #2028
Reported issues: #2076, #2081,#2087, #2095

Verified issues:
 - APIKA : #205,#298, #299,#301,#325,#342,#343,#334,#338 ,#909
 - Platform: #2051, #2055, #2033

[2017-02-15 13:40] bajiat commented on #2032
This task is under research. See issue #2115

[2017-02-15 14:30] bajiat commented on #2080
The purpose of the issue was to collect feedback and comments from our team about the license. Unfortunately, I did not give a deadline to comment this issue, so I'm giving it now. If there any more comments from our team, they should be given by Friday 17 Feb. After that I will close the issue.

Any discussion about USP could be either a separate issue or maybe a continuation of the customer jour

[2017-02-15 14:34] bajiat commented on #2074
Can I place this issue in icebox until we find out what will happen with #2036? The current understanding is that the data available through the admin API is really limited and would not serve our dashboard. Either we would need to enhance the admin API or we need to continue using ElasticSearch.

Or will placing this in icebox and waiting mean problems with any OpenShift experiments?

[2017-02-16 11:01] shaliko commented on #2071
@kyyberi @brylie I started from run MongoDB v 3.x because the thought that it will be the most challenging, but after I successfully start MongoDB v 3.0.9 on raspberry I found that Meteor can't work on armv7l architecture (raspberry pi).

[code]

https://github.com/meteor/meteor/issues/442

Currently, we can't start Meteor on the raspberry pi.

[2017-02-16 11:06] shaliko commented on #2071
Actually I found few instructions how run it, will try apply on our current code base https://crater.io/posts/go5Ne2NBqfb6ALYo3/help-installing-meteor-on-a-raspberry-pi-2

[2017-02-16 11:20] bajiat commented on #2090
@marla-singer Thanks for the research.

Closing the issue.

[2017-02-16 11:20] #2090 closed

[2017-02-16 11:44] bajiat opened #2128 "Separate apinf.io chat from Sampo chat"
- Create a separate instance of RocketChat for APInf with APInf as the domain
- Consider preserving current channels and existing data

[2017-02-16 11:45] bajiat commented on #2116
Consider APInf RocketChat, using a channel per client

[2017-02-16 11:54] bajiat opened #2129 "Research API monitoring options"
Check monitoring services and whether they could be integrated with APInf. One of the criteria is a REST API for starting monitoring and getting monitoring data back. Supports multi-level criteria for monitoring, such as thresholds set by API managers. The service must also be fully open source.

# Definition of done
* [x] Research more than one option.
* [x] Present the results in a [comparative

[2017-02-16 11:58] bajiat commented on #2056
@marla-singer @brylie Check if this was already resolved.

[2017-02-16 12:00] marla-singer commented on #2090
@bajiat I'd like to add couple moments which I found during research for 2115
 ### Using drill-down request
1. We can use fetched data only for **API Request Timeline** chart
2. To fetch data for specific frontend-prefix there should use `query` URL parameter with body as

[code]
(or couser, body must has encoded format)

### Using response
1. If API-umrella doesn't has data for specific parameter

[2017-02-16 12:22] #2049 closed

[2017-02-16 12:33] bajiat commented on #2008
@shaliko I may have accidentally deleted your description of the issue. Sorry for that.

[2017-02-16 12:35] bajiat commented on #1995
@philippeluickx I can't see the scrollbar and I remember there was a pull request fixing this. If you can't see it in nightly, it should be resolved.

[2017-02-16 12:39] bajiat commented on #1971
Let's check if we can close. let's discuss by chat.

[2017-02-16 13:01] bajiat commented on #1926
Check whether this has been resolved.

[2017-02-16 13:02] bajiat commented on #1900
Related to #2111. Closing as duplicate.

[2017-02-16 13:02] #1900 closed

[2017-02-16 13:03] bajiat commented on #1880
Please check if this can this be reproduced.

[2017-02-16 13:11] nnn commented on #1995
Resolved here https://github.com/apinf/platform/pull/1934

[2017-02-16 13:29] Nazarah commented on #2117
Interested

[2017-02-16 14:10] bajiat opened #2130 "Identify key elements of SaaS service monetization"
Create a mindmap about Saas sevice monetization to identify the key elements related to both admins and API owners and potential other users. At this stage, this can be needs or actions etc.

[2017-02-16 14:42] bajiat commented on #1888
This issue was moved to apinf/emq-analytics-dashboard#5

[2017-02-16 14:42] #1888 closed

[2017-02-16 14:46] bajiat commented on #2117
@kyyberi I think you are absolutely right about the need to have a persona also for the business person at the API owner side, the Apitalist.

I'm ok with using Apitalist and APIOPS terms for personas, but would like to differentiate between API owners and API consumers in technical side. So I would prefer not using APIOPS for both owner and consumer persona.

[2017-02-16 14:51] shaliko commented on #1971
No new releases here https://hub.docker.com/r/smashwilson/lets-nginx/, so issue not fixed yet.

[2017-02-16 14:52] shaliko commented on #2008
We can close that issue, here was found some fix that we can use for openshift/kubernetis deployment https://github.com/jshimko/meteor-launchpad/issues/34

[2017-02-16 14:52] #2008 closed

[2017-02-16 14:54] shaliko commented on #2074
I am OK with a move that issue to the icebox, fix #2036 will make not relevant that issue.

[2017-02-16 18:45] brylie commented on #2071
Ok, we might just have to build the app for production, as a plain Node.js app.

[2017-02-17 07:30] marla-singer commented on #2115
@bajiat Uploaded the research paper

This problems are grouped together. [Link to the research document](https://github.com/apinf/docs/blob/master/docs/research/Namespace%20for%20frontend-prefix.md)

[Link to the research document](https://github.com/apinf/docs/blob/master/docs/research/Drill-down%20analytics%20endpoint.md)

[Link to the research document](https://github.com/apinf/docs/blob/master

[2017-02-17 07:30] bajiat commented on #1994
Great research! Should we move the documented findings to the documentation repository from the issue?

[2017-02-17 09:13] bajiat opened #2131 "Branding: hightlight color should not be default blue when font color is undefined"
# Steps to reproduce:
1. Log in to nightly.apinf.io as an admin
2. Go to Branding settings
3. Select a primary branding color (e.g. dark red, green)
4. Leave the secondary color undefined

# Expected result:
The highlight color should match with the primary branding color

# Actual result:
The highlight color is the default blue color, because the the secondary color has not been defined

Proposal

[2017-02-17 09:44] ccsr commented on #2080
First of all, thanks to all for taking time to comment on this post. This licensing discussion has been initiated by me in the team so I will also put my perspective here.

I have 2 point of view about this issues, first is about Adaptation & Branding and second is what APInf stands for and its responsibility towards community.

- Adaptation & branding
Our mission at APInf is to make everyone awar

[2017-02-17 10:03] brylie commented on #2080
# MIT popularity
The MIT license is popular for many projects, including the profusion of "component libraries aimed to enter in larger works" ([source][eupl-license-and-comp-agreements]) emerging in language ecosystems such as JavaScript, Python, etc. These small-scale libraries probably skew the distribution of 'license popularity', since small libraries are much more common than more end-to-end

[2017-02-17 10:25] kyyberi commented on #1994
Thanks. I'll copy content to docs and close the issue

[2017-02-17 10:44] marla-singer commented on #2010
@bajiat I wonder do fields "URL", "API key", "auth token" and "elasticSearch" need a  translation?

[2017-02-17 11:28] bajiat commented on #2031
@saralavanip IMHO, This does not mean there is a grave security concern. The precondition is that the second user is active / logged in on that same device.

[2017-02-17 11:51] marla-singer commented on #2011
![joxi_screenshot_1486123683725](https://cloud.githubusercontent.com/assets/20643403/22590887/9c98c862-ea22-11e6-9a9d-2be710a712ed.png)
In process of work, I detected that fixing of specified phrase is too complex. I asked an advice to @brylie.We decided to remove the first option `(Select one proxy)` from dropdown list mentioning that it is just a 'placeholder' text, rather than an option.

Now w

[2017-02-17 12:30] bajiat commented on #2011
@marla-singer Go ahead and remove

[2017-02-17 12:36] brylie commented on #2115
Notes on **Namespace for frontend-prefix** document.

# The first option
- we need to support both **username** and **organization** namespacing
- this doesn't *completely* solve the **matching order** issue
  - e.g. user *brylie* creates `/brylie/alternative` and `/brylie/alternative/rock/seattle/nirvana`
  - matching might still resolve `/brylie/alternative/rock/seattle/nirvana` to `/brylie/alte

[2017-02-17 12:41] marla-singer commented on #2115
@brylie Can't understand what the problem is. Could you please describe more detail?

[2017-02-17 12:42] brylie commented on #2115
@marla-singer please refer to discussion in your [original issue](https://github.com/apinf/platform/issues/2093). What specifically should we clarify?

[2017-02-17 12:45] brylie commented on #2115
Here is a screenshot of the API Umbrella API Backends list, showing the **matching order** field:

![API Umbrella Backend matching order](https://cloud.githubusercontent.com/assets/17307/22823321/bc960bf2-ef8b-11e6-8f98-6081cfafaad9.png)

[2017-02-17 12:47] bajiat commented on #2115
@marla-singer We are commenting this together with @brylie. Not sure what to answer "what the problem is" since we don't know which comments you are referring to

[2017-02-17 12:49] marla-singer commented on #2115
@bajiat I told about this sentence. Is it just note for clarification or note as a remark for me?

[2017-02-17 12:50] kyyberi opened #2133 "In catalog, make life-cycle phase icon a link to filtered list"
As a developer I would like to click from catalog "production" label and get filtered list of APIs containing just APIs in production. This is faster than selecting from filtering options.

# Wireframes

Currently, APIs with lifecycle status appears like below in catalog (card view)
![apicatalognew](https://cloud.githubusercontent.com/assets/17976243/23122575/6d1d3e80-f76d-11e6-884a-d99c17af786c.p

[2017-02-17 12:51] bajiat commented on #2115
We are commenting document by document and wanted to indicate which document we are commenting.

[2017-02-17 12:58] kyyberi opened #2134 "In catalog, make filtering options icon based (no dropdown)"
In catalog I would like to have just 3 clicks to filter APIs. 1) click filter icon 2) select wanted lifecycle phase. 3) Click apply filters. That could be achieved by converting dropdown to icons (lifecycles).

Now it requires four clicks. 1) click filter icon 2) Click dropdown to see options 3) select option from dropdown list 4) click apply filters

[2017-02-17 13:05] kyyberi commented on #1994
Copied to research https://github.com/apinf/docs/blob/master/docs/research/PSD2.md

[2017-02-17 13:05] #1994 closed

[2017-02-17 13:06] philippeluickx commented on #2080
Good point there Brylie.
Personally when I see "strong" copyleft licenses, it scares me. Does it mean that when I use this code, I need to open source everything else I work on? Am I still doing legal coding, what are my restrictions?
With the more permissive licenses, there are less questions.

This is just "feelings". It might be different for other devs. Just wanted to point out that "understan

[2017-02-17 13:17] brylie commented on #2115
Notes on [Drill-down analytics endpoint](https://github.com/apinf/docs/blob/master/docs/research/Drill-down%20analytics%20endpoint.md) document.

## How to get data

### Direct request to ElasticSearch

Cons
2. our current **multi-proxy** setup allows the Proxy to be deployed on any server, accessible via public Internet
  - our current deployments usually have API Umbrella and Apinf on the same V

[2017-02-17 13:23] brylie commented on #2115
Notes on [API key per API](https://github.com/apinf/docs/blob/master/docs/research/API%20key%20per%20API.md) document.

[2017-02-17 14:38] bajiat commented on #2016
@marla-singer Not sure what I was supposed to comment

[2017-02-17 14:39] kyyberi opened #2135 "APIOps community plan"
# Make a plan

Draft a plan for how we connect/use/contribute with APIOps community.

## Define

- Our role in it.
- Aims
- How we monetize and what (how to sell; what are the products)
- How to engage developers (gifts, who pays them?) One community "accepted" gift for speakers is Amazon gift card. What else could it be?

[2017-02-17 14:39] marla-singer commented on #2016
@bajiat Is it okay that Freed back type will be on English? Or should it have a translation as well?
![joxi_screenshot_1486124622276](https://cloud.githubusercontent.com/assets/20643403/22591278/c6a905d4-ea24-11e6-857b-71fbd5aa30dd.png)

[2017-02-17 15:09] bajiat commented on #2080
Thanks for participating in the discussion! Closing the issue. Final decision will be made by the board, but the points given in the discussion will help in making the decision.

[2017-02-17 15:09] #2080 closed

[2017-02-17 16:49] kyyberi commented on #2080
- Advantages of permissive licenses for companies and commercial use-cases: they place only "minimal restrictions on future behavior" and aren't "legal time-bombs", unlike copyleft licenses.
- permissive licenses have often an excellent licence compatibility  in comparison to copyleft licenses who can't be always freely combined and mixed. (makes business efforts and application harder)
- In gener

[2017-02-17 18:18] alfredjkwak commented on #2126
Blog post also released: https://blog.meteor.com/using-promises-on-the-client-in-meteor-fb4f1c155f84#.dlpuuizcu

[2017-02-18 15:10] marla-singer commented on #2065
@bajiat

[2017-02-18 15:11] marla-singer commented on #2046
@bajiat Interested

[2017-02-18 15:12] marla-singer commented on #2013
@bajiat Interested

[2017-02-18 15:12] marla-singer commented on #2010
@bajiat Interested

[2017-02-18 15:25] marla-singer commented on #2011
@bajiat I suggest deleting all placeholder texts if a value from the list is required. For example, adding feedback. The message type is required then value`(Select one)` can be removed.
![joxi_screenshot_1487431173909 1](https://cloud.githubusercontent.com/assets/20643403/23094306/75e17084-f607-11e6-9f16-0ff0ac74ced0.png)

The other hand, the lifecycle status is optional then value `(Select statu

[2017-02-20 06:58] kyyberi opened #2136 "Lifecycle status readability should be optimized"
# Story
In listing the APIs I find it a bit blurry or hard to read given lifecycle status label texts
![screenshot at helmikuuta 20 08-54-23](https://cloud.githubusercontent.com/assets/1927158/23114984/c5956664-f74a-11e6-8c16-4478af1c8331.png)

# Definition of done
- [ ] Design how to make it better; font face, lightness, etc
- [ ] readability is implemented

[2017-02-20 06:59] kyyberi commented on #2136
This is just minor thing, but it started to annoy me. Perhaps because it's Monday...

[2017-02-20 07:00] Nazarah opened #2137 "wireframe for "Add UI to add and view Privacy policy and terms of use""
#2122

[2017-02-20 07:02] kyyberi opened #2138 "Footer says "powered by: Sampo Software Oy.""
Should it be "powered by: APInf Oy" ?  (in https://nightly.apinf.io/)

[2017-02-20 07:09] Nazarah opened #2139 "wireframe for "Customer support chat""
# 2116

[2017-02-20 07:23] Nazarah opened #2140 "Write a blogpost about UX Experiments for APInf"

[2017-02-20 07:28] Nazarah opened #2141 "Add "Back to Top" arrow on pages with large contents."
# Requirements:
* [ ] pages with large contents (e.g. where page headers need to be seen by scrolling upwards like API profile/ API catalog) has a "Back to Top" button
* [ ] on clicking the button, User is navigated to the top of the page

[2017-02-20 07:52] kyyberi commented on #2141
+1

[2017-02-20 08:00] #2119 closed

[2017-02-20 08:24] Nazarah opened #2142 "Add "Follow" button in API card and profile"
# Requirements
[ ] API Cards, table entries and profile contain a "Follow" button
[ ] on click, button changes to "Following"
[ ] API consumers following an API gets notified for changes in API information (e.g. association with an organization), contents (e.g. update made in API documentation) and event (e.g. API going down)

* **Open Issue**: should we notify users about changes in proxy setting

[2017-02-20 08:29] Nazarah opened #2143 ""Dashboard" link appears in APInf footer"
When user is signed in, on APInf footer, a link to Dashboard appears.
Footer shouldn't have any link for navigation.
Only a valid link can be to log off / sign out from current logged in session.
![image](https://cloud.githubusercontent.com/assets/17976243/23117349/fc3685ec-f757-11e6-9a48-da9255a477af.png)

[2017-02-20 08:39] Nazarah commented on #2133
+1

[2017-02-20 08:41] Nazarah opened #2144 "wireframe for "In catalog, make life-cycle phase icon a link to filtered list""
#2133

[2017-02-20 08:41] bajiat commented on #2122
@nnn Would you be interested? If yes. please estimate

[2017-02-20 08:47] Nazarah commented on #2138
May be we should also have a new logo for APInf Oy. :)

[2017-02-20 08:52] bajiat commented on #2102
@brylie Document the datamodel
@kyyberi Create api design and mentor
@matleppa Study how we create the endpoints and participate in design with @kyyberi

[2017-02-20 08:56] bajiat opened #2145 "Document APInf datamodels"
# Definition of done
* [ ] Create a datamodel for APInf collections
* [ ] Create an entity relationship model
* [ ] Store the models / diagrams in docs repository

[2017-02-20 09:11] bajiat commented on #2055
@nnn Would you be interested?

[2017-02-20 09:12] bajiat commented on #2133
@marla-singer Would you be interested?

[2017-02-20 09:13] marla-singer commented on #2133
@bajiat Yes

[2017-02-20 09:56] kyyberi commented on #2120
Woohoo! It's a race! :)

[2017-02-20 10:12] kyyberi commented on #2102
Do we have a folder in repository where we should store design (swagger)?

[2017-02-20 10:13] kyyberi commented on #2102
Design will be done in Swaggerhub.com and from there I can sync result to given repository folder.

[2017-02-20 10:29] kyyberi commented on #2102
Working environment https://app.swaggerhub.com/api/kyyberi/APInf-REST-API/MVP @matleppa, create an account to swaggerhub and I'll share the API space to you.

[2017-02-20 10:38] Nazarah commented on #2133
@bajiat @marla-singer  what about table view? Should the same feature be also working for table entries? (i.e. clicking on lifecycle status would sort the entries as well?)

[2017-02-20 10:47] bajiat commented on #2138
Sampo Software changed to APInf in both nightly and in production.

[2017-02-20 11:05] kyyberi commented on #2102
How do we auth admin users?

[2017-02-20 11:22] marla-singer commented on #2056
@bajiat What the idea of this issue? It doesn't have description

[2017-02-20 11:29] #2138 closed

[2017-02-20 11:30] bajiat commented on #2142
This suggestion also implies a notification system or center.

[2017-02-20 11:45] bajiat opened #2146 "Release testing for 0.41.0"
Test the 0.41.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases) for 0.41.0 release

# Definition of done
* [x] Test any new development, for example
  * [x]  API owner can embed media content, e.g. videos, tweet, blog posts, to the A

[2017-02-20 11:48] bajiat commented on #2034
@snittoor @brylie Can this issue be closed? Wasn't the related PR merged on Friday?

[2017-02-20 11:50] marla-singer commented on #2013
@bajiat I fixed the tags. Please check that translation is correct for tags:
- "manageApiDocumentationModal_hints_uploadApiDocumentation"
- "manageApiDocumentationModal_hints_documentation_link"

[2017-02-20 11:51] #1881 closed

[2017-02-20 11:51] Nazarah opened #2147 "API Profile -> Proxy tab: No identification of Mandatory fields"
# Reproduction steps:
1. Sign in as admin and go to an API profile -> proxy tab.
2. Add an API base path.
3. Leave Proxy base path (and other fields) empty and click Save and Publish

# Result
Although s-alert indicates to fill up mandatory fields, there is no indication which fields are mandatory and needs to be filled in.
![image](https://cloud.githubusercontent.com/assets/17976243/23124095/e0c9

[2017-02-20 12:03] #2034 closed

[2017-02-20 12:04] brylie commented on #2102
It uses a token-based authentication very similar to OAuth2, but perhaps not OAuth2.

[2017-02-20 12:04] Nazarah commented on #2120
from a Makeup Maniac. ;)

http://makeup-api.herokuapp.com/

right now the added API can only find makeup brands.
It would be great to be able to search by type as well.
looking forward to get a solution here: #2115  :)

[2017-02-20 12:14] Nazarah opened #2148 "API catalog: Hourglass disappears earlier than the time API list gets visible"
![apicatalog](https://cloud.githubusercontent.com/assets/17976243/23124679/f2b23790-f776-11e6-9009-8e0fb42e8b03.gif)

**Expected result** : hourglass gif/animation should disappear only after the API list appears in the view

[2017-02-20 12:35] kyyberi commented on #2102
good

[2017-02-20 12:36] Nazarah opened #2149 "APINF nightly: API key is not possible to retrieve"
# Reproduction steps

1. Login to nightly.apinf.io and add an api.
2. Configure proxy for the API. ( I added Nightly Umbrella).
3. Click on the Get API Key button.

# Result
The S-alert shows key is retrieved successfully but the button gets disabled and keeps showing on "processing".
On refreshing the page, Get API Key button reappears.
No key is shown in the API profile.
![apikey](https://cloud.

[2017-02-20 12:37] bajiat commented on #2010
@marla-singer There should be i18n tags for each of them and the person translating would choose whether to use the English term or to translate.

[2017-02-20 12:43] brylie commented on #2102
The [Meteor Restivus documentation](https://github.com/kahmali/meteor-restivus#logging-in) has an example of a user logging in. In a nutshell, the user can POST their credentials to the authentication endpoint, and receives an `authToken` in return.

[2017-02-20 12:44] brylie commented on #2056
@marla-singer this issue is related to your work with the User Management page. Basically, we want to check any publication related to Meteor users, to see that only Admin users can access 'all user data'. The publication security should match our UI security checks.

[2017-02-20 12:48] bajiat commented on #2149
@Laura-Sampo was able to reproduce the same error

[2017-02-20 12:48] bajiat commented on #2149
@marla-singer Didn't you fix an identical error some time ago?

[2017-02-20 12:52] marla-singer commented on #2056
@brylie Could you please create Definition of done?

[2017-02-20 13:17] marla-singer commented on #2149
@bajiat No, I didn't fix it. The problem was because of server settings, no code.

[2017-02-20 13:19] marla-singer commented on #2149
@bajiat I'm checking it on local

[2017-02-20 13:20] brylie commented on #2056
@marla-singer added definition of done. It is not precise, but is generally the direction we want to go.

[2017-02-20 13:33] marla-singer commented on #2149
Maybe problem is on API-umbrella side. Need to repeate it later

[2017-02-20 13:41] bajiat commented on #2149
@marla-singer ok, thanks for the information. Please check again later.

[2017-02-20 13:54] bajiat commented on #2028
@saralavanip Is this issue done and ready to be closed?

[2017-02-20 14:29] saralavanip commented on #2028
@bajiat , yes its done. we can close this issue.

[2017-02-20 16:30] #2018 closed

[2017-02-20 16:56] kyyberi opened #2152 "Proxy path validation blocks adding huuto.net API"
As a real world example, I tried to add huuto.net API to catalog and add root of the API to proxy. According to huuto.net API documentation, their root is "/1.1/".  http://dev.huuto.net/methods.html#root

![kuvakaappaus 2017-02-20 18-53-46](https://cloud.githubusercontent.com/assets/1927158/23134648/498a44d2-f79e-11e6-845c-8674c16c6d7d.png)

![kuvakaappaus 2017-02-20 18-57-18](https://cloud.github

[2017-02-21 05:31] kyyberi opened #2153 "Filter options box should close if user clicks outside the box"
On https://nightly.apinf.io/apis if I click filter icon and then I decide that I don't want to do filtering, I need to point to filter icon again to close the options. I would like to close it just by clicking elsewhere in the page.

![kuvakaappaus 2017-02-21 07-28-28](https://cloud.githubusercontent.com/assets/1927158/23152025/c4005a08-f807-11e6-9257-ccafb4230901.png)

[2017-02-21 06:53] kyyberi opened #2154 "Weekly reports"
Eventhough email is old-skool I like to read this in email 🙂 Nice report from Zapier about the values I have gained by using Zapier. It keeps me convinced that I am not paying for nothing. Should we consider something similar in APInf?

<img width="563" alt="screenshot at helmikuuta 21 08-50-19" src="https://cloud.githubusercontent.com/assets/1927158/23153821/3fa6bc5a-f813-11e6-99c6-ed0959672e3e.p

[2017-02-21 07:01] kyyberi opened #2155 "Responsive UI and mobile UX"
Eventhough APInf is not used heavily from mobile devices in every day life of API manager or API consumer, it is still the first touch point for the masses. As you know well, people access services from mobile more often than desktop nowadays. Yes, the percentage of mobile users varies depending on user segment and context, but still. We don't have the luxury to loose possible API consumers' inter

[2017-02-21 07:08] Nazarah opened #2156 "Displaying "hooking message" as front page photo carousel"
# Requirements:
* [ ] Branding page has separate panel to customize front page display
* [ ] panel includes photo uploaders
* [ ] user can upload max three photos
* [ ] panel includes three text fields to write the "hooking message".
*  [ ] on saving the changes, a carousel appears showing the photos and messages as slideshow

# Things to consider
* [ ] Repositioning site-name and slogan s.t. both

[2017-02-21 07:08] Nazarah commented on #2156
Carousel in bootstrap:
https://v4-alpha.getbootstrap.com/components/carousel/

[2017-02-21 07:19] Nazarah opened #2157 "Consider automatic filtering in background on selecting different filtering options"
# Usability Issue:
Right now user needs to manually click on Filter button for the result to be filtered according to selected criteria. To make the functionality more usable, filtering should happen in background automatically when user is clicking different criteria to customize the search result. This saves both time and click to get the filtered result.

[2017-02-21 07:44] marla-singer opened #2158 "API profile: Export settings doesn't work"
Navigate to your API if you're an ordinary user or to any API if you're admin. Open Export tab, click on any export button.

On local it throws error `saveAs is not a function(…)` and link to this line:

https://github.com/apinf/platform/blob/366578ce07e1b9743cfe18e92a12510b57e675d9/apis/client/export/export.js#L30

### Reason
There can be because of importing the wrong library
https://github.com/

[2017-02-21 07:46] Nazarah opened #2159 "APInf tutorial"

[2017-02-21 08:02] marla-singer commented on #2155
@kyyberi It will be profit for us if we have the mobile application as well. As I know MeteorJS supports the Apache Cordova that will provide creating the mobile app
https://guide.meteor.com/mobile.html

[2017-02-21 08:08] shaliko commented on #2071
@brylie Just notice you, that I created new repo on DockerHub for rpi docker image.

https://hub.docker.com/r/apinf/rpi-platform/ - currently for tests, so I not contributed to write description text.

[2017-02-21 08:32] brylie commented on #1880
Does not seem to occur on a fresh database any longer.

[2017-02-21 08:32] #1880 closed

[2017-02-21 08:51] kyyberi commented on #2159
I like this a lot and I see the need for this. Written documentation is good but we need something "alive" like videos.

[2017-02-21 08:58] Nazarah commented on #2117
idea: build up a skeleton of personas from the notes in customer journey.
iterate the process as we get more connections with APIOps and APItalists

[2017-02-21 09:01] brylie commented on #2145
![screenshot_20170221_110038](https://cloud.githubusercontent.com/assets/17307/23157748/157108e8-f825-11e6-968e-8ab76de3ba4e.png)

[2017-02-21 09:38] bajiat commented on #2152
@brylie Please verify the error and see where the problems lies

[2017-02-21 09:44] bajiat opened #2160 "If a regular expression fails, inform user about the reason"
Currently, if regular expression fails, user gets a message aboutit failing, but no information about what was wrong with the string they have typed. Hence, it is difficult for the user to fix this.

# Options:
* Include the rule for the regular expression (e.g. allowed characters)
* Show the exact error (e.g. dot is not allowed)

[2017-02-21 10:10] brylie commented on #2152
It looks like we just need to allow '.' character in our [API/Proxy base path regular expressions](https://github.com/apinf/platform/blob/develop/proxy_backends/collection/regex.js#L3).

[2017-02-21 10:13] brylie commented on #2152
We can use the Wikipedia section on [types of URL characters](https://en.wikipedia.org/wiki/Percent-encoding#Types_of_URI_characters) to guide our regex design.

[2017-02-21 10:15] brylie commented on #2152
There is a good [discussion about URL characters on StackOverflow](http://stackoverflow.com/questions/1856785/characters-allowed-in-a-url), that has a few solutions and mentions some security considerations.

[2017-02-21 10:25] brylie opened #2161 "Add schema to ApiBookmarks collection"
The ApiBookmarks collection does not currently have a schema. Add a schema to explicitly define and validate ApiBookmarks content.

[2017-02-21 11:13] brylie commented on #2145
Updated work-in-progress:

![screenshot_20170221_131241](https://cloud.githubusercontent.com/assets/17307/23162588/76c0ae20-f837-11e6-8162-d7c7fd658951.png)

[2017-02-21 11:21] bajiat opened #2162 "Check how to get data about API key from Elastic"
We are interested to have analytics about the API key usage per API. This would for example be a first step towards API monetization.
API key is available in the API Umbrella drilldown dashboard, but does not appear to be available in the drilldown analytics results.

Check if this assumption is true or whether we are omitting API key in the requests we are making at the moment.

# Definition of d

[2017-02-21 11:21] Nazarah commented on #2159
https://activecollab.com/help/books/projects/projects
This is an agile management software and I really liked the professional but humor filled tutorials. (the 1st video).

[2017-02-21 11:22] bajiat commented on #2162
@brylie Can you investigate this?

[2017-02-21 11:26] philippeluickx opened #2163 "Performance testing"
Automated performance testing will indicate performance issues and also give us a better understanding on our app.
This could be link to ongoing DDOS research https://github.com/apinf/platform/issues/1953.

more info: https://en.wikipedia.org/wiki/Software_performance_testing

[2017-02-21 13:12] shaliko opened #2165 "Wrong URL schema for Swagger UI"
If we run Platform with HTTP, but the proxy host will be configured with HTTPS, Swagger UI will try to make a request using HTTP instead of HTTPS.

Swagger UI:
![raspberry_pi_and_slack_-_2glab](https://cloud.githubusercontent.com/assets/36139/23166111/44fb606a-f850-11e6-93b1-d9af59e63716.jpg)

Proxy settings:
![raspberry_pi](https://cloud.githubusercontent.com/assets/36139/23166126/5af123f0-f850-1

[2017-02-21 13:34] shaliko commented on #2071
1) [Install Raspbian on Raspberry PI](https://www.raspberrypi.org/downloads/raspbian/)
2) Install docker and docker-compose:
[code]
3) Create docker-compose.yml file with content:
[code]

Where "192.168.1.34" is IP of your Raspberry Pi in local network (replace it).

4) Run docker-compose:
[code]
5) Visit in browser URL http://192.168.1.34
6) Configure Proxy (I will share the credentials separatel

[2017-02-21 15:14] philippeluickx commented on #2100
http://www.pandorabots.com/

[2017-02-21 15:32] philippeluickx commented on #1506
@mauriciovieira If you are going to write unit tests for this, check out https://www.meteortesting.com/

[2017-02-21 16:04] kyyberi commented on #2160
So in other words we are not going to support all existing APIs? For example this is working API call https://api.huuto.net/1.1/categories. What is the excuse that I say to developer why Huuto.net API is not available?

[2017-02-21 16:11] kyyberi commented on #2160
https://stackoverflow.com/questions/6777274/can-urls-contain-dots-in-the-path-part

[2017-02-21 16:16] kyyberi commented on #2160
Basicly it is a question of practice over standard. Are we in the position to say that customer can not put dots in urls?

[2017-02-21 18:42] kyyberi opened #2166 "Effect of General Data Protection Regulation (GDPR) to apinf"
Check out what kind of effects this might have. There is strong mydata aspect in it.

http://ec.europa.eu/justice/data-protection/document/index_en.htm

# Goal
- Understand the impact on APInf clients (consent management)
- Research and document
- Define next steps

[2017-02-21 19:32] kyyberi commented on #2166
<img width="784" alt="screenshot at helmikuuta 21 21-32-31" src="https://cloud.githubusercontent.com/assets/1927158/23181334/4a0ed190-f87d-11e6-9607-2500db9dfc42.png">

[2017-02-22 05:35] kyyberi commented on #2160
I believe the dot will be acceptable :) #2152

[2017-02-22 06:23] kyyberi opened #2167 "extend oembed with rss option"
As maintainer / editor or content and as api owner I would like to insert RSS feed to my organisation and see content feed in my org page.

[2017-02-22 06:56] kyyberi opened #2168 "Allow oembed with rss feeds as separate page"
As API:Suomi owner I would like to be able to add oembed content feed to separate page. The amount of content is huge. I would like to add manually content and also add RSS urls from where the content is rendered. This is API:suomi specific need.

[2017-02-22 08:04] Nazarah opened #2169 "Showing footer in every pages in APInf"
# Usability Issue

With the current implementation of Privacy Policy and Terms of Use, this information can be accessible only from Front page footer and Registration page.
However, the user might wish to access it from any page at any time.
With the current implementation, user will need to navigate to front page everytime s/he wishes to view them.

# Enhancement
Showing the current site footer i

[2017-02-22 08:53] brylie commented on #2145
Update as of this morning, for stand-up:

![screenshot_20170222_105232](https://cloud.githubusercontent.com/assets/17307/23203893/1b997f7a-f8ed-11e6-929c-1f369b38f66c.png)

[2017-02-22 09:52] #2012 closed

[2017-02-22 09:52] #2014 closed

[2017-02-22 09:52] #2016 closed

[2017-02-22 09:52] #2047 closed

[2017-02-22 09:52] #2048 closed

[2017-02-22 11:09] bajiat commented on #2160
@kyyberi This issue was not about disallowing full stop for paths, it was a general improvement throughout the UI to provide more useful information, if regex fails

[2017-02-22 11:43] brylie commented on #2145
Work-in-progress showing all collections:

![screenshot_20170222_134257](https://cloud.githubusercontent.com/assets/17307/23210133/e1151c66-f904-11e6-8c40-3aa82d780076.png)

[2017-02-22 12:29] kyyberi commented on #2071
For the second item in known issues... so we would need some info from "ifconfig" and then modify /etc/network/interfaces to have static IP (and other needed settings).

"iface eth0 inet dhcp" -> "iface eth0 inet static"
Then add:
address [Perhaps just pick one we define, might have conflicts with other devices in same network in some cases]
netmask [your netmask]
network [your destination]
broadc

[2017-02-22 12:31] kyyberi commented on #2071
Thanks @shaliko for instructions. I will do the test on Friday evening.

[2017-02-22 12:45] brylie commented on #2145
Work-in-progress showing all collections with most/all relationships:

![apinf-0 40 0-datamodel](https://cloud.githubusercontent.com/assets/17307/23212048/906505d4-f90d-11e6-91e9-df9434d59427.png)

[2017-02-22 12:47] bajiat commented on #2133
@nazarah Wireframe is ok from my point of view.

For me it would be logical if the table view would work identically.

If the filtering by clicking on the label is implemented for the Catalog, the APIs on the organization page should work identically. I will create a related issue for the implementation for Organization profile page.

[2017-02-22 12:47] bajiat commented on #2144
My comments are in #2133

[2017-02-22 13:17] bajiat commented on #2122
@Nazarah

At least we should give the alert that the only supported file extensions are htm or html. But I think the best option is to do both: alert for wrong file format and a help text (info icon)

[2017-02-22 15:12] kyyberi opened #2172 "Automated data model extraction for documentation"
For documentation we should have uptodate data models described. Doing this manually is fine if it happens once, otherwise you should consider and build automated process. The need is to have uptodate models all the time.

Task is to research options to extract data models from code as pictures. Bonus aim is to seek ways to visualize data model connections.

[2017-02-22 15:28] bajiat opened #2173 "On organization profile, allow filtering from lifecycle phase label"
Related to #2133

# User story

I would like to click from lifecycle label and get filtered list of APIs containing just APIs in production for the current organization
so that I can easily see for instance only production APIs for the organization I am interested in.

# Definition of done
* [ ] User can click on an API lifecycle label. As a result, I would see only the APIs that have the lifecycl

[2017-02-22 15:30] bajiat commented on #2133
I have created a related issue for Organization page: #2173. This can be done in next sprint, but you should take into account that the implementation should be reusable.

[2017-02-22 17:26] kyyberi commented on #2114
This is priority, decided by management.

[2017-02-22 17:27] #2114 closed

[2017-02-23 08:23] #2046 closed

[2017-02-23 08:26] #2149 closed

[2017-02-23 08:30] brylie commented on #2005
Alright great! Now, we need to continue with the other tests. See the checkboxes in the definition of done.

cc: @bajiat

[2017-02-23 08:33] brylie commented on #2043
@frenchbread has a work in progress task #2005

[2017-02-23 09:05] bajiat commented on #2145
Comment from @matleppa Please add indication of uniqueness

[2017-02-23 09:37] #2010 closed

[2017-02-23 13:00] jawidahmadi commented on #2035
@brylie  ready for review.

[2017-02-23 13:03] #2001 closed

[2017-02-23 14:00] jawidahmadi commented on #2054
Ready for review.

[2017-02-23 14:20] bajiat opened #2175 "Translation round to Finnish"
In sprint 37, a number of UI texts with either missing i18n tags or other issues preventing translation, were fixed. Also, a new feature (oembed) has been added. A new translation round is required to translate these texts to Finnish.

[2017-02-23 14:36] bajiat opened #2176 "Update to API Umbrella 0.14"
NREL has made 0.14 release of API Umbrella. See [release notes](https://github.com/NREL/api-umbrella/releases/tag/v0.14.0).

The 0.14.0 release has fixed some issues requested by APInf team, e.g. [Filtering analytics data by API backend](https://github.com/NREL/api-umbrella/issues/252)

[2017-02-23 16:04] frenchbread commented on #2005
Faced an issue while trying to authenticate admin user via POSTMAN - https://github.com/apinf/emq-rest-api/issues/3

[2017-02-23 17:48] kyyberi commented on #2071
I was thinking to record the test eg make a video out of it. If the test seems succesfull I'll publish it in Youtube. To make this a little more convincing I would need to come up with a simple example how to should it in action. Perhaps simple API and call it with curl. That might be enough. We have that hello world API which we have used in events. Perhaps that could be used in local network? Wh

[2017-02-24 07:37] matleppa commented on #1933
There exists a correction in development branch in file search/client/search.html
by adding following id: <h3 id="search-results-title"> .
Done by:
alfredjkwak committed on Nov 7 2016

[2017-02-24 07:37] #2144 closed

[2017-02-24 09:04] #2035 closed

[2017-02-24 09:23] bajiat commented on #1933
The id is missing from the em. Use e.g. search-results-count.

See screenshot.

[2017-02-24 09:33] Nazarah opened #2178 "APInf front page designing"
# Goal
Redesigned front page keeping in mind wow effect and mobile responsiveness

# Definition of done
* [x] Run a survey to get feedback from API users to see if hypothetical design meets up their need.
* [x] Go through articles about front page designs
* [x] Look existing API hosting platforms and find out their frontpage's strength/weakness
* [x] low fidelity (or if possible high fidelity) ske

[2017-02-24 09:34] Nazarah opened #2179 "APInf Dashboard/Home page designing"

[2017-02-24 10:16] shaliko commented on #2071
@kyyberi I think the video will be very good, but without proxy backend API-umbrella and emqttd, it will be useless.

We need finish second part for able show really good demo.

[2017-02-24 10:20] matleppa opened #2181 "Using registered helper dateInTimeAgoFormat instead of relativeCreatedAt"
In apis and in organizations are used collection helpers relativeCreationAt in order to find out, when document was created in time ago.

Now there is a template helper called dateInTimeAgoFormat, which does same thing.
Also the localization is included in the helper.

Replace relativeCreationAt helpers with dateInTimeAgoFormat.

[2017-02-24 10:44] Nazarah commented on #2122
@bajiat added the mentioned modifications in the wireframes.

[2017-02-24 10:45] #2137 closed

[2017-02-24 11:00] Nazarah opened #2182 "Wireframe for "Add API page is a bit boring and confusing""
#2096

[2017-02-24 11:06] Nazarah commented on #2159
One thing to consider while creating the tutorials is that should they be APInf specific? The reason is that APIKA is now using APInf platform to host the APIs, but they have named it as APIKA.

[2017-02-24 11:08] kyyberi opened #2183 "Show times and dates in user's actual timezone"
Currently all data e.g. in dashboard is shown according to server time (UTC). Users would like to see time in their current timezone.

# Open issue:
* How to determine user's timezone? Is it a user setting?
* What are all the effected UI elements?

# User story

I want to see dashboard data
according to my own time zone
so that I don't have to map it from UTC to my time zone myself.

[2017-02-24 11:17] kyyberi opened #2184 "Normalize ApiMetadata and Organizations collections"
ApiMetadata collection contains organization (and organization contact) data, while there already is an organization collection.

![screenshot_20170303_131020](https://cloud.githubusercontent.com/assets/17307/23549447/0015c388-0015-11e7-977c-b5356693f16e.png)

# Goal
All data is stored in database once or in one collection only.

![screenshot_20170303_132750](https://cloud.githubusercontent.com/as

[2017-02-24 11:23] Nazarah commented on #2155
I suggest to conduct a mobile usability test. I can take the responsibility for it. This would identify issues to fix and places where we can make improvements.

[2017-02-24 11:23] kyyberi opened #2185 "UI changes based on normalization task"
Related to #2184

# Goal
API metadata contains information about organization and organization contact person, if API is connected to an organization
Migration is handled, if needed

# Definition of done (TBD by assignee)
- [x] Display all available information about connected Organization in API Metadata tab: Name, description, url
- [x] Organization name should be as a link to organization profi

[2017-02-24 11:25] kyyberi opened #2186 "Create a description about Catalogue harvester"
# Description
Planned harvester could have features such as
* get meta data of public APIs from X-Road (Finland) and push to apinf.io catalog
* enable harvesting of other API-catalogues with RSS feed or metadata API.
* enable timing configuration of each source harvesting
* collect log of operations
 * Own database
 * User interfaces: API and UI
* Conflict resolution
* Security and trust

# Goal
N

[2017-02-24 11:45] kyyberi opened #2187 "Create user documentation for administrator"
Administrator needs a Getting started guide for the settings and configurations the admin needs to make before a new deployment is made publicly available.

Note: task requires cooperation with sales and support.

# Goal
Based on first customer deployment projects, a first draft of the guide is available

# Definition of done
- [x] Administrator guide repository exists
  - [x] Copyleft license
- [

[2017-02-24 11:51] kyyberi opened #2188 "Allow Organization manager to add media content"
# User story

I want to add media content in organization view
so that I can promote organization news and APIs and communicate to developers

# Goal
Organization manager can easily add media content to the organization view

# Definition of done

* [ ] Organization manager can add new related media content related to Organization (same way as media related to API)
* [ ] Related media content is s

[2017-02-24 11:56] kyyberi commented on #2165
Why can't Let's encrypt certificate be created?

[2017-02-24 12:01] kyyberi opened #2189 "User registration flow for different types of scenarios"

[2017-02-24 12:49] shaliko commented on #2165
@kyyberi In raspberry Pi case we assume run it in local network.

1) We can't generate SSL certs for IP address https://community.letsencrypt.org/t/certificate-for-static-ip/84/2
2) Would not be possible to issue a cert for a local IP, because everyone could issue a cert for it's own local IP (192.x.x.x).

[2017-02-24 13:53] bajiat opened #2191 "Include template text about license in each source file in apinf/platform"
According to EUPL license instructions, it would be good practise to have a notice about the license in each source file. Refer to: https://joinup.ec.europa.eu/sites/default/files/ckeditor_files/files/EUPL%201_1%20Guidelines%20EN%20Joinup.pdf

must refer to the licence or contain the licence.
The standard way to do this is to put the full
licence text in a file called “COPYING” (or
“LICENCE”), and

[2017-02-24 14:08] bajiat opened #2194 "Update license information"
# Definition of done
* [ ] Replace the MIT license with EUPL license text

[2017-02-24 14:14] bajiat opened #2196 "Add copyright and license information to About window"
We should mention our copyright and our (new) license in the APInf About window (about.html).

# To do
* [ ] Add copyright text to About window
* [ ] Add license information to About window

# Proposal:
- **Copyright** 2017 Apinf Oy
- **License** Licensed under [EUPL]( https://joinup.ec.europa.eu/software/page/eupl) v.1.1

[2017-02-24 14:16] bajiat opened #2197 "Communicate about license change"
Create a blog post and tweet about the license change.

[2017-02-24 15:26] bajiat commented on #2120
1 API added to catalog, added also logo and documentation link

[2017-02-24 20:15] kyyberi commented on #2071
Agreed. I just tested the setup first. I confirm that all works. Only at the end I had to slightly modify one (last) command. I had to run
```sudo docker-compose up -d```
to get it working. Without sudo it was not able to connect to Docker daemon.

[2017-02-25 11:58] kyyberi opened #2198 "How to set static IP in Dockerized installation on RaspberryPi"
Discover novel method to set static IP address on RaspberryPi when deploying APinf platform on it. Minimum is instructions how to do it, anything more automated / simple is plus.

Related to #2071

[2017-02-26 05:40] kyyberi commented on #2071
Perhaps it might be worth checking how we could inject apinf to platforms like https://home-assistant.io/ and showcase the value for doing it. That probably is larger effort which requires time and money.

[2017-02-26 06:06] kyyberi commented on #2198
One way to do it would be crontab. Assign wanted IP on reboot
```sudo crontab -e: @reboot sudo ifconfig eth0 192.168.2.1```

[2017-02-27 07:28] jawidahmadi commented on #2013
There is no active support to the  package that is used for this purpose. According to the localization document, the implementation is correct  . But, the local language is not displayed.

[2017-02-27 07:29] marla-singer commented on #2013
@jawidahmadi Look commit https://github.com/apinf/platform/pull/2121/commits/25dab0a0968e44652fe655b16742769b05be0a6e

[2017-02-27 07:35] marla-singer commented on #2133
@kyyberi @Nazarah @bajiat Okay, we will provide users fast filtering. But how does user reset filter options?

[2017-02-27 07:40] marla-singer commented on #2133
@kyyberi @Nazarah @bajiat What is expected if a user clicks on the label with text `Unknown`?

[2017-02-27 08:15] Nazarah commented on #2133
@marla-singer The wireframes shows that on adding a filter to the result, a text displays how the result is filtered and a clickable link "Clear All". User can quickly clear the filtered result by clicking the link as well as clearing the result from filter dropmenu.

In my opinion, "Unknown" label should not exist. If an API is not labeled with a lifecycle, it is clear to users from catalog/profi

[2017-02-27 08:20] marla-singer commented on #2133
@Nazarah Yes, but we deprecated it not long time ago https://github.com/apinf/platform/issues/2037

[2017-02-27 08:49] Nazarah commented on #2133
I'd suggest introducing that feature again.
if we are implemetning Quick Filtering by clicking liecycle labels, then we should be able to clear out the result as well.
Besides, currently the clearing takes 2 clicks to open the filtering dropmenu and clicking the clear button.
It the cases of quick/manual filtering, the indication should be visible enough to user that the result is now filtered and

[2017-02-27 09:08] marla-singer commented on #2133
Not totall agree about "the button text really didn't look good."
I prefer to use a button for this aim judge by semantic mean.

[Definition and Usage](https://www.w3schools.com/tags/tag_a.asp)

[Definition and Usage](https://www.w3schools.com/tags/tag_button.asp)

When a user clicks on `Clear all`, he expects some action on **current page** just as link means go to another page. At least we shoul

[2017-02-27 09:10] #2054 closed

[2017-02-27 09:21] Nazarah commented on #2133
I leave the decision of button to you @marla-singer :)
Just please make sure it is aligned with other elements.
All I want is visibility and quick actions filtering.

[2017-02-27 09:43] #1933 closed

[2017-02-27 09:45] #2194 closed

[2017-02-27 09:46] #2065 closed

[2017-02-27 09:47] #1971 closed

[2017-02-27 09:49] Nazarah commented on #2178
"5 Major Mistakes Businesses Keep Making with their Website’s Homepage Design"

**Why people come to web page?**
_“I want to find what I’m looking for…and I want to find it quickly.”_

**Mistakes:**
sliders are a design disaster.
Headlines should never be about YOUR STUFF.
No one cares about company news
If you’re looking for them to convert, give them LESS
Stop trying to tell them everything abou

[2017-02-27 10:08] jawidahmadi commented on #2013
@marla-singer I checked this issue. It is fixed in feature/swagger-url branch.

[2017-02-27 10:21] brylie commented on #2013
cc: @nnn this is related to your work in the API Documentation re-write.

[2017-02-27 10:28] marla-singer commented on #2013
@brylie This issue was taken by @jawidahmadi PR #2190

[2017-02-27 10:30] jawidahmadi commented on #2013
Closes #2013

[2017-02-27 10:36] brylie commented on #2013
@marla-singer as you commented above, you resolved this issue with a commit to @nnn's branch. Hence, I assigned you to the issue and pinged @nnn, since the issue is resolved in your pair-programming work.

[2017-02-27 10:37] Nazarah commented on #2178
"6 Elements of Outstanding Homepage Design"

"_Good homepage design can be broken down into three elements:
- content
- tech
- visual design._"

"_Homepage serves three key purposes:

To attract and captivate visitors
To educate visitors on the brand
To encourage visitors to visit other pages on the website_"

1. Establish Your Identity
- Introduce and give visitors a clear sense of your brand
- P

[2017-02-27 10:38] marla-singer commented on #2013
@brylie Yes. But I think it should be done in separate branch because @nnn is doing the big work in his PR

[2017-02-27 10:45] brylie commented on #2013
This is something that needs to be worked out between you (@marla-singer), @nnn and @jawidahmadi.

[2017-02-27 11:02] marla-singer opened #2199 "The label duplication for Rate limits"
In the process of working on translations (PR #2164), I detected incorrect behaviour if there are added a label for `Array` type.
**Before add label for Rate limits**
![joxi_screenshot_1487766712641](https://cloud.githubusercontent.com/assets/20643403/23211626/104596dc-f914-11e6-97f7-a5516e2057e2.png)

**After add label for Rate limits**
![joxi_screenshot_1488192659682](https://cloud.githubusercon

[2017-02-27 11:24] Nazarah commented on #2178
"16 of the Best Website Homepage Design Examples"

https://blog.hubspot.com/blog/tabid/6307/bid/34006/15-examples-of-brilliant-homepage-design.aspx#sm.000ny2g3m154rfn0x6a2rbpwaqf1t

Some additional points from the article:

- It clearly answers "Who I am," "What I do," and/or "What can you (the visitor) do here."
- It resonates with the target audience.
- It includes calls-to-action (CTAs).
- It's

[2017-02-27 12:11] kyyberi opened #2200 "Swagger rendering issue with ampersand"
I have designed an API in [swaggerhub](https://app.swaggerhub.com/api/kyyberi/APInf-REST-API/MVP). Then I export it to JSON and import it to apinf.io. Things go smooth otherwise, but when I write call examples, ampersand misbehaves. In those cases "&" is not decoded, but appears as "amp;".

I tested this by writing the ampersand both ways:

In exported JSON file, the examples look like

[code]

In

[2017-02-27 12:22] brylie commented on #2200
This is a security feature of the templating language, where it automatically escapes HTML characters. Also, we no longer include examples of `GET` calls, since they are inherently insecure. Our apinf.io production website has not received recent updates yet, so we should try and reproduce this issue on nightly.apinf.io.

[2017-02-27 12:35] #2145 closed

[2017-02-27 12:36] brylie opened #2201 "Document APInf entity relationships"
Create an entity relationship diagram of the APInf system domain.

[2017-02-27 12:45] Nazarah commented on #2178
Competitors

Hitch: https://www.hitchhq.com/
Market Mashape: https://market.mashape.com/

[2017-02-27 12:47] kyyberi commented on #2200
"we no longer include examples of GET calls, since they are inherently insecure." Say what? We exclude all GET method calls from APIs? How do you list things with API then? I don't quite follow now.

[2017-02-27 12:48] kyyberi commented on #2200
I'll try on nightly.

[2017-02-27 12:51] kyyberi commented on #2200
Problem prevails

![bug-viewer-nightly](https://cloud.githubusercontent.com/assets/1927158/23361991/32abe94c-fcfc-11e6-9508-c56727996742.png)

[2017-02-27 12:53] brylie commented on #2200
@kyyberi can you include a larger screenshot, showing the entire web page? It is hard to see the full context of this issue.

[2017-02-27 12:55] kyyberi commented on #2200
![screenshot at helmikuuta 27 14-54-52](https://cloud.githubusercontent.com/assets/1927158/23362085/bf2213a6-fcfc-11e6-879a-1ce721f5b666.png)

![screenshot at helmikuuta 27 14-54-27](https://cloud.githubusercontent.com/assets/1927158/23362088/c491c002-fcfc-11e6-84b8-c1c57cb49d2a.png)

[2017-02-27 13:11] jawidahmadi commented on #2013
@brylie @marla-singer @nnn  I have added the fix in popover-translation branch. It is ready for review.

[2017-02-27 13:17] brylie commented on #2200
OK, thanks. We should probably ask for support in the upstream Swagger UI project, since it is responsible for correctly rendering the Swagger file.

[2017-02-27 13:21] nnn commented on #2013
@marla-singer that's already fixed in #2121, so there's no need to create an another PR for this.

[2017-02-27 13:23] marla-singer commented on #2013
@nnn Oh, yeah, sorry. Didn't think that you will continue work in current branch.

[2017-02-27 13:23] brylie commented on #2200
I opened an [upstream support request](https://github.com/swagger-api/swagger-ui/issues/2700).

[2017-02-28 07:28] Nazarah commented on #2178
Tweeter Survey:
https://twitter.com/NazarahTheCat/status/836205032970289153

[2017-02-28 07:33] Nazarah commented on #2178
An informative read:

"The Current State of Homepage & Category UX "

https://baymard.com/blog/current-state-of-ecommerce-category-ux?utm_content=buffer6ee69&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

[2017-02-28 08:39] marla-singer commented on #2133
@Nazarah I prepared the different decorate for "Clear all". What do you think?
![joxi_screenshot_1488271085284](https://cloud.githubusercontent.com/assets/20643403/23397641/75d59c8c-fdaa-11e6-9262-e903c65555f0.png)

[2017-02-28 08:53] nnn commented on #2133
3 or 5, not to overuse color here

[2017-02-28 09:12] brylie commented on #2129
@Nazarah what are some user scenarios we will be testing with the API Monitoring feature? I would like to include relevant information in my research. E.g. if we believe sending SMS messages will be useful, I want to check what *Notifications* the monitoring solutions support.

[2017-02-28 13:28] marla-singer opened #2203 "API logo disappeared from peview in APIs catalog"
Verified on nightly.apinf.io
API logo disappeared  from peview in APIs catalog
![image](https://cloud.githubusercontent.com/assets/20643403/23406997/c10b2884-fdd2-11e6-9a62-e2ae17c46fdb.png)

Screenshot from local
![joxi_screenshot_1488288502701](https://cloud.githubusercontent.com/assets/20643403/23407034/f413cc18-fdd2-11e6-965b-7299167688e3.png)

[2017-03-01 07:21] Nazarah commented on #2133
I'd go with 5 and 6.
This is what I had originally in my sketches.
Also while designing the wireframes, I has some discussion with Philippe and he prefers the use of 5 or 6 style to 3 or 4.
besides, in the original implementation, the button didn't look goof in organization view.
So I'd like to go with 5 & 6

[2017-03-01 11:26] #2133 closed

[2017-03-01 11:58] #2011 closed

[2017-03-01 12:14] saralavanip opened #2205 "Organization cards misaligned in Suomi view"
# Steps
1.Visit https://nightly.apinf.io  v 0.41.0
2.Navigate to organizations
3.Change language to 'Suomi'

# Result
Organization cards gets misaligned

# Screenshot
![suomi_view_org_catalog](https://cloud.githubusercontent.com/assets/13309358/23459462/0f2948be-fe89-11e6-94cf-babb875b88be.PNG)

[2017-03-01 12:31] marla-singer opened #2206 "Needless tag in text"
Found that `<br>` tag returns in text
![joxi_screenshot_1488371421877](https://cloud.githubusercontent.com/assets/20643403/23460011/ff7d6638-fe93-11e6-9381-59286d1ab456.png)

[2017-03-01 12:36] saralavanip opened #2208 "API and Organization logos not visible in grid view"
# Steps
1.Visit https://nightly.apinf.io   v 0.41.0
2.Navigate to Organizations / API catalog

# Actual Result
API and Organization logos not shown in grid view

# Expected Result
API and Organization logos must be shown in both grid and table views

# Screenshot

Grid view
![api_grid_view_logos_invisible](https://cloud.githubusercontent.com/assets/13309358/23460127/53691a56-fe8c-11e6-91bf-42d2ec7

[2017-03-01 13:03] saralavanip opened #2209 "Untranslated texts in various views"
# Step
1.Visit https://nightly.apinf.io   v 0.41.0
2.Login  as admin/owner of API
3.Change language to 'Suomi'

# Findings
Untranslated texts in various views: Title texts ,input field title texts ,help texts are in English language

# Screenshots

1. API 'Details' view:

![suomi_view_partially_translated_text](https://cloud.githubusercontent.com/assets/13309358/23460722/5fab9660-fe8f-11e6-843b-37

[2017-03-01 13:04] #2206 closed

[2017-03-01 13:06] kyyberi commented on #2208
If the logos should be visible in front page as well, they are not.
![kuvakaappaus 2017-03-01 15-05-27](https://cloud.githubusercontent.com/assets/1927158/23460989/93e7ac38-fe90-11e6-8c85-a2e0cbac9890.png)

[2017-03-01 13:19] #1993 closed

[2017-03-01 13:19] #2013 closed

[2017-03-01 13:24] kyyberi opened #2211 "Swagger documentation method expanding links do not work"
# Steps
1. Visit https://nightly.apinf.io
2. Navigate to "Ampersand test" API documentation tab
3. Try to click links identified in the below pic.
![kuvakaappaus 2017-03-01 15-14-48](https://cloud.githubusercontent.com/assets/1927158/23461450/a7ae5526-fe92-11e6-8fb3-22316d8b0927.png)

# Actual Result
Nothing happens.

# Expected Result
It should list the methods as below for APIs operations list (

[2017-03-01 13:24] frenchbread commented on #2005
Modified schema & tested adding ACLs to EMQ postgres DB via `emq-rest-api`

Next, would need to modify `emq-user` schema. Since currently it's quite generic & need to make to fit EMQ

[2017-03-01 13:26] nnn opened #2212 "Wrong size Swagger UI icon"
## Swagger UI icon has wrong size, it's too big

![swagger-big-icon](https://cloud.githubusercontent.com/assets/7489044/23461609/49981822-fe93-11e6-8df6-a22b21d0678c.png)

### Steps to reproduce
- Go to API wit Swagger documenation uploaded

### Environment
- Reproducable on nightly
- Locally with the latest develop branch

[2017-03-01 13:27] kyyberi opened #2213 "Huge extra swagger logo in documentation tab"
# Steps
1. Visit https://nightly.apinf.io
2. Navigate to "Ampersand test" API documentation tab

# Actual Result
![kuvakaappaus 2017-03-01 15-25-40](https://cloud.githubusercontent.com/assets/1927158/23461636/625f945c-fe93-11e6-9819-a99b9fa95e6e.png)

# Expected Result  (from apinf.io)
![kuvakaappaus 2017-03-01 15-26-29](https://cloud.githubusercontent.com/assets/1927158/23461671/7d11a786-fe93-11e

[2017-03-01 13:27] marla-singer commented on #2212
@nnn Duplicate of #2200

[2017-03-01 13:27] kyyberi commented on #2212
Just reported the same :) #2213

[2017-03-01 13:28] brylie commented on #2005
Specifically, what fields do you need to add/remove? Where is the reference schema/documentation?

[2017-03-01 13:28] kyyberi commented on #2212
No it's not duplicate of #2200 - that is about ampersand. This one is about the swagger logo.

[2017-03-01 13:28] #2212 closed

[2017-03-01 13:31] brylie commented on #2005
The initial schema was designed to follow these instructions:

- EMQ Auth pgsql: [auth table](https://github.com/emqtt/emq-auth-pgsql#auth-table)
- EMQ Auth pgsql: [acl table](https://github.com/emqtt/emq-auth-pgsql#acl-table)

[2017-03-01 14:38] marla-singer commented on #2032
I don't mind about archiving. However, it needs to be thought detail because now we don't have any features for that. For archive data, we must do it not only in ElasticSearch but on API-umbrella side and our side: storage all data about used frontend_prefix. And if we decide to implement it then we need to use every profit from that.

[2017-03-02 08:35] saralavanip opened #2215 "'Apinf community' link not responding"
# Steps
1.Visit https://nightly.apinf.io  v 0.41.0
2.Go to 'Find Us'
3.Click on  'Apinf Community'

# Result
'Apinf Community link not responding

# Screenshot
![apinf_community_error](https://cloud.githubusercontent.com/assets/13309358/23499178/c3b9a4cc-ff33-11e6-85fd-38b254958d29.PNG)

[2017-03-02 09:53] kyyberi commented on #2135
https://github.com/APIOps/community-resources/blob/master/community-plan-2017.md

[2017-03-02 11:04] marla-singer commented on #2211
@kyyberi @bajiat Checked a browser console. It throws the errors:
- When you open an API page, an error is
`Uncaught TypeError: $.param.fragment is not a function(…)`
- When you click on a link, an error is
`Cannot read property 'pushState' of undefined(…)`

Tried to find the same bugs. Could find this one https://github.com/swagger-api/swagger-ui/issues/551#issuecomment-55750206

[2017-03-02 11:23] #2213 closed

[2017-03-02 11:23] #2203 closed

[2017-03-02 11:23] #2208 closed

[2017-03-02 13:13] saralavanip opened #2216 "'SDK Code Generator' feature unavailable in 'Documentation' view"
# Steps
1.Visit https://nightly.apinf.io  v 0.41.0
2.Login as admin
3.Go to Settings
4.Enable 'SDK Code Generator'
5.Enter 'Host'   (eg. https://swagger.apinf.io )
6.Click on 'Save'
7.Go to APIs
8.Select  any API
9.Go to 'Documentation'

# Findings
'SDK Generate' feature not available in 'Documentation' view

[2017-03-02 13:28] #2107 closed

[2017-03-02 13:33] marla-singer commented on #2216
@saralavanip SDK Code generator is available if API has a swagger documentation.
Repeated by myself and it's not reproduced. I logged as ordinary user and navigated to no my API
![joxi_screenshot_1488461432141](https://cloud.githubusercontent.com/assets/20643403/23509113/c1486638-ff65-11e6-8c3e-d442bef2ed77.png)

[2017-03-02 14:25] saralavanip commented on #2216
@marla-singer , Yes , verified uploading swagger document->generate SDK file
Findings:
- Shows error message 'code generator server incorrect...'
- upload swagger document shows a large icon in the viewer

Screenshot:
![code_generator_error](https://cloud.githubusercontent.com/assets/13309358/23511037/876251fa-ff64-11e6-8ee3-5fa6d08ed1ba.PNG)

[2017-03-03 07:34] Nazarah commented on #2188
Should we use Embded here thta is similar to API profile?

[2017-03-03 07:37] marla-singer commented on #1926
@bajiat The feature works correctly as for me. When a user clicks on "Save & Publish" and doesn't fill all required fields, there are to show the message "Please fill in the required fields". I don't actually understand why action "Delete all information and click on Save button" expects behaviour "Delete 'proxy backend configuration' details and save settings successfully" when datafor saving are

[2017-03-03 07:37] Nazarah commented on #2183
Need clarification about this:
1. is the timezone setting be some feature that can be configured from user's profile?
Or you want to use the time setting of the PC/Laptop/Phone that the use uses to login to APInf?
If the 2nd case is true, then we need to consider multiple device login as well (i.e. laptop/dektop of the user having different settings)

[2017-03-03 08:35] kyyberi commented on #2102
https://apinf.io/api/TYf33t5B6D6fwamKt

[2017-03-03 08:40] kyyberi commented on #2102
Could you @jawidahmadi do the review of the design?