[2015-09-02 12:00] brylie opened #426 "Add user-confirmation on success when submitting Add API Backend form"
When a user successfully submits the Add API Backend form, display a confirmation message.

Definition of done
---
* [x] Add autoform `onSuccess` hook to Add API backend form.
* [ ] Using `onSuccess` hook  display success message on UI.
* [x] Redirect to API view.

[2015-09-02 12:01] brylie opened #427 "Add or edit help text for the fields of Add API Backend form"
The Add API Backend form is poorly documented. Add descriptive notes to all fields on the form, so that users can understand their purpose.

Definition of done
---
* [x] Create the [Add API Backend Form help text document](https://github.com/apinf/api-umbrella-dashboard/wiki/Add-API-Backend-form-help-text) to create draft copy for help text
* [ ] Update [Add API Backend Form help text document](ht

[2015-09-02 12:01] brylie commented on #427
@elnzv has already created some inline help example code that can be used for this task.

[2015-09-02 12:03] brylie opened #428 "Add API Backend form validation messages"
The Add API Backend form displays several validation errors that are not useful, such as 'failed regex validation'. Update the validation messages.

Definition of done
---
* [x] Determine how to override the validation messages.
* [x] Check all validation messages.
* [x] Update the text to better describe what proper submission would look like to the help the user to provide a better entry.

[2015-09-02 12:04] brylie opened #429 "Add general description of key terms and form elements on Add API Backend form"
Some of the concepts on the Add API Backend form, such as prefix and hosts, can confuse new users. Make sure we are providing adequate explanation of all relevant concepts, so that users can easily submit the Add API Backend form.

[2015-09-02 12:05] brylie commented on #429
It might also be advisable to relate the specific technical terms to general concepts.

[2015-09-02 12:06] brylie opened #430 "Provide default port on Add API Backend form"
On the Proxies tab of the API profile page, under backend host section, provide a default port (or at least example text) to indicate to the user what the field expects. E.g. port 80.

[2015-09-02 12:08] brylie opened #431 "Add inline help to documentation link and documentation upload fields on Add API Backend form"
The documentation fields are proving quite confusing for new users. Add descriptive text with examples on both the Documentation link and documentation upload fields, so that users can determine what the fields expect.

Related #425, #427

Definition of done
---
* [ ] Update the [Add API Backend Form help text document](https://github.com/apinf/api-umbrella-dashboard/wiki/Add-API-Backend-form-help

[2015-09-02 12:09] brylie opened #432 "Users lose form data when navigating away from Add API Backend without submitting"
Warn users about the loss of data when navigating away from the Add API Backend form without saving.

[2015-09-02 12:11] brylie opened #433 "Add API Backend form Frontend and Backend host fields are ambiguous"
Users are confused when presented with frontend and backend host fields for the first time. Help users determine what to put in the fields with example text, sensible defaults, inline documentation, or some similar method.

Related #427
Related #464
## Definition of done
- [ ] Complete the task #427.
- [ ] Optionally, complete #464.

[2015-09-02 12:12] brylie opened #434 "Add visible link to Single API from My Managed APIs view"
When viewing the page of managed APIs, it is not clear to the user how to get to a single API Backend view. Add a button or some visible link to the single API Backend view.

[2015-09-02 12:14] brylie opened #435 "Add link to swagger editor on Add API Backends form and navigation sidebar"
Provide end users with in-context links to the Swagger Documentation Editor, so that they can find the editor when they need it. Include a link on the Add API Backend form, near the swagger documentation upload field. Also make sure to link to the Swagger Documentation Editor under the documentation section of the navigation sidebar.

Definition of done
---
* [x] Provide a sidebar navigation link

[2015-09-02 12:16] brylie opened #436 "Change password form exposes password text in URL as plain text"
When submitting the Change Password form, passwords are exposed in the URL as plain text arguments. Submit the form as a POST to prevent the issue, and file a report with the upstream project (yogiben:meteor-starter).

[2015-09-02 12:17] brylie opened #437 "Confirm when user successfully changes password"
Display a confirmation message when a user successfully submits the change password form.

[2015-09-02 12:19] brylie opened #438 "Change passsword form will not submit when user submits a second time"
When a user submits a change password form, they remain on the change password page. If they submit the form a second time, even with proper values for 'old password' and 'new password', the form will not submit.

Possibly related to: #436

[2015-09-02 13:15] ashakunt commented on #268
I was looking at the Helsinki city transport APIs briefly today. It was not very clear as to where and how should be use it (esp. documenting all its methods).

One quick example that comes to my mind is: Pet Store; the one on which all the swagger examples are based. I will still spend time on this tomorrow to find more apis which can be used. One interesting thing during the hackathon could also

[2015-09-02 13:16] ashakunt commented on #268
Setting time limit as 20 since we need to look into existing APIs (and find their documentation). Its possible that the work might be quite smaller.

[2015-09-03 12:57] ashakunt commented on #268
@bajiat what do you think about:

----8<----
One interesting thing during the hackathon could also be the role of an apitalist. He creates an API, relevant documentation and then, uploads its methods to API umbrella. We can showcase how easy it is to be an apitalist. If no body signs up for this purpose, I will be happy doing it.
----->8-----

[2015-09-04 07:29] bajiat commented on #268
@ashakunt I think it would be a good idea for the kick off. We probably need to showcase adding APIs to Apinf anyway, since we won't be able to add all APIs the participants might need in the hackathon.

Could we at least have the most typical ones like Google maps? Juuso was earlier commenting that some students have created apps based on Finnkino movie schedules, so I quess Finnkino has APIs too

[2015-09-04 07:37] brylie commented on #436
This may be related to one or more upstream packages. I opened an [issue with the Differential accounts entry package](https://github.com/Differential/accounts-entry/issues/382.

[2015-09-04 07:48] #421 closed

[2015-09-04 07:50] #408 closed

[2015-09-04 08:44] bajiat commented on #409
@ccsr Beta release is now available.
@elnzv Please assist @ccsr by providing credentials and configuration information for beta deployment.

[2015-09-04 09:56] bajiat commented on #268
@ashakunt Are there any useful open APIs that could be added on the API Suomi page?

[2015-09-04 09:57] brylie commented on #268
@ashakunt this task does not include creating a Swagger file, if it does not exist. You only need to select existing API Backends, and add them via the Add API Backend form. Swagger documentation is optional and 'extra credit'.

[2015-09-04 10:00] elnzv commented on #409
@bajiat I can easily do it myself. @ccsr, couple things: VM address (with root access) and domain name.

[2015-09-04 10:02] brylie commented on #268
@bajiat and @ashakunt I have updated the task description and added a resources section.

[2015-09-04 10:03] ashakunt commented on #268
@bajiat:

Finnkino is a good example. It has an XML based service. See this: http://www.finnkino.fi/XML; so this is a good match.

Another one is tkl, see examples here: http://developer.publictransport.tampere.fi/pages/en/siri.php

[2015-09-04 10:07] ashakunt commented on #268
IMHO, we should also add the following:

https://developers.google.com/maps/documentation/geocoding/intro

[2015-09-04 10:39] brylie commented on #268
@ashakunt, I have updated the Definition of Done to include the three APIs specified in recent comments. Please proceed with configuring Google Maps Geocoding, Finnkino, and TKL on the nightly.apinf.io platform.

[2015-09-05 20:11] kyyberi opened #441 "Install video guide"
We in the APIOps community are starting to have Mini API Jams. Intention is to fool around APInf and create something to contribute every time. See more from https://tarinoitadigitalisaatiosta.wordpress.com/2015/09/05/api-jamming-concrete-contribution-every-time/

We will have a lot of newbies and installing anything might be new to some. Having a video with instructions to install API Umbrella an

[2015-09-06 07:34] kyyberi opened #442 "Automated deployment to Heroku from API description file"
As a API owner I want to deploy my API with automated process to Heroku to make it the easiest part of API development and get more time to fiddle with my product (API)

![apinf-heroku](https://cloud.githubusercontent.com/assets/1927158/9703159/bfb4922c-5482-11e5-9019-3626ea82bce9.png)

[2015-09-06 07:35] kyyberi commented on #442
See more about app.json from https://blog.heroku.com/archives/2014/5/22/introducing_the_app_json_application_manifest

[2015-09-06 07:37] kyyberi commented on #442
This is something we could try to do in first APIOps community API Jam. To be honest, we would just get started with this in one jam. We could try to make app.json manually and test the process with CLI tools.

[2015-09-06 07:41] kyyberi commented on #442
This feature just adopts widely used opportunity to deploy apps from github to Heroku with similar approach. In other words, it's rock solid and works. Lets just make that for APIs as well.

[2015-09-06 08:41] kyyberi commented on #442
In the UX we put Deploy to Heroku button if the user has linked Heroku account to profile

<a href="https://heroku.com/deploy?template=https://github.com/heroku/node-js-sample">
  <img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy">
</a>

Otherwise link to Heroku signup
![herokubutton](https://cloud.githubusercontent.com/assets/1927158/9703426/3cbc1c28-548c-11e5-9914-175d6fcef5e8.p

[2015-09-07 07:55] bajiat commented on #404
* Have sent emails to an assistant professor at TUT and one teacher at TAMK.
* 1 Twitter post, Laura has taken a photo for another one.
* 2 posts in our Facebook page, 1 in Api Suomi.
* Open Challenge Tampere has promoted Apinf (thanks to Brylie and Laura)
* Event posted to Uratehdas group in LinkedIn

[2015-09-07 08:53] bajiat opened #443 "Design and implement a form-based Swagger documentation designer"
Related issue #442

[2015-09-07 08:54] bajiat opened #444 "Design an API skeleton app based on Node.js or Meteor.js"
Related issue #442

[2015-09-07 11:20] bajiat commented on #412
@elnzv We actually already added the two diagrams to Readme with @brylie in conjunction with making the beta release.

[2015-09-07 11:30] #412 closed

[2015-09-07 16:25] frenchbread opened #445 "Update links to social services on a home page."
Update links to social services (APInf Facebook, APInf Twitter), since domain name changed to apinf.io.
New links:
Facebook - https://www.facebook.com/APInf.io.
Twitter - https://twitter.com/APInf_io

[2015-09-07 16:58] frenchbread commented on #445
@apinf/developers I would do it myself, but I am getting this error when running project locally:
[code]
Have someone got something similar or have an idea how to fix it?

[2015-09-08 04:55] kyyberi commented on #444
That should be possible with existing tools available from the web. There are open source tools to generate skeletons from desription files at least for Swagger, RAML and API Blueprint.

[2015-09-08 05:19] ashakunt commented on #268
@brylie, @bajiat:

I have added Google Geocoding APis but the access seems to be down.

https://nightly.apinf.com/google/maps/api/geocode/json?latlng=63.1,23.4&api_key=<my api key>

OR

https://nightly.apinf.com/google1/maps/api/geocode/json?latlng=63.1,23.4&api_key=<my api key>

(both added by me) return a connection refused.

[2015-09-08 05:20] ashakunt commented on #268
Is this known?

[2015-09-08 05:22] ashakunt commented on #268
(precisely: Google Chrome's connection attempt to nightly.apinf.com was rejected. The website may be down, or your network may not be properly configured.)

[2015-09-08 08:06] bajiat commented on #409
@elnzv What's the status? Have you registered as the first admin in the deployment? Did you install the SSL certificate?

[2015-09-08 08:11] bajiat commented on #268
@ashakunt @brylie will take a look at this

[2015-09-08 08:12] bajiat commented on #268
First *guess* was SSL certificate not being in place on Apinf,io yet.

[2015-09-08 10:03] brylie commented on #268
@ashakunt our APi Umbrella instance is currently running on its own sub-domain. Try the requests using **https://umbrella.apinf.io**.

[2015-09-08 10:24] brylie commented on #445
Check what version of [brylie:meteor-api-umbrella]() you have in .packages. Also, make sure your settings file has the proper credentials and URL for *umbrella.apinf.io*, as we are deprecating *apinf.com*.

[2015-09-08 11:21] ashakunt commented on #268
@brylie with umbrella.apinf.io: I get a 404 error when I try to use the APIs.

Further, it turns out that not all the backends that I added from nightly.apinf.io landed up to umbrella.apinf.io. I could find only one API available at umbrella.apinf.io. I think that the nightly is handling the URL in a wrong way. See below (backend host -> frontend host):

![selection_010](https://cloud.githubuserco

[2015-09-08 11:23] ashakunt commented on #268
Some other comments:

* I found out that not all the APIs backends were published on umbrella.apinf.io.
* Accessing the apis directly from umbrealla.apinf.io shows a 404.

@brylie @bajiat Your comments?

[2015-09-08 11:36] brylie commented on #268
The inconsistency may arise from how we are deploying API Umbrella. Our Apinf deployment may have pointed to a different API Umbrella deployment at some point (e.g. apinf.com), and is only configured to pull API Backends from API Umbrella.

[2015-09-08 11:39] brylie opened #446 "Push existing API Backends from Apinf to API Umbrella, when mismatched"
# User story

[code]
# Observed behavior

Some API Backends, when created via the Apinf platform, do not appear when switching the API Umbrella backend. This may be due to the 'pull only' nature of Apinf data sync. I.e. API Backends are only pushed at the time of creation.
# Possible solution

Schedule a 'sync' method to ensure consistency of API Backends on both Apinf and API Umbrella.

[2015-09-08 11:39] brylie commented on #268
I have opened issue #446 to describe the API Backend data inconsistency.

[2015-09-08 11:40] ashakunt commented on #268
and what about the 404 problem?

[2015-09-08 11:41] brylie commented on #268
Checking now. Are you using an API key?

[2015-09-08 11:42] ashakunt commented on #268
Yes sir.. :)

[2015-09-08 11:42] ashakunt commented on #268
e.g.

[2015-09-08 11:44] ashakunt commented on #268
The above API is added in accordance with: http://apiumbrella.io/docs/getting-started/

[2015-09-08 11:44] brylie commented on #268
I see the following entry for Google:

[code]

[2015-09-08 11:45] ashakunt commented on #268
Yes. That's correct.

[2015-09-08 11:46] brylie commented on #268
OK, so it seems like the API Backend exists. How can we troubleshoot the 404?

[2015-09-08 11:46] brylie commented on #268
Perhaps the *'localhost'* needs to change to *umbrella.apinf.io*

[2015-09-08 11:47] ashakunt commented on #268
Tried with that already. Does not work. (see the testing entry for google geocoding apis)

[2015-09-08 11:49] brylie commented on #268
Alright, please open a support request on API Umbrella issue tracker. We may need help in troubleshooting this issue.

[2015-09-08 11:53] ashakunt commented on #268
can you or anyone in team who has access to umbrella.apinf.io provide the versoin of the umbrella?

[2015-09-08 11:55] ashakunt commented on #268
I opened: https://github.com/NREL/api-umbrella/issues/168

[2015-09-08 11:56] brylie commented on #268
You can also log in to the admin interface with "aseem at samposoftware ... "

[2015-09-08 11:56] ashakunt commented on #268
@brylie I am already using that.

[2015-09-08 11:57] brylie commented on #268
Alright, cool. Well the UI doesn't display the version of API Umbrella, so we need to check on the server-side.

[2015-09-08 11:58] ashakunt commented on #268
I actually meant the same, so can you ask @elnzv  or someone else who has access?

[2015-09-08 12:00] brylie commented on #268
@elnzv will you please check the version number of API Umbrella that is running on *umbrella.apinf.io*?

[2015-09-08 16:48] elnzv commented on #415
Yml check is already in place.

[2015-09-08 16:57] elnzv commented on #268
@ashakunt it is 0.8.0

[2015-09-08 18:44] ashakunt commented on #268
Thanks, @elnzv

[2015-09-09 05:33] frenchbread commented on #445
@brylie Thanks. Error is fixed now. The issue was in having old api key and api token. Got new ones, so now it is okay.

PR #448 created. Please review

[2015-09-09 06:15] #445 closed

[2015-09-09 07:19] ashakunt commented on #268
@elnzv / @ccsr can you please provide the following information from umbrella.apinf.io

1. contents of ```/opt/api-umbrella/etc/nginx/backends.conf```
1. restart api-umbrella ```sudo /etc/init.d/api-umbrella restart```

OR provide me a sudo access to the machine so that I can check them myself?

(refer: https://github.com/NREL/api-umbrella/issues/168#issuecomment-138809483)

[2015-09-09 10:16] brylie commented on #334
PR #451 is open.

[2015-09-09 10:16] brylie commented on #334
The second step is unnecessary, as we are using a Reactive Table in the catalogue view.

[2015-09-09 10:16] #376 closed

[2015-09-09 11:26] brylie commented on #369
Opened pull request #452

[2015-09-09 12:49] brylie commented on #374
@kyyberi, we have exported all [Apinf Hackpad](http://apinf.hackpad.com) documents, and will be adding them to a new [documentation repository](https://github.com/apinf/docs). The content license for the Apinf Documentation repository is [CreativeCommons Zero](https://creativecommons.org/about/cc0). Is it alright that we include your APIOps contributions to our Hackpad in the new documentation rep

[2015-09-09 17:50] kyyberi commented on #374
I'm cool with that

[2015-09-10 06:40] brylie commented on #444
@kyyberi can you give a couple of examples of open-source projects that generate an API server skeleton from an API description file?

[2015-09-10 08:05] #402 closed

[2015-09-10 08:09] #404 closed

[2015-09-10 08:10] #397 closed

[2015-09-10 08:10] #363 closed

[2015-09-10 08:15] bajiat commented on #268
@elnzv Will you take a look at Aseem's request above?

[2015-09-10 08:34] bajiat commented on #405
Apinf registered on OpenHub.

[2015-09-10 15:26] elnzv commented on #268
@ashakunt I think the best way is to have a sudo access.
I can provide you my credentials via email or you can ask Chandra for your's.

[2015-09-10 22:25] elnzv commented on #415
@frenchbread is it possible to add a txt files check? Does it make sense? Will it work with ace editor parsing?

[2015-09-10 22:46] elnzv commented on #417
http://www.postplanner.com/
Post Planner makes it easy for people to find and share amazing content consistently - to get predictable, measurable, and remarkable results with their social media posts on Facebook and Twitter.

https://buffer.com/
Buffer is the easiest way to publish on social media. It has analytic, schedule and other cool features.

[2015-09-10 22:57] elnzv commented on #351
Related branch: https://github.com/apinf/api-umbrella-dashboard/tree/feature/swagger-link

[2015-09-11 10:11] bajiat opened #453 "Walkthrough video about adding APIs"

[2015-09-11 10:14] bajiat opened #454 "Create screen captures for launch presentation"
Create screencaptures of Apinf for use in documentation and promotional materials, e.g. launch presentation. The images should be in jpeg or png format.

Definition of done
---
* [x] Make a list of user interface views that should be captured.
* [x] Take screenshots.
* [x] Commit screenshots to project documentation repository.

[2015-09-11 10:14] bajiat opened #455 "Write a post to MindTrek blog"
To get visibility for Apinf / APIs, write one post to the MindTrek [blog](https://www.mindtrek.org/2015/blog/). The posts are advertised on Facebook.

Definition of done
----
* [ ] Come up with a relevant topic for the post. One option could be writing about the benefits of a proxy.
* [ ] Create an outline of the blog post.
* [ ] Write a draft copy.
* [ ] Have the draft reviewed by the team.
* [ ]

[2015-09-11 10:15] bajiat opened #456 "Order swag for MindTrek"
Select and order the swag to be given out to visitors of the Apinf stand.

[2015-09-11 10:16] bajiat opened #457 "Clean up API catalog"
Api backends catalog contains testing and duplicate APIs. These need to be removed before demonstrating Apinf at MindTrek.

Definition of done
---
* [x] Remove unnecessary API backends from API Umbrella.
* [ ] Re-set the database for Apinf.io.
* [ ] Check that Apinf has synchronised backends from API Umbrella and all the unnecessary API backends have been removed.

[2015-09-11 10:16] bajiat opened #458 "Add API backends to API catalog"
Configure more example open data APIs to catalog for the purpose of demonstrating Apinf at MindTrek.

Definition of done
---
* [ ] Select 3-5 interesting or useful open APIs.
* [ ] Add/configure API backends via *Add API Backend form*.
* [ ] *[optional]* Add API documentation, if an existing Swagger file is available.

# Resources
The following sources may prove beneficial when selecting Open Data

[2015-09-11 10:21] bajiat commented on #434
Closed with another PR.

[2015-09-11 10:25] #405 closed

[2015-09-11 10:29] bajiat commented on #407
This can be tested in the hackathon.

[2015-09-11 10:34] bajiat opened #459 "Troubleshoot API Umbrella 404 error when using APIs"
Related issue https://github.com/NREL/api-umbrella/issues/168

Definition of done
---
* [x] Make a successful request to a remote API backend configured through Apinf.

[2015-09-11 10:36] bajiat opened #460 "Plan workshop outline and topics"
Definition of done
---
* [x] Type the [basic outline](https://github.com/apinf/docs/blob/master/docs/organization/outreach/Mindtrek-Apinf-Launch-Workshop.md#outline) from brainstorming notes.
* [ ] Add brief details about each topics into outline.
* [ ] Determine ways to encourage and reward participation.
* [ ] Figure out how to divide the audience into working groups.
* [ ] Figure out how workin

[2015-09-11 10:43] bajiat opened #461 "Plan for manning the Apinf stand at MindTrek"
* [x ] Get overview of conference schedule.
* [x ] Divide conference schedule into smaller slots.
* [x ] Add one or more staff members to each time slots.
* [x ] Verify availability with staff members.
* [ ] Print a schedule for the stand.

[2015-09-11 13:41] ccsr commented on #268
@ashakunt You have sudo access to umbrella.apinf.io
Let me know if you are not able log in

[2015-09-11 13:49] ashakunt commented on #268
@ccsr able to login with sudo access now. Providing the relevant information to @GUI now. :)

[2015-09-11 13:54] #413 closed

[2015-09-11 13:55] #414 closed

[2015-09-11 13:55] #409 closed

[2015-09-11 13:55] #417 closed

[2015-09-11 14:29] ccsr commented on #268
@ashakunt @elnzv Illya is changing the certificate and lets check that option also

[2015-09-11 14:32] ashakunt commented on #268
@ccsr, I fixed the original issue. So, now every thing is OK.

[2015-09-11 14:35] ashakunt commented on #268
@bajiat @brylie @elnzv @ccsr @apinf/developers @apinf/owners Please do not do any changes to umbrella.apinf.io since it might break the installation again. This is for your info.

[2015-09-11 14:37] ashakunt commented on #459
This was done and api umbrella installation is now fixed. The problem was in underlying nginx package and actual fix should go to NREL. For now, the error is fixed and all is good.

[2015-09-11 14:37] #459 closed

[2015-09-11 18:43] ashakunt commented on #268
@apinf/developers @apinf/owners A learning from this issue and its consequences: We should have tests which not only validate the dashboard but also run an end-to-end check

An MVP of testing would be (in addition to what we have right now?):

1. Able to add an API to the backend
1. Able to add documentation to API
1. Able to get data from the backend

Further these stories can be broken into smal

[2015-09-12 17:57] frenchbread commented on #415
@elnzv Yes, it is possible. I don't think that is will make any sense because import file must contain yaml or json object with correct syntax. But initial task was to allow importing `txt` file, so I will add this functionality.

Yes. It will just require to modify code a little.

You can assign this issue to me since I am more familiar with it.

[2015-09-14 07:21] bajiat opened #462 "Check Host section in Add API backend form"
In the Add API backend form, there is a section named Host. It contains fields for Backend and Frontend host. Check whether these fields are aligned with API Umbrella.
Screen capture from API Umbrella:
![umbrella_host](https://cloud.githubusercontent.com/assets/11626388/9844330/f3c2a5e2-5aca-11e5-82a4-27efc4480541.jpg)
Screen capture from Apinf:
![backend_host](https://cloud.githubusercontent.com/

[2015-09-14 07:32] bajiat opened #463 "Add "Matching URL prefix" button"
Check the API Umbrella implementation of the Add API backend form and see the "Matching URL prefix" button and the modal it opens. Implement, if feasible.

[2015-09-14 07:37] bajiat opened #464 "Implement pre-filling / auto-filling for backend and frontend host fields."
In the Add API backend form, there is a section called Host. The fields for backend and frontend host could be autofilled or pre-filled (partially or completely). Frondend host could be the FQDN of the Umbrella installation. Backend could be pre-filled from Servers section (check what to do if there are multiple servers).

Related #433.

[2015-09-14 07:40] bajiat opened #465 "Use API directly from API catalog/documentation/API view"
Make sure the Apinf documentation viewer uses Apinf to make the API calls so that the calls go through the proxy.

Creating an option for using API from API catalog or API page or from documentation. This could for example be a button.
This would simplify the workflow for testing/sandboxing: instead of consumers finding a place where to copy their key and creating the API call in URL field with th

[2015-09-14 07:43] bajiat opened #466 "Add a "Copy" button for API key"
Figure out how make copying the API key to clipboard easier than having to highlight the key and then press Ctrl+C or use other methods for copying (context menu etc.) One option would be adding a "Copy" button next to API key on the Profile page.

[2015-09-14 08:14] bajiat commented on #384
@frenchbread Could you consider taking this task?

[2015-09-14 08:19] bajiat opened #467 "Add .txt parsing to the ace editor configuration importer"
To support documents with .txt extension, we need to update the ace editor configuration import.

Definition of done
---
* [x] Allow uploading files with txt extension.
* [x] Determine content type of uploaded txt files
* [x] Parse txt file as yaml or json.
* [x] Ensure invalid text files are rejected and the user is notified.

[2015-09-14 08:20] bajiat commented on #415
@frenchbread @elnzv We created a new task for txt parsing. See #467. Let's focus on that later. When everything else is completed and the PR is merged, go ahead and close the task.

[2015-09-14 08:25] bajiat commented on #407
@elnzv Can you add any issues related to setting up the development environment to the issue queue? You can get some ideas  from the Installation instructions section in the [Hackpad document](https://apinf.hackpad.com/Issues-found-at-Hack-That-API-DVRWcyt6O6T), but you need to add more detail.

[2015-09-14 08:26] #369 closed

[2015-09-14 08:27] #434 closed

[2015-09-14 08:27] #334 closed

[2015-09-14 08:30] ashakunt opened #468 "Basic Acceptance Tests for Dashboard"
Based on hackathon feedback:

Traditionally, this should be done in a way that everything is tested.
- [ ] Creating an Admin account
- [ ] Creating an ApiTalist account (api owner)
- [ ] Add an API from APITALIST account
- [ ] Check if the added api was synced
- [ ] Make a call to the added API from the umbrella url.

[2015-09-14 08:36] ashakunt opened #469 "Show the API call url after api has been added"
Based on feedback from hackathon: Once the API has been successfully added, a feedback should be shown that it was done (issue#426). At the same time, the api access URL must be shown to the user. Currently, the user has no idea where to make an api call after having added it in the dashboard.

## Definition of Done
* [ ] After a confirmation is made ```onsuccess``` of adding api, show the URL to

[2015-09-14 08:37] ashakunt commented on #469
@bajiat please review above. We missed to add it in hackathon notes.

[2015-09-14 09:03] bajiat commented on #453
@ashakunt Could you consider taking this task?

[2015-09-14 09:10] elnzv commented on #429
Interested

[2015-09-14 10:50] bajiat commented on #418
@ccsr Do you want to keep working on this task in Sprint 12?

[2015-09-14 10:52] bajiat commented on #469
@ashakunt This is a good idea for an enhancement.

[2015-09-14 10:53] bajiat commented on #468
@ashakunt Would you like to take this task?

[2015-09-14 10:54] #415 closed

[2015-09-14 11:24] frenchbread commented on #384
@bajiat Sure. Self-assigned this task.

[2015-09-14 14:17] frenchbread commented on #418
I am personally interested in this task since I have been spending a lot of time roaming at such services for developers so can suggest some popular ones. Saying it just for the record. But it is up to you, guys, to decide who gonna take this one.

[2015-09-14 17:19] #407 closed

[2015-09-15 07:44] elnzv commented on #427
Here is the branch with inline help block:
https://github.com/apinf/api-umbrella-dashboard/tree/feature/help-block-charts

[2015-09-15 20:02] elnzv commented on #427
Added hint block to API Backends Form. Continue adding the rest of them.
Will take basic hints and examples from original API Unbrella Add API Form.

[2015-09-17 06:41] #374 closed

[2015-09-17 08:00] brylie commented on #460
[Outline work in progress](https://github.com/apinf/docs/blob/master/docs/organization/outreach/Mindtrek-Apinf-Launch-Workshop.md#outline).

[2015-09-17 09:18] brylie commented on #457
@elnzv, would you please reset the database on the apinf.io deployment?

[2015-09-17 09:21] elnzv commented on #457
@brylie, yes, I will do it later today.

[2015-09-18 11:39] brylie opened #470 "Perform functional design review of Dashboard"
Ensure that the primary Dashboard view provides adequate situation awareness for end user. Also ensure users can drill-down to specific details, as needed.
## Task
- [ ]  Identify key user stories relating to dashboard
- [ ] Compare each dashboard element against user goals
- [ ] Ensure that each dashboard element effectively encodes and summarizes relevant information
- [ ] Ensure dashboard eleme

[2015-09-18 11:41] brylie opened #471 "Design API Rating field and widget"
Design functionality for consumers to be able to rate API Backends on a numeric scale via a simple widget.

Definition of done
---
* [x] Brainstorm ideas for rating.
  * [x] Look for and document existing examples of rating applications etc.
* [x] Create design document for the rating functionality. (This may include user flow, schema etc.)
* [x] Create wireframes for rating UI.

[2015-09-18 11:43] brylie opened #472 "Add API Metadata form, schema, and template"
Create a form to collect API metadata. Also make sure end-users can view metadata when browsing API Backends.

See picture for Palveluväylä metadata model:
![metadata model from Palveluväylä](https://cloud.githubusercontent.com/assets/1927158/11168086/e1ca8e9c-8b88-11e5-92cc-9e0e2c1352f0.png)

Check also NREL's standard for data.gov.

Definition of done
---
* [x] API metadata schema exists.
  * [

[2015-09-18 11:45] brylie opened #473 "Create full suite of end-to-end tests for all minimum viable features"
Make sure all features have test cases to ensure the components work as expected. To this end, identify components, write end-to-end tests, and set up an automated testing environment.

[2015-09-21 08:08] #419 closed

[2015-09-21 08:13] brylie commented on #268
@ashakunt what is the status of this task?

[2015-09-21 08:13] brylie commented on #384
@frenchbread what is the status of this task?

[2015-09-23 09:39] frenchbread commented on #384
Task is half-done. Regarding definition of done, so far charts, replacement are done as well as implemented bar chart instead of line chart.

"Dynamic filtering of a chart when user selects specific range on the overview chart" - is still to be done. I've spent hours of trying to debug this issue to have it working. At the same time I have no idea what can cause it.
Widgets like map, datatable do

[2015-09-23 15:16] #462 closed

[2015-09-23 15:16] #454 closed

[2015-09-23 15:16] #423 closed

[2015-09-23 15:16] #425 closed

[2015-09-25 00:57] elnzv commented on #427
Here is new working branch - https://github.com/apinf/api-umbrella-dashboard/tree/feature/apibackend-form-hints

[2015-09-25 01:48] elnzv commented on #426
onSuccess message added.

[2015-09-25 06:09] #461 closed

[2015-09-25 06:09] #456 closed

[2015-09-25 06:11] bajiat commented on #398
Launc presentation is available in OwnCloud > Shared > API manager.

[2015-09-25 10:36] #455 closed

[2015-09-25 10:40] bajiat opened #480 "Test adding and using a SOAP API"
In order to support legacy APIs, we need to test a SOAP-based API through our proxy. This task is to test API Umbrella for SOAP support, so does not involve the Apika frontend as such.

Definition of done
---
* [x] Find at least one open SOAP API.
* [x] Add the SOAP API to **umbrella.apinf.io**.
* [x] Test the SOAP API through **umbrella.apinf.io**.
  * [x] If additional support is required, docum

[2015-09-25 10:42] bajiat opened #481 "Add i18n support"
In order to be able to present the user interface to people in their native languages, we need to internationalize our project.

Definition of done
---
* [x] Choose i18n framework.
* [x] Add basic i18n markup in UI templates for text strings.
* [ ] Document the logic for creating the string id's.

[2015-09-25 10:43] bajiat opened #482 "Design API backlog"
Design API backlog or roadmap functionality and user flow.

Definition of done
---
* [x] Brainstorm ideas for API backlog.
  * [x] Look for and document existing examples of backlog / feature planning etc.
* [x] Create design document for the API backlog. (This may include user flow, schema etc.)
* [x] Create wireframes for API backlog UI.

[2015-09-25 10:51] bajiat commented on #76
Does the sandbox need to be able to use consumer's API key?

[2015-09-25 10:57] bajiat opened #483 "Test of integration of Add API backend form with API Umbrella"

[2015-09-25 11:06] bajiat opened #484 "Improve community.apinf.io"
Community site has been created, but it needs more content.

Definition of done
---
* [ ] Define more categories
* [ ] Start 25 discussions

[2015-09-25 11:08] bajiat opened #485 "Create Getting started package for developers"
At the moment, we only have basic installation instructions. Developers need more help getting started.

Definition of done
---
* [x] Create a [contributor guide](https://github.com/apinf/docs/blob/master/docs/develop/contributing.md) for new community members
* [x] Create outline of how to setup local development environment.
* [x] Add outline to Readme and documentation repository.
* [ ] Decide

[2015-09-25 11:16] bajiat opened #486 "Add a link to Community portal from apinf.io"
People need to discover our new community portal at [community.apinf.io](community.apinf.io).

Definition of done
---
* [x] Decide where to add the link on the main page.
* [x] Add the link to both main page and GitHub repository / readme.

[2015-09-25 11:33] bajiat opened #487 "Set up continuous integration service"
In order to automate Apinf testing process, we need to set up a continuous integration process.  Related to #
## Definition of done
- [x] Choose continuous integration solution / service.
- [x] Perform initial configuration for Apinf project.

[2015-09-25 11:48] bajiat opened #488 "Document standards for API metadata"
In order to be able to design API metadata form, it is necessary to research and document the metadata requirements / standards.
Related to #472.

Definition of done
---
* [ ] Find out the contact point for metadata for National data exchange layer in Finland (Palveluväylä).
* [ ] Check also metadata standard for data.gov.
* [ ] Locate and document additional governmental or international API meta

[2015-09-25 12:01] bajiat opened #489 "Promote Community portal on Social Media"

[2015-09-25 12:05] bajiat opened #490 "Create presentation materials for visiting lecture"
There is visiting lecture on 29 September at TUT about Real-time open web technologies. Design a presentation about the given topic.

Definition of done
---
* [x] Create topic outline for presentation.
* [x] Organize topic outline for flow.
* [x] Create slides for each topic.
  * [x] If possible, ask for peer review on slides.
* [x] Rehearse slides for flow.
* [x] Deliver lecture.

[2015-09-25 12:12] bajiat commented on #384
@frenchbread Have you opened up the support request or have you had any other progress?

[2015-09-25 12:15] bajiat commented on #436
To be considered: fixing by re-writing the form in our project.

[2015-09-25 12:36] bajiat commented on #398
Presentation available as pdf and ppt in Github in the documentation repository (Organization > outreach)

[2015-09-25 12:36] #398 closed

[2015-09-25 12:37] preriasusi opened #491 "Add SAML 2 authentication support"
Identify user with SAML2 IDP

[2015-09-25 12:38] brylie commented on #491
We may be able to use the [Meteor Accounts SAML package](https://github.com/nate-strauser/meteor-accounts-saml).

[2015-09-28 10:36] bajiat commented on #76
@frenchbread Would you be interested in this task?

[2015-09-28 10:44] bajiat commented on #436
@mauriciovieira Could you be interested on this task? Brylie offers pair-programming assistance. If you are interested, can you estimate how many hours it takes to complete the task?

[2015-09-28 10:50] bajiat commented on #418
@ccsr or @frencbread Either of you interested in this task and have the time for it?

[2015-09-28 11:05] bajiat commented on #487
@ashakunt Would you be interested in this task? If yes, can you estimate the size?

[2015-09-28 11:05] bajiat commented on #483
@ashakunt Would you be interested in this task? If yes, can you estimate the size?

[2015-09-28 11:13] bajiat opened #492 "Mixing API backends from several sources"

[2015-09-28 11:14] bajiat opened #493 "Providing several API backends as one API"

[2015-09-28 13:55] frenchbread commented on #384
@bajiat Not yet. Still trying to solve it myself.

The thing is that I am pretty sure that this issue is happening NOT on dc.js side, but somewhere in the code structure. Need more time. Probably I'll have to rewrite it one more time.

@brylie If you have time, could you please look into this issue? Would be helpful to hear your opinion.

[2015-09-28 13:59] brylie commented on #384
Damir,
Try bringing all your template code into a single template. That way the
template instance variables will be accessible to any related sections
of the dashboard.

--Brylie

On 28.09.2015 16:55, Damir Mustafin wrote:

[2015-09-28 15:59] frenchbread commented on #384
@brylie Finally got it working! Had to add a function that manually forced dc bar chart to refresh.

[2015-09-28 16:00] frenchbread commented on #384
PR #494 created.

[2015-09-28 16:17] frenchbread commented on #76
@bajiat Not really, I addition I am not really experienced in Swagger UI.

[2015-09-28 16:25] frenchbread commented on #76
@bajiat Ok. Would need to do some research on it..

[2015-09-28 16:27] frenchbread commented on #418
@bajiat I'll take this one.

[2015-09-28 22:29] mauriciovieira commented on #436
@bajiat yes, I am interested. It is really hard to estimate right now, so I ask @brylie to give me a hand on this.

[2015-09-29 10:50] bajiat opened #495 "Create script and ideas for whiteboard explainer video"
https://www.fiverr.com/djyoung/create-a-whiteboard-explainer-animation-video?show_join=true&user=guest&u_sou=facebook-acquisition&u_med=display&u_cam=Social.com_World_RHS_Cus_VisitWhiteboard_A_20-65_oCPM20_DA2709_Cate-Whiteboards_V1&u_con=World_B_Feed_CustomAud_VisitWhiteboard&u_ter=sb_src%3Ddde03qevr3hhq&sb_src=dde03qevr3hhq&app_data={%22sb_src%22%3A%22dde03qevr3hhq%22

[2015-09-29 12:07] brylie commented on #436
When would you like to schedule a pair programming session?

[2015-09-29 12:27] #384 closed

[2015-09-29 12:28] bajiat commented on #76
@frenchbread Thanks for taking this task. Note that this is the highest priority task of the ones you have selected.

[2015-09-29 14:03] mauriciovieira commented on #436
@brylie tomorrow morning.

[2015-09-30 01:11] #428 closed

[2015-09-30 07:20] #457 closed

[2015-09-30 07:20] #460 closed

[2015-09-30 07:38] brylie commented on #436
OK, what timezone?

[2015-09-30 08:01] bajiat commented on #490
@brylie Could you provide a link to your material?

[2015-09-30 08:11] brylie commented on #490
The slides are available on [Github](https://github.com/brylie/realtime-open-web/blob/master/README.md) and can be viewed in online presentation mode](https://gnab.github.io/remark/remarkise?url=https%3A%2F%2Fraw.githubusercontent.com%2Fbrylie%2Frealtime-open-web%2Fmaster%2FREADME.md#1).

[2015-09-30 08:31] #490 closed

[2015-09-30 10:10] brylie opened #496 "Clean up unused and remaining collections"
There may be collections that are no longer in use. E.g. `ApiConfigurations`, `RateLimit`. Cleanup unused collections and move remaining collections under a global `Collections` object. Make sure project code still functions, e.g. queries, views, etc.
# Task
## Documentation
- [ ] Make list of all project collections
- [ ] Identify whether each collection is in use
## Cleanup
- [ ] Remove unused c

[2015-09-30 10:12] brylie opened #497 "Move all schema definitions under the global Schemas object"
We are currently defining our schemas as global variables. This causes unnecessary clutter of our global namespace. Move all schema definitions to attributes of the global Schemas object.

Task
---
* [x] Make list of all project schema definitions
* [x] Move each schema definition to an attribute of the Schemas object
* [x] Update the collection-schema attachment lines to use the global Schemas ob

[2015-09-30 11:32] bajiat opened #499 "Improvements to apinf.io"
Potential ideas for pages to be added
- Features / screenshots
- Community page with a link to Discourse, Github, meetups etc.
- Link to releases?
- Architectural diagram
- Selected documentation (e.g. installation instructions)
- Any developer material
- Blog - if this sounds like a lot of work, posts could even be similar as our Facebook posts: pics with a few sentences, compare with [Tyk blog](

[2015-09-30 11:34] bajiat opened #500 "Create installation package(s)"
Create installation package(s) for Apinf. Specifically, a Docker file and Debian packaging might be desirable.

See e.g. [Kong Installation](https://getkong.org/install/)

[2015-09-30 11:36] mauriciovieira commented on #436
Sorry. I am at GMT-0300, you GMT+0300. The common period is 2PM - 6PM your time.

[2015-09-30 11:58] brylie commented on #436
Alright. How about 15:30 EET?

[2015-09-30 12:04] brylie commented on #436
I am in #apinf on Freenode.

[2015-09-30 13:38] ashakunt commented on #468
Looking at the current state of the product and the fact that there are no "UNIT" tests or "PRE DEPLOYMENT" tests, I would propose that we should right now start with UI tests for the DEPLOYED product, for example, using jasmine or selenium or robot framework. We can take up items in iterations like:

1. Able to register an account
1. Able to login to registered account
1. Able to add a backend ap

[2015-09-30 13:38] ashakunt commented on #483
This could technically be a part of issue#468 (https://github.com/apinf/api-umbrella-dashboard/issues/468)

[2015-09-30 14:16] brylie opened #502 "Remove Mailgun as a system dependency"
Mailgun is currently 'hard-wired' to our authentication system. Therefore, it is necessary to set up and activate a Mailgun account to even install Apinf. Lets separate our system from Mailgun.
## Task
- [ ] Create mailgun settings page
- [ ] Add mailgun configuration settings to form on settings page
- [ ] Add corresponding Mailgun Settings schema
- [ ] Create conditional logic to send welcome em

[2015-09-30 15:11] mauriciovieira commented on #436
@brylie suggested to use https://atmospherejs.com/useraccounts/core if changing https://github.com/apinf/api-umbrella-dashboard/blob/b052727d8a57a5592e64226b1e9551eeafe3c703/lib/NCSchemas.js#L3 does not work.

[2015-09-30 15:13] mauriciovieira commented on #436
TODO: Check out the AutoForm sandbox for examples.Take a look at AutoForm playground, SimpleSchema,  and Collection2

[2015-10-01 02:08] elnzv commented on #481
Chose [tap-i18n](https://github.com/TAPevents/tap-i18n)

[2015-10-01 05:33] elnzv commented on #481
For autoform [Meteor Autoform i18n](https://github.com/gwendall/meteor-autoform-i18n/)

[2015-10-01 06:57] brylie commented on #435
Add PR #501

[2015-10-01 07:11] brylie commented on #436
@mauriciovieira a third, possibly simple, option would be to write the HTML form by hand. This would be trivial, as there are only three fields and a button.

Once you have a simple HTML form, you can override the form submit event in the [Meteor template/form event](https://www.meteor.com/tutorials/blaze/forms-and-events) to validate the submission (there is already [code for this](https://github

[2015-10-01 07:33] brylie commented on #488
I have started a [API Metadata Standards](https://github.com/apinf/docs/blob/master/docs/research/API%20Metadata%20Standards.md) document.

[2015-10-01 07:35] brylie commented on #488
@bajiat do you have the contact information for the Palveluväylä organization?

[2015-10-01 07:57] elnzv commented on #481
Added  i18n markup in  for all text strings except form elements.

[2015-10-01 08:16] #435 closed

[2015-10-01 09:23] brylie commented on #481
We might also need to add i18n support to our collections via [tap:i18n-db](https://github.com/TAPevents/tap-i18n-db). See [demonstration video](https://www.youtube.com/watch?v=cu_dsoIc_0E).

[2015-10-01 09:23] brylie commented on #481
There appear to be user interface helpers for language selection, etc. as part of the [tap:i18n-ui](https://github.com/TAPevents/tap-i18n-ui) package.

[2015-10-01 11:11] brylie commented on #485
Added the [Apinf contributer guide](https://github.com/apinf/docs/blob/master/docs/develop/contributing.md) file to contain an overview of how to get involved.

[2015-10-01 11:30] bajiat commented on #488
@brylie I might be able to discuss this tomorrow, since I will be in Helsinki in a meeting that is related to Palveluväylä.
BTW, have you seen this: [API section in Government Service Design Manual](https://www.gov.uk/service-manual/making-software/apis.html)? Not about metadata as such, but related to API standards. Largely compatible with [White House API standards](https://github.com/WhiteHouse

[2015-10-02 08:16] brylie commented on #76
@frenchbread what is the status of this task?

[2015-10-02 08:27] brylie commented on #436
One change that needs to be made to the existing event code is to use arguments that are available to Meteor template events. Specifically, each template event can catch two optional arguments `event` and `template` respectively.

Given the following HTML:

[code]
You can hook into the submit event like so:

[code]

The `event` object will now have useful method(s) including the ability to get the

[2015-10-02 08:42] frenchbread commented on #76
@brylie Have not really started  yet. Just did some research about swagger UI. Going to focus on it next week.

[2015-10-05 08:08] frenchbread commented on #76
So far, I did some more research about Swagger UI. Created account at [swaggerhub](https://swaggerhub.com/) for testing, created API key as well.

To be able to use custom API key as well as REST API, there is a need to set up a separate server instance. [Reference link.](http://swagger.io/swagger-codegen/)

So the next step will probably a installation and launching this instance setup.

Does thi

[2015-10-05 08:11] brylie commented on #76
Basically, our apinf.io service is built around API Umbrella. When users are browsing documentation for a third party API, we may want to route their 'sandbox' calls through apinf.io (our API Umbrella proxy) as opposed to directly calling the remote API.

[2015-10-05 08:13] brylie commented on #76
Also, the Swagger Codegen may not be relevant to this issue. As far as I understand, Swagger Codegen generates an API scaffold, such as in JavaScript. We are only focused on the documentation browser, Swagger UI, for this task.

[2015-10-05 08:37] bajiat commented on #436
@mauriciovieira Hi, seems that you have been making good progress together with Brylie. Could you estimate the remaining hours in this task and move the task to "in progress" in the [Waffle board](https://waffle.io/apinf/api-umbrella-dashboard)?

[2015-10-05 08:53] bajiat commented on #427
@elnzv As suggested last week, it might be best to list the fields and the current/proposed texts in a Hackpad document or similar so that @brylie and maybe even I could review and comments those even if we don't have a chance to sit down and work on those together.

[2015-10-05 08:54] brylie commented on #485
I have updated the installation documentation on the Master branch. It now includes more detail about Mailgun and a link to the API Umbrella developer setup instructions.

[2015-10-05 09:13] brylie commented on #431
@elnzv please update the [Add API Backend Form help text document](https://github.com/apinf/api-umbrella-dashboard/wiki/Add-API-Backend-form-help-text).

[2015-10-05 09:15] brylie commented on #427
@elnzv please see the [Add API Backend Form help text document](https://github.com/apinf/api-umbrella-dashboard/wiki/Add-API-Backend-form-help-text).

[2015-10-05 09:49] brylie opened #503 "Add "Default Response Headers" field to Add API Backend form"
The "Default Response Headers" field is not currently available on the Add API Backend form. This is inconsistent with the API Umbrella system.

Help text should read:

# Task
## Verify existing field in API Umbrella
* [x] Verify "Default Response Headers" field design on API Umbrella API Backend form
* [x] Make note of field design, location on form, etc

## Implement field in Apinf
* [x] Update

[2015-10-05 09:51] brylie opened #504 "Add Override Response Headers field to Add API Backend form"
The "Override Response Headers" field is not currently available on the Add API Backend form. This is inconsistent with the API Umbrella system.

Help text should read:

# Task
## Verify existing field in API Umbrella
* [x] Verify "Default Response Headers" field design on API Umbrella API Backend form
* [x] Make note of field design, location on form, etc

## Implement field in Apinf
* [ ] Update

[2015-10-05 12:17] mauriciovieira commented on #436
@bajiat Hi. I am not able to change the card in the Waffle board, but only using github issues interface. This started happening today.

The work is almost done. Brylie is reviewing the Pull Request #505

[2015-10-05 12:20] mauriciovieira commented on #438
Fixed by #505

[2015-10-05 12:20] #438 closed

[2015-10-05 12:21] #436 closed

[2015-10-05 12:22] mauriciovieira commented on #436
@bajiat It is done.

[2015-10-05 12:25] brylie commented on #426
I am assigning Mauricio (@mauriciovieira) to this task.

[2015-10-05 12:26] brylie commented on #436
PR is merged.

[2015-10-05 12:35] #375 closed

[2015-10-05 12:35] #484 closed

[2015-10-05 12:40] brylie opened #506 "Upgrade packages, including Meteor 1.2"
Upgrade all project packages including meteor core, which is now at 1.2)

[2015-10-05 12:44] mauriciovieira commented on #496
Related to #497

[2015-10-05 12:51] brylie commented on #357
We may need to update our schema to strictly align with the API Umbrella validation, as well as pass response errors to the end-user.

[2015-10-05 12:52] mauriciovieira commented on #357
Another error:
[code]

and the fix should be placed at https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/methods/apiBackends.js#L33

[2015-10-05 12:53] mauriciovieira commented on #426
"Redirect to API view." is done.

[2015-10-06 08:15] brylie commented on #426
We determined the UI message was not necessary, so removed it from the onSuccess callback.

[2015-10-06 08:15] #426 closed

[2015-10-06 08:18] #485 closed

[2015-10-06 09:52] bajiat opened #508 "Enhance i18n support"
This task is related to task #481, which consisted of adding basic i18n support for most UI elements. i18n support needs also to be added to autoforms and collections. Furthermore, there  should be an option for selecting UI language,
# Task
## Research
- [x] Determine where task #481 left off, with regards to adding i18n to UI elements
- [x] Choose i18n packages for remaining UI elements and data

[2015-10-06 10:41] brylie commented on #76
@frenchbread I have updated this description with a picture. For the rest of this sprint, just focus on how to pass the user API Key into the Swagger UI `api_key` field.

We can look at the more difficult aspect of routing the API calls through `umbrella.apinf.io` in another spring.

[2015-10-06 11:15] brylie commented on #351
Opened PR #509

[2015-10-07 07:31] #488 closed

[2015-10-07 08:21] bajiat commented on #481
@elnzv We moved some of the work for this task to a new task: #508. You could open a PR already for this task. Brylie has promised to review it, if it is open before Friday.

[2015-10-07 08:46] frenchbread commented on #76
@brylie Okay.
Just one thing to clarify: `User API key`  is api key created at https://swaggerhub.com/ for a user OR user's api key at https://apinf.io ?

[2015-10-07 09:17] #20 closed

[2015-10-07 09:18] bajiat commented on #20
Obsolete.

[2015-10-07 09:18] bajiat commented on #21
Obsolete.

[2015-10-07 09:18] #21 closed

[2015-10-07 09:18] bajiat commented on #19
Obsolete.

[2015-10-07 09:18] #19 closed

[2015-10-07 09:18] bajiat commented on #22
Obsolete.

[2015-10-07 09:19] #22 closed

[2015-10-07 09:19] bajiat commented on #31
Duplicate.

[2015-10-07 09:19] #31 closed

[2015-10-07 09:20] bajiat commented on #26
Ambiguous.

[2015-10-07 09:20] #26 closed

[2015-10-07 09:21] bajiat commented on #27
Ambiguous.

[2015-10-07 09:21] #27 closed

[2015-10-07 09:22] bajiat commented on #40
Not required. We are using API Umbrella through the REST API and are using our own authentication.

[2015-10-07 09:22] #40 closed

[2015-10-07 09:24] bajiat commented on #28
Vague.

[2015-10-07 09:24] #28 closed

[2015-10-07 09:24] bajiat commented on #29
Ambiguous.

[2015-10-07 09:24] #29 closed

[2015-10-07 09:28] bajiat commented on #187
@kyyberi We have installed Discourse as community platform for API and API management related discussions. Does this suffice or should we still look into Q2A?

[2015-10-07 09:32] bajiat commented on #153
Obsolete.

[2015-10-07 09:32] #153 closed

[2015-10-07 09:35] bajiat commented on #81
Obsolete.

[2015-10-07 09:35] #81 closed

[2015-10-07 09:37] #244 closed

[2015-10-07 09:38] bajiat commented on #245
Duplicate.

[2015-10-07 09:38] #245 closed

[2015-10-07 09:39] bajiat commented on #251
Resolved.

[2015-10-07 09:39] #251 closed

[2015-10-07 09:39] bajiat commented on #225
Discourse added as a discussion portal for community.

[2015-10-07 09:40] #225 closed

[2015-10-07 09:40] bajiat commented on #257
Done.

[2015-10-07 09:40] #257 closed

[2015-10-07 09:42] bajiat commented on #282
Done.

[2015-10-07 09:43] #282 closed

[2015-10-07 09:44] bajiat commented on #258
Obsolete.

[2015-10-07 09:44] #258 closed

[2015-10-07 09:45] bajiat commented on #280
Duplicate.

[2015-10-07 09:45] #280 closed

[2015-10-07 09:46] bajiat commented on #298
@frenchbread Is this already taken care of?

[2015-10-07 09:47] bajiat commented on #283
Obsolete.

[2015-10-07 09:48] #283 closed

[2015-10-07 09:48] bajiat commented on #281
Done.

[2015-10-07 09:48] #281 closed

[2015-10-07 09:49] #111 closed

[2015-10-07 09:52] bajiat commented on #337
Done.

[2015-10-07 09:52] #337 closed

[2015-10-07 09:53] bajiat commented on #335
Obsolete.

[2015-10-07 09:55] bajiat commented on #353
Done in conjunction with other tasks.

[2015-10-07 10:01] bajiat commented on #352
Duplicate.

[2015-10-07 10:01] #352 closed

[2015-10-07 10:15] brylie opened #511 "Create vagrant-spk file for Sandstorm.io deployment"
Create a [vagrant-spk](https://github.com/sandstorm-io/vagrant-spk) file to make it easier for people to deploy Apinf.

See also:
- http://vagrant-spk.meteor.com

[2015-10-07 10:53] frenchbread commented on #298
@bajiat No, it is not. I can take this one for next sprint.

[2015-10-07 12:02] brylie opened #512 "Determine how to upgrade lagging Meteor packages"
When upgrading to Meteor 1.2, the following packages were held back:

[code]

Determine how to upgrade one or more of the listed packages to their latest version, or as close as possible.

[2015-10-07 12:11] brylie opened #513 "Determine why LESS import from /packages/ directory causes build error on Meteor 1.2 branch"
When building the project after upgrading to Meteor 1.2, the following error appears in the terminal:

[code]

Determine the cause of this error, including whether the import is necessary.

[2015-10-07 12:14] brylie commented on #513
I have mentioned this issue in the Meteor Forums thread [What's blocking you from updating to Meteor 1.2?](https://forums.meteor.com/t/whats-blocking-you-from-updating-to-meteor-1-2/10535/45)

[2015-10-07 13:55] brylie commented on #343
You can use dburles:collection helpers to return all Manager  users for a given API Backend. We have the collection helpers package installed in our project. Collection helpers take the form of :

[code]

[2015-10-07 14:14] mauriciovieira commented on #343
Branch ```feature/manage-apibackend-managers```

[2015-10-07 14:20] brylie commented on #357
We can use the sAlert package or similar to display errors to the end user. Also, the API Backend should not be inserted into the apiBackends collection if there are API Umbrella errors in the response object.

[2015-10-07 20:07] mauriciovieira commented on #497
Schema definitions list:
- **both/collections/apiUmbrellaUsers.js**: _ApiUmbrellaUsersSchema_
- **both/collections/apiUmbrellaAdmins.js**: _ApiUmbrellaAdminsSchema_
- **both/collections/rateLimit.js** - _RateLimitSchema_
- **both/collections/roles.js** - _RolesSchema_
- **both/collections/users.js** - _Schemas.UserProfile_ and _Schemas.User_
- **both/contactForm.js** - _Schemas.contact_
- **lib/NC

[2015-10-07 20:28] mauriciovieira commented on #497
@brylie please :mag:  #516

[2015-10-08 09:29] bajiat commented on #506
PR is open.

[2015-10-08 09:30] bajiat commented on #511
Related to  #500.

[2015-10-08 09:31] bajiat commented on #327
Blocks #502.

[2015-10-08 09:33] bajiat commented on #70
Related to

[2015-10-08 09:37] bajiat commented on #178
Is this required for MVP2?

[2015-10-08 09:46] bajiat opened #517 "Use API Umbrella for REST calls made through Swagger UI"
When making API calls in documentation browser, i.e. Swagger UI, it is desirable to  use API Umbrella proxy, e.g. umbrella.apinf.io, for requests.

The API Umbrella proxy URL can be found in config.json (as api_umbrella.base_url)

One approach to this task would be to rewrite the .swagger file, changing the `host` property to match the `api_umbrella.base_url`.

# Task
* [x] Determine how to change

[2015-10-08 09:51] bajiat commented on #471
@elnzv Can you provide a status provide and commit any work in progress, even design pictures, to Github?

[2015-10-08 09:51] bajiat commented on #482
@elnzv Can you provide a status provide and commit any work in progress, even design pictures, to Github?

[2015-10-08 09:51] bajiat commented on #149
@elnzv Can you provide a status provide and commit any work in progress, even design pictures, to Github?

[2015-10-08 09:52] bajiat opened #518 "Implement API backlog"
Related to #482

![wireframe](https://raw.githubusercontent.com/apinf/docs/master/docs/design/%23482_api_backlog_apinf.png)

Note: even though the wireframe contains labels / tags for backlog items, they are not in the scope of this task. That will be a continuation task.

Definition of done
---
* [x] API backlog items are stored in collection.
* [x] API backlog collection has a schema.
  * [x] Sc

[2015-10-08 09:52] bajiat opened #519 "Implement API Rating field and widget"
# Feature
Create a rating feature for API Backends. Users can select a rating, and aggregate ratings are displayed on the API Backend page and API Backends catalog.

# Design
![Rating design](https://raw.githubusercontent.com/apinf/docs/master/docs/design/%23471_rating_field_widget.png)

# Resources
* [jQuery Rate It package](https://atmospherejs.com/dandv/jquery-rateit)

# Related
Related to #471

[2015-10-09 05:00] mauriciovieira commented on #357
I think the solution might lie on changing https://github.com/brylie/meteor-api-umbrella/blob/master/server/admin-api/v1/apiBackends.js#L40 error handling.  After reading https://www.joyent.com/developers/node/design/errors#4-augment-the--code-error--code--object-with-properties-that-explain-details, I believe that _apiUmbrellaWeb.adminApi.v1.apiBackends.createApiBackend_ should throw an ApiUmbrel

[2015-10-09 05:52] mauriciovieira commented on #357
See fc422662e05e10e3fdb98bc12b5cd0972df6780f

[2015-10-09 06:29] frenchbread commented on #418
I've added a new document to [hackpad](https://apinf.hackpad.com/Social-networks-for-developers-bR4Cm7P9jBh) which lists and describes most of popular social networks for developers that know about so far. Please feel free to add more.

[2015-10-09 06:52] #486 closed

[2015-10-09 07:52] #497 closed

[2015-10-09 08:18] brylie commented on #357
Thanks for the research. I would like to improve the package, but may need some pair-programming help.

[2015-10-09 08:28] brylie opened #521 "Create CONTRIBUTING.md file in project root"
New developers may benefit from a brief description of how they can get involved. This description is often provided in a file called CONTRIBUTING. Github will look for a file called `CONTRIBUTING.md` and link new developers to that document when they create a pull request.

# Task
* [x] Create CONTRIBUTING.md in project root folder
* [x] Move "Getting Started" and other relevant details from READ

[2015-10-09 10:32] brylie opened #522 "URL Matchers alignment issue on View API Backend page"
When viewing an individual API Backend with multiple URL Matcher entries, the **URL Matchers** appear in a staggered row:

![urlmatchers-alignmentissue](https://cloud.githubusercontent.com/assets/17307/10391808/28e3c42c-6e8a-11e5-8174-3d435ae3ce1d.png)

# Task

* [ ] Add markup necessary for URL Matchers to appear in a row or column.

[2015-10-09 10:36] #489 closed

[2015-10-09 10:38] bajiat opened #523 "Validate Swagger files when they are uploaded"
Definition of done
---
* [x] Choose package for Swagger validation.
* [x] Integrate the package to the project.
* [x] Create a function to run the validation.
* [ ] Work with the developer working with issue to make sure the validation is run when a Swagger document is being uploaded.

[2015-10-09 10:43] bajiat commented on #429
Duplicate.

[2015-10-09 10:43] #429 closed

[2015-10-09 19:32] mauriciovieira commented on #343
I am interested in taking this task.

[2015-10-10 14:26] ccsr opened #525 "backends shown as offline"
All the backends are shows as offline. This is what is shown in KoodiViikko in Mikkeli. Attaching the screenshot

![12119716_472210216294581_1615479348_o](https://cloud.githubusercontent.com/assets/10469538/10411596/a2d13aaa-6f73-11e5-84be-843cd4fcc0c3.jpg)

[2015-10-10 14:27] ccsr commented on #525
Adding @kyyberi

[2015-10-10 15:15] elnzv commented on #525
It is shown as down only on a first load.
If you reload the page it shows status correctly.
@apinf/developers who was implementing this feature? What can cause this problem?

[2015-10-10 15:48] frenchbread commented on #525
I've been implementing it. I think problem is caused by meteor. When the apiBackend page loads first time it request for status of specific api backend. But if navigating to another apiBackend page, api status will remain the same (for apiBackend that loaded first). Reloading the page can resolve this problem as @elnzv mentioned.

I will look into this issue.

[2015-10-11 05:29] frenchbread commented on #525
@apinf/developers PR #526 created. Please review.

[2015-10-11 15:32] kyyberi commented on #187
IMHO discourse is enough for this purpose. More realtime chatting we could use https://apiops.slack.com/ (autojoin page: https://joinapiops.herokuapp.com/)

[2015-10-11 16:22] kyyberi commented on #489
Promoted with Twitter and posted a message to APIOps community in Slack: "For more slow paced discussions we can use http://community.apinf.io/ as well." At least @brylie and @bajiat should join the Slack ;) https://joinapiops.herokuapp.com/

[2015-10-12 05:03] #418 closed

[2015-10-12 08:07] bajiat commented on #495
@ccsr What is the preferred target audience for the whiteboard explainer video? API consumers or API managers?

[2015-10-12 10:11] bajiat commented on #343
@mauriciovieira The task is yours to take. :) I believe you had already planned this task with Brylie. Please estimate the size.

[2015-10-12 10:13] bajiat commented on #327
@frenchbread You were interested in this task. I have assigned it to you and estimated the size according to your estimation.

[2015-10-12 10:19] bajiat commented on #270
@frenchbread Would you be able to take this task in addition to #327 and #76? If yes, could you estimate the size?

[2015-10-12 10:21] bajiat commented on #70
@elnzv Could you take this task? It would be a continuation of your design task from last sprint. If yes, can you estimate the size.

[2015-10-12 10:24] bajiat commented on #517
@elnzv How about this one - would you be interested? This is a continuation of task #76, which is being implemented by @frenchbread. Please estimate the size if you can take it.

[2015-10-12 10:26] bajiat commented on #74
@elnzv You are the expert in the style elements, so this should probably be your task as well. What do you think? Can you estimate the size, if this task still fits in this sprint.

[2015-10-12 10:40] mauriciovieira commented on #270
I suggest we take a look at [Velocity](http://info.meteor.com/blog/meteor-testing-framework-velocity), the official meteor package for testing.

[2015-10-12 10:41] #268 closed

[2015-10-12 16:38] kyyberi commented on #521
+1

[2015-10-12 19:15] mauriciovieira commented on #343
@bajiat As soon as I finish #357 I will start this one.

[2015-10-13 00:31] elnzv commented on #517
Will estimate the size after discussion with @frenchbread, since he was working on the related issue.

[2015-10-13 00:33] elnzv commented on #74
Taking this task also. It will be last on the priority list, is that fine, @bajiat?

[2015-10-13 01:11] elnzv commented on #70
@bajiat, please, give me access to docs repo, I will upload design files there.

[2015-10-13 01:34] #525 closed

[2015-10-13 05:50] bajiat commented on #70
@elnzv You should have Write permission to docs now.

@brylie: for your information, I have added Write permission to design and research teams to docs repository, because Illya and Laura were not able to add documents.

[2015-10-13 05:54] bajiat commented on #74
@elnzv Yes, that is exactly as it should be, this has the lowest priority.

[2015-10-13 08:41] bajiat commented on #504
@mauriciovieira I checked your task estimations for sprint 14 and it is about 25 hours. You estimated your availability as 49 hours. Some of that time will go to reviewing PR's, but would it also be possible for you to take tasks #504 and #503?

[2015-10-13 09:38] elnzv commented on #471
added wireframes to docs repo:
https://github.com/apinf/docs/blob/master/docs/design/%23471_rating_field_widget.png

[2015-10-13 09:39] elnzv commented on #149
Added wireframes to docs repo:
https://github.com/apinf/docs/blob/master/docs/design/%23149_communication_channel_apinf.png

[2015-10-13 09:40] elnzv commented on #149
@bajiat please review, if you have any comments, let me know.

[2015-10-13 09:40] elnzv commented on #471
@bajiat please review, if you have any comments, let me know.

[2015-10-13 09:47] bajiat commented on #471
@elnzv I would suggest that you would indicate your own preference for the three options and also explain the pros and cons of each. Also, please indicate how a user can  rate the APIs or vote for them in each.

[2015-10-13 10:29] bajiat commented on #149
@elnzv Just wondering if the API consumers want simply to give feedback or report problems using the APIs. Should the other API consumers be able to comment them as well?

[2015-10-13 14:34] kyyberi commented on #149
comments +1

[2015-10-13 23:07] mauriciovieira commented on #508
@bajiat I can take this one.

[2015-10-13 23:07] mauriciovieira commented on #233
@bajiat I can take this one.
I think it's related to  #343

[2015-10-14 05:51] bajiat commented on #508
@mauriciovieira Ok. Thanks for the self-assignment and time estimation!

[2015-10-14 05:51] bajiat commented on #233
Ok!

[2015-10-14 06:28] #467 closed

[2015-10-14 07:01] bajiat commented on #270
Moving this back to backlog, because there is a new testing plan proposed to Apinf. This task either to be re-used for the new plan or closed if new testing issues will be created.

[2015-10-14 07:11] ccsr commented on #495
@bajiat & @Laura-Sampo It should be targeted to API Owners (API Managers). Also adding Laura to loop.

[2015-10-14 07:32] bajiat commented on #495
Initial ideas to be documented in [Whiteboard explainer video](https://apinf.hackpad.com/Whiteboard-explainer-video-495-ytf6wFN4Kic)

[2015-10-14 10:00] bajiat commented on #351
@elnzv Can I close the issue? Didn't you review the PR and merge?

[2015-10-14 10:02] bajiat commented on #506
@frenchbread Can I close this issue? Wasn't the PR #509 you reviewed and merged related to this task?

[2015-10-14 10:29] frenchbread commented on #506
@bajiat PR #514 was related. Closing this issue.

[2015-10-14 10:29] #506 closed

[2015-10-14 11:53] frenchbread opened #529 "Remove hardcoded urls for Apinf's services status checking"

[2015-10-14 18:45] #351 closed

[2015-10-14 19:25] mauriciovieira commented on #357
PR #527 waits for code review.

[2015-10-14 21:41] elnzv commented on #149
@bajiat, This is about first, more features rich option, I think yes, other should see this feedback or report and be able to comment it.
Reason is in our philosophy of being open and working together. That's similar to Github, all issues are open. If the user wants to contact admin privately, a good way is to do it directly by email. We can leave space on feedback page for this information and ad

[2015-10-14 22:01] elnzv commented on #471
@bajiat, added suggested information

[2015-10-14 23:05] elnzv commented on #70
Here is exactly what we are looking for:
https://github.com/vivekvrao/user-feedback

It has all functionality I mentioned in design document.
There is basic and really poor UI, so this is something I will work on.

I will fork this project and make needed modifications.
Also it is a good opportunity to contribute to open source project.

[2015-10-15 07:51] frenchbread commented on #529
PR #528 related

[2015-10-15 12:07] bajiat commented on #471
@elnzv Excellent additions! You can perhaps still say explicitly which one do you recommend (I quess it's the one with stars) and then close the issue.

[2015-10-15 12:17] elnzv commented on #471
@bajiat, already done this - next to Stars' title my comment.

[2015-10-15 12:20] bajiat commented on #471
@elnzv Ok, I managed to somehow ignore that and noticed only the visual feedback and the pros and cons. Then everything's just fine, go ahead and close the issue.

[2015-10-15 12:22] #471 closed

[2015-10-15 13:25] #481 closed

[2015-10-15 13:43] #529 closed

[2015-10-15 14:53] #149 closed

[2015-10-16 01:20] frenchbread opened #530 "Provide sample settings.json file within the project source"

[2015-10-16 02:05] mauriciovieira opened #531 "Improve API Umbrella error handling"
This task is related to task #357. An [issue](https://github.com/brylie/meteor-api-umbrella/issues/1) was created on brylie:meteor-api-umbrella to enhance the error handling. After this issue is finished some work must be performed according to instructions left in the commit: 229a7dec66f7c2f0becc8ba2218649e8e328dd29

[2015-10-16 06:24] frenchbread commented on #76
[`feature/pass-api-key-to-swagger`](https://github.com/apinf/api-umbrella-dashboard/tree/feature/pass-api-key-to-swagger) - current branch I am working on.

Basic functionality is done, User's API-Key now shows up within swagger UI. Testing..

[2015-10-16 16:25] kyyberi opened #532 "API platform management features"
Just stumbled upon this Kin Lane's article about common building blocks across API service providers, spanning over 17 stops along the API lifecycle:

http://apievangelist.com/2015/10/15/establishing-a-common-api-definition-that-api-management-providers-can-use/

A lot of features to support and manage your APIs, account, users via API.

[2015-10-16 16:28] kyyberi opened #533 "Open ID connect support"
OpenID Connect 1.0 is a simple identity layer on top of the OAuth 2.0 protocol. It allows Clients to verify the identity of the End-User based on the authentication performed by an Authorization Server, as well as to obtain basic profile information about the End-User in an interoperable and REST-like manner.

OpenID Connect performs many of the same tasks as OpenID 2.0, but does so in a way that

[2015-10-19 07:39] frenchbread commented on #76
This def. of done if attached to newly created issue #517.

[2015-10-20 11:39] #76 closed

[2015-10-21 05:59] #427 closed

[2015-10-21 07:43] #431 closed

[2015-10-21 07:44] elnzv commented on #431
Closed in #534 PR.

[2015-10-22 06:47] jykae opened #535 "Problems installing local development environment, improve documentation regarding API Umbrella"
I started installing APInf components yesterday. All the API Umbrella packages are for Linux. What is the recommended way to install Umbrella for Mac OSX, Windows?

Tried first to install .deb package with Vagrant on fresh Ubuntu14.04 VM. Had problems with port number in URL address. When going to admin page, Umbrella rewrites URL. Should I forward HTTPS traffic also in Vagrant?

[2015-10-22 09:33] bajiat commented on #343
@mauriciovieira Can you inform me of the status of this task?

[2015-10-22 11:01] mauriciovieira commented on #343
It is 30% done. I will move it back to 'ready' column

[2015-10-22 11:10] bajiat opened #536 "Implement downloadable log of API usage statistics in text format"
Create an export button to download Dashboard data. The downloaded data should only be reflecting the current status of the dashboard. For instance, if user has filtered the dashboard data by time etc., the download will only contain the filtered data.

Definition of done
------
* [x] Add button to dashboard layout.
  * [x] Start by creating a wireframe in our documentation repository (do not skip

[2015-10-22 11:14] jykae opened #537 "Admin API integration"
Could we have this under organization https://github.com/brylie/meteor-api-umbrella ?
Under APInf probably as it is wrapper related to frontend code. It would be easier to find.

[2015-10-22 11:18] jykae commented on #535
I update Vagrantfile & shell provisioning for this as I install forward. I am running on Mac OSX.

[2015-10-22 11:28] jykae commented on #535
Discussion in the community https://community.apiumbrella.io/t/vagrant-support/31/2

[2015-10-22 12:08] bajiat commented on #74
@elnzv I'm moving this task to pre-planning for next sprint and unassigning it.

[2015-10-22 12:09] bajiat commented on #482
@elnzv I'm moving this task to pre-planning for next sprint and unassigning it.

[2015-10-22 12:20] jykae commented on #535
I solved redirect problem, configured private network for VM, access for host-machine only, which is good for local development.

config.vm.network "private_network", ip: "192.168.33.10"

[2015-10-22 14:02] jykae commented on #535
Didn't get Github login work, error with callback URL.
Persona login works. Got logged in admin panel.

[2015-10-22 14:16] jykae commented on #535
Maybe it would be good to have Vagrantfile & provisioning scripts in another repo? And in provisioning shell script clone api-umbrella-dashboard from Github. I try to do it that way..

[2015-10-23 04:24] elnzv commented on #482
Have almost done this task. Need to move wireframes, ideas and design document from my notepad to the digital form.

[2015-10-23 12:41] bajiat opened #538 "Functional testing: Familiarize yourself with Apinf platform"

[2015-10-23 12:45] bajiat opened #539 "Functional testing: Test user registration"

[2015-10-23 13:45] jykae commented on #535
Meteor has issues working inside Virtualbox. For development probably then Virtualbox for Umbrella & local installation of APInf Dashboard.

Wondering where I get "auth_token" for Umbrella? Registered API key, how to get "auth_token" for Meteor?

Command "meteor --settings settings.json" fails now with error:

Error: failed [401] {"error":"You need to sign in or sign up before continuing."}

And c

[2015-10-23 18:26] kyyberi commented on #536
CSV format as an option would be nice. That enables import it to statistical analysis software. Also consider providing API access to Logs.

[2015-10-24 18:11] ccsr opened #540 "Make all the team members in GitHub public"
APInf team needs to be visible to public in GitHub. Right now only Illya & Brylie are visible.

[2015-10-26 07:09] frenchbread commented on #535
@JuusoV Check you email. I've sent you instructions how to get API token for apiUmbrella. All the links are there as well. Notice, that you must login to apiUmbrella's admin panel using the same email which you used to get an API Key.

[2015-10-26 07:15] brylie commented on #517
@frenchbread status report?

[2015-10-26 07:16] brylie commented on #482
@elnzv please keep us updated more regularly with design artefacts.

[2015-10-26 07:18] brylie commented on #327
@elnzv status report? Also, please provide wireframes before writing code.

[2015-10-26 07:19] brylie commented on #270
@mauriciovieira it makes sense to use Velocity as our testing framework. Also, we chose [Mocha.js](http://mochajs.org/) in a previous task for writing our tests. Mocha.js can be used with Velocity.

[2015-10-26 07:26] brylie commented on #126
@frenchbread If I recall correctly, you recommend using the Mocha testing framework? Or did you lean towards Jasmine?

[2015-10-26 07:29] frenchbread commented on #126
@brylie We agreed that we will use Jasmine for testing but as you may remember we kind of failed writing unit tests because of some problems with accessibility to `Meteor` object.

[2015-10-26 07:41] frenchbread commented on #517
@brylie We kind of stuck with this one.

With @elnzv we found out that the only way to change the proxy to apiUmbrella is to download swagger.json file itself, change the host and base path values to be that we want and then use the same file for future requests in Swagger UI base url field.

[2015-10-26 07:43] frenchbread commented on #536
I am interested in this task.

[2015-10-26 07:43] brylie commented on #535
@jykae, please review the API Umbrella [Admin API documentation](http://apiumbrella.io/docs/admin-api/), which describes how to get the admin auth token.

[2015-10-26 07:45] frenchbread commented on #535
@brylie Is that right that for team members we do not need to download API Umbrella instance locally and can actually use one that is attached to APInf during testing/development ?

[2015-10-26 07:46] brylie commented on #70
@elnzv status report?

[2015-10-26 07:47] brylie commented on #535
@frenchbread yes. We have been using our deployed version of API Umbrella (nightly.apinf.io), since we have been experiencing difficulties with Vagrant, etc.

[2015-10-26 07:53] brylie commented on #517
Alright, that makes sense. Should we get together to plan this feature a bit? We can all three have a planning meeting later this sprint. @elnzv @frenchbread

[2015-10-26 07:55] bajiat commented on #517
@elnzv @frenchbread @brylie I talked about this issue with @kyyberi as
well. If I understood correctly, he confirmed the approach @elnzv and
@frenchbread had figured out, i.e. changing the host in swagger.json.

2015-10-26 9:53 GMT+02:00 Brylie Christopher Oxley <notifications@github.com

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2015-10-26 08:57] bajiat opened #541 "Design reply functionality to communication channel"
First version of communication channel between consumers and managers allows consumers to send feedback, request etc. about APIs and managers to view the feedback.

# User Interface
The discussions will appear within the feedback container, as a flat list at the bottom (threaded replies may be added later). The discussion will be date sorted.

## Comment input
There will be an text input for addin

[2015-10-26 08:59] bajiat opened #542 "Design public API feedback voting"
First version of communication channel between consumers and managers allows consumers to send feedback, request etc. about APIs and managers to view the feedback.

# Wireframe
![mockup](https://raw.githubusercontent.com/apinf/docs/master/docs/design/%23149_communication_channel_apinf.png)

# FeedbackVotes collection
This feature may use a new collection called `FeedbackVotes`. Each Feedback Vote

[2015-10-26 09:15] elnzv commented on #70
Working on own solution for this feature.
Working branch - https://github.com/apinf/api-umbrella-dashboard/tree/feature/user-admin-communication-channel

[2015-10-26 09:24] bajiat commented on #540
Membership can only be changed to Public by each individual. I have sent a request on mail to all team members that are still Private.

[2015-10-26 09:26] mauriciovieira commented on #540
:+1:

[2015-10-26 11:10] jykae commented on #535
@frenchbread Thanks for instructions and help. I got Umbrella now also working locally with APInf frontend. I am running local Umbrella inside Virtualbox built with Vagrant. Looks like I just had to generate "auth_token" using mongo client after Umbrella 0.8.0 installation from .deb package. Commented here about it: https://github.com/NREL/api-umbrella/issues/135

I document usage of Umbrella Vagr

[2015-10-26 11:10] #535 closed

[2015-10-26 11:12] frenchbread commented on #517
@brylie That's sound good. Let's set up a meeting then.

[2015-10-26 11:45] brylie commented on #74
Sprint 15 co-pilot is @frenchbread

[2015-10-26 11:45] brylie commented on #343
Sprint 15 co-pilot: @brylie

[2015-10-26 11:54] brylie commented on #503
Co-pilot: @elnzv

[2015-10-26 11:54] brylie commented on #504
Co-pilot: @elnzv

[2015-10-26 11:57] brylie commented on #495
Sprint 15 co-pilot: @elnzv

[2015-10-26 12:01] brylie commented on #519
Co-pilot: @elnzv

[2015-10-26 12:01] brylie commented on #541
Co-pilot: @elnzv

[2015-10-26 12:06] brylie commented on #233
Co-pilot: @brylie

[2015-10-26 12:09] brylie commented on #508
Co-pilot: @brylie

[2015-10-26 12:23] #469 closed

[2015-10-26 12:23] preriasusi commented on #480
Planning to test Soap weather api:  http://www.webservicex.com/New/Home/ServiceDetail/56

[2015-10-26 13:52] preriasusi opened #543 "Link to help forum from apinf.io"
I'm adding new API to apinf.io. I got it added, even though I was searching for help while doing it.

Now I'm trying to call it with Postman, and I get error "API_KEY_MISSING". I would like to go to read discussions, support forum to get help for this one, but there's no link on apinf.io. I can't find any kind of help text or link anywhere where I could get help.

[2015-10-26 14:02] preriasusi commented on #480
Doesn't look it it works.
The respond I get is:

---------------------8<------------------------------
<!DOCTYPE html>
<html>
    <head>
        <title>The page you were looking for doesn't exist (404)</title>
        <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em

[2015-10-26 15:03] jykae commented on #233
Found right places in the code. I tried switching sendVerificationEmail to true and commented out mail sending call on Account creation. Got email, looks like this: https://goo.gl/F8Qu2n

It still uses mailgun for smtp, as I didn't change that from settings. Template for verification email needs to be created. Verification link works.

Many Meteor projects seem to use Mailgun for email. That is fi

[2015-10-26 17:45] kyyberi commented on #517
Yes, I had to manually edit a few files from swagger editor generated nodejs api skeleton to make it work correctly. Config was one and if I recall correctly, there was a variable in the beginning that was never used.

[2015-10-26 17:50] kyyberi commented on #540
Only three private, huge improvement in transparency :)

[2015-10-26 19:47] ccsr commented on #540
done

[2015-10-26 19:56] elnzv commented on #540
@JuusoV & @Laura-Sampo need to make them public.
This can be done on this page - https://github.com/orgs/apinf/people

[2015-10-26 19:58] elnzv commented on #519
Related design file - https://github.com/apinf/docs/blob/master/docs/design/%23471_rating_field_widget.png

[2015-10-26 20:13] JuusoV commented on #540
@elnzv
Fix'd

[2015-10-27 07:45] frenchbread commented on #466
I did a little research on topic "copying value to clipboard" and it turns out that direct copying (or forcing copying) data to clipboard using JS function may not be supported by all browsers and can cause security vulnerabilities.

Anyhow, the solution I came up with is listed on [stackoverflow](http://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript):

[code]

So,

[2015-10-27 07:47] brylie commented on #466
Try [Clipboard.js](https://zenorocha.github.io/clipboard.js/).

[2015-10-27 08:01] brylie commented on #233
@jykae please comment the Postfix idea in the issue related to removing Mailgun as a system requirement.

[2015-10-27 08:13] jykae commented on #502
In the production environment I propose using Postfix for SMTP, http://www.hiddentao.com/archives/2014/12/18/meteor-localhost-smtp-using-postfix-on-ubuntu/
It requires more work than Mailgun, so for development I think Mailgun is fine, imho.

[2015-10-27 08:25] brylie commented on #500
@jykae, please consider contributing towards this task.

[2015-10-27 08:33] bajiat commented on #540
Thanks everyone! All team members have now public membership. Closing the issue.

[2015-10-27 08:34] #540 closed

[2015-10-27 10:10] #521 closed

[2015-10-27 10:17] jykae commented on #233
Connect to apinf/api-umbrella-dashboard#547

[2015-10-27 11:09] bajiat commented on #343
@mauriciovieira Can you please add the estimate for size (remaining hours)? 13?

[2015-10-27 11:09] bajiat commented on #508
@mauriciovieira Can you please add the estimate for size (remaining hours)? 13?

[2015-10-27 11:11] bajiat commented on #357
@mauriciovieira Something probably no-one has remembered to tell you. While a PR is under review, we have agreed to keep the size estimate for the original issue as 1.

[2015-10-27 14:05] jykae commented on #503
According to Umbrella field design "Default response headers" comes after "Rate limit" field. In Apinf "Rate limit" field seems to be "Rate limit mode".

[2015-10-27 14:57] jykae commented on #503
"Ensure schema definition matches API Umbrella field name and validation settings", how I find Umbrella validation settings?

[2015-10-28 02:09] mauriciovieira commented on #357
@bajiat :+1:

[2015-10-28 02:10] mauriciovieira commented on #508
@bajiat 8

[2015-10-28 02:10] mauriciovieira commented on #343
@bajiat 13 :-)

[2015-10-28 02:36] elnzv commented on #482
added wireframes to docs repo:
https://github.com/apinf/docs/blob/master/docs/design/%23482_api_backlog_apinf.png

@apinf/design, please review.

[2015-10-28 05:09] kyyberi commented on #482
Looks like a good start from my perspective

[2015-10-28 05:15] kyyberi commented on #519
Somehow add the amount of ratings to option one. Could it be number in parenthesis after the stars? This is vital since its different level of credibility if there is just two ratings or 200 ratings.

[2015-10-28 05:16] kyyberi commented on #540
Excellent

[2015-10-28 07:41] brylie commented on #470
@ccsr has discovered an elegant dashboard interface, with open sourcecode:
https://stats.ethdev.com/
https://github.com/cubedro/eth-netstats

[2015-10-28 08:58] preriasusi opened #550 "As API owner I want to take caching away from some APIs"
If an API that tells something in real time, like membership info, account status', credit status', those APIs should not have caching.

[2015-10-28 09:24] brylie opened #551 "Measure API Proxy latency"
Determine how to report API Proxy latency, as a separate value from network or remote API Backend latency. (Test the latency for making calls through Api Umbrella vs making calls directly)

# User story
[code]

# Details
Since the API Proxy layer is currently provided by API Umbrella, the reporting functionality may need to be provided by the API Umbrella platform. See the [upstream support ticket

[2015-10-28 10:26] #357 closed

[2015-10-28 12:51] brylie opened #554 "Design API Backend rating improvements"
The API Backends rating feature may need improvements to show aggregate results. For example, the number of ratings and average rating can be displayed. Create a design to show how the aggregate results will be displayed in the API Backends catalog and on individual API Backend pages.
# Related

Related issue #519

[2015-10-28 12:52] brylie commented on #519
This design/issue is focused on the basic, single-user rating widget. I have created a follow up design task to show the aggregate ratings (including number of ratings and average result).

[2015-10-28 14:03] jykae commented on #503
Umbrella Admin API, http://apiumbrella.io/docs/admin-api/#!/api/post_api_umbrella_v1_apis

There seems to be a common problem how to create subobjects/subschemas inside Schema, https://github.com/aldeed/meteor-simple-schema/issues/357

Below the response I get back when creation is successful:

Submitting Backend to API Umbrella.
I20151028-14:23:48.234(2)? { api:
I20151028-14:23:48.235(2)?    { ba

[2015-10-28 14:24] #466 closed

[2015-10-28 14:26] #482 closed

[2015-10-28 15:43] kyyberi commented on #551
This is most likely one question coming from APIKA api owners. It is a question that was asked already in the spring by Aleksi Rossi from YLE.

[2015-10-28 15:44] kyyberi commented on #550
This was a requirement from National Board of Education. It was stated a few months ago.

[2015-10-28 15:46] kyyberi commented on #519
Ah, ok.

[2015-10-28 21:07] ccsr opened #555 "Please remove footer in https://apinf.io/"
APInf is Sampo Software Product which is fully open source and it is free. The statement "collaboration between Sampo Software & API-Umbrella" is totally irrelevant here. Please remove it immediately. It is confusing lot of people.

Please add the text "APInf is brought to you by Sampo Software.© 2015 APInf. All rights reserved."

[2015-10-29 05:07] frenchbread commented on #536
This issue actually depends on others it term of that currently we do not have any Api Backend usage logs for being able to test sample queries.

The current field stack returned from elastic search looks like this:

[code]

And for now I am not sure, in case of apiBackend usage, will the apiBackend _id be populated in addition to those fields above. (Because as far as I understand we need to filt

[2015-10-29 08:07] jykae commented on #503
I try to break huge ApiBackendsSchema to manageable pieces in the same way they are in Umbrella model. Using this aldeed/meteor-simple-schema#357 as reference.

However this will be then refactoring the whole ApiBackendsSchema, as most of the data never passes to the backend, just the fields that are in "Api"-section of Umbrella and basic types like String.

[2015-10-29 08:28] brylie commented on #335
This issue may be related to issues #503 and #504 assigned to @jykae.

[2015-10-29 09:23] bajiat opened #556 "Design Elastic query for single API backend analytics"
API administrators may want to view analytics for single API backend, if they are managing several APIs. Design a query that can be used for providing data for Dashboard and log export.

[2015-10-29 09:24] jykae commented on #503
Let's forget that refactoring. Traced issue in sub-settings structure: https://github.com/NREL/api-umbrella/issues/185

But we can't wait that to be improved. So just following more carefully the tree structure: "sub-settings" -> "settings" -> "default_response_headers_string"

[2015-10-29 09:33] bajiat opened #557 "Re-design project website"
It is a common pattern to have a separate page for the open source project and another for the product (apinf.io). The open source project will explain how to contribute, how to access source code, meet community etc.

[2015-10-29 09:33] bajiat commented on #555
@elnzv Could you handle this?

[2015-10-29 09:36] kyyberi opened #558 "RSS/JSON feed for latest APIs"
As a community manager I want to promote APIs to users for example by listing APIs in other contexts. I might event create IFTTT widget for publishing API info to Twitter. In addition JSON formatted list would be nice and more usable in some use cases.

Might be a duplicate, but I was not able to find any with quick search.

[2015-10-29 10:29] jykae commented on #503
Correction! There is also "settings" Object outside "sub-settings".
So I followed "settings" -> default_response_headers_string" path and got it working. Cleaning up & making PR.

Check out the way how to nest Object inside other Schema with SimpleSchema :)

[2015-10-29 10:51] brylie commented on #327
Check out how the [Dominus game](https://github.com/dan335/dominus) (which is built with Meteor) handles Settings. It seems to have a settings collection, where each setting is stored as a separate document. Settings can then be [retrieved using `Settings.findOne({name: "settingName"});`](https://github.com/dan335/dominus/blob/master/server/accounts.js#L21).

[2015-10-29 12:23] kyyberi commented on #557
+1

[2015-10-29 13:16] jykae commented on #503
Omg, I forgot the "help text". Will fix it Tomorrow(tm).

[2015-10-29 13:27] jykae commented on #335
:+1:

[2015-10-29 13:33] jykae commented on #327
I wonder if this Settings is only related to frontend settings, OR also to Settings Object in ApiBackendSchema that I'm working in #503 and #504 ?

If the answer is Yes to latter one, I think we should co-operate with this one @elnzv

[2015-10-29 19:13] kyyberi commented on #523
https://www.npmjs.com/package/swagger-validate

[2015-10-29 19:16] kyyberi commented on #523
https://github.com/BigstickCarpet/swagger-parser

[2015-10-29 19:31] kyyberi opened #560 "Add API to apis.io catalog with minimal work"
As API owner I want to add my API to apis.io discovery service with single action. Option is to make it automatic when finalizing all API details to apinf service.

---

We basically have all information needed to generate apis.json file for every API (http://apisjson.org/). Then use apis.io API to add it to service (http://apis.io/apiDoc). This will add value to API owners and thus increases inte

[2015-10-30 02:20] elnzv commented on #327
[wireframes added](https://github.com/apinf/docs/blob/master/docs/design/%23327_settings_page_apinf.png)

![327_settings_page_apinf](https://cloud.githubusercontent.com/assets/7489044/10837018/7c86543a-7ebd-11e5-9000-181dc903fe36.png)

[2015-10-30 02:59] elnzv commented on #74
[wireframes added](https://github.com/apinf/docs/blob/master/docs/design/%2374_branding_page_apinf.png)

![74_branding_page_apinf](https://cloud.githubusercontent.com/assets/7489044/10837494/b447857e-7ec2-11e5-8126-a4bbd98a5864.png)

[2015-10-30 03:48] frenchbread commented on #536
Implemented core functionality for logs export in csv format. I am going to and inline comments and publish PR later today.

Current branch: [`536-download-api-usage`](https://github.com/apinf/api-umbrella-dashboard/tree/feature/536-download-api-usage)

One addition that I think will be good to implement is a loading state for a button:
 * Since the conversion and data fetching takes some time, we

[2015-10-30 07:25] brylie commented on #519
I am able to get the individual rating in a column of the API Catalog. Also, users who are anonymous or who have not rated the API Backend will see an average of existing ratings.

One problem I am getting is that we can not sort by the rating column, so users may not be able to 'show highest rated' by clicking the column title.

[2015-10-30 07:26] brylie commented on #519
I have gone with a four star max rating, as opposed to five. This is to encourage users to lean one way or the other, rather than going with a three star rating.

[2015-10-30 07:32] brylie commented on #519
I am not sure how to show both the aggregate rating and individual rating in the same table cell, but could create an additional column for 'average rating' or similar. This may not be the best in terms of space usage, but would differentiate the user rating from the aggregate.

[2015-10-30 07:37] #233 closed

[2015-10-30 08:04] jykae commented on #504
Will this actually reset whatever there is in Response Headers? Could CORS header only be added to the set?

[2015-10-30 09:36] elnzv commented on #555
Closing.
Will deploy changes directly to apinf.io

[2015-10-30 10:25] mauriciovieira commented on #343
Work being performed on _feature/343-manage-apibackend-managers_

[2015-10-30 10:30] elnzv commented on #555
Have problems with deployment.
Will close this issue, when have code deployed.

[2015-10-30 10:52] brylie commented on #536
@frenchbread, you can ultimately decide how to implement this feature, e.g. using a new Elastic query if needed. Just keep in mind our ideas about filtering the data, and see if you can take that route. Thanks for taking this task!

[2015-10-30 10:55] #70 closed

[2015-10-30 11:01] bajiat commented on #327
Would it be possible to move the Import button to the top, if the purpose is to populate the fields with settings from existing settings.json? Or should the fields be updated automatically, if there is a settings.json? Or is that file even needed any more?

[2015-10-30 13:13] brylie opened #567 "Fix regression in createApiBackendOnApiUmbrella method; no return value"
A recent pull request introduced a regression to the API Backend autoform. Specifically, the `createApiBackendOnApiUmbrella` server methood needs to [return a response object around line 55](https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/methods/apiBackends.js#L55). Please fix this regression ASAP, as it was merged into our develop branch and may affect other development progr

[2015-10-30 13:16] #503 closed

[2015-10-30 13:16] #504 closed

[2015-10-30 13:16] #567 closed

[2015-10-31 06:32] kyyberi opened #569 "Support HMAC 256 hash authentication"
http://websec.io/2013/02/14/API-Authentication-Public-Private-Hashes.html

http://restcookbook.com/Basics/loggingin/

[2015-10-31 06:33] kyyberi opened #570 "Support API OAuth2 authentication"

[2015-10-31 06:36] kyyberi commented on #570
OAuth versions MUST be protected through SSL/TLS. They should not be used over plain HTTP.

[2015-10-31 06:37] kyyberi commented on #569
http://ridinganelefant.tumblr.com/post/82309469357/hmac-authentication-for-rest-apis

[2015-10-31 07:14] kyyberi commented on #570
![image](https://cloud.githubusercontent.com/assets/1927158/10862427/b7c3ee98-7faf-11e5-87a8-84bec727d736.jpeg)
Strongloop solution could be adapted

[2015-10-31 07:19] kyyberi commented on #570
Perhaps we could utilize mpass solution, it supports saml, oauth, open id connect
https://github.com/Digipalvelutehdas/MPASS-proxy

[2015-10-31 07:20] kyyberi commented on #570
Related to #533 #569

[2015-10-31 07:21] kyyberi commented on #570
I asked the main developer of mpass if it could be harnessed for this purpose with minimal effort.

[2015-11-02 07:22] frenchbread commented on #536
Created the wire-frame and added it to [docs repo](https://github.com/apinf/docs/blob/master/docs/design/%23536_logs_export.png).

Here is the look:

![logs_export_btn_wireframe](https://cloud.githubusercontent.com/assets/2122679/10875680/ae4dc18e-8178-11e5-9326-d28eb5b9aa42.png)

I also updated the branch with improved functionality. Now user can export only filtered data with 5 fields provided,

[2015-11-02 07:26] frenchbread commented on #536
PR - #571

[2015-11-02 09:23] brylie commented on #539
@ashakunt, what is the status of this issue?

[2015-11-02 09:24] brylie commented on #538
@ashakunt, what is the status of this issue?

[2015-11-02 09:24] brylie commented on #343
@mauriciovieira, what is the status of this issue?

[2015-11-02 09:40] brylie commented on #519
I am implementing the rating widget in a similar fashion to Netflix movie rating functionality.

When a user has not rated an API backnd, they are shown the aggregate rating, e.g. red stars. When the user has rated an API backend, they are shown their individual rating, e.g. in yellow stars to differentiate.

[2015-11-02 09:46] elnzv commented on #555
opened an issue on mup project - https://github.com/arunoda/meteor-up/issues/730

[2015-11-02 10:13] elnzv commented on #555
Deployed, bug fixed, thanks to @jykae

[2015-11-02 10:13] #555 closed

[2015-11-02 10:16] jykae commented on #555
@elnzv Your welcome :+1:

[2015-11-02 11:44] elnzv commented on #327
@bajiat, yes, button is optional. If we still stay with settings.json file - the best approach is to check it on startup and update collection and form with new values.

[2015-11-02 11:53] brylie commented on #327
I think we should plan for grouping, and possibly tabs. I.e. our settings will have natural groupings, such as email authentication, Github application settings, etc.. Not every group of settings will be relevant to all deployments.

[2015-11-02 13:36] bajiat commented on #519
@brylie I like the approach on separating the user ratings and aggregated ratings with different color.

[2015-11-02 14:21] brylie commented on #519
PR Open: #572

[2015-11-02 19:08] kyyberi commented on #519
+1 for the idea

[2015-11-03 08:35] brylie commented on #519
Below is a screenshot of the current API Catalogue table, showing yellow rating for user rating and red rating for aggregate:

![screenshot](https://cloud.githubusercontent.com/assets/17307/10903815/87740700-8216-11e5-8b59-d6d3c6f98133.png)

[2015-11-03 09:35] brylie commented on #519
I have added the user count to aggregate rating display:
![screenshot-1](https://cloud.githubusercontent.com/assets/17307/10904840/d644f4a4-821e-11e5-8977-94d1e39a512b.png)

A grey 'badge' appears next to the rating showing the aggregate count and a 'user' icon. The use of the icon avoids string translation and saves space.

[2015-11-03 16:37] saralavanip opened #574 "Dismiss notification dialog handling error during reset / forgot password"
# Steps
1. Visit https://apinf.io
2. Go to sign in page
3. Enter email address
4. Click on 'Forgot your password'
5. Click on 'Email Reset Link' button
6. Check email instruction and click on 'Reset password' button
7. Enter the new password
8. Click on set password button
9. Dismiss notification dialog is shown
# Findings

 The home page after login is active before user 'dismiss' notification di

[2015-11-03 16:57] saralavanip opened #575 "Reset password - 'Dismiss' notification dialog shown even after sign out"
# Steps
1. Visit https://apinf.io
2. Go to sign in page
3. Enter email address
4. Click on 'Forgot password'
5. Click on 'Email Reset Link' button
6. Reset password according to the email instructions
7. Dismiss notification dialog is shown
8. Sign out without clicking on 'Dismiss notification dialog'
# Findings

Dismiss notification dialog  is shown even after sign out and shows error message 'no

[2015-11-03 16:59] kyyberi opened #576 "Integrate/create API designer UI"
RAML spec versio 1.0 is out and in the same time tools have been put out.

"API Designer is a standalone/embeddable editor for RAML (RESTful API Modeling Language) written in JavaScript using Angular.JS. By default, the editor uses an in-browser filesystem stored in HTML5 Localstorage."

https://github.com/mulesoft/api-designer

[2015-11-03 17:02] kyyberi opened #577 "API design management"
Since we are supporting API design in apinf, we need to have management for the designs as well. Management is versioning, co-authoring, comparing designs (more than diff), sharing designs, collecting designs to groups.

[2015-11-03 17:04] saralavanip opened #578 "Invalid redirects to Privacy policy and Terms of use"
Steps:

1.Visit https://apinf.io
2. Click on sign up button
3. Enter email address
4. Enter  the password
5. Open the links given for Privacy policy and terms of use

Expected: Valid redirects to the documents related to privacy policy and terms of use
Actual: Clicking on the links redirects to meteorfactory.io
              - No specific documentation available related to privacy policy and terms

[2015-11-03 17:06] saralavanip opened #579 "Registration with same email address triggered email as 'Registration complete'"
Steps:

1.Visit https://apinf.io
2. Click on sign up button
3. Enter the email address
4. Enter  the password
5. Click on Register button
6. Repeat the same above steps to sign up by giving the same email address and different password.

- Notifies users 'Email already exists' but an email is triggered to the user notifying 'Registration complete'

[2015-11-03 17:09] kyyberi commented on #577
and force to select license for the design.

[2015-11-03 17:10] kyyberi commented on #577
It could become sort of thingiverse for APIs...

[2015-11-03 17:14] saralavanip opened #580 "Empty profile updating doesn't notify errors"
Steps:

1.Visit https://apinf.io
2.Sign in
2.Go to Profile section
3.Click on update button

Expected: Not successful in update profile and notify users to fill empty fields
Actual:  shows notification dialog 'profile updated' while text fields are empty
              - Update button is active all the time.

Screenshot:

![update_empty_profile_error](https://cloud.githubusercontent.com/assets/1330

[2015-11-03 17:18] saralavanip opened #581 "Sign up with github account demands user to make their github email public"
Steps:

1.Visit https://apinf.io
2.Click on 'sign up' button
3.Select 'sign in with github account'
4.Enter username /  email address
5.Enter password
6.Click on 'authorize application' button

- Application notifies the user to make their github email public in order to login

Screenshot:

![sign_in_with_github_email_public](https://cloud.githubusercontent.com/assets/13309358/10915451/8fbe09b2-82

[2015-11-03 17:21] saralavanip opened #582 "'Data not found' error after sign out"
Steps:

1.Visit https://apinf.io
2.Go to sign in page
3.Enter email address
4.Enter  the password
5.Click on 'sign in ' button
6. Go to Menu and click on  'Catalogue'
7.Sign out

Expected: Successful sign out
Actual: Successful sign out with error message 'data not found'

Screenshot:
![signin_open_menu_page_signout_data_not_found_error](https://cloud.githubusercontent.com/assets/13309358/10915564

[2015-11-03 17:25] saralavanip opened #583 "Sign out from profile page shows error 'Data not found'"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Go to Profile section
4.Sign out

- Successful sign out with error: Data not found

Screenshot:

![signin_goto_profile_signout_data_not_found](https://cloud.githubusercontent.com/assets/13309358/10915655/5a2b449e-8260-11e5-8ede-ab9b1b643f01.png)

[2015-11-03 17:27] saralavanip opened #584 "'Delete Account' header text not visible in Account details settings"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Go to Account section

-  'Delete Account ' header text not visible

Screenshot:

![account_page__delete_account_header_not_visible](https://cloud.githubusercontent.com/assets/13309358/10915743/c3db65b8-8260-11e5-950b-84fcf37210a6.png)

[2015-11-03 17:32] saralavanip opened #585 "Sign out from Accounts page shows error 'Data not found'"
# Steps to reproduce

1. Visit https://apinf.io
1. Login
1. Go to Account section
1. Sign out

## Result
- Successful sign out with error: 'Data not found'

## Screenshot

![signin_goto_profile_signout_data_not_found](https://cloud.githubusercontent.com/assets/13309358/10915847/40af4c44-8261-11e5-80a2-3a20c52177f3.png)

# Server console
Additionally, there is a traceback in the server console:

[c

[2015-11-03 17:36] saralavanip opened #586 "'Dismiss' notification dialog handling error during user registration"
# Steps
1. Visit https://apinf.io
2. Click on sign up button
3. Enter the email address
4. Enter  the password
5. Click on Register button
6. Check the email  to activate the account
7. Click on Activate button
8. Do not click on 'Dismiss' notification dialog
# Findings

Home page is active before the user dismisses the notification dialog.
# Screenshot

![activate_account_confirmation_dialog_page

[2015-11-03 17:39] saralavanip opened #587 "Sign in with invalid email /password doesn't notify reason for error"
# Steps
1. Visit https://apinf.io
2. Go to sign in page
3. Enter email address
4. Enter  invalid password
5. Click on 'sign in ' button
# Expected Result

Sign in not successful
# Findings
-  Sign in not successful
-  User not notified the reason for error
-  Displays error message 'login forbidden'
# Screenshot:

![invalid_password_login_forbidden](https://cloud.githubusercontent.com/assets/13309

[2015-11-03 17:41] saralavanip opened #588 "User automatically logged in before activating the account during registration"
# Steps
1. Visit https://apinf.io
2. Click on sign up button
3. Enter the email address
4. Enter  the password
5. Click on Register button
6. Check the email instructions to activate the account
7. Do not click on 'activate account ' button
# Findings

User logged in immediately after clicking on 'Register' button  before  the user could check email instruction to activate account.

[2015-11-03 17:53] saralavanip opened #589 "Activated account - 'Dismiss' notification dialog is shown after sign out"
# Steps
1. Visit https://apinf.io
2. Click on sign up button
3. Enter the email address
4. Enter  the password
5. Click on Register button
6. Check the email  to activate the account
7. Click on Activate button
8. Activated account 'Dismiss' notification dialog is shown
9. Sign out without clicking on 'Dismiss notification dialog'

# Findings
Activated account 'Dismiss' notification dialog  is sho

[2015-11-04 05:15] #536 closed

[2015-11-04 05:41] frenchbread commented on #517
PR #590 created.

#### The approach is
1. Read the text file when selected.
2. Convert text data to JSON object to be able to refer to its `values` by `key`.
3. Modify values of `host` and `basePath` to what we need.
4. Convert object back to JSON string.
5. Construct `new File( )` using updated file data. (This is implemented in two steps: First constructing `new Blob( )`. Second: `new File( )` t

[2015-11-04 08:41] brylie commented on #517
Make sure to store the original values for basePath and host, so they can be retrieved later. I.e. keep the file integrity and override the values on a temporary basis where needed.

[2015-11-04 08:42] brylie commented on #517
Also, the Swagger UI is retrieved from our server. What 'remote swagger UI' are you referring to?

[2015-11-04 08:45] brylie commented on #517
According to the Swagger UI docs, we can simply [pass in a JSON string when invoking the Swagger UI](https://github.com/swagger-api/swagger-ui#swaggerui). This is probably a better approach than using an iframe.

[2015-11-04 08:48] brylie commented on #517
Example code for invoking Swagger UI in our template:

[code]

[2015-11-04 09:10] frenchbread commented on #517
@brylie "remote swagger UI" because it loads its data through iFrame

[2015-11-04 09:13] brylie commented on #517
OK, see above comment.

[2015-11-04 09:31] brylie commented on #343
@mauriciovieira, status update?

[2015-11-04 09:31] brylie commented on #74
@elnzv status update?

[2015-11-04 12:19] mauriciovieira commented on #343
@brylie sorry. I did not work on that again. I am still working on https://github.com/brylie/meteor-api-umbrella/issues/1

[2015-11-05 04:06] elnzv commented on #74
For now I have page, collections, logic for changing colors and logo.
Still need to think what elements are for color changing (suggestions are welcome).
Before sprint review will have PR opened.

[2015-11-05 09:14] ashakunt commented on #539
@brylie, @saralavanip has already been creating issues and testing them. You might want to check those items in issues section already.

[2015-11-05 09:15] ashakunt commented on #538
@brylie @bajiat: @saralavanip has been familiarizing with APINF already and has an understanding of basics in APINF.

[2015-11-05 09:17] ashakunt commented on #539
The  bugs mentioned at: https://github.com/apinf/api-umbrella-dashboard/issues/created_by/saralavanip were created by @saralavanip.

The bugs are focused around:

1. User registration
2. Normal play-around usecase of APINF.IO

[2015-11-05 09:17] ashakunt commented on #538
Marking this as done and basic familiarization was done already.

[2015-11-05 09:19] ashakunt commented on #538
@bajiat: can you please move this to done? Size of this task was: 5hrs.

[2015-11-05 09:32] #538 closed

[2015-11-05 09:32] bajiat commented on #538
@ashakunt Moved to Done.

[2015-11-05 11:39] bajiat commented on #539
@ashakunt Can you also request Sarala to add the label bug when she is creating issues in Github?

[2015-11-05 11:55] bajiat commented on #570
@kyyberi This maybe an API Umbrella issue. In effect API Umbrella would pass the OAuth token to the 3rd party API. Needs to be further clarified.

[2015-11-05 12:09] bajiat commented on #583
Related to  #585

[2015-11-05 12:09] bajiat commented on #585
Related to  #583.

[2015-11-05 12:11] bajiat commented on #581
Email is used as primary identifier for a user. Github does not allow retrieving private emails. Hence, we are aware of the issue, but cannot fix at this time.

[2015-11-05 12:11] #581 closed

[2015-11-05 12:13] bajiat commented on #580
Fields are optional, so there are no errors when submitting empty values. They will have to remain optional, because we don't require all users to provide that information.

[2015-11-05 12:13] #580 closed

[2015-11-05 12:16] bajiat commented on #578
We don't have Privacy policy and Terms of use yet.

[2015-11-05 12:20] bajiat opened #591 "Refactor project to use updated Meteor apiUmbrellaWeb package"
Brylie and Mauricio have been refactoring the Meteor API Umbrella Web package. This will require some changes in our project code.
Determine what needs to be changed, make changes and test.

If not updated, will block other issues.

[2015-11-05 12:27] bajiat opened #592 "Benchmark open source project websites"
For the purpose of creating an open source project website for Apinf (separated from product page), it would be good to look at other open source project websites.

Definition of done
---
* [x] Choose 3-5 existing open source project websites.
* [ ] Identify common characteristics and desirable content.
* [ ] Document findings in Wiki so that we can plan our project website.

https://apinf.hackpad

[2015-11-05 13:00] bajiat commented on #539
@ashakunt I moved this issue to "in progress" since there are already bug reports based on this testing task.

[2015-11-05 15:45] kyyberi commented on #570
ok

[2015-11-06 06:47] elnzv commented on #327
Can't access ApiUmbrellaWeb object on startup.
I need to be able to define this somewhere outside the package.
@brylie has already started working on this.

[2015-11-06 07:03] elnzv commented on #74
Now users can upload their own image for logo.
TODO:
- define who has right to change logo
- add method to remove (reset to default) logo

AdminLTE has several options for color schemas (skins)
We can use them for now, since they are complete and changes can be applied to almost all elements.

I think #327 is related, at least layout, I have created a side menu for different app settings, like bra

[2015-11-06 07:05] elnzv commented on #368
Interested in this task.

[2015-11-06 09:49] bajiat opened #593 "Create additional log export options like field selection"

[2015-11-06 09:50] bajiat opened #594 "Update Meteor package to latest version"

[2015-11-06 09:51] bajiat opened #595 "Ensure user name exists for all users"
We need enhancements to user profile in connection to API feedback / communication channel, etc. Improve the user profile to collect more detail, such as user name.

# Definition of done

* [ ]  Username  should be obligatory. This is related to for instance showing names in communication channel, selecting API managers.
* [ ] Sign up form should contain mandatory field for username.
* [ ] If user

[2015-11-06 09:53] bajiat opened #596 "Create separate settings for production and development"
When starting Meteor during development, not all features are needed. For example, notification emails can be disabled.

[2015-11-06 09:55] bajiat opened #597 "Presentation material for Apika info session"
The Apika info session will take place 25 November. There will be a 15 - 30 non-technical presentation about
* What is API management (This may be covered by a presenter from YLE, Finnish National Broadcasting company, but we have to be prepared in case the person from YLE is not available)
* What is Apika
* Introduction of the support channel

Target group: public sector clerks and managers

Defi

[2015-11-06 11:50] bajiat opened #598 "Functional testing: Test adding an API backend"
Test adding an API backend through the Add API backend form. Report any unexpected issues or errors as Github issues providing steps to reproduce the error. Add the label "bug" to the issues.

[2015-11-06 11:52] bajiat commented on #598
@ashakunt I added the functional testing task for sprint 16 and assigned it to you. Reword this if necessary.

[2015-11-06 16:15] kyyberi commented on #597
Target group is public sector clerks and managers. Not too much tech details.

[2015-11-07 07:25] kyyberi commented on #519
See also Kin Lane's thoughts on this https://www.linkedin.com/pulse/how-we-going-create-standard-poors-moodys-api-economy-kin-lane

[2015-11-09 07:42] bajiat commented on #539
@ashakunt Shall we close this issue? Is it completed?

[2015-11-09 09:10] saralavanip opened #599 "Editor page is empty"
Steps:

1. Visit https://apinf.io
2. Sign in
3. Go to Menu
4. Select Documentation
5. Go to Editor

- Editor page is empty

Screenshot:

![empty_editor_page](https://cloud.githubusercontent.com/assets/13309358/11029679/4f931a78-86d1-11e5-887e-946e954de2c4.png)

[2015-11-09 10:18] brylie commented on #519
A lot of the ideas in that article seem also related to our API Metadata entry form task (#472). E.g. we can build an 'API Metadata' form that conforms to existing standards (including possibly Swagger specification), and provides fields such as outlined in the previous article.

[2015-11-09 11:49] bajiat opened #600 "Get latency data on calling Api Umbrella"
Test the latency for making calls through Api Umbrella vs making calls directly

[2015-11-09 11:50] bajiat commented on #343
@mauriciovieira Would you be interested in taking this again?

[2015-11-09 12:10] bajiat commented on #582
Co-pilot: @elnzv

[2015-11-09 12:10] bajiat commented on #583
Co-pilot: @elnzv

[2015-11-09 12:10] bajiat commented on #585
Co-pilot: @elnzv

[2015-11-09 12:14] bajiat commented on #587
Check Meteor accounts UI (@brylie check the name) documentation. Check existing error strings and make them for user friendly. Add i18n tags.
Co-pilot: @elnzv.

[2015-11-09 12:22] bajiat commented on #343
@mauriciovieira We decided to assign it to @frenchbread.

[2015-11-09 12:27] bajiat commented on #578
Check Mozilla and Wikimedia Foundation for reference.

[2015-11-10 02:49] #519 closed

[2015-11-10 09:03] saralavanip opened #602 "Name of the labels 'Backend host' and 'Frontend host' are misplaced"
Steps:
1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backend'
5.Enter API name
6.Select the backend protocol from drop down menu
7.Enter the details of servers: Host and Port
8.Enter Frontend host and Backend  host

- Names of the labels 'Backend host' and 'Frontend host' are misplaced

Screenshot:

![misplaced_namelabels](https://cloud.githubusercontent.

[2015-11-10 09:07] saralavanip opened #603 "API Umbrella host value must be autofilled."
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backend'
5.Enter API name
6.Select the backend protocol from drop down menu
7.Enter the details of servers: Host and Port
8.Enter Frontend host and Backend host

- Enduser doesn't know where the API Umbrella is used and must be defined in settings and autofilled.

[2015-11-10 09:15] saralavanip opened #604 "Error messages while adding API Backend not explanatory"
# Steps
1. Visit https://apinf.io
2. Sign in
3. Select 'API Backends' from menu
4. Click on 'Add API Backend'
5. Enter API name
6. Select the backend protocol from drop down menu
7. Enter the details of servers:
   -  Enter invalid Host
   -  Enter Port
8. Enter Frontend host and Backend host
9. Enter URL matches: Frontend prefix and Backend prefix
10. Click on 'Submit'  button
# Findings

Error m

[2015-11-10 09:17] bajiat commented on #604
Known usability issue, work already in progress.

[2015-11-10 09:18] bajiat commented on #604
@mauriciovieira I guess you are already working on this.

[2015-11-10 09:23] saralavanip opened #605 "URL matcher fields are misaligned"
1.Visit https://apinf.io
2.Sign in
.3.Select 'API Backends' from menu
4.Click on 'Add API Backend'
5.Enter API name
6.Select the backend protocol from drop down menu
7.Enter the details of servers: Host and Port
8.Enter front end host and Backend host
9.Enter multiple URL matches: Frontend prefix and Backend prefix
10.Click on 'Submit'  button

- Added multiple URL matcher fields are misaligned.

[2015-11-10 09:47] saralavanip opened #606 "'API _key_missing' error while calling API"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backend'
5.Enter API name
6.Select the Backend protocol from drop down menu
7.Enter the details of servers: Host and Port
8.Enter Frontend host and Backend host
9.Enter URL matches: Frontend prefix and Backend prefix
10.Click on 'Submit'  button
11.Click on 'View usage instructions'
12.Click on the lin

[2015-11-10 09:49] saralavanip commented on #606
Investigating more about this issue.

[2015-11-10 10:24] jykae commented on #304
@elnzv @ashakunt I have done Umbrella deployment for APIKA. When I publish API configuration, Umbrella rewrites configuration so that I cannot access to /admin route. We don't have SSL certificate yet, so could this be related to it? Did you have similar problem?

[2015-11-10 10:26] elnzv commented on #304
Yes, you should have SSL certificate. That was an issue when I was
deploying.

On Tue, 10 Nov 2015 at 12:24 Ville Jyrkkä <notifications@github.com> wrote:

--

Illya Nizyev | www.nzv.nz

[2015-11-10 10:29] brylie commented on #304
Please also open an issue on API Umbrella issue tracker, if it doesn't exist. This will help other users, including potentially Apinf clients.

On 10 November 2015 12:26:39 EET, illya nizyev <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-11-10 10:55] jykae commented on #304
Suggestion for Umbrella: https://github.com/NREL/api-umbrella/issues/192
This is mentioned in one sentence in documentation, but behaviour without SSL certificates in production is not stated.

[2015-11-10 12:44] bajiat opened #607 "Deploy the 0.2.0 alpha 1 release"
Deploy the 0.2.0 alpha 1 release, i.e. release made based on sprint 15 development, on apinf.io

[2015-11-10 13:02] brylie commented on #591
I have completed most of the [brylie:api-umbrella](https://github.com/brylie/meteor-api-umbrella/issues/3) refactoring. I may re-design the module API to be more flat, with a [unified function for each endpoint](https://github.com/brylie/meteor-api-umbrella/issues/3#unified-functions) that accepts arguments for request type, etc.

[2015-11-10 13:27] saralavanip commented on #598
Reported the issues below, related  to 'Adding API backend' through 'Add API backend form' on Github:
1.https://github.com/apinf/api-umbrella-dashboard/issues/602
2.https://github.com/apinf/api-umbrella-dashboard/issues/603
3.https://github.com/apinf/api-umbrella-dashboard/issues/604
4.https://github.com/apinf/api-umbrella-dashboard/issues/605
5.https://github.com/apinf/api-umbrella-dashboard/issu

[2015-11-10 14:14] jykae commented on #268
I am facing the same issue, fix seems to exist https://github.com/NREL/api-umbrella-router/pull/9
@ashakunt Can you tell how you fixed the issue on umbrella.apinf.io ?

[2015-11-11 05:35] frenchbread commented on #585
PR - #608

[2015-11-11 05:35] frenchbread commented on #583
PR - #608

[2015-11-11 05:35] frenchbread commented on #582
PR - #608

[2015-11-11 07:56] #594 closed

[2015-11-11 08:49] brylie commented on #335
Also related is the fact that we have [commented out the sub-settings object and fields](https://github.com/apinf/api-umbrella-dashboard/blob/develop/both/collections/backend.js#L290-L464) in our API Backend schema. This was due to complexity issues stemming from nested objects. E.g. the AutoForm did not behave properly when we tried to display the sub-settings field in a way that was consistent w

[2015-11-11 08:50] brylie commented on #335
@elnzv might be able to explain more the difficulties he encountered when trying to add the sub-settings field to the user interface.

[2015-11-11 08:56] brylie commented on #335
I recall commenting out the field because, while the object was optional, form submissions would contain empty values for fields within the object. This caused API Umbrella to reject API submissions because other related fields were not submitted ("field **x** cannot be empty"). I could not figure out how to submit the form without values for <select> fields, so disabled the form section entirely

[2015-11-11 08:58] jykae opened #609 "Building NPM packages inside npm-container doesn't work in production deployment"
Please stick to Meteor packages as much as you can. NPM packages must be installed manually after production build. I am automating the building process with Meteor Up, which reduces the amount of work a LOT. (Nginx, Node.js, MongoDB + all the configuration are done automatically).

Good thing is that currently we have only "elasticsearch" NPM package required.

[2015-11-11 09:19] jykae opened #610 "Production deployment for customer"
Deploy Umbrella & Apinf frontend to customer servers.

Documentation & scripts to "devops" repo.

[2015-11-11 09:27] jykae opened #611 "Mirror api-umbrella-dashboard repo"
Customer requires mirroring of the Apinf repo to their Github repo.

Follow this guide: https://help.github.com/articles/duplicating-a-repository/

Remember to automate with cron!

[2015-11-11 10:05] jykae commented on #610
Server installations done.

Umbrella had undocumented "features", that were fixed & merged to Umbrella master but will come in 0.9 release. Had to fix manually in 0.8.0 package release. Now OK.

Github login configured should still be tested & verified that it works.
If the email has already been assigned with normal signup, getting email already exists.
Better user login system design would have

[2015-11-11 10:13] jykae commented on #610
Fix for Github login/registration: https://gist.github.com/ondrej-kvasnovsky/6048353

Has separation between dev & prod environments.

[2015-11-11 10:27] jykae commented on #610
There's issue when user has registered with basic registration & after that would like to use Github login, if user has the same email for basic reg & Github account.

[2015-11-11 10:35] jykae commented on #610
The issue has been solved here, https://github.com/apinf/api-umbrella-dashboard/issues/64
But the release 0.1.0  is missing this fix.

[2015-11-11 10:58] jykae commented on #64
Where is PR & solution for this? I have to re-open this.

[2015-11-11 11:41] bajiat opened #612 "Investigate recruiting SW development apprentices"
Determine where we can recruit people who are interested in learning to code to join our team as Apprentices. Contact appropriate staff, recruiters, organizers, etc. to explain the opportunity.
# Resources

The following organizations or sources may prove fruitful for recruiting apprentice team members:
- Tredu
- University
## Learning resources

Apprentices will work through a code curriculum, so

[2015-11-11 11:46] brylie opened #613 "Design dashboard view for system administrator"
# User story

[code]
# Task

Design a dashboard for system administrators that includes system analytics such as:
- request / response latency introduced by platform
- availability of platform services such as database, api endpoints, etc
- view of system trouble tickets in some form
- server / application log messages
# Related

API Umbrella can [provide analytics about the amount of latency intr

[2015-11-11 11:58] brylie opened #614 "Add 'Guided Tour' feature to 'Add API Backend' form"
# User story

[code]

[code]
# Challenge

We are getting feedback through our end-user tests that the API Backend form is difficult to understand. We can improve the user experience by providing more context and information about the form itself.
# Task

Consider how to quickly 'onboard' new users, so they feel comfortable with the 'Add API Backend' form. This may take the form of a guided tour, s

[2015-11-11 12:26] brylie opened #615 "Add logging capabilities"
# User story

[code]
# Feature

Research and choose a logging framework for Apinf (Meteor.js). Add the logging framework/package. Determine what functions, e.g. server methods, need logging support and add calls to the logger with relevant details.

Once logging is enabled, it will be useful to log errors (e.g. within try/catch statements).
# Research

The Winston logging library may be a good sol

[2015-11-11 12:33] brylie opened #616 "Allow managers to delete API Backends that they manage"
# User story
[code]

# Feature
Add a method for API Managers to delete API Backends they manage. The deletion should also remove the API Backend from API Umbrella.

# Wireframes
## User Managed APIs
![My Managed APIs wireframe](https://raw.githubusercontent.com/apinf/docs/master/docs/design/MyManagedAPIs-deleteButton.png)

## View API Backend
![View API Backend wireframe](https://raw.githubusercon

[2015-11-11 13:07] brylie opened #617 "Exception while invoking method 'getChartData' Error: IndexMissingException[[api-umbrella-logs-v1-2015-01] missing]"
On the dashboard when interacting with the filter, the following exception is logged when only the month has been selected:

[code]
Additionally, the 'Data Not Found' dialogue appears, suggesting the dashboard filter is **missing exception handling** when retrieving data from Elastic.

# Steps to reproduce
1. log in to the system as an admin user (to ensure you can access analytics data)
1. go to

[2015-11-11 13:09] brylie commented on #617
@frenchbread can you please take a look at this? Check if you can reproduce the error.

[2015-11-11 13:13] brylie commented on #585
@frenchbread I have updated this issue description with console messages. Also note, the methods may need to handle exceptions.

[2015-11-11 13:14] brylie commented on #617
Related issue #585

[2015-11-11 13:14] frenchbread commented on #617
@brylie This error appears every time when specified query does not match document in ES data store. I guess we can get rid of it by using `try-carch` approach when requesting for data.

[2015-11-11 13:15] frenchbread commented on #617
I was thinking of this approach when solving #582, #583, #585.

[2015-11-11 13:19] frenchbread commented on #617
As I mentioned in a comment, as far as I understand there is either search results or an error returned from ES. So we don't have much context at this point. Meaning that we can return a single error if fails, e.g. :
[code]

[2015-11-11 13:29] brylie commented on #617
OK, cool. Be sure to add i18n tags on any user-facing text.

[2015-11-11 13:52] frenchbread commented on #617
@brylie How to access `i18n` file to be able to fetch its tags in js file?

[2015-11-11 13:59] brylie commented on #617
Check the tap:i18n docs. It has a JS function to get a translation string.

[2015-11-11 14:03] brylie commented on #64
@frenchbread or @elnzv can you recall why this issue was closed? We still want to fetch user information from Github, when available.

[2015-11-11 14:35] frenchbread commented on #64
I think it was just misunderstanding in terms of `username` and `user name`..

[2015-11-11 14:41] frenchbread commented on #64
If @jykae will remain taking this issue here is a useful reference for [GitHub docs - Users](https://developer.github.com/v3/users/). So fetching user's Name and writing it into a collection should not be a big deal.

Also, all the changes that are required for this to work are at [`/server/accounts.js`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/accounts.js) file.

[2015-11-11 16:42] kyyberi opened #620 "Design and implement API publish/unpublish feature"
As a API owner I want to publish API I manage.

[2015-11-11 16:45] kyyberi opened #621 "Umbrella forces to HTTPS even if config says http"
I selected HTTP as protocol for my API (HTTPS optional option). Yet when trying it response was
`Requests must be made over HTTPS. Try accessing the API at: https://umbrella.digipalvelutehdas.fi/lentodiilit/deals?api_key=pj451db7Unt2PPDBQPxxxxxxxxxxxxxrgCj`

[2015-11-11 16:48] kyyberi opened #622 "Ensure api managers can disable API key check on Backends"
Original report (by @kyyberi)
----
Even if I selected that API key is optional (and also selected unlimited requests), when testing the API response was:
`API_KEY_MISSING`

Definition of done (by @bajiat, by @brylie modified due to Multiproxy work)
---
* [ ] Make sure the disable api key field in added to and stored in Proxy backend collection
* [ ] Make sure the properties of the field are aligne

[2015-11-11 16:49] kyyberi commented on #622
Works with api_key parameter though

[2015-11-11 16:50] kyyberi commented on #602
Confirmed. I stumbled upon this today. When adding API and when editing API, front and backend change order.

[2015-11-11 16:52] kyyberi commented on #602
![screenshot from 2015-11-11 18 51 55](https://cloud.githubusercontent.com/assets/1927158/11096953/4cbc3318-88a5-11e5-86b3-a05789f2bfdf.png)
![screenshot from 2015-11-11 18 51 31](https://cloud.githubusercontent.com/assets/1927158/11096952/4cb95760-88a5-11e5-919c-25e51cadb235.png)

[2015-11-11 16:54] kyyberi commented on #616
Highly needed :) Should have safe mechanism. Perhaps something like when deleting repository from Github.

[2015-11-11 16:55] kyyberi commented on #612
Lets use APIOps community and API:Suomi community as well.

[2015-11-12 05:09] frenchbread commented on #617
Added changes to PR #608. Please take a look.

[2015-11-12 08:18] Laura-Sampo commented on #578
https://www.rallydev.com/privacy-statement

[2015-11-12 08:57] jykae commented on #621
@kyyberi HTTP selection you chose is obviously for server where API is physically. Umbrella uses always HTTPS.

[2015-11-12 09:28] bajiat commented on #609
To be checked whether the problem still persists with 0.2.0 alpha 1 release.

[2015-11-12 09:32] brylie commented on #616
Right, like the '**Danger Zone**' box.

[![highway to the danger zone](http://img.youtube.com/vi/ZzQ3eBerHfM/default.jpg)](https://www.youtube.com/watch?v=ZzQ3eBerHfM)

[2015-11-12 11:28] elnzv commented on #607
Deployed.

[2015-11-12 11:28] #607 closed

[2015-11-12 12:37] brylie commented on #541
Work ongoing in [feature/feedback-discussion](https://github.com/apinf/api-umbrella-dashboard/tree/feature/feedback-discussion) branch.

[2015-11-12 13:05] brylie commented on #541
@apinf/design @apinf/developers please review the issue summary. @kyyberi please also review. I will begin work on this feature soon.

[2015-11-12 13:11] brylie commented on #542
@apinf/developers do you have any ideas how to sort the top voted Feedback submissions? Please review the implementation notes to get an idea of my thinking.

[2015-11-12 13:12] brylie commented on #607
@elnzv did you have any errors? We have had a bit of trouble with NPM packages. How did the deployment go for you?

[2015-11-12 13:14] elnzv commented on #607
Smoothly, no errors.

On Thu, 12 Nov 2015, 15:12 Brylie Christopher Oxley <
notifications@github.com> wrote:

--

Illya Nizyev | www.nzv.nz

[2015-11-12 13:21] brylie opened #623 "Allow System Administrators to manage all API Backends"
# User Story

[code]

[code]
# Feature

When syncing API Backends from API Umbrella, there may be API Backends that were not created in the new Apinf instance. This means that no user can manage the API Backend. Additionally, there may be other reasons for System Administrators to want to modify API Backends, such as to detect abuse or troubleshoot errors.

[2015-11-12 13:26] brylie commented on #623
@apinf/developers might we need to create an administrative page for this? What are your thoughts on this feature?

[2015-11-12 13:27] brylie commented on #518
@baijat, should we move this issue back to Backlog?

[2015-11-12 14:00] kyyberi opened #624 "Design link to API documentation"
## User story
As a API owner and API consumer I want to access API documentation which can a link to external site or build-in swagger.

## additional info
I added Lentodiilit API and link to documentation but it's not visible anywhere.

Definition of done
---
* [x] View API backend should display a link to documentation whether it is external documentation or a Swagger file in Apinf.
* [x] If bot

[2015-11-12 14:39] #610 closed

[2015-11-12 16:20] kyyberi opened #625 "Allow administrators to re-brand platform through UI"
Allow administrators to configure browser bar title text. Related to #74 (whitelabeling).
(Original description: When you open the APIKA service, in browser title is apinf, should be apika)

Definition of done
---
* [x] Key branding elements are  defined.
* [x] Administrators can change at least the following elements through the branding form.
  * [x] site title
  * [x] site slogan
  * [x] footer

[2015-11-12 17:45] kyyberi commented on #621
Got it, thanks for the clarification.

[2015-11-12 17:48] kyyberi commented on #621
But what is the point of using forcing HTTPS? If the secure chain is broken as it is between Umbrella and HTTP API (not HTTPS), it's at least in some cases falty sense of security.

[2015-11-12 18:04] kyyberi commented on #621
I guess the question is, are there cases when something private is exchanged between Umbrella and unsecure API backend.

[2015-11-13 06:52] kyyberi commented on #222
This is something community could design with swagger in the next meetup.

[2015-11-13 07:35] brylie commented on #222
@kyyberi that would be great! How may I help? E.g. I could identify our system collections, or explain the basic organization of our data.

[2015-11-13 07:40] brylie commented on #222
I have updated the task description with links to our existing design document and swagger file.

[2015-11-13 08:53] bajiat commented on #541
@brylie Would it be possible to have a wireframe sketch to show how you are planning to combine / reuse the available designs you have found?

[2015-11-13 08:55] #513 closed

[2015-11-13 09:49] mauriciovieira commented on #604
@bajiat yes, I've been working on https://github.com/brylie/meteor-api-umbrella/ focusing to fix those errors.

[2015-11-13 10:46] bajiat opened #626 "Implement reply functionality and feedback voting to communication channel"
Related to #541 and #542 (design tasks).

[2015-11-13 12:02] bajiat opened #627 "Obfiscate email function"
Since we are using email id's to identify users, we will need to obfiscate the email addresses so that other users (other than Apinf administrators) will not see it.

[2015-11-13 12:23] #611 closed

[2015-11-13 13:16] bajiat commented on #542
@brylie I think it is more important to have the voting in place than to be able to sort according to votes, if sorting is blocking the implementation. Besides, we have quite a number of UI improvements in backlog that in my opinion have a higher priority than sorting the votes, for example enhancements for user profile.
@kyyberi, what would you say, is it possible to implement this feature withou

[2015-11-13 18:55] kyyberi commented on #627
+1

[2015-11-14 04:45] kyyberi commented on #222
Thanks Brylie. This is good task for the apiops community. At least I will continue with the design at the next api jam on 28th day

[2015-11-14 04:49] kyyberi commented on #222
We will consider also the api standards used by white house people https://github.com/WhiteHouse/api-standards

[2015-11-14 05:30] kyyberi commented on #222
Basic data structure descriptions would be nice.

[2015-11-14 06:51] kyyberi commented on #222
@brylie some sort of taxonomy would definitely help us. In fact I see that as a mandatory definition of harmonized API design and implementation.

[2015-11-14 14:55] kyyberi commented on #222
There is already API in Umbrella. What is the reason to create another one?
http://apiumbrella.io/docs/admin-api/

[2015-11-14 17:27] kyyberi opened #628 "Re-design adding new API UI"
Implement adding new API backend based on the workflow and design described in the wireframes below.

Definition of done
---
* [x] Create wireframes for the user flow.
* [x] Create flow diagram combining the wireframes.
* [x] Choose how to implement tabbed flow UI.
* [x] Determine how to track the state (current tab/step).
* [x] Pre-populate fields based on user feedback from user input.
* [x] All

[2015-11-14 18:34] kyyberi commented on #628
Related to #368

[2015-11-14 18:41] kyyberi commented on #628
In the protocol selection, there is no reason to use dropdown since we have two options. Make it buttons "http" and "https", which can click to be selected. Another option is to make it switch
![button-on-off](https://cloud.githubusercontent.com/assets/1927158/11165159/1d059b7e-8b10-11e5-9f30-ab8481dd4bbf.png)

[2015-11-14 19:02] kyyberi commented on #628
In the last still missing phase there should also be "Unpublish" and "Remove" buttons. In the latter there should be safe pattern perhaps like what is in Github when removing repository to avoid accidental removals.

[2015-11-15 05:51] kyyberi commented on #620
and unpublish

[2015-11-15 05:56] kyyberi commented on #628
Another option is to use accordion approach which works for Mobile as well. http://blogs.sitepointstatic.com/examples/tech/css3-target/accordionvert.html

[2015-11-15 08:47] kyyberi opened #629 "Re-design front page (was: API listing UX)"
Suggestion for layout in API listing / catalogue
![listing2](https://cloud.githubusercontent.com/assets/1927158/11168041/953b3e0c-8b86-11e5-858f-aab941fc1801.png)

[2015-11-15 08:52] kyyberi commented on #629
This is actualyl what the front page should look like and in that case change the topic to something like "APIKA - avoimien rajapintojen hallinta"

[2015-11-15 09:06] kyyberi opened #630 "API metadata model"
X-Road API catalogue in Finland has following data structure
![datamodel](https://cloud.githubusercontent.com/assets/1927158/11168086/e1ca8e9c-8b88-11e5-92cc-9e0e2c1352f0.png)

[2015-11-15 09:24] kyyberi commented on #630
https://github.com/vrk-kpa/api-catalog

[2015-11-15 12:27] kyyberi commented on #630
Related to #472

[2015-11-15 21:34] jykae commented on #609
Solved. Complete re-installation of NPM on my own machine fixed the problem.

[2015-11-15 21:34] #609 closed

[2015-11-16 08:55] brylie commented on #222
@kyyberi after discussing with @ccsr, we concluded that Apinf should have its own API for API Umbrella configuration options and additional features not found in API Umbrella.

The taxonomy for the API can probably be derived from our [collections](https://github.com/apinf/api-umbrella-dashboard/tree/develop/both/collections). We can basically provide CRUD endpoints around each MongoDB collection.

[2015-11-16 08:57] brylie commented on #542
@bajiat and @kyyberi, if there is not any further feedback, I will proceed with implementing this feature as described in the issue text.

[2015-11-16 09:05] brylie commented on #629
This UI seems to imply several features, which may not yet be in our backlog. Specifically, I notice the following features that need planning:

* API Search
* API Categorization
* API Metadata
  * Description
* API Sandbox
  * We agreed to use Swagger UI for sandboxing
  * We will need to continue work on the Swagger UI documentation upload feature

@baijat, lets create this as a 'meta' feature,

[2015-11-16 09:27] bajiat commented on #629
@brylie I agree with you that is not a trivial task. It has quite a lot of items that are either captured in the backlog, but not yet implemented, or are not even planned.

[2015-11-16 09:29] bajiat commented on #628
@kyyberi Really good suggestion for UI flow. Being able to add APIs is a key success factor for APIKA and Apinf, so this task must be prioritized.

[2015-11-16 09:33] bajiat commented on #630
@kyyberi Thanks for providing the information!

[2015-11-16 09:49] kyyberi commented on #630
More info in Digipalvelutehdas Slack

[2015-11-16 09:51] kyyberi commented on #542
Without sorting is fine for now.

[2015-11-16 09:51] kyyberi commented on #222
@brylie sounds good!

[2015-11-16 10:15] brylie commented on #542
@frenchbread for future reference, will you please provide a link to the article you mentioned about MongoDB math operations?

[2015-11-16 10:17] brylie commented on #629
Also, it looks like the [Liityntakatalogi](http://liityntakatalogi.suomi.fi/fi/) is powered by CKAN. Since CKAN is open-source, we can either borrow code or provide an integration via its API.

[2015-11-16 10:31] #582 closed

[2015-11-16 10:31] #583 closed

[2015-11-16 10:31] #585 closed

[2015-11-16 11:42] ccsr commented on #629
@kyyberi @brylie @bajiat @preriasusi This is a significant change to UI. Can we split to different milestones like APIKA1, APIKA2...based on the realistic estimation?

[2015-11-16 11:54] brylie commented on #629
@elnzv will you please also help us understand the design changes? E.g. how the new design elements could be added or factored in to the existing front-end design.

[2015-11-16 12:04] frenchbread commented on #517
Created [meteor-package](https://github.com/frenchbread/meteor-swagger) for SwaggerUI.

@brylie I am getting an issue in browser console `Uncaught ReferenceError: require is not defined`. How this can be solved on a client side? For swaggerUI source I used https://github.com/swagger-api/swagger-js

[2015-11-16 12:15] saralavanip commented on #585
Hi,

Could you please let me know if the latest changes been deployed.

Regards
Sarala

On Mon, Nov 16, 2015 at 12:31 PM, Brylie Christopher Oxley <
notifications@github.com> wrote:

[2015-11-16 12:28] brylie commented on #585
We will deploy changes next Monday or Tuesday, after we make an alpha release.

@bajiat please confirm.

[2015-11-16 12:38] frenchbread commented on #542
I was talking about an online course [MongoDB for developers](https://university.mongodb.com/courses/schedule). Course is free but requires you to be registered for it to view its materials.

I found a similar [article](http://www.tutorialspoint.com/mongodb/mongodb_aggregation.htm) that covers main idea of aggregation principles in mongodb described in this course.

[2015-11-16 12:46] brylie commented on #517
OK, your package should include only what is in the `/dist/..` folder.

[2015-11-16 12:51] brylie commented on #517
Also, be sure not to 'provide' or 'export' the HTML files when defining your package. The HTML files will cause conflicts. All you need to export are the JS, CSS, fonts, etc.

[2015-11-17 08:59] frenchbread commented on #343
Created a first wireframe for API managers View, a simplified addition to API Backed View page. Api backend manage's template locates on a right side of the page. Bootstrap grid system can be used for it.
At the same time, api manager's view can be either side menu that slides from the edge of the template or a static block.

Main functionality (Adding/Inviting new user to be a manager, removing m

[2015-11-17 09:29] jykae opened #631 "Automated deployment"
Configure automated deployment using Travis CI.

Blog article: https://sungwoncho.io/meteorjs-continuous-delivery/
Github example: https://github.com/sungwoncho/meteor-continuous-delivery

[2015-11-17 10:41] brylie commented on #592
Just a note, it would be nice to have a chat on our project page, so community members can quickly get in contact. E.g. [Gitter Sidecar](https://sidecar.gitter.im/)

[2015-11-17 11:28] brylie commented on #631
See also the 'Adding CI' support section of this article: https://atmospherejs.com/i/publishing

There is a quick example of a Meteor CI script.

[2015-11-17 12:20] saralavanip opened #632 "Scrollbar invisible in 'Edit API' page on Internet Explorer"
Steps:

1.Open the Internet explorer and visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Add API Backend
5.Go to 'Manage API Backends'
6.Click on 'Edit' button

- Scrollbar is invisible in 'Edit API' page.

Screenshot:

![edit_page_scrollbar_missing](https://cloud.githubusercontent.com/assets/13309358/11211085/86db2b0a-8d35-11e5-83ad-b71827fa67f7.png)

[2015-11-17 12:31] saralavanip opened #633 "Invalid redirects for Backend host and Frontend host"
Steps:

1.Open Internet explorer and visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Add API Backend
5.Go to 'Manage API backends'
6.Click on Backendhost / Frontend host

- It redirects to dashboard  instead of showing details of server and URL matches respectively.

Screenshot:

In Firefox and Chrome:

![links_server_urlmatchers_firefox](https://cloud.githubusercontent.com/as

[2015-11-17 12:37] saralavanip opened #634 "Scrollbar invisible in 'View API backend' page on Internet Explorer"
Steps:

1.Open the Internet explorer and visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Add API Backend
5.Go to 'Manage API backends'
6.Click on 'View' button

- Scroll bar is invisible in 'View API Backend' page

Screenshot:

![view_api_page_scrollbar_missing](https://cloud.githubusercontent.com/assets/13309358/11211502/7e46bf06-8d38-11e5-8195-5533e34720f8.png)

[2015-11-17 12:47] saralavanip opened #635 "Protocol labels not visible"
Steps:

1.Open the Internet explorer and visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Add API Backend
5.Go to 'Manage API backends'
6.Click on 'View' button

- Protocol labels (http / https)  are not visible.

Screenshot:

In Internet Explorer:

![protocol_label_invisible_ie](https://cloud.githubusercontent.com/assets/13309358/11211678/d207451a-8d39-11e5-867b-80f41d83f9a9.p

[2015-11-18 03:38] kyyberi commented on #629
Btw, with sandbox at this point I refer to live swagger documentation.

[2015-11-18 08:04] frenchbread commented on #343
Here is Second wireframe for `Manager View`. As said, it includes some redesign with focus on tabs.
![Image](https://raw.githubusercontent.com/apinf/docs/master/docs/design/%23343_tab-view%26manager-view.png)

[2015-11-18 08:42] bajiat commented on #629
@kyyberi "This is actualyl what the front page" Can you clarify front page? Is the proposed view available when user is logged in or not logged in? If not logged in, then sandboxing has to happen without API key. Also, as far as I have understood testing in Swagger always makes a real request so it not sandboxing in the true sense.

@ccsr (@kyyberi @brylie @preriasusi) What are the milestones you

[2015-11-18 10:22] brylie commented on #517
@frenchbread and I added comments to a [Meteor packaging feature request](https://github.com/swagger-api/swagger-ui/issues/1757) on Swagger UI project.

[2015-11-18 11:00] brylie commented on #629
Relatedly, CKAN are [testing packaging for Ubuntu 14.04 LTS](https://github.com/ckan/ckan/pull/2726). May we spin up a VM and help test the packaging?

[2015-11-18 13:14] brylie opened #636 "Add error handling inside of syncApiBackends method"
The [`syncApiBakends`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/methods/apiBackends.js#L15) method has been reported to crash Apinf when invalid API backends are returned from API Umbrella. This is partially due to differing validation requirements between Apinf and API Umbrella. In the short-term, we need to at least catch the error within the sync method.

# Related
@m

[2015-11-18 13:45] brylie commented on #343
@kyyberi and @apinf/design , any feedback on the wireframes?

[2015-11-18 20:15] kyyberi opened #637 "Publish SDKs to sdks.io"
As a API owner want to be able to generate SDKs for my API in apinf and automatically publish SDKs to sdks.io or equilvalent

[2015-11-19 01:34] kyyberi commented on #629
Perhaps th term sandbox is not the right one. Anything with what you can fool around with the api, it can use dummy data or whatever.

[2015-11-19 01:36] kyyberi commented on #629
For you to know I met swagger people at apistrat and I'm organizing webinar for the Finnish developer community about the latest tools around swagger. It might interest you too.

[2015-11-19 01:38] kyyberi commented on #343
Looks good to me.

[2015-11-19 02:12] elnzv commented on #343
Manager rights options are missing. (not sure if it is needed)
Otherwise looks good.

[2015-11-19 02:14] elnzv commented on #629
@brylie, need more details on this page. Let's plan this and discuss it and then I will provide my ideas and thoughts.

[2015-11-19 02:21] elnzv commented on #628
@kyyberi good idea and nice wireframes! Yes, totally we need to redesign and improve Add New API UI flow.
Originally, we have just mirrored UI from API Umbrella project

[2015-11-19 08:50] bajiat commented on #597
Presentation topics:

APIKA lyhyesti (Apika in short)
Rajapintojen hallinta (API management)
APIKA-palvelun ominaisuudet (Features of APIKA)
Kehitettävät ominaisuudet (Features to be developed)
Avoin kehitysprosessi (Open development process)
Mistä lisätietoa ja tukea? (More information and support)

[2015-11-19 09:52] jykae commented on #631
Encryption key & iv are stored as environment variables and seem to have problems with Travis: https://github.com/pockethub/PocketHub/issues/884

[2015-11-19 09:57] mauriciovieira commented on #636
@brylie, @frenchbread, @elnzv  I am working on a hotfix for this one.

[2015-11-19 10:01] mauriciovieira opened #638 "Add error log for the application"
Copied from #615

# Description

There should be a centralized way to log server errors like the one reported at #636

# User story

[code]
# Feature

Research and choose a logging framework for Apinf (Meteor.js). Add the logging framework/package. Determine what functions, e.g. server methods, need logging support and add calls to the logger with relevant details.

Once logging is enabled, it wil

[2015-11-19 10:14] jykae commented on #631
Environment variables were not successfully loaded cause I didn't have admin rights yesterday when I made file encryption.  Made that again and got it working.

[2015-11-19 10:55] jykae commented on #631
Yay, successfully deployed to APIKA staging using Travis. I had to remove android platform. I will put ticket about this. I suppose building Android .apk is not necessary?

[2015-11-19 11:10] jykae commented on #631
@brylie I think making Meteor package is not the case here.  Travis CI runs the Meteor Up deploy command (builds & uploads the application to server).

Next steps: define when to launch build. With Travis API it's also possible to launch builds periodically rather than on push & pull request. Periodically might be ok for APIKA. Apinf master-branch mirror update happens once a week, so could be fin

[2015-11-19 11:35] bajiat opened #640 "Implement UI for managing API backend managers"
Refer to #343 for wireframe.

Create an UI for adding or deleting managers for a given API backend based on user email.
# Wireframe

![API Managers UI wireframe](https://raw.githubusercontent.com/apinf/docs/master/docs/design/%23343_tab-view%26manager-view.png)
# Definition of done
## Display manager emails
- [x] Create `apiBackends` collection helper to retrieve Meteor users based on the `manager

[2015-11-19 11:36] bajiat opened #641 "Implement public API feedback voting"
Refer to #542 for discussion

First version of communication channel between consumers and managers allows consumers to send feedback, request etc. about APIs and managers to view the feedback.

# Wireframe
![mockup](https://raw.githubusercontent.com/apinf/docs/master/docs/design/%23149_communication_channel_apinf.png)

# FeedbackVotes collection
This feature may use a new collection called `Feedb

[2015-11-19 11:36] bajiat opened #642 "Implement reply functionality to communication channel"
Refer to #541 for discussion. Blocked by #595.

First version of communication channel between consumers and managers allows consumers to send feedback, request etc. about APIs and managers to view the feedback. This enhancement allows users (consumers and managers) to reply.
# User Interface

The discussions will appear within the feedback container, as a flat list at the bottom (threaded replies

[2015-11-19 11:38] bajiat commented on #626
Duplicate.

[2015-11-19 11:38] #626 closed

[2015-11-19 11:40] bajiat opened #643 "Implement tab interface to View API backend"
Refer to #343 for initial wireframe

[2015-11-19 11:41] bajiat opened #644 "Implement tab interface to View API backend"
Refer to #343 for initial wireframe

[2015-11-19 11:42] bajiat opened #645 "Implement tab interface to View API backend"
Refer to #343 for initial wireframes

[2015-11-19 11:43] #644 closed

[2015-11-19 11:43] #645 closed

[2015-11-19 11:48] bajiat commented on #491
@preriasusi We are using OAuth and Meteor accounts package for authentication. The Meteor Accounts SAML package is not maintained. Hence, we suggest that this would not be an Apika feature (at least not APIKA MVP).

[2015-11-19 11:58] bajiat commented on #622
@kyyberi To what server are you making the request? Specifically, are you making the request to Api Umbrella server? If that is the case, this is an upstream bug.

[2015-11-19 11:59] bajiat commented on #621
@kyyberi This is an upstream bug.

[2015-11-19 12:03] bajiat commented on #620
Related to #628 where last step of the flow can contain the option to "Publish"

[2015-11-19 12:04] bajiat commented on #620
For unpublishing, we need to study how Api Umbrella handles that.

[2015-11-19 12:05] bajiat opened #646 "Design how to unpublish an API backend"
Related to #620. Requires understanding of how API Umbrella handles unpublishing.

[2015-11-19 12:09] bajiat commented on #600
Duplicate of 551.

[2015-11-19 12:13] bajiat commented on #523
@frenchbread Are you already working on this? Did you have any PR's related to this?

[2015-11-19 12:16] bajiat commented on #530
Done.

[2015-11-19 12:18] bajiat commented on #502
Related to #327.

[2015-11-19 12:19] bajiat commented on #500
Related to #511

[2015-11-19 12:23] bajiat commented on #493
Duplicate of #492.

[2015-11-19 12:27] bajiat commented on #424
Related to #327

[2015-11-19 12:28] bajiat commented on #342
Label has been added.

[2015-11-19 12:28] #187 closed

[2015-11-19 12:29] #530 closed

[2015-11-19 12:29] #458 closed

[2015-11-19 12:29] #600 closed

[2015-11-19 12:29] #493 closed

[2015-11-19 12:32] bajiat opened #647 "Functional testing: Test analytics dashboard"
Analytics dashboard is a high priority feature in Apinf. As such, we need manual functional and usability testing for this view.

Definition of done
----
* [x] Use your own API key to create API requests to several APIs. (Add APIs, if necessary)
* [x] Check the analytics dashboard and interact with the graphs.
* [x] Report any issues labeling them appropriately (e.g. bug or enhancement)

[2015-11-19 12:35] bajiat commented on #539
@ashakunt We are closing this issue.

[2015-11-19 12:36] #539 closed

[2015-11-19 12:36] bajiat commented on #598
@saralavanip @ashakunt Can we close this issue, since it has already been tested?

[2015-11-19 12:37] #541 closed

[2015-11-19 12:39] #343 closed

[2015-11-19 12:40] #542 closed

[2015-11-19 17:10] frenchbread commented on #523
@bajiat swagger file validation is not included in PR #517. Just host url modifications are done there.

[2015-11-19 22:37] kyyberi commented on #622
I'm using API managed by APIKA, but obviously the actual API calls go through Umbrella. In those cases, api_key is always required.

[2015-11-19 22:39] kyyberi commented on #342
works for me

[2015-11-20 03:46] kyyberi commented on #597
Looks good

[2015-11-20 11:23] #636 closed

[2015-11-20 11:48] brylie opened #648 "Create document comparing API Umbrella and Kong"
Stakeholders are interested to know the differences between API Umbrella and Kong. Create a comparison document listing similarities and differences between the two projects.
## Definition of done
- [ ] Document should include feature listing of each solution.
- [ ] Document should use consistent terminology for similar functionality.
- [ ] Document should described the underlying technologies.
-

[2015-11-20 11:52] brylie commented on #631
The article simply describes adding CI support for Meteor.js code. It applies equally well to Meteor projects. It was for reference purposes.

[2015-11-20 12:06] bajiat opened #649 "Implement displaying API name in Swagger Viewer doc select"
At the moment, the drop down box for selecting Swagger file in Swagger viewer shows file name.  The user might not be able to recognise the file name. Hence, the select box should show API backend name instead.

Definition of done
---
* [x] Drop down box should not display empty rows.
* [x] Drop down box should display API backend names.
* [x] Documentation file should be linked to API Backend (by

[2015-11-20 12:09] bajiat commented on #629
@kyyberi Currently we are only using Swagger for testing APIs and the API calls Swagger makes are real calls direct to the API. And we are working on rerouting them to our proxy. Other than that, we don't have any sandboxing functionality and have no such plans in APIKA timeframe.

[2015-11-20 12:18] #598 closed

[2015-11-20 12:24] kyyberi commented on #629
Well, replace the word "sandbox" to "live docs" or something :) I would not use "swagger" as other options should occur in the future.

[2015-11-23 09:00] brylie commented on #629
Ah, nice. OK, we will use generic language. Swagger UI is a good API UI for the time being, but we are definitely open to new options. :+1:

[2015-11-23 10:56] #591 closed

[2015-11-23 11:15] mauriciovieira commented on #531
Maybe it is a duplicate of #604

[2015-11-23 11:16] mauriciovieira commented on #638
I would like to work on this task

[2015-11-23 11:40] bajiat commented on #628
@elnzv You were interested in this task. It is mainly implementation and only some design (flow). Do you still want to take the task?

[2015-11-23 11:42] bajiat commented on #640
@mauriciovieira You have already worked on this task earlier. Would you be interested in continuing with it?

[2015-11-23 11:47] bajiat commented on #628
@elnzv Actually, we decided to propose two other tasks for you from your list. There should not be more than 1-2 big implementation tasks per developer.

[2015-11-23 11:48] frenchbread commented on #649
I would like to take this one since I am working on similar issue about Swagger.

[2015-11-23 11:48] bajiat commented on #327
@elnzv We are proposing the two interrelated settings tasks: 327 and 74 for you.

[2015-11-23 11:52] bajiat commented on #641
@frenchbread Would you be interested in this task?

[2015-11-23 11:55] bajiat commented on #531
@mauriciovieira You commented that you would be interested in #638. This is a related task. Could you take this one as well?

[2015-11-23 11:56] bajiat commented on #624
@elnzv This should be a fairly small design task. Could you take this one along with the bigger implementation task (settings)?

[2015-11-23 11:59] frenchbread commented on #641
@bajiat Self-assigned.

[2015-11-23 12:00] bajiat commented on #368
@elnzv What is the status of the task?

[2015-11-23 12:03] bajiat commented on #604
@mauriciovieira Can you tell us the status of this task?

[2015-11-23 12:09] bajiat commented on #641
@frenchbread Can you estimate this task?

[2015-11-23 12:10] bajiat commented on #649
@frenchbread Can you estimate this task?

[2015-11-23 12:10] frenchbread commented on #641
@bajiat Done

[2015-11-23 12:11] frenchbread commented on #649
@bajiat Done

[2015-11-23 13:28] brylie commented on #638
@mauricio, will you please estimate this task size?

[2015-11-23 13:28] jykae commented on #551
Steps for simple benchmarking: https://github.com/NREL/api-umbrella/issues/184

[2015-11-23 13:37] brylie opened #650 "Create docker installation file"
As part of our packaging process, we would like to support Docker. Create a basic Dockerfile for the Apinf installer.

# Definition of done
* [ ] System administrators can deploy an Apinf + API Umbrella stack in one command, via Docker
* [ ] Developers can set up a local development environment in one command, using Docker, sh, or something similar
* [ ] **Bonus**: System administrators can deploy

[2015-11-23 13:42] jykae commented on #631
This needs some kind of a plan for the schedule, and discuss how we sync with Apinf. Or should I put Travis deployment for "staging" against "develop" branch? Currently it uses "master" branch.

Master branch will be mirrored anyway, but if there is not specific schedule for releases and we're not deploying straight to production, that could be done manually when we decide to move to new release.

[2015-11-23 13:43] brylie commented on #631
Staging can use the develop branch, just with the understanding that `develop` contains **alpha** releases. I.e. we are still adding features to the develop branch :-)

[2015-11-23 14:20] jykae commented on #551
I think I am going first to query *proxy_overhead* from Analytics DB, as it is sounds good metric for this.

"*proxy_overhead* attempts to measure the difference between how fast the backend sent its response and how fast API Umbrella responded, so this should be the best metric of the complete overhead (taking into account the hops through our local caching server, for example)."

[2015-11-23 15:12] jykae opened #651 "Elastic-rest limiting to the latest data"
APIKA has now been up for a while and has 8,714 records in analytics DB.

It takes couple of seconds to load the data from Umbrella's Elastic. This should be limited somehow when the data grows.

This is only issue for the "admin", who sees all the analytics data. Now the default seems to be everything in the database.

[2015-11-23 17:55] bajiat commented on #631
Alternatively, we could decide to make a couple of stable releases (from
master) in Apika timeframe. That would require e.g.testing workshops on the
releases.

2015-11-23 15:43 GMT+02:00 Brylie Christopher Oxley <
notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2015-11-24 03:27] elnzv commented on #624
Okay, taking this task.

[2015-11-24 03:54] elnzv commented on #368
Forms are unified now.
Need to change UI text, button text, title according to form type.
Hours updated.

Working branch:
https://github.com/apinf/api-umbrella-dashboard/tree/feature/unify-api-forms

[2015-11-24 11:28] brylie commented on #640
@mauriciovieira, are you working on this task? We need to put it back in the backlog, if not.

[2015-11-24 11:38] brylie commented on #638
Please estimate the size of this task. :-)

[2015-11-24 12:13] brylie opened #652 "Implement API Backend update feature when making changes"
When making changes to an API Backend, make sure API Umbrella also accepts the changes.

[2015-11-24 13:30] saralavanip commented on #647
@Taija , I have added APIs and tried to call APIs with API Key. I am
getting error 'API_Key_Missing' though added  API key. Please refer to the
similar issue filed :
https://github.com/apinf/api-umbrella-dashboard/issues/606. Could you
please let me know, if it is the right procedure to call an API using API
key.

On Mon, Nov 23, 2015 at 1:32 PM, Taija Björklund <notifications@github.com>
wrote:

[2015-11-25 08:37] elnzv commented on #327
Here is how I think it should work:

- if starting without settings.json and there is nothing in Settings collection - show form to enter needed values. Template with form can be rendered on startup before any sync. After submission meteor will look for required values in Settings collection,
- if starting with settings.json file parse it and duplicate it to Settings collection (additionally we ca

[2015-11-25 08:41] elnzv commented on #327
Working branch: https://github.com/apinf/api-umbrella-dashboard/tree/feature/admin-settings-page

For now have already this UI for settings page:

![screencapture-localhost-3000-settings-1448440697861](https://cloud.githubusercontent.com/assets/7489044/11392188/bb791184-9360-11e5-8c23-1176b5d51feb.png)

**TODO/in progress:** divide settings into sections with help texts and placeholder examples.

[2015-11-25 08:45] elnzv commented on #368
@apinf/developers need help here.
I have changed the way how we define router and now can't add new API.

Here is how I define route

[code]

[2015-11-25 08:53] brylie commented on #368
This is the Edit API route. What does the Add API route look like?

On 25 November 2015 10:45:54 EET, illya nizyev <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-11-25 08:54] elnzv commented on #368
[code]

[2015-11-25 09:17] kyyberi opened #653 "Maintenance page"
As a developer and API owner I want to see maintenance announcement page when front is down. Now I see not responding.

[2015-11-25 09:25] kyyberi opened #654 "Unit in response time in analytics view"
As a API owner I want to see response time unit in analytics page where it list the API uage details. Now it says just "response time" and I assume that it is milliseconds.
![response-time](https://cloud.githubusercontent.com/assets/1927158/11393233/3394b46a-9367-11e5-8f13-5760136b5be0.png)

Definition of done
---
* [ ] Column header displays "Response time in ms"

[2015-11-25 10:54] bajiat opened #655 "Research using multiple proxy gateways with Apinf UI layer"
Research whether it is possible to use Apinf as UI layer for several API Umbrella and/or Kong proxies.

[2015-11-25 10:56] bajiat commented on #655
![kansallinen-api-hallinta-kong-included_360](https://cloud.githubusercontent.com/assets/11626388/11395465/f8e64592-9373-11e5-965c-cab78e40341e.png)

[2015-11-25 10:57] bajiat commented on #655
![kansallinen-api-hallinta-simple_360](https://cloud.githubusercontent.com/assets/11626388/11395476/10b34ddc-9374-11e5-9148-401d21710cbb.png)

[2015-11-25 12:34] sbe commented on #595
"Username (either nick or a real user's name) should be obligatory."
Is this about the field "name" in the Schema UserProfile and the "username" field in the User Collection?

I would like to use the package: https://github.com/meteor-utilities/avatar/ to implement the avatar features, there is an inbuild featue for default profile pictures. the image path could then be added as a field in the Use

[2015-11-26 09:16] brylie commented on #368
What is your working branch on Github? I will check the changes.

[2015-11-26 09:23] brylie commented on #368
I have tested your branch, and am able to create an API Backend. Is the problem with the edit form?

[2015-11-26 09:25] brylie commented on #368
One bug I notice is that when editing, the redirect after edit goes to `api/1`, which is not an ID. However, changes made on the edit form are saved.

[2015-11-26 10:41] brylie commented on #368
I have pushed some changes to your branch. The forms seem to be working now. Please verify.

[2015-11-26 10:43] brylie opened #656 "Remove yogiben:mixpanel package"

[2015-11-26 10:57] brylie opened #658 "Add 'ecmascript' package to project"
In order to enable EcmaScript 6 and 7 syntax, we can add the 'ecmascript' package. This package comes enabled in new Meteor projects by default, but may need to be manually enabled in pre-existing projects.

Definition of done
---
* [ ] 'ecmascript' package is added to the project.

[2015-11-26 12:23] brylie commented on #327
@elnzv status update?

[2015-11-26 18:50] kyyberi commented on #648
+1

[2015-11-26 18:56] kyyberi commented on #648
Size of user community for each? Might be hard to find out

[2015-11-26 18:57] kyyberi commented on #648
Commit frequencies or something to show development intensity. That indicates liveliness of development and a small promise of continuity?

[2015-11-26 19:05] kyyberi opened #659 "API dev status"
As a API owner I want to bring not finished APIs and in design phase APIs to apika to enable feedback. For that purpose api listing and api profile should indicate api dev status:

* planned
* design
* alpha
* beta
* production

[2015-11-26 21:37] ahmadnassri commented on #648
happy to contribute info on the Kong side ;)

[2015-11-27 03:16] elnzv commented on #368
@brylie, thanks for help!
Added helper to show relevant title for form. Creating PR.

[2015-11-27 03:33] elnzv commented on #327
- Added sections, new placeholders:

![screencapture-localhost-3000-settings-1448594770267](https://cloud.githubusercontent.com/assets/7489044/11433574/798e3836-94c7-11e5-92c1-9a5e94824593.png)

- Added logic (formType) to choose "insert" or "update".

- Now on startup if application starts without --settings it renders **/settings**:
[code]
But still can't pause sync. Idea is somehow to wait afte

[2015-11-27 09:05] #537 closed

[2015-11-27 09:05] #551 closed

[2015-11-27 09:38] jykae commented on #631
Update: I'll continue next week with different approach. We talked shortly in the daily about using nightly.apinf.io for "develop" branch deployments, so that it would benefit the project. I need access to that server to deploy there.

[2015-11-27 09:41] jykae commented on #551
The analysis results was showed to the customers on Wednesday.
Shared also to NREL: https://github.com/NREL/api-umbrella/issues/184

[2015-11-27 10:10] brylie commented on #631
@ccsr or @elnzv, will you please give @jykae access to the nightly.apinf.io server?

@jykae, check out the [travis.yml file in Telescope](https://github.com/TelescopeJS/Telescope/blob/master/.travis.yml), as it is very similar to what we are aiming for in terms of testing and deployment.

[2015-11-27 10:19] frenchbread commented on #517
Please review #590.

Tested that requests are sent to API Umbrella:

<img width="940" alt="screen shot 2015-11-27 at 19 06 37" src="https://cloud.githubusercontent.com/assets/2122679/11438807/a04db32a-953a-11e5-8222-03f6c50a9fcc.png">

Also issue #649 partly implemented here. Since we moved from "FS collection" to "pure mongo document" approach, currently swagger document `Title` is shown in the s

[2015-11-27 10:22] frenchbread commented on #649
This issue is partly implemented in  #517 (PR - #590).

[2015-11-27 10:48] brylie commented on #442
For Heroku deployment, we can build an app.json based on the [Wekan app.json](https://github.com/wekan/wekan/blob/devel/app.json).

[2015-11-27 11:10] brylie opened #661 "Add method for fetching pending configuration changes from API Umbrella"
The Meteor-API-Umbrella package currently lacks a method to fetch pending changes. Add the method to interface with the pending changes endpoint.

[2015-11-27 11:13] brylie commented on #595
@sbe, may we assign you to this task? I am available for pair programming.

At the very least we need to collect a username, but it is up to you whether to make the `name` field mandatory.

[2015-11-27 11:14] sbe commented on #595
I am happy to take this task. When are you available for pair programming?

2015-11-27 12:13 GMT+01:00 Brylie Christopher Oxley <
notifications@github.com>:

[2015-11-27 11:15] brylie commented on #595
Also, the Avatar package looks great! I am available for pair programming today, and can be found in IRC.

@baijat, may we add @sbe to the Apinf organization (development team), so that he can be assigned this task?

[2015-11-27 11:18] brylie commented on #661
[PR is open.](https://github.com/apinf/meteor-api-umbrella/pull/8)

[2015-11-27 11:21] ccsr commented on #631
@brylie, @jykae has access to it already
@jykae you should have access to it as I created for your regarding Zabbix project

[2015-11-27 13:25] brylie commented on #635
I have an open PR (#662) with a re-design of the Servers section.

I changed page elements to use Bootstrap `input-group` with `input-group-addon` for the labels and protocol. The design is a bit cleaner and includes a template helper with CSS classes to colour the protocol (yellow or green based on HTTP/HTTPS) and label elements:

![screenshot-1](https://cloud.githubusercontent.com/assets/17307/1

[2015-11-27 13:28] brylie commented on #628
I will begin work on this feature next Monday. Have a great weekend all!

[2015-11-27 15:36] bajiat commented on #595
@sbe invited to Apinf organisation and developers team.

[2015-11-28 11:08] kyyberi commented on #222
Hmm..we will work on this today and post results to hackpad https://digipalvelutehdas.hackpad.com/apijam28112015#API-Jam-28.11.2015

[2015-11-29 08:21] kyyberi commented on #222
Group wanted to work with National Libraty of Finland APIs. Lesson learned: if you want community to work with something, you need to be there as one of the team members. I was a bit awkward position in the API Jam.

[2015-11-29 12:56] jykae commented on #631
@brylie @elnzv Good! Here's also nice guide, that gives better understanding (imho) than few mysterious lines, https://docs.travis-ci.com/user/gui-and-headless-browsers/
Meteor Up supports PhantomJS, so this should be a good way to go.

[2015-11-29 13:17] jykae commented on #631
And in the high abstraction level, is this Telescope frontpage (demo & Heroku deployment) something we would like to have for the product? Magical deployment by pressing the button :) More on Monday planning..

[2015-11-29 13:36] jykae commented on #631
@brylie Cucumber would be complement Jasmine nicely, http://xolv.io/blog-posts/2015/11/6/the-seven-testing-modes-of-meteor

Example: https://coderwall.com/p/qj9d0w/testing-meteor-with-cucumberjs

[2015-11-29 16:54] kyyberi commented on #631
I've used cucumber in the past and it was great.

[2015-11-29 17:03] kyyberi opened #663 "Documentation page with search"
I took a look at the documentation viewer page. I have a gutt feeling dropdown will not work in the long run. Users will be lost in plethora of items in the future.

 Why not implement search in there too much like google? Make it interactive, so that close matches are listed below with short links as the user types text. The user can select the api from the list. User can select also from the mor

[2015-11-29 17:08] kyyberi opened #664 "Redesign View API Backend page/partials to use tabbed interface"
When viewing details for one api, it came to my mind that if adding api will utilize tabbed content, the same logic should be applied to api profile page as well. This would unify the UX if same logic is applied everywhere.

# Definition of done
* [ ] Wireframe(s) provided for expected design outcome
* [ ] High priority information has been indicated on wireframe
* [ ] User story exists expressing

[2015-11-29 18:38] kyyberi commented on #629
I was browsing the web and it lead to thought or requirement that when we have listing of APIs in the frontpage, we need to offer clear sing of APIs which do not require auth or API-key. Those so called free APIs can be utilized without registering to APIKA. That user registration to get API-key is a barrier for some open data enthusiasts. https://opendata.stackexchange.com/questions/774/should-da

[2015-11-30 05:08] kyyberi commented on #551
You should write a blog post about the results. If you don't I'm willing to. @jykae

[2015-11-30 05:20] brylie commented on #629
Great suggestion. Lets create a new enhancement request based on this idea. That way we can discuss and track its implementation.

On 29 November 2015 20:38:58 EET, Jarkko Moilanen <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-11-30 05:35] kyyberi commented on #659
This will enable premarketing kind of activities for API owners.

[2015-11-30 07:29] frenchbread opened #665 "Refactor elastic-rest package for meteor"
## Research

- [x] Go through ES & read the docs.

## Refactor

- [x] Allow providing configuration object as an additional parameter for `ElasticRest()` class e.g.:
- [x] Add error handling.

[code]

## Apinf

- [ ] Refactor `getChartsData` method to support updated API in `elastic-rest` package.

[2015-11-30 09:43] #656 closed

[2015-11-30 10:32] brylie commented on #631
@jykae and @kyyberi it looks good. We are a bit off-topic here, so I will create a new issue.

[2015-11-30 10:35] brylie opened #666 "Consider BDD testing framework(s) to ensure Apinf works as expected"
It was suggested by @jykae and @kyyberi (#631) that we consider writing tests using a Behavior-Driven Development approach, specifically with [Cucumber syntax](https://github.com/cucumber/cucumber-js). These tests would match up with our existing user stories, and could easily be understood by non-technical stakeholders. Research BDD options for JavaScript, including the Cucumber JS library, and d

[2015-11-30 11:43] brylie commented on #661
@apinf/developers please review [PR #8](https://github.com/apinf/meteor-api-umbrella/pull/8) on the Meteor api-umbrella integration.

[2015-11-30 11:47] brylie commented on #222
@kyyberi right, we will have to work on that in the future. I cannot attend events on Saturdays, but may be available on Friday evenings, for example.

[2015-11-30 12:49] jykae commented on #631
@brylie Yep, testing stuff to another issue :)
I have access to "nightly" server and will proceed with Travis CI deployment and use "develop" branch for it.
@brylie I will request "admin" rights to Apinf organization, Travis requires it.

[2015-11-30 13:24] brylie opened #667 "Refactor settings.js to use a serialized URL"
The settings.json contains two variables:
* `baseUrl`
* `host`

Those settings are duplicates of one another, with the only difference being the `/api-umbrella/` path. The presence or absence of a trailing slash in the baseUrl is also proving problematic (#590).

# Task
Serialize the URL by constructing it from base elements:
* protocol
* base url
* path

# Resources
We are using URL.js, which has

[2015-11-30 13:33] #517 closed

[2015-12-01 08:40] preriasusi opened #668 "Research OpenID connect support for Apinf"
Work estimation to add OIC (OpenID connect) support for Apinf (Meteor) requested by Apika.

[2015-12-01 08:54] #368 closed

[2015-12-01 09:15] bajiat opened #669 "Upgrade to API Umbrella 0.11 release"
Upgrade API Umbrella to latest version. Benefits include more performant gatekeeper and more organized code base. Several bug reports issued by Apinf team have been resolved in the latest version.

Definition of done
---
* [x] umbrella.apinf.io is running at 0.11 of Api Umbrella.

[2015-12-01 11:49] bajiat opened #670 "Deploy the 0.2.0 alpha 2 release"

[2015-12-01 12:56] ashakunt commented on #647
@bajiat @brylie I find that making calls to umbrella as per the usage instructions given in APINF.com is broken. The instructions say:

Make API calls to:
https://umbrella.apinf.io/api-umbrella/[Frontend prefix]
Note: you may need to use your API Key, found on your profile page.

Although, the actual call happens at: https://umbrella.apinf.io/[frontend prefix]

Is there a specific reason for this?

[2015-12-01 13:17] saralavanip commented on #647
I just added an API from my login and following are the results :

* The API was not published immediately. @ashakunt had to that from umbrella.apinf.io website. If there is a delay in publishing the API to the underlying umbrella server; as an END USER, I would like to be informed.
* After the API was published, I still cannot access my API from the umbrella.

(I am using https://umbrella.apinf.i

[2015-12-01 18:14] saralavanip opened #671 "API status check error while editing API backend"
Steps:

1.Open the Internet explorer and visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Add API Backend
5.Go to 'Manage API backends'
6.Click on 'Edit' button
7.Edit API backend
8.Click on 'Submit' button

Result:
- Status check takes indefinite time.
- Servers are not shown

Screenshot:

![edit_api_checking_status_indefiinite_time](https://cloud.githubusercontent.com/assets/

[2015-12-01 18:25] saralavanip opened #672 "'Response Time' in the table misaligned"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backends'
5.Go to 'Manage API backends'
6.Click on 'View' button
7.Click on 'View usage instructions'
8.Click on the link for 'profile page'  and copy the API key
9.Click on the link given for making API call
10. Add the Frontend prefix and API key
11.Select 'Analytics' from menu

Result:

- 'Response

[2015-12-01 18:43] saralavanip opened #673 "Mouse point on labels make them disappear"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backends'
5.Go to 'Manage API backends'
6.Click on 'View' button
7.Click on 'View usage instructions'
8.Click on the link for 'profile page'  and copy the API key
9.Click on the link given for making API call
10. Add the Frontend prefix and API key
11.Select 'Analytics' from menu

Result: Mouse point o

[2015-12-01 18:53] saralavanip opened #674 "No user guidelines for chart analysis"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backends'
5.Go to 'Manage API backends'
6.Click on 'View' button
7.Click on 'View usage instructions'
8.Click on the link for 'profile page'  and copy the API key
9.Click on the link given for making API call
10. Add the Frontend prefix and API key
11.Select 'Analytics' from menu

Result:  User guideli

[2015-12-01 19:09] saralavanip opened #675 "'Search field' not updating while edit/delete strings"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backends'
5.Go to 'Manage API backends'
6.Click on 'View' button
7.Click on 'View usage instructions'
8.Click on the link for 'profile page'  and copy the API key
9.Click on the link given for making API call
10. Add the Frontend prefix and API key
11.Select 'Analytics' from menu
12.Go to search field

[2015-12-01 20:15] saralavanip commented on #647
Issues related to 'Manage API backend' and 'Analytics dashboard' :

1.https://github.com/apinf/api-umbrella-dashboard/issues/671
2. https://github.com/apinf/api-umbrella-dashboard/issues/672
3. https://github.com/apinf/api-umbrella-dashboard/issues/673
4. https://github.com/apinf/api-umbrella-dashboard/issues/674
5.  https://github.com/apinf/api-umbrella-dashboard/issues/675

[2015-12-02 06:49] brylie commented on #647
It is a UI bug. We will open a hotfix ASAP.

On 1 December 2015 14:56:46 EET, Aseem Shakuntal <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-12-02 09:51] saralavanip opened #676 "'Reset all' in 'Filter' not working"
Steps:

1.Visit https://apinf.io

2.Sign in

3.Select 'API Backends' from menu

4.Click on 'Add API Backends'

5.Go to 'Manage API backends'

6.Click on 'View' button

7.Click on 'View usage instructions'

8.Click on the link for 'profile page' and copy the API key

9.Click on the link given for making API call

10.Add the Frontend prefix and API key

11.Select 'Analytics' from menu
12.Go to Overv

[2015-12-02 10:41] brylie commented on #649
I opened a PR (#677) for this issue. @apinf/developers please review.

[2015-12-02 10:41] brylie commented on #649
Lets move the type-ahead feature request to its own issue.

[2015-12-02 11:12] frenchbread commented on #665
Updated [meteor-elastic-rest](https://github.com/frenchbread/meteor-elastic-rest) package to v1.0.

Next, I'm going to create a separate branch to apply changes added to `ElasticRest` class API.

[2015-12-02 12:19] brylie commented on #327
@elnzv where is your working code for this task? The 'settings' branch has a last commit 5 days ago. I am asking, because I just found the following in the [SimpleSchema docs](https://github.com/aldeed/meteor-simple-schema#schema-keys):

Basically, you don't need `$` in your schema, because that implies an array of objects. So, if you remove the `$`s, your settings data may validate.

[2015-12-02 12:32] brylie commented on #327
@elnzv you may also be able to set `blackbox: true` on the settings objecs:

[2015-12-02 13:34] frenchbread commented on #665
PR #678. Please review.

[2015-12-02 13:40] bajiat commented on #635
Re-opening and assigning to Sarala for verification.

[2015-12-02 13:41] bajiat commented on #635
@saralavanip Can you please verify and close the issue, if the bug has been fixed?

[2015-12-02 13:52] #649 closed

[2015-12-02 15:27] saralavanip opened #679 "Incorrect URL in usage instructions"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backend'
5.Enter API name
6.Select the Backend protocol from drop down menu
7.Enter the details of servers: Host and Port
8.Enter Frontend host and Backend host
9.Enter URL matches: Frontend prefix and Backend prefix
10.Click on 'Submit'  button
11.Click on 'View usage instructions'
12.Click on the lin

[2015-12-02 15:31] saralavanip commented on #635
Verified the issue.

[2015-12-02 15:31] #635 closed

[2015-12-03 04:30] elnzv commented on #670
Getting this error:

[code]
when deploying (same error starting locally). For now commented this file.

[2015-12-03 06:36] elnzv commented on #624
![doc_links](https://cloud.githubusercontent.com/assets/7489044/11553598/e00b4010-9998-11e5-8aee-85ff85f05bbe.gif)

Also uploaded to docs repo.

[2015-12-03 12:04] bajiat commented on #595
@sbe Hi, we are checking sprint 17 task statuses in order to start sprint 18 planning. Can you tell me the status of this task?

[2015-12-03 12:16] bajiat commented on #602
Possibly resolved with combining Add API backend and Edit API backend forms. To be checked.

[2015-12-03 12:26] frenchbread commented on #670
@elnzv Is this error shows up on a server-side or a client-side?

[2015-12-03 12:27] elnzv commented on #670
Client, it doesn't crush app locally, but on remote.

On Thu, 3 Dec 2015, 14:26 Damir Mustafin <notifications@github.com> wrote:

--

Illya Nizyev ~ www.nzv.nz

[2015-12-03 12:28] #661 closed

[2015-12-03 12:28] #597 closed

[2015-12-03 12:35] frenchbread commented on #670
Well, try to check if JsonRoutes package is installed.. I had the same error in a browser, when testing it locally but later it just disappeared.

[2015-12-03 12:41] sbe commented on #595
in progress

[2015-12-03 13:10] saralavanip opened #680 "Data not available while filter status notifies as 'loaded'"
Steps:

1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backends'
5.Go to 'Manage API backends'
6.Click on 'View' button
7.Click on 'View usage instructions'
8.Click on the link for 'profile page' and copy the API key
9.Click on the link given for making API calls
10. Add the Frontend prefix and API key
11.Select 'Analytics' from menu
12.Go to Filter
13. Se

[2015-12-03 13:18] saralavanip opened #681 "Records shown while filter notifies 'No API usage statistics available'"
Steps:
1.Visit https://apinf.io
2.Sign in
3.Select 'API Backends' from menu
4.Click on 'Add API Backends'
5.Go to 'Manage API backends'
6.Click on 'View' button
7.Click on 'View usage instructions'
8.Click on the link for 'profile page' and copy the API key
9.Click on the link given for making API call
10. Add the Frontend prefix and API key
11.Select 'Analytics' from menu
12.Go to Filter
13.Selec

[2015-12-03 13:18] elnzv commented on #670
Checked. Package is in place.

On Thu, 3 Dec 2015, 14:35 Damir Mustafin <notifications@github.com> wrote:

--

Illya Nizyev ~ www.nzv.nz

[2015-12-04 04:49] #665 closed

[2015-12-04 05:19] elnzv commented on #74
Found a way how to toggle AdminLTE skins:

[code]
It changes skin class, but not css.
Can't figure out what is the problem.
Created an issue https://github.com/meteor-factory/meteor-admin-lte/issues/18

[2015-12-04 06:17] brylie commented on #74
Can we force a page reload once the setting is saved?

On 4 December 2015 07:19:47 EET, illya nizyev <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-12-04 06:41] #592 closed

[2015-12-04 06:42] Laura-Sampo commented on #578
https://waffle.io/apinf/api-umbrella-dashboard/cards/5638e941b0e91303004b7e6c

-> draft about items privacy policy should include.

[2015-12-04 06:46] Laura-Sampo commented on #578
http://samposoftware.com/privacy-policy/

Sampo's privacy policy.  BTW impossible to find from the web pages without search-tool.

[2015-12-04 07:11] elnzv commented on #74
Even if I do it manually, it doesn't work.
I think it changes class but not styles. Styles are changing in different place.

[2015-12-04 07:12] elnzv commented on #578
@Laura-Sampo, will fix it, thanks for finding this out.

[2015-12-04 07:35] brylie commented on #668
There are two Meteor Accounts extension packages for OpenID Connect:

* https://atmospherejs.com/ddxdental/oidrc
* https://atmospherejs.com/ddxdental/accounts-oidrc

However, the sourcecode for the packages is not yet publicly available. I have contacted the package maintainers, asking for the sourcecode to be made available:

* https://github.com/DigitalDentalExchange/DigitalDentalExchange/issues

[2015-12-04 07:49] preriasusi commented on #654
Should not be huge work to fix this. Proposing to next sprint.

[2015-12-04 10:13] elnzv commented on #670
Solution is might be in wrapping JsonRoute with

[code]
Based on this code: https://github.com/harryward/lystify/blob/93d81c0dfa3b109523c1190a14b079cb641286a2/morsList.js#L32-L39

[2015-12-04 10:42] bajiat opened #683 "Fix the JsonRoutes error"
Related to #670, see discussion in task.

[2015-12-04 12:03] preriasusi commented on #668
And the estimation was 20 hours for the developer familiar with Meteor. This is done.

[2015-12-04 12:03] #668 closed

[2015-12-04 12:04] preriasusi commented on #533
See: https://github.com/apinf/api-umbrella-dashboard/issues/668

[2015-12-04 12:08] bajiat opened #684 "Design keyword based search for frontpage"
Related to issue #629.

# Definition of done

## Frontpage
* [x] There is a search field prominently visible on frontpage.
* [x] Search field contains meaningful helptext.
* [x] Search fields queries API backend collection.
  * [x] Query uses API backend `title` field.
  * [x] Query uses API backend `backend_host` field. - ?
* [x] All search query fields are indexed.
* [x] Search query is case ins

[2015-12-04 12:09] bajiat opened #685 "Implement keyword based search for frontpage"
Related to #629 and #684.

[2015-12-04 12:14] bajiat opened #686 "Make catalogue view publicly accessible"
It has been requested that people be allowed to browse the API Catalog without an account. Remove account checking method from API Catalog. Also, add a link to the Catalogue view from the front page.

Definition of done
---
* [ ] API catalog should display on its own route.
* [ ] API catalog should display on master or base template.
* [ ] API catalog should be accessible without signing in.
* [ ]

[2015-12-04 12:16] bajiat commented on #686
@kyyberi We are selecting this task to sprint 18 as a step towards implementing #629.

[2015-12-04 12:19] bajiat opened #687 "Implement database query and view for showing latest API backends"
As a part of the front-page re-design we need a view of the newest additions to API catalog. This requires both a query (publication and subscription) and a view.

* [x] Create publication
* [x] Create subscription
* [x] Create temporary route (For testing purposes, until home page is redesigned)
* [x] Create template
* [x] Use specific query that contains sorting by `created_at` field & limit amo

[2015-12-04 12:20] bajiat commented on #595
@sbe Let us know what the branch is so that we can check progress. Thanks!

[2015-12-04 12:26] bajiat commented on #602
Fix the following lines in the relevant file: https://github.com/apinf/api-umbrella-dashboard/blob/develop/client/views/api_backends/api_backend_form/api_backend_form.html#L18-L31

[2015-12-04 12:31] bajiat commented on #647
@saralavanip We had sprint 17 review today and are cleaning the board for sprint 18 planning. I quess you have already tested the dashboard and reported the errors? Can we close the issue? Or is there something that should still be checked?

[2015-12-04 12:36] saralavanip commented on #647
@bajiat , Yes, we can close the issue for this Sprint 17.

[2015-12-04 12:36] #647 closed

[2015-12-04 12:54] bajiat commented on #531
One function remains that does not have proper error handling: https://github.com/apinf/meteor-api-umbrella/blob/master/server/apiUmbrellaWeb.js#L264

[2015-12-04 13:44] bajiat opened #688 "Sprint 22 functional testing"
Test the improved View API backed, which now has a tabbed interface, on nightly.apinf.io.

Definition of done
---
* [x] Go throught the different views: Details, Metadata, Feedback, Backlog, optionally also Export. (If possible, in more than one browser)
* [x] If there is an API you have added and hence you are the manager, add metadata for that API.
* [x] If there is an API you have added and are