[2015-12-04 13:52] brylie commented on #628
I started re-writing this form as a Wizard, using autoform-wizard. However, I was blocked by an [autoform-wizard bug](https://github.com/forwarder/meteor-wizard/issues/62).

I will review the Meteor Chef article [Form States with ReactiveVar](https://themeteorchef.com/snippets/form-states-with-reactivevar/) for a possible way forward next sprint.

[2015-12-04 13:53] brylie commented on #628
Working branch from Sprint 17: https://github.com/apinf/api-umbrella-dashboard/tree/feature/628-add-backend-wizard

[2015-12-04 14:34] kyyberi commented on #654
Even I should be able to fix that :) it takes more effort to follow contribution process than making fix :)

[2015-12-06 05:35] frenchbread commented on #687
Interested in this one.

[2015-12-06 05:39] frenchbread commented on #685
Interested.

[2015-12-06 08:48] kyyberi commented on #342
Here's Jquery implementation who to add to website

https://jsfiddle.net/kyyberi/21yzt39z/

[2015-12-06 09:23] kyyberi opened #690 "Notify in twitter about low hanging fruits"
As a community-developer I would like to see low hanging fruits (issues) to be shown in Twitter to know without tracking github.
## Definition of done
- [ ] create server-side script to pull low hanging fruits from Github daily
- [ ] Low hanging fruits automatically tweeted

[2015-12-06 11:53] kyyberi commented on #624
I would try tabbed content here too. I have a gut feeling the content will expand and with current design people are forced to scroll and most hate it nowadays.

[2015-12-06 11:54] kyyberi commented on #624
Related to #664

[2015-12-06 12:24] kyyberi opened #691 "Set up i18n translation interface"
How are we going to manage translations? I'm ready to do some translations to Finnish but not sure which way to proceed. Strings are at least planned if not all already to be in separate files for each lang.

I see two options:
* take translation management to dedicated platform.
* copy original en i18n file and rename it to target language and accept as pull request.

The latter is taking the eas

[2015-12-06 12:29] kyyberi opened #692 "Exporting and importing i18n JSON files to/from OneSky"
Ensure that translation managers can easily import i18n files into OneSky. Also, ensure that exported OneSky translation files adhere to requirements of our i18n package:

* [tap:i18n documentation](https://github.com/TAPevents/tap-i18n)

# Task
* [x] Make sure i18n files are valid JSON.
  * [x] No comments
  * [x] Passes JSON validation
* [x] Ensure that files exported from OneSky are renamed eve

[2015-12-06 12:30] kyyberi commented on #692
Since it's not valid, current online translation management environments do not accept it as source

[2015-12-06 12:46] kyyberi commented on #692
Example https://gist.github.com/kyyberi/dc304c869ef706d737c5

[2015-12-06 13:06] kyyberi commented on #691
I tested OneSky service:

* http://os7daht.oneskyapp.com/collaboration/

API Umbrella is using the same.

[2015-12-07 08:54] brylie commented on #683
@elnzv have you opened a support request on the JsonRouts package issue tracker?

[2015-12-07 10:27] sbe commented on #595
This is the branch: https://github.com/apinf/api-umbrella-dashboard/tree/feature/595-userprofile-enhancement
I will continue development on wednesday

[2015-12-07 10:28] #683 closed

[2015-12-07 10:32] brylie opened #694 "Change basePath in swagger.json to use apiBackend.frontendPrefix"
The `baseUrl` setting in `swagger.json` is currently [set to the value of Meteor.apiUmbrella.basePath](https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/routes/jsonRoutes.js#L20). This will cause errors. Change the JsonRoute to use the [frontend prefix from the API Backend configuration](https://github.com/apinf/api-umbrella-dashboard/blob/develop/both/collections/backend.js#L91)

[2015-12-07 10:41] elnzv commented on #670
Deployed.

[2015-12-07 10:42] #670 closed

[2015-12-07 10:43] brylie commented on #664
It may not be safe to assume these pages will use the same logic, but we should certainly design them with each other in mind. E.g. the tabs may be used in both views, while the AutoForm and static view could be dynamically toggled based on whether the user is viewing or editing.

[2015-12-07 10:46] brylie commented on #664
One example of how the logic will differ follows.

* The *Add/Edit API Backend* form may contain the current step as a state variable related to form validation for each step -- allowing the user to proceed only with required fields are valid.
* The *View API Backend* page would only need to track which tab is active and hide other tab content.

[2015-12-07 11:15] jykae opened #696 "Remove "android" from .meteor/platforms"
As we don't currently need to build ".apk" package for Android, this could be removed from [build platforms](https://github.com/apinf/api-umbrella-dashboard/blob/develop/.meteor/platforms#L1) as it causes error on building for production.

[2015-12-07 11:51] bajiat commented on #694
@frenchbread Would you want to make this small adjustment to your Swagger implementation?

[2015-12-07 11:52] bajiat commented on #679
@frenchbread Would yo be interested in this task?

[2015-12-07 11:57] bajiat commented on #531
@frenchbread This is another smallish task. Would you be interested in taking this?

[2015-12-07 12:02] bajiat commented on #684
@frenchbread Since you were interested in the implementation task, could you take the design as well? Refer to #629 for original idea.

[2015-12-07 12:09] bajiat opened #697 "Create an outline for whiteboard explainer video"
Related to #495.

Come up with a sequence of topics for the video. Perhaps ideas for the graphics as well.

[2015-12-07 12:13] bajiat commented on #697
[Whiteboard explainer video](https://apinf.hackpad.com/Whiteboard-explainer-video-495-ytf6wFN4Kic)

[2015-12-07 12:19] bajiat commented on #640
Blocked by #595.

[2015-12-07 12:57] frenchbread commented on #531
Yup.

[2015-12-07 13:04] frenchbread commented on #694
@bajiat Sure!

[2015-12-07 13:05] frenchbread commented on #679
OK

[2015-12-07 13:10] frenchbread commented on #679
Is this somehow connected to #694 ?

[2015-12-07 14:09] brylie commented on #669
First attempt at upgrading failed after reboot. I opened an [issue with API Umbrella](https://github.com/NREL/api-umbrella/issues/200) describing the error message.

Chandra restored the server to a previous snapshot.

[2015-12-07 14:24] #624 closed

[2015-12-08 04:34] kyyberi commented on #691
I could take this feature and keep on working with it given that this is the way to proceed.

[2015-12-08 04:39] kyyberi commented on #692
If translation management suggested at #691 is the way to go, we should rename base file to en.json for the sake of simplicity. The translation management exports files with language code .json for example finnish is fi.json. Not mandatory to change but slimlines the translation file management process just a little bit.

[2015-12-08 12:01] brylie commented on #74
@elnzv I was able to get AdminLTE to change theme dynamically, without any AdminLTE packages. Please see my [demonstration repository](https://github.com/apinf/meteor-adminlte-color-toggle) for some working code.

You can use this code as a basis for your theme configuration option, by pulling the value from the settings collection.

[2015-12-08 12:22] brylie commented on #691
Good suggestion, we just need to make sure the l10n strings are compatible with [tap:i18n](https://github.com/TAPevents/tap-i18n/).

[2015-12-08 12:24] brylie commented on #691
Also, the tap:i18n package uses [i18next](http://i18next.com/), which has a [web translation interface](http://i18next.com/pages/ext_webtranslate.html).

[2015-12-08 12:43] frenchbread commented on #694
@brylie What should happen if `apiBackend` contains couple of `url_matches`? Because they are anyways stored in an array e.g. `apiBackend.url_matches[0].frontend_prefix`..

[2015-12-08 13:16] brylie commented on #694
Yep, for now we select the zeroth. I am not sure what scenarios might arise with sub-route custom settings, but we can cross that bridge when it arises.

[2015-12-08 14:05] frenchbread commented on #694
PR #698.

[2015-12-08 18:34] kyyberi commented on #691
Well either one looks good. Now we need decision.

[2015-12-08 18:35] kyyberi commented on #342
Vote for close. This is done

[2015-12-09 09:34] brylie opened #701 "Disallow anonymous API Backend ratings"
As part of making our API Catalogue visible to the public, we have discovered that Anonymous users can vote for API Backends. Disable anonymous votes by adding an allow check for Meteor.userId(), and possibly adding a schema to validate API Backend votes.

[2015-12-09 10:21] #686 closed

[2015-12-09 14:09] #679 closed

[2015-12-09 14:12] #694 closed

[2015-12-09 14:16] brylie opened #702 "Auto-publish API Backend on API Umbrella"
It has been pointed out that API Backends must be manually published on API Umbrella. This step is confusing for users, who may not know about or expect to use the API Umbrella administrative UI.

# Definition of done
* [x] When creating new API Backend, changes are automatically published on API Umbrella.

[2015-12-09 15:39] elnzv commented on #641
We keep issue open until PR is merged.

[2015-12-09 17:00] kyyberi commented on #691
@bajiat I believe this is PO decision at the end. Is there something, additional information, or else needed to make decision which way to go?

[2015-12-10 07:43] bajiat commented on #691
@kyyberi I will look into this and see if I need more information.

[2015-12-10 08:39] elnzv commented on #74
Now I have AdminLTE skins options functionality in place.
Before I create a pull request, one last thing is left. That's resetting (removing) uploaded logo.

[2015-12-10 10:53] brylie commented on #641
@jykae I updated this task with a 'Definition of done', so that the feature requirements are described better. @bajiat please review the definition of done.

[2015-12-10 11:42] preriasusi opened #706 "Open ID Connect with Google"
Implement poc of OIC with Google's OIC.

[2015-12-10 11:53] brylie opened #707 "Use actual frontend prefix when displaying usage instructions on API Backend page"
The usage instructions on the API Backend page currently display as such:

This may be confusing, and omits the slash between the base url and path.

Consider how to fix this issue, possibly displaying the fully formatted URL with actual values foor base url and path.

# Reference
The 'host' setting (in  `both/collections/settings.js` ) does not enforce a trailing slash, either currently or in the

[2015-12-10 12:10] brylie commented on #707
@frenchbread, will you please check this issue? Your work in Sprint 18 (#679) is related to this task.

[2015-12-10 12:30] ccsr opened #708 "EMQTT JavaScript study"
Study the Emqtt server setup and javascript dashboard or REST Management API @brylie

[2015-12-10 12:46] brylie commented on #641
Most of the unfinished tasks in the Definition of done are related to css classes and declarations. There are some important usability improvements as well, such as the visual indication of user vote. Additionally, users need to be able to 'unvote' or cancel their vote.

[2015-12-10 15:18] frenchbread commented on #707
@brylie Ok, will look into that. Btw on my side the URL is displayed with a slash on place - `https://umbrella.apinf.io/[Frontend prefix]`.

Would the `[frontend-prefix]` change to a real `apiBackend.url_matches.frontend-prefix` solve the problem?

[2015-12-11 02:02] frenchbread commented on #531
PR [#9](https://github.com/apinf/meteor-api-umbrella/pull/9).

[2015-12-11 08:52] #701 closed

[2015-12-11 09:00] frenchbread commented on #684
Wireframe:

Search field is displayed on each page in the header.

![search](https://cloud.githubusercontent.com/assets/2122679/11739684/a14fd752-a030-11e5-895f-62264199d454.png)

[2015-12-11 10:56] frenchbread commented on #684
There are going to be two scenarios how to make a search for API Backends:

1. Using search field on the home page - [wireframe](https://cloud.githubusercontent.com/assets/1927158/11168041/953b3e0c-8b86-11e5-858f-aab941fc1801.png).
2. Using search field in the header - [wiraframe](https://cloud.githubusercontent.com/assets/2122679/11739684/a14fd752-a030-11e5-895f-62264199d454.png).

-

**One** of

[2015-12-11 11:18] frenchbread commented on #684
#### One useful feature:

Once search is submitted, and if the search query 100% matches the apiBackend (or only one document was returned), we can redirect user directly to that `API Backend View` page.

[2015-12-11 14:59] bajiat commented on #691
@kyyberi @brylie
If we take OneSky into use, we would need to modify the i18n json file  as described in #692. Is there anything else that is required?

I looked at Jarkko's experimentation and based on that the OneSky web interface looks easy to use and  it seems to allow easy crowdsouring (but only for up to 5 collaborators for free.) Also, looks likes it regularly updated (based on the Github r

[2015-12-11 15:34] kyyberi commented on #691
Or then we could use transifex, which is also used a lot in open source community. https://www.transifex.com/apinfio/apinfio-api-management/dashboard/

[2015-12-13 19:16] frenchbread commented on #684
Mongo query example that I came up with:
[code]

This example represents a search for `<searchPhrase>` in both `name` & `backend_host` fields.

`$regex`'s `i` - option gives case-insensitivity (in Mongodb).

[MongoDB - `$regex` docs.](https://docs.mongodb.org/manual/reference/operator/query/regex/)

[2015-12-14 09:00] brylie opened #709 "Make sure settings, including example.settings.json, are refactured to match settings page PR structure"
The Settings Page feature made changes to the way settings are handled. As a follow up to that task, we need to check that all settings are updated in throughout our app, including the example.settings.json, to match the new structure.

Specifically:

* apiUmbrella
* elasticSearch
* mail
* contactForm
* githubConfiguration

[2015-12-14 09:20] bajiat commented on #654
@brylie Please check whether we can move the PR from master to develop.

[2015-12-14 09:22] #531 closed

[2015-12-14 09:22] frenchbread commented on #531
Moving to done since related PR has been merged.

[2015-12-14 09:43] brylie commented on #633
I am unable to verify this on Firefox/Ubuntu. I will follow up with @baijat to test on IE.

Basically, clicking the 'backend / frontend host' should only open the collapsed section (not link to any other page), whereas clicking 'view/edit' buttons should show the corresponding page.

[2015-12-14 09:43] brylie commented on #633
@saralavanip, what version of IE are you using? What version of Windows?

[2015-12-14 09:45] brylie commented on #671
This may have been resolved when we merged the add/edit forms. I have not been able to reproduce this bug report on the `develop` branch, as of today.

[2015-12-14 10:11] kyyberi commented on #654
I can do it again if needed

[2015-12-14 10:28] elnzv commented on #654
@kyyberi, thanks.
We follow [gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) guidelines.
In order PR to merged, name it as *hotfix/fix-name-here* and create it to be merged into develop.

[2015-12-14 10:42] saralavanip commented on #633
@brylie ,  IE version 11  and Windows 10.

[2015-12-14 10:58] jykae opened #712 "Add API Backend form fields still wrong"
I added image from Apinf frontend and Umbrella, if this helps to understand issue on we have currently in the form. This should be fixed as soon as possible.

<img width="1036" alt="nayttokuva 2015-12-14 kello 12 46 58" src="https://cloud.githubusercontent.com/assets/293452/11779000/17100782-a261-11e5-8860-03abf568b12e.png">

<img width="1258" alt="nayttokuva 2015-12-14 kello 12 47 26" src="https:

[2015-12-14 11:02] saralavanip commented on #671
Verified this issue.

[2015-12-14 11:07] saralavanip commented on #634
verified.

[2015-12-14 11:07] #634 closed

[2015-12-14 11:10] saralavanip commented on #632
Verified.

[2015-12-14 11:10] #632 closed

[2015-12-14 13:38] brylie commented on #654
The primary ideas is that the PR should be made against `develop` instead of `master` :-)

We also recognize the difficulty with contributing, and do not want the process to obstruct your contribution. Please let us know if you have any difficulties.

[2015-12-14 13:38] #702 closed

[2015-12-14 13:40] brylie opened #713 "Make sure backend changes are sent to API Umbrella and auto published"
Changes to API Backends are not currently sent to API Umbrella. Make sure that API Backend changes in Apinf are sent to API Umbrella. Also, make sure API Umbrella changes are published.

There is a [working branch for this issue](https://github.com/apinf/api-umbrella-dashboard/tree/feature/publish-api-backend-on-update) (WIP).

Related to #620.

[2015-12-14 13:49] brylie commented on #713
If we separate the publishing step from the saving step this would have a couple of benefits:

* our 'Add API Backend' and 'Update API Backend' workflows would be more close to the API Umbrella process model
* our autoform 'insert' and 'update' callbacks wouldn't have to do so much -- this would simplify those functions
* end-users could then stage API Backend changes, as in API Umbrella

[2015-12-14 14:01] jykae commented on #641
@brylie Ok,  now I think everything in Definition of Done is done, as well as comments are improved. PR: https://github.com/apinf/api-umbrella-dashboard/pull/703

[2015-12-14 14:27] kyyberi commented on #654
Referencing to generic processes page (some of which do not concern) is a good start. Next needed step is to make an example with the context in place. That lowers the barrier.

[2015-12-15 09:16] brylie commented on #633
@elnzv suggested using prevent default on click event.

[2015-12-15 09:36] #602 closed

[2015-12-15 12:17] jykae opened #714 "Elasticsearch is trying to access loggedin user's "profile" property, which returns null"
Found a bug from the recent develop version, I am getting error from elasticSearch.js from line 22.

Exception while invoking method 'getChartData' TypeError: Cannot read property 'profile' of null
I20151215-14:02:54.605(2)?     at [object Object].Meteor.methods.getChartData (server/methods/elasticSearch.js:22:1)

[2015-12-15 12:48] brylie commented on #633
@elnzv has duplicated this bug. He has also agreed to fix the issue.

[2015-12-15 13:07] brylie commented on #654
Alright. This  has been resolved. I accidentally committed directly to our `develop` branch, so yep... :-)

[2015-12-15 16:21] jykae opened #718 "When sharing API link in Slack, returns i18n code in string."
Site "Subtitle" is returned like:

[code]

![screenshot](https://cloud.githubusercontent.com/assets/1927158/12675984/20b5baa2-c697-11e5-9849-c3ad9afe907e.png)
# Definition of done
- [ ] [`subtitle`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/_config.js#L8-L10) field/function has been removed from `/lib/_config/_config.js` (issue #786)
- [x] Site subtitle is retrieved

[2015-12-15 18:21] kyyberi commented on #654
:) Nice.

[2015-12-15 23:04] frenchbread commented on #684
#### Search functionality is implemented and works nicely.

Even though documents are returned, getting this error:
[code]

I've been trying to fix it by adding `waitOn` for subscription function to a `/search` route but it did not fix the error.

@brylie Any thoughts?

[`working-branch`](https://github.com/apinf/api-umbrella-dashboard/compare/feature/search-apis)

[2015-12-16 09:29] frenchbread commented on #685
Definition of done as well as implementation updates are provided in issue #684.

[`working-branch`](https://github.com/apinf/api-umbrella-dashboard/compare/feature/search-apis)

[2015-12-16 09:49] brylie commented on #684
@frenchbread it looks like [you return an empty object if there is not a search term](https://github.com/apinf/api-umbrella-dashboard/compare/feature/search-apis#diff-b7918c7dad6393e73ae3f4aa9237794eR3), which is not a cursor.

Check out the [Guide to Full Text Search in Meteor](https://www.okgrow.com/posts/guide-to-full-text-search-in-meteor) for a working implementation.

Make sure you are also

[2015-12-16 10:22] brylie commented on #654
Thanks for your feedback on our process. We will add brief instructions to our CONTRIBUTING.md, so that other contributors can quickly branch-commit-push-pr.

[2015-12-16 10:25] brylie opened #720 "Update CONTRIBUTING.md with brief Gitflow instructions"
Add a brief introduction to the contribution process, so that new contributors can easily follow our process. Include at least the following steps:

* branch -- from `develop`
* commit -- into own `feature/` branch
* push -- to origin
* pull request -- for review, making sure to base your PR on the `develop` branch

[2015-12-16 10:26] brylie commented on #718
@jykae what link did you share on Slack? What i18n code are you referencing in the config file? Which unused fields?

[2015-12-16 10:29] brylie commented on #718
I found code in our [/lib/_config/_config.js](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/_config.js#L5-L10) file that may be what @jykae mentions. @elnzv, will this be replaced as part of the branding PR/branch?

[2015-12-16 10:34] brylie commented on #714
@jykae please provide some steps to reproduce. Is this when you deploy? What is the context around this error?

[2015-12-16 10:35] frenchbread commented on #684
@brylie Thanks! That helped to fix the issue.

[2015-12-16 10:35] elnzv commented on #718
@brylie, no, it won't.
Potentially, we can move this config to Meteor.settings public section.

[2015-12-16 10:38] brylie commented on #714
@frenchbread is the [`chartsLayout` template](https://github.com/apinf/api-umbrella-dashboard/blob/develop/client/views/dashboard/charts/charts.js#L67 used in any routes where anonymous users can access? We may need to make sure the user is logged in before the `getChartsData` method is envoked, otherwise there needs to be a try catch around the [failing code](https://github.com/apinf/api-umbrella

[2015-12-16 10:40] frenchbread commented on #684
PR #719 created. Currently having `WIP` label on it.

I'm going to improve the visual design of search result returned on a page with @elnzv's help.

[2015-12-16 10:47] brylie commented on #718
OK, cool. This would be a good setting for the settings page.

I am still unsure why it is failing in the original bug report.

[2015-12-16 11:06] frenchbread commented on #714
If i'm recalling correctly, `chartsLayout` template is not used in any routes. It is used in a `dashboard` template only. (Did some some search for `chartsLayout` occurrences within the project folder).

Tested this issue locally by calling `Meteor.call("getChartData")` and got similar error:
[code]
Seems like when deploying, `getChartData` gets called for some reason.

Agreed that error handling

[2015-12-16 11:08] brylie commented on #480
@jykae, this issue description now indicates to test the SOAP API on **umbrella.apinf.io**. Please log in directly to API Umbrella and configure the SOAP API there.

[2015-12-16 11:09] #633 closed

[2015-12-16 11:43] brylie commented on #669
I have tried the upgrade process again, using the newly issued 0.10 package. The API Umbrella Web service fails to start, so the administrative interface is unavailable. I have followed up with Nick in the [same issue as above](https://github.com/NREL/api-umbrella/issues/200).

[2015-12-16 11:43] brylie commented on #654
Closing this issue, since the unit time has been added to the table header.

[2015-12-16 11:43] #654 closed

[2015-12-16 11:45] brylie commented on #709
This issue is related to the review process for @elnzv issue #327

[2015-12-16 12:00] brylie commented on #712
@jykae this was fixed in a [PR merged 1 day ago](https://github.com/apinf/api-umbrella-dashboard/pull/710).

[2015-12-16 12:00] #712 closed

[2015-12-16 12:08] brylie commented on #696
:+1:

[2015-12-16 12:55] elnzv commented on #669
@brylie, I was able to install version 0.8 and successfully upgrade to 0.10 locally.

[2015-12-16 13:04] brylie commented on #669
@elnzv will you please try to reproduce the steps on a **clone** of the umbrella.apinf.io VM?

@ccsr will you please re-clone the umbrella.apinf.io VM under the subdomain umbrella010.apinf.io and give @elnzv access?

[2015-12-16 13:17] ccsr commented on #669
@brylie Can I destroy the umbrella010 server which we created yesterday?

[2015-12-16 13:31] brylie commented on #669
@ccsr jep.

[2015-12-16 13:55] jykae commented on #480
@brylie umbrella.apinf.io is not working at the moment, I can't test it there.

[2015-12-16 14:07] brylie commented on #480
OK, what is the error with umbrella.apinf.io?

[2015-12-16 14:17] #641 closed

[2015-12-16 15:44] ccsr commented on #669
@elnzv and @brylie this is done. There is umbrella010.apinf.io server cloned and it seems that Illya already has sudo access to it. So @elnzv please use your credentials which are same for umbrella.apinf.io and log in.

[2015-12-16 15:56] kyyberi commented on #718
I took url from apika service for one api and pasted it to slack. This is the result

![image](https://cloud.githubusercontent.com/assets/1927158/11845811/3fede73c-a41e-11e5-82af-87fe9c0b9095.jpeg)

[2015-12-16 21:20] brylie commented on #718
This may be caused by the client side template rendering of Blaze. We will have to research how to perform search engine optimization and/or server side rendering of anonymous templates.

I am removing the Apika PoC label, as the Apika label is our general purpose label for Apika related tasks, while Apika PoC are the essential tasks agreed to in the minimum viable product document.

[2015-12-16 21:29] brylie commented on #718
I think this will be resolved by completing task 152. I labelled 152 as Apika, so that we can track its progress as part of the Apika initiative.

[2015-12-17 07:31] frenchbread commented on #714
Created a [hotfix](https://github.com/apinf/api-umbrella-dashboard/pull/721). Please review & test.

This should fix the problem now.

[2015-12-17 12:37] frenchbread commented on #684
Removed `WIP` label.

@apinf/developers please review.

[2015-12-17 12:50] jykae opened #723 "Redesign settings fields"
As admin user, I would like to add only settings fields that are necessary.

Could the Apinf "host" field be automatically get?
I would like only put Umbrella host URL & API key/token.
Could "baseUrl" and "Elasticsearch" fields be at least autofilled?

Continuation and suggestion to PR, https://github.com/apinf/api-umbrella-dashboard/pull/682

[2015-12-17 12:54] #658 closed

[2015-12-17 12:56] frenchbread commented on #74
While reviewing:

1. Is it possible to make a logo be located in the middle vertically? (Now it's aligned by the top edge) Otherwise provide a user with dimensions needed for logo image.

    <img width="300" alt="screen shot 2015-12-17 at 21 44 05" src="https://cloud.githubusercontent.com/assets/2122679/11870084/e99109e2-a507-11e5-8ec7-354d1638678f.png">

2. File extension is not checked, so I wa

[2015-12-17 13:30] #714 closed

[2015-12-17 13:31] brylie commented on #714
@frenchbread great work!

[2015-12-17 14:42] jykae commented on #480
Tested with Postman, works. Must understand the usage of the API first. With SOAP API the parameters are sent within XML data in request body. SOAPAction and Content-Type must be defined in the request header.

Example call using Umbrella: https://umbrella.apinf.io/getWeather/globalweather.asmx?api_key=xxx&op=GetWeather
[code]
Successful Result when using CityName: "Tampere" and CountryName: "Finl

[2015-12-17 14:50] jykae commented on #480
Umbrella is proxy and whatever type of API should work if it's configured correctly in Umbrella as long as we are calling over HTTP, using headers correctly and passing JSON or XML data. Umbrella forwards headers, params & data as is if we are not defining anything advanced mechanisms.

Understanding usage of the API is of course crucial, before user can use it with proxy.

[2015-12-17 14:55] jykae commented on #480
@bajiat @brylie @preriasusi Should I demonstrate this or is this enough information?

[2015-12-17 15:28] preriasusi commented on #480
Sounds like done to me. Enough.

[2015-12-17 22:36] brylie commented on #480
Great work @jykae :-)

[2015-12-18 11:03] brylie commented on #707
Yep. Did you complete this task? I cannot recall.

[2015-12-18 11:04] brylie commented on #692
Great suggestions. I am adding this and #691 to our upcoming sprint planning.

[2015-12-18 11:16] brylie commented on #652
Closing as duplicate of #713

[2015-12-18 11:16] #652 closed

[2015-12-20 10:38] brylie commented on #595
Sandstorm.io has a simple user profile, which is shown to new users automatically when signing up:

![screenshot-1_001](https://cloud.githubusercontent.com/assets/17307/11917585/6a927e80-a716-11e5-93fa-a64f31a1222c.png)

These fields, labels, and help texts would also be well suited tor our profile feature.

[2015-12-20 12:14] sbe commented on #595
Thanks for the suggestion. I am in the process of getting rid of the
quickfields and setting fine grained forms to implement the user profile.

[2015-12-21 09:07] bajiat commented on #480
Thanks for the research @jykae. Do you think it's possible to add the SOAP API using Apinf UI?

[2015-12-21 09:11] brylie commented on #595
We have no visibility into the progress of this task without code or comments on this task. Please keep your work in progress in a branch on Github.

[2015-12-21 11:30] bajiat commented on #685
To be closed. As @frenchbread commented, all progress can be seen from #684.

[2015-12-21 11:30] #685 closed

[2015-12-21 11:32] bajiat commented on #669
@elnzv Would you be able to take this task?

[2015-12-21 11:39] bajiat commented on #518
@frenchbread Would you be interested in this task? Brylie's rough estimate was 5-8 hours.

[2015-12-21 11:40] bajiat commented on #709
@jykae Would you be interested in this task?

[2015-12-21 11:42] bajiat commented on #687
@frenchbread Are you still interested? Might require a schema update so that we have a creation date for API backends.

[2015-12-21 11:46] bajiat commented on #472
![metadata model from Palveluväylä](https://cloud.githubusercontent.com/assets/1927158/11168086/e1ca8e9c-8b88-11e5-92cc-9e0e2c1352f0.png)

[2015-12-21 11:56] bajiat commented on #691
Let's continue using OneSky. The UI seems nice to use and easy to understand. Signup is not too complicated either (esp when compared to Transifex).

[2015-12-21 11:57] bajiat commented on #696
@jykae Would you be interested in this task?

[2015-12-21 12:11] bajiat commented on #628
Assigning to Brylie for completing the submission of API.

[2015-12-22 07:47] frenchbread commented on #687
Self-assigned.

Creation timestamp field for API backends should be already present in a schema.

[2015-12-22 07:49] frenchbread commented on #518
Self-assigned.

[2015-12-22 07:52] bajiat commented on #518
@frenchbread Can you also estimate? Or are you happy with the current estimate?

[2015-12-22 07:53] frenchbread commented on #518
@bajiat Current estimate is fine.

[2015-12-22 07:55] frenchbread commented on #707
@brylie If i'm correct it has been fixed & merged to `develop` branch.

[2015-12-22 09:45] sbe commented on #595
I have added the Meteor Avatar package but questions arise about how we will handle avatar uploads.

[2015-12-22 10:09] preriasusi opened #725 "Possibility to limit API access for example into get only"
As a API owner I want to limit developer access into get only, or even into certain gets only, when I add API into Apinf.

[2015-12-23 09:33] brylie commented on #595
Lets not focus on the Avatar functionality yet, it is optional.

The important part is the username. Without a username field, or at least 'full name' field, we cannot implement other features.

[2015-12-23 11:54] frenchbread commented on #707
Created a PR #726. Please review

[2015-12-23 13:38] #707 closed

[2015-12-24 06:41] kyyberi commented on #629
Stumbled upon this pretty good idea of providing for ways to get started. This could be under the title of frontpage
![screenshot from 2015-12-24 08 31 10](https://cloud.githubusercontent.com/assets/1927158/11990702/2a8498c6-aa1a-11e5-9431-5c4b39756ae8.png)

[2015-12-24 10:16] kyyberi commented on #629
Added also featured apps, which refers to application profile containing information of used APIs, description, links to shared Swagger specs etc, creator name and contact. IT's s show window for developers.

![listing-12-2015](https://cloud.githubusercontent.com/assets/1927158/11993322/26813c66-aa38-11e5-9611-225895b28f28.png)

[2015-12-24 11:40] frenchbread commented on #687
Created a PR #727 with `WIP` label.

The reason for `WIP` label is that since we do not have a redesigned version of a home page yet, there is no actual place where to put `latestApiBackends` template. For that reason I've added a temporary route `/latest` for testing.

Does it make sense to keep the PR in `WIP` until the new design is submitted? Or we can merge it now and do related integrations

[2015-12-29 09:12] bajiat commented on #480
Let's try adding a SOAP API using the Apinf UI and take screen captures of the process.

[2015-12-29 13:24] jykae commented on #696
Related and will be resolved here: https://github.com/apinf/api-umbrella-dashboard/pull/728

[2015-12-29 19:17] frenchbread commented on #74
Suggested changes and fixes are committed to #711.

[2015-12-29 22:25] brylie commented on #74
Great work @frenchbread. I have self-assigned to the PR, and will review tomorrow.

[2015-12-30 08:02] brylie commented on #595
@sebbel, can you take this task to require username for all users?

[2015-12-30 08:18] sebbel commented on #595
Would this also require setting a username on registration?

[2015-12-30 09:25] #631 closed

[2015-12-30 09:28] kyyberi commented on #720
Something like this would make it clear for all https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md#submitting-a-pull-request

[2015-12-30 11:41] jykae opened #729 "Force HTTP to HTTPS"
Find out how to force http traffic to https. How this is done in apinf.io?

My findings: https://www.ibm.com/developerworks/community/blogs/7cce3ca0-2e7b-4603-90c5-570b646f0dd7/entry/secure-meteor-production-environment-with-meteor-up?lang=en

Referring to the last section in the article: "If you want to enforce every request to be via HTTPS, simply add the Meteor package force-ssl​. With this pac

[2015-12-30 12:17] brylie opened #730 "Add 'Latest API Backends' view to front page"
Add the Latest API Backends template to the front page.

See the picture for wireframe:
![ux2](https://cloud.githubusercontent.com/assets/1927158/11991569/8de56f58-aa24-11e5-88b7-52f06ea280e3.png)

Related issue: #629

Definition of done
---
* [x] Landing page template includes the latest API backends template (refer to #687).
* [x] Latest API backends responsively adjusts to screen width.
* [x] L

[2015-12-30 12:45] bajiat commented on #688
@ashakunt Any updates on Apinf functional testing?

[2015-12-30 12:49] bajiat commented on #518
@frenchbread Any update on this task?

[2015-12-30 12:52] bajiat commented on #725
Is this an upstream requirement for API Umbrella?

[2015-12-30 12:56] bajiat commented on #713
It is ok to separate publishing from saving as long as users are aware of APIs are not being published when they are added or modified (i.e. saved) and if there is an easy access to publishing in Apinf UI (e.g. button in My managed APIs).

[2015-12-30 12:57] #628 closed

[2015-12-30 13:00] bajiat opened #731 "Enhance profile picture handling in user profile"
Currently, there is no method for users to set either a profile picture or an avatar in Apinf user profile. Or importing one from Github profile. Adding profile picture handling could be beneficial e.g. for communication channel.
## Definition of done
- [ ] There should be an option to add a profile picture.
- [ ] There should be a default picture for profiles that don't have a profile picture.

[2015-12-30 13:21] #696 closed

[2015-12-30 13:40] bajiat opened #732 "Design Save & Save and publish process for adding API backend"

[2015-12-30 13:43] bajiat opened #733 "Add help texts to Add API backend wizard"
Add API backend wizard does not contain the same help texts as Edit Api backend form. It would make sense to add them, particularly because backend and frontend host may be difficult to fill  without help.

Definition of done
---
* [x] User can view the help text for each form field from the question mark icon on the right side of each form.

[2015-12-30 15:20] #327 closed

[2015-12-30 15:27] jykae opened #734 ""Apinf host" field does not accept "http://localhost" as URL value in validation."
This is minor enhancement for settings page. Fix if it causes troubles.
"localhost" is valid when using settings.json file to start application.

[2015-12-30 17:47] brylie commented on #595
Yes, or at least having the user set their username shortly after registering. E.g. some of our users are registering via Github, so we may not get a username when they register.

[2015-12-30 17:49] brylie commented on #595
One proposed idea was to check whether a user has set a username before rendering a route. If they don't have a username set, then redirect to their profile page or prompt them to set a username.

[2015-12-31 09:23] jykae commented on #480
This seems to work from Apinf as well. Maybe I could take screenshots by using the latest simple Wizard form. Those fields are enough to add this.
Or using couple of header fields: "Content-Type" and "SOAPAction" with Advanced form could simplify the API call.

[2015-12-31 09:45] bajiat commented on #603
Closing, because Add API backend wizard does not ask for the host value.

[2015-12-31 09:45] #603 closed

[2015-12-31 09:49] bajiat opened #735 "Clean up code and URL related to advanced Add API backend form"
Currently, the Add API backend form allows users to add or edit API backend configurations. Since, we now have the Add API backend wizard, we want to disallow the usage of the advanced form for adding API backend. It will still be used for editing API backeds, in case there is a need for more advanced configurations.

[2015-12-31 09:54] bajiat commented on #595
@sebbel Hi Sebastian, just wanted to ask you whether you are willing to complete the task with the new definition of done? This is a high priority task for us, because it is blocking another task. It is ok not to do it, but if you want to complete it, it would be needed to be completed by next sprint (4 - 15 January). If you are not interested, we can also assign it to another team member. Thanks

[2015-12-31 09:57] frenchbread commented on #518
@bajiat Have not started this task yet. Taking it to the next sprint.

[2015-12-31 10:22] bajiat commented on #518
@frenchbread Thanks for the update! This is the highest priority task (mandatory) for next sprint.

[2015-12-31 10:25] #684 closed

[2015-12-31 10:26] jykae commented on #480
I had to remove one API backend from umbrella.apinf.io that caused everything to proxy to google.com. If user puts just "/" to frontend prefix, Umbrella seems to proxy everything to the defined API backend. This should be somehow prevented.

[2015-12-31 10:29] brylie opened #736 "When creating new Apinf user, save API Umbrella user ID as field on new user"
Apika users are not currently associated with their corresponding API Umbrella user. Add an API Umbrella User ID field to each Apinf user and save the API Umbrella user ID to that field when the user is created.

[2015-12-31 10:30] bajiat opened #737 "i18n file contains concatenated strings"
The i18n file contains strings that are parts of sentence.

The first rule of software internationalisation is never to use concatenated strings (Ui texts that are built from several parts). They can create localisation problems, because either the person translating does not know, which strings go together or translator cannot use natural word order for the entire sentence in target language, bec

[2015-12-31 10:32] brylie opened #738 "When syncing API Umbrella API Backends, ensure managers can edit own API Backends"
On a clean install, when syncing API Umbrella API Backends, existing Apinf users are not automatically associated with existing API Umbrella Backends. This is due to there being no common identifier between the systems.

Determine how to link existing API Umbrella API Backends to existing Apinf users, where the unique identifiers (e.g. email or ID) match. Also, ensure there are no 'orphaned' API B

[2015-12-31 10:42] jykae commented on #480
Step 1:
![soap1](https://cloud.githubusercontent.com/assets/293452/12063667/4eb315f0-afbb-11e5-9edd-2b03bc00d60c.png)
Step 2:
![soap2](https://cloud.githubusercontent.com/assets/293452/12063666/4eb2ca1e-afbb-11e5-96ae-13b55a11a4ea.png)
Step 3:
![soap3](https://cloud.githubusercontent.com/assets/293452/12063665/4eb2ae94-afbb-11e5-80ec-49ba6dba31e6.png)
Step 4:
![soap4](https://cloud.githubuserconte

[2015-12-31 10:43] jykae commented on #480
I used the latest develop version nightly.apinf.io.

[2015-12-31 10:48] frenchbread opened #739 "On a search page return emply object if search query is empty"
Currently, if search query on a search page is empty, all the API Backend documents are returned.

Create an exception for it and return empty object if search text value is empty.

[2015-12-31 12:18] brylie opened #740 "API Umbrella Backend ID not saved when submitting API Backend via wizard"
The API Backend Wizard savves the API Backend directly from the form. This means the returned API Backend object, from API Umbrella, is disgarded. Make sure to save the returned API Backend object, rather than the form submission, so that we get a reference to the API Umbrella Backend ID and other metadata.

[2015-12-31 12:24] brylie commented on #599
This may be due to downtime of Swagger Editor. We need to monitor the Swagger Editor service, and consider disabling the Documentation Editor feature if no Swagger Editor service is available.

[2015-12-31 12:26] brylie commented on #605
Closing, as duplicate of #522

[2015-12-31 12:27] #605 closed

[2015-12-31 12:30] brylie commented on #671
Re-opening, as this issue still affects the `update` form. Closing with upcoming PR.

[2015-12-31 12:31] #671 closed

[2015-12-31 12:32] #691 closed

[2015-12-31 13:16] brylie commented on #740
Closed via PR #741

[2015-12-31 13:18] sebbel commented on #595
I'd love to!
Just had a chat with @brylie:
- I will remove the avatar package
- I will focus on the user profile feature

I want to prompt users who do not have a username yet to enter a username
upon entering the profile site. maybe it would be better to include the
username in the registration.

[2015-12-31 13:23] #687 closed

[2015-12-31 13:41] brylie commented on #595
I have updated the task definition with a link to the router hook. Please also make sure to use the proper route of your choice.

[2015-12-31 13:44] brylie opened #742 "Fix subscription for latestApiBackends template"
PR #727 was merged with a global subscription. Update the `latestApiBackends` template to use a template level subscription.

Subscriptions should happen in the `Template.created` callback, rather than within template helpers. They should be attached to the template instance, rather than globally.

[code]

Please issue a hotfix pull-request for this subscription issue.

# References
* [Meteor Patt

[2015-12-31 13:45] brylie commented on #742
@frenchbread or @jykae would you please consider contributing this small hotfix?

[2015-12-31 15:39] frenchbread commented on #742
I'll take this one.

[2016-01-02 15:46] brylie opened #743 "Replace the apinf.host setting with a call to Meteor.absoluteUrl()"
Related to #709.
We currently have an unnecessary setting:

[code]

Remove this setting from the settings form, readme, and from within our code.

Definition of done
---
* [x] Any usage of `apinf.host` setting is replaced with `Meteor.absoluteUrl()`.

[2016-01-04 09:50] bajiat opened #744 "Create one automated test case"
Our code base currently has no automated unit or functional tests. If we can successfully create and execute one test case and run it against nightly deployment, we should be able to repeat it for remaining code base (or some portion of it).

Example test case:
* Check whether search box appears on search result page. (Should not appear).
* Optionally, test whether is appears on front page. (Shoul

[2016-01-04 10:53] sebbel commented on #743
I replaced the unnecessary setting in this branch.
https://github.com/apinf/api-umbrella-dashboard/tree/bugfix/743-apinf-host

[2016-01-04 11:54] bajiat commented on #480
Add the steps and screenshots for adding API and calling it here: https://github.com/apinf/docs/blob/master/docs/support/Adding-SOAP-API.md

[2016-01-04 12:04] kyyberi opened #746 "API profile"
Could be duplicate. Discoverability will be based on API profiles rather than API specs. Enable API profile which utilizes commonly used (or in context specific) vocabularies and taxonomies http://www.infoq.com/articles/description-discovery-profiles-primer

[2016-01-04 12:32] jykae commented on #480
Updated the support doc above. Closing.

[2016-01-04 12:32] #480 closed

[2016-01-04 13:01] jykae commented on #730
@bajiat @brylie Should this replace the current front page in APIKA?

[2016-01-04 13:03] kyyberi commented on #730
Not included in question, but in my world yes it should.

[2016-01-04 13:10] jykae commented on #730
@kyyberi Ok, thanks :) there's lots of stuff.. I think viewing the middle section "Uusimmat rajapinnat" engl. "Latest API backends" is basically the thing in this task at first.

[2016-01-04 13:11] brylie commented on #730
Not the whole front page. It is a partial template, so will be inserted into the existing front page. Specifically, you are working on the **Uusimmat rajapinnat** portion of a much larger rewrite task.

[2016-01-04 13:20] #713 closed

[2016-01-04 13:21] brylie commented on #730
Here is a starter template: http://startbootstrap.com/template-overviews/heroic-features/

Basically, we can move towards the whole page rewrite by taking a small step, and using the starter template to  display the latest API Backends.

Later, we can add more features and replace the current frontpage with the new work-in-progress page.

[2016-01-04 13:30] #740 closed

[2016-01-04 13:32] frenchbread commented on #730
You taking about the front page when user is not logged in, right? Otherwise user is redirected to the `/dashboard` page.

Also, would be good approach to have a `home page` for a logged in user with all the sweet templates like latest APIs,  search box, some other stuff (just like on the wireframe) which is kind of welcomes user. This way it is possible to have a bird-eye view on some of the cont

[2016-01-04 15:27] frenchbread commented on #742
Created PR #748. Please review.

[2016-01-04 15:35] jykae commented on #730
I started with something like this.

![latestapis_frontpage](https://cloud.githubusercontent.com/assets/293452/12093041/4eda2af4-b309-11e5-9de9-a2c5ad1c1b42.png)

[2016-01-04 15:56] frenchbread commented on #730
Looks good. It is how it's supposed to be, I guess.

[2016-01-04 16:27] kyyberi commented on #730
Looks like a good start!

[2016-01-04 16:34] kyyberi commented on #730
Under APIKA you are supposed to follow style guide. Under apinf as @jykae's example.

[2016-01-05 07:21] bajiat commented on #730
@kyyberi Can we discuss the style guide and front page for Apika on Friday?

[2016-01-05 09:10] bajiat commented on #595
@sebbel Any updates on this task?

[2016-01-05 09:51] kyyberi commented on #730
@bajiat sure we can.

[2016-01-05 11:19] jykae commented on #730
@brylie I think I have the requirements for this task now done. I will push the latest stuff to upstream in a moment. There's lot of "marketing speech" on this front page. Do I leave them after the latest Api listing or take away? Do we bring this to "apika_branding" branch OR take generic features to main development branch?

"apika_branding" is the branch where I will deploy to Apika.

@frenchbr

[2016-01-05 11:31] brylie commented on #730
@jykae you can make your pull request by comparing with the `develop` branch. We will have more work relating to the front page redesign, but for now lets just review your changes.

[2016-01-05 12:15] jykae commented on #730
@brylie Ok, https://github.com/apinf/api-umbrella-dashboard/pull/749

[2016-01-05 12:24] jykae commented on #669
@ccsr I need access to umbrella.apinf.io server to make the upgrade.

[2016-01-05 13:32] jykae commented on #673
This was fixed with this:

a.dynatable-sort-header:hover {
  color: darkblue;
  text-decoration: underline;
}
 I also added "display" class to table to fit it in the white area.

[2016-01-05 13:50] jykae commented on #673
Check PR, https://github.com/apinf/api-umbrella-dashboard/pull/750

[2016-01-05 14:28] #743 closed

[2016-01-05 15:11] #64 closed

[2016-01-05 17:11] sebbel commented on #595
I've learned that I am supposed to use the username field inside the User Collection. Currently trying to find a way on how to link the updates of both Schemas.

[2016-01-05 18:52] brylie commented on #595
@sebbel, pull in the recent changes from `develop`, as they greatly simplify the [code in the onCreateUser callback](https://github.com/apinf/api-umbrella-dashboard/blob/24742d02a4c8a7b7ff4b8cc1561a0eadb94b1d8d/server/accounts.js#L1-L49).

We may not need to work with any schemas for this task. The AccountsTemplates documentation has [instructions for adding a username field to the sign-up form](h

[2016-01-05 18:52] brylie commented on #595
@sebbel push your working branch to Github, open a pull request, and label it as **WIP**. We can review your code in process to offer advice.

[2016-01-05 20:57] sebbel commented on #595
I have pushed my working branch to github.
I managed to get this to work:
- Users without a username are redirected to /profile and prompted to Enter a username
- You can now also change your username on the profile page.

Current bugs:

- If chosing an already existant username, the usernameExists function is overridden and a "Mongo db duplicate key error" is shown to the user.
- had to remove th

[2016-01-05 21:26] sebbel commented on #595
I am considering to branch from the current develop and go the accounts
template route.

I don't think that we want users to be able to change their username
anytime. so forcing users to choose a username at registration seems
sufficient for solving this task.

[2016-01-06 10:15] brylie commented on #595
Good idea :-)

[2016-01-06 11:46] #742 closed

[2016-01-07 09:23] #673 closed

[2016-01-07 23:07] frenchbread commented on #518
Did some good progress so far:

- Created layout for backlog items
- Added form for adding new backlog items
- Priority label for each backlog item
- Remove backlog item functionality
- Sorting by priority & date added

Screenshot of backlog items list:
<img width="1433" alt="screen shot 2016-01-08 at 00 54 55" src="https://cloud.githubusercontent.com/assets/2122679/12185344/19fa496c-b5a3-11e5-89d

[2016-01-08 07:11] bajiat commented on #518
@frenchbread The entire backlog should be for one API backend. And consequently each item in that backlog for that particular API backend.

The purpose is to communicate what changes are planned to that particular API and the backlog is managed by the API manager.

(Did this answer your question?)

[2016-01-08 08:21] bajiat opened #753 "Method for switching UI language"
When translations in any other language than the source (English) have been imported, there is a need to add a method (button, link, menu) for switching the UI language.

# Definition of done
* [x] Language bar appears along top of page (styled in black in front-page US redesign mockup)
* [ ] Language bar contains options for existing translations
  * [ ] Options are retrieved via [`TAPi18n.getLan

[2016-01-08 08:31] bajiat opened #754 "Suggest / prefill frontend prefix for API backend"
When user is adding an API backend in the Add API backend wizard, the frontend prefix could be prefilled or suggested based on the API name given by the user (e.g. replacing spaces by hyphens). Benchmark JIRA for this.

[2016-01-08 10:14] brylie commented on #518
@frenchbread yes, each API Backend has its own backlog. I have updated the definition of done do include specific details about how to link the API Backlog and API Backend, as well as details about routing. My apologies for the omissions.

[2016-01-08 10:17] brylie commented on #518
Also note, the API Managers can only manage (add, update, delete) items in API Backlogs for their own API Backends. This can be done by comparing the apiBackend.managersId array to make sure it contains the API Manager user ID.

[2016-01-08 10:20] brylie commented on #518
Here is an example helper function you can use:

[code]

[2016-01-08 17:05] frenchbread commented on #518
@brylie @bajiat Thanks for info & updated def. of done. Now it's more clear.

[2016-01-11 09:13] brylie opened #755 "Enable translation for error message related to invalid Branding photo upload"
When a user uploads an invalid Branding photo, an error message is displayed via sAlert. The message needs to be translated, in order to be consistent with other UI text and localization efforts.

[2016-01-11 09:33] bajiat opened #756 "APIKA front page branding"
Re-brand the apinf.io front page for APIKA referring to KAPA styleguide.

This work may include
* changing the Apinf home layout in Apinf
* modifying the CSS for APIKA project in APIKA repository

Requested changes
---
* Add black bar at the top of page
* Add grey bar with current top of page texts
* Change the background image
* Style the Latest API backend boxes according to styleguide, if possi

[2016-01-11 11:21] jykae commented on #744
@frenchbread FYI nightly.apinf,io is using this approach https://sungwoncho.io/meteorjs-continuous-delivery/

Mocha & Velocity are used there.

[2016-01-11 11:23] jykae commented on #669
@elnzv Could you give me access to umbrella010.apinf.io ?

[2016-01-11 11:27] bajiat commented on #518
@frenchbread Any updates on this task?

[2016-01-11 12:01] brylie commented on #669
@jykae I have created a user for you. I can let you know the password in person.

[2016-01-11 12:50] jykae commented on #669
Got access and located error from logs, started discussion here: https://github.com/NREL/api-umbrella/issues/200

[2016-01-11 14:16] jykae commented on #669
I tried to follow up @ashakunt fix for this but "router" app didn't exist in "embedded/apps" folder. Also "embedded/bin" is significantly different and misses lots of binaries that exist in 0.8.

Changing "server_names_hash_bucket_size" in api-umbrella/etc/nginx/web.conf doesn't seem to be enough. It isn't changing, maybe overwritten somewhere. Restarted Umbrella couple of times.

[2016-01-11 14:57] brylie commented on #669
Alright, good work here @jykae. Please open an upstream issue with API Umbrella, if the your comments on the previous issue are not resolved :-)

[2016-01-11 15:37] frenchbread commented on #518
@bajiat Almost finished this one. Just need to add inline comments describing the code.

[2016-01-11 21:28] frenchbread commented on #518
Created PR #757. This is quite heavy one so I would suggest that couple of @apinf/developers review it.

For testing & playing with it, navigate to `view-api-backend` page.

Design implementation was not a part of this issue, so probably would need to create another one which is going to relate to #643.

[2016-01-12 07:33] bajiat opened #758 "Enhance usage instructions for API"
In the View API backend page, there is a "View usage instructions" button. Pressing the button opens the following instructions:

"Make API calls to:
[automatically filled request URL]

Note: you may need to use your API Key, found on your profile page."

Based on feedback through the APIKA support channel, there is a need to enhance these instructions.

Optimally, the instructions should include

[2016-01-12 09:10] bajiat commented on #622
@brylie Should we check the Edit API backend form that the data gets passed correctly?

[2016-01-12 10:27] brylie commented on #622
@bajiat jep. Specifically, we need to make sure the configuration object sent to API Umbrella conforms to the REST requirements:

[code]

[2016-01-12 10:29] brylie commented on #622
I think there are two possible candidate fields in the above configuration:

[code]

[2016-01-12 11:00] jykae opened #759 "Enable translation of SimpleSchema custom validation messages"
We are using SimpleSchema custom validation messages on our user profile form, and possibly other form(s). When trying to add i18n capabilities to the text strings, we get a server side error:

[code]

# Related issues
* There is an [issue filed with meteor SimpleSchema](https://github.com/aldeed/meteor-simple-schema/issues/534).
* tap:i18n has an [issue marked fixed](https://github.com/TAPevents/

[2016-01-12 11:16] jykae commented on #669
Opened a fresh issue: https://github.com/NREL/api-umbrella/issues/208

@brylie Should we put this to backlog?

[2016-01-12 11:17] brylie commented on #669
@jykae yep. We will continue this another sprint.

[2016-01-12 13:32] brylie commented on #472
Current work in progress:
![screen shot 2016-01-12 at 15 31 41](https://cloud.githubusercontent.com/assets/17307/12264779/a2c56a64-b941-11e5-9444-16d6f25c719c.png)

[2016-01-12 15:23] kyyberi commented on #622
"disable_api_key": true is more self explanatory

[2016-01-12 17:45] #730 closed

[2016-01-13 09:19] brylie opened #761 "Add boilerplate checklist for general 'definition of done'"
Issues have common definitions of done. Add a general 'definition of done' checklist to our repository. Make sure the definition of done checklist contains general principles such as:
- relevant internationalization tags are added
- code is linted prior to review
- approximately 50% of the lines of code are comments
- variable names and methods are semantic

[2016-01-13 09:21] brylie opened #762 "Add 'open PR when starting task' instruction to CONTRIBUTING.md"
In order to review work in progress, we have proposed that developers open a PR as soon as they start developing. The PR is then marked as 'work-in-progress' via the 'WIP' tag.

Add a description of the above workflow and reasoning to CONTRIBUTING.md

[2016-01-13 09:23] brylie opened #763 "Add link to Meteor Guide to contributing.md"
Our developers should start following conventions described in the Meteor Guide. In order to help developers discover the guide, we can add a link to our CONTRIBUTING.md.

[2016-01-13 09:27] brylie opened #764 "Enable translation of AutoForm/SimpleSchema labels"
There is a package that extends tap:i18n to allow SimpleSchema/AutoForm labels to be internationalized. Locate this package, and determine whether we should install it. If installed, add i18n strings to project schemas.

Definition of done
---
* [ ] Package enabling SimpleSchema/AutoForm labels is included in project.
* [ ] SimpleSchema/AutoForm label strings have been added to the schema (to be c

[2016-01-13 09:38] #74 closed

[2016-01-13 10:23] brylie commented on #622
Right, this is API Umbrella functionality though. So, we need to figure out which field(s) API Umbrella uses to control the API Key requirement.

[2016-01-13 10:24] brylie commented on #622
As @kyyberi indicates, lets test the `disable_api_key` first, and issue a fix if that is the correct setting.

[2016-01-13 11:18] #762 closed

[2016-01-13 11:48] brylie commented on #472
Current status:
![screen shot 2016-01-13 at 13 47 46](https://cloud.githubusercontent.com/assets/17307/12293448/4f47d334-b9fc-11e5-8fbb-374d9bb2789e.png)

[2016-01-13 12:04] jykae commented on #625
This was decided with @brylie that we put a field to the new Branding tab, that is available for administrators.

[2016-01-13 12:06] brylie commented on #472
Note, in Firefox, the date input renders as a plain text box. Other browsers, such as Chromium, render a date select widget. We can add a [polyfill](http://afarkas.github.io/webshim/demos/index.html#Forms-forms-ext) to our project that will [display a user-friendly date selection widget on date inputs](http://jsfiddle.net/trixta/BMEc9/).

[2016-01-13 15:13] jykae commented on #625
We took this a bit further with @brylie by pair programming and keeping sync with @elnzv  #756 :) We identified all needed branding elements, and added them to branding settings. We are making the generic structural changes, while @elnzv makes the styling just for APIKA. Continuing tomorrow.

[2016-01-14 09:05] bajiat commented on #518
@frenchbread Hi, have you had a chance to look at Brylie's feedback on the PR?

[2016-01-14 09:34] bajiat opened #765 "Testing workshop for 0.2 beta release"
Organize an internal testing workshop for 0.2 beta release prior to APIKA POC deployment.

[2016-01-14 09:44] bajiat opened #766 "Create a presentation for APIKA event"

[2016-01-14 09:45] bajiat opened #767 "Plan APIKA developer workshop"

[2016-01-14 09:49] bajiat commented on #625
@kyyberi Browser title bar can be only be changed through a config file for the time being. This is related to SEO package we are using. Needs to be investigated. Solution for APIKA: needs to be changed manually at deployment.

[2016-01-14 21:09] frenchbread commented on #518
@bajiat I am on it. After some refactoring & renaming was not able to run a project. Figuring out why stuff does not work..

[2016-01-15 08:16] brylie commented on #518
@frenchbread are you getting any errors?

[2016-01-15 08:19] brylie commented on #518
Try the basic stuff first, start with the foundation and work up to higher level things:

* reset Meteor
* rename the collection
* refactor the template
* try the collection helper

[2016-01-15 08:23] frenchbread commented on #518
@brylie Did not get any errors, backlog items were not able to load. Seems to be an issue with subscription/publication namings.

[2016-01-15 08:28] brylie commented on #518
OK, what are you naming the publication?

[2016-01-15 09:14] frenchbread commented on #518
@brylie It's `ApiBacklogItems`.

[2016-01-15 10:58] brylie opened #768 "Enable translation for apiBackend form hints"
The advanced API Backend form has inline help, called form hints. The form hints file is located in `client/views/api_backends/form_hints`. Ensure that the form hints can be translated.

[2016-01-15 11:34] brylie commented on #518
@frenchbread is the branch working now? I can present at the review meeting.

[2016-01-15 11:57] frenchbread commented on #518
@brylie yes, it works.

[2016-01-15 12:48] brylie opened #769 "Fix bug with initial branding and skin helper"
`develop`is currently crashing due to a logical error in the `skin`helper. Fix this error. Also consider inserting an initial document into the Branding collection on Meteor.startup.

[2016-01-15 14:07] brylie commented on #472
As part of the metadata task, I am adding a metadata section to the "view API Backend" page. On the way to this goal, I re-architected the `viewApiBackend` template to follow the component model described in the Meteor Guide and added a tabbed navigation along top:

![screen shot 2016-01-15 at 16 03 16](https://cloud.githubusercontent.com/assets/17307/12354907/da067b28-bba1-11e5-87e8-92f14fa33611.

[2016-01-15 14:10] brylie commented on #472
@frenchbread please be aware of the tabbed navigation interface while working on your API Backlog feature. You can see my working code in the feature/api-metadata branch.

[2016-01-16 21:26] frenchbread commented on #472
@brylie Looks good.

Should not affect "backlog feature" functionality since its current navigation is an additional button before "View Usage Instructions" button .

:bulb:  Or I can remove it and you add tab "Backlog" with link to `api/:id/backlog` with empty content for now?

Also I think that each of this tabs should have its own route.

[2016-01-17 08:24] brylie commented on #472
@frenchbread for consistency, the Backlog will be another tab on the navigation menu. E.g.

* [Details]
* [Metadata]
* [Feedback]
* [Backlog]
* [Export]

[2016-01-17 14:54] frenchbread commented on #472
@brylie Yeah, that's what I meant. What about tabs having its own routes? (this could be different issue)

[2016-01-17 14:59] brylie commented on #472
Bootstrap Tabs use hash routes (e.g. /api/:id#backlog) by default. At least how I chose to add them.

[2016-01-18 09:30] brylie commented on #625
@elnzv statud update? In what branch is your work-in-progress?

[2016-01-18 09:35] brylie commented on #625
Note, the language switching bar is related to task #653. Essentially, we need links on the language bar to trigger a tap:i18n method when clicked. E.g. clicking on "Finnish" will trigger the tap:i18n method `TAPi18n.setLanguage("fi");`

[2016-01-18 09:41] brylie commented on #753
@elnzv, will you please take this issue as part of your branding work? I have added a description of done and link to the tap:i18n API docs for reference.

[2016-01-18 09:42] jykae commented on #625
@elnzv I will continue on this one, please let me know if there's anything that would clash on development.

[2016-01-18 09:45] brylie commented on #625
@jykae will you please work on the cover photo and social media input?

[2016-01-18 09:53] brylie commented on #625
@jykae , I have added more ideas in the definition of done (regarding the social media and cover photo fields). Feel free to deviate from that definition of done, but please at least consider trying it to save yourself some time and trouble.

[2016-01-18 10:09] jykae commented on #625
@brylie yep, working on social media accounts and cover photo first. My progress is in branch "feature/625-site-title-branding" as the name of this task was different at first.

[2016-01-18 10:12] brylie commented on #625
You rock! Also, I am adding some example code for you to consider in the "definition of done" section. Right now, there is an example of the following:

* schema definition
* UI social media list

[2016-01-18 10:14] jykae commented on #625
Thanks, noticed :+1:

[2016-01-19 00:52] frenchbread commented on #744
Created PR #772 under `WIP` label but can be reviewed already.

Two test cases:
* Check that `header-search-form` is missing on a `/search` page.
* Check that `header-search-form` exists on a `/catalogue` page. (Testing `/catalogue` page here, because for others there is a need to authenticate a test user, to be able to see content of other pages like `/dashboard` for example.)

Even though, "sear

[2016-01-19 09:26] brylie commented on #744
Can you use any `onLoad` or `ready` check here? E.g. [`jQuery.ready()`](https://api.jquery.com/ready/)?

[2016-01-19 09:29] brylie commented on #744
Also, Telescope uses an [explicit template render function](https://github.com/TelescopeJS/Telescope/blob/master/tests/jasmine/client/unit/navSpec.js#L15-L20). E.g. they make sure to render() the template inside each test case.

[2016-01-19 09:46] #769 closed

[2016-01-19 09:59] frenchbread commented on #744
Thanks.

[2016-01-19 09:59] frenchbread commented on #744
Works now.

[2016-01-19 10:06] #625 closed

[2016-01-19 10:07] brylie opened #774 "Merge CoverPhoto and ProjectLogo to use shared collection"
Currently, we have separate collections for CoverPhoto and ProjectLogo. Determine how to merge the collections into a single collection, e.g. BrandingImages.

[2016-01-19 10:12] frenchbread commented on #744
@brylie Wondering how to "hide" testing window while running on production. Does it require Travis CI setting for it? As @jykae suggested, this should do the thing:
[code]
Or we can use separate branch specifically for testing.

[2016-01-19 10:12] brylie commented on #744
I think testing is automatically disabled in production deployments.

[2016-01-19 10:13] frenchbread commented on #744
Ok, cool then. Please review this PR.

[2016-01-19 12:13] jykae commented on #774
@brylie Putting this back to backlog, not that easy and important right now.

[2016-01-19 12:53] brylie commented on #472
Metadata UI and forms for insert/update are working. Fields and metadata panels conditionally display on metadata tab.

[2016-01-19 12:57] #472 closed

[2016-01-19 12:57] brylie commented on #472
I would like to add the access control checks as an enhancement feature, so that we can merge this PR.

[2016-01-19 12:59] brylie opened #775 "Ensure that only API Backend Managers and Administrators can modify API Metadata"
Currently, any user can modify any API Backend metadata record. Make sure that only authorized persons can modify metadata for API Backends:
* Administrators - all metadata
* Managers - metadata for managed APIs

[2016-01-19 13:00] #759 closed

[2016-01-19 13:02] brylie commented on #522
Fixed with PR #760 (issue #472)

[2016-01-19 13:02] brylie commented on #759
Fixed with PR #760 (issue #472) by moving localization files into `/lib/i18n` to control load order.

[2016-01-19 13:02] #522 closed

[2016-01-19 13:03] brylie commented on #595
Closed by PR #752

[2016-01-19 13:03] #595 closed

[2016-01-20 08:37] brylie commented on #518
@frenchbread please focus on finalizing this branch today. The testing task is lower priority.

[2016-01-20 09:58] saralavanip commented on #602
Verified this resolved issue on develop version.

[2016-01-20 10:31] brylie commented on #692
@jykae is currently importing the translations from OneSky. There is some restructuring necessary, so that the file is compatible with our i18n framework. This likely stems from the comments in the original en.i18n.js, so we will need to remove comments as part of this task (as already suggested).

[2016-01-20 10:37] #775 closed

[2016-01-20 10:41] saralavanip commented on #758
Verified on latest develop version.
Still have issue while calling API. Usage instructions could be more explanatory, providing URL that includes user API key.

Reported bugs:
https://github.com/apinf/api-umbrella-dashboard/issues/606
https://github.com/apinf/api-umbrella-dashboard/issues/758

[2016-01-20 10:49] saralavanip commented on #603
Verified on latest develop version.

[2016-01-20 11:00] saralavanip commented on #671
Verified.

[2016-01-20 12:26] jykae commented on #692
@brylie PR #778 Fixes hyphens to underscores and adds Finnish translations from OneSky.

[2016-01-20 12:26] brylie opened #779 "Add i18n tags to API Backend Metadata template"
The Metadata template, in the View API Backend page, does not have i18n tags around all texts. Add i18n tags to remaining texts.

[2016-01-20 12:34] saralavanip opened #780 "Error while editing API Backend"
# Steps
1. Visit https://apinf.io
2. Sign in
3. Select 'API Backends' from menu
4. Add API Backend
5. Go to 'Manage API backends'
6. Click on 'Edit' button
7. Go to Servers field and edit 'Host'
8. Click on 'Submit' button

Actual Result: API Backend was successfully published
Expected Result: User  has to be notified to edit backend host in  'Host' field as well.
# Operating System
1. Linux : Ubu

[2016-01-20 12:35] saralavanip commented on #673
Verified on latest develop version.

[2016-01-20 12:37] saralavanip commented on #605
Verified this resolved issue on latest develop version.

[2016-01-20 13:00] tuukka commented on #606
Based on the screenshot, this issue seems to be caused by using `key` instead of `api_key`.

[2016-01-20 14:37] jykae commented on #669
Update:
@GUI has answered to the issue above, the place for quick fix is the same I traced, but didn't want to touch that before I verify that.

Fix for this will be included in the release 0.11

[2016-01-20 14:45] jykae commented on #692
Validated with JSONLint.

![validjson](https://cloud.githubusercontent.com/assets/293452/12452032/16bb8dc8-bf95-11e5-9e55-0b6a20cfff88.png)

[2016-01-21 08:16] #518 closed

[2016-01-21 13:14] jykae commented on #753
Finnish translations added yesterday, switching language works, but when page is refreshed language is switched back to English. @brylie Maybe I need template helper to make it persist? I try to track this.

Note: This language switching was added yesterday only to "feature/apika-branding-front-page" branch. I think we should have it in "develop" as well.

[2016-01-21 13:20] frenchbread commented on #753
@jykae What about keeping current language state in a session variable or cookies (local storage)?

[2016-01-21 13:37] jykae opened #781 ""Edit API Settings" button should not show for unauthorized users"
Steps to reproduce:
1) In the dashboard click sidebar "Catalogue"
2) Click any "View Details" -button
3) Click "Edit API Settings"

[2016-01-21 13:42] jykae commented on #781
@brylie Are you able to fix this one?

[2016-01-21 14:23] jykae commented on #753
@frenchbread Hmm, session variable might be a good idea.
Anyway, the current language must be saved somehow in the client to persist between the page refreshes.

[2016-01-22 08:45] brylie commented on #753
@jykae [open a support request with tap:i18n](https://github.com/TAPevents/tap-i18n/issues). Page refresh is not common in our app, so this edge case need not block us from resolving this task.

[2016-01-22 08:48] brylie commented on #781
That is behaving as expected. When the user is not authorized to edit the API Backend, they get that message.

We need to prevent the "Edit API Backend Settings" from showing to unauthorized users, similarly to the other tabs such as Metadata.

[2016-01-22 14:58] #756 closed

[2016-01-22 15:24] brylie opened #785 "Data table headers on dashboard render two translations when changing language"
When viewing the dashboard (Analytics) and changing the language, the data table headers show translations for both languages. Determine why the initial language translation is not removed.

[2016-01-22 15:26] brylie opened #786 "Cleanup _config file to remove unused parameters; deprecate if possible"
The [`/lib/_config/_config.js`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/_config.js) file contains unused properties. Remove unnecessary properties and the whole file if possible.

[2016-01-22 15:27] brylie opened #787 "Determine how to set the site title tag dynamically from the settings collection"
For SEO, the site title is currently configured from a variable set in [`/lib/_config/_config.js`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/_config.js). Determine how to set the site SEO settings from the Settings collection, rather than hard-coding them into a file.

[2016-01-22 19:10] kyyberi opened #788 "Github sign in freeze"
I tried to login with Github account after 0.2 release and it freezes after succesful auth from Github
![screenshot from 2016-01-22 21 09 38](https://cloud.githubusercontent.com/assets/1927158/12520328/96e0d3b0-c14c-11e5-8fa2-8d7a60738003.png)

[2016-01-24 09:41] jykae commented on #788
This relates to issue https://github.com/apinf/api-umbrella-dashboard/issues/729

@kyyberi Use "https://" in the front of URL for now, User session doesn't seem to be same between 80 and 443 ports. Forcing SSL would solve this. Github login expects "https".
We are sorry for the inconvenience

@brylie Let's check this on Monday.

[2016-01-24 09:50] kyyberi commented on #788
Ah. Fix might be that apika forces all http connections to use https. That way user does not get confused.

[2016-01-24 09:55] kyyberi opened #789 "Text overflow in left menu"
After login, the texts in left side menu overflow

![screenshot from 2016-01-24 11 54 11](https://cloud.githubusercontent.com/assets/1927158/12535603/5a03abc0-c291-11e5-8651-ab6f501a47c5.png)

[2016-01-24 10:10] kyyberi commented on #630
Perhaps the model should also include API repository information. What I'm after is linking "backlog" to Github Issue list of open issues. That would be great for admin and for API consumers too. It might encourage to contribute.

The process would need:
* repo url in API profile (given by admin)
* authorized connection to read and write to Github via API (connection management by API owner)
* abi

[2016-01-24 10:11] kyyberi opened #790 "Link API backlog list to Github issue list"
What I'm after is linking "backlog" to Github Issue list of open issues. That would be great for admin and for API consumers too. It might encourage to contribute.

The process would need:
* repo url in API profile (given by admin)
* authorized connection to read and write to Github via API (connection management by API owner)
* ability to close above connection
* ability to change repo
* admin co

[2016-01-24 13:32] kyyberi commented on #790
A  bit like waffle.io but not with that much features

[2016-01-25 07:56] brylie commented on #732
Parent issue: #620

[2016-01-25 07:58] brylie commented on #630
Closing, since basic API Metadata feature is implemented and we have an open issue for linking Github issues to backlog.

[2016-01-25 07:59] #630 closed

[2016-01-25 07:59] #720 closed

[2016-01-25 08:19] bajiat commented on #780
This is a design decision at API Umbrella level. There can be several servers for one API backend. Hence, it is not a bug, but there could be room for UX enhancement.

[2016-01-25 08:24] #781 closed

[2016-01-25 08:24] #765 closed

[2016-01-25 08:25] bajiat commented on #753
Partially blocked by #785.

[2016-01-25 08:34] #692 closed

[2016-01-25 08:45] bajiat commented on #768
@elnzv Can you take this task?

[2016-01-25 08:46] bajiat commented on #758
@frenchbread Will you take this task? Brylie can give you some guidance, if needed.

[2016-01-25 08:48] bajiat commented on #709
@apinf/developers Who wants to volunteer for this task?

[2016-01-25 08:52] bajiat commented on #789
Allowing word boundary wrapping would fix the issue.

[2016-01-25 08:54] bajiat commented on #789
@elnzv Can you take this task?

[2016-01-25 08:57] bajiat commented on #774
@frenchbread Can you take this task, since you are familiar with FS collection?

[2016-01-25 09:06] brylie commented on #744
@frenchbread lets try running our tests using [Intern](https://theintern.github.io/). We can still use the Jasmine TDD language, so you might not have to re-write your tests.

[2016-01-25 09:21] brylie commented on #744
Also, I reorganized the tests and simplified the code. Both tests now work in Velocity, so we can stick with Velocity for the time being.

[2016-01-25 10:05] jykae commented on #729
Steps:
* Added "force-ssl" package to project
* Tested first on development
* mup deploy to apika-staging server

Does not require SSL on the development, on the production with MUP forces SSL if user tries to access http path. Works as it promises.

I will put this to APIKA, to fix #788
@brylie  can decide if we want this package to main product

[2016-01-25 11:01] jykae commented on #788
@kyyberi Now apika.digipalvelutehdas.fi forces HTTPS.

[2016-01-25 11:02] jykae commented on #729
apika.digipalvelutehdas.fi forces now HTTPS.

[2016-01-25 11:11] jykae commented on #729
Couple of links for reminder how to setup SSL without extra step to configure nginx in the front of Meteor application:
https://github.com/arunoda/meteor-up#ssl-support
http://alexnj.com/blog/configuring-a-positivessl-certificate-with-stud

[2016-01-25 11:17] brylie commented on #729
@jykae lets use it in our project as well.

[2016-01-25 11:20] brylie commented on #785
On a first glance at this task, the dashboard code may need significant refactoring in order to refresh the table when language changes. I.e. the TAPi18n.getLanguage() method is reactive, meaning that it can be used to trigger template autorun() events. However, the dashboard template only renders the charts on created(), and the chart rendering function is not designed to allow the table to be re

[2016-01-25 11:22] jykae opened #791 "Openstreetmap insecure content over HTTPS"
Openstreetmap loads content over http, as it would be nicer to control it to load over HTTPS when we are using HTTPS everywhere.

Reference: http://gis.stackexchange.com/questions/83953/openlayer-maps-issue-with-ssl

![mixedcontent_apika](https://cloud.githubusercontent.com/assets/293452/12549443/f5ee8dbe-c365-11e5-9256-b700e3ccbb17.png)

[2016-01-25 12:27] brylie opened #792 "Add apiDocumentationEditor.host setting to settings page"
The API Documentation Editor feature currently expects the host to be set via Meteor.settings. However, the host setting is not documented, nor is it displayed on the /settings page. Add the API Documentation Editor host setting to the documentation and settings UI.

# Definition of done
* [ ] example.settings.json contains an example of the `public.apiDocumentationEditor.host` setting
* [ ] The `

[2016-01-25 12:37] sebbel opened #793 "Not Authorized when trying to access /settings"
Current develop branch.

1. Start the application
2. Sign up for an account
3. Login with created account
4. Trying to access /settings

You are not authorized to access this page. Please ensure you are logged in.

[2016-01-25 13:53] frenchbread commented on #774
@bajiat Ok.

[2016-01-25 13:55] frenchbread commented on #758
@bajiat Self-assigned

[2016-01-25 14:12] frenchbread commented on #744
**Intern** looks good by the way. Wondering if it has meteor package (was not able to find it so far), but we can end up adding regular `.js` files to the project.

It makes sense to switch because **Velocity** eats a lot of resources and **Intern** seems like can give access to the `Meteor` object, what we were not able to achieve when using **Velocity**.

[Good reference](https://gist.github.com

[2016-01-25 14:17] brylie commented on #744
OK, cool. Maybe we can try Intern this sprint. If it is too difficult, your Velocity tests can be merged into develop.

[2016-01-25 14:49] frenchbread commented on #790
Sound like a good idea!

[2016-01-25 15:10] sebbel commented on #793
fixed after a talk with @frenchbread on gitter.im
I was not using the first created user, thus I didn't have admin powers.

[2016-01-25 15:10] #793 closed

[2016-01-25 15:22] sebbel commented on #792
I would like to take this task.

[2016-01-25 15:26] bajiat commented on #792
@sebbel Thanks for volunteering! I will assign the task for you.

[2016-01-25 15:28] sebbel commented on #792
Thanks  @bajiat :+1:

[2016-01-25 18:16] kyyberi opened #795 "Generate documentation from Swagger 2.0 spec file"
# user story
As API admin I would like to provide API swagger 2.0 spec file (either upload or point file URL) and let service generate documentation in API -management.

# tools available
https://github.com/swagger-api/swagger-codegen/blob/master/bin/html-petstore.sh

[2016-01-26 03:50] kyyberi commented on #788
Great!

[2016-01-26 03:50] #788 closed

[2016-01-26 04:23] jykae commented on #729
@brylie Ok, I put PR

[2016-01-26 04:55] jykae commented on #753
We might need to use localStorage in Meteor, http://info.meteor.com/blog/session-cookies Meteor user session uses localStorage as well, which is kind of weird compared to other frameworks.

[2016-01-26 05:38] sebbel commented on #753
what do you mean by 'weird'?

[2016-01-26 08:23] preriasusi opened #797 "As a API owner I want to be able to indicate my API service level"
As API owner I want to be able to tell to developers if my API in catalog and front page is still under development, and I can't guarantee production level uptime.

Also I want to be indicate if my API is in production and under SLA

[2016-01-26 09:17] bajiat commented on #729
@jykae What is the number of the PR?

[2016-01-26 09:27] jykae opened #798 "Uncaught exception from Swagger viewer in APIKA"
* Uncaught exception from Swagger viewer in apika.digipalvelutehdas.fi
![swagger-viewer](https://cloud.githubusercontent.com/assets/293452/12576767/a38bbc04-c41e-11e5-9c00-23163a7bf21c.png)

Exception comes from "both/collections/apiDocs.js"
Maybe data context issue as we are using "this" quite confidently.

Definition of done
---
* [ ] Error handling exists in both/collections/apiDocs.js
* [ ] Th

[2016-01-26 09:32] elnzv opened #799 "Edit API template doesn't render"
Got this in console while editing API. After page refresh template doesn't render.
Went to:
1. Catalogue
2. View Details
3. Edit API Settings
4. Updated the page

[code]

[2016-01-26 09:40] brylie opened #800 "Swagger UI is using Apinf base url, but should be using API Umbrella base url"
When rendering a Swagger file in the Swagger UI, the host string is overridden. The value of the new host string is gathered from the Apinf absolute URL. However, the value should be set to the API Umbrella base URL, since API Umbrella is actually proxying the requests.

[2016-01-26 10:05] brylie commented on #753
I think using localStorage allows for large session objects to be stored, perhaps compared with cookies.

[2016-01-26 10:06] brylie commented on #753
See [Why Meteor doesn't use session cookies](http://info.meteor.com/blog/session-cookies) for further info.

[2016-01-26 10:08] jykae commented on #798
Exception comes from "both/collections/apiDocs.js"
Maybe data context issue as we are using "this" quite confidently.

[2016-01-26 10:12] saralavanip commented on #679
Verfiied

[2016-01-27 08:27] frenchbread commented on #758
PR #801.
Looks like:
<img width="1079" alt="screen shot 2016-01-27 at 10 27 25" src="https://cloud.githubusercontent.com/assets/2122679/12607836/99c234f6-c4e0-11e5-89be-114f6eac08ec.png">

[2016-01-27 08:29] #758 closed

[2016-01-27 08:44] #729 closed

[2016-01-27 09:09] bajiat opened #802 "Check i18n tags for Add API backend wizard"
Currently, the Add API backend wizard is only partially translated. Only the tips / hints below the form are in Finnish, while the tabs, header, form fields and buttons are in English. Check whether this is due to missing i18n tags or whether it is a question of missing translations.

![untranslated](https://cloud.githubusercontent.com/assets/11626388/12610876/b8a2ea34-c4f2-11e5-8a5c-6ce347d49be9.

[2016-01-27 11:24] brylie opened #803 "Allow navigation from Add API Backend wizard header"
The Add API Backend wizard shows the steps in the header area of the template. Currently, the steps do not allow users to navigate backwards when clicking. Adding backward navigation capabilities to the steps in the header may improve usability.

![navigation wizard steps](https://cloud.githubusercontent.com/assets/4495160/12611998/7f96d6e4-c522-11e5-866e-3194906955b8.png)

[2016-01-27 12:34] bajiat commented on #803
+1

[2016-01-27 13:55] brylie commented on #803
This should be possible using the [`{{ pathForStep stepId }}` helper](https://github.com/forwarder/meteor-wizard/issues/62#issuecomment-175634836).

[2016-01-28 10:24] saralavanip commented on #606
I have added APIs and Call API successfully with the URL including API key:

 https://umbrella.apinf.io/ [frontend-prefix] /?api_key=MY_API_KEY)

eg: https//https://umbrella.apinf.io/test_weather_forecast/api_key=olOxVkeksNFUX8wgtwharNkS1rYS75zhO9Dtbpxs

[2016-01-28 10:34] #606 closed

[2016-01-29 09:26] #768 closed

[2016-01-29 09:28] brylie commented on #787
It turns out that we can set the site title when the template is rendered. That way we have access to the settings collection, etc.  We can also set the page title from within layouts, but individual templates may be easier to maintain, since the layout title code may clash with individual templates.

[2016-01-29 09:53] elnzv commented on #709
Checked. That have already been done.
See this commit:
https://github.com/apinf/api-umbrella-dashboard/commit/bd3e1e71e213186b4ec77ca937565694939a2269

@apinf/developers, please confirm and close this issue.

[2016-01-29 09:57] #789 closed

[2016-01-29 10:14] brylie commented on #709
OK, go ahead and close.

[2016-01-29 10:18] #709 closed

[2016-01-29 10:21] brylie opened #808 "Add email configuration to UI; update configuration file"
The file `/lib/_config/emails.js` contains several configuration options used by our system when sending emails. Make sure the relevant settings are exposed via the settings UI, and remove the references to the global `Config` object.

In effect, refactor our email settings so that it is more concise, and remove any unused configuration code.

Specifically of note:
- `siteName` ([line 5](https://g

[2016-01-29 10:27] elnzv commented on #718
Tested. Everything works as expected.
@kyyberi, please confirm.

[2016-01-29 10:45] brylie commented on #718
@elnzv on what branch did you test?

[2016-01-29 10:47] elnzv commented on #718
I took apinf.io link to test.

On Fri, 29 Jan 2016, 12:45 Brylie Christopher Oxley <
notifications@github.com> wrote:

--

Illya Nizyev ~ www.nzv.nz

[2016-01-29 10:48] brylie opened #809 "Deprecate SEO package in favor of Meteor-Dochead"
We are currently using the [Meteor SEO](https://github.com/DerMambo/ms-seo) package in several places within our project. Determine whether it would be fruitful to deprecate the Meteor SEO package in favor of [Meteor Dochead](https://github.com/kadirahq/meteor-dochead). If so, remove usage of Meteor SEO, including configuration file(s).

Specific file(s) include:
* `/lib/_config/.seo.js` - sets th

[2016-01-29 10:53] sebbel commented on #808
Would `siteName` and `Accounts.emailTemplates.siteName` ever be different?

[2016-01-29 10:54] brylie commented on #718
OK, great! I wonder what has changed, so that it works now. There is only [one file in our codebase where the site title and description are set](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/seo.js#L6-L7).

[2016-01-29 10:55] brylie commented on #718
I have [opened an issue](https://github.com/apinf/api-umbrella-dashboard/issues/809) to consider deprecating the SEO package, or at least set page titles from within individual page template rendered() callbacks.

[2016-01-29 10:57] brylie opened #810 "Set page title from within template created() callbacks"
The site `title` and `description` metadata are currently only set once, globally. Identify routes that would benefit from unique page titles. Set the page title for identified routes from within the `Template.rendered()` callback.

[2016-01-29 10:58] brylie commented on #718
@jykae and/or @kyyberi is it alright that we close this issue?

[2016-01-29 11:01] brylie commented on #808
They should be the same. We need to determine how the `siteName` value is used, as part of this task. My understanding is that `siteName` might be used by PrettyEmail while `Accounts.emailTemplates.siteName` is used for Meteor Accounts emails.

[2016-01-29 11:02] brylie commented on #808
Would you like to take this task @sebbel?

[2016-01-29 11:05] sebbel commented on #808
Yea, I can take it.

Am Freitag, 29. Januar 2016 schrieb Brylie Christopher Oxley :

[2016-01-29 11:07] brylie commented on #808
@elnzv can you recall if we are using the PrettyEmail package for any purpose? E.g. is it used for our account confirmation emails or the contact form?

[2016-01-29 11:08] brylie commented on #808
Thanks @sebbel!

[2016-01-29 11:18] bajiat opened #811 "Add missing Finnish translations"
Localize all missing Finnish translations, identified in https://github.com/apinf/api-umbrella-dashboard/wiki/Unlocalised-UI-texts. Localize also any UI texts added after the UI audit. This may be blocked by #965 (missing i18n tags)
## Definition of done
- [ ] Export all UI texts to localisation tool
- [ ] Translate the missing UI texts into Finnish
- [ ] Have the texts proofread by another native

[2016-01-29 11:40] #766 closed

[2016-01-29 11:40] #767 closed

[2016-01-29 12:40] brylie commented on #774
Try storing a reference to the file ID in the relevant collections. E.gm Branding.logoId. Use a file upload widget that returns the File ID, so that it can be added as a foreign key reference to the relevant document

[2016-01-29 12:41] brylie commented on #774
I.e.

Branding.logoId -》Files._id

[2016-01-29 12:47] kyyberi commented on #718
I get the same from apika. Did not test with apinf

![screenshot from 2016-01-29 14 46 19](https://cloud.githubusercontent.com/assets/1927158/12675985/20c111ae-c697-11e5-9ce4-75c3c06945bf.png)
![screenshot from 2016-01-29 14 45 53](https://cloud.githubusercontent.com/assets/1927158/12675984/20b5baa2-c697-11e5-9849-c3ad9afe907e.png)

[2016-01-29 13:01] brylie commented on #774
I have opened a [support request](https://github.com/yogiben/meteor-autoform-file/issues/89) on the meteor-autoform-file repository, to see if we can get some example code demonstrating how to store the File ID in the Branding collection. If this approach does not work, I recommend deprecating the `meteor-autoform-file` package in favour of [aldeed:meteor-cfs-collection](https://github.com/aldeed/

[2016-01-29 13:04] brylie commented on #774
If we use **aldeed:meteor-cfs-collection** package, the schema will be changed to look like this:

[code]

[2016-01-29 13:07] brylie commented on #774
One caveat with the **aldeed:meteor-cfs-collection** package is that we *may* need to figure out how to show a file upload progress indicator. We may be able to do so with the [cfs-ui](https://github.com/CollectionFS/Meteor-cfs-ui) package.

[2016-01-29 13:09] #792 closed

[2016-01-29 13:18] bajiat commented on #629
Closing, the most relevant front page modifications were implemented in #756 and have been deployed to Apika.

[2016-01-29 13:18] #629 closed

[2016-01-29 13:19] brylie commented on #718
OK, we are taking this task up in the next sprint, most likely.

[2016-01-29 13:19] bajiat commented on #578
Closing, since links have been removed.

[2016-01-29 13:21] #643 closed

[2016-01-29 13:21] bajiat commented on #643
Duplicate of #664, closing.

[2016-01-29 13:25] bajiat opened #812 "Add year 2016 to Dashboard filter drop down menu"
The drop down menu for year in the Filter section of dashboard only contains years 2014 and 2015 (hardcoded). Add 2016 as a quick fix before we start re-designing the dashboard. May need to be added to queries as well.

Definition of done
---
* [x] User can select year 2016 from the year filter in dashboard.
* [x] The dashboard data is updated to contain only records from 2016 when year 2016 is se

[2016-01-29 13:31] bajiat opened #813 "Mixed content over SSL in general"
Browser Error:

[code]

APIKA uses HTTPS everywhere.
Used site is not available HTTPS.

Suggestion:
* Provide example Swagger file within Apinf project by uploading Petstore file to public files folder.
* Tell Swagger UI to render local Swagger example file, so that it comes from same origin.

[2016-01-29 13:37] bajiat commented on #808
@sebbel Thanks for volunteering again, assigned the task to you.

[2016-01-29 13:45] brylie opened #814 "Allow site 'default language' to be configured from Settings page, or remove from config"
Currently, the site default language is stored in `/lib/_config/_config.js`. Enable the default language to be configured from the Settings page.

* [ ] Move this setting to the [Settings collection](https://github.com/apinf/api-umbrella-dashboard/blob/develop/both/collections/settings.js#L3).
* [ ] Ensure the [default language is set from the Settings collection](https://github.com/apinf/api-umbr

[2016-01-29 13:59] bajiat opened #815 "Enhance API usage instructions"
Improve the API usage instructions on View API backend page.
* There should be two alternatives for instructions:
  * User is logged in: current instructions, but remove the last sentence "Note: you may need to use your API Key, found on your profile page."
  * User is not logged in: Have a call example without API key. Instruct the users to log in.
* Add error checking for user not logged in to s

[2016-01-29 14:00] brylie opened #816 "Allow 'date format' to be defined from user locale"
Currently, the site default date format is stored in `/lib/_config/_config.js`. Enable the date format to be configured from the Settings page.

* [x] Ensure the [date format is set from the user locale within `/lib/utils.js`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/utils.js#L5).
* [x] Remove the [`defaultLanguage` key from `/lib/_config/_config.js`](https://github.com/api

[2016-01-29 14:15] brylie opened #817 "Add fields within Config.legal to Branding"
Currently, the file `/lib/_config/_config.js` contains a [`legal` field](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/_config.js#L26-L30) with several sub-fields. Enable the legal information to be stored in the Branding collection.
# Definition of done
- [ ] Add the `legal` field/subfields to the [Branding collection](https://github.com/apinf/api-umbrella-dashboard/blo

[2016-01-29 14:21] brylie opened #818 "Use Branding social media fields inside email templates; or deprecate"
Currently, the email configuration settings use social media links that are defined from Config.socialMedia. We allow users to configure social media links via the branding page, so the Config.socialMedia settings are no longer relevant. Deprecate the `Config.socialMedia` object and use the Branding collection instead.

# Definition of done
* [ ] Remove the [`socialMedia` field from `/lib/_config/

[2016-01-29 14:25] brylie opened #819 "Determine if PrettyEmail package is in use; deprecate if not needed"
We may be using the [PrettyEmail](https://github.com/yogiben/meteor-pretty-email) for account related emails and other system emails. If so, leave it in place. Otherwise remove the package and [configuration code](https://github.com/apinf/api-umbrella-dashboard/blob/develop/lib/_config/emails.js#L11-L21) from our project.

[2016-01-29 14:41] #786 closed

[2016-01-29 14:43] frenchbread commented on #815
I'd like to take it.

[2016-01-31 04:26] kyyberi commented on #795
Add the link to Swagger spec in API metadata.

[2016-02-01 04:25] kyyberi opened #820 "Publish low hanging fruits in apinf.io frontpage"
It might be a good idea to pull list of low hanging fruits topics with links to frontpage to spread the word about contributing possibilities.

Bold move would be to add "Are you a developer?" section just like there is "Are you an API user?" Under that put 5 latest LHFs and more info. Acts as call for contributions :) I know there is info about Github and all in the bottom of the page. In product

[2016-02-01 04:38] kyyberi opened #821 "Backend pairs should not be visible to other than admin"
Just came to my mind that IMHO backend pairs in API profile view should not be visible to other than admins. Why? We want developers to use proxy not the API directly. Developers do not need backend information. It might even confuse them.

[2016-02-01 07:37] #787 closed

[2016-02-01 07:37] #664 closed

[2016-02-01 08:40] #753 closed

[2016-02-01 09:20] brylie opened #822 "Tweet about 'low hanging fruit' issues in project backlog"
Create a new tweet inviting people to take a 'low hanging fruit' issue from our backlog:

https://github.com/apinf/api-umbrella-dashboard/issues?q=is%3Aopen+is%3Aissue+label%3A%22low+hanging+fruit%22

[2016-02-01 11:27] jykae opened #824 "Latest APIs row renders wrong with title that has more than one line"
Find out way to fix this with CSS if possible.

![latestapis](https://cloud.githubusercontent.com/assets/293452/12716170/4d924a16-c8e7-11e5-814c-0edf50b266e4.png)

[2016-02-01 11:33] brylie commented on #824
Possible approaches:
* [Bootstrap equal height panels with flexbox](http://www.bootply.com/7UhIWMK808)

[2016-02-01 11:59] brylie commented on #764
On reading through the AutoForm i18n package, it appears that the translation introduces nesting to our i18n.json. E.g. in en.i18n.json:

[code]

Nested objects in the i18n.json may be incompatible with OneSky. I have opened a support request with OneSky, for further clarification.

[2016-02-01 12:09] sebbel commented on #808
I would like to give this issue back as I have no time to work on it this week.

[2016-02-01 12:25] brylie opened #826 "Exception in 'apiDocumentationEditorIsEnabled' in sidebar.js"
In the master layout, sidebar.js contains a logical error that causes an exception when settings are not present. Specifically, the funciton tries to return `settings.apiDocumentationEditor.enabled` when `settings` may not be available. Change the function to resemble the following:

[code]

[2016-02-01 13:03] brylie commented on #774
@frenchbread I was able to resolve this issue. I have opened a PR for review.

[2016-02-01 13:35] jykae commented on #803
Issue using pathForStep helper, https://github.com/forwarder/meteor-wizard/issues/72

Did not work as expected.

[2016-02-01 13:47] #826 closed

[2016-02-01 15:32] jykae commented on #676
This is quite challenging.
We would need to put all charts in chartsGroup or chartRegistry, to call filterAll/redrawAll functions. This is badly documented, and might be a bug in the library as well.

[2016-02-01 18:43] frenchbread commented on #676
As an alternative, we can pass the "initial" analytics data (that is loaded when page loads for the first time) to the charts. Probably make another `Meteor.call('getChartData')` or `instance.getDashboardData()`

[2016-02-01 23:09] frenchbread commented on #815
PR #832.

[2016-02-01 23:24] frenchbread commented on #815
Looks like:
 - User is not authorized
<img width="1179" alt="screen shot 2016-02-02 at 01 22 18" src="https://cloud.githubusercontent.com/assets/2122679/12734831/a16951e8-c94b-11e5-83b6-308a437c54c9.png">
 - User is authorized
<img width="1171" alt="screen shot 2016-02-02 at 01 23 03" src="https://cloud.githubusercontent.com/assets/2122679/12734836/a7cf6b1c-c94b-11e5-8a57-69302fdbdaa9.png">

[2016-02-01 23:26] frenchbread commented on #774
@brylie Thanks for help with this one. I'll review it tomorrow.

[2016-02-02 06:48] preriasusi opened #833 "Possibility to call APIs without API Key"
API owners allow direct calls to APIs, and also would like to allow it with Apinf.

Currently if API calls are made without to Apinf returns an errot of API key missing.

One idea (Quick fix/hack) would be to to allow API owner to create default API Key (Apinf account), where all the call will be directed if calls come without API Key.

[2016-02-02 08:23] bajiat commented on #792
@sebbel Thanks for the good work! If I understood correctly, your code can also be used as a template for other optional settings.

[2016-02-02 08:43] jykae commented on #676
@frenchbread I looked that yesterday afternoon, but did not know what data I should pass to 'getDashboardData()' function. Thanks for good alternative :)

[2016-02-02 08:59] jykae commented on #676
Hmm, do we need to do everything that is inside "Template.chartsLayout.rendered" in charts.js ? To reset map also.. I'll try first to reset the charts.

[2016-02-02 09:19] brylie commented on #774
@frenchbread and @jykae this PR adds backwards incompatible changes to the codebase. I am not sure how we can enable a migration step for this code, as it removes the collection files altogether. I am open to suggestions.

[2016-02-02 09:44] #815 closed

[2016-02-02 09:55] #733 closed

[2016-02-02 09:55] #812 closed

[2016-02-02 10:01] brylie opened #834 "Improve layout of View API Backend display sections"
The "View API Backend" template can use a bit of attention to detail. Specifically, the "Servers" panel can be extended to fill the remaining row columns. Fix the "Servers" layout, and look for any other minor fixes that can be added to the "View API Backend" display tabs.

[2016-02-02 10:03] brylie opened #835 "esData-notFound when changing dashboard year filter"
When changing the dashboard year filter, the translation key "esData-notFound" is displayed instead of translation text. Note: This may be a duplicate issue, but I am adding it to make sure we can track it in case it hasn't already been added.

[2016-02-02 10:49] frenchbread commented on #774
@brylie How about dropping it? Since there are a lot of "sample" API backends, we can get rid of them and probably restore the rest.

[2016-02-02 11:13] brylie commented on #774
@frenchbread this PR only includes Branding related files. Specifically, the cover photo and logo. It should not affect the API Catalogue or other API backend related features.

[2016-02-02 11:23] frenchbread commented on #774
@brylie I see. Then I guess it should not be a problem to restore files manually, unless we want to write a script that will migrate binary data.

[2016-02-02 11:43] jykae opened #836 "Update nightly.apinf.io configurations to use SSL"
### Problem
"force-ssl" package now forces to https, and mup configuration was not updated after that.

### Solution
"nightly.apinf.io" TravisCI mup deployment needs configuration update to use SSL.
SSL Certificate needed.
* Let's Encrypt would be good option for nightly: https://letsencrypt.readthedocs.org/en/latest/using.html

### Required information
* What kind of certificate we have in "apinf

[2016-02-02 12:07] brylie commented on #764
I am having a bit of trouble understanding how to translate nested field labels. I have [commented in an existing issue](https://github.com/gwendall/meteor-autoform-i18n/issues/4), as well as reading through the [example documentation](https://github.com/sriguet/meteor-autoform-i18n/blob/patch-1/README.md#advanced-example-with-array).

[2016-02-02 12:26] frenchbread opened #838 "On "/status" page translation keys are shown instead of the actual text"
Change:
- statusCheck_Title
- statusCheck_Updated
- statusCheck_JustNow

[2016-02-02 12:55] frenchbread commented on #676
I've tried to make a custom reset button:
[code]
All instance functions are available from `chats.js`. But I faced a problem here - `instance.renderCharts(data){ }` function is "hardcoded" for `data` object that comes almost directly from elastic search. That's why we probably need to refactor `charts.js` before working on this issue.

[2016-02-02 13:02] frenchbread commented on #676
@jykae Did not see your update on this issue. Tested it, works for me. :+1:

[2016-02-02 13:30] brylie opened #839 "Standardize settings page panels' 'enable' fields"
The settings page panels have a mix of enable fields. Standardize the layout of the fields. Also ensure that the sub-field requirements are dynamically set when enabling the field.

[2016-02-02 13:54] jykae opened #840 "Database migrations package needed for the project"
Benchmark migrations packages with some simple case.

Options:
Percolate migrations: https://github.com/percolatestudio/meteor-migrations
Wekan migrations: https://github.com/idmontie/meteor-migrations

Related issue: https://github.com/apinf/api-umbrella-dashboard/issues/774
PR: https://github.com/apinf/api-umbrella-dashboard/pull/829

[2016-02-02 14:03] jykae commented on #803
Got useful link how to use Wizard with Iron Router, https://github.com/forwarder/meteor-wizard#using-routers-

[2016-02-02 23:24] frenchbread commented on #800
@brylie Well, actually Swagger UI does not use Apinf's base URL, instead it uses API Umbrella base URL:
[code]
And seems that request is proxying through API Umbrella.

The only think that uses Apinf's absolute path is the input field inside Swagger UI iframe, that is used to grab the swagger `*.json` file.

[2016-02-02 23:28] frenchbread opened #841 "API Documentation select box is not shown on documentation page"
1. Add new API Backend
2. Go to Edit API Backend page & upload new swagger documentation file
3. Go to `/documentation`
4. Select box for API documentation selection is not shown.

[2016-02-02 23:38] frenchbread commented on #841
Faced this issue locally. Was able to resolve it on my end, but this issue is still present at apinf.io

I droped `ApiDocs` collection and added API backend with new documentation file again. Then I was able to see the select box on Documentation page.

Reason is that template helper `{{document.getApiBackendName}}` fails while trying to find API Backend with has been removed.

Possible solution:

[2016-02-03 07:22] preriasusi opened #842 "Swagger support in APIKA fails API calls"
Steps:

Add Swagger JSON for API.

Go to documentation.

Go to view documentation.

Choose documentation, in this case ePerusteet.

Open 'api/arviointiasteikot'-

"Try it out!"

Expected result:
Request url set as:
https://umbrella.digipalvelutehdas.fi/eperusteet-service/api/arviointiasteikot?api_key=zzzzzzzzzzzzzzz

Real result:

https://apika.digipalvelutehdas.fi/eperusteet-service/api/arviointi

[2016-02-03 10:46] #676 closed

[2016-02-03 10:54] brylie commented on #800
OK.

@bajiat do you recall the source of this bug report?

[2016-02-03 11:01] #803 closed

[2016-02-03 11:06] jykae commented on #669
Umbrella  0.11 has been released.
Trying again to umbrella010.apinf.io I purge the installation and try fresh.

[2016-02-03 11:28] jykae commented on #669
Umbrella 0.11 installation went smoothly to umbrella010.apinf.io
Umbrella service starts much faster than 0.8 version.

[2016-02-03 11:37] jykae commented on #669
@ccsr @brylie In order to upgrade umbrella.apinf.io to version 0.11, I would need access rights to the server.

[2016-02-03 11:49] jykae commented on #836
@bajiat If it's ok I could take this one to get nightly up again.

[2016-02-03 11:57] jykae commented on #836
Trying SSL certificate generation for nightly with Mozilla's Let's Encrypt

[2016-02-03 11:58] ashakunt commented on #836
(y)
Getting this up and running will support latest testing as well.

[2016-02-03 11:59] ashakunt commented on #836
@saralavanip you might want to get updated with progress here so that you know when nightly is up and running back again.

[2016-02-03 12:38] jykae commented on #836
Wow, pretty awesome for generating and authenticating SSL certificate.
Just generated signed SSL certificate with Let's Encrypt first time :)

Command used:
[code]

[2016-02-03 12:41] ashakunt commented on #836
and @jykae that is a green certificate?

[2016-02-03 12:44] jykae commented on #836
@ashakunt What you mean with green? Standalone option uses simple webserver for authenticating certificate with CA. Hopefully it works, configuring mup to use this new certificate.

[2016-02-03 12:45] ashakunt commented on #836
I meant, a green padlock; and not the error messages that the certificate is a self signed + other bs.. I just now looked into its website and its sounds wonderful

[2016-02-03 12:47] jykae commented on #836
@ashakunt ok. Yep, a bit too good to be true :D

[2016-02-03 13:44] bajiat commented on #688
Blocked by #836, i.e. nightly being down.

[2016-02-03 14:22] jykae commented on #836
nightly.apinf.io up again using new SSL certificate. Build successful with TravisCI.

![nightlycert](https://cloud.githubusercontent.com/assets/293452/12784839/36e27258-ca92-11e5-80dd-c4efcc45abae.png)

[2016-02-03 14:24] jykae commented on #836
Configurations updated with PR https://github.com/apinf/api-umbrella-dashboard/pull/843

[2016-02-03 14:26] #836 closed

[2016-02-03 14:28] jykae commented on #688
@bajiat @saralavanip nightly.apinf.io up again.

[2016-02-03 21:13] frenchbread commented on #744
I've managed to fire up unit testing with intern. Working branch: [`feature/theintern-automated-testing`](https://github.com/apinf/api-umbrella-dashboard/tree/feature/theintern-automated-testing)

Since intern is an npm package, it requires manual installation. (`npm i intern`)
#### Folder structure
[code]

#### Run tests
**Unit:**
[code]
**Functional:**
[code]

[2016-02-03 21:19] frenchbread commented on #744
When starting up `intern-runner` it throws an error:
[code]
As noted [here](https://github.com/theintern/intern-tutorial#step-5-everything-all-together), its needed to provide username & access key but even with them I get the same error.

@brylie Any ideas?

[2016-02-04 07:03] bajiat commented on #688
@jykae Thanks for fixing the nightly!

[2016-02-04 07:50] #779 closed

[2016-02-04 08:06] brylie commented on #744
We probably don't need to configure a tunnel at this point. E.g. it should be possible to run the tests locally, without tunneling to any remote service.

[2016-02-04 08:06] elnzv commented on #737
There is a blocking issue with links.
Can't get those to .json files. They don't work from there. Things like ```<br>``` or ```<strong>``` are working, but not ```<a href="#">link</a>```.

Created related issue on i18n repo - https://github.com/TAPevents/tap-i18n/issues/142

[2016-02-04 08:07] brylie commented on #744
Are you able to run the tests locally?

[2016-02-04 08:08] brylie commented on #744
Check the [running tests](https://theintern.github.io/intern/#browser-client) documentation for several ways to run the tests locally.

[2016-02-04 09:19] frenchbread commented on #744
@brylie I was able to run sample tests only. Gotta figure out how to redirect to other pages..

[2016-02-04 09:23] brylie commented on #744
Ah, OK. Well, good progress though :-)

[2016-02-04 09:24] brylie commented on #744
It might be a matter of [calling `get(url)`](https://theintern.github.io/leadfoot/Session.html#get).

[2016-02-04 09:32] jykae commented on #669
Requested clone from @ccsr  of umbrella.apinf.io to try out upgrade from 0.8 to 0.11

[2016-02-04 10:27] frenchbread commented on #744
@brylie Yeah, that's what I tried.
As in this example:
[code]
... method `get(require.toUrl(url))` is attached to `this` instance. And `this` returned `null` value. For that reason I thought that I have to run it through `intern-runner`.

Seems like `get(url)` is different approach, will try it.

[2016-02-04 11:17] jykae commented on #798
This is pretty hard to track because I cannot reproduce issue in local development.
Added checks though.

[2016-02-04 11:28] brylie commented on #798
Where is the collection helper `getApiBackendName` used in our project?

[2016-02-04 11:38] frenchbread commented on #798
@brylie [Here](https://github.com/apinf/api-umbrella-dashboard/blob/develop/both/collections/apiDocs.js#L13)

[2016-02-04 11:40] frenchbread commented on #798
Issue #841 is related to this one

[2016-02-04 11:40] brylie commented on #798
@frenchbread thanks. We were actually looking for where it was being used, not defined. That was the confusion.

[2016-02-04 11:41] frenchbread commented on #798
@brylie Ah, it's used in template helper - select box on Swagger UI page ([here](https://github.com/apinf/api-umbrella-dashboard/blob/3a7a79686741d3ff68d9f3695e53a3cab1470b2a/client/views/documentation/select/select.html#L7))

[2016-02-04 11:42] brylie commented on #798
The [template file select.html had a logical error](https://github.com/apinf/api-umbrella-dashboard/blob/feature/remove-default-language/client/views/documentation/select/select.html#L6-L7).  Even when no `apiDocumentation` is available it tries to call the `getApiBackendName` helper. So, we need a check around that code.

[2016-02-04 11:48] brylie commented on #799
I cannot duplicate this error. In step 4, what did you do to update the page?

[2016-02-04 11:51] brylie commented on #799
I have done the following to try and reproduce:
1. log in as administrative user
2. go to Catalog
3. view API Backend
4. click Edit
5. make a change to API Backend (title)
6. click update
7. notice that the changes were successful on Apinf
8. verify the changes on umbrella.apinf.io

[2016-02-04 14:05] jykae opened #846 "Swagger "Try it out" request is incorrect"
The request sent to Umbrella is incorrect, should be "https" and include user's "api_key"

![petstore](https://cloud.githubusercontent.com/assets/293452/12817077/d0425b7c-cb58-11e5-9678-07446200947c.png)

[2016-02-04 15:01] jykae commented on #846
Previous was done in local development environment.

On the nightly.apinf.io result looks like this and swagger UI hangs on the loading state. API key is added to the Umbrella request, but browser doesn't accept it because it isn't "https". With "iframe" protocol checks are pretty strict.

![petstorebugs](https://cloud.githubusercontent.com/assets/293452/12818658/6db359c2-cb60-11e5-9a41-da2f84b334

[2016-02-05 07:51] #764 closed

[2016-02-05 09:22] bajiat opened #847 "Research alternatives to Swagger UI"
The current Swagger UI implementation is causing strange behavior. Look for alternatives to using the Swagger UI in iFrame. Document the alternatives.

Study the Swagger UI features and document them. For each feature, look for potential alternatives and document them.

Swagger UI provides at least the following features:
- **documentation viewer** - render a Swagger file with a pleasing user inte

[2016-02-05 09:30] bajiat opened #848 "Separate API Umbrella instances for apinf.io and nightly.apinf.io"
If the same API Umbrella instance is used for both, testing data and test apis are ending up in apinf.io (incl. front page and Latest APIs).

[2016-02-05 10:04] brylie opened #849 "Use 'manager' role to toggle visibility of 'My Managed APIs' link in sidebar; cleanup subscription"
Currently, we are using a [`userHasApis`](https://github.com/apinf/api-umbrella-dashboard/blob/develop/client/layouts/master_layout/sidebar/sidebar.js#L2) template helper to toggle visibility of the 'My Managed APIs' link in the master layout sidebar. The helper [performs a database query](https://github.com/apinf/api-umbrella-dashboard/blob/develop/client/layouts/master_layout/sidebar/sidebar.js#

[2016-02-05 12:48] #814 closed

[2016-02-05 13:03] jykae commented on #813
@elnzv How are you proceeding with this one?
The Swagger mixed content is closely related to #846 I could do that if you are figuring out the SSL mixed content in general. Just want to make sure that we are not conflicting.

[2016-02-05 13:07] frenchbread commented on #744
Getting `TypeError: Cannot read property 'get' of null`..

[2016-02-05 13:08] frenchbread commented on #744
`this` instance is undefined inside testing function

[2016-02-05 20:06] saralavanip opened #851 "Record selection and 'Reset all' in Filter redirects to homepage in IE browser"
Operating System: Windows 10
Browser: Internet Explorer 11

Steps:

1. Open internet explorer and visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Make API Calls
5. Go to dashboard to view analytics
6. Go to 'Overview chart' and select few records
7. Click on 'Reset all' in filter

Result: 'Reset all' in filter redirects to homepage

[2016-02-05 20:54] saralavanip opened #852 "Service validation period not shown in 'Metadata' view"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Go to Manage API Backends
5. Click on 'View' button
6. Go to Metadata and click on 'Edit API Metadata'
7. Enter the following details:
   -  Organization: Name and Description
   -  Contact: Email id and phone number
   -  Service: Name, Description, Validation period and Service level Agreement
8. Click on 'Submit' button
#

[2016-02-05 21:07] saralavanip opened #853 "Input data handling error for service validation period"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Go to Manage API Backends
5. Click on 'View' button
6. Go to Metadata and click on 'Edit API Metadata'
7. Enter the following details:
   -  Organization: Name and Description
   -  Contact: Email id and phone number
   -  Service: Name, Description
8. Enter invalid  data for validation period (eg: abc...xyz, 11111....22222)

[2016-02-05 21:34] saralavanip opened #854 "Calendar view missing for service validation period fields"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Go to Manage API Backends
5. Click on 'View' button
6. Go to Metadata and click on 'Edit API Metadata'
7. Enter the following details:
   -  Organization: Name and Description
   -  Contact: Email id and phone number
   -  Service: Name, Description,Validation period
# Findings

Calendar view missing for validation period fie

[2016-02-05 22:39] saralavanip opened #855 "Invalid Contact data accepted"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Go to Manage API Backends
5. Click on 'View' button
6. Go to Metadata and click on 'Edit API Metadata'
7. Enter the organization details
8. Enter contact details:
   - Enter name
   - Enter invalid phone number (abcd...xyz)
   - Enter invalid email id (eg: 1111...222)
9. Click on 'Submit' button
# Findings

 Invalid Contact d

[2016-02-05 23:38] saralavanip opened #856 "Add backlog item error"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Go to Manage API Backends
5. Click on 'View' button
6. Go to 'Backlog'
7. Click on 'Add backlog item'
8. Enter the details below:
     -  Title
     -  Priority
     -  Backlog item details
9. Click on 'Add backlog item'

# Findings
- Incomplete default text shown for 'Priority' drop down menu
- Time stamp shows text 'in a fe

[2016-02-05 23:56] saralavanip opened #857 "Mouse point on text fields shows text 'Edit'"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Go to Manage API Backends
5. Click on 'View' button
6. Go to 'Backlog'
7. Add backlog item
8. Click on 'Edit' button

# Findings
Mouse point on text fields, 'update' button and  pushdown button under 'Priority' shows  text 'Edit'.

# Operating Systems
1. Linux : Ubuntu 14.04.03 LTS (Trusty)
2. Windows 10

# Browsers
1. Intern

[2016-02-07 20:48] frenchbread commented on #785
After dyno-table initialisation the initial column header text gets wrapper around anchor link (to be able to trigger sorting events)

**Before init (page source):**
[code]
**After init:**
[code]

For that reason, when `TAPi18n.setLanguage("fi")` is called, the initial `<th>`'s text is forced to be changed. However, since text value gets replaced, the translated text is appended to the "old" locat

[2016-02-08 06:34] elnzv commented on #813
@jykae, I have also changed http to https in this commit - https://github.com/apinf/api-umbrella-dashboard/commit/f80df659c0d1ceb555b5320dc657c2d6499d9a84

[2016-02-08 08:52] brylie commented on #744
Try saving `this` as a named variable, outside of the test function.

[2016-02-08 08:56] #846 closed

[2016-02-08 08:57] brylie commented on #785
How can we re-render the dynatable?

[2016-02-08 10:19] jykae commented on #857
@saralavanip Operating system and browser info would be good to have in these bug reports.

[2016-02-08 11:03] saralavanip commented on #857
@jykae , please find the Operating system and browser details added to bug reports.

[2016-02-08 11:15] jykae commented on #849
@brylie I cannot find a way how we could do this without making query to ApiBackends.

[2016-02-08 11:18] brylie commented on #849
@jykae when the user adds an API Backend, use the autoform `onSuccess` hook to also add the user to the `manager` role.

In the migration script, get a list of all user IDs stored in `apiBackend.managerIds` arrays and add the users to the `manager` role.

[2016-02-08 11:19] brylie commented on #849
See the [alanning:roles documentation](https://github.com/alanning/meteor-roles/blob/master/README.md).

[2016-02-08 11:23] brylie commented on #849
E.g.

[code]

[2016-02-08 11:26] jykae commented on #849
Ok, thanks. I will try this approach.

[2016-02-08 11:39] brylie commented on #854
By default, browsers handle the calendar widget in different ways. For example, chrome displays the small drop-down menu on the far right side of the date field.

I am filing this as an enhancement, since we have not chosen how to handle date field input and are simply relying on browser date field implementations.

[2016-02-08 12:00] preriasusi commented on #800
I wrote how Swagger calls goes wrong in APIKA into #842 (https://github.com/apinf/api-umbrella-dashboard/issues/842).

But according to @jykae this should be fixed already. @jykae could you confirm, and should that #842 be closed already?

[2016-02-08 12:09] sebbel commented on #808
I would like to resume this task.

[2016-02-08 12:09] brylie commented on #857
Lets try to deprecate the `yogiben:autoform-modal` package, which underlies this bug. We can re-use the `apiBacklogForm` template, and simply toggle the form type.

[2016-02-08 12:11] brylie commented on #808
OK, thanks @sebbel :-) go ahead and self-assign.

[2016-02-08 12:12] brylie commented on #800
If #842 fix works here, please close this issue.

[2016-02-08 12:14] brylie opened #862 "Automatically delete unused Swagger.json files when uploading new API Backend Documentation"
@preriasusi mentioned the following (in issue #842):

Add a feature to automatically clean up unused or erroneous swagger json files, so that they do not appear in the documentation browser.

[2016-02-08 12:30] sebbel commented on #808
Could [Done] pointers be added to this task? As far as I understood: References to the global Config object are to be removed and the relevance of each line checked and made editable via settings page.

[2016-02-08 12:51] jykae commented on #849
Otherwise ok, will try to provide migration script.

[2016-02-08 12:57] brylie commented on #808
Yep. Follow your pattern with the 'enable' feature from the 'API Documentation Editor' settings. If email setting is not entered, any code for sending email is diabled as well. When email setting is enabled, email sub-fields are marked as required.

[2016-02-08 13:00] sebbel commented on #808
I will do that first and then move on to checking if we can chop-chop
variables.

Am Montag, 8. Februar 2016 schrieb Brylie Christopher Oxley :

[2016-02-08 15:24] jykae commented on #669
Got clone of "umbrella.apinf.io" today, trying upgrade tomorrow. Removing "blocked" tag.

[2016-02-08 15:35] jykae opened #864 "nightly.apinf.io should use own instance (nightly.umbrella.apinf.io)"
* [x] Configure nightly.apinf.io to use nightly.umbrella.apinf.io
* [x] Create & use Let's Encrypt SSL certificates for Umbrella

[2016-02-08 20:01] ashakunt commented on #864
+ 100 for this.. (count 100 votes from my side)

[2016-02-08 21:36] #800 closed

[2016-02-08 22:24] frenchbread commented on #785
Re-rendering dynatable is not a problem. The problem is to re-render the dynatable's header which is not re-rendered in any way unless we force it to (manually somehow).

I think this is unneeded and for that reason it's better to reload the entire page with applied language setting.

Another solution is to replace text-headers with an icons. (Finally we can keep header text values in english)

[2016-02-09 08:47] brylie commented on #785
@frenchbread how are you re-rendering the Dynatable? I.e. what function are you calling to re-render the Dynatable?

[2016-02-09 08:49] frenchbread commented on #785
@brylie I've attached it to Template.instance()

[2016-02-09 08:49] brylie commented on #785
Every other page element works properly when switching the language. The UI text changes reactively, without requiring a page refresh. While refreshing the page would work, it seems there should be a way to accomplish this reactively.

[2016-02-09 08:49] brylie commented on #785
@frenchbread what function?

[2016-02-09 08:49] frenchbread commented on #785
refreshTable()

[2016-02-09 08:50] brylie commented on #785
OK, cool. So, it has been refactored into its own function, or was refreshTable() a separate function before this task?

[2016-02-09 08:54] brylie commented on #785
@frenchbread within the `refreshTable()` function, would it be reasonable to remove the DOM element, re-insert, and re-render the table? This way all old language text is cleaned, without having to refresh the entire page.

[2016-02-09 08:54] frenchbread commented on #785
It was a separate function, yes. E.g.:
[code]
Now:
[code]

[2016-02-09 08:55] brylie commented on #785
OK, move the function definition outside of the `renderCharts` function.

[2016-02-09 08:56] frenchbread commented on #785
How can we do it? ("onclick" for example)
I though we need to listen for "languageOnChange" event or smth..

[2016-02-09 08:56] brylie commented on #785
The `renderCharts` function will probably need to be broken into separate chunks, instance level functions as you demonstrate above. For the time being, lets just refactor the `refreshTable()` function by moving it outside of the `renderCharts()` function.

[2016-02-09 08:58] frenchbread commented on #785
@brylie Ok, will try it.

[2016-02-09 08:58] brylie commented on #785
The general pattern in reactive programming is to tell your function to depend on a reactive data source. In this case, the current language is a reactive data source. So, if you envoke `refreshTable()` your function within a reactive computation, such as `Template.autorun()` the function will automatically re-run without any manual event handling.

[2016-02-09 10:29] #799 closed

[2016-02-09 11:00] #798 closed

[2016-02-09 11:18] saralavanip opened #865 "Error message while editing API-Backend not explanatory"
Operating Systems:

1. Linux : Ubuntu 14.04.03 LTS (Trusty)
2. Windows 10

Browsers:
1. Mozilla Firefox 44.0 
2. Google Chrome 48.0.2564.103
3. Microsoft Edge 25.10586.0.0

Steps:
1.Visit https://apinf.io
2. Sign in
3. Go to 'API Backends'
4. Add API Backend
5. Go to 'Manage API backends'
6. Click on 'View'
7. Go to 'Details' and click on 'Edit API Settings'
8. Edit API name (eg: add more characte

[2016-02-09 13:13] #813 closed

[2016-02-09 13:13] #809 closed

[2016-02-09 13:13] #810 closed

[2016-02-09 13:14] #737 closed

[2016-02-09 15:23] elnzv commented on #718
Related code was merged today.
Will test tomorrow it on remote, if issue still exists.

[2016-02-09 15:25] elnzv commented on #791
I think that is closed by #859.  And already in develop. Need to be tested on remote.

[2016-02-09 15:34] elnzv commented on #584
@saralavanip, just checked apinf.io, title is visible now.
I think, it was fixed during style files refactoring.
Please, confirm.

[2016-02-09 21:20] frenchbread commented on #785
Moved `refreshTable()` out of `renderCharts()`.
Working branch: [`hotfix/datatable-headers-i18n`](https://github.com/apinf/api-umbrella-dashboard/tree/hotfix/datatable-headers-i18n)

[2016-02-09 22:00] frenchbread commented on #744
@brylie Could you help with this one? I think that `intern-runner` is needed for our purposes, since we want to test "page state" at a specific URL. In this case this test is a functional and as far as I understand needs to be run using `intern-runner`.

[2016-02-10 07:17] saralavanip opened #867 "Charts not visible in 'Analytics' dashboard view"
Operating Systems:

1. Linux : Ubuntu 14.04.03 LTS (Trusty)
2. Windows 10

Browsers:

1. Mozilla Firefox 44.0 
2. Google Chrome 48.0.2564.103
3. Microsoft Edge 25.10586.0.0

Steps:

1.  Visit https://nightly.apinf.io
2.  Login
3.  Add API Backend
4. Make API Calls
5. Go to  Analytics dashboard view

Result:  Charts not visible in analytics dashboard view.
             - Tested in all browsers list

[2016-02-10 07:20] saralavanip commented on #584
@elnzv , Yes, I verified at apinf.io and the title is visible now.

[2016-02-10 08:16] #584 closed

[2016-02-10 08:49] brylie opened #868 "Add i18n to API Metadata collection"
The API Metadata collection currently lacks i18n capailities. Add the i18n strings and English translation to the API Metadata collection.

[2016-02-10 09:04] elnzv commented on #791
Just tested. No more warnings. Everything works fine.
@jykae, please confirm.

[2016-02-10 09:04] brylie commented on #744
OK, cool. I will take a look.

[2016-02-10 18:39] #868 closed

[2016-02-10 18:47] nnn opened #870 "No error message for not authorized users trying to bookmark API"
When not authorized user trying to bookmark API at public [catalogue](https://apinf.io/catalogue), there is no error message showing. After click nothing happens.

Maybe we need to remove this column or to show a message to the user, same as we do for rate column.

[2016-02-10 18:50] elnzv commented on #867
Confirm. Same thing locally.
Getting this in console:

[code]

[2016-02-10 19:26] frenchbread commented on #867
Same here.

Can this error be caused because of using `http` at elasticsearch end?

[2016-02-10 19:27] frenchbread commented on #867
Well, the ES host is up. The reason seems not in it.

[2016-02-11 07:52] jykae commented on #669
Got Umbrella successfully upgraded from 0.8 -> 0.11 to clone machine.

[2016-02-11 09:10] bajiat commented on #808
@sebbel What is the status of #808?

[2016-02-11 09:23] sebbel commented on #808
in progress, awaiting feedback about if i understood task correctly

Am Donnerstag, 11. Februar 2016 schrieb Taija Björklund :

[2016-02-11 09:25] brylie commented on #808
Where are you awaiting feedback?

[2016-02-11 09:26] brylie commented on #808
Or, what is the specific question?

[2016-02-11 09:47] sebbel commented on #808
If my commits to the pull request are pointing into the direction of completing this task.

[2016-02-11 10:24] brylie commented on #808
OK, I have reviewed the PR and added clarifications to this issue description as well as the PR discussion.

[2016-02-11 10:25] brylie commented on #808
I am not sure why I didn't notice your request for feedback. Sorry about that.

[2016-02-11 10:41] brylie commented on #821
Good suggestion. This is also a potential security issue. For example, the backend API could be completely open-access, with no access checks. This could lead to abuse.

[2016-02-11 10:44] brylie commented on #746
This idea seems to be the cornerstone of a backend agnostic system. E.g. the API Profile could have options such as **Add Proxy**, which would allow users to choose API Umbrella, Kong, etc.

[2016-02-11 12:47] jykae commented on #864
I am having issue with Umbrella REST API when using nightly.umbrella.apinf.io that uses Umbrella v0.11. Opened issue: https://github.com/NREL/api-umbrella/issues/217

[2016-02-11 12:54] jykae commented on #669
Issue with Umbrella REST API only when creating user, https://github.com/NREL/api-umbrella/issues/217 Noticed with nightly.umbrella.apinf.io in #864

[2016-02-11 13:22] elnzv commented on #718
Fixed. You can test it by sharing this URL https://nightly.apinf.io/.
Couldn't get link preview in Slack, but Facebook Messenger shows preview correctly, with the right page title.

[2016-02-11 13:28] jykae commented on #791
Verified, map https warnings are gone in nightly.apinf.io

[2016-02-11 13:28] #791 closed

[2016-02-11 13:33] jykae opened #871 "Swagger viewer still tries to load example swagger.json over http"
Mixed Content: The page at 'https://nightly.apinf.io/swagger/index.html?url=' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://petstore.swagger.io/v2/swagger.json'. This request has been blocked; the content must be served over HTTPS.

[2016-02-11 14:23] jykae commented on #864
API Key that is used in our frontend settings must have "api-umbrella-key-creator" role.

[2016-02-11 14:24] jykae commented on #669
API Key used in the frontend settings must have "api-umbrella-key-creator" role.

[2016-02-12 08:31] jykae commented on #864
@apinf/developers consider using nightly.umbrella.apinf.io from now on as development & testing Umbrella, so we could keep umbrella.apinf.io professional looking.

[2016-02-12 08:34] jykae commented on #669
Requested access to umbrella.apinf.io yesterday from @ccsr to make upgrade there.

[2016-02-12 08:40] saralavanip commented on #688
Please find below issues reported:

https://github.com/apinf/api-umbrella-dashboard/issues/852
https://github.com/apinf/api-umbrella-dashboard/issues/851
https://github.com/apinf/api-umbrella-dashboard/issues/853
https://github.com/apinf/api-umbrella-dashboard/issues/854
https://github.com/apinf/api-umbrella-dashboard/issues/855
https://github.com/apinf/api-umbrella-dashboard/issues/856
https://gi

[2016-02-12 10:07] ccsr commented on #669
@jykae you should have access to it now

[2016-02-12 13:06] #867 closed

[2016-02-12 13:24] jykae commented on #669
Thanks @ccsr !

[2016-02-12 14:07] #864 closed

[2016-02-12 14:10] jykae commented on #669
umbrella.apinf.io is now upgraded to v0.11 This has been a long and bumpy road :)

[2016-02-12 14:27] #669 closed

[2016-02-15 09:11] saralavanip commented on #867
Verified this resolved issue at https://nightly.apinf.io

[2016-02-15 09:13] #688 closed

[2016-02-15 09:13] bajiat opened #877 "Edit API backend view testing"
The functional testing task is the following:
* Testing the Edit API backend form, which has undergone some quite substantial reorganization and re-writing.
 * Select and API backend and edit it using the form.
* Localisation testing.
  * Go through the different views and check that the UI texts are visible and no text has been replaced e.g. with i18n tag (= text id)
  * Switch the language on ev

[2016-02-15 09:14] bajiat opened #878 "Upload i18n file to OneSky"

[2016-02-15 09:14] #802 closed

[2016-02-15 09:16] bajiat opened #879 "Change locals settings file to use nightly"
All Apinf developers need to update their local deployment settings to use nightly.umbrella.apinf.io. Ville to help and to make sure that all developers have the correct access rights.

* [x] Brylie
* [x] Damir
* [x] Illya

[2016-02-17 07:43] saralavanip opened #880 "Refresh 'Suomi' page view changes to 'English'"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Change language to 'Suomi'
4. Go to dashboard
5. Refresh/reload page
# Findings

 'Suomi' page view changes to 'English'  language view.

[2016-02-17 07:59] saralavanip opened #881 "Click on 'Lähetä' changes button title text to English 'submit'"
# Steps
1. Visit nightly.apinf.io
2. Change language to 'Suomi'
3. Login
4. Go to dashboard
5. Add API Backend
6. Go to Manage API Backends
7. Click on 'Edit'
8. Edit API name
9. Click on 'Läheta' button
# Findings
-  Text title 'Lähetä'  on submit button changes to english text 'Submit'
-  Submit progress text shown in English as 'submitting'
-  Error message shown in English

![edit_api_suomi_la

[2016-02-17 08:04] saralavanip opened #882 "Sign in Page view for 'Suomi' shown in English"
# Steps
1. Visit nightly.apinf.io
2. Go to language and select 'Suomi'
3. Click on 'kirjaudu'
# Findings

Shows 'Sign In' page in English language

[2016-02-17 09:19] brylie commented on #879
@apinf/developers please sign off here when you have updated your development settings.json to use nightly.umbrella.apinf.io

[2016-02-17 09:25] sebbel commented on #879
updated my dev settings.json

[2016-02-17 10:15] brylie commented on #879
@sebbel what email do you want to use to access nightly.umbrella.apinf.io?

[2016-02-17 11:20] sebbel commented on #879
the same I had in umbrella.apinf.io

2016-02-17 11:15 GMT+01:00 Brylie Christopher Oxley <
notifications@github.com>:

[2016-02-17 11:21] brylie commented on #879
@jykae will you please verify that @sebbel has an admin user in nightly.umbrella.apinf.io, with the same username he used in umbrella.apinf.io?

[2016-02-17 11:22] brylie commented on #879
@jykae please add my brylie@samposoftware.com email to the nightly.umbrella.apinf.io admin users.

[2016-02-17 12:19] frenchbread commented on #879
Please add [damir.mustafin@samposoftware.com](mailto:damir.mustafin@samposoftware.com) to admin users too. @jykae

Also, does elasticsearch instance remain on a old host?

[2016-02-17 16:20] brylie commented on #879
@frenchbread use Elastic on the new server.

[2016-02-18 12:43] jykae commented on #879
@brylie you can take this, if everyone has to have access before next week.

[2016-02-18 13:25] #878 closed

[2016-02-19 08:18] brylie commented on #879
@frenchbread, you should now be able to log in to https://nightly.umbrella.apinf.io/admin

Once logged in, you can access your private keys for your local development config:
* API Key
* Admin Auth Token

Remember to change all URLs in your config.json to match the new server.

[2016-02-19 08:20] brylie commented on #879
@sebbel I have also added you to the server. Please follow the instructions in the previous message to set up your development environment.

[2016-02-19 08:24] brylie commented on #879
I am closing this issue, since the core development team have been added to the new platform. If you have any errors when using your API credentials locally, please open an issue with details.

[2016-02-19 08:24] #879 closed

[2016-02-19 09:13] saralavanip opened #883 "'Suomi' home page view with partly translated text strings"
# Steps
1. Visit https://nightly.apinf.io
2. Go to language and select 'Suomi'
# Findings
-  'Suomi' home page view includes partly translated text strings.
-  Latest API list have untranslated text strings:  'Lisätty 4 hours ago / 10 days ago'
-  User 'Contact' details input field titles with untranslated text
              - 'Submit' and 'Reset' button titles untranslated.
# Screenshots

![untra

[2016-02-19 11:47] saralavanip opened #884 "Submit' button in 'Contact Us' view remains active after first submission and user not notified."
Steps:

1. Visit https://nightly.apinf.io
2. Login
3. Go to 'Contact Us'
4. Enter the following details:
       - Your Name
       - Email address
       - Message
4. Click on Submit button
5. Repeat the same step as above

Findings:
 - User not notified after submission of  'Contact' details
- Submit button remains active after first submission

Screenshots:

![usercontact_submit_button_still_act

[2016-02-19 13:30] saralavanip opened #885 "Upload document and submit error"
Steps:

1. Visit https://nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit'
7. Go to 'Documentation'
8. Click on 'Browse' to upload 'documentation'  file
9. Click on 'Submit' button

Findings:

- Notifies user if file uploaded is not a .yaml or .json file and shows error “Cannot read 'property' length of null “ after clicking on 'submit'

[2016-02-19 13:37] saralavanip opened #886 "Click on 'Create API documentation' button in 'Suomi' view changes to English language view"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit'
7. Go to 'Documentation'
8. Click on 'Create API documentation' button
# Findings

'Suomi view' changes to English language view

[2016-02-19 13:57] saralavanip opened #887 "'Edit API backend' view in 'Suomi' language with partly translated text strings"
Steps:

1. Visit https://nightly.apinf.io
2. Change language to 'Suomi'
3. Login
4. Go to dashboard
5. Add API Backend
6. Go to Manage API Backends
7. Click on 'Edit'
8. Go to 'Documentation'

Findings:

- Title text strings for input fields shown in English language
- Title text for 'Browse' and 'Create API documentation' buttons in 'Suomi' view shown in English language
- User information text s

[2016-02-19 16:59] saralavanip opened #888 "Create API documentation error"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit'
7. Go to 'Documentation'
8. Click on 'Create API documentation' button
# Findings
-  Create API documentation was blocked
-  Error was explanatory only in Firefox browser
-  User might need more instructions while creating API documentation
# Operating Systems
1.

[2016-02-22 08:54] bajiat opened #889 "Create a recipe for unit testing"
Create a model or recipe for a unit test case.

[2016-02-22 08:56] bajiat commented on #889
@ashakunt Can you assign this to Alapan? To be completed by 4 March

[2016-02-22 08:57] bajiat opened #890 "Create an automated functional test recipe"
Create one automated functional test to server as a recipe for creating automated test cases.

[2016-02-22 08:57] bajiat commented on #890
@ashakunt Can you assign this to Alapan? To be completed by 4 March

[2016-02-22 08:59] #822 closed

[2016-02-22 09:13] bajiat opened #891 "User profile testing"
1) Create a user profile and edit it.
2) Create a dummy user profile and assign this dummy user profile admin privileges. Finally, delete the dummy profile.
(For the second part, you will need admin privileges. Let us know, what is the profile you are using and we will assign you the privileges.)

[2016-02-22 09:51] saralavanip commented on #891
@bajiat : I am currently working on issue #877, Settings and localisation testing, I'll continue working on this issue#891 soon.

[2016-02-22 10:34] saralavanip opened #892 "Edit API backend form and submit error"
Steps:

1. Visit nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit'
7. Edit form eg: global settings, advanced request rewriting
8. Click on 'Submit' button

Result: It shows error “Cannot read property 'length' of null “

Screenshot:

![image](https://cloud.githubusercontent.com/assets/13309358/13215762/722602e4-d960-11e5-8cb5-a4b0cd009

[2016-02-22 12:44] jykae commented on #865
Could not find this API backend from umbrella.apinf.io Did you @saralavanip create this before editing? umbrella.apinf.io  has been upgraded and cleanup for old API backends has been done.

I followed the steps and added "New Test API backend" and edited the name "New Test API backend edited". Works fine.

[2016-02-22 12:57] saralavanip commented on #865
@jykae , this API backend is from nightly.apinf.io. Yes, I added it before editing.

[2016-02-22 13:46] jykae commented on #865
That backend doesn't exist on nightly.umbrella.apinf.io we should do cleanup on the Apinf front. nightly.umbrella.apinf.io is a fresh Umbrella install and misses all previously added backends. I think you were testing at that time when I was working with new Umbrella installation for nightly.

[2016-02-23 07:50] saralavanip commented on #891
@bajiat , @brylie  @jykae :  Signing up on nightly.apinf.io is giving error "internal server error". Could you please check with this issue.

Also, please let me know if the latest version deployed, so that I can proceed working on this task.

Screenshot:

![sign-up-apinf-error](https://cloud.githubusercontent.com/assets/13309358/13244996/98bfaa06-da12-11e5-9d9f-2de4012b3180.png)

[2016-02-23 08:14] bajiat commented on #891
I got the same error, when trying to sign up / register as a new user.

[2016-02-23 08:43] brylie commented on #891
Yes, this is probably related to a bug we are experiencing since the Umbrella 0.11 upgrade. We need to follow up with @GUI on the API Umbrella tracker to determine whether the problem may be with our integration package or with the API Umbrella Admin API.

[2016-02-23 08:53] #851 closed

[2016-02-23 08:55] ashakunt commented on #890
@Alapan is already working on this now.

[2016-02-23 08:56] ashakunt commented on #889
@Alapan is working on it already.

[2016-02-23 09:35] bajiat opened #893 "Signing up on nightly.apinf.io is giving error "internal server error""
![screenshot of defect](https://cloud.githubusercontent.com/assets/13309358/13244996/98bfaa06-da12-11e5-9d9f-2de4012b3180.png)

# Steps to reproduce
1. Log in to API Umbrella (0.11 @ nightly.umbrella.apinf.io)
2. Go to Users -> Admin Accounts
3. Create a new admin user
  * check 'superuser' box
4. Go to Users -> API Users
5. Click 'Add New API User'
6. Create new API user with same email as admin

[2016-02-23 09:37] bajiat commented on #891
Defect #893 created.

[2016-02-24 09:48] saralavanip commented on #851
Verified this resolved issue on https://nightly.apinf.io.

[2016-02-24 11:59] saralavanip commented on #865
@jykae , Thanks for the info.

Verfied on https://apinf.io : Adding and editing  a new API backend was successful . I'll also test on nightly.apinf.io once the issue #893 is resolved.

[2016-02-24 12:15] #892 closed

[2016-02-24 12:58] saralavanip opened #894 "Edit 'custom rate limits' in 'Global request settings' shows error"
# Steps
1. Visit nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit' and go to 'Global request settings'
7. Go to Rate limit mode and select 'custom rate limits'
   -  Enter Duration
   -  Enter Accuracy: select any one option(seconds/minutes/hours) clicking on dropdown button
8. Click on 'Submit' button
# Findings

It shows error 'Accura

[2016-02-24 13:34] saralavanip opened #895 "Select 'Required roles' in 'global request settings' and submit error"
# Steps
1. Visit nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit' and go to 'Global request settings'
7. Go to 'Required roles 'and select any of the 3 options shown below:
   -  api-umbrella-contact-form
   -  api-umbrella-key-creator
   -  write-access
8. Click on 'Submit' button
# Findings
-  It shows error 'You must specify at leas

[2016-02-25 07:19] saralavanip opened #897 "Mismatch of default text and help text in 'Global request settings'"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Go to dashboard
4. Add API Backend
5. Go to Manage API Backends
6. Click on 'Edit'
7. Go to 'Global request settings'
# Findings
-  Default text for input field: 'Append query string parameters' and help text differ.
-  Help texts overlap
# Screenshot

![image](https://cloud.githubusercontent.com/assets/13309358/13312599/ae02ad48-dba0-11e5-8091

[2016-02-25 08:40] ashakunt commented on #889
First recipe for unit testing was pushed to "tests" branch. @Alapan  can provide more details about how to run and its dependencies.

[2016-02-25 09:05] saralavanip opened #898 "'Suomi' language views with English text strings"
# Steps
1. Visit https://nightly.apinf.io
2. Go to language and select 'Suomi'
3. Sign in - click on 'kirjaudu'
4. Add API backend
5. Call API
6. Go through all the views in menu
   -  Analytics
   -  Manage API backend - View API Backend
   -  Catalog
   -  Documentation
# Findings
-  Analytics  views: Filter titles: 'loaded', 'export logs in'; Title text strings shown in English :  'Show' ; ' Se

[2016-02-25 09:16] Alapan commented on #889
I wrote the tests with Jasmine and Velocity. The commands I used to install them were:

meteor add sanjo:jasmine
meteor add velocity:html-reporter

When starting the localhost application by 'meteor --settings PATH-TO-apinf.config.json', the Velocity UI should show the test results.

[2016-02-25 09:22] saralavanip commented on #877
Completed this task and please find below issues reported:

https://github.com/apinf/api-umbrella-dashboard/issues/880
https://github.com/apinf/api-umbrella-dashboard/issues/881
https://github.com/apinf/api-umbrella-dashboard/issues/882
https://github.com/apinf/api-umbrella-dashboard/issues/883
https://github.com/apinf/api-umbrella-dashboard/issues/884
https://github.com/apinf/api-umbrella-dashboa

[2016-02-25 15:27] Alapan commented on #890
A couple of test cases were written with Selenium (using Eclipse, as the available documentation is better), and the corresponding tests with Robot will be finished tomorrow.

[2016-02-25 17:25] kyyberi commented on #718
Half victory if FB behaves right

[2016-02-26 15:24] Alapan commented on #890
The tests have been written with Robot as well. More tests were written with Robot than Selenium.

[2016-02-29 15:31] Alapan commented on #889
For testing the template events I added a new package:

meteor add xolvio:template-isolator

[2016-03-01 07:28] brylie opened #899 "API Key authorization errors when integrating with API Umbrella 0.11"
Since experimenting with API Umbrella 0.11, we have encountered several errors related to the API Umbrella user API Key not being authorized to perform certain functions. For example, when setting up a new developer environment, we create an API Umbrella superuser and API Key, but the API Key is not authorized to create new users on API Umbrella.

# Steps to reproduce
1. Log in to API Umbrella (0.

[2016-03-01 07:30] brylie commented on #899
@jykae please use this issue to track the integration errors.

[2016-03-01 07:34] jykae commented on #865
I will cleanup not existing API backends on the nightly  and this can be closed after that.

[2016-03-01 07:36] brylie commented on #899
@bajiat lets use this issue to track the recent API Umbrella 0.11 integration errors.

[2016-03-01 07:39] bajiat commented on #899
@brylie Ok, thanks! Shall we assign this to @jykae?

[2016-03-01 07:46] brylie commented on #899
@jykae will you please self-assign?

[2016-03-01 07:52] jykae commented on #899
assigned and in progress

[2016-03-01 08:04] jykae commented on #899
This seems to happen only in nightly as nightly.umbrella has been reinstalled and is down. I successfully registered new user on apinf.io

[2016-03-01 08:22] brylie commented on #899
@jykae please follow the steps to reproduce after installing a fresh API Umbrella 0.11 instance. We were getting the errors on the previous 0.11 installation.

Also, be sure to test with newly created users.

[2016-03-01 09:12] ashakunt commented on #899
@Alapan @saralavanip Once this bug is fixed, you can continue with your tasks.

[2016-03-01 09:44] jykae commented on #899
We are rolling back nightly Umbrella to previous state and testing that the key rights are correct.

[2016-03-01 11:09] jykae commented on #899
This was related to wrong settings in nightly.apinf.io Giving settings.json on deployment command did not override the existing Settings object in DB. I got in with my old account that existed on nightly and changed settings to point nightly Umbrella and verified that registration works now.

[2016-03-01 11:21] jykae commented on #899
@Alapan @saralavanip please let me know if you are able to register now to nightly. @brylie was also able to do it so nightly registration should work now I think this can be closed then.

[2016-03-01 11:42] jykae commented on #891
Nightly settings fixed, verify that registration works now, and close if successful.

[2016-03-01 12:06] jykae commented on #865
Cleanup done for API backends on nightly and ApiDocs, server rebooted and synced with nightly Umbrella. Closing this.

[2016-03-01 12:07] #865 closed

[2016-03-01 12:10] jykae commented on #893
The main issue for this is #899 Close this when it is verified to work.

[2016-03-01 12:55] Alapan commented on #899
@jykae Yes I was able to register now.

[2016-03-01 13:40] Alapan commented on #899
@jykae However, I am still unable to login/register on my local application. I tried git pull in the api-umbrella-dashboard, but it appears no changes were made there. Do I have to change any file to make it work on my localhost application?

The error on the server console is still the same:
Exception while invoking method 'ATCreateUserServer' TypeError: Cannot read property 'length' of null

[2016-03-01 15:34] jykae commented on #899
Worked the settings file together via chat. @Alapan verified that local development works now against nightly Umbrella.

[2016-03-01 15:40] jykae commented on #893
@Alapan and @brylie verified that nightly sign up works now. Closing.

[2016-03-01 15:40] #893 closed

[2016-03-02 07:24] saralavanip commented on #891
@jykae , Sign up /register a new account on nightly.apinf.io was successful.
This is my user id: newtest_api1 .

[2016-03-02 08:36] brylie commented on #899
Great work @jykae :-)

[2016-03-02 08:36] #899 closed

[2016-03-02 08:40] bajiat commented on #899
Thanks for solving the issue @jykae

2016-03-02 10:36 GMT+02:00 Brylie Christopher Oxley <
notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-03-02 09:05] saralavanip commented on #899
@jykae , Verified and was successful in Sign up/ Register on https://nightly.apinf.io

[2016-03-02 09:14] saralavanip commented on #891
@bajiat , I have signed up on nightly.apinf.io, could you please give me admin rights. Here is my username: newtest_api1

[2016-03-02 09:14] bajiat commented on #889
@Alapan Will you open a PR on this task?

[2016-03-02 09:15] bajiat commented on #890
@Alapan Will you open a PR on this task? This enables us to review your work / code.

[2016-03-02 09:22] Alapan commented on #890
@bajiat A pull request was created.

[2016-03-02 09:23] Alapan commented on #889
@bajiat A pull request was created.

[2016-03-02 09:25] Alapan commented on #899
@jykae Sign In/Register was working correctly in the local environment.

[2016-03-02 09:35] Alapan commented on #890
To install Robot framework, I executed the following commands:

1) sudo apt-get update
2) sudo apt-get install python-pip python-dev build-essential
3) pip install robotframework
4)  sudo pip install robotframework-selenium2library
Verify installation went OK:
1) pybot –version
2) python
in interpreter, type “import Selenium2Library”
(if OK, no errors will be shown, press ctrl+D to exit)

To run t

[2016-03-02 12:02] saralavanip commented on #891
@jykae , Thanks for providing profile admin privileges.

[2016-03-02 13:33] saralavanip opened #902 "Click on ''Add Role' - Admin” leads to homepage in Internet Explorer"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Get profile admin rights
4. Create another dummy user profile
5. Login as admin
6. Go to 'Users' on navigation bar
7. Assign admin role to this dummy profile:
   -  Go to dummy profile and click on pen (edit)
   -  Click on 'Add Role' tab and select 'admin'
# Actual Result

It leads to homepage in Internet explorer
# Expected Result

It must

[2016-03-03 08:49] saralavanip opened #903 "Call API : 'Err_Too_Many_Redirects' errors also show results in 'Analytics'"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend
4. Make API Calls
5. Go to dashboard to view analytics
# Findings
-  Errors while calling APIs show result in 'Analytics' view.
-  e.g : Error: “Err_Too_Many_Redirects “ : multiple redirect attempts are also shown as results in  'Analytics '
-  Also shows the same for errors: 502:'Bad Gateway' ; 504: 'Gateway timeout'
# Screensh

[2016-03-03 08:53] saralavanip opened #904 "'Users' view in Suomi language with English texts"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Get profile admin rights
4. Go to 'Users' on navigation bar
# Findings

'Users' is partly translated and contains English text strings
# Screenshots:

![image](https://cloud.githubusercontent.com/assets/13309358/13489145/fcff5e68-e12d-11e5-8d52-ce164e5636cc.png)

![image](https://cloud.githubusercontent.com/assets/13309358/13489155/09949378-e

[2016-03-03 09:28] bajiat commented on #616
@ashakunt and @alapan Definition of done has been added. Wireframe to be added later today. Assigning task to Alapan.

[2016-03-03 12:39] bajiat opened #905 "Clean all test APIs from production version"
Make sure all test APIs are cleaned from both apinf.io / production. They must be removed from both Apinf API backend collection and Api Umbrella. This is particularly important because they show up in latest APIs on frontpage.

Definition of done
---
* [x] apinf.io front page shows no test / testing / test123 APIs
* [x] Api catalogue does not contain any testing APIs
* [x] All test APIs have been

[2016-03-03 12:40] bajiat opened #906 "Sign up / sign in with Github not working in apinf.io"
It is not possible to sign up or sign in with Github in apinf.io. This seems to happen regardless of user being signed into Github or not.

[2016-03-03 13:12] jykae commented on #616
Great, long waited feature for admin also :) :+1:

[2016-03-03 13:21] brylie commented on #616
@Alapan, we may already have code related to API Backend administrator permissions that would be useful here. Do you want to do some pair programming, or have a brief chat?

[2016-03-03 13:24] jykae commented on #906
Verified. Waiting rights from @ccsr to apinf.io server to work on this issue.

[2016-03-03 14:49] jykae commented on #906
Got access to server, waiting @elnzv to share mup.json & settings.json for deployment. Also admin rights to apinf.io UI would help to check Settings, maybe able to fix without running new deployment.

[2016-03-04 08:27] tuukka opened #908 "Traffic shaping"
Especially in the case of websockets and MQTT, it would be useful to be able to shape the proxied traffic: if there are many network packets sent per second to the client, they could be batched in the proxy to be sent once per second to save battery in the mobile device.

[2016-03-04 09:11] saralavanip opened #909 "'Name' field shows email-id in 'Users' view"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Get profile admin. rights for above profile
4. Create a dummy profile
5. Login as admin
6. Go to 'Users' on navigation bar
# Findings
-  Name field shows 'email-id' instead of user name though 'user name' taken during sign up / registration
-  Edit/Update dummy profile : 'Name' field with 'email id' as default text
# Screenshot

![login_usern

[2016-03-04 09:18] #824 closed

[2016-03-04 09:20] Alapan commented on #890
I created a new pull request with branch 'test-recipes' and deleted the 'tests' branch. This was because the earlier branch had conflicts since it was mistakenly created on top of the 'master' branch, and not 'develop'. The commits from 'tests' were cherry-picked to 'test-recipes', and the earlier pull request referencing this issue was closed.

[2016-03-04 09:20] Alapan commented on #889
I created a new pull request with branch 'test-recipes' and deleted the 'tests' branch. This was because the earlier branch had conflicts since it was mistakenly created on top of the 'master' branch, and not 'develop'. The commits from 'tests' were cherry-picked to 'test-recipes', and the earlier pull request referencing this issue was closed.

[2016-03-04 09:33] saralavanip commented on #891
This task has been completed and please find the below issues reported:

https://github.com/apinf/api-umbrella-dashboard/issues/902
https://github.com/apinf/api-umbrella-dashboard/issues/904
https://github.com/apinf/api-umbrella-dashboard/issues/909
https://github.com/apinf/api-umbrella-dashboard/issues/903

[2016-03-04 12:51] Alapan commented on #890
I removed the workspace folder with Selenium tests. The plan is to stick to JavaScript as much as possible and instead use the text-based Robot scripts for UI automation.

[2016-03-07 09:13] bajiat commented on #908
@brylie As a first step, create an issue in Api Umbrella.

[2016-03-07 09:20] bajiat commented on #905
Three options to do this:
1. Wait for delete functionality to be completed and delete from UI
2. Delete from console -> manually going through 30 apis
3. Re-set the project -> requires recreating users, settings

@ccsr What is the urgency? Should we go with option 2 rather than waiting for 1? (See task #616)

[2016-03-07 09:20] bajiat opened #911 "Consider deploying latest changes from develop to apinf.io"

[2016-03-07 09:30] ccsr commented on #905
@bajiat I vote for option 1, but what is the time line for option 1 to be implemented.

[2016-03-07 09:32] bajiat commented on #616
@Alapan Can you comment whether this is in progress and what would be the estimation for completion? This week?

[2016-03-07 09:38] Alapan commented on #616
@bajiat Yes, this issue is in progress and I have implemented most of the front-end. It should be completed by this week.

[2016-03-07 10:00] jykae commented on #906
Github OAuth config is fine. I found out that apinf.io deployment has env variable ROOT_URL=http://apinf.io set which should point to https. Same kind of case here, https://github.com/meteor/meteor/issues/4550

I would not need mup.json & settings.json from @elnzv to reconfig that.

[2016-03-07 10:03] brylie commented on #908
Since we are currently integrated with API Umbrella proxy, I have opened the ticket there. If/when we support other API proxies, we can open this discussion in the respective project backlogs.

[2016-03-07 12:45] jykae commented on #906
mup logs:

stdout:
{"line":"398","file":"oauth_server.js","message":"Error in OAuth Server: redirect_uri_mismatch","time":{"$date":1457342615471},"level":"warn"}
[apinf.io] {"line":"398","file":"oauth_server.js","message":"Error in OAuth Server: redirect_uri_mismatch","time":{"$date":1457342629822},"level":"warn"}
{"line":"398","file":"oauth_server.js","message":"Error in OAuth Server: redirect_ur

[2016-03-07 13:58] jykae commented on #906
I also updated the server software, fixed NTP clock that made deployment freeze in invoking state and removed old kernels.

Github registration and login should work now, waiting that someone from @apinf/developers verifies and closing after that.

[2016-03-07 14:02] bajiat commented on #906
@jykae Sign in works at apinf.io (with Chrome).

[2016-03-07 14:17] #906 closed

[2016-03-08 08:21] Alapan commented on #616
@brylie I wanted to know if the REST endpoint for API backend deletion has been implemented? I was looking through https://github.com/apinf/meteor-api-umbrella/blob/master/server/apiUmbrellaWeb.js, where it seems the REST interfaces are defined, and couldn't find anything related to deletion.

[2016-03-08 09:44] brylie commented on #616
Right, as indicated via chat discussion, go ahead and add the `deleteApiBackend` method.

[2016-03-08 16:48] Alapan commented on #616
The deleteApiBackend method  was implemented. Despite this, I am currently getting an error "Object [object Object] has no method 'deleteApiBackend'" when making the REST call apiUmbrellaWeb.adminApi.v1.apiBackends.deleteApiBackend(backendId)  in apiBackends.js.

[2016-03-09 08:20] brylie commented on #616
Make sure to update the package version and publish it to Atmosphere. Then, run `meteor update` in our project, so that the latest version of the package will be available. We may need to figure out how to publish a Meteor package as an organization, rather than an individual.

[2016-03-09 08:45] brylie opened #912 "Upgrade brylie:api-umbrella to 1.4.0"
We have added a method for deleting API Backends. Update the project to use the 1.4.0 version of the brylie:api-umbrella package.

[2016-03-09 08:48] brylie opened #914 "Publish API Umbrella integration package under apinf organization"
We now have an organization, called apinf, on Meteor.com. Move the `brylie:api-umbrella` package to `apinf:api-umbrella`. Also, invite other team members to the **apinf** organizaiton.

[2016-03-09 09:11] sebbel commented on #616
http://info.meteor.com/blog/meteor-091-organizations-blaze-apis

1. Create apinf Account on meteor
2. Create Organization on apinf account
3. add members to organization

Am Mittwoch, 9. März 2016 schrieb Brylie Christopher Oxley :

[2016-03-09 09:25] #912 closed

[2016-03-09 10:02] brylie commented on #616
@sebbel what is your Meteor.com username?

[2016-03-09 10:54] brylie commented on #914
@Alapan be sure to provide us with your Meteor.com username here.

[2016-03-09 13:50] Alapan commented on #616
@brylie I had to make another small change to the deleteApiBackend method in API umbrella - I had written HTTP.delete instead of HTTP.del - like PUT, POST and GET, I thought the function name is the same as the action. I fixed it and created a pull request (https://github.com/apinf/meteor-api-umbrella/pull/17).

[2016-03-10 14:20] Alapan commented on #616
First working version created. Created a pull request.

[2016-03-12 19:09] sebbel commented on #616
@brylie my meteor account is sebbel

[2016-03-15 15:33] #914 closed

[2016-03-16 08:29] jykae commented on #905
Option 2 selected and done.

[2016-03-16 08:29] #905 closed

[2016-03-16 08:41] jykae opened #917 "Find and add good open APIs to apinf.io"
Check for eg. API:Suomi listing and add couple of good open APIs to apinf.io

[2016-03-16 10:11] Alapan commented on #616
@brylie I resolved the conflicts in the Issue#616 branch and pushed it.

[2016-03-16 11:44] brylie commented on #616
@Alapan see my line comment for `client/views/api_backends/delete/deleteApiBackendConfirmation.js
` on line 54. The sAlert call is not in the `if`, `else if`, or `else` block. It looks like it is a logical error.

[2016-03-16 13:40] saralavanip commented on #616
I have tested  'delete' feature on my local machine.
Findings:
- As a manager select API backend from 'Catalogue' and delete API backend returns to 'Catalogue' view.
- If user has only one API backend added and delete it from 'Manage API backend' view, it stays on same page 'My Managed APIs' view.

[2016-03-16 13:49] ashakunt commented on #616
thanks, @saralavanip

[2016-03-16 13:56] ashakunt commented on #616
@Alapan did you check @brylie 's latest comment.

[2016-03-16 14:38] saralavanip commented on #616
Findings:
 - Add API backend and delete the same, returns to catalog view.

[2016-03-17 09:59] saralavanip commented on #616
Findings:
- As a manager select API backend from 'Catalogue' and delete API backend returns to 'Catalogue' view
 and user dialog not shown after successful delete API backend.
.

[2016-03-17 12:10] jykae commented on #917
Good public APIs:
* YLE API, http://developer.yle.fi/

[2016-03-17 12:14] brylie commented on #616
@saralavanip will you please verify with @Alapan that your previous observation is resolved?

[2016-03-17 13:20] jykae commented on #917
Yle API uses app_id and app_key for authentication, Apinf should be flexible for different kind of API authorizations. It's not good to show "API backend is down for some reason. Please contact support.", if we are getting 401 not authorized.

[2016-03-17 13:49] jykae commented on #917
4 APIs mentioned above added to apinf.io

[2016-03-17 13:49] #917 closed

[2016-03-18 12:48] jykae opened #918 "API status check giving false error message"
## Behaviour
After adding API that requires authorization, API status shows:
"API backend is down for some reason. Please contact support."

Example:
"Yle API uses app_id and app_key URL parameters for authentication, Apinf should be flexible for different kind of API authorizations. It's not good to show "API backend is down for some reason. Please contact support.", if we are getting 401 not aut

[2016-03-18 13:06] jykae commented on #616
Noticed on review:
API Umbrella changes are made to the proxy configurations only after the changes have been published. This includes adding, updating, deleting. @brylie can probably point out what has to done to publish the changes for removal, as he fixed the publishing issue on adding API.

[2016-03-18 13:16] saralavanip commented on #616
@brylie , verified the resolved issue: 'confirmation dialog is shown after successful delete API backend from Catalog view'.

[2016-03-18 13:16] saralavanip commented on #616
@brylie , @bajiat , Deleting an API backend when it is down for some reason is unsuccessful. Could you please confirm if this is the expected result?

[2016-03-18 13:38] brylie commented on #616
I am not sure about the cause of that error, but it should still be possible to delete the API Backend. Please file a bug report, so that we can troubleshoot.

[2016-03-21 07:05] saralavanip opened #919 "Deleting an API backend when it is down for some reason is unsuccessful"
# Screenshot

![api-backend-down-delete-unsuccessful](https://cloud.githubusercontent.com/assets/13309358/13878960/7927c016-ed1d-11e5-8782-9c01833f7724.png)

[2016-03-21 07:07] saralavanip commented on #616
@brylie , please find issue reported https://github.com/apinf/api-umbrella-dashboard/issues/919.

[2016-03-21 11:10] brylie commented on #616
@Alapan, I have tested this feature. It seems ready for merging, and we can work on enhancements/bugs in upcoming sprints.

[2016-03-21 11:12] brylie commented on #919
A basic guess would be that this API Backend may have been manually deleted from API Umbrella, but still remaining in Apinf. The delete method awaits a success message from API Umbrella before deleting from Apinf, and may not be receiving the success message.

[2016-03-21 11:15] ashakunt commented on #889
@bajiat @brylie should this be closed now?

cc: @Alapan

[2016-03-21 11:45] brylie commented on #889
Jep.

[2016-03-21 11:45] brylie commented on #889
In the future, include the following text in PR descriptions:

* Closes #[issue number]

Github will then automatically close the issue when the PR is merged.

[2016-03-22 09:19] #616 closed

[2016-03-22 09:23] #889 closed

[2016-03-22 09:23] #890 closed

[2016-03-23 22:45] frenchbread commented on #841
Closing since this issue has been fixed.

[2016-03-23 22:45] #841 closed

[2016-04-11 14:21] brylie opened #920 "Add self-referencing Swagger file to API Umbrella for Admin API"
We are currently maintaining a Meteor.js integration package for API Umbrella Admin API. When we started the project, the Admin API did not have significant documentation, nor a Swagger description file. The API Umbrella project now has a generic Swagger description file for the Admin API.

As an extension, we would like to use the swagger.js to automatically interface with an API Umbrella instanc

[2016-04-12 09:41] brylie commented on #650
@bajiat and @ccsr, @shaliko has agreed to begin work on this task. I have updated the definition of done to include some general goals of the task.

[2016-04-21 10:55] brylie opened #922 "Add initial setup wizard for new deployments"
When setting up a new Apinf instance, present the first administrator with a set-up wizard. This wizard should help the Admin complete any required, or optional, settings. It can optionally include a branding step.

# Suggested solution
One [suggested solution](https://forums.meteor.com/t/first-time-setup-wizard-recipe/22057/2?u=brylie) would be the following:
* [x] Create a *[server method](https

[2016-04-21 11:04] brylie opened #923 "Show settings page to admin when required settings are not entered"
In order to ensure that required settings have been provided, we can add a global router rule. This rule should check for any required settings, and show the user a configuration wizard with required settings are not present.

[2016-04-25 12:12] #923 closed

[2016-04-25 12:12] brylie commented on #922
In order to ensure that required settings have been provided, we can add a global router rule. This rule should check for any required settings, and show the user a configuration wizard with required settings are not present.

[2016-04-25 12:14] brylie opened #924 "Promote multi-domain support feature in API Umbrella backlog"
One important feature, for whitelabeling purposes, is that API Umbrella proxy should support multiple URLs. This would mean that one API Umbrella deployment would be accessible via multiple domains. We have opened an [upstream feature request](https://github.com/NREL/api-umbrella/issues/213), so this item is to track the progress of the upstream feature.

[2016-04-25 12:15] brylie commented on #924
This might be a good usage case for our Bountysource resources.

[2016-04-26 07:19] ashakunt commented on #922
@ccsr you were talking about this issue yesterday, right? @brylie would you need some help about this? I and @Alapan can try to propose a working solution.

[2016-04-26 07:39] brylie commented on #922
@ashakunt thanks for your help here. We are hoping for a code contribution for this task. E.g. can you take this task?

[2016-04-26 07:51] brylie commented on #922
@ashakunt, @Alapan, @ccsr, and @shaliko, I have updated the task description with a possible solution as well as resources related to the solution. The proposal comes from the Meteor Forums.

[2016-04-26 07:52] ashakunt commented on #922
@brylie given my current schedule, i am not sure how much I will be able to code myself, but i can assure of help from both, me and @Alapan to get this done asap.

[2016-04-26 08:04] ccsr commented on #922
@ashakunt please prioritize this. One customer is waiting to try this and I cannot send it without this done.

[2016-04-26 08:10] ashakunt commented on #922
@ccsr I and @Alapan are getting this done asap.

[2016-04-26 11:31] ashakunt commented on #922
Thanks @brylie fr the suggestion. Based on our current discussions, that is how we will proceed. In a nutshell, here is a checklist of small tasks on how this should be implemented:

**Step 1:**
* [ ] Add a new flag in settings.json `(e.g. additionalConfigurationRequired)`
* [ ] Write a server method `(e.g. checkRequiredSettings)`
* [ ] Make a call to this server method at `Router.onBeforeAction`

[2016-04-26 11:34] ashakunt commented on #922
Immediate next steps (and action items):

* [ ] @brylie, @ccsr  : please define the mandatory settings
* [ ] @brylie, @ccsr : do we get the design of wizard from somewhere?
* [ ] @Alapan : start to work on **Step 1** followed by 2 and 3.

[2016-04-26 11:36] brylie commented on #922
Ah, please do not rely on settings.json. We are in the process of deprecating the usage of settings.json.

[2016-04-26 11:37] brylie commented on #922
The `checkRequiredSettings` method should suffice, so long as it is run in the `Router.onBeforeAction`.

[2016-04-26 11:39] ashakunt commented on #922
@brylie : in that case, where do you plan to define mailGunSettings, and other relevant items that would be different for different instances?

[2016-04-26 11:41] Alapan commented on #922
Right now, I have defined a flag `additionalConfigurationRequired` in my settings file `apinf.config.json`.

[2016-04-26 11:42] ashakunt commented on #922
@Alapan : its ok for now to get it done through apinf.config.json. If (and when) it is deprecated, the relevant update will be made.

[2016-04-26 11:49] brylie commented on #922
Alright, but the `additionalConfigurationRequired` value in settings.json flag is not necessary for this task at all.

[2016-04-26 11:51] ashakunt commented on #922
@brylie : Yes. It is not required and I hope, you have also checked that I have added the task in three steps, where this `additionalCon....` is replaced by actual settings and the `checkRequired..` is replaced by actual function. Also, check the previous comment, where I have asked to define the mandatory settings!!

[2016-04-26 11:51] brylie commented on #922
Please do not yell.

[2016-04-26 11:53] brylie commented on #922
When Meteor is running, there is a global `Meteor.settings` object. This settings object can be pre-populated from a `settings.json`. However, it can also be used here to bypass the need for a `settings.json`:

# Example
When starting, the `Meteor.settings` object looks like this:

[code]

We can attach arbitrary key/value pairs to Meteor.settings.

[2016-04-26 11:53] ccsr commented on #922
@brylie @ashakunt @Alapan guys please try to have a call if possible

[2016-04-26 11:55] brylie commented on #922
Further, when completing the initial settings wizard, we can define a key/value pair within `Meteor.settings` to the following effect:

[code]

[2016-04-26 11:58] brylie commented on #922
Then, `checkRequiredSettings` method (or equivalent), can look for the flag in `Meteor.settings`:

[code]

[2016-04-26 12:10] ccsr commented on #922
@ashakunt @Alapan @brylie @shaliko we agreed yesterday that settings.json needs to go, because of issues with dockerizing. @brylie has suggested above and lets try that first and if it still can be worked at.

[2016-04-26 12:12] brylie commented on #922
One other key aspect is to set `Meteor.initialSetupComplete = true;` when the setup wizard has finished.

[2016-04-26 12:42] ashakunt commented on #922
@ccsr @brylie : are we going to deprecate settings.json right away? Is there a pull request where this work is in progress? If not, I would suggest to continue this work with settings.json and then, we can port this work as well. I agree with @brylie about `Meteor.initialSetu... = true`.

[2016-04-26 12:46] ashakunt commented on #922
and @brylie : i do not think I was yelling at you!

[2016-04-26 12:56] ashakunt commented on #922
just had a discussion with @ccsr and we can continue this work in parallel. When settings.json is deprtecated, we just have to re-write (or adapt) `checkRequirements...` to meet the new scheme. Rest all can continue. @Alapan please continue working on this.

[2016-04-27 07:44] brylie commented on #922
Thanks @ashakunt. Please consider the `settings.json` as deprecated now.

[2016-04-27 07:53] ccsr commented on #922
@ashakunt please no rework. Please proceed with the assumption that settings.json is not there @shaliko can you please help here?

[2016-04-27 08:52] shaliko commented on #922
@ashakunt @ccsr In my branch I dropped code that insert settings.json to MongoDB on startup. So now user after registration fill settings on settings page instead of load it from settings.json. That simplify Docker config and decouple app startup from api-umbrella.

I dropped this code https://github.com/apinf/api-umbrella-dashboard/blob/develop/server/startup.js#L3-L15

Code was not on review yet

[2016-04-27 12:32] ashakunt commented on #922
Thanks, @shaliko we are not using settings.json for this purpose and hence, this task is now independent of your work. Further,

[2016-04-27 12:37] ashakunt commented on #922
So, the alert should look something like the highlighted part in this image:

![selection_259](https://cloud.githubusercontent.com/assets/5460151/14852219/b853596e-0c8d-11e6-94fe-704cf31b4807.png)

but a bit bigger and has the message like:

**Additional configuration required!**
Hey there, this instance of __APINF__ needs additional configuration. Click here to continue. You must be an admin to d

[2016-04-27 12:39] ashakunt commented on #922
@ccsr @brylie : do we now have a defined set of settings that must be checked? Also, do we get a design for this wizard? Or its ok to go ahead with what I have in my mind?

[2016-04-27 15:16] Alapan commented on #922
I don't know how to add a value in Meteor.settings object programmatically.

[2016-04-28 06:45] brylie opened #927 "Dashboard getChartData method fails when Elastic settings not available"
While in the process of re-working our settings handling, we get the following error when accessing the dashboard without Elastic settings:

[code]

[2016-04-28 07:00] brylie commented on #922
In general, `Meteor.settings` is just an object. So, you can add a value like you would with any other object:

[code]

We can also test for the presence or absence of a value like so:

[code]

Now that we see how to add the value, we can look at when to add the value. In g

[2016-05-06 13:04] brylie commented on #833
I marked this as a bug. We have a field on the "Edit API Backend" form to toggle the API Key check, but the changes are not made on API Umbrella. We need to make sure our integration code is passing the updates to all API Backend configuration fields.

[2016-05-06 13:05] brylie commented on #833
This is also a duplicate of #622

[2016-05-06 13:06] brylie commented on #622
When submitting our Edit API Backend form, the 'disable api key' field data is not being updated on API Umbrella.  We need to make sure our integration code is passing the updates to all API Backend configuration fields.
Related to issue #833

[2016-05-10 06:50] jykae opened #928 "Update nightly.apinf.io to use mupx(or Docker build?) instead of deprecated mup"
- Upgrade from mup to mupx or Docker build

[2016-05-10 07:59] brylie opened #929 "Design and implement tab for API Documentation viewer in API backend view"
When a user is viewing an API backend, they should be able to see the related documentation as well. The suggestion is to create a new tab for viewing the relevant Swagger file, if it has been uploaded.
If the owner has added a link to external documentation, show that as well. If there is no Swagger available, show only the link.

# User stories:
As an API consumer, I want to easily access API do

[2016-05-11 07:19] bajiat opened #930 "Apika maintenance: Upgrade the API Umbrella to 0.11"
In order to fix a SSLv3/POODLE vulnerability for the Apika server, the Api Umbrella instance must be upgraded from 0.8 to 0.11.

<add a checklist of issues to be checked or modified due to the upgrade>

[2016-05-12 07:36] brylie commented on #927
@frenchbread we will need to revisit this bug soon. It is affecting @Alapan's work somewhat.

[2016-05-12 08:07] frenchbread commented on #927
There are already couple of checks for settings on elastic-rest package for meteor. Or is this bug on apinf's side?

[2016-05-12 10:33] brylie commented on #927
I think it is in the Apinf `getChartData` method.

[2016-05-15 14:22] Alapan commented on #927
@frenchbread @brylie Is there any update on this issue?

[2016-05-20 07:29] brylie opened #931 "Audit UI texts for i18n 'completeness'"
Click through all pages and views in the application. Toggle the user language and make note of any texts tha have not been internationalized or translated.

[2016-05-20 07:34] brylie opened #932 "Plan meeting for API service level quality feature(s)"
coming to the catalog sometimes feels like a'sandbox'. Come up with ideas about how users can annotate, rate, and filter out API backends.'

#Definition of done
* [x] Organize a brainstorming session.
* [ ] Store the meeting minutes and ideas.

[2016-05-20 07:43] brylie opened #933 "Create a Node-RED demonstration of real-time data from HSL"
Based on the demonstration at API Days Suomi, set up Node-RED and demonstrate the real-time map flow for HSL data.

As a follow up, determine how to proxy the HSL data to a second Node-RED instance, through the first Node-RED instance.

[2016-05-20 07:43] #930 closed

[2016-05-20 08:03] #848 closed

[2016-05-20 08:05] bajiat opened #934 "Start backlog grooming"
Definition of done
----
* [ ] Make sure all the latest improvements ideas and feature requests have been captured in the backlog and prioritized.
* [ ] Close duplicate and resolved issues.
* [ ] Write the relevant user stories.
* [ ] Create a label to identify backlog items that require wireframes.
* [ ] Come up with a components list.
* [ ] Add labels for Apinf components, such as documentation.

[2016-05-20 08:07] bajiat opened #935 "Meteor update"
Create a branch, run the Meteor update on Meteor core and all packages. Deprecate unused to packages.

[2016-05-20 08:08] bajiat opened #936 "Restructuring the project"
Using the Meteor Guide, and previous project experience/design decisions, propose a common module structure for the Apinf project. Reorganize code to follow the decided-on structure.

[2016-05-20 08:09] bajiat opened #937 "Conduct a manual test session for Meteor update"
The purpose of the task is to make sure the Meteor 1.3 update did not break anything in the UI and get material for automated functional tests.

Definition of done
---
* [ ] Organise test session
* [ ] Open backlog items, if bugs are found in testing
* [ ] Keep a log of testing
* [ ] Write down the test scenarios
* [ ] Store the document in documentation repository
* [ ] If necessary, merge the Me

[2016-05-20 08:24] philippeluickx commented on #936
There are a couple of frameworks proposed for meteor. Active discussion on https://forums.meteor.com/t/framework-discussion-mantra-vs-space-vs-space-kitty-vs-redwood-vs-etc/17734

There is also overlap and talk about integrating multiple efforst: http://blog.capsulecat.com/2016/01/08/integrating-mantra-with-space-kitty/

Might be a good idea to do an evaluation. Even if we chose not to work from a

[2016-05-20 08:32] bajiat commented on #663
We are considering deprecating the separate Documentation viewer and adding the documentation to the tabbed API backend page as its own tab.

[2016-05-20 08:41] bajiat commented on #904
This issue is related to meteor-accounts-admin-ui-bootstrap-3: add i18n support to package.

[2016-05-20 08:43] bajiat commented on #908
We are taking steps towards this goal using Node-RED this sprint.

[2016-05-20 08:44] bajiat commented on #911
@ccsr Any thoughts/wishes on release and deployment cycle?

[2016-05-20 08:51] bajiat commented on #833
Closing as duplicate.

[2016-05-20 08:51] #833 closed

[2016-05-20 08:52] brylie commented on #622
Copied from #833:

[2016-05-20 08:54] bajiat opened #938 "Design and implement upload documentation functionality to Documentation tab"
Api owners must be able to upload a Swagger for an API backend. Alternatively, they can provide a link to external documentation.

# User stories
As an API owner, I want to upload a Swagger document into Apinf so that I can help API consumers understand API structure.
As an API owner, I want to add a link to my existing API documentation so that I can reuse the existing documentation.

# Definitio

[2016-05-20 08:59] bajiat commented on #500
@shaliko Is this already completed?

[2016-05-20 08:59] bajiat commented on #500
Closing as duplicate.

[2016-05-20 09:00] #500 closed

[2016-05-20 09:00] bajiat commented on #650
@shaliko What is the status of this task? (I closed the other one I asked about as duplicate)

[2016-05-20 09:05] bajiat commented on #785
@frenchbread We are checking the tasks In progress. Do you have an idea of the status of this task?

[2016-05-20 09:06] #891 closed

[2016-05-20 09:07] #877 closed

[2016-05-20 09:24] frenchbread commented on #785
@bajiat If i'm recalling correctly there were some issues this this task and it's not finished. It requires "DOM hack" just like @jykae did with medium-editor text duplication.

[2016-05-20 09:59] brylie opened #939 "API Backend Feedback form not submitting (after 1.3 upgrade)"
While working on the Meteor 1.3.x upgrade, the API Backend Feedback form does not appear to be working.

Steps to reproduce:
1. Add an API backend
2. View the API backend page
3. Click the "Feedback" tab
4. Click "Add Feedback"
5. Fill in, and submit the form

# Related
Issue #935 - update Meteor

[2016-05-20 10:06] brylie opened #940 "ReferenceError: ss is not defined"
During the Meteor 1.3 upgrade process (Issue #955), the following error is visible in the browser console:

[code]

[2016-05-20 10:08] brylie opened #941 "Export API Backend: ReferenceError: jsyaml is not defined"
During the Meteor 1.3 upgrade (issue #935), the following error is visible in the console:

[code]

Steps to reproduce
1. visit an API Backend
2. click the 'Export' tab
3. click the 'YAML' button

[2016-05-20 10:11] brylie opened #942 "API Catalog: rating stars widget not available"
During the Meteor 1.3 upgrade (issue #935), the rating widget in the API Catalog table does not appear.

The following traceback appears in the browser console:

[code]

[2016-05-20 10:16] brylie commented on #940
May be a duplicate of #942

[2016-05-20 10:29] brylie opened #943 "Consider if/how to deprecate Iron Router"
We have discussed switching from Iron Router to Flow Router. Plan how to deprecate Iron Router, including identifying necessary changes to project sourcecode.

[2016-05-20 12:02] bajiat opened #945 "Generate JavaScript code snippet for API call"
Ensure that the code samples Apinf is providing for Api calls also contain code samples for Javascript. E.g. [ReDoc](https://rebilly.github.io/ReDoc/), a potential Swagger viewer, contains code samples for C#, PHP and JSON.

Upstream [issue](https://github.com/Rebilly/ReDoc/issues/52) created to ReDoc

[2016-05-20 12:10] bajiat commented on #862
Closing as duplicate of

[2016-05-20 12:14] bajiat commented on #885
To be resolved by #938: the upload functionality from the form will be replaced.

[2016-05-20 12:15] #885 closed

[2016-05-20 12:15] #862 closed

[2016-05-20 13:01] bajiat opened #946 "Create an audit document for Api Umbrella"
Audit template: http://apinf-documentation.readthedocs.io/en/latest/research/api-management-tools/_audit-template/

[2016-05-20 13:01] bajiat opened #947 "Create an audit document for ApiConnect (IBM)"
Audit template: http://apinf-documentation.readthedocs.io/en/latest/research/api-management-tools/_audit-template/

[2016-05-20 13:05] brylie commented on #947
There is an existing audit document for [IBM API Management](http://apinf-documentation.readthedocs.io/en/latest/research/api-management-tools/ibm-api-management/). The document is currently empty, so lets use it for this audit task.

[2016-05-20 13:31] #849 closed

[2016-05-23 07:17] Nazarah commented on #929
The usability test would be performed on the APINF system after ReDOC viewer is incorporated.

[2016-05-23 07:18] Nazarah commented on #929
View ReDoc for designing purpose

[2016-05-23 07:21] Nazarah commented on #938
Usability test is conducted on working prototype after the implementation is done.

[2016-05-23 07:34] bajiat commented on #938
@brylie @illya @frenchbread Who would be interested in this task?

[2016-05-23 07:41] bajiat commented on #929
@elnzv Would you be interested with this task?

[2016-05-23 07:41] bajiat commented on #937
@brylie Would you take this task as a follow-up to the Meteor update?

[2016-05-23 07:50] bajiat commented on #465
@elnzv Would you be interested in this along with #929?

[2016-05-23 07:51] bajiat commented on #933
@brylie Interested in this one?

[2016-05-23 07:55] bajiat commented on #367
@elnzv Would this be for you as well? It's connected to documentation tab (viewing documentation)

[2016-05-23 08:11] bajiat commented on #938
This also needs to be done in co-operation / discussion with the other developers

[2016-05-23 08:18] bajiat opened #948 "Remove Documentation from menu"
When we have a functional documentation viewer in Api backend view, remove Documentation from main navigation. This entails also removing the Swagger documentation viewer and source code.

[2016-05-23 08:29] bajiat opened #949 "Resolve Elastic-REST error after Meteor 1.3 upgrade"
OK, our NPM dependency handling has changed, so we probably need to use the ES2015 import syntax in that file.

Suggestion: while solving this, add the package under Apinf organization.

Co-pilot: @brylie

[2016-05-23 08:30] bajiat commented on #949
@frenchbread Interested?

[2016-05-23 08:31] bajiat commented on #939
@frenchbread Can you take a look?

[2016-05-23 08:32] bajiat commented on #927
@frenchbread Could you take this also as a sprint task?

[2016-05-23 08:33] bajiat commented on #617
@frenchbread Did this get solved? Or does it need more work?

[2016-05-23 08:37] bajiat opened #950 "Research generating code snippets from API documentation"
Research alternatives for providing code snippets for APIs: ideas, potential packages.

[2016-05-23 08:45] bajiat commented on #816
Suggestion from @brylie, @jykae, @bajiat: Deprecate the entire config gile. Remove all code that uses anything in config.

[2016-05-23 08:51] bajiat commented on #785
@frenchbread Would you be able to continue and finalised the fix during this sprint?

[2016-05-23 09:55] brylie commented on #933
Initial testing was a success. I was able to create a custom proxy for the HSL data, and rate limit the messages to one per second. There is a lot of room for experimentation/improvement.

[2016-05-23 10:23] jykae commented on #938
@elnzv @brylie Did you have packages or ideas for file upload or do I conduct search for that?

[2016-05-23 10:23] frenchbread commented on #617
The related branch has been merged. Closing this issue.

[2016-05-23 10:23] #617 closed

[2016-05-23 10:24] frenchbread commented on #785
@bajiat Yep. I will continue this one.

[2016-05-23 10:25] jykae commented on #938
I found this in first results: https://github.com/tomitrescak/meteor-uploads

[2016-05-23 10:25] frenchbread commented on #927
@bajiat Self-assigned

[2016-05-23 10:26] frenchbread commented on #939
@bajiat Self-assigned

[2016-05-23 10:27] frenchbread commented on #949
I'll look into that

[2016-05-23 11:23] jykae commented on #938
I will go with that package, there are not much good alternatives for the deprecated collectionFS package. @elnzv would you be able to work as a co-pilot for wireframes on this one?

[2016-05-23 11:26] brylie commented on #933
I have improved on the above flow by adding a rate limiting module. The 'HSL real-time proxy' flow is available in the [Node-RED Flows catalog](http://flows.nodered.org/flow/5d2c9fa71b249b21d3c377087dd5b395)

[2016-05-23 11:48] jykae commented on #938
API documentation & API Metadata, in my opinion are a bit overlapping features, what you think should we integrate these, Swagger file has metadata descriptions for API. Or documentation would be extension for our metadata collection?

[2016-05-23 12:44] jykae commented on #938
I am getting this error https://github.com/tomitrescak/meteor-uploads/issues/224 and trying to figure out, what is the proper solution, would be good to have Meteor 1.3 update done pretty soon for Apinf.

[2016-05-23 12:47] jykae commented on #938
No official recommendations at the moment, but sounds like this package would be good to go for 1.3 https://forums.meteor.com/t/meteor-guide-for-upload-store-files-in-meteor-1-3/21836

[2016-05-23 13:45] jykae commented on #938
Mandatory versions: https://github.com/blueimp/jQuery-File-Upload#mandatory-requirements, currently we have too old jquery version, https://github.com/apinf/api-umbrella-dashboard/blob/develop/.meteor/versions#L106

[2016-05-23 14:30] jykae commented on #938
File upload jquery seemed to require Meteor 1.3 update to get rid of the jquery-upload package error on startup.

[2016-05-24 07:17] philippeluickx opened #951 "API Monetization"
# Allow API owners to earn money with their API

All APIs are currently open and free to use. Allow for different monetization strategies. This could be pay per call, pay per month, ...
# User story

As an API owner
I need the option to select a monetization strategy
so that I can earn money with my APIs
# Design

To be defined
# Definition of Done

The task is complete when the following criteria

[2016-05-24 07:24] jykae commented on #938
Another option mentioned here https://forums.meteor.com/t/deprecating-collectionfs/16921 would be https://github.com/vsivsi/meteor-file-collection
Depends would we like to use MongoDB GridFS or simpler on disk file upload that meteor-uploads provides.

[2016-05-24 07:24] philippeluickx opened #953 "Visibility and discoverability"
# Allow API owners to configure the visibility and discoverability of their APIs

All APIs are currently open to use and all are present in the public catalogue. Some APIs should be discoverable, but not publicly accessible (authentication), some should only be discoverable only for the indicate people/groups.
# User story

As an API owner
I need the option to select the visibility and discoverabi

[2016-05-24 07:28] philippeluickx opened #954 "Aggregator - search multiple catalogues"
# Allow developers to search across multiple API catalogues

The Google for APIs. One of the biggest issues is the fragmentation of APIs, which makes it hard to discover the API you need. We could aggregate multiple catalogues and crawl for metadata.
# User story

As a developer
I need the find the right API
so that I can create awesome applications
# Design

To be defined
# Definition of Done

Th

[2016-05-24 07:31] philippeluickx opened #955 "Reputation"
Reputation plays a big role in chosing the right API as a developer. We need to do more research how we want to approach this.
We can have an approach like Amazon with ratings + reviews. We can have an approach like Github. We can develop an algorithm that takes more into account  (uptime, documentation completeness, user ratings, overall company reputation,...)

[2016-05-24 07:34] philippeluickx opened #956 "API health indicator"
# Allow developers to see the health of an API

Developers rely on APIs to develop their application. If the API is down often or changes constantly, it will be a nightmare for the developer.
# User story

# Related user stories

# Design

To be defined
# Definition of Done

The task is complete when the following criteria are satisfied:
- [x] Developer sees the health status of the API
- [x] APIn

[2016-05-24 07:47] philippeluickx opened #957 "GraphQL support"
Investigate if we need to do anything special to support GraphQL.

[2016-05-24 08:29] philippeluickx opened #958 "Development manifesto"
We should write clear guidelines on how we develop, as core team and community.

Ideas could include:
- only include stable, production-grade and actively maintained 3rd party packages
- PRs are welcome and should be created early on, so developers can support ongoing effort
- PRs will only be merged in if they include tests, docs and does not decrease test coverage
- Every PR is code reviewed by