[2016-10-04 14:25] philippeluickx commented on #1623
My opinion is to hold off selecting a more complex select widget. If we can solve our design with standard elements, I consider that a better option.
I am not against the options, but it really needs to make sense. Otherwise it feels a bit like design bloat to me?

[2016-10-04 16:25] manzapanza commented on #1623
@brylie these components are quite similar, but I also would choose the select2 since it is  based on bootstrap as the shown in the wireframe.

[2016-10-05 07:09] saralavanip opened #1687 "'Get API key' feature missing in API view"
Steps:
1.Visit https://nightly.apinf.io
2.Create account by clicking on 'Sign Up'
3.Go to API Backends and click on 'Add API Backend'
4.Enter details and click on 'Add' button

Findings:
- 'Get API Key' feature is not available in API view

Expected Result: Get API key feature must be available in API view

[2016-10-05 07:46] shaliko commented on #1674
@bajiat Sure, will prepare config for 1-3.

[2016-10-05 08:23] #983 closed

[2016-10-05 08:27] bajiat commented on #1687
@saralavanip Did you attach the API to a proxy? We have separated publishing API (to Catalog) and adding proxy / API management features. After you have added an API, go to Proxy tab and attach the API to a proxy.

[2016-10-05 08:34] bajiat opened #1688 "Move error handling for delete proxy backend method into callback"
When adding the rate limiting field, we added error handling using try catch. Since this is related to a Meteor method, error handling should happen inside the callback. Move [error handling for delete proxy backend method](https://github.com/apinf/platform/blob/develop/proxy_backends/client/form/form.js#L139-L156) into the [Meteor method callback](https://docs.meteor.com/api/methods.html#Meteor-c

[2016-10-05 08:35] bajiat commented on #1688
@brylie Provide a link to the code in question.

[2016-10-05 08:38] saralavanip opened #1689 "No response while edit and submit 'Proxy' form"
Steps:
1.Visit https://nightly.apinf.io
2.Create account by clicking on 'Sign Up'
3.Go to API Backends and click on 'Add API Backend'
    -Enter Name
    -Enter Description
    -Enter URL (Eg. https://developers.google.com/books/)
4.Enter details and click on 'Add' button
5.Click on 'Proxy'
6.Enter the proxy details
    -Enter 'Proxy Base path' (eg./test_google_books/ )
    -Enter  API base path (

[2016-10-05 08:38] #1625 closed

[2016-10-05 08:50] saralavanip commented on #1687
@bajiat , Thanks for the update.
Rechecked feature 'Get API Key' available only if API is connected to proxy.

[2016-10-05 09:28] saralavanip commented on #1685
Verified this test scenario on https://nightly.apinf.io.
Findings:
- Currently it doesn't allow 'Sign up with duplicate user names or emails accounts'

[2016-10-05 09:29] brylie commented on #1685
OK, thanks @saralavanip.

@bajiat should we close this issue, since the user emails/usernames are unique?

[2016-10-05 09:35] brylie opened #1690 "Improve consistency of Handlebars helpers (i18n, partial, block)"
Our Handlebars syntax uses a mixture of elements with and without spaces separating the handlebars and the prefix. E.g.

- `{{_` vs. `{{ _`
- `{{#` vs. `{{ #`
- `{{>` vs. `{{ >`

While this does not make a difference to the Handlebars compiler, it has the following shortcomings for humans:

- it is inconsistent
- including spaces marginally reduces readability
- it has caused trouble when doing a

[2016-10-05 09:37] brylie opened #1691 "Consider changing handlebars i18n prefix from '_' to 'i18n'"
Right now, we include internationalization strings in our template using the following syntax:

[code]

Our i18n framework, TAPi18n, allows us to define the prefix we wish to use.

# Proposal
Change the handlebars i18n prefix to 'i18n'. E.g.

[code]

## Rationale
The use of underscore has been problematic, and is somewhat ambiguous. 'i18n' prefix is more explicit.

[2016-10-05 09:41] brylie commented on #1690
Ping @bajiat

[2016-10-05 09:48] bajiat commented on #1690
I'm ok with cleaning this, but only if it does not jeopardize finishing #1623.

[2016-10-05 09:50] bajiat commented on #1685
@brylie I will close the issue.

[2016-10-05 09:50] #1685 closed

[2016-10-05 09:51] bajiat commented on #1687
@saralavanip Thanks for verifying.

Closing the issue

[2016-10-05 09:51] #1687 closed

[2016-10-05 09:54] brylie commented on #1690
@bajiat this seems to be a small cleanup task, just doing a 'search and replace'.

[2016-10-05 10:01] #1681 closed

[2016-10-05 10:04] #1533 closed

[2016-10-05 10:04] #1654 closed

[2016-10-05 10:21] frenchbread commented on #1690
If we are going to vote, I'm 👍 for `{{ > something }}`, `{{ _ something }}`, `{{ # something }}` - "with spaces" approach.

Related discussion: https://github.com/apinf/platform/pull/1682

[2016-10-05 10:22] saralavanip opened #1692 "'Email Reset password link' not working"
# Steps
1. Visit https://nightly.apinf.io
2. Create account by clicking on 'Sign up'
    -  Enter username
    -  Enter email address
    -  Enter password
3. Click on 'Register'
4. Log out
5. Click on 'Login'
    -  Enter username
    -  Click on 'Forgot password'
6. Enter 'Email address'
7. Click on 'Email Reset link'

# Expected Result
 Reset password link must be sent to the given email addres

[2016-10-05 10:40] nnn commented on #1637
Closed by https://github.com/apinf/platform/pull/1649

[2016-10-05 10:40] #1637 closed

[2016-10-05 11:17] jykae opened #1693 "Rate limiting duration should provide input in seconds, minutes, hours"
For better user experience we should provide input in seconds, minutes, hours instead of milliseconds, and handle conversion to milliseconds before sending to API Umbrella Admin API.

[2016-10-05 11:46] #1688 closed

[2016-10-05 13:42] jykae commented on #1624
@Nazarah otherwise nice idea but we are not in v4-alpha, in our version it is still called label, http://getbootstrap.com/components/#labels

[2016-10-05 13:56] #1643 closed

[2016-10-05 13:56] #1690 closed

[2016-10-06 07:00] bajiat commented on #1644
Closing the issue.

[2016-10-06 07:00] #1644 closed

[2016-10-06 07:26] bajiat commented on #1693
+1

[2016-10-06 07:34] marla-singer commented on #1588
@bajiat @saralavanip THe problem was because of incorrect server settings. Please verify it again.
As for me I detected another problems with uploading/deleting files. There were already resolved. I'm going to create other issues and to describe in details about found bugs.

[2016-10-06 08:06] saralavanip opened #1699 "'Add API backend' not updating dashboard view"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Go to API Backends  and click on 'Add API Backend'
4. Enter details
5. Click on 'Add' button
6. Go to 'Proxy'
7. Enter proxy configuration details
8. Click on 'Save&Publish' button
9. Go to 'Dashboard'

# Expected Result
Dashboard view must be updated while API backend added successfully.

# Findings
Added API still shows 'No APIs to Manage'

[2016-10-06 08:18] marla-singer opened #1700 "Incorrect work of uploading file"
Step to reproduce:
1. Go to api Documentation tab.
2. Set "GPRS" presets on Network tab in Google Dev Tools
3. Open Manage modal. Choose file

Found result: The documentation isn't uploaded yet, but Swagger tries to valid this file.
![2016-10-06 10 57 06](https://cloud.githubusercontent.com/assets/20643403/19145184/7362f9b0-8bb6-11e6-9733-5cabea8ac10c.png)

Expected result: Swagger must check for

[2016-10-06 08:24] marla-singer opened #1701 "Incorrect work of deleting file"
Step to reproduce:
1. Go to Documentation tab and open Manage model.
2. Choose file and delete it . Don't click another button. Only **Choose file** and **Delete file**

Found result: Swagger body didn't remove
Screenshot:
![joxi_screenshot_1475742125450](https://cloud.githubusercontent.com/assets/20643403/19145330/268aa998-8bb7-11e6-8220-de32a0a48ef9.png)

Expected result: Empty scope
Screenshot:

[2016-10-06 08:25] bajiat commented on #1699
@frenchbread Any ideas?

[2016-10-06 08:28] bajiat commented on #1689
@saralavanip Try refreshing the page and see if the changes actually got saved. This is quite likely a bug, but we would like to get more details.

[2016-10-06 08:32] marla-singer commented on #1588
Issues:
#1700 #1701

[2016-10-06 08:35] saralavanip commented on #1588
@bajiat , @marla-singer , verified on https:nightly.apinf, being as owner to API cannot upload swagger document.
But user in admin role can upload documentation.
- Findings with upload-delete-upload document:
Steps:
1.Login as admin
2.Add API
3.Go to documentation
4.Upload document (eg. doc1.json)
   - Select methods: eg. GET
   - Add documentation link
5.Save
6.Delete the document uploaded (in ab

[2016-10-06 08:41] brylie commented on #1588
@sarala, when making markdown lists, please place a space at the beginning, so that Github will render it efficiently

[code]

[2016-10-06 08:49] saralavanip commented on #1689
@bajiat , Refreshing page would update its details in proxy form, but doesn't update API URL or URL in usage instructions(Details view).

[2016-10-06 09:11] saralavanip commented on #1636
Reported issues:
#1689
#1692
#1699
Verified and updated issues:
#1687
#1685
#1588
#1689

[2016-10-06 09:17] saralavanip commented on #1588
@brylie , Thanks for editing :)

[2016-10-06 09:38] saralavanip commented on #1583
@nnn , verified resolved issue on https://nightly.apinf.io  and it works as expected.

[2016-10-06 09:42] marla-singer commented on #1588
@bajiat I'm not sure which behaviour is correct: to save previously state about picked submit methods or to clear chosen methods after deleting documentation?

[2016-10-06 09:42] bajiat commented on #1588
@saralavanip Owner should be able to add Documentation.

[2016-10-06 09:45] bajiat commented on #1588
@marla-singer Unfortunately i don't understand the question. Can you elaborate?

[2016-10-06 09:55] brylie commented on #1588
@marla, keep the previously saved submit methods, and simply replace the Swagger file.

[2016-10-06 10:53] marla-singer commented on #1588
@bajiat No more questions. I've got an answer from @brylie
@saralavanip The feature works as expected.

[2016-10-06 11:00] saralavanip commented on #1701
@marla-singer , verified this issue on https:nightly.apinf.io . The swagger document text  also rendered in 'Details' view of all 'My APIs' . Please find the screenshot  attached.

Screenshot:
![allapis_view_swaggertest](https://cloud.githubusercontent.com/assets/13309358/19149975/350b9124-8bcd-11e6-8269-30c075ef882b.jpg)

[2016-10-06 11:05] jykae commented on #1624
@bajiat Description is a bit mixing concepts between 401 & 403 http://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses

I think 403 is appropriate for this, unauthorized is a bit different.

[2016-10-06 11:20] jykae opened #1703 "Normal user has added API, but not Proxy Backend, causes errors"
Admin has configured proxy.

Steps to reproduce:
- signup as normal user
- add API
- go to Dashboard

Behaviour:
<img width="1271" alt="nayttokuva 2016-10-06 kello 14 11 59" src="https://cloud.githubusercontent.com/assets/293452/19150358/175db70e-8bcf-11e6-9e62-ee082e2c9a8a.png">

Expected:
- Inform API owner to configure proxybackend for API to use analytics dashboard, OR hide until user has at l

[2016-10-06 11:26] brylie commented on #1588
@bajiat @saralavanip should we close this issue?

[2016-10-06 11:26] #1618 closed

[2016-10-06 11:27] brylie commented on #1624
@jykae the description already says to use 403.

[2016-10-06 11:53] frenchbread commented on #1699
@nnn Could you please check this one, since you've been woking on this feature?

@bajiat

[2016-10-06 13:55] #1700 closed

[2016-10-06 13:55] #1701 closed

[2016-10-07 07:44] bajiat commented on #1588
@brylie @marla-singer Yes we can close the issue, if an API owner (who is not an admin) is able to add a Swagger file

[2016-10-07 07:45] bajiat commented on #1377
@nnn @brylie Can I close this issue?

[2016-10-07 07:59] bajiat commented on #1692
@marla-singer Could you verify this error once nightly is back online? It is possible that email has not been enabled, but check if this error exists if there are email settings.

[2016-10-07 07:59] bajiat commented on #1686
@marla-singer Can I assign this task to you?

[2016-10-07 08:05] bajiat opened #1705 "Deploy release 0.32 to staging"
Once release 0.32 is available, deploy the release into staging so that it can be used for testing

[2016-10-07 08:09] bajiat opened #1706 "Explorative testing for rel 0.32"
Testing task for entire team to explore staging.apinf.io or nightly.apinf.io and to hunt bugs: Mon 10 - Tue 11 Oct

Options: Use [test scenarios](https://github.com/apinf/docs/blob/develop/docs/testing/Test_Cases_nightly_apinf_dashboard_v5.doc) created by Sarala or focus on the newly created functionality that is not incuded in the test scenarios yet.

Let's make sure we cover all the major browse

[2016-10-07 08:10] bajiat opened #1707 "Ensure that staging has all required deployment settings"
Check / add Settings in staging.apinf.io
# Definition of done
- [x] admins for Apinf and Api Umbrella
- [ ] proxy
- [ ] ES
- [ ] mail: to and from
- [ ] Github OAuth
- [ ] SDK generator
- [x] branding: e.g. logo

[2016-10-07 08:11] bajiat opened #1708 "Rerouting apinf.io to migration VM"
1) Change host name on migration.apinf.io server to apinf.io
2) Chandra change DNS settings for send apinf.io traffic on migration.apinf.io server.
3) restart docker-compose > register SSL certificates for new domain (Let's Encrypt)

Note also:
* ROOT_URL update
* update configs with ENV variables and api_umbrella.yml file

[2016-10-07 08:13] bajiat opened #1709 "Apinf.io data migration/input"
This task has two options:
* migrating users and apis from apinf.io to migration.apinf.io (requires also migration script plus some data cleanup)
* manually inserting the most relevant apis from apinf.io to migration.apinf.io

[2016-10-07 08:14] marla-singer commented on #1686
@bajiat Let me check, maybe this problem was resolved in PR #1697.

[2016-10-07 08:15] bajiat opened #1710 "Adding relevant APIs to migration.apinf.io"
Find relevant and useful APIs e.g. from API Suomi catalog and connect them to proxy

Definition of done
* [ ] Register to migration.apinf.io
* [ ] Add 2-3 APIs. For each of the APIs,
  * [ ] connect the API to proxy
  * [ ] Add logo
  * [ ] Add Swagger file and/or link to documentation, if available

[2016-10-07 08:19] bajiat opened #1711 "Check platform and branding settings on migration.apinf.io"
Make sure that migration.apinf.io has relevant settings that are valid for production environment

# Definition of done
* [ ] admins for Apinf and Api Umbrella
* [ ] proxy
* [ ] Elasticsearch
* [ ] OAuth
* [ ] SDK generator
* [ ] email (to and from)
* [ ] branding, incl. Apinf logo

[2016-10-07 08:29] marla-singer commented on #1686
@bajiat Yeah, like I supposed It already resolved. Admin has permissions watch others private api. See screenshot below.
![joxi_screenshot_1475828770357 1](https://cloud.githubusercontent.com/assets/20643403/19183470/2973746c-8c81-11e6-8870-a5a958350277.png)

[2016-10-07 08:32] bajiat opened #1712 "Integrate automated tests with building nightly"

[2016-10-07 08:33] bajiat opened #1713 "Fix one automated test"
Our UI has changed quite significantly since automated tests were created. Take one automated test case and update it to match current UI.

You can find the tests and any related instructions from https://github.com/apinf/apinf-testing.

[2016-10-07 08:33] bajiat opened #1714 "Write one unit test case"
This task is for 2nd week of sprint 33. Get your feet wet with unit testing.
# Resources
- Meteor Guide: [Testing](https://guide.meteor.com/testing.html)

[2016-10-07 08:34] jykae commented on #1686
Yes, added admin cases also for #1697

[2016-10-07 08:35] bajiat commented on #1686
@jykae Great! Can you add "closes #1686" to your PR

[2016-10-07 08:40] bajiat opened #1715 ""sanity" testing for apinf.io"
Final check on apinf.io to see that the UI is working after rerouting

# Definition of done
* [ ] creating user
* [ ] adding API, adding proxy settings to API
* [ ] adding documentation
* [ ] using SDK generator
* [ ] dashboard

[2016-10-07 08:40] jykae commented on #1686
@bajiat Yep

[2016-10-07 08:44] bajiat commented on #1708
@shaliko @jykae Can you comment whether I have captured the task correctly based on discussion from RocketChat?

[2016-10-07 08:53] brylie commented on #1377
I defer to @nnn

[2016-10-07 09:00] #1512 closed

[2016-10-07 09:00] #1515 closed

[2016-10-07 09:42] bajiat commented on #1648
@marla-singer Since the other issue I proposed to you was already resolved, could you take a look at this?

[2016-10-07 10:07] jykae opened #1716 "Ensure API name is unique"
New unique DB constraint for API name caused issue on nightly.apinf.io with existing APIs.

Solve for example as migration step (eg. add numbering on duplicates) that every API name in DB is unique to prevent this happening on other instances.

Behaviour: Application does not start, throws MongoError of duplicate.

[2016-10-07 10:27] #1377 closed

[2016-10-07 10:38] marla-singer commented on #1648
@bajiat Tested this at nightly like user with administrator role and manager role.
**OS Debian 8
Browser: Chrome 52**
Can't repeat this. It works as expected. Screenshots below:

1. Add two apis: 01 api and 02 api. Set proxy settings
![joxi_screenshot_1475836037763](https://cloud.githubusercontent.com/assets/20643403/19187174/adb0b42c-8c92-11e6-8b47-bbc88e0f0d1d.png)
![joxi_screenshot_147583607585

[2016-10-07 12:30] #1623 closed

[2016-10-07 13:06] marla-singer commented on #1692
@bajiat Do you mean this email settings?
![joxi_screenshot_1475845510781](https://cloud.githubusercontent.com/assets/20643403/19190764/f97307f6-8ca7-11e6-979a-dcec5a2e4fc0.png)

[2016-10-07 13:10] shaliko commented on #1708
@bajiat looks good!

[2016-10-07 13:35] marla-singer opened #1719 "Mail settings don't exist, but verification email is enabled"
Verified on the nightly. Mail settings don't exist.
Sign out and go to Login page.

Found result on screenshots:
![joxi_screenshot_1475846958641](https://cloud.githubusercontent.com/assets/20643403/19191601/dd3d25d6-8cab-11e6-8bbe-a6934947764d.png)
![joxi_screenshot_1475847022739](https://cloud.githubusercontent.com/assets/20643403/19191604/dfadb18c-8cab-11e6-8c08-bc2b1d8b09c9.png)

Expected resul

[2016-10-07 14:41] marla-singer commented on #1692
@jykae Could you please set the right email settings on nightly? My attempts of set the correct email settings on localhost didn't culminated successful. Well, you remember I faced with this problem when was reviewing the feature 'Verification e-mail' the last time

[2016-10-08 11:55] mauriciovieira commented on #1714
👏

[2016-10-10 07:05] #1636 closed

[2016-10-10 07:15] #1567 closed

[2016-10-10 07:31] bajiat commented on #1711
@shaliko: Can you make sure @jykae has access?

[2016-10-10 07:38] bajiat commented on #1708
@shaliko Should we also take a snapshot of the VM?

[2016-10-10 07:42] shaliko commented on #1708
@bajiat yes, that is good idea for have second chance (rollback).

[2016-10-10 07:51] bajiat commented on #1712
@shaliko Could you add a testing step to travis.yml? We expect the tests to fail.

[2016-10-10 07:53] shaliko commented on #1712
@bajiat Looks like platform dose not have any tests (Unit, Integrations/Regression).

We can easily update travis.yml for run tests, when we will have tests.

[2016-10-10 07:57] bajiat opened #1721 "Dashboard not rendering"

[2016-10-10 08:06] bajiat commented on #1712
@shaliko Can you take a look at this repo: https://github.com/apinf/apinf-testing ?

[2016-10-10 08:10] bajiat commented on #1706
Pick one or more testing areas. Remember to have users with varying privileges (regular, manager, admin)
* Registration, login, email verification, user profile, re-setting password
* Adding APIs and documentation  (adding APIs without and with proxy), creating SDK
* Catalog views and sorting, viewing API, API profile tabs, giving feedback
* Dashboard

[2016-10-10 08:18] bajiat commented on #1721
<img width="899" alt="empty dashboard" src="https://cloud.githubusercontent.com/assets/11626388/19230106/497cdbf2-8edb-11e6-8e2d-7ee1c89dafa9.png">

[2016-10-10 08:18] bajiat commented on #1721
<img width="235" alt="empty api list" src="https://cloud.githubusercontent.com/assets/11626388/19230113/50c8eea0-8edb-11e6-9e8f-1a3e06f6ea18.png">

[2016-10-10 08:19] shaliko commented on #1712
Require some time for tests. By quick glance, probably we can use Chrome Headless https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md for run chrome without UI part (ping @brylie).

[2016-10-10 08:21] bajiat commented on #1721
![apinf_and_rocket_chat_ 1](https://cloud.githubusercontent.com/assets/11626388/19230176/c0815e6c-8edb-11e6-8d00-abc78691046b.jpg)

[2016-10-10 08:23] shaliko commented on #1711
@bajiat Checked with @jykae, he is admin now.

[2016-10-10 09:04] brylie opened #1723 "Dashboard API select menu status errors"
When viewing the Dashboard, there are console errors about the API Status Indicator. Fix the API Select Menu to use the proper attributes, and simplify the code.

[2016-10-10 09:12] brylie commented on #1712
Sounds good. The tests are written to use Selenium, if that has any effect on your decision.

[2016-10-10 09:16] shaliko commented on #1712
Yes, Selenium should easy work with Chrome Headless http://www.chrisle.me/2013/08/running-headless-selenium-with-chrome/

But that is not final decision, I will test it on Travis CI. More concern how to easy debug if tests fails.

[2016-10-10 09:18] bajiat commented on #1706
Consider using one of these tools:
* https://crossbrowsertesting.com/
* https://www.browserling.com/
* https://www.browserstack.com/

[2016-10-10 09:25] shaliko commented on #1712
@brylie sorry, above was wrong article "headless Selenium" instead of "headless chrome".

That one right https://blog.codeship.com/laravel-and-behat-using-selenium-and-headless-chrome/

[2016-10-10 09:26] #1200 closed

[2016-10-10 09:36] marla-singer commented on #1692
@bajiat If there are email settings, I have an error "Interval server error"
But it also can be because of the incorrect mail settings :worried:
![joxi_screenshot_1476091764023 1](https://cloud.githubusercontent.com/assets/20643403/19232034/2309e536-8ee6-11e6-90a7-ae6e10f18684.png)

[2016-10-10 09:58] saralavanip opened #1725 "User unable to login"
Steps:

1. Visit https://nightly.apinf.io
2. Click on 'login'
3. Enter username
4. Enter password

Expected Result: Successful login with registered username/email and password
Actual: Displays message 'Sent you an email. Please verify' .No email sent to registered email address. If clicked on 'Send again' -enter registered email address-shows 'Already verified'

Browser:
1. Mozilla Firefox 48.0
(

[2016-10-10 10:10] #1723 closed

[2016-10-10 10:16] saralavanip opened #1726 "User unable to Register"
Steps:

1. Visit https://nightly.apinf.io
2. Click on 'Sign up'
3. Enter username
4. Enter  'Email' address
5. Enter 'Password'
6. Click on 'Register'

Expected Result: Successful Register/ create account and confirmation email sent to the user successfully.
Actual Result: Displays 'Email sent. Please verify' , but no confirmation email sent to the user.

Browser:
1. Mozilla Firefox 48.0
(Mozilla

[2016-10-10 10:32] brylie commented on #1703
As @jykae's screenshot shows, Elastic is throwing a `SearchParseError`:

[code]

@frenchbread thoughts?

[2016-10-10 10:58] jykae opened #1727 "Email verification issues"
Login attempt verifier should turn off, when mail is disabled. Currently turning on is only happening.
Method: https://github.com/apinf/platform/blob/develop/settings/server/methods.js#L31
is called from:
https://github.com/apinf/platform/blob/develop/settings/server/startup.js
https://github.com/apinf/platform/blob/develop/settings/client/autoform.js#L6

Related: #1725 #1726

[2016-10-10 11:01] jykae opened #1728 "Allow user with admin role to login without email verification"
To prevent further so called "black box lock-out" happening, allow users with admin role to log in without verified email address

Related: #1725 #1726 #1727

[2016-10-10 11:15] bajiat commented on #1728
+1

[2016-10-10 11:34] bajiat commented on #1714
@brylie Can you link the Meteor guide.

[2016-10-10 11:37] Nazarah opened #1729 "Modify Quick tour message for the following"
- [ ] Documentation
- [ ] Metadata
- [ ] Backlog
- [ ] Export
- [ ] Settings
- [ ] Proxy

[2016-10-10 11:54] Nazarah commented on #1729
* Documentation
![image](https://cloud.githubusercontent.com/assets/17976243/19235111/54967634-8ef8-11e6-916d-1c932fd891de.png)

* Metadata
![image](https://cloud.githubusercontent.com/assets/17976243/19235157/929bda0a-8ef8-11e6-9432-15bde5ec8b35.png)

* Backlog
![image](https://cloud.githubusercontent.com/assets/17976243/19235172/b05a5a9e-8ef8-11e6-9b55-88623c3e523a.png)

* Export
![image](https:

[2016-10-10 11:59] brylie commented on #1714
Done.

[2016-10-10 12:11] Nazarah opened #1730 "Dashboard: Future date is clickable in date picker and on click dashboard keeps on loading"
# Possible solution
It may be possible to fix this bug by editing/removing the following line:

- [/dashboard/client/charts/filtering/datepicker/datepicker.js:10](https://github.com/apinf/platform/blob/develop/dashboard/client/charts/filtering/datepicker/datepicker.js#L10)

[code]

# Steps to reproduce
- login to nightly.apinf.io
- make sure you have an API and is connected to a proxy.
- click on

[2016-10-10 12:18] frenchbread commented on #1703
I suppose that API's prefixes are not being passed to `body.query.filtered.query.bool.sould`

[2016-10-10 12:18] Nazarah opened #1731 "Dashboard - Dropdown doesn't populate list of APIs"
# Steps to reproduce
* login to nightly.apinf.io
* make sure you have an API and is connected to a proxy.
* click on dashboard.
* Click on "Select API" dropdown.
* Result: dropdown doesn't populate list of APIs for which analytics can be viewed.
![image](https://cloud.githubusercontent.com/assets/17976243/19235820/aebae3a8-8efc-11e6-98d9-71691557842e.png)

# Expected Result
* List of APIs for whic

[2016-10-10 12:19] frenchbread commented on #1703
Because in this case no data is returned.

[2016-10-10 12:20] brylie commented on #1703
OK, can you help resolve this issue?

[2016-10-10 12:22] frenchbread commented on #1703
@brylie I can, as soon as I'll setup local env.

[2016-10-10 12:23] brylie commented on #1703
OK, thanks.

[2016-10-10 12:24] Nazarah opened #1732 "Catalog: for API with large description texts, make words from 3rd sentence appear in fading color"
This would give the appearance of more details that is available to view from API profile.
![image](https://cloud.githubusercontent.com/assets/17976243/19236009/b8c1ec06-8efd-11e6-9c8b-33a244188ab9.png)

[2016-10-10 12:33] frenchbread commented on #1703
Looks like ES throw an error because it can't find any APIs "locally". Can you reproduce this issue when having APIs in catalog fetched from API Umbrella?

[2016-10-10 12:36] frenchbread commented on #1703
Yeah, when having some APIs in catalog and proxy backends setup for them, no errors are shown & dashboard works fine.

[2016-10-10 12:44] marla-singer opened #1733 "API tabs: Console error on API Details"
Verified on nightly

**Steps**: Go to any api and open Console tab in Dev Tools
**Error**: `Exception in template helper: Error: $in needs an array`
**Screenshot**:
![2016-10-10 15 41 13](https://cloud.githubusercontent.com/assets/20643403/19236478/574a25c6-8f00-11e6-8528-f2e0fdb1cbaf.png)

[2016-10-10 12:48] saralavanip opened #1734 "Update password: Incorrect 'current password' error"
Steps:

1. Visit https://nightly.apinf.io
2. Login
3. Navigate to 'Account' view
4. Go to 'Update password'
5. Enter incorrect current password
6. Enter valid new password
7. Confirm new password: Repeat entering the same above password
8. Click on 'Change password'

Expected Result: Displays error message 'Invalid Current password' or highlights 'Current password' field with error message.
Actual

[2016-10-10 12:48] marla-singer opened #1735 "API tabs: doesn't work feedback vote"
Verified on nightly
Doesn't work feedback vote

**Steps**:
1. Go to API and add any feedback
2. Click on arrow (up or down)

**Found**: Console error `Error invoking Method 'submitVote': Internal server error [500]` and nothing else

**OS**: debian 8
**Browser**: Chrome

[2016-10-10 12:51] Nazarah opened #1736 "Catalog - Table view doesn't show API Description if provided"
# Steps to reproduce
- go to nightly.apinf.io
- click on catalog
- open an API profile
- go to Settings tab
- add description to the API and click save
- go to catalog view
- click on table view
- result > tabular view doesn't show any description

![image](https://cloud.githubusercontent.com/assets/17976243/19236680/4b894464-8f01-11e6-8ae7-73d2fc6f2cf4.png)
![image](https://cloud.githubuserconten

[2016-10-10 12:57] frenchbread commented on #1703
It's a matter of having right config for apis and proxies. Dashboard cannot work without them. I'll check why notification "no proxy backends setup" is not shown

[2016-10-10 13:02] saralavanip opened #1737 "Update password error"
# Steps
1. Visit https://nightly.apinf.io
2. Login
3. Navigate to 'Account' view
4. Go to 'Update password'
5. Enter correct 'Current password'
6. Enter  'New password'  (eg. same as above current password)
7. Confirm new password: Repeat entering the same above password
8. Click on 'Change password'

Expected Result: Notify user if current and new passwords are same or no change found.

Actual Re

[2016-10-10 13:02] nnn commented on #1731
I don't have this bug, the latest develop. Did you add any?

[2016-10-10 13:06] Nazarah opened #1738 "API Profile - Remove "Bookmark/Unbookmark" text from the button"
As enhancement remove "Bookmark/Unbookmark" text from the button leaving just an icon.
There should be a clear indication of bookmarked state as well unbookmarked.

![image](https://cloud.githubusercontent.com/assets/17976243/19237065/75b369b6-8f03-11e6-846f-2631ec1f85c8.png)

[2016-10-10 13:20] nnn commented on #1738
We were planning to remove text at all, leaving just an icon.
"Remove Bookmark" will take too much space.

[2016-10-10 13:21] Nazarah commented on #1738
Good solution. As long as there is the correct text/icon, don;t have any problem.

[2016-10-10 13:24] saralavanip opened #1739 "Call API : Analytics not shown on dashboard"
Steps:

1. Visit https://nightly.apinf.io
2. Login
3. Add API Backend with proxy
4. Go to API Details view
5. Call API : click  on URL in usage instructions
6. Go to Dashboard

Expected Result:
- Analytics shown for above selected API

Findings:

-  'Select API' drop down menu doesn't list the API s added
-  Analytics not shown in Dashboard view

Browser:

1. Mozilla Firefox 48.0
  - (Mozilla Fire

[2016-10-10 13:32] Nazarah opened #1740 "API Profile - Proxy Tab: show alert/error texts using css alert text to separate them from rest of other texts"
If an error text appears under proxy base path or API base path fields, it can't be distinguished from other texts.
Add css alert class to separate the error texts
![image](https://cloud.githubusercontent.com/assets/17976243/19237748/1f29bfd8-8f07-11e6-9be2-d730146cb88d.png)

[2016-10-10 13:39] bajiat opened #1741 "Proxy tab: API base path mandatory"
When owner is adding an API, they might add an URL that basically covers the entire URL until endpoint. But when they link the API to a proxy, they will encounter a situation where it is mandatory to enter something to API base path, even if it is just slash. Otherwise there will be an error. An error that creates no warning.

To circumvent this I had to remove a backslash from the URL in settings

[2016-10-10 13:43] saralavanip opened #1742 "Reset password : 'Internal server error'"
Steps:

1. Visit https://nightly.apinf.io
2. Click on 'Login'
3. Enter username
4. Click on 'Forgot password'

Expected Result: Send reset password link to the given email address.
Actual Result: Displays 'Internal Server Error'

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2. Google Chrome 52.0.2743.116

Operating System: Ubuntu 16.0 LTS

Screenshot:
![selection_

[2016-10-10 13:43] bajiat commented on #1741
<img width="884" alt="api-pase-bath" src="https://cloud.githubusercontent.com/assets/11626388/19238111/a75f68ca-8f08-11e6-9f1a-d6a0031f7351.png">

[2016-10-10 13:46] #1624 closed

[2016-10-10 13:46] #1686 closed

[2016-10-10 13:50] frenchbread opened #1743 "pathFor couldn't find a route named "manageApiBackends""
![screen shot 2016-10-10 at 16 46 39](https://cloud.githubusercontent.com/assets/2122679/19238212/267fb632-8f09-11e6-90df-0cce9b701aeb.png)

### Actual behaviour:
- Clicking on "Manage APIs" does not do anything.
- `pathFor couldn't find a route named "manageApiBackends"` is logged in browser console

### Expected
- My managed APIs page opens

[2016-10-10 13:53] nnn commented on #1740
Already in develop with this commit https://github.com/apinf/platform/pull/1722/commits/5c75a190a38ca494544f4415e257d655d4d85695

[2016-10-10 14:04] bajiat commented on #1743
Alternative option: remove the link to Manage APIs

[2016-10-10 14:23] marla-singer opened #1744 "Api tabs: anonymous user has access to feedback manipulation"
Verified on nightly
Anonymous user has access to feadback manipulation

**Steps**:

1. Create any feedback in api
1. Sign out
1. Go to this api and open Feedback tab

**Found result**:
![joxi_screenshot_1476109134917](https://cloud.githubusercontent.com/assets/20643403/19239308/15c0cbe2-8f0e-11e6-8183-e534bdfa4bbd.png)

**Expected result**: Remove feedback must be available only to api owner.

**O

[2016-10-10 14:52] jykae opened #1746 "Latest monitoring status code required"
Migration crashes for latest monitoring status code required.

<img width="966" alt="nayttokuva 2016-10-10 kello 17 51 40" src="https://cloud.githubusercontent.com/assets/293452/19240252/3b8a3184-8f12-11e6-88e1-5a9186ae15a1.png">

[2016-10-10 15:14] #1746 closed

[2016-10-11 07:17] brylie opened #1748 "Proxy backends not syncing"
After a recent pull request, which added a new required fields, our `syncApiUmbrellaBackends` method now fails. Fix this issue by making the `latestApiStatusCode` field optional.

[2016-10-11 07:18] brylie commented on #1359
@bajiat we can close this issue, as it is likely no longer relevant. At least, we are no longer using synced cron to sync the Proxy Backends.

[2016-10-11 07:24] philippeluickx opened #1750 "Slugs for URLs"
# Task
Add URL slug capabilities to Apinf. URL slugs will be used for organization URL paths, and possibly for APIs.

# Original request
When an API is created, the URL generated is one that includes a random string. It would be nice to have slugs instead.
This way, a URL can more easily be shared.

# Definition of done
- [x] URL slug package has been chosen and installed
- [x] Organization schema

[2016-10-11 07:25] #1748 closed

[2016-10-11 07:59] brylie opened #1751 "Allow Admin users to see Admin API analytics on the Dashboard"
Currently, there is no way for Admin users to view usage statistics about the Admin API. This may be useful for diagnostic purposes, such as detecting performance bottlenecks.

Add an option to the *Select API* dropdown, that only Admin users can see, so that we can display analytics from the `/api-umbrella/` endpoint on the dashboard:

![screenshot_20161011_104652](https://cloud.githubusercontent

[2016-10-11 07:59] brylie commented on #1751
Ping @frenchbread

[2016-10-11 08:21] #1622 closed

[2016-10-11 08:21] #1615 closed

[2016-10-11 08:21] #1504 closed

[2016-10-11 08:21] #1571 closed

[2016-10-11 08:23] bajiat commented on #1751
@frenchbread What is your estimate for this?

[2016-10-11 08:25] frenchbread commented on #1751
@bajiat Done, pushing the code..

[2016-10-11 08:30] #1740 closed

[2016-10-11 08:35] bajiat commented on #1734
@saralavanip Confirm password change is not an APInf dialog. It is a system or browser password manager dialog. can we close this?

[2016-10-11 08:38] bajiat commented on #1731
@brylie Can you verify whether it was fixed already?

[2016-10-11 08:39] bajiat commented on #1729
I would keep the current wording: shorter, straight to the topic. Closing the issue.

[2016-10-11 08:40] #1729 closed

[2016-10-11 09:14] brylie commented on #1739
@saralavanip I added a new line directly after the 'steps:' line in your issue description. It seems that markdown lists must be preceeded by a blank line. Also, thanks for improving the markdown in your issue reports, as it helps improve readability :smiley:

[2016-10-11 09:15] brylie commented on #1739
I am working with this code today, so will try to reproduce this bug.

[2016-10-11 09:15] brylie commented on #1731
Jep. This may be resolved in recent commits.

[2016-10-11 09:16] brylie commented on #1734
@saralavanip I added a blank line after the 'steps:' line, and a dot ( . ) after the '1' in your issue description. These little details allow Github to render the list correctly.

[2016-10-11 09:17] brylie commented on #1734
I will try changing my password today, to reproduce this issue.

[2016-10-11 09:24] #1751 closed

[2016-10-11 09:27] brylie commented on #1721
@frenchbread I just tested the dashboard again, this time as a normal user:

- the user had one API
- the API had Proxy settings

When viewing the Dashboard, I see the following console errors:

    at http://localhost:3000/app/app.js?hash=6fce1c9d16bacee2f2a661b89a8f6dd2493be2ae:6149:20
    at MethodInvoker._callback (http://localhost:3000/packages/meteor.js?hash=ae8b8affa9680bf9720bd8f7fa112f13a

[2016-10-11 09:29] brylie commented on #1721
With the above errors, the charts render empty without warning the end user:

![screenshot_20161011_122836](https://cloud.githubusercontent.com/assets/17307/19265566/4ab8b06c-8fae-11e6-9e89-b4d5a5524cdc.png)

[2016-10-11 10:06] frenchbread commented on #1721
Had the same error & fixed it with #1752

[2016-10-11 10:07] brylie commented on #1721
OK, because I am able to reproduce the error in the `develop` branch.

[2016-10-11 10:09] brylie commented on #1721
Steps to reproduce:

1. checkout `develop`
2. make sure a Proxy has been added
3. log in as a non-admin user (normal user)
4. Add an APi
5. Add proxy settings to the API
6. visit Dashboard
7. Check console log

[2016-10-11 10:11] bajiat commented on #1699
@saralavanip Could you verify this once nightly is available? This is probably resolved.

[2016-10-11 10:11] brylie opened #1753 "Dashboard console error when viewing as non-admin user with proxy backend configured"
When viewing the Dashboard as a non-admin user having one or more proxy backends, error(s) appear in the console.

[code]

[code]

# Screenshot
With the above error(s) in console, the Dashboard renders empty charts

![screenshot](https://cloud.githubusercontent.com/assets/17307/19265566/4ab8b06c-8fae-11e6-9e89-b4d5a5524cdc.png)

# Steps to reproduce

1. checkout `develop`
2. make sure a Proxy has

[2016-10-11 10:19] brylie commented on #1753
Ping @frenchbread can you try to reproduce this issue with a non-admin user?

[2016-10-11 10:32] frenchbread commented on #1753
Yep, there was an error in publication, please revuew

[2016-10-11 10:32] marla-singer opened #1755 "Tab "Manage APIs" ia available yet"
Verified on staging

**Steps**:
1. Go to staging.api.io and login
2. Go to Catalog and open the dropwdown list "Api backends"

**Found**: Tab "Manage APIs" ia available yet
![2016-10-11 13 26 57](https://cloud.githubusercontent.com/assets/20643403/19267387/1b244d58-8fb7-11e6-9006-3fb569f980a4.png)

**Expected**: This item mustn't be

[2016-10-11 10:37] bajiat commented on #1755
We have a solution for this in another issue: remove the dropdown menu (and along with that the Manage APIs menu item) and replace the dropdown menu with Add API link

[2016-10-11 10:55] brylie commented on #1739
I was able to duplicate this bug using the latest `develop`. Following the steps to reproduce, no APIs appear in the 'select api' dropdown menu as a non-admin user.

[2016-10-11 10:57] frenchbread commented on #1739
Check #1754

[2016-10-11 11:00] marla-singer opened #1757 "API card: the Private label and api description look bad and unreadable together"
Verified on staging
When the api description is big and visibility is private, API card layout looks bad and unreadable

**Steps**:
1. Create an api with big description
2. Make it Private
3. Go to Catalog

**Found**:

![joxi_screenshot_1476182360576](https://cloud.githubusercontent.com/assets/20643403/19268067/e0c9e3da-8fba-11e6-8f73-9fd62a6abc4a.png)

[2016-10-11 11:01] #1731 closed

[2016-10-11 11:01] #1753 closed

[2016-10-11 11:21] brylie commented on #1734
I am able to change my password on the current `develop` branch:

![screenshot_20161011_142059](https://cloud.githubusercontent.com/assets/17307/19268599/fca73be0-8fbd-11e6-96dd-a77156a75258.png)

Please make sure to disable your password manager when testing this feature.

[2016-10-11 11:21] #1743 closed

[2016-10-11 11:21] #1755 closed

[2016-10-11 11:26] #1739 closed

[2016-10-11 11:27] brylie commented on #1641
Both of these errors have been fixed in separate PRs.

[2016-10-11 11:28] brylie commented on #1641
We have also fixed the text link for 'no results available' to be a button.

Closing.

[2016-10-11 11:28] #1641 closed

[2016-10-11 11:40] marla-singer opened #1758 "Proxy tab: endSubmit hook isn't called"
Verified on staging

**Steps**:
1. Create an api and go to Proxy tab
2. Leave proxy_path and api_path empty and set "Disable API key"
3. Click on the button "Save & Publish"

**Found**: Nothing happened. No success/error message. The "Save & Publish" button is disable
![joxi_screenshot_1476185349824 1](https://cloud.githubusercontent.com/assets/20643403/19269035/b5681a4e-8fc0-11e6-8085-63a136b2f5e

[2016-10-11 11:44] marla-singer commented on #1758
These is repeted with "Rate limits" too
![joxi_screenshot_1476186191337](https://cloud.githubusercontent.com/assets/20643403/19269105/287677f6-8fc1-11e6-86c9-586c491a653c.png)

[2016-10-11 12:03] marla-singer opened #1759 "API Details: the wrong description in usage instruction if "Disable API key" is true"
Verified on staging.
If an api owner sets "Disable API key" true, the usage instruction should be update. Now it isn't so.

**Steps**:

1. Create an api and go to Proxy tab
2. Fill up the form "Proxy backend configuration", also check "Disable API key"
3. Get API key, if you don't have yet
3. Go to Details tab

**Found**:
Usage instraction has the next:
"call the API **with your key** in the URL p

[2016-10-11 12:50] bajiat commented on #1759
Makes sense :)

2016-10-11 15:03 GMT+03:00 Daria Voytova <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-10-11 13:38] bajiat commented on #1758
@marla-singer You have not provided anything in Proxy base path and API base path. Those are mandatory fields.

[2016-10-11 13:52] marla-singer commented on #1758
@bajiat So it must show message about this

[2016-10-11 13:57] bajiat commented on #1758
You are right about that.

[2016-10-11 14:10] bajiat commented on #1742
Duplicate of #1692 ?

[2016-10-11 14:11] #1648 closed

[2016-10-11 14:15] marla-singer commented on #1742
@bajiat In my opinion, not at all. There are two different tasks:

1. When email settings are enabled,  Reset password : 'Internal server error' (this issue)

2. When email settings are disabled: (1692 issue)

-  'Reset password link' not sent to the given (registered) email address

-  Displays successful message 'Email Sent'

[2016-10-11 14:48] marla-singer opened #1760 "Proxy tab: "Rate limits" validation works incorrect"
Verified on staging

**Steps**:

1. Go to Proxy tab and fill up a form
2. Set "Rate limitmodel" as "Custom rate limits"
3. Don't fill up this form or fill up on half

**Found**:  Message about successful saving and empty fileds. Screenshot below
![joxi_screenshot_1476189306948 2](https://cloud.githubusercontent.com/assets/20643403/19275015/e95114c2-8fda-11e6-88ed-da26e9c5b212.png)

**Expected**: W

[2016-10-11 16:26] saralavanip opened #1762 "Enable 'API key requirement' allows Call API without API Key"
# Steps
1. Visit https://staging.apinf.io
2. Login
3. Add API Backend
    -  Enter Name
    -  Enter Description
    -  Enter URL
4. Go to Proxy
5. Enter proxy configuration details
6. Select option 'Disable API key requirement'  and Save
7. Go to API Details view
8. Do not 'Get API key'
9. Call API : click  on URL in usage instructions  (URL without API key)
10. Go to 'Proxy'
11. Enable API Key r

[2016-10-12 06:33] marla-singer commented on #1759
@bajiat Considering the issue #1762 I suggest the next scenario:

1. If Proxy backend configuration is completed, "Disable API key" is false and user haven't got api key yet, usage instruction has message as "This api can be called only using api key. Please get one using special button"
2. If Proxy backend configuration is completed, "Disable API key" is false and user has got api key, usage inst

[2016-10-12 06:54] bajiat commented on #1762
@saralavanip Why is the expected result here "Call API without API key should be unsuccessful"?

[2016-10-12 07:00] bajiat commented on #1728
Potential idea: set all existing **admin** users email verified as true, when email verification is enabled.

[2016-10-12 07:01] bajiat commented on #1728
@marla-singer Would you be interested in this task?

[2016-10-12 07:04] marla-singer commented on #1728
@bajiat Yeah, why not. Your potential idea is the same as my one

[2016-10-12 07:20] bajiat opened #1763 "Dashboard needs a state for owner that has not connected API to proxy"
1. Visit https://nightly.apinf.io (or current `develop` branch)
2. Sign up (a **non-admin** user)
3. Add an API (**do not** add a Proxy Backend)
4. Go to Dashboard

# Expected results
- Dashboard should inform user that they need to connect API to a proxy in order to see anything on Dashboard.
- console should contain no errors
  - `getElasticSearchData` should not be called

# Observed result
##

[2016-10-12 07:21] bajiat commented on #1763
@brylie Please add screenshot and/or console log

[2016-10-12 07:22] brylie commented on #1763
[code]

[2016-10-12 07:24] brylie commented on #1763
@frenchbread we need to add a third conditional check to the dashboard:

- a user who has added an API, but who has **not** added a Proxy for the API
  - the dashboard should tell the user they need to also configuer a Proxy
  - dashboard charts should **not** render
  - there should be no call to elasticsearch (which throws exceptions)

[2016-10-12 07:26] saralavanip commented on #1762
@bajiat : Selected option 'API key required' while calling API ( in step 11) and user must be notified to 'Get API key' from the feature available in API Details view.

[2016-10-12 07:38] bajiat commented on #1762
@saralavanip But the option in the Proxy tab is "Disable API key requirement".

API key is required if you do **not** select that option.

[2016-10-12 07:41] brylie commented on #1737
@bajiat this does not seem to be a bug. It possibly an enhancement, but I am not sure how this negatively impacts the user.

In effect, someone can change their password to the same password, without any problem.

[2016-10-12 07:43] brylie commented on #1737
I recommend closing this issue, or filing it as an enhancement (with a description of how it might negatively affect an user).

[2016-10-12 07:53] saralavanip commented on #1762
@baijat, In step:6 selected option 'Disable API key requirement' (API key not required while calling API)  and in step:11 deselected option 'Disable API key requirement' (API key required while calling API)

[2016-10-12 07:57] bajiat commented on #1734
Works as expected. Closing the issue.

[2016-10-12 07:58] #1734 closed

[2016-10-12 08:01] marla-singer commented on #1762
@bajiat I'll try to clarify.
Steps:

1. Create a new user
2. Go to api which is connected to proxy backend
3. In Usage instruction you can see:
call the API **with your key** in the URL parameters: https://staging.apinf.io:3002/joku/
![joxi_screenshot_1476259065928](https://cloud.githubusercontent.com/assets/20643403/19302002/f75acfaa-906a-11e6-88da-9f83e40d8d7d.png)

However, **call the api witho

[2016-10-12 08:28] bajiat opened #1764 "Migration steps for APIs"
1. Migration for API settings to fix conflicts for unique settings (name)
2. Migration for proxy backends settings for conflicts
2. Splitting old API backends to proxy settings and API settings

[2016-10-12 08:33] bajiat opened #1765 "Migration: Updating proxy backends to API Umbrella"
* Go through the Apinf proxy backends collection
* See if it possible to compare the collection with API backends collection in API Umbrella
* Update to API Umbrella

[2016-10-12 08:38] bajiat commented on #1764
@jykae Please make corrections to the issue description

[2016-10-12 08:47] bajiat commented on #1620
@apinf/developers I have started a localisation round. If you need to add an i18n string to en.i18n.json while this is ongoing, please comment in this issue and give the id of the string

[2016-10-12 09:23] Nazarah commented on #1763
In case API owner doesn't connect her API to a proxy and navigates to dashboard page, the following message should appear:
"You have not yet connected your API to a proxy. To see analytics of your API usage, browse your API from Catalog and configure a proxy from the API profile."
The catalog can be a hyperlink that redirects the user to catalog page.

[2016-10-12 09:43] #1728 closed

[2016-10-12 09:59] frenchbread commented on #1763
@brylie This should be implemented already, please check. The message currently shows that "Not Apis or Proxy backends" added. But technically this check is done using proxy backends only.

[2016-10-12 10:10] brylie commented on #1763
@frenchbread, @bajiat and I tested this morning, right before adding this issue. Please see steps to reproduce.

[2016-10-12 10:29] Nazarah opened #1767 "IE11 - on clicking Bookmark , user gets back to APINF landing page"
# Reproduction Steps:
1. go to https://staging.apinf.io/
2. go to API catalog or profile page
3. Click on Bookmark

# Result
* User gets back to APINF landing page
* Happens both for bookmark / remove bookmark action
![bookmark-ie11](https://cloud.githubusercontent.com/assets/17976243/19306925/a0f5e602-9080-11e6-9ea5-d7e29b834958.gif)

# Expectation:
* On clicking bookmark icon, user should remain

[2016-10-12 10:31] brylie commented on #1763
@frenchbread and @bajiat, I have added screenshots for the following three scenarios:

- anonymous user accessing Dashboard
- regular user with no APIs accessing Dashboard
- regular user with one (or more) API(s) accessing Dashboard

There are console errors in all three cases. In the third case, the Dashboard renders, but the **Select API(s)** dropdown is empty and there is no chart data.

[2016-10-12 10:43] bajiat commented on #1763
@brylie Thanks for the verification and the screenshots.

Assigning to @jykae.

[2016-10-12 10:48] Nazarah opened #1768 "Secondary sorting criteria is not clear in APINF catalog"
When the APIs are sorted based on Number of Bookmarks and Average rating, it is not clear how the APIs appear (by names or creation date in the case two APIs have same alphabet in their names or same creation time). There should be some indicator to show this. (e.g. sorting criteria: no of bookmarks (asc) with API names in Asc order)

[2016-10-12 10:51] jykae commented on #1763
@bajiat @brylie For anonymous user redirect to signup/login OR not-authorized page?

[2016-10-12 11:00] Nazarah opened #1769 "API Catalog Cardview: APIs with long description texts get scrambled in card view"
# Reproduction steps:
* go to https://staging.apinf.io/catalogue
* go to an API profile-> Setting tab
* Add and save the following text in Description field: Попробуйте сделать следующее: Проверьте подключение к Интернету. Проверьте настройки прокси-сервера и брандмауэра.
* Go to catalog

# Result:
* the text gets scrambled with bookmark action and time of the API creation
* Chrome
![image](https:

[2016-10-12 11:01] brylie commented on #1742
I am working on this issue, and will disable the *forgot password* link when email is not configured.

[2016-10-12 11:02] brylie commented on #1719
I am working on this issue and will disable the *re-send verification email* link when email is not configured.

[2016-10-12 11:04] brylie commented on #1763
Cool. That way they will get redirected to Dashboard after they sign in or register.

[2016-10-12 11:40] jykae commented on #1763
Next case normal user without APIs:

<img width="1271" alt="nayttokuva 2016-10-12 kello 14 38 15" src="https://cloud.githubusercontent.com/assets/293452/19308694/a744a8f0-9089-11e6-831a-4fa8bf66a91d.png">

Not getting console errors like in @brylie 's screenshot

[2016-10-12 11:45] bajiat commented on #1769
Duplicate of #1757. Closing.

[2016-10-12 11:45] #1769 closed

[2016-10-12 11:47] brylie commented on #1763
I will try to add steps to reproduce from a fresh clone.

[2016-10-12 11:47] bajiat commented on #1768
@Nazarah How do you sort them with two criteria at the same time? Does this happen in some specific browser?

[2016-10-12 11:58] brylie commented on #1763
I was able to reproduce the second use case (regular user with one API having no ProxyBackend) with the following steps:

1. delete my working folder
1. clone the repository
1. make sure I am on `develop` branch
1. npm install
1. run meteor
1. create **admin** user
1. configure Proxy (with proper settings)
1. sign-out
1. create **non-admin** user
1. add API as **non-admin** user
  - do not add Pro

[2016-10-12 12:01] Nazarah commented on #1768
@bajiat this is not Browser specific
I am adding the screenshot here
![image](https://cloud.githubusercontent.com/assets/17976243/19309248/67d568aa-908c-11e6-9aed-9635ab8c96c9.png)

right now the sorting order is no. of bookmarls asc. order. but if you see the API names, there is no order (as./ dec.) orders in them. Also it is not clear if one PAI was added before another.
SO what I suggest here i

[2016-10-12 12:15] Nazarah opened #1772 "Change S-alert text when Anonymous user wants to rate an API"
S alert text: "Please login or sign up to APINF to rate this API."

[2016-10-12 12:15] jykae commented on #1763
Reproduced, line 166 should probably not be happening https://github.com/apinf/platform/blob/develop/dashboard/client/dashboard.js#L166

proxyBackendsAdded state is false like, it works ok.

[2016-10-12 12:19] Nazarah opened #1773 "Place API Monitoring symbol beside API name in Tabular view in Catalog"
![image](https://cloud.githubusercontent.com/assets/17976243/19309653/fa2cd1f0-908e-11e6-9f1e-d1bccf69ed51.png)

If the monitoring symbol appears beside API logo, it might appear to be part of the API logo.

# Possible Solution
* Suggesting to replace the monitoring symbol beside API name in tabular view
* (right now it appears beside name in both card view and profile view)

[2016-10-12 12:35] Nazarah opened #1774 "anonymous user (no logged in) can find private API using APINF search"
# Reproduction Steps:
1. go to https://staging.apinf.io
2. logged in as admin
3. go to catalog page and see what APIs are private.
![image](https://cloud.githubusercontent.com/assets/17976243/19309947/746f5856-9090-11e6-80c6-46a082b5072c.png)
4. log out
5. click on search and look for the private API

# Result:
* link to the name of the private API appears as search result
![image](https://cloud.g

[2016-10-12 12:42] Nazarah opened #1776 "for "Access Denied" or "403 Forbidden" page, show a link to return to Catalog page"
![image](https://cloud.githubusercontent.com/assets/17976243/19310378/75459586-9092-11e6-962c-f95acf19c969.png)

[2016-10-12 13:04] frenchbread commented on #1763
I was able to reproduce.

### Suggestion for fixing:

- Completely remove Meteor method `proxyBackendsAdded` & instance function where is it used
- Probably change `instance.proxyBackendsAddedState = new ReactiveVar(false);` default value to `true` - this won't affect functionality, but will add a little delay.
- Refactor code [here] (probably with removing console.errors)(https://github.com/apinf

[2016-10-12 13:09] frenchbread commented on #1763
@jykae Actually I won't suggest changing `instance.proxyBackendsAddedState = new ReactiveVar(false);` to `true` because in this case when logged in as admin, dashboard will first render placeholder (while chart data is still loading) and then remove it & show charts. Keeping it as `false` will still show the placeholder, but only if there are no proxyBackends added (so not by default but after che

[2016-10-12 13:25] bajiat commented on #1762
@marla-singer Thanks!

[2016-10-12 13:28] jykae commented on #1763
@frenchbread thanks for insight. Check related PR #1775 and add related comments there. I have fix almost like that, just using Meteor.call to check proxyBackendsAdded. Do you want to review?

[2016-10-12 13:28] bajiat commented on #1762
related to #1759

[2016-10-12 14:15] bajiat commented on #1733
@marla-singer What are the steps to reproduce this console error?

[2016-10-12 14:17] marla-singer commented on #1733
@bajiat Nothing specific. Just go to nightly, open console in your browser and go to any api

[2016-10-12 14:35] frenchbread commented on #1763
@jykae Ok, cool. I'll assign myself.

[2016-10-13 10:53] #1763 closed

[2016-10-13 11:10] bajiat commented on #1726
@brylie Please check if your PR is closing this issue as well.

[2016-10-13 11:11] bajiat commented on #1725
@brylie Please check if your PR is closing this issue as well.

[2016-10-13 11:11] bajiat commented on #1727
@brylie Please check if your PR is closing this issue as well.

[2016-10-13 12:00] #1620 closed

[2016-10-13 13:28] jykae opened #1780 "Enhance dashboard code & message styles"
Move proxyBackendsAddedState check to template. Improve styles of messages for no APIs added & no ProxyBackends

[2016-10-13 13:47] #1780 closed

[2016-10-13 14:12] #1774 closed

[2016-10-13 14:43] jykae commented on #1250
@bajiat discussed shortly, search box on frontpage could be also closer to APIs like on catalog page as it searches APIs and not everything possible from our application. This is also enhancement idea.

[2016-10-13 15:17] #1719 closed

[2016-10-13 15:17] #1725 closed

[2016-10-13 15:17] #1727 closed

[2016-10-13 15:17] #1742 closed

[2016-10-14 07:48] nnn commented on #1776
We had "Return to a previous page" link, which takes user to any previous page. Is it missing now?
"403 Forbidden" template is for any "Access Denied" situations not only for catalog.

[2016-10-14 11:16] bajiat opened #1785 "If title exceeds one line, an extra line appear on catalog card"

[2016-10-14 12:08] #1705 closed

[2016-10-14 12:12] #1709 closed

[2016-10-14 12:13] #1711 closed

[2016-10-14 13:32] bajiat opened #1786 "Add a check for real user in contact form"
Add a captcha or other checking method to check that user posting the contact form is a real user.

Example: http://visualcaptcha.net/

[2016-10-18 08:36] marla-singer commented on #1713
@apinf/developers I'm working on the issue "adding api"

[2016-10-18 09:32] nnn commented on #1713
on "registrationtests.js"

[2016-10-18 12:40] marla-singer opened #1787 "No notice user about successful deleting user account"
Verified on apinf.io

1. Create a new user
2. Go to Account
3. Click on Delete account and confirm

Found results: Route to main page and no notice
Expected results: Route to main page and notice user about successful deleting

[2016-10-18 14:22] marla-singer commented on #1713
### Changes from my side
1. common.js
 - Fix Log in
 - Fix navigation to Dashboard
 - Fix sign up
 - Fix deleting user
2. addapibackendutils.js
 - Rewrite feature of adding api
3. addapibackend.js
 - Rewrite condition for require fields, for unique field
 - Fix "after hook"

[2016-10-19 06:19] Nazarah commented on #1776
The link was missing the time I checked.
I found the situation while I was checking access to private API then found it.

[2016-10-19 06:27] Nazarah opened #1788 "Axis on any chart in dashboard doesn't show what is being measured and the measurement unit"
It is hard to comprehend what the charts are presenting in terms of measurements and their units

![image](https://cloud.githubusercontent.com/assets/17976243/19507890/65b593ea-95de-11e6-8083-eb47f5b48f71.png)

[2016-10-19 06:34] Nazarah opened #1789 "Dashboard: on clicking info icons, no popup appears describing the purpose of the charts and table"
Locations:
API Request Timeline
![image](https://cloud.githubusercontent.com/assets/17976243/19508102/ed04b1fe-95df-11e6-8fae-775b781e8f72.png)

HTTP Status Codes
API response Time
![image](https://cloud.githubusercontent.com/assets/17976243/19508108/f6b7e3ec-95df-11e6-970f-12630b08889f.png)

Analytics Data
![image](https://cloud.githubusercontent.com/assets/17976243/19508124/0ced9c06-95e0-11e6-8b

[2016-10-19 07:26] jykae commented on #1713
I'm taking viewapibackend.js

[2016-10-19 07:42] marla-singer commented on #1787
@nnn I don't think it's enhancement. The notice implemented by doesn't work correct
Look at there: https://github.com/apinf/platform/blob/develop/users/client/account/delete/delete.js#L22

[2016-10-19 08:12] marla-singer commented on #1713
I'm workingn on manageapibackend.js : the part of document manipulation.

[2016-10-19 08:15] #1710 closed

[2016-10-19 08:15] #1706 closed

[2016-10-19 08:16] #1726 closed

[2016-10-19 08:16] #1715 closed

[2016-10-19 08:20] #1764 closed

[2016-10-19 08:20] #1765 closed

[2016-10-19 08:39] nnn commented on #1787
@marla-singer oh, okay, got it, I am sorry. Yes it's a bug then.

[2016-10-19 08:41] nnn commented on #1776
@Nazarah, we have it working at 404 page.
https://apinf.io/some-broken-path

[2016-10-19 09:41] jykae commented on #1713
@marla-singer have you fixed common.js ? viewapibackend.js has dependencies to it, could you open PR upstream?

[2016-10-19 09:42] marla-singer commented on #1713
@jykae Shoul I open PR in thie repo?

[2016-10-19 09:56] jykae commented on #1713
@marla-singer yep, in this repo. Include just common.js if you have some fixes for it, other files could have separate PRs. common.js is dependency for most

[2016-10-19 10:02] marla-singer commented on #1713
@jykae Done. https://github.com/apinf/apinf-testing/pull/2

[2016-10-19 11:38] shaliko commented on #1712
@bajiat Will be good start when all existing test will be fixed.

[2016-10-19 11:54] bajiat opened #1791 "Write instructions for db migrations"
From now on, all developers should handle migration in their PR, if their task includes changes to database: adding or removing collections, renaming collections, adding or removing fields.

In order for the developers to know how to do this, there should be instructions on writing migration functions/scripts.

# Definition of done
* [x] Come up with a proposal  for instructions
* [ ] Check the pr

[2016-10-19 11:55] bajiat commented on #1776
The link on 404 page does not actually work.

[2016-10-19 12:48] bajiat opened #1792 "Closed API: adding emails of unregistered users"
If an API owner makes an API private and adds allowed users, it should be possible to add also users that have not been registered into Apinf.

Open issue: should we send a notification or invitation to these users? Or should there be a setting to do so?

[2016-10-19 12:54] philippeluickx commented on #1713
Just wanted to say: hooray for tests!

[2016-10-19 13:01] #1708 closed

[2016-10-19 13:01] #1487 closed

[2016-10-19 13:01] #1117 closed

[2016-10-19 13:02] #1588 closed

[2016-10-20 07:14] bajiat opened #1793 "Allow users to change branding color"
Allow system admins to change main branding color from branding settings.

so that Apinf deployment is in line with our other web pages and it matches with our logo color(s).

# Definition of done
* [ ] User can change the branding color in branding settings.
* [ ] User can use a color picker to either type the color value (RGB or HEX)
* [ ] The setting affects
  * [ ] nav bar
  * [ ] cover photo

[2016-10-20 07:26] bajiat commented on #1793
@brylie @Nazarah
Add the packages for color picking and any comments you might have

[2016-10-20 07:39] marla-singer opened #1794 "Notify users about successful add/edit/remove backlog"
Now project doesn't have any notice for Backlog manipulation.

Enhancement: Add sAlert after adding, editing and deleting backlog item

Also it makes easy writing test for backlog checking. The operation was successful, if user saw notice with phrase "... backlog item has benn successfully published/edited/eleted "

[2016-10-20 08:53] bajiat opened #1795 "Add Contributor Covenant to Apinf project"
Add the [Contributor Covenant](http://contributor-covenant.org/) code of conduct to the Apinf project. In order to foster equality, good, professional conduct in APInf community.
# Definition of done
- [x] Create an email to report abuse, e.g. conduct@apinf.io or abuse@apinf.io
- [x] Include the email in the markdown for Code of conduct text
- [x] Code of conduct file needs to be added to our proj

[2016-10-20 09:30] brylie commented on #1793
@Nazarah and I like the [jscolor](http://jscolor.com/) package.

[2016-10-20 11:56] bajiat commented on #1750
This should be done together with Organization Management, because Organization Management causes backwards incompatible changes to routing - as does this change. So the proposal is to do both changes at the same time. Hence, I've labeled the issue with Organization Management.

[2016-10-20 11:57] bajiat commented on #1234
Organization Management will cause backwards incompatible changes to routing. Let's switch the router at the same time.

[2016-10-20 12:00] bajiat commented on #1699
@saralavanip Can you verify this in nightly?

[2016-10-20 12:03] #1716 closed

[2016-10-20 12:11] bajiat commented on #1642
Cannot reproduce either. Closing the issue.

[2016-10-20 12:12] #1642 closed

[2016-10-20 12:15] bajiat commented on #1655
@jykae I could not reproduce the error. Can you add steps to reproduce? Or check if the error still exists?

[2016-10-20 12:17] bajiat commented on #1386
Monitoring implementation has been changed to allow owner to identify which endpoint to monitor. Closing the issue

[2016-10-20 12:17] #1386 closed

[2016-10-20 12:18] bajiat commented on #1442
Rating has been reintroduced to the UI. Issue can be closed.

[2016-10-20 12:18] #1442 closed

[2016-10-20 12:34] bajiat commented on #1767
Was able to reproduce this with IE11.

@brylie You had an idea what is the problem: anchor?

[2016-10-20 12:34] philippeluickx commented on #1750
We'd have to consider adding a username to the URL as well instead of an organization. This way we can then have apinf.io/philippe/maps API and apinf.io/taija/maps

[2016-10-20 12:35] bajiat commented on #1505
This is a feature, not a bug. Closing this issue.

[2016-10-20 12:35] #1505 closed

[2016-10-20 12:39] bajiat commented on #1319
'Added by' has been localised since the bug report was created.: Lisännyt

Sign up and login have been internationalised, but not localised.

[2016-10-20 12:43] bajiat commented on #1077
Leaflet package is not included in the project any more. Closing issue.

[2016-10-20 12:43] #1077 closed

[2016-10-20 12:49] bajiat opened #1796 "Set up product/ & project page"
Definition of done
- [ ] Set up a static site builder and template.
- [ ] Select theme that has the features we will need.
  - [ ] Optionally, the theme could have a carousel
- [ ] Configure basic settings, like links to Github, social media, blog.
- [ ] Change background picture from generic picture e.g. to Mindtrek picture.
- [ ] Add one or two pages: basic information about the project and team

[2016-10-20 13:23] bajiat opened #1797 "Verify issues with bug label"
Go through open issues with the label [bug](https://github.com/apinf/platform/issues?q=is%3Aopen+is%3Aissue+label%3Abug) and that are either in icebox or in backlog. Start from the oldest open bug reports, which most likely to be closed and non-reproducable.

Definition of done
- [x] Verify each reported bug in nightly.apinf.io
  - [x] If you don't know how to reproduce the bug, ask for more infor

[2016-10-20 13:33] bajiat commented on #1795
I can take care of this task during next sprint.

[2016-10-20 14:03] marla-singer commented on #1365
@bajiat I will test it on apinf on Friday and will get a confirmation

[2016-10-20 14:11] bajiat commented on #1365
Please test it either in nightly or in local dev environment.

2016-10-20 17:03 GMT+03:00 Daria Voytova <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-10-21 07:19] marla-singer commented on #1759
Interested in

[2016-10-21 07:19] marla-singer commented on #1762
@bajiat Interested in

[2016-10-21 07:38] nnn commented on #1796
@bajiat interested

[2016-10-21 07:38] nnn commented on #1789
@bajiat interested

[2016-10-21 07:38] nnn commented on #1767
@bajiat interested

[2016-10-21 07:38] nnn commented on #1744
@bajiat interested

[2016-10-21 07:38] nnn commented on #1735
@bajiat interested

[2016-10-21 07:38] nnn commented on #1733
@bajiat interested

[2016-10-21 07:39] nnn commented on #1102
@bajiat interested

[2016-10-21 07:52] brylie commented on #1767
This may be due to the use of anchor tags `<a>` around the bookmark buttons, at least on the API Card template. The markup only needs to be a `<button>` element, rather than an `<a class="btn ...">`.

[2016-10-21 08:06] bajiat commented on #763
@brylie There are a few links to Meteor guide in our CONTRIBUTING.md. Can I close this issue? Or would you like to add a generic statetement about how we are following Meteor guidelines?

[2016-10-21 08:07] bajiat commented on #819
@brylie Are we still using this package?

[2016-10-21 08:13] #763 closed

[2016-10-21 08:15] brylie commented on #819
It looks like the package is no longer in our project.

[2016-10-21 08:15] #819 closed

[2016-10-21 10:03] saralavanip commented on #1699
@bajiat , verified this issue on https://nightly.apinf.io

Findings:
- Only the latest API added is shown in dashboard view. So, analytics can be viewed only for the latest API, but not for the previously added APIs.

Screenshots:
![selection_022](https://cloud.githubusercontent.com/assets/13309358/19594401/8a54ab36-978d-11e6-870b-e53c872504c3.jpg)

![selection_020](https://cloud.githubusercontent

[2016-10-21 10:27] bajiat commented on #1699
@saralavanip Can you provide more information?
- Are all of these APIs you own?
- Can you select from the list?
- What is it you can / cannot see?
- Do you have any calls for any of them?

[2016-10-21 10:52] saralavanip commented on #1699
@bajiat , here are the more details:

- Yes, I added these APIs : 'My APIs'
- Only the latest API added is shown in 'Select API's' list  and it can be selected.
- 'Select-API's doesn't show previously added API's so cannot view their related analytics.
- I have calls for previously added APIs and they cannot be viewed.
- I can view only the analytics of latest API added.

[2016-10-21 11:54] bajiat commented on #1257
This view does not exist any more. Closing issue.

[2016-10-21 11:57] #1257 closed

[2016-10-21 11:59] bajiat commented on #818
Not relevant any more. PrettyEmail is not used any more. Closing issue

[2016-10-21 11:59] #818 closed

[2016-10-21 12:02] brylie commented on #1171
Upstream issue: https://github.com/aldeed/meteor-autoform/issues/661

[2016-10-21 12:05] jykae opened #1798 "Research if Selenium IDE HTML files could be converted to JS"
Would save lots of time if we could generate tests with Selenium IDE and output tests as JavaScript.

This one uses sync-wd to run tests and has conversion functions to output JS:
https://www.npmjs.com/package/selenium-html-js-converter

Also look if there are other options for conversion if above one **doesn't work**

[2016-10-21 12:50] bajiat opened #1800 "Record or fix automated test cases"
# References
- You can find the tests and any related instructions from https://github.com/apinf/apinf-testing
- Test cases from manual testing are in https://github.com/apinf/docs/blob/develop/docs/testing/Test_Cases_nightly_apinf_dashboard_v5.doc
# Alternatives
- Take a set of test cases from apinf-testing repository and fix them to reflect current UI
- Record test cases with Selenium IDE and ad

[2016-10-21 13:15] marla-singer commented on #1365
@bajiat I tested it on nightly and problem didn't repeated. It isn't relevant

[2016-10-21 13:16] bajiat commented on #1365
@marla-singer Thanks for verifying! I will close the issue.

[2016-10-21 13:16] #1365 closed

[2016-10-24 07:09] Nazarah commented on #1793
consider when user selects a lighter color as brand, texts and link fonts are in contrast with the selected color.

[2016-10-24 07:10] Nazarah commented on #1793
A suggestion to include an option to check color contrasts of both background and text in the brand setting page.

[2016-10-24 07:22] Nazarah opened #1801 "Creating Automated Test Suit for "Anonymous User""
[ ] Create Manual test cases and save it in GitHub
[ ] Use Selenium IDE to record the testcases

[2016-10-24 07:40] bajiat commented on #1689
@marla-singer Could you take this one as well? It's related to the user instructions.

[2016-10-24 07:44] marla-singer commented on #1689
@bajiat Yes, I'm taking it.

[2016-10-24 07:45] brylie commented on #1744
We need to wrap the following lines in an `{{# if api.currentUserCanEdit }}`.

https://github.com/apinf/platform/blob/develop/feedback/client/single/single.html#L20-L34

[2016-10-24 07:46] bajiat commented on #1735
Please check different user roles: API owner, user who created the feedback, other regular user.

[2016-10-24 07:47] brylie commented on #1744
We also need to add allow rules for `update` and `delete` on the Feedback colleciton:

https://github.com/apinf/platform/blob/develop/feedback/collection/permissions.js#L8

Only `api.currentUserCanEdit` approved users should be able to edit/delete.

[2016-10-24 07:48] bajiat commented on #1767
@marla-singer Could you take a look at this task? Should be a small fix based on the comment above by @brylie

[2016-10-24 07:50] brylie commented on #1787
Check that the following lines work:
https://github.com/apinf/platform/blob/develop/users/client/account/delete/delete.js#L18-L22

Try:

- Moving the sAlert lines to before the Router.go line
- Check that the i18n text returns, and is not `undefined`

[2016-10-24 07:51] marla-singer commented on #1767
@bajiat Okay, I will try to fix it

[2016-10-24 07:52] bajiat commented on #1733
@marla-singer Can this error still be reproduced?

[2016-10-24 07:53] bajiat commented on #1789
@nnn Can you please estimate?
@Nazarah Can you help with texts?

[2016-10-24 07:54] marla-singer commented on #1733
@bajiat No one error in console. The issue isn't already relevant

[2016-10-24 08:02] bajiat commented on #1733
Thanks @marla-singer! Closing the issue

[2016-10-24 08:02] #1733 closed

[2016-10-24 08:05] bajiat opened #1802 "Move automated tests to main repository"
To be able to run the automated tests easily as part of our dev cycle (e.g. when submitting PR to review), the tests should be part of the platform repository instead apinf-testing repo.

Proposed workflow for issues before submitting PR's to review
1. Lint you code
2. Make sure any database migration is taken care of
3. Merge conflicts
4. Run automated tests
5. Mark you PR as 'ready to review'
#

[2016-10-24 08:09] marla-singer commented on #1689
@bajiat This issue isn't relevent. Verified on nightly. Now Proxy settings work correctly so URL in 'Details' tab is updated as expected.

[2016-10-24 08:15] bajiat commented on #1802
@apinf-developers Please comment the workflow described in this issue

[2016-10-24 08:16] brylie commented on #1802
The following article describes the steps needed to merge the repositories while preserving commit history:

http://gbayer.com/development/moving-files-from-one-git-repository-to-another-preserving-history/

[2016-10-24 08:17] #1689 closed

[2016-10-24 08:24] bajiat commented on #1759
@marla-singer Can you also modify the first bullet point in the following way?
1. The instruction "call the API with your key in the URL parameters: https://apinf.io:3002/avoin-data-net/?api_key=somethingsomething does not take into account that there will be endpoint between the API URL and the key. You could use ellipsis ... for instance before the API key
2. Maybe it should not be a link, becau

[2016-10-24 08:24] saralavanip commented on #52
@bajiat , @brylie , Is this issue relevant currently?

[2016-10-24 08:31] bajiat commented on #52
@saralavanip @brylie I would not close it.

[2016-10-24 08:43] marla-singer commented on #1759
@bajiat I see your point. I thought about it when we were testing apinf.io before Mindtrek. Right now I don't have any idea about how it would be look for users.

[2016-10-24 08:53] brylie commented on #1759
It would be italicized text:

*example.com/api/<optional_path>/?api_key=...*

[2016-10-24 09:27] jykae commented on #1787
Reason & solution: https://github.com/juliancwirko/meteor-s-alert#closing-alerts-on-route-change
Default for s-alerts is to clear out messages when route changes, we can override it or change default behaviour in global configuration. I am overriding for this bugfix.

[2016-10-24 10:55] saralavanip commented on #574
@bajiat , verified this issue on https://apinf.io and this is still reproducible. The user can navigate to other views for eg. 'Catalog' / Dashboard / 'Add API'  before the user 'dismiss' 'Password Reset' successful dialog.

- This is a user experience issue and could be enhanced eg. displaying info banner with close icon instead of the 'Dismiss' dialog in the middle of the screen.

Screenshots:
!

[2016-10-24 11:14] saralavanip commented on #575
@bajiat , verified this issue on https://apinf.io and it is reproducible.

Screenshot:
![reset_pwd_dilaog_signout](https://cloud.githubusercontent.com/assets/13309358/19643659/0d93ebb6-99f4-11e6-9e38-5e0c88fb2fad.jpg)

[2016-10-24 11:50] saralavanip commented on #587
@bajiat  , verified this issue on https://apinf.io and https://nightly.apinf.io. This issue is reproducible.

Expected Result: User must be notified withe error message 'Invalid password'
Actual Result: Displays error message 'Login forbidden'

Screenshot:
![selection_035](https://cloud.githubusercontent.com/assets/13309358/19644543/00067248-99f9-11e6-9749-11293fb3bd1a.jpg)

![selection_036](https

[2016-10-24 12:03] brylie commented on #587
The 'login forbidden' message may be ambiguous to prevent abuse. E.g. people may attempt to see if an email is registered on the site, using the login form as a 'search box'.

[2016-10-24 12:31] saralavanip opened #1808 "Login with invalid username or email displays 'Internal Server Error' message"
# Steps:
1. Visit https://apinf.io
2. Click on 'Login'
3. Enter non-registered username or email address
4. Enter valid password
5. Click on 'Sign In' button

# Expected Result
Notify user with error message 'Invalid email address'

# Actual Result
Displays 'Internal Server' error

# Findings
-  This scenario was also tested on https://nightly.apinf.io and the result is: displays error message 'Lo

[2016-10-24 12:39] marla-singer commented on #1759
@bajiat I've done so:

![joxi_screenshot_1477312482397](https://cloud.githubusercontent.com/assets/20643403/19645903/c1b8719c-99ff-11e6-8bfe-a23457c6b289.png)

![joxi_screenshot_1477312333554](https://cloud.githubusercontent.com/assets/20643403/19645867/97d99b76-99ff-11e6-8407-b7e670ff7d5c.png)

![joxi_screenshot_1477312365039](https://cloud.githubusercontent.com/assets/20643403/19645881/ac4bbd1e-

[2016-10-24 13:21] brylie commented on #1759
The text 'To make calls to this API, you can either' needs to also update.

E.g.

The bullet points should complete the sentence, so do not start with uppercase letter.

[2016-10-24 13:35] marla-singer commented on #1759
@brylie What about this? It depends on scenario

**To make calls to this API:**
- you can use your API key in the URL parameters: ...
- you can use your API key in the request headers: ...
- you need to have the API key. To get one using special button "Get API key"
- you can use the URL: ..

[2016-10-24 13:50] bajiat commented on #1759
@marla-singer You could make it shorter by leaving the "you can" out. Just start with "use"

For third bullet point: "you need to have the API key. To get one using special button "Get API key""

Maybe that could be rephrased as "use your API key. Click the "Get API key" button to request the key."

Would that be ok?

[2016-10-25 06:39] saralavanip commented on #599
@bajiat , verified this issue on https://apinf.io and https://nightly.apinf.io: cannot be reproduced because of latest changes in UI. This issue can be closed.

Screenshot:

![selection_043](https://cloud.githubusercontent.com/assets/13309358/19675384/b105b4ee-9a96-11e6-82be-7aaf73d886cb.jpg)

[2016-10-25 06:54] bajiat commented on #599
Closing the issue.

[2016-10-25 06:54] #599 closed

[2016-10-25 07:01] brylie commented on #1759
@marla-singer the above looks good. Go ahead and remove 'you can' from each of the sentences. That will shorten the text and make it more imperative.

[2016-10-25 07:24] #1787 closed

[2016-10-25 07:44] Nazarah opened #1811 "HTTP Status Codes: Change the color of 2XX bar in the chart to green."
in General terms, green signals for everything OK.
Since 2XX response indicate success, so we should make it green than making it appearing grey.
# suggestions:
- 3XX: grey
- 4XX: yellow
- 5XX: red

[2016-10-25 07:58] Nazarah commented on #1789
API Request Timeline:

You can use this chart to view number of requests your API has received for a specific time period.
You can see API requests for a single API or a combination of them.
The overview information and other charts will be updated when you interact with API request Timeline.

HTTP Status Code:

You can use this chart to see the HTTP responses generated by your API for the request

[2016-10-25 08:39] #1170 closed

[2016-10-25 08:39] #1744 closed

[2016-10-25 08:40] #1735 closed

[2016-10-25 08:42] philippeluickx opened #1812 "Automatic text color"
When an API admin changes the brand color, the text color should automatically adapt. This can be done by checking if the brand color is light (then text color = dark / dark grey) or if the brand color is dark (then text color is light / white).

API admin can then still adapt the color if necessary, but this way we at least suggest a good color that check contrast and readability.

Low priority.

[2016-10-25 08:52] #1684 closed

[2016-10-25 09:07] philippeluickx opened #1813 "Analytics of apinf.io portal"
As an API owner, I want to know some basic analytical data about the visitors on my page on apinf.io.

How much time do they spend on each part of the docs (technical docs, code examples,..), do they visit the community parts (forum, backlog,...), how many visit vs how many request a  key?

[2016-10-25 09:15] philippeluickx opened #1814 "Rich media in documentation"
As an API owner, I want to upload rich media - such as screencasts - as part of my documentation.

[2016-10-25 09:30] saralavanip opened #1815 "Deleted account displays its related APIs in Catalog"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Add API with proxy
4. Go to 'Account' page  and click on 'Delete'
5. Confirm 'delete account' by clicking on 'Delete' button
6. Go to Catalog view

# Findings
- User not notified about successful 'Delete account'
- Deleted account still displays its associated API in 'Catalog' and 'Latest APIs' list
- Anonymous users can still view details an

[2016-10-25 09:44] jykae opened #1816 "ProxyBackend form notification, if form is not filled at all"
Found by @marla-singer in PR #1806

Steps:
1. Go to any API and open Proxy tab
2. Click on Delete button, if there are any information
3. Don't fill a form and click on Save&Publish button

Found result: Submit hook isn't end, button is disable, no one notification about required fields
Expected result: Notify users about required fields and button must be available

[2016-10-25 10:06] marla-singer commented on #1815
Also these API, which doesn't have amy owner, has owner _admin_

[2016-10-25 10:08] saralavanip commented on #579
@bajiat  , verified this issue on https://apinf.io and it is not reproducible.This issue can be closed.

[2016-10-25 10:17] saralavanip commented on #586
@bajiat , verified this issue on https://apinf.io and it is not reproducible. This issue can be closed.

Findings:
- User gets logged in once email gets verified and notifies with successful message.

Screenshot:
![selection_060](https://cloud.githubusercontent.com/assets/13309358/19682193/27dde3ac-9ab5-11e6-9c94-dce661c40d6e.jpg)

[2016-10-25 10:27] bajiat commented on #1811
@Nazarah But isn't the 2XX bar green already? This is a screenshot I took from my browser:

<img width="444" alt="http codes screenshot" src="https://cloud.githubusercontent.com/assets/11626388/19682503/8817cee4-9ab6-11e6-87f6-e1b4fee57cc8.png">

[2016-10-25 10:33] bajiat commented on #579
Closing.

[2016-10-25 10:33] #579 closed

[2016-10-25 10:47] Nazarah commented on #1793
Right now, when we change to a different branding color than the standard APInf one, highlighted topbar item has a white background when hovered on it. In standard APInf color, the hovered item gets highlighted with a darker shade than the primary color.
A library to include darker background color when a topbar item is hovered should be included here.

[2016-10-25 10:54] Nazarah opened #1817 "API Profile: in Feedback tab, anonymous user (not logged in) can see view and remove options for a feedback"
# Steps to reproduce:
* go to nightly.apinf.io
* without signing in, go to any API profile
* click on Feedback tab

# Result
* user can see View and Remove Button for a feedback.
* User can view or remove a feedback

![image](https://cloud.githubusercontent.com/assets/17976243/19683369/a93e6a5c-9aba-11e6-8091-e6ec9c1a3d0a.png)

# Expected Result:
* User should not be able to see any of the buttons

[2016-10-25 11:19] marla-singer commented on #1817
@Nazarah I think any user can View feedback. Otherwise why do we have the vote system for feedback item?

[2016-10-25 12:32] saralavanip commented on #588
@bajiat , verified this issue on https://apinf.io and it is not reproducible.

- Verified on https://nightly. apinf.io : User is automatically logged in when clicked on 'Register' button. Email not sent to user for verification.

[2016-10-25 15:31] #1562 closed

[2016-10-25 15:31] #1816 closed

[2016-10-26 06:35] #1767 closed

[2016-10-26 06:58] jykae commented on #1802
@brylie thanks for link. I think currently open PRs would be nice to get in apinf-testing "master" before this. Notified authors of open PRs.

[2016-10-26 06:59] Nazarah commented on #1817
@marla-singer : if only the View Feedback button stays there, it is fine. Currently any user not logged in can delete previously given feedback. I'm more concerned about this

[2016-10-26 07:06] jykae commented on #1798
Testing conversion for @Nazarah 's anonymous user tests in apinf-testing repo

[2016-10-26 07:18] bajiat commented on #1808
@brylie Can you check if anything has changed in validate (?) login code after release 0.33?

[2016-10-26 07:20] brylie commented on #1808
There is a [`login_verify` function](https://github.com/apinf/platform/blob/develop/users/server/login_verify.js) that runs on the server when submitting the form. It is possible that recent changes to that file, or some other user login related file/configuration has resolved this issue in nightly.

[2016-10-26 07:32] brylie commented on #1793
After reviewing with @Nazarah, I did a bit of searching and found a package called [TinyColor](http://bgrins.github.io/TinyColor/). TinyColor has some [useful methods for working with colors](https://github.com/bgrins/TinyColor) including:

- [lighten](https://github.com/bgrins/TinyColor#lighten)
- [darken](https://github.com/bgrins/TinyColor#darken)
- [readability](https://github.com/bgrins/TinyC

[2016-10-26 07:37] bajiat commented on #1817
@Nazarah I think this was resolved in #1744, which was merged yesterday.  This is the situation in nightly today:

<img width="882" alt="1817" src="https://cloud.githubusercontent.com/assets/11626388/19717208/2b62c066-9b68-11e6-841a-7a67472c91a3.png">

[2016-10-26 07:39] marla-singer commented on #1817
@bajiat Yes, but we hid View button too. I think we should came back it, it's easy

[2016-10-26 07:45] bajiat commented on #1817
I'll create another issue for View button and close this one as resolved.

[2016-10-26 07:45] #1817 closed

[2016-10-26 07:45] marla-singer commented on #1815
@bajiat Notification about successful deletion has already done, #1787 issue
And what we do with APIs, which owner was deleted? Should we save these apis or not? Now notification doesn't have any word about "... all your apis data will be removed". There are "There's no coming back from this one" and "Are you sure you want to delete your account?"

[2016-10-26 07:52] bajiat commented on #1815
@marla-singer  @saralavanip I don't think we can automatically delete the APIs when the account is deleted. Someone else might be relying on them and using them. But I don't have a good answer on who should be mentioned as 'added by' in the catalog in that case. The only one who can manage those APIs are admin.

This is a really interesting case because we allow adding any APIs and you don't liter

[2016-10-26 07:58] jykae commented on #1798
Converted successfully, running with Phantom is really fast, so would need to add some waits explicitly. Takes also nice screenshot on test failure point 8-)

[2016-10-26 07:58] marla-singer commented on #1815
@bajiat Agree with you over all. So what do you think about adding the addition filter in Catalog or something else for Apinf Administrator, which will show the APIs without owner?

[2016-10-26 08:01] bajiat commented on #1815
@brylie suggested adding a new flag 'orphan' as first step.

[2016-10-26 08:37] jykae commented on #1798
@Nazarah your yesterday's work in JS.
![nayttokuva 2016-10-26 kello 11 34 57](https://cloud.githubusercontent.com/assets/293452/19718941/5f5379f8-9b70-11e6-846b-ae3f02cb6dfc.png)

[2016-10-26 08:43] jykae commented on #1798
HTML files don't have info about usage of implicitWait, I'll try if I can add it somehow for generated JS.

[2016-10-26 09:35] Nazarah opened #1819 "Add an id for header API-URL to make it easier to locate in selenium IDE"
Add id for API URL and tabs in API profile page. Adding the ID will make the template more readable and will make automated testing easier, because items can be reach directly instead of going through DOM hierarchy or X-path. See comment for ítems where ID is needed.

![image](https://cloud.githubusercontent.com/assets/17976243/19720902/c2bf028e-9b78-11e6-8b90-51475f48b99d.png)

Reference for corr

[2016-10-26 10:06] Nazarah commented on #1819
also need for the following section:

Documentation Tab:
Documentation
Link
Viewer

[2016-10-26 10:17] jykae commented on #1798
Reported issue for author:
https://github.com/flyingfisher/selenium-html-js-converter/issues/14
and a question:
https://github.com/flyingfisher/selenium-html-js-converter/issues/15

[2016-10-26 10:26] marla-singer commented on #1699
@bajiat Unfortunarly I don't have the old apis and couldn't reproduce it on nightly. Nevertheless, I looked for the old someone else's apis and didn't find any one with fill proxy.
Now all Sarala's apis are available on Dashboard: **Test_Data_Api**, **Test_LanguageAPI**, **Test_CalendarAPI**

![2016-10-26 12 50 23](https://cloud.githubusercontent.com/assets/20643403/19722387/2bc17fe0-9b7f-11e6-91c

[2016-10-26 10:48] Nazarah commented on #1819
for search result page:

"Search results"

[2016-10-26 10:59] jykae commented on #1798
Issue with setWindowSize, https://github.com/flyingfisher/selenium-html-js-converter/issues/16

Defaults to very narrow window, cannot find Catalogue link as it's collapsed.

Screenshot taken by PhantomJS when exception happens:
![exception click](https://cloud.githubusercontent.com/assets/293452/19723406/d735aadc-9b83-11e6-84b7-6c5a48bb59c2.png)

[2016-10-26 11:05] Nazarah opened #1820 "In Search APIs page, searchbox doesn't function"
# Steps to reproduce:
* go to nightly.apinf.io
* click search button from topbar
* click search button in searchbox
* in Search APIs page, type "api" and click on search button in the searchbox

# Result
* no search for specific API doesn't take place
![searchboxbug](https://cloud.githubusercontent.com/assets/17976243/19723815/ca51f292-9b85-11e6-8db1-73af1a472e7d.gif)

# Expected Result
* Search b

[2016-10-26 11:19] #1713 closed

[2016-10-26 11:21] #1759 closed

[2016-10-26 11:21] #1762 closed

[2016-10-26 11:24] Nazarah commented on #1801
associated pull request:
https://github.com/apinf/apinf-testing/pull/9

[2016-10-26 11:27] saralavanip commented on #589
@bajiat , verified this issue on https://apinf.io and it is not reproducible.
- This issue was also verified on https://nightly.apinf.io   : Email verification not sent to the user and registering leads to automatic login.

[2016-10-26 11:27] Nazarah commented on #1801
I had issues with API Profile Page case.
Here on clicking bookmark icon, the tooltip didn't appear.
However, for using AssertElementPresent command with "class" target, the testcase passed.
but the intention for the testcase was to show user the presence of the tooltip

[2016-10-26 11:30] bajiat commented on #1699
@marla-singer

I can reproduce this even in nightly. I'm logged in with my **non-admin** account. With this account I have added two APIs, see screenshot for My APIs:

<img width="717" alt="nightly-myapis" src="https://cloud.githubusercontent.com/assets/11626388/19724384/84a08f62-9b88-11e6-8fc3-8cbe979974f7.png">

But if I go to Dashboard, I can see only one of them in the Select API list:

<img w

[2016-10-26 11:37] bajiat commented on #1699
In **apinf.io**, if I'm logged in as **owner**, I see the only API I have added there in Dashboard:
<img width="680" alt="apinf-dashboard" src="https://cloud.githubusercontent.com/assets/11626388/19724507/5856a436-9b89-11e6-833c-4fdd105a7018.png">

If I'm logged in as **admin**, I should see all APIs added to the platform, but I see only admin API.

<img width="673" alt="apinf-dashboard-admin" src

[2016-10-26 11:38] jykae commented on #1798
setWindowSize would need solution, otherwise great package. Putting this on hold.

[2016-10-26 11:49] marla-singer commented on #1699
@bajiat Please don't forget that you can see apis in Dashboard if your apis are connected to proxy.
Your second api "PTV TestingAddingAPI" **doesn't have proxy backend**
![joxi_screenshot_1477482488962](https://cloud.githubusercontent.com/assets/20643403/19724878/54901452-9b8b-11e6-9b6e-fbfc54150df2.png)

[2016-10-26 11:57] marla-singer commented on #1699
@bajiat

These is the correct behaviour. Owner can see only own apis in Dashboard

These isn't correctly. But it appears only on apinf.io, can't catch error on localhost yet

[2016-10-26 12:01] #1791 closed

[2016-10-26 12:05] bajiat commented on #1699
@marla-singer

Your second api "PTV TestingAddingAPI" doesn't have proxy backend

You are right about this, I did not check the proxy settings. My bad. But I went and added the proxy settings to the other API in nightly and I still only see one API in the  Select API list: Kasviplanktonrajapinta. I even checked that in another browser to see it was not a browser issue.

[2016-10-26 12:07] saralavanip commented on #857
@bajiat . verified this resolved issue on htps://nightly.apinf.io  and it is not reproducible. This issue can be closed.

Screenshot: New changes in 'Edit Backlog Item' page
![selection_062](https://cloud.githubusercontent.com/assets/13309358/19725359/c01324ba-9b8d-11e6-8d49-782b43e9f7c3.jpg)

[2016-10-26 12:08] bajiat commented on #1699
I agree with you that this is 100% correct behavior.

The behavior for admin user in apinf.io is pretty weird. It should show My Apis (if any), Other APIs (if any) and admin API for admins. Hard to understand why there would be a difference between nighly and apinf.io.

[2016-10-26 12:10] bajiat commented on #857
@saralavanip Thanks for verifying. Closing the issue.

[2016-10-26 12:10] #857 closed

[2016-10-26 12:12] bajiat commented on #589
@saralavanip Thanks for verifying. Closing the issue.

[2016-10-26 12:12] #589 closed

[2016-10-26 12:16] saralavanip commented on #856
@bajiat , verified this resolved issue on https://nightly.apinf.io and it is not reproducible. This issue can be closed.

Screenshot: New changes in 'Add Backlog Item' page
![selection_063](https://cloud.githubusercontent.com/assets/13309358/19725574/f08fc1ec-9b8e-11e6-82be-24d7e00ccc0b.jpg)

[2016-10-26 12:21] marla-singer commented on #1699
@bajiat It's strange. As Apinf administrator I can see your api on nightly. I will try to reproduce it on localhost
![dashboard](https://cloud.githubusercontent.com/assets/20643403/19725705/b8ce4a3e-9b8f-11e6-8c21-74420e7f19c6.png)

[2016-10-26 12:22] bajiat opened #1821 "Flag orphaned APIs for admins"
# User story
As an APInf admin
I need to know if my deployment has APIs
no-one is managing
so that I know I that I may have to take some action on them.

If a user adds an API to APInf, this user becomes the owner/manager of the API. If the user later deletes his/her account, the APIs are not and should not be deleted, because other users maybe using them and their applications are relying on the

[2016-10-26 12:24] marla-singer commented on #1699
@bajiat Yeah! Could do it on nightly :sweat_smile: Don't know why it so, but reproducing it good too

[2016-10-26 12:24] bajiat commented on #1815
Added issue #1821.

[2016-10-26 12:25] brylie commented on #1699
I have verified that only the latest API backend with proxy configuration shows up in the **Select API(s)** dropdown, as a non-admin user. Here is a screen capture:
![peek 2016-10-26 15-24](https://cloud.githubusercontent.com/assets/17307/19725795/497afd5c-9b90-11e6-84a0-c8604e4683bb.gif)

[2016-10-26 12:28] bajiat commented on #1811
Actually, we have some kind of issue here. The color of the bar does not depend on the status code. It is somehow related to order of bars. If there is only one bar (4xx) in the chart, it gets green color regardless of the status is referring to.

<img width="437" alt="4xxgreen" src="https://cloud.githubusercontent.com/assets/11626388/19725894/e706d226-9b90-11e6-8de8-4454b3e782e3.png">

[2016-10-26 12:30] bajiat commented on #856
@saralavanip Thanks for verification. Closing the issue.

[2016-10-26 12:30] #856 closed

[2016-10-26 12:37] brylie opened #1822 "Proxy settings never save when submitting invalid host"
When submitting proxy settings for an API with an invalid host, the Proxy Settings form never submits. The end-user is not informed of any problem, even though API Umbrella likely rejected the submission since the host does not exist.

# Steps to reproduce

1. Add an API
  - enter any title and description
  - for the host, **enter a domain name that does not exist**
2. Go to the API details page

[2016-10-26 12:40] marla-singer commented on #1699
@brylie Nope, it isn't so. New api  pushes old api form Dashboard filtering.
Screenshots:
1. I'm owner and have only one old api
![joxi_screenshot_1477485136918](https://cloud.githubusercontent.com/assets/20643403/19726081/c17a44e2-9b91-11e6-8a2e-e44d82cc772f.png)

2. Go to Dashboard and can see my api in filtering
![dashboard-1](https://cloud.githubusercontent.com/assets/20643403/19726156/17e58e4

[2016-10-26 12:45] brylie commented on #1699
Right, that was what my screencast was supposed to show. I deleted the original comment while rendering a new screencast:

![peek 2016-10-26 15-43](https://cloud.githubusercontent.com/assets/17307/19726339/24b2d172-9b93-11e6-92a1-0c69d39b261c.gif)

[2016-10-26 12:49] bajiat opened #1823 "Reintroduce cover photo"
The possibility to upload a cover photo for APInf landing page has been removed from Branding settings. Since cover photo was part of APIKA landing page requirements, it should be reintroduced. Also, it gives more options for re-branding in general and also branding apinf.io.
# User story

# Definition of done
- [x] Admin can upload a cover photo from Branding settings.
- [x] If cover photo is upl

[2016-10-26 12:50] bajiat opened #1824 "Allow anonymous user to View feedback"
When fixing #1817, anonymous user being able to remove feedback, also View feedback button was removed. As a quick fix, reintroduce View button for anonymous users.

I will create another  enhancement task for showing feedback e.g. as accordeon or panel and also checking editing options for feedback. This is just a quick fix.

[2016-10-26 12:52] marla-singer commented on #1822
@brylie It happens because we don't have the special conditions in this line.
https://github.com/apinf/platform/blob/develop/proxy_backends/client/form/autoform.js#L41
When host is invalid, error isn't catched and response has structure:
[code]

I detected it when was debbuging

[2016-10-26 12:54] marla-singer commented on #1822
@bajiat Interesting

[2016-10-26 12:56] marla-singer commented on #1824
@bajiat Interesting

[2016-10-26 12:58] brylie commented on #1822
@marla-singer thanks for the details. How difficult do you suppose this would be to fix?

[2016-10-26 12:59] bajiat commented on #1824
@marla-singer It's yours if you have  time for it in addition to #1699

[2016-10-26 13:01] marla-singer commented on #1822
@brylie If me guess is correct, it's about a hour. We don't save the proxy settings, if  hostis invalid, yes?And notify user about invalid host

[2016-10-26 13:02] marla-singer commented on #1824
@bajiat No problem, I have time

[2016-10-26 13:03] bajiat commented on #1822
@marla-singer Sold! This is also yours, if you have time in addition to #1699

[2016-10-26 13:06] bajiat commented on #1822
@brylie So we need explicitly to tell them that they need to go to Settings tab?

[2016-10-26 13:07] marla-singer commented on #1822
@bajiat Nope, It's obviously, I think

[2016-10-26 13:08] Nazarah commented on #1822
@brylie, according to @bajiat can we somehow verify the host while adding the API? a simple Pinging using HTTP GET? if no response is found, we can reject adding the API

[2016-10-26 13:10] brylie commented on #1822
That would mitigate the issue. We would still have a potential problem if API Umbrella rejects the Proxy settings for *any* reason, since we are not handling failure in the code @marla-singer mentioned.

[2016-10-26 13:12] bajiat commented on #1822
I'm ok with alerting user and going back to edit mode.

[2016-10-26 13:13] bajiat commented on #1822
We can decide whether we want to check host already when API is added to Catalog later.

[2016-10-26 13:29] jykae commented on #1802
@bajiat that workflow would be good to have in guidelines, issue for that adding that to https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md ?

[2016-10-26 13:35] brylie commented on #1802
@bajiat I agree that we should have a separate issue to add the 'PR workflow steps' to our contributing guide. The steps look good, but don't need to be part of this task.

[2016-10-26 13:35] bajiat opened #1826 "Harmonize API feedback and API backlog"
Select a style for API feedback and API backlog issues and use the same style (e.g. accordeon, panel) on both tabs. Ensure button consistency.
# Definition of done
- [x] Backlog and Feedback have the same style for items.
- [x] There are no View buttons
- [x] Removing and editing is allowed for
  - [x] all admins
  - [x] The API owner/manager
  - [x] the original writer of feedback item

Open issu

[2016-10-26 13:37] bajiat commented on #1802
@brylie They don't need to be part of this task. They were raised for discussion. I can create another task for adding steps.

[2016-10-26 13:38] bajiat commented on #1412
@brylie Has this been resolved already?

[2016-10-26 13:44] #1824 closed

[2016-10-27 06:09] #1822 closed

[2016-10-27 07:38] brylie commented on #1692
This seems to be resolved, at least on apinf.io. It was probably related to settings, or was fixed right before Mindtrek.

[2016-10-27 07:38] #1692 closed

[2016-10-27 07:50] brylie commented on #1412
It looks like we are publishing all settings to anonymous users.

![screenshot_20161027_104814](https://cloud.githubusercontent.com/assets/17307/19758912/33b804bc-9c33-11e6-94fc-d15d6bd15026.png)

We need to fix this issue and revoke the credentials currently used in production.

[2016-10-27 07:55] jykae commented on #1798
Got answer from author @flyingfisher but unfortunately package is not maintained, just possible bugs are fixed.

[2016-10-27 08:23] jykae commented on #1820
@bajiat Estimate 1d in waffle, query parameters is not updated to Router parameters (or something is undefined..)

[2016-10-27 09:59] jykae commented on #1820
@bajiat Found reason: we have 2 elements with id="search-text", navbar search & search page input.

[2016-10-27 10:32] #1793 closed

[2016-10-27 10:58] bajiat commented on #1815
Closing the issue.

[2016-10-27 10:59] #1815 closed

[2016-10-27 11:09] bajiat commented on #1319
@jykae Can you take this one?

[2016-10-27 11:10] bajiat commented on #1655
@jykae Can you check this one?

[2016-10-27 12:47] jykae commented on #1319
@bajiat yep

[2016-10-27 12:48] jykae commented on #1655
@bajiat assigned

[2016-10-27 14:02] jykae commented on #1319
@bajiat signUp & login have been translated, but as they come from accounts package(s) translation is applied, found package that includes translations for meteor standard packages https://github.com/softwarerero/meteor-accounts-t9n (doesn't yet include Finnish, possibility for contribution!)
Simpler one, "added by" just misses Finnish i18n string, maybe dropped out at some point(?)

[2016-10-27 15:44] bajiat commented on #1412
This requires an urgent hotfix to master and making a release to master.

2016-10-27 10:50 GMT+03:00 Brylie Christopher Oxley <
notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-10-28 06:05] jykae commented on #1319
@bajiat Looked wrong, signup & login texts can be translated without that package, but it would be good to keep in mind https://github.com/meteor-useraccounts/core/blob/master/Guide.md#i18n-support

[2016-10-28 07:53] jykae commented on #1655
@bajiat this is fixed, all exports work in latest develop.

credits go to @nnn

<img width="1014" alt="nayttokuva 2016-10-28 kello 10 52 31" src="https://cloud.githubusercontent.com/assets/293452/19798980/bc86707a-9cfc-11e6-8623-7a73747562e2.png">

[2016-10-28 08:00] jykae commented on #1655
I will close this one.

[2016-10-28 08:01] #1655 closed

[2016-10-28 08:05] Nazarah opened #1832 "Issues with login in apinf.io"
# Problems:
1. When user already has an account try to login in apinf.io, it shows "We have sent you an email. Please verify your email address".
   User can't login and doesn't receive any email address
   ![image](https://cloud.githubusercontent.com/assets/17976243/19799180/ef667890-9cfd-11e6-98f7-e7e6f0001540.png)
2. After verifying email address, when user clicks login from topbar, it doesn't

[2016-10-28 08:24] #1801 closed

[2016-10-28 08:27] bajiat commented on #1290
@jykae Please verify

[2016-10-28 08:28] bajiat commented on #1166
@jykae Please verify

[2016-10-28 08:28] bajiat commented on #1309
@jykae Please verify

[2016-10-28 08:29] bajiat commented on #1808
@jykae Please check this one after apinf.io is redeployed and settings have been changed

[2016-10-28 08:31] Nazarah opened #1833 "Usability Testing for APIKA"

[2016-10-28 09:00] #1412 closed

[2016-10-28 09:01] Nazarah opened #1834 "Research and Low fidelity sketching for Organizational Management"
with following issues:
- APIKA Issue 4: Organisation view to APIs
- APIKA Issue 8: Filter APIs in organisation view
- APIKA Issue 24: Authorize a group to manage APIs of a domain
- APIKA Issue 10: API profile page visually more attractive

Also comparison between APIKA and APINF issue relating the same EPIC

[2016-10-28 09:01] #1319 closed

[2016-10-28 09:35] marla-singer commented on #1699
@bajiat @brylie Start to work on this issue

[2016-10-28 09:38] saralavanip opened #1835 "Enabled 'Only admin can add APIs' shows 'Add API' button in 'Dashboard view'"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Go to 'Settings'
4. Enable 'Only platform administrators are allowed to add new APIs
5. Save settings
6. Log out
7. Login as normal user
8. Go to 'Dashboard'
# Expected Result

Add API button shouldn't be there on navbar and dashboard view.
# Actual Result

Add API button is visible in dashboard view. Submit filled 'Add API' form fails

[2016-10-28 09:57] saralavanip opened #1836 "Sign up allows user to login without completing email verification"
# Steps
1. Visit https://staging.apinf.io
2. Click on 'Sign up'
3. Enter username
4. Enter email
5. Enter Password
6. Re-enter the same password for confirmation
7. Click on 'Register'
# Findings
-  Click on 'Register' leads to automatic login
-  Email verification message sent to the user
-  Allows to logout-login without completing email verification
# Expected Result

User not allowed to login

[2016-10-28 10:06] jykae commented on #1802
@bajiat @brylie all existing tests have been now fixed & merged to apinf-testing, and careful moving of tests can be done with commit history preserved.

[2016-10-28 10:24] brylie commented on #1699
@marla-singer ok. Go ahead and assign yourself here.

[2016-10-28 10:32] jykae commented on #1290
@bajiat Has been probably fixed. Both adding api & proxy backend functions flawlessly on latest develop, using nightly.apinf.io Umbrella as proxy.

@frenchbread @nnn  steps to reproduce?

[2016-10-28 10:39] jykae commented on #1166
@saralavanip @bajiat API owner & admin user can currently see/use Export tab, is that ok? What is definition of regular user?

[2016-10-28 10:56] bajiat commented on #1836
I was able to reproduce this in staging, but not in apinf.io.

[2016-10-28 11:23] saralavanip commented on #575
@bajiat, verified on https://staging.apinf.io and it is reproducible.

Screenshot:
![selection_083](https://cloud.githubusercontent.com/assets/13309358/19804928/0b8d4abe-9d1a-11e6-822d-b7f2cdfdc308.jpg)

[2016-10-28 11:24] saralavanip commented on #574
@bajiat , verified this issue on https://staging.apinf.io and it is reproducible.

Screenshot:
![selection_081](https://cloud.githubusercontent.com/assets/13309358/19804951/302ba172-9d1a-11e6-9067-0ca92c1cc4f1.jpg)

[2016-10-28 11:25] brylie commented on #1836
I can reproduce locally. I have tested with three different email/accounts, so it is a consistent bug.

[2016-10-28 11:51] bajiat commented on #1166
Regular user is neither admin nor API owner/manager. If only admin & owner
of that particular API can see the tab, then this shouls be ok.

2016-10-28 13:39 GMT+03:00 Ville Jyrkkä <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-10-28 11:55] #1699 closed

[2016-10-28 11:59] jykae commented on #1166
@bajiat ok, closing as already resolved

[2016-10-28 11:59] #1166 closed

[2016-10-28 13:40] jykae commented on #1802
@bajiat @brylie Moving done, npm test part to discover

[2016-10-28 13:48] bajiat opened #1842 "Check contact form sending"
We are experiencing problems with sending from contact, if we use any other SMTP/email settings than mailgun. Get the contact form to work with regular SMTP settings (e.g. apinf.io email)

[2016-10-28 13:50] bajiat opened #1843 "Determine how to dynamically changes Accounts templates links and email settings including validation"
This is continuation task to fix #1836

[2016-10-28 14:20] #1820 closed

[2016-10-28 14:21] brylie commented on #1802
OK. Add a new line under script like so:

[code]

[2016-10-29 06:57] frenchbread commented on #1290
@jykae Basically they are:
- Login as admin/user
- Go to "Add API" page
- Fill the form fields
- Submit the form
- Open browser console and see error

But I was not able to reproduce it now.. Seems like this has been fixed by one of the earlier PRs.

[2016-10-29 06:58] frenchbread commented on #1290
If @nnn confirms that there is no error anymore, we can close this.

[2016-10-31 07:53] #1261 closed

[2016-10-31 09:18] brylie commented on #1843
Ping @marla-singer. I have updated the task description.

[2016-10-31 09:31] bajiat opened #1846 "Fix pagination for Users page"
The Users page is used for adding admin rights to users and deleting users. The page is only available for admins.

Currently it is not possible to view all users if the number of users exceeds one page, since there is no pagination. Add pagination functionality to Users page. Also, total number of users could be useful informatio, for example, as part of pagination: "showing 1-20 users of 325 use

[2016-10-31 10:34] marla-singer commented on #1843
@brylie Also we detected that when mail settings are enabled and user disables this, settings don't update. It was console error: `Update mail configuration: Error: Configuration options must be set before AccountsTemplates.init!`

[2016-10-31 10:35] #1836 closed

[2016-10-31 11:28] brylie commented on #1843
That message noted in the [upstream support request](https://github.com/meteor-useraccounts/core/issues/722) and suppressed by commenting out some code inside [two server methods](https://github.com/apinf/platform/blob/develop/settings/server/methods.js#L31-L60):

[code]

[2016-10-31 11:31] brylie commented on #1836
Ping @bajiat @saralavanip. This was closed by a PR, please verify it is fixed.

[2016-10-31 11:34] jykae commented on #1808
@bajiat Still results "Internal server error" in apinf.io

<img width="1272" alt="nayttokuva 2016-10-31 kello 13 33 34" src="https://cloud.githubusercontent.com/assets/293452/19852890/b8525068-9f6e-11e6-9ca9-fea6ca2cc044.png">

[2016-10-31 11:39] brylie commented on #1808
I think this is by design. If we send an invalid email address, the security method may be designed to throw a 500 error to the client.

[2016-10-31 11:43] jykae commented on #1808
@brylie yep, error is ok, but we should find a way to catch error and show nicer error message for user :)

[2016-10-31 11:44] brylie commented on #1808
Also, the login form allows people to login with a username, so we can't always expect an email address.

[2016-10-31 11:46] jykae commented on #1808
@brylie Right, but it behaves same way if username does not exist on apinf.io

[2016-10-31 11:47] brylie commented on #1808
Where does the error originate? What method is checking that the user exists?

[2016-10-31 11:49] brylie commented on #1808
And what is the difference between our local envoronment, where we see 'Login forbidden' and the deployment, where we see 'Internal server error'?

[2016-10-31 11:49] jykae commented on #1808
@brylie Don't know, trying to look at it.. in progress

[2016-10-31 11:49] brylie commented on #1808
I am testing locally with `meteor --production` to see if there are any console errors.

[2016-10-31 11:54] jykae commented on #1808
This does not look too good, https://github.com/apinf/platform/blob/develop/users/server/accounts_hooks.js#L38
but it has worked somehow in the past :D

[2016-10-31 11:56] brylie commented on #1808
Hm. That seems to be left over from our boilerplate. Is it still necessary, or can we remove it?

[2016-10-31 11:58] brylie commented on #1808
Also, how can we access the server error log? It would probably be useful to get an error message.

[2016-10-31 12:01] jykae commented on #1808
@brylie I asked @shaliko to look server logs

[2016-10-31 12:12] #1802 closed

[2016-10-31 12:19] brylie commented on #1802
Woohoo!

[2016-10-31 12:19] brylie commented on #1808
Kool beans.

[2016-10-31 12:22] marla-singer commented on #1802
@brylie Early. We must fix it in addition :D

[2016-10-31 12:48] jykae commented on #1808
@brylie onLogin hook seems to be unnecessary, tested locally by commenting out, tried to register/login both with Github. It should wipe away undefined user._id error found in server logs.

[2016-10-31 12:54] brylie commented on #1808
Good work! Lets clean up that hook. :cool: :sunglasses:

[2016-10-31 13:49] saralavanip commented on #1283
@baijat,  verified on https://nightly.apinf.io and it is reproducible.

Screenshots:

Ascending order:
![selection_088](https://cloud.githubusercontent.com/assets/13309358/19856279/7baef78e-9f81-11e6-90e7-c1a88ec7f57f.jpg)

Descending order:
![selection_087](https://cloud.githubusercontent.com/assets/13309358/19856193/0bfd7898-9f81-11e6-9718-5c0d447afa79.jpg)

[2016-10-31 14:52] saralavanip opened #1849 "Missing character in URL parameters : 'Usage instructions'"
# Steps
1. Visit https://nightly.apinf.io
2. Sign up
3. Add API Backend with proxy
4. Go to 'Details' view
5. Click on 'Copy API key'

#  Findings
-  Missing '?' in URL parameters in usage instructions
-  Displays error 'API Key missing' when user follow this format
-  eg: https://nightly.apinf.io:3002/test-books1-api<optional_path>api_key=0cyvjRlM5vd

# Expected Result
-  Correct URL format in us

[2016-10-31 15:07] saralavanip commented on #1290
@bajiat, @frenchbread , verified this issue on https://nightly.apinf.io
Findings:
-  Adding API was successful but browser console shows error with UI rendering . Not sure if relevent here .

Screenshot:
![selection_095](https://cloud.githubusercontent.com/assets/13309358/19859013/64f44872-9f8c-11e6-9e00-720213084d60.jpg)

[2016-11-01 07:11] #1833 closed

[2016-11-01 07:12] Nazarah commented on #1833
closed
this is due to the fact that current APIKA would be replaced by the current APINF look

[2016-11-01 07:22] Nazarah commented on #1846
suggesting to the following:
1. using standard table style (one used in dashboard)
2. Placing the action buttons at right side of each table row.
3. dropdown to view no. of entries in a table at a time
4. pagination button in top and bottom part of the table.
5. Currently roles don't appear in the user-page, so should we make this field mandatory while adding the users?

[2016-11-01 07:30] Nazarah commented on #1823
It also should be made sure that whatever picture is selected for cover picture, the landing page texts are visible in contrast with the picture.

[2016-11-01 07:33] Nazarah commented on #1097
Should we consider an alternative to view the organizations?
Since we are going to introduce organization feature soon, so it would contain APIs belonging to a particular organization.
A user might be interested to view an organization and its associated APIs.

[2016-11-01 07:35] brylie commented on #1283
@saralavanip please describe further your expectations of 'ascending' and 'descending'. Given the following two dates, how would they sort with 'ascending' and 'descending'?

- January 1, 2016
- December 31, 2016

[2016-11-01 07:45] Nazarah commented on #1633
closing as the main issue related to this has been closed

[2016-11-01 07:46] #1633 closed

[2016-11-01 07:48] Nazarah commented on #1539
Should we hide the tabs from anonymous users and API consumers if they don't contain any data added by admin or API owner?
I'd like to keep the Feedback tab available to everyone.
anonymous users can view the given feedbacks and logged in API consumers can give feedback there.

[2016-11-01 07:49] Nazarah commented on #1486
need to look at rocketchat registration flow

[2016-11-01 07:50] Nazarah opened #1850 "Wireframe for Admin approval for user registrations"
#1486

[2016-11-01 07:57] Nazarah commented on #1465
A quick link to add an API in landing page, catalog and dashboard should be a good idea.

[2016-11-01 08:28] saralavanip commented on #909
@bajiat , verified this issue on https://nightly.apinf.io and it is reproducible.

[2016-11-01 09:34] marla-singer commented on #1846
@brylie Should I replace glyphicon icon to fontAwesome in account-admin-ui package?

[2016-11-01 10:08] saralavanip commented on #1283
@brylie , my understanding with regard to ascending and descending order of display is :

If Date and Time format is mm/dd/yyyy and hh:mm:ss
**Ascending order** : oldest -> newest   (eg. January 1, 2016 -> December 31, 2016 )
      -  eg. if time stamp is considered along with date (eg. 20 days ago, 15 days ago, 2 days ago, 9 hours ago -> few seconds ago)

**Descending order** : newest -> oldest (

[2016-11-01 13:20] #1842 closed

[2016-11-01 13:24] brylie commented on #909
@bajiat this could be improved while working on #1846

In effect, we no longer have a 'name' field, so the 'Name' column should be updated to say 'email'. Alternatively, we could add a 'name' field to the user profile.

[2016-11-01 13:26] brylie commented on #1283
@saralavanip, thanks for the clarification.

[2016-11-01 13:28] brylie commented on #1846
@marla-singer we have to consider whether 'font-awesome' is a dependency of the 'account-admin-ui' package. If we want to use FontAwesome icons in the 'account-admin-ui' package, then we need to add FontAwesome as a dependency in the package.json.

What is your preference?

[2016-11-01 13:30] marla-singer commented on #1846
@brylie As for me they are the same, I don't have any preference in the fonts

[2016-11-01 13:40] bajiat commented on #1465
The view has been deprecated so I'm closing this issue.

@Nazarah Feel free to add an issue for adding the "Add API" link or button to views where it should be added,.

[2016-11-01 13:40] #1465 closed

[2016-11-01 13:57] saralavanip commented on #852
@bajiat , verified on https://nightly.apinf.io and it is not reproducible.This issue can be closed.

[2016-11-01 14:00] jykae commented on #1290
@saralavanip router warning should not be critical, this issue is pointing to DB permissions allow rules, insert failing.

[2016-11-01 14:32] jykae opened #1851 "Meteor version update"
We are currently on version 1.4.1.1 at time of writing this issue. Check out release notes, what has been changed and try upgrading to newer version

Production build (using https://github.com/jshimko/meteor-launchpad) has issue with --unsafe-perm option, that might get solved on upgrade.

Related: https://github.com/jshimko/meteor-launchpad/issues/11

[2016-11-01 14:34] bajiat commented on #852
@saralavanip Thanks for verification. Closing the issue.

[2016-11-01 14:55] bajiat opened #1852 "SaaS service monetization"
This is an EPIC for monetizing SaaS service: charging customers per use.

Open issue: Are we charging per API or per user?

* Analytics
* Showing information to user per time period
* User can add credit via PayPal etc.

[2016-11-01 15:13] bajiat commented on #1852
@philippeluickx Can you comment?

[2016-11-01 15:15] bajiat commented on #1097
@nazarah Can you elaborate your comment? Do you mean it should be a platform setting, whether the default view is organization or catalog?

[2016-11-01 15:23] philippeluickx opened #1853 "Open external links in new tab"
Currently when you follow a documentation link, it opens in the same window. It would be better to open in a new window/tab instead.

Same behaviour expected for every link pointing externally.

[2016-11-01 15:25] philippeluickx opened #1854 "API owner is always admin in detail view"
On production. When in the catalog the user is someone "not admin", in the detailview it shows "admin".

[2016-11-01 15:30] philippeluickx commented on #1852
- per API or per user or **per organization**
- We are assuming that we work with tiers?
- Consider other payment alternatives - Stripe (which is a posterchild for good APIs), Braintree
- Alerts when you reach tresholds (watch out - you are almost reaching the free tier limit) > owners don't need to submit cc info in the start

[2016-11-02 07:15] marla-singer commented on #1854
@philippeluickx It happens when api doesn't have owner any more (user deleted account) or api was created by user, who sighed up via GitHub

[2016-11-02 07:39] bajiat commented on #1854
@marla-singer Thanks for checking. Why is the user then displayed in the Catalog, if it is one of the cases described by you? I'll post an example from apinf.io: same API in Catalog and in API profile.

[2016-11-02 07:43] bajiat commented on #1854
Compare the following screenshots in apinf.io: owner is shown in Catalog, but not in profile view:

<img width="878" alt="catalog in production" src="https://cloud.githubusercontent.com/assets/11626388/19920323/bd1dd126-a0e0-11e6-8c25-2fa3fade3786.png">

<img width="882" alt="api profile production" src="https://cloud.githubusercontent.com/assets/11626388/19920327/c75f5696-a0e0-11e6-9b41-0fbe44ece

[2016-11-02 07:54] jykae commented on #1309
Shows bookmarks when there are bookmarks
<img width="1203" alt="nayttokuva 2016-11-02 kello 9 52 25" src="https://cloud.githubusercontent.com/assets/293452/19920572/29552e56-a0e2-11e6-82d8-ba5280922226.png">

Empty page when no bookmarks
<img width="1230" alt="nayttokuva 2016-11-02 kello 9 53 54" src="https://cloud.githubusercontent.com/assets/293452/19920591/511d4cca-a0e2-11e6-8c3b-d3e03a6ae85e.p

[2016-11-02 07:58] marla-singer commented on #1846
@Nazarah Which values of dropdown list do you suggest? I thought about 25,50,75,100.

[2016-11-02 07:58] #1309 closed

[2016-11-02 08:00] brylie commented on #1846
@marla-singer OK, lets keep our dependencies simple then. Our users table already relies on Bootstrap, so GlyphIcons are directly available.

[2016-11-02 08:02] jykae commented on #1854
Good find, taking look

[2016-11-02 08:12] saralavanip commented on #853
@bajiat , verified on https://nightly.apinf.io and it is reproducible in IE,Firefox browsers.
- It is also a user experience issue with calender views. Related issues #852, #854.

[2016-11-02 08:18] saralavanip commented on #919
@bajiat , verified on https://nightly.apinf.io and it is not reproducible with latest UI . This issue can be closed.

[2016-11-02 08:18] jykae commented on #1854
@marla-singer I tried both cases described on latest develop, works as expected. Is this behaviour happening only in production?

[2016-11-02 08:20] bajiat commented on #1846
@Nazarah @marla-singer I think it would be enough to have one sensible default for number of users shown on the page. No dropdown to select nr of users required. This page is only accessible for admins. (Unless you have already started to implement this.)

[2016-11-02 08:20] jykae commented on #1854
Nightly has same issue, trying to reproduce there.

[2016-11-02 08:20] #1835 closed

[2016-11-02 08:23] marla-singer commented on #1846
@bajiat Okay, no one dropdown list :ok_hand:

[2016-11-02 08:30] marla-singer commented on #1854
@jykae Let me know if you can't reproduce it, I'll try too

[2016-11-02 08:33] saralavanip commented on #904
@bajiat , verified on https://nightly.apinf.io  and it is reproducible.

Screenshot:
![selection_099](https://cloud.githubusercontent.com/assets/13309358/19921546/0a56e53a-a0e7-11e6-80f9-cf42bb103ad9.jpg)

![selection_103](https://cloud.githubusercontent.com/assets/13309358/19921640/90dce0be-a0e7-11e6-8382-18bd394c9917.jpg)

[2016-11-02 08:36] jykae commented on #1854
@marla-singer On nightly, my own APIs with user I am signed in show right both catalogue & API profile.

[2016-11-02 08:40] marla-singer commented on #1854
@jykae
Second case: Sign in like GitHub user, create an api and sign out. In API profile owner will be _admin_. Look above in Taija's screenshot.

What did you check?

[2016-11-02 08:49] jykae commented on #1854
@marla-singer Ok, now got that locally. When I log in with that Github user the profile page shows the user right.

[2016-11-02 09:02] jykae commented on #1854
Problematic line https://github.com/apinf/platform/blob/develop/apis/collection/helpers.js#L59

On the client we publish only currentUser when user is logged in, Meteor.users can be queried only on server side for security.

[2016-11-02 09:03] #1290 closed

[2016-11-02 10:16] jykae opened #1855 "Login issues"
Found issues:
* Cleanup onLogin hook, left from boilerplate, https://github.com/apinf/platform/blob/develop/users/server/accounts_hooks.js#L38
* Init userLoginAllowed variable, might cause return undefined, https://github.com/apinf/platform/blob/develop/users/server/login_verify.js#L9
* allow login in loginattemptverifier when mailsettings not enabled or given, https://github.com/apinf/platform/bl

[2016-11-02 10:19] #1855 closed

[2016-11-02 10:25] jykae commented on #1808
<img width="982" alt="nayttokuva 2016-11-02 kello 12 00 14" src="https://cloud.githubusercontent.com/assets/293452/19925096/32f5320c-a0f7-11e6-983a-faab8455142d.png">

Reason for this according above apinf.io logs:
https://github.com/apinf/platform/blob/0.33.2/users/server/login_verify.js#L15

Current develop, we are checking that: (would explain difference between nightly vs. apinf.io)
https://gi

[2016-11-02 10:27] jykae commented on #1808
@bajiat @brylie maybe we can close this as solved?

[2016-11-02 10:58] saralavanip commented on #903
@bajiat , verified on https://nightly.apinf.io and it is reproducible.

Screenshot:
![selection_112](https://cloud.githubusercontent.com/assets/13309358/19926164/c39c13a8-a0fb-11e6-89d7-22354375d356.jpg)

![selection_113](https://cloud.githubusercontent.com/assets/13309358/19926203/f22da2ea-a0fb-11e6-8c08-edae0253e1f2.jpg)

[2016-11-02 11:08] jykae opened #1856 "Github user's email is verified by default, no need to send verification email"
[code]

[2016-11-02 11:53] brylie commented on #1808
@jykae we need to verify that it works properly in apinf.io. @bajiat mentioned testing it on staging.apinf.io and then deploying the next release on apinf.io. If things work correctly on apinf.io we can close this issue.

[2016-11-02 11:54] marla-singer commented on #1846
@brylie Could you please give me advice how i can implement internationalization in package to use it after in APINF project?

[2016-11-02 12:21] marla-singer commented on #1846
@bajiat Now It looks like this:
![joxi_screenshot_1478089250859 1](https://cloud.githubusercontent.com/assets/20643403/19928585/11e2aa04-a110-11e6-895c-bce7dd143820.png)

[2016-11-02 12:32] bajiat commented on #1846
@marla-singer Looking good! Great to have both pagination and total number of users. Also makes sense to have actions on the right side.

[2016-11-02 12:34] bajiat commented on #919
@saralavanip Thanks for verification. Closing the issue.

[2016-11-02 12:34] #919 closed

[2016-11-02 12:55] brylie commented on #1846
Jep. Could we show the username under 'name' instead of email here? That would close a related issue #909

[2016-11-02 13:09] marla-singer commented on #1846
@brylie Yes, we can.
We have field "username" in users collection
https://github.com/apinf/platform/blob/develop/users/collection/users_schema.js#L17
But the table shows values from _profile.name_ field.
https://github.com/brylie/meteor-accounts-admin-ui-bootstrap-3/blob/master/client/accounts_admin.html#L33
To fix it these is two cases:
1. We restructure our users collection in APINF project: cop

[2016-11-02 13:15] brylie commented on #1846
I would recommend just showing the username:

[code]

This is for two reasons:
- it doesn't require any mapping of username to the profile.name
- it is [no longer recommended to use the 'profile' field](https://guide.meteor.com/accounts.html#dont-use-profile) for Meteor users

[2016-11-02 13:23] brylie commented on #957
Upstream support request: https://github.com/NREL/api-umbrella/issues/297

[2016-11-02 13:53] bajiat commented on #1846
@marla-singer User name was an optional item in definition of done, but it's great if you can implement that as well.

[2016-11-02 14:21] jykae opened #1861 "process.env.MAIL_URL is undefined if server is restarted"
Process env needs to be updated if server is restarted, otherwise we get undefined.

[2016-11-02 14:28] #1795 closed

[2016-11-02 14:57] saralavanip commented on #902
@bajiat , verified on https://nightly.apinf.io and it is reproducible in Internet Explorer 11 browser.

Findings:
- Select  'admin' role from drop down menu and click on 'Done' leads to home page that is freezed.

Screenshot:
![screenshot 12](https://cloud.githubusercontent.com/assets/13309358/19933839/6b48c896-a11d-11e6-9dc7-f1804445c2da.png)

[2016-11-02 14:59] jykae opened #1864 "If Github username is taken, routing to user profile fails"
Solution for Github username taken has been broken at some point of development, when we have improved settings. Route is wrong. Results 404 page not found.

![joxi_screenshot_1478161060047](https://cloud.githubusercontent.com/assets/20643403/19959356/26a936c2-a1b7-11e6-8840-c70de16a7458.png)

Overall implementation of this might be also bit too complex.

[2016-11-03 07:21] #1849 closed

[2016-11-03 08:18] jykae opened #1866 "Register/Sign In with Github when email registered using local registration"
Results email already registered, makes sense, but maybe we should allow linking to existing account?

<img width="664" alt="nayttokuva 2016-11-03 kello 10 14 14" src="https://cloud.githubusercontent.com/assets/293452/19959349/b4b11af6-a1ae-11e6-9541-009239b2adc2.png">

[2016-11-03 08:21] marla-singer commented on #1866
@jykae Hm.. I think nope, we shouldn't. Maybe it's the attacker :suspect:

[2016-11-03 08:27] jykae commented on #1866
@marla-singer user should of course have access to that local account with email verified, not automatic linking, and stealing local account :)

[2016-11-03 08:31] #1854 closed

[2016-11-03 08:39] #1861 closed

[2016-11-03 09:08] #1798 closed

[2016-11-03 11:22] saralavanip commented on #897
@bajiat , verified on https://nightly.apinf.io and it is not reproducible because of latest changes in UI.
- Settings view doesn't include 'Global request settings' in latest UI.

- This issue can be closed.

[2016-11-03 11:33] saralavanip commented on #895
@bajiat ,  verified on https://nightly.apinf.io and it is not reproducible because of latest changes in 'Settings' view.

This issue can be closed.

[2016-11-03 11:43] saralavanip commented on #894
@bajiat , verified on https://nightly.apinf.io and it is not reproducible with latest UI changes.  This issue can be closed.

Screenshot:
![advanced_settings_new](https://cloud.githubusercontent.com/assets/13309358/19964608/65bf126e-a1cb-11e6-809b-9b34e840b578.png)

[2016-11-03 11:50] saralavanip commented on #888
@bajiat , verified on https://nightly.apinf.io and it is not reproducible with latest changes in UI. This issue can be closed.

Screenshot:
![screenshot 14](https://cloud.githubusercontent.com/assets/13309358/19964771/59add194-a1cc-11e6-97ba-34c3e3f99c0a.png)

[2016-11-03 11:54] saralavanip commented on #886
@bajiat , verified on https://nightly.apinf.io and it is not reproducible with latest UI. This issue can be closed.

Screenshot:
![screenshot 15](https://cloud.githubusercontent.com/assets/13309358/19964894/f5f549b0-a1cc-11e6-9331-11429c8b256f.png)

[2016-11-03 11:59] saralavanip commented on #880
@bajiat , verified this issue on https://nightly.apinf.io and it is reproducible.

[2016-11-03 12:05] saralavanip commented on #855
@bajiat , verified this issue on https://nightly.apinf.io and it is reproducible.

Screenshot:
![screenshot 16](https://cloud.githubusercontent.com/assets/13309358/19965180/79eed1b8-a1ce-11e6-86db-485272d656fe.png)

[2016-11-03 12:16] marla-singer commented on #1846
@brylie PR is ready https://github.com/brylie/meteor-accounts-admin-ui-bootstrap-3/pull/1
### TODO:
- Add packages dependent: how I can point dependencies in prepared package? I'd like to dependent packages will be installed with primary package
- Add information about new package version
- Update package.js

[2016-11-03 12:19] saralavanip commented on #883
@bajiat , verified on https://nightly.apinf.io

Findings:
-  Latest API details has English text
-  Input field titles in 'Contact form' are in English

Screenshot:
![screenshot 19](https://cloud.githubusercontent.com/assets/13309358/19965557/38da53b2-a1d0-11e6-8871-cff2e34fa37a.png)

![screenshot 17](https://cloud.githubusercontent.com/assets/13309358/19965500/edd0b3de-a1cf-11e6-94e7-d10cd5c20351

[2016-11-03 12:29] saralavanip commented on #881
@bajiat , verified on https://nightly.apinf.io and is not reproducible with latest UI. This issue can be closed.

[2016-11-03 12:47] brylie commented on #1846
@marla-singer, you can use `api.use('package-name', 'client')`, for example to  include 'package-name' in 'client' code.
  - See Meteor [package.js](https://docs.meteor.com/api/packagejs.html) docs

[2016-11-03 12:59] saralavanip commented on #898
@bajiat , verified on https://nightly.apinf.io

**Findings:**
Suomi view with English text strings:
- Dashboard view: Analytics ->Filter -> Calendar tab with English text 'from', 'to'
- Add API Backend form - >Input field titles in English language
- Settings view: Input field titles - > ' API Name' , 'Description' , 'Email '
- Documentation view - > Manage view: info texts are in English language

[2016-11-03 13:02] bajiat commented on #881
@saralavanip Thanks for verification. Closing the issue.

[2016-11-03 13:02] #881 closed

[2016-11-03 13:04] bajiat commented on #886
@saralavanip Thanks for verification. Closing this issue.

[2016-11-03 13:04] #886 closed

[2016-11-03 13:05] bajiat commented on #888
@saralavanip Thanks for verification. Closing this issue.

[2016-11-03 13:05] #888 closed

[2016-11-03 13:06] bajiat commented on #894
@saralavanip Thanks for verification. Closing this issue.

[2016-11-03 13:06] #894 closed

[2016-11-03 13:07] bajiat commented on #895
@saralavanip Thanks for verification. Closing this issue.

[2016-11-03 13:07] #895 closed

[2016-11-03 13:08] bajiat commented on #897
@saralavanip Thanks for verification. Closing this issue.

[2016-11-03 13:08] #897 closed

[2016-11-03 13:50] jykae commented on #1823
@Nazarah I can't think of algorithm how we can adjust text color by colors in cover photo (of course that is possible, but goes over my poor knowledge).
However we can probably provide way to adjust text color. Good notice.

[2016-11-03 13:52] jykae commented on #1823
Hm, this looks nice, http://www.kennethcachia.com/background-check/

[2016-11-03 14:14] #1856 closed

[2016-11-03 14:16] saralavanip commented on #1238
@bajiat , verified this issue on https://nightly.apinf.io  and it is reproducible in IE browser.

**Findings:**
- Suomi view - > Catalog ->Mouse pointer text for 'Bookmark API' flag  shown in both English and Suomi language.

**Browsers**:
1. Internet Explorer 11
2. Google Chrome  Version 54.0.2840.71 m

**Operating system** : Windows 10

**Screenshots** :

![screenshot 28](https://cloud.githubuse

[2016-11-03 14:28] bajiat commented on #1851
Update to 1.4.2

[2016-11-03 14:31] marla-singer commented on #1846
@brylie I pointed dependencies

[2016-11-03 14:31] jykae commented on #1851
Release info about 1.4.2 http://info.meteor.com/blog/announcing-meteor-1.4.2

[2016-11-03 14:47] saralavanip commented on #1506
@bajiat , verified on https://nightly.apinf.io

Findings:
- Update/Edit 'Branding' details is successful but user not notified.

[2016-11-04 07:32] Nazarah opened #1867 "Remove Horizontal scrollbar from APINF landing page"
# Issue
Right now, on navigating to APINF landing page, browser shows a horizontal scroll bar.
Landing page doesn't contain any additional content that can be visible only by horizontal scrolling.
Also keeping horizontal scrollbar in browser unnecessarily is considered to be a violation to aesthetics.

![image](https://cloud.githubusercontent.com/assets/17976243/19997819/b758e964-a271-11e6-8c78-60

[2016-11-04 08:07] bajiat commented on #1867
Could this be related to div.content-wrapper?

[2016-11-04 08:09] bajiat opened #1868 "Multiple API Umbrella proxies can be added in Settings"
Re-enable the button that allows admin to add more than one proxy to a deployment.

# Definition of done
* [x] Admin can add more than one API Umbrella proxy in Settings.

[2016-11-04 08:12] bajiat opened #1869 "Allow API owner to select one from several configured proxies"
If there is more than one API Umbrella proxy defined for deployment, allow the API owner to select one of them in the Proxy backend settings.

# Definition of done
* [x] If there is more than one API Umbrella defined, owner can select any of the defined proxies, when adding or editing proxy backend settings.
* [x] If there is only one API Umbrella defined, a simple solution is available for defaul

[2016-11-04 08:13] bajiat opened #1870 "Organization only proxies"
If organizations want to host their own proxies, they would not want the proxy to be available for any API owners outside the organization. Allow only managers from certain organization to select the organization-specific proxy in the Proxy backend settings.

Note: This also requires a setting for a proxy to be organization specific.

[2016-11-04 08:17] bajiat opened #1871 "Allow only selecting one API from API select list"
This is a temporary solution to allow owner and admin to select only one API at a time for the dashboard.

# Definition of done
* [ ] User (either owner or admin) can select only one API from the menu.
* [ ] APIs connected to different proxies are shown in the same list. This applies to owners, if they have connected their APIs to different proxies and to admins, if there is more than one proxy.

[2016-11-04 08:20] bajiat opened #1872 "Allow analytics query to be sent to the right API Umbrella proxy"
When selecting API from the Select API list, the analytics query needs to be sent to the correct proxy (= the one connected to the selected API).

# Definition of done
* [ ] Analytics query is made to the correct proxy path.

*Consider whether the query should be made to ElasticSearch or API Umbrella Admin API. The latter is more secure and more future proof.*

[2016-11-04 08:23] bajiat opened #1873 "Setup a separate API Umbrella instance for testing multiproxy"
Deploy one API Umbrella instance on a web-accessible VM. This can be used for testing the multiproxy implementation.

* [x] API Umbrella has been deployed on a new VM.
  *Note: this is a standalone VM without any Apinf instance*
* [x] The VM has proper certificate, e.g. LetsEncrypt
* [x] The server has a DNS record

[2016-11-04 08:25] bajiat opened #1874 "Check API key button implementation"
Check that the Get API key button on the API profile page works properly with Multiproxy implementation.
*Note: Most of the task is probably double checking current implementation*

# Definition of done
* [ ] Get API key button is only available in API profile view, if API is connected to a proxy.
* [ ] If user presses Get API key
  * [ ] the API key comes from the connected proxy.
  * [ ] the key

[2016-11-04 08:28] bajiat opened #1875 "Create automates tests for Multiproxy 2.0"

[2016-11-04 08:34] bajiat opened #1876 "Refactor dashboard code"
Break the dashboard code into submodules. At the same time, ensure that the charts will work with multiproxy.

# Definition of done
* [ ] Instance functions are moved to own js files
* [ ] Use ES import for chart functions
* [ ] Make sure all charts work and are still interactive

# Notes from exploratory session
List of things to refactor in Dashboard code:

# Current structure
The Dashboard code

[2016-11-04 08:58] saralavanip commented on #1501
@bajiat , verified this issue on https://nightly.apinf.io and it is not reproducible. This issue can be closed.

Screenshots:

![screenshot 29](https://cloud.githubusercontent.com/assets/13309358/19999871/67dc2de0-a27d-11e6-915f-4f9f98706d77.png)

![screenshot 30](https://cloud.githubusercontent.com/assets/13309358/19999879/774f0d56-a27d-11e6-9cc0-9a75a0f2d994.png)

[2016-11-04 09:25] bajiat opened #1878 "Notify users that time zone used in dashboard is UTC"
Check what is the time zone shown for requests on dashboard. If it is not UTC (Universal Time Coordinated), change the time to UTC on server (or create a continuation task). Notify user about the time zone in use with a UI text: "Analytics base time in UTC"

**Modification:** The task will be to notify user that server time is used for displaying data. Also the timezone of the server will be shown

[2016-11-04 10:10] #1864 closed

[2016-11-04 10:15] #1851 closed

[2016-11-04 10:25] brylie commented on #1866
Cool. Perhaps we could instruct the user to log in or reset their password.

[2016-11-04 10:27] brylie commented on #1832
This could be a configuration issue with apinf.io. We should double check the settings, and make sure to deploy our latest release ASAP.

[2016-11-04 10:38] brylie opened #1879 "Branding form cannot be saved without adding one social media item"
Social media branding settings are optional. However, it is currently not possible to save Branding settings without entering a social media item:

[2016-11-04 10:40] brylie opened #1880 "Exception in subscription apiAuthorizedUsersPublicDetails"
On a fresh database, the following error is visible in the server console:

[code]

[2016-11-04 11:56] bajiat commented on #1796
@nnn Can you add a link for Community? So that we can link e.g. to source code and Discourse

[2016-11-04 11:57] Nazarah commented on #1796
@nnn In your correct work of the website, there is a picture of APINF dashboard. Can you add a gif image there showing the charts interacting with each other?
It would give the visitors of a more practical and real-life example of how the dashboard functions.

[2016-11-04 12:53] jykae commented on #1823
Interested

[2016-11-04 12:55] bajiat opened #1881 "Create an eMQTT dashboard to fit MQT analytics data structure"
Create eMQTT dashboard template in a standalone project first
using either DC.js or NVD3. Use Blaze templating language.

First describe what the user needs and is trying to achieve by using the dashboard. That would help @Nazarah to create a wireframe together with you.

[2016-11-04 12:56] jykae commented on #1868
Interested

[2016-11-04 13:02] jykae commented on #1869
Interested

[2016-11-04 13:03] jykae commented on #1874
Interested

[2016-11-04 13:12] Nazarah commented on #1871
@bajiat : are we going to remove the multiple option selector from the API dropmenu in dashboard? We also need to give the information about selecting only one API at a time either as an info tip or as an alert when user tries to select more than 1 API.

[2016-11-04 13:15] Nazarah commented on #1823
The link looks good.
@bajiat is the option to change cover photo would come from settings page? Or admin can change it directly from the landing page as well?

[2016-11-04 13:18] Nazarah commented on #1826
Interested in designing

[2016-11-04 13:24] Nazarah commented on #1097
@bajiat : It depends if we think of making a separate catalog to view the organization.
If we have only one single catalog, which has one API view and one Organization view, the above "Definition of Done" would be sufficient.
However, if we implement organization catalog as a separate page than the already existing catalog, we need to decide what view should appear as default based on the role of

[2016-11-04 13:26] Nazarah opened #1882 "Automated testcase suite for signed in user"

[2016-11-04 13:32] Nazarah opened #1883 "wireframe for "Multiple API Umbrella proxies can be added in Settings""
#1868

[2016-11-04 13:33] Nazarah opened #1884 "wireframe for "Allow API owner to select one from several configured proxies""
#1869

[2016-11-04 13:34] Nazarah opened #1885 "wireframe for "Reintroduce cover photo""
#1823

[2016-11-04 13:35] Nazarah opened #1886 "wireframe for "Notify users that time zone used in dashboard is UTC""
#1878

[2016-11-04 13:38] Nazarah opened #1887 "wireframe for "Harmonize API feedback and API backlog""
#1826

[2016-11-04 13:44] Nazarah opened #1888 "wireframe for "Create an eMQTT dashboard to fit MQT analytics data structure""
#1881

[2016-11-07 07:27] #1789 closed

[2016-11-07 07:38] bajiat commented on #1871
@Nazarah I think it would be sufficient to close the menu when one API has been selected. Wouldn't that indicate the user that now you have made a choice and dashboard is updated based on that choice. Not sure if this work implementation-wise, though.

[2016-11-07 08:06] bajiat commented on #1882
Open issue: Create user programmatically and discard the user? How will it work with email validation?

[2016-11-07 08:10] Nazarah commented on #1869
Open Question: Need to consider the scenario when owner wishes to switch from one proxy to another...Alert message?

[2016-11-07 08:18] bajiat commented on #1873
@shaliko Can you deploy Api Umbrella?

[2016-11-07 08:29] bajiat commented on #1869
@marla-singer Could you take this task?

[2016-11-07 08:32] bajiat commented on #1874
Consider API-specific API keys

[2016-11-07 08:36] bajiat commented on #1823
@marla-singer Could you take this task? If you need advice on file handling, you could ask e.g. @nnn who has implemented code already for this feature

[2016-11-07 08:37] bajiat commented on #1876
@marla-singer Could you co-pilot this task, i.e. mentor @brylie when he is working with modularizing?

[2016-11-07 08:39] Nazarah commented on #1819
also please look for unique elements in a page that lacks ID

[2016-11-07 08:39] bajiat commented on #1867
@nnn Could you take a look at this?

[2016-11-07 08:41] bajiat commented on #1878
@shaliko Is it safe to assume that the servers are using UTC time?

[2016-11-07 08:43] marla-singer commented on #1876
@bajiat yes, sure.

[2016-11-07 08:44] marla-singer commented on #1869
@bajiat yes, take it.

[2016-11-07 08:45] marla-singer commented on #1823
@bajiat yes, can take it

[2016-11-07 08:55] bajiat commented on #1869
@marla-singer Great! Can you please estimate the task in days?

[2016-11-07 09:08] shaliko commented on #1873
@bajiat Sure, some specific server or deploy it to DigitalOcean?

[2016-11-07 09:08] marla-singer commented on #1869
@bajiat Well, I'm not sure, maybe 2-3 days.

Is it essential to notice user in process switching? Can it be simply static senteces like:
"Be careful: Changing proxy will potentially break API calls from applications, if API users are not warned about the change."

[2016-11-07 09:08] shaliko commented on #1878
@bajiat I don't see any issue.

[2016-11-07 09:17] jykae commented on #1868
@bajiat @brylie what we do with syncApiBackends that is called after adding proxy? It might become quite complex on multiple proxies.

<img width="1268" alt="nayttokuva 2016-11-07 kello 11 15 39" src="https://cloud.githubusercontent.com/assets/293452/20052235/c94a16fe-a4db-11e6-8dc3-83de1a0fb092.png">

[2016-11-07 09:30] brylie commented on #1796
Feedback and future enhancements:

- text/logo contrast is low on Hero page element
  - add shadow around text and logo (e.g. 2px/2px #333 or #ccc) for contrast
- Hero section may not need to be so large
  - consider how to shorten the 'hero' section, so that important information may be seen 'above the fold'
  - see, for example [IndieHosters](https://indiehosters.net/page/home)
- Feature headers

[2016-11-07 09:48] brylie commented on #1876
Cool. We need to figure out a good, modular structure for the dashboard code. We will be working with it quite a bit in upcoming sprint(s).

[2016-11-07 09:49] brylie commented on #1868
Perhaps we don't need to sync the API Backends? Removing the sync function would simplify things greatly.

[2016-11-07 12:54] bajiat commented on #1797
Closing this issue.

[2016-11-07 12:54] #1797 closed

[2016-11-07 13:06] bajiat opened #1893 "Testing for development from sprint 34"
Test closed issues with Milestone 34. You can find the issues through this link:
https://github.com/apinf/platform/issues?q=is%3Aissue+milestone%3A%22Sprint+34%22+is%3Aclosed

# Definition of done
* [x] Sign up and Sign in testing
  * [x] If Github username is taken, routing to user profile fails
  * [x] Sign up allows user to login without completing email verification
* [x] Settings
   * [x] If

[2016-11-07 13:30] jykae commented on #1874
@bajiat As all our requests go straight to API Umbrella, API key checks are handled on API Umbrella.
I added question if it would be possible restrict the usage of API backend per API key
https://github.com/NREL/api-umbrella/issues/302

I am first going for functionality defined above.

[2016-11-07 14:51] bajiat opened #1895 "Write a blog post about open source / open development"
Write a blog post and publish it on Medium. Topic: open source and/or open development. It should be a 3-4 minute read.

## Definition of done
- [x] Come up with a topic for the post.
- [x] Create an outline of the blog post.
- [x] Write a draft copy.
- [x] Have the draft reviewed by team member(s).
- [x] Finalize the text.
- [x] Find or create relevant graphics.
- [x] Submit to Medium.

[2016-11-07 14:58] #1730 closed

[2016-11-07 15:02] #1868 closed

[2016-11-08 06:33] marla-singer commented on #1846
@bajiat The PR was merged. https://github.com/apinf/meteor-accounts-admin-ui-bootstrap-3/pull/3
The next steps are publish package to atmosphere and include it on APINF project

[2016-11-08 07:21] Nazarah commented on #1868
@jykae @bajiat
![image](https://cloud.githubusercontent.com/assets/17976243/20090216/6e2026c4-a594-11e6-8d59-0fc798176ad6.png)

Should we give info icons beside each field indicating what does each field do and an example of what value can be put there? Or the Admin would know this information in advance?

[2016-11-08 07:25] Nazarah commented on #1883
wireframe added to issue #1868

[2016-11-08 07:26] #1883 closed

[2016-11-08 07:34] Nazarah commented on #1869
@marla-singer Are you talking about the owner seeing the progress that the proxy has been switched to another one? I think there a simple feedback dialogue would be good. When the process is done an confirmation dialogue as well. However, I think API users should be notified about the change because they would see a broken link in the API profile page

[2016-11-08 07:45] brylie opened #1897 "Add and start using Validated Method package"
It is recommended that we check every method argument. To this end, and others, the MDG have released the [Validated Method](https://github.com/meteor/validated-method package. We should add the MVM package, and start porting our Meteor methods over to the validated syntax.

[2016-11-08 08:31] brylie opened #1898 "Get package version from package.json"
We are currently bumping the package version numbers in two files:

- package.json
- /about/client/about.html

This is leading to errors.

In about.html/js, fetch the platform from package.json, so that we can manage our versioning from a single, standard file.

[2016-11-08 08:34] brylie commented on #1868
@Nazarah please add your suggestion as an enhancement issue.

[2016-11-08 09:20] bajiat opened #1900 "Ensure API URL uniqueness per proxy"

[2016-11-08 09:52] bajiat commented on #1869
I think the first step is to warn the owner that they are making a breaking change (from the point of view of API users).

We don't have a notification feature in APInf yet, but notifying the users after proxy has been changed could be considered part of it, when we build one.

[2016-11-08 09:55] Nazarah commented on #1869
Alert message when API owner tries to switch proxy:
"**Caution!** Changing the proxy will change the call URL and will potentially break API calls from applications. Please inform your API consumers about this change and suggest them to check whether or not they need to obtain new API key from the newly selected proxy."****

[2016-11-08 09:58] Nazarah commented on #1884
Wireframe added to issue #1869

[2016-11-08 09:58] #1884 closed

[2016-11-08 10:13] marla-singer commented on #1869
@Nazarah Yes, i think, we will show the name as hard code like "**Current proxy is apiUmbrella**" or something that.
Wireframes look the same like I supposed :)

[2016-11-08 10:50] #1898 closed

[2016-11-08 10:59] bajiat commented on #1869
@Nazarah The current task is about selecting from more than one API Umbrella proxies. So the in the Select Proxy menu you should be able to somehow differentiate between the different API Umbrella proxies in some way. So the selection does not happen between different proxy types, but between different instances of API Umbrella.

[2016-11-08 11:02] marla-singer commented on #1869
@bajiat It doesn't metter, it's just the name. The values for dropdown list will be taken from collections.

[2016-11-08 11:04] philippeluickx opened #1901 "Unable to install npm"
Clean setup. Develop branch.
When running `npm install` I get
[code]

[2016-11-08 11:59] bajiat commented on #1796
To do list
- change logo to white?
- change the slogan to "Develop. We do the rest."
- add shadow around text and logo (e.g. 2px/2px #333 or #ccc) for contrast
- background picture/video: smaller so that it doesn't cover the entire screen
- Feature headers 'API Owner' and 'Developer' are mixed up
- background color for "We don't just talk about" from the same palette as other colors
- Keep only li

[2016-11-08 12:06] Nazarah commented on #1869
Use the standard Boot Strap alert popup to display when user want to switch a save a different proxy. This refers to wireframe picture 4.
Changing the wireframe picture 2 and adding them in GitHub repo.

[2016-11-08 12:12] jykae opened #1902 "Groundwork for multiproxy"
1. Update server methods in "api_umbrella.js" for multiproxy (ie. use proxyId)
2. Also update each client method call to pass proxyId from proxyBackend.

Check PR, updates "createApiUmbrellaWeb" & "createApiUmbrellaUser" methods: https://github.com/apinf/platform/pull/1896

[2016-11-08 13:07] philippeluickx commented on #1901
Fixed today, pull did the job

[2016-11-08 13:07] #1901 closed

[2016-11-08 13:34] marla-singer commented on #1876
List of things to refactor in Dashboard code:

# Current structure
The Dashboard code has the following structure:

 * client/
   * charts/
     * bar/ ...
     * filtering/ ...
     * line/ ...
     * overview/ ...
     * row/ ...
     * statistics/ ...
     * table/ ...
     * charts.html
     * charts.js
     * charts.less
   * lib/
   * dashboard.html
   * dashboard.js
   * dashboard.less

##

[2016-11-08 13:37] brylie commented on #1876
Ah, thanks @marla-singer! I saw that you had also posted a comment. Sorry for the duplication of effort.

[2016-11-08 13:37] brylie commented on #1876
Feel free to edit the main issue text.

[2016-11-08 13:39] marla-singer commented on #1876
List of things to refactor in Dashboard code:

# Current structure
The Dashboard code has the following structure:

 * client/
   * charts/
     * bar/ ...
     * filtering/ ...
     * line/ ...
     * overview/ ...
     * row/ ...
     * statistics/ ...
     * table/ ...
     * charts.html
     * charts.js
     * charts.less
   * lib/
   * dashboard.html
   * dashboard.js
   * dashboard.less

##

[2016-11-09 08:01] saralavanip opened #1904 "Dashboard view: displays 'No Data Found' for selected dates while data available"
# Steps
1. Visit https://staging.apinf.io
2. Sign up
3. Add API backend with proxy
4. Call API
5. Go to 'Dashboard'
6. Select the above API added from the drop down menu
7. Select the dates in calendar - 'from' and 'to'   (eg. 1 Nov 2016(any prior date) - 9 Nov 2016 (current day))

# Expected Result
Displays data for selected dates

# Actual Result
Displays a message 'No Data Found' while data is

[2016-11-09 08:13] marla-singer commented on #1823
@bajiat @Nazarah Right now I place the button "Upload cover photo" below the button "Upload Logo". Save it so?

[2016-11-09 08:21] #1902 closed

[2016-11-09 08:22] #1819 closed

[2016-11-09 08:38] brylie commented on #1876
In general, @marla-singer and I are considering that:
- data handling code and rendering code should be separate
- rendering logic should be closer to the chart templates
- data handling might be achieved by server methods, rather than on the client
- rely on Elasticsearch to do the work, such as aggregations

@philippeluickx also suggested that each chart template could trigger a server side requ

[2016-11-09 09:22] marla-singer commented on #1823
@bajiat Cover photo looks like this:
![joxi_screenshot_1478683218530](https://cloud.githubusercontent.com/assets/20643403/20133097/25fac9a6-a677-11e6-8c77-37eb3a15586b.png)

[2016-11-09 10:31] #1885 closed

[2016-11-09 10:59] Nazarah commented on #1823
@marla-singer can you add this dialogue when user tries to delete the cover photo from branding page?
"Cover photo area will show primary branding color after photo has been deleted. The image will be removed from the collection." Buttons: Delete cover photo and Cancel

[2016-11-09 11:01] marla-singer commented on #1823
@Nazarah Okay, I'll add

[2016-11-09 11:21] #1871 closed

[2016-11-09 11:58] marla-singer opened #1906 "Icons color should be independent from Primary color settings"
Now we can change primary color in Branding section. But if primary color is white, the icons disappear
**Screenshots:**
- nightly.apinf.io
![joxi_screenshot_1478692406547](https://cloud.githubusercontent.com/assets/20643403/20137658/cae9643a-a68c-11e6-8d52-5a873571d225.png)

- The primary color is white
![joxi_screenshot_1478692370997](https://cloud.githubusercontent.com/assets/20643403/20137647/

[2016-11-09 13:01] #1846 closed

[2016-11-09 13:38] philippeluickx commented on #1876
I think also from the "perceived performance" point of view, it's always nice to see some results already. So even if I only see the first graph and the others are still loading, that will feel faster than having everything shown at the same time.
Question of course is if the gains from using parallel queries is lost by overheard?

[2016-11-09 14:51] bajiat opened #1910 "Version number empty in About"
The Apinf version number in About window is empty on staging (i.e. release 0.34), even though the about.html in master contains a version number (0.34).

<img width="660" alt="about window release empty" src="https://cloud.githubusercontent.com/assets/11626388/20142345/fcb1d69a-a69c-11e6-855b-1ad57c58ebe7.png">

[2016-11-10 10:54] brylie commented on #1910
It turns out that the `package.json` file is replaced when we build the tool. Not only that, but when we deploy the platform, the working directory changes, so `proces.env.PWD` returns the wrong directory.

Changes needed may include:
- use `process.cwd()` to get current working directory
- determining how to retain pachage.json, or at least the project version number, when building for production

[2016-11-10 10:55] brylie commented on #1910
In the short term, we should probably revert this feature. That will mean updating the version number in two files, for each release:
- package.json
- .../about.html

[2016-11-10 11:07] brylie opened #1911 "Upgrade to Meteor 1.4.2.1"
Meteor 1.4.2.1 release fixes some issues with the babel JS compiler:

https://forums.meteor.com/t/meteor-1-4-2-1-is-an-important-patch-for-1-4-2-users/31190

[2016-11-10 13:13] marla-singer commented on #1869
@bajiat Don't have any answers for this question. So I don't know what to do? Save these data or deleted

[2016-11-10 14:06] marla-singer commented on #1869
@bajiat Another open issue: What behaviour is expected if user select one proxy in list, save settings then select the first item "Select ... " ? Now I hide the form.
**The question is** delete or not proxy backend configuration? If doesn't delete then we should also hide information about proxy in Details tab.

I'm confused :confused:

[2016-11-10 14:30] marla-singer commented on #1869
Another case:
Selected proxy №2 in dropdown list
Then navigate to Proxies page and delete this proxy settings
What behaviour is expected?

[2016-11-11 10:45] #1911 closed

[2016-11-11 11:06] jykae commented on #1808
@bajiat @brylie Tested new release on staging. Verified to work as expected. Closing.
<img width="1180" alt="nayttokuva 2016-11-11 kello 13 03 43" src="https://cloud.githubusercontent.com/assets/293452/20213082/652128ca-a80f-11e6-912a-df10948e8e05.png">

[2016-11-11 11:06] #1808 closed

[2016-11-11 12:08] bajiat commented on #1808
Also apinf.io looks ok after the new release was deployed. Showing Login forbidden instead of Internal server error

[2016-11-11 13:08] #1879 closed

[2016-11-11 13:18] jykae commented on #1867
Can't find what is causing this, asked @nnn to take a look.

Happens also on OSX, Chrome 54.0.2840.87 (64-bit) and Firefox 49.0.2

[2016-11-11 13:23] #1874 closed

[2016-11-11 14:03] bajiat commented on #1867
Also happens on Internet Explorer 11.

[2016-11-11 14:32] jykae commented on #1867
width 1200px seems to be breakpoint for this behaviour

[2016-11-14 08:29] bajiat commented on #1869
What if you warn first (text suggested by Nazia) and ask for a confirmation: "Do you really want to change the proxy?"

[2016-11-14 08:30] bajiat commented on #1869
If user makes a concious decision after being warned, I would say we need to delete from API Umbrella.

Ping @brylie

[2016-11-14 08:33] bajiat commented on #1501
@saralavanip Thanks for the verification. Closing the issue.

[2016-11-14 08:33] #1501 closed

[2016-11-14 08:55] bajiat commented on #1395
@shaliko Can we close this issue?

[2016-11-14 08:57] bajiat commented on #1707
Closing the issue. This was for Mindtrek and testing.

[2016-11-14 08:57] #1707 closed

[2016-11-14 08:58] Nazarah opened #1919 "API open documentation Wireframe"

[2016-11-14 09:00] bajiat commented on #1873
Deployment finished. Closing the issue.

[2016-11-14 09:00] #1873 closed

[2016-11-14 09:02] shaliko commented on #1395
@bajiat Yes, fixed on apinf/platform side by add "curl" installation on start.

In future when  api-umbrella release new version with fixed issue we will drop installation curl from docker file https://github.com/apinf/platform/blob/227ccb956d1cac4d843ecca7d53ae62057dd00d7/docker-compose.yml#L20

[2016-11-14 09:14] saralavanip commented on #1836
@bajiat , @brylie , verified this resolved issue on https://nightly.apinf.io and it works as expected. This issue can be closed.

[2016-11-14 09:18] brylie commented on #1869
@marla-singer please aim for simplicity here.

Just start with a basic autoform where the user can select a proxy from a dropdown. If the AutoForm event is `update`, then warn the user that the update might have side effects.

We can add enhancements at a later point. For now, all we need is for the user to be able to select a proxy from a list.

[2016-11-14 09:22] brylie commented on #1869
Yes, delete the backend from the first proxy. Make sure the owner understands the potential side-effects by showing an alert.

It is the owners' responsibility to consider and communicate changes to the API users.

[2016-11-14 09:25] #1395 closed

[2016-11-14 09:25] brylie commented on #1869
The question is delete or not proxy backend configuration in our data base? Delete or not from apiUmbrella?

Any time the proxy is changed, and the changes are saved locally:
- warn the administrator of possible side effects
  - loss of analytics data
  - API user broken links
- remove the backend from the previous proxy

Note: selecting the 'Select a Proxy' option from the dropdown and clicking s

[2016-11-14 09:42] marla-singer commented on #1869
@bajiat @brylie Thanks for answers! I understood all

[2016-11-14 10:42] #852 closed

[2016-11-14 10:42] #853 closed

[2016-11-14 10:42] #854 closed

[2016-11-14 10:44] bajiat opened #1920 "Warn admin user, if removing a proxy from platform settings"
If admin user wants to remove a proxy from Settings, that can (or rather will) break all API calls made to the connected proxy backends. User should be asked for a confirmation for removing the proxy with a message like this:

 "You are about to remove a proxy that has NN proxy backends connected to it. Removing the proxy will mean that API calls made to any of the connected API backends will brea

[2016-11-14 11:36] jykae commented on #1823
Reopen as this feature was reverted.

[2016-11-14 11:37] saralavanip commented on #1170
@bajiat , verified this resolved issue on https://nightly.apinf.io and it is not reproducible.

[2016-11-14 12:16] saralavanip opened #1922 "Catalog view: Click on 'Next' redirects to homepage in IE browser"
# Steps
1. Visit https://nightly.apinf.io
2. Signup
3. Go to Catalog
4. Go to next page by clicking on 'Next'  (or eg. click on '2' )

# Expected Result
Redirects to the next page (eg. page 2) successfully

# Actual Result
Redirects to homepage

# Browser
Internet Explorer 11

# Operating System
Windows 10

[2016-11-14 12:46] saralavanip commented on #1767
@bajiat , verified this issue on https://nightly.apinf.io and https://staging.apinf.io and it is not reproducible.

Browser: IE 11
Operating System: Windows 10

[2016-11-14 12:51] saralavanip commented on #1762
@bajiat , verified this resolved issue on https://nightly.apinf.io and it is not reproducible.

[2016-11-14 13:37] Nazarah opened #1925 "In APINF staging, the language selector bar appears grey when the branding color is set as default"
# URL:
https://staging.apinf.io/

# Expected Result:
Language selector bar should appear in the same color as that of default color of APINF

# Environment
OS: Windows 8
Browser: Any

[2016-11-14 14:04] saralavanip opened #1926 "Proxy view: Delete 'Proxy backend configuration' details and save not working"
# Steps
1. Visit https://nightly.apinf.io
2. Sign Up
3. Add API Backend  with proxy
4. Go to 'Proxy'
5. Delete 'Proxy backend configuration' details
6. Click on ' Save and Publish' button

# Expected Result
Delete 'proxy backend configuration' details and save settings successfully

# Findings
-  Currently this feature is not working
-  Click on 'Save &Publish' button notifies user to fill in the

[2016-11-14 14:22] saralavanip commented on #1562
@bajiat , verified the resolved issue on https://nightly.apinf.io and it is not reproducible.

[2016-11-15 08:26] saralavanip commented on #1835
@bajiat , verified this resolved issue on https://nightly.apinf.io and it is not reproducible.

[2016-11-15 08:31] saralavanip commented on #1787
@bajiat , verified on https://nightly.apinf.io and it works as expected.

Screenshot:
![screenshot 49](https://cloud.githubusercontent.com/assets/13309358/20298418/78f30bf4-ab1e-11e6-96c7-a338b6a8f6ca.png)

[2016-11-15 09:23] #1925 closed

[2016-11-15 09:35] jykae commented on #1826
@bajiat On feedback delete, I think it's also OK to delete related Feedback votes?

[2016-11-15 09:38] bajiat commented on #1826
@jykae Yes, if it only deletes the votes for that particular item to be deleted.

[2016-11-15 09:42] jykae commented on #1826
@bajiat Yep, just the votes of that particular feedback. We were not doing that before.
[code]

[2016-11-15 09:59] saralavanip commented on #1793
@bajiat , verified on https://nightly.apinf.io and it works as expected.

[2016-11-15 10:02] saralavanip commented on #1699
@bajiat , verified this resolved issue on https://nightly.apinf.io and it works as expected.

Screenshots:
![screenshot 58](https://cloud.githubusercontent.com/assets/13309358/20301254/3b3a4266-ab2b-11e6-87de-643fc6bc48e5.png)

![screenshot 57](https://cloud.githubusercontent.com/assets/13309358/20301260/42dc0af4-ab2b-11e6-9bb2-fa106a7b8471.png)

[2016-11-15 14:22] jykae commented on #1826
Posted preview https://github.com/apinf/platform/pull/1921#issuecomment-260653084

[2016-11-16 00:57] Uzmani commented on #1867
Hi. I'm new to the open source community and a first time contributor.  This seems like a good first bug for me to resolve.  Can I be assigned to this?

[2016-11-16 09:34] #1823 closed

[2016-11-16 12:04] nnn commented on #1867
Easy fix:

`body {
  overflow-x: hidden;
}`

[2016-11-16 14:23] #1826 closed

[2016-11-16 18:05] Uzmani commented on #1867
@nnn, the 'overflow-x: hidden' will work.  However, the root issue that's causing the horizontal scroll are the images in the "getting started" and "completely open source" sections.  The bootstrap class 'col-lg-push-1' is pushing the that div outside of the .container width.

The solution I suggest would be to remove the 'col-lg-push-1' from the html and float:right the image.

[2016-11-17 03:36] nnn commented on #1867
@Uzmani we will accept pull-request :)

[2016-11-17 07:52] #1834 closed

[2016-11-17 08:01] Nazarah commented on #1881
@frenchbread can you please give me the link to access EMQTT charts to see how they look?
Also please let me know if we will be implementing the graphs that are existing in our current dashboard using emqtt?
Or there would be additional new graphs as well.

[2016-11-17 08:03] bajiat commented on #1867
@Uzmani Thanks for taking the initiative and for being interested in the APInf project!

[2016-11-17 08:23] jykae commented on #1910
Assigned by @bajiat

[2016-11-17 09:30] #1910 closed

[2016-11-17 10:27] saralavanip commented on #1842
@bajiat , verified this resolved issue on https://nightly.apinf.io and it works as expected.

[2016-11-17 10:43] saralavanip commented on #1759
@bajiat , verified this resolved issue on https://nightly.apinf.io and it works as expected.

Screenshots:

![usage_instruction_enabled_api_key_required](https://cloud.githubusercontent.com/assets/13309358/20386148/f941a11c-acc2-11e6-99c5-56b2c60c3a89.png)

![usage_instruction_disabled_api_key_required](https://cloud.githubusercontent.com/assets/13309358/20386158/060417e0-acc3-11e6-9180-825f113ead

[2016-11-17 10:51] saralavanip commented on #1735
@bajiat , verified on https://nightly.apinf.io and it works as expected.

[2016-11-17 11:07] saralavanip commented on #1684
@bajiat , verified on https://nightly.apinf.io and it works as expected.

Screenshot:

![screenshot 65](https://cloud.githubusercontent.com/assets/13309358/20386993/b045145e-acc6-11e6-9b21-1a16df216b1f.png)

[2016-11-17 11:21] Nazarah commented on #1882
Test cases:

1. User visits APINF page, checks about and bottom portions of the landing page
2. User registers, verifies the email sent and logins to APINF
(question: should we create a new user everytime the script is run?
how to add a manual step in Selenium IDE to check later by the person running the script. This is needed to verify the email received)
3. User sees the topbar menu
4. User visi

[2016-11-17 11:21] Nazarah commented on #1882
@bajiat I will discuss with @brylie to see what can be done here.

[2016-11-17 11:31] jykae opened #1931 "Generic confirmation modal"
If we are going to have several confirmation modals (eg. on remove), making a generic template that we can pass variables & i18n strings as parameters would be good idea imho.

[2016-11-17 11:37] Nazarah commented on #1882
an idea of adding an API can be the one used in Mindtrek for APINF.

[2016-11-17 11:40] Nazarah commented on #1882
@brylie need your help to see if Selenium supports adding a manual step in a testcase which can be checked as a success by the person who is running the script.

[2016-11-17 11:42] Nazarah commented on #1882
@shaliko : do we still have the API that you designed for Mindtrek? We can use that one for the case when user tries to add an API.
Also it would be good if the swagger documentation is available.

[2016-11-17 11:44] #1776 closed

[2016-11-17 11:46] brylie commented on #1882
@Nazarah here is the Mindtrek API:

https://apinf.io/api/5YqohtnKpEYFR5wbt

[2016-11-17 12:00] frenchbread commented on #1881
@Nazarah I am working in https://github.com/apinf/emq-analytics-dashboard. It's a simple meteor app, completely separate from apinf. The idea is to implement a dashboard template for emqttd, so that we can easily move it to apinf.

`emq-analytics-dashboard` app requires elasticsearch instance running (with some analytics data), I can provide instructions how you can set up the whole environment, b

[2016-11-17 12:05] jykae commented on #1920
@bajiat I modified the proposed string so that we don't need to break it in 2 parts.
[code]
This part is shown in confirmation modal header:
[code]

[2016-11-17 12:17] #1869 closed

[2016-11-17 12:29] saralavanip commented on #1412
@bajiat , verified this resolved issue on https://nightly.apinf.io

Findings:
-  Settings not published on landing page for anonymous users

Screenshot:
![screenshot 66](https://cloud.githubusercontent.com/assets/13309358/20389333/d463e44a-acd1-11e6-81c9-bb9197ff72ef.png)

[2016-11-17 12:46] saralavanip commented on #1319
@bajiat , verified this resolved issue on https://nightly,apinf.io

Screenshot:
![screenshot 67](https://cloud.githubusercontent.com/assets/13309358/20389804/2fb91c0a-acd4-11e6-95aa-d4e80aaa53ac.png)

![screenshot 70](https://cloud.githubusercontent.com/assets/13309358/20389830/552bdb08-acd4-11e6-87e8-8f060f909e7e.png)

[2016-11-17 14:00] #1920 closed

[2016-11-17 14:27] jykae commented on #1878
@bajiat In the longer term perspective, I propose to have timezone preference in user profile, so that user could select how to see times in UI.

Though just informing that time is UTC is faster to implement.

[2016-11-17 14:32] Nazarah opened #1933 "Add html ids for following elements in APINF."
Add an id to a page element. This helps automatic testing to interact with page elements.

1. API Search page --> no of returned results. [currently it appears as em]

As a minimum, add this one missing id. If you can and have time, find more missing elements.

[2016-11-17 14:50] Nazarah commented on #1888
Keeping it into Blocked as the main task would start once the dashboard is ready to be placed in APINF.
I can suggest GUI changes or additions that time.

[2016-11-18 07:36] marla-singer opened #1935 "The proxy backend form is closed when proxy path isn't unique"
Verified on nightly.apinf.io, multi-proxy case

### Steps:

1.Create an api
2. Go to Proxy tab and add the next values:
 - **Proxy**: Nightly umbrella
 - **Proxy base path:** /new-proxy-path/
 - **Api base path:** /
3. Click on button Save & Publish

### Found:
 - The form is closing and user can't understand why
### Reason:
- The proxy base path isn't unique
### Expected:
- The form is opened and

[2016-11-18 07:52] marla-singer opened #1936 "Proxy backend configuration isn't deleted form previously Proxy instance"
Verified on nightly, multi-proxy case

Test it if you have an access  to:
- https://nightly.apinf.io:3002/admin/
- https://nightly-second-umbrella.apinf.io:3002/admin/

### Steps
1. Create an api
2. Go to Proxy tab and add proxy backend configuration for **Nightly Umbrella** proxy
3. Save it and go to admin panel to https://nightly.apinf.io:3002/admin/login#/apis
4. Verified the existence of your

[2016-11-18 08:15] #1867 closed

[2016-11-18 08:20] jykae commented on #1349
@philippeluickx If we want really be secure about this we could set "pass API key header" as default, otherwise Umbrella accepts both anyway. What you think?
<img width="583" alt="nayttokuva 2016-11-18 kello 10 16 45" src="https://cloud.githubusercontent.com/assets/293452/20423296/357a0740-ad78-11e6-9df0-226aa25bdfe9.png">

[2016-11-18 08:34] jykae commented on #1887
@Nazarah this can be possibly closed as related task was completed

[2016-11-18 08:52] Nazarah commented on #1887
Issue closed.

[2016-11-18 08:52] #1887 closed

[2016-11-18 08:53] saralavanip commented on #1864
@bajiat , verified this resolved issue on https://nightly.apinf.io

Findings:
- Sign In with unique GitHub account works as expected.
- Sign In with GitHub account's email address which is also associated with another apinf account  displays 'Email already exists' .

Screenshot:
![apinf_landing_page_error](https://cloud.githubusercontent.com/assets/13309358/20424137/fba4532c-ad7c-11e6-84dc-0473e7c

[2016-11-18 08:57] marla-singer opened #1938 "Update the description of Details tab in multi-proxy case"
In multi-proxy case Details tab have the wrong description
![joxi_screenshot_1479458989975](https://cloud.githubusercontent.com/assets/20643403/20424238/dcd78c08-ad85-11e6-8d99-379f1ea4a2e9.png)

[2016-11-18 12:31] bajiat opened #1939 "Release testing"
Test the 0.35 release in staging.apinf.io. Report any bugs or enhancement needs. Update test cases document, if needed.

# New and improved items in release:
- [x] Multiple API Umbrella proxies can be added in Settings
- [x] If several API Umbrella proxies have been added to deployment, API owners can choose to which proxy they connect their APIs
- [x] Get API key and Copy API key button works in

[2016-11-18 12:33] bajiat opened #1940 "Deploy release 0.35 to staging"
Deploy release 0.32 to staging for testing the release.

[2016-11-18 12:42] #1349 closed

[2016-11-18 12:43] jykae opened #1941 "API key usage security improvement"
Enhancement proposal from #1349

"If we want really be secure about this we could set "pass API key header" as default, otherwise Umbrella accepts both **url parameter** & **header** if value is not set for API Backend. What you think?"

<img width="583" alt="nayttokuva 2016-11-18 kello 10 16 45" src="https://cloud.githubusercontent.com/assets/293452/20430450/084e8762-ad9d-11e6-96e7-80f928f455f6.p

[2016-11-18 13:02] jykae commented on #1234
interested

[2016-11-18 13:09] jykae commented on #1750
interested

[2016-11-21 07:43] Nazarah opened #1942 "Wireframe for "UI for adding an organization""
https://github.com/Digipalvelutehdas/APIKA/issues/37

[2016-11-21 07:44] Nazarah opened #1943 "Wireframe for "Basic UI for viewing organization""
https://github.com/Digipalvelutehdas/APIKA/issues/38

[2016-11-21 08:31] bajiat commented on #1940
@shaliko This would be a task for you. Is that ok?

[2016-11-21 08:35] Nazarah commented on #1942
duplicate to issue https://github.com/Digipalvelutehdas/APIKA/issues/39

[2016-11-21 08:35] #1942 closed

[2016-11-21 08:37] Nazarah commented on #1943
Duplicate to issue: https://github.com/Digipalvelutehdas/APIKA/issues/40

[2016-11-21 08:37] #1943 closed

[2016-11-21 08:38] bajiat commented on #1872
@marla-singer Can we assign this to you? If yes, what would be your estimate?

[2016-11-21 08:41] bajiat opened #1944 "Finalize blog post about API Economy"

[2016-11-21 08:43] marla-singer commented on #1872
@bajiat sure, assign it to me. Estimate about 5 days and I can continue a work after merge of related task https://github.com/apinf/platform/pull/1923

[2016-11-21 09:28] shaliko commented on #1940
OK!

[2016-11-22 07:31] #1796 closed

[2016-11-22 07:58] nnn commented on #1750
I am going with https://github.com/todda00/meteor-friendly-slugs
@apinf/developers if you guys have any other suggestions, please, let me know.

[2016-11-22 20:32] ccsr opened #1952 "Support for webhooks"

[2016-11-23 09:43] ccsr opened #1953 "Study options for DDoS attack prevention"
Study DDoS attack prevention and mitigation for APInf

# Definition of done
* [ ] Study options / strategies
* [ ] Document
  * [ ] a small description of the problem
  * [ ] 2-3 options with pros and cons (options may be tools and/or processes)
* [ ] Document is stored in docs repository

There is a [DDoS-prevention](https://github.com/apinf/docs/blob/master/docs/research/DDoS-prevention.md) docu

[2016-11-23 09:58] ashakunt commented on #1953
IMHO, this should be done on the server level rather than at the software level.

[2016-11-24 08:59] bajiat commented on #1944
@Laura-Sampo I quess this can be closed since it was published already?

[2016-11-24 09:29] #1876 closed

[2016-11-24 09:29] #1904 closed

[2016-11-24 15:09] saralavanip opened #1954 "Usage instructions not updated when API connected to another proxy"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. proxy 1 , proxy 2)
5. Sign out
6. Sign Up / Sign In as owner
7. Add API (eg. API 1) with proxy (eg. proxy 1)
8. Click on 'Get API key'
9. Add another API (eg. API 2) with proxy (eg. proxy 2)
10. Go to 'Details' view of above added API 2

# Findings
Usage instructions have the same A

[2016-11-25 09:19] #1944 closed

[2016-11-25 10:08] saralavanip opened #1955 "Incomplete translation of 'Branding' page in Suomi view"
# Steps
1. Visit https://staging.apinf.io
2. Go to language bar and select 'Suomi'
2. Login as admin
3. Go to 'Branding'

# Findings
Incomplete translation of 'Branding' page in Suomi view.
- Text field titles, button title text for 'Upload cover photo' are in English language

# Screenshot
![suomi_branding_view_english_text](https://cloud.githubusercontent.com/assets/13309358/20621547/99ed78da-b3

[2016-11-25 13:28] saralavanip opened #1956 "Call API in multiproxy setup not updating dashboard"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. proxy 1 , proxy 2)
5. Sign out
6. Sign Up / Sign in as owner
7. Add API (eg. API 1) with proxy (eg. proxy 1)
8. Click on 'Get API key'
6. Add another API (eg. API 2) with proxy (eg. proxy 2)
7. Click on 'Get API Key'
8. Call APIs
9. Go to 'Dashboard'
10. Select API
11. Go to date fi

[2016-11-25 13:34] saralavanip commented on #1939
Reported issues:
https://github.com/apinf/platform/issues/1954
https://github.com/apinf/platform/issues/1955
https://github.com/apinf/platform/issues/1956

[2016-11-26 13:09] jykae opened #1957 "Automatic changelog"
To reduce manual work for releases,
try out https://github.com/skywinder/github-changelog-generator

# Definition of done
* [x] Check the options for creating automatic changelog and make a proposal

[2016-11-28 08:53] #1234 closed

[2016-11-28 11:20] #1872 closed

[2016-11-28 14:32] marla-singer commented on #1938
It was done in this PR https://github.com/Digipalvelutehdas/APIKA/pull/60

[2016-11-29 11:47] #1750 closed

[2016-11-29 14:04] bajiat commented on #1952
@ccsr Can you give any background information on the user or business need for webhooks? Thanks!

[2016-11-29 14:05] bajiat commented on #1938
@Should this issue be closed?

[2016-11-29 14:17] marla-singer commented on #1938
@bajiat Yes

[2016-11-29 14:24] #1938 closed

[2016-11-30 00:48] mauriciovieira opened #1958 "Improve project structure"
The current project filesystem has about 30 directories and does not seem to follow any guideline. This makes the code difficult to understand and evolve. The [meteor website](https://guide.meteor.com/structure.html) has some guidelines to structure a meteor app using ES 2015 modules, but there might be other good ways as well.

What I envision for tidying up the filesystem is:
- [ ] list all dire

[2016-11-30 01:00] mauriciovieira commented on #1958
@brylie @bajiat my first big suggestion.

[2016-11-30 08:07] brylie commented on #1958
For what it's worth, we did put some thought into the current structure, and documented it in our [contributor guidelines](https://github.com/apinf/platform/blob/develop/CONTRIBUTING.md#file-structure). This is not to say our structure will never change, but rather we intentionally grouped code into feature modules at the root level of the project. When viewing the root level of the project, you c

[2016-11-30 10:31] mauriciovieira commented on #1958
I understand, but still it seems to much for the root directory. What about moving all modules into a `modules` subdirectory, leaving `public`, `docker`, `modules` (and maybe a few other directories) in the root?

[2016-11-30 10:40] brylie commented on #1958
Sure, we might even convert the modules to git submodules.

A 'grand vision' would be to architect Apinf in a similar manner to Drupal, where each feature is a module and can be managed from a 'Modules' administrative view, including fetching and installing modules from NPM. The NodeRed platform has a similar module management UI:
![peek 2016-11-30 12-38](https://cloud.githubusercontent.com/assets

[2016-11-30 13:13] #1940 closed

[2016-11-30 14:29] nnn commented on #1538
@preriasusi works for me.
Safari 10.0.1
macOS 10.12.1

[2016-11-30 15:00] nnn commented on #1312
Closing this since we are using different layout.

[2016-11-30 15:00] #1312 closed

[2016-11-30 15:16] #1736 closed

[2016-11-30 15:18] nnn commented on #780
Closing this since we have updated layout of this view.

[2016-11-30 15:18] #780 closed

[2016-11-30 15:22] nnn commented on #557
Done: apinf.org

[2016-11-30 15:22] #557 closed

[2016-12-01 06:33] #1171 closed

[2016-12-01 08:44] Nazarah opened #1959 "In search results, time of adding the API seems to be wrong"
# Reproducing steps:
1. go to https://nightly.apinf.io
2. open search field and click on search
3. see the search result (API adding times)
4. wait for a minute
5. again reload search page

# Result:
- the APIs in the top of list still has the time stamp "Added a few seconds ago", where already a minute has passed.
It seems the times are wrong here or they don't get updated

![image](https://cloud

[2016-12-01 12:03] Nazarah opened #1960 "To prepare automated testing for adding an API, consistent ids of "Name" "Description" and "URL" fields are not available"
![image](https://cloud.githubusercontent.com/assets/17976243/20793233/b4c2480e-b7ce-11e6-9710-da3fcb773869.png)

The fields mentioned above have their IDs change each time the page is reloaded
I tried with targeting the html attributes name and data-schema-key, but doesn't work

[2016-12-01 12:28] marla-singer commented on #1960
@Nazarah You can find this element using CSS selector.
Selector for this element is `"#addApiForm input[name="name"]"`
For field Description is `"#addApiForm inut[name="description"]"`
It means that find **input** element where attribute _name_ has value **_name_** and input element is child of element with id _addApiForm_

More details about CSS selectors:
http://www.w3schools.com/cssref/css_sele

[2016-12-01 13:02] #1919 closed

[2016-12-02 07:33] Nazarah commented on #1960
@marla-singer this is something haunted but the attribute name actually did the trick! 0_0
but for some weird reason it was always throwing "exception handler not found" the previous day.
Now I am able to add the API backend.
Thanks a lot for your help. :)

[2016-12-02 07:33] #1960 closed

[2016-12-02 09:31] Nazarah opened #1961 "Selenium Testing - Add an ID for proxy tab in API Profile"
Right now, the proxy tab can't be open if element locator targets the attribute id=api-proxy-tab. Also, on selecting an inconsistent ID fails the testcase.
Also need IDs for the following elements:
1. Proxy selector dropmenu
2. all options in the drop menu: Nightly Umbrella, Second Umbrella.

[2016-12-02 09:36] saralavanip opened #1962 "Catalog: Filter 'My APIs / Bookmarks' from 'Next' page not working"
# Steps
1. Visit https://nightly.apinf.io
2. Sign in
3. Add APIs
4. Go to Catalog  (default is 'Show all' )
5. Select and bookmark any API
6. Go to next page by clicking on 'Next' / page 2
7.  Click on My APIs/ My Bookmarks

# Expected Result
Displays all 'My APIs /My Bookmarks' successfully

# Actual Result
Shows an empty page

# Screenshot
![catalog_next_myapis_empty_page](https://cloud.githubus

[2016-12-02 10:30] saralavanip opened #1963 "Username with 'underscore' is not allowed while creating account"
# Steps
1. Visit https://nightly.apinf.io
2. Click on 'Sign Up'
3. Enter 'Username'  ( username with an 'underscore' eg. ntest_apinf )
4. Enter  valid 'Email address
5. Enter Password
6. Re-enter the same password as above
7. Click on 'Register' button

# Expected Result
Successful in creating account

# Findings
-  Username with underscore is not allowed while creating account.
-  Displays error

[2016-12-02 10:56] saralavanip commented on #1955
@bajiat , Suomi views of 'Sign Up' and 'Sign In' pages are not translated  as well.

Screenshots:
![suomi_view_signup_page](https://cloud.githubusercontent.com/assets/13309358/20831586/4d9a44e0-b88e-11e6-8b0c-61772ce5313c.PNG)

![suomi_view_signin_page](https://cloud.githubusercontent.com/assets/13309358/20831633/8966eeba-b88e-11e6-8add-ad4226243892.PNG)

[2016-12-02 11:41] brylie commented on #1954
This may still need attention, reopening. Also, there may be a regression with the 'get' / 'copy' API key button.

[2016-12-02 12:21] #1956 closed

[2016-12-03 13:03] santeriv opened #1965 "Add 'Append Query String Parameters' field to Proxy Backend form"
# User story

I want to **add query parameters to every API request** made from the proxy
so that end users do not need to see or add the query parameters themselves

# Context
 API Umbrella, or primary proxy, has a field called 'Append Query String Parameters' on the Backend configuration form. However, we have not 'mirrored' the 'query string parameters' field in our user interface.

## API Umbr

[2016-12-03 13:05] santeriv commented on #1965
First fix proposal is in https://github.com/apinf/platform/pull/1964

[2016-12-05 11:31] bajiat commented on #1965
@santeriv Thanks for taking an interest in APInf and contributing! Your PR is being reviewed.

[2016-12-05 14:52] kyyberi commented on #1953
+agreed. Search for existing solutions instead of building one from scratch.

[2016-12-07 08:42] philippeluickx commented on #1349
@jykae Sounds good to me. Default to the more safe behavior, but leave the other options open.

[2016-12-08 08:44] #1893 closed

[2016-12-08 08:44] #1939 closed

[2016-12-12 10:58] brylie opened #1970 "Research and architect module management UI"
# Context
Over the past few months, we have reorganized our code into feature module folders. This basic work was done to prepare our project for a module management workflow, where each deployment administrator could choose which modules to enable.

## Examples
The module management workflow/UI is inspired by  the following projects (in alphabetical order):

- [Atom packages](https://atom.io/pack

[2016-12-12 11:26] brylie commented on #1970
# NodeRed package management UI
![peek 2016-11-30 12-41](https://cloud.githubusercontent.com/assets/17307/21097694/81ffcdbc-c06e-11e6-9d8e-bc59348a234a.gif)

[2016-12-12 11:39] brylie commented on #1970
# Atom editor package manager
Atom editor allows users to search, install, and uninstall packages via the user interface:

![peek 2016-12-12 13-38](https://cloud.githubusercontent.com/assets/17307/21098122/5bb9267e-c070-11e6-9a8b-55e0a5fe2338.gif)

[2016-12-12 11:52] shaliko opened #1971 "Renew Let's encrypt certificate not working"
Renew Let'e encrypt certificate now working.

Issue related to wrong generated renewal script.

https://github.com/smashwilson/lets-nginx/blob/master/entrypoint.sh#L141

[2016-12-12 12:18] philippeluickx commented on #1970
+1 on the issue, definitely a good time to take this into consideration!

Should the same level of modularity also apply on the API owners level? E.g. one owner wants to activate the "discussion, code examples,..." modules while another API owner only wants "docs"? I am assuming this would be more of a design challenge than a code challenge though (I can open a new ticket?)

[2016-12-12 12:20] brylie opened #1972 "Diagram proxy oauth authentication sequence"
# Context
We have a task to research OAuth2 authentication. We are coordinating with the [upstream project](https://github.com/NREL/api-umbrella/issues/38) and [downstream stakeholders](https://github.com/Digipalvelutehdas/APIKA/issues/27) to make sure we understand what is involved with OAuth2 authentication and how it involves the Proxy.

## Rationale
Users often need to authenticate when making

[2016-12-12 12:32] brylie commented on #1970
That is a good idea, but not directly related to this task. E.g. we would design that as part of the API Settings tab, similar to Github repository settings for wiki, etc.

[2016-12-12 12:35] brylie commented on #1972
Ping @bajiat @shaliko

[2016-12-12 14:43] philippeluickx opened #1973 "modular API profile page design"
As originated from https://github.com/apinf/platform/issues/1970#issuecomment-266420447

As an API owner,
I want to enable and disable certain features
as offered by apinf

One owner wants to activate the "discussion, code examples,..." modules while another API owner only wants "docs"?

We would design that as part of the API Settings tab, similar to Github repository settings for wiki, etc.

[2016-12-12 16:59] jykae commented on #1970
Node RED installer: https://github.com/node-red/node-red/blob/49f72881f481bed94f4ffbd12369136bc751ffb0/red/runtime/nodes/registry/installer.js

Looks like it's executing ```npm install --production <package>```

[2016-12-13 14:26] bajiat opened #1974 "Create a basic REST API"
This is a task for developers who will be working during 27 - 30 Dec. Design and create a basic REST API. Figure out how to host it. Consider adding it to apinf.io, when it's ready.

The purpose is to get more familiar with the role of API owner.

This is not a central task for sprint, it is only a side task for the days between Christmas and New Year. So it should  be a small project that does no

[2016-12-13 14:37] shaliko commented on #1972
@brylie A little bit updated your diagram, just replaced "session token" to "access token" and renamed first step to "Authorization".

[code]
![diagram__6__svg](https://cloud.githubusercontent.com/assets/36139/21144170/b64bf61c-c15a-11e6-9714-7254fe0516c4.jpg)

Pros:
- Backend API no need care about Authorization/Authentication.
- The same client account can be used for Authorization/Authenticatio

[2016-12-13 15:28] philippeluickx commented on #1974
I would suggest to either start really naive (so google how to create an API and follow roadbump to roadbump) or then start really pro (design driven API, use SDK generation,...)
It would be nice to keep a sort of diary, where you can outline the steps you took, the frustrations you had and solutions you found.

[2016-12-13 16:30] brylie commented on #1972
In our setup, the Proxy (e.g. API Umbrella) is responsible for things like analytics. That way, the API behind the Proxy can be very simple.

In other words, the proxy is responsible for:
- authentication
- access control
- rate limiting
- load balancing
- analytics

[2016-12-15 10:15] #1961 closed

[2016-12-15 11:34] jykae commented on #1936
@marla-singer Reproduced, reading code, working on fix

[2016-12-15 12:26] bajiat opened #1975 "Make contact person optional in Add Organization form"
It should be simple to add an organization to APIKA. It is possible that it is unclear who will be the contact person for the organization while the organization is being added. The fields related to contact person should not be mandatory on the form.

# Definition of done
* [ ] User can save the Add Organization form without giving  contact information.

[2016-12-15 13:04] bajiat opened #1976 "Research getting admin API data to dashboard"
Create a diagram and if necessary a descriptive text that explains how you can get admin API data  to dashboard after the recent SW changes. The minimum requirement is to research admin API data for API Umbrella.

# Definition of done
* [ ] Diagram about getting admin API data to dashboard is published in Docs
* [ ] If necessary, diagram is accompanied by descriptive text.

[2016-12-16 09:11] jykae commented on #1935
Assigned by @bajiat