[2016-08-05 09:47] philippeluickx opened #1359 "Sync throws error when badly configured settings"
I just put random data in my settings to get apinf.io running. Noticed that an error is getting thrown:

[code]

Would be good to put the relevant code in a try-catch?

[2016-08-05 10:05] philippeluickx commented on #1075
+1
This should be done in both scenarios: uploading a file or pointing to a file through URL.

[2016-08-05 10:07] philippeluickx opened #1360 "Update host name in Swagger file automatically"
A swagger file will include a host name. This should be replaced with the URL used at apinf.io
e.g. api.mycompany.com/list (original swagger file) > apinf.io/mycompany/list?key=abc (swagger-ui)

Also the key should be included if required. If user is not logged in, then show a message that in order to use the API, you need a key (and thus an account).

# Definition of done
* [ ] Before displaying

[2016-08-05 13:16] philippeluickx opened #1361 "Investigate how to improve documentation"
Good read on https://bradfults.com/the-best-api-documentation-b9e46400379a#.a2nmn7koi

There are plenty of links to well designed APIs here, such as https://stripe.com/docs/api

This could be a great opportunity to analyze what is covered in a well designed Swagger file and where we have gaps that apinf.io could support.

Also in terms of interaction, we can improve a few things, such as sidebar m

[2016-08-06 09:00] philippeluickx opened #1362 "Security audit"
There are some excellent tips in this article that we should go through:
http://blog.thebakery.io/introducing-a-secury-auditor-to-meteor-devtools/

[2016-08-08 06:57] #1333 closed

[2016-08-08 07:20] bajiat opened #1363 "Update Swagger viewer to 2.1.5"
Apinf is running an outdated version of Swagger viewer. Update the viewer to 2.1.4 and test that oAuth works.

[2016-08-08 07:27] Nazarah commented on #1020
@bajiat When Administrator/API owner see the hidden API in catalog, should there be any specific icon/symbol indicating that the API is hidden from public view? This helps them to remind that which API is visible to public users and which is not. Specially useful for Admins since they might need to monitor 100s of APIs.

[2016-08-08 07:29] nnn commented on #1020
@Nazarah, not only an icon, color also can be a good indicator. Even better, an icon and color together.

[2016-08-08 09:33] Nazarah commented on #1020
Since the hidden APIs will only appear in Admin and API owner's catalog view, we can markdown only those specific APIs with a particular icon.
This way there is no need to provide icons/colors to public APIs in the grid and table view.
Suggestions are welcomed. :)

![apicardhidden](https://cloud.githubusercontent.com/assets/17976243/17475461/c51b1a3e-5d63-11e6-99f5-0e0f87698512.png)

![apiuptimeta

[2016-08-08 09:34] preriasusi opened #1365 "Swagger documentation calls returns nothing for a new api, until I modify it."
1. Add api to nightly.apinf.io or to nightly2.apinf.io.
2. Add swagger file matching to file.
3. Make a test call from Swagger viewer
  -  Expected result: Api returs as original API
  - Actual result: Message "no response from server"
4. Go to modify API
5.2 press "submit" without modifying anything.
6. Make a new test call from Swagger viewer
  -> call returns what API returns normally

[2016-08-08 09:34] #1355 closed

[2016-08-08 11:30] brylie commented on #1365
Does the API respond successfully before you upload the swagger file? E.g. how does the API respond after step 1?

[2016-08-08 11:35] preriasusi commented on #1365
It does respond all the time if I call it from browser. This happens only for calls made from Swagger UI.

[2016-08-08 11:59] nnn opened #1366 "API logo upload error"
### Steps

1. Upload API logo
2. Upload API Documentation

### Error

API logo is undefined, can't delete it.

[2016-08-09 07:36] philippeluickx opened #1368 "Error messages should point to apinf instance"
As a developer, I want to get pointed to the right place in order to request an API key

If you do a call to apinf without api_key, you get an error message that looks like:
{
  "error": {
    "code": "API_KEY_MISSING",
    "message": "No api_key was supplied. Get one at https://foobar.apinf.io:3002"
  }

This points to the API umbrella proxy, but should point to apinf instance.

It would be a goo

[2016-08-09 07:46] philippeluickx opened #1369 "Swagger UI-viewer handled over http"
UI viewer is done through calling a http URL and gives this warning:

Mixed Content: The page at 'https://nightly2.apinf.io/api/pGZPrqpS4i3jduC2C' was loaded over HTTPS, but requested an insecure image 'http://online.swagger.io/validator?url=https://nightly2.apinf.io/gridfs/fs/id/88d7b90bb0547157b848752f'. This content should also be served over HTTPS.

[2016-08-09 07:47] philippeluickx opened #1370 "Detail views have no titles"
The title is missing in the <head> part of the HTML for Detail view. It gives the default URL, which is a bit messy.

[2016-08-09 07:51] philippeluickx opened #1371 "Clicking on VALID button in swagger UI-viewer makes page blank"
![image](https://cloud.githubusercontent.com/assets/836866/17508744/24299378-5e1f-11e6-92f7-fa9b9969e120.png)

When you click on the lower right button, the Swagger UI-viewer section becomes completely blank. Only page refresh gets docs back.

[2016-08-09 09:37] #1363 closed

[2016-08-09 10:41] bajiat opened #1373 "Integrate aggregated usage-over-time chart to dashboard"
Integrate the proof-of-concept chart created in #1340 to actual Apinf dashboard.

# Definition of done
* Chart gets data from API Umbrella API
* Chart gets loaded in less than 10 seconds
* User can select the API they are viewing
* User can select and change the timeframe

[2016-08-09 10:46] bajiat commented on #1325
Check whether this is still valid when Dashboard 2.0 will be done

[2016-08-09 10:47] bajiat commented on #1322
Check whether this is still valid when Dashboard 2.0 will be done

[2016-08-09 10:47] bajiat commented on #1337
Check whether this is still valid when Dashboard 2.0 will be done

[2016-08-09 10:53] bajiat commented on #1360
The user uploading the document should also be notified about replacing the host URL

[2016-08-09 12:56] #1366 closed

[2016-08-09 14:14] philippeluickx opened #1374 "Backup strategy"
We should make backups.

[2016-08-09 14:14] philippeluickx opened #1375 "Data migration strategy"
How do we handle data migrations when moving forward? Do we still make breaking changes? Are migration files needed when changing data models?

# Definition of done
* [x] Options for migration have been studies and the optimal solution has been selected
  * [x] Options are documented in the comments for this issue
*  [x] There is a Meteor or npm package or migration script that handles database mi

[2016-08-10 06:53] bajiat commented on #1327
An API owner should not be able to see someone else's API, right?

[2016-08-10 07:22] bajiat commented on #1233
User interface work > create task
Big testing impact

[2016-08-10 07:31] bajiat commented on #1360
Plan B: Write an instruction how to change the host for Swagger file, if they want calls from Swagger UI to go through proxy. (Construct the URL for the instruction programmatically)

[2016-08-10 07:46] bajiat commented on #1249
Update only if there is a Docker image

[2016-08-10 07:51] bajiat commented on #1099
@shaliko Would it be possible to add the Force SSL package back? Will that cause problems with Docker image(s)?

[2016-08-10 08:49] shaliko commented on #1099
@bajiat Yes, that will have effect on docker-compose configuration. Will be better keep out Force SSL from source code of api-umbrella-dashboard, that the not responsibility of app, preferable way handle  redirect and SSL by web server or load balancer in front of api-umbrella-dashboard.

[2016-08-10 10:51] #1099 closed

[2016-08-10 10:52] brylie commented on #1099
Closing after discussion with @shaliko. We decided not to re-enable the force-ssl package, but to monitor the backlog for any issues related to mixed HTTP/HTTPS content.

[2016-08-10 11:04] bajiat opened #1376 "Integrate SDK download to Documentation tab"
Integrate the SDK generator UI created in #1225 into the Documentation tab as a section of its own, thus allowing API consumers to download an SDK in the selected programming language, if a valid Swagger file has been updated for an API

# Definition of done
* [ ] SDK UI is only available in Documentation tab, if a valid Swagger file has been uploaded for an API.
* [ ] The SDK UI passes the Swagge

[2016-08-10 12:38] bajiat commented on #1375
Multi-proxy is a prime example of a disruptive, backwards incompatible change on the database level. This is why I am labeling this issue with Multiproxy label.

[2016-08-10 12:56] nnn commented on #1316
Already implemented in develop.

[2016-08-10 12:56] #1316 closed

[2016-08-10 12:57] nnn commented on #1074
Closing, because sidebar is removed.

[2016-08-10 12:57] #1074 closed

[2016-08-10 13:04] brylie opened #1377 "Star rating widget rendering issue"
On the 'Single API Backend' view, the star rating widget sometimes has rendering problems:

![screenshot from 2016-08-10 16-00-56](https://cloud.githubusercontent.com/assets/17307/17554539/f6c8758e-5f13-11e6-9a53-1f6d50c908ae.png)

# Steps to reproduce
1. run `meteor reset`
2. log in
3. visit any API Backend (after syncing from API Umbrella)

# Environment
- Ubuntu 16.04
- Firefox 49.2

[2016-08-10 13:07] marla-singer commented on #1225
@bajiat I will work in this repository [https://github.com/2glab/sdk-generator](https://github.com/2glab/sdk-generator)

[2016-08-10 13:08] #1318 closed

[2016-08-10 13:08] #1351 closed

[2016-08-10 13:25] nnn commented on #1377
Maybe already fixed in https://github.com/apinf/api-umbrella-dashboard/pull/1372/commits/b366f3d9e6039816aad7430913c36b0885744e1f

[2016-08-11 07:18] brylie commented on #1340
Before going with further experiments, it is good to have a baseline measure of performance for comparison. There are a few components involved in rendering the dashboard charts:

- fetching the data
- parsing the data
- rendering the charts

We should try to measure the overall time, on average, that the dashboard takes to render as well as time spent on each major component. This will give us be

[2016-08-11 11:14] frenchbread commented on #1340
As discussed earlier if using aggredated data which is provided by API Umbrella via REST API this cuts the need in performance improvements since the chart with data loads instantly within any data ranges. https://github.com/NREL/api-umbrella/issues/275. This is partly implemented in https://github.com/frenchbread/apinf-dashboard-example. The current brach with changes is `oop-dashboard`. I will m

[2016-08-11 11:25] frenchbread commented on #1327
@bajiat Right, and this "feature" is already implemented.

[2016-08-11 11:33] philippeluickx commented on #1340
@frenchbread is the ES interface open by default? Would be better to close it up in the default installation...
Also wondering if the REST interface should actually go through apinf? That way we can have all the advantages of security etc.

[2016-08-11 11:35] philippeluickx commented on #1360
Might be good to have by default make it go through apinf. IMO doing requests straight to backend should be blocked, except if it comes from apinf.

[2016-08-11 11:56] marla-singer commented on #1225
@bajiat The main task is ready. In progress: handling errors

[2016-08-11 12:02] frenchbread commented on #1340
@philippeluickx yes, it is.

I'm not sure how elastic search works within API umbrella but closing both & routing them though apinf would work well. (Api umbrella requires API key & token so hiding ES may be enough but not sure if it's possible)

[2016-08-11 12:39] bajiat commented on #1370
@philippeluickx Are you referring to the single API view and it tabs?

[2016-08-11 12:42] bajiat commented on #1361
@philippeluickx Can I rename the issue to "Investigate how to improve API documentation"?

[2016-08-11 12:53] bajiat commented on #1349
@philippeluickx Still unclear about the impact about this issue. Where in the UI does this occur?

[2016-08-11 13:08] bajiat commented on #1371
@shaliko Here is one of the cases where we run into trouble with http. If I press "Valid" in Swagger UI in nightly2, I get a blank page (as described above) and the following error in console:

Mixed Content: The page at ... was loaded over HTTPS, but requested an insecure resource 'http://online.swagger.io/validator/debug?url=https://nightly2.apinf.io/gridfs/fs/id/0ea6886fd4a9dfbbc2a6b163'. This

[2016-08-11 14:13] philippeluickx commented on #1361
Sure!

[2016-08-11 14:13] philippeluickx commented on #1370
Single API.
Just the <title> tag in the <head> part of the HTML. The title I refer to is what is displayed in the top bar of the browser.

[2016-08-11 14:14] philippeluickx commented on #1340
We should make sure ES interface is closed by default...

[2016-08-11 14:26] shaliko commented on #1371
@bajiat The issue in swagger-ui.js file https://nightly2.apinf.io/swagger/swagger-ui.js.

[code]

window.location.protocol will return "https:" instead of "https". https://developer.mozilla.org/en-US/docs/Web/API/HTMLHyperlinkElementUtils/protocol

As I can see swagger-ui have that issue in version version v2.1.0, that currently on nightly2.apinf.io. And we already updated swagger-ui in main repo

[2016-08-11 14:28] shaliko commented on #1371
@bajiat Please create new release with that commit https://github.com/apinf/api-umbrella-dashboard/commit/580df6599b9ef94f1a42c0770991d66ac1924afc and I will create new docker image for nightly2.

[2016-08-11 14:31] shaliko commented on #1369
@bajiat Should be fixed by update swagger-ui.js https://github.com/apinf/api-umbrella-dashboard/issues/1371#issuecomment-239176879

[2016-08-11 15:47] frenchbread commented on #1349
This approach is implemented [here](https://github.com/frenchbread/apinf-dashboard-example/blob/master/server/methods.js#L12).

[2016-08-12 07:02] bajiat opened #1378 "Design Proxies collection and schema"
Create a collection that will store configuration details like base URL for API proxies, for example API Umbrella. This is distinct the from the Proxy Backends collections which contains settings for a specific API backend (e.g. rate limiting).

# Definition of done
* [ ] Proxies component exists
* [ ] Proxies component follows folder structure of other components
* [ ] Proxies collection exists
*

[2016-08-12 07:26] bajiat opened #1379 "Update Add API wizard"
Update Add API wizard to add an API without proxy settings. (Proxy should be added - or in the future selected - in separate UI.) This UI will add an API with basic details to Catalog.

# Definition of done
* [x] User can enter all details related purely to  API backend such as name, description, base URL with Add API wizard
  * [x] Add API wizard does not contain any details or settings related t

[2016-08-12 07:33] bajiat opened #1380 "Update single API view / proxy settings"
Add either a Proxy tab or a partial view in Settings tab to add a proxy to an API backend.
The page should have a possibility to select an existing API proxy and define the backend configuration. The essential settings should be prominently available. Use the opportunity to explain frontend and backend prefix in a more user friendly manner, possibly selecting new terminology.
The tab/view should b

[2016-08-12 07:39] bajiat opened #1381 "Update API details tab"
API backend URL field gets its value from API backends collection, if there is no proxy selected for the API. If a proxy has been selected, the value should come from API proxy backend collection.

# Definition of done
* [ ] The base URL gets its value either from API backend document or Proxy API backend document (see conditions above)

[2016-08-12 07:51] bajiat opened #1382 "Update dashboard analytics URL and user notifications"
Update dashboard so that it gets the proxy analytics URL (e.g. ElasticSearch) from Proxies collection.
Ensure also that administrators can see all analytics, if possible also to filter API Umbrella Admin API. Other than that keep the current functionality, changing only the analytics URL.

 Also, make sure that users get a notification, if there are no analytics
* regular user: keep current notifi

[2016-08-12 07:58] bajiat opened #1383 "UI for adding or editing API proxy"
For the Settings view, add a form for adding and editing proxy. (In first phase, only API Umbrella) . The code should be reusable for the Settings wizard, if possible.

# Definition of done
* [ ] Settings page contains form for adding and editing proxy
* [ ] The form is autopopulated from the Proxies schema
* [ ] The form contains show/hide fields based on proxy type

# Wireframe

![apiproxysettin

[2016-08-12 08:25] bajiat opened #1384 "Get API key button to API profile page"
Create a collection and schema for API key.
Add get API key button and copy API key buttons to API profile. See the conditions in Definition of done for what should be available in which situation.
After a proxy has been configured, display Get API key button on API profile (once / for APIs that are connected to a proxy) for any user for without an API key.

Definition of done
* [x] Collection and

[2016-08-12 08:29] bajiat opened #1385 "Change API settings export to match collection change"
Make sure that both API details and proxy backend settings can be exported from Export tab. (If possible, tab should be available only for admin and API owner)

Note that API settings can already be exported.

# Definition of done
* [x] User has possibility to download both API backend details and proxy API backends configurations (can be separate files, in which case user needs to be able to sele

[2016-08-12 08:37] bajiat commented on #1371
@shaliko we will create a new release on Tuesday, we will ping you then

[2016-08-12 11:16] philippeluickx commented on #1349
@frenchbread so do we have multiple options (and parameter is the default) or is this something new?

[2016-08-12 11:44] frenchbread commented on #1349
@philippeluickx Did not really got your question.

Meteor's `HTTP.GET` method takes options such as headers, parameters etc. Documented [here](https://docs.meteor.com/api/http.html#HTTP-call). So we could either pass credentials as headers or as a parameters.

[2016-08-12 11:58] frenchbread opened #1386 "API gives 404 when the base URL responds with 200"
By default Status widget pings `https://<host>`. Consider changing this to `https://<host>/<backend_prefix>`. (Append API backends prefix to the URL)

[2016-08-12 12:50] brylie commented on #1020
I'm having trouble checking the user permission from within the `Router.onBeforeAction`. Basically, the API Backend object is not available before the template renders, so we cannot simply call `apiBackend.currentUserCanView()`. When trying to call a server method from within the onBeforeAction, I am getting errors, basically since the method is async.

We may need to wait on the migration to Flow

[2016-08-12 13:14] bajiat opened #1387 "Usage scenarios or usage instructions to Api details page"
Include simple usage instructions or common usage instructions to API details page. These instructions should contain a possibility to copy at least user's API key (if an API key is available and if a proxy has been selected to this particular API)

# User story

I want to be able to quickly find out how to use the API I'm interested in through APInf
so that I do not have to find the information f

[2016-08-12 14:28] philippeluickx commented on #1349
Ok, right. So you basically mean that if we want to implement using Headers instead of parameters, this is pretty standard behaviour?

[2016-08-12 14:32] frenchbread commented on #1349
@philippeluickx Yep.

[2016-08-13 08:05] Nazarah commented on #1379
@bajiat : need wireframe for this?

[2016-08-15 06:54] jykae opened #1388 "Plan & test MongoDB database migration from 2.x to 3.x"
Meteor upgrade brought upgrade to MongoDB for new database engine. See MongoDB documentation for migration steps.

"Your development database is using mmapv1, the old, pre-MongoDB 3.0 database engine. You should consider upgrading to Wired Tiger, the new engine. The easiest way to do so in
development is to run meteor reset. If you'd like to migrate your database, please consult https://docs.mongo

[2016-08-15 07:06] Nazarah opened #1389 "wireframe for Allowing API consumer to download client code"
#1225
#1376

[2016-08-15 07:07] Nazarah opened #1390 "Wireframe for Separating API details editing from editing proxy settings"
#1207

[2016-08-15 07:08] Nazarah opened #1391 "wireframe for Updating single API view / proxy settings"
#1380

[2016-08-15 07:09] Nazarah opened #1392 "wireframe for updating dashboard"
#1382

[2016-08-15 07:17] Nazarah opened #1393 "Wireframe for API Proxy Add & Edit UI"
#1383

[2016-08-15 07:36] Nazarah commented on #1383
Need to learn what is already included before I start wireframing this.

[2016-08-15 07:50] bajiat opened #1394 "If no proxy selected for platform, dashboard should not be available"
If the admin does not add/define any proxy to the platform, the link to the dashboard should not be available as it would be confusing to the users, since it is not possible to have meaningful content in dashboard without the proxy. So the entire page (route) and link should be made conditionally available.

# Definition of done
* [x] User can see link to dashboard only if there is at least one pr

[2016-08-15 08:07] jykae commented on #1375
Option 1: General mongodb-migrations framework, not only for Meteor platform. https://www.npmjs.com/package/mongodb-migrations

[2016-08-15 08:14] Nazarah commented on #1225
@marla-singer : hey! lets discuss in rocket chat about integrating the test UI in the APINF. I need your opinion while designing the wireframe. :)

[2016-08-15 08:28] jykae commented on #1379
Discussed with @brylie about deprecating wizard and using simple form approach.

Base for the form will be new API Backend schema.
Fields for API backend schema:
- name
- description
- base URL for API
- isPublic checkbox

[2016-08-15 09:38] jykae commented on #1200
Depends on #1379

Discussed with @brylie that we will deprecate autoform-wizard package and use simple autoform for adding API. Number of fields (4 fields) without proxy related fields will be ok for one page form.

[2016-08-15 09:44] jykae commented on #1200
@bajiat @brylie I assume it is "API base URL" that should be unique? Do we want to support versioning of API?
For example: api.test.com/v1/ and api.test.com/v2/ Can I add those as one API or do I need to add version 2 as a separate API?

[2016-08-15 11:52] bajiat opened #1395 "Charts not available in deployments created with single Docker image"
Dashboard does not get any data in nightly2 and in customer deployment.

Upstream issue opened to NREL: https://github.com/NREL/api-umbrella/issues/284

Task is blocked until the upstream issue is fixed

[2016-08-15 13:17] brylie commented on #1091
After initial discussion, we agreed to rename the `ApiBackends` collection to `Apis`, and set up the following schema:

[code]

[2016-08-15 13:18] brylie commented on #1233
After discussion, we decided to name the Proxy APIs collection `ProxyApis`. We are not clear on how the schema will be structured, but have some initial thoughts:

[code]

[2016-08-15 13:21] brylie commented on #1200
The `frontend_prefix` is the field that needs to be unique. This is because Proxy API Backends that share frontend prefixes will 'collide' with one another.

[2016-08-15 13:32] bajiat opened #1396 "Manual testing: single API backend view"
Continue explorative manual testing particularly for the single API view. Document the test cases, if not already documented. (Update if necessary.) Report any findings as issues giving steps to reproduce, expected outcome and actual outcome and stating the testing environment like OS, browser and the browser version.

# Definition of done
* [x] Bookmark an API from single API view
* [x] Add and A

[2016-08-15 14:11] philippeluickx commented on #1375
@jykae Is there any reason not to take the meteor standard package?

[2016-08-15 14:24] jykae commented on #1375
@philippeluickx well, I understood that Meteor is not providing maintained package. They let community to maintain a solution, https://github.com/percolatestudio/meteor-migrations <-- Checkout the beginning of README.
I think taking general use migration tool is more likely to stand the test of time. Meteor itself is moving to npm just because Node.js/NPM is larger community.

[2016-08-15 14:28] jykae commented on #1375
Basically, they are probably trying the same Django was doing years, before they got lots of feedback about missing migration solution & noticed that they must provide maintained solution for that. With this I mean moving from South to Django migrations in 1.7

[2016-08-15 15:03] #1020 closed

[2016-08-16 06:02] Nazarah commented on #1354
Adding this to block for the time being as Multi Proxy is now of higher priority

[2016-08-16 07:52] philippeluickx commented on #1375
@jykae  Good arguments, thanks for sharing. I am ok with mongodb-migrations.

[2016-08-16 09:07] frenchbread commented on #1378
@brylie Could you post the initial Proxies schema?

[2016-08-16 09:08] bajiat commented on #1378
@frenchbread

# Proxies
- _id
- name
- description ?
- type (allowed values: 'api-umbrella', 'kong', 'tyk')
- settings
  - url
  - apiKey
  - authToken
    - custom validation: required if `type` === 'api-umbrella'
  - elastic
    - custom validation: required if `type` === 'api-umbrella'

[2016-08-16 10:57] brylie opened #1400 "Add username to Api URLs, to namespace frontend prefixes"
In order to allow the re-use of some frontend prefixes, e.g. `/maps/`, we can add the username in front of the frontend prefix.

The resulting route on the Proxy would be something like:

[code]

We could also update the Apinf URL structure, to remove the API ID and rather use the frontend prefix:

[code]

This might mean including the 'frontend_prefix' or 'url slug' in the Apis collection.

[2016-08-16 10:58] philippeluickx commented on #1391
Based on a discussion we just had with @brylie and @frenchbread
When selecting a proxy in the wizard, we need to inform the user of the impact of the choice.
E.g. if selecting "None" (so no proxy), there will be only catalog functionality, not analytics, security,...
If selecting "API Umbrella" we have more functionality.
If selecting "Tyk" it might be something else again.

Obviously we do not ha

[2016-08-16 11:07] brylie commented on #1391
One clarification, we are removing the Proxy settings from the *Add API* form. This wireframe task is related to the 'Proxy' tab on the *Single API* view.

[2016-08-16 13:54] philippeluickx opened #1401 "Version updates of open source components"
After the latest Swagger-UI update, some Swagger files for a client implementation broke.
We need to make sure that all OS components we use are working nicely together. We should test with real-life test data.

Might also be a good idea to analyze and include changelogs from these components in our releases of apinf, e.g. https://github.com/swagger-api/swagger-ui/releases

[2016-08-16 14:52] shaliko commented on #1371
@bajiat How should works "Clicking on VALID button"? Now after fix issue with mixed content and click on VALID button, browser open tab and show me just empty JSON response

![https___online_swagger_io_validator_debug_url_https___nightly2_apinf_io_gridfs_documentationfiles_id_ffd6e2260163999d5f5f45a6](https://cloud.githubusercontent.com/assets/36139/17703403/409b9342-63da-11e6-819d-ba29e3b3235c.jp

[2016-08-17 08:15] jykae commented on #1091
I think we need also these:
[code]

[2016-08-17 08:18] frenchbread commented on #1383
@Nazarah we had an idea to place the `add proxy` modal window on the `/settings` page.

[2016-08-17 08:37] brylie commented on #1091
Jep, [those fields are in the work-in-progress branch](https://github.com/apinf/api-umbrella-dashboard/blob/feature/simplify-api-backends-collection/apis/collection/schema.js#L24-L32).

[2016-08-17 08:45] brylie commented on #1340
Based on the above benchmark, it takes around five seconds to fetch 50,000 records to the server from Elastic. This means that any server aggregation function would have to wait for Elastic data to load, and that wait time can quickly exceed the five second target 'dashboard render time'.

We can probably pre-fetch the analytics data, as has been tried in a previous experiment, and store it, for e

[2016-08-17 08:49] brylie opened #1402 "Consider how to secure API Umbrella elasticsearch from anonymous access"
By default, the API Umbrella Elastic server is publicly accessible. This means that anyone with the proper knowledge may be able to access complete analytics records for API Umbrella. Consider how to secure the API Umbrella Elastic server as part of our packaging and/or upstream.
# Related
- [Issue on API Umbrella issue queue](https://github.com/NREL/api-umbrella/issues/287)

[2016-08-17 08:50] brylie commented on #1340
@philippeluickx and @frenchbread, I opened an [issue related to the API Umbrella Elasticsearch server being publicly accessible](https://github.com/apinf/api-umbrella-dashboard/issues/1402).

[2016-08-17 08:58] brylie commented on #1375
@jykae great work! Lets see what we can do with mongodb-migrations.

[2016-08-17 09:25] brylie opened #1403 "API Documentation modal closes when submitting invalid URL"
When editing the documentation for a given API, the modal dialogue can be closed when the URL is invalid. The autoform/schema will reject the invalid URL, so the change does not get saved to the database. This creates an inconsistent experience for the user, since they do not see the validation error and are left to scratch their head.

[2016-08-17 09:27] brylie opened #1404 "Dismiss API Feedback modal on successful submission"
When a person fills in the API Feedback form, the modal dialogue stays visible even when successful. Dismiss the modal on successful submit, and show a toaster message to indicating success (as well as the fact that their feedback is now visible).

[2016-08-17 12:04] brylie commented on #1091
As part of this task, I have been removing a bit of code related to the following components:
- API Umbrella
- Add API wizard
- Initial setup wizard

We can re-introduce API Umbrella code at a later point, but both of the wizards were deemed unnecessary for the time being (after discussions at standup and with @bajiat). As such, I am designing a modal dialogue to inform admin users when either the

[2016-08-17 12:26] jykae commented on #1388
Mongodump & restore with Docker, https://blog.studiointeract.com/mongodump-and-mongorestore-for-mongodb-in-a-docker-container-8ad0eb747c62#.vtvgxojzb

[2016-08-17 13:38] jykae commented on #1388
Successful procedure on my local virtualbox production environment.

[2016-08-17 14:09] jykae commented on #1388
Verify engine in mongo shell:
[code]

[2016-08-18 06:42] Nazarah opened #1405 "Make sure buttons have 15px padding top,bottom,left, right around the button text. Also remove redundant icon from button"

[2016-08-18 07:37] brylie commented on #1379
We decided to deprecate the Add API Wizard, since we are simplifying the basic API fields.

@jykae would you be interested in improving the Add API form after we have merged these initial changes?

[2016-08-18 07:37] Nazarah commented on #1376
Wireframes Added

[2016-08-18 07:45] Nazarah commented on #1376
On hovering the SDK Generator button, tooltip should show the following message:
"With a valid swagger file, you can download an SDK of your preferred language using this wizard."
alternatively, this can be shown inside the dialogue with an info icon

[2016-08-18 08:28] brylie commented on #1340
@frenchbread , when passing the interval, do the results contain fields such as 'response time' and 'response code'?

For reference in this discussion, the [API Umbrella analytics REST API](http://api-umbrella.readthedocs.io/en/latest/admin/api.html) allows us to pass in several arguments:

- prefix (frontend prefix?)
- timeframe
  - start_at
  - end_at
  - interval (used to bin results by day, mo

[2016-08-18 08:30] #1389 closed

[2016-08-18 08:35] shaliko commented on #1376
@bajiat "if a valid Swagger file has been updated for an API" can you clarify that part of task.

1) Should we show "SDK generator" button ONLY if file was uploaded.
2) Or we need send uploaded file to "https://online.swagger.io/validator/debug?url=https://nightly2.apinf.io/gridfs/DocumentationFiles/...." and allow generate SDK only if file valid.

It looks like we need go with option #1, but add

[2016-08-18 09:24] bajiat commented on #1375
@jykae Thanks for the research. I will close this issue and let's discuss concrete steps to take the mongodb-migrations into use,

[2016-08-18 09:55] brylie commented on #1390
@Nazarah here are the API Umbrella proxy settings, which we are removing for the time being and will add them back under the Proxy tab of the Single API view:

![screen shot 2016-08-18 at 12 53 08](https://cloud.githubusercontent.com/assets/17307/17769785/0686ab46-6543-11e6-8a21-6bc328d7edc5.png)

[2016-08-18 10:01] brylie commented on #1391
Here is the current Proxy Settings modal and page, for reference:

![screen shot 2016-08-18 at 13 01 10](https://cloud.githubusercontent.com/assets/17307/17769959/ebcffff4-6543-11e6-8517-8048289a2aad.png)

![screen shot 2016-08-18 at 13 00 04](https://cloud.githubusercontent.com/assets/17307/17769932/cfa814f6-6543-11e6-9109-301d6e9a4d62.png)

[2016-08-18 11:20] bajiat opened #1406 "Test database migration with percolate:migrations"
Test the percolate:migrations npm package by migrating Apinf database to add the isPublic field to all the documents where it does not exists with default value true.

# Definition of done
* [x] Migration code exists.
* [x] Migration package has been added to project.
* [x] Migration has been tested locally.
* [ ] Migration has been tested with nightly or nightly2 (This step will be discussed afte

[2016-08-18 12:20] brylie opened #1407 "Restructure project files for consistency"
Our project files are halfway to being organized by component. While we are in the process of decoupling from API Umbrella, we can try to finish organizing the project structure, so that it is mostly consistent as a component architecture.

[2016-08-18 13:37] jykae commented on #1375
@bajiat reopening because had troubles get mongodb-migrations working, percolate:migrations might still be best bet for migrations. And selecting package is not yet strategy imho.

[2016-08-18 13:52] jykae commented on #1388
nightly.apinf.io upgraded to 3.2.6 and using wiredTiger

[2016-08-18 14:58] frenchbread commented on #1340
Results only contain grouped timestamps and host/ipaddr values where request came from.
Probably we can request data using custom aggregation, but I am not sure (have not tried it). Here is reference for filtering by API Backend (via request path) - https://github.com/NREL/api-umbrella/issues/275

Another approach would be filtering by `status_code` manually, e.g. aggregating by each status code s

[2016-08-19 07:38] Nazarah commented on #1207
@brylie : Wireframe added. Please review and give your feedback

[2016-08-19 07:38] #1390 closed

[2016-08-19 07:38] #1353 closed

[2016-08-19 07:39] Nazarah commented on #1353
Duplicate to Issue #1390

[2016-08-19 07:43] bajiat opened #1409 "Nightly2: Documentation viewer showing link to Petstore Swagger instead of proper Swagger file"
Steps to reproduce:
1. Log in to nightly2
2. Go to Catalog and select e.g. PTV Open Api  (or any API for which a Swagger file has been added prior to the newest deployment)
3. Open Documentation tab

Expected result:
The previously uploaded Swagger file is displayed in Swagger UI

Actual outcome:
Empty Swagger UI with link to Petstore is displayed

![swagger ui bug](https://cloud.githubusercontent

[2016-08-19 07:47] bajiat commented on #1409
@brylie Can you provide further information about what you found out concerning the DocumentationID?

[2016-08-19 07:53] brylie commented on #1409
The API Backend document contains a `documentationFileId` field, with a valid value:

![screenshot from 2016-08-19 10-49-09](https://cloud.githubusercontent.com/assets/17307/17802782/edb678a4-65fa-11e6-9a29-63e0d1a13838.png)

However, the DocumentationFile does not appear in the client-side collection. This could be due to reasons such as:

- an error in the DocumentationFile publication/subscript

[2016-08-19 07:53] bajiat commented on #1375
@jykae I'm fine with reopening. Please investigate to come up with the best option for database migration.

[2016-08-19 07:57] brylie commented on #1409
One thing that may be related is that we switched how we handle file IDs recently. I do not remember the exact details, but it involved using the file MD5 in the route/ID. @nnn can you verify what changed with the DocumentationFiles IDs?

[2016-08-19 08:21] brylie commented on #1340
The second approach, filtering by status code and then aggregating on the server, might still leave us with slow chart loading times. E.g. there could easily be a scenario where a server has 50,000+ requests that have 2xx status codes, which would take >5 seconds to transfer to Apinf for the aggregation step.

It seems likely that we will rely on Elasticsearch directly to perform the aggregations,

[2016-08-19 09:08] jykae commented on #1388
Reopened for need to test also deployments with new docker-compose based setup

[2016-08-19 09:10] marla-singer commented on #1376
@bajiat The task is almost ready, I have some questions:

1. **Localization**: Now form **Generate SDK form JSON file** has few english phrases like title of buttons, title of form and message of tooltip. Can you write translate to Finnish language for this:

- "With a valid swagger file, you can download an SDK of your preferred language using this wizard"
- "Select language"
- "Download"
- "Gene

[2016-08-19 09:12] marla-singer commented on #1376
@bajiat
2. **List of languages.** Swagger editor has two section: Generate Server and Generate Client. I took languages form Generate Сlient. I think it doesn't need server languages, right?

[2016-08-19 09:17] brylie commented on #1376
It seems like Generate Client is our current focus. We can look at Generate Server as a separate task.

[2016-08-19 09:46] bajiat commented on #1376
@shaliko Option 1: if a Swagger file was uploaded

@marla-singer
* You do not need the Finnish translations for UI texts. Instead you should use an i18n token for each UI text in your code, which makes it possible for us to extract all UI texts to a localisation environment.
* Confirming what @brylie said: Generate Client is the correct one, since the SDK generator task is about creating SDK's for

[2016-08-19 09:50] brylie commented on #1376
The i18n token should take the form of:

[code]

[2016-08-19 09:57] bajiat opened #1410 "Upgrade Docker image to install Mongo DB v. 3.2.6"
Meteor 1.4 upgrade brought upgrade to MongoDB for new database engine version 3.2.6. Update Docker image to install the new database engine version.

[2016-08-19 10:33] Nazarah commented on #1383
Wireframes added.
Added a message notifying users about the consequence of adding/not adding an API proxy.
Please review and give feedback

[2016-08-19 10:35] jykae commented on #1375
I propose we take percolate:migrations back. It's easy to use and works also for Meteor 1.4. Example migration for adding isPublic field if it's missing, https://github.com/apinf/api-umbrella-dashboard/pull/1411

Strategy requires also a mutual decision of process how we handle writing of required migration function when a new feature requires it. It should not be one person fight, who manages the

[2016-08-19 10:38] #1393 closed

[2016-08-19 10:39] bajiat commented on #1371
@shaliko Tested this by adding a new Swagger and I get the same response. Should be ok. Closing the issue.

[2016-08-19 10:40] #1371 closed

[2016-08-19 10:43] Nazarah commented on #1380
Wireframes are part of issue #1383

[2016-08-19 10:45] Nazarah commented on #1391
added as part of the task #1391

[2016-08-19 10:45] jykae commented on #1406
Migration code for percolate:migration, https://github.com/apinf/api-umbrella-dashboard/pull/1411
Adds & sets field "isPublic" to true for all apiBackends  where it is undefined.

[2016-08-19 10:46] #1369 closed

[2016-08-19 10:46] Nazarah commented on #1391
added as part of the task #1393

[2016-08-19 10:46] #1391 closed

[2016-08-19 10:53] bajiat commented on #1409
@brylie Would that mean that the only way to fix this in nightly is to upload each of the Swagger files again in nightly2 (and also in nightly)?

[2016-08-19 11:08] bajiat commented on #1383
@Nazarah The message is a good idea, but since it is administrators who adds the proxy settings to the platform (while API owners only select a proxy for their own API in API profile), I would like to suggest some changes to the wording:
"With no proxy defined, you will only have access to the Catalog feature. Defining a proxy will give you access to proxy features for APIs and to Analytics."

[2016-08-19 11:14] brylie commented on #1409
@bajiat re-uploading the files would be a simple solution. I am not sure how we would otherwise fix the ID documentationFileId field mismatch.

[2016-08-19 12:04] brylie opened #1412 "Settings are accessible to anonymous users"
Our Settings are published to the client, even for anonymous users, and include the following fields:

- apiUmbrella
  - authToken
  - apiKey
  - baseUrl
- elasticsearch url

These settings can be abused, so should be handled more carefully.

# Steps to reproduce
1. visit the home page as an anonymous user
2. open the browser console
3. search the Settings collection for a single document

[2016-08-19 12:06] brylie opened #1413 "Settings collection is insecure (insert and update)"
The Settings collection needs security rules, specifically for the following methods:

- insert
- update

[2016-08-19 12:06] brylie opened #1414 "ApiBacklogItems collection security"
The ApiBacklogItems collection needs security rules, specifically for the following methods:
- insert
- update
- remove

[2016-08-19 12:07] brylie opened #1415 "FeedbackVotes collection security"
The FeedbackVotes collection needs security rules, specifically for the following methods:

- insert
- update
- remove

[2016-08-19 12:08] brylie opened #1416 "Feedback collection security"
The Feedback collection needs security rules, specifically for the following method:
- insert

Double check all collection security rules, to make sure only authorized users can perform database operations.

[2016-08-19 12:08] Alapan commented on #965
@brylie @bajiat I had started working on this issue a while ago. If it is still relevant, I had a question related to the texts listed here: https://github.com/apinf/api-umbrella-dashboard/wiki/Unlocalised-UI-texts. Some of these strings appear to be in non-UI files. Do only strings present in client folders/files have to be tagged?

[2016-08-19 12:09] brylie opened #1417 "DocumentationFiles collection security"
The DocumentationFiles collection needs security rules, specifically for the following method:

- insert
- remove

Double check all collection security rules, to make sure only authorized users can perform database operations.

[2016-08-19 12:11] brylie commented on #965
Any string that appears to an end-user should be internationalized. Some strings are generated in JavaScript files, so use the `TAPI18n.__("stringKey");` method. Is that what you are asking?

[2016-08-19 12:13] brylie opened #1418 "Users collection security"
The Users collection needs security rules, specifically for the following method:
- update

Double check all collection security rules, to make sure only authorized users can perform database operations.

[2016-08-19 12:14] brylie opened #1419 "ApiMetadata collection security"
The ApiMetadata collection needs security rules, specifically for the following method:
- insert
- update

Double check all collection security rules, to make sure only authorized users can perform database operations.

[2016-08-19 12:14] brylie opened #1420 "ApiFlags collection security"
The ApiFlags collection needs security rules, specifically for the following method:
- insert
- update
- remove

Double check all collection security rules, to make sure only authorized users can perform database operations.

Remove this collection, if it is no longer useful.

[2016-08-19 12:15] brylie opened #1421 "FeedbackAnswers collection security"
The FeedbackAnswers collection needs security rules, specifically for the following method:
- insert

Double check all collection security rules, to make sure only authorized users can perform database operations.

Remove this collection, if it is no longer useful.

[2016-08-19 12:15] brylie opened #1422 "ApiLogos.files collection security"
The ApiLogos collection needs security rules, specifically for the following method:
- insert
- remove

# Task
Double check all collection security rules, to make sure only authorized users can perform database operations:
- Administrators  can add/edit and delete any API logo.
- API owner(s)  can add/edit and delete the logo for their own API(s)

[2016-08-19 12:16] brylie opened #1423 "Apis collection security"
The Apis collection needs security rules, specifically for the following method:
- insert
- update
- remove

Double check all collection security rules, to make sure only authorized users can perform database operations.

Remove this collection, if it is no longer useful.

[2016-08-19 12:16] brylie opened #1424 "Branding collection security"
The Branding collection needs security rules, specifically for the following method:
- update
- remove

Double check all collection security rules, to make sure only authorized users can perform database operations.

Remove this collection, if it is no longer useful.

[2016-08-19 12:17] brylie opened #1425 "ApiBackendRatings collection security"
The ApiBackendRatings collection needs security rules, specifically for the following method:

- insert
- update

Double check all collection security rules, to make sure only authorized users can perform database operations.

Remove this collection, if it is no longer useful.

[2016-08-19 12:18] brylie opened #1426 "ProjectLogo.files collection security"
The ProjectLogo.files collection needs security rules, specifically for the following method:
- insert
- remove

Double check all collection security rules, to make sure only authorized users can perform database operations.

Remove this collection, if it is no longer useful.

[2016-08-22 06:32] saralavanip opened #1428 "Click on 'Copy API Key' in 'Profile' view displays successful dialog twice"
Steps:

1.Visit https://nightly2.apinf.io
2.Sign in as API owner
3.Go to Profile view
4.Click on 'Copy API Key' button

Expected Result: API Key is copied to clipboard and displays a successful dialog
Actual Result: Successful in copying API key to clipboard and displays successful dialog twice

Operating system: Ubuntu 16.04 LTS
Browser: Mozilla Firefox 48.0

Screenshot:
![copy_api_key_succesful_

[2016-08-22 06:49] brylie commented on #1401
As reference, the Swagger UI upgrade task is here:

https://github.com/apinf/api-umbrella-dashboard/issues/1363

[2016-08-22 06:53] brylie commented on #1401
One other thing to note, it may not have been the Swagger UI upgrade that caused the bug. Rather, we had changed our swagger file routing pattern, which was bundled with our 0.2.28 release. See bug report #1409 for a description of the routing changes.

- https://github.com/apinf/api-umbrella-dashboard/releases/tag/0.2.28
- https://github.com/apinf/api-umbrella-dashboard/issues/1409

[2016-08-22 07:25] brylie commented on #622
@nnn and @jykae did you test that the 'disable API Key check' setting is published to API Umbrella when submitting the form? Ping @saralavanip for testing purposes.

[2016-08-22 07:33] saralavanip commented on #622
Tested on nightly2.apinf.io and this is reproducible. Setting API key as optional and call API shows API_key_Missing

Screenshot:
![disabled_api_key](https://cloud.githubusercontent.com/assets/13309358/17846887/c472500c-6853-11e6-91a0-74dac485455d.png)

[2016-08-22 07:37] brylie commented on #622
@saralavanip please provide us with steps to reproduce, so we can look at this issue again.

[2016-08-22 08:01] saralavanip commented on #622
@brylie , please find the steps to reproduce added to the previous comment.

[2016-08-22 08:25] preriasusi opened #1430 "Api_key can not be inputted in Swagger ui after 2.1.5 update"
After Swagger upgrade #1363 field to input api_key is missing.

Change in file 'public/swagger/index.html' -  'addApiKeyAuthorization();' method was removed, with the field to input the api_key.

Open questions:

Why api_key related stuff was removed from file ''public/swagger/index.html' '?

How to input api_key currently? Does it maybe require some changes for Swagger file?

[2016-08-22 08:36] brylie commented on #622
Thanks @saralavanip

[2016-08-22 09:28] bajiat commented on #1388
@jykae Should I co-assign @shaliko to this task?

[2016-08-22 09:33] saralavanip commented on #1396
Reported and updated issues:
https://github.com/apinf/api-umbrella-dashboard/issues/1428
https://github.com/apinf/api-umbrella-dashboard/issues/622

[2016-08-22 09:33] shaliko commented on #1388
@bajiat @jykae I already tested migrate on version 3.2.9, but not tested migrate on wiredTiger engine https://github.com/apinf/api-umbrella-dashboard/compare/update-mongo-version?expand=1

[2016-08-22 09:35] shaliko commented on #1388
I suspect for migrate existing data on wiredTiger, we need do dump data and after upgrade import that dump - need free time for check it.

[2016-08-22 10:56] bajiat commented on #1395
@shaliko Can you give me an update about this task?

[2016-08-22 11:01] shaliko commented on #1395
Waiting answer from Nick https://github.com/NREL/api-umbrella/issues/284. Issue in Docker image for api-umbrella https://hub.docker.com/r/nrel/api-umbrella/tags/. For me it looks like ElasticSerach index broken and for fix it we need drop it (after that it starts work).

I enabled debug level for ElasticSearch and Ngix logs, added debug code to Lua scripts but not found the root case.

[2016-08-22 11:18] bajiat commented on #622
@jykae Could you check whether you can reproduce the error (see Sarala's comment above) and whether the value gets properly stored in Api Umbrella?

[2016-08-23 05:41] jykae commented on #1388
@shaliko yep, right. Meteor bundles MongoDB 3.2.6 for development, would it be good to keep it same as on dev?
I noticed on upgrade that MongoDB is smart enough to check from files what engine is used and without removing database folder completely, it continues using mmapv1 engine. I could share shell scripts for backup & restore for you, that needed some research how to do that when Mongo is ins

[2016-08-23 07:10] jykae commented on #1233
For future reference Kong API object schema: https://getkong.org/docs/0.9.x/admin-api/ Look section "API object" fields we need for Kong API schema.

[2016-08-23 07:35] brylie commented on #1233
@frenchbread right now we need to remove references to Kong/Tyk from the code and user interface. The form can keep the dynamic functionality, but should only allow the user to select API Umbrella. Default the selection to API Umbrella, if possible.

[2016-08-23 07:38] bajiat opened #1433 "Add a setting for SDK generator"
Add a setting for SDK generator in platform settings (Settings view, settings collection).

# User story

so that I can allow API consumers to download SDK's
whenever APIs added to Apinf have a Swagger file.

# Definition of done
* [ ] Settings collection contains a setting for SDK generator.
* [ ] Settings view contains a setting for SDK generator.
* [ ] An Apinf administrator can give the locati

[2016-08-23 07:47] bajiat commented on #1433
@marla-singer @shaliko Here is the next task for Dasha. I will still check the Definition of done and description with @brylie.

[2016-08-23 07:50] shaliko commented on #1433
@bajiat Thanks!

[2016-08-23 08:39] brylie opened #1434 "Add Apinf release version number to user interface"
In order for administrators to manage their Apinf deployment, we can add a version number to the user interface. This will help them know when to upgrade, for instance.

[2016-08-23 08:54] jykae commented on #1375
percolate:migrations selected for migrations tool. For upcoming bigger migration separate task for tracing how to migrate data & writing migration(s). Left to decide if it's easier to put it 2-3 migration steps or just one heavier. Amount of data is not large in our existing installations.
As for migration strategy after multi-proxy changes, decided that it's good to take writing migration functio

[2016-08-23 08:57] philippeluickx commented on #1375
We do need to keep an eye on the percolate:migrations package, in terms of maintenance. Currently there is 1 person who proposed to take ownership, but that might change. We also discussed we can always contribute to the package if needed.

[2016-08-23 09:12] philippeluickx commented on #1387
Concretely, some information about development.
I am using Android as an example here, with Retrofit the de-facto REST library - https://github.com/square/retrofit

[code]

The relevant places are

**The base url**
[code]

**The api-key parameter added to every request**
[code]

**The actual call to an endpoint, as defined in Swagger**
[code]

As an Android developer, the first 2 items is what I n

[2016-08-23 09:19] jykae commented on #1388
As discussed on the daily, this task can be considered done on my side. @bajiat said that @shaliko will have task for upgrading MongoDB on nightly2, backup/restore scripts shared. I am available for consultancy though if any questions.

[2016-08-23 10:20] shaliko commented on #1388
@jykae I used 3.2.9 because official docker images dose not have 3.2.6 https://hub.docker.com/r/library/mongo/tags/

[2016-08-23 10:25] bajiat commented on #1388
The related task for Docker assigned to @shaliko is #1410.

[2016-08-23 10:46] #1278 closed

[2016-08-23 10:46] #1279 closed

[2016-08-23 10:46] #1280 closed

[2016-08-23 11:13] frenchbread commented on #1233
@brylie How can we implement this? I was able to set the default selection (apiUmbrella) for the selectbox, but it did not force autoform automatically render APIUmbrella schema.

[2016-08-23 11:16] brylie commented on #1233
Hm, it seems harder than I thought. How did you set the 'type' field value? Did you do it via the schema?

[2016-08-23 11:16] brylie commented on #1233
Lets ask @bajiat for input here.

[2016-08-23 11:40] brylie commented on #1233
Comments from chat:

- remove the API Umbrella settings from the initial setup wizard. I am in the process of removing the initial setup wizard in another branch, if you want to mirror the changes
- For now, perhaps remove the dynamic toggle. Rather, just include the `apiUmbrella.settings` field and sub-fields directly in the AutoForm.
- Hide the 'type' field from view, and default the value to `a

[2016-08-23 11:41] philippeluickx opened #1435 "Automated code review"
Just stumbled across https://codeclimate.com/
It is free for open source projects. We could give it a try, see if it is worth using?

[2016-08-23 11:48] jykae commented on #622
@bajiat The schemas related to this are now having changes for multi-proxy support. I propose taking this on tasklist after the base elements for new architecture has been done.

[2016-08-23 11:59] jykae commented on #1388
@shaliko ok, that's patch level version so that might be ok. I wonder how I then was able to pull with tag 3.2.6 for nightly ?
[code]

[2016-08-23 12:00] jykae commented on #1388
I am closing this.

[2016-08-23 12:00] #1388 closed

[2016-08-23 12:08] jykae commented on #1406
@bajiat I propose we close this + PR as it's basically going to change place anyway schemas change. It's was just showcase with simple example.

[2016-08-23 12:13] jykae commented on #1375
@philippeluickx True, I agree, but with knowledge that we currently have I think percolate:migrations is our best option.

[2016-08-23 12:16] #1091 closed

[2016-08-23 12:16] #1379 closed

[2016-08-23 12:34] jykae opened #1436 "Multi-proxy data migration"
* [x] listing the database changes: collections and fields
* [x] design migration(s) to switch to multi-proxy schemas
* [x] dry run & test well locally
  - take DB dump from server that has old release to be able to run several times

Meteor DB backup/restore: http://stackoverflow.com/questions/16816860/meteor-how-can-i-backup-my-mongo-database

Official MongoDB driver API (Node.js): http://mongod

[2016-08-23 12:39] jykae commented on #1375
Issue #1436 opened for multiproxy migration, to be done, when schema fields are all designed. I assigned myself. Closing this. I think we have all decisions here now.

[2016-08-23 12:39] #1375 closed

[2016-08-23 13:30] shaliko commented on #1388
That is funny, missed on Docker hub, but I reproduced that we can download that image

[code]

[2016-08-23 13:48] philippeluickx commented on #1436
Did we agree on providing a data migration? The other option was to document breaking changes and provide a data migration path AFTER we implemented multi-proxy.

[2016-08-24 07:59] #1356 closed

[2016-08-24 13:05] bajiat commented on #1235
@jykae Any update on the progress? Can the issue be moved to In progress column?

[2016-08-24 19:18] shaliko commented on #1125
related to https://github.com/NREL/api-umbrella/issues/286

[2016-08-25 06:31] brylie commented on #920
@bajiat this would still be useful for integration purposes. It might mean that we could deprecate our Meteor Swagger package in favor of using a generic [Swagger API integration library](https://github.com/swagger-api/swagger-js).

[2016-08-25 06:33] brylie commented on #920
Adding multi-proxy tag, since this is related to the API Umbrella integration.

[2016-08-25 07:59] bajiat commented on #1394
@frenchbread Did you already work on this? Do we need any further work on the issue?

[2016-08-25 08:14] #1410 closed

[2016-08-25 08:23] bajiat commented on #920
@shaliko This is a task that would be immediately useful for us and probably requires looking at Api Umbrella source code. Could you look into this? If you wan more details, we can have a meeting or we can use chat to discuss. @brylie would be able to explain in more detail.

[2016-08-25 08:30] preriasusi opened #1441 "Swagger authentication fails"
https://nightly2.apinf.io/api/GAEtqKnGe6JvEWJ43

Go to API Ernit Thursday 2 in nightly2. Open documentation tab.

Click autheticate. input your API key and perss authentigate.

Documentation disappears, and the text "fetching resource list: https://nightly2.apinf.io/gridfs/DocumentationFiles/id/88762abedccd0f38b5b62759; Please wait." remains forever.

![screen shot 2016-08-25 at 11 30 09](https://

[2016-08-25 09:36] shaliko commented on #920
@bajiat @brylie OK, will be good have a meeting.

[2016-08-25 10:10] frenchbread commented on #1394
@bajiat No, I did not. I think in this task it could be either placeholder on dashboard page, saying 'no source analytics found' or just redirect to catalog page (or settings page)

[2016-08-25 10:47] bajiat commented on #1207
@nazarah This task should contain the wireframe for API settings (like logo etc.) not proxy backend settings for that API.

[2016-08-25 10:54] bajiat commented on #1380
@Nazarah The wireframe above is for Proxy settings (= setting for entire platform). You will need to create a wireframe for proxy backend settings for API profile view. It is possible that this task will be combined with #1233. Note that you should start with he mandatory settings only.

[2016-08-25 11:24] bajiat commented on #1233
Note: Discussion in this issue is related to Proxy settings (adding a proxy to the deployment/platform) and not backend settings, but the issue itself is about connecting a single API to a proxy.

[2016-08-25 11:25] bajiat commented on #1380
Combining the UI work with #1233 and closing this issue.

[2016-08-25 11:27] bajiat commented on #1207
Already completed in task #1091.

[2016-08-25 12:24] #1235 closed

[2016-08-25 12:30] bajiat commented on #1406
Ok to close.

[2016-08-25 12:45] #1406 closed

[2016-08-25 13:14] jykae commented on #1441
@preriasusi I take a look at this tomorrow

[2016-08-25 13:31] jykae commented on #1441
@preriasusi Got header added to request, small fix.
[code]
Name is the exact header variable name, and cannot have whitespace. Now it goes through, and header goes with request.
![nayttokuva 2016-08-25 kello 16 27 45](https://cloud.githubusercontent.com/assets/293452/17970923/3577b622-6ae1-11e6-8d48-86ded20a234f.png)

[2016-08-25 14:12] jykae commented on #1441
By default API Umbrella expects api_key in query params, it can be set there by changing "in: header" -> "in: query". After that I got query pass Umbrella, but then I need to authorize to Ernit API.

[2016-08-25 14:29] bajiat commented on #1183
Also: https://smartbear.com/learn/performance-monitoring/what-is-api-monitoring/

[2016-08-25 15:15] preriasusi commented on #1441
@jykae If you try the adult login API, it does not require login from Ernit. That API is "open".

[2016-08-26 06:38] #1378 closed

[2016-08-26 09:36] jykae commented on #1441
@preriasusi: Tried with nightly.apinf.io that uses nightly.umbrella.apinf.io instance Created API and setup everything by myself. Got query through for real now.

<img width="962" alt="nayttokuva 2016-08-26 kello 12 18 54" src="https://cloud.githubusercontent.com/assets/293452/18000971/616d98ca-6b89-11e6-9c1b-e2851854a261.png">

Above is expected Ernit unauthorized response. Just need to figure ou

[2016-08-26 09:37] saralavanip opened #1442 "Sort by 'Average Rating' available in 'Catalog' view while 'Star rating feature has been removed"
Steps:

1.Visit https://nightly2.apinf.io
2.Sign in as a registered user
3.Add API Backend
4.Click on Catalog
5.Select any API backend

Findings:
- There is no 'star rating' feature available  in 'Single API view' or in 'Catalog' view
- While there is a sorting option: 'Average Rating' in Catalog view

Expected Result: While star rating feature is unavailable, there shouldn't be a sorting option a

[2016-08-26 09:50] jykae commented on #1441
Thanks for chat. Here is properly configured version https://nightly.apinf.io/api/6qhxswc8yox9SGaXQ

Missing thing is to figure out how pass Ernit Bearer token.

[2016-08-26 10:46] bajiat commented on #1383
Closed by PR #1399

[2016-08-26 10:46] #1383 closed

[2016-08-26 11:16] brylie opened #1443 "Refactor all collection files to use same structure"
Audit all project collection files and make sure they have similar structure:

- files are organized by component
  - /component/collection/index.js
  - /component/collection/schema.js
  - /component/collection/permissions.js
  - /component/collection/server/publications.js
- all collections `index.js` files contain only the collection definition and export
- colletions are imported correctly into

[2016-08-26 11:18] brylie opened #1444 "Refactor project files for consistency"
Audit all project router.js files so they follow the same pattern:

- each router file is located in a component
- each component router file contains routes only for the component
- component router files are in the `/component/client/lib/router.js` file
- router onBefore or other hooks are either in core, or in the specific router file where they are used

Additionally, refactor the `Settings` c

[2016-08-26 11:27] bajiat opened #1445 "Instruct user about API Profile tabs after adding an API"
Implement a Bootstrap Tour that instructs the user to go to the proxy settings after the user has added an API. Otherwise, users who want to use a proxy might not know they need to set it in the Proxy tab.

# Definition of done
* [ ] Implement the described scenarios using the BootStrap Tour: http://bootstraptour.com/api/

# Design

## Scenarios

1. API Owner adds an API and is redirected to Detai

[2016-08-26 11:27] brylie opened #1446 "Fix API Backlog add/edit/delete forms and deprecate the afModals"
The API Backlog forms currently do not validate. The issue has been fixed in a PR, but that PR will not get merged. Use the API Backlog modal code from the 'restructure-project' branch to fix the API Backlog. Also, deprecate the afModals package.

[2016-08-26 12:19] marla-singer commented on #1433
@bajiat
1) How can give the location of the SDK generator: Apinf Administrator (global admin, who has auth token) or API owner (user, who add this API)?
2) Which page have to contains a setting for SDK?
**API settings page**
![joxi_screenshot_1472213462998](https://cloud.githubusercontent.com/assets/20643403/18005022/111f3cf4-6ba0-11e6-9dfa-e382c844bb03.png)

**Edit API page**
![joxi_screenshot_14

[2016-08-26 12:25] #1207 closed

[2016-08-26 12:25] #1380 closed

[2016-08-26 12:52] bajiat commented on #1433
@marla-singer: SDK generator setting is not a setting for an individual API but for the entire platform/deployment.

So it should not be in API settings tab, but in the platform Settings. You can find the Settings UI by pressing the small triangle next to your user name.  Implement it similarly to the other settings: it needs to be enabled and once enabled you can give the host.

Only admins shoul

[2016-08-26 13:42] marla-singer commented on #1433
@bajiat I found the platform Settings. This feature should looks like "API Documentation Editor", right?
Click to checkbox "Enabled" -> Show input with label "Host"

[2016-08-29 06:05] frenchbread commented on #1382
Interested

[2016-08-29 06:05] frenchbread commented on #1394
Interested

[2016-08-29 07:10] bajiat commented on #1381
@jykae Would you be interested in this task?

[2016-08-29 07:27] bajiat commented on #622
@nnn Would you be interested in this task? It is blocked by #1233.

[2016-08-29 07:29] bajiat commented on #1190
@jykae Can you give a working example by trying the Admin API by making calls in Postman?

[2016-08-29 07:32] bajiat commented on #1385
Partly blocked by #1233

[2016-08-29 07:32] bajiat commented on #1385
@nnn Would you be interested in this task?

[2016-08-29 07:34] bajiat commented on #1446
@nnn Could you take this task?

[2016-08-29 07:45] bajiat commented on #1387
@nnn Would you be interested in this?

[2016-08-29 07:48] bajiat opened #1448 "Switch the home page to use master layout"
Deprecate home layout and switch it to use master layout so that we won't have duplicate code. There is an existing reference branch.

If this is not fixed, the home layout navigation menu is broken.

[2016-08-29 07:49] bajiat commented on #1448
@nnn Would you be able to take this?

[2016-08-29 08:31] Nazarah opened #1449 "wireframe to Get API key button to API profile page"

[2016-08-29 08:45] Nazarah opened #1450 "wireframe to Add and test rate limiting field to Proxy backend collection"
#1190

[2016-08-29 08:46] Nazarah opened #1451 "wireframe to Create Proxy backend collection and UI for mandatory fields"
#1233

[2016-08-29 08:47] Nazarah opened #1452 "wireframe to Update dashboard analytics URL and user notifications"
#1382

[2016-08-29 08:48] Nazarah opened #1453 "wireframe to Ensure api managers can disable API key check on Backends"
#622

[2016-08-29 08:49] Nazarah opened #1454 "wireframe to Directing user to proxy settings after adding an API"
#1445

[2016-08-29 08:49] Nazarah opened #1455 "wireframe to Usage scenarios or usage instructions to Api details page"
#1387

[2016-08-30 07:56] #1376 closed

[2016-08-30 08:43] philippeluickx opened #1460 "Entry point experience for different clients"
So far we have noticed 2 different types of clients:
- case 1: A company that has an API and wants to provide docs, secure the API and hand out keys
- case 2: An organization that wants to promote APIs by collecting them in one place

Both have different user scenarios and a different entry point for their users.
In case 1,  the company probably wants to own the brand with api.company.com. They pr

[2016-08-30 10:32] bajiat opened #1461 "Exploratory testing: adding proxy and adding API without proxy"
Continue exploratory manual testing particularly for multiproxy changes. Note that the platform is temporarily disconnected from API Umbrella dialog, so you can only add APIs, but you cannot use any Umbrella related features. For example, Dashboard does not contain any data and there is no place to modify backend settings.)

Document the test cases, if not already documented. (Update if necessary.

[2016-08-30 10:39] frenchbread commented on #1382
When there is no data found, message is shown to the user:

Looks like:

![screen shot 2016-08-30 at 13 36 15](https://cloud.githubusercontent.com/assets/2122679/18086155/27d749c2-6eb7-11e6-9010-c5d93483d7ad.png)

[2016-08-30 10:47] brylie commented on #1444
@jykae thanks for going beyond the definition of done here. As per our discussion, and approval from @bajiat, please refactor the `settings` component into separate components, with the following structure:

 - /branding
  - /logo
- /settings
  - /client
    - /menu
- /proxies
- /users
  - /account
  - /profile

@frenchbread and @nnn, please be aware that @jykae will be moving these files around,

[2016-08-30 10:48] brylie commented on #1444
Also note, this should not affect the user interface. It is just a code-level refactor. We want to keep the great work on the settings page, including the navigation menu.

[2016-08-30 11:04] brylie opened #1462 "Describe folder/file structure and naming conventions in CONTRIBUTING.md"
In order to coordinate developers and encourage consistent coding style, add a description of the following conventions to our CONTRIBUTING.md

- component architecture
- folder names
- file names

[2016-08-30 11:24] jykae opened #1465 "My managed APIs view to be deprecated?"
Need decision & action whether to deprecate this view. New catalogue component has filter for user's own APIs that basically fullfills the need.

<img width="429" alt="nayttokuva 2016-08-30 kello 14 20 49" src="https://cloud.githubusercontent.com/assets/293452/18087359/75bd7fd4-6ebd-11e6-9e86-997bea68028a.png">

<img width="1191" alt="nayttokuva 2016-08-30 kello 14 25 00" src="https://cloud.github

[2016-08-30 11:29] nnn commented on #1465
Yes, I think we need to remove it.

[2016-08-30 11:30] jykae commented on #1465
@nnn Agreed. Not useful to maintain duplicate features.

[2016-08-30 11:42] jykae commented on #1441
@preriasusi Do you need further guidance for this? Or can this be closed?

[2016-08-30 11:44] bajiat commented on #1465
It would be ok to remove the My Managed APIs view. If/when we do that, we should also consider what would be the destiny of API Backends menu, because it would only contain Add API Backend. I would actually remove it and add a button for adding an API to Catalog. Or even have an Add API or Add Your API button/link in the top bar?

[2016-08-30 11:46] jykae commented on #1444
@brylie Ok, did not notice to check out this issue, was following PR. I make further changes based on your comments & our discussion.

[2016-08-30 12:02] brylie opened #1466 "Add ESLint configuration to project"
In order to enforce basic coding standards, and automatically check low-level details, we can use the ESLint package. Add the ESLint package to our project as a development dependency. Enable basic lint rules for Airbnb, Meteor, and Babel.

[2016-08-30 13:02] #1462 closed

[2016-08-30 13:33] preriasusi commented on #1441
Closed

[2016-08-30 13:33] #1441 closed

[2016-08-31 07:43] brylie opened #1469 "Clarify project terminology 'module' and 'component'"
We are modularizing our code. In the spirit of other projects, our terminology should align with common use. To that end, we can adopt the term 'module' to mean 'high level project feature' (i.e. epic level feature) and 'component' to mean something similar to a UI/WebComponent.

Update the CONTRIBUTING.md to include these clarifications.

[2016-08-31 07:57] bajiat commented on #1469
@brylie I agree with this change. Modules could be potentially something administrators could select to include or exclude in deployment / setup.

[2016-08-31 07:58] #1469 closed

[2016-08-31 09:15] frenchbread opened #1471 "Username is not shown header dropdown menu on the "home" page"
Observed:
- No username is shown

Expected:
- Username of current user is show

![screen shot 2016-08-31 at 12 14 19](https://cloud.githubusercontent.com/assets/2122679/18122974/7b338bae-6f74-11e6-98ca-3a1248d11ae3.png)

[2016-08-31 10:02] Nazarah commented on #1382
as per the discussion with @frenchbread, when the charts and table have no data to show, they will be faded in the background.
A single notification message will appear in the foreground:
"No Data is found. Please try changing the filter options to populate analytics data."

[2016-08-31 10:05] Nazarah commented on #1392
Commented on #1382.
With no data in the dashboard, charts and table will fade in BG.
Single notification message should appear.
"No Data is found. Please try changing the filter options to populate analytics data."

[2016-08-31 10:17] saralavanip opened #1472 "Visibility of API: Selector is shown for anonymous and Registered users"
Steps:

1.Visit nightly2.apinf.io
2.Login as registered user who doesn't own API
3.Click on 'Catalog'
4.Select and click on any API
5.Go to 'Visibility' and select 'Private'

Findings: Visibility of API 'Selector' is shown for registered users / anonymous users who doesn't own API . But when selected 'Private' doesn't work though.

Expected Result: 'Visibility of API' Selector should be shown only

[2016-08-31 10:35] #1444 closed

[2016-08-31 10:38] #1466 closed

[2016-08-31 11:16] saralavanip opened #1473 "Missing text letters in 'Search results' view"
Steps:
1.Visit https://nightly2.apinf.io
2.Click on API Catalog
3.Click on Search icon
4.Enter search text (eg.maps)
5.Click on 'Search'

Findings: Missing text letters in user help text and Header text (letter 'S' in words 'Start' and 'Search')

Expected Result: Text should be shown completely without any missing letters

Operating system: Ubuntu 16.0 LTS
Browsers:
1. Mozilla Firefox 48.0
(Mozill

[2016-08-31 11:33] brylie opened #1474 "Restructure settings module"
The settings module code does not follow the structure of other project modules. Re-structure the Settings module to follow the [project structure conventions](https://github.com/apinf/api-umbrella-dashboard/blob/develop/CONTRIBUTING.md#file-structure).

# original issue
The Settings form does not work in `develop`. This may be due to switching the collection to using `export` / `import` syntax. F

[2016-08-31 11:51] #1392 closed

[2016-08-31 11:58] Nazarah commented on #1452
Duplicate to #1392

[2016-08-31 11:58] #1452 closed

[2016-08-31 12:59] Nazarah commented on #1384
@jykae added the wireframes for the discussed for issues. Please review them with @bajiat .
Will add the fifth scenario, (consumer POV, when s/he sees no Get API Key) later.

[2016-08-31 13:01] jykae commented on #1428
API key functionality is moving to single API view, checking this while working on it.

[2016-08-31 13:02] Nazarah commented on #1449
Need to add the 5th scenario.

[2016-08-31 13:40] jykae commented on #1384
@Nazarah Where I can find the wireframes?

[2016-08-31 21:00] Nazarah commented on #1384
@jykae : for some reasons, the pictures didn't get attached in the 1st place. Now they are available with this issue. Sorry for the inconvenience.

[2016-09-01 06:25] Nazarah commented on #1384
Added the 5th scenario.

[2016-09-01 06:30] #1449 closed

[2016-09-01 07:44] bajiat opened #1476 "Implement Swagger viewer as npm module"
Swagger Viewer is currently displayed in iFrame. The solution is very brittle and for example inserting base URL and user's API for making calls through apinf would require a hacky implementation.

The iFrame solution should be replaced by implementing Swagger viewer as npm module.

# Definition of done
* [ ] Suitable, actively maintained npm package for Swagger UI has been selected
* [ ] Package

[2016-09-01 08:26] bajiat commented on #1476
@brylie Add links to potential npm packages

[2016-09-01 08:31] #1225 closed

[2016-09-01 10:02] brylie commented on #1476
@bajiat @marla-singer Please see the **Candidate npm packages** section in the issue description.

@marla-singer feel free to do any research and offer alternative proposals to how we can integrate Swagger UI into our templates without using iframe.

[2016-09-01 10:04] bajiat commented on #1384
Scenarios 3 and 4 are describing the same thing in my opinion. API owner has not selected a proxy for his/her API / attached his/her API to a proxy. I prefer the 4th wireframe.
Scenario 5 should not be implemented: owner can add an API and just want it to appear in catalog. If I'm wrong about this, it would be implemented as an enhancement.

[2016-09-01 10:32] Nazarah commented on #1190
@jykae : can you please let me know about your idea on how the UI should look?

[2016-09-01 10:33] bajiat commented on #1476
@brylie Thanks!

[2016-09-01 10:45] Nazarah commented on #1384
Changed Wireframe descriptions.

Scenario 3:
Pane title: Connect API to a Proxy.
Message: The API is not connected to a proxy. To enable API Keys for API users and to get API Management features, click here to connect to a proxy.

(click here is clickable link)

[2016-09-01 10:50] marla-singer commented on #1476
@brylie Thank you! Has this task any deadline?

[2016-09-01 10:58] brylie commented on #1233
@Nazarah here are the manditory fields:
[code]

[2016-09-01 11:03] brylie commented on #1233
Here is a current screenshot of the AutoForm based on the above schema:
![screen shot 2016-09-01 at 14 01 00](https://cloud.githubusercontent.com/assets/17307/18165240/cfb2117c-704c-11e6-8bd3-abc8662b8393.png)

[2016-09-01 11:18] bajiat commented on #1476
@marla-singer Can you give us your estimate on how long it would take? How many days?

[2016-09-01 11:21] Nazarah commented on #622
@nnn what are your ideas about how the interface should look? please let me know.

[2016-09-01 11:24] Nazarah commented on #1387
@nnn : what are your ideas about the possible UI view? please let me know.

[2016-09-01 11:35] marla-singer commented on #1476
@bajiat Today I'm going to study the task more detail and I'll be able give my estimate tomorrow.

[2016-09-01 11:41] #1433 closed

[2016-09-01 11:44] bajiat commented on #1476
@marla-singer Sounds good to me.

[2016-09-01 11:57] bajiat commented on #1476
@marla-singer I removed part of the definition of done. (I thought I had removed it before, but that change didn't actually get updated to Github). The removed part will be in another continuation task. Without removing, your task would be partially blocked by another developer's task. Also, it is best to approach this incrementally.

[2016-09-01 11:58] saralavanip opened #1477 "'Delete' account not responding"
Steps:

1.Visit https://nightly2.apinf.io
2.Create account by clicking on 'Sign up'
3.Navigate to 'Account' section
4.Click on 'Delete Account'
5.Click on 'Delete' button in user confirmation dialog box

Findings:
- Clicking on 'Delete' button doesn't respond. It  allows to close user confirmation dialog.
- It doesn't display successful dialog
- Logs out but still shows 'Account' view

Expected Re

[2016-09-02 06:23] brylie commented on #1233
@Nazarah here are brief descriptions of the fields:

- name: a human friendly name for the Proxy API
- frontend_host: server address for the Proxy (might not be on the form)
- backend_host: URL of the API server
- backend_protocol: protocol to access API (e.g. HTTP or HTTPS)
- balance_algorithm: how the load balancer should balance traffic
- url_matches: path prefixes from the Proxy and API
  - fr

[2016-09-02 06:58] Nazarah commented on #1233
thanks @brylie !
I am adding the descriptions for INFO icons as per the fields given in your earlier screenshot.
As suggested, I changed the "frontend to "Proxy" and "backend" to "API"

Name: "Give a human friendly name to identify your proxy API." [feedback: we can skip info for this field. Not urgently needed.]

Proxy host: "Add the server URL  for your proxy API."

API host: "Add the server URL

[2016-09-02 07:02] Nazarah commented on #1451
Added wireframes and info icon descriptions to the the main task

[2016-09-02 07:03] #1451 closed

[2016-09-02 09:42] #1446 closed

[2016-09-02 11:22] marla-singer commented on #1476
@bajiat Yesterday and today I learnt npm packages and tryed to implement swagger-ui packages in empty meteor project. So I think it needs about 2 days to integrate and setting swagger library to our project plus a day for test and review. My estimate is three days.

[2016-09-02 14:08] bajiat opened #1479 "Update Dashboard Select API list"
Update the Dashboard Select API list so that it contains only APIs connected to a proxy.

# Definition of done
* [x] APIs list contains only APIs connected to a proxy
  * [x] API manager can see all APIs owned by him/her that are connected to a proxy. Optionally, the ones that are not connected to a proxy can be listed, but it should not be possible to select them.
  * [x] Apinf admin can see all

[2016-09-05 07:16] bajiat commented on #1094
Already completed, closing the issue.

[2016-09-05 07:17] #1094 closed

[2016-09-05 07:52] brylie opened #1481 "Fix folder structure in CONTRIBUTING.md"
There are some indentation and alphebetization errors in the CONTRIBUTING.md file structure section. Issue a quick fix for these errors.

[2016-09-05 08:30] #1474 closed

[2016-09-05 09:47] bajiat opened #1483 "Enhance Get API key"
Enhancement to #1384.

Get API key and Copy API key buttons should only be available in the API profile page, if the API is connected to a proxy.

# Definition of done
* [x] Get API key is only available for APIs that are connected to a proxy.
* [x] Copy API key is only available for APIs that are connected to a proxy.
* [x] When clicking 'Get API Key' button, indicate that something is happening

[2016-09-05 09:53] bajiat commented on #1384
Created an enhancement task #1483. This task will add the Get API keys and Copy API key buttons for all API profiles, while the enhancement task will limit the button only to APIs that have been connected to the available proxy. (At this stage only one proxy.)

[2016-09-05 09:58] bajiat opened #1484 "Disable Add proxy button if one proxy exists"
While we are currently only supporting one proxy (one API Umbrella per deployment), disable the Add proxy button from Settings / Proxies if administrator has added one proxy to the deployment.

# Definition of done
* [x] Admin users can see the Add proxy button only if no proxy has been added to the platform
* [x] Collection allow/deny rule has been added
  * [x] `insert` is only allowed when no P

[2016-09-05 09:59] bajiat commented on #1484
@brylie The definition of done is missing the two changes required for collections / schemas. Can you please add them?

[2016-09-05 10:02] bajiat commented on #1476
@marla-singer Thanks for the estimate! What is the current status of the task?

[2016-09-05 10:07] bajiat opened #1485 "Refactor APIUmbrellaWeb object usage"
Refactor createApiUmbrellaWeb function and apiUmbrellaSettingsValid functions.

createApiUmbrellaWeb returns API wrapper object. To be called when needed. Switching away from global object usage.

[2016-09-05 10:47] marla-singer commented on #1476
@bajiat Current status is setting of css and fix to show button 'Authorize'

[2016-09-05 11:16] brylie commented on #1484
@bajiat done.

[2016-09-05 12:39] bajiat opened #1486 "Admin approval for user registrations"
It should be possible for admins to manually approve user registrations. Any new user will only be able to login after they have been approved by and admins. This needs to be a platform setting, where admins select whether they want to have manual user approval or not. Compare with Rocket Chat user registration flow.
# User story

# Requirements
- Settings page: 'admin approval needed for user reg

[2016-09-05 12:50] bajiat opened #1487 "User registration"
This is an EPIC for setting up a user flow for checking user registrations to deployment: validating emails and allowing users to approve/dismiss registrations

[2016-09-05 13:04] bajiat opened #1488 "Allow admin pre-approval for APIs added to platform"
Allow administrators to check any new API after a user has added one. This requires a setting for the deployment (whether APIs are pre-approved or not in this deployment). It also requires notification for the admin for any new APIs and a user notification that your API will be available in the catalog once it has been approved. Should we also consider the flow for rejecting an API?
# User story

[2016-09-05 13:54] bajiat opened #1489 "Request access to closed API"
EPIC for closing APIs so that API is published in catalog, but it only shows limited information and has a e.g. button for the developer / user to request access to the API or a method for API owner to invite users to the API.
This task requires feedback from the team on possible options to allow only certain users to see/use the API with the _smallest_ possible implementation.

Field level visibi

[2016-09-06 05:27] preriasusi opened #1490 "API owner to be able to control 'Try it out!' button"
In swagger documentation it's possible t try to make real calls. Some customers want to allow try out for all methods, some for only get methods, some customers don't want it at all.

Controlling 'Try it out!' can be done when Swagger Ui is launched in Javascript with supportedSubmitMethods option. With supportedSubmitMethods option it's possible to

To serve customer, should give customer an opti

[2016-09-06 08:51] jykae commented on #1485
Discussed with @brylie to switch away from global object usage

[2016-09-06 08:56] preriasusi commented on #1476
#1490 @marla-singer Is it possible to control Swagger UI launch settings while starting?

[2016-09-06 08:59] brylie commented on #1476
@preriasusi we can invoke Swagger UI with [several parameters](https://github.com/swagger-api/swagger-ui#parametershttps://github.com/swagger-api/swagger-ui#parameters).  Which settings do we need to control?

[2016-09-06 09:02] marla-singer commented on #1476
@preriasusi Yea, I think it's possible.

[2016-09-06 09:05] brylie commented on #1476
For clarification, this task takes us in the direction of being able to use Swagger UI parameters, rather than the iframe, by using an npm module.

We can follow-up with enhancements based on the [Swagger UI configuration parameters](https://github.com/swagger-api/swagger-ui#parameters), etc.

[2016-09-06 10:06] #1485 closed

[2016-09-06 10:25] philippeluickx opened #1492 "Make slashes consistent"
When dealing with URLs and parts of it, we need to define a consistent pattern that is user-facing.
E.g. should we have a trailing slash? Should base URL have a slash in the end or should the api endpoints have a slash in the start?

[2016-09-06 10:43] bajiat opened #1493 "Store Proxy backend collection data in API Umbrella"
Continuation task for #1233: storing the data from Proxy backend collection and the form in Proxy settings tab in API Umbrella.

Note: this task is about inserting an proxy backend and its setting to API Umbrella. There are related tasks for editing (#1510) and deleting (#1509) proxy backend.

# Definition of done
* [ ] The data in collection gets stored properly in API Umbrella
* [ ] Validate the

[2016-09-06 11:13] philippeluickx commented on #987
http://stoplight.io/ does it with a tool they developed called "Prism"

[2016-09-06 11:14] philippeluickx opened #1494 "Generate specification file automatically"
Inspiration from http://stoplight.io/

It could be possible to generate specs based on API usage. This would be a big win for developers who don't have docs yet.

[2016-09-06 11:14] brylie commented on #1233
Based on @Nazarah's text suggestions and discussions with @jykae and @bajiat, here is the ProxyBackend form:

![screen shot 2016-09-06 at 14 12 11](https://cloud.githubusercontent.com/assets/17307/18271700/2ee51dae-743c-11e6-805c-6c0e34d1442c.png)

[2016-09-06 11:57] philippeluickx commented on #1486
Should we have the other side of the flow as well? So that admins can invite users?

[2016-09-06 12:41] philippeluickx commented on #1183
![image](https://cloud.githubusercontent.com/assets/836866/18273897/5b53476a-7448-11e6-8379-514f0cf45aa2.png)

[2016-09-06 12:48] philippeluickx commented on #1183
![image](https://cloud.githubusercontent.com/assets/836866/18274065/5276008c-7449-11e6-92be-5e1bc667d58d.png)

![image](https://cloud.githubusercontent.com/assets/836866/18274073/5f9b62c0-7449-11e6-8d61-27c73edeb627.png)

[2016-09-06 12:49] bajiat commented on #1183
One option is the approach above: give the owner an option to use API monitoring, but they would need to give the URL which would be monitored. At this stage, we could stick with giving them the option to give a single URL?

[2016-09-06 13:06] bajiat commented on #1489
Feedback from @philippeluickx Does this require a new user role: API user that is tied to  particular API(s) to which user has been granted access?

[2016-09-06 13:10] philippeluickx commented on #1123
Should be easy

`Accounts.config({sendVerificationEmail: true, forbidClientAccountCreation: false});
`

source: http://stackoverflow.com/questions/14616524/verify-email-using-accounts-ui-package

[2016-09-07 06:16] Nazarah commented on #1445
Link to BootStrap Tour:
http://bootstraptour.com/
click Demo to watch

[2016-09-07 06:17] Nazarah commented on #1445
Need to review the scenarios and associated wireframes.
For scenario 2, need view of new settings page to create wireframes.
@bajiat : would you be interested?

[2016-09-07 06:46] Nazarah opened #1498 "New API can't be added in nightly2"
# Reproduction Steps:

1. go to https://nightly2.apinf.io
2. from Top Bar, click API Backends -> Add API Backends.
3. Start Adding an API giving all required information
4. Click Save.

# Result

The following S-Alert appears:

![image](https://cloud.githubusercontent.com/assets/17976243/18302275/9d106cb8-74df-11e6-847d-c1f58de0e24b.png)

API doesn't get added.

# Expected Result:

API should be a

[2016-09-07 08:13] #1454 closed

[2016-09-07 09:08] bajiat commented on #1481
@brylie Should this issue be closed? Was this connected to the PR I merged?

[2016-09-07 09:09] bajiat commented on #1477
@saralavanip Can you add info on your environment, particularly browser and version?

[2016-09-07 09:18] brylie commented on #1481
Jep. I am not sure why it didn't automatically close.

[2016-09-07 09:29] bajiat commented on #1344
@brylie Doesn't your PR #1457 already handle this? Or are there other instances of frontend and backend prefixes outside the Proxy tab in Profile view.

[2016-09-07 09:31] saralavanip commented on #1477
@bajiat , please find the browser details updated .

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2. Google Chrome 52.0.2743.116

Operating System:
1. Ubuntu 16.0 LTS

[2016-09-07 09:38] brylie commented on #1344
@bajiat it is definately related. @Nazarah and I decided to change frontend and backend for clarity:

- frontend -> Proxy
- backend -> API

The changes can be seen, as you mentioned, in the UI changes made in PR #1457:

![proxy settings form UI](https://cloud.githubusercontent.com/assets/17307/18271700/2ee51dae-743c-11e6-805c-6c0e34d1442c.png)

[2016-09-07 09:45] bajiat commented on #1344
So should we close the issue once PR is merged?

2016-09-07 12:38 GMT+03:00 Brylie Christopher Oxley <
notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-09-07 09:59] brylie commented on #1473
@saralavanip please provide a screenshot of your entire screen. This may be an issue where your browser windows are being covered up by the Ubuntu menu.

[2016-09-07 10:01] brylie commented on #1473
Also, try taking the window out of full-size mode by clicking the middle icon in the upper left hand corner. This should make the window smaller, so that it does not appear near the Ubuntu application menu.

[2016-09-07 10:05] brylie commented on #1344
I can associate this issue with the PR, if you agree that it is closed when the PR is merged. There may be a related documentation task, where we create a diagram to clarify these concepts. E.g.

![Apigee API proxy diagram](http://kinlane-productions.s3.amazonaws.com/api-evangelist/ProxyFlowThrough.png)

[2016-09-07 10:09] bajiat commented on #1445
@Nazarah Suggestion for the text in wireframe 3 in scenario 1:

Save the proxy settings and the different API management features like Dashboard are available for your API.
Save the proxy settings and start using different API management features like the Dashboard.

Scenario 2: only admin can add a proxy to the platform

[2016-09-07 10:17] brylie opened #1499 "Add missing i18n tokens/texts relating to the user password form"
Related to #965

Add missing i18n tokens/texts relating to the user password form:

- submit button text

[2016-09-07 10:18] saralavanip commented on #1473
@brylie , please find the screenshots below: Entire screens: both min and maximized window in chrome and Firefox browsers.

Screenshots:
Firefox:
![minimised_screen_firefox](https://cloud.githubusercontent.com/assets/13309358/18308435/402da420-74fd-11e6-8bd4-26bcff3b0040.png)

![max_screen_firefox](https://cloud.githubusercontent.com/assets/13309358/18308456/4dc2f770-74fd-11e6-919e-be2dd9246140.pn

[2016-09-07 10:24] brylie commented on #1473
OK, it looks like this issue will be resolved with an open PR.

[2016-09-07 10:41] #1481 closed

[2016-09-07 10:43] bajiat commented on #1344
Documentation could be a non-urgent continuation task.

[2016-09-07 10:48] bajiat commented on #1498
@Nazarah I could not reproduce this error in nightly2, just added  a new API there.

[2016-09-07 10:50] brylie opened #1500 "Add missing i18n tokens/texts relating to the contact form"
Related to #965

Add missing i18n tokens/texts relating to the contact form:

- success message

[2016-09-07 10:52] brylie commented on #1344
OK, I have added a 'closes' reference to this task in the PR.

[2016-09-07 10:54] saralavanip opened #1501 "Successful dialogues for upload/delete project logo in 'Branding' view are not legible"
# Steps
1. Visit https://nightly2.apinf.io
2. Login as admin
3. Navigate to 'Branding' section
4. Upload project logo by clicking on 'upload logo'
5. Delete the uploaded logo by clicking on trashcan sign
# Expected Result

Successful dialogues must be more clearer and understandable.
# Findings
-  Successful in upload/delete project logo.
-  Successful dialogs are not legible , missing text.
# Bro

[2016-09-07 11:10] #1448 closed

[2016-09-07 11:10] #1471 closed

[2016-09-07 11:11] #1276 closed

[2016-09-07 11:11] #1473 closed

[2016-09-07 11:11] #1499 closed

[2016-09-07 11:11] #1500 closed

[2016-09-07 11:12] Nazarah commented on #622
@nnn : I've added the wireframes. One is the checkbox you suggested and another is toggling option. Please review them and give your feedback.
Suggestions for the text is also welcomed.

P.S. I;ve added only the field for this task only, As there might be other fields in the proxy tab, but the UI is not yet ready, you can place this field where convenient.

[2016-09-07 11:14] #1453 closed

[2016-09-07 11:28] nnn commented on #622
I like with simple checkbox, let's go with it.

[2016-09-07 11:34] saralavanip commented on #1461
Reported and updated issues:
#1472
#1473
#1477
#1501

[2016-09-07 12:30] brylie opened #1502 "Move installation instructions to own file"
In order to simplify our README file, move the installation section to its own file.

[2016-09-08 06:47] bajiat opened #1504 "Localise available UI texts"
Proofread the English UI texts and translate them into Finnish.

# Definition of done
* [ ] Upload the English and Finnish UI texts into OneSky.
* [ ] Proofread the English UI texts and make changes where necessary.
* [ ] Translate the missing or changed UI texts into Finnish.
* [ ] Have the Finnish UI texts proofread.

[2016-09-08 07:24] bajiat commented on #1490
This feature should be added to the Manage Documentation dialog

[2016-09-08 07:39] bajiat commented on #1386
Suggestion: allow the owner to switch on the monitoring. Also allow them to pick / change the URL settings. Consider giving a default.
Open issue: what to do with the monitoring icon for the APIs that are not monitored? Hide it?

[2016-09-08 07:57] bajiat commented on #1123
@Nazarah Review the UI after the task is done.

[2016-09-08 08:01] bajiat commented on #1486
User flow needed.

[2016-09-08 08:14] saralavanip opened #1505 "Site title shown as 'Project logo'"
- Local development environment

Steps:
1.Login as admin
2.Navigate to Branding section
3.Do not upload project logo
3.Enter Site title
4.Enter Site slogan
5.Click on 'Update' button

Findings:
- Site title is shown as project logo

Expected Result: Project logo should not be replaced with site title

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2. Google Chrome 5

[2016-09-08 08:15] bajiat commented on #1488
Add an UI for APIs that are pending approval
Email notification for approved APIs and rejected APIs
API moderator user role? Moderator needs to be able to see the profile view
Notification module
Can the owner access the profile page and edit it, if the API is pending approval? Suggestion: should not be able to see it
Description field should be mandatory in Add API flow/form

[2016-09-08 08:21] bajiat commented on #1249
@shaliko Should we close this? Is this completed?

[2016-09-08 08:32] shaliko commented on #1249
@bajiat No, I not started that story, currently docker-compose works with 0.12 version.

[2016-09-08 08:40] saralavanip opened #1506 "User not notified after successful edit/update 'Branding' details"
# Steps
1. Visit https://nightly2.apinf.io
2. Login as admin
3. Go to Branding section
4. Update/edit Branding details (eg. site title or site slogan)
5. Click on 'Update' button
# Findings
-  First click on 'Update' button doesn't respond though the details are updated. It remains highlighted until next click.
-  User not notified about successful update.
# Browser
1. Mozilla Firefox 48.0
   (Moz

[2016-09-08 08:55] saralavanip commented on #1471
Verified this resolved issue in local develop environment.

[2016-09-08 09:00] saralavanip commented on #1473
Verified this resolved issue on local develop environment.

[2016-09-08 09:02] saralavanip commented on #1461
Verified resolved issues:
#1471
#1473

[2016-09-08 09:53] saralavanip opened #1507 "Unable to edit 'Username' in 'Profile' view"
Resolution: Make the username field read-only.

Steps:
1.Visit https://nightly2.apinf.io
2.Create account by clicking on 'Sign up'
3.Navigate to 'Profile'  view
4.Edit username
5.Click on 'Update' button

Result:
- Highlights 'Username' field with error message 'profile-usernameIsTaken'
- Enter the previously given username and click on 'update' also shows the same error message.
- Signout->Relogi

[2016-09-08 09:59] Nazarah commented on #1455
Feedback from Ilya:
1387, here we can do smth like step by step instructions for developers, or just list all available things to copy with description text
now we have base url to copy, also we can include api key to copy
and give couple code examples for developers
but if you are the developer, there is no need to explain this things
we just need to make sure that they can find this information

[2016-09-08 10:11] #1502 closed

[2016-09-08 10:11] #1233 closed

[2016-09-08 10:11] #1344 closed

[2016-09-08 10:31] bajiat commented on #1314
@nnn Did 1464 fix this issue?

[2016-09-08 10:47] saralavanip opened #1508 "User unable to 'Delete' API backend"
- Local develop environment

Steps:
1.Sign up
2.Add API backend
3.Go to Catalog view
4.Click on 'My APIs' tab
5.Select API added above
6.Click on Settings
7.Go to 'Manage' section and click on 'Delete' button

Findings:
- Delete API backend not successful.
- Displays error message 'API could not be deleted'.

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2. Google

[2016-09-08 10:55] bajiat opened #1509 "Delete Proxy backend from API Umbrella"
If user deletes an API from Apinf and it is connected to a/the proxy, the proxy backend needs to be deleted both from Apinf collections and from API Umbrella backends. This task is about deleting it from API Umbrella.

# Definition of done
* [x] Ensure that the API is removed through API Umbrella Admin API and will not exist in API Umbrella database.
* [x] Publish the changes in Apinf API Umbrella

[2016-09-08 10:55] bajiat opened #1510 "Edit Proxy backend and store the changes in API Umbrella"
If user edits the Proxy backend settings in te Proxies tab in API profile view, the changes will need to be reflected in API Umbrella.

# Definition of done
* [x] The edited proxy backend data/settings gets properly updated in API Umbrella

[2016-09-08 11:29] Nazarah commented on #1387
@nnn Based on our discussion, I prepared the given wireframe.
Please make suggestions about possible changes in the look&feel or description text.

[2016-09-08 11:36] jykae opened #1511 "Exception in browser console, check sdkGenerator exist before checking host"
Exception in single API view:

[code]

Comes from https://github.com/apinf/api-umbrella-dashboard/blob/develop/documentation/client/view/documentation.js#L67

[2016-09-08 11:42] bajiat opened #1512 "Allow owner to switch on API monitoring"
Currently the API monitoring in APInf is providing false results. See error #1386. We should allow the owners to select whether the API is being monitored or not and to choose the URL. At first phase, we are not providing authentication for monitoring.

See also comments and screenshots from Monitoring EPIC #1183.

# User story

# Definition of done
* [x] API owner can enable the API monitoring ei

[2016-09-08 11:52] bajiat opened #1513 "Send email notification to owner if API monitoring status changes"

[2016-09-08 11:52] #1455 closed

[2016-09-08 11:55] bajiat opened #1514 "Add a setting for SMTP configuration"
It would be good to replace the current mailgun settings with more generic  SMTP configurations in the platform settings e.g. for validating emails during user registration and for sending monitoring notification emails to API owners.

# User story

I want to be able to give configuration settings for SMTP
so that I can enable email notifications and email verification

# Definition of done
* [x]

[2016-09-08 11:59] bajiat opened #1515 "Schema and collection for storing API monitoring status"
In order to notify the API owners only when their API monitoring status changes, we need to store the API monitoring statuses in a collection. This collection would also allow us later to create chart/analytics about API monitoring.

# Definition of done
* [x] Schema and collection for API monitoring status exists.
* [x] The response for every monitoring call/request is stored in the collection al

[2016-09-08 12:07] bajiat commented on #1511
@marla-singer Could you take a look at this error?

[2016-09-08 12:08] brylie opened #1516 "Refactor Feedback to be own module"
The Feedback related files are still separated throughout our project. Gather all Feedback related files into a module directory in the root of our project. Follow conventions for project file/folder structure.

[2016-09-08 12:40] marla-singer commented on #1511
@bajiat Yes

[2016-09-08 13:07] #1508 closed

[2016-09-08 13:07] #1516 closed

[2016-09-08 13:11] marla-singer commented on #1511
@jykae Can you please explain more details your step? I pull last code from develop and can't catch this error.

[2016-09-08 14:16] philippeluickx commented on #1489
We might want to create a seperate epic with user roles functionality. This requires the definition and management of roles and we have to implement permissions as well.

[2016-09-09 06:52] #1476 closed

[2016-09-09 06:56] #1382 closed

[2016-09-09 06:58] nnn opened #1519 "Console errors after deleting API"
Getting these errors when deleted API:

[code]

[2016-09-09 07:16] nnn opened #1520 "Access denied when saving API Proxy"
When trying to edit API Proxy

Steps:
1. Add new API
2. Go to Proxy tab
3. Fill the form
4. Save

 Getting this:

![error](https://cloud.githubusercontent.com/assets/7489044/18378514/20b77e16-7676-11e6-9bbc-089a2f89a12f.png)

[2016-09-09 07:45] bajiat commented on #1479
@frenchbread Would you be able to finish this before the new sprint starts or should I move this to planning column for sprint 31?

[2016-09-09 08:02] frenchbread commented on #1479
@bajiat Please move this task to planning column for sprint 31.

[2016-09-09 08:09] #1384 closed

[2016-09-09 08:09] #1428 closed

[2016-09-09 08:49] #1394 closed

[2016-09-09 08:55] marla-singer commented on #1511
@jykae I could repeat error. Do you have this defenition in Settings schema? https://github.com/apinf/api-umbrella-dashboard/blob/develop/settings/collection/schema.js#L118-L143

[2016-09-09 09:03] marla-singer commented on #1490
@bajiat @preriasusi Yes, I think so

[2016-09-09 09:33] #1314 closed

[2016-09-09 09:36] brylie opened #1523 "Refactor ApiBackendRatings collection to follow project structure guidelines"
The ApiBackendRatings collection does not follow our project structure. Make sure of the following:

- ApiBackendRatings is divided into relevant files
  - index.js
  - schema.js
  - permissions.js
- ApiBackendRatings is defined with export syntax
- ApiBackendRatings is imported into relevant files

[2016-09-09 10:03] brylie opened #1525 "Feedback form not working properly"
When submitting the Feedback form, the page is reloaded instead of properly submitting. In addition, rendering the Feedback form produces several console errors.

[2016-09-09 10:04] bajiat commented on #1520
@brylie Was this resolved already?

[2016-09-09 10:06] brylie opened #1526 "API Status indicator throwing errors related to URL"
When trying to render API Backends that have been synced from API Umbrella, the status indicator is looking for a missing URL property. This property was introduced in a recent pull request, and is not present on APIs from API Umbrella. As a stop gap, write a check for this URL property, and hide the status indicator for APIs without the url property.

[2016-09-09 10:09] brylie commented on #1520
@nnn pull changes from `develop`.

[2016-09-09 10:51] bajiat opened #1528 "Edit and delete backlog item buttons missing"
Steps to reproduce
1. Go to API profile view for an API you own (or any API if logged in as admin)
2. Go to backlog tab
2. Add a new backlog item

# Expected result
You should see the new item in the tab and be able to edit and delete it

# Actual result
You cannot see the Edit and Delete buttons

[2016-09-09 10:56] #1528 closed

[2016-09-09 11:25] #1413 closed

[2016-09-09 11:25] #1415 closed

[2016-09-09 11:25] #1425 closed

[2016-09-09 11:25] #1523 closed

[2016-09-09 11:27] brylie commented on #1520
@bajiat we fixed this issue as part of @jykae's PR #1458

[2016-09-09 11:29] #1526 closed

[2016-09-09 11:29] bajiat commented on #1520
Closing this. @nnn If you still have this issue after pulling from develop, pls reopen.

[2016-09-09 11:30] #1520 closed

[2016-09-09 12:29] #1396 closed

[2016-09-09 12:51] bajiat opened #1531 "Exploratory testing: Initial multiproxy features"
Continue exploratory manual testing particularly for multiproxy changes. The platform is still partly disconnected from API Umbrella and hence you cannot use most Umbrella related features.

Document the test cases, if not already documented. (Update if necessary.) Report any findings as issues giving steps to reproduce, expected outcome and actual outcome and stating the testing environment like

[2016-09-09 12:59] brylie opened #1532 "Edit proxy form not showing existing proxy values"
When editing an existing Proxy, under settings > proxies, the form does not include all existing values. Specifically, the following fields are empty, and fail validation:

- API Key
- Auth Token
- Elastic URL

[2016-09-09 13:01] brylie opened #1533 "SyncApiUmbrellaBackends method: how to store API URL?"
When syncing API Backends from API Umbrella, the API URL is not stored in the Api document. Determine how to store the Base Path when syncing API Backends. E.g.

- Add API Backend to Apis collection and add ProxyBackend configuration for each added API

[2016-09-09 13:01] brylie opened #1534 "Determine how to handle API Umbrella base URL consistently in project"

[2016-09-09 13:01] brylie opened #1535 "Determine how to handle API Umbrella base URL consistently in project"
The Proxies collection schema contains a sub object for apiUmbrella settings. The `apiUmbrella` object contains a host field that is used in two ways in our code:
1. when making calls to **API Umbrella Admin API**
   - e.g. for integration with API Umbrella
2. when displaying **Base URL** to end user, where API has a **Proxy Backend** configured
   - e.g. for users who call the API through the Pro

[2016-09-09 13:07] #1381 closed

[2016-09-09 13:09] #1407 closed

[2016-09-09 13:25] bajiat commented on #1534
Closing as duplicate for #1535

[2016-09-09 13:25] #1534 closed

[2016-09-09 13:28] jykae commented on #1535
My opinion is that this would be closely related to api-umbrella wrapper code, related to Umbrella Admin API v1 what path Admin API lives. So I would handle that path inside wrapper so that our code would not need to know what path Admin API lives.

[2016-09-09 13:31] marla-singer opened #1536 "Api documentation isn't uploaded"
Don't work feature with upload api documentation

**Step to reproduce**

1. Run the last code on localhost
2. Create new Api and go to Documentation tab
3. Click on "Manage" button
4. Click on "Choose file" button and choose file

**Observed behavior**

When choosing file, it isn't uploaded and have error on console
` Exception in delivering result of invoking '/DocumentationFiles.files/insert':
T

[2016-09-09 13:32] bajiat commented on #1536
@brylie Can you take a look whether it got resolved?

[2016-09-09 13:34] bajiat commented on #1511
@brylie commented that this has been fixed. Closing the issue.

[2016-09-09 13:35] #1409 closed

[2016-09-09 13:36] bajiat commented on #1532
@frenchbread Could you verify this error?

[2016-09-09 13:50] marla-singer commented on #1536
@bajiat I did new copy of project and It's working correct. Maybe It was problem on local Mongo or something.

[2016-09-09 13:52] #1137 closed

[2016-09-09 13:56] bajiat commented on #1360
This might also close #1430.

[2016-09-12 06:10] preriasusi opened #1538 "Copy API key -button does not work on Safari"
Go to profile settings in Safari browser..

Press button "Copy API key".

Try to paste somewhere.

Expected: api key in clipboard.

Reality: Nothis has bee copied.

[2016-09-12 06:15] frenchbread commented on #1479
Interested

[2016-09-12 06:15] frenchbread commented on #1484
Interested

[2016-09-12 06:15] preriasusi opened #1539 "Useless tabs are shown for end user"
When end user goes to API catalogue in APInf, there's same tabs for every API -  (Details, Documentation, Metadata, Feedback, Backlog, Export and Settings), whether there's content on page or not.

For example backlog tab usually says "No backlog items found for this API.". Since only API owner can only modify this, the whole tab could be hidden in case there are not backlog for the API.

For many

[2016-09-12 06:36] Nazarah commented on #1490
@marla-singer : lets discuss about the possible UI design. :)

[2016-09-12 06:37] Nazarah opened #1540 "Wireframe for "API owner to be able to control 'Try it out!' button""
#1490

[2016-09-12 06:39] Nazarah opened #1541 "wireframe for "Add a setting for SMTP configuration""
#1514

[2016-09-12 06:42] Nazarah commented on #1484
Possible implementation: Simply make the Add Proxy Button Disable and on mouse hover show the following message.
"You already have a Proxy available to attach your API. Please select the Proxy. You can add a new Proxy only after your have deleted the existing one."

[2016-09-12 06:42] #965 closed

[2016-09-12 06:43] #1019 closed

[2016-09-12 06:48] Nazarah opened #1542 "Wireframe for "Allow owner to switch on API monitoring""
#1512

[2016-09-12 06:48] brylie commented on #1535
I was thinking of a regex for the url this morning. In effect, we want the URL to
- start with *http* or *https*
- then, '://'
- then, one or more alphanumeric characters, periods (.), or hyphens (-)

As an aside, I would like to introduce a regex library that would allow us to define our regular expressions in a similar manner to the above list. One option would be the [regularity](https://www.np

[2016-09-12 06:50] Nazarah opened #1543 "wireframe for "Notify owner on Apinf UI if API backend is down""
#1184

[2016-09-12 06:51] Nazarah opened #1544 "Wireframe for "API gives 404 when the base URL responds with 200""
#1386

[2016-09-12 06:52] Nazarah opened #1545 "wireframe for "Request access to closed API""
#1489

[2016-09-12 06:53] Nazarah opened #1546 "Wireframe for "Admin approval for user registrations""
#1486

[2016-09-12 06:54] Nazarah opened #1547 "wireframe for "Allow admin pre-approval for APIs added to platform""
#1488

[2016-09-12 06:55] Nazarah opened #1548 "wireframe for "Allow users to create and edit Swagger files""
#1192

[2016-09-12 06:58] Nazarah opened #1549 "wireframe for "Add Apinf release version number to user interface""
#1434

[2016-09-12 07:10] Nazarah opened #1550 "Prepare User Instruction to use APINF"
https://github.com/apinf/docs/blob/master/docs/UserInstructions.md

[2016-09-12 07:17] Nazarah commented on #1504
Interested to co-pilot

[2016-09-12 07:28] bajiat commented on #1510
@nnn Would you be interested in this task? May require some pair programming.

[2016-09-12 07:32] Nazarah commented on #1445
@brylie: need to discuss the scenarios with you

[2016-09-12 07:32] bajiat commented on #1200
@nnn Would you be interested in pursuing this task?

[2016-09-12 07:44] Nazarah commented on #1507
Ppossible suggestion: Make the username hardcoded, s.t. it appears in profile but it not-editable.

[2016-09-12 07:45] bajiat commented on #1525
Try switching from QuickForm to AutoForm. Specify the fields to match.

[2016-09-12 07:46] bajiat commented on #1507
@nnn Would you be interested in this task? Should be a small change to modify it as read-only.

[2016-09-12 07:49] #1049 closed

[2016-09-12 07:49] #1340 closed

[2016-09-12 07:55] Nazarah commented on #1450
@Nazarah  See API Umbrella UI as reference

[2016-09-12 07:56] Nazarah commented on #1190
@Nazarah: reference API Umbrella UI

[2016-09-12 08:02] Nazarah opened #1551 "Design APINF Business Card"

[2016-09-12 08:22] brylie commented on #1536
@bajiat should we close this issue?

[2016-09-12 09:04] brylie opened #1553 "Move ESLint settings to .eslintrc"
In order for Linthub to find our ESLint settings, it may be necessary to keep them in `.eslintrc` in our project root. This will also make our `package.json` a bit shorter. Move all ESLint related configuration settings to `/.eslintrc`.

[2016-09-12 09:49] #1249 closed

[2016-09-12 10:53] brylie opened #1556 "Deprecate /both, /lib, and /server folders"
There are currently three generic folders in the root level of our project:

- `/both`
- `/lib`
- `/server`

The above folders are left from our original project structure. Move files from the generic folders into relevant locations in our project, and delete the empty folders.

[2016-09-12 10:55] brylie opened #1557 "Add missing i18n strings to import API Settings/Documentation"
The API Settings/Documentation import modules have missing i18n tokens. Add tokens where relevant, and move the English translation strings into en.i18n.js

[2016-09-12 11:00] brylie opened #1558 "Deprecate FlashMessages package"
We are currently using two modules to display messages to users:

- FlashMessages
- sAlert

Deprecate the FlashMessages module in favor of sAlert

[2016-09-12 11:01] #1511 closed

[2016-09-12 11:05] marla-singer commented on #1536
@bajiat It was problem on my side, not in project. Please close thie issue like not relevant

[2016-09-12 11:10] #1553 closed

[2016-09-12 11:11] brylie opened #1559 "Enable internationalization for sAlert prompts"
There are a few sAlert strings in our UI that are not internationalized. Find sAlert prompts that lack i18n tokens, add the tokens, and move the UI strings into the `en.i18n.js`.

[2016-09-12 11:12] Nazarah commented on #1490
thanks @marla-singer for the instant wireframe. :)

[2016-09-12 11:13] #1540 closed

[2016-09-12 11:22] #1536 closed

[2016-09-12 11:27] jykae commented on #1514
@bajiat @brylie About open issue: Do we keep 3rd party Mailgun still around if admin does not have existing mail server to use?

[2016-09-12 11:36] jykae commented on #1514
@Nazarah Fields we need for mail setup "username", "password", "SMTP host", "SMTP port" based on smtp://USERNAME:PASSWORD@HOST:PORT/
from https://docs.meteor.com/api/email.html

[2016-09-12 11:42] brylie commented on #1514
Jep. Deprecate the Mailgun module, if possible. [Mailgun can be used via SMTP](https://documentation.mailgun.com/quickstart-sending.html#send-via-smtp).

[2016-09-12 12:02] shaliko commented on #1201
@bajiat 1) For OAuth2 protocol we can have few scenarios of authentication, I suppose we no need support all of them?:

a) "Grant Type: Authorization Code": User redirects to API website and see what kind of credentials and to which app he will give access.
b) "Grant Type: Implicit": used for mobile apps.
c) "Grant Type: Resource Owner Password Credentials": By username and password.
d) "Grant Typ

[2016-09-12 12:47] saralavanip opened #1562 "User not notified if details missing/invalid while saving the proxy settings"
Steps:
1.Visit https://nightly.apinf.io
2.Create account clicking on 'Sign up'
3.Add API Backend
  - Enter API name
  - Click on 'Add API'

4.Go to 'Catalog' and click on 'My APIs' tab
5.Click on API added above
6.Click on 'Proxy'
    - Enter invalid proxy base path / keep the text field empty
    - Enter API base path (eg. / )

7.Click on 'Save proxy settings' button
8.Go to 'Details' view

Findi

[2016-09-12 14:14] bajiat commented on #1360
@marla-singer Hi, can you let us know what is your status with tasks #1360 and #1490?

[2016-09-12 16:11] marla-singer commented on #1360
@bajiat Task #1490 is ready and expected review. I have some questions about this task and want to discuss in chat

[2016-09-13 06:07] Nazarah commented on #1514
@jykae : in https://nightly.apinf.io/settings, there is a pane called "Mail". Are we going to replace this existing pane with "SMTP Settings"? or we should keep both?
![image](https://cloud.githubusercontent.com/assets/17976243/18463275/829eb45a-7991-11e6-87bc-cbd792678e46.png)

[2016-09-13 06:45] Nazarah commented on #1514
@jykae Wireframe is available. Please review and give your feedback

[2016-09-13 08:28] jykae commented on #1514
@Nazarah I would keep the panel title "Mail" and yes, let's replace the mail panel with new fields.
How about the contact form? Do we want enable it automatically for front page when mail settings are enabled, or provide on/off toggling for that?

[2016-09-13 08:30] saralavanip opened #1565 "Anonymous user unable to view API details from homepage or Catalog view"
Steps:
1.Visit https://nightly.apinf.io
2.Click on 'Catalog'
3.Select and click on API

Actual Result: Shows empty page with spinner rotating indefinitely
Expected Result : Selected API details must be available for the anonymous users.

Browser: Google Chrome 52.0.2743.116

Operating System: Ubuntu 16.0 LTS

Screenshot:
![empty_api_view](https://cloud.githubusercontent.com/assets/13309358/1846663

[2016-09-13 08:51] saralavanip opened #1566 "'Add backlog item' not working"
Steps:

1.Visit https://nightly.apinf.io
2.Sign up
3.Add API Backend
4.Go to 'Catalog' and click on API added above
5.Go to 'Backlog' view and click on 'Add backlog item'
6.Enter Title, Details and Priority
7.Submit form by clicking on 'Add backlog item'

Expected Result: Successful in adding 'Backlog item'
Actual Result: Backlog item not added after submitting the form

Browser:
1. Mozilla Firefo

[2016-09-13 09:16] saralavanip opened #1567 "API key partly shown when clicked on 'Get API key' tab"
Steps:

1.Visit https://nightly.apinf.io
2.Sign up
3.Add API Backend
4.Go to 'Catalog' and click on API added above
5.Click on 'Get API' key

Findings:
-  'Copy API Key' tab appears and API key is partly shown
- Click on 'Copy API Key' shows multiple successful dialogs

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2. Google Chrome 52.0.2743.116

Operating System:

[2016-09-13 09:18] marla-singer commented on #1566
@apinf/core It doesn't work because of incorrect request to collection https://github.com/apinf/platform/blob/develop/apis/client/view/view.js#L60
I'm going to prepare PR

[2016-09-13 10:02] saralavanip opened #1570 "User unable to upload API documentation"
Steps:

1.Visit https://nightly.apinf.io
2.Sign up
3.Add API Backend
4.Go to 'Catalog' and click on API added above
5.Go to 'Documentation'
6.Click on 'Manage'
7.Upload document by clicking on 'Choose file'

Expected Result: Successful in uploading API document
Actual Result: User unable to upload the API document.

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2.

[2016-09-13 10:09] saralavanip commented on #1531
Reported issues:
#1562
#1565
#1566
#1567
#1570

[2016-09-13 10:23] preriasusi opened #1571 "API document upload help text out of date"
Go to api catalogue as admin.

Go to documentation.

Click manage

Check help text of 'Upload documentation'

It says: 'You can also choose to create a new documentation for your APIs using swagger at our own server '.

I don't think Apinf has anything to generate Swagger documentation at the moment.

[2016-09-13 11:53] brylie commented on #1514
For simplicity, lets provide a toggle for contact form as an enhancement task. For now, the contact form should be disabled until *Mail* settings are configured.

@bajiat thoughts?

[2016-09-13 12:18] #1566 closed

[2016-09-13 12:29] brylie opened #1572 "Contact form not working"
The contact form code does not correctly use our send mail settings. Update the contact form code to get the correct settings from our Settings collection.

[2016-09-13 13:33] bajiat commented on #1571
@preriasusi Let's check whether we would be able to change this when proofreading the English UI texts. Should be possible, if the help text is included in the i18n file.

[2016-09-13 13:36] bajiat commented on #1538
@preriasusi It is possible to hightlight the key and copy it from browser without using the button, so there is at least a workaround for this.

[2016-09-13 16:56] philippeluickx commented on #1137
Awesome!

[2016-09-14 05:25] #1541 closed

[2016-09-14 07:30] jykae commented on #1514
Status: Got mail working, fields added yesterday. Will finetune UI today, and push commits upstream to related PR, https://github.com/apinf/platform/pull/1561

[2016-09-14 07:33] jykae commented on #1123
Status: Will work today with this after SMTP settings issue. Including changes in Email improvements PR https://github.com/apinf/platform/pull/1561

[2016-09-14 08:08] bajiat commented on #1360
Here is my suggestion for replacing the host
1. Check if there is a host
2. Check if it the same as API host in API collection/schema
If not, do nothing (this is the case that they might be connecting to staging or equivalent)
If yes, check whether the API is connected to a proxy
3. If connected to a proxy, replace the host and the basePath
with Proxy host and proxy base path from API backend coll

[2016-09-14 08:26] bajiat commented on #1479
@frenchbread This issue seems to be in progress, but does not have any PR associated to it. Can you inform us about the status? Thanks!

[2016-09-14 08:28] #1572 closed

[2016-09-14 08:29] #884 closed

[2016-09-14 08:31] bajiat commented on #1507
@nnn We had a discussion around this task and realized it needs to be possible to edit the username. We don't necessarily have a username (e.g. for users logged in with Github). Also, I came across a scenario where I would have wanted to change the username for a user created for a customer. So it would seem best to fix the original bug with user name editing after all. Can you investigate and giv

[2016-09-14 08:32] bajiat commented on #1385
@nnn What is the status for this task? #1233 is closed.

[2016-09-14 08:33] bajiat commented on #1387
@nnn What is the status of this task?

[2016-09-14 08:33] bajiat commented on #622
@nnn What is the status?

[2016-09-14 09:15] saralavanip commented on #1508
Verified resolved issue in local develop environment and https://nightly.apinf.io.

[2016-09-14 09:17] saralavanip commented on #1566
Verified this resolved issue in local develop environment.

[2016-09-14 09:34] brylie opened #1575 "Remove editApi component"
Since refactoring the Api module, we no longer use the `editApi` sub-component. Remove the `editApi` sub-component including routing and i18n.

[2016-09-14 09:34] saralavanip opened #1576 "Delete API logo not working"
Steps:
1.Visit https://nightly.apinf.io
2.Sign up
3.Add API Backend
4.Go to 'Catalog' and click on API added above
5.Go to 'Settings'
6.Upload API logo
7.Delete API logo by clicking on 'trashcan' sign
8.Click on 'OK' for user confirmation

Expected Result: Successful in deleting API logo
Actual Result: User unable to delete API logo

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Can

[2016-09-14 09:38] brylie opened #1577 "Replace i18n hyphens with underscores"
We decided, at one point, to use underscores in our i18n keys. This may have been due to a limitation of the TAPi18n library at the time. In any case, we are mixing hyphens and underscores in our i18n keys.

Rename all i18n keys to contain underscores instead of hyphens, to the extent possible.

[2016-09-14 09:42] brylie opened #1578 "Remove `manageApis` component"
After refactoring the Apis module, and with recent Catalogue re-design, the `manageApis` sub-component is no longer used. Remove the `manageApis` sub-component, route, and i18n.

[2016-09-14 10:01] brylie opened #1579 "Update Settings schema i18n strings"
The Settings schema i18n strings do not reflect the current Settings schema structure. Remove unused i18n strings and update based on existing Settings schema.

[2016-09-14 10:07] #1490 closed

[2016-09-14 10:21] #1483 closed

[2016-09-14 10:35] brylie opened #1580 "Update LICENSE file to contain proper attribution"
Our [LICENSE file](https://github.com/apinf/platform/blob/develop/LICENSE#L3) currently contains the following text:

This is a remnant of our boilerplate, and needs to be updated to reflect the actual Copyright owner.

[2016-09-14 10:47] jykae commented on #1123
@philippeluickx Thanks for links they were helpful.

[2016-09-14 10:55] #936 closed

[2016-09-14 10:55] #1556 closed

[2016-09-14 10:55] #1557 closed

[2016-09-14 10:55] #1558 closed

[2016-09-14 10:55] #1559 closed

[2016-09-14 10:55] #1575 closed

[2016-09-14 10:55] #1577 closed

[2016-09-14 10:55] #1578 closed

[2016-09-14 10:55] #1579 closed

[2016-09-14 11:18] marla-singer commented on #1576
Fix this issue. The problem was due to the old variable name "apiBackend"

[2016-09-14 11:21] saralavanip opened #1583 "Click on 'Search' icon closes search field"
Steps:

1.Visit https://nightly.apinf.io
2.Login
3.Go to 'Catalog'
4.Click on 'Search' icon (magnifying glass sign)

Expected Result: It must show up search field for the user to enter search word
Actual Result: Click on 'Search' icon closes search field

Browser:
1. Mozilla Firefox 48.0
(Mozilla Firefox for Ubuntu Canonical – 1.0 )
2. Google Chrome 52.0.2743.116

Operating System: Ubuntu 16.0 LTS

[2016-09-14 11:25] saralavanip commented on #1531
Verified resolved issue #1566 in local develop environment.

[2016-09-14 11:39] frenchbread commented on #1479
@bajiat I have not pushed the changes yet.

Simply populate APIs to selecbox did not work, since proxyBackends (endpoint data) do not have helpers for permission check attached. So it's open question how to do that? (Fetching related API backend and checking permissions by `created_by` field?)

Also what URL should be used for API calls? I've tried the old way (`https://<host>/api-umbrella/<fronte

[2016-09-14 14:53] frenchbread opened #1585 "Add eslint rule to ignore '_id'"

[2016-09-14 20:04] #1576 closed

[2016-09-14 21:10] nnn commented on #1387
@bajiat PR is ready for review.
I have removed all instruction text because I think it's not need here at all.
All usage instruction can be placed by owner at a) description field b) documentation tab.
Added test call button, which is shown if proxy is selected and API key is available.
Helper constructs test call URL from BaseUrl + ?api_key= + API key.

[2016-09-14 22:35] nnn commented on #1385
@bajiat PR is ready for review.

[2016-09-15 06:25] #1551 closed

[2016-09-15 07:21] brylie commented on #1479
We can rely on the `Apis.currentUserCanEdit()` helper for the permissions check. In effect, a proxy backend seems to share the permissions with the API, so we don't need to duplicate the code.

[2016-09-15 07:23] brylie commented on #1479
We will need to either:

- get analytics data directly from the `elastic.host` address
- get analytics data via the API Umbrella Admin API - drilldown analytics endpoint

Are you using the Elasticsearch URL for the analytics?

[2016-09-15 07:41] bajiat commented on #1479
@shaliko Could the changes  in nightly be breaking Damir's dashboard? Additionally, he cannot even make an API call.

[2016-09-15 07:44] brylie commented on #1479
You will still make calls to the same URL pattern.

The problem may be that the API Backend has not been added to API Umbrella. As it stands, 'ProxyBackends' are currently only stored in Apinf, with work underway to also save them in API Umbrella.

[2016-09-15 08:37] #1585 closed

[2016-09-15 08:58] Nazarah opened #1587 "Indicate that an added API is pending for admin approval"
When an API owner adds an API, it gets pending for admin approval to be available in catalog. API Owner should be able to know this when he is navigated to API profile and continues to customize it. API owner should also get notified when his API is approved.
# User Story

# Definition of Done

(possible suggestions)
- [ ] in API Profile, "Admin Approval Pending" text appears at top view.
- [ ] on

[2016-09-15 09:09] saralavanip opened #1588 "Upload Swagger document shows error"
Steps:

1.Visit https://nightly.apinf.io
2.Sign up
3.Add API Backend
4.Go to 'Catalog' and click on API added above
5.Go to 'Documentation'
6.Click on 'Manage'
7.Upload document by clicking on 'Choose file'

Expected Result: Successful in uploading Swagger document
Actual Result: Uploaded Swagger document shows error: " Swagger document is not valid "

Browser:
1. Mozilla Firefox 48.0
(Mozilla Fir

[2016-09-15 09:14] marla-singer commented on #1588
@saralavanip Could you please give me the file which you uploaded?

[2016-09-15 09:21] saralavanip commented on #1588
@marla-singer , Here is the weblink (swagger files used for testing) http://editor.swagger.io/#/

[2016-09-15 09:23] marla-singer commented on #1588
@saralavanip Thank you

[2016-09-15 09:37] saralavanip commented on #1576
Verified this resolved issue in local develop environment.

[2016-09-15 11:14] brylie opened #1589 "Improve project documentation (i18n, TOC, installation)"
Our project documentation can use the following improvements:

- Add internationalization instructions to CONTRIBUTING.md.
- Add table of contents to CONTRIBUTING, INSTALLING, and README
- Move installation instructions to INSTALLING

[2016-09-15 11:24] #1589 closed

[2016-09-15 11:30] jykae opened #1591 "Github settings are not enabled when editing Settings"
This function https://github.com/apinf/platform/blob/develop/settings/server/github_configuration.js#L4 does not get called when Settings are saved.

I think it should be called in autoform hook for Settings form https://github.com/apinf/platform/blob/develop/settings/client/autoform.js

This leads to behaviour where Sign Up form always shows "Configure Github".

[2016-09-15 11:45] brylie commented on #1387
The instruction text is an important part of this task. We basically want to give brief instructions on how to call the API in the following ways:

- GET - using proxy URL or API url
  - if proxy url: append the base path + user `api_key` query parameter
- post - an example of using POST with the user `api_key` as a header

Be sure to refer to the API Umbrella documentation for an example of how t

[2016-09-15 11:46] brylie commented on #1387
There is no need for a 'try it out' button here. The task is only to create usage instructions.

Ping: @bajiat @preriasusi

[2016-09-15 11:48] brylie commented on #1387
For simplicity, we are only covering standard GET/POST requests. I.e. we will not provide language/framework specific usage examples.

[2016-09-15 12:36] #1507 closed

[2016-09-15 14:52] #1385 closed

[2016-09-16 03:32] #1591 closed

[2016-09-16 03:34] #1525 closed

[2016-09-16 08:36] saralavanip opened #1595 "'Date created' not updating in catalog view"
Steps:
1,Visit https://nightly.apinf.io
2.Sign in as API owner
3.Go to 'Catalog' view
4.Sort by 'Date created'

Findings:
- Shows the 'Date created' details text "Added a few seconds ago" for all APIs in the list.

Expected Result: Sort by 'Date created' must show correct details when created for respective APIs.

Browser:
1. Mozilla Firefox 48.0
2. Google Chrome 52.0.2743.116

Operating System: U

[2016-09-16 09:22] #1583 closed

[2016-09-16 09:37] nnn commented on #1583
@saralavanip please confirm.

[2016-09-16 11:16] philippeluickx commented on #1123
@jykae glad it helped!

[2016-09-16 11:20] #1493 closed

[2016-09-16 11:29] shaliko commented on #1201
### For case when we need support OAuth2 Authorization/Authentication for API backend which already support OAuth2.

#### Pros and Cons for implement Authorization on platform side

After research options where we need implement OAuth2 Authorization. Will be much better implement it on "platform" side. That will give us more flexibilities for support any number api-prixies, without have OAuth2 Aut

[2016-09-16 11:52] brylie opened #1596 "Navbar 'proxyPublicDetails' subscription is polluting other views"
The 'proxyPublicDetails' publication is used in the *navigation menu* and *API profile view* to control visibility. Both of these templates simply need a count of proxies, rather than any other proxy details.

Add the 'percolatestudio:publish-counts' package and a 'proxyCount' publication, then use the publication on relevant views.

[2016-09-16 12:17] brylie opened #1598 "Fix navigation menu 'home' link when no logo is availale"
The navigation menu contains a title text that should link to the home page. The link does not work. Fix the href, so that clicking the site title takes the user to the home page.

[2016-09-16 13:22] #1479 closed

[2016-09-19 07:39] brylie commented on #1445
I have started working on this task, but quickly encountered trouble when trying to import Bootstrap Tour:

- https://github.com/sorich87/bootstrap-tour/issues/570

I will try a different library, while this issue hopefully is discussed/resolved upstream.

[2016-09-19 09:08] #1477 closed

[2016-09-19 09:08] #1598 closed

[2016-09-19 11:13] preriasusi commented on #1387
I agree with @brylie. This instruction text should tell basic info how to call api. When arrives to api page for the first time, he/she finds the url of the api. He/she should also know how can he/she call the api, meaning how to give API key. The endpoints, test calls and code examples/snippets should go to documentation tab.

[2016-09-19 12:44] marla-singer commented on #1588
@bajiat Can't repeat these error on localhost. Also can't test it on the nightly because uploading doesn't work for non-admin user

[2016-09-19 12:48] bajiat commented on #1588
@marla-singer Uploading works / should work for both admin and for API
owner in nightly. You can become and API owner, by adding an API. After
that, upload the doc.

2016-09-19 15:44 GMT+03:00 Daria Voytova <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-09-19 12:54] marla-singer commented on #1588
@bajiat I have the console error when I try to upload file
`File creation failed!`
[code]

[2016-09-19 12:56] bajiat commented on #1588
@brylie Any ideas?

[2016-09-19 13:18] bajiat commented on #1510
@nnn What is the status of this task?

[2016-09-19 22:09] nnn commented on #1510
@bajiat started working on it, have a PR opened. Planning on finishing it during Tuesday.

[2016-09-19 22:11] nnn commented on #1387
@bajiat, @preriasusi, @brylie got it. Working on it.

[2016-09-20 06:39] bajiat commented on #1387
Agree with the comments above. This is just user instructions, and should not contain functionality to call the API (ie. Try out button), because the base URL should not return anything.
It should be enough to describe how to use the API key in context with this API. Also, would select one of the methods, perhaps using API key in the header, if that is the more secure way to pass the key.

[2016-09-20 08:01] preriasusi commented on #1504
Ready to localise in OneSky.

[2016-09-20 08:35] brylie commented on #1588
@marla-singer it seems like there is a collection **allow/deny** rule that is not allowing your Meteor user to upload to the collection. Double check the [`DocumentationFiles` permissions.js](https://github.com/apinf/platform/blob/develop/documentation/collection/server/permissions.js#L4-L5) related to insert.

It may be that the insert rule needs to check whether the `Api.currentUserCanEdit()` re

[2016-09-20 08:42] brylie commented on #1387
Help text could, for instance, say:

We can refine the text, but this is the basic pattern.

[2016-09-20 08:51] preriasusi commented on #1387
That should do it.

[2016-09-20 10:59] philippeluickx commented on #987
There are 2 libraries that provide this functionality, the former seeming a bit more complete:
- https://github.com/dzdrazil/swagger-mock-api
- https://github.com/bulkismaslom/swagger-api-mock

Or through configuration of Swagger: https://github.com/swagger-api/swagger-node/blob/master/docs/mock-mode.md

[2016-09-20 11:18] philippeluickx commented on #1387
Are we using the correct terminology here?
Let's say https://maps.google.com/api/v1/locations/finland?api_key=123

host = maps.google.com or maps.google.com/api/v1 ?
? = /api/v1
base path = /api/v1/locations/finland or just /locations/finland ? (or is this called endpoint?)

Based on [https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL](Mozilla), there is other terminolog

[2016-09-20 11:26] brylie commented on #1387
Host and 'basePath' come from the [Open API Specification](http://swagger.io/specification/):

[2016-09-20 11:31] brylie commented on #1387
Terminology aside, the `<host>`, `<base_path>`, and `<user_api_key>` placeholders should be replaced with actual values, specific to the Proxy (host), ProxyBackend (frontend prefix), and user (API key).

[2016-09-20 12:21] philippeluickx commented on #1387
Ok, Open API specs are a good ref indeed.
However, after the base_path you would still need something like the "resources" as Apigee calls it? I consider the base_path as being the /api/v1 part (I could be wrong of course)

[2016-09-20 13:34] jykae commented on #1588
I got the same error while reviewing PR https://github.com/apinf/platform/pull/1600, but could not yet catch the steps to reproduce.

[2016-09-20 14:43] shaliko commented on #1588
Today in debug session we found in logs issue with upload files. We update Nginx docker image (with fix https://github.com/smashwilson/lets-nginx/pull/17) on nightly.apinf.io, let's re-check that issue fixed.

If fix helped, I will update general docker-compose settings.

[2016-09-21 06:24] Nazarah commented on #1445
@brylie : as you recommended I looked with http://introjs.com/, and it seems well.
We can use the style "progress bar" with it.
But I was wondering that is it possible to use the "hint style" for scenario 2.
Because based on my understanding, the tour navigates you to different part of a page without requiring any action from the user in the actual webpage.
But according to scenario 2. (3rd wirefr

[2016-09-21 07:01] preriasusi commented on #1430
I think this is not valid anymore.

[2016-09-21 07:27] preriasusi commented on #1489
1.0  Only allow API owner to  limit catalogue visibility for users on Apinf side.
    Estimation: 5
    (Possible before MIndTrek)

2.0 Allove API owner to control developers who can make calls on proxy level:
    Estimation: ?
   Study story needed.

[2016-09-21 07:30] preriasusi commented on #1486
Admin's invitation option in another task.

[2016-09-21 07:44] preriasusi commented on #1488
The point to limit that anyone can't add anykind of API can be in other way also: To limit only Admin to be able to add API.  Estimation for that is 3.

[2016-09-21 07:56] #1220 closed

[2016-09-21 07:59] #1360 closed

[2016-09-21 08:51] brylie commented on #1445
but in actual case, the proxy tab has not appeared yet in the profile as the admin has not added anything in setting page.
So my question is, can we implement this scenario? other wise I can redesign it, s,t. it stays in the same profile page all the time

@Nazarah lets move the second scenario into a 'Guided tour for Apinf administrators' task, where we can show a new administrator how to configu

[2016-09-21 08:52] brylie commented on #1445
@Nazarah thanks for your feedback on the visual appearance of the tour. I have used the brand primary color to indicate the current step, with help from @nnn.

@Nazarah Relatedly, I would like to add the **Quick tour** button as part of this task, as you suggested. One open question, what FontAwesome icon might be good for the **Quick tour**button?

http://fontawesome.io/icons/

[2016-09-21 09:59] brylie commented on #1387
I mixed up the terminology, as there are quite a lot of similar words.

The `frontend_prefix` comes from API Umbrella, and is [part of our ProxyBackend.apiUmbrellaSchema](https://github.com/apinf/platform/blob/develop/proxy_backends/collection/apiUmbrellaSchema.js#L41).

Basically, we want to construct a URL for the end user with the following structure:

[2016-09-21 10:07] #622 closed

[2016-09-21 10:14] #1123 closed

[2016-09-21 10:14] #1514 closed

[2016-09-21 10:25] #1532 closed

[2016-09-21 10:25] #1596 closed

[2016-09-21 10:29] brylie commented on #1387
The current work on the usage instructions looks nice:
![screenshot from 2016-09-21 13-26-41](https://cloud.githubusercontent.com/assets/17307/18707543/4247bdec-7fff-11e6-9bd7-ebf962f3ef63.png)

However, we are still missing key points in the definition of done.

Please provide a valid URL in the usage instructions, with actual values for:
- host (proxy host)
- frontend prefix (proxy backend front

[2016-09-21 10:35] marla-singer opened #1605 "Users can't view non-owner api"
Users can't view the api page, which they are not the owners. Is it bug or feature?

Step to reproduce:
1. Create the new user without administrator roles
2. Go to [https://nightly.apinf.io/api/AfYunEcjD3QaEb5D7](my api view)

Found result: Spinner always switch on and api view isn't showed

Expected Result: Api view must be showed

[2016-09-21 11:18] brylie opened #1607 "API Proxy form missing Proxy data"
The Proxy form on the API view is missing data to needed for the form. A regression was introduced into develop recently. Fix the regression by subscribing to public proxy details.

[2016-09-21 11:25] #1607 closed

[2016-09-21 11:38] marla-singer commented on #1430
@preriasusi On my opinion, this task isn't relevent. Because Swagger was implemented as npm package on project and we don't use files from "public/swagger" anymore

[2016-09-21 11:54] #1484 closed

[2016-09-21 12:37] marla-singer commented on #1519
@nnn @brylie I think I understood why it's so.
When server methods removes the api data, we're staying on the api page. After removing the api view  pulls the updated data because of the subscription. No data -> error console. So I decided we must first go to the catalogue and then call server method

[2016-09-21 17:02] #1387 closed

[2016-09-22 06:54] jykae commented on #1436
@bajiat @brylie What releases/database versions we need to provide database migration to new release structure? staging, apika, anything else?

[2016-09-22 07:36] philippeluickx commented on #1436
We need to really see the trade-off for data migrations for the latest refactor. If it takes less time to recreate the data somehow (or even do some data migrations straight in the DB), then I would suggest to do just that.

But after this release on we should provide data migrations...

[2016-09-22 07:49] jykae commented on #1436
@philippeluickx well, that would be relief, and save me from some headache, if documenting the breaking changes would be just enough, and we would provide migration path AFTER these big changes. I could bring this up in daily, what others think.

[2016-09-22 07:52] philippeluickx commented on #1436
Yes, please discuss in daily. Also +1 in documenting the breaking changes and maybe also state somewhere clearly that as of (current version) data migrations will always be provided.

[2016-09-22 09:17] brylie opened #1611 "Documentation viewer help text i18n token mismatch"
The documentation viewer help text is not rendering properly.
![screenshot from 2016-09-22 12-14-35](https://cloud.githubusercontent.com/assets/17307/18742712/60dbe368-80be-11e6-8168-590c77327e94.png)

There is probably a mismatch with the i18n key, from the language files. Fix the documentation viewer help text i18n keys/translation strings.

[2016-09-22 09:19] brylie opened #1612 "Copy API Key success alert appearing twice on click"
When clicking the *copy API Key* button on the API view, the success alert appears twice:

![screenshot from 2016-09-22 12-17-53](https://cloud.githubusercontent.com/assets/17307/18742792/bbc489a6-80be-11e6-9946-beed639399d0.png)

Determine why the alert appears twice, and fix the issue.

[2016-09-22 09:20] marla-singer commented on #1612
@brylie Interested

[2016-09-22 09:52] brylie opened #1613 "Add help/about modal and button on navbar"
Add a help button to the navbar. When the button is clicked, show an 'About Apinf' modal. Add links to the project sourcecode, documentation, and a list of libraries used.

[2016-09-22 10:02] #1472 closed

[2016-09-22 10:41] jykae commented on #1436
@philippeluickx We decided that I investigate first database/schema changes between 0.2.28 -> current develop & give some estimation of the work. We might not need to provide migration path for custom Apika fork, so that makes it a bit more possible to handle this.

[2016-09-22 11:17] Nazarah commented on #1190
scenario 2 help text:
You can have multiple customized request limit settings for your API. Customization can be based on API Key or specific IP address an can be duration specific. For multiple customization options, you should select one as primary settings.

[2016-09-22 11:58] brylie commented on #1519
@marla-singer please link this issue to the related PR by adding the following line to the PR description:

[2016-09-22 12:01] #1612 closed

[2016-09-22 12:04] #1509 closed

[2016-09-22 12:13] #1519 closed

[2016-09-23 06:49] #1450 closed

[2016-09-23 06:49] #1550 closed

[2016-09-23 07:14] jykae commented on #1436
@philippeluickx I read about scripting Mongo yesterday & last evening, maybe we could do this bigger change also that way https://blog.kevinchisholm.com/javascript/mongodb/getting-started-with-mongo-shell-scripting-basic-crud-operations/ Maybe that is what you were going to suggest?
It's plain JS that we can feed to mongo shell.

[2016-09-23 07:27] brylie commented on #1436
Preferably, the JS code would run automatically when Meteor starts. That way, administrators don't have any manual steps required when upgrading, other than deploying the latest version. That is the strategy percolate:migrations offers -- we automatically run our migration code to the latest version when starting the app.

[2016-09-23 07:33] brylie commented on #1436
@shaliko is there a way to hook in to the Docker deployment lifecycle to automatically execute some script(s) in MongoDB shell?

[2016-09-23 07:36] brylie commented on #1436
@jykae after reviewing that article, I notice the code looks very similar to what we would write if we used [mongodb-migrations](https://www.npmjs.com/package/mongodb-migrations). However, using *mongodb-migrations* gives us a higher level API that is specifically related to migrating database structure, as opposed to hacking together migration scripts.

What do you think would be difficult about

[2016-09-23 07:40] bajiat opened #1615 "Limit visibility of API to certain users"
Allow API owner to limit catalog and API profile visibility of an API to certain users.

# User story

I want to restrict the visibility of my API to certain users
so that I can publish my API e.g. to partners
but to keep it hidden from the general public

[2016-09-23 07:53] bajiat opened #1616 "Allow only administrators to add APIs to a deployment"
The point to limit that anyone can't add any kind of API can be in other way also: To limit only Admin to be able to add API.

# Definition of done
* [x] There is a setting where admins can select that only admins can add APIs in this deployment.
* [x] When admin has selected this admin only setting
  * [x] The link to Add API is not visible to other type of users than admins.
  * [x] Other users

[2016-09-23 08:00] marla-singer commented on #1611
@brylie Interested

[2016-09-23 08:02] bajiat commented on #1611
@marla-singer Go ahead and take this

[2016-09-23 08:13] #1430 closed

[2016-09-23 08:14] bajiat commented on #1365
@marla-singer Is this fixed by your implementation? Can we close the issue? Could you verify it?

[2016-09-23 08:25] bajiat opened #1618 "Include star rating widget in API profile and Catalog"
Reintroduce star rating into platform. Needs to be visible and editable in API catalog and API profile.

# Definition of done
* [x] Bookmarking icon and terminology needs to be distinct from star rating
  * [x] Bookmarking is called bookmark, icon can be freely chosen
  * [x] Rating uses star metaphor in icons, terminology refers to rating
* [x] Star rating is visible in Catalog (both card and tab

[2016-09-23 08:26] bajiat commented on #1618
@Nazarah: Wireframe needed refers to bookmark icon and placement of bookmark and star rating in catalog and API profile

[2016-09-23 08:27] jykae commented on #1436
@brylie Well, it's not that much higher-level imho, it uses official native MongoDB API. Main difference is would we like to do it as migration or not ie. keep track of run scripts & DB version. I could take a look at mongodb-migrations way of doing this, and call migrations to run on startup, if that's the way wanted.

I had some problems with configuring & running that mongodb-migrations previou

[2016-09-23 08:27] marla-singer commented on #1365
@bajiat I will verify it and write you about status of this issue: actual or not

[2016-09-23 08:32] #1443 closed

[2016-09-23 08:35] bajiat commented on #1434
@brylie Reference this issue in your PR for user tutorial

[2016-09-23 08:36] bajiat opened #1619 "Audit translation tokens"
Go through the en. i18n.json file. Make a project-wide search and check that each token is used. If a token is not used/found, remove the token.

[2016-09-23 08:37] bajiat opened #1620 "Update round for translations"
Proofread and translate any texts added after previous localisation round.

Check the following
* Dashboard > Siirry palveluun

[2016-09-23 08:44] bajiat commented on #1588
@marla-singer @shaliko Was the issue fixed? Is an update to docker-compose needed?

[2016-09-23 08:46] bajiat commented on #1570
@marla-singer Could this be related to #1588?

[2016-09-23 08:47] marla-singer commented on #1588
@bajiat Could you give me or Shaliko admin role for testing?

[2016-09-23 08:48] bajiat commented on #1567
@saralavanip Showing the key only partly in the UI is a feature.

[2016-09-23 08:51] bajiat commented on #1565
Possibly related to #1605.

[2016-09-23 08:53] bajiat commented on #1562
@brylie Can you verify if there is a bug?

[2016-09-23 08:54] bajiat commented on #1498
Could not reproduce. Closing the issue.

[2016-09-23 08:54] #1498 closed

[2016-09-23 08:57] bajiat commented on #1549
Version number implement in About window. This issue can be closed.

[2016-09-23 08:58] #1549 closed

[2016-09-23 08:59] #1544 closed

[2016-09-23 09:04] bajiat opened #1621 "Update Clipboard.JS"

[2016-09-23 09:19] brylie commented on #1436
---

Yes, the database code is almost the same. The *migration* related API would provide a “[via ferrata](https://en.wikipedia.org/wiki/Via_ferrata)” to safely move from version to version.

Lets pair program to try out either or both of the migration frameworks under discussion.

# Related
- [The Strange Brain of the World’s Greatest Solo Climber](http://nautil.us/issue/39/sport/the-strange-brai

[2016-09-23 09:42] jykae commented on #1436
@brylie Nice article.
“I’ve always preferred not to look inside the sausage,” he says. “Like, if it works, it works. Why ask questions about it? But now I feel like I’ve sort of stepped past that.” :)

[2016-09-23 09:50] #1611 closed

[2016-09-23 10:05] brylie commented on #1562
We can also verify this as part of @nnn's task, working with unique frontent prefixes.

[2016-09-23 10:24] marla-singer commented on #1570
@bajiat Yes, a part of. I can't repeat bug #1588 on nightly because of this task. But correct work of Swagger doesn't depend of correct work uploading file.

[2016-09-23 10:32] #1434 closed

[2016-09-23 10:32] #1445 closed

[2016-09-23 10:32] #1613 closed

[2016-09-23 13:00] jykae commented on #1436
Got mongodb-migrations conf working, and simple run up working with CLI. Last step will be to add it in startup.

[2016-09-23 13:17] bajiat opened #1622 "UI for making API private for a user group"
In addition to being able to select between private and public, owner should be able to select that the API is public/visible to certain users: "private to a group".

# Definition of done
* [x] In the API profile, the owner can select that the API is private to a group.
* [ ] In the API Catalog, the owner can see an indication of
  * [ ] completely private API
  * [ ] API being partially provate (

[2016-09-23 13:22] bajiat opened #1623 "UI for adding users to user group allowed to see closed API"
# Definition of done
* [ ] Owner can specify a list of users allowed to see the API by their email.
  * Open issue: What if the user is not registered to Apinf? Depends on if we are storing user email or their ID.
* [ ] Owner is able edit the list:
  * [ ] correct typos
  * [ ] change emails
  * [ ] add new people
  * [ ] remove people.
* [ ] There is a collection and schema for storing the allowe

[2016-09-23 13:29] bajiat opened #1624 "Visibility of API that is private for a user group"
# Definition of done
* [x] If the API is visible to a group, only those people can
  * [x] see the API in the catalog
  * [x] see the API profile page
* [x] If an unauthorized user has the direct link to the API profile, they must see a 403 .

# Wireframe

1. API Catalog Card View
![apicatalogprivate](https://cloud.githubusercontent.com/assets/17976243/19040921/c4b100ca-898e-11e6-98f1-4877e5b6287e

[2016-09-23 13:56] nnn opened #1625 "Organize API Profile header"
I notice that we are adding new components to API Profile header and it starts to look clumsy.
### Proposition:

- [ ] Organize existing components, if needed move some components out from header
- [ ] Plan (ex. wireframe) position of future components based on backlog

[2016-09-23 14:06] bajiat opened #1626 "Make sure initial admin does not need to verify email"
If the first user in deployment (who is automatically an admin), enables the verification of email addresses, he/she will not be able to login again without also verifying his/her email. This is possible, because there is a resend verification email link or button, but it would make sense not to expect this from this user.

[2016-09-23 14:13] bajiat opened #1627 "Deleting an API needs to delete also Proxy backend"
If owner deletes an API from Apinf, proxy backends needs also to be deleted. Also, the corresponding API backend needs to be deleted from API Umbrella.

# Definition of done
- [x] Clicking 'Delete' on the API Profile: Settings tab deletes the Api from API Umbrella

[2016-09-23 14:19] bajiat commented on #1615
@brylie Can you check the tasks that have Closed APIs 1.0 label and are in planning? Are we missing a collection/schema?

[2016-09-23 14:19] bajiat commented on #1627
@brylie Can you provide details?

[2016-09-26 06:12] Nazarah commented on #1625
@nnn what are your ideas about making the improvements

[2016-09-26 06:16] Nazarah opened #1628 "Wireframe for "UI for making API private for a user group""
#1622

[2016-09-26 06:17] Nazarah opened #1629 "Wireframe for "UI for adding users to user group allowed to see closed API""
#1623

[2016-09-26 06:18] Nazarah opened #1630 "Wireframe for "Visibility of API that is private for a user group""
#1624

[2016-09-26 06:19] Nazarah opened #1631 "Wireframe for "Allow only administrators to add APIs to a deployment""
#1616

[2016-09-26 06:20] Nazarah opened #1632 "Wireframe for "Include star rating widget in API profile and Catalog""
#1618

[2016-09-26 06:31] Nazarah opened #1633 "Wireframe for "API gives 404 when the base URL responds with 200""
# 1386

[2016-09-26 06:32] Nazarah opened #1634 "Wireframe for "Allow users to create and edit Swagger files""
#1192

[2016-09-26 06:41] brylie commented on #1615
@bajiat #1623 is a good place to look at the collection/schema design. In effect, we have two likely options:

- store 'authorized users' or some similar array directly in the Api document
- create a 'authorization groups' collection with foreign key fields for 'authorized users' and 'Api'

We can also determine whether to stick to convention and store user ID, or what storing email addresses woul

[2016-09-26 06:43] brylie commented on #1627
@bajiat I added a single condition to the definition of done. This seems like a relatively minor task, in that it is only calling a method within the delete button within the 'delete API backend' method.

[2016-09-26 07:27] bajiat commented on #1562
@nnn Could you take this?

[2016-09-26 07:29] bajiat commented on #1190
@jykae Could you take this task? It's a high priority one and we would like someone who is around in the office.

[2016-09-26 07:31] bajiat commented on #1605
@frenchbread Would you be interested in this task?

[2016-09-26 07:32] bajiat commented on #1565
@frenchbread Possible duplicate.

[2016-09-26 07:33] bajiat commented on #1622
@nnn Would you be interested in this task?

[2016-09-26 07:36] bajiat commented on #1616
@frenchbread Would you be interested in this task?

[2016-09-26 07:37] bajiat commented on #1627
@jykae Would you be interested in this task?

[2016-09-26 07:37] bajiat commented on #1618
@nnn Would you be interested in this task?

[2016-09-26 07:39] bajiat commented on #1377
@nnn Can you verify that it can be closed if/while working with #1377

[2016-09-26 07:42] bajiat commented on #1533
@jykae This task is assigned to Brylie but can you mentor?

[2016-09-26 08:41] Nazarah opened #1635 "Finalizing APINF cards"

[2016-09-26 10:08] frenchbread commented on #1616
@bajiat self-assigned

[2016-09-26 10:09] frenchbread commented on #1565
@bajiat self-assigned

[2016-09-26 10:09] frenchbread commented on #1605
@bajiat self-assigned

[2016-09-26 12:39] bajiat opened #1636 "Sprint 32 exploratory testing"
# Definition of done
* [x] Check that dashboard is not available if there is no proxy
* [ ] Add the proxy settings for the platform
* [x] Check the new sidebar menu for settings
* [x] Add API 1 without connecting it to a proxy
* [x] Add API 2 and connect it to a proxy
* [x] Check the details page for API 1 and API 2: their base URL's should be different
* [x] Get an API key for API 1
* [x] Copy AP

[2016-09-26 13:09] frenchbread opened #1637 ""Quick tour" button misplaced"
![screen shot 2016-09-26 at 16 08 50](https://cloud.githubusercontent.com/assets/2122679/18835389/891d4df6-8403-11e6-9a3d-04b0296684f6.png)

[2016-09-26 14:32] #1531 closed

[2016-09-26 14:32] #1461 closed

[2016-09-26 23:43] Nazarah commented on #1616
@frenchbread : (from rocket chat, based on your sample wireframe)

Rename the header as "Access to API"

I think that in upcoming times, there would be other access privileges specific to roles.
So should any privilege for a role can be selected with radio buttons? with N - NONE, R - READ and W - WRITE accesses?
this could be added as a separate view called Role Privileges under Settings

[2016-09-27 07:19] jykae commented on #1621
Because new Safari 10+ support ? https://clipboardjs.com/

[2016-09-27 08:04] #1635 closed

[2016-09-27 09:03] philippeluickx opened #1639 "Add apinf.io to awesome-api"
The awesome lists are github repos that collect and organize other available libraries (there is even a meta awesome list: https://github.com/sindresorhus/awesome). I found one for APIs. We should discuss if and where we should place apinf.io on this list: https://github.com/Kikobeats/awesome-api

[2016-09-27 09:49] Nazarah commented on #1616
@frenchbread wireframes added as you suggested.
Also added the wireframe to arrange privileges specific to user roles.

[2016-09-27 09:58] #1631 closed

[2016-09-27 10:13] philippeluickx commented on #422
+1 this is still an issue. Should we at least hide that button for now as it is broken?

[2016-09-27 10:39] philippeluickx opened #1640 "Warning: Route dispatch never rendered. Did you forget to call this.next() in an onBeforeAction?"
Warning showing up in my console when navigating to the detailview of an API. Tested on nightly

Related?
http://stackoverflow.com/questions/26629835/meteor-v-1-0-and-ironrouter

[2016-09-27 10:41] philippeluickx opened #1641 "Error and warning on empty dashboard"
On nightly. Simply navigating to dashboard throws an error and a warning in console.
The text shows correctly on the page though:

[code]

[2016-09-27 10:43] philippeluickx commented on #1583
This is still an issue on staging, not sure if this fix got released already?

[2016-09-27 10:45] philippeluickx opened #1642 "Tableview of catalogue throws error in console"
On nightly. Go to catalogue, switch to tableview. Error message in console:

`GET https://nigtly.apinf.io/gridfs/ApiLogo/md5/c720157c0c8d49a3f7b4445dc9d8e7b0 net::ERR_NAME_NOT_RESOLVED`

[2016-09-27 10:47] philippeluickx opened #1643 "Clicking on "click here" to add API backend on empty dashboard does not work"
On nightly. When you have no API backends, there is this text:

Clicking on "click here" does nothing.

[2016-09-27 10:52] philippeluickx opened #1644 "Exception thrown when clicking on manage in documentation tab"
On nightly.
Add an API backend. Navigate to documentation tab. Click manage.
Console shows:

[code]

[2016-09-27 10:56] philippeluickx opened #1645 "Sending feedback throws error"
On nightly
Add an API backend. Navigate to feedback tab. Select send feedback. Start typing in the topic field. Console throws error:

[code]

The same is true for the "my message" field.

For the last field "message type" dropdown, we get this error in console:
[code]

[2016-09-27 10:58] philippeluickx opened #1646 "Unable to upload documentation file"
On nightly.
Add a new API backend.
Go to documentation tab. Select manage. Select a sample json file to upload.
Unable to upload documentation for an API I own:

[code]

[2016-09-27 10:59] philippeluickx opened #1647 "Incorrect info text"
On nightly.
Add an API backend. On documentation tab. Select manage. The help text in the modal says:

I am not sure how this works?

[2016-09-27 11:03] bajiat commented on #1647
@philippe There is an issue to change this text in localisation:
https://github.com/apinf/platform/issues/1571

2016-09-27 13:59 GMT+03:00 Philippe Luickx <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-09-27 11:04] philippeluickx opened #1648 "Multiple confirmation texts shown at once when copying API key"
On nightly.
Add 2 API backends. Navigate to the first one. Copy the API key by clicking on the green "get API key" button.

Navigate to the second API. Copy the API key. Notice you get the confirmation message shown twice.

Navigate back to the first API. Copy the API key. Notice you get the confirmation message shown 3 times.

Etc.

[2016-09-27 11:06] philippeluickx commented on #1646
Also unable to upload logo
[code]

[2016-09-27 11:07] bajiat commented on #1565
@frenchbread Will you check this and the related issue both in your dev environment (localhost) and on nightly (deployment)?

[2016-09-27 11:08] philippeluickx commented on #1647
Closing as a duplicate of https://github.com/apinf/platform/issues/1571

[2016-09-27 11:08] #1647 closed

[2016-09-27 11:12] bajiat commented on #1646
@marla-singer Can you take a look at this?

[2016-09-27 11:13] saralavanip commented on #1567
@bajiat , verified the resolved issue: 'showing multiple messages' on https://nightly.apinf.io .

[2016-09-27 11:24] saralavanip commented on #1583
Verified resolved issue on local develop but this issue is still reproducible on https://nightly.apinf.io

[2016-09-27 11:33] bajiat commented on #1643
@frenchbread Could you verify whether you get the same error?

[2016-09-27 11:34] marla-singer commented on #1646
@bajiat It's dublicate this issue #1570. I researched and detected that only users, who has a role 'admin' or 'manager', can upload a file. User doesn't have ane role on default. It can be solved in two ways:
1. Administrator can share role 'manager' to user
2. Or someone fixes it on code - if user add an api, will give him 'manager' role

[2016-09-27 11:43] bajiat commented on #1646
@marla-singer It is true that user  does not have any role by default. But when they add an API, they become a manager automatically - but only for that particular API. This should already work, unless there is regression.
@philippeluickx added an API, thus becoming a 'manager' for that API.  The same thing in #1570, @saralavanip started by adding an API.

[2016-09-27 11:46] marla-singer commented on #1646
@bajiat It looks like users don't become a manager automatically.

[2016-09-27 13:24] jykae commented on #1436
I have migration script halfway done with mongodb-migrations. However handling database async.series makes migration script bit more harder to read.

percolate:migrations would be nicer for developer to write migrations.

@brylie @philippeluickx Do we want pure node.js migration code to our codebase?

[2016-09-27 13:25] bajiat commented on #1616
@Nazarah Let's keep this simple for starters. So let's only do the simple setting now (first wireframe). I would rename it: "Access to API" to "Adding APIs" or "Publishing APIs"

The second wireframe we would consider later. For clarity, I would not include it in this issue. (Also, I do not understand the combination "Adding an API" and Read privilege.)

[2016-09-27 13:35] philippeluickx commented on #1436
I am always up for the most simple and elegant solution.

[2016-09-27 13:40] jykae commented on #1436
Also meteor mongo driver wrapper hides the real Mongo ObjectID
[code]
Native driver that mongodb-migrations uses is not doing that.

[2016-09-27 14:09] jykae commented on #1436
@philippeluickx ok, I will make tomorrow percolate:migrations solution for the task, and can show also this halfway written migration code if we need to vote.

[2016-09-27 14:26] bajiat commented on #1646
@brylie Can you check this - do we have a regression and user does not become a manager if they add an API? Or is it related to adding Swagger files only?

[2016-09-27 14:39] #1510 closed

[2016-09-27 18:24] brylie commented on #422
Ping @bajiat. Should we prioritize this bug?

[2016-09-27 22:11] nnn commented on #1625
@Nazarah mostly to fix items position

[2016-09-28 00:42] frenchbread commented on #1565
@bajiat I'm pretty sure that it's a bug in a code, so resolving one locally will resolve it on nightly after deployment.

[2016-09-28 07:09] Nazarah commented on #1512
@bajiat need some clarification. Currently in API catalog and profile page, we show a green/yellow/red circle to indicate if API is running or not.
Should we show that circle now only if API monitoring is enable for an API?
If so, then I don't think we need any new icon to show that the API is being monitored.

[2016-09-28 07:18] Nazarah commented on #1512
@marla-singer Please include the following text under info icon:

"Please provide a valid path to the base URL of your API to get valid results about API status. API monitoring is done using HTTP requests. You can use GET method only so that accidental data insertion in your API is prevented."

[2016-09-28 07:26] bajiat commented on #1512
@nazarah
"Only show the monitoring icon in API profile and catalog if API is being monitored (owner has switched that on)"
The basic idea was - but not communicated very clearly in the definition of done-  to use the same icon as we are using now, aka dot with different colors. However, we should not show anything (= no icon) for those APIs for which the owner has not enabled the monitoring. How d

[2016-09-28 07:32] Nazarah commented on #1512
@bajiat simple and clean solution. Like it.
Already uploaded the necessary wireframes.

[2016-09-28 07:35] bajiat commented on #1648
Related to or duplicate of #1567

[2016-09-28 07:50] Nazarah commented on #1542
wireframes and instructions text added to main issue

[2016-09-28 07:50] #1542 closed

[2016-09-28 07:53] Nazarah commented on #1622
@nnn any design ideas about this issue?

[2016-09-28 07:55] Nazarah commented on #1622
@bajiat : currently we have a toggler in API profile to make an API public/private to the audience. Should this toggler still remain as we are changing the privacy option of an API?
Or it is going to be replaced by this issue?

[2016-09-28 07:58] bajiat commented on #1622
@Nazarah Toggler with three options? Can you sketch (even on paper) some options for the owner to select between the options?

[2016-09-28 11:56] philippeluickx commented on #1646
@bajiat It is also for uploading the logo, so I would assume that @marla-singer is correct in her assumption.

[2016-09-28 11:58] philippeluickx commented on #422
My suggestion is to remove the feature (button) and reprioritize to later.

[2016-09-28 12:13] bajiat commented on #422
@jykae took a quick look and suspects that we are still using boilerplate
code for Github signin/signup. Would this be fixed by using accounts-github
instead? Info can be found from the Meteor guide. If yes, then I would
prioritize this.

2016-09-28 14:58 GMT+03:00 Philippe Luickx <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com

[2016-09-28 12:29] Nazarah commented on #1622
@nnn based on a discussion with @bajiat and @jykae I prepared the given wireframes.
Please have a look and give your feedback

[2016-09-28 12:30] Nazarah commented on #1628
added wireframes to the respective issue

[2016-09-28 12:30] #1628 closed

[2016-09-28 13:20] jykae commented on #1436
Sorry I forgot to keep async version with mongodb-migrations for comparison, as I moved the code and refactored to Meteor sync model with percolate:migrations.

I think percolate:migrations is easier to read, and goes better with our codebase. Also easier for every developer to write couple of fields migration for PR.

Anyway async.series migration code looked like this, https://github.com/awapps/

[2016-09-28 13:48] #1616 closed

[2016-09-28 14:04] jykae opened #1652 "Created & updated dates are not generated/updated when adding/updating API"
Should be probably done "before" DB insert in autoform.js:
[code]

Catalogue shows "Added a few seconds ago" for all APIs that don't have that generated.

[2016-09-28 14:21] bajiat commented on #1595
See also #1652

[2016-09-28 14:22] bajiat commented on #1652
See also #1595

[2016-09-28 17:13] brylie commented on #422
We also need to find out if Apika needs Github authentication. Ping @kyyberi

[2016-09-29 02:34] nnn commented on #1622
@Nazarah, really nice, love it!

[2016-09-29 02:44] nnn commented on #1618
@Nazarah when will you have time for this wireframe?
We can work together on ideas.

[2016-09-29 02:45] nnn commented on #1618
Also #1625 is related to this task, and kinda depends.

[2016-09-29 03:17] nnn commented on #1622
One thing about the icons of indication. Let's use label instead of icons.
And only one label - **Private** if API is private to everybody and same label if available to some users.
It will make UI look cleaner. Owners can always check who can see theirs API in the settings. There is no need to separately show these with different types of icons/labels.

[2016-09-29 06:18] Nazarah commented on #1622
@nnn agreed with the design suggestions.

[2016-09-29 06:35] Nazarah commented on #1618
@nnn lets work together.

[2016-09-29 07:30] Nazarah commented on #1622
@nnn I've got another suggestion, to change the API header, card and table row (in API catalog) color if an API is private. The label is good for profile header and table row, where more space is available. Am not just sure about the card view with little space.

[2016-09-29 07:42] brylie opened #1653 "Disable API Key field on Proxy Backend form not working in Firefox"
On the Proxy tab of the API Profile, the **Disable API Key** field does not work in Firefox (50.0a2).

![screenshot from 2016-09-29 10-34-11](https://cloud.githubusercontent.com/assets/17307/18945071/5ee24d18-8631-11e6-89e7-db7fbf7bef47.png)

This prevents form submission.

[2016-09-29 07:44] jykae opened #1654 "Sync from Umbrella not functioning as expected"
<img width="875" alt="nayttokuva 2016-09-29 kello 10 38 34" src="https://cloud.githubusercontent.com/assets/293452/18945017/1949b534-8631-11e6-9a5f-ed7a36344aac.png">

Cool API is added from frontend, others are added by synchronization. Missing fields.
Should we disable this or fix?

[2016-09-29 08:25] bajiat commented on #1654
Part of #1533

[2016-09-29 08:28] bajiat commented on #1652
Comment from @brylie: This should be handled in schema

[2016-09-29 08:29] preriasusi commented on #1636
"Export API settings (Note: tab should be available for owners and admins only)"

You can even export settings in staging even thought you are not logged in at all.

[2016-09-29 08:30] bajiat commented on #1648
@jykae Would you have time to look at this? There should be examples to follow in other click handlers

[2016-09-29 08:31] bajiat commented on #1645
@brylie Check if this has been already been resolved. Nightly was not up to date.

[2016-09-29 08:32] bajiat commented on #1644
@marla-singer Could you take a look at this error?

[2016-09-29 08:34] bajiat commented on #1643
@frenchbread Would you have time to take a look at the bug?

[2016-09-29 08:34] marla-singer commented on #1644
@bajiat Yes. Self-assigned

[2016-09-29 08:34] bajiat commented on #1643
Suggestion for the text:

You don't have any API Backend you manage.
Add an API Backend

The second line could be a link

[2016-09-29 08:36] jykae opened #1655 "Export API proxy configuration fails"
Export JSON returns json file with "undefined" string.

Export YAML returns exception:

<img width="582" alt="nayttokuva 2016-09-29 kello 11 32 48" src="https://cloud.githubusercontent.com/assets/293452/18946743/e994fe54-8638-11e6-8b13-5aae6073a0df.png">

[2016-09-29 08:36] bajiat commented on #1642
@saralavanip Can you try to reproduce?

[2016-09-29 08:37] bajiat commented on #1641
@frenchbread Could you take a look at the error?

[2016-09-29 08:39] bajiat commented on #1640
@philippeluickx What is the error message?

[2016-09-29 08:41] bajiat commented on #1640
@frenchbread Is this related to #1565 and #1605?

[2016-09-29 08:44] bajiat commented on #422
Self-assigned. Purpose is to check the workload for remaining sprint on Monday and then make a decision on whether we would be able to fix or hide.

[2016-09-29 08:49] bajiat commented on #1640
@brylie You had an idea where this message is coming from.

[2016-09-29 09:04] brylie opened #1656 "Add i18nsupport to ProxyBackends schema and sub-schemas"
The ProxyBackends schema does not have i18n support. Attach i18n to the ProxyBackends and related sub-schemas:

- apiUmbrella
  - settings

[2016-09-29 09:07] brylie opened #1658 "Remove API Wizard schema translation strings"
The *Add API Wizard* was removed from our project, but translation strings still exist. Remove API Wizard related strings from en.i18n.js.

[2016-09-29 09:46] brylie commented on #1645
@bajiat this is resolved in `develop`. Closing.

[2016-09-29 09:46] #1645 closed

[2016-09-29 09:48] brylie commented on #1640
@bajiat the problem may be within the [`viewApi` route code](https://github.com/apinf/platform/blob/develop/apis/client/lib/router.js#L15-L33).

[2016-09-29 10:00] bajiat commented on #1645
@brylie Thanks for checking.

2016-09-29 12:46 GMT+03:00 Brylie Christopher Oxley <
notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-09-29 10:45] brylie commented on #1646
@bajiat, @marla-singer is correct that [only users with Manager or Admin role can upload API Documentation files](https://github.com/apinf/platform/blob/develop/documentation/collection/server/permissions.js#L5). We can add a one-line fix for this issue, so that when they create an API they are assigned the 'manager' role.

[code]

We will also need an Allow rule for the Roles collection

[code]

[2016-09-29 10:46] brylie commented on #1646
As a more future-proof step, we could write a server-side method to run in autoform onSuccess, using the [Validated Methods](https://guide.meteor.com/methods.html#validated-method) package.

[2016-09-29 10:50] brylie commented on #1646
This is a kind of tricky situation. On one hand, `FileCollection` package relies on collection allow/deny rules, so it may not be easy to create a ValidatedMethod for the `FileCollection` insert.

The alternative would be to create a ValidatedMethod where we add the user to the 'managers' role.

What other options do you see @marla-singer?

[2016-09-29 10:51] brylie commented on #1570
#1646 should resolve this issue.

[2016-09-29 11:10] brylie commented on #1646
I created a quick PR to resolve this issue. Instead of using the allow/deny approach for the Roles collection, I simply add the 'manager' role on startup. Then, when users create an API, they are given the 'manager' role.

[2016-09-29 11:14] marla-singer commented on #1646
Instead of using the allow/deny approach for the Roles collection, I simply add the 'manager' role on startup. Then, when users create an API, they are given the 'manager' role.

I think it's a good solution at the moment

[2016-09-29 11:22] bajiat commented on #422
Here is info on login packages from Meteor guide, if that helps: https://guide.meteor.com/accounts.html#supported-login-services

[2016-09-29 11:23] brylie commented on #1646
@marla-singer thanks. Will you please review the PR #1660?

[2016-09-29 11:27] marla-singer commented on #1646
@brylie Yes. I'll also test if these fixes the problem with uploading a logo

[2016-09-29 11:30] brylie commented on #1595
Pr #1661 fixes this issue:

![screenshot from 2016-09-29 14-30-01](https://cloud.githubusercontent.com/assets/17307/18952149/52f524ec-8651-11e6-839b-f5fceb0e36ac.png)

[2016-09-29 11:35] #1570 closed

[2016-09-29 11:35] #1646 closed

[2016-09-29 12:01] brylie commented on #1515
As per our Rocket.Chat discussion:

The design is up to you, but it might be good to allow the API owner to configure settings such as:
- how often the status is checked
- full url (including host and path) to be checked
- what *status code* to expect
- header values, such as authentication, to be passed to each request

[2016-09-29 12:01] brylie commented on #1515
Ping @bajiat @Nazarah

[2016-09-29 12:13] frenchbread commented on #1643
@bajiat I'd suggest @nnn to take a look at this bug, since he's more familiar with the placeholder on dashboard page

[2016-09-29 12:21] brylie commented on #1512
@marla-singer as per our chat:

- Here is the reference js: https://github.com/apinf/platform/blob/develop/apis/client/view/status/status.js

[2016-09-29 12:22] brylie commented on #1512
Please see the Meteor [HTTP documentation](https://docs.meteor.com/api/http.html) for reference when writing the HTTP request code.

[2016-09-29 12:30] brylie opened #1662 "Delete Swagger UI from /public"
A long time ago, in a Galaxy far away, we included the Swagger UI code in our /public folder. This was so we could include it, via iframe, in our platform. Since we now include Swagger UI via npm, we can remove it from our project /public directory.

[2016-09-29 12:32] #1436 closed

[2016-09-29 12:38] brylie opened #1663 "Add User ID to `created_by` and `updated_by` fields when creating/updating Api"
Our Apis schema contains fields for `created_by` and `updated_by`, but these fields are not being used. Either add values to the field when creating/updating an Api, or remove the fields.

[2016-09-29 12:40] brylie commented on #1663
Note, the `created_by` field may be set in autoform.js currently, as opposed to the schema `autoValue`. Consider moving logic for the `created_by` field out of autoform.js and into the schema.

This field is used in both the Catalog and API Profile views.

[2016-09-29 12:40] bajiat opened #1664 "Revoke my API key"
"Someone will post their API key on GitHub, I guarantee it (I have many times). Don’t make the developer wait for support to have a new key generated. Make available a self-serve API key reset function. Make it scary, provide a lot of warning and confirmation. Just let them fix it themselves." (Quote from http://john-sheehan.com/blog/the-api-developer-experience-baseline)

# User story
As an API u

[2016-09-29 12:41] #1595 closed

[2016-09-29 12:41] #1652 closed

[2016-09-29 12:47] marla-singer commented on #1648
@bajiat I fixed it before -- https://github.com/apinf/platform/issues/1612
Please @philippeluickx  verify these again. Maybe nightly had an old source code

[2016-09-29 13:04] #1653 closed

[2016-09-29 13:04] #1656 closed

[2016-09-29 13:04] #1658 closed

[2016-09-29 13:13] frenchbread opened #1665 "API Description does't display on "Catalog" page"
### Screenshot:
<img width="1438" alt="screen shot 2016-09-29 at 16 09 59" src="https://cloud.githubusercontent.com/assets/2122679/18955279/68986d32-865f-11e6-9b5a-d597883ce806.png">

### Reproduce:
- Navigate to `/catalog` page or single API view.

[2016-09-29 13:14] frenchbread commented on #1665
@nnn Confirmed also having this issue.

[2016-09-29 13:24] frenchbread commented on #1605
This issue happening for a reason not being able to fetch `ProxyBackend` document since it contains user privileges check.

Here is a publication that causes this bug:

[code]

@brylie What can you suggest here? I think it's okay to return proxy backend data no-matter how's viewing it (authorised or non-authorised user). If we don't want to share this publication to non-authorised user, we'll have

[2016-09-29 13:31] frenchbread commented on #1641
Related to #1643.

Since we deprecated `addApiBackend-wizard`, the `pathFor` value (the URL) has not been changed. Changing the `href` parameter value for `<a>` tag should resolve this.

[2016-09-29 13:32] frenchbread commented on #1643
As said in #1641:

[2016-09-29 13:45] bajiat commented on #1512
@marla-singer @brylie

Http method is needed for sure (with a recommendation to use get or even default)?
Could protocol, host and path be one field?
Monitoring frequency could be a sensible default at first and we would later add a feature to modify frequency
Header - enhancement? Or should we actually have the Apinf API key?
Is port needed or not? I have no idea.

[2016-09-29 13:46] bajiat commented on #1512
See also https://cloud.githubusercontent.com/assets/836866/18273897/5b53476a-7448-11e6-8379-514f0cf45aa2.png

[2016-09-29 14:00] brylie commented on #1605
@frenchbread we may need to call `this.ready()` in the `else` statement, so that the publication tells any waiting subscriptions that it has completed. See, Meteor Guide: Publications [complex authentication](https://guide.meteor.com/data-loading.html#complex-auth)

[2016-09-29 14:01] bajiat commented on #1648
Nightly did have an old version, which Shaliko has fixed today.

[2016-09-29 14:07] brylie commented on #1512
Jep. That would be a simple start.

[2016-09-30 07:18] bajiat commented on #1648
@marla-singer I checked this today from nightly. If you reproduce the steps by Philippe, you do get multiple confirmations. When you copy API key once, you only get one confirmation, but if you navigate to another API and then copy API key, you will get two confirmations. And so on...

[2016-09-30 07:18] bajiat commented on #1648
![screenshotfor1648](https://cloud.githubusercontent.com/assets/11626388/18983725/4203582e-86f7-11e6-81e3-4d7eb43d6b63.png)

[2016-09-30 08:00] bajiat commented on #1665
I don't see this issue in nightly. @frenchbread @nnn What branch are you on? Is it in local development environment?

[2016-09-30 08:40] brylie commented on #1619
Here is a list of all translation tokens that are in use in our HTML and JavaScript:

aboutApinf_credits
aboutApinf_documentation
aboutApinf_doneButton_text
aboutApinf_homepage
aboutApinf_intro
aboutApinf_openSource
aboutApinf_projectLinks
aboutApinf_projectVersions
aboutApinf_sourcecode
aboutApinf_sponsors
aboutApinf_support
aboutApinf_title
account_delete_button_text
account_delete_title
account

[2016-09-30 09:11] #1627 closed

[2016-09-30 09:28] saralavanip commented on #1642
@bajiat, verified on https://nightly.apinf.io  , couldn't reproduce this issue.

Screenshot:
![catalog_table_view](https://cloud.githubusercontent.com/assets/13309358/18987206/3eae1242-8709-11e6-8899-4d396c30b774.png)

[2016-09-30 10:28] frenchbread commented on #1665
@bajiat Local `develop`.

[2016-09-30 11:00] saralavanip opened #1668 "Users allowed to submit incomplete 'Add API' form"
Steps:
1.Visit https://nightly.apinf.io
2.Create account clicking on Signup
3.Go to API Backends
4.Click on 'Add API Backend'
5.Enter Details:
- Enter API name
- Do not enter 'Description' (empty field)
- Do not enter URL

6.Click on 'Add API' button

Findings:
- Successful in adding API without filling 'Description' and 'URL fields'
- Users not notified if fields empty

[2016-09-30 11:12] brylie commented on #1668
After discussing with @saralavanip and @bajiat, we decided to make the URL field mandatory. This has been done in https://github.com/apinf/platform/pull/1666/commits/ac2b686be17df0db396aad1aa9c5d8163b26abe4

[2016-09-30 12:10] brylie commented on #1665
Issue fixed in commit https://github.com/apinf/platform/pull/1666/commits/c00fc318d4259056ca6e705bd0fb563457ed4d85

[2016-09-30 13:13] bajiat opened #1671 "API consumer dashboard"
"A dashboard is part of any well designed API, where a developer can go and see all their requests and callbacks, and know at a glance exactly what went wrong. This saves a ton of time for developers."

"Stripe put a lot of thought and effort into the “Developer Experience.” Everything you need to know about your Stripe account can be found on their dashboard, including request logs. "

Source of

[2016-10-03 08:09] #1580 closed

[2016-10-03 08:40] shaliko opened #1674 "Improve docker-compose config"
After setup bunch of servers and I have more experience with docker-compose I offer the following improvements:

1) Create named volumes for api-umbrella image for easy find persisted data and debug. The `docker volume ls` show names "apinf_apiumbrella_db" and "apinf_apiumbrella_log" instead of  "29a16569750dc941ecaf3b71f3811a02b97f7caec974c575aa428aaf8f4b2b2b".

2) Override default command for ap

[2016-10-03 10:14] #1662 closed

[2016-10-03 10:48] marla-singer commented on #1644
@philippeluickx @bajiat Is issue relevant yet? Can't repeat it on nightly

[2016-10-03 10:55] philippeluickx commented on #1644
I found the issue before nightly got updated. Might very well be solved by now, feel free to close the issue.

[2016-10-03 11:07] brylie opened #1679 "API Key Check field logic is inverted"
The 'Disable API Key check' field on Proxy Backend has inverted logic. The Bootstrap Switch logic did not align with the underlying schema, nor the final setting on API Umbrella.

Remove the Bootstrap switch element and clarify the UI text to match the expected behavior.

[2016-10-03 11:18] jykae commented on #422
@bajiat @brylie
Our implementation of Github does not completely follow guidelines: http://docs.meteor.com/api/accounts.html#service-configuration

Our login hook seems to try login manually with Github API:
https://github.com/apinf/platform/blob/develop/users/server/accounts_hooks.js#L38

Suggested way in guidelines to do login is to use loginWithGithub function, that uses saved service configura

[2016-10-03 11:24] #1679 closed

[2016-10-03 11:32] #1668 closed

[2016-10-03 11:35] brylie commented on #1625
I think we need to review this PR as a group. Ping @bajiat @Nazarah

[2016-10-03 12:06] jykae commented on #422
@bajiat @brylie ROOT_URL env variable had typo in nightly.apinf.io, missing "h". thanks @shaliko for quick fix.
Verified to work with @Laura-Sampo after change.

[2016-10-03 12:07] bajiat commented on #422
@philippeluickx Can you also verify that you are able to register using Githubm authentication?

[2016-10-03 12:22] philippeluickx commented on #422
All good now!

[2016-10-03 12:31] brylie commented on #422
Cool. @bajiat @jykae can we close this issue?

[2016-10-03 12:36] jykae commented on #422
I am fine to close.

[2016-10-03 12:42] #422 closed

[2016-10-03 12:51] brylie commented on #1619
@bajiat my apologies. Here are the i18n tokens I missed:

flagApiButton_buttonText
flagApiModal_titleText
flagApiModal_removeButton
flagApiModal_saveButton
flagApiModal_cancelButton
responseTimeDistributionChart_title
responseTimeDistributionChart_help_text
statusCodeCountsChart_title
statusCodeCountsChart_help_text
tickButtons_hour
tickButtons_day
tickButtons_week
tickButtons_month
apiSelectPicke

[2016-10-03 12:53] #1665 closed

[2016-10-03 12:54] brylie opened #1681 "Improve consistency of i18n token usage"
We have small  inconsistencies in how we use i18n tokens. Improve i18n token usage by, e.g., removing spaces and using consistent quoting.

[2016-10-03 13:04] brylie commented on #1619
@frenchbread when creating i18n tokens in templates, please do not include a space before the underscore:

[code]

[2016-10-03 13:05] bajiat commented on #1619
@brylie These ones I have most probably already removed:
apiSelectPicker_selectAPI
dashboardDataTable_help_text
dashboardDataTable_nextPage
dashboardDataTable_nextPage
dashboardDataTable_pageCount
dashboardDataTable_prevPage
dashboardDataTable_prevPage
dashboardDataTable_requestCountry
dashboardDataTable_requestIP
dashboardDataTable_requestPath
dashboardDataTable_responseStatus
dashboardDataTable_

[2016-10-03 13:18] bajiat commented on #1619
Committed the changes to my local branch.

[2016-10-03 13:40] #1619 closed

[2016-10-03 13:52] #1632 closed

[2016-10-03 13:53] Nazarah commented on #1632
Wireframe added at issue #1618

[2016-10-03 13:53] #1629 closed

[2016-10-03 13:54] Nazarah commented on #1629
Wireframe added at issue #1623

[2016-10-03 14:03] Nazarah commented on #1623
@brylie : i added the wireframe here. If you wish to discuss about the design, please let me know.

[2016-10-03 14:31] Nazarah commented on #1624
@jykae : i have added the wireframes.
You can use BS tag components to implement this.
Explanations are given in the wireframe section.
http://v4-alpha.getbootstrap.com/components/tag/

[2016-10-03 14:32] Nazarah commented on #1630
added wireframe to issue #1624

[2016-10-03 15:01] jykae opened #1684 "Rate limiting response_headers should work like radio button"
Left as enhancement:
User should be able to select only one **'show rate limit in response headers'** value when multiple rate limit rules are defined. This is used as the primary `response_headers` value on API Umbrella, and there can be only one primary rule.

<img width="1162" alt="nayttokuva 2016-10-03 kello 17 59 02" src="https://cloud.githubusercontent.com/assets/293452/19042031/1c00efd0-899

[2016-10-04 07:01] brylie opened #1685 "Investigate whether user account emails are required to be unique"
We would like to ensure that user account emails are unique in our system. Most likely, this is already handled by our accounts package, but we want to be certain. Test whether users can sign-up with duplicate email accounts.

[2016-10-04 07:13] brylie commented on #1623
@Nazarah I like the wireframe above. I may have difficulty inserting the 'add users' widget in the middle of the 'API Visibility' field, since they will probably be separate fields.

With regards to the user selection widget, I have started searching and found the following:

- [Selectize.js](https://selectize.github.io/selectize.js/)

[2016-10-04 07:16] brylie commented on #1623
One thing which is not clear to me, is if we can provide auto-complete suggestions at all. The auto-select widgets need to be fed a list of options to suggest as we type, which in this case would be user email addresses. How should we treat user email addresses in our system?

[2016-10-04 07:20] brylie commented on #1623
One idea, after reviewing the wireframe, would be to create a 'dumb' field just to store a list of email addresses, probably with basic validation for structure. The administrator would have to know the email address, e.g. no auto-complete or search suggestions. Then, our authorization function would check a given user's email address matches one from the list.

The above approach would provide a

[2016-10-04 07:23] brylie commented on #1623
Another idea is to use the 'dumb field' approach above, where the manager simply adds a list of email addresses. In this second case, the user ID would be stored instead, possibly retrieved from a server-side function. When entering a non-registered email address, the manager could also be informed if the account does not exist.

A shortcoming of this approach is that the authorized users must fir

[2016-10-04 07:34] frenchbread commented on #1623
What if we use same widget as on the `dashboard`? We populate it with a list of all users in the collection which have user's `name` & `email` as display text and user's ID as a unique identifier. In the end, admin can give permissions to users he wishes for, can send notification (or emails are sent automatically) and as a bonus, if user he wants to add is not registered, there is a button `Invit

[2016-10-04 07:38] frenchbread commented on #1623
And the user will always have permissions even if he changes his email since they are attached to his ID.

[2016-10-04 07:48] #1630 closed

[2016-10-04 07:55] brylie commented on #1623
That is a good idea. I just want to make sure we are considering user privacy. In effect, we would be handing every API manager a list of all user email addresses in our system.

[2016-10-04 08:18] frenchbread commented on #1623
Right, then we can still follow that approach but use different widget like [this one](https://select2.github.io/examples.html#data-ajax).

[2016-10-04 08:57] bajiat commented on #1674
@shaliko Based on a discussion with @brylie, could we start with steps 1-3 and leave step 4 as an enhancement? It is a good idea, but it would be good to separate these. You can work with this task, but anything that is related to migration.apinf.io needs to take priority (if you need to prioritize).

[2016-10-04 09:21] brylie commented on #1623
For clarification, we discussed whether to auto-populate a list of email addresses, and decided not to go that route for privacy reasons.

@frenchbread I also like the Select2 dropdown, since it allows us to use templates for the options. Do we already include Select2 in our project?

[2016-10-04 09:27] #1190 closed

[2016-10-04 09:42] frenchbread commented on #1623
@brylie Nope, we have just [bootstrap-select](https://silviomoreto.github.io/bootstrap-select/examples/)

[2016-10-04 09:46] brylie commented on #1623
Ah, OK.

@frenchbread What are your thoughts on Select2 vs. Selectize vs. Chosen?

[2016-10-04 09:55] frenchbread commented on #1623
@brylie After a brief overview, looks like they all are similar to each other. It's more a question of selecting right options for selected widget and writing custom hooks, for example, data fetch while typing (for security, not storing all the data on a client). I would 👍 for `select2` since its bootstrap-based & has more options out of the box.

[2016-10-04 09:57] brylie commented on #1623
@frenchbread Cool. Also, this is mainly in consideration as a widget to set the API Visibility (public, semi-private, or private), rather than selecting authorized users.

[2016-10-04 10:29] Nazarah commented on #1623
@frenchbread

about this, when we select an user, should the user ID be shown as Boot strap tag? or we will show only the email?

[2016-10-04 10:35] Nazarah commented on #1623
@frenchbread and @brylie : what if APINF has 100 registered users and the API owner needs to add only 5 users to her API. So if you use data population like dashboard, then it would be too trouble some to browse the list of 100 users and so on. So I'd have vote for the auto complete option. You type and matches user name/email populates in the dropdown list.

[2016-10-04 10:36] brylie commented on #1623
@Nazarah as per our discussion today, we *will not* be populating a list of users.

[2016-10-04 10:57] brylie commented on #1622
...moving discussion here from #1623.

After our stand-up today, we reviewed the **API Visibility** feature/UI. @philippeluickx suggested, and we generally agreed, that the API Visibility selector should be a drop-down, rather than radio buttons. @Nazarah agreed to wireframe the select drop-down, as part of this task.

As an enhancement, we are discussing improving the drop-down by using an enhanc

[2016-10-04 11:12] #1565 closed

[2016-10-04 11:12] #1605 closed

[2016-10-04 11:13] brylie opened #1686 "Administrators cannot see private APIs when not in the managers list"
Originally reported by @marla-singer in #1669

Right now, Apinf admin users **can't see private APIs**

# Screenshots

1. User is Apinf Administrator. Catalog has 4 apis
![joxi_screenshot_1475577095313](https://cloud.githubusercontent.com/assets/20643403/19071215/9851aad0-8a37-11e6-8159-9612bdc23d7c.png)

2. Log in like one of api owner. Set api as private
![joxi_screenshot_1475577239491](https://