[2017-03-03 11:35] #2158 closed

[2017-03-03 11:47] brylie commented on #2056
@marla-singer would you please open issues for your observations above? That way we can divide the work as a team, and try to fix them ASAP. :smile:

[2017-03-03 12:33] marla-singer commented on #2056
@brylie I will create issues for points "Found error", "User accessibility" and about subscripted data on API page, Organization page and Dashboard page.

Apis and Organisations collections have all information about items. But not all are used. Is it really necessary? Can we limit some fields? We can start, for example, from Organisations catalogue.

Is it the relevant task?

meteor_accounts_logi

[2017-03-03 12:55] #2122 closed

[2017-03-03 13:10] Nazarah commented on #2178
A sample front page design prepared based on different recommendations and design ideas:

![frontpage1-1](https://cloud.githubusercontent.com/assets/17976243/23551935/d756492e-0021-11e7-8d98-1821621d1e7d.png)
Now a days most of the website front page shows a different topbar for non-signed in users to catch their attraction.
So the primary things in the topbar are API catalog, Help and Support, Pr

[2017-03-03 13:12] Nazarah commented on #2178
(continuation from prev comment)

![frontpage1-2](https://cloud.githubusercontent.com/assets/17976243/23552261/9a5b09ae-0023-11e7-81a7-c7b4f67b9776.png)
I suggest to make the topbar floating. SO that whenever user scrolls down and up, s/he can easily access the topbar menus.
There can be some initial statistics to let new comers know how many APIs are hosted in the platform, their user number and

[2017-03-03 13:16] Nazarah commented on #2178
(cont. from previous comment)

We can show a list of customer logos who is usinging APInf as a solution. This boosts a product's success and chances of adding more users.
the chatbot for live communication/offline communication should also be floating.
last but not the least, Site footer should contain the following information:
Contact details
Link to pages in Social Media
Copyright text
Links to

[2017-03-03 13:22] Nazarah commented on #2178
@bajiat @kyyberi @philippeluickx please leave your feedback as comments

[2017-03-03 13:46] brylie commented on #2056
Apis and Organisations collections have all information about items. But not all are used. Is it really necessary? Can we limit some fields? We can start, for example, from Organisations catalogue.

Lets open that task as a 'cleanup'

[2017-03-03 13:46] brylie commented on #2056
meteor_accounts_loginServiceConfiguration collection is available from every page. Document contains field clientID.

That might just be a side effect of how Meteor Accounts works. Probably not a big deal.

[2017-03-03 13:50] marla-singer opened #2220 "User accessibility: user can add API when settings don't allow that"
In the process of working on #2056 issue, there were found the bug with user accessibility.
- if **`Only platform administrators are allowed to add new APIs`** option is checked nevertheless a user can add API via URL `https://nightly.apinf.io/apis/new`.
- Case: the user doesn't have any API and  **`Only platform administrators are allowed to add new APIs`** option is checked. The User has access

[2017-03-03 13:52] marla-singer opened #2221 "Publish only necessary fields to catalog page"
In the process of working on #2056 issue, there were found no effective data using
- Apis and Organisations collections have all information about items. But not all are used. Is it really necessary? Can we limit some fields? We can start, for example, from Organisations catalogue.

[2017-03-03 14:08] marla-singer opened #2222 "Empty page and error during navigating pages directly via URLs"
In the process of working on #2056 issue, there were found the bug with accessibility on the pages "Branding", "Settings", "Proxies" directly via URL by an administrator.

However, that behavior repeats with an ordinary user who is log in.

The result is an empty page and the error in browser console:
[code]
I repeated it on local. The error links to kadira-flow library.

[2017-03-03 14:37] marla-singer opened #2223 "No effective using of data on client side: API profile"
In the process of working on #2056 issue, there were found no effective using of data on client side. Case was tested by the user who is anonym or don't have permission to edit API

### API profile
Contains the irrelevant subscription because User doesn't have access to this data.
- Proxies collection. Fields `API-umbrella URL` and `name` are available on the page.
-  ApiLogo.files collection.All

[2017-03-03 14:38] nnn commented on #2055
@saralavanip does this happen when you try to bookmark API in API Catalogue as well?
I am not able reproduce it in Firefox. Could you please double-check if it is still reproducable?

[2017-03-03 14:40] marla-singer opened #2224 "No effective using of data on client side: organisation profile & dashboard page"
In the process of working on #2056 issue, there were found no effective using of data on client side. Case was tested by the user who is anonym or don't have permission to edit API

### Organisation profile
- OrganizationLogo.files collection. All documents are available on the page.
-  ApiLogo.files collection.All documents are available on the page.
- OrganizationApis collection. Documents are a

[2017-03-03 14:57] marla-singer opened #2225 "Sing in and Sign up links don't work in footer"
Sing in and Sign up links don't work in footer

[2017-03-03 15:39] #2143 closed

[2017-03-03 15:39] #2225 closed

[2017-03-03 15:58] marla-singer commented on #2196
@bajiat Is placement okay or change order?
![joxi_screenshot_1488556654232](https://cloud.githubusercontent.com/assets/20643403/23558084/5efdaa2c-0043-11e7-8e11-edc85c10acab.png)

[2017-03-03 16:13] marla-singer commented on #2115
- through ElasticSearch?
- through Admin API?

I didn't consider ElasticSearch way in Research. But as the first step of Admin API familiarization, we can get analytics per API key through Admin API

[2017-03-03 19:48] kyyberi commented on #2178
To me this looks like good direction! We are going towards simplicity now.

I would prefer to hear your presentation about the UX, rather than try to undertand all from text and screenshots. In addition this is a bigger scale change and thus thorough discussion with the team is needed. Below is still a few quick notes about the new UX suggestion.

Suggested footer is better previous one; clear, co

[2017-03-04 10:25] kyyberi commented on #2071
I would say that we need to break this issue into separate issues. I call the effort so far a success. We have a way to install Apinf platform to RPI3 in minutes. It's not flawless but it's a good start.

Next step is to install first proxy under the platform management. I would leave now Umbrella for a moment it if does not go forward with minimal effort. Instead I would go towards emqtt and find

[2017-03-04 10:29] kyyberi opened #2228 "Feedback via API documentation"
## Story

As a developer (API consumer) I would like to give feedback about documentation (API can be in design phase or production) in documentation section by selecting text and adding comment. This is faster and easier than going to separate tab and write feedback there. If API is public, then the comments are public by default.

[2017-03-04 11:16] kyyberi commented on #558
This is needed also because we want to automate tweeting (via @apinf_io account) of new public APIs added.

[2017-03-05 16:30] frenchbread opened #2229 "Add filtering to EMQ-Dashboard"

[2017-03-05 16:32] frenchbread commented on #2229
Wrong repo. Moved this issue to https://github.com/apinf/emq-analytics-dashboard/issues/6

[2017-03-05 16:32] #2229 closed

[2017-03-06 06:45] Nazarah opened #2230 "wireframe for "Allow Organization manager to add media content""
#2188

# Definition of Done
* [x] Design Hifi sketches based on the DOD mentioned in main issue (if needed, do low fidelity design ideas)
* [x] Review sketches with PO and Assignee
* [x] Made modifications based on the changes
* [x] Attach final wireframes to main issue and close wireframe issues.

[2017-03-06 06:47] Nazarah opened #2231 "wireframe for "Show times and dates in user's actual timezone""
#2183

# Definition of Done
* [ ] Design Hifi sketches based on the DOD mentioned in main issue (if needed, do low fidelity design ideas)
* [ ] Review sketches with PO and Assignee
* [ ] Made modifications based on the changes
* [ ] Attach final wireframes to main issue and close wireframe issues.

[2017-03-06 07:08] Nazarah opened #2232 "Registering to APInf should be done using a single SignIn Framework"
# Usability Issue
It is difficult to maintain multiple sign in/ registration accounts (e.g. GitHub, Google). Often they need to be upgraded which takes time and effort. Also user might not be interested in creating a separate account for APInf and may want to register there with their own preferred account. Incorporating single sign in framework will address the above problems.

[2017-03-06 07:19] Nazarah opened #2233 "On clicking "Register Using Github", the page content becomes disable"
# Usability Issue
On clicking Register with Github, a new browser window opens to navigate user to sign in using Github.
If a user accidentally clicks the opened window to the background, s/he sees the page content to be disabled.
This may confuse the user and s/he might not notice that the top bar is still active and can be accessed.
The contents become active again on page reload.
**Same is appl

[2017-03-06 07:35] marla-singer commented on #2184
@bajiat Interested

[2017-03-06 07:36] Nazarah opened #2234 ""Add API" link on top-bar should be designed as CTA (Call To Action)"
# Usability Issue
Righ now, Add API option in top-bar is not highlighted enough from other menu options. After signing in User may have the choice to navigate through the entire site. But APInf should bring more attention to the main action of a platform by focusing and highlighting it in user's vision.

# Suggestion
Show the Add an API as a CTA in the topbar (i.e. highlighting the placeholder wit

[2017-03-06 07:53] Nazarah opened #2235 "Redesigning Add API page"
# Requirements:
* [ ] Add inviting texts encouraging new users to add API (e.g. "Simple steps. Takes less than a minute"
* [ ] Renaming fields names to more intuitive ones (e.g. URL -> API Endpoint)
* [ ] Giving less technical and more humane help texts explaining the purpose of each field and what value can be put there.
* [ ] Making Mandatory fields more visible.
* [ ] Using CSS Alert class to h

[2017-03-06 08:05] kyyberi commented on #2232
Creating accounts for each service is not what users anymore want. IMHO we should push reuse of existing accounts in registration and put local account creation a bit hidden but still available option. In addition the register page should have inspiring and enthuastic message like "Hey! We made it eay for you, just use your existing accounts to register or sign in!"

[2017-03-06 08:18] Nazarah opened #2236 "Usability Test on APInf"
Performing an Usability test on 03.03.2017 with an user coming to APInf for the 1st time

[2017-03-06 08:18] #2236 closed

[2017-03-06 08:21] marla-singer commented on #2234
@Nazarah I think the navbar links must be the same kind. The good idea is add CTA in the front page, not navbar.

[2017-03-06 08:31] Nazarah opened #2237 "Improving sort bar and searching option in APInf Catalog page"
# Usability APIs
n Usability test performed on 03.03.2017, the following issues considering the API catalog were found.
* User often searches for added API using CTRL + F. This works well as long as the API is listed in the 1st page of the catalog. This means "My APIs" in the sort/filter bar is not visible/highlighted enough to users.
* (continuing from above) User needs a visible, contextual sear

[2017-03-06 09:05] Nazarah commented on #2234
@marla-singer : I am OK with changing the position of CTA as long as they are there.
Since Add API is a primary action, wherever it is, navbar or other places, it should be highlighted enough to catch user's attention.
for example, if you got to Hitch: https://www.hitchhq.com/
You'd see that they are highlighting their sign up option on top menu.
This might be their interest that users sign in, bu

[2017-03-06 09:08] Nazarah commented on #2096
Some requirements this task needs can be seen from this issue:
https://github.com/apinf/platform/issues/2235

[2017-03-06 09:25] marla-singer commented on #2196
Can you please spicify the headers order? Is the next order good?
- Versions
- Project links
- Credits
- Copyright and license

[2017-03-06 09:40] bajiat commented on #2196
@marla-singer I would prefer this order:

- Versions
- Copyright and license
- Project links
- Credits

[2017-03-06 09:49] marla-singer commented on #2196
@bajiat The result is
![joxi_screenshot_1488793714891](https://cloud.githubusercontent.com/assets/20643403/23604798/4489aafe-026b-11e7-8b2a-55032737f406.png)

[2017-03-06 09:54] philippeluickx commented on #2135
404?

[2017-03-06 10:03] brylie opened #2238 "Privacy Policy and Terms of Use texts not saving correctly on update"
When updating the Privacy Policy and Terms of Use texts, they do not save correctly. After re-loading the Branding page, the Privacy Policy and Terms of Use fields are empty.

[2017-03-06 10:27] Nazarah opened #2239 "Intuitive instructions about making calls to API"
# Usability Issue
Right now, API profile points out the endpoint where users can call the API. However, the detailed instructions are missing. It becomes really difficult for novice/less techy users for understanding how to use the API for their Apps or other purposes.
On Usability test performed on 03.03.2017, user was asking about how the calls work. So we might also need some visualizations abo

[2017-03-06 11:37] kyyberi commented on #2135
meh, I renamed it. https://github.com/APIOps/community-resources

[2017-03-06 11:44] bajiat commented on #2176
@shaliko Could you cooperate with @brylie on this?

[2017-03-06 11:47] shaliko commented on #2176
@bajiat Yes, and @brylie already pinged me about API Umbrella 0.14. I checked release notes, it will require update out docker-compose config and them do some tests as an example on nightly.

When I can start work on it?

[2017-03-06 11:55] bajiat commented on #2184
@marla-singer Assigned to you. Can you please estimate?

[2017-03-06 11:57] bajiat commented on #2185
@marla-singer This is related to #2184, so could you take this one as well?

[2017-03-06 12:01] bajiat commented on #2188
@nnn has promised to help with migration

[2017-03-06 12:02] bajiat opened #2241 "Diagram the permissions model"
# Goal
- Document the user roles and their permissions in a diagram
- Store the diagram in docs repository

# Outcome
![screenshot_20170321_134924](https://cloud.githubusercontent.com/assets/17307/24146401/3a641602-0e3e-11e7-9e04-df38a9891923.png)

## Source files
- https://github.com/apinf/docs/blob/master/docs/develop/Architecture/Apinf-systemModel.png
- https://github.com/apinf/docs/blob/master

[2017-03-06 12:08] Nazarah commented on #2188
@kyyberi @bajiat Right now in API profile, OEMBDED contents appear in the Details tab along with API description field and API End Point field. For organization view, should this be integrated in the same tab as API? or we will be having a new tab a well?
We have been thinking for a while to replace the tabbed view of profile page, so I am not convinced myself that we should have a separate tab to

[2017-03-06 12:11] marla-singer commented on #2188
However, don't forget that an organisation can have a lot of API and OEMBDED can be hidden in this case.

[2017-03-06 12:17] Nazarah commented on #2188
@marla-singer : agreed with that point. One solution to that is to have pagination to see APIs as well. Right now there is also a pagination option to see OEMBDED contents in API profile. However, it has been considered for a while that should we opt for a different view of profiles than a tabbed view. Since Organization profile is still a new thing and there are options to try out new things, we

[2017-03-06 12:26] marla-singer commented on #2184
@bajiat

[2017-03-06 12:26] jawidahmadi commented on #2120
I added from radio energy  and radio  basso.

[2017-03-06 12:26] marla-singer commented on #2185
@bajiat Done

[2017-03-06 12:38] #2196 closed

[2017-03-06 12:43] marla-singer commented on #2185
@bajiat I suggest using all profit from linking ApiMetadata and Organization collections. For example, add URL and Logotip in ApiMetadata section which will be able from organization document.

[2017-03-06 12:45] marla-singer commented on #2223
After realisation #2184 issue I think having data about the organisation document will be necessary on a client side.

[2017-03-06 13:03] philippeluickx commented on #2178
Definitely good improvements!
Few comments
- Signup is never a good CTA. Also, there is still a few highlighted CTA's (signup, search, manage APIs). Let's pick one.
- I would remove the About us in the header. I like the way it is in the footer.
- I would also remove help and support. There is the live chat already.
- I am not sure about the language switch. It takes too much space and it's an act

[2017-03-06 13:12] philippeluickx commented on #2191
We can also make life easier for devs by providing a template and promoting plugins such as https://atom.io/packages/file-header

This way, you won't forget the license when you create a new file.

In any case, also update contributer guidelines with relevant info and the text.

[2017-03-06 13:12] nnn commented on #2238
Couldn't reproduce in the latest develop.
Also tested with resetting project.
@brylie did the same - not reproducible.
Maybe has something to do with [this](https://github.com/apinf/platform/pull/2227) PR being merged.

[2017-03-06 13:12] #2238 closed

[2017-03-06 13:13] philippeluickx commented on #1895
@brylie I can set you up on medium.com . Let me know when you have an account.
Once all is set up, you can create a draft on medium.com and every editor can read it and provide feedback. Very useful.

[2017-03-06 13:18] brylie commented on #2102
@jawidahmadi here are a couple of API design guides that can inform our API design:

- Google [Api Design Guide](https://cloud.google.com/apis/design/)
- Zalando [RESTful API guidelines](http://zalando.github.io/restful-api-guidelines/)

[2017-03-06 13:20] brylie commented on #2102
Specifically, check out the [Zalando API Design Principles](http://zalando.github.io/restful-api-guidelines/design-principles/DesignPrinciples.html#api-design-principles).

[2017-03-06 13:27] brylie commented on #2102
Re: updating specific fields on a document, without updating the whole document: See the Google [HTTP Standard Methods: Update](https://cloud.google.com/apis/design/standard_methods#update) documentation.

[2017-03-06 13:52] philippeluickx opened #2242 "Performance monitoring for apinf instances"
Whenever an instance of apinf starts to get performance issues, we need to know about it (preferably even before the issues start). That way, we can solve the issue proactively.

# Goal
Apinf devops get notifications when an instance is hitting performance issues, so we can solve the problem.

[2017-03-06 14:20] bajiat commented on #2185
@marla-singer We are experimenting with a process that each assignee creates the definition of done based on the goal of the task after the task has been assigned. Please create a definition of done and include also your ideas from the comment above. We can review and comment.

[2017-03-06 14:31] philippeluickx commented on #1986
+1 on Sentry. I have used it and it has been a breeze. We do have to get the approval maybe, as it becomes a paid service when using SaaS model and reach a certain threshold?

https://www.quora.com/Why-would-you-use-Airbrake-over-Sentry

Also checked quickly if we have an integration with meteor and there I only found https://github.com/deepwell/meteor-raven and some older forum posts.

Some other

[2017-03-06 14:32] philippeluickx commented on #1986
Blogpost from 2016 still uses to older meteor-raven plugin:
https://ianhowson.com/blog/connecting-meteor-to-sentry/

Also note that there is a fork that is still being maintained: https://github.com/dVelopment/meteor-raven

[2017-03-06 14:33] philippeluickx commented on #1986
Obviously there is also https://kadira.io/

[2017-03-06 19:24] kyyberi commented on #2102
I would recommend looking at http://apistylebook.com/design/guidelines/ for guidelines instead of pointing out single one or two. Out of curiosity @brylie , what is the reason to raise Zalando as an example?

[2017-03-07 07:04] Nazarah opened #2244 "Providing more help text about proxy base path and API base path in API profile"
# Usability Issue:
Right now from Proxy tab in API profile, we only get very little information about Proxy base path and API base path. It doesn't say anything about what it is and how it works. So let alone a less techy person, this might be even confusing for an API owner who wishes to use analytics for monitoring API usage.

# Enhancement
* Provide more information about what are Proxy base pa

[2017-03-07 07:30] Nazarah opened #2245 "It is not clear enough for API owner about how to add a dashboard for monitoring API Usage"
# Usability Issue
Two primary things API owner wants to do after adding his/her API is to provide API documentation and to set up analytics to monitor API usage. However, except for Quick tour, there is no clear enough information in API profile about how to start using analytics. User often has to start a quick tour to get this information. However, quick tour also doesn't describe clearly about

[2017-03-07 07:57] Nazarah opened #2246 "Add more information about how Private APIs work"
# Usability Issue
In the usability test performed on 3.3.2016, user had confusion about how private APIs work. S/he had the impression that he needs to manually add users in order for them to use her/his API. So related pane lacks enough information about what can be a private API and how it works.

# Enhancement
* Add more information how visibility of API works, preferably as info tooltip
* Add

[2017-03-07 08:13] bajiat opened #2248 "User notifications"
# User story

I want to be able to see notifications concerning the APIs I manage
so that I can take necessary actions.

I want to be able to see notifications concerning the APIs I follow or use
so that I can make changes to my applications or I'm aware of for example about my spending (monetization).

# Goal
APInf is able to show a history of user related notifications on the UI, which can be di

[2017-03-07 08:15] Nazarah opened #2249 "No explanation is given about why proxy base path should be "unique""
# Usability Issue
If user sets up a proxy base path or API base path in API profile that is not unique, CSS alert message shows up informing that the paths need to be unique. However no explanation is given for such cause. This can keep a newbie API owner in dark by not giving him adequate help/information about how these things work
[The question was asked by the participant of the usability test

[2017-03-07 08:25] Nazarah commented on #2249
Found at https://apinf.io/

[2017-03-07 08:26] Nazarah commented on #2246
Found at https://apinf.io/

[2017-03-07 08:26] Nazarah commented on #2233
Found at https://apinf.io/

[2017-03-07 08:33] Nazarah opened #2250 "API Profile -> proxy tab: Highlighting fields that needs given values to be corrected"
# Usability Issue
Right now, on giving invalid values to proxy base path and api base path, only s-alert appears instructing users to correct the given values. However, for which field it should be done is not mentioned in the message. Also field that needs the correction is not highlighted in the user's view.

![image](https://cloud.githubusercontent.com/assets/17976243/23648008/74ddb0e0-0321-11e

[2017-03-07 08:36] Nazarah commented on #2250
found at https://apinf.io

[2017-03-07 08:37] brylie commented on #2241
Before starting, I want to see how other projects or people diagram software permission models. I will post any interesting findings to this comment.

# Atlassian
![Jira permissions diagram](https://confluence.atlassian.com/jirasoftwarecloud/files/764478244/764478249/4/1449038097076/Permissions.png)

[2017-03-07 08:38] Nazarah opened #2251 "Make Error messages more humane and intuitive"
# Usability Issue
![image](https://cloud.githubusercontent.com/assets/17976243/23648135/f6d11d58-0321-11e7-92f0-b5caf38e58a6.png)

This sort of error message confuses the users more and should not be displayed.
This should be saved separately as a log when user action generates a message like this.
The front end message displayed in front of user should be less techy and more humane.

[2017-03-07 08:38] Nazarah commented on #2251
found at https://nightly.apinf.io

[2017-03-07 08:48] Nazarah commented on #2231
closing the issue since it doesn't require any wireframe for the time being.

[2017-03-07 08:48] #2231 closed

[2017-03-07 08:50] bajiat commented on #2183
@Nazarah We should determine the time based on the browser setting, so let's leave the user setting out of the scope.

[2017-03-07 09:42] brylie opened #2252 "proxyBackend.apiUmbrella.name field may go out of sync with API Umbrella"
When connecting an API to API Umbrella Proxy, we store an `apiUmbrella` object in the `proxyBackend` document. The `apiUmbrella` object is returned from API Umbrella, and contains all fields from the API Umbrella data model, including a `name` field.

When updating the `name` field on an `Api` document, the changes are not reflected in either API Umbrella or the `proxyBackend.apiUmbrella` object.

[2017-03-07 10:00] Nazarah opened #2253 "Low fidelity mobile sketches for API profile"
# TBD (by assignee)

[2017-03-07 10:14] marla-singer commented on #2184
We need to migrate the data from the old structure to a new one, if possible. **What to do with old `organization` data from ApiMetadata document?** We can archive the data as an option but a user will not have access to the data.

[2017-03-07 10:24] Nazarah commented on #2178
@kyyberi in response to your feedback:

Right now in front page we have a lot of information about how APInf can be used from API owner/consumer's POV. It talks about getting started, being open source, reaching out to developers, etc. To me About Us is the suitable place to have all these content. Also we can host our primary tutorials (e.g. steps to add an API, Making a call to API, etc.) as wel

[2017-03-07 10:36] philippeluickx commented on #2129
Make sure to check https://github.com/apinf/platform/issues/1183

I thought there was an open source component from a competitor, but couldn't find it. There are some github repo's though that deal with API monitoring:
- https://github.com/sanathp/statusok
- https://github.com/firehol/netdata (19K stars, but not sure if relevant)
- https://github.com/fzaninotto/uptime

[2017-03-07 10:40] Nazarah commented on #2178
@philippeluickx in response to your feedback

We can always pick a CTA that would be more suitable for APInf's strategy. I added the idea of CTA because currently we don't have one and this a big lacking.

Understand your point. We can have other menu at Navbar which is more important. A response for About Us is the following:

I was thinking to place youtube tutorials and link to APInf documentat

[2017-03-07 11:11] #2152 closed

[2017-03-07 11:50] marla-singer opened #2255 "API Metadata can't be clear if it was inserted"
Current realization of API Metadata doesn't allow API manager clear all fields. And after deleting by hand all data the area is empty and there is not text about "No metadata found."

### Suggestion
- Add "Clear all" button in form

### Screenshots

1. "No metadata found" text
![joxi_screenshot_1488887311410](https://cloud.githubusercontent.com/assets/20643403/23655240/46fe4170-0345-11e7-8ef9-26d2

[2017-03-07 12:02] mauriciovieira opened #2257 "Custom scripts directory is raising errors on the browser"
![screen shot 2017-03-07 at 9 00 51 am](https://cloud.githubusercontent.com/assets/95258/23655688/d2a51e6e-0314-11e7-9d6a-e5cc0228f3b5.png)

This should not happen.

[2017-03-07 12:03] mauriciovieira commented on #2257
@bajiat I'm working on this.

[2017-03-07 12:32] #2257 closed

[2017-03-07 13:30] Nazarah opened #2259 "OEMBED content can't render website logos"
# Usability Issue
This is snapshot of oembed content for the following URL: https://www.youtube.com
![image](https://cloud.githubusercontent.com/assets/17976243/23658388/07a88f8e-034b-11e7-85df-8ee5042e2038.png)

This is snapshot of oembed content for the following URL: https://google.com
![image](https://cloud.githubusercontent.com/assets/17976243/23658385/01f08272-034b-11e7-8426-3a3f470638dd.png

[2017-03-07 13:32] Nazarah opened #2260 "Clicking on OEMBED content should open the actual content in a new browser tab."
# Issue
Now, on clicking oembed content from API profile page opens the original content in the same browser tab. This should be opened in a new tab in the same session. The APInf page should stay at its own tab.

[2017-03-07 13:38] Nazarah commented on #2129
"" **To be continued..** "

1. the following things to consider:
* server load
* amount of data coming down (result shown as pagination)
* encryption level
* quality of controller code
* Data and transactions important to API owner / Manager

 (resounce: https://smartbear.com/learn/performance-monitoring/guide-to-api-monitoring/)

[2017-03-08 06:08] Nazarah opened #2261 "Staging: password given at Sign in Page retains in Sign up page"
# Reproduction steps:
* go to nightly.apinf.io and try to sign in with a unregistered email and password.
* After the "Login Forbidden" text appears, navigate to sign up page

# Result:
* password field in Sign up page retains the previous value given in password field of Sign in page.
* On returning back to sign in, the given password exists as well

![password_retain](https://cloud.githubusercon

[2017-03-08 08:28] jawidahmadi commented on #2102
response code for No Content 204
PUT is Idempotent, consider using it to create
POST is safe, consider using it to update

[2017-03-08 08:47] brylie commented on #2102
The Zalando API Design Guide seem well considered and organized. The documentation is also [open source on Github](https://github.com/zalando/restful-api-guidelines), so we could contribute back or adapt them to our needs.

[2017-03-08 09:49] #1953 closed

[2017-03-08 09:57] #2092 closed

[2017-03-08 11:02] philippeluickx commented on #2102
Getting error in my console when clicking show/hide (Swagger viewer):

35d5778….js?meteor_js_resource=true:21 Uncaught TypeError: Cannot read property 'pushState' of undefined(…)toggleEndpointListForResource @ 35d5778….js?meteor_js_resource=true:21callDocs @ 35d5778….js?meteor_js_resource=true:22dispatch @ 35d5778….js?meteor_js_resource=true:30m.handle @ 35d5778….js?meteor_js_resource=true:30

[2017-03-08 11:09] philippeluickx commented on #2102
It is not clear to me what "API updates" are (/apis/updates/). Is it just a series of possible parameters? Then it should be in just /apis/?

[2017-03-08 11:11] philippeluickx commented on #2102
Try out example for /apis/updates/ gives me
`https://apinf.io:3002/kyyberi/APInf-REST-API/1.0.0/apis/updates/?since=7d&id=undefined&limit=undefined&new_apis_only=false&lifecycle=undefined`

- port 3002?
- kyyberi?

[2017-03-08 11:13] brylie commented on #2102
@philippeluickx, the try out examples are prone to failure, because this API is in the **Design** phase. This means, the endpoints do not yet exist. We are currently seeking feedback on the design itself, rather than testing functionality.

[2017-03-08 11:14] philippeluickx commented on #2102
PUT /apis/{id} has a question in the description:

Not sure if this is the best approach in a design-phase API?

[2017-03-08 11:15] philippeluickx commented on #2102
Do we need better instructions for pagination?

[2017-03-08 11:16] philippeluickx commented on #2102
@kyyberi already touched upon it: how about authentication? What actions you need to have authentication, which ones can you do anonymously?

[2017-03-08 11:16] brylie commented on #2102
[code]

[2017-03-08 11:18] philippeluickx commented on #2211
From https://github.com/apinf/platform/issues/2102

Getting error in my console when clicking show/hide (Swagger viewer):

[code]

Update: also same error when clicking on "POST" or "GET" etc. when trying to close it.

[2017-03-08 11:21] brylie commented on #2211
Might it be worth updating our Swagger UI dependncy? I am not sure the underlying problem here, but an upgrade might contain a fix.

[2017-03-08 11:30] brylie commented on #2129
@Nazarah I have added a few rows to the table, based roughly on your comment.

[2017-03-08 11:31] brylie commented on #2129
Also reviewing the Smartbear article [What is API Monitoring?](https://smartbear.com/learn/performance-monitoring/what-is-api-monitoring/)

[2017-03-08 11:42] matleppa commented on #2188
@Nazarah Jawid and I are beginning to plan the implemention of this issue.
You mention here a possibility for new design.
Do you already have some thoughts about the mentioned new design?

[2017-03-08 12:06] philippeluickx commented on #2002
First draft of the Privacy policy, based on Sampo Software policy:

Privacy Policy
APInf Oy | User Register
Personal Data Act (523/99) 10, 24 §
APInf Oy (”Controller”) is committed to safeguard the privacy of those persons (“User") using the services, products and websites (“Services”) distributed, published or otherwise made available by the Controller, including our website at apinf.io as well a

[2017-03-08 12:36] Nazarah commented on #2188
@bajiat @matleppa @jawidahmadi : the wireframes are available in the main description.
There are two versions of the design with related descriptions given.
Please have a look, suggest the changes and decide which one would you like to implement.

[2017-03-08 12:40] bajiat commented on #1953
@jawidahmadi

First of all, thanks for reading a good number of sources for your research. :)

I know your research text has already been merged, but I still have a few comments to make. Sorry for not being able to read the text sooner.

If there is text that is copy from someone else's text, please mark it as a quotation, if it is longer than 3 words. For instance, this snippet of text is copied

[2017-03-08 12:45] bajiat commented on #2188
@Nazarah We cannot see the wireframes. Can you specify where they could be found?

[2017-03-08 12:50] philippeluickx commented on #2002
Terms of use first draft:
TERMS AND CONDITIONS
These Terms of Use (“Terms”) apply to your ('you') use of services, products and websites (“Services”) distributed, published or otherwise made available by APInf Oy (Business ID: 2810151-6; 'APInf’, ‘us’, or 'we'), including our website at apinf.io as well as any other services provided to you by APInf. These Terms together with our privacy policy (h

[2017-03-08 13:04] bajiat commented on #2056
@marla-singer Thanks for opening the issues based on your research?

Can I close this original issue or is there any work required for checking the Users publication permissions still? I'm not sure, if they can be checked from UI, but maybe @brylie could comment that.

[2017-03-08 13:35] bajiat commented on #2188
@Nazarah What should in your opinion happen with API pagination in version2, if there is no media content? Is it anyway limited to one row only?

[2017-03-08 13:45] philippeluickx commented on #2197
First draft in https://medium.com/apinf/how-eupl-is-the-open-source-license-in-the-sweet-spot-5b136f53812c

[2017-03-08 13:49] philippeluickx commented on #2029
Started first with the customer journey of the API user (simpler) - first draft in the docs in SVG format, definitely not complete yet. Comments are welcome! https://github.com/apinf/docs/blob/965db11cc0930747bead2ebf8cc1d3adbea6a6c4/docs/UX/customer_journey.svg

[2017-03-08 13:51] kyyberi opened #2262 "API Profile Feedback form missing options in Finnish lang"
## Description
User is not able to send feedback to API owner because in the form last option is selecting "Message type" and in Finnish UI there is not dropdown, just text box.

Service: https://nightly.apinf.io/

## Steps to reproduce

- change UI language to Finnish
- pick an (any) API (open API profile)
- open feedback tab
- click "send feedback"
- in the form last option is just text box (no

[2017-03-08 13:53] kyyberi commented on #2262
Furthermore dropdown should be changed to clickable selection (icons) for the sake of usability

[2017-03-08 13:54] kyyberi commented on #2251
:D agreed, that's horrible

[2017-03-08 14:22] bajiat opened #2263 "Allow blacklisting API users"
# User stories
As an APInf admin
I want to be able to blacklist any API user
who is misusing APIs

As an API owner
I want to be able to blacklist any API user
who is misusing my API

# Goal
- Misuse can be temporarily or permanently prevented
- Blacklisted user gets a notification
- The setting / blacklisting can be reverted

[2017-03-08 14:22] kyyberi commented on #2102
@philippeluickx Excellent points above. Could you add your API design related feedback and questions to feedback tab? That is where I assume we actually would like to see feedback. I will not ask them to come to Github and add an issue.

[2017-03-08 14:26] kyyberi commented on #2263
At some point part of this should be at least partially automated. When we get monitoring in the framework we can catch some of the abuse cases and blacklist user without owners manual intervention.

[2017-03-08 17:00] kyyberi commented on #2239
At best Swagger driven documentation should give you the examples and even test drive the API.

[2017-03-08 19:16] kyyberi commented on #2071
Closing this as done. See reasoning above.

[2017-03-08 19:16] #2071 closed

[2017-03-08 19:26] kyyberi opened #2264 "Create easy install instructions to get emqtt running on RPI3 (configure with apinf)"
## Story
This one is continuing the project APInf in DIY home automation, see #2071. In the first phase we got [APInf up and running on RPI3](https://medium.com/apinf/get-control-of-diy-home-automation-55dcf2a6655e#.hlf9w542a). Now we need to get proxy under it. Getting API Umbrella on RPI3 seems to be somewhat more complex and time consuming task, so it makes more sense to go with MQTT proxy firs

[2017-03-08 19:34] kyyberi commented on #2264
@bajiat defines a spot when this can be done.

[2017-03-08 20:10] kyyberi opened #2265 "Feedback issues should be threads"
## Current look and feel
<img width="1176" alt="screenshot at maaliskuuta 08 22-07-09" src="https://cloud.githubusercontent.com/assets/1927158/23721817/be3d878a-044b-11e7-99d1-9968e5b06216.png">

## Need
As API owner I have no opportunity to respond to feedback. In addition I would love to see that feedback list behave like a threaded discussion so that there can be back-traced discussions, not ju

[2017-03-09 04:55] kyyberi commented on #2265
To make it short, like Github issues.

[2017-03-09 06:57] saralavanip commented on #2216
Verified this issue on staging v 0.41.0 and it is reproducible.

[2017-03-09 07:20] Nazarah commented on #2265
1+ with the feedback thread. To me, it can also be GitHub issues. The same can be considered for backlogs. API consumer of a particular API would be eager to follow what new features, changes, etc. would be added to the API and might express what they wish to see in future development. Maintaining such thread to GitHub is a good place to start.
I wish to know more cases on how this can be maintain

[2017-03-09 07:20] kyyberi commented on #2265
This is side note, but I'll add it here anyway so I don't forget it. Commenting in place would be awesome feature: paint text in documentation and leave a note (much like in Google Docs). I don't know how to handle it UX wise or technically. And would it become a mess (probably to some level.) Anyway, jumping to separate place to add feedback is not best possible solution anyway.

[2017-03-09 07:23] marla-singer commented on #2261
@Nazarah Em. I think it's Chrome feature. Test it with another browsers

[2017-03-09 07:27] Nazarah commented on #2261
@marla-singer just tasted with firefox (latest version). Could produce it there. So not a browser specific problem.

[2017-03-09 07:28] Nazarah commented on #2239
I am thinking about persons who are quite new in using/managing APIs. They might have heard about swagger for the 1st time. To me, API owners should have some quick start tutorial or separate documentation in a different platform than swagger to get started in 3 minutes. And API profile should somehow highlight that option.

[2017-03-09 07:59] saralavanip commented on #2215
Verified this issue on staging v 0.41.0 and it is reproducible.

[2017-03-09 08:01] Nazarah commented on #2188
@bajiat I just checked the API catalog and currently, in default view, we are showing six rows of APIs. For Catalog page, i think it is fine. But for showing APIs in organization profile page, this might be a bit more. We can try out with two rows. However, there is also this consideration that organization visitors can't see the media pane when there is no media added. So for them, the view consi

[2017-03-09 08:05] saralavanip commented on #2146
Reported issues:
#2205, #2208, #2209, #2215,#2216

[2017-03-09 08:13] saralavanip commented on #2209
This is reproducible on staging v 0.41.0

[2017-03-09 08:43] marla-singer commented on #2184
I've tested migration and feature on local. Described the different cases and results.

### Case №1
- ApiMetadata contained information about Contact and Service
- API was connected
### Result after migration
- Organization block has information about connected organization
- Contact & Service information are still here

### Case №2
- ApiMetadata contained information about Contact and Service
- A

[2017-03-09 08:50] marla-singer commented on #2184
### Cases after migration
Description of feature work when a user connects/disconnects API to organization
- When API is connected to an organization:
    - API Metadata will be created, if it doesn't have information before, and will have information about connected organization
    - API Metadata will be updated, if it has information about Contact or Service before, and will have information ab

[2017-03-09 08:50] marla-singer commented on #2184
@bajiat If everything works as expected, I will label my PR is ready

[2017-03-09 08:55] philippeluickx commented on #2102
@kyyberi Done!
Quick feedback on the feedback process (meta-feedback?):
- Too complex - 3 fields to fill in for a simple feedback?
- Modal - not the right UI (discussion can be found online, but consensus is driving towards not using modals for this purpose)
- Not clear what happens with my feedback. Who gets the feedback, how do I get notified about replies?

[2017-03-09 08:59] shaliko commented on #2071
@kyyberi Sorry for the long delay with the response missed that notification.

I am OK with pause work on api-umbrella port on ARM architecture. It looks like will be big part of work https://github.com/NREL/api-umbrella/issues/336.

[2017-03-09 09:07] saralavanip opened #2266 "Create Account: Username with underscore shows error"
# Steps
1.Visit https://staging.apinf.io   (v 0.41.0 )
2.Click on 'Sign up'
3.Enter valid Username  (eg.  abc_test1 )
4.Enter valid Email and Password
5.Click on 'Register'

# Expected Result
Successful creating account

# Actual Result
Shows error message though username with underscore is allowed

# Screenshot
![signup_underscore_error](https://cloud.githubusercontent.com/assets/13309358/2374308

[2017-03-09 09:14] marla-singer commented on #2266
@saralavanip Duplicate of #1963

[2017-03-09 09:55] brylie commented on #2056
I double checked this project and our meteor-accounts-bootstrap-3 module. [The only publication I could find that publishes all users](https://github.com/apinf/platform/blob/develop/users/collection/server/publications.js#L8-L9) seems secure enough, since It only publishes the `username` field. Should we check for Admin role inside of the `all UsersUsernamesOnly` publication?

[2017-03-09 09:57] snittoor commented on #2266
@saralavanip : I am working on this one #1985

[2017-03-09 10:31] shaliko commented on #2264
@kyyberi @bajiat Please check "Definition of done".

[2017-03-09 10:33] kyyberi commented on #2265
Not all use Github, so we can not rely on that. Adding opportunity to sort of sync the "issue" discussion on APInf and github issue list would add complexity for the admins but also in implementation (perhaps). Since all do not use Github there has to be alternative. Opinions from @brylie @philippeluickx would be appreciated.

[2017-03-09 10:35] marla-singer commented on #2056
@brylie Nope. Username needs for API catalog to display username in card

[2017-03-09 10:49] #1303 closed

[2017-03-09 11:09] brylie commented on #2056
OK, we can close this issue then, it seems.

cc: @bajiat

[2017-03-09 11:09] #2056 closed

[2017-03-09 11:13] kyyberi commented on #2264
@shaliko loosk good. I don't have anything to add at this point.

[2017-03-09 11:17] brylie commented on #2102
@philippeluickx can you open a Github issue for your Feedback meta-feedback? That way we can improve the Feedback module as part of a design/development task.

[2017-03-09 11:28] brylie commented on #2265
I can see a desire to comment on Feedback, as well as other 'entities' in our platform. E.g. users might want to comment on any of the following:

- API/Organizaiton related media
- API Backlog items
- APIs
- Organizations
- ...?

At some level, we can start thinking about an architecture pattern for flexible entity relationships, starting with our current 'related media' feature. In effect, we co

[2017-03-09 11:33] #2173 closed

[2017-03-09 11:44] saralavanip opened #2267 "Footer: Details missing"
# Steps
1.Visit https://staging.apinf.io (v 0.41.0)

# Findings
Footer : details missing -> Github and Twitter icons (links), 'Powered by: Apinf Oy'

# Screenshot

Staging
![staging_footer_details_missing](https://cloud.githubusercontent.com/assets/13309358/23748895/3d357ae8-04ce-11e7-86ac-91eb56f5afb5.PNG)

Nightly
![nightly_footer_details](https://cloud.githubusercontent.com/assets/13309358/2374

[2017-03-09 11:45] marla-singer commented on #2267
@saralavanip Change Branding settings

[2017-03-09 11:51] saralavanip commented on #2267
@marla-singer , Ok! related to admin settings and works as expected.Thanks! closing this issue.

[2017-03-09 11:51] #2267 closed

[2017-03-09 12:26] saralavanip commented on #2055
@nnn , Yes, this issue is also reproducible while bookmark API in API catalog(grid view) as well , Firefox browser (v 51.0.1)
Screenshot:
![bookmark_api_catalog_view_firefox](https://cloud.githubusercontent.com/assets/13309358/23750102/10cad89e-04d4-11e7-95fb-f0cec47c7857.PNG)

[2017-03-09 13:01] brylie opened #2268 "Dashboard console error when rendering proxy backend select widget"
The dashboard on nightly.apinf.io is currently rendering blank. The following error is in the console:

[code]

# Steps to reproduce
1. Log in as **admin** to nightly.apinf.io
2. Press Dashboard link

# Expected result
You are able to select an API for viewing

# Actual result
You see a blank page with only the title Dashboard

# Screenshot
<img width="607" alt="empty dashboard" src="https://cloud

[2017-03-09 13:35] saralavanip opened #2269 "Multiproxy: Add and connect API to proxy shows error"
# Steps
1.Visit https://staging.apinf.io (v 0.41.0)
2.Login
3.Add API
4.Connect API to proxy (eg, API Umbrella: https://staging.apinf.io:3002)

# Findings
- Connect API to 'Staging proxy' shows error : 'API key invalid....'
- Connect API to 'Second nightly' proxy shows error 'Cannot read property length of null'

# Screenshot
![connect api to proxy shows error](https://cloud.githubusercontent.com/

[2017-03-09 13:41] brylie opened #2270 "'Filter by' not working when clicking labels on Organization rofile"
When viewing an Organization Profile, clicking the API Lifecycle status labels does not trigger a filter action.

![peek 2017-03-09 15-40](https://cloud.githubusercontent.com/assets/17307/23752648/e3f06b44-04de-11e7-81f5-fb5289bd0c0b.gif)

[2017-03-09 13:43] marla-singer commented on #2270
@brylie It was added in develop branch a couple hours ago. You should test it tomorrow

[2017-03-09 13:44] brylie commented on #2270
OK, thanks. Forgot about the timing of deployments. Just in the habit of creating issues as soon as I observe them, so I don't forget.

[2017-03-09 13:44] #2270 closed

[2017-03-09 14:03] bajiat commented on #2184
@marla-singer
We should not create an organization based on the old data on the API Metadata tab, you are definitely right about this.
Where do you store the old data from metadata tab after migration, if there is no organization? I'm not sure it is needed, if there is no way to see or to take any actions about it.

[2017-03-09 15:29] marla-singer commented on #2269
@saralavanip "API umbrella" proxy has the old incorrect credentials. I created a new one with name "API-umbrella new". Please check it again.
What about the Second nightly - the server works unstable. Please check multi-proxy case with "Nightly umbrella". This should work as expected.

[2017-03-09 15:43] marla-singer commented on #2268
@brylie Nope. Looks like the subscription is not ready. On local it's ok. I have data on a client side in nightly. But the error I have as well.
![2017-03-09 18 41 55](https://cloud.githubusercontent.com/assets/20643403/23757571/46caf946-04f8-11e7-94c5-94f81c1dc622.png)

[2017-03-09 15:47] marla-singer commented on #2268
But on the another hand, we actually wait for readiness of subscription.
https://github.com/apinf/platform/blob/develop/dashboard/client/dashboard.html#L6

[2017-03-09 15:51] marla-singer commented on #2268
@brylie It repeats when the user is admin. I checked it as manager, wasn't reproduced.

[2017-03-09 16:18] philippeluickx commented on #2265
In all fairness, I've often said that we should have "the github for APIs". Not sure what Swagger Hub's role is here.
- If feedback is mainly about the API, then comments should live with the Swagger file and the Swagger file should be hosted on Swagger Hub
- If feedback can be about anything (also SDKs, examples, blog,...) then we just copy Github issues. That will include a lot more functionalit

[2017-03-09 16:19] philippeluickx opened #2271 "Feedback improvements"
Quick feedback on the feedback process (meta-feedback?):

- Too complex - 3 fields to fill in for a simple feedback?
- Modal - not the right UI (discussion can be found online, but consensus is driving towards not using modals for this purpose)
- Not clear what happens with my feedback. Who gets the feedback, how do I get notified about replies?

[2017-03-09 16:25] kyyberi commented on #2271
+1
related to #2265

[2017-03-09 16:27] kyyberi commented on #2271
Example from use
![kuvakaappaus 2017-03-09 18-23-30](https://cloud.githubusercontent.com/assets/1927158/23759566/cdf81b5e-04f5-11e7-98be-e4d8a384b5da.png)

As API designer I would like to respond to questions. In addition, we'll come to situation that we have pretty soon 50+ items in feedback. Perhaps there should be similar to Github filtering (open/closed?)

[2017-03-09 16:35] kyyberi commented on #2265
Swaggerhub is atm the only online usable tool to do API design (with swagger) and keep them in one place. Our current model is to support API creation from start to end. Anything less is swimming against the mainstream.

There can be different opinions about the swaggerhub's usability, but it fulfils for example my needs pretty well and I'm ready to forgive shortcomings in UX for now. Is it really

[2017-03-09 16:42] kyyberi commented on #2265
Clicking title row (or at least the feedback title text) should open/close the feedback.

[2017-03-10 05:01] kyyberi commented on #2261
I can't login with Github. Process starts, but is never finished.

[2017-03-10 08:16] marla-singer commented on #2268
I detected the reason. Dashboard page has only managed APIs data. The error isn't reproduced for a manager because in this case, all needed data is on the client side. But when a user is admin, the client side doesn't have needed data and there throws error

[2017-03-10 09:45] #1963 closed

[2017-03-10 09:45] #1985 closed

[2017-03-10 09:49] brylie commented on #2268
Thanks @marla-singer.

@bajiat, should we prioritize this issue? E.g. for next sprint perhaps?

[2017-03-10 10:59] marla-singer commented on #2185
@bajiat If API metadata doesn't exist and API is already connected to an organization. What to do? Create the API Metadata document by hand in code?

[2017-03-10 12:22] nnn commented on #1957
Tried out [GitHub Changelog Generator](https://github.com/skywinder/github-changelog-generator), works like a charm.
[Output example](https://gist.github.com/nnn/44d00b24022fb648814d29036fbebce2) was generated by command:
[code]
Usage:
https://github.com/skywinder/github-changelog-generator/wiki/Advanced-change-log-generation-examples#basic-usage

Here are the alternatives:
https://github.com/skyw

[2017-03-10 12:25] nnn commented on #1957
@bajiat let know, if you need a demo for this.

[2017-03-10 12:29] jykae commented on #1957
Great that you decided to embrace automation :)

[2017-03-10 12:56] #2184 closed

[2017-03-10 13:59] bajiat commented on #2220
@marla-singer Could you please add steps to reproduce? I'd like to assign the issue to @snittoor

[2017-03-10 14:17] shaliko opened #2274 "Research: Try run Apinf+Api-umbrella in Docker Swarm cluster"
Docker Swarm cluster looks simpler than OpenShift/Kubernetis but it covers all features what we need.

Definition of done:
- Run Apinf+Api-umbrella with persisted storage in Docker Swarm cluster.
- Provide instructions for run Apinf in Docker Swarm cluster.
- Provide pros and cons between OpenShift/Kubernetis VS Docker Swarm.

[2017-03-10 14:21] nnn commented on #1957
Tested with @bajiat on Windows. Couldn't make it work, due to existing bug, but since she is switching to Ubuntu, won't spend time to make it work on Windows.

@apinf/developers if anybody has a desire to test this package - please do. If you have other suggestions, post them here.

[2017-03-10 14:27] shaliko commented on #1957
@nnn @bajiat We can create simple web app, that will generate for us report from browser, based on "https://github.com/skywinder/github-changelog-generator".

[2017-03-10 14:32] nnn commented on #1957
@shaliko yeah, sure, it would be nice, but I think it doesn't worth our efforts, since this is a biweekly dealio.

[2017-03-10 15:07] marla-singer commented on #2220
@bajiat Done
@snittoor If you have the questions about step, you can write me

[2017-03-10 15:08] bajiat commented on #2220
@marla-singer Thanks!

[2017-03-10 15:22] shaliko commented on #1957
Docker version:

[code]

[2017-03-10 19:08] kyyberi opened #2277 "Metadata settings for social media"
## Result now
At the moment it is not very appealing for API owner to share link to our API management. Below is how "HSL Vehicle positions" API is shown in FB.....
<img width="519" alt="screenshot at maaliskuuta 10 21-05-04" src="https://cloud.githubusercontent.com/assets/1927158/23809224/88a04762-05d5-11e7-9f17-248e0db5b6f5.png">

## Expected
Given logo in the post. Title aka API name visible. A

[2017-03-11 05:55] kyyberi commented on #2102
I heard there was discussion about PUT and POST methods. It is common practice that both can be used to create new object in the system. PUT is valid for creating a resource, but only if the client has the privilege of naming the resource. In our case that is not the case. We identify objects by ID and that is never defined by client. Thus in our API design new items are always created with POST.

[2017-03-11 05:57] kyyberi commented on #2274
+1

[2017-03-13 06:58] kyyberi commented on #2102
Reason to have /apis/updates is that it gives you just updates (delta) about changes. Putting all in one method (/apis/) makes it bloated and hard to understand/communicate.

[2017-03-13 07:19] bajiat commented on #2185
@marla-singer Definition of done seems ok.

In which situation this would occur?

[2017-03-13 07:28] kyyberi commented on #2102
Did some improvements to show more clearly, which methods require authentication. Closing this issue and pushing it to external developer review.

[2017-03-13 07:28] #2102 closed

[2017-03-13 07:31] marla-singer commented on #2185
@bajiat
-  For example, you have an API without API Metadata.
![joxi_screenshot_1489390203919](https://cloud.githubusercontent.com/assets/20643403/23845245/0b283f74-07d8-11e7-9147-9434782ed0df.png)

- You decide to connected your API to an organization. Navigate to `Settings` tab, select the organization, the message about success operation is displayed.
- You navigate to `Metadata` tab. What are

[2017-03-13 07:48] philippeluickx commented on #2102
/apis/updates: So it's kind of a revision history?

[2017-03-13 07:59] kyyberi commented on #2102
Yeah

[2017-03-13 08:04] #2260 closed

[2017-03-13 08:22] saralavanip commented on #2269
@marla-singer , Add API->connect API to proxy: 'Nightly Umbrella' / 'API Umbrella new' / Second nightly is working as expected.

Change API proxy to ->API Umbrella new/ Second nightly is not responding.

[2017-03-13 08:46] marla-singer commented on #2185
@bajiat Can you please describe the steps of **"How to demo"**? I'd like to see what do you expect from this feature and how will it work?

[2017-03-13 09:48] philippeluickx commented on #2102
My suggestion would be to rename it to revisions then. It's more concrete.

[2017-03-13 11:23] bajiat commented on #2266
Closing as duplicate

[2017-03-13 11:23] #2266 closed

[2017-03-13 11:26] bajiat commented on #2185
Option 2.
If the organization already had other information besides the name, then that too.

[2017-03-13 12:59] brylie commented on #2241
@apinf/core @apinf/developers please review.

[2017-03-13 13:05] frenchbread commented on #2241
Really good work! 👍

Just wondering if permission levels for Analytics dashboard should be explained in this document as well?

[2017-03-13 13:07] brylie commented on #2241
@frenchbread good point. I will consider how to add those to the diagram ASAP.

[2017-03-13 13:13] brylie commented on #2241
@frenchbread I added the Analytics to the model. See if it aligns with your understanding.

[2017-03-13 13:13] marla-singer commented on #2241
**Autherticated User** can add Feedback, can set Rating and Get API key
**API Manager** can add Backlog in his own API

[2017-03-13 13:16] marla-singer commented on #2241
Additionally part 2:
**Organization manager** and **Admin user** can edit Settings in Organization.

[2017-03-13 13:33] frenchbread commented on #2241
@brylie My understanding is that API Dashboard has two states:

### API Manager
- Can view analytics for **all** APIs added by him/her

### Admin
- Can view analytics for the **entire** APIs collection

[2017-03-13 15:20] bajiat commented on #2175
Status: Texts imported to OneSky and translated to Finnish. Next step is proofreading.

[2017-03-13 15:21] nnn commented on #1957
@brylie @bajiat ready for review. What are next steps here?

[2017-03-13 15:35] kyyberi opened #2279 "Understandable URLs for APIs and organizations"
It might not sound a big issue but we need to have human understandable URLs for APIs.
This hardly is one: https://apinf.io/api/TYf33t5B6D6fwamKt (APInf Catalog REST API). Suggestion is to make it something like https://apinf.io/apis/APInf-Catalog-REST-API

Note that in path I used plural "apis" which is the practice in REST APIs (in our catalogue API as well). This would make REST API and web beh

[2017-03-14 04:48] kyyberi commented on #2279
Same goes for organizations.

[2017-03-14 05:09] kyyberi opened #2280 "Consider using standard OAuth2 for authentication with APinf and platform REST APIs"
Currently authentication in APInf is handled with Meteor Auth. We need to have standard Auth for REST API as well. OAuth2 is expected by the community. OAuth brings trust and developers are more familiar with it.

[2017-03-14 05:16] kyyberi commented on #2277
For FB: https://developers.facebook.com/docs/sharing/best-practices#tags

[2017-03-14 05:18] kyyberi commented on #2277
I believe pretty much often OG metadata are used. Same goes with LinkedIn https://www.linkedin.com/help/linkedin/answer/46687/making-your-website-shareable-on-linkedin?lang=en

[2017-03-14 06:52] marla-singer opened #2281 "The incorrect template is displayed after the page refresh"
### Steps
1. Sign in as admin in nightly.apinf.io
2. Navigate to Users page (https://nightly.apinf.io/users)
3. Refresh the page

### Expected
The same page as before refresh

### Found
No authorize template

### Reason
The `Roles` package actually depends on a subscription, which means that if the subscription is not ready the `Roles.userIsInRole` method [will always return false](https://github.

[2017-03-14 07:20] saralavanip commented on #2208
Verified this issue on staging v 0.41.0 and it was reproducible.

[2017-03-14 07:38] Nazarah commented on #2241
At this picture, under API Manager, the tab for "Proxy" should be added for public/private API block.

[2017-03-14 07:46] bajiat commented on #2162
@brylie Would it be ok, if @nnn would help you in this task?

[2017-03-14 07:55] philippeluickx opened #2284 "API URL field in detail view is editable"
The API URL field is meant to be copied. However, one can edit it. There is no save button and it shouldn't be editable anyway.

[2017-03-14 07:56] philippeluickx opened #2285 "Swagger viewer: expanded operations by default"
It would make more sense to expand the operations of a Swagger view by default. It's where the information is and should be shown straight

[2017-03-14 08:01] philippeluickx opened #2286 ""Try it" curl examples are not working"
E.g. go to https://apinf.io/api/Nv9wu6JpAwYfA9T5P#api-details - this is the Github API.
The first endpoint has a curl:

[code]
Notice the URL: https://apinf.io:3002/emojis . This is definitely not correct. Either it should be something like api.github.com/emojis (based on the API url) or then apinf.io/Nv9wu6JpAwYfA9T5P/emojis (or whatever proxy is installed).

[2017-03-14 08:16] marla-singer commented on #2279
@kyyberi The organization profile already has the friendly url
https://nightly.apinf.io/organizations/darias-organization
https://nightly.apinf.io/organizations/zoo
https://nightly.apinf.io/organizations/test-new-organization

[2017-03-14 08:27] #2230 closed

[2017-03-14 08:35] #2222 closed

[2017-03-14 08:35] #2281 closed

[2017-03-14 08:37] brylie commented on #1957
It seems like, to some extent, this process relies on Github metadata such as label, milestone, issue description, etc.

As a follow up to this task, we should include some brief note(s) about how our development process should use the Github metadata, so this package will correctly identify our changes. E.g. what labels does it look for?

[2017-03-14 09:00] philippeluickx opened #2288 "Footer code for platform admin"
# Scenario
As owner of an installation of APInf, I want to analyze how users are going through the platform. What do they do, where do they drop off, where do they come from etc.

# Solution
There are a lot of 3rd party tools that are typically integrated with a line of Javascript code added in the bottom of the master template. By adding a field for admins to fill out, we can support any of these

[2017-03-14 09:10] saralavanip opened #2289 "Click on filter tab 'My organizations' shows user info. text momentarily"
# Steps
1.Visit https://staging.apinf.io  (v 0.41.0)
2.Login as admin
3.Add organizations
4.Go to Organization catalog
5.Click on filter tab 'My organizations'

# Findings
- Click on filter tab 'My organizations' shows user info. text  momentarily "No organizations available....Click on 'Add Organization' button to add one "
- Click on My organizations->click on 'Show all' also shows the same info

[2017-03-14 09:14] marla-singer commented on #2209
@saralavanip @bajiat
- **API 'Details' view:** (1), **Add Media dialog** (2), **Add Backlog Item view** (7) should be fixed after Translation round
- **Organization 'Settings' view** (5), **API 'Settings' view**(6) can be fixed
- **Users view** (3) and **'Update Roles' dialog:**(4) are the 3rd party library and doesn't support from our code

[2017-03-14 09:38] philippeluickx opened #2290 "Allow URLs without protocol"
When adding URLs to fields (e.g. in settings), allow a URL without https:// . If no other protocol is defined, add https:// as a default.

Or at least indicate that protocol is needed. Error messages are useless here because it gives no indication what is wrong.

[2017-03-14 11:44] kyyberi commented on #2279
Good! I've been working mostly with the production version so I'm not always uptodate about what's in the staging.

What are the problems you refer to?

[2017-03-14 11:51] saralavanip opened #2291 "User unable to Export: API or proxy configuration in YAML or JSON formats"
# Steps
1.Visit https://staging.apinf.io   v 0.41.0
2.Login as admin/owner
3.Add API
3.Go to API catalog
4.Select API added above
5.Click on 'Export'
6.Go to 'Export API/Proxy configuration'
7.Click on 'Export .yaml / Export .json  '

# Expected Result
Successful  export  API / proxy configuration in .yaml or .json formats

# Actual Result
Click on 'Export. yaml or Export .json  not responding

[2017-03-14 12:03] saralavanip commented on #2215
@bajiat , re-checked with Github link:
- login as admin->Branding->Social Media->Select Github and Add URL -> Result: Github link working  as expected

[2017-03-14 12:45] #2175 closed

[2017-03-14 12:46] #2160 closed

[2017-03-14 12:54] marla-singer commented on #2279
The tail of URL is the ID of API in the database. And it is the easy way to know ID of current API - get it from URL. So it's possible but can take a time to remove from ID to friendly (slug) URL for APIs. It just a remark from me to keep it in mind.

[2017-03-14 13:01] brylie commented on #2241
Thanks all. I have added changes based on your feedback.

@frenchbread I do not have a separate block for the dashboard, rather choosing to use a square for 'Analytics'. This is to keep the diagram simple, and indicate the analytics are related to a given API.

[2017-03-14 13:14] bajiat commented on #2241
What about admin user who can add proxies? And add/edit settings (incl. branding)? Does this need to be visualized?

[2017-03-14 13:36] matleppa opened #2292 "Slashes in proxy/API URL addresses and paths"
1) When Proxy or API address is given, it is possible to end it with a slash.
2) When Proxy or API base path is given, it is mandatory to begin and end it with a slash.
Problem: This can lead to an erroneous path containing double slashes, which is not detected by the system.
Solution: Giving trailing slash in Proxy or API address must be denied.
Giving leading and trailing slashes in Proxy/API ba

[2017-03-14 14:16] taija commented on #2215
@saralavanip - I think you tagged the wrong person earlier; not involved with this project 😃

[2017-03-14 14:22] saralavanip commented on #2215
@taija, sorry , please ignore and thanks for letting me know :)

[2017-03-14 14:42] nnn commented on #2162
[Here](https://api-umbrella.readthedocs.io/en/latest/api-consumer/api-key-usage.html) is good place to start off.

[2017-03-14 14:54] shaliko commented on #2264
@phanimahesh @kyyberi  what do you think, can we use https://mosquitto.org/ ? I found that it can be easy installed on Raspberry PI.

[2017-03-14 15:03] saralavanip opened #2293 "User not notified if no 'My APIs' available"
#Steps
1.Visit https://staging.apinf.io  ( v 0.41.0 )
2.Sign up
3.Go to APIs catalog
4.Click on filter tab 'My APIs'

#Findings
- Shows empty page
- Users might be notified with info text eg. "There are no APIs that you manage...Add API"

Screenshot
![no_myapis_empty_page](https://cloud.githubusercontent.com/assets/13309358/23906890/1855580c-08d8-11e7-8965-5fc7cc196665.PNG)

[2017-03-14 15:44] saralavanip opened #2294 "Admin dashboard shows empty page"
# Steps
1.Visit https://nightly.apinf.io   (v 0.41.0)
2.Login as admin
3.Go to Dashboard

# Findings
shows empty page

# Screenshot
![nightly_admin_dashboard_empty_page](https://cloud.githubusercontent.com/assets/13309358/23908831/bdaddb1c-08dd-11e7-8f66-2f9939a932d7.PNG)

[2017-03-14 15:50] philippeluickx commented on #2279
Related to https://github.com/apinf/platform/issues/1400

We should go like Github. Namespace either organization or user. Then the uniqueness comes from combination of org/user + slug.

Slugs can be auto-increment. https://github.com/todda00/meteor-friendly-slugs

[2017-03-14 16:18] saralavanip opened #2295 "Sign Up/Sign In with Github account not responding"
# Steps
1.Visit https://staging.apinf.io   (v 0.41.0)
2.Navigate to Sign Up
3.Click on 'Register with Github account'
4.Enter username and password
5.Click on 'Sign In' button

# Expected Result
- Successful Sign up with Github account
- User logged in to https://staging.apinf.io

# Actual Result
- Remains in 'Sign Up' page
- Github login view shows info text 'Sign In to Github to continue with ni

[2017-03-14 20:33] kyyberi commented on #2264
I don't have the skills or knowledge to make statement. If we aim to get something to the dashboard from mqtt broker, does selecting mosquitto make our future path much harder? If not, then lets go with the mosquitto. If yes, then the question is how much additional work it require and how to maintain the package in the future. Any deviation from "standard" APInf mean probably more maintenance tas

[2017-03-15 04:54] kyyberi commented on #2279
If we go with github model, it means that APIs can not be moved from person or organization to another without breaking the applications using given APIs. Change in the slug affects API paths, right?

[2017-03-15 05:32] kyyberi commented on #2102
I asked ext developer(s) opinion about the path and they say both is fine, but like original "updates" better.

[2017-03-15 07:12] marla-singer commented on #2294
Duplicate of #2268. Close it

[2017-03-15 07:12] #2294 closed

[2017-03-15 08:16] philippeluickx commented on #2004
Agreed, this will really facilitate their flows.

[2017-03-15 08:35] philippeluickx commented on #2279
That's where lifecycle comes in I assume? Your argument is true even without using apinf.io. If I decide to rename my company "foo" to "bar" then I would probably also have to change my api url from api.foo.com to api.bar.com.
Feedback welcome!

[2017-03-15 11:31] #855 closed

[2017-03-15 11:31] #2064 closed

[2017-03-15 11:31] #2185 closed

[2017-03-15 13:07] nnn commented on #2162
Answering question stated in the issue - yes, it's possible.
Thanks to @frenchbread for help, we ceme up with this method to kinda demonstrate this.
To test it yourself, simply add it to `/elasticsearch/server/methods.js`
[code]

[2017-03-15 13:29] marla-singer opened #2296 ""Swagger document is not valid" after updating apiDoc"
Early nightly.apinf.io site has the APIs with uploaded Swagger documentation. About month ago we implemented the new version of Documentation Manage dialog which allows adding Swagger documentation both File and URL.

Now it displays"Swagger document is not valid" with the old correct documentation. I changed the type to File and the Swagger UI was updated after refreshing.

Verified on nigthly.ap

[2017-03-15 13:58] brylie opened #2297 "Developer experience onboarding process"
It has been discussed, and was brought up again by Chandra, that we want to use Apinf as a platform to encourage 'best practices for developer experience'. To this end, we could create an incentive system, similar to Linked in profile progress bar, that encourages **API Owners** to provide comprehensive information about their API, such as:

- title
- description
- documentation
- backlog
- etc

A

[2017-03-15 14:41] marla-singer opened #2298 "Try-out methods are not updated"
### Steps
1. Download Swagger documentation to your API
2. Set Get method
3. Click on Save button
4. Make sure Try out button are appeared only for GET method.
5. Open Manage dilog window, unset GET method
6. Check documentation

### Expected
- Try out button is disappeared

### Found
- Try out button is still on GET Method

[2017-03-15 14:47] brylie commented on #2162
After discussing with @nnn, we agreed to create a new, or update an existing, document in `apinf/docs` with details about the Elasticsearch data structure. That way, we can use the data structure to guide the design of our dashboard charts, and determine the best data to meet end-user needs.

[2017-03-15 17:46] kyyberi commented on #2297
Once 100% is reached, they are called DX champions :)

[2017-03-16 07:34] bajiat commented on #1012
Closing this, since all APIs connected to an organization can be found from the Organization page.

[2017-03-16 07:34] #1012 closed

[2017-03-16 08:03] bajiat opened #2301 "Dashboard page is blank in nightly"
# Steps to reproduce
1. Log in as admin or API owner to nightly.apinf.io
2. Press Dashboard link

# Expected result
You are able to select an API for viewing

# Actual result
You see a blank page with only the title Dashboard

# Screenshot
<img width="607" alt="empty dashboard" src="https://cloud.githubusercontent.com/assets/11626388/23987056/1fda4e8a-0a30-11e7-9a7f-719a1e35677f.png">

[2017-03-16 08:08] brylie commented on #2301
cc: @marla-singer

[2017-03-16 08:09] marla-singer commented on #2301
@brylie It is a duplicate of #2268. It has not been resolved yet.

[2017-03-16 08:11] bajiat opened #2302 "Architecture documentation for FIWARE"
# Goals
Prepare and deliver documentation/diagram about
* run-time architecture and api management components
* how to configure api management

# Work in progress
![screenshot_20170321_110024](https://cloud.githubusercontent.com/assets/17307/24139679/b9b260a8-0e25-11e7-8458-b1045f47cfa0.png)

[2017-03-16 08:12] marla-singer commented on #2301
@bajiat It is repeated only for Admin. As API Manager I can see Dashboard page correct
![joxi_screenshot_1489651853436](https://cloud.githubusercontent.com/assets/20643403/23987190/68121490-0a39-11e7-8127-f47e66ec546f.png)

[2017-03-16 08:13] brylie commented on #2301
Closing as duplicate.

[2017-03-16 08:13] #2301 closed

[2017-03-16 08:17] bajiat commented on #2268
Yes, we should prioritize definitely prioritize this.

[2017-03-16 08:21] bajiat opened #2303 "Organization page branding"
# User story
As an organization manager,
I would like to configure my organization's page
and add branding elements to the page.

# Customer requests
* Cover image
* Handling organization logos: no scrunching allowed
* Configurable social media link
* Configurable number of APIs
* Configurable number of media items
* RSS feed about APIS: triggered by adding an API
* Pinning featured APIs to the to

[2017-03-16 08:24] bajiat commented on #2208
This is not reproducible in nightly. Logos are visible.

[2017-03-16 08:26] marla-singer commented on #2208
@bajiat We haven't done the release on staging

[2017-03-16 08:34] bajiat commented on #2295
@saralavanip Closing. Should not be reproducible now, I have modified the Github registration settings for staging and tested sign up.

[2017-03-16 08:34] #2295 closed

[2017-03-16 08:46] ccsr commented on #1986
+1

[2017-03-16 08:56] #2286 closed

[2017-03-16 08:56] #2298 closed

[2017-03-16 09:14] philippeluickx commented on #2286
Good job on tackling this one so quickly!

[2017-03-16 09:17] #2197 closed

[2017-03-16 09:52] philippeluickx commented on #2178
My opinions:
- Definitely moving with big steps forward, good improvements!
- CTA should be a focus on the content. Since we assume that most visitors are API users, there's 2 options: either they know what they look for > Search API or they want to browse and discover > most popular APIs.
- Signup should be postponed until it fits the mental model for a user. E.g. only when a user "bookmarks" an

[2017-03-16 11:06] bajiat commented on #2216
Is this still reproducible or is swagger.apinf.io running?

[2017-03-16 11:28] bajiat opened #2304 "Timeline feature"
Design a multilevel timeline feature

# Some ideas
* Platform timeline
* History of an API: lifecycle or other changes
  * revision history or activity feed
* organization timeline: apis and media added
* user profile timeline

Connect the timeline to RSS feed

[2017-03-16 12:13] bajiat opened #2305 "Cover image for organization page"
# Goal

Organization manager can add, edit and delete a cover image. The cover image is displayed in the header of the organization page.Respect the aspect ratio of the image. If needed, hide part of the image.

[2017-03-16 12:15] bajiat commented on #2305
Duplicate of #2068. Closing.

[2017-03-16 12:16] manzapanza commented on #2269
@marla-singer @saralavanip The second error also happens when the proxy configuration has some wrong data.

[2017-03-16 12:17] #2305 closed

[2017-03-16 12:25] manzapanza commented on #2291
@saralavanip @marla-singer  This happens when the api doesn't have a proxy configurated. In this case maybe we should hide the export proxy buttons?

[2017-03-16 12:26] marla-singer commented on #2269
@manzapanza Check it on https://nightly.apinf.io

[2017-03-16 12:32] marla-singer commented on #2291
@manzapanza Check it on https://nightly.apinf.io

[2017-03-16 12:41] nnn commented on #2191
My suggestion based on discussion with @brylie:

/*
Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11
*/

[2017-03-16 12:54] manzapanza commented on #2291
@marla-singer You mean that the export tab disappear?

[2017-03-16 12:55] marla-singer commented on #2291
@manzapanza Nope. Export working. It works as expected

[2017-03-16 13:09] manzapanza commented on #2120
I just found this list of public apis:
https://github.com/toddmotto/public-apis#food-and-drink

There are a lot of public apis organized by category. I will start testing the BreweryDB api and then I will add to apinf.

[2017-03-16 13:27] manzapanza commented on #2291
@marla-singer You are right. I will test it better!

[2017-03-16 13:33] bajiat opened #2306 "Displaying organization logos: no scrunching allowed"
# Goal

Organization logo aspect ratio is maintained on the organization page.
This means that other content next to the logo is shifted to make room the logo, if necessary, when the page is rendered.
Logo upload is moved in to  Branding configuration in Settings page.

# Definition of done
To be defined by assignee

# Wireframe
1. In Organization Settings tab, the General section contains a Logo

[2017-03-16 13:39] bajiat opened #2307 "Configurable social media links"
# Goal

* Owner can define links to social media to be shown on the header part of the page.
* There is a predefined list for social media for which a link can be added: Twitter, Facebook, Instagram. Linkedin.
* There is a logo for each of the social media in the same way as for the contact information
* Adding the links is not mandatory
* When a link has been added, it is displayed in the header

[2017-03-16 13:40] marla-singer commented on #2307
@bajiat Interested on the next sprint

[2017-03-16 13:46] bajiat opened #2308 "Number of APIs shown on the organization page"
# Goal

Allow the organization manager to define the number of APIs to be shown on the organization profile page in one view. This should happen in organization settings / branding configuration.
This also requires pagination for the API block.

# Definition of done

* [ ] Add a select list
* [ ] Select list is populated by numbers in 4, 8, 12, 16, 20, 24.
* [ ] On each number change, the display

[2017-03-16 13:56] bajiat opened #2309 "Number of media items shown on the organization page"
# Goal

Allow the organization manager to define the number of media items to be shown on the organization profile page in one view.
Configurable mode requires changes to pagination feature.

# Definition of done
* [x] Update the organization model by added new field for number of medias.
* [x] Add view for the number of medias, use a dropdown list and save button.
* [x] Add a controller to trigge

[2017-03-16 13:59] bajiat opened #2310 "RSS feed about APIS: triggered by adding an API"
# Goal

Allow information about organization APIs to be harvested to outside systems like RSS readers Zapier through creating a RSS feed about of all organization APIs, newest on top, oldest as last.

Open issue: level of detail about APIs

# Definition of done
* [ ] Searching for RSS feed generator
* [ ] Selecting schema(s) for joining attributes
* [ ] Querying for APIs related to an organization

[2017-03-16 14:03] bajiat opened #2311 "Pinning featured APIs to the top of the API catalog"
# Goal
* Organization manager can select certain APIs to be "Featured APIs" for this organization.
* The Featured APIs are displayed at the top of API area on the organization page, either as their own row or as first APIs.
  * If the APIs are sorted by name Featured APIs always precede any other APIs.  sorting by name means Featured APIs sorted by name followed by all other APIs sorted by name. L

[2017-03-16 14:08] kyyberi commented on #2307
And LinkedIn

[2017-03-16 14:14] bajiat opened #2312 "Add sorting for APIs on Organization page"
# Goal
* User viewing the Organization page can select the sorting for the APIs on the organization page: time added and alphabetical (internationalized) sorting.
* Simplify the sorting widget used on the API catalog page.
* Make sure the simplified widget can be later reused in the API catalog.)

# Definition of done
* [ ] To be defined by assignee

# Wireframes
**Version 1**
![organizationapisor

[2017-03-16 17:10] manzapanza opened #2314 "Add proxy validation should have a "test connection proxy""
# Steps
2.Login as admin
3.Visit /settings/proxies
4.Click Add Proxy button
4.Insert values of an "imaginary" proxy:

    Name: "My imaginary proxy"
    Description: "My imaginary proxy"
    Type: "apiUmbrella"

    Api Url: "https://www.my-imaginary-proxy.com"
    Api Key: "qwerty"
    Auth Token: "123456"
    ElasticSearch: "https://www.my-imaginary-proxy.com"

# Actual result
Proxy settings wer

[2017-03-16 17:43] kyyberi opened #2315 "In organization view, API names cut off"
## Current outcome
In organization view https://apinf.io/organizations/tm-forum-ecosystem API names in cards are cut off. This is not acceptable.
![tmforum](https://cloud.githubusercontent.com/assets/1927158/24010452/9a02ed16-0a80-11e7-842e-1cafad9466f7.png)

## Expected outcome
API names are presented as they are given by the owner.

[2017-03-17 06:50] kyyberi commented on #2296
I get that in production now. https://apinf.io/apis/gRckL9iXKXSvJDeyb

[2017-03-17 06:53] kyyberi commented on #2277
Perhaps it would make sense to combine this to #2307, @bajiat to decide.

[2017-03-17 07:09] saralavanip opened #2316 "Frontpage footer: click on SignUp/SignIn links shows 404 error message"
# Steps:
1.Visit https://apinf.io   v 0.41.0
2.Go to frontpage footer
3.Click on  'SignIn' or 'SignUp' links

# Result
shows 404 error 'Page Not found'

# Screenshot
![apinf_frontpage_signin_link](https://cloud.githubusercontent.com/assets/13309358/24032519/1b3b9c14-0af1-11e7-9944-de02226ae2e2.PNG)

![signin_signup_link_404error](https://cloud.githubusercontent.com/assets/13309358/24032551/4c66af2

[2017-03-17 07:20] Nazarah commented on #2306
Need clarification: will we have a separate panel called "Banding Configuration" in Settings tab of Organization profile? Because from the Settings page under User profile, we are able to change only site logo and background image.

[2017-03-17 07:28] marla-singer commented on #2316
@saralavanip @bajiat It's resolved on nigtly.apinf.io. Must be available for staging after release

[2017-03-17 07:32] Nazarah commented on #2307
Should we show the added logos in Organization profile header?
If we have small numbers of logos, then they can be accommodated in the header. Otherwise, we can always use a simple share button and be clicking this would show available social platforms in a small menu.
We also can show them below profile page, but this would require users to scroll down and this might create issues with visibility

[2017-03-17 07:39] marla-singer commented on #2200
Searched the same issues, found one [open PR](https://github.com/swagger-api/swagger-ui/issues/2225). The problem is that the sanitization is happening twice for ampersand symbol.
1. & -> &amp;
2. &apm; -> &amp;amp;
3. &amp;amp; -> &amps; (after render)
This situation is repeated only for an ampersand. Other symbols were not sanitized twice.
Maybe Swagger library parsed and it incorrect or problem

[2017-03-17 07:44] bajiat opened #2317 "Consolidate organization settings into one place"
# Goal

* All organization settings can be found from one place: the settings tab. This includes the settings in the header area
* Thee settings are organized in a meaningful way.
* There is a panel / group for (organization page) branding configuration panel in the organization settings.

# Definition of done
* [ ] All organization settings can be managed via Organization Settings tab
* [ ] Organ

[2017-03-17 07:45] Nazarah commented on #2311
Need clarification:
1. suppose there are three APIs: A1, A2 and B1.
A2 and B1 are featured APIs.
So when APIs are "sorted by name", would they appear as the following: A2, B1, A1?

2. Are we implementing sorting functionality for APIs in Organization Profile Page?
Or this is something the manager would configure from the Settings tab?
(i.e. a new panel that defines how the APIs would be sorted: na

[2017-03-17 07:48] bajiat commented on #2296
Should this be hotfixed to production once it has been fixed?

[2017-03-17 07:51] bajiat commented on #2216
@shaliko Is swagger.apinf.io up and running?

[2017-03-17 07:52] Nazarah commented on #2308
Right now, both in API catalog and Organization profile page, 4 APIs are shown in each row. Should we have a dropmenu in Settings tab having numerics that are multiple of 4? Or organization manager would be able to give manual entry to that number?

[2017-03-17 07:56] bajiat commented on #2306
@Nazarah There is a task for consolidating settings. That task also contains the Branding Configuration. (You can come up with a better name)

[2017-03-17 07:58] Nazarah commented on #2309
We have to keep in mind that right now, Media content cards get rendered based on the size of their preview. So if we add pagination as well as letting organization manager to define the number, this might have effect on the look and feel of the media content panel.
Right now, in API profile page, 4 contents  are shown in each row. Should we have a dropmenu in Settings tab having numerics that are

[2017-03-17 08:04] #1926 closed

[2017-03-17 08:05] bajiat commented on #1926
@saralavanip I'm closing the issue based on comments from @marla-singer

[2017-03-17 08:06] Nazarah commented on #2307
https://sharebutton.co/

A good option to try on. Can be forked from Github as well. We can always change the button style with a share icon and place this on organization header.

[2017-03-17 08:13] Nazarah commented on #2068
Are you considering to upload/update header picture from the hheader position itself?
In Facebook profile, we can change/upload our cover picture from that specific place holder.
Also we can drag it up or down to reposition.
Do you want something similar to that?
Or you want this to be configured from the Organization profile settings tab?

[2017-03-17 08:16] bajiat opened #2319 "Design a solution for conflicting proxy front-end paths"
# Problem

See:
https://github.com/apinf/docs/blob/master/docs/research/Namespace%20for%20frontend-prefix.md

Related to following issues: #2093, #2032

Possibly related to: #1400, #2279

# Goal

Finding a user-friendly solution for front-end prefix that would prevent conflicts in API calls and in API analytics.

[2017-03-17 08:18] saralavanip opened #2320 "Organization view: Click on any API shows user info. text momentarily"
# Steps
1.Visit https://apinf.io  v 0.41.0
2.Login as admin/owner
3.Click on Organizations
4.Go to any organization
5.Select and click on any API

# Findings
- shows info message "This Organization doesn't have any connected APIs " momentarily
- Also reproducible on nightly V 0.41.0

[2017-03-17 08:18] shaliko commented on #2216
@bajiat No, will take a look at it today. I waited for details about our DNS for able tests Docker swarm (cluster) on that simple services. If the test will be a success, we will start tests Docker swarm for Apinf setup.

[2017-03-17 08:27] bajiat commented on #2311
@Nazarah
1. Exactly, like you said: A2, B1, A1. Featured always comes before other APis. Each group (featured, other) needs to be sorted internally by the selected sorting criteria.
2. Yes, there is a task for sorting.
3. That would probably be the easiest way to select featured apis.

[2017-03-17 08:28] #2162 closed

[2017-03-17 08:30] bajiat commented on #2312
One idea for simplifying the widget is removing the ascending and descending sorting options. Time added would always be sorted newest first. Alphabetical sorting would be always ascending (e.g. in English this would mean only A > Z, not Z > A).

[2017-03-17 08:31] bajiat commented on #2308
If the screen is smaller, then it is not 4 APIs, right?

[2017-03-17 08:33] bajiat commented on #1539
Yes, feedback tab should be available even if there is no feedback. Unless we want to give a possibility to the API owner to select whether Feedback tab is available for this API.

[2017-03-17 08:38] #2191 closed

[2017-03-17 08:47] bajiat opened #2321 "API profile page: Organization name should be a link"
# User story
As an end user
I want to easily access organization page from the API page.

# Goal
If an API has been connected to an organization, the header area of the API profile contains the name of the organization. The organization name should be a link to the Organization page.

<img width="517" alt="organization name should be link" src="https://cloud.githubusercontent.com/assets/11626388/2

[2017-03-17 08:53] brylie commented on #2093
Opened an upstream support request: https://github.com/NREL/api-umbrella/issues/342

[2017-03-17 08:54] bajiat opened #2322 "Organization name visible as "who added" the API"
# Context
Both the API catalog and API profile show information on who has added the API.

# Current status
* API catalog shows the user who has added the API regardless of whether the API has been connected to an organization.
* API profile
  * always shows which user has added the API
  * if the API is connected to an organization, the organization name is displayed in addition to the user

# Pr

[2017-03-17 10:03] philippeluickx commented on #2029
Updated the first customer journey.

[2017-03-17 11:01] Nazarah commented on #2117
# Persona 1

![aleksanteri jokinen](https://cloud.githubusercontent.com/assets/17976243/24036923/71770c86-0b04-11e7-957d-eac7bcbf9b0a.png)

**Name:** Alesanteri jokinen
**Nationality:** Finnish
**Age:** 30+
**Expertise:** Graduated in CSE; builds Android app
**Occupation:** Android Developer in "XYZ" Organization, GitHub community contributor
**Hobbies:** Playing Video Games and Cats

**Preference

[2017-03-17 11:11] Nazarah commented on #2178
# Mobile View Drafts

**Version 1**
![mobileview1](https://cloud.githubusercontent.com/assets/17976243/24040732/1289bd7c-0b13-11e7-8713-886e548bff5a.png)

**Version 2**
![mobileview2](https://cloud.githubusercontent.com/assets/17976243/24040744/236efe22-0b13-11e7-8043-f9d52ff90949.png)

[2017-03-17 11:16] Nazarah commented on #2117
A very good article for creating and using persona in commercial product development:
http://www.uxbooth.com/articles/creating-personas/

This article projects the idea of developing persona suggested by Alan Cooper, one of the leading UX figures in the community. I used his suggestions in my Masters thesis as well.

[2017-03-17 11:28] manzapanza commented on #2291
@marla-singer I created the api [BreweryDB](https://nightly.apinf.io/apis/7FsWbpbayYTLYJQP2) without a proxy configured. If you try to **Export proxy configuration** you will download a file **apiProxyConfig.json** with "undefined" as content. So it's doesn't works. In this case, when the api proxy is not configurated, we should hide (or disable) only the **Export proxy configuration** or show an

[2017-03-17 11:55] marla-singer commented on #2074
@bajiat Interested

[2017-03-17 11:56] marla-singer commented on #2268
@bajiat Interested

[2017-03-17 12:09] Nazarah opened #2323 "wireframe for "Add fullpage width background image in organization view""
#2068

[2017-03-17 12:09] Nazarah opened #2324 "wireframe for "Displaying organization logos: no scrunching allowed""
#2306

[2017-03-17 12:11] Nazarah opened #2325 "wireframe for "Consolidate organization settings into one place""
#2317

[2017-03-17 12:12] Nazarah opened #2326 "wireframe for "Configurable social media links""
#2307

[2017-03-17 12:13] Nazarah opened #2327 "Wireframe for "Pinning featured APIs to the top of the API catalog""
#2311

[2017-03-17 12:21] Nazarah opened #2328 "wireframe for "Add sorting for APIs on Organization page""
#2312

[2017-03-17 12:22] Nazarah opened #2329 "wireframe for "Number of APIs shown on the organization page""
#2308

[2017-03-17 12:23] Nazarah opened #2330 "wireframe for "Number of media items shown on the organization page""
#2309

[2017-03-17 12:26] manzapanza opened #2331 "Remove proxy settings should validate if is used by some api"
# Steps
2. Login as admin
3. Visit /settings/proxies
4. Click Add Proxy button
5. Insert a Proxy named "Proxy Umbrella A"
6. Visit /apis/new and create an api named "Api A"
7. Click on api tab Proxy
7. Select "Proxy Umbrella A" if the select "Select one proxy" is visible
8. Insert values on fields "Proxy base path" and "API base path" and click on Save & Publish
9. Visit /settings/proxies
10. Clic

[2017-03-17 12:38] #2291 closed

[2017-03-17 12:53] brylie commented on #2302
@apinf/core please review this work-in-progress diagram. Feedback is welcome.

[2017-03-17 14:35] shaliko commented on #2264
@jawidahmadi Did you accidentally close that task?

[2017-03-17 14:39] nnn commented on #697
Relatively cheap custom whiteboard animation:
http://lp.fiverr.com/lp-whiteboard/

[2017-03-17 21:13] nnn commented on #2068
Interested.

[2017-03-17 21:14] nnn commented on #1539
Interested.

[2017-03-17 21:14] nnn commented on #1102
Interested.

[2017-03-17 21:14] nnn commented on #2288
Interested.

[2017-03-17 21:15] nnn commented on #2317
Interested.

[2017-03-17 21:16] nnn commented on #2321
Interested.

[2017-03-19 07:02] kyyberi commented on #2304
Accessing feeds, pick option that is easier to implement:

1. prepend the given URL with "/feed/". For API:Suomi this would become https://apinf.io/feed/organizations/api-suomi (medium.com style)
2. append the given URL with "/feed/". API:Suomi org would become https://apinf.io/organizations/api-suomi/feed/

Which ever pattern is chosen, it should be followed with users and APIs as well.

[2017-03-19 07:09] kyyberi commented on #2304
Some more ideas/needs:

- Some one attaches/detaches API to/from organization
- Organization details are changed
-

Platform level information:
- Organization is created/deleted
- user is created/deleted
- Proxy is added/removed
- platform updates
- platform issue created/closed in Github

[2017-03-19 07:11] kyyberi commented on #2315
Consider providing more pixels for each API card. Atm the cards look too packed, we need air in the look & feel.

[2017-03-19 07:20] kyyberi commented on #2029
Lets have a chat about this @philippeluickx

[2017-03-19 08:38] kyyberi commented on #2277
Organization view (https://apinf.io/organizations/suomen-ymparistokeskus)
<img width="513" alt="syke-fb" src="https://cloud.githubusercontent.com/assets/1927158/24079412/1a857ca4-0c90-11e7-8d3d-823c5e57feb6.png">

[2017-03-19 08:54] kyyberi commented on #2264
Probably, opened again.

[2017-03-19 11:26] kyyberi commented on #2303
We probably should provide color scheme tool like this http://www.pictaculous.com/ Build colormap from logo colors.

[2017-03-19 13:18] marla-singer commented on #2211
@brylie Now we have the three different required jQuery:
1. `jquery-bbq` module installs and uses the local jQuery library version 1.x (the first one)
2. `swagger-ui-browserify` module installs and uses the local jQuery library version 1.x (the second one). But this module needs to use the patched jquery by jquery-bbq (`$.param.fragment` function)
3. `jQuery` module by 2.x version is installed in

[2017-03-19 15:35] kyyberi opened #2334 "Full design driven approach support"
## Story

Afaik we have desided to support design driven approach. In addition aim is to make things as easy as possible for the users (in this case API owner). Then let's do it. API owner should not give us anything else but spec file or URL to it. This should be primary approach.

With simple JSON parsing we can get from swagger spec:
- host (API root)
- contact (email, name, url)
- title
- desc

[2017-03-19 15:43] kyyberi opened #2335 "RAML support"
## Story

Swagger is most popular spec format, but not the only one. Implement RAML support for example by using RAML2Swagger converter.

https://www.npmjs.com/package/raml-to-swagger

[2017-03-20 08:03] brylie commented on #2211
I am not sure that we should choose that solution. In general, we are trying to keep our dependencies up to date, so downgrading jQuery would be contrary to those efforts.

[2017-03-20 08:09] brylie commented on #2211
For reference, we have opened an [upstream issue regarding jQuery BBQ](https://github.com/swagger-api/swagger-ui/issues/1762), which was closed some time ago. I requested the issue be re-opened.

[2017-03-20 08:10] kyyberi opened #2336 "Define APInf platform API architecture"
We have now defined MVP design for Catalog REST API. We need to define the larger picture of platform APIs. Are we adding API management methods to Catalog API? Are we adding statistics methods to Catalog API? Or do we have for example Catalog API, Management API and Statistics API?

Added 2017-04-18:
# User need
- Main user need:  integrating with APInf through the APIs instead of interacting man

[2017-03-20 08:17] bajiat commented on #2336
The API for MQTT users is not an APInf API. You could compare it with the API Umbrella admin API. We would like to integrate with proxies through (admin) APIs.

[2017-03-20 08:21] Nazarah commented on #2317
@bajiat : Settings for a specific organization will also prevail in respective organization profile page under Settings tab right? So that organization manager can configure this from the profile page. If I am not wrong, then the Branding menu under user profile is accessible only to APinf admin. Please correct me if wrong.

[2017-03-20 08:33] bajiat commented on #2317
@Nazarah: Branding here refers only to organization page branding: cover photo, logo, nr of items etc.

[2017-03-20 08:36] brylie opened #2337 "Reinstate Apinf community discussion platform"
The Apinf community discussion was recently  deactivated. We have agreed at the team retrospective to reinstate the community discussion platform.

Obtain a server and re-install/configure the Apinf community discussion platform.

[2017-03-20 08:40] brylie opened #2338 "Organize Apinf community Code of Conduct review"
As members of the larger Apinf community, we are responsible for treating each other with respect and acceptance. To this end, we have adopted a community Code of Conduct document, which sets guidelines for appropriate community conduct.

Since the Code of Conduct is relatively new, we need to review it as a team, so we understand and can modify the document to meet our needs.

# References
- [Api

[2017-03-20 08:46] brylie commented on #2337
It has been pointed out that we would benefit from a 'community manager' or 'community steward' role to help the community platform take off. Simply adding the tool does not guarantee it will be a success.

[2017-03-20 09:11] philippeluickx commented on #2337
We also discussed the needs between open and closed topics. In order to take some pressure off the chat channels, we could create some conversations on the forum instead. But should all of it be open?

I am definitely +1 on having a discussion forum. It'll also allow us to add a people directory, but again the question is on what info should be open..?

[2017-03-20 11:33] manzapanza opened #2340 "Uncaught Error: Configuration options must be set before AccountsTemplates.init!"
Running the project locally for development purposes, when save a file, the app is automatically refreshed and sometimes these errors appear in the console:

[code]

Only killing the app and start again the error disappear.

The full error message:

[code]

[2017-03-20 12:05] bajiat commented on #2268
@marla-singer It's yours. Please estimate.

[2017-03-20 12:19] bajiat commented on #2307
@marla-singer Assigned to you. Please estimate.

[2017-03-20 12:28] bajiat opened #2341 "Pagination to APIs block on the Organization page"
Add or improve pagination of the API block to the Organization page. Check if the pagination from the API catalog page (grid) could be reused.

[2017-03-20 12:33] bajiat commented on #2310
@jawidahmadi has promised to mentor.

[2017-03-20 12:36] bajiat commented on #2074
@brylie wanted have a discussion about this need in the Github issue first

[2017-03-20 12:39] bajiat commented on #2279
@marla-singer Would you be interested in this? Just the URL slug. Namespacing would be solved separately.

[2017-03-20 12:42] marla-singer commented on #2279
@bajiat Without namespaceing it's a large work. If 5 days estimate is okay, I can take it.

[2017-03-20 12:43] shaliko commented on #2216
@bajiat I was deployed swagger.apinf.io and http://sdkgen.apinf.io forget notice on Friday.

[2017-03-20 12:47] bajiat opened #2342 "Re-design the API card so that logo shapes can be preserved"
Re-design the API card so that logo shapes can be preserved. Maximum height and width needs to be defined, though.

### Definition of done
- [x] Create the new style for API card and reviewed it

[2017-03-20 12:48] bajiat commented on #2296
@marla-singer Can you mentor @nnn in this task? Or even be assigned to this task?

[2017-03-20 12:55] #1995 closed

[2017-03-20 12:56] bajiat commented on #1957
@nnn Could you create the changelog.md file to apinf develop branch?

[2017-03-20 12:57] bajiat commented on #1986
Research document was merged.

[2017-03-20 12:59] bajiat commented on #2188
@jawidahmadi @matleppa What is the estimate to complete this task?

[2017-03-20 13:00] bajiat commented on #2241
This diagram is missing the admin permissions for the settings and system proxy. To be reviewed once they have been added.

[2017-03-20 13:05] bajiat opened #2343 "Choose an API monitoring option"
Based on #2129, choose an API monitoring option that could be integrated into APInf as a service for API owners. Note that since it will be an integrated service, it must be open source licensed. (In other words, this is not an internal tool.)

[2017-03-20 13:06] #2129 closed

[2017-03-20 13:09] marla-singer commented on #2296
@bajiat Yes, I can mentor. If @nnn will have the problem with it, I would be able to take this task on the next week. Is it okay?

[2017-03-20 13:11] marla-singer commented on #2307
@Nazarah I think it should be the same as Branding page has the Social Media block. Is it?
![joxi_screenshot_1490013084151](https://cloud.githubusercontent.com/assets/20643403/24099822/4bc4516c-0d82-11e7-937d-be51305e87f6.png)
In API profile header I image all icons will have a grey color and when a user hovers on icons, the color will be changed

[2017-03-20 13:13] frenchbread commented on #1957
Here is one possible approach for generating changelogs - [conventional-changelog]( https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-cli)

Tested it just now & works fine. Basically all that is needed is an NPM package installed globally. So it should work on Windows as well.

This lib has an Atom extension as well, but I couldn't get it

[2017-03-20 13:25] #2321 closed

[2017-03-20 13:42] philippeluickx commented on #2279
@marla-singer could you explain why it would be so much work?

[2017-03-20 13:47] #1061 closed

[2017-03-20 13:48] #2028 closed

[2017-03-20 13:48] #2146 closed

[2017-03-20 13:52] marla-singer commented on #2279
@philippeluickx As I told above now URL for API contains the semantic mean. - it's ID of current API. And our code bases on this ID: API profile, Documentation, Feedback, Metadata, Backlog, Settings - [all tabs on API profile page.](https://github.com/apinf/platform/blob/develop/apis/client/profile/view.js#L25-L52)
@brylie Or do I overrate?

[2017-03-20 13:56] marla-singer commented on #2279
I leave my estimates the same - 5 days

[2017-03-20 14:17] philippeluickx commented on #2279
I don't think slug is replacing the ID. It only is used for URL resolution?
At least that's how I've seen it done in other platforms.

Also please implement it in a way that namespacing can be added later. Or would it be easier with doing namespace at the same time?

[2017-03-20 14:19] marla-singer commented on #2279
@philippeluickx As I remembered, we discussed namespace for Proxy backend request to API-umbrella, not for API URL. And this task doesn't have any relationship to namespace

[2017-03-20 14:21] philippeluickx commented on #2279
Ah ok, my bad.

Comment about slug not replacing ID still relevant though.

[2017-03-20 18:40] kyyberi commented on #2335
Never mind. To icebox

[2017-03-20 18:41] kyyberi commented on #2336
Ok. Still we should have api architecture defined. Otherwise we build spagetti apis.

[2017-03-21 05:46] kyyberi opened #2345 "Enhance readability in API settings"
I've been adding like 60 APIs to catalog during the past few days. In my experience the readability of the settings page is not good enough. It looks like it's "all the same". It takes too much effort to see where a section begins and which dropdown to open.

![kuvakaappaus 2017-03-21 07-43-38](https://cloud.githubusercontent.com/assets/1927158/24134053/64ea6298-0e0a-11e7-926a-670cca6f748f.png)

[2017-03-21 06:37] matleppa commented on #2309
Displaying the media items is implemented such a way, that same functionality is used both with media items attached to APIs and attached to Organizations.
 Thus changes in concerning Organizations easily affect also to APIs.

Should there be:
A) only one setting affecting pagination of related media in Organization case and
     i) same setting affecting in APIs case
    ii) no setting for APIs,

[2017-03-21 08:00] shaliko commented on #2216
@saralavanip @bajiat Can we close that issue, swagger.apinf.io was deployed?

[2017-03-21 08:18] brylie commented on #2279
@marla-singer I trust your instinct. Lets agree to keep the work simple for now, and just focus on unique URL slugs for APIs. We can discuss namespacing further in the related issue, since it does not seem to block this issue.

[2017-03-21 08:38] marla-singer commented on #2216
SDK generator works as expected

[2017-03-21 08:55] brylie opened #2349 "Upgrade Swagger UI to 3.x"
Swagger UI 3.x was released on 2017-03-19. We should consider upgrading to the recent release ASAP, for improved features and possibly stability.

- https://www.npmjs.com/package/swagger-ui

# Related
#2211 - swagger UI documentation sections not expanding

## Upstream
- [Ampersand character being escaped in rendered documentation](https://github.com/swagger-api/swagger-ui/issues/2700)

[2017-03-21 09:26] bajiat commented on #2279
@marla-singer I trust your estimate on this, but I'm curious to know why is it large work without namespacing? You can self-assign in any case.

[2017-03-21 09:41] #1957 closed

[2017-03-21 10:00] FirassKoubaa commented on #1798
any possible solutions ?

[2017-03-21 10:07] marla-singer commented on #2279
@bajiat What namespacing do you mean? Issue description doesn't contain any information about that, just only friendly URL for APIs. The namespace was discussed in [this issue](https://github.com/apinf/platform/issues/2115#issuecomment-280638220) for frontend prefix of proxy backend
If you meant namepsacing like as `https://apinf.io/daria/apis/TYf33t5B6D6fwamKt` then it's not a big deal. But I don

[2017-03-21 11:03] bajiat commented on #2279
@marla-singer
You commented earlier

That is why I asked.

[2017-03-21 11:08] marla-singer commented on #2279
I tried to explain it above

[2017-03-21 11:41] marla-singer commented on #2307
As a draft
![joxi_screenshot_1490096483350](https://cloud.githubusercontent.com/assets/20643403/24145921/7e966586-0e44-11e7-9a09-d5302cf40c42.png)

[2017-03-21 12:21] brylie commented on #2279
The tabs on the API Profile are appended to the end of the URL as relative paths (prefixed by #). So, we shouldn't have to touch routing for any of the components other than the API Profile itself.

[2017-03-21 12:32] brylie commented on #2036
Closing this issue, since we will likely continue to use Elasticsearch directly for Analytics data.

[2017-03-21 12:57] marla-singer commented on #2279
ok, I will try to leave it as simple as possible

[2017-03-21 14:25] bajiat commented on #2002
Should we mention the following even though we are not storing them yet?

[2017-03-21 14:34] bajiat commented on #2002
I added the address to privacy policy.

[2017-03-21 14:49] bajiat opened #2350 "Release testing for 0.42.0"
Test the 0.42.0 release on the staging server. Report any bugs or enhancement needs to https://github.com/apinf/platform/issues.

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development based on the release notes
  * [x] Swagger file can be added either by uploading a file or providing a link
  * [x]

[2017-03-21 15:07] philippeluickx commented on #2002
It's better to be covered. It's on the roadmap, so at least we won't forget it then.

[2017-03-21 15:16] bajiat commented on #2117
@Nazarah Should this issue be renamed to Create an API consumer persona so that you will be able to close it? Then you can create new issue(s) for other personas.

Also, change Aleks to Aleksi in the text.

[2017-03-21 15:17] bajiat commented on #2241
Thanks to @brylie for documenting the permissions and making the changes. I would say this issue is ready to be closed. Any objections?

[2017-03-21 15:19] bajiat commented on #2302
Should we close this issue?

[2017-03-21 16:15] kyyberi commented on #2335
![screenshot_20170320-181520](https://cloud.githubusercontent.com/assets/1927158/24157550/54d10bde-0e62-11e7-9e92-ed76b9a12136.png)

[2017-03-21 16:19] Nazarah commented on #2317
@matleppa @bajiat
The wireframe is attached in the issue.
Please have a look and give me your feedback

[2017-03-21 16:43] Nazarah commented on #2307
@marla-singer : I have something a bit different in my mind considering how to show the fields for social media.
At first we are supporting four platforms: Facebook, Twitter, Instagram and LinkedIn.
So we can simply use one field for each with the field name specific for a platform.
Manager can directly add the URL and save it.
Second, we are considering to remove BS panels to give the page a clea

[2017-03-22 07:10] kyyberi opened #2351 "Catalog performance issues"
I've been using the catalog a lot lately and I'm somewhat worried about the performance. We have now like 120 APIs and getting listing of them takes several seconds. The same with organization views. Do we have means to collect facts about load times from end-user pov? There are free external tools for this, but do we have that info somewhere in our logs/system already?

[2017-03-22 07:30] marla-singer commented on #2307
@Nazarah No problem. Your wireframe looks nicer :+1:

[2017-03-22 07:32] Nazarah commented on #2317
@matleppa please consider adding more white space than what is shown in the wireframe, so that the sections are easily distinguishable from each other.

[2017-03-22 08:19] marla-singer commented on #2307
So there is a separate social media section defined with H3 header style and whitespaces to separate it from other sections.
But I don't see any Save button.

[2017-03-22 08:35] Nazarah commented on #2306
@bajiat @matleppa I've added the wireframes in the issue with descriptions.
Please take a look and give me your feedback.
An additional task thta needs to be done is to reposition the logo placeholder and header text placeholders so that they are aligned with the start of the tabs.
This is also to make place for logo picture border.
So, should I define a new task for this?

[2017-03-22 08:43] Nazarah commented on #2068
@nnn can you please give the link of the package that you proposed for photo uploading?

[2017-03-22 08:58] Nazarah opened #2352 "Add a transparent panel at Organization Profile Header to display textual Information"
# Issue
Since we will be supporting organization cover photo, this might conflict with the visibility of textual information that is shown on Organization header. This would also affect on the visibility of social media platform that would be included in future. So we need some way to make the information visible to users.

# Suggestion
showing organization textual information and social media pla

[2017-03-22 09:19] bajiat commented on #2241
@brylie This looks fine to me. Please close after adding a link to any of the diagram documents.

[2017-03-22 09:23] #2302 closed

[2017-03-22 09:24] bajiat commented on #2338
@brylie Please add a link

[2017-03-22 09:34] bajiat commented on #2176
@shaliko What if we have only a 0.14 deployment (one new proxy for nightly)?

[2017-03-22 10:40] shaliko commented on #2176
No problem, I will be free for that task on next week is it OK?

[2017-03-22 10:47] brylie commented on #2241
Added links to the source files (in three formats).

[2017-03-22 10:47] #2241 closed

[2017-03-22 11:11] marla-singer commented on #2307
@Nazarah Which kind of icons should I use? Image or font awesome?

**Using image**
![joxi_screenshot_1490175848125](https://cloud.githubusercontent.com/assets/20643403/24195078/6f168670-0f09-11e7-88f3-ea3fba7d10b6.png)

**Using font awesome**
![joxi_screenshot_1490180965047](https://cloud.githubusercontent.com/assets/20643403/24195085/714700c8-0f09-11e7-8aec-1f7f01ed35ed.png)

[2017-03-22 14:55] bajiat commented on #2186
First version of description created by Philippe:https://github.com/apinf/api-harvestor/blob/master/requirements.md

[2017-03-22 17:52] kyyberi commented on #2102
Before implementation we might want to check that harvestor data model is synced and supported by POST/PUT methods https://github.com/apinf/api-harvester

[2017-03-23 07:42] bajiat commented on #2176
@shaliko That is ok.

[2017-03-23 08:11] Nazarah commented on #2307
@marla-singer I am sorry I forgot to Add Save buttons in relevant sections.
I have a question. Can we do Auto Save as the values are given in fields/drop menus?
If not, I'd like to use a global Save button instead of adding one for each section. That might make the GUI messy. I'd still experiment with it and give the wireframes.

About the Social Media, please use the images. They gives more origi

[2017-03-23 08:16] bajiat commented on #2060
Closing this issue. REST APIs will be implemented with design first approach and on needs basis.

[2017-03-23 08:16] #2060 closed

[2017-03-23 08:46] bajiat commented on #2205
@saralavanip I'm not able to reproduce this in nightly or in staging with Chrome. In which browser does this happen? Can you add the info to the steps to reproduce?

[2017-03-23 08:48] Nazarah commented on #2307
@marla-singer is this ok now?
![organizationsettings4all](https://cloud.githubusercontent.com/assets/17976243/24239316/2f2b71bc-0fb6-11e7-886a-091fe8d609c1.png)

[2017-03-23 08:51] bajiat commented on #2351
@marla-singer and @brylie Could this issue be related to 2221? Too much information is published to the catalog and hence the performance is affected?

[2017-03-23 08:55] brylie commented on #2351
While the number of fields contained in API Catalog items would decrease performance, the bigger culprit might be the number of **documents** we are requesting. Pagination is supposed to improve performance in this regard, as we only ask for one page of documents at a time. E.g. if a page is 12 documents, we only ask for those 12.

[2017-03-23 08:57] brylie commented on #2351
There could be another subscription active on the Catalog, such as **allApiLogos**. In general, #2221 is in the right 'spirit'. We need to **audit the subscriptions on the catalog page** more broadly.

[2017-03-23 09:02] brylie commented on #2351
Here is a screenshot of the active subscriptions on the API Catalog. On the right of the image are all of the **client-side collections**. The number in parenthesis is the **number of documents currently subscribed** from each collection.
![screenshot_20170323_105927](https://cloud.githubusercontent.com/assets/17307/24239824/0d936792-0fb8-11e7-97e3-b0e795a08863.png)

What this might be showing is

[2017-03-23 09:19] #2323 closed

[2017-03-23 09:20] #2324 closed

[2017-03-23 09:28] #2325 closed

[2017-03-23 09:32] bajiat commented on #2235
Related to #2334

[2017-03-23 09:36] #2329 closed

[2017-03-23 09:54] marla-singer commented on #2205
@bajiat It happens when the date is "Add 7 days ago" as I remember.

[2017-03-23 10:09] #2330 closed

[2017-03-23 10:12] Nazarah commented on #2307
@marla-singer also considering having the social media icons on a transparent panel.
This would increase their visibility when there is a cover picture.
The panel color can be #000000 with 80% opacity rate.

[2017-03-23 10:13] #2326 closed

[2017-03-23 10:13] marla-singer commented on #2307
@Nazarah Yes, sure, I'm remembering about it. Just show you a draft :) Work in process

[2017-03-23 10:25] Nazarah opened #2354 "Nightly: Can't upload jpeg image as cover photo in the site"
Tried to upload a picture taken on monday photo session.
The picture format is jpeg.
On selecting the picture from desktop, S-alert appears mentioning the supported format.
Picture doesn't get uploaded at all

[2017-03-23 11:07] bajiat commented on #2205
Ok, so the "added ... ago" text becomes too long in Finnish? Interesting.

[2017-03-23 11:28] marla-singer commented on #2205
Nope. Just 7,8,9,10 digits contain a lot of char in a word. Because of incorrect mark up it is so

[2017-03-23 11:28] saralavanip commented on #2205
@bajiat , Yes, re-tested on nightly and staging not reproducible.
Currently the Organization Card's status text  'Added ..days ago'  is updated  and might be issue as mentioned by @marla-singer .

[2017-03-23 11:29] bajiat commented on #2262
This was resolved in the last translation round. Available in nightly, not in release yet.

<img width="451" alt="laheta palautetta" src="https://cloud.githubusercontent.com/assets/11626388/24245740/c7a53412-0fcc-11e7-8c0b-e03fe5218dd6.png">

Closing as resolved.

[2017-03-23 11:29] #2262 closed

[2017-03-23 11:31] bajiat commented on #2269
@marla-singer Can this issue be closed?

[2017-03-23 11:33] marla-singer commented on #2269
@bajiat Yep

[2017-03-23 11:34] bajiat commented on #2269
Thanks for the confirmation! Closing.

[2017-03-23 11:34] #2269 closed

[2017-03-23 11:38] bajiat commented on #2274
@shaliko Is this a planned activity or already in progress?

[2017-03-23 11:49] bajiat commented on #2285
Is it possible to control this or is this a Swagger UI feature?

[2017-03-23 12:06] shaliko commented on #2274
Mostly planned (currently not in progress), but I already had a chance test Docker Swarm for deploy swagger.apinf.io and sdkgen.apinf.io, so here will be less work.

The next steps are:

- Create a cluster with 2 or more masters, so if one master will be broken, remained masters will continue to manage the cluster.
- Try run Apinf stack (Platform+Umbrella) in Docker Swarm cluster.
- Try run Apinf

[2017-03-23 12:29] bajiat commented on #2354
I was able to upload a cover picture from the same photo session (jpg, 630 kB).

[2017-03-23 12:36] bajiat commented on #163
@brylie Can this issue be closed? The dashboard URL currently contains parameters (e.g. current URL, selected timeframe).

[2017-03-23 12:57] brylie commented on #163
Jep.

[2017-03-23 12:57] #163 closed

[2017-03-23 17:45] jykae commented on #1798
@FirassKoubaa FYI window resizing was our only problem with the package, looks like reported possible bug is now commented, tested & closed https://github.com/flyingfisher/selenium-html-js-converter/issues/16#issuecomment-288405849

I am no longer in this project, @bajiat maybe Apinf-team would like to try if it works out now, and used parameter format (missing comma) was just wrong like commented

[2017-03-24 07:08] Nazarah commented on #2178
Some sketches of the front page in mobile view (Samsung Galaxy note 3)
![mobile1](https://cloud.githubusercontent.com/assets/17976243/24283428/5a26bb5c-106e-11e7-864b-7bab197fc455.png)
![mobile2](https://cloud.githubusercontent.com/assets/17976243/24283426/5a2686d2-106e-11e7-9c43-e56915f6af76.png)
![mobile3](https://cloud.githubusercontent.com/assets/17976243/24283427/5a26ac52-106e-11e7-91e7-623f3

[2017-03-24 07:23] bajiat commented on #2354
@Nazarah @marla-singer
Since this is not a bug and a photo can be uploaded, should we close this? Do you want to open another issue for any size restrictions or user texts?

[2017-03-24 07:25] #2316 closed

[2017-03-24 07:31] bajiat commented on #2120
Closing the issue.

[2017-03-24 07:31] #2120 closed

[2017-03-24 07:32] marla-singer commented on #2354
As for me, we can close it

[2017-03-24 07:33] Nazarah opened #2357 "Removal of Brand cover photo is time consuming"
# Issue
Right now, removing a brand cover photo and making necessary GUI changes in Branding menu takes approximately 2-5 minutes!
ITMT, if user wishes to upload a picture, it doesn't get uploaded.
On page refreshing, the branding GUI shows the previous cover photo is existing there still.
However, no photo can be seen in the front page.
We need to improve this by reducing the time in no less than

[2017-03-24 07:35] brylie commented on #2340
We might need to need to wrap the [accounts configuration code](https://github.com/apinf/platform/blob/develop/users/client/lib/accounts_config.js#L11) in a [Meteor.startup()](https://docs.meteor.com/api/core.html#Meteor-startup).

Alternatively, since you are noticing this when rebuilding the project during development, Meteor might be 'caching' some of the application files/state during hot-relo

[2017-03-24 07:36] Nazarah commented on #2354
closing the issue. A related usability issue is reported in #2357

[2017-03-24 07:36] #2354 closed

[2017-03-24 07:38] bajiat commented on #2205
@marla-singer That is exactly what I meant. When the word for the number is too long, the text becomes too long.

[2017-03-24 07:40] Nazarah opened #2358 "Branding Page: No indication of max size of cover photo"
# Issue
Right now, there is no information given about the max size of the site cover photo. So if User uploads a photo that exceeds the max limit, the photo doesn't get uploaded and the s-alert show incomplete message about it.

# Enhancement
* [ ] Add help text close to cover photo field indicating max size and supported format
* [ ] add a new s-alert showing message that the max size limit exce

[2017-03-24 07:42] bajiat commented on #2358
+1

[2017-03-24 07:44] brylie commented on #2340
@manzapanza can you please provide us with steps to reproduce this issue?

[2017-03-24 08:02] philippeluickx commented on #2178
Very nice, this is really getting somewhere!
I like the fact that this is truly mobile experience. Everything is big enough, clickable elements are big enough too. Content first. Not too much boring text.
I think in terms of design this is really good enough. At this point, we need to start thinking about business and customer journey. What is the flow we want users to take etc. On that end there

[2017-03-24 09:36] Nazarah commented on #2312
@bajiat @brylie added the wireframes. Please have a look and give your feedback.

[2017-03-24 09:41] Nazarah commented on #2308
@jawidahmadi I hope the wireframes are clearer now. :)

[2017-03-24 11:05] marla-singer commented on #2320
The miracle doesn't happen. Reopen it

[2017-03-24 11:19] marla-singer opened #2359 "Misaligned text of feedback type"
**Descriptions:**
When type is **Feature request**, the type text is misaligned in Suomi view

### Steps

1. Login
2. Select any API -> Navigate to Feedback tab
3. Click on the button "Send Feedback"
4. Fill up the form and select "message type" as **Feature request**
5. Submit form
6. Change the language to Suomi

### Expected
- The elements are misaligned.

![joxi_screenshot_1490354280899](https

[2017-03-24 11:35] Nazarah commented on #2311
@bajiat @brylie added a sample of the new card.
Please have a look and tell me about your feedback.

[2017-03-24 14:16] bajiat commented on #2359
A general rule of thumb when allocating space for text is that it can expand 20-30% when it is translated. So it might be a good idea if we would allow some expansion space in markup for text, if possible.

[2017-03-24 14:22] bajiat commented on #2311
I like your suggestion. The icon clearly communicates that this API is pinned to the top. The only thing I'm worried about is that are we having too many items in one card at the mo.

[2017-03-24 14:28] bajiat commented on #2312
Perhaps we could use shorter names: Bookmarks instead Number of bookmarks, Rating instead of Average rating?

[2017-03-24 20:17] Nazarah commented on #2311
I understand your concern.
We can always decide if we wish to remove/hide some elements out of the card.
Another alternative for this can be made in Settings tab
Under Content Management Section, we can provide a dropmenu with check box that would show all connected APIs to that organization.
On checking, the respective API would become Featured.
For this approach, we can show the featured APIs ca

[2017-03-24 20:41] kyyberi commented on #2351
I haven't done thorough testing yet, but first problem with the sucking performance seems to be huge JS that gets loaded first. According to two different test frameworks, JS loading takes 2,7-3 seconds. A good responsive page gets loaded in a second or less. That is sort of expected nowadays. 5-10 seconds is murder.

I know the website performance testers do not offer very reliable testbench, but

[2017-03-27 06:50] jawidahmadi commented on #2341
I have checked, but there are no implementation for pagination for API catalog in the organization page.

[2017-03-27 07:46] brylie commented on #2311
What about a drag and drop on the Organization Profile  page? We haven't worked with drag and drop, but it is very intuitive for users.

E.g. there would be a 'featured' section above the APIs listing. When no APIs have been featured for that organization, the featured section is empty (shown only for managers). When a manager drags an API from the APIs listing into the Featured section, it gets a

[2017-03-27 07:57] Nazarah commented on #2311
Personally I'd like to go with the pin option on API card.
Yeah there is the concern that we are putting too many information over the card, but we can always redesign the card to include only ,minimal required info.
Also I have concern about drag and drop feature in mobile view.
It wouldn't be usable to perform this action due to the limitation of screen size and browser performance in mobile scr

[2017-03-27 08:05] philippeluickx commented on #2311
What problem are we solving with this feature and is that problem big enough?
To me this feels like feature bloat.

It might become a valid concern at some point, but I think this just shouldn't get top priority at this moment. I'd love to get some customer requests before implementing this.

[2017-03-27 08:11] #2338 closed

[2017-03-27 08:38] bajiat commented on #2308
Blocked by #2341

[2017-03-27 08:40] #2188 closed

[2017-03-27 09:40] matleppa commented on #2317
After discussion @Nazarah @matleppa a decision was made concerning save and cancel buttons in wireframe.

Save button:
Only one save button, which is common for sections General, Social Media Platforms, Contact Information and Contact Management.

Cancel button:
No Cancel button because there is no history for field values, thus previous values can not be restored.

[2017-03-27 10:05] Nazarah commented on #2311
For drag and drop, we need to consider that APInf can be used to mobile phones as well.
So the drag and drop will have usability issues to function with small screen size and browser performance.
With the concern about too many contents in API cards, we can always redesign the card to include the minimal information and functionality needed.
Besides for the mobile view, we can always make sure the

[2017-03-27 10:30] Nazarah commented on #2312
@bajiat Done. Please let me know which version we can go with.

[2017-03-27 10:49] #882 closed

[2017-03-27 10:50] #2268 closed

[2017-03-27 11:11] Nazarah commented on #2311
For showing featured APIs, we should include an info tip explaining how the sorting works with featured API.

[2017-03-27 11:14] #2279 closed

[2017-03-27 11:33] Nazarah commented on #1096
Related issue: #2178

[2017-03-27 12:01] bajiat commented on #2312
I would go with the drop-down menu even if it requires more clicks. It just takes so much less space. Just consider, which is the more sensible default: name or newest created.

[2017-03-27 12:23] preriasusi opened #2366 "As a API owner I want to be able to ask user to accept my terms to use my API"
I want to be able to request API user to accept the terms I can set by myself for my API usage.

I (API owner) can for example ask user to agree not to use my API in context I don't like, or I can ask API user to agree that I (API owner) am not resposible if someone's cat gets lost because of my API or his/her house burns.

[2017-03-27 13:16] marla-singer commented on #2296
@nnn Do you need some help or advice with this task?

[2017-03-27 13:46] Nazarah opened #2368 "Creating a Swagger documentation for Make UP API"
Learning to make a swagger documentation.
API: http://makeup-api.herokuapp.com/
Reference Material: https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-1-introduction

[2017-03-28 07:00] saralavanip opened #2369 "Navigate to APIs/organizations catalog from API details view doesn't display the list"
# Steps
1.Visit https://staging.apinf.io  v 0.42.0
2.Navigate to Organizations
3.Go to any organization
4.Click any connected API
5.Navigate to API catalog / Organizations

# Findings
- Navigate to API catalog from API details view doesn't display APIs/organizations list. It shows spinning wheel rotating indefinitely.
- Navigate to homepage, clicking on 'Staging' shows empty page
- User need to re

[2017-03-28 07:13] #2307 closed

[2017-03-28 07:20] bajiat commented on #2342
@Nazarah Please comment this issue.

[2017-03-28 07:51] bajiat commented on #2068
Issue related to #2352.

[2017-03-28 07:53] bajiat commented on #2352
Related to #2068

[2017-03-28 08:32] saralavanip opened #2370 "Organization view: Incorrect user info. text for 'Add related media'"
# Steps
1.Visit https://staging.apinf.io  v 0.42.0
2.Login as admin
3.Add organization
4.Go to above added organization from catalog

# Expected Result
 User info. text for "Add Related Media" should be "You don't have related media to this Organization"

# Actual Result
User info. text is incorrect  "You don't have related media to this API"

# Screenshot
![organization_add_related_media_info_tex

[2017-03-28 08:34] philippeluickx commented on #2342
My suggestions:
- Keep it as square. Inform the user on upload what the adviced size is (e.g. 500x500 px)
- Use a library to turn any other type of image to a 500x500 square - e.g. https://github.com/jwagner/smartcrop.js/
- Make sure we cache some of the picture sizes automatically. E.g. if we use a 50x50 picture in the cards, then cache that

[2017-03-28 09:46] bajiat commented on #2063
This is already implemented: API owner can add oembed content to the API profile page. Closing the issue.

[2017-03-28 09:46] #2063 closed

[2017-03-28 10:14] bajiat commented on #1275
Resolved in the latest localisation round. Closing the issue.

<img width="416" alt="feedback form translated to fi" src="https://cloud.githubusercontent.com/assets/11626388/24400250/6c977f9a-13b8-11e7-9b13-da22545caf3d.png">

[2017-03-28 10:14] #1275 closed

[2017-03-28 10:17] bajiat commented on #1210
Duplicate of #1096 and #2178. Closing.

[2017-03-28 10:17] #1210 closed

[2017-03-28 10:21] bajiat commented on #1163
Closing the issue. Since Swagger is called Open API specification, we don't want to mention Swagger in the tab name. Also, I would like to keep the tab names short. Furthermore, we have a long term goal to move away from tabbed profile.

[2017-03-28 10:21] #1163 closed

[2017-03-28 10:23] bajiat commented on #1132
@Nazarah Does this warning / UI text appear any more? I don't remember seeing this kind of warning. Can we close the issue?

[2017-03-28 11:41] bajiat opened #2371 "Title bar and navbar"
# User story

# Goal
* Both title bar and navbar should be sticky
* Keep in mind mobile-first approach
* Title bar should contain the logo and the Sign in link. Remove language selection. (Language selection to be moved to footer in separate issue.)
Navbar
  * Anonymous user should be able to go to Catalog or Manage APIs from navbar
    * Open issue: Where shoud Manage APIs lead to: additional inf

[2017-03-28 11:43] Nazarah opened #2372 "Issue with Try Out button in Swagger UI"
# Issue
Try Out button in swagger editor in documentation tab seems not working.
The API endpoints, URL, proxy and proxy base path are defined correctly.
Results can be obtained using Postman, but swagger UI seems not working.

# Reproduction
* Create an API with the following information
  - API URL: http://makeup-api.herokuapp.com
  - Proxy: Nightly Umbrella
  - Proxy basepath suffix: /makeup-ap

[2017-03-28 11:53] Nazarah commented on #2372
{
    "swagger": "2.0",
    "info": {
        "title": "MakeUP API",
        "description": "Be beautiful with readlily available Makeup Info! ;)",
        "version": "1.0.1"
    },
    "host": "makeup-api.herokuapp.com",
    "schemes": [
        "http"
    ],
    "basePath": "/api/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {

[2017-03-28 11:54] Nazarah commented on #2372
Original Documentation: http://makeup-api.herokuapp.com/

[2017-03-28 12:05] brylie commented on #2372
Might be fixed by #2349

[2017-03-28 13:21] frenchbread commented on #2005
Related PR: https://github.com/Digipalvelutehdas/emq-rest-api/pull/4
Related Issue: https://github.com/apinf/emq-rest-api/issues/2

[2017-03-28 13:26] bajiat opened #2373 "Add transparent layer on top of cover photo"
# User story
As an APInf admin,
I want users to be able to read the site title and the site slogan.

# Goal
Whenever user uploads a cover photo, an transparent layer is added on top of the photo to maintain readability of the text. The area of the transparent layer should match the cover photo area.
To match with other branding elements, the transparency color should be taken from the primary bran

[2017-03-28 13:32] bajiat opened #2374 "Search box and button"
# User story

I want to be able to activate the search box for writing and to press the search button
so that I don't have to zoom in to the page to do a search.

# Goal
* Add more height to the search box
* Remove the border around the search bar
* Move the search button below the search box and make it larger
* Color of search button ?
* If possible, implement search in a reactive manner

# Wire

[2017-03-28 13:40] bajiat opened #2375 "APIs as first section below cover photo"
# User story
As an APInf admin
I want users to see interesting (newest) APIs at the top of the page
so that they want to see more and visit the catalog.

# Goal
* APIs can be found as the first section after the cover photo.
* If possible, the size of the API card is adjusted for the mobile view (one card per row) to make it more easily clickable
  * see if you can use the same card, but use 12 co

[2017-03-28 13:42] saralavanip commented on #1305
@bajiat , Verified on staging v 0.42.0 : 'Select API dropdown menu: list sorted alphabetically in English and Suomi views.

Screenshot:
English view:
![english_selectapis_menu_sorted](https://cloud.githubusercontent.com/assets/13309358/24408022/306ff37c-13d5-11e7-97f7-2cdb82fd8d0c.png)

Suomi view:

![suomi_selectapi_menu_sorted](https://cloud.githubusercontent.com/assets/13309358/24408027/397fdbe

[2017-03-28 13:57] bajiat opened #2376 "New style and place for platform statistics"
# Goal
* Change the aesthetics of the platform statistics (users, apis etc.) according to the wireframe
* Open issue: How is the color of the area defined? Is it a pre-defined color or based on a branding setting?
* Remove the header "At a glance"
* Also, remove the text sections of the front page entirely.
# Definition of done
* [x] Remove resources related to At a glance
* [x] Remove resources r

[2017-03-28 14:03] bajiat opened #2378 "Changes to footer"
# Goal
* Footer is visible on every page, not only front page
* Footer color matches the title bar
* Footer contains
  * About link
  * Language selection
  * Social media icons (if defined in Branding settings)
  * Privacy policy and terms of use (if defined)
* Social media icons should be larger and same style as on organization page

# Wireframes
1. Thinking 1st about mobile friendly approach:

[2017-03-28 14:17] bajiat opened #2379 "Show featured APIs instead of latest APIs on front page"
The front page should/could be used for show casing the most interesting / featured APIs so that users would want to go and look for more in the APInf catalog.

Open issue:
Should we have functionality to allow e.g. admin to select the Featured APIs or should there be automatic selection criteria based e.g. on the following:
* popularity
* lifecycle stage (e.g. production only)
* stability

[2017-03-28 14:23] bajiat opened #2380 "Restrict the length of the API desription for API card"
# Goal
Make sure that the description of the API can fit into the API card. Some ideas:
* Set create a max length for API description
* If needed, have two descriptions. One (mandatory?) is for API card, one (optional) is for profile page.

Having two different descriptions would allow the owner have an extensive descriptions of what the API can do for the user, but would need to come up with a se

[2017-03-28 14:26] bajiat commented on #1305
@saralavanip Thanks for the verification. Closing the issue.

[2017-03-28 14:26] #1305 closed

[2017-03-29 05:53] Nazarah commented on #2374
should we consider a future issue to customize default colors for buttons?

[2017-03-29 05:56] Nazarah commented on #2376
+1 with the color setting from branding page.
In addition, we should also have an option to disable this feature from the Branding menu, as some platform user might not be willing to use any statistics yet.

[2017-03-29 05:57] Nazarah commented on #2375
should we consider a future issue to decide which APIs to show in the Featured API section?

[2017-03-29 07:09] #52 closed

[2017-03-29 07:10] bajiat commented on #52
Closing during icebox gardening.

[2017-03-29 07:10] bajiat commented on #71
SDK generator handles this.

Closing during icebox gardening.

[2017-03-29 07:10] #71 closed

[2017-03-29 07:11] bajiat commented on #104
Closing during icebox gardening.

[2017-03-29 07:11] #104 closed

[2017-03-29 07:13] bajiat commented on #158
Closing during icebox gardening.

[2017-03-29 07:13] #158 closed

[2017-03-29 07:14] bajiat commented on #170
Closing during icebox gardening.

[2017-03-29 07:14] #170 closed

[2017-03-29 07:19] bajiat commented on #185
Closing during icebox gardening.

[2017-03-29 07:19] #185 closed

[2017-03-29 07:23] bajiat commented on #202
@mauriciovieira This could be an interesting case for integration test. Could you consider working on this after first unit test?

[2017-03-29 07:27] bajiat commented on #266
Closing during icebox gardening.

[2017-03-29 07:27] #266 closed

[2017-03-29 07:29] bajiat commented on #298
Closing during icebox gardening.

[2017-03-29 07:29] #298 closed

[2017-03-29 07:32] bajiat commented on #335
Closing during icebox gardening.

[2017-03-29 07:32] #335 closed

[2017-03-29 07:33] bajiat commented on #341
Related media (= oembed) can provide this. You can link e.g. Youtube videos, presentations, blog post for an API.

Closing during icebox gardening.

[2017-03-29 07:33] #341 closed

[2017-03-29 07:34] bajiat commented on #342
Closing during icebox gardening.

[2017-03-29 07:34] #342 closed

[2017-03-29 07:34] bajiat commented on #382
Obsolete. Closing during icebox gardening.

[2017-03-29 07:34] #382 closed

[2017-03-29 07:43] bajiat commented on #430
There is already a default port.

Closing during icebox gardening.

[2017-03-29 07:43] #430 closed

[2017-03-29 07:44] bajiat commented on #432
We don't have the huge form any more before the wizard and the current short form. Not so relevant any more. Closing during icebox gardening.

[2017-03-29 07:44] #432 closed

[2017-03-29 07:46] bajiat commented on #433
Terminology already changed, e.g. Proxy base path.

Closing during icebox gardening.

[2017-03-29 07:46] #433 closed

[2017-03-29 07:48] Nazarah commented on #2380
+1 with the idea to have Max length for description field in the API profile.
In Twitter, u need to express the most important things within a limitation of 140 characters per tweet.
We should consider having similar feature in APInf as well.
API consumers won't care about long descriptions telling people unnecessary details.
Besides we also have external documentation link feature available.
An A

[2017-03-29 07:50] Nazarah commented on #2379
We also need to consider APIs that are connected to a proxy to get more statistics about the API.

[2017-03-29 07:50] bajiat commented on #443
There is a separate repository for OpenAPI designer.

Closing during icebox gardening.

[2017-03-29 07:50] #443 closed

[2017-03-29 07:56] bajiat commented on #446
APIs are separate from the proxy by default. Also, we support multiple proxies. Synchronisation does not take place anymore, since we are decoupled.

Closing during the icebox gardening.

[2017-03-29 07:56] #446 closed

[2017-03-29 07:59] bajiat commented on #464
Already handled in Proxy tab in API profile.

Closing during icebox gardening.

[2017-03-29 07:59] #464 closed

[2017-03-29 08:41] shaliko commented on #2216
@saralavanip @bajiat Can we close that issue, swagger.apinf.io was deployed?

[2017-03-29 08:48] saralavanip commented on #2216
@shaliko  , verified resolved issue on staging v 0.42.0 and it is not reproducible.

[2017-03-29 09:02] Nazarah commented on #2368
Final version > json extension
{
    "swagger": "2.0",
    "info": {
        "title": "MakeUP API",
        "description": "Be beautiful with readlily available Makeup Info! ;)",
        "version": "1.0.1"
    },
    "host": "makeup-api.herokuapp.com",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Product Types",

[2017-03-29 09:31] shaliko commented on #2176
@bajiat @saralavanip Deploy on nightly done.

[2017-03-29 10:09] bajiat commented on #2375
@Nazarah I have already created one: see #2379

[2017-03-29 10:18] kyyberi opened #2381 "Adding Proxy settings fails in staging"
I added API to catalog (https://staging.apinf.io/apis/issue-reporting-api-turku) - that went fine
I added swagger file - that went fine.
Tried to set proxy - that failed. Gives me error about API key.

## Settings
<img width="1174" alt="screenshot at maaliskuuta 29 13-17-29" src="https://cloud.githubusercontent.com/assets/1927158/24450075/237be7d6-1482-11e7-827a-d6f54e91f302.png">

## Error
![api_

[2017-03-29 10:18] bajiat commented on #463
Obsolete. Closing during icebox cleanup.

[2017-03-29 10:18] #463 closed

[2017-03-29 10:22] bajiat commented on #470
Related to #2024

[2017-03-29 10:23] bajiat commented on #473
We should tackle this feature by feature or role by role and cover the most essential user tasks that should never fail. Closing as too broad.

[2017-03-29 10:23] #473 closed

[2017-03-29 10:24] bajiat commented on #487
Closing as done.

[2017-03-29 10:24] #487 closed

[2017-03-29 10:26] bajiat commented on #492
Closing since there is no description.

[2017-03-29 10:26] #492 closed

[2017-03-29 10:27] bajiat commented on #496
Closing during icebox cleanup.

[2017-03-29 10:27] #496 closed

[2017-03-29 10:28] bajiat commented on #499
Closing during icebox cleanup.

[2017-03-29 10:28] #499 closed

[2017-03-29 10:29] bajiat commented on #502
Any SMTP service or server can be used with some configuration. Closing as completed.

[2017-03-29 10:29] #502 closed

[2017-03-29 10:30] bajiat commented on #508
Closing as completed. Even lists are sorted, days are localised for most part, accounts templates solved and pluralization is possible. Any individual improvement needs should be opened as individual issues.

[2017-03-29 10:30] #508 closed

[2017-03-29 10:31] bajiat commented on #511
Obsolete. Closing during icebox cleanup.

[2017-03-29 10:31] #511 closed

[2017-03-29 10:34] bajiat commented on #532
Potentially related to #994. Closing.

[2017-03-29 10:34] #532 closed

[2017-03-29 10:35] bajiat commented on #994
Could this be a relevant list for the APInf API: http://apievangelist.com/2015/10/15/establishing-a-common-api-definition-that-api-management-providers-can-use/ ?

[2017-03-29 10:37] bajiat commented on #554
Obsolete. Closing during icebox cleanup.

[2017-03-29 10:37] #554 closed

[2017-03-29 10:38] bajiat commented on #558
Duplicate of #2310 Closing during icebox cleanup.

[2017-03-29 10:38] #558 closed

[2017-03-29 10:40] marla-singer commented on #2381
@kyyberi API Umbrella proxy doesn't work. Please use "Nightly Umbrella" or "API-umbrella new"

[2017-03-29 10:41] bajiat commented on #569
What is the use case and description for this issue?

[2017-03-29 10:42] bajiat commented on #570
Description needed.

[2017-03-29 10:44] bajiat commented on #574
Close as wontfix.

[2017-03-29 10:44] #574 closed

[2017-03-29 10:44] bajiat commented on #575
Closing as wontfix.

[2017-03-29 10:44] #575 closed

[2017-03-29 10:47] bajiat commented on #576
This issue was moved to apinf/open-api-designer#66

[2017-03-29 10:47] #576 closed

[2017-03-29 10:52] bajiat commented on #577
This issue was moved to apinf/open-api-designer#67

[2017-03-29 10:52] #577 closed

[2017-03-29 10:53] bajiat commented on #587
Closing as wontfix. It is by design as per the upstream package.

[2017-03-29 10:53] #587 closed

[2017-03-29 10:55] bajiat commented on #588
@saralavanip Please verify. If not reproducible, close the issue. If reproducible, leave open and comment.

[2017-03-29 10:56] bajiat commented on #593
Closing as too vague.

[2017-03-29 10:56] #593 closed

[2017-03-29 10:58] bajiat commented on #596
Closing as too broad. Create specific issues as needed.

[2017-03-29 10:58] #596 closed

[2017-03-29 10:59] bajiat commented on #604
Closing during icebox cleaning.

[2017-03-29 10:59] #604 closed

[2017-03-29 11:00] bajiat commented on #612
Closing during icebox cleanup.

[2017-03-29 11:00] #612 closed

[2017-03-29 11:04] bajiat commented on #614
Add API form has been simplified (only 4 fields). So a guided tour is not needed for that. There is a guided tour for API profile page and the different tabs. Closing during icebox cleanup.

[2017-03-29 11:04] #614 closed

[2017-03-29 11:07] bajiat commented on #621
Closing during icebox cleanup.

[2017-03-29 11:07] #621 closed

[2017-03-29 11:08] bajiat commented on #623
We don't have administrative page, but admins have the privileges to manage the apis. Closing during icebox cleanup.

[2017-03-29 11:08] #623 closed

[2017-03-29 11:08] bajiat commented on #627
We're not showing those emails to the regular users, only admins. Closing during icebox cleanup.

[2017-03-29 11:08] #627 closed

[2017-03-29 11:12] bajiat commented on #615
Closing as duplicate of #638. Description copied to the other issue.

[2017-03-29 11:12] #615 closed

[2017-03-29 11:21] bajiat commented on #723
Closing as wontfix

[2017-03-29 11:21] #723 closed

[2017-03-29 11:24] bajiat commented on #731
Closing during icebox cleanup.

[2017-03-29 11:24] #731 closed

[2017-03-29 11:25] bajiat commented on #732
Closing as duplicate of #620

[2017-03-29 11:25] #732 closed

[2017-03-29 11:25] bajiat commented on #734
Closing as too vague.

[2017-03-29 11:25] #734 closed

[2017-03-29 11:28] bajiat commented on #736
Obsolete. There is a connection between user and API key, which is related to a single proxy and contains the API Umbrella ID.

[2017-03-29 11:28] #736 closed

[2017-03-29 11:28] bajiat commented on #738
Closing as obsolete.

[2017-03-29 11:28] #738 closed

[2017-03-29 11:30] bajiat commented on #739
Closing as obsolete.

[2017-03-29 11:30] #739 closed

[2017-03-29 11:31] bajiat commented on #746
Closing during icebox cleanup.

[2017-03-29 11:31] #746 closed

[2017-03-29 11:32] bajiat commented on #754
Obsolete.

[2017-03-29 11:32] #754 closed

[2017-03-29 11:34] bajiat commented on #755
Closing as resolved.

[2017-03-29 11:34] #755 closed

[2017-03-29 11:35] bajiat commented on #761
Most of this is covered in contributor guideline. Closing during icebox cleanup.

[2017-03-29 11:35] #761 closed

[2017-03-29 11:38] bajiat commented on #797
Lifecycle tags available. SLA is available in metadata in API profile. Closing as completed.

[2017-03-29 11:38] #797 closed

[2017-03-29 11:40] #588 closed

[2017-03-29 11:40] bajiat commented on #808
Closing as completed. The missing part is that email is either on or off and cannot be toggled automatically. This means that email links are available always, even when there is no email settings.

[2017-03-29 11:40] #808 closed

[2017-03-29 11:41] bajiat commented on #817
Closing as obsolete/completed.

[2017-03-29 11:41] #817 closed

[2017-03-29 11:43] bajiat commented on #821
Closing as solved. The API URL is only visible to regular users if there is no proxy connected to the API. When the proxy is connected, UI shows the proxy URL. (It is still possible that data is published. @brylie Please double-check. If data is published, open an isue.

[2017-03-29 11:43] #821 closed

[2017-03-29 11:45] bajiat commented on #835
Closing as stale.

[2017-03-29 11:45] #835 closed

[2017-03-29 11:47] #2005 closed

[2017-03-29 11:48] frenchbread commented on #2043
#2005 updated. closing this one

[2017-03-29 11:48] #2043 closed

[2017-03-29 11:49] bajiat commented on #839
Already completed. Closing during icebox cleanup.

[2017-03-29 11:49] #839 closed

[2017-03-29 11:49] bajiat commented on #840
We have the package in place. Migrations are added as per need (changed datamodels). Closing during icebox cleanup.

[2017-03-29 11:49] #840 closed

[2017-03-29 11:51] bajiat commented on #842
The prefix duplication is not happening any more. Also it is possible to delete Swagger files. Closing during icebox cleanup.

[2017-03-29 11:51] #842 closed

[2017-03-29 11:52] kyyberi commented on #2264
Any updates for this? Expected date to do test install with instructions to Raspberry?

[2017-03-29 11:56] bajiat commented on #898
Closing this as too broad, outdated and largely completed. There have been several translation rounds after this. Up-tp-date localisation bug reports are created during each release testing round.

[2017-03-29 11:56] #898 closed

[2017-03-29 12:02] bajiat opened #2382 "Ability to localise Dashboard date picker calendar"
Currently the date picker calendar on the Dashboard page is in English regardless of the selected UI language. Users would like view a localised calendar.

# Goal
Calendar should be displayed in the user expected language (selected APInf UI language)

Note: Current calendar is from a Bootstap package, so this may require finding other options

[2017-03-29 12:04] bajiat commented on #971
There is a public channel for APInf community. It does require registration and approval. Closing as completed.

[2017-03-29 12:04] #971 closed

[2017-03-29 12:05] bajiat commented on #973
Closing as too generic.

[2017-03-29 12:05] #973 closed

[2017-03-29 12:05] bajiat commented on #974
Closing as too generic. Please create issues for specific improvements.

[2017-03-29 12:05] #974 closed

[2017-03-29 12:06] philippeluickx commented on #797
@bajiat SLA definition is not yet implemented - would that be in scope for monetization?

[2017-03-29 12:08] bajiat commented on #992
Another option is to enhance the Feedback module. There is already an issue for Feedback improvements. Closing.

[2017-03-29 12:08] #992 closed

[2017-03-29 12:10] bajiat commented on #993
GET endpoint exist. There is an ongoing re-design with GET, POST and PUT endpoints, which will need an implementation task. Closing this one.

[2017-03-29 12:10] #993 closed

[2017-03-29 12:20] bajiat commented on #1000
Closing during icebox cleaning. Users can interact with the charts and can clear the active filters.

[2017-03-29 12:20] #1000 closed

[2017-03-29 12:22] bajiat commented on #1007
Let's visit this after updating Swagger UI to 3.0: #2349

[2017-03-29 12:24] bajiat commented on #1010
Related to #2024

[2017-03-29 12:24] bajiat commented on #1011
Related to #2024

[2017-03-29 12:25] bajiat commented on #1016
Closing as completed.

[2017-03-29 12:25] #1016 closed

[2017-03-29 12:25] saralavanip commented on #2350
Reported issues; #2369, #2370

[2017-03-29 12:28] bajiat commented on #1023
Based on recent poll, OpenAPI specification is the way to go. Closing as wontfix.

[2017-03-29 12:28] #1023 closed

[2017-03-29 12:29] bajiat commented on #1032
Closing as completed.

[2017-03-29 12:29] #1032 closed

[2017-03-29 12:30] bajiat commented on #1041
Closing as fixed. There is a confirmation dialog.

[2017-03-29 12:30] #1041 closed

[2017-03-29 13:08] bajiat commented on #2248
@Nazarah Definitely. This issue is related to the frontpage future enhancements, which include following API.

[2017-03-29 13:22] saralavanip opened #2384 "Logout from API 'Details' view displays a blank page"
# Steps
1.Visit https://staging.apinf.io v 0.42.0
2.Sign In as admin/owner
3.Navigate to 'API' catalog
4.Click on any API
5.Sign Out

# Findings
Sign out from API 'Details' view displays a blank page

# Screenshot
![api_details_view_logout_empty_page](https://cloud.githubusercontent.com/assets/13309358/24456472/c95c294a-149b-11e7-955c-5c6686506b75.PNG)

[2017-03-30 03:57] kyyberi commented on #2381
ok. Thanks!

[2017-03-30 04:12] kyyberi commented on #2381
Worked. Next problem is that try out of GET methods do not work. I have no method to debug what might be the reason.

This is the actual API call that should be done: ```https://api.turku.fi/feedback/v1/services.json``` with ```https://nightly-second-umbrella.apinf.io:3002/feedback_turku/services.json``` but result is empty / 404 Not Found.

[2017-03-30 07:42] bajiat commented on #2381
@kyyberi: @marla-singer is working on the GET methods, there is an issue with path

@shaliko / @marla-singer Why is the staging API Umbrella not working? Should we remove it from available proxies?

[2017-03-30 07:49] bajiat commented on #2142
A few comments:
* There should also be an option to "Unfollow"
* Should "following" apis replace bookmarking? Or are they two different features?
  * Following: getting notifications about changes
  * Bookmarking: "lighter" marking for potentially interesting APIs that I would like to remember

[2017-03-30 07:55] bajiat opened #2387 "Configurable set of links in the footer"
# User story
As an APInf admin, I would like to be able to configure which links are available in the footer.

# Goal
Admin can select / configure which links are available in the footer area. There should also be some mandatory links like About, language selection.

Some of the potential links that could be considered:
* social media (already configurable through Branding)
* pricing
* user docume

[2017-03-30 08:26] marla-singer opened #2388 "Swagger proxy host is not relevant with multi-proxie case"
When an API is connected to a proxy, Swagger have to call request via proxy.

Now it happens incorrectly. Swagger take the first proxy settings instead of specified.

Related #2381

### Steps for reproduce
1. Make sure you have couple proxies with different URL host (nightly and staging)
2. Connect your API **to the second proxy in your proxies list** (important point)
3. Upload the swagger file
4

[2017-03-30 08:39] #2312 closed

[2017-03-30 09:27] #1539 closed

[2017-03-30 10:34] bajiat opened #2389 "Test Umbrella version 0.14.0"
# Goal

Smoke-testing for API Umbrella 0.14.0: go through the key proxy use cases with a new release of API Umbrella.

# Environment

nightly.apinf.io
Proxy: API Umbrella 0.14.0

# Definition of done
* [x] Add a new API and connect it to the API Umbrella 0.14.0 proxy
* [x] Get API key for the new proxy
* [x] Make calls to the new API
* [x] Check analytics

Optionally, you can also test
* Disabling

[2017-03-30 10:49] bajiat commented on #2372
@marla-singer Do you think this could be related to #2388 ? Or is there another issue with Swagger Try out?

[2017-03-30 11:37] bajiat commented on #2374
Comment from @nnn Optionally, check for search reactivity from file commits.

[2017-03-30 11:59] bajiat opened #2391 "Create function / pattern for text contrast"
# Description
Since we allow changing button and background colors through branding settings, we must ensure that UI text remains legible regardless of color selections by user.

# User story
As an APInf end user, I need to text on page to contrast with the background
so that I can see what I am reading.

# Goal
Create a pattern or function for checking background and text contrast. This should be

[2017-03-30 12:05] bajiat commented on #2388
@marla-singer Can you please add Steps to reproduce with expected and actual result? That would also help the reviewer and the tester.

[2017-03-30 13:05] bajiat commented on #2312
'Newest created' should be replaced by 'Latest'

[2017-03-30 13:12] bajiat commented on #2311
@Nazarah Update with new card design

[2017-03-31 06:43] #2328 closed

[2017-03-31 06:43] #2178 closed

[2017-03-31 06:43] #2327 closed

[2017-03-31 06:43] #2368 closed

[2017-03-31 06:53] marla-singer opened #2393 "Anonym user watch an empty page instead of API profile"
### Steps
1. Visit nightly.apinf.io as anonymous user
2. Navigate to APIs catalog
3. Click on any API

### Expected
Watch the selected API profile

### Found
An empty page and errors in browser console

### Reason
Maybe problem with `publishComposite` function

Related issues #2384, #2369

[2017-03-31 07:16] marla-singer commented on #2372
@bajiat Definitely, it's different task

[2017-03-31 10:39] saralavanip opened #2395 "Add and save 'Metadata' not responding"
# Steps
1.Visit https://staging.apinf.io  v 0.42.0
2.Login
3.Add API with proxy (eg. API Umbrella New/second nightly)
4.Go to 'Details' view  of above added API
5.Go to  'Metadata'  view and click on 'Edit metadata'
6.Enter Contact details (eg. Name/phone)
7.Click on 'Save Metadata'

# Expected Result
Data saved successfully and displayed in 'Metadata' view

# Actual Result
Click on 'Save Metadata

[2017-03-31 11:37] saralavanip opened #2396 "Filter by 'Life Cycle phase': Notify user when no APIs found with selected status"
# Steps
1.Visit https://staging.apinf.io v 0.42.0
2.Login
3.Go to API catalog
4.Filter by 'Life Cycle' status (eg. deprecated)

# Findings
- When no 'APIs' found by selected status , the sorting result is shown as: 'Filtered by "Deprecated" "Clear All"
- Sort result could notify user eg. "No APIs found with the selected life cycle status"

# Screenshot
![sort_results_lifecycle_status](https://clou

[2017-03-31 12:17] brylie commented on #2317
@bajiat after a discussion with  @matleppa and @nnn, we realize that it might be necessary to exclude the **Content Management** section from this task.

![screenshot_20170331_151618](https://cloud.githubusercontent.com/assets/17307/24550056/00b81f0e-1625-11e7-9e33-63c1d4cdc2f5.png)

The reason is that the **Content Management** functionality is not fully 'baked'. Moving the content management sec

[2017-03-31 12:21] brylie commented on #2372
Good find @marla-singer!

[2017-03-31 12:37] bajiat commented on #2352
Closing. The cover photo and the text box (header area) on the Organization page will be separated.

[2017-03-31 12:37] #2352 closed

[2017-03-31 12:42] #2116 closed

[2017-03-31 12:44] bajiat commented on #2183
Was closed by PR #2273 17 days ago.

[2017-03-31 12:48] bajiat commented on #2002
texts defined, cosing the issue. To be added to the front page, when the UI is available.

[2017-03-31 12:48] #2002 closed

[2017-03-31 12:48] bajiat commented on #2117
ping @Nazarah Please see my previous comment.

[2017-03-31 12:50] bajiat commented on #2029
Customer journey task not relevant in this board. Closing the issue in Github.

[2017-03-31 12:50] #2029 closed

[2017-03-31 12:51] bajiat commented on #2135
@kyyberi @philippeluickx Shall I close this issue in Github?

[2017-03-31 12:51] #2115 closed

[2017-03-31 12:51] #1972 closed

[2017-03-31 13:19] bajiat opened #2398 "Allow admin to add eMQ as a proxy"
# User story

I want to add eMQ proxy to my deployment
so that real-time apis can be managed through the UI.

# Goal
API admin can add eMQ proxy to the deployment through Proxies view.
Admin is able to add the following configuration information for the eMQ broker:
- eMQ proxy URL
- eMQ Elasticsearch (analytics) endpoint
- eMQ API URL
- eMQ API credentials

[2017-03-31 13:41] bajiat commented on #2372
Haven't we struggled with the https/http already quite a few times?

[2017-03-31 13:49] philippeluickx commented on #2135
I think this should be managed in Odoo from now on.

[2017-03-31 13:50] philippeluickx commented on #2002
@bajiat how do we not forget to add the texts once this features is deployed? Do we have a ticket for that? Otherwise I would keep this open...

[2017-03-31 13:58] bajiat opened #2399 "Add privacy policy and terms of use to apinf.io"
Once release 0.42.0 is deployed to apinf.io, add privacy policy and terms of use to the deployment.

Refer to issue: #2002

[2017-03-31 16:12] kyyberi commented on #2372
Since the http without s is the problem, then we should not allow uploading of such API specs which use HTTP. User should be notified that we do not support HTTP, but only HTTPS. Solution is to parse spec upon upload or when URL is given and then check if HTTPS is used. (Better UX)

User should not notice that at this point the way we discovered it. (Really bad UX)

[2017-03-31 16:15] kyyberi commented on #2398
Excellent! Nice that we are approaching eMQ proxy usage via platform!

[2017-04-02 15:49] kyyberi opened #2400 "Request membership in organization - tribe support"
In community life people join organizations. As community member I would like to request membership in organization. Organization admins approve/reject memberships. This is tribe support. This became obvious need in API:Suomi, which now resides fully in apinf.io as organisation.

Anyone who is member of API:suomi org should be able to add APIs to API:Suomi organization. That can be achieved by giv

[2017-04-03 04:19] nnn commented on #1102
Anonymous is not able to see documentation, even if it exist.
Also getting weird console errors:

[code]
[code]

[2017-04-03 04:21] nnn commented on #2288
Instead of creating our own solution, I propose to use much more safe package:
https://github.com/okgrow/analytics

### Currently Supported Analytic Services

Amplitude
Chartbeat
comScore
Google Analytics
HubSpot
Intercom
Keen IO
KISSmetrics
Mixpanel
Quantcast
Segment.io

[2017-04-03 05:14] nnn commented on #2371
Interested.

[2017-04-03 05:14] nnn commented on #2374
Interested.

[2017-04-03 05:14] nnn commented on #2378
Interested.

[2017-04-03 05:50] Nazarah opened #2401 "wireframe for "Title bar and navbar""
#2371

[2017-04-03 05:53] Nazarah opened #2402 "wireframe for "Add transparent layer on top of cover photo""
#2373

[2017-04-03 05:54] Nazarah opened #2403 "wireframe for "Search box and button""
#2374

[2017-04-03 05:54] Nazarah opened #2404 "wireframe "APIs as first section below cover photo""
#2375

[2017-04-03 05:55] Nazarah opened #2405 "wireframe for "New style and place for platform statistics""
#2376

[2017-04-03 05:57] Nazarah opened #2406 "create a persona for API owner"
[Related Customer Journey](https://github.com/apinf/docs/blob/7aad31025cb6658e101faff68c6dc620b769968d/docs/UX/Nazia%20-%20API%20owner%20journey.xlsx)

[2017-04-03 05:57] Nazarah opened #2407 "Future UX work"

[2017-04-03 06:57] kyyberi commented on #2297
http://nordicapis.com/api-model-canvas-developer-experience-is-a-key-ingredient-of-quality-apis/

[2017-04-03 06:58] kyyberi commented on #2297
https://medium.com/apinf/provide-adaptive-and-measured-api-developer-experience-99d7514b6d3f

[2017-04-03 06:59] kyyberi commented on #2297
http://blog.hellosign.com/the-rise-of-developer-experience/
http://nordicapis.com/why-api-developer-experience-matters-more-than-ever/

[2017-04-03 07:11] bajiat commented on #2372
@marla-singer Could you work on this together with @Nazarah to find the most optimal solution?

[2017-04-03 07:14] marla-singer commented on #2372
@bajiat Sure

[2017-04-03 07:14] bajiat commented on #2349
@marla-singer Would you be interested in another Swagger task as well? This should perhaps be completed before #2372.

[2017-04-03 07:15] bajiat commented on #2372
Can you estimate this together?

[2017-04-03 07:25] bajiat commented on #2391
Possible options
* contrast widget to warn users on branding page, if the primary and secondary colors don't have sufficient contrast.
* Changing the color value if the contrast is not sufficient.

[2017-04-03 07:40] #2370 closed

[2017-04-03 07:43] bajiat commented on #2351
@marla-singer Can I co-assign you to this task with @brylie? You have a lot of experience with fixing the publications.

[2017-04-03 07:44] Olli-palkkaus opened #2408 "In the Swagger viewer, there is a huge Swagger logo image at the top of the page."
When I upload the Swagger document, the page that shows the Swagger viewer shows a huge Swagger logo before showing the actual Swagger viewer. The same behaviour is also on APInf own API page: https://apinf.io/apis/TYf33t5B6D6fwamKt , so I am assuming it is nothing wrong in my Swagger doc.

Steps to reproduce:

1. Go to https://apinf.io/apis/TYf33t5B6D6fwamKt

Observed behavior: Large Swagger Logo

[2017-04-03 08:02] bajiat commented on #2408
Thanks for your interest in APInf! The problem with the Swagger icon has been fixed. It is available in release [0.42.0](https://github.com/apinf/platform/releases/tag/0.42.0). The fix is not available in apinf.io yet.

For reference, the issue fixing the problem was #2213

[2017-04-03 08:02] #2408 closed

[2017-04-03 08:04] marla-singer commented on #2351
@bajiat Sure

[2017-04-03 08:23] marla-singer commented on #2349
@bajiat Perhaps it will not be able completed before 2373 task.
First at all,we are using `swagger-ui-browserify` package in our project which is **based on** `swagger-ui`.
How I see this task:
1. Install `swagger-ui` v 3.x and tested it
2. If it doesn't work, will update `swagger-ui` package version in `swagger-ui-browserify`
3. Tested `swagger-ui-browserify` package with new `swagger-ui` version

[2017-04-03 08:25] brylie commented on #2349
@marla-singer how does your idea affect the task estimate?

[2017-04-03 08:31] marla-singer commented on #2349
@brylie Well, directly-proportional. My estimate is 1-5 days
1 day: Everything is okay and `swagger-ui` package works as expected then I will remove `swagger-ui-browserify` package and update `swagger-ui`
5 days: Nothing is okay and I will implement a new realization for `swagger-ui-browserify`package for Swagger UI v 3.0

[2017-04-03 09:44] #2187 closed

[2017-04-03 10:40] marla-singer commented on #2372
@kyyberi Can you please help with format help text for developers?
I thought up "Application platform support only HTTPS protocol. Specification of documentation must have schema `https`"

[2017-04-03 10:44] kyyberi commented on #2187
Isn't this half way done now? Could someone add link to results?

[2017-04-03 13:08] brylie commented on #2187
The current Apinf Administrator Handbook release is in its own repository:
https://github.com/apinf/apinf-administrator-handbook

Additional changes to the handbook can be made in subsequent tasks.

@bajiat and @ccsr where should we host the Apinf Administrator Handbook HTML files (e.g. what should be the domain/path and hosting situation)?

[2017-04-03 13:16] bajiat commented on #2187
Either the Documentation link in apinf.com or apinf.org should lead to a **user** documentation page that (among other things) would contain admin handbook or there could be a link in apinf.io footer to documentation.

[2017-04-03 13:17] brylie commented on #2187
Cool, what URL would the Admin Handbook link point to? Where should we host the Admin Handbook HTML files?

[2017-04-03 13:29] marla-singer commented on #1785
@bajiat Will be fixed in PR #2386. The API name will be cut off

[2017-04-03 13:30] marla-singer commented on #1757
@bajiat Will be fixed by re-design in PR #2386

[2017-04-03 13:31] marla-singer commented on #1732
@bajiat Will be fixed by re-design in PR #2386

[2017-04-03 13:32] bajiat commented on #2187
Is it possible to have both apinf.com/documentation and apinf.org/documentation depending on which one the user has as the URL?

[2017-04-03 13:42] brylie commented on #2187
Yes. One domain can function as an alias for another, which would preserve sub-paths. Which should be our **primary** URL/path?

[2017-04-03 16:52] marla-singer commented on #2349
@brylie @bajiat
1. Couldn't use it as npm package. Meteor starts with errors.
2. The new Swagger version doesn't have any examples how it can be used.
3. Not sure that the new version is more stabled as previously. For example, this issue https://github.com/swagger-api/swagger-ui/issues/2816

[2017-04-03 17:33] ccsr commented on #2187
Primary path is apinf.com

[2017-04-04 06:51] Nazarah commented on #2373
@bajiat @matleppa @jawidahmadi should we consider of providing an opacity/tranperancy selector in the branding page for this feature?
The wireframes I designed was focused on the color #000000 with opavity 80%
In photoshop tutorial video, I've also seen people are usually using the color black or #000000 and then modifying the transparency or blurriness of the photo.
I am yet not 100% confident ab

[2017-04-04 06:54] matleppa commented on #2373
Is it OK to let user to decide both cover image overlay color and opacity?

[2017-04-04 07:06] bajiat commented on #2187
apinf.com

[2017-04-04 09:07] Nazarah commented on #2373
@matleppa Added the wireframes according to your suggestion.
The field names should be "Cover Image Overlay" and "Overlay Transparency".

[2017-04-04 09:28] Nazarah commented on #2404
wireframe added at issue # 2375

[2017-04-04 09:37] Nazarah commented on #2402
wireframe s added at issue #2373

[2017-04-04 10:05] Nazarah commented on #2375
@bajiat Since we will be having a new API style (considering we are accommodating different logo sizes), should we consider showing the new style in the front page?

[2017-04-04 10:49] marla-singer commented on #2375
@Nazarah The new style will be applied for every API card in whole site: front page, APIs catalog, Search result, Organization Apis

[2017-04-04 11:02] Nazarah commented on #2375
@bajiat @matleppa
Some concerns:
Soon we might be having the new API card which looks somewhat like this:
<br></br>
![api card](https://cloud.githubusercontent.com/assets/17976243/24653461/97454660-193e-11e7-90a5-5c0af5979b18.png)
With mobile view, accommodating 8 cards woudn't be a problem, but in normal screen this might create some rendering issue.
If u check the wireframes above, from my sketc

[2017-04-04 11:10] Nazarah commented on #2404
Added the wireframs in the main issue #2375
There are some concern that i added as comment there.
please have a look and give your feedback.

[2017-04-04 12:00] nnn commented on #2375
What rendering issue you are referring to?

[2017-04-04 12:13] #2388 closed

[2017-04-04 21:54] 55 opened #2410 "Re-design the Organization card so that logo shapes can be preserved"
Re-design the Organization card so that logo shapes can be preserved.
Maximum height and width needs to be defined, though.

Definition of done

- [ ] Create the new style for the Organization card and reviewed it

[2017-04-05 05:42] Nazarah commented on #2375
@nnn please see the wireframes for laptop screen.
it might be something to do with my work in PS, but with square cards, I somewhat ended up placing 3 cards in a row.
If I had put 4, then the card size became smaller and the content blurry
in real implementation, would we face any problem like that? Just need a confirmation.

[2017-04-05 05:46] Nazarah commented on #2117
closing this issue as  the persona was added in the doc and new persona creation issue was added.

[2017-04-05 05:47] #2117 closed

[2017-04-05 05:49] Nazarah commented on #2372
@marla-singer just want to understand this scenario: what would happen id an API mentions both http and https protocols in the swagger documentation but the API endpoint has only http protocol. (check the above swagger documentation and original API description [here](http://makeup-api.herokuapp.com/))

[2017-04-05 06:52] Nazarah commented on #2311
@bajiat @matleppa : here is the Pinning option in the new API card
* **API Card Unpinned**
![apicardunpinned](https://cloud.githubusercontent.com/assets/17976243/24693236/475197a6-19e5-11e7-84c9-664800ebc114.png)
<br></br>
<br></br>
* **API Card Pinned**
![apicardpinned](https://cloud.githubusercontent.com/assets/17976243/24693269/6c6e3cb0-19e5-11e7-83cc-6a6fc67b6a1b.png)

I don't yet have any ima

[2017-04-05 08:24] bajiat commented on #2402
Change text to "Cover photo overlay"

Check whether the other setting should be Opacity or Transparency.

[2017-04-05 09:56] jawidahmadi commented on #2376
@Nazarah inform me as you're ready with wireframe please.

[2017-04-05 10:24] brylie opened #2413 "Consider integrating API Dashboard charts into API Profile"
It was suggested at the FIWARE meeting that an API Owner might like to see some API Analytics directly on the API Profile page.

[2017-04-05 10:39] philippeluickx opened #2414 "Migrate to npm packages"
Seems like meteor is embracing npm. Would it be possible to migrate all/as many as possible packages from athmosphere to npm?

[2017-04-05 10:39] philippeluickx opened #2415 "Update packages"
Meteor has an update, swagger viewer has a (significant) update. Probably a lot of other libraries too. Update time?

[2017-04-05 10:39] bajiat commented on #2398
@frenchbread Can you add an estimate to this issue?

[2017-04-05 10:40] bajiat commented on #2039
@frenchbread Can you add an estimate to this issue?

[2017-04-05 10:45] marla-singer commented on #2372
@Nazarah Well, our platform will check it "Correct document" but requests will not work. And we can't do anything because it is liability of API owner

[2017-04-05 10:47] #2068 closed

[2017-04-05 10:53] #2373 closed

[2017-04-05 10:57] Nazarah commented on #2375
@nnn please forget about the concern.
The problem was from my side with the PS.
Sorry for the inconvenience.
I have fixed and added the wireframes.

[2017-04-05 10:59] nnn commented on #2375
`in real implementation, would we face any problem like that? `
No, we won't.

Another question, is how many APIs per row we wanna display in the mobile view?
My suggestion is one per row. In order to fit two per row we need to make them smaller and it kinda defeats the purpose. Anyway, just something to keep in mind.

[2017-04-05 11:04] Nazarah commented on #2376
I have added the wireframe
@jawidahmadi @bajiat : I was thinking that when I was designing the wireframes in the very 1st phase, I thought about APInf color and tried to incorporate something there (e.g. dark grey, orange).
So from that Design I kept the buttons and overview pane orange and other parts grey.
This was having a good contrast.
Now if we configure the button colors and overview panel

[2017-04-05 11:29] frenchbread commented on #2398
@bajiat Added estimation

[2017-04-05 11:29] frenchbread commented on #2039
@bajiat Added estimation

[2017-04-05 15:45] brylie commented on #2349
What kind of errors did you get with the NPM package?

[2017-04-05 16:15] Nazarah commented on #2405
wireframe added on related issue #2376
ther are some concerns, added them in the issue

[2017-04-05 18:29] marla-singer commented on #2349
@brylie
[code]
Related issue https://github.com/swagger-api/swagger-ui/issues/2849

But I am continuing to investigate troubles with NPM packages. The current result is:

2. Swagger-UI library needs a lot of dependencies like `react, react-redux, react-addons-perf, react-collapse, react-dom, react-height, react-hot-loader, react-immutable-proptypes and etc`.
I created empty Meteor project and made

[2017-04-05 23:23] mauriciovieira opened #2417 "Setup end to end tests using docker"
In order to run tests that hit api-umbrella, the simplest and straightforward solution is to run apinf inside the build using docker.

## Related links

* http://bencane.com/2016/01/11/using-travis-ci-to-test-docker-builds/
* https://blog.travis-ci.com/2015-08-19-using-docker-on-travis-ci/
* https://docs.travis-ci.com/user/docker/

[2017-04-06 06:32] Nazarah commented on #2375
@nnn The only concern about showing one card per row in mobile view is that there would be a lot of scrolling to go to the bottom of the section and view other information (overview, footer, etc).
I'd suggest try out both options (2 per row  and 1 per row) with the new card style and decide which suits better.

[2017-04-06 06:37] Nazarah commented on #2372
@marla-singer I understand your point. However, Fo such scenario, I'd like to alert user about this possible action. That when they click Try Out button with http as their endpoint protocol, APInf detects the request and rejects it as well as alerts the user about the used protocol. Also may be some suggestion to modify the end point. Would it work?

[2017-04-06 06:44] Nazarah commented on #2371
@nnn can we try out with something like this?
![navbar](https://cloud.githubusercontent.com/assets/17976243/24741053/eacf8ce0-1aac-11e7-9c93-8d7a0e97556e.gif)
This is convenient if a nav bar has more menus to display (either on the front page or signed in session).
We even won't need to use a hamburger menu to display all the option.

Another thing is to incorporate a small search option on the to

[2017-04-06 07:01] marla-singer commented on #2372
@Nazarah I thought about it tonight. I suggest allowing API owner to download any correct documentation file with http schema too. And notify API owner and users that **"Application platform supports only HTTPS protocol. Perhaps request calling via Swagger will work incorrectly."**

[2017-04-06 07:24] #2342 closed

[2017-04-06 07:24] #1732 closed

[2017-04-06 07:24] #1757 closed

[2017-04-06 07:24] #1785 closed

[2017-04-06 07:24] #2315 closed

[2017-04-06 07:40] Nazarah commented on #2372
@marla-singer excellent!
A minor change in the 2nd line of the alert text:
"**Requesting via Swagger might not work correctly.**"

[2017-04-06 07:45] nnn commented on #2306
Resolved by #2386

[2017-04-06 07:45] #2306 closed

[2017-04-06 08:29] bajiat commented on #2376
Having a controller for Search button, See more and statistics area would make sense. Probably should be a separate issue.

[2017-04-06 10:57] Nazarah opened #2418 "Implement branding color design and usage in platform"
# Usability Issue
If we allow primary color settings from branding page to determine colors of buttons, button texts, statistics pane and its text (and possibly chatbot), then we would lose the wow effect and vibrancy that we are trying to achieve.
Example below of the screen shot where the site looks vibrant and appealing with 2 set of color:
![frontpage1-3](https://cloud.githubusercontent.com/as

[2017-04-06 11:03] Nazarah commented on #2376
Separate issue related to this problem is reported at: https://github.com/apinf/platform/issues/2418

[2017-04-06 12:26] mauriciovieira commented on #1714
Related to #1506

[2017-04-06 12:39] jawidahmadi commented on #2376
@bajiat Could you add comment related to Nazia's equerries please?

[2017-04-06 13:12] bajiat commented on #2376
@jawidahmadi I have commented above. Based on the comment @Nazarah created the separate issue for controller: #2148. The issue is in Planning column.

[2017-04-06 13:19] #2155 closed

[2017-04-07 07:10] saralavanip opened #2424 "Catalog: APIs misaligned"
# Steps
1.Visit https://nightly.apinf.io   (v 0.42.0)
2.Go to APIs

# Findings
APIs misaligned in grid view and also in front page as well

# Browsers
- Chrome v 57.0
- Mozilla Firefox  v 52.0.2

# Operating system
Windows 10

# Screenshot
![apis_misaligned_grid_view](https://cloud.githubusercontent.com/assets/13309358/24789125/1e2c0514-1b7a-11e7-86a8-826e453a53b1.PNG)

[2017-04-07 07:27] saralavanip opened #2425 "Suomi view: Organization cards misaligned in Firefox browser"
# Steps
1.Open Firefox browser and Visit https://nightly.apinf.io   (v 0.42.0)
2.Go to Organizations
3.Change language to  'Suomi'

# Findings
Organization cards misaligned in grid view

# Browser
Mozilla Firefox  v 52.0.2

# Operating system
Windows 10

# Screenshot
![organizations_misaligned_suomi_view](https://cloud.githubusercontent.com/assets/13309358/24789580/6271c806-1b7c-11e7-9208-c05e316c

[2017-04-07 08:29] saralavanip opened #2426 "Organization page misaligned"
# Steps
1.Visit https://nightly.apinf.io v 0.42.0
2.Go to Organizations
3.Select any organization

# Findings
Organization page misaligned

# Screenshot
![organization page misaligned](https://cloud.githubusercontent.com/assets/13309358/24792093/4a11101a-1b85-11e7-8d31-cffa188bdaef.PNG)

[2017-04-07 08:43] marla-singer commented on #2200
@kyyberi @brylie Verified this issue in Swagger v3.0.It's resolved in new version
![joxi_screenshot_1491554513307](https://cloud.githubusercontent.com/assets/20643403/24792580/536432ee-1b87-11e7-92a6-8b7b76c180fd.png)

[2017-04-07 08:52] marla-singer commented on #2425
Duplicate of #2205

[2017-04-07 09:21] nnn commented on #2426
@saralavanip what exactly do you mean?

[2017-04-07 09:22] #2425 closed

[2017-04-07 10:16] saralavanip commented on #2426
@nnn , I compared this organization view with previous version and assumed as a blank space below navbar. Later I got to know this is for added feature 'cover image' in organization view.

[2017-04-07 10:39] #2424 closed

[2017-04-07 10:44] marla-singer opened #2428 "APIs count on the frontend page has to depend on user permission"
### Goal
The count of APIs should correspond with the number that are visible/accessible to the user, based on permissions.

### Screenshots
![screen shot 2017-04-05 at 17 21 13](https://cloud.githubusercontent.com/assets/95258/24725226/65bd3a1c-1a24-11e7-93cc-2f06d5b3d156.png)

![screen shot 2017-04-05 at 17 23 09](https://cloud.githubusercontent.com/assets/95258/24725393/2919699a-1a25-11e7-92ac-

[2017-04-07 10:58] manzapanza commented on #2215
@saralavanip The community link doesn't works because the ssl certificate, configured on the server that hosts the website, is not valid.

For example Firefox shows this error:

![selection_128](https://cloud.githubusercontent.com/assets/1139716/24797423/99f86560-1b67-11e7-8670-1aa577c5479e.png)

So, this bug is not related to the apinf platform.

[2017-04-07 11:10] nnn commented on #2426
Should be close this issue?

[2017-04-07 11:14] saralavanip commented on #2426
@nnn , yes we can close this issue.

[2017-04-07 11:15] #2426 closed

[2017-04-09 07:47] kyyberi opened #2432 "Back button behaviour in mobile UX results to empty page"
## Description

Back button in mobile UX not behaving as expected. Hitting back button results to empty page.

## steps to reproduce

- Go to nightly.apinf.io
- Open API profile page from the latest APIs
- Hit back button in browser. Browser goes to frontpage, but that is empty.

https://www.dropbox.com/s/1qxbodf8xen8wp7/SVID_20170408_204300.mp4?dl=0

[2017-04-10 15:18] #2375 closed

[2017-04-10 20:21] mauriciovieira opened #2434 "Fix repository definitions and remove useless files"
1. package.json still mentions api-umbrella-dashboard.
2. package.json still has MIT as license
3. lint.txt and eslint-errors.txt are useless and should have never be added to the repository.

[2017-04-11 06:34] #2402 closed

[2017-04-11 06:34] #2404 closed

[2017-04-11 06:51] #2401 closed

[2017-04-11 06:51] Nazarah commented on #2401
added wireframe in issue #2371

[2017-04-11 06:59] Nazarah commented on #2374
@nnn added the wireframes in the issue.
Please have a look and let me know the if there is some alteration u want to implement.
also consider this issue while implementing: #2418
This is regarding to a separate controller to change button colors and overview panel in front page

[2017-04-11 07:01] #2403 closed

[2017-04-11 07:02] Nazarah commented on #2403
added wireframes to issue #2374

[2017-04-11 07:02] #2405 closed

[2017-04-11 07:03] Nazarah commented on #2405
added an issue to change platform statistics panel coor as well as front page button color in #2418

[2017-04-11 07:14] saralavanip opened #2436 "APIs/Organizations Catalog filter : mouse point on tabs shows multiple help texts"
# Steps
1.Visit https://nightly.apinf.io  v 0.42.0
2.Go to APIs / Organizations
3.Change language to Suomi
4.Mouse pointer on filter tabs : Ascending/descending , grid/table

# Findings
- Shows help text in both Finnish and English languages
- Change language back to English: shows help text multiple times in English language

# Screenshots
![apis_catalog_filter_tabs_multiple_texts_suomiview](http

[2017-04-11 07:41] #2434 closed

[2017-04-11 08:19] #2317 closed

[2017-04-11 08:36] Nazarah opened #2437 "Rename field and label name for cover photo transparency controller as "Cover Photo Overlay""
Related to issue: #2373
![image](https://cloud.githubusercontent.com/assets/17976243/24899998/06856822-1eab-11e7-8f67-e2d5893aeb28.png)

[2017-04-11 09:14] bajiat commented on #2220
Copying comments from #2361.

Comment from @snittoor
Issue:
  The code in the function userAddApi () in apis/client/lib/router.js , the Settings.find() is returning undefined. Can someone help why is it happenning?

Test Case failing:

1) If user is NonAdmin and  singleSetting.access.onlyAdminsCanAddApis = true .. then not authorised. This is failling because settings.findOne is returning undefine

[2017-04-11 09:18] brylie commented on #2349
This sounds good. What would the changes to our project look like?

[2017-04-11 09:34] #2277 closed

[2017-04-11 09:44] #2437 closed

[2017-04-11 12:31] bajiat opened #2440 "APInf APIs, Organizations, Users API design changes"
Current version of the APInf Catalog API design specification is in Swaggerhub. There was a comment round for community about the specificatin, but the changes have not been incorporated into the design document.
Also, there is an apinf-harvester that is supposed to POST harvested apis to the Catalog. Its datamodel should be compared with the Catalog API design.

# Goal
- Make changes to the Open

[2017-04-11 12:32] bajiat opened #2441 "APInf Catalog (APIs) API implementation"
# Goal
API consumer can call the **API** endpoints and use the methods defined in the Catalog API design document.

# Related resources
We have produced a Swagger file with Organization API endpoints, which can be accessed on our [APInf deployment](https://apinf.io/apis/TYf33t5B6D6fwamKt).

This is also related to issue #2440

[2017-04-11 12:52] bajiat opened #2442 "Develop Organizations API"
We need API endpoints to access and manage APInf Organizations. Those enpoints should align with our permissions and data structures where possible.

# Goal
- Review the APInf data model for alignment.
- Define endpoints and methods.

# Related resources
We have produced a Swagger file with Oranization API endpoints, which can be accessed on our [APInf deployment](https://apinf.io/apis/TYf33t5B6D6

[2017-04-11 12:58] bajiat opened #2443 "Plan for automated APInf API testing"
# Goal
- Document about running automated testing for the APInf REST API.

Related to #2446

[2017-04-11 12:59] bajiat opened #2444 "Create architecture vision"
Placeholder for sprint task, definition to be added.

[2017-04-11 13:00] bajiat opened #2446 "Create first version of integration and automated testing plan"
Taking into account our plans for continuous integration, devise a first version of automated testing plans.

# Goals
Document the following
- level of automated testing (we are not even aiming for 100% coverage)
- types of automated testing
- how to select the test cases
- testing framework recommendation
- role of manual testing
- first practical steps

# Related
Consider also cross-platform aut

[2017-04-11 14:28] marla-singer commented on #2349
@brylie The assumed changes are:

1. Remove `swagger-ui-browserify` npm package
1. Remove `swagger-ui` npm package
1. Add scripts `swagger-ui-bundle.js` and `swagger-ui-standalone-preset.js` in folder  `/public`
1. Fix style for new Swagger view
1. Create issue about adding realization feature in new Swagger: Try-out methods, updating proxy base path and proxy host, insert API key into Swagger

[2017-04-11 20:46] nnn opened #2448 "Documentation is not visible for anonymous and regular user"
All three types of documentation are not visible for anonymous user
Maybe something wrong with subscription/publication
See [this](https://github.com/apinf/platform/issues/1102#issuecomment-291045516) comment for reference.

## Steps to reproduce

1. Add API or go to existing as a manager/admin
2. Upload documentation or add by external URL or specify external URL
3. Log out and go to created/upda

[2017-04-11 20:48] nnn commented on #1102
Blocked by #2448

[2017-04-11 20:51] nnn commented on #2288
@brylie @philippeluickx let's discuss potential security risk here. Maybe it's not wise to allow users to paste JS code directly in to the project.

[2017-04-12 07:36] marla-singer commented on #2448
@nnn The issue is related to #2393

[2017-04-12 11:09] bajiat commented on #2311
If we would like to define the maximum number of Featured APIs, we could also consider "plan B"
# API card
- API pin is visible
  - only on organization page
  - if current user can manage organization

# When the pin is pressed
- an array of FeaturedAPIs on organization document is updated. There is a maximum number of 4 API ids in array.
- if the maximum was already reached, the array is not upd

[2017-04-12 11:11] bajiat commented on #2311
The dropdown list could perhaps look like this:

<img width="171" alt="bootstrap-multiselect" src="https://cloud.githubusercontent.com/assets/11626388/24954911/ed86360a-1f89-11e7-9375-a763c116440b.png">

[2017-04-12 11:33] bajiat commented on #2393
I was unable to reproduce in nightly. Tried with these steps

1. Go to nightly.apinf.io as anonymous user (browser: IE)
2. Click Catalog
3. Click [EbooksAPI](https://nightly.apinf.io/apis/ebooks-api)

I don't see an entire blank page. Instead I see this:

<img width="769" alt="api profile anonymous user ebooks-api" src="https://cloud.githubusercontent.com/assets/11626388/24955651/f7286e14-1f8c-11e

[2017-04-12 11:35] bajiat commented on #2448
@brylie Can you diagnose this problem?

[2017-04-12 11:38] bajiat commented on #2418
@brylie Can you comment about the button styles?

[2017-04-12 11:40] bajiat commented on #2220
The branch used to solve the problem earlier (related to PR #2361) has not been deleted.

[2017-04-12 12:44] brylie commented on #2311
After discussion, I propose we consider the following data model:
![screenshot_20170412_154328](https://cloud.githubusercontent.com/assets/17307/24958087/c88ada7e-1f96-11e7-81cc-b6bb197ae3e6.png)

This might make it easy to remove 'featured' APIs in the following scenarios:
- un-featuring an API
- deleting an API
- deleting an Organization

[2017-04-12 12:48] saralavanip opened #2450 "API Umbrella 0.14.0 : Dashboard analytics not shown after successful API call"
Purpose: Testing 'API Umbrella 0.14.0'  on nightly.apinf.io

# Steps
1.Visit https://nightly.apinf.io   (v 0.42.0)
2.Login as admin
3.Add new API
4.Connect API to proxy: 'API Umbrella 0.14.0'
5.Get API key
6.Call API
7.Check analytics

# Findings
Analytics not shown after successful API call, shows user info text "Fetching latest data..."

# Screenshot
![call_api_new_proxy](https://cloud.githubuse

[2017-04-12 12:55] brylie commented on #2418
What buttons will use this color? What is the extent of this idea?

We have buttons throughout our application. For consistency, we might consider allowing the other buttons to be branded, which would mean this idea extends beyond the front page.

Also, there are several button styles, defined by Bootstrap, which could all hypothetically be overridden:

![screenshot_20170412_155135](https://cloud.

[2017-04-12 13:00] brylie commented on #2418
For context, the primary and secondary branding colors are used on pages beyond the front page. While this task specifically mentions only the front page, it is easy for these ideas to take root and grow beyond their original scope.

I am just concerned about 'scope creep' and growing complexity in our project.

[2017-04-12 13:03] #2376 closed

[2017-04-12 13:17] saralavanip commented on #2389
Reported issues: #2424, # 2425, #2436,#2450

[2017-04-12 14:03] kyyberi opened #2451 "Collection support for events"
## Story

As Hackathon organizer I want to collect selected APIs to one view (collection) and be able to give hackathon participants clear simple URL (such as apinf.io/collections/eduhack). APIs in collection are selected from /apis list by organizers of the event.

[2017-04-12 14:07] kyyberi commented on #2451
* Who can create collections? Anyone?
* We list collections as organizations?

[2017-04-12 14:08] kyyberi commented on #2451
Another way to create collections is tagging. Each API is given tags and we list all APIs with given tag.

[2017-04-12 14:57] #2395 closed

[2017-04-12 19:22] marla-singer commented on #2351
@bajiat @brylie Today I was working on the preference of API Catalog. Shared the results:
1. Detected the wrong behavior of `Meteor.Pagination` feature.
2. I thought all problems came from this package then I updated package to 1.0.17 version and tested again. The subscription behavior was changed but another problem came - subscribed data was storaged in miniMongo after destroying template. It tu

[2017-04-13 06:28] #2350 closed

[2017-04-13 08:10] bajiat opened #2452 "Concept and low fidelity wireframes for DX score"
# Description
We want to encourage API owners in taking into account developer experience for their APIs. One of the ways to enourage this would be an incentive system, which gamifies the progress of adding e.g. information, documentation and media to the API profile.

# Goal
- Define and document which parts of the API profile enhance the developer experience.
- Consider how to gamify this and ho

[2017-04-13 08:46] brylie commented on #2351
Basically, we should only subscribe to one API Logo per visible card.

[2017-04-13 08:47] #2374 closed

[2017-04-13 10:30] brylie commented on #2418
What will the branding color settings page look like with these new settings? What will we call the settings? E.g. we currently have **primary** and **secondary** branding colors, so we need to conceptualize these additional branding colors.

[2017-04-13 10:43] brylie commented on #2418
@nnn would you please also add your thoughts and ideas on how we handle branding color settings?

[2017-04-13 12:12] matleppa commented on #2391
@baijat @Nazarah  Do you have a strong view about how to warn user in case there is not enough contrast? Should it be sAlert or some other way?

[2017-04-13 12:16] bajiat commented on #2452
## Some references:
- https://www.voices.com/help/talent/what-is-profile-completeness
- http://www.linkedin-makeover.com/2012/02/20/linkedins-new-requirements-for-a-100-complete-profile/
-https://blog.couchsurfing.com/product-update-profile-completeness-percentage/

## Related article
- http://www.dtelepathy.com/blog/design/ux-how-drive-deep-user-engagement

[2017-04-13 12:24] bajiat commented on #2452
@kyyberi Anything to add to this concepting task?

[2017-04-13 12:34] #2369 closed

[2017-04-13 12:34] #2384 closed

[2017-04-13 12:34] #2393 closed

[2017-04-13 12:34] #2448 closed

[2017-04-13 12:51] #1102 closed

[2017-04-13 12:58] #2372 closed

[2017-04-13 13:02] #2371 closed

[2017-04-13 14:00] #2308 closed

[2017-04-13 14:00] #2309 closed

[2017-04-14 04:45] kyyberi opened #2456 "Dashboard stops working properly after 50 000 hits"
## Description

I generated traffic to avoindata.net API with some scripts (10 pcs running in parallel generating >some thousand hits per hour).  In the morning I noticed that charts are not shown, I have no idea of the real call amount (since all I see is 50 000 hits, which is not true).
![50000](https://cloud.githubusercontent.com/assets/1927158/25033438/39ceb5d4-20e6-11e7-9c96-ece92578f162.png)

[2017-04-14 05:21] kyyberi commented on #2456
In addition in the charts I only see Fri 14 even though I demanded to see 11.4.2017-14.4.2017. Expected: show the requested timeframe in the chart.

[2017-04-14 05:28] kyyberi commented on #2456
I took offline a few scripts and thus dropped the traffic amount. After that I was able to see chart with hour granularity.
![kuvakaappaus 2017-04-14 08-26-18](https://cloud.githubusercontent.com/assets/1927158/25034033/2d552058-20ec-11e7-98b0-a52be9a89295.png)

This 50k limit seems a bit ridiculous. For example one of our prospect customers has 14 000 000 / month. We must be able to show charts f

[2017-04-17 07:03] kyyberi opened #2459 "Dashboard onload - dont load first statistics"
## Description

When user goes to dashboard, it automatically starts loading statistics for first API in the list. I do not want to wait until that is done to select API I actually want to see.

## Fix
Don't autoload any stats for any API. Let user select API to discover.

[2017-04-17 10:06] #2220 closed

[2017-04-17 13:04] marla-singer commented on #2378
@bajiat Need wireframe for this task.
Questions are:
- Leave or remove the quick links Sign In/Sign Up/ Sign Out?
- How to implement the language bar?
- How to separate a footer slogan and links Privcy, Terms, About?

[2017-04-17 14:27] 55 commented on #2378
@marla-singer language bar should not a part of this take anymore, since we decided to leave it on the top of the page for mobile and desktop view.